Repository tgstation/tgstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyberboss, @ExcessiveUseOfCobblestone, @Fikou, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @necromanceranne, @ninjanomnom, @Ryll-Ryll, @san7890, @SmArtKar, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ZephyrTFA, @grungussuss, @Jordie0608, @Kapu1178, @loganuk, @NamelessFairy, @Pickle-Coding, @FalloutFalcon, @scriptis, @EOBGames, @Maurukas, @MMMiracles, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Wallemations, @Ghilker, @dragomagol, @Jacquerel, @Xander3359, @EnterTheJake, @optimumtact

adds a pair of parenthesis because it makes the code look better (I think?)
  code/game/objects/items/cards_ids.dm
Owners: none

Dullahan fixes (#93365)
  code/__HELPERS/spatial_info.dm
  code/controllers/subsystem/tts.dm
  code/datums/quirks/negative_quirks/blindness.dm
  code/datums/quirks/negative_quirks/brain_problems.dm
  code/datums/quirks/negative_quirks/fluoride_stare.dm
  code/datums/quirks/negative_quirks/nearsighted.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/mob.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Owners: @Watermelon914, @ExcessiveUseOfCobblestone, @Ryll-Ryll

more issues during testsing
  code/datums/achievements/_achievement_data.dm
  code/datums/achievements/_awards.dm
  code/datums/achievements/progress_scores.dm
  code/modules/modular_computers/file_system/programs/maintenance/themes.dm
Owners: @JohnFulpWillard

CI strikes again
  code/datums/components/crafting/structures.dm
  code/game/objects/structures/safe.dm
  code/modules/unit_tests/crafting.dm
Owners: @Mothblocks

Fixes examines sometimes running on qdeleted atoms (#93656)
  code/modules/mob/mob.dm
Owners: none

Stops trying to update slot icons for qdeleted mobs (#93657)
  code/game/objects/items.dm
Owners: none

[NO GBP] Fixes 2 more wall mounts (#93641)
  code/game/objects/effects/posters/poster.dm
  code/modules/transport/_transport_machinery.dm
  code/modules/transport/tram/tram_controller.dm
Owners: none

Birdshot plaque was killed and moved to old stations list, new Catwalk plaque (#93576)
  code/game/objects/structures/plaques/static_plaques.dm
Owners: none

Syndicate bioweapons base touch up (#93572)
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

Improves debugging for events config + fixes inconsistencies in events.json (#93595)
  code/controllers/subsystem/events.dm
  config/events.json
Owners: @scriptis

Fixes supermatter anomalies being able to drop anomaly cores. (#93611)
  code/game/objects/effects/anomalies/_anomalies.dm
Owners: none

Adds a missing fire alarm sanity ignore landmark to icebox (#93644)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

tried to make requested changes. Was not successful as nothing works
  code/__DEFINES/dcs/signals/signals_lasertag.dm
  code/modules/clothing/suits/_lasertag_components.dm
  code/modules/clothing/suits/lasertag.dm
  code/modules/projectiles/pins.dm
  code/modules/projectiles/projectile/beams.dm
  tgstation.dme
Owners: none

fixes EVERYTHING wrong with golf carts
  code/modules/vehicles/cars/golfcart/golfcart.dm
  code/modules/vehicles/cars/golfcart/golfcart_rear.dm
Owners: none

Inhand renames
  icons/mob/inhands/weapons/swords_righthand.dmi
Owners: @Imaginos16, @Krysonism, @Twaticus, @Wallemations

Whoops :I
  code/modules/reagents/reagent_containers/cups/soda.dm
Owners: @ExcessiveUseOfCobblestone

day 2
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: @EOBGames, @Maurukas, @MMMiracles, @san7890, @ShizCalev

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Dominion/Cyberboss

/.github/workflows/update_tgs_dmapi.yml @Cyberboss
/.tgs.yml @Cyberboss
/code/world.dm @Cyberboss
/code/__DEFINES/tgs.config.dm @Cyberboss
/code/__DEFINES/tgs.dm @Cyberboss
/code/__DEFINES/_globals.dm @Cyberboss
/code/__HELPERS/chat.dm @Cyberboss
/code/__HELPERS/jatum.dm @Cyberboss
/code/game/world.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/modules/tgs/ @Cyberboss
/code/ze_genesis_call/ @Cyberboss
/tools/tgs_test/ @Cyberboss
/tools/Tgstation.DiscordDiscussions/ @Cyberboss
/tools/Tgstation.PRAnnouncer/ @Cyberboss

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Fikou

/code/modules/awaymissions/ @Fikou
/code/modules/mining/ @Fikou
/code/modules/mod/ @Fikou
/code/modules/mapfluff/ruins/lavalandruin_code/ @Fikou
/code/modules/mapfluff/ruins/lavaland_ruin_code.dm @Fikou

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark
/code/__DEFINES/MC.dm @LemonInTheDark
/code/controllers/admin.dm @LemonInTheDark
/code/controllers/failsafe.dm @LemonInTheDark
/code/controllers/master.dm @LemonInTheDark
/code/controllers/subsystem.dm @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark
/code/controllers/subsystem/timer.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/ezdb/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# necromanceranne

/code/modules/uplink/ @necromanceranne

# ninjanomnom

/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/datums/signals.dm @ninjanomnom
/code/datums/components/_component.dm @ninjanomnom
/code/datums/elements/_element.dm @ninjanomnom
/code/datums/greyscale/_greyscale_config.dm @ninjanomnom
/code/datums/greyscale/json_reader.dm @ninjanomnom
/code/datums/greyscale/layer.dm @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# SmArtKar

/code/modules/projectiles/projectile.dm @SmArtKar

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
/tgui/packages/tgui-panel/styles/tgchat/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai/ @tralezab
/code/modules/religion/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914
/code/controllers/subsystem/tts.dm @Watermelon914

# ZephyrTFA

/code/__HELPERS/admin_verb.dm @ZephyrTFA
/code/controllers/subsystem/admin_verbs.dm @ZephyrTFA
/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA
/code/modules/admin/verbs/ @ZephyrTFA
/code/modules/logging/ @ZephyrTFA
/tools/ci/check_grep.sh @ZephyrTFA


# CONTRIBUTORS

# grungussuss

/sound/ @grungussuss

# Jordie0608

/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# loganuk

/_maps/map_files/CatwalkStation/ @loganuk

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/minigame/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# FalloutFalcon
/code/__HELPERS/abstract_types.dm @FalloutFalcon
/code/__HELPERS/random_items.dm @FalloutFalcon

# MULTIPLE OWNERS

/SQL/ @Jordie0608 @scriptis

/_maps/ @EOBGames @Maurukas @MMMiracles @san7890 @ShizCalev

/icons/ @Imaginos16 @Krysonism @Twaticus @Wallemations

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark

/code/__HELPERS/logging/ @dragomagol @ZephyrTFA

/code/modules/atmospherics/ @Ghilker @LemonInTheDark

/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA

/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll

/code/modules/mob/living/basic/ @Jacquerel @san7890 @tralezab

/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll

/tools/build/ @scriptis @stylemistake
/tools/tgs_scripts/ @Cyberboss @scriptis

/code/modules/antagonists/heretic @Xander3359 @EnterTheJake

# Host Hell

/code/controllers/configuration/entries @scriptis
/config/ @scriptis

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Mothblocks @LemonInTheDark

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @LemonInTheDark @optimumtact
