Repository tgstation/tgstation, pull requests merged in 2018-11, with the labels that each got.

#41192 Streamlines beacon types
  code/datums/traits/good.dm
  code/game/objects/items/devices/instruments.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/miscellaneous.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/jobs/job_types/civilian.dm
  code/modules/vending/wardrobes.dm
Labels: Fix

#41257 Prevents an incorrect ghost examine
  code/modules/modular_computers/computers/item/processor.dm
Labels: Fix

#41221 Changes revenant spell unlocks to only use stolen essence
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
Labels: Balance/Rebalance, Tweak

#41263 Fixes buckled mobs going prone when killed/stunned/ect
  code/modules/mob/living/living.dm
Labels: Fix

#41029 [SUPER DUPER EXTRA READY] Hilbert's Hotel
  _maps/RandomRuins/SpaceRuins/hilbertshoteltestingsite.dmm
  _maps/templates/hilbertshotel.dmm
  _maps/templates/hilbertshotelempty.dmm
  _maps/templates/hilbertshotellore.dmm
  _maps/templates/hilbertshotelstorage.dmm
  code/controllers/subsystem/mapping.dm
  code/datums/ruins/space.dm
  code/game/objects/items/blueprints.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/shuttle/supply.dm
  code/modules/spells/spell_types/summonitem.dm
  config/spaceruinblacklist.txt
  icons/mob/actions.dmi
  icons/obj/device.dmi
  icons/obj/items_and_weapons.dmi
  icons/turf/areas.dmi
  icons/turf/space.dmi
  icons/turf/walls.dmi
  sound/ambience/servicebell.ogg
  tgstation.dme
Labels: Config Update, Feature, Map Edit, Needs Review, Refactor, Sound, Sprites

#41271 Fixes blood crawl hands
  code/modules/mob/living/bloodcrawl.dm
Labels: Fix

#41264 Improves radials
  code/_onclick/hud/radial.dm
  code/game/objects/items/RCD.dm
  code/modules/mob/living/silicon/ai/ai.dm
  icons/mob/radial.dmi
  icons/obj/interface.dmi
Labels: Fix, Sprites, Tweak

#41255 Fixes crowbarring airlocks ignoring security level
  code/game/machinery/doors/airlock.dm
Labels: Fix

#41254 Prevents megafauna signal gps getting exploded.
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: Fix, Work In Progress

#41253 Adds logging to reagent transfers
  code/game/machinery/newscaster.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/game/turfs/turf.dm
  code/modules/detectivework/footprints_and_rag.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/special/syringe.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/medspray.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/xenobiology/crossbreeding/__corecross.dm
  code/modules/surgery/dental_implant.dm
Labels: Fix, Logging

#41224 Rocket launcher fixes, adds suicide_act
  code/modules/projectiles/boxes_magazines/internal/grenade.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/spells/spell_types/rightandwrong.dm
  code/modules/uplink/uplink_items.dm
Labels: Fix, Tweak

#41173 Change post compile script shell executor to bash
  tools/tgs4_scripts/PostCompile.sh
Labels: Tools

#41231 Cleans up eye/mouth protection checks
  code/game/objects/items.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/living_defense.dm
  code/modules/paperwork/paperplane.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Code Improvement

#41273 Removes BDE from the account ID message
  code/controllers/subsystem/job.dm
Labels: Removal, Tweak

#41286 Fixes hydroponics trays being broken
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#40531 [Tested] supplypod sound update
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/supplypod.dm
  sound/weapons/mortar_long_whistle.ogg
  sound/weapons/mortar_whistle.ogg
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/centcom_podlauncher.ract
Labels: Config Update, Sound, Sprites, UI

#41083 Camera updates
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/camera/presets.dm
  icons/obj/machines/camera.dmi
Labels: Fix, Sprites, Tweak

#40920 [Ready] Machinery shows part upgrade stats
  code/game/machinery/autolathe.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/teleporter.dm
  code/game/machinery/dna_scanner.dm
  code/game/machinery/harvester.dm
  code/game/machinery/hologram.dm
  code/game/machinery/launch_pad.dm
  code/game/machinery/limbgrower.dm
  code/game/machinery/recharger.dm
  code/game/machinery/rechargestation.dm
  code/game/machinery/recycler.dm
  code/game/machinery/spaceheater.dm
  code/game/machinery/teleporter.dm
  code/game/mecha/mech_bay.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/devices/laserpointer.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/mining/machine_redemption.dm
  code/modules/power/port_gen.dm
  code/modules/power/rtg.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/turbine.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/research/experimentor.dm
  code/modules/research/nanites/nanite_chamber.dm
Labels: Needs Review, Tweak

#41230 Covering your mouth when you cough/sneeze now stops the spread of germs.
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/advance/symptoms/cough.dm
  code/datums/diseases/advance/symptoms/sneeze.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/antagonists/disease/disease_abilities.dm
Labels: Fix

#41266 mob/topic() fixes
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
Labels: Fix, Test Merge Candidate

#41270 Adds cooldown to doppler array announcements.
  code/game/machinery/doppler_array.dm
Labels: Fix

#41261 Makes floating a movetype instead of a movable var
  code/__DEFINES/flags.dm
  code/datums/components/chasm.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_movespeed.dm
  code/modules/surgery/bodyparts/helpers.dm
Labels: Code Improvement

#41240 Borg ion thrusters no longer drain charge in gravity.
  code/modules/mob/living/silicon/robot/robot_movement.dm
Labels: Fix

#41207 Adds new moodlets, psychotropic drugs
  code/__DEFINES/traits.dm
  code/datums/brain_damage/phobia.dm
  code/datums/mood_events/drink_events.dm
  code/datums/mood_events/drug_events.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/vending/medical.dm
  icons/obj/chemical.dmi
Labels: Feature, Fix, Sprites

#41060 *crack* *sip* Ahhhh. Yep, Removes ballgags was a good PR. They don't make PRs like 'em anymore.
  code/modules/food_and_drinks/drinks/drinks.dm
Labels: Fix, Removal

#41287 Corrects cybernetic implants technode requirements
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#41302 Revert "Exosuit console fixes"
  _maps/RandomRuins/LavaRuins/lavaland_surface_random_ripley.dmm
  _maps/RandomRuins/SpaceRuins/mechtransport.dmm
  _maps/RandomZLevels/VR/snowdin_VR.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_control_console.dm
  code/game/mecha/working/working.dm
Labels: Map Edit, Priority: CRITICAL, Revert

#41307 Updates Robotics Control Console interface
  code/game/machinery/computer/robot.dm
Labels: Fix, UI

#41318 Fixes admin damage editting not logging the target's real name / key.
  code/datums/datumvars.dm
  code/game/machinery/computer/robot.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/clothing/under/accessories.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/misc/blastcannon.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/spells/spell_types/rightandwrong.dm
  code/modules/surgery/bodyparts/head.dm
Labels: Fix, Logging

#41320 fixes clown mask EXTREMELY IMPORTANT
  icons/mob/mask.dmi
Labels: Good First PR, Sprites, Tweak

#41319 Fixes mobs with no legs getting stuck in the laying state
  code/modules/mob/living/living.dm
Labels: Fix

#41315 Fixes supply pod runtime.
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/supplypod.dm
Labels: Fix

#41316 Adds duplicate search range to objectives
  code/game/gamemodes/objective.dm
  code/game/gamemodes/overthrow/objective.dm
  code/modules/antagonists/brother/brother.dm
Labels: Fix

#41325 Fixes prying open doors not checking if you still have a jaws of life in your hand, or if a Xeno picked up another obj while trying to force it open
  code/game/machinery/doors/airlock.dm
Labels: Fix

#41291 Adds vacant commissary to BoxStation, moves det office to sec
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit, Tweak

#41169 Changes disabler beams from 36 stamina damage to 40
  code/modules/projectiles/projectile/beams.dm
Labels: Balance/Rebalance

#41323 Removes duplicate paper examine message
  code/modules/paperwork/paper.dm
Labels: Fix, Removal

#41223 [ready] Prevents trying to use explosive lances as an ingredient in crafting explosive lances
  code/game/objects/items/twohanded.dm
  code/modules/crafting/craft.dm
  code/modules/crafting/recipes.dm
Labels: Fix, Needs Review

#41237 Adds safer helper for alt-click turf listing
  code/_onclick/click.dm
  code/_onclick/observer.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
Labels: Code Improvement, Fix, Tweak

#41256 [READY] RCDs Can Now Eat Rods and Metal Floor Tiles For Matter Units
  code/game/objects/items/RCD.dm
Labels: Feature, Needs Review

#41068 Removes stun and item drop from all slips. They will instead knock people down (force crawling) for their duration.
  code/datums/components/slippery.dm
  code/datums/components/wet_floor.dm
  code/game/atoms.dm
  code/game/turfs/open.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/mob_movement.dm
Labels: Balance/Rebalance, i ded

#40684 [Ready]Adds direct pay for cargo orders
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/cargo/console.dm
  code/modules/cargo/order.dm
  code/modules/cargo/packs.dm
  code/modules/shuttle/supply.dm
  icons/obj/crates.dmi
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/cargo.ract
Labels: Feature, Needs Review, Sprites, Stale, UI

#41282 [should be ready] adds rocket jumping to rocketlaunchers
  code/modules/projectiles/guns/ballistic/launchers.dm
  sound/vehicles/rocketlaunch.ogg
Labels: Sound

#41336 Fixes posibrains becoming unusable if the old mob suicided.
  code/modules/antagonists/clockcult/clock_items/soul_vessel.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/mob_helpers.dm
Labels: Fix

#41338 Fixes non-clothing mask update.
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: Fix

#41337 Fixed players getting duplicate messages if their already disabled limbs were attacked after they died / when no change happened
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Fix

#41383 Fixes the cargo bug
  tgui/assets/tgui.js
  tgui/src/interfaces/cargo.ract
Labels: Fix, UI

#41306 Adds separate MMI/borg messages for damaged brains
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/brain/MMI.dm
Labels: Grammar and Formatting

#41387 Fixes delta cargo conveyors
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/modules/recycling/conveyor2.dm
Labels: Fix, Map Edit

#41384 Fixes patriotic female's underwear's East & West sprites being 1 pixel taller than jumpsuits
  icons/mob/underwear.dmi
Labels: Fix, Sprites

#41360 [Ready] Childproofs plastic flaps with windoors
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Needs Review, Tweak

#41385 Stops silver slimes from spawning unintended item
  code/__HELPERS/unsorted.dm
Labels: Fix

#41367 (no homo) Changing "gay" word in cloning code to "expected amounts"
  code/game/machinery/cloning.dm
Labels: Grammar and Formatting

#41386 shift E & B keybinding stuff
  code/modules/keybindings/bindings_human.dm
  interface/interface.dm
Labels: Fix, Tweak

#41401 adds a period to captains hardsuit desc
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Grammar and Formatting

#41381 Slimes can now pass through grilles because le slime
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Feature

#41413 Fixes bodyparless gibspawners spitting out world messages
  code/game/objects/effects/spawners/gibspawner.dm
Labels: Fix

#41431 Delete bike meme music
  code/modules/vehicles/bicycle.dm
  sound/misc/bike1.mid
  sound/misc/bike2.mid
  sound/misc/bike3.mid
Labels: Removal, Sound

#41292 Allows lethal turrets to target blobs
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Balance/Rebalance

#41295 [Ready] Makes Cargo Toy Packet "TODO" a dream come true
  code/game/machinery/computer/arcade.dm
  code/modules/cargo/packs.dm
Labels: Needs Review, Refactor

#41394 Security Webbing
  code/game/objects/items/storage/belt.dm
  code/modules/vending/security.dm
  icons/mob/belt.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/obj/clothing/belts.dmi
Labels: Feature, Sprites

#41399 Allows custom pricing of premium vending machine items
  code/game/atoms.dm
  code/modules/vending/_vending.dm
Labels: Fix

#41361 [s] Fixes vending machine exploit
  code/modules/vending/_vending.dm
Labels: Fix

#41313 Replaces the move fast traits with speed mods
  code/__DEFINES/movespeed_modification.dm
  code/__DEFINES/traits.dm
  code/game/objects/effects/mines.dm
  code/modules/antagonists/changeling/powers/strained_muscles.dm
  code/modules/mob/living/carbon/human/physiology.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/mob_movespeed.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/station_goals/dna_vault.dm
Labels: Refactor, Test Merge Candidate

#41398 Lowers the amount of miasma required to display a warning
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/lungs.dm
Labels: Tweak

#41351 Fixed being able to land the white ship on the transit z level
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/white_ship.dm
Labels: Fix

#41328 Allows paper airplanes to be vareditted to always hit someone in the eye
  code/datums/action.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/paperwork/paperplane.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/actions.dmi
  icons/obj/library.dmi
Labels: Feature, Sprites

#41305 Fixes hotel rooms allowing insanely long numbers.
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
Labels: Fix

#41296 Adds Reflector Blobs
  code/modules/antagonists/blob/blob/blobs/shield.dm
  code/modules/antagonists/blob/blob/powers.dm
  icons/mob/blob.dmi
Labels: Feature, Sprites

#41327 [s] Improves AI, turret, and door logging
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/machines.dm
  code/_onclick/ai.dm
  code/datums/components/forensics.dm
  code/datums/wires/airlock.dm
  code/datums/wires/vending.dm
  code/game/data_huds.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/assembly/doorcontrol.dm
  code/modules/detectivework/detective_work.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/power/apc.dm
  code/modules/vending/_vending.dm
Labels: Administration, Fix, Logging

#41322 Fixes overlay glitch in clipboards and allows mice to be butchered
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/paperwork/clipboard.dm
Labels: Fix

#41400 Fixes illiterate & blind mobs being able to read books
  code/game/objects/items/granters.dm
  code/game/objects/items/manuals.dm
  code/game/objects/items/storage/book.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/library/lib_codex_gigas.dm
  code/modules/library/lib_items.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/spells/spell_types/mime.dm
Labels: Fix

#41151 Reduces the amount of antags spawned by the Summon Guns and Summon Magic rituals
  code/modules/antagonists/wizard/equipment/spellbook.dm
Labels: Balance/Rebalance

#41428 Corrects lavaland areas.
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Map Edit

#41416 [s] adding logging to admin adding martial combat skills
  code/datums/datumvars.dm
Labels: Fix, Logging

#41415 fixes a double-pipe
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Fix, Map Edit

#41364 Adds a new clown mask skin
  code/modules/clothing/masks/gasmask.dm
  icons/mob/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Feature, Sprites

#41422 Map fixes, access fixes/tweaks
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit, Tweak

#41430 Adds reaction to sleepy-pen injection
  code/modules/paperwork/pen.dm
Labels: Fix

#41429 Cleans up dead area paths. Removes dead music var.
  _maps/RandomRuins/SpaceRuins/oldAIsat.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/ruins/space.dm
  code/game/area/areas/shuttles.dm
  code/game/gamemodes/events.dm
  code/game/objects/items/blueprints.dm
  code/game/turfs/simulated/dirtystation.dm
  code/modules/awaymissions/mission_code/centcomAway.dm
  icons/turf/areas.dmi
Labels: Code Improvement, Fix, Map Edit, Sprites

#41420 Restores singularity hammer stun
  code/game/objects/items/singularityhammer.dm
Labels: Fix

#41417 Restores supermatter shard stun
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#41397 Adds deafness quirk
  code/datums/traits/negative.dm
Labels: Feature

#41357 [s] Fixes hotel door typo & missing stat / adjacency check
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
Labels: Fix, Grammar and Formatting

#41326 Cyborg modules now automatically turn off when deactivated
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/pinpointer.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/antagonists/nukeop/equipment/pinpointer.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Balance/Rebalance, Fix

#41457 Fixes knives not embedding right (without rebalance stuff tacked on.)
  code/datums/embedding_behavior.dm
  code/game/objects/items/kitchen.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#41456 Cutting the shut up wire on a vending machine will now make the vending machine shut up.
  code/datums/wires/vending.dm
  code/modules/vending/_vending.dm
Labels: Feature, Fix

#41452 areas_in_z after start population fix
  code/__HELPERS/areas.dm
  code/controllers/subsystem/mapping.dm
  code/game/area/areas.dm
  code/modules/mapping/map_template.dm
Labels: Fix

#41450 Fixed security webbing price
  code/game/objects/items/storage/belt.dm
Labels: Fix

#41393 New egun sprite
  icons/obj/guns/energy.dmi
Labels: Sprites

#41459 Fixes a bunch of missing symbols
  code/game/machinery/telecomms/computers/message.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/holiday/xmas.dm
  code/modules/lighting/lighting_object.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/power/solar.dm
  strings/hallucination.json
Labels: Fix

#41458 Fixes Swedish mutation language
  code/datums/mutations/speech.dm
Labels: Fix

#41463 Fix colorooc checking for R_ADMIN and byond
  code/modules/client/verbs/ooc.dm
Labels: Fix

#41482 Removes undefined macro
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Code Improvement, PRB: No Update

#41464 Fixes travis not failing non-TGM maps
  tools/travis/build_byond.sh
Labels: Tools

#41518 Fixes my shit a bit
  code/modules/events/_event.dm
Labels: Fix

#41480 Fix tgui dependency vulnerability
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/package-lock.json
  tgui/package.json
Labels: Fix, Security, UI

#41451 Fixes damp rag not smothering people
  code/modules/reagents/reagent_containers/glass.dm
Labels: Fix

#41140 Makes paralysis trauma more modular, allows paralyzing single limbs
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/datums/brain_damage/severe.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Feature, Tweak

#41514 Removes /abandoned type for airlocks; adds helper instead
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/machinery/doors/airlock_types.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
Labels: Code Improvement, Map Edit, Sprites

#41491 Adds Diagnostic HUD sunglasses
  code/modules/clothing/glasses/hud.dm
  code/modules/crafting/tailoring.dm
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Feature, Sprites

#41520 Fixes glowsticks not running out of fuel
  code/game/objects/items/devices/flashlight.dm
Labels: Fix

#41512 Fixes, improves multitool desc
  code/game/objects/items/devices/multitool.dm
Labels: Fix

#41511 Fixes droppers not working properly.
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/reagents/reagent_containers/dropper.dm
Labels: Fix

#41498 Adds a dirty var viewer in TESTING mode
  code/modules/admin/verbs/mapping.dm
  code/modules/mapping/preloader.dm
Labels: Code Improvement

#41524 Add cancel button to assault pod destination selector
  code/modules/shuttle/assault_pod.dm
Labels: Fix, Good First PR

#41444 Nuke Op Tactical Medkit Reshuffle
  code/game/objects/items/storage/firstaid.dm
Labels: Tweak

#41487 Fixes some contents of some holodeck things not always getting the HOLOGRAM flag
  code/modules/holodeck/area_copy.dm
Labels: Fix

#41481 Cleans up some leftover circuitry stuff
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/game/machinery/computer/camera.dm
  code/game/objects/items/manuals.dm
Labels: Code Improvement, Fix, Grammar and Formatting, Map Edit

#41442 Makes mild traumas a bit less trivial to cure
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Balance/Rebalance

#41486 Fixes solo changelings getting kill other changeling objectives
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix

#41531 Makes the illegal tech node harder to unlock
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance

#41532 Cleans up some invalid color vars on maps.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Edit

#41505 Adds zombies to the Magic Mirror blacklist
  code/game/objects/structures/mirror.dm
Labels: Balance/Rebalance

#41539 Reduces the sound volume of gorillas and migos
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
Labels: Tweak

#41484 Move Boxstation protolathe/youtool to engineering foyer
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Fix, Map Edit

#41515 Fixes animals being stuck resting after being revived
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#41516 Adds concealed weapon bay
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/weapon_bay.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_control_console.dm
  code/game/mecha/mecha_defense.dm
  code/game/mecha/mecha_parts.dm
  code/modules/uplink/uplink_items.dm
  icons/mecha/mecha_equipment.dmi
  tgstation.dme
Labels: Feature, Sprites

#41466 Fixes explosive lances not being explosive
  code/game/objects/items/twohanded.dm
Labels: Fix

#41530 Readd zooming action to zoomable guns
  code/modules/projectiles/gun.dm
Labels: Fix

#41534 Fixes ghost hotel door teleporting
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
Labels: Fix

#41537 Reduces the volume of some bloodcrawl related noises
  code/modules/mob/living/bloodcrawl.dm
Labels: Tweak

#41543 Fixes inventory panel not updating after adding or removing an object from a non-human mob.
  code/modules/mob/living/living.dm
Labels: Fix

#41545 Makes cloaks obscure suit storage items
  code/modules/clothing/suits/cloaks.dm
Labels: Balance/Rebalance

#41553 Mob fire spread changes
  code/modules/mob/living/living.dm
Labels: Good First PR, Tweak

#41556 Snowdin fixes, VR tweak
  _maps/RandomZLevels/VR/snowdin_VR.dmm
  _maps/RandomZLevels/snowdin.dmm
Labels: Fix, Map Edit, Tweak

#41559 Removes syndie balloon from Delta
  code/modules/uplink/uplink_items.dm
Labels: Map Edit, Removal, Tweak

#41560 Various map fixes
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/shuttles/whiteship_delta.dmm
  code/game/area/Space_Station_13_areas.dm
  icons/turf/areas.dmi
Labels: Fix, Map Edit, Sprites

#41561 Makes stacked pipe notices a little more useful
  code/modules/atmospherics/machinery/datum_pipeline.dm
Labels: Logging

#41568 Fixes dried blood decals showing up as normal blood
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: Fix

#41555 Tweaks holodeck warning msg
  code/modules/holodeck/computer.dm
Labels: Tweak

#41340 Adds race-restricted category to syndicate uplinks
  code/datums/components/uplink.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/lighting.dmi
Labels: Refactor, Sprites

#41493 Refactors deathsounds, adds 2 new ones (lizards and borgs)
  code/datums/dna.dm
  code/modules/antagonists/clockcult/clock_mobs.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/jungle/mook.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_defines.dm
  sound/voice/borg_deathsound.ogg
  sound/voice/credits.txt
  sound/voice/lizard/credits.txt
  sound/voice/lizard/deathsound.ogg
Labels: Refactor, Sound

#41576 Adds a new AI Core Sprite
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/ai.dmi
Labels: Sprites

#41554 Tendrils are now structure based [READY]
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/RandomZLevels/VR/snowdin_VR.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/snowdin.dmm
  code/datums/components/spawner.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/objects/structures/spawner.dm
  code/game/turfs/simulated/floor/plating/asteroid.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/spawner.dm
  code/modules/procedural_mapping/mapGenerators/lavaland.dm
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
  code/modules/spells/spell_types/conjure.dm
  tgstation.dme
Labels: Map Edit

#41541 Voracious quirk lets you binge on junk food, gives positive mood while fat
  code/datums/components/mood.dm
  code/datums/traits/good.dm
  code/modules/food_and_drinks/food/snacks.dm
Labels: Tweak

#41587 Borg malf/emag status is only shown on successful cover lock/unlock
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Balance/Rebalance

#41577 BLAT BLAT GOES THE GAT
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  sound/weapons/attributions.txt
  sound/weapons/shotgunshot.ogg
Labels: Feature, Sound, Tweak

#41551 Moves damage deflection code from doors to machines and gives it to the stacking machine
  code/game/machinery/_machinery.dm
  code/game/machinery/doors/door.dm
  code/modules/mining/laborcamp/laborstacker.dm
Labels: Balance/Rebalance, Code Improvement

#41470 Improves the plasmaflood hallucination
  code/modules/flufftext/Hallucination.dm
Labels: Fix

#41544 Updates corgi & parrot inventory panels to the same formatting as other mobs
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix, Tweak

#41407 teleporter computer now shows renamed beacons
  code/game/machinery/computer/teleporter.dm
Labels: Feature

#41595 Moves wormholes to the RIPPLE_LAYER
  code/game/objects/effects/portals.dm
Labels: Tweak

#41596 Select equipment only asks to empty pockets if there are things in your pockets
  code/modules/admin/verbs/debug.dm
Labels: Administration

#41602 Fixes more word crimes
  code/datums/martial/mushpunch.dm
  code/datums/shuttles.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/showcase.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/assembly/flash.dm
  code/modules/awaymissions/mission_code/caves.dm
  code/modules/awaymissions/mission_code/wildwest.dm
  code/modules/cargo/supplypod_beacon.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/power/rtg.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/spells/spell_types/hivemind.dm
Labels: Grammar and Formatting

#41600 Fixes cult assigning their own members as sacrifice.
  code/game/gamemodes/cult/cult.dm
Labels: Fix

#41605 Makes cult structures not lose density when unanchored.
  code/modules/antagonists/cult/cult_structures.dm
Labels: Fix, Good First PR

#41432 [READY] Restricts the cook's CQC to the kitchen and kitchen backroom
  code/datums/martial/cqc.dm
Labels: Balance/Rebalance, Needs Review

#41623 [BOX] Added missing spawn point to detective's office
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Fix, Map Edit

#41619 Increases clown impact on singularities
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Tweak
