Repository tgstation/tgstation, pull requests merged in 2018-02, with the labels that each got.

#35463 Cell blueprints now use the /empty variants
  code/modules/power/cell.dm
  code/modules/research/designs/power_designs.dm
Labels: Balance/Rebalance

#35461 Hatchets are now small instead of tiny.
  code/modules/hydroponics/hydroitemdefines.dm
Labels: Balance/Rebalance

#35422 Removes uneedful code
  code/modules/shuttle/arrivals.dm
Labels: Code Improvement

#35469 Fixes map configuration values for nonexistent maps applying to box
  code/controllers/configuration/configuration.dm
Labels: Fix

#35491 Fixes limbgrower having max volume of 0
  code/game/machinery/limbgrower.dm
Labels: Fix

#35488 Changes brass filament sprite
  icons/obj/clockwork_objects.dmi
Labels: Sprites

#35465 Fixes the action button lock preference not saving
  code/modules/client/preferences_savefile.dm
Labels: Fix

#35437 Fixes Morphine So that it can be made.
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Tweak

#35449 Integrated Circutry Readability Improvements
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/subtypes/input.dm
Labels: Tweak

#35459 Fix a runtime if someone is deleted on the arrivals shuttle
  code/__HELPERS/game.dm
Labels: Fix

#35473 Updates CONTRIBUTING.md for MapMerge2
  .github/CONTRIBUTING.md
Labels: Fix, GitHub

#35455 Removes runlevels spec from SSoverlays
  code/controllers/subsystem/overlays.dm
Labels: Code Improvement, Revert/Removal

#35479 Fixed chemical recipe conflicts
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Balance/Rebalance, Fix

#35493 Fixed cloning pod status not updating when autocloning.
  code/game/machinery/computer/cloning.dm
Labels: Fix

#35424 Replaces some var values with defines
  code/datums/explosion.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/requests_console.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/devices/PDA/virus_cart.dm
  code/game/objects/items/implants/implant.dm
  code/game/objects/items/implants/implant_loyality.dm
  code/game/objects/items/implants/implant_storage.dm
  code/game/objects/items/implants/implantuplink.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/toys.dm
  code/modules/antagonists/blob/blob/blobs/blob_mobs.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/spacesuits/chronosuit.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/personality.dm
  code/modules/mob/living/simple_animal/slime/death.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/power/gravitygenerator.dm
  code/modules/projectiles/box_magazine.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/experimentor.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/surgery/organs/augments_chest.dm
Labels: Code Improvement

#35188 Adds a SCP-294 ruin
  _maps/RandomRuins/SpaceRuins/scp_294.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/effects/spawners/traps.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  code/modules/reagents/chemistry/machinery/scp_294.dm
  icons/obj/hand_of_god_structures.dmi
  icons/obj/scp.dmi
  tgstation.dme
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/package-lock.json
  tgui/src/interfaces/scp_294.ract
Labels: Feature, Map Edit, Sprites, UI

#35235 Mining sentience upgrade grants minebots a radio and ID
  code/game/objects/items/implants/implant_misc.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/mining/minebot.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Feature, Work In Progress

#35376 Buildable Shuttle/Plastitanium Windows
  code/__DEFINES/is_helpers.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/modules/research/designs/smelting_designs.dm
  icons/obj/mining.dmi
  icons/obj/stack_objects.dmi
Labels: Feature, Sprites

#35421 Ruins now log to world only in TESTING mode
  code/modules/mapping/ruins.dm
Labels: FUCK, Logging

#35451 Buildable and upgradable All-In-One Grinder (again)
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#35457 Adds the fake honking emag to the arcade.
  code/game/machinery/computer/apc_control.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/secure.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Feature

#35462 Grabbers can now only contain things smaller than the assembly.
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Balance/Rebalance

#35456 [s] Fixes altclick exploits
  code/_onclick/ai.dm
  code/datums/components/material_container.dm
  code/datums/components/rotation.dm
  code/game/machinery/computer/apc_control.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/defibrillator_mount.dm
  code/game/machinery/deployable.dm
  code/game/machinery/hologram.dm
  code/game/machinery/launch_pad.dm
  code/game/mecha/mecha_actions.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/game/objects/items/devices/gps.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/pet_carrier.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/extinguisher.dm
  code/game/objects/structures/guncase.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/reflector.dm
  code/modules/antagonists/clockcult/clock_items/clockwork_slab.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/assembly/infrared.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/clothing/under/accessories.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/games/cas.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mining/equipment/marker_beacons.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/paperwork/paperplane.dm
  code/modules/paperwork/pen.dm
  code/modules/paperwork/photocopier.dm
  code/modules/power/apc.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/vehicles/ridden.dm
Labels: Fix, Maintainability/Hinders improvements

#35504 Removes that annoying clunking steam engine ambience sound that's probably from a youtube video
  code/__DEFINES/sound.dm
  sound/ambience/ambieng1.ogg
Labels: Removal, Sound

#35509 Removes duplicate air alarm on meta.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#35510 Megafauna doesn't go in machines
  code/game/machinery/_machinery.dm
Labels: Fix

#35508 Fixes scaner circuit typo
  code/modules/integrated_electronics/subtypes/input.dm
Labels: Grammar and Formatting

#35501 Removed admin requirement for the notify chat command
  code/modules/admin/chat_commands.dm
Labels: Administration

#35511 Removes Map Merge 1
  tools/mapmerge/Convert Maps to TGM.bat
  tools/mapmerge/README.md
  tools/mapmerge/Run Map Conflict Fixer.bat
  tools/mapmerge/Run Map Merge - DMM.bat
  tools/mapmerge/Run Map Merge - TGM.bat
  tools/mapmerge/dmm2tgm.py
  tools/mapmerge/maintloot.py
  tools/mapmerge/map_conflict_fixer.py
  tools/mapmerge/map_helpers.py
  tools/mapmerge/mapmerger.py
  tools/mapmerge/path_update.py
  tools/mapmerge2/Prepare Maps.bat
Labels: Removal, Tools

#35555 Fix sql error in exp updates
  code/modules/jobs/job_exp.dm
Labels: Fix

#35417 The chef is also a cook
  code/modules/jobs/job_types/cargo_service.dm
Labels: Feature

#35515 Makes urinal cakes more realistic
  code/game/objects/structures/watercloset.dm
  icons/obj/items_and_weapons.dmi
Labels: Feature, Sprites

#35519 Highlander antag datum
  code/game/objects/items/weaponry.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/antagonists/highlander/highlander.dm
  tgstation.dme
Labels: Refactor

#35514 Fixes wrong ID for syndicate ghost roles
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/ruins/lavaland_ruin_code.dm
Labels: Fix

#35518 Actually fixes broken accesses
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/shuttles/ferry_meat.dmm
  _maps/templates/pirate_ship.dmm
  _maps/templates/shelter_2.dmm
  code/game/objects/items/cards_ids.dm
Labels: Fix, Map Edit

#35566 Urinal cakes can now be picked up again
  code/game/objects/structures/watercloset.dm
Labels: Fix

#35541 Fixes lye/plastic/charcoal conflicts
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Fix

#35549 Removes old golem items
  code/modules/research/xenobiology/xenobiology.dm
Labels: Code Improvement

#35524 Fatshaming the AI, moving him two tiles upward when mass_recall() happens
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justicar.dm
Labels: Fix

#35512 Split up Revert/Removal
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools

#35517 Cell chargers are now buildable and (upgradable!) machines.
  code/game/machinery/cell_charger.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/power/cell.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Config Update, Feature, Fix, Sound, Sprites, UI

#35551 Tests give 3 GBP
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools

#35550 Disables max errors on travis compile
  tools/travis/dm.sh
Labels: CI/Tests, Tools

#35528 Fix SCP-294 appearance
  icons/obj/scp.dmi
Labels: Fix, Sprites

#35384 Adds tool_behaviour support to crafting, door wires, surgeries and mech construction
  code/datums/helper_datums/construction_datum.dm
  code/datums/wires/wires.dm
  code/modules/crafting/craft.dm
  code/modules/crafting/recipes.dm
  code/modules/mob/inventory.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/surgery_step.dm
Labels: Refactor, Test Merge Candidate

#35433 Cult Update? Cult Update!
  code/controllers/subsystem/shuttle.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/objects/structures/girders.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/spells/spell_types/construct_spells.dm
  icons/mob/actions/actions_cult.dmi
  icons/obj/projectiles.dmi
Labels: Balance/Rebalance, Fix, Sprites, Tweak

#35557 Fixes PDA virus runtime
  code/game/objects/items/devices/PDA/virus_cart.dm
Labels: Fix

#35598 [s] fixes announcement system exploit
  code/game/machinery/announcement_system.dm
Labels: Fix

#35354 Tritium now produces water vapor when combusting.
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Tweak

#35576 Fixes blood contracts being unusable if the popup is cancelled
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#35572 Fixes skateboard runtime
  code/modules/vehicles/scooter.dm
Labels: Fix

#35565 Fixes invalid throwat args
  code/datums/martial/wrestling.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/guardian/types/charger.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
Labels: Fix

#35625 Removes the empty moth language file
  code/modules/language/moth.dm
Labels: Removal

#35574 Sanity check for sentience event
  code/modules/events/sentience.dm
Labels: Fix

#35571 Fixes spider_infestation event
  code/modules/events/spider_infestation.dm
Labels: Fix

#35575 Fixes communications console runtime
  code/game/machinery/computer/communications.dm
Labels: Fix

#35583 Adds heart-shaped boxes of chocolate to the valentines event
  code/game/objects/items/storage/fancy.dm
  code/modules/events/holiday/vday.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  icons/mob/inhands/misc/food_lefthand.dmi
  icons/mob/inhands/misc/food_righthand.dmi
  icons/obj/food/containers.dmi
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#35597 The Cook now only works under siege.
  code/datums/martial/cqc.dm
  code/modules/jobs/job_types/cargo_service.dm
Labels: Fix

#35642 [s]Fixes blacklisted byond builds
  code/modules/client/client_procs.dm
Labels: Fix, Priority: High

#35594 Fixes rat kebabs
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
Labels: Fix

#35649 Disables clogged vents until it can be reworked
  code/modules/events/vent_clog.dm
Labels: Test Merge Candidate, Tweak

#35584 Greentext antag datum and OnRoundend hook.
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/ticker.dm
  code/modules/antagonists/greentext/greentext.dm
  code/modules/events/wizard/greentext.dm
  tgstation.dme
Labels: Refactor

#35427 Fixes Battlecruiser Turrets and Improves Turret's Faction Capabilities
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/templates/pirate_ship.dmm
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Fix, Map Edit

#35612 Prevents docking ports from being thrown away by chasms
  code/datums/components/chasm.dm
Labels: Fix

#35610 Cleans up turf underneath fridges
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#35605 Fixes ai transform being picky
  code/modules/mob/transform_procs.dm
Labels: Fix

#35506 Assblasts some power creep in circuit labs
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/modules/integrated_electronics/core/printer.dm
Labels: Balance/Rebalance, Fix, Map Edit

#35617 Makes the kinetic crusher's damage on examine a little more accurate
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Grammar and Formatting

#35624 Fixes near_camera runtime
  code/game/machinery/camera/tracking.dm
Labels: Fix

#35660 [s] Trit no longer makes radiation
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Priority: CRITICAL, Revert

#35655 fixes firedoor layer for the last god damn time
  code/__DEFINES/layers.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
Labels: Fix

#35586 Cleans up remnant traitor cyborg code and AI hacking.
  code/__HELPERS/unsorted.dm
  code/game/machinery/computer/law.dm
  code/game/machinery/computer/robot.dm
  code/game/machinery/telecomms/computers/message.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob_helpers.dm
Labels: Code Improvement

#35611 Spellcheck: Fixed a typo on an eldritch god's pronunciation
  code/modules/jobs/job_types/civilian_chaplain.dm
Labels: Grammar and Formatting

#35635 Fixes the name on the cook's culinary school training
  code/datums/martial/cqc.dm
Labels: Grammar and Formatting

#35654 Fixes turret faction on snowdin map
  _maps/RandomZLevels/snowdin.dmm
Labels: Fix, Map Edit, PRB: No Update

#35636 Spellchecks announcement's grammar
  code/modules/antagonists/cult/cult_items.dm
Labels: Grammar and Formatting

#35644 Fix GLOB setup runtimes not affecting the counter
  code/modules/error_handler/error_handler.dm
Labels: Fix

#35339 Support stations with multiple z-levels
  _maps/_basemap.dm
  _maps/map_files/generic/Space.dmm
  _maps/map_files/generic/Space2.dmm
  _maps/map_files/generic/SpaceStation.dmm
  code/__DEFINES/maps.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/minimap.dm
  code/controllers/subsystem/persistence.dm
  code/datums/map_config.dm
  code/game/objects/structures/ladders.dm
  code/game/turfs/simulated/chasm.dm
  code/game/turfs/simulated/floor/plating/dirt.dm
  code/game/turfs/space/transit.dm
  code/modules/events/pirates.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/reader.dm
  code/modules/mapping/space_management/space_level.dm
  code/modules/mapping/space_management/space_transition.dm
  code/modules/mapping/space_management/traits.dm
  code/modules/mapping/space_management/zlevel_manager.dm
  code/modules/procedural_mapping/mapGenerators/repair.dm
  code/modules/ruins/objects_and_mobs/sin_ruins.dm
Labels: Fix, Map Edit, Refactor, Test Merge Candidate

#35548 Slime Radio Potion
  code/game/objects/items/implants/implant_misc.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Feature

#35561 Fixes rnd console runtimes
  code/__DEFINES/research.dm
  code/modules/research/rdconsole.dm
Labels: Fix

#35661 Mekhi goes on the table
  code/game/objects/structures/tables_racks.dm
Labels: Balance/Rebalance

#35664 Fixes some tooltip runtimes
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/alert.dm
  code/game/objects/items.dm
Labels: Fix

#35692 Moves garbage up in the init order
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/garbage.dm
Labels: Fix, Priority: High

#35651 Gives eggbox an inhand image, cleans up heartbox inhands
  code/game/objects/items/storage/fancy.dm
  icons/mob/inhands/misc/food_lefthand.dmi
  icons/mob/inhands/misc/food_righthand.dmi
  icons/obj/food/containers.dmi
Labels: Sprites

#35342 Adds Cryostatis Shotgun Darts
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/ammo.dmi
Labels: Feature, Sprites

#35431 html_interface removal and crew monitoring console refactor.
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/_onclick/hud/ai.dm
  code/datums/cinematic.dm
  code/game/data_huds.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/computer/crew.css
  code/game/machinery/computer/crew.dm
  code/game/machinery/computer/crew.js
  code/game/objects/items/devices/sensor_device.dm
  code/modules/client/asset_cache.dm
  code/modules/client/client_defines.dm
  code/modules/games/cards.dm
  code/modules/games/cas.dm
  code/modules/goonchat/browserassets/js/jquery.min.js
  code/modules/html_interface/cards/cards.css
  code/modules/html_interface/cards/cards.dm
  code/modules/html_interface/cards/cards.png
  code/modules/html_interface/css/bootstrap.min.css
  code/modules/html_interface/css/html_interface.css
  code/modules/html_interface/html_interface.dm
  code/modules/html_interface/html_interface.html
  code/modules/html_interface/html_interface_client.dm
  code/modules/html_interface/js/bootstrap.min.js
  code/modules/html_interface/js/html_interface.js
  code/modules/html_interface/nanotrasen/hi-nanotrasen.css
  code/modules/html_interface/nanotrasen/nanotrasen.dm
  code/modules/html_interface/nanotrasen/uiBg.png
  code/modules/html_interface/nanotrasen/uiBgcenter.png
  code/modules/html_interface/nanotrasen/uiBgtop.png
  code/modules/html_interface/nanotrasen/uiEyeGreen.png
  code/modules/html_interface/nanotrasen/uiEyeOrange.png
  code/modules/html_interface/nanotrasen/uiEyeRed.png
  code/modules/html_interface/nanotrasen/uiTitleFluff.png
  code/modules/tgui/external.dm
  code/modules/tgui/states.dm
  code/modules/tgui/subsystem.dm
  code/modules/tgui/tgui.dm
  interface/interface.dm
  tgstation.dme
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/crew.ract
Labels: Map Edit, Refactor, Removal, UI

#35478 Added chemical reaction unit tests
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/reagent_id_typos.dm
  code/modules/unit_tests/reagent_recipe_collisions.dm
Labels: CI/Tests

#35131 Adds sounds and some small QoL improvements to the circuit imprinter, and allows them to recycle empty assemblies
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/printer.dm
  sound/items/electronic_assembly_empty.ogg
  sound/items/electronic_assembly_emptying.ogg
Labels: Sound, Tweak

#35606 Apples now taste like apples
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/hydroponics/grown/apple.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/hydroponics/grown/cereals.dm
  code/modules/hydroponics/grown/cocoa_vanilla.dm
  code/modules/hydroponics/grown/corn.dm
  code/modules/hydroponics/grown/eggplant.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/hydroponics/seeds.dm
Labels: Feature

#35552 [s]Fixes writing bugs/exploits
  code/game/machinery/newscaster.dm
  code/game/objects/items/implants/implantcase.dm
  code/game/objects/items/implants/implanter.dm
  code/game/objects/items/signs.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/morgue.dm
  code/modules/events/holiday/vday.dm
  code/modules/food_and_drinks/pizzabox.dm
  code/modules/games/cas.dm
  code/modules/library/lib_items.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photography.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Fix

#35680 Fixes SCP-294 losing its top sometimes
  code/modules/reagents/chemistry/machinery/scp_294.dm
Labels: Fix

#35542 Cleans up some duplicate canusetopic warnings
  code/datums/components/rotation.dm
  code/game/machinery/launch_pad.dm
  code/game/objects/objs.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/reflector.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/paperwork/pen.dm
Labels: Code Improvement, Fix

#35693 Fix world/Error() trying to read config before it loads
  code/modules/error_handler/error_handler.dm
Labels: Fix

#35662 Meteor shield emag feedback and typo fix
  code/modules/research/server.dm
  code/modules/station_goals/shield.dm
Labels: Grammar and Formatting, Tweak

#35679 Removes on_mob_turn, on_mob_move and intercept_user_move, speeding up movement
  code/game/objects/items/RCL.dm
  code/game/objects/objs.dm
  code/modules/clothing/spacesuits/flightsuit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/fields/fields.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/guns/beam_rifle.dm
  code/modules/surgery/organs/eyes.dm
Labels: Code Improvement, Removal

#35484 Converting more auto_custom antagonists.
  code/game/machinery/wishgranter.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/nightmare/nightmare.dm
  code/modules/antagonists/official/official.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/revenant/revenant_antag.dm
  code/modules/antagonists/separatist/separatist.dm
  code/modules/antagonists/slaughter/slaughter_antag.dm
  code/modules/antagonists/survivalist/survivalist.dm
  code/modules/antagonists/valentines/heartbreaker.dm
  code/modules/antagonists/valentines/valentine.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  code/modules/awaymissions/mission_code/wildwest.dm
  code/modules/events/holiday/vday.dm
  code/modules/events/nightmare.dm
  code/modules/events/wizard/departmentrevolt.dm
  code/modules/spells/spell_types/rightandwrong.dm
  tgstation.dme
Labels: Refactor

#35703 Fixes powercell injecting attaching the wrong value to rigged
  code/modules/hydroponics/plant_genes.dm
  code/modules/power/cell.dm
Labels: Code Improvement

#35674 Adds mapping helpers to handle cyclelink & locking airlocks, updates all relevant maps
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/templates/pirate_ship.dmm
  code/__DEFINES/layers.dm
  code/game/machinery/doors/airlock.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
Labels: Code Improvement, Fix, Map Edit, Sprites

#35629 Converts floor tool interactions to tool_act, fixes flooring exploits
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/mineral_floor.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plating.dm
  code/game/turfs/simulated/floor/plating/asteroid.dm
  code/game/turfs/simulated/floor/plating/dirt.dm
  code/game/turfs/simulated/floor/plating/misc_plating.dm
  code/game/turfs/simulated/floor/reinf_floor.dm
  code/modules/holodeck/turfs.dm
Labels: Code Improvement, Fix

#35687 Fixes delta whiteship
  _maps/shuttles/arrival_delta.dmm
  _maps/shuttles/cargo_birdboat.dmm
  _maps/shuttles/cargo_box.dmm
  _maps/shuttles/cargo_delta.dmm
  _maps/shuttles/emergency_airless.dmm
  _maps/shuttles/emergency_arena.dmm
  _maps/shuttles/emergency_asteroid.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_box.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_cramped.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_discoinferno.dmm
  _maps/shuttles/emergency_goon.dmm
  _maps/shuttles/emergency_imfedupwiththisworld.dmm
  _maps/shuttles/emergency_luxury.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_meteor.dmm
  _maps/shuttles/emergency_mini.dmm
  _maps/shuttles/emergency_narnar.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/emergency_scrapheap.dmm
  _maps/shuttles/emergency_supermatter.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  _maps/shuttles/ferry_base.dmm
  _maps/shuttles/ferry_fancy.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  _maps/shuttles/ferry_meat.dmm
  _maps/shuttles/labour_box.dmm
  _maps/shuttles/mining_box.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_cere.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/shuttles/whiteship_pubby.dmm
Labels: Fix, Map Edit

#35696 Fixes wizard RPG loot from making circuit analyzers useless
  code/modules/integrated_electronics/core/saved_circuits.dm
Labels: Fix

#35702 Removes secondary
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Code Improvement

#35697 Fixes addiction text
  code/modules/reagents/chemistry/reagents.dm
Labels: Grammar and Formatting

#35704 Changes a number of HUD icons
  icons/mob/hud.dmi
  icons/mob/inhands/antag/balloons_lefthand.dmi
  icons/mob/inhands/antag/balloons_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Sprites

#35690 Some antag fixes.
  code/_globalvars/lists/mobs.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/admin/fun_balloon.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/blob/blob/powers.dm
  code/modules/antagonists/clockcult/clock_effects/clock_sigils.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/events/holiday/xmas.dm
  code/modules/events/wizard/imposter.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/mob_helpers.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Fix

#35689 Space Ninja smoke bomb refill
  code/modules/ninja/suit/suit.dm
  code/modules/ninja/suit/suit_attackby.dm
Labels: Feature, Good First PR

#35673 All medal methods are handled on SSmedals as opposed to global procs and also have proper defines, killing with a crusher grants special medals.
  code/__DEFINES/medal.dm
  code/__DEFINES/misc.dm
  code/controllers/configuration/entries/comms.dm
  code/controllers/subsystem/medals.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/computer/arcade.dm
  code/modules/admin/verbs/debug.dm
  code/modules/awaymissions/super_secret_room.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/necropolis_tendril.dm
  tgstation.dme
Labels: Config Update, Feature, Refactor

#35707 Adds rainbow slime clusterbangs
  code/game/objects/items/grenades/clusterbuster.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  icons/obj/grenade.dmi
Labels: Feature, Sprites

#35717 Fixes AI dating
  code/game/gamemodes/objective.dm
  code/modules/antagonists/valentines/valentine.dm
Labels: Fix

#35716 Fixes wet space.
  code/game/turfs/space/space.dm
Labels: Fix

#35731 Map spawned corpses start with their suit sensors turned off
  code/modules/awaymissions/corpse.dm
Labels: Good First PR, Tweak

#34908 Adds Modafinil properly this time.
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: Feature

#35735 RESISTHOT species can put out fires with their hands
  code/game/objects/items.dm
Labels: Fix

#35734 Cleans up unused /area paths
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/misc.dm
  code/game/area/areas/space_content.dm
  code/game/objects/items/blueprints.dm
  code/game/turfs/simulated/dirtystation.dm
  tgstation.dme
Labels: Code Improvement

#35604 Refactors mech construction datums
  code/datums/helper_datums/construction_datum.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
Labels: Refactor

#35720 Pulling claw grammar fix
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Grammar and Formatting

#35725 Jellypeople (and all subtypes) now can actually speak Slime, as intended
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Fix

#35736 Removes abstract shotgun from Summon Guns list
  code/modules/spells/spell_types/rightandwrong.dm
Labels: Fix

#35722 Fixes extremely thicc robots
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#35705 Fixes lava burning unconstructed HE-pipes
  code/game/machinery/pipe/construction.dm
Labels: Fix

#35732 fixes poddoor examine message
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#35726 Reflectors now reset the range of a projectile like before!
  code/game/objects/structures/reflector.dm
  code/modules/projectiles/projectile.dm
Labels: Feature

#35724 Fixes some tool interactions
  code/game/machinery/_machinery.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix

#35728 Select Equipment works on observers
  code/modules/admin/verbs/debug.dm
Labels: Administration

#35588 Makes the watcher wing crusher trophy less effective
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Balance/Rebalance

#35344 [READY]Fixes hitscan beams going across the station, hitscan projectiles now properly cross zlevels and generate beams.
  code/datums/position_point_vector.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/projectiles/projectile.dm
Labels: Needs Review

#35739 Fixes bicycle riding
  code/modules/cargo/packs.dm
  code/modules/vehicles/bicycle.dm
  code/modules/vehicles/ridden.dm
Labels: Fix

#35738 MMIs can now whisper without talking on the radio
  code/modules/mob/living/brain/say.dm
Labels: Fix

#35746 Actually fixes SCP 294 overlay problems
  code/modules/reagents/chemistry/machinery/scp_294.dm
Labels: Fix

#35751 Crew pinpointers now fit on medical belts
  code/game/objects/items/storage/belt.dm
Labels: Tweak

#35581 Newliquors
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Feature, Work In Progress

#35762 fixes some stuff in flametrowers
  code/game/objects/items/flamethrower.dm
Labels: Fix

#35760 fixes flametrowers not being buildiable in the autolathe
  code/modules/research/designs/autolathe_designs.dm
Labels: Fix

#35764 RPED and crew pinpointer module upgrades for engi/medical borgs
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/stock_parts.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/storage.dmi
Labels: Feature, Sprites

#35763 Removes unnused random event
  code/modules/events/holiday/friday13th.dm
Labels: Removal

#35761 improves radio code by fixing english
  code/game/objects/items/devices/radio/radio.dm
Labels: Grammar and Formatting

#35807 Removes one dotty boi
  code/modules/reagents/chemistry/holder.dm
Labels: Code Improvement

#35706 Fixes invincible blobs and blob nodes producing tiles after its death
  code/modules/antagonists/blob/blob/blobs/node.dm
  code/modules/antagonists/blob/blob/theblob.dm
Labels: Fix

#35772 Sheet icon fixes
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/mining/ores_coins.dm
  icons/mob/inhands/misc/sheets_lefthand.dmi
  icons/mob/inhands/misc/sheets_righthand.dmi
  icons/obj/stack_objects.dmi
Labels: Fix, Sprites

#35797 Deletes a redundant double proc definition in paper bins
  code/modules/paperwork/paperbin.dm
Labels: Fix

#35798 Adds the missing wrapper to meteor report
  code/game/gamemodes/meteor/meteor.dm
Labels: Fix

#35727 Redeems my sins. Defib mount fixes.
  code/game/machinery/defibrillator_mount.dm
  code/game/objects/items/defib.dm
Labels: Fix

#35683 Adds a space on check antag between name and role
  code/modules/admin/check_antagonists.dm
Labels: Administration

#35520 Extensive surgery additions
  code/__DEFINES/mobs.dm
  code/__DEFINES/role_preferences.dm
  code/datums/brain_damage/brain_trauma.dm
  code/datums/brain_damage/severe.dm
  code/datums/datumvars.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/implants/implant_loyality.dm
  code/game/objects/items/implants/implantchair.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/abductor/equipment/abduction_surgery.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  code/modules/jobs/job_types/civilian.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/physiology.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/mob/transform_procs.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/advanced/bioware/bioware.dm
  code/modules/surgery/advanced/bioware/bioware_surgery.dm
  code/modules/surgery/advanced/bioware/nerve_grounding.dm
  code/modules/surgery/advanced/bioware/nerve_splicing.dm
  code/modules/surgery/advanced/bioware/vein_threading.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/necrotic_revival.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/advanced/reconstruction.dm
  code/modules/surgery/advanced/revival.dm
  code/modules/surgery/advanced/viral_bonding.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/surgery_step.dm
  code/modules/uplink/uplink_items.dm
  tgstation.dme
Labels: Feature

#35784 Fixed overlapping timestop behavior
  code/modules/fields/timestop.dm
Labels: Fix

#35570 Mime's Bane recipe
  code/__DEFINES/traits.dm
  code/datums/emotes.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Feature, Work In Progress

#35811 Cleans up some spaces
  code/game/turfs/simulated/floor/plating/misc_plating.dm
Labels: Code Improvement, PRB: No Update

#35792 Fixes multiserver mining formula
  code/controllers/subsystem/research.dm
  code/modules/research/server.dm
Labels: Fix

#35802 Fixes ore stack sprites
  code/modules/mining/ores_coins.dm
Labels: Fix

#35507 [READY]NTnet circuit fix
  code/modules/integrated_electronics/subtypes/input.dm
Labels: Fix, Needs Review
