Repository tgstation/tgstation, pull requests merged in 2018-05, with the labels that each got.

#37572 Fixes the intergalactic stock market crash by removing the speculation/performance modifier
  code/modules/stock_market/stocks.dm
Labels: Fix

#37568 Removes enriched uranium
  code/game/objects/items/stacks/sheets/mineral.dm
Labels: Code Improvement

#37579 Fix placing boxes in storage implants
  code/datums/components/storage/concrete/implant.dm
Labels: Fix

#37516 Changes the trauma formula so constant small ticks don't keep triggering traumas
  code/modules/mob/living/carbon/damage_procs.dm
Labels: Balance/Rebalance

#37584 Readds missing nuked narsie cinematic.
  code/__DEFINES/cinematics.dm
  code/datums/cinematic.dm
  code/modules/power/singularity/narsie.dm
Labels: Fix

#37580 Craftable HUDsunglasses
  code/modules/crafting/recipes.dm
Labels: Feature

#37590 Reorganizes cargo's big "miscellaneous supplies" category
  code/modules/cargo/packs.dm
  code/modules/events/shuttle_loan.dm
Labels: Tweak

#37475 H.O.G.A.N. lawset
  code/datums/ai_laws.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/AI_modules.dm
  config/game_options.txt
Labels: Config Update, Feature

#37035 Splits APC attackbys into tool acts, removes some old parts that do nothing and allows crowbars to remove the cell too
  code/modules/power/apc.dm
Labels: Code Improvement, Fix, Removal, Tweak

#37586 Revert "Adds the jukebox to every active map."
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Revert

#37606 Corrects mistake in storage implant uplink description
  code/modules/uplink/uplink_items.dm
Labels: Grammar and Formatting

#37538 Animated Spellbooks
  icons/obj/library.dmi
Labels: Sprites

#37598 Adds grenadine.
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/vending/boozeomat.dm
  icons/obj/drinks.dmi
Labels: Feature, Good First PR, Sprites, Tweak

#37289 Science can now print off processors as well
  code/modules/research/designs/machine_designs.dm
Labels: Feature, Tweak

#37609 Satiates Barhandar's thirst for alcoholic apples (Bikeshed Hard Cider Desc Changes)
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Grammar and Formatting

#37615 Fixes Midori cigs having no nicotine
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/storage/fancy.dm
Labels: Fix

#37414 Removes stock market
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/stock_market/articles.dm
  code/modules/stock_market/computer.dm
  code/modules/stock_market/events.dm
  code/modules/stock_market/industries.dm
  code/modules/stock_market/logs.dm
  code/modules/stock_market/stockmarket.dm
  code/modules/stock_market/stocks.dm
  tgstation.dme
Labels: Do Not Merge, Map Edit, Removal

#37639 Fixes the tequila sunrise sprite.
  icons/obj/drinks.dmi
Labels: Fix, PRB: No Update, Sprites

#37620 Remove a leftover reference to the gang dominator
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/antagonists/swarmer/swarmer.dm
Labels: Code Improvement

#37621 Corrects brainwashing surgery program category
  code/modules/uplink/uplink_items.dm
Labels: Fix

#37622 Changes cockroach guts to insect guts
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/friendly/cockroach.dm
Labels: Fix, Map Edit

#37625 Updates infrared emitters to use the rotate component
  code/modules/assembly/infrared.dm
Labels: Code Improvement

#37626 You can no longer print infinite ammunition.
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/caseless/foam.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Balance/Rebalance

#37636 constant chip fix
  code/modules/integrated_electronics/subtypes/memory.dm
Labels: Fix

#37451 slighty upgrades the medbeam
  code/modules/projectiles/guns/misc/medbeam.dm
Labels: Balance/Rebalance

#37432 Fixes Several Machines Materials Insertion
  code/datums/components/material_container.dm
  code/game/machinery/droneDispenser.dm
  code/game/machinery/recycler.dm
  code/game/mecha/mech_fabricator.dm
  code/modules/clothing/shoes/bananashoes.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/mint.dm
Labels: Fix

#37447 Fixes mousetraps not going off from being dumped out
  code/datums/components/storage/storage.dm
  code/modules/assembly/mousetrap.dm
Labels: Fix

#37623 Some dbadmin fixes
  SQL/admin_import_2018-02-03.py
  code/modules/admin/admin_ranks.dm
  code/modules/admin/permissionedit.dm
  code/modules/admin/topic.dm
Labels: Fix, SQL

#37657 Fixes Tequila Sunrise naming
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Labels: Grammar and Formatting

#37637 fixes a sentence ot spelled correctly.
  code/modules/antagonists/nukeop/nukeop.dm
Labels: Administration, Atmospherics, BYOND Issue, Balance/Rebalance, Blame MSO, Bug, CI/Integration, Code Improvement, Config Update, Consistency Issue, Do Not Merge, Documentation, FUCK, Feature, Feedback, Fix, GitHub, Good First Issue, Good First PR, Higgs-Bugson, In Game Exploit, Logging, Maintainability/Hinders improvements, Map Edit, Map Issue, Merge Conflict, Needs Pictures, Needs Reproducing, Needs Review, Not a bug, Oversight, PRB: No Update, PRB: Reset, Performance, Priority: CRITICAL, Priority: High, Refactor, Regression, Removal, Revert, Review Again, Runtime, SQL, Security, Sound, Sprites, Stale, Test Merge Bug, Test Merge Candidate, Tested/Reproduced, Tools, Tweak, UI, Work In Progress, i ded

#37640 Lengthen commit hashes in Show Server Revision
  code/datums/helper_datums/getrev.dm
Labels: Code Improvement

#37649 Fixes runtimestation RnD machinery, adds circ printer+analyzer
  _maps/map_files/debug/runtimestation.dmm
Labels: Fix, Map Edit

#37651 Adds missing donksoft vendor board to illegal tech node
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#37641 Use bundled rather than remote jquery in tooltips
  code/modules/tooltip/tooltip.html
Labels: Code Improvement

#37666 Adds star wars holiday
  code/modules/holiday/holidays.dm
Labels: Priority: CRITICAL, Test Merge Candidate

#37692 Revert "Adds star wars holiday"
  code/modules/holiday/holidays.dm
Labels: Revert

#37679 Fixes rhumba beat as requested by naksu
  code/datums/diseases/rhumba_beat.dm
Labels: Fix

#37681 Fixes supply pod duping
  code/game/objects/structures/crates_lockers/closets/secure/supplypod.dm
Labels: Fix

#37680 Improves skittish code
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Code Improvement

#37676 Prevents electric grills from mass producing lightning through exploits
  code/game/objects/structures/grille.dm
Labels: Fix, Tweak

#37632 Shows assemblies some love. ♥
  code/game/objects/items/devices/transfer_valve.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/bomb.dm
  code/modules/assembly/doorcontrol.dm
  code/modules/assembly/flash.dm
  code/modules/assembly/health.dm
  code/modules/assembly/helpers.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/igniter.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/mousetrap.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/shock_kit.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/assembly/voice.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/living/silicon/pai/software.dm
  icons/obj/assemblies.dmi
  icons/obj/assemblies/new_assemblies.dmi
  icons/obj/projectiles.dmi
Labels: Code Improvement, Fix, Sprites

#37578 Fix the top menus in the skin not working
  code/datums/verbs.dm
  code/modules/client/client_procs.dm
Labels: Fix

#37712 Fixes a radiation runtime related to going off the map edge
  code/datums/radiation_wave.dm
Labels: Fix, Priority: High

#37406 Adds (fake) ambient occlusion as a client preference
  code/__DEFINES/layers.dm
  code/__DEFINES/misc.dm
  code/_onclick/hud/plane_master.dm
  code/game/area/areas.dm
  code/game/machinery/ai_slipper.dm
  code/game/machinery/hologram.dm
  code/game/machinery/igniter.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/open.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Feature

#37058 RPD - You can now select modes individually
  code/__DEFINES/atmospherics.dm
  code/game/objects/items/RPD.dm
  tgui/assets/tgui.js
  tgui/src/interfaces/rpd.ract
  tgui/src/interfaces/rpd/colorsel.ract
  tgui/src/interfaces/rpd/dirsel.ract
Labels: Fix, Tweak, UI

#37396 Track admin observer time
  code/__DEFINES/preferences.dm
  code/modules/jobs/job_exp.dm
Labels: Logging

#37727 [s] Removes some stationloving-related failure surface
  code/datums/components/stationloving.dm
  code/game/objects/items.dm
  code/modules/mob/inventory.dm
Labels: Fix, Priority: High, Removal

#37438 [READY] Properly Adds a suicide action to the hand tele
  code/game/objects/items/teleportation.dm
  config/admins.txt
Labels: Config Update, Feature

#37429 Update DMAPI to version 3.2.1.0
  code/__DEFINES/server_tools.config.dm
  code/__DEFINES/server_tools.dm
  code/__DEFINES/tgs.config.dm
  code/__DEFINES/tgs.dm
  code/_globalvars/configuration.dm
  code/controllers/master.dm
  code/controllers/subsystem/server_maint.dm
  code/controllers/subsystem/ticker.dm
  code/datums/datumvars.dm
  code/datums/helper_datums/getrev.dm
  code/datums/world_topic.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/chat_commands.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/debug.dm
  code/modules/server_tools/st_commands.dm
  code/modules/server_tools/st_interface.dm
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/default_event_handler.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  tgstation.dme
Labels: Refactor

#37571 Integrated Circuits: String parsing update
  code/modules/integrated_electronics/subtypes/converters.dm
Labels: Feature

#37683 Replaces the Roman Shield and Roman Helmets in the autodrobe with fake versions with no block chance nor armour values.
  code/game/objects/items/shields.dm
  code/modules/clothing/head/helmet.dm
  code/modules/vending/autodrobe.dm
Labels: Balance/Rebalance, Removal

#37763 Adds role time log table and triggers
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
Labels: SQL

#37747 fixes a money loop
  code/modules/cargo/exports/large_objects.dm
Labels: Fix

#37721 Fixes edge case with crew pinpointers
  code/game/objects/items/pinpointer.dm
Labels: Fix

#37693 Fixes singuloth not disappearing after a set amount of time.
  code/game/machinery/computer/arcade.dm
Labels: Fix

#37558 Anomaly Armour Research
  code/game/objects/effects/anomalies.dm
  code/modules/assembly/signaler.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: Feature

#37457 Adds a French beret! HONH HONH HONH!
  code/modules/clothing/head/misc.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/jobs/job_types/civilian.dm
  code/modules/mob/living/carbon/say.dm
  strings/french_replacement.json
  strings/italian_replacement.json
Labels: Feature

#37423 [s] Hallucinations 4.0
  code/datums/brain_damage/severe.dm
  code/datums/traits/negative.dm
  code/game/machinery/doors/airlock.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/events/mass_hallucination.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/projectiles/projectile/special/mindflayer.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organs/lungs.dm
  strings/hallucination.json
Labels: Feature

#37770 Fixes anomalies not listening on the correct frequency
  code/game/objects/effects/anomalies.dm
  code/modules/assembly/signaler.dm
Labels: Fix

#37399 Use spritesheets to reduce time spent sending PNG assets by 90+%
  .travis.yml
  code/__DEFINES/misc.dm
  code/controllers/subsystem/assets.dm
  code/game/objects/items/RPD.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/client/asset_cache.dm
  code/modules/emoji/emoji_parse.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/goonchat/browserassets/html/browserOutput.html
  code/modules/language/language.dm
  code/modules/paperwork/paper.dm
  code/modules/research/designs.dm
  code/modules/research/rdconsole.dm
  rust_g.dll
  tgui/assets/tgui.js
  tgui/src/interfaces/rpd.ract
  tools/travis/build_dependencies.sh
Labels: Performance, Refactor, Tools, UI

#37656 Fixes EMPs not working on people/backpacks/other storage being carried on people
  code/__DEFINES/components.dm
  code/datums/components/storage/concrete/_concrete.dm
  code/datums/components/storage/storage.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
Labels: Fix

#37551 Removes unused optimization from SendSignal
  code/datums/components/_component.dm
Labels: Code Improvement

#37776 Revert "Removes unused optimization from SendSignal"
  code/datums/components/_component.dm
Labels: Removal, Revert

#37782 [s] Fixes an admin unprotected var read/write exploit
  code/modules/clothing/clothing.dm
Labels: Priority: High, Security

#37761 Adds time_dilation info to status topic.
  code/datums/world_topic.dm
Labels: Feedback

#37748 brings gender equality on /tg/station
  code/modules/cargo/packs.dm
Labels: Fix

#37762 Fixes gorillas not having hand slots
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
Labels: Fix

#37750 Adds missing changelog for removing fusion
  config/admins.txt
Labels: Config Update, Removal

#37742 spellig fix
  code/game/objects/effects/forcefields.dm
Labels: Grammar and Formatting

#37772 Fixes morphs
  code/modules/antagonists/morph/morph.dm
Labels: Fix

#37697 Makes the redirect component able to transfer with changeturfs
  code/__DEFINES/components.dm
  code/datums/components/signal_redirect.dm
Labels: Code Improvement

#37707 Fixes large crates (Issue #36516)
  code/game/objects/structures/crates_lockers/crates/large.dm
Labels: Fix

#37752 (NOT TESTED YET) Fixes Bedbuckling to avoid Floor is Lava
  code/datums/weather/weather_types/floor_is_lava.dm
Labels: Fix

#37797 Adds desc to chemmaster circ board
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Grammar and Formatting

#37801 Adds wizard randomname
  strings/names/wizardfirst.txt
  strings/names/wizardsecond.txt
Labels: Feature

#37673 Runtime: fixes RTG power, adjusts pipenet, adds debug chem dispensers
  _maps/map_files/debug/runtimestation.dmm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_synthesizer.dm
  code/modules/reagents/chemistry/reagents.dm
  tgstation.dme
  tgui/assets/tgui.js
  tgui/src/interfaces/chem_synthesizer.ract
Labels: Code Improvement, Fix, Map Edit, Needs Review, Tweak, UI

#37731 Makes gauze deconstructable into cloth
  code/game/objects/items/stacks/medical.dm
Labels: Tweak

#37737 Fixes possession funtime
  code/modules/admin/verbs/adminjump.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/dummy.dm
Labels: Fix

#37792 Fixes defibs/backpack watertanks/gatling lasers
  code/game/objects/items/defib.dm
  code/game/objects/items/tanks/watertank.dm
  code/modules/projectiles/guns/ballistic/laser_gatling.dm
Labels: Fix

#37464 Adds plasma rein glass to the ORM & adjusts material values on the various glass sheets.
  code/game/objects/items/stacks/sheets/glass.dm
  code/modules/research/designs/smelting_designs.dm
Labels: Fix, Tweak

#37684 Linked teleporters now teleport to the hub instead of the power station
  code/game/machinery/computer/teleporter.dm
  code/game/machinery/teleporter.dm
Labels: Fix, Tweak

#37749 Quirk limit now only applies to positive quirks
  code/modules/client/preferences.dm
Labels: Tweak

#37809 Adds security jumpskirts this time with less broken github
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/clothing/under/jobs/security.dm
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Feature, Sprites

#37816 Fixes bike horn attack
  code/game/objects/items/clown_items.dm
Labels: Fix

#37788 Make admin heals also max out mood
  code/modules/mob/living/living.dm
Labels: Administration

#37765 Adds swapping disks to the plantmanipulator
  code/modules/hydroponics/gene_modder.dm
Labels: Feature

#37789 Log dchat to the individual say log for a mob
  code/modules/mob/say.dm
Labels: Logging

#37525 Replaces adding goliath plates to clothing and APLUs with a customizable tracking component
  code/datums/components/armor_plate.dm
  code/game/mecha/working/ripley.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/equipment/goliath_hide.dm
  tgstation.dme
Labels: Feature

#37794 Marginally to Mildly Improves Vending Machine, Burger, and Donut sprites.
  code/modules/food_and_drinks/food/customizables.dm
  icons/obj/food/burgerbread.dmi
  icons/obj/food/food.dmi
  icons/obj/vending.dmi
Labels: Sprites

#37743 Remove a duplicate pipe in MetaStation maint
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#37818 Fix some missing icons
  _maps/map_files/OmegaStation/OmegaStation.dmm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/forcefields.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/crates_lockers/closets/secure/supplypod.dm
  code/modules/antagonists/clockcult/clock_items/judicial_visor.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/projectile/special/curse.dm
  icons/obj/objects.dmi
  icons/obj/smooth_structures/clockwork_window.dmi
  icons/obj/smooth_structures/sandbags.dmi
  icons/turf/areas.dmi
Labels: Code Improvement, Map Edit, Sprites

#37824 Fixes curator hud icon
  icons/mob/hud.dmi
Labels: Fix, Sprites

#37810 Adds basic electronics to techwebs
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#37785 Replaces loose tech storage boards with spawners
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/vending/engivend.dm
  config/admins.txt
Labels: Code Improvement, Map Edit, Tweak

#37851 Send jquery asset when initializing tooltips
  code/modules/client/asset_cache.dm
  code/modules/tooltip/tooltip.dm
Labels: Fix

#37832 Fixes wumborian fugu dead sprite
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
  icons/mob/lavaland/64x64megafauna.dmi
  icons/mob/lavaland/lavaland_monsters.dmi
Labels: Fix, Sprites

#37715 Cleans up touch spells
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/godhand.dm
  code/modules/spells/spell_types/touch_attacks.dm
Labels: Code Improvement, Fix

#37665 Splits up round table initialize, start, end and shutdown
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/ticker.dm
Labels: SQL

#37823 Makes cult items less of a vomit coaster
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Balance/Rebalance

#37846 Small cult nerf do not be alarmed robustin think about your heart
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/turfs/simulated/floor/reinf_floor.dm
  code/modules/antagonists/cult/ritual.dm
Labels: Balance/Rebalance

#37853 Fixes wrong circuits
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/machinery/departmental_circuit_imprinter.dm
  code/modules/research/rdconsole.dm
  code/modules/vending/liberation_toy.dm
  code/modules/vending/toys.dm
Labels: Fix

#37850 Fixes fireaxe butchering.
  code/game/objects/items/twohanded.dm
Labels: Fix

#37840 Fixes meteors hitting qdeleted stuff.
  code/game/turfs/turf.dm
Labels: Fix

#37602 [Ready] Syndie air alarm/APC subtypes, cleaning up syndie lavaland piping
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  code/game/objects/items/storage/boxes.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/power/apc.dm
Labels: Code Improvement, Fix, Map Edit, Needs Review

#37860 [s] Fixes bioware surgery exploit
  code/modules/surgery/advanced/bioware/bioware.dm
  code/modules/surgery/advanced/bioware/nerve_grounding.dm
  code/modules/surgery/advanced/bioware/nerve_splicing.dm
  code/modules/surgery/advanced/bioware/vein_threading.dm
Labels: Fix

#37863 Fixes changeling team objectives (a bit)
  code/game/gamemodes/objective.dm
  code/modules/antagonists/changeling/changeling.dm
Labels: Fix

#37839 Fixes minor cleanbot runtime.
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Fix, Good First PR

#37730 Murderdome, a VR experience project w/ general VR improvements
  _maps/RandomZLevels/murderdome.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/area/areas/away_content.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/VR/vr_sleeper.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/awaymissionconfig.txt
Labels: Config Update, Map Edit

#37869 Adds Fernet, a digestif that reduces your satiety.
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/vending/boozeomat.dm
  icons/obj/drinks.dmi
Labels: Sprites

#37836 Circuit gun inhands and grabber fix
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
Labels: Feature, Fix, Sprites, Tweak

#37870 Fixes decon message pronouns
  code/modules/antagonists/clockcult/clockcult.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/revolution/revolution.dm
Labels: Fix

#37871 Fixes sharp weapons deconverting revs
  code/modules/antagonists/revolution/revolution.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Balance/Rebalance, Fix

#37834 The crashed abductor ship is now fully deconstructable
  _maps/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
Labels: Fix, Map Edit, Tweak

#37887 Fixes vent_clog bad chem id runtime
  code/modules/events/vent_clog.dm
Labels: Fix

#37888 Fixes container_resist runtimes
  code/game/machinery/cloning.dm
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#37883 Fixes soulstone runtime
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#37899 Fixes incorrect test merge feedback
  code/datums/helper_datums/getrev.dm
Labels: Feedback, Fix

#37725 Weeb jail updates
  _maps/map_files/generic/CentCom.dmm
Labels: Feature, Map Edit

#37877 Capitalizes Current Quirks
  code/modules/client/preferences.dm
Labels: Grammar and Formatting

#37876 Deltastation edits/fixes
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit

#37838 Query debug logging
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/dbconfig.dm
  code/controllers/subsystem/dbcore.dm
  code/game/world.dm
  code/modules/admin/topic.dm
  config/dbconfig.txt
Labels: Config Update, SQL

#37875 Fixes radimmune mobs being killed by high bursts of radiation
  code/modules/mob/living/living.dm
Labels: Fix

#37898 [s] Fixes oversight with foam
  code/modules/projectiles/ammunition/caseless/foam.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/reusable/foam_dart.dm
Labels: Fix

#37891 Cleans up clap bodypart check
  code/modules/mob/living/carbon/emote.dm
Labels: Code Improvement

#37896 Provides a link to round specific logs/stats on statbus when the round reboots.
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/ticker.dm
  config/config.txt
Labels: Config Update

#37903 Buffs the bioterror kit
  code/game/objects/items/storage/backpack.dm
Labels: Tweak

#37874 Removes inherent toxin damage from lipolicide
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Removal

#37908 Removes the ability for RD's to steal hand teles
  code/game/gamemodes/objective_items.dm
Labels: Removal, Tweak

#37895 Fixes mulligan for mutants
  code/modules/admin/create_mob.dm
Labels: Fix

#37911 Fix runtimes in mood rejuventation
  code/modules/mob/living/living.dm
Labels: Fix, PRB: No Update

#37890 [Ready] Adds "proper" solar/gold/silver crates
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Code Improvement, Map Edit

#37909 [READY] VR mind key transfer
  _maps/RandomZLevels/VR/murderdome.dmm
  code/modules/VR/vr_human.dm
  code/modules/VR/vr_sleeper.dm
  config/awaymissionconfig.txt
Labels: Config Update, Map Edit, Needs Review

#37822 Fixes experimentor pickweight and goo runtime
  code/modules/research/experimentor.dm
Labels: Fix, Tweak

#37881 Fixes mindswap book runtime
  code/game/objects/items/granters.dm
  code/modules/spells/spell_types/mind_transfer.dm
Labels: Fix

#37892 Fixes changeling runtime after ghosting
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/revive.dm
Labels: Fix

#37894 Fixes dizziness on some drinks
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Fix

#37607 [READY] Gives Stacking Machines and their consoles machine boards
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/mining/machine_stacking.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Needs Review

#37678 Improves descriptions of Integrated Circuits
  code/modules/integrated_electronics/passive/power.dm
  code/modules/integrated_electronics/subtypes/access.dm
  code/modules/integrated_electronics/subtypes/arithmetic.dm
  code/modules/integrated_electronics/subtypes/converters.dm
  code/modules/integrated_electronics/subtypes/data_transfer.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/lists.dm
  code/modules/integrated_electronics/subtypes/logic.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/integrated_electronics/subtypes/memory.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/integrated_electronics/subtypes/power.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/integrated_electronics/subtypes/time.dm
Labels: Grammar and Formatting, Tweak

#37448 [READY]Refactors techwebs to have different types of points - PR HAS NO GAMEPLAY IMPACT
  code/__DEFINES/research.dm
  code/controllers/subsystem/research.dm
  code/game/machinery/doppler_array.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/tesla/coil.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/__techweb_helpers.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/_techweb_node.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Needs Review, Refactor

#37833 [ready] cargo bounties
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cargo/bounties/item.dm
  code/modules/cargo/bounties/mech.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/cargo/bounties/science.dm
  code/modules/cargo/bounties/security.dm
  code/modules/cargo/bounties/slime.dm
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/bounties/virus.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/bounty_console.dm
  code/modules/cargo/export_scanner.dm
  code/modules/cargo/exports/gear.dm
  code/modules/cargo/exports/intel.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/exports/organs.dm
  code/modules/cargo/exports/seeds.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/cargo/exports/tools.dm
  code/modules/cargo/exports/weapons.dm
  code/modules/events/high_priority_bounty.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/shuttle/supply.dm
  icons/obj/computer.dmi
  tgstation.dme
Labels: Feature, Map Edit, Needs Review, Sprites

#37932 Changes default button for BoH confirmation prompt
  code/datums/components/storage/concrete/bag_of_holding.dm
Labels: Tweak

#37928 Comms consoles don't update while viewing messages
  code/game/machinery/computer/communications.dm
Labels: Fix

#37942 disables the chameleon gun from use
  code/game/objects/items/storage/uplink_kits.dm
Labels: Removal

#37939 Fix some issues with family heirloom spawning
  code/datums/traits/negative.dm
Labels: Fix

#37905 Fix RPD icons not showing in IE8
  tgui/assets/tgui.js
  tgui/src/interfaces/rpd.ract
  tgui/tgui.html
Labels: Fix, UI

#37633 Circuit Labels (sorta understanding git edition)
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/saved_circuits.dm
Labels: Feature

#37938 Fixes some issues with pacifism by disabling intent auto-switch
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/life.dm
Labels: Fix

#37927 Replaces nauseous with nauseated
  code/datums/diseases/advance/symptoms/vomit.dm
  code/datums/diseases/heart_failure.dm
  code/game/machinery/computer/arcade.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/liver.dm
Labels: Grammar and Formatting

#37600 Refactors hydrocarbon combustion + other general atmos code changes
  code/controllers/subsystem/air.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Refactor

#37925 Removes skewium from saferChems
  code/modules/events/vent_clog.dm
Labels: Balance/Rebalance, Removal
