Repository tgstation/tgstation, pull requests merged in 2018-10, with the labels that each got.

#40504 Adds syndicate balloon mood modifier for antagonists
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/toys.dm
Labels: Feature

#40587 Shows antag names in check antags for the few item created antagonists.
  code/modules/antagonists/blood_contract/blood_contract.dm
  code/modules/antagonists/magic_servant/servant.dm
  code/modules/antagonists/santa/santa.dm
Labels: Fix

#40594 Fixes morgues being able to consume ghosts, AI-eyes, etc.
  code/game/objects/structures/morgue.dm
Labels: Fix

#40592 fixes esword beepsky construction
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: Fix

#40501 Adds a "Launch Supplypod (Quick)" adminverb
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/cargo/expressconsole.dm
  code/modules/cargo/supplypod.dm
Labels: Administration

#40474 Standardizes bomb logging
  code/__HELPERS/_logging.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/devices/PDA/virus_cart.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/grenades/grenade.dm
  code/game/objects/items/hot_potato.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/game/turfs/simulated/minerals.dm
  code/modules/assembly/bomb.dm
  code/modules/assembly/timer.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/pizzabox.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/mining/ores_coins.dm
  code/modules/power/rtg.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: Code Improvement, Fix, Logging

#40506 Fixes shuttle overlapping with centcom supplypod bays
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Edit

#40617 Fixes new lights not respecting nightshift status
  code/modules/power/lighting.dm
Labels: Fix

#40614 Makes adding random kill/protect/etc objectives easier.
  code/game/gamemodes/objective.dm
Labels: Tweak

#39986 [Ready for Review/Testmerge]Adds scanner gates
  code/datums/diseases/_disease.dm
  code/game/data_huds.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/holosign.dm
  code/modules/jobs/access.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/machines/scangate.dmi
  sound/machines/scanbuzz.ogg
  tgstation.dme
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/scanner_gate.ract
Labels: Feature, Sound, Sprites, Stale, UI

#40528 [Ready] Fixing grabber's total ejection mode
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Fix, Needs Review

#40396 Separates youtube-dl from internet sound verb. admins can now specify pitch for internet sound
  code/modules/admin/verbs/playsound.dm
Labels: Code Improvement, Needs Review

#40456 Handheld IDs are valid for authentication
  code/game/machinery/_machinery.dm
  code/game/machinery/computer/apc_control.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/computer/communications.dm
  code/modules/cargo/console.dm
  code/modules/cargo/expressconsole.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/special.dm
  code/modules/vending/_vending.dm
Labels: Fix, Tweak

#40578 undoes some unneeded nerfs to plasma blasts
  code/modules/projectiles/projectile/special/plasma.dm
Labels: Balance/Rebalance

#40483 new icons for the forcefield projector and the atmos projector
  code/game/objects/items/devices/forcefieldprojector.dm
  code/game/objects/items/holosign_creator.dm
  icons/obj/device.dmi
Labels: Sprites

#40553 Allows traitor CMOs and Roboticists to purchase the brainwashing disk
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#40557 More orbit fixes
  code/datums/components/orbiter.dm
  code/game/machinery/dance_machine.dm
  code/modules/mob/mob_movement.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Fix

#40575 Runtimestation: Uplinks, darkroom, ARCD/RLD
  _maps/map_files/debug/runtimestation.dmm
  code/modules/uplink/uplink_devices.dm
Labels: Map Edit, Tweak

#40568 Tweaks reagent bounties
  code/modules/cargo/bounties/reagent.dm
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/bounty.dm
Labels: Tweak

#40569 Fixes borgs radio help message
  code/controllers/subsystem/job.dm
  code/modules/jobs/job_types/job.dm
  code/modules/jobs/job_types/silicon.dm
Labels: Fix

#40622 Restores Deoxyribonucleic Saboteur
  tgstation.dme
Labels: Fix

#40563 Adds clothing production for Botany
  code/game/machinery/washing_machine.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/loom.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/suits/armor.dm
  code/modules/crafting/recipes.dm
  code/modules/crafting/tailoring.dm
  code/modules/hydroponics/grown/cotton.dm
  code/modules/hydroponics/grown/rainbow_bunch.dm
  code/modules/vending/megaseed.dm
  icons/mob/head.dmi
  icons/mob/mask.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/growing_flowers.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/stack_objects.dmi
  tgstation.dme
Labels: Feature, Sprites

#40639 [s] Improves nanite logging
  code/modules/research/nanites/nanite_chamber.dm
  code/modules/research/nanites/nanite_chamber_computer.dm
  code/modules/research/nanites/nanite_programs.dm
  code/modules/research/nanites/nanite_programs/utility.dm
  code/modules/research/nanites/public_chamber.dm
Labels: Fix, Logging

#40636 Enables nanite viruses
  tgstation.dme
Labels: Fix

#40630 Removes an empty/unused .dm file
  code/modules/games/cards.dm
Labels: Code Improvement, Removal

#40673 Fixes ID cards not working with vendors
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Fix, Priority: CRITICAL

#40642 Adds punctuation to skeleton messages
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Grammar and Formatting

#40633 Allows alt-clicking to rotate assembled assemblies.
  code/modules/assembly/holder.dm
Labels: Fix

#40555 Re-adds showing your ID [GOOF YOU LITERALLY HAD TO CHANGE ONE WORD, GOD]
  code/game/objects/items/cards_ids.dm
Labels: Feature, Fix

#40648 Liver damage is now healed when fully_heal is called on carbon mobs
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#40643 Fixes rotation verbs.
  code/datums/components/rotation.dm
Labels: Fix

#40644 Fixes pacman power output not using displaypower
  code/modules/power/port_gen.dm
Labels: Fix

#40646 Fixes full cargo logs.
  code/modules/shuttle/supply.dm
Labels: Fix

#40641 Fixes free golems having incorrect dna names.
  code/game/objects/structures/ghost_role_spawners.dm
Labels: Fix

#40628 Updates Implant Pads
  code/game/objects/items/implants/implant_track.dm
  code/game/objects/items/implants/implantpad.dm
  code/modules/research/designs/medical_designs.dm
Labels: Code Improvement, Fix

#40629 Adds icon for underpowered emitters
  code/modules/awaymissions/mission_code/challenge.dm
  code/modules/power/singularity/emitter.dm
  icons/obj/singularity.dmi
  icons/obj/turrets.dmi
Labels: Fix, Sprites

#40675 Fixes nanite chamber logging runtime
  code/modules/research/nanites/nanite_chamber_computer.dm
Labels: Fix, PRB: No Update

#40671 Fixes loom runtime & attacking
  code/game/objects/structures/loom.dm
Labels: Fix

#40653 Slime Management Consoles no longer run on the energy of the monkeys you force to run on the hamster wheels inside of it.
  code/game/machinery/computer/camera_advanced.dm
Labels: Fix

#40660 crashed ship update
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
Labels: Map Edit, Tweak

#40623 Ash Drake Bug Fix and Latency Accounting
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
Labels: Balance/Rebalance, Fix

#40613 Fixes 4 nodes still having refences to the removed adv_bluespace techweb node
  code/modules/research/techweb/all_nodes.dm
Labels: Code Improvement, Fix

#40582 [QoL] Headset Channel Descriptions Are No Longer Hardcoded
  code/game/objects/items/devices/radio/headset.dm
Labels: Feature

#40682 Fixes tile icon in oldstation
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomZLevels/Academy.dmm
Labels: Fix, Map Edit

#40664 Overhaul mecha logging (revival of oranges's PR)
  code/__DEFINES/logging.dm
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/general.dm
  code/game/atoms.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_control_console.dm
  code/game/mecha/mecha_defense.dm
  code/game/mecha/mecha_topic.dm
  code/game/mecha/working/ripley.dm
  code/game/world.dm
  config/config.txt
Labels: Config Update, Removal, Tweak

#40680 Adds path blocker away helper.
  code/modules/awaymissions/away_props.dm
  icons/effects/mapping_helpers.dmi
Labels: Feature, Sprites

#40677 Remove Windows TGS4 PostCompile scripts
  tools/tgs4_scripts/PostCompile.bat
  tools/tgs4_scripts/PostCompile.ps1
Labels: Tools

#40721 Ignore carriage returns in map files when mapmerging
  tools/mapmerge2/dmm.py
Labels: Fix, Tools

#40626 Brings Ninja Adrenals closer to Traitor ones(without as much healing or stun resist)
  code/modules/ninja/suit/n_suit_verbs/ninja_adrenaline.dm
Labels: Balance/Rebalance

#40625 [Ready] Light bulbs shatter and hurt players when stepped on, spill plasma if rigged
  code/modules/power/lighting.dm
Labels: Needs Review, Tweak

#40491 Fixes default supplypods exploding their contents
  code/datums/explosion.dm
  code/game/atoms.dm
  code/modules/cargo/supplypod.dm
Labels: Fix

#40685 fixes missing durathread seed/wrong merge_type
  code/game/objects/items/stacks/sheets/sheet_types.dm
  icons/obj/hydroponics/seeds.dmi
Labels: Fix, Sprites

#40687 More variety for dorms bedsheets
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/structures/bedsheet_bin.dm
Labels: Map Edit, Tweak

#40659 Fixes vehicle bug which caused you to keep special actions when you were forcemoved out of them through weird means (Admin intervention, special items)
  code/modules/vehicles/sealed.dm
Labels: Fix

#40703 Cleans up rogue pixels on ghost sprites
  icons/mob/mob.dmi
Labels: Fix, Sprites

#40702 fixes hitscan increments not using the multiplier
  code/datums/position_point_vector.dm
Labels: Fix

#40704 Fixes forensics add_fingerprint runtime
  code/datums/components/forensics.dm
Labels: Fix

#40697 Fixes intellicard runtime
  code/game/objects/items/devices/aicard.dm
Labels: Fix, Logging

#40690 Fixes default religion preference runtime
  code/__DEFINES/jobs.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/civilian_chaplain.dm
Labels: Fix

#40692 Donut fixes
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Fix

#40674 Fixes spray bottle div/0 error
  code/modules/reagents/reagent_containers/spray.dm
Labels: Fix

#40654 Port paradise goonchat uridecode fix
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: Fix

#40647 Fixes pirates being able to ransom themselves to CentCom
  code/modules/events/pirates.dm
Labels: Fix

#40700 Microwaves now produce light!
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
Labels: Tweak

#40698 Fixes DNA scanner on_scanner_close runtime
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/dna_scanner.dm
Labels: Fix

#40709 Makes the slime fireproofing potion fireproof.
  code/modules/research/xenobiology/xenobiology.dm
Labels: Tweak

#40716 Readds tile decals to academy
  _maps/RandomZLevels/Academy.dmm
Labels: Fix, Map Edit

#40711 Fixes the mint toxin
  code/modules/food_and_drinks/food/snacks_other.dm
Labels: Fix

#40710 cleans my legacy and changes the shitty nutrition mood
  code/datums/mood_events/needs_events.dm
Labels: Tweak

#40649 Ticker subsystem cleanup
  code/_onclick/hud/alert.dm
  code/controllers/subsystem/ticker.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/modules/antagonists/clockcult/clock_items/clockwork_slab.dm
  code/modules/antagonists/clockcult/clock_scripture.dm
  code/modules/antagonists/clockcult/clockcult.dm
Labels: Code Improvement

#40585 Changes new holochip sprites so they increase in size every 1000x
  code/game/objects/items/credit_holochip.dm
Labels: Tweak

#40738 adds a >
  code/datums/mood_events/needs_events.dm
Labels: Fix, PRB: No Update

#40665 Revert "Improve youtube-dl subsystem (#40396)"
  code/modules/admin/verbs/playsound.dm
Labels: Revert

#40689 Ghosts can now see the AI's camera
  code/datums/components/lockon_aiming.dm
  code/game/machinery/computer/camera_advanced.dm
  code/modules/antagonists/abductor/machinery/camera.dm
  code/modules/antagonists/blob/blob/overmind.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/silicon/ai/login.dm
  code/modules/mob/living/silicon/ai/logout.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  icons/mob/blob.dmi
  icons/mob/cameramob.dmi
  icons/obj/abductor.dmi
Labels: Sprites, Tweak

#40662 Stops using the rad insulation component to provide default rad insulation features in order to save a bit of memory
  code/__DEFINES/components.dm
  code/__DEFINES/flags.dm
  code/__HELPERS/radiation.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/radiation.dm
  code/datums/components/rad_insulation.dm
  code/datums/radiation_wave.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed.dm
  code/game/turfs/simulated/wall/reinf_walls.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/power/singularity/collector.dm
  code/modules/recycling/disposal/bin.dm
  code/modules/recycling/disposal/holder.dm
  code/modules/recycling/disposal/outlet.dm
  code/modules/recycling/disposal/pipe.dm
Labels: Code Improvement

#40731 New ERT sprites by Memager
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#40718 Summon magic items now count as magical artifacts
  code/game/gamemodes/objective.dm
  code/modules/spells/spell_types/rightandwrong.dm
Labels: Fix

#40717 Adds more family heirlooms
  code/datums/traits/negative.dm
  code/game/objects/items/devices/flashlight.dm
Labels: Feature

#40588 if you have musician trait you can now choose which instrument you get
  code/datums/traits/good.dm
  code/game/objects/items/devices/instruments.dm
Labels: Tweak

#40720 Centcom Supplypods now come with a ghost announcement + follow link
  code/modules/cargo/centcom_podlauncher.dm
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/centcom_podlauncher.ract
Labels: Tweak, UI

#40730 Fixes the name of the syndicate infiltrator nuke storage windoor
  _maps/shuttles/infiltrator_basic.dmm
Labels: Grammar and Formatting, Map Edit

#40735 cleans up bone hurting juice messages
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Grammar and Formatting

#40736 Adds Skub Suicide
  code/game/objects/items/miscellaneous.dm
Labels: Feature

#40743 Fixes "floor is lava" covering everything
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/floor_is_lava.dm
Labels: Fix

#40744 Fixes badass syndrones not recieving their weapons_auth implant
  code/game/objects/items/implants/implant.dm
  code/game/objects/items/implants/implant_abductor.dm
  code/game/objects/items/implants/implant_explosive.dm
  code/game/objects/items/implants/implant_mindshield.dm
  code/game/objects/items/implants/implant_spell.dm
  code/game/objects/items/implants/implant_storage.dm
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
Labels: Fix

#40748 Allows toxins to be truly silent yet deadly.
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organs/liver.dm
Labels: Balance/Rebalance, Fix

#40726 Fixes ventcrawl runtime
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: Fix

#40728 Adds a space in occupied intellicard names
  code/game/objects/items/devices/aicard.dm
Labels: Grammar and Formatting

#40729 Makes modular computer examine text more robust
  code/modules/modular_computers/computers/_modular_computer_shared.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/modular_computers/hardware/ai_slot.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/modular_computers/hardware/card_slot.dm
  tgstation.dme
Labels: Code Improvement, Fix, Tweak

#40750 The necropolis tendril is anchored again.
  code/modules/mob/living/simple_animal/hostile/mining_mobs/necropolis_tendril.dm
Labels: Fix

#40752 Buttons are no longer indestructible
  _maps/RandomZLevels/VR/snowdin_VR.dmm
  _maps/RandomZLevels/VR/syndicate_trainer.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/machinery/buttons.dm
Labels: Fix, Map Edit

#40756 Rebalances KA cooldown modifier
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Balance/Rebalance

#40757 Buffs agent ID cards by giving them a line of examine text
  code/game/objects/items/cards_ids.dm
Labels: Fix, Tweak

#40786 Reverts the PR that fucks travis
  code/modules/mob/living/simple_animal/hostile/mining_mobs/necropolis_tendril.dm
Labels: Fix, Revert

#40767 Fixes canequip() missing arg runtime
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/monkey/inventory.dm
  code/modules/mob/living/simple_animal/friendly/drone/inventory.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
Labels: Fix

#40742 Fixes AI core dropping wrong circuit on decon
  code/__HELPERS/unsorted.dm
  code/game/machinery/computer/aifixer.dm
  code/game/mecha/mecha.dm
  code/game/objects/structures/ai_core.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Code Improvement, Fix

#40586 Makes fire alarm simpler
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/machinery/firealarm.dm
  icons/obj/monitors.dmi
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/firealarm.ract
Labels: Map Edit, Sprites, Tweak, UI

#40780 Gives departmental security more access
  code/modules/jobs/job_types/security.dm
Labels: Balance/Rebalance

#40779 Fixes PDAs not unlocking lockers.
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#40787 Add glowstick suicide
  code/game/objects/items/clown_items.dm
  code/game/objects/items/devices/flashlight.dm
Labels: Feature, Grammar and Formatting

#40746 Corrects blue space to bluespace
  code/game/objects/items/storage/backpack.dm
  code/modules/awaymissions/gateway.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/research/designs/bluespace_designs.dm
Labels: Grammar and Formatting

#40790 Fixes forced gravity component.
  code/datums/components/forced_gravity.dm
  code/game/area/areas.dm
Labels: Fix

#40766 Fixes admin_headset_message() runtime
  code/modules/admin/verbs/randomverbs.dm
Labels: Fix, Logging

#40723 Fixes delivery chute runtime
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/recycling/disposal/bin.dm
Labels: Fix

#40763 Fixes prepare_result() runtime
  code/modules/hydroponics/seeds.dm
Labels: Fix

#40764 Suiciding no longer counts towards completing the "Die a glorious death." objective
  code/game/gamemodes/objective.dm
Labels: Balance/Rebalance

#40795 makes asay support emoji
  code/modules/admin/verbs/adminsay.dm
Labels: Tweak

#40814 Fixes manual assasinate completion.
  code/game/gamemodes/objective.dm
Labels: Fix

#40810 Makes moths spawn with lamp heirloom only half the time
  code/datums/traits/negative.dm
Labels: Tweak

#40809 Allows door buttons to not synchronize opening/closing.
  code/game/machinery/buttons.dm
  code/modules/assembly/doorcontrol.dm
Labels: Feature

#40806 Spellchecked CPR & disarm attempt messages.
  code/modules/mob/living/carbon/human/species.dm
Labels: Grammar and Formatting

#40765 Sanity checks rdconsole/ui_techweb()
  code/modules/research/rdconsole.dm
Labels: Fix

#40804 Makes syndicate chestrigs (belts) and backpacks fireproof
  _maps/RandomZLevels/VR/syndicate_trainer.dmm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
Labels: Balance/Rebalance, Map Edit

#40807 Standing over lava now applies a cosmetic singing overlay to the mob.
  code/game/turfs/simulated/lava.dm
  code/modules/mob/living/carbon/update_icons.dm
Labels: Tweak

#40801 Prefixes the talking sword's spirt's name with "The spirit of"
  code/game/objects/items/holy_weapons.dm
Labels: Fix, Tweak

#40759 Fixes AI ghost icon not disappearing on death
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/silicon/ai/login.dm
  code/modules/mob/living/silicon/ai/logout.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  icons/mob/cameramob.dmi
Labels: Fix, Sprites

#40798 Fixes industrial satchel & dufflebag not having fireproof flag.
  code/game/objects/items/storage/backpack.dm
Labels: Fix

#40824 Removes invalid bible inhands
  code/game/objects/items/storage/book.dm
Labels: Fix, Removal

#40812 Adds armor to firesuits
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/utility.dm
Labels: Balance/Rebalance

#40805 Fixes human burning overlays not updating
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix

#40785 Stealthmode dsay now supports joke rank names
  code/__HELPERS/_string_lists.dm
  code/modules/admin/verbs/deadsay.dm
  config/admin_nicknames.json
  config/admin_nicknames.txt
Labels: Administration, Config Update

#40818 Allow updating BYOND version in only one location
  dependencies.sh
Labels: Continuous Integration

#40803 Makes ERT backpacks and spacesuits fireproof
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Balance/Rebalance

#40854 Cleans up pixel_y = 0 in crashedship.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
Labels: Code Improvement, Map Edit

#40839 [s]Stops pirates counterfeiting currency
  code/modules/events/pirates.dm
Labels: Fix

#40781 Add lost "cybernetic_lungs_u" design to the techweb node
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#40825 Typo fix for Nanite Program Cryogenic Treatment
  code/modules/research/nanites/nanite_programs/weapon.dm
Labels: Good First PR, Grammar and Formatting

#40831 Fixes the Elite Hardsuit not showing items in the eye or mouth slot when in combat mode
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Fix

#40878 Updates travis and removes a lie
  Dockerfile
Labels: Continuous Integration

#40882 Fixes AIs being unable to do shit
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix, PRB: No Update, Priority: High

#40788 Surgery cleanup
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/mob_helpers.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/advanced/bioware/bioware_surgery.dm
  code/modules/surgery/advanced/bioware/experimental_dissection.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/advanced/reconstruction.dm
  code/modules/surgery/advanced/revival.dm
  code/modules/surgery/advanced/viral_bonding.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/surgery.dm
Labels: Code Improvement, Fix

#40774 Suplex The Rod
  code/__DEFINES/medal.dm
  code/game/objects/structures/flora.dm
  code/modules/events/immovable_rod.dm
  code/modules/spells/spell_types/rod_form.dm
  icons/obj/flora/pinetrees.dmi
Labels: Feature, Sprites

#40843 Fixes hitting harvesters while using tool interactions
  code/game/machinery/harvester.dm
Labels: Fix

#40884 Fixes surgery.
  code/modules/surgery/helpers.dm
Labels: Fix, PRB: No Update

#40532 Makes the prices more reasonable.
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/firealarm.dm
  code/game/objects/items/RCD.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/power/apc.dm
  code/modules/power/cable.dm
  code/modules/vending/assist.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cigarette.dm
  code/modules/vending/drinnerware.dm
  code/modules/vending/engivend.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  code/modules/vending/megaseed.dm
  code/modules/vending/nutrimax.dm
  code/modules/vending/wardrobes.dm
  code/modules/vending/youtool.dm
Labels: Balance/Rebalance

#40888 Fixes AI eyes being visible to living humans
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Labels: Fix

#40868 [s] Fixes infinite loop in telecomms
  code/game/machinery/telecomms/machines/bus.dm
Labels: Fix

#40849 Ternary checktick so it can be used in if statements
  code/__DEFINES/_tick.dm
Labels: Code Improvement

#40886 Removes unused object proc
  code/game/objects/items/flamethrower.dm
Labels: Code Improvement

#40862 Fixes some steal magic dumbness.
  code/game/gamemodes/objective.dm
Labels: Code Improvement

#40872 Fixes servant_spawns empty list runtimes
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/modules/antagonists/clockcult/clock_scriptures/scripture_drivers.dm
Labels: Fix

#40851 Turns a runtime component sanity check into a unit test
  code/datums/components/_component.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/component_tests.dm
Labels: Continuous Integration

#40525 [Ready] Atmos trinary devices improvement
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
Labels: Code Improvement, Needs Review, Tweak

#40890 Cleans up some admin-transform related code
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/mob_transformation_simple.dm
Labels: Administration, Code Improvement

#40866 Fix ejecting tanks from canisters not behaving as expected
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: Fix, Good First PR

#40914 Gutlunches may now lunch on guts.
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
Labels: Fix

#40883 Hotfix for burnchamber mounted igniters
  code/game/machinery/igniter.dm
Labels: Fix

#40918 Add a fullstop when hitting a mecha does nothing
  code/game/mecha/mecha_defense.dm
Labels: Grammar and Formatting

#40873 New sprites for gases
  code/__DEFINES/atmospherics.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/flufftext/Hallucination.dm
  icons/effects/atmospherics.dmi
  icons/effects/tile_effects.dmi
Labels: Sprites

#40905 Makes anchored=FALSE spawners have move_resist so they ACTUALLY CAN BE MOVED
  code/game/objects/structures/ghost_role_spawners.dm
Labels: Fix
