Repository tgstation/tgstation, pull requests merged in 2018-07, with the labels that each got.

#38804 Adds a colour picker component for circuits
  code/modules/integrated_electronics/subtypes/input.dm
  icons/obj/assemblies/electronic_components.dmi
Labels: Feature, Sprites

#38816 Make travis use -verbose to get all the runtimes without limit
  tools/travis/build_byond.sh
Labels: Tools

#38847 Fixes extract most compatible genomes
  code/game/gamemodes/objective.dm
Labels: Fix

#38819 Misc Pubby fixes and tweaks
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/modules/power/tesla/energy_ball.dm
Labels: Code Improvement, Fix, Map Edit, Tweak

#38663 Admin spawnable version of the Death Ripley that actually inflicts damage and can rip arms off
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/working/ripley.dm
Labels: Feature

#38801 Changes the nutriment pump implant organ slot
  code/__DEFINES/DNA.dm
  code/modules/surgery/organs/augments_chest.dm
Labels: Fix, Tweak

#38825 Fixes simple rotation component deletion
  code/datums/components/rotation.dm
Labels: Fix

#38827 Prevent admins from giving mobs an invalid maxHealth
  code/modules/mob/living/living.dm
Labels: Administration

#38844 Fix circuit printer printing finished TEG machinery
  code/modules/research/designs/machine_designs.dm
Labels: Fix

#38799 Fixes some shard harddel stuff.
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
Labels: Fix

#38818 adds cardboard to biogen
  code/modules/hydroponics/biogenerator.dm
  code/modules/research/designs/biogenerator_designs.dm
Labels: Feature

#38840 Add a warning for bad design icons, fix existing instances
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
  code/modules/client/asset_cache.dm
  code/modules/modular_computers/computers/item/tablet.dm
Labels: Fix

#38850 Removes unnecessary double check for volume pump code
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
Labels: Code Improvement

#38835 Fix backpack water tank behavior, related fixes
  code/game/objects/items.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/tanks/watertank.dm
Labels: Fix

#38821 Stops engine heaters from passing atmos
  code/game/shuttle_engines.dm
Labels: Tweak

#38737 Makes bags of holding gib the user on boh detonation
  code/datums/components/storage/concrete/bag_of_holding.dm
Labels: Balance/Rebalance

#38853 SDQL where filter message is now correct
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Administration

#38867 Fixes gravity gun runtimes.
  code/modules/projectiles/ammunition/energy/gravity.dm
Labels: Fix

#38639 Allows empty borg shells to be disassembled.
  code/game/objects/items/robot/robot_parts.dm
Labels: Tweak

#38864 Fixes c4 runtime.
  code/game/turfs/simulated/floor.dm
Labels: Fix

#38865 Fixes quirks trying to apply to silicons
  code/controllers/subsystem/ticker.dm
Labels: Fix

#38868 Fixes blueprint overlays.
  code/game/objects/items/blueprints.dm
Labels: Fix

#38869 Fixes flipped TEG mode
  code/modules/atmospherics/machinery/components/binary_devices/circulator.dm
Labels: Fix, PRB: No Update

#38872 Fixes walls staying in pressure processing list
  code/game/turfs/closed.dm
Labels: Fix

#38874 Fixes hologram duplication.
  code/game/machinery/hologram.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Labels: Fix

#38876 Enables Cere escape shuttle
  code/datums/shuttles.dm
Labels: Tweak

#38892 [s] Fixes announcement XSS
  code/__HELPERS/priority_announce.dm
Labels: Fix, Security

#38866 Adds feedback to unlinked navigation consoles.
  code/modules/shuttle/navigation_computer.dm
Labels: Fix

#38879 Fixes nitryl gas not applying its effects.
  code/modules/surgery/organs/lungs.dm
Labels: Fix

#38852 Makes tear in the fabric of reality inaccessible until a boh bomb is detonated
  code/__DEFINES/turf_flags.dm
  code/datums/components/storage/concrete/bag_of_holding.dm
  code/game/machinery/navbeacon.dm
  code/game/objects/structures/ladders.dm
  code/game/turfs/change_turf.dm
Labels: Code Improvement, Fix, Tweak

#38809 Adds a craftable ghost costume
  code/__DEFINES/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/crafting/recipes.dm
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#38888 Clears stuff detected by SM's parser.
  code/game/machinery/computer/apc_control.dm
  code/game/machinery/computer/launchpad_control.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/vending/_vending.dm
Labels: Code Improvement

#38889 Fixes nuclear win condition for lost disk.
  code/modules/antagonists/nukeop/nukeop.dm
Labels: Fix

#38890 Adds minor byond version to feedback.
  code/controllers/subsystem/blackbox.dm
Labels: Feedback

#38798 Refactors component signals to properly register for specific signals
  code/__DEFINES/components.dm
  code/controllers/subsystem/dcs.dm
  code/datums/components/README.md
  code/datums/components/_component.dm
  code/datums/components/archaeology.dm
  code/datums/components/armor_plate.dm
  code/datums/components/beauty.dm
  code/datums/components/caltrop.dm
  code/datums/components/chasm.dm
  code/datums/components/cleaning.dm
  code/datums/components/construction.dm
  code/datums/components/decal.dm
  code/datums/components/decals/blood.dm
  code/datums/components/earhealing.dm
  code/datums/components/edit_complainer.dm
  code/datums/components/empprotection.dm
  code/datums/components/forensics.dm
  code/datums/components/infective.dm
  code/datums/components/jousting.dm
  code/datums/components/knockoff.dm
  code/datums/components/magnetic_catch.dm
  code/datums/components/material_container.dm
  code/datums/components/mood.dm
  code/datums/components/paintable.dm
  code/datums/components/radioactive.dm
  code/datums/components/riding.dm
  code/datums/components/rotation.dm
  code/datums/components/signal_redirect.dm
  code/datums/components/slippery.dm
  code/datums/components/spooky.dm
  code/datums/components/squeek.dm
  code/datums/components/stationloving.dm
  code/datums/components/storage/concrete/_concrete.dm
  code/datums/components/storage/storage.dm
  code/datums/components/swarming.dm
  code/datums/components/thermite.dm
  code/datums/components/uplink.dm
  code/datums/components/wearertargeting.dm
  code/datums/components/wet_floor.dm
  code/datums/datum.dm
  code/modules/holodeck/area_copy.dm
Labels: Refactor

#38911 Fixed Remove IV Container verb showing every nearby mob
  code/game/machinery/iv_drip.dm
Labels: Fix

#38899 Removes a lie
  config/maps.txt
Labels: Documentation, Removal

#38897 Makes the configured default map work
  code/controllers/subsystem/mapping.dm
Labels: Fix

#38901 Transfer air along with turfs when shuttles move
  code/game/turfs/change_turf.dm
  code/game/turfs/open.dm
  code/modules/shuttle/on_move.dm
Labels: Tweak

#38894 Makes lone nukeops spawn as often as originally intended
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Tweak

#38908 Adds a sprite for Glowcaps.
  code/modules/hydroponics/grown/mushrooms.dm
  icons/obj/hydroponics/growing_mushrooms.dmi
Labels: Sprites

#38893 Adds comments to _globals.dm
  code/__DEFINES/_globals.dm
Labels: Documentation

#38909 Add medical HUD icon if the body has died recently enough to be defibbed
  code/game/data_huds.dm
  code/modules/mob/living/death.dm
  icons/mob/hud.dmi
Labels: Sprites

#38927 Improves cargo shuttle/firefighting foam descs
  code/modules/cargo/console.dm
  code/modules/cargo/packs.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: Grammar and Formatting

#38932 Disables knockdown/throw on supply shuttle docking
  code/modules/shuttle/supply.dm
Labels: Fix

#38930 Cleans up other components destroys
  code/datums/components/uplink.dm
  code/datums/components/wearertargeting.dm
  code/modules/uplink/uplink_purchase_log.dm
Labels: Fix

#38929 Fixes animals trying to break map border
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Fix

#38931 Fixes pulse rifles exploding structures in nullspace and that sort of thing
  code/modules/projectiles/projectile/beams.dm
Labels: Fix

#38883 Bedsheets once again influence dreams.
  code/modules/flufftext/Dreaming.dm
Labels: Fix

#38902 Makes skirts more digitigrade leg friendly
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
Labels: Tweak

#38936 Cere shuttle no longer flies backwards
  _maps/shuttles/emergency_cere.dmm
Labels: Fix, Map Edit

#38937 Fixes quirk removal runtimes.
  code/datums/traits/good.dm
  code/datums/traits/neutral.dm
Labels: Fix

#38851 Makes some requested changes to mood
  code/__DEFINES/mobs.dm
  code/datums/brain_damage/special.dm
  code/datums/components/beauty.dm
  code/datums/components/mood.dm
  code/datums/looping_sounds/item_sounds.dm
  code/datums/mood_events/beauty_events.dm
  code/datums/status_effects/debuffs.dm
  code/game/area/areas.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/cleanable/aliens.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/decals/cleanable/robots.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/showcase.dm
  code/game/objects/structures/statues.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/lungs.dm
  tgstation.dme
Labels: Balance/Rebalance, Removal

#38828 Corazone actually does something
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix

#38922 Gibs squelch when walked over
  code/game/objects/effects/decals/cleanable/humans.dm
  sound/effects/gib_step.ogg
Labels: Feature, Sound

#38871 auto_name and directional APC's
  code/modules/power/apc.dm
Labels: Feature

#38951 Fixes ghost teleport runtime.
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#38941 Holy Weapon Back Sprites
  icons/mob/back.dmi
Labels: Good First PR, Sprites

#38255 AI detection multitools can show camera static and AI eyes
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/sight.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/picture_in_picture.dm
  code/_onclick/hud/plane_master.dm
  code/datums/holocall.dm
  code/datums/hud.dm
  code/game/data_huds.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/objects/items/devices/multitool.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
  code/modules/mob/living/silicon/ai/freelook/chunk.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Work In Progress

#38846 Block OOC during cinematics
  code/datums/cinematic.dm
Labels: Tweak

#38973 Trims config entries
  code/controllers/configuration/configuration.dm
Labels: Fix

#38967 Fixes smuggler's satchel init typo
  code/game/objects/items/storage/backpack.dm
Labels: Fix

#38960 Fixes tesla admin investigate spam
  code/modules/power/tesla/energy_ball.dm
Labels: Fix

#38958 Fixes wires not making sound when pulsed/cut
  code/datums/wires/_wires.dm
Labels: Fix

#38991 Fix mood component signal registering
  code/datums/components/mood.dm
Labels: Code Improvement

#38948 Fixes some object damage runtimes.
  code/game/objects/obj_defense.dm
Labels: Fix

#38980 Corrects a stat error in the Nuke Ops uplink
  code/modules/uplink/uplink_items.dm
Labels: Grammar and Formatting

#38962 Cleans up the forced gravity component and makes it use signals
  code/__DEFINES/components.dm
  code/datums/components/forced_gravity.dm
  code/game/area/areas.dm
Labels: Code Improvement

#38923 Crabs now look like they're moving when they move.
  icons/mob/animal.dmi
Labels: Sprites

#38988 Fixes blob victory.
  code/modules/antagonists/blob/blob/overmind.dm
Labels: Fix

#39011 [s] Adds missing logging to the staff of storms
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
Labels: Logging

#38953 New shuttle chair sprites by Ausops
  _maps/shuttles/arrival_box.dmm
  _maps/shuttles/arrival_delta.dmm
  _maps/shuttles/arrival_omega.dmm
  _maps/shuttles/arrival_pubby.dmm
  _maps/shuttles/assault_pod_default.dmm
  _maps/shuttles/emergency_asteroid.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_box.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_cramped.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_goon.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_mini.dmm
  _maps/shuttles/emergency_narnar.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/emergency_scrapheap.dmm
  _maps/shuttles/emergency_supermatter.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  _maps/shuttles/escape_pod_default.dmm
  _maps/shuttles/escape_pod_large.dmm
  _maps/shuttles/ferry_base.dmm
  _maps/shuttles/ferry_fancy.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  _maps/shuttles/ferry_meat.dmm
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/labour_box.dmm
  _maps/shuttles/labour_delta.dmm
  _maps/shuttles/mining_box.dmm
  _maps/shuttles/mining_delta.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/ruin_syndicate_fighter.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/game/objects/structures/beds_chairs/chair.dm
  goon/icons/obj/chairs.dmi
  icons/obj/chairs.dmi
Labels: Map Edit, Sprites

#38978 Makes hits from multitools sound as painful as they are.
  code/game/objects/items/devices/multitool.dm
Labels: Sound

#38994 Fix timer bug
  code/controllers/subsystem/timer.dm
Labels: Fix

#38992 Fix Reebe not loading when clockcult is set
  code/controllers/subsystem/mapping.dm
Labels: Fix

#38964 Gives the L6 SAW a small amount of spread
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Tweak

#38990 Allow players to un-ignore previously ignored popups for ghostroles, and ignore notifications with no ignore button
  code/_globalvars/lists/poll_ignore.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/clockcult/clock_items/construct_chassis.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/observer/notificationprefs.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/simple_animal/friendly/drone/drones_as_items.dm
  code/modules/mob/mob_helpers.dm
  tgstation.dme
  tgui/assets/tgui.js
  tgui/src/interfaces/notificationpanel.ract
Labels: Feature, UI

#39019 Fix and optimize Dockerfile
  Dockerfile
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/tgui.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/emotes.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/spells/spell_types/spacetime_distortion.dm
Labels: Fix, Performance

#39025 Fixes nukeop eshield not being buyable
  code/modules/uplink/uplink_items.dm
Labels: Fix

#38950 Fixes gravgun more
  code/modules/projectiles/ammunition/energy/gravity.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special/gravity.dm
Labels: Fix

#38976 Removes underscore from name of greater than or equal circuit
  code/modules/integrated_electronics/subtypes/logic.dm
Labels: Grammar and Formatting

#38963 Changiling revive stasis no longer blocked by biological and chemical weapons.
  code/modules/antagonists/changeling/powers/fakedeath.dm
Labels: Fix

#38997 Ghetto cargo caching
  .travis.yml
Labels: CI/Integration

#38998 Touches up the engine heater sprite so it's obvious they don't block air
  code/game/shuttle_engines.dm
  icons/turf/shuttle.dmi
Labels: Sprites, Tweak

#39003 Fixes multiple fire damage on clothes
  code/modules/mob/living/carbon/human/species.dm
Labels: Balance/Rebalance, Fix

#39001 Adds recreational beer nukes to more maps
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Map Edit

#39012 Drops DF_USE_TAG in core Destroy.
  code/datums/datum.dm
Labels: Fix

#39014 Fixes admin gibbing runtiming.
  code/controllers/subsystem/blackbox.dm
Labels: Fix

#39015 Removes ai status display process
  code/game/machinery/status_display.dm
Labels: Fix, Performance, Removal

#39005 Fixes romerol zombifying alive hosts
  code/modules/zombie/organs.dm
Labels: Fix

#39000 Fixes defib timer runtimes.
  code/modules/mob/living/death.dm
Labels: Fix

#39016 Makes getrev not smoothbrain when there's no .git folder
  code/datums/helper_datums/getrev.dm
Labels: Fix

#39020 Makes the ERT commander's sword great again
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#39017 Adds time to explosions saved in the feedback table
  code/controllers/subsystem/blackbox.dm
  code/datums/explosion.dm
Labels: Feedback

#39007 Removes grab-buckle shortcuts from power machinery
  code/modules/power/rtg.dm
  code/modules/power/singularity/generator.dm
  code/modules/power/tesla/coil.dm
Labels: Fix, Removal

#38954 Renames the squeak component file and cleans up a little registry
  code/datums/components/squeak.dm
  tgstation.dme
Labels: Code Improvement

#39002 Changes bomb clothes damage a bit.
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Balance/Rebalance, Fix

#39027 Fixes the ghost sheet's broken icon
  code/modules/clothing/suits/miscellaneous.dm
  icons/obj/clothing/suits.dmi
Labels: Sprites

#39035 Fixes navigation computers.
  code/modules/shuttle/navigation_computer.dm
Labels: Fix, PRB: No Update

#39044 Fixes burgers icons.
  code/modules/food_and_drinks/food/customizables.dm
Labels: Fix

#39054 Adds missing merge_type to mineral sheets
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Fix

#39063 Stops extinguishers from cooling turfs to absolute zero.
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#38939 Fixes non-silicons being able to use machines without being adjacent
  code/game/machinery/_machinery.dm
Labels: Fix

#39006 Unintentional emotes no longer complain while restrained or unconscious
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/say.dm
Labels: Fix

#39028 Delete random .gitignore
  .gitignore
  _maps/.gitignore
Labels: Code Improvement, Map Edit

#39034 Updates the ninja holding facility
  _maps/map_files/generic/CentCom.dmm
Labels: Map Edit, Tweak

#39043 Fixes minor genetics scanner runtime.
  code/game/machinery/computer/dna_console.dm
Labels: Fix

#39053 Fixes golem traits, info texts, adds more random names
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Fix, Grammar and Formatting, Tweak

#39055 Fixes porta_turret and decal shuttle rotations
  code/__DEFINES/components.dm
  code/datums/components/README.md
  code/datums/components/_component.dm
  code/datums/components/decal.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/shuttle/shuttle_rotate.dm
Labels: Fix

#39052 Adds Rest hud button, adds small delay to getting up
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/alien.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/monkey.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  icons/mob/screen_clockwork.dmi
  icons/mob/screen_midnight.dmi
  icons/mob/screen_operative.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slimecore.dmi
Labels: Balance/Rebalance, Feature, Sprites

#38977 Fermentation Barrels
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/hydroponics/grown/apple.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/hydroponics/grown/cereals.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/cocoa_vanilla.dm
  code/modules/hydroponics/grown/corn.dm
  code/modules/hydroponics/grown/eggplant.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/grass_carpet.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/hydroponics/grown/pineapple.dm
  code/modules/hydroponics/grown/potato.dm
  code/modules/hydroponics/grown/pumpkin.dm
  code/modules/hydroponics/grown/random.dm
  code/modules/hydroponics/grown/root.dm
  code/modules/hydroponics/grown/tea_coffee.dm
  code/modules/hydroponics/grown/tobacco.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/obj/objects.dmi
  tgstation.dme
Labels: Feature, Sprites

#39024 Rebalance of L6 SAW ammo choices
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance

#39059 Makes the squeak component slightly more horrifying
  code/__DEFINES/components.dm
  code/datums/components/squeak.dm
  code/game/objects/items.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/recycling/disposal/holder.dm
Labels: Feature

#39049 Var menu has a dropdown for granting martial arts.
  code/datums/datumvars.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Administration, Good First PR

#39038 [Ready]Maintenance pills
  code/_globalvars/lists/maintenance_loot.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/obj/chemical.dmi
Labels: Feature, Needs Review, Sprites

#38982 Adds a new shuttle loan event, tweaks others
  code/game/objects/items/storage/belt.dm
  code/modules/events/shuttle_loan.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
Labels: Balance/Rebalance, Feature, Grammar and Formatting, Tweak

#39039 Fixes nukeop ending conditions.
  code/game/gamemodes/nuclear/nuclear.dm
Labels: Fix

#39083 Fixes zealot's blindfold cultist check/legion corpse
  code/modules/antagonists/cult/cult_items.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Fix

#39067 Adds a unit test that spawns some humans and waits a bit
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/spawn_humans.dm
Labels: CI/Integration

#39089 Fixes icons/obj/objects.dmi
  icons/obj/objects.dmi
Labels: PRB: No Update, Sprites

#38949 adds narsie plushie and ratvar plushie on chaplain vendor
  code/modules/vending/wardrobes.dm
Labels: Feature

#38956 Makes magnetic catch cleaner in game
  code/__DEFINES/components.dm
  code/datums/components/magnetic_catch.dm
  code/datums/components/storage/storage.dm
  code/game/atoms_movable.dm
Labels: Fix, Refactor

#39081 [s]Fixes an exploit
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Fix

#38764 Seperates map reader parsing from loading
  code/controllers/subsystem/mapping.dm
  code/modules/mapping/dmm_suite.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/reader.dm
  code/modules/procedural_mapping/mapGenerators/repair.dm
Labels: 1000 Years Later, Needs Review, Refactor

#39070 Pizza delivery event now has a chance to add nanomachines to a pizza
  code/modules/events/shuttle_loan.dm
  code/modules/food_and_drinks/food/snacks_pizza.dm
  code/modules/food_and_drinks/pizzabox.dm
Labels: Feature

#39085 flightsuit speed rebalancing
  code/modules/mob/living/carbon/human/species.dm
Labels: Balance/Rebalance

#39105 Fixes TRAIT_STABLEHEART not counting for lack of heart
  code/modules/mob/living/carbon/life.dm
Labels: Fix

#39079 Replaces most static ingame manuals with wiki versions
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_golem_ship.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomZLevels/beach2.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/pirate_default.dmm
  code/game/objects/items/gift.dm
  code/game/objects/items/manuals.dm
  code/modules/library/lib_items.dm
Labels: Map Edit, Tweak

#39086 Fixes being unable to build rice hats
  code/modules/research/designs/biogenerator_designs.dm
Labels: Fix, PRB: No Update

#39092 Adds locator to techwebs, tweaks name/desc
  code/game/objects/items/teleportation.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#39093 Increases some projectile's radiation damage to post refactor levels
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy/misc.dm
Labels: Balance/Rebalance

#39095 Makes deep-fried limbs etc visible
  code/modules/food_and_drinks/food/snacks_bread.dm
Labels: Fix

#39097 Removed delay from rustle1.ogg
  sound/effects/rustle1.ogg
Labels: Sound

#39032 Reworks zombie revival
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/zombie/organs.dm
Labels: Balance/Rebalance

#39013 Added max and min circuit
  code/modules/integrated_electronics/subtypes/arithmetic.dm
Labels: Feature, Good First PR

#39036 Fixes MMIs in borgs dying to ash storms.
  code/datums/weather/weather_types/ash_storm.dm
Labels: Fix

#39080 Blacklists machine frames from tesla zaps
  code/modules/power/tesla/energy_ball.dm
Labels: Tweak

#39073 Adds world parameter to change the config directory
  code/__DEFINES/misc.dm
  code/controllers/configuration/configuration.dm
  code/game/world.dm
Labels: Code Improvement

#39126 Fixes config loading
  code/controllers/configuration/configuration.dm
Labels: Fix, PRB: No Update, Priority: CRITICAL

#39124 [s] Fixes SM-megafauna server crash exploit
  code/modules/mob/living/death.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/power/supermatter/supermatter.dm
  config/admins.txt
Labels: Config Update, Fix, In Game Exploit, Priority: High

#39102 Fixes plasmamen detective runtime.
  code/modules/jobs/job_types/security.dm
Labels: Fix

#39115 Fixes emote runtimes
  code/datums/brain_damage/split_personality.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#39113 Fixes bounty console build_path
  code/game/objects/items/circuitboards/computer_circuitboards.dm
Labels: Fix

#39119 Fix Shuttle Manipulator admin verb
  code/modules/shuttle/manipulator.dm
Labels: Administration, Fix

#39104 Some A* and medbot sanity.
  code/__HELPERS/AStar.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Fix

#39139 Makes damage precision explicit
  code/__DEFINES/combat.dm
  code/game/objects/obj_defense.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Code Improvement, Fix, Priority: High

#39125 Fix missing icons for mining data cards
  code/modules/mining/machine_vending.dm
Labels: Fix

#39132 Stops various machines from processing needlessly
  code/controllers/subsystem/shuttle.dm
  code/game/machinery/recharger.dm
  code/game/machinery/spaceheater.dm
  code/game/machinery/status_display.dm
  code/game/objects/structures/watercloset.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/power/lighting.dm
  code/modules/vending/_vending.dm
Labels: Code Improvement, Performance

#39111 Custom names refactor
  code/_globalvars/lists/names.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Fix, Refactor, Test Merge Candidate, Tweak

#39127 Fixed round end notify chat command
  code/modules/admin/chat_commands.dm
Labels: Fix
