Repository tgstation/tgstation, pull requests merged in 2018-09, with the labels that each got.

#40025 Removes Curator's phobia of snakes, because it's retarded
  code/modules/jobs/job_types/civilian.dm
Labels: Removal

#39955 Makes a lot of subsystems' Initialize return ..()
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/disease.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/icon_smooth.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machines.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/medals.dm
  code/controllers/subsystem/minimap.dm
  code/controllers/subsystem/overlays.dm
  code/controllers/subsystem/persistence.dm
  code/controllers/subsystem/processing/quirks.dm
  code/controllers/subsystem/server_maint.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/weather.dm
Labels: Code Improvement

#40018 Makes reinforced floors shinier.
  icons/turf/floors.dmi
Labels: Sprites

#39971 Makes DB calls before core Login call async.
  code/modules/jobs/job_exp.dm
Labels: SQL, Test Merge Candidate

#40031 Fixes Fedora having armor values
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
Labels: Fix

#39914 Fixes and tweaks defib nanites
  code/modules/research/nanites/nanite_programs/healing.dm
Labels: Fix

#40042 Fixes vending machines not updating their interface on use
  code/modules/vending/_vending.dm
Labels: Fix, Test Merge Candidate

#39992 Fixes tentacles
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
Labels: Fix

#39907 Re-add script for updating map paths
  tools/mapmerge2/dmm.py
  tools/mapmerge2/update_paths.py
Labels: Tools

#40043 fixes beam rifles opening lockers
  code/modules/projectiles/guns/misc/beam_rifle.dm
Labels: Fix

#39964 [Ready]Logs when speech is forced by an external factor
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/phobia.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/diseases/parrotpossession.dm
  code/datums/diseases/pierrot_throat.dm
  code/datums/diseases/transformation.dm
  code/datums/diseases/wizarditis.dm
  code/datums/martial/plasma_fist.dm
  code/datums/mutations/body.dm
  code/game/atoms.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/recycler.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/religion.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/obj_defense.dm
  code/game/say.dm
  code/game/turfs/simulated/walls.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/blob/blob/overmind.dm
  code/modules/antagonists/clockcult/clock_mobs/_eminence.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/accessories.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/living/brain/say.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/ai/say.dm
  code/modules/mob/living/silicon/pai/say.dm
  code/modules/mob/living/simple_animal/hostile/bosses/boss.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_adrenaline.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_net.dm
  code/modules/paperwork/contract.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/projectiles/projectile/special/hallucination.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/nanites/nanite_programs/suppression.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/area_teleport.dm
  code/modules/spells/spell_types/godhand.dm
  code/modules/spells/spell_types/wizard.dm
Labels: Fix, Logging, Needs Review

#40050 [WIP] custom portal spawners
  code/datums/browser.dm
  code/modules/admin/secrets.dm
Labels: Administration, Work In Progress

#40067 Revert "[WIP] custom portal spawners"
  code/datums/browser.dm
  code/modules/admin/secrets.dm
Labels: Revert, Work In Progress

#40027 Outfit copy helper.
  code/datums/datumvars.dm
  code/modules/clothing/outfits/vv_outfit.dm
  code/modules/mob/living/carbon/human/human.dm
  tgstation.dme
Labels: Feature

#40064 Removes an unused gun var
  code/modules/projectiles/gun.dm
Labels: Code Improvement, Removal

#40061 Fixes mobs getting stuck at min/max body temperature
  code/modules/mob/status_procs.dm
Labels: Fix

#39454 [READY] Giving circuits possibility to load item while in assembly
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Code Improvement, Needs Review, Tweak

#40022 Changes name and adds plantname to egg-plant seeds.
  code/modules/hydroponics/grown/eggplant.dm
Labels: Fix

#40059 Improve supermatter Consume logging
  code/modules/power/supermatter/supermatter.dm
Labels: Administration, Fix

#39915 [READY] The AI can now think like a true intellectual
  code/game/machinery/status_display.dm
  code/modules/mob/living/silicon/ai/ai.dm
  icons/emoji.dmi
  icons/mob/ai.dmi
  icons/obj/status_display.dmi
Labels: Needs Review, Sprites

#40049 Delta: Nanite lab, tweaks/fixes
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/shuttles/emergency_cere.dmm
Labels: Fix, Map Edit, Tweak

#40072 Allow duplicate outputs in the path updater
  tools/mapmerge2/update_paths.py
Labels: Tools

#40073 Fix stealth box and chameleon projector escaping lockers
  code/datums/action.dm
  code/game/objects/items/devices/chameleonproj.dm
Labels: Fix

#39459 Remove SSminimap
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/minimap.dm
  config/config.txt
  icons/minimaps/Box Station_2.png
  icons/minimaps/Delta Station_2.png
  icons/minimaps/MetaStation_2.png
  icons/minimaps/OmegaStation_2.png
  tgstation.dme
  tools/deploy.sh
Labels: Config Update, Removal, Sprites, Tools

#35613 Slime renaming potion
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Feature, Stale

#39717 [Ready][?] Robustin's cult nerf, back from the dead.
  code/__DEFINES/cult.dm
  code/__DEFINES/traits.dm
  code/game/objects/items/storage/book.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/simple_animal/constructs.dm
  icons/effects/32x64.dmi
Labels: Balance/Rebalance, Feature, Needs Review, Sprites, Tweak

#40084 fixes lastattacker not including unarmed attacks
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#40103 Health sensor's detect death mode triggers on -100 health, not -90
  code/modules/assembly/health.dm
Labels: Tweak

#40019 Gives IAA its own preference
  code/__DEFINES/role_preferences.dm
  code/game/gamemodes/traitor/double_agents.dm
  code/game/gamemodes/traitor/traitor.dm
Labels: Fix

#40119 Fixes stack_trace typo
  code/modules/lighting/lighting_corner.dm
Labels: Grammar and Formatting

#40113 Fixes alien organ gc
  code/modules/mob/living/carbon/alien/organs.dm
Labels: Fix

#40078 Improve accuracy of shuttle ripple removal
  code/modules/shuttle/docking.dm
Labels: Fix

#40082 Fix "Ghost poll description" button in the ERT spawn form
  code/modules/admin/verbs/one_click_antag.dm
Labels: Administration, Fix

#40102 Should fix vanishing chems (Issue #39045)
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#40081 Fix research points generating during lobby
  code/controllers/subsystem/research.dm
Labels: Fix

#40074 Fix runtime on navigation computer first use
  code/modules/shuttle/navigation_computer.dm
Labels: Fix

#40091 Make shuttle getStatusText more useful
  code/modules/shuttle/shuttle.dm
Labels: Tweak

#40121 Cleans up mixed space & tab usage
  code/datums/mood_events/generic_negative_events.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/machinery/doors/poddoor.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/crates_lockers/closets/secure/supplypod.dm
  code/game/objects/structures/plasticflaps.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_parser.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/power/singularity/singularity.dm
  code/modules/procedural_mapping/mapGenerators/repair.dm
  code/modules/projectiles/ammunition/caseless/misc.dm
  code/modules/projectiles/boxes_magazines/external/rechargable.dm
Labels: Code Improvement

#40100 Projectile firer var changed to any movable.
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/items/chrono_eraser.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/carbon/monkey/combat.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/projectiles/ammunition/special/magic.dm
  code/modules/projectiles/projectile.dm
Labels: Fix, Refactor

#39949 [Ready] Adds examine descs, air alarm construction descs
  code/game/machinery/aug_manipulator.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/harvester.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/cargo/supplypod_beacon.dm
  code/modules/detectivework/scanner.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/paperwork/paperplane.dm
  code/modules/photography/camera/camera.dm
  code/modules/research/nanites/nanite_hijacker.dm
  code/modules/vehicles/ridden.dm
Labels: Grammar and Formatting

#40124 Changes SSU "disinfect" to "decontaminate"
  tgui/assets/tgui.js
  tgui/src/interfaces/suit_storage_unit.ract
Labels: Grammar and Formatting, UI

#40123 Corrects terminal punctuation mistakes.
  code/modules/admin/topic.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/vehicles/vehicle_actions.dm
Labels: Grammar and Formatting

#40136 Fixes a missing <i>
  code/game/objects/structures/musician.dm
Labels: Fix

#40133 Quick cult fixes
  code/game/objects/items/storage/book.dm
  code/modules/antagonists/cult/cult.dm
Labels: Code Improvement, Fix

#40086 Puts the custom error handler behind its own define
  code/__HELPERS/_logging.dm
  code/_compile_options.dm
  code/game/world.dm
  code/modules/error_handler/error_handler.dm
  code/modules/error_handler/error_viewer.dm
Labels: Code Improvement

#40142 Fixes nanite chambers not working under windows
  code/modules/research/nanites/nanite_chamber.dm
  code/modules/research/nanites/public_chamber.dm
Labels: Fix

#39985 Remove base types from get_random_drink()
  code/__HELPERS/unsorted.dm
Labels: Fix

#40077 bike horns and most things that have the squeak component no longer triggers from projectiles flying past them
  code/datums/components/squeak.dm
Labels: Fix, Tweak

#40106 SMES can no longer output to nowhere.
  code/modules/power/power.dm
  code/modules/power/smes.dm
Labels: Fix

#40118 Fixes infinite immortality talisman sales, adds cooldown message
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix, Grammar and Formatting

#40147 Fixes pubby's missing tiles and a cleans a few other maps.
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/vaporwave.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/shuttles/emergency_cere.dmm
Labels: Fix, Map Edit

#40135 Remove useless input specifiers from photography code
  code/modules/photography/camera/camera.dm
Labels: Code Improvement

#40127 Turns laser techshells into scattershot shells
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/crafting/recipes.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/ammunition/caseless/misc.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Balance/Rebalance

#40126 [READY] New bluespace floor tiles
  icons/turf/floors.dmi
Labels: Needs Review, Sprites

#40149 Makes hand drills a better ghetto alternative for the surgical drill then regular screwdrivers
  code/modules/surgery/organic_steps.dm
Labels: Tweak

#40129 [READY] Making selfreferences finally reference themselves
  code/__DEFINES/integrated_electronics.dm
  code/modules/integrated_electronics/core/debugger.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/integrated_electronics/core/special_pins/ref_pin.dm
  code/modules/integrated_electronics/core/special_pins/selfref_pin.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  tgstation.dme
Labels: Fix, Needs Review

#40045 [READY] playsound performance
  code/controllers/subsystem/mobs.dm
  code/game/sound.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/dead/observer/login.dm
  code/modules/mob/dead/observer/logout.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob_defines.dm
Labels: Needs Review, Performance

#40029 Makes usage of Nar-Sie consistent
  code/__DEFINES/construction.dm
  code/_onclick/hud/alert.dm
  code/datums/mind.dm
  code/datums/status_effects/buffs.dm
  code/game/gamemodes/clock_cult/clock_cult.dm
  code/game/gamemodes/cult/cult.dm
  code/game/objects/effects/temporary_visuals/cult.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/plushes.dm
  code/modules/admin/verbs/pray.dm
  code/modules/antagonists/clockcult/clock_effects/clock_sigils.dm
  code/modules/antagonists/clockcult/clock_effects/general_markers.dm
  code/modules/antagonists/clockcult/clock_helpers/ratvarian_language.dm
  code/modules/antagonists/clockcult/clock_items/clock_components.dm
  code/modules/antagonists/clockcult/clock_items/clockwork_slab.dm
  code/modules/antagonists/clockcult/clock_items/wraith_spectacles.dm
  code/modules/antagonists/clockcult/clock_structures/ocular_warden.dm
  code/modules/antagonists/clockcult/clock_structures/ratvar_the_clockwork_justicar.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/awaymissions/mission_code/stationCollision.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/events/holiday/vday.dm
  code/modules/language/narsian.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/power/singularity/narsie.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/spells/spell_types/construct_spells.dm
  strings/cas_white.txt
  strings/tips.txt
Labels: Grammar and Formatting

#40148 Footprints scale with the amount of blood in the decal
  code/__DEFINES/misc.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/mob/living/blood.dm
Labels: Tweak

#40145 Adds meat donuts
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Feature

#40139 Legacy defined ranks and admins now synced to db
  code/__HELPERS/roundend.dm
  code/modules/admin/admin_ranks.dm
Labels: Administration, SQL

#39928 Allows revoting on text polls.
  code/modules/mob/dead/new_player/poll.dm
Labels: Feature

#40157 make stimulum less garbage
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Balance/Rebalance

#40156 Nerfs tabling.
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#40154 Automatically determine shuttle size and offsets from template
  code/datums/shuttles.dm
Labels: Code Improvement

#40146 standardizes pubby atmospherics
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Fix, Map Edit

#40172 Fix orbit-causing verbs breaking sounds for ghosts that jump between z-levels as a result of an orbit update
  code/modules/orbit/orbit.dm
Labels: Fix, PRB: No Update, Priority: High

#39891 .38 no longer insta stuns
  code/modules/projectiles/projectile/bullets/revolver.dm
Labels: Balance/Rebalance

#40060 Adds Improvised Jetpacks
  code/game/objects/items/tanks/jetpack.dm
  code/modules/crafting/recipes.dm
  icons/obj/tank.dmi
Labels: Feature, Sprites

#40188 Fixes defib mounts
  code/game/machinery/defibrillator_mount.dm
Labels: Fix

#40186 Fixes maint rebuilds of APCs
  code/game/objects/items/apc_frame.dm
Labels: Fix

#40194 Significantly slows down broken bar sign animation as to prevent possible seizures
  icons/obj/barsigns.dmi
Labels: Sprites

#40197 Reduces liver failure damage, makes it more obvious
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/liver.dm
Labels: Balance/Rebalance, Grammar and Formatting, Tweak

#40191 Fixes Deltastation CMO/Morgue disposals
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#40196 Shows buffer info when examining multitools+quantum pads
  code/game/machinery/quantum_pad.dm
  code/game/objects/items/devices/multitool.dm
Labels: Fix, Grammar and Formatting, Tweak

#40182 Rebuffs stamina knockdown time from 70ds to 100ds
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance/Rebalance

#40161 Adds Camera, Animals, Banners, and Plushies to The Emoji Roster
  icons/emoji.dmi
Labels: Feature, Sprites

#40204 Unlocks AI Multicamera Mode, now with config.
  code/controllers/configuration/entries/game_options.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  config/game_options.txt
Labels: Config Update, Tweak

#40159 Emergency shuttle fix and tweaks
  _maps/shuttles/emergency_asteroid.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_imfedupwiththisworld.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_supermatter.dmm
Labels: Fix, Map Edit, Tweak

#40066 Radiation balance tweaks
  code/__DEFINES/radiation.dm
  code/datums/components/radioactive.dm
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/watercloset.dm
Labels: Balance/Rebalance, Feature

#40225 Adds plasmaman EVA suits to cargo
  code/modules/cargo/packs.dm
Labels: Feature

#40226 Fix lathe category of botany items
  code/modules/research/designs/machine_designs.dm
Labels: Fix

#40231 [WEBBIT/NOT TESTED] Centcom are no longer crooks when it comes to adamantine bounty
  code/modules/cargo/bounties/item.dm
Labels: Fix

#40219 Stops light bulbs from burning heat resistant hands
  code/modules/power/lighting.dm
Labels: Fix, Test Merge Candidate

#40207 Fixes various missing texture errors
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/RandomRuins/SpaceRuins/turretedoutpost.dmm
  _maps/shuttles/emergency_raven.dmm
Labels: Fix, Map Edit

#40184 Bees only inject the reagent they were mutated with
  code/modules/mob/living/simple_animal/hostile/bees.dm
Labels: Balance/Rebalance

#40233 Small code improvement pass on crayons
  code/game/objects/items/crayons.dm
Labels: Code Improvement

#40046 Adds departmental protolathe items, techweb tweaks
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/bluespace_designs.dm
  code/modules/research/designs/electronics_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/designs/smelting_designs.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/machinery/protolathe.dm
  code/modules/research/machinery/techfab.dm
  code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: Balance/Rebalance, Feature, Fix, Tweak

#40224 Adds Gonbolas
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/handcuffs.dm
  code/modules/crafting/recipes.dm
  icons/obj/items_and_weapons.dmi
Labels: Feature, Sprites

#40239 Fixes revenant throwing
  code/modules/antagonists/revenant/revenant.dm
Labels: Fix

#40200 Makes lockon_aiming component work with mobs inside objects
  code/__HELPERS/mouse_control.dm
Labels: Code Improvement

#40105 Ports paradise's modular buildmode
  code/__DEFINES/misc.dm
  code/_onclick/ai.dm
  code/_onclick/observer.dm
  code/modules/admin/verbs/buildmode.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/buildmode/README.md
  code/modules/buildmode/bm_mode.dm
  code/modules/buildmode/buildmode.dm
  code/modules/buildmode/buttons.dm
  code/modules/buildmode/effects/line.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/buildmode/submodes/boom.dm
  code/modules/buildmode/submodes/copy.dm
  code/modules/buildmode/submodes/fill.dm
  code/modules/buildmode/submodes/mapgen.dm
  code/modules/buildmode/submodes/throwing.dm
  code/modules/buildmode/submodes/variable_edit.dm
  code/modules/client/player_details.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  icons/misc/buildmode.dmi
  tgstation.dme
Labels: Administration, Refactor, Sprites

#40008 Adds nanite circuit boards to tech storage
  code/game/objects/effects/spawners/lootdrop.dm
Labels: Tweak

#40163 Saboteur borg module (syndicate engiborg)
  code/game/objects/items/RCD.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/nukeop/equipment/borgchameleon.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/recycling/disposal/bin.dm
  code/modules/recycling/disposal/holder.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/robots.dmi
  tgstation.dme
Labels: Feature, Sprites

#40243 Gauzes can be deconstructed with any sharp object
  code/game/objects/items/stacks/medical.dm
Labels: Tweak

#40238 mobs without an attached mind dont contribute towards his grace ascension
  code/game/objects/items/his_grace.dm
Labels: Balance/Rebalance

#40218 Changes power sink drain rate and max power before exploding.
  code/game/objects/items/devices/powersink.dm
Labels: Balance/Rebalance

#40241 Fixes soap cleaning things when it shouldn't
  code/game/objects/items/clown_items.dm
Labels: Fix

#40221 Adds mob attack signals [READY]
  code/__DEFINES/components.dm
  code/_onclick/click.dm
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Code Improvement

#40150 [READY] fixing atmos analyzer circuit
  code/modules/integrated_electronics/subtypes/input.dm
Labels: Fix, Needs Review

#40158 Adds the experimental dissection surgery, a way for medbay to contribute to research
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/modules/antagonists/abductor/equipment/abduction_surgery.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/advanced/bioware/experimental_dissection.dm
  tgstation.dme
Labels: Feature

#40174 Moves some contents from shared engineering storage
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Tweak

#40255 Bump BYOND version to 1448
  Dockerfile
  dependencies.sh
Labels: Tools

#40257 Fix a bunch of goofy HTML closing tags
  code/game/machinery/telecomms/machine_interactions.dm
Labels: Code Improvement

#40260 Fixes stealth implants
  code/datums/action.dm
Labels: Fix

#40268 fixes roundstart atmos from lavaland_surface_ufo_crash.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_ufo_crash.dmm
Labels: Fix, Map Edit

#40278 Fixes robot upgrade removal.
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Code Improvement

#40164 [Ready To Review] Cyber Organs provide small benefits
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
Labels: Balance/Rebalance, Feature

#40262 Fixes miasma reaction runtime.
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#40264 Makes sand/snowdigging not rely on archaeology feature for the interaction
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/turfs/open.dm
  code/game/turfs/simulated/floor/plating/asteroid.dm
  tgstation.dme
Labels: Performance, Removal

#40216 Powernets now tracks load added between power ticks.
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/structures/grille.dm
  code/modules/ninja/suit/ninjaDrainAct.dm
  code/modules/power/apc.dm
  code/modules/power/cable.dm
  code/modules/power/power.dm
  code/modules/power/powernet.dm
  code/modules/power/singularity/emitter.dm
Labels: Code Improvement, Fix

#40263 Removes fake nuclear disks from null-crates.
  code/modules/uplink/uplink_items.dm
Labels: Fix, Tweak

#40272 Remove carets from tgui dependencies
  tgui/package.json
Labels: UI

#40107 [Finally Finished] Toxins Techweb Pointcap
  code/__DEFINES/research.dm
  code/game/machinery/doppler_array.dm
  code/modules/research/techweb/_techweb.dm
Labels: Balance/Rebalance

#39556 Adds move force and move resist, movement/pushing/pulling tweaks
  code/__DEFINES/misc.dm
  code/__DEFINES/move_force.dm
  code/__DEFINES/time.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/throwing.dm
  code/datums/martial/cqc.dm
  code/datums/martial/psychotic_brawl.dm
  code/datums/martial/sleeping_carp.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/effects/effects.dm
  code/game/objects/items.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/game/turfs/simulated/wall/misc_walls.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/mining/fulton.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai_shell.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/jungle/seedling.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/living/simple_animal/spawner.dm
  code/modules/mob/mob_movement.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/singularity.dm
  code/modules/shuttle/on_move.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/anchored_mobs.dm
  code/modules/unit_tests/unit_test.dm
  tgstation.dme
Labels: Feature

#39771 Moves TgsInitializationsComplete call to immediately after world/New()
  code/__DEFINES/subsystems.dm
  code/controllers/master.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/title.dm
  code/game/world.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/sql_message_system.dm
  code/modules/goonchat/browserOutput.dm
Labels: Fix

#40005 oof ouch my bones
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Feature

#40274 Fix missing period in the light replacer
  code/game/objects/items/devices/lightreplacer.dm
Labels: Grammar and Formatting

#40277 Set the default port name for navigation computers
  code/modules/events/pirates.dm
  code/modules/ruins/spaceruin_code/caravanambush.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/syndicate.dm
  code/modules/shuttle/white_ship.dm
Labels: Code Improvement

#40281 Fixes baseturf helper.
  code/game/turfs/simulated/floor/plating/asteroid.dm
  code/modules/mapping/mapping_helpers.dm
Labels: Fix

#40293 Bump Node version to 8, tidy tgui build scripts
  dependencies.sh
  tgui/build_assets.bat
  tgui/install_dependencies.bat
  tools/travis/build_tools.sh
  tools/travis/install_build_tools.sh
Labels: Priority: High, Tools, UI

#40284 Fixes rune transform reset.
  code/modules/antagonists/cult/runes.dm
Labels: Fix

#40287 Puts the window debris list to where it belongs (in the trash)
  code/game/objects/structures/window.dm
Labels: Code Improvement

#40167 Use rust-g for revision info instead of parsing .git
  code/__DEFINES/rust_g.dm
  code/datums/helper_datums/getrev.dm
  code/game/world.dm
  dependencies.sh
  rust_g.dll
Labels: Code Improvement, Test Merge Candidate

#40290 Fixes missing felinid mob type
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#40295 Adds a bitfield helper
  code/_globalvars/bitfields.dm
Labels: Code Improvement

#40301 Failsafe uplink codes.
  code/datums/components/uplink.dm
  code/datums/mind.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/virus_cart.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/paperwork/pen.dm
  code/modules/uplink/uplink_devices.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#40300 save_admin_data() fix
  code/__HELPERS/roundend.dm
Labels: Fix

#40052 Buffs reconstruction surgery
  code/modules/surgery/advanced/reconstruction.dm
Labels: Balance/Rebalance

#40302 Combat knifes now have a chance of embeding
  code/game/objects/items/kitchen.dm
Labels: Balance/Rebalance

#40326 performance increase in commented out code
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: Code Improvement

#40315 Fixes invisible lavarocks
  code/game/objects/structures/flora.dm
Labels: Fix

#40316 Fixes phased/jaunting mobs falling into chasms
  code/datums/components/chasm.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/antagonists/slaughter/slaughterevent.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/bloodcrawl.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/spells/spell_types/devil.dm
  code/modules/spells/spell_types/ethereal_jaunt.dm
  code/modules/spells/spell_types/shadow_walk.dm
Labels: Fix

#40317 Fixes ventcrawling & flying mobs making footstep sounds
  code/__DEFINES/flags.dm
  code/datums/components/footstep.dm
  code/modules/mob/living/ventcrawling.dm
Labels: Fix

#40320 Fixes another miasma runtime.
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#40318 fixes airlock painters
  code/game/machinery/doors/airlock.dm
Labels: Fix

#40332 removes beam rifle zoom smoothing
  code/modules/projectiles/guns/misc/beam_rifle.dm
Labels: Removal

#40310 Fix docking port detection in DMM templates
  code/datums/shuttles.dm
Labels: Fix

#40333 Update TGS DMAPI
  code/__DEFINES/tgs.dm
  code/game/world.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v4/api.dm
Labels: Tools

#40328 Bloodcult Stun Spell Tweaks
  code/__DEFINES/lighting.dm
  code/game/objects/effects/misc.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/mob/living/living.dm
Labels: Code Improvement, Fix, Tweak

#40339 [s] Notify admins when gas canister leaks happen
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Fix, Logging

#40353 Add more TGS ignore branches
  .travis.yml
  appveyor.yml
Labels: Continuous Integration

#40321 Improves wizard spell descs, booleans
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/aimed.dm
  code/modules/spells/spell_types/area_teleport.dm
  code/modules/spells/spell_types/barnyard.dm
  code/modules/spells/spell_types/bloodcrawl.dm
  code/modules/spells/spell_types/charge.dm
  code/modules/spells/spell_types/conjure.dm
  code/modules/spells/spell_types/construct_spells.dm
  code/modules/spells/spell_types/devil.dm
  code/modules/spells/spell_types/devil_boons.dm
  code/modules/spells/spell_types/ethereal_jaunt.dm
  code/modules/spells/spell_types/forcewall.dm
  code/modules/spells/spell_types/infinite_guns.dm
  code/modules/spells/spell_types/knock.dm
  code/modules/spells/spell_types/lichdom.dm
  code/modules/spells/spell_types/lightning.dm
  code/modules/spells/spell_types/mime.dm
  code/modules/spells/spell_types/mind_transfer.dm
  code/modules/spells/spell_types/projectile.dm
  code/modules/spells/spell_types/rod_form.dm
  code/modules/spells/spell_types/santa.dm
  code/modules/spells/spell_types/shadow_walk.dm
  code/modules/spells/spell_types/shapeshift.dm
  code/modules/spells/spell_types/spacetime_distortion.dm
  code/modules/spells/spell_types/summonitem.dm
  code/modules/spells/spell_types/the_traps.dm
  code/modules/spells/spell_types/touch_attacks.dm
  code/modules/spells/spell_types/turf_teleport.dm
  code/modules/spells/spell_types/voice_of_god.dm
  code/modules/spells/spell_types/wizard.dm
Labels: Grammar and Formatting

#40327 Adds plasmaglass shards, they can be made into spears
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/window.dm
  code/modules/crafting/recipes.dm
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/shards.dmi
Labels: Feature, Fix, Sprites

#40347 Corrects hotel security outfit typo
  code/game/objects/structures/ghost_role_spawners.dm
Labels: Grammar and Formatting

#40346 Lavaproofs the lavaproofing potion
  code/modules/research/xenobiology/crossbreeding/charged.dm
Labels: Fix

#40345 Fix alien screwdrivers not appearing on toolbelts
  code/game/objects/items/tools/screwdriver.dm
Labels: Fix

#40329 Makes gas sensors fireproof, fixes unneeded resis flags on airlock sensors
  code/game/machinery/airlock_control.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/objects/structures/signs/signs_warning.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix, Grammar and Formatting, Tweak

#40352 Pulls the plug on Omegastation
  README.md
  _maps/_basemap.dm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/OmegaStation/job_changes.dm
  _maps/omegastation.dm
  _maps/omegastation.json
  _maps/shuttles/arrival_omega.dmm
  code/modules/jobs/map_changes/map_changes.dm
  config/maps.txt
Labels: Config Update, Map Edit, Removal

#40220 Objective refactor
  code/__HELPERS/roundend.dm
  code/datums/mind.dm
  code/game/gamemodes/devil/devil agent/devil_agent.dm
  code/game/gamemodes/devil/game_mode.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/blob/blob.dm
  code/modules/antagonists/blood_contract/blood_contract.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/devil/imp/imp.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/antagonists/disease/disease_datum.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/greentext/greentext.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/antagonists/magic_servant/servant.dm
  code/modules/antagonists/monkey/monkey.dm
  code/modules/antagonists/ninja/ninja.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/official/official.dm
  code/modules/antagonists/overthrow/overthrow.dm
  code/modules/antagonists/overthrow/overthrow_team.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/revenant/revenant_antag.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/santa/santa.dm
  code/modules/antagonists/slaughter/slaughter_antag.dm
  code/modules/antagonists/survivalist/survivalist.dm
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/valentines/heartbreaker.dm
  code/modules/antagonists/valentines/valentine.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/awaymissions/corpse.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/events/holiday/xmas.dm
  code/modules/events/wizard/greentext.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/mob.dm
  tgstation.dme
Labels: Needs Review, Refactor
