Repository tgstation/tgstation, pull requests merged in 2018-12, with the labels that each got.

#41673 Fixes a rare case where the Malf law zero could be purged
  code/datums/ai_laws.dm
Labels: Fix

#41730 ERT edits
  code/modules/clothing/spacesuits/miscellaneous.dm
  icons/mob/back.dmi
  icons/obj/storage.dmi
Labels: Grammar and Formatting, Sprites

#41719 Alien infestation event not limited to once per round, but will not fire while existing aliens are alive
  code/modules/events/alien_infestation.dm
Labels: Tweak

#41697 Leverages the TGS4 chat tagging system for the new game message
  code/__DEFINES/tgs.dm
  code/__HELPERS/unsorted.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/ticker.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v4/commands.dm
  config/config.txt
  tgstation.dme
Labels: Config Update

#41571 Some syndie implant cleanup
  code/game/objects/items/implants/implant_explosive.dm
  code/game/objects/items/implants/implant_misc.dm
  code/game/objects/items/implants/implant_stealth.dm
  code/game/objects/items/implants/implanter.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#41588 Paystand Modifications
  code/modules/economy/pay_stand.dm
Labels: Tweak

#41593 Fixes ODing on crank/other chems, viruses, and other things damaging/healing robotic limbs.
  code/datums/diseases/advance/symptoms/heal.dm
  code/game/objects/items/storage/book.dm
  code/modules/antagonists/changeling/powers/strained_muscles.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/spells/spell_types/shadow_walk.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/vocal_cords.dm
  code/modules/zombie/organs.dm
Labels: Fix, Tweak

#41575 [READY] Adds click shortcuts to xenobio console.
  code/__DEFINES/components.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  icons/mob/actions/actions_silicon.dmi
Labels: Needs Review, Sprites

#41604 Adds the hypnotic flash to the uplink
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/modules/assembly/flash.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#41620 [EXTRAREADY][AAAAAA] Hey revolver, don't mothers make good fathers?
  code/game/objects/items/toys.dm
  code/game/sound.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/uplink/uplink_items.dm
  sound/weapons/attributions.txt
  sound/weapons/gun_dry_fire.ogg
  sound/weapons/gun_dry_fire_2.ogg
  sound/weapons/gun_dry_fire_3.ogg
  sound/weapons/gun_dry_fire_4.ogg
  sound/weapons/revolver357shot.ogg
  sound/weapons/revolver38shot.ogg
  sound/weapons/revolverdry.ogg
  sound/weapons/revolverempty.ogg
  sound/weapons/revolverload.ogg
  sound/weapons/revolverspin1.ogg
  sound/weapons/revolverspin2.ogg
  sound/weapons/revolverspin3.ogg
Labels: Needs Review, Removal, Sound

#41653 Moves changeling power feedback to sting_action
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/antagonists/changeling/powers/augmented_eyesight.dm
  code/modules/antagonists/changeling/powers/biodegrade.dm
  code/modules/antagonists/changeling/powers/chameleon_skin.dm
  code/modules/antagonists/changeling/powers/digitalcamo.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/changeling/powers/fleshmend.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/antagonists/changeling/powers/hivemind.dm
  code/modules/antagonists/changeling/powers/humanform.dm
  code/modules/antagonists/changeling/powers/lesserform.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/panacea.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/antagonists/changeling/powers/regenerate.dm
  code/modules/antagonists/changeling/powers/revive.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/antagonists/changeling/powers/spiders.dm
  code/modules/antagonists/changeling/powers/strained_muscles.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/changeling/powers/transform.dm
Labels: Fix

#41665 Adds the spontaneous brain trauma event
  code/modules/events/brain_trauma.dm
  tgstation.dme
Labels: Feature

#41643 Scrying orb now grants sixth sense (and xray) to whoever possesses it
  code/__DEFINES/traits.dm
  code/datums/mutations/sight.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance/Rebalance, Feature

#41743 Fix math error in secret satchel spawning
  code/controllers/subsystem/persistence.dm
Labels: Fix

#41692 Beam Rifle - From 10 to 5 shots per charge
  code/modules/projectiles/guns/misc/beam_rifle.dm
Labels: Balance/Rebalance

#41679 Reverts "hotspot_expose() will now heat the turf's air if it fails to create a hotspot"
  code/modules/atmospherics/environmental/LINDA_fire.dm
Labels: Revert

#41701 [review would be kinda sweet] reduces the maximum capacity of small oxygen tanks, while retaining their base volume.
  code/game/objects/items/tanks/tank_types.dm
Labels: Balance/Rebalance

#41341 [Ready]Desynchronizer
  code/__DEFINES/components.dm
  code/datums/components/stationloving.dm
  code/game/atoms.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/devices/desynchronizer.dm
  code/modules/research/designs/bluespace_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/device.dmi
  tgstation.dme
Labels: Feature, Needs Review, Sprites

#41660 Powered broken lights occasionally emit sparks
  code/modules/power/lighting.dm
Labels: Feature

#41640 Adds Beanbag Slug Shells to Sec Protolathe
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Tweak

#41496 Adds the Curse of Madness to wizard spellbooks
  code/__DEFINES/mobs.dm
  code/datums/brain_damage/magic.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/special.dm
  code/datums/diseases/advance/symptoms/cough.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/curse.dm
  code/modules/spells/spell_types/hivemind.dm
  code/modules/spells/spell_types/mime.dm
  code/modules/spells/spell_types/santa.dm
  code/modules/spells/spell_types/shadow_walk.dm
  code/modules/spells/spell_types/voice_of_god.dm
  code/modules/spells/spell_types/wizard.dm
  tgstation.dme
Labels: Feature

#41674 Atmos tank console sensor fix.
  code/game/machinery/computer/atmos_control.dm
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/atmos_control.ract
Labels: Feature, Fix, UI

#41613 Adds public autolathe shutters to Box cargo
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Feature, Map Edit

#41276 Monkey recycler connected to xenobio consoles, recycler returns reduced
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Balance/Rebalance, Feature

#41731 Removes pre-scanning
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
Labels: Balance/Rebalance, Do Not Merge, Removal, Test Merge Candidate

#41766 Fixes heat sources not igniting things
  code/game/machinery/igniter.dm
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/items.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/structures/fireplace.dm
  code/modules/assembly/igniter.dm
  code/modules/holodeck/computer.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/mob/living/life.dm
  code/modules/projectiles/projectile/bullets/_incendiary.dm
Labels: Fix

#41474 MK II. SWAT Suit
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/jobs/job_types/captain.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#41176 Ban system and interface update
  SQL/ban_conversion_2018-10-28.py
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/game.dm
  code/__HELPERS/unsorted.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/job.dm
  code/datums/diseases/transformation.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/changeling/traitor_chan.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/structures/ai_core.dm
  code/game/world.dm
  code/modules/admin/DB_ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/banjob.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/client_defines.dm
  code/modules/client/preferences.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/simple_animal/friendly/drone/drones_as_items.dm
  code/modules/mob/say.dm
  code/modules/research/xenobiology/xenobiology.dm
  config/config.txt
  html/admin/banpanel.css
  html/admin/banpanel.js
  html/admin/unbanpanel.css
  tgstation.dme
Labels: Config Update, SQL

#41784 Drops Dragnet Stun And Reduces Dragnet Trap Break-Out Time
  code/game/objects/items/handcuffs.dm
  code/modules/projectiles/projectile/energy/net_snare.dm
Labels: Balance/Rebalance

#41788 Nuclear operatives have a christmas tree during the festive season
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/templates/hilbertshotel.dmm
  code/controllers/subsystem/atoms.dm
  code/modules/events/holiday/xmas.dm
Labels: Feature, Map Edit

#41468 Advanced First Aid Kit
  code/game/objects/items/storage/firstaid.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/vending/medical.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/chemical.dmi
Labels: Feature, Sprites

#41787 Fixes an issue wherein plasma cutters accepted infinite plasma
  code/modules/projectiles/guns/energy/special.dm
Labels: Fix

#41746 Crossbow/KA & Reflect Blob/Aiming Beam Fixes
  code/__DEFINES/combat.dm
  code/modules/antagonists/blob/blob/blobs/shield.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy/_energy.dm
Labels: Fix

#41803 Progress bar moved to above hud plane
  code/datums/progressbar.dm
Labels: Fix

#41754 Adds Physically Obstructive quirk
  code/__DEFINES/traits.dm
  code/__HELPERS/cmp.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/traits/negative.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/living.dm
Labels: Feature

#41814 Cryo tubes only ever send one radio message when finishing
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Feature

#41826 Fix for opening player panel for clientless mobs
  code/modules/admin/admin.dm
Labels: Administration, Fix

#41823 Adds some items to allowed lists of bio and chem bag.
  code/game/objects/items/storage/bags.dm
Labels: Tweak

#41816 Fixes missing . in clown car honking
  code/modules/vehicles/vehicle_actions.dm
Labels: Grammar and Formatting

#41808 Fixes another upgrade message for autoprocessing
  code/game/machinery/dna_scanner.dm
Labels: Grammar and Formatting

#41797 Boxstation Misc Mapping Changes
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Feature, Map Edit

#41830 T/F pill.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Code Improvement

#41536 Removes error message while shunting [fix]
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/silicon/ai/life.dm
Labels: Fix

#41818 Fixes curse of normality alerts on hypnosis
  code/datums/status_effects/debuffs.dm
Labels: Fix

#41813 During the Christmas season, you can find Santa hats, christmas crackers, and presents in maint
  code/modules/holiday/holidays.dm
Labels: Feature

#41856 [s] Fixes gibber part update
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
Labels: Fix

#41833 Adds radial menu to arm-mounted implants
  code/modules/surgery/organs/augments_arms.dm
Labels: Feature

#41449 Chronosuit fixes extracted from #41350
  code/game/objects/items/chrono_eraser.dm
  code/modules/clothing/spacesuits/chronosuit.dm
Labels: Fix, Review Again

#41644 makes glitter use new atmos overlays
  code/game/objects/effects/decals/cleanable/misc.dm
Labels: Fix

#41676 Heirlooms have additional examine text, rather than being renamed
  code/datums/components/heirloom.dm
  code/datums/traits/negative.dm
  tgstation.dme
Labels: Feature

#41726 Fixes duplicate batforms in a lot of cases
  code/modules/mob/living/carbon/human/species_types/vampire.dm
Labels: Fix

#41742 Better implementation of the Musician trait
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/status_effect.dm
  code/datums/traits/good.dm
  code/game/objects/items/devices/instruments.dm
  code/game/objects/structures/musician.dm
Labels: Feature, Removal

#41745 Crushes some Ethereal bugs and adds bloodbags for them
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/packs.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/power/lighting.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
Labels: Feature, Fix

#41767 Adds sofas
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/beds_chairs/sofa.dm
  icons/obj/sofa.dmi
  tgstation.dme
Labels: Feature, Sprites

#41765 adds tooltips to radials
  code/_onclick/hud/radial.dm
Labels: Feature

#41779 Fixes signaler not working on paystand
  code/modules/economy/pay_stand.dm
Labels: Fix

#41777 Fixes curse of madness
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/spells/spell_types/curse.dm
  strings/phobia.json
Labels: Fix

#41800 Vegetarian Quirk
  code/controllers/subsystem/processing/quirks.dm
  code/datums/traits/neutral.dm
Labels: Feature

#41834 Reorganizes the uplink, adds grenades and explosives category.
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#41821 Makes the tooltips less annoying in the Centcom Pod launcher verb
  code/modules/cargo/centcom_podlauncher.dm
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/centcom_podlauncher.ract
Labels: Administration, UI

#41853 Fixes reaper's scythe sprite
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
Labels: Fix, Sprites

#41672 [READY] Allow creation of the various types of emergency oxygen tanks
  code/game/objects/items/tanks/tank_types.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Needs Review, Tweak

#41860 Replaces the single line text prompt in Admin PMs with a multiline one
  code/modules/admin/verbs/adminpm.dm
Labels: Administration

#41858 T/F plasticflaps.dm
  code/game/objects/structures/plasticflaps.dm
Labels: Code Improvement

#41848 Fixes repair droids with short circuit
  code/game/mecha/equipment/tools/other_tools.dm
Labels: Fix

#41842 Adds the Ligament Hook and Ligament Reinforcement bioware surgeries
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/human/species_types/corporate.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/advanced/bioware/ligament_hook.dm
  code/modules/surgery/advanced/bioware/ligament_reinforcement.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  tgstation.dme
Labels: Feature, Tweak

#41851 Adds recycler check on xenobio console interaction
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Fix

#41862 Adds roles and duration of ban to note created by ban
  code/modules/admin/sql_ban_system.dm
Labels: Administration, Grammar and Formatting

#41799 [Ready] Makes kitchen cold rooms actually cold (Metastation)
  _maps/map_files/MetaStation/MetaStation.dmm
  code/__DEFINES/atmospherics.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/vending/wardrobes.dm
  icons/turf/areas.dmi
Labels: Code Improvement, Map Edit, Needs Review, Sprites, Tweak

#41879 Makes teleports use forceMove by default
  code/datums/helper_datums/teleport.dm
Labels: Fix

#41880 Fixes healing positional argument runtime
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Fix

#41806 Fix TGS stuff
  code/controllers/subsystem/server_maint.dm
  code/datums/helper_datums/getrev.dm
  code/modules/tgs/core/core.dm
  tgstation.dme
Labels: Fix, PRB: No Update, Priority: High, Test Merge Candidate

#41883 Red pills sometimes make people think
  code/modules/reagents/reagent_containers/pill.dm
  strings/redpill.json
Labels: Feature

#40428 [READY]MultiZ stuff - tile atmos, movement backend, falling backend, etc etc - Electric boogaloo
  _maps/map_files/debug/multiz.dmm
  _maps/multiz_debug.dm
  _maps/multiz_debug.json
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/components.dm
  code/__DEFINES/layers.dm
  code/_globalvars/lists/mapping.dm
  code/_onclick/hud/plane_master.dm
  code/controllers/master.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/effects.dm
  code/game/objects/structures/stairs.dm
  code/game/turfs/open.dm
  code/game/turfs/openspace/openspace.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/mapping/space_management/multiz_helpers.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/observer_movement.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/mob_movement.dm
  code/modules/shuttle/shuttle.dm
  config/maps.txt
  icons/obj/stairs.dmi
  icons/turf/floors.dmi
  tgstation.dme
Labels: Config Update, Map Edit, Needs Review, Sprites

#41902 Disables battle royale mode
  tgstation.dme
Labels: Fix, Priority: High

#41549 [READY FOR REAL] New Spell: Soul Tap!
  code/datums/components/spill.dm
  code/datums/footstep.dm
  code/game/objects/items/tanks/tank_types.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/spells/spell_types/lichdom.dm
  code/modules/spells/spell_types/soultap.dm
  code/modules/unit_tests/component_tests.dm
  icons/mob/actions/actions_spells.dmi
  tgstation.dme
Labels: Feature, Sprites, Stale, Tweak

#41711 Added TRAIT_DISK_VERIFIER, refactors how fake disk checks work slightly
  code/__DEFINES/traits.dm
  code/datums/traits.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/jobs/job_types/captain.dm
Labels: Refactor

#41917 [s] Fix href exploit in AI mech domination
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix, In Game Exploit

#41888 Curbs mutltitool on camera violence
  code/game/machinery/camera/camera.dm
Labels: Fix

#41863 advanced surgery tools
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/tools.dm
  icons/obj/surgery.dmi
Labels: Feature, Sprites

#41753 Robotics can print cybernetic organs (also new upgraded cybernetic heart)
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/heart.dm
  icons/obj/surgery.dmi
Labels: Feature, Sprites

#41903 [S] You can no longer get infinite power cells from the EXPERIMENTOR
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/experimentor.dm
Labels: Fix

#41931 [s] Fixes changeling decapitation, for real this time
  code/modules/antagonists/changeling/powers/regenerate.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#41923 Adds missing secure locker accesses
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Fix

#41916 Adds infinite closets, admin-only utility spawns
  code/game/objects/structures/crates_lockers/closets/infinite.dm
  tgstation.dme
Labels: Administration

#41909 Small hitbox changes
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Fix

#41906 Prism glasses sanity fix
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
Labels: Fix

#41895 Fixes smuggler satchel spawning
  code/controllers/subsystem/persistence.dm
Labels: Fix

#41896 fixes suit storages opening with a crowbar if they are locked
  code/game/machinery/suit_storage_unit.dm
Labels: Fix

#41919 Removes infinite reflector loops, projectiles now fall off 5 base range per reflection.
  code/modules/projectiles/projectile.dm
Labels: Removal

#41759 Changes eye blur to use byond 512 filters
  code/__DEFINES/misc.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/plane_master.dm
  code/modules/mob/living/life.dm
  code/modules/mob/status_procs.dm
Labels: Feature, Test Merge Candidate

#41763 Christmas code changes
  code/__DEFINES/logging.dm
  code/__DEFINES/traits.dm
  code/_globalvars/lists/flavor_misc.dm
  code/_globalvars/lists/mobs.dm
  code/datums/components/storage/storage.dm
  code/datums/outfit.dm
  code/game/objects/items/gift.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/flora.dm
  code/modules/admin/admin_investigate.dm
  code/modules/antagonists/santa/santa.dm
  code/modules/clothing/outfits/event.dm
  code/modules/events/holiday/xmas.dm
  code/modules/jobs/job_types/job.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/spells/spell_types/area_teleport.dm
  code/modules/spells/spell_types/wizard.dm
Labels: Balance/Rebalance, Feature, Fix, Removal

#41099 [READY]New Map: Donutstation V.5 (GOLD) (Platinum Hits)
  _maps/_basemap.dm
  _maps/donutstation.dm
  _maps/donutstation.json
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/shuttles/arrival_donut.dmm
  _maps/shuttles/emergency_donut.dmm
  code/datums/holocall.dm
  code/datums/shuttles.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/weaponry.dm
  code/modules/paperwork/paper_premade.dm
  code/modules/recycling/disposal/bin.dm
  code/modules/recycling/sortingmachinery.dm
  config/maps.txt
  icons/obj/statue.dmi
Labels: Config Update, Feature, Map Edit, Needs Review, Sprites

#41548 Clown shoes can make you waddle
  code/modules/clothing/shoes/miscellaneous.dm
Labels: Tweak

#41768 [READY]IMMERSIVE ROLEPLAY - Mobs now turn towards and are shifted based on grab state towards something pulling them
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/mobs.dm
  code/__HELPERS/icons.dm
  code/datums/components/riding.dm
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_movement.dm
Labels: Needs Review

#41822 Microwaves now have a single wire
  code/datums/wires/microwave.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  tgstation.dme
Labels: Feature

#41825 [Ready]You can now select what your pills will look like when making pills from the Chem Master
  code/modules/client/asset_cache.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  icons/UI_Icons/Pills/pill1.png
  icons/UI_Icons/Pills/pill10.png
  icons/UI_Icons/Pills/pill11.png
  icons/UI_Icons/Pills/pill12.png
  icons/UI_Icons/Pills/pill13.png
  icons/UI_Icons/Pills/pill14.png
  icons/UI_Icons/Pills/pill15.png
  icons/UI_Icons/Pills/pill16.png
  icons/UI_Icons/Pills/pill17.png
  icons/UI_Icons/Pills/pill18.png
  icons/UI_Icons/Pills/pill19.png
  icons/UI_Icons/Pills/pill2.png
  icons/UI_Icons/Pills/pill20.png
  icons/UI_Icons/Pills/pill21.png
  icons/UI_Icons/Pills/pill22.png
  icons/UI_Icons/Pills/pill3.png
  icons/UI_Icons/Pills/pill4.png
  icons/UI_Icons/Pills/pill5.png
  icons/UI_Icons/Pills/pill6.png
  icons/UI_Icons/Pills/pill7.png
  icons/UI_Icons/Pills/pill8.png
  icons/UI_Icons/Pills/pill9.png
  tgui/assets/tgui.js
  tgui/src/interfaces/chem_master.ract
Labels: Feature, Needs Review, Sprites, UI

#41890 mobs on centcom are no longer valid for midround antags
  code/game/gamemodes/game_mode.dm
Labels: Fix

#41891 Goonetics fixes
  code/datums/dna.dm
  code/game/machinery/computer/dna_console.dm
  code/game/objects/items/dna_injector.dm
  code/modules/clothing/spacesuits/chronosuit.dm
Labels: Fix

#41893 Fixes runtimes when a monkey dies
  code/datums/components/rot.dm
Labels: Fix

#41914 makes slapping easier
  code/game/objects/items/weaponry.dm
Labels: Tweak

#41933 Makes Surgery Toolarm Preferred Choice instead of Powertools
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
Labels: Balance/Rebalance

#41935 Fixes hilbertshoteltestingsite.dmm roundstart atmos
  _maps/RandomRuins/SpaceRuins/hilbertshoteltestingsite.dmm
Labels: Map Edit

#41925 Glitter can be clicked through
  code/game/objects/effects/decals/cleanable/misc.dm
Labels: Fix

#41929 Cleans Up "Advanced Surgery Tools" PR (Evil Maintainer Cobby)
  code/modules/surgery/tools.dm
Labels: PRB: No Update

#41940 Adjusts coin prices
  code/modules/mining/ores_coins.dm
Labels: Balance/Rebalance, Fix

#41926 makes the abductor console use radials
  code/modules/antagonists/abductor/machinery/console.dm
Labels: Feature

#41900 Pubby now has an xmas tree spawner in the library
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Tweak

#41924 The admin Investigate shows which categories are empty
  code/__DEFINES/logging.dm
  code/modules/admin/admin_investigate.dm
Labels: Administration

#41955 Autoprocessing for the dead [READY]
  code/__HELPERS/records.dm
  code/datums/mind.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/dna_scanner.dm
  code/modules/mob/dead/observer/observer.dm
  tgstation.dme
Labels: Balance/Rebalance, Feature, Fix, Needs Review

#41908 Assimilation changes
  code/modules/antagonists/hivemind/hivemind.dm
  code/modules/spells/spell_types/hivemind.dm
Labels: Balance/Rebalance, Code Improvement, Tweak

#41944 Printed oxygen/plasma tanks no longer contain oxygen/plasma
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/items/tanks/tank_types.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Fix

#41945 Fixes bug where monophobia would rarely affect its sufferer
  code/datums/brain_damage/severe.dm
Labels: Fix

#41819 Turns TRAIT_NOCLONE into TRAIT_BADDNA for consistency
  code/__DEFINES/traits.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/dna_scanner.dm
  code/game/machinery/exp_cloner.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/dna_injector.dm
  code/game/objects/structures/morgue.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/surgery/advanced/revival.dm
Labels: Balance/Rebalance

#41937 Removes public autolathes
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Removal

#41739 Allows the antimagic component to react to spells, limits holymelon uses
  code/__DEFINES/components.dm
  code/datums/components/anti_magic.dm
  code/datums/mutations/actions.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/structures/traps.dm
  code/modules/antagonists/clockcult/clock_items/clock_weapons/ratvarian_spear.dm
  code/modules/antagonists/clockcult/clock_items/judicial_visor.dm
  code/modules/antagonists/clockcult/clock_structures/ocular_warden.dm
  code/modules/antagonists/clockcult/clock_structures/taunting_trail.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/fields/timestop.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/forcewall.dm
  code/modules/spells/spell_types/spacetime_distortion.dm
  code/modules/spells/spell_types/telepathy.dm
Labels: Balance/Rebalance, Review Again

#41992 Adds missing return + adds return values to DNR verb
  code/modules/mob/dead/observer/observer.dm
Labels: PRB: No Update

#41991 Compatability for IE8's lack of css3 breaking banning panel checkboxes
  code/modules/admin/sql_ban_system.dm
  html/admin/banpanel.css
  html/admin/banpanel_css3.css
Labels: Fix

#41990 ethereal runtime fix
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Fix

#41984 Adds the Hypersensitive and Light Drinker quirks
  code/__DEFINES/traits.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature

#41967 Multi Z test map fixes
  _maps/map_files/debug/multiz.dmm
Labels: Map Edit

#41995 Fixes Box disposals
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Fix, Map Edit

#42004 Adds communism
  code/modules/holiday/holidays.dm
Labels: Feature

#41877 The cyborg reset module wire is always marked with a star
  code/datums/wires/_wires.dm
  code/datums/wires/robot.dm
Labels: Feature

#42000 Fixes "rotting old rotting gibs"
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: Fix

#41866 You can now click on objects and mobs below flaps and signs
  code/controllers/subsystem/vis_overlays.dm
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/plasticflaps.dm
  config/admins.txt
Labels: Fix

#42015 Fixes pipe underlays
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/portables_connector.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
Labels: Fix

#41983 makes extract surgeries more reasonable and expedient
  code/modules/surgery/remove_embedded_object.dm
Labels: Tweak

#42025 Critical readme update
  README.md
Labels: GitHub

#42007 Beepsky Retaliate Fix
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix

#42010 fixes medkit in runtime station
  _maps/map_files/debug/runtimestation.dmm
Labels: Fix, Map Edit

#42030 BoH bombing logs now include ckey in admin logs/messages
  code/datums/components/storage/concrete/bag_of_holding.dm
Labels: Fix, Logging

#42028 Adds a separate setting to cleanbots for cleaning graffiti
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Tweak

#42026 Remove `git clean` commands from PostCompile.sh
  tools/tgs4_scripts/PostCompile.sh
Labels: Tools

#42024 Trauma granting/curing via View Variables is now logged
  code/datums/datumvars.dm
  code/modules/mob/living/brain/brain_item.dm
Labels: Administration

#41982 Adds a sanity check for expand modules
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Fix

#42033 New admin only wand, wand of safety, plus buffed other admin wands
  code/modules/projectiles/ammunition/special/magic.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Administration

#41998 Choice beacon explosion changes
  code/game/objects/items/miscellaneous.dm
  code/modules/cargo/supplypod.dm
Labels: Balance/Rebalance

#42011 Nuclear bombs in rifts spawn a singulo on the station and count as a syndie victory
  code/datums/components/storage/concrete/bag_of_holding.dm
  code/game/area/areas/centcom.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Tweak

#41827 Makes satchels stack by name instead of type
  code/datums/components/storage/storage.dm
Labels: Tweak, UI

#42035 Notifies admins when Lone Op event chance is changed
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Administration

#41778 [READY]Bubblegum Buffs
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Balance/Rebalance, Feature, Needs Review, Removal, Tweak

#41997 Refactors `container_type` into `reagents.flags`
  code/__DEFINES/flags.dm
  code/__DEFINES/reagents.dm
  code/_globalvars/bitfields.dm
  code/game/atoms.dm
  code/game/machinery/limbgrower.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/implants/implant_chem.dm
  code/game/objects/items/tanks/watertank.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/modules/detectivework/footprints_and_rag.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/food_cart.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/paperwork/pen.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/guns/misc/chem_gun.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/readme.md
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/medspray.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/machinery/circuit_imprinter.dm
  code/modules/research/machinery/departmental_circuit_imprinter.dm
  code/modules/research/machinery/departmental_protolathe.dm
  code/modules/research/machinery/departmental_techfab.dm
  code/modules/research/machinery/protolathe.dm
  code/modules/research/machinery/techfab.dm
  code/modules/research/xenobiology/crossbreeding/__corecross.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/crossbreeding/charged.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
  code/modules/research/xenobiology/crossbreeding/industrial.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Refactor

#42020 Trauma bug fixes, stalking phantom balance
  code/__DEFINES/traits.dm
  code/datums/brain_damage/brain_trauma.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/magic.dm
  code/datums/brain_damage/phobia.dm
  code/game/gamemodes/clown_ops/bananium_bomb.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mob/living/brain/brain.dm
  code/modules/mob/living/brain/brain_item.dm
Labels: Balance/Rebalance

#42046 Fix orbit links on events
  code/modules/events/_event.dm
  code/modules/mob/mob_helpers.dm
Labels: Fix

#42022 Two fixes for edit ban panel
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/topic.dm
Labels: Fix

#42061 Fixes reverse-supplypods not deleting, also makes them delete from centcom by default
  code/modules/cargo/supplypod.dm
Labels: Fix

#41993 Add system for disabling creation of new felinid characters
  code/controllers/configuration/entries/game_options.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species.dm
  config/game_options.txt
Labels: Config Update

#42088 Fixes kevinz000
  code/game/objects/items/bodybag.dm
Labels: Fix

#41985 [READY]Adds new bar item the "Ethereal Discoball"
  code/game/objects/items/etherealdiscoball.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  icons/obj/device.dmi
  tgstation.dme
Labels: Feature, Needs Review, Sprites
