Repository tgstation/tgstation, pull requests merged in 2018-08, with the labels that each got.

#39435 Multiple Color Clown Costumes!
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/vending/autodrobe.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Sprites

#39478 [Hotfix] Corrects PENLITEs not being techweb spawnable
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#39479 Fixes exo reactor rads, changes SSU desc
  code/game/machinery/suit_storage_unit.dm
  code/game/mecha/equipment/tools/other_tools.dm
Labels: Fix, Grammar and Formatting

#39367 Emitter gun mounts
  code/datums/wires/emitter.dm
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/projectile/special/wormhole.dm
Labels: Feature

#38944 Third time's the charm - Photography update: 7x7 cameras, photo logging with full metadata, persistent albums and wall frames!
  code/__DEFINES/misc.dm
  code/__HELPERS/priority_announce.dm
  code/__HELPERS/qdel.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/logging.dm
  code/_onclick/hud/ai.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/pathfinder.dm
  code/controllers/subsystem/persistence.dm
  code/datums/datacore.dm
  code/datums/datum.dm
  code/game/gamemodes/objective_items.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/telecomms/computers/message.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/world.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/antagonists/abductor/machinery/experiment.dm
  code/modules/mapping/space_management/space_reservation.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/photocopier.dm
  code/modules/paperwork/photography.dm
  code/modules/photography/_pictures.dm
  code/modules/photography/camera/camera.dm
  code/modules/photography/camera/camera_image_capturing.dm
  code/modules/photography/camera/film.dm
  code/modules/photography/camera/other.dm
  code/modules/photography/camera/silicon_camera.dm
  code/modules/photography/photos/album.dm
  code/modules/photography/photos/frame.dm
  code/modules/photography/photos/photo.dm
  config/config.txt
  tgstation.dme
Labels: Config Update, Feature

#39491 Allows beheading in hard crit
  code/modules/surgery/bodyparts/head.dm
Labels: Fix

#39443 Makes detect_room type agnostic again
  code/__HELPERS/areas.dm
Labels: Code Improvement

#39494 fixes minor pubby atmos issues
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#39486 Tweaks the delta white ship a bit more.
  _maps/shuttles/whiteship_delta.dmm
Labels: Map Edit, Tweak

#39483 Checks the Emperor Penguin description's privilege
  code/modules/mob/living/simple_animal/friendly/penguin.dm
Labels: Grammar and Formatting

#39334 Fixes the cig reagent bug, removes pointless and buggy RNG
  code/game/objects/items/cigs_lighters.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#39508 Adds mob sprites for cameras
  code/modules/photography/camera/camera.dm
  icons/mob/inhands/misc/devices_lefthand.dmi
  icons/mob/inhands/misc/devices_righthand.dmi
  icons/mob/neck.dmi
Labels: Sprites, Tweak

#39493 Deadchat can now use emoji
  code/modules/admin/verbs/deadsay.dm
  code/modules/mob/say.dm
Labels: Feature

#39481 Fix some weird syntax
  code/__HELPERS/game.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/game/machinery/newscaster.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/objects/effects/spawners/xeno_egg_delivery.dm
  code/game/objects/items/pinpointer.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/events/holiday/vday.dm
  code/modules/mob/living/carbon/alien/larva/powers.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/research/experimentor.dm
Labels: Code Improvement

#39472 Lavaland Syndie base tweaks
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  code/game/objects/items/storage/boxes.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
  tgstation.dme
Labels: Map Edit, Tweak

#39537 Fixes borg dusting
  code/modules/antagonists/revenant/revenant.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/death.dm
  code/modules/mob/living/silicon/robot/death.dm
Labels: Fix

#39382 Adds in a new type of securitron
  code/modules/mob/living/simple_animal/bot/SuperBeepsky.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  icons/mob/aibots.dmi
  sound/effects/beepskyspinsabre.ogg
  tgstation.dme
Labels: Feature, Sound, Sprites

#39391 Adds a new RoundEnd Sound.
  code/controllers/subsystem/ticker.dm
  sound/roundend/gondolabridge.ogg
Labels: Sound

#39487 Splits fakedeath and death coma, gives fakedeath to zombies and skeletons, adds ghoul powder
  code/__DEFINES/traits.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/changeling/powers/revive.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/status_procs.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Feature, Tweak

#39490 Adds scrubber pipenet to lavaland mining base, fixes two Meta tiles
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
Labels: Map Edit, Tweak

#39501 Makes fiddling with air alarms go to atmos investigate log
  code/game/machinery/computer/atmos_control.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: Logging

#39511 All adminsay now uses the adminobserver colour
  code/modules/admin/verbs/adminsay.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  interface/stylesheet.dm
Labels: Tweak

#39512 Makes ooc block last whole cinematic and moves the cinematic above all hud elements.
  code/datums/cinematic.dm
Labels: Fix

#39514 [s] [HOTFIX] Being bumped into and not just bumping into people makes you visible as agent box
  code/game/objects/items/implants/implant_stealth.dm
Labels: Fix

#39526 Fixes pods not reaching centcom
  _maps/map_files/generic/CentCom.dmm
  code/modules/shuttle/emergency.dm
Labels: Fix, Map Edit

#39531 Refactors syndicate simple animals.
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomZLevels/challenge.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/ruin_syndicate_fighter_shiv.dmm
  _maps/shuttles/whiteship_meta.dmm
  code/game/machinery/computer/arcade.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  icons/mob/simple_human.dmi
Labels: Balance/Rebalance, Map Edit, Refactor, Sprites

#39530 Fix bad vars in maps spilling over onto unrelated types
  code/modules/mapping/reader.dm
Labels: Code Improvement

#39547 Nanotrasen capitalization
  code/modules/cargo/expressconsole.dm
  tgui/assets/tgui.js
  tgui/src/interfaces/rdconsole/rdheader.ract
Labels: Grammar and Formatting, UI

#39548 Fixes changeling antag hud icon
  icons/mob/hud.dmi
Labels: Fix, Sprites

#39534 Fixes ai status displays
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
Labels: Fix

#39546 Makes a few more things pronoun sensitive
  code/datums/status_effects/debuffs.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
Labels: Grammar and Formatting

#39545 Fixes missing honkbot icon
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  icons/mob/aibots.dmi
Labels: Fix, Sprites

#39541 Various mapfixes
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix, Map Edit, Tweak

#39533 You can now show off your Attorney's Badge
  code/modules/clothing/under/accessories.dm
Labels: Feature

#39540 Adds NTNet compatibility to windoors
  code/game/machinery/doors/windowdoor.dm
Labels: Feature

#39525 Being drunk improves mood
  code/datums/mood_events/drug_events.dm
  code/modules/mob/living/carbon/life.dm
Labels: Tweak

#39517 Removes a couple storage GetComponent calls
  code/__DEFINES/components.dm
  code/_onclick/click.dm
  code/datums/action.dm
  code/datums/components/storage/storage.dm
Labels: Code Improvement

#39350 Moths can now eat clothes
  code/__DEFINES/is_helpers.dm
  code/modules/clothing/clothing.dm
Labels: Feature

#39552 Makes asay brighter orange
  code/modules/goonchat/browserassets/css/browserOutput.css
  interface/stylesheet.dm
Labels: Tweak

#39542 Increases agent box cooldown to 10 seconds
  code/datums/action.dm
Labels: Balance/Rebalance

#39554 Corrects box agent cloak cooldown not getting properly reset
  code/game/objects/items/implants/implant_stealth.dm
Labels: Fix

#39499 [READY] Fusion: Prepare to Die Edition (and more)
  code/__DEFINES/flags.dm
  code/__HELPERS/type2type.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/projectiles/projectile/energy/nuclear_particle.dm
  icons/obj/projectiles.dmi
  tgstation.dme
Labels: Balance/Rebalance, Needs Review, Sprites, Tweak

#39576 Adding circuits text file in .dme
  tgstation.dme
Labels: Fix

#39555 Fixes SDQL strings
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_parser.dm
Labels: Fix

#39484 Fix AddComponent(target) not working
  code/datums/components/_component.dm
Labels: Fix

#39565 Redesigns the pirate event ship
  _maps/shuttles/pirate_default.dmm
Labels: Feature, Map Edit

#39592 Remove unused tgui dependency
  tgui/package-lock.json
  tgui/package.json
Labels: GitHub, UI

#39564 Moves the Stealth Implant from Cybernetic Implants to Normal Implants
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#39596 Fix beepsky cuffing its target even when EMP'd
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix

#39595 Augmentation uses replace_limb instead of manually doing the same
  code/modules/surgery/limb_augmentation.dm
Labels: Fix

#39581 Replace z_is_planet with a Z trait
  code/__DEFINES/maps.dm
  code/__HELPERS/level_traits.dm
  code/modules/mapping/mapping_helpers.dm
Labels: Code Improvement

#39594 Fix even more weird syntax
  code/datums/position_point_vector.dm
  code/game/objects/items/devices/taperecorder.dm
  code/modules/admin/admin.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
Labels: Code Improvement

#39513 Felinid/catpeople are now their own human subspecies
  code/__DEFINES/is_helpers.dm
  code/controllers/subsystem/job.dm
  code/datums/dna.dm
  code/datums/mood_events/generic_negative_events.dm
  code/game/objects/items/weaponry.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/job.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/surgery/organs/tails.dm
  tgstation.dme
Labels: Code Improvement, Refactor

#39569 Adds five new cargo packs
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/cargo/packs.dm
Labels: Feature, Tweak

#39579 Improve VV performance further by avoiding redundant work
  code/datums/datumvars.dm
Labels: Administration, Performance

#39575 Open statbus links in external browser
  code/__HELPERS/roundend.dm
Labels: Fix

#39591 Prefer non-hidden pipes in gas meter targeting
  code/modules/atmospherics/machinery/other/meter.dm
Labels: Fix, Tweak

#39580 Fix the power flow control console
  code/game/machinery/computer/apc_control.dm
  code/modules/power/apc.dm
Labels: Fix

#39599 Adds mini-extinguishers to autolathe
  code/game/objects/items/extinguisher.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature

#39604 Removes an unneccessary subtype
  code/modules/clothing/suits/miscellaneous.dm
Labels: Code Improvement

#39544 Ports Binoculars from /vg/: 2 Electric boogaloo
  code/game/objects/items/twohanded.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Feature, Sprites

#39318 Mapping changes to BoxStation's science
  _maps/map_files/BoxStation/BoxStation.dmm
  code/game/area/Space_Station_13_areas.dm
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Map Edit

#39602 Portable flashers will only count sucessful flashes towards burnout probability
  code/game/machinery/flasher.dm
Labels: Balance/Rebalance

#39568 Adds mining and engineering cargo bounties
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/engineering.dm
  code/modules/cargo/bounties/mining.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/exports/tools.dm
  code/modules/shuttle/supply.dm
  tgstation.dme
Labels: Feature

#39600 Fix bunch of runtimes involving transformation diseases, and also a way to avoid job bans
  code/datums/diseases/transformation.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
Labels: Code Improvement, Fix

#39181 Movespeed Modification System
  code/__DEFINES/movespeed_modification.dm
  code/__HELPERS/roundend.dm
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/configuration/config_entry.dm
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/comms.dm
  code/controllers/configuration/entries/game_options.dm
  code/datums/ai_laws.dm
  code/datums/datumvars.dm
  code/datums/helper_datums/getrev.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/modules/admin/check_antagonists.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/client/client_defines.dm
  code/modules/jobs/job_types/job.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/drone.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/praetorian.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/sentinel.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_defense.dm
  code/modules/mob/living/silicon/pai/pai_shell.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/mob_movespeed.dm
  code/modules/projectiles/projectile/magic.dm
  config/game_options.txt
  tgstation.dme
Labels: Config Update, Refactor, Test Merge Candidate

#39613 Fix connection errors not showing with SSdbcore.ErrorMsg()
  code/controllers/subsystem/dbcore.dm
Labels: Fix

#39615 Fixes items with broken lists defined by varedits on maps
  _maps/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/RandomRuins/SpaceRuins/miracle.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/whiteship_cere.dmm
  code/game/machinery/computer/arcade.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/awaymissions/mission_code/spacebattle.dm
  code/modules/ruins/lavalandruin_code/pizzaparty.dm
  code/modules/ruins/spaceruin_code/miracle.dm
  code/modules/shuttle/white_ship.dm
  code/modules/vending/cigarette.dm
  code/modules/vending/medical_wall.dm
  tgstation.dme
Labels: Fix, Map Edit

#39611 Allows admins to make pneumatic cannons fire nonitems
  code/game/objects/items/pneumaticCannon.dm
Labels: Administration

#39607 distinguishes grab attempt state in logging
  code/modules/mob/living/living_defense.dm
Labels: Fix

#39567 Refactor the map loader
  code/controllers/subsystem/mapping.dm
  code/modules/mapping/README.txt
  code/modules/mapping/dmm_suite.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/reader.dm
  code/modules/procedural_mapping/mapGenerators/repair.dm
  tgstation.dme
Labels: Refactor

#39563 Simple zombie for WJ
  code/__HELPERS/icons.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/job.dm
  code/modules/jobs/job_types/silicon.dm
  code/modules/mob/living/simple_animal/hostile/zombie.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/zombie/items.dm
  icons/mob/simple_human.dmi
  tgstation.dme
Labels: Feature, Sprites

#39572 Adds holidays, fixes beer day date
  code/modules/holiday/holidays.dm
Labels: Tweak

#39625 Fixes uncrossed being called on the wrong turf's contents
  code/game/atoms_movable.dm
Labels: Fix

#39636 Readd asay to admin log
  code/__HELPERS/_logging.dm
Labels: Administration

#39624 Fixes cult pylons destroying plating and cult floors deconstructing into rods
  code/game/turfs/simulated/floor/reinf_floor.dm
  code/modules/antagonists/cult/cult_structures.dm
Labels: Fix

#39623 Fixes AI photos and printing
  code/modules/paperwork/photocopier.dm
  code/modules/photography/camera/camera.dm
Labels: Fix

#39605 blunt trauma consistency
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#39009 Key instead of ckey for user facing logs and ui
  SQL/admin_import_2018-02-03.py
  SQL/database_changelog.txt
  SQL/populate_key_2018-07-09.py
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/__HELPERS/mobs.dm
  code/controllers/subsystem/medals.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/wires/airlock.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/computer/prisoner.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/morgue.dm
  code/modules/admin/DB_ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/admin.dm
  code/modules/admin/permissionedit.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/assembly/doorcontrol.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/library/lib_machines.dm
  code/modules/mob/dead/new_player/poll.dm
  code/modules/projectiles/guns/misc/blastcannon.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: SQL

#39608 Configuration entry refactor!
  code/controllers/configuration/config_entry.dm
  code/controllers/configuration/configuration.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
Labels: Config Update, Refactor

#39643 Adds zombies to Box's whiteship
  _maps/shuttles/whiteship_box.dmm
  code/datums/shuttles.dm
Labels: Feature, Map Edit

#39502 Add expiration time for admin messages
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
Labels: Administration, SQL

#39451 Advanced surgeries are directly downloaded from the operating computers instead of using disks
  code/game/machinery/computer/Operating.dm
  code/modules/client/asset_cache.dm
  code/modules/research/designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/advanced/bioware/nerve_grounding.dm
  code/modules/surgery/advanced/bioware/nerve_splicing.dm
  code/modules/surgery/advanced/bioware/vein_threading.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/necrotic_revival.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/advanced/reconstruction.dm
  code/modules/surgery/advanced/revival.dm
  code/modules/surgery/advanced/viral_bonding.dm
  code/modules/surgery/surgery.dm
  icons/obj/surgery.dmi
  tgui/assets/tgui.js
  tgui/src/interfaces/operating_computer.ract
Labels: Feature, Sprites, Tweak, UI

#39649 Fix footprints stacking when blood and oil share a tile
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Fix

#39559 Gives melee simple animal syndicate 30% dodge and doubled attack rate.
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Balance/Rebalance

#39639 catgirl toxin
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Feature

#39634 Updates the chronosuit helmet for a new look
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites

#39638 fixes admins without +fun being able to use smite
  code/modules/admin/verbs/randomverbs.dm
Labels: Administration, Fix

#39628 Drink quality affects mood
  code/__DEFINES/food.dm
  code/datums/mood_events/drink_events.dm
  code/datums/mood_events/drug_events.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  tgstation.dme
Labels: Feature

#39650 Adds Gondola meat
  code/datums/diseases/transformation.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/mob/living/simple_animal/friendly/gondola.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Feature

#39651 Adds more wiki books/manuals
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/items/manuals.dm
Labels: Grammar and Formatting, Map Edit

#39663 Fixes a grammar issue with reinforcing airlocks.
  code/game/machinery/doors/airlock.dm
Labels: Grammar and Formatting

#39586 Refactors and improves briefcase launchpad
  code/game/machinery/launch_pad.dm
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance, Refactor, Tweak

#39629 Adds TGS4 post compile scripts
  tools/deploy.sh
  tools/tgs4_scripts/PostCompile.bat
  tools/tgs4_scripts/PostCompile.ps1
  tools/tgs4_scripts/PostCompile.sh
Labels: Tools

#39641 Adds atmos link override variables to hand teleporters and portal guns
  code/game/objects/effects/portals.dm
  code/game/objects/items/teleportation.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Code Improvement

#39612 Makes the signal redirect component a bit more transfer proof
  code/datums/components/signal_redirect.dm
Labels: Code Improvement

#39655 Fixes zombie corpses showing in spawners menu
  code/modules/awaymissions/corpse.dm
Labels: Fix, PRB: No Update

#39642 Some injection fixes
  SQL/populate_key_2018-07-09.py
  code/modules/admin/DB_ban/functions.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: SQL, Security

#39644 [READY] Adds Arnold pizza, dont put pineapple on it.
  code/modules/food_and_drinks/food/snacks_pizza.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  icons/obj/food/pizzaspaghetti.dmi
Labels: Feature, Needs Review, Sprites

#39678 Fixes uncalibrated teleporters not turning humans into flies
  code/datums/helper_datums/teleport.dm
Labels: Fix

#39660 Move gas reaction defines to their own file
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  tgstation.dme
Labels: Code Improvement

#39659 [Hotfix] Mime Beret/Traffic Cone doesn't cutoff your hair anymore
  code/modules/clothing/head/misc.dm
Labels: Fix

#39668 Restores admin private log type
  code/__DEFINES/logging.dm
  code/game/atoms.dm
  code/modules/admin/verbs/adminsay.dm
Labels: Administration, Fix, Logging, Oversight, Priority: High

#39677 Fix adding notes for ckeys without any
  code/modules/admin/sql_message_system.dm
Labels: Fix

#39688 Fix undeleted query
  code/modules/client/client_procs.dm
Labels: Fix

#39658 Botany+Medical bounties, tweaks
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/botany.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cargo/bounties/medical.dm
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/exports/sheets.dm
  tgstation.dme
Labels: Feature, Fix, Tweak

#39680 Makes secure crate less prone to explosions when poked
  code/game/objects/structures/crates_lockers/crates/secure.dm
Labels: Fix

#39681 Makes shared engineering storage on meta slightly prettier.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#39692 Fix typo in gondola steak taste list
  code/modules/food_and_drinks/food/snacks/meat.dm
Labels: Fix

#39689 Moves CentCom recovery shuttle further south
  _maps/map_files/generic/CentCom.dmm
Labels: Map Edit

#39147 [READY] Adds ability to give airlocks one-way unrestricted access
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/doors/door.dm
  code/game/objects/structures/door_assembly.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
  icons/obj/doors/airlocks/station/overlays.dmi
  tgui/assets/tgui.js
  tgui/src/interfaces/airlock_electronics.ract
Labels: Feature, Map Edit, Needs Review, Sprites, UI

#39675 Fix escape pod 1 not reaching the recovery ship
  code/modules/shuttle/shuttle.dm
Labels: Fix

#39679 Tweaks titanium walls and window sprites to be a bit prettier.
  icons/obj/smooth_structures/shuttle_window.dmi
  icons/turf/walls/shuttle_wall.dmi
Labels: Sprites

#39690 Removed Comment for Renaming
  config/game_options.txt
Labels: Config Update

#39685 Fixes suit store icons
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix

#39708 Runtimestation tweaks
  _maps/map_files/debug/runtimestation.dmm
  code/game/machinery/Sleeper.dm
Labels: Map Edit

#39703 Fixes watertank runtime.
  code/game/objects/items/tanks/watertank.dm
Labels: Fix

#39664 Adds binoculars to the Detective's locker
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Tweak

#39728 Fixes Move() not calling area/Entered and area/Exited()
  code/game/atoms_movable.dm
Labels: Fix

#39726 Add some missing query qdels
  code/modules/admin/create_poll.dm
  code/modules/admin/sql_message_system.dm
Labels: Fix

#39718 Allows images sent by PDA to be closed
  code/game/machinery/telecomms/machines/message_server.dm
Labels: Fix

#39710 The garbage collector now makes an actual effort to churn thru the prequeue
  code/controllers/subsystem/garbage.dm
Labels: Performance

#39721 Fixes telekenetic grabbing bedsheets through time and space
  code/game/objects/structures/bedsheet_bin.dm
Labels: Fix

#39720 Fixes telekenetic toilet cistern item retrieve exploit
  code/game/objects/structures/watercloset.dm
Labels: Fix

#39674 Validate map templates uploaded by admins
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/mapping/map_template.dm
  code/modules/mapping/preloader.dm
  code/modules/mapping/reader.dm
  code/modules/mapping/verify.dm
  tgstation.dme
Labels: Administration

#39725 fixes drill bounty
  code/modules/cargo/bounties/science.dm
Labels: Fix

#39751 [s] patches HTML injection in camera/photos
  code/modules/photography/camera/camera.dm
Labels: Fix, Security

#39729 you can no longer get the option to become already dead spiders
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Fix

#39684 Tweaks nuke win conditions
  code/modules/antagonists/nukeop/nukeop.dm
Labels: Fix, Tweak

#39705 Allows ore silos circuit boards to be constructed
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#39699 Ports oracle's dirt sprites
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/turfs/open.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor/fancy_floor.dm
  code/game/turfs/simulated/floor/light_floor.dm
  code/game/turfs/simulated/floor/mineral_floor.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/game/turfs/simulated/floor/plasteel_floor.dm
  code/game/turfs/simulated/floor/plating/dirt.dm
  code/game/turfs/simulated/floor/plating/misc_plating.dm
  code/game/turfs/simulated/floor/reinf_floor.dm
  code/game/turfs/simulated/reebe_void.dm
  code/game/turfs/turf.dm
  code/modules/holodeck/turfs.dm
  icons/effects/dirt.dmi
Labels: Sprites

#39743 Moves nutrition events to the mood component
  code/datums/components/mood.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Code Improvement

#39738 Fix 'Medical Delivery' windoor in Pubby
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#39747 Fixes timer buckets going into negatives and adds a regression test
  code/controllers/subsystem/timer.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/timer_sanity.dm
Labels: Continuous Integration, Fix

#39739 Fix missing ckey to key in edit_meesage_expiry
  code/modules/admin/sql_message_system.dm
Labels: Administration, Fix

#39754 Fixes augmentation not removing old limbs
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#39672 improves emote and suicide restraint checks
  code/datums/emotes.dm
  code/modules/client/verbs/suicide.dm
Labels: Fix

#39695 Ports oracle's janitor cart sprites
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  icons/obj/janitor.dmi
Labels: Sprites

#39744 Sorted hair and clothing names
  code/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Tweak

#39553 Zombie Organ now does toxin damage!
  code/modules/admin/verbs/randomverbs.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/zombie/organs.dm
Labels: Balance/Rebalance

#39722 [Ready] His Grace Ascension RETURNS at 25 victim requirement
  code/game/objects/items/his_grace.dm
  icons/obj/items_and_weapons.dmi
Labels: Feature, Needs Review, Sprites

#39670 [READY] Gondola Fur Products and Gondola Mask Voice Changer
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/mask.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/uniforms.dmi
  strings/spurdo_replacement.json
Labels: Feature, Needs Review, Sprites

#39768 after 8 billion years i get around to PRing the ore silo icon
  code/modules/mining/machine_silo.dm
  icons/obj/mining.dmi
Labels: Sprites

#39765 Fire extinguishers no longer spray when put away with safety off
  code/game/objects/structures/extinguisher.dm
Labels: Tweak

#39723 Updates titanium and plastitanium floor sprites.
  _maps/RandomRuins/LavaRuins/lavaland_surface_swarmer_crash.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/arrival_box.dmm
  _maps/shuttles/arrival_pubby.dmm
  _maps/shuttles/assault_pod_default.dmm
  _maps/shuttles/cargo_birdboat.dmm
  _maps/shuttles/emergency_asteroid.dmm
  _maps/shuttles/emergency_backup.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_box.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_goon.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_mini.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/emergency_scrapheap.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/labour_box.dmm
  _maps/shuttles/labour_delta.dmm
  _maps/shuttles/mining_box.dmm
  _maps/shuttles/ruin_syndicate_fighter_shiv.dmm
  code/game/gamemodes/objective.dm
  code/game/turfs/simulated/floor/mineral_floor.dm
  code/modules/shuttle/emergency.dm
  icons/effects/96x96.dmi
  icons/obj/structures_spawners.dmi
  icons/turf/floors.dmi
Labels: Map Edit, Sprites

#39582 Circuit logging and etc
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/subtypes/access.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/integrated_electronics/subtypes/output.dm
Labels: Administration, Fix

#39220 Makes having high body temperature more deadly in general
  code/modules/mob/living/carbon/human/species.dm
Labels: Balance/Rebalance, Test Merge Candidate

#39781 Fixes invalid name error showing up when cancelling the input
  code/modules/client/preferences.dm
Labels: Fix

#39777 Fix getrev when TGS is present
  code/datums/helper_datums/getrev.dm
Labels: Fix

#39784 Fixes plastic reaction creating 10 sheets for all reagent amounts
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Fix
