Repository tgstation/tgstation, pull requests merged in 2019-01, with the labels that each got.

#42135 Fixes squashing
  code/modules/hydroponics/grown.dm
Labels: Fix

#42148 Ban editing and logging fixes
  code/modules/admin/sql_ban_system.dm
Labels: Fix

#42114 Runtimestation tweaks
  _maps/map_files/debug/runtimestation.dmm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: Map Edit, Tweak

#41843 Uplink pens now need two separate rotations to unlock
  code/__HELPERS/_lists.dm
  code/datums/components/uplink.dm
  code/datums/mind.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#41986 [READY]Humans now have hygiene (DOES NOT AFFECT MOOD GO AWAY MOODPOSTERS)
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/economy.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/obj_flags.dm
  code/__DEFINES/traits.dm
  code/_globalvars/bitfields.dm
  code/_onclick/item_attack.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/mood.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/needs_events.dm
  code/datums/traits/good.dm
  code/datums/traits/neutral.dm
  code/game/machinery/computer/card.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/suits/utility.dm
  code/modules/economy/account.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/update_icons.dm
  icons/mob/smelly.dmi
Labels: Feature, Needs Review, Sprites, Tweak

#42034 [READY] Robustin's Syndicate Infiltrator PR except with the requested changes
  _maps/shuttles/infiltrator_basic.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/turfs/simulated/wall/reinf_walls.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/shuttle/syndicate.dm
  icons/turf/walls/plastitanium_wall.dmi
Labels: Balance/Rebalance, Fix, Map Edit, Needs Review, Sprites

#42176 Adds broken prototype canister icon
  icons/obj/atmos.dmi
Labels: Sprites

#42134 Abductor camera console eyes are now visible to ghosts
  code/modules/antagonists/abductor/machinery/camera.dm
  icons/mob/cameramob.dmi
Labels: Feature, Sprites

#42113 Heroine buds no longer chop the hairstyle of anyone wearing them
  code/modules/clothing/clothing.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
Labels: Fix

#42106 Adds jitter animation to strange reagent
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Tweak

#41796 Boxstation Brig Mapping Changes
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Feature, Map Edit, Stale

#41959 [READY]New durathread content and durathread modifications
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/loom.dm
  code/modules/clothing/head/beanie.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/crafting/tailoring.dm
  icons/mob/head.dmi
  icons/mob/mask.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/stack_objects.dmi
Labels: Feature, Needs Review, Sprites, Tweak

#42155 Fixes extraneous naked human icon appearing below all humans
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#42075 Transparent protection for clothing [READY]
  code/game/objects/items.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/monkey/life.dm
Labels: Fix

#42147 chance to get the standard red spacesuit from syndicate space suit boxes
  code/game/objects/items/storage/uplink_kits.dm
Labels: Feature, Good First PR

#41928 [I GUESS THIS MIGHT BE TESTMERGED? I DUNNO] return of the ling action buttons
  code/game/gamemodes/objective.dm
  code/modules/antagonists/changeling/cellular_emporium.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/antagonists/changeling/powers/augmented_eyesight.dm
  code/modules/antagonists/changeling/powers/biodegrade.dm
  code/modules/antagonists/changeling/powers/chameleon_skin.dm
  code/modules/antagonists/changeling/powers/digitalcamo.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/changeling/powers/fleshmend.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/antagonists/changeling/powers/hivemind.dm
  code/modules/antagonists/changeling/powers/humanform.dm
  code/modules/antagonists/changeling/powers/lesserform.dm
  code/modules/antagonists/changeling/powers/linglink.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/panacea.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/antagonists/changeling/powers/regenerate.dm
  code/modules/antagonists/changeling/powers/revive.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/antagonists/changeling/powers/spiders.dm
  code/modules/antagonists/changeling/powers/strained_muscles.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/changeling/powers/transform.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  code/modules/mob/mob.dm
  code/modules/mob/transform_procs.dm
  icons/mob/actions/actions_changeling.dmi
  icons/mob/actions/backgrounds.dmi
  tgstation.dme
Labels: Refactor, Sprites

#42153 FREE DRONE! Allows the living to use not on station vending machines
  code/modules/vending/_vending.dm
Labels: Fix

#41994 UNSTOPPABLE flag is now checked every time something tries to pass something instead of just once in the Move() proc
  code/_globalvars/bitfields.dm
  code/game/turfs/turf.dm
Labels: Fix

#42092 Fixes AT errors for CentCom+Hilbert's hotel
  _maps/RandomRuins/SpaceRuins/hilbertshoteltestingsite.dmm
Labels: Fix, Map Edit

#42074 Blood contract knives only last two minutes, like the chainsaw
  code/modules/antagonists/blood_contract/blood_contract.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Tweak

#42178 Changed how cloners apply brain damage to be more traumatic on early ejection
  code/game/machinery/cloning.dm
Labels: Tweak

#42186 Fixes airblock turf not working
  code/game/turfs/closed.dm
  code/game/turfs/open.dm
  code/game/turfs/simulated/minerals.dm
Labels: Fix

#42182 Fixes mobs being left in inconsistent state with the Void mutation
  code/datums/mutations/actions.dm
  code/game/objects/items/dna_injector.dm
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#41876 New() -> Initialize()
  code/game/machinery/telecomms/computers/message.dm
  code/game/objects/items/AI_modules.dm
  code/game/objects/items/RPD.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/cosmetics.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/grenades/clusterbuster.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/grenades/smokebomb.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/mop.dm
  code/game/objects/items/religion.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/ai_core.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crates/bins.dm
  code/game/objects/structures/crates_lockers/crates/critter.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/electricchair.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/hivebot.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/musician.dm
  code/game/objects/structures/safe.dm
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/traps.dm
  code/modules/admin/fun_balloon.dm
  code/modules/antagonists/clockcult/clock_effects/general_markers.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/assembly/igniter.dm
  code/modules/awaymissions/exile.dm
  code/modules/awaymissions/mission_code/stationCollision.dm
  code/modules/awaymissions/super_secret_room.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/clothing/under/_under.dm
  code/modules/detectivework/evidence.dm
  code/modules/events/holiday/halloween.dm
  code/modules/events/holiday/vday.dm
  code/modules/mob/living/silicon/robot/robot.dm
  tools/Redirector/Redirector.dm
Labels: Code Improvement, Tools

#41981 Podspawn admin verb, like Spawn, but more IC
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/cargo/supplypod.dm
  html/create_object.html
Labels: Administration

#42196 Fix miasma infecting space
  code/datums/components/mood.dm
  code/datums/components/rot.dm
Labels: Fix

#42197 Fixes Spontaneous Brain Trauma runtimes
  code/game/objects/items/storage/firstaid.dm
  code/modules/events/brain_trauma.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Fix

#42201 Adjusts the orientation of some computers and a terminal on BoxStation/Lavaland
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
Labels: Good First PR, Map Edit, Tweak

#42203 About that beer I owed ya. Adds blueshirt items to sectech and defines them better.
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/vending/security.dm
Labels: Feature

#42013 Microwave now uses a radial menu
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
Labels: Feature

#42211 Redesigns the Raven Battlecruiser escape shuttle
  _maps/shuttles/emergency_raven.dmm
  code/datums/shuttles.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/effects/decals/turfdecal/markings.dm
  icons/turf/decals.dmi
Labels: Feature, Map Edit, Sprites

#42226 turns the 2 hygiene quirks into mood quirks
  code/datums/traits/good.dm
  code/datums/traits/neutral.dm
Labels: Fix

#42195 Scope various unscoped locate() calls
  code/game/machinery/computer/security.dm
  code/game/machinery/gulag_item_reclaimer.dm
  code/game/machinery/hologram.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/telecomms/computers/message.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/items/devices/PDA/virus_cart.dm
  code/game/objects/items/storage/book.dm
  code/modules/admin/secrets.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/cargo/bounty_console.dm
  code/modules/crafting/craft.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/paperwork/folders.dm
Labels: Code Improvement

#42205 Reduces sound volume for some ghost notifications
  code/game/objects/items/devices/reverse_bear_trap.dm
  code/modules/antagonists/clockcult/clock_items/construct_chassis.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/mob_helpers.dm
Labels: Tweak

#42199 Add telescreen announcement when the thunderdome is active
  _maps/map_files/generic/CentCom.dmm
  code/game/machinery/camera/motion.dm
  code/game/machinery/computer/camera.dm
  code/modules/admin/secrets.dm
  code/modules/holiday/holidays.dm
  icons/obj/status_display.dmi
Labels: Feature, Map Edit, Sprites, Tweak

#41977 mixers work on 0% and 100%
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
Labels: Fix

#42233 MakeDirty() is only called 33% of the time
  code/game/turfs/simulated/dirtystation.dm
  code/game/turfs/simulated/floor.dm
Labels: Code Improvement

#42238 Less special-casing for loving sprinkles and fancy security drinks
  code/__DEFINES/traits.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/civilian.dm
  code/modules/jobs/job_types/civilian_chaplain.dm
  code/modules/jobs/job_types/job.dm
  code/modules/jobs/job_types/security.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Code Improvement

#42239 Increases air alarm miasma threshold to prevent spam
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Tweak

#42240 Removes miasma from default filtered gases
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Removal, Tweak

#42224 Makes revenant unable to use Topic
  code/modules/antagonists/revenant/revenant.dm
Labels: Fix

#42217 Slightly modifies the plastitanium wall description to make it less evil.
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall/mineral_walls.dm
Labels: Grammar and Formatting

#41969 add alt click to eject beaker + beaker swapping to chem dispenser and chem master [READY]
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Code Improvement, Feature

#42223 [s] Fixes VR game hanging exploit
  code/modules/VR/vr_sleeper.dm
Labels: Fix

#42073 Die of fate tweaks and fixes
  code/__DEFINES/misc.dm
  code/__DEFINES/movespeed_modification.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/dice.dm
  code/modules/awaymissions/mission_code/Academy.dm
Labels: Administration, Fix, Tweak

#42021 [READY] New Side Antagonist: The Creep!
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/status_effects.dm
  code/datums/brain_damage/brain_trauma.dm
  code/datums/brain_damage/creepy_trauma.dm
  code/datums/components/heirloom.dm
  code/datums/hud.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/datums/status_effects/neutral.dm
  code/modules/antagonists/creep/creep.dm
  code/modules/events/creep_awakening.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/photography/_pictures.dm
  code/modules/photography/camera/camera.dm
  icons/mob/hud.dmi
  sound/ambience/antag/creepalert.ogg
  tgstation.dme
Labels: Feature, Needs Review, Sound, Sprites

#42102 Reworks spearguns, adds Syndicate bundle, carp clothing adds carp faction
  code/game/objects/items/pneumaticCannon.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/weaponry.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/projectiles/ammunition/caseless/misc.dm
  code/modules/projectiles/boxes_magazines/internal/misc.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile/reusable/magspear.dm
  code/modules/spells/spell_types/rightandwrong.dm
  tgstation.dme
Labels: Feature, Tweak

#41884 Cleans up shower code
  code/game/objects/structures/shower.dm
  code/game/objects/structures/watercloset.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  tgstation.dme
Labels: Code Improvement, Refactor

#42218 Check plumbing verb upgrade + t-ray view verb
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Administration

#42008 [READY]Ports yet another SDQL2 upgrade, refactors SDQL2 to a datum, adds SDQL2 options/more features
  code/__DEFINES/_tick.dm
  code/__HELPERS/time.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_parser.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/mob.dm
Labels: Needs Review, Stale

#42247 Xenos now have a liver and process reagents
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/liver.dm
Labels: Feature, Fix

#42234 Science areas can now be dirty
  code/game/turfs/simulated/dirtystation.dm
Labels: Fix

#42235 Glowing goo glows more; roundstart goo contains radium or uranium
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/turfs/simulated/dirtystation.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak

#42228 Readds non-persistent contraband filled smugglers satchels
  code/controllers/subsystem/minor_mapping.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature

#42255 Prevents supermatter shuttle reflectors from getting deconstructed
  _maps/shuttles/emergency_supermatter.dmm
Labels: Map Edit, Tweak

#42249 Adds a cautery to Robotics on Metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Tweak

#42245 Removes the plasmaman species slowdown.
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Balance/Rebalance, Removal

#42250 Adds Combat Gloves Plus for operatives at 5tc
  code/datums/martial/krav_maga.dm
  code/game/gamemodes/clown_ops/clown_ops.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Good First PR

#42263 Shooz
  icons/obj/clothing/shoes.dmi
Labels: Sprites

#42243 Remove power cells from light fixtures
  code/modules/power/lighting.dm
Labels: Tweak

#42281 Adds engineer access to Delta radiation shutters
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#42265 Podpeople are always clean
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
Labels: Feature

#42149 Allows mechanical organ manipulation to be performed on your own augmented body parts
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/surgery.dm
Labels: Code Improvement, Tweak

#42286 Fixes broken he pipes icons
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold.dm
  icons/obj/atmospherics/pipes/he-manifold.dmi
Labels: Fix, Sprites

#42277 Dead people do not suffer hygiene problems, as they are busy decomposing
  code/modules/mob/living/carbon/human/life.dm
Labels: Tweak

#42279 Added a sprite for Telekinetic Field
  code/modules/spells/spell_types/hivemind.dm
  icons/effects/96x96.dmi
Labels: Sound, Sprites

#42280 Restricts magspear throw_range
  code/game/objects/items/weaponry.dm
Labels: Tweak

#42181 Improves quality of flavoured cigarettes
  code/__DEFINES/traits.dm
  code/datums/brain_damage/mild.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/items/cigs_lighters.dm
  code/modules/mob/living/emote.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Code Improvement, Tweak

#42266 Removes html from medibot emergency declaration
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Fix, Removal

#42087 Fixes certain situations where people in supplypods would sent to nullspace
  _maps/map_files/generic/CentCom.dmm
  code/game/area/areas/centcom.dm
  code/modules/cargo/centcom_podlauncher.dm
  icons/turf/areas.dmi
Labels: Fix, Map Edit, Sprites

#42261 Shuttle rotation decal corner fix (Take 2)
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/oldAIsat.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomZLevels/VR/snowdin_VR.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_meta.dmm
  icons/turf/decals.dmi
  tools/mapmerge2/map_scripts/cornersfix.txt
Labels: Fix, Map Edit, Sprites, Tools

#42271 Lowers Nuka Cola Speed by 25% & Increases Soda Premium Drink Costs
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/vending/cola.dm
Labels: Balance/Rebalance, Feature, Good First PR, Removal

#42292 Cargo techfab moved to cargo office on box station
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Fix, Map Edit

#42293 Fixes ghosts and camera mobs feeling cold showers
  code/game/objects/structures/shower.dm
Labels: Fix

#42169 Code no longer runtimes on species change for mobs
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#42129 Wearing freshly washed clothes makes you feel better
  code/datums/mood_events/needs_events.dm
  code/game/machinery/washing_machine.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/jobs/civilian.dm
Labels: Feature, Stale

#42251 [READY] Ash Drake bug fixes and edits
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
Labels: Balance/Rebalance, Feature, Fix, Needs Review, Removal, Tweak

#42236 Fixed slaughter demon exit speed boost
  code/__DEFINES/movespeed_modification.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/mob/living/bloodcrawl.dm
Labels: Fix

#42304 Updates Donutstation's Dorm Showers
  _maps/map_files/Donutstation/Donutstation.dmm
  code/game/area/Space_Station_13_areas.dm
Labels: Map Edit, Tweak

#42307 Fixes Syndicate access from Grant Full Access verb
  code/modules/jobs/access.dm
Labels: Fix

#42309 Gaining the creep trauma no longer happens via brain damage
  code/datums/brain_damage/creepy_trauma.dm
Labels: Tweak

#42311 Update pygit2 version to 0.27.2
  tools/mapmerge2/requirements.txt
Labels: Tools

#42216 reworks emote sound code & adds screaming (Which only works if the code forces it. *scream wont make a sound)
  code/datums/emotes.dm
  code/modules/mob/living/carbon/alien/emote.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/emotes.dm
  sound/voice/human/femalescream_1.ogg
  sound/voice/human/femalescream_2.ogg
  sound/voice/human/femalescream_3.ogg
  sound/voice/human/femalescream_4.ogg
  sound/voice/human/femalescream_5.ogg
  sound/voice/human/malescream_1.ogg
  sound/voice/human/malescream_2.ogg
  sound/voice/human/malescream_3.ogg
  sound/voice/human/malescream_4.ogg
  sound/voice/human/malescream_5.ogg
  sound/voice/human/wilhelm_scream.ogg
  sound/voice/moth/scream_moth.ogg
Labels: Code Improvement, Sound

#42312 initial hygiene tweaks
  code/__DEFINES/atmospherics.dm
  code/game/objects/structures/shower.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/suits/bio.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Tweak

#42273 Adjusts vehicles to new movement delay
  code/modules/vehicles/atv.dm
  code/modules/vehicles/scooter.dm
  code/modules/vehicles/secway.dm
Labels: Fix

#42302 Changes the type pathing of some "random" items
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/gloves/color.dm
Labels: Code Improvement, Map Edit

#42305 Makes BoxStation vacant comissary disposal unit linked to cargo outlet
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Fix, Map Edit

#42306 The signature barman booze sliding is now granted by their beer goggles
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/traits.dm
  code/game/objects/items/granters.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/jobs/job_types/cargo_service.dm
  code/modules/reagents/reagent_containers.dm
Labels: Map Edit, Tweak

#42314 Improves Spiritual quirk
  code/datums/mood_events/generic_positive_events.dm
  code/datums/traits/good.dm
Labels: Feature

#42336 Fixes lizards instantly getting firebreath
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#42332 Banning panel change and two fixes
  code/modules/admin/sql_ban_system.dm
  html/admin/banpanel.css
Labels: Administration, Fix

#42326 Fixes supermatter extraction again
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#42349 Alcohol value tweaking
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Tweak

#42348 Adds more holidays and holiday stuff.
  code/modules/holiday/holidays.dm
Labels: Tweak

#42329 Fixes Malf AIs spawing multiple doomsdays
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Fix

#42335 Gives admins a button to remove metal + cult dagger from Cultists
  code/modules/antagonists/cult/cult.dm
Labels: Administration

#42339 Rearranges uplink items
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#42229 Desc/iconifies various pills, admin floorpill bottles
  code/game/objects/items/storage/firstaid.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Tweak

#42359 dna console grammar
  code/game/machinery/computer/dna_console.dm
Labels: Grammar and Formatting

#42344 Resisting out of bucklecuffs takes an amount of time dependent on cuffs used.
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance/Rebalance

#42297 Assistant Traitor Item: Part Electric Boogatwo
  code/game/objects/items/storage/toolbox.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/storage.dmi
Labels: Feature, Sprites

#42357 Clicking the health doll lets you examine yourself for injuries.
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Tweak

#42340 Fixes communication disorder plus mutadone causing chat spam
  code/__DEFINES/traits.dm
  code/__HELPERS/text.dm
  code/datums/brain_damage/mild.dm
  code/datums/mutations/speech.dm
  code/modules/mob/living/say.dm
Labels: Fix

#42358 Moves valentines/candyheart messages to json; adds new text
  code/modules/events/holiday/vday.dm
  strings/valentines.json
Labels: Tweak

#41951 [ready] Golem DLC pass 2018 (Adds new golem types)
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits.dm
  code/datums/components/footstep.dm
  code/datums/footstep.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/surgery/organs/ears.dm
  icons/mob/actions/actions_spells.dmi
  icons/mob/human_parts.dmi
  sound/effects/gong.ogg
  sound/magic/RATTLEMEBONES.ogg
  sound/magic/RATTLEMEBONES2.ogg
  sound/weapons/whipgrab.ogg
Labels: Feature, Fix, Needs Review, Sound, Sprites

#42345 Adjusted vent placement in Delta's RoboLab, added second welding mask for Robotics on Delta and Meta.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Tweak

#42354 Cigarettes extinguishing and vapes refactor
  code/game/objects/items/cigs_lighters.dm
Labels: Fix, Refactor

#42284 tgui'ed P.A.C.M.A.N interface + some minor fixes
  code/modules/power/port_gen.dm
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/portable_generator.ract
Labels: Fix, Tweak, UI

#42364 Adds hygiene and nutrition scan options to scanner gates
  code/game/machinery/scan_gate.dm
  tgui/assets/tgui.js
  tgui/src/interfaces/scanner_gate.ract
Labels: Tweak, UI

#42327 Allows coloring objects with spray cans
  code/game/objects/items/crayons.dm
Labels: Feature, Grammar and Formatting

#42376 allows profession belts to hold their appropriate holosign
  code/game/objects/items/storage/belt.dm
Labels: Fix, Tweak

#42246 Lowers CO2 fusion power and slightly bumps up nitryl
  code/modules/atmospherics/gasmixtures/gas_types.dm
Labels: Balance/Rebalance, Test Merge Candidate

#42372 grammar fix
  code/game/objects/items/devices/desynchronizer.dm
Labels: Fix

#42366 Adds Blank Paper, a new mime cocktail
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#42385 Chaplains can now furiously rub bibles together and transfer the appearance and name.
  code/game/objects/items/storage/book.dm
Labels: Feature

#42375 Pubbystation fixes
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#42392 Fixes Donutstation cam issue
  _maps/map_files/Donutstation/Donutstation.dmm
  code/game/machinery/camera/presets.dm
Labels: Fix, Map Edit

#42393 Adds Life Day holiday
  code/modules/holiday/holidays.dm
Labels: Feature

#42377 Adds the ability to create circuit floor tiles
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature, Good First PR

#42415 Fix compile error in ethereal light handling
  code/modules/power/lighting.dm
Labels: Fix

#42290 Hierophant burst is async
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: Fix

#42373 [READY] petting all dogs makes you happy, petting cats now makes you happy #freepugs
  code/datums/mood_events/generic_positive_events.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: Fix, Needs Review

#42382 Observers can tell if an object is a family heirloom on examine()
  code/datums/components/heirloom.dm
Labels: Tweak

#42320 [Ready] Improves various supermatter messages
  code/game/objects/items/theft_tools.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Fix, Needs Review, Tweak

#42386 Removes separated chemicals trait
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/plant_genes.dm
Labels: Balance/Rebalance, Removal

#42407 Fixes not being able to insert objects into closets, and being unable to throw
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#42241 Fixes projectiles not hitting people resting, a bit of refactoring of how projectile target collision is done
  code/__DEFINES/combat.dm
  code/__DEFINES/flags.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/items/chrono_eraser.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/latexballoon.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/shooting_range.dm
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/reflector.dm
  code/game/objects/structures/statues.dm
  code/game/objects/structures/target_stake.dm
  code/game/turfs/simulated/wall/mineral_walls.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/clockcult/clock_mobs/clockwork_marauder.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/bloodcrawl.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/combat.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/silicon/ai/ai_defense.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/bot/SuperBeepsky.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob_movement.dm
  code/modules/power/rtg.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/spells/spell_types/ethereal_jaunt.dm
  code/modules/spells/spell_types/shadow_walk.dm
Labels: Refactor

#42404 fixes runtimes for hygiene and makes the sprite a bit more transparent
  code/_onclick/item_attack.dm
  code/game/objects/structures/watercloset.dm
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/smelly.dmi
Labels: Fix, Sprites, Tweak

#42410 Showers no longer runtime when you shower with an empty hand
  code/game/objects/structures/shower.dm
Labels: Fix

#42411 Bibles no longer runtime when changing bible style
  code/game/objects/items/storage/book.dm
Labels: Fix

#42423 Blood beam failure message shows correct values
  code/modules/antagonists/cult/blood_magic.dm
Labels: Fix

#42432 Fixes chilling sepia extract infinite timestop
  code/modules/research/xenobiology/crossbreeding/chilling.dm
Labels: Fix

#42450 Clean up exact duplicate icon states
  icons/effects/bleed.dmi
  icons/effects/blood.dmi
  icons/mob/back.dmi
  icons/mob/hair_extensions.dmi
  icons/mob/human_face.dmi
  icons/mob/pets.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/machines/antimatter.dmi
  icons/obj/mining.dmi
  icons/turf/floors.dmi
Labels: Code Improvement, Sprites

#42436 Skeleton golem fix
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Fix

#42457 Partial revert of `Minor refactors` (#26305) by @Cyberboss
  code/modules/mob/login.dm
Labels: Grammar and Formatting, Revert

#42451 Fixes unavailable syndicate bundle
  code/modules/uplink/uplink_items.dm
Labels: Fix

#42449 Fix mousetrap boxes having no illustration
  code/game/objects/items/storage/boxes.dm
Labels: Fix

#42461 Makes the steamed hams meme event rarer
  code/modules/events/aurora_caelus.dm
Labels: Tweak

#42460 Makes compressed matter cartridges tiny
  code/game/objects/items/RCD.dm
Labels: Tweak

#42444 Capitalizes Pax's reagent name
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Grammar and Formatting

#42445 Fixes lings not getting some last words on absorb
  code/modules/antagonists/changeling/powers/absorb.dm
Labels: Fix

#42458 Adds a "transfer overlays" option to alternate appearances
  code/__DEFINES/flags.dm
  code/__DEFINES/subsystems.dm
  code/datums/action.dm
  code/game/alternate_appearance.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/runes.dm
Labels: Feature, Fix

#42456 Makes the vent clog event happen more often
  code/modules/events/vent_clog.dm
Labels: Tweak

#42402 Adds the golem Qustinnus was REALLY too afraid to add
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/ruins/lavaland_ruin_code.dm
  icons/mob/human_parts.dmi
  icons/obj/stack_objects.dmi
  sound/misc/Cyka Blyat.ogg
  sound/misc/Russian_Anthem_chorus.ogg
Labels: Feature, Sound, Sprites

#42437 Two new electric powers for genetics
  code/__DEFINES/DNA.dm
  code/datums/mutations/body.dm
  code/datums/mutations/combined.dm
  code/datums/mutations/touch.dm
  code/game/objects/items/dna_injector.dm
  code/modules/spells/spell_types/godhand.dm
  code/modules/spells/spell_types/touch_attacks.dm
  icons/mob/actions/actions_spells.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/misc/touchspell_lefthand.dmi
  icons/mob/inhands/misc/touchspell_righthand.dmi
  icons/obj/items_and_weapons.dmi
  tgstation.dme
Labels: Feature, Sprites

#42388 [ready]rcd upgrades
  code/__DEFINES/construction.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/RCD.dm
  code/game/turfs/simulated/floor.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/radial.dmi
Labels: Feature, Needs Review, Sprites

#42470 Fix turning one paper into two paper airplanes
  code/modules/paperwork/paperplane.dm
Labels: Fix

#42378 legion cores remove CC instead of adminhealing [READY]
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/status_effects/buffs.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  icons/mob/screen_alert.dmi
Labels: Balance/Rebalance, Sprites, Test Merge Candidate

#42463 Fixes for projectiles bugs
  code/game/objects/structures/reflector.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/clockcult/clock_helpers/slab_abilities.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
  code/modules/projectiles/projectile/bullets/dnainjector.dm
  code/modules/projectiles/projectile/bullets/grenade.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/projectiles/projectile/special/curse.dm
  code/modules/projectiles/projectile/special/ion.dm
  code/modules/projectiles/projectile/special/plasma.dm
  code/modules/projectiles/projectile/special/rocket.dm
Labels: Fix, Priority: High

#42467 Trash bounty
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/bounty.dm
Labels: Feature
