Repository tgstation/tgstation, pull requests merged in 2019-12, with the labels that each got.

#47873 Bureaucratic error event has new effects
  code/modules/events/bureaucratic_error.dm
Labels: Tweak

#48066 Reverts felinid interaction with cocoa
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Removal, Revert

#48036 Overhauls the entrance to Engineering on PubbyStation to allow for better access control, makes techfab accessible to Atmos.
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/area/Space_Station_13_areas.dm
  icons/turf/areas.dmi
Labels: Map Edit, Sprites, Tweak

#47551 birdboat now chokes on plastic
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_meta.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/bags.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/mob/living/simple_animal/hostile/goose.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/vending/cola.dm
Labels: Feature, Fix, Map Edit

#47973 Mining cyborgs can choose the old mining cyborg icon plus one other from Citadel.
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/mob/robots.dmi
Labels: Feature, Sprites

#47858 [READY] Gold Slime Mob Reworks
  _maps/shuttles/emergency_narnar.dmm
  code/datums/components/riding.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/eyeballs.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/netherworld.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/frog.dm
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
Labels: Map Edit, Needs Review, Tweak, Verified :heavy_check_mark:

#48032 Revert "paychecks are now a % of the budget instead of fixed numbers …
  code/__DEFINES/economy.dm
  code/modules/economy/account.dm
Labels: Removal, Revert

#48047 Fixes firing range magnet runtime.
  code/game/machinery/magnet.dm
Labels: Fix

#48041 Allows heads of staff to just connect to other holopads, rather than call.
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/datums/holocall.dm
  code/game/machinery/hologram.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Feature, Map Edit, Tweak

#47972 TGUI-next Nanite Interface Overhaul + Dropdown component
  code/__DEFINES/nanites.dm
  code/datums/components/nanites.dm
  code/modules/research/nanites/extra_settings/_extra_setting.dm
  code/modules/research/nanites/extra_settings/boolean.dm
  code/modules/research/nanites/extra_settings/number.dm
  code/modules/research/nanites/extra_settings/text.dm
  code/modules/research/nanites/extra_settings/type.dm
  code/modules/research/nanites/nanite_chamber_computer.dm
  code/modules/research/nanites/nanite_cloud_controller.dm
  code/modules/research/nanites/nanite_hijacker.dm
  code/modules/research/nanites/nanite_program_hub.dm
  code/modules/research/nanites/nanite_programmer.dm
  code/modules/research/nanites/nanite_programs.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/research/nanites/nanite_programs/suppression.dm
  code/modules/research/nanites/nanite_programs/utility.dm
  code/modules/research/nanites/nanite_programs/weapon.dm
  code/modules/research/nanites/nanite_remote.dm
  tgstation.dme
  tgui-next/README.md
  tgui-next/packages/tgui/components/Dropdown.js
  tgui-next/packages/tgui/components/Input.js
  tgui-next/packages/tgui/components/index.js
  tgui-next/packages/tgui/interfaces/NaniteChamberControl.js
  tgui-next/packages/tgui/interfaces/NaniteCloudControl.js
  tgui-next/packages/tgui/interfaces/NaniteProgramHub.js
  tgui-next/packages/tgui/interfaces/NaniteProgrammer.js
  tgui-next/packages/tgui/interfaces/NaniteRemote.js
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
  tgui-next/packages/tgui/styles/components/Dropdown.scss
  tgui-next/packages/tgui/styles/components/NumberInput.scss
  tgui-next/packages/tgui/styles/main.scss
Labels: Feature, UI

#47961 Automatic TGUI rebuilding on master branch via Github Actions
  .github/workflows/autobuild_tgui.yml
  tools/travis/build_tgui.sh
Labels: GitHub, Tools

#47983 Chem Plumbing Interfaces V2
  code/modules/plumbing/plumbers/filter.dm
  code/modules/plumbing/plumbers/pill_press.dm
  code/modules/plumbing/plumbers/reaction_chamber.dm
  code/modules/plumbing/plumbers/synthesizer.dm
  tgui-next/README.md
  tgui-next/packages/tgui/components/Input.js
  tgui-next/packages/tgui/interfaces/ChemFilter.js
  tgui-next/packages/tgui/interfaces/ChemPress.js
  tgui-next/packages/tgui/interfaces/ChemReactionChamber.js
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
  tgui-next/packages/tgui/styles/components/Input.scss
Labels: Feature, Tweak, UI

#48090 Improve autobuild Github action
  .github/workflows/autobuild_tgui.yml
  tgui-next/bin/tgui
  tools/travis/build_tgui.sh
Labels: GitHub, Tools, UI

#48029 scanner gate tgui-next update
  code/game/machinery/scan_gate.dm
  tgui-next/packages/tgui/interfaces/ScannerGate.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#48060 Moves metastation Ian to his dog bed
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#47976 Makes TRAIT_NOCLONELOSS mobs immune to clone damage
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/damage_procs.dm
Labels: Fix

#48086 Mortar and Pestle Fixes
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Fix, Tweak

#48098 Fixes client colour runtime
  code/modules/client/client_colour.dm
  code/modules/mob/mob.dm
Labels: Fix

#48099 Fixes hallucination runtime.
  code/modules/flufftext/Hallucination.dm
Labels: Fix

#47998 The Start Now verb now has undo options
  code/modules/admin/admin.dm
Labels: Administration

#48087 fixes the crew console vitals square
  tgui-next/packages/tgui/interfaces/CrewConsole.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: UI

#48091 ushanka height consistency
  icons/mob/clothing/head.dmi
Labels: Good First PR, Sprites, Tweak

#48104 RCDs and RPDs can now be worn on the belt slot
  code/game/objects/items/RCD.dm
  code/game/objects/items/RPD.dm
  code/modules/research/designs/tool_designs.dm
Labels: Balance/Rebalance, Grammar and Formatting, Tweak

#47704 Buffs immersion, adds manual blinking and inhale/exhale checks
  code/__DEFINES/admin.dm
  code/__DEFINES/components.dm
  code/datums/components/manual_blinking.dm
  code/datums/components/manual_breathing.dm
  code/modules/admin/secrets.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/surgery/organs/organ_internal.dm
  tgstation.dme
Labels: Feature

#48122 tgui autobuild improvements
  .github/workflows/autobuild_tgui.yml
Labels: GitHub

#47881 adds plumbing machine that can grind/juice items
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  code/modules/plumbing/plumbers/grinder_chemical.dm
  icons/obj/plumbing/plumbers.dmi
  tgstation.dme
Labels: Feature, Sprites

#48100 Fixes readding clown mutation on traitor mind moving out
  code/modules/antagonists/_common/antag_datum.dm
Labels: Fix

#48119 Play stupid games, win fabulous prizes
  code/game/machinery/computer/arcade.dm
Labels: Feature, Verified :heavy_check_mark:

#48095 Various tgui fixes (Chem Master/Dispenser, Air Alarm), small cleanup.
  code/modules/reagents/chemistry/machinery/chem_master.dm
  tgui-next/.eslintrc-harder.yml
  tgui-next/.eslintrc.yml
  tgui-next/bin/tgui
  tgui-next/packages/common/string.js
  tgui-next/packages/tgui-dev-server/link/retrace.js
  tgui-next/packages/tgui-dev-server/link/server.js
  tgui-next/packages/tgui/components/Button.js
  tgui-next/packages/tgui/components/Collapsible.js
  tgui-next/packages/tgui/components/Dropdown.js
  tgui-next/packages/tgui/components/Tabs.js
  tgui-next/packages/tgui/drag.js
  tgui-next/packages/tgui/hotkeys.js
  tgui-next/packages/tgui/interfaces/Achievements.js
  tgui-next/packages/tgui/interfaces/AirAlarm.js
  tgui-next/packages/tgui/interfaces/Apc.js
  tgui-next/packages/tgui/interfaces/AtmosControlConsole.js
  tgui-next/packages/tgui/interfaces/Cargo.js
  tgui-next/packages/tgui/interfaces/ChemAcclimator.js
  tgui-next/packages/tgui/interfaces/ChemDispenser.js
  tgui-next/packages/tgui/interfaces/ChemReactionChamber.js
  tgui-next/packages/tgui/interfaces/ImplantChair.js
  tgui-next/packages/tgui/interfaces/KitchenSink.js
  tgui-next/packages/tgui/interfaces/NaniteChamberControl.js
  tgui-next/packages/tgui/interfaces/NaniteProgramHub.js
  tgui-next/packages/tgui/interfaces/NaniteProgrammer.js
  tgui-next/packages/tgui/interfaces/PersonalCrafting.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Fix, UI

#48082 tgui-next: Gravity Generator
  code/modules/power/gravitygenerator.dm
  tgui-next/packages/tgui/interfaces/GravityGenerator.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#48117 tgui-next: Satellite Control
  tgui-next/packages/tgui/interfaces/SatelliteControl.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: UI

#48115 TGUI-NEXT: Smoke Machine
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  tgui-next/packages/tgui/interfaces/SmokeMachine.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#47817 [ready] Smooth-ish move rising: revengeance
  code/__DEFINES/components.dm
  code/__DEFINES/movement.dm
  code/datums/components/orbiter.dm
  code/datums/components/riding.dm
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movespeed.dm
  code/modules/research/xenobiology/xenobiology.dm
  tgstation.dme
Labels: Needs Review, Tweak

#48107 Fixes gun overlays not updating when the cell is deleted
  code/modules/projectiles/guns/energy.dm
Labels: Fix

#48121 Fixes a misused ghostize
  code/modules/spells/spell_types/mind_transfer.dm
Labels: Fix

#48085 Converts the main timsorts file from relative pathing to absolute pathing.
  code/__HELPERS/sorts/__main.dm
Labels: Refactor

#48076 fixes research director id icon being broken
  icons/obj/card.dmi
Labels: Fix, Sprites

#48108 Adds cell deletion handling for stunbatons
  code/game/objects/items/stunbaton.dm
  code/game/objects/items/teleprod.dm
  code/game/objects/structures/watercloset.dm
  code/modules/surgery/advanced/revival.dm
Labels: Code Improvement, Fix

#48112 Fixes some nanite issues
  code/modules/research/nanites/extra_settings/_extra_setting.dm
  code/modules/research/nanites/extra_settings/boolean.dm
  code/modules/research/nanites/extra_settings/number.dm
  code/modules/research/nanites/extra_settings/text.dm
  code/modules/research/nanites/extra_settings/type.dm
  code/modules/research/nanites/nanite_programs.dm
  tgui-next/packages/tgui/interfaces/NaniteCloudControl.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#47740 [READY]Addition of Medbay Clinic in between Medbay 'proper' and Medbay lobby on Metastation and Pubbystation
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Map Edit, Needs Review, Removal, Stale, Tweak

#48096 makes shadowpeople and nightmares not resist flashes
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: Fix

#48067 Updates energy resistance armour values on remaining armours and helmets.
  code/game/objects/items/religion.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/clothing/head/beanie.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/ninja/suit/suit.dm
Labels: Balance/Rebalance, Fix

#48101 Fixes mindless monkeys trying to use sutures.
  code/game/objects/items/stacks/medical.dm
Labels: Fix

#48124 Hot coco is now made with milk as it should be
  code/modules/food_and_drinks/recipes/food_mixtures.dm
Labels: Fix, Verified :heavy_check_mark:

#48148 Fixes the sugar sack icon
  code/modules/food_and_drinks/food/condiment.dm
Labels: Fix, Good First PR

#48139 Fix herald cloak hit reaction
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
Labels: Fix

#48138 Replaces some dumb usage of switch with simpler statements
  code/game/objects/structures/fence.dm
  code/modules/projectiles/gun.dm
Labels: Code Improvement

#48129 Adds three new moth wings/markings
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/moth_markings.dmi
  icons/mob/moth_wings.dmi
Labels: Sprites

#48157 Gets rid of space turf on meta
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#48132 Cleanup of Hailer Masks
  code/datums/hailer_phrase.dm
  code/modules/clothing/masks/hailer.dm
  tgstation.dme
Labels: Refactor

#48125 Allows Cultists to draw runes in the Library
  code/game/area/Space_Station_13_areas.dm
Labels: Fix

#48126 Fixes new linter errors
  code/datums/hud.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code Improvement

#48170 Removes an unused global list
  code/datums/components/uplink.dm
Labels: Removal

#48165 Replaces magic numbers on Staff of Storms with vars
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
Labels: Tweak

#48110 Solar improvements
  code/__DEFINES/components.dm
  code/__DEFINES/power.dm
  code/controllers/subsystem/sun.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  goon/icons/obj/power.dmi
  tgui-next/packages/tgui/interfaces/SolarControl.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Feature, UI

#48141 Adds bronze/"brass" sheets to the Sheet Snatcher's whitelist
  code/game/objects/items/storage/bags.dm
Labels: Fix, Tweak

#48146 Adds name and desc to achievement metadata
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/datums/achievements/_awards.dm
Labels: SQL, SQL Updated

#47902 New disarm intent suicide
  code/modules/client/verbs/suicide.dm
  code/modules/mob/living/carbon/human/suicides.dm
  sound/effects/cartoon_pop.ogg
  sound/effects/license.txt
  tgstation.dme
Labels: Feature, Fix, Needs Review, Sound, Stale

#48143 Removes unreachable code
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/weather.dm
  code/datums/components/riding.dm
  code/datums/components/wet_floor.dm
  code/datums/datum.dm
  code/datums/wires/_wires.dm
  code/game/data_huds.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/newscaster.dm
  code/game/objects/items/RCL.dm
  code/game/objects/objs.dm
  code/game/sound.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/antagonists/abductor/machinery/experiment.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/file_system/programs/arcade.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/plumbing/ducts.dm
  code/modules/power/apc.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/vending/_vending.dm
  code/modules/vending/autodrobe.dm
Labels: Code Improvement

#47966 [READY] Drones die when trying to leave the derelict
  code/datums/components/stationstuck.dm
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
  tgstation.dme
Labels: Administration, Needs Review, Stale

#48153 Snowcone polish
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  icons/obj/food/snowcones.dmi
Labels: Feature, Fix, Grammar and Formatting, Sprites, Tweak

#48176 Fixes pda sorting
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Fix

#48181 Fixes nanite damage sensor not having extra settings
  code/modules/research/nanites/nanite_programs/sensor.dm
Labels: Fix

#48094 Adds a bunch of new achievements
  code/__DEFINES/achievements.dm
  code/_onclick/item_attack.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/components/gunpoint.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/structures/watercloset.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/surgery/surgery_step.dm
  code/modules/vending/_vending.dm
Labels: Feature

#48074 Tgui-next pandemic
  code/datums/diseases/advance/symptoms/choking.dm
  code/datums/diseases/advance/symptoms/confusion.dm
  code/datums/diseases/advance/symptoms/cough.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/dizzy.dm
  code/datums/diseases/advance/symptoms/fever.dm
  code/datums/diseases/advance/symptoms/fire.dm
  code/datums/diseases/advance/symptoms/flesh_eating.dm
  code/datums/diseases/advance/symptoms/genetics.dm
  code/datums/diseases/advance/symptoms/hallucigen.dm
  code/datums/diseases/advance/symptoms/headache.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/itching.dm
  code/datums/diseases/advance/symptoms/nanites.dm
  code/datums/diseases/advance/symptoms/narcolepsy.dm
  code/datums/diseases/advance/symptoms/oxygen.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/diseases/advance/symptoms/shivering.dm
  code/datums/diseases/advance/symptoms/sneeze.dm
  code/datums/diseases/advance/symptoms/symptoms.dm
  code/datums/diseases/advance/symptoms/vision.dm
  code/datums/diseases/advance/symptoms/voice_change.dm
  code/datums/diseases/advance/symptoms/vomit.dm
  code/datums/diseases/advance/symptoms/weight.dm
  code/modules/antagonists/disease/disease_abilities.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  tgui-next/packages/tgui/index.js
  tgui-next/packages/tgui/interfaces/Pandemic.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#48081 tgui-next portable atmos
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  tgui-next/packages/tgui/components/TitleBar.js
  tgui-next/packages/tgui/interfaces/PortableAtmos.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#48209 Fixes TGUI crafting exception
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
Labels: Fix

#48187 Adds attack verb to baguette
  code/modules/food_and_drinks/food/snacks_bread.dm
Labels: Tweak

#48182 Stops arrival deadchat message span from leaking.
  code/__HELPERS/game.dm
Labels: Fix

#48188 Cleans up round end json
  code/__HELPERS/roundend.dm
Labels: Fix

#48197 Changes two SStimer CRASH to stack_trace
  code/controllers/subsystem/timer.dm
Labels: Fix

#48195 Adds Chili con Carnival
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  icons/obj/food/soupsalad.dmi
Labels: Feature, Sprites

#48191 Meat donut recipe balance
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Balance/Rebalance

#48201 Finally fixes duct stacks so they can be recycled.
  code/modules/plumbing/ducts.dm
Labels: Fix

#48192 Fixes syndie hardsuit helmet mode slowdown
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Fix

#48189 Fixes legcuff slowdown
  code/game/objects/items/handcuffs.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#48203 Vampires maintain blood level over bat form
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/spells/spell_types/shapeshift.dm
Labels: Fix, Good First Issue

#48202 Dynamic: Improved threat logging, no triple refunds
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Fix

#48193 Improves cinematic code
  code/__DEFINES/components.dm
  code/datums/cinematic.dm
Labels: Code Improvement, Fix

#48194 Corner case speedups for bola and bear trap
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#48208 Blood bursting
  code/__DEFINES/mobs.dm
  code/modules/mob/living/blood.dm
Labels: Feature, Verified :heavy_check_mark:

#47955 [READY]New Plasma Fist Finale: Apotheosis!
  _maps/RandomZLevels/caves.dmm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/beam.dm
  code/datums/martial/plasma_fist.dm
  code/game/objects/items/granters.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  icons/effects/beam.dmi
  icons/effects/effects.dmi
Labels: Feature, Map Edit, Needs Review, Sprites

#48196 Cleans up the difference between Pharmacy and Chemistry access
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/access.dm
  code/game/area/Space_Station_13_areas.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  icons/turf/areas.dmi
Labels: Fix, Map Edit, Sprites, Tweak

#48217 Fixes cult bola pickup effect
  code/modules/antagonists/cult/cult_items.dm
Labels: Fix

#48205 Some minor Ecobbomy items (Paystand Functions, Merchant Necklace for Admins)
  code/modules/cargo/exports.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/economy/pay_stand.dm
Labels: Tweak

#48225 Fixes roundend tally
  code/__HELPERS/roundend.dm
Labels: Fix

#48219 Primitive Technology - Charcoal Pens
  code/__DEFINES/misc.dm
  code/modules/paperwork/pen.dm
  icons/obj/bureaucracy.dmi
Labels: Feature, Sprites

#48221 Adds toggleable pit grate
  code/__DEFINES/components.dm
  code/game/machinery/buttons.dm
  code/modules/awaymissions/away_props.dm
Labels: Feature

#48207 Surgical Drill Suicide
  code/modules/surgery/tools.dm
Labels: Feature, Verified :heavy_check_mark:

#48179 Adds logging to Exosuit Console EMP
  code/game/mecha/mecha_control_console.dm
Labels: Administration

#48234 Fixes few minor runtimes.
  code/_onclick/hud/parallax.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/apc_control.dm
  code/game/machinery/medical_kiosk.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/cargo/console.dm
  code/modules/cargo/expressconsole.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/shuttle/emergency.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Fix

#48232 Fixes explosion runtime.
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#48140 Better Plumbing Pipe Icons
  icons/obj/plumbing/fluid_ducts.dmi
  icons/obj/plumbing/plumbers.dmi
Labels: Sprites, Tweak

#48158 Removes some dead/unused code
  code/datums/action.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/doors/checkForMultipleDoors.dm
  code/game/mecha/combat/honker.dm
  code/game/objects/items/implants/implantchair.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/turf.dm
  code/modules/hydroponics/grown/cereals.dm
  code/modules/hydroponics/grown/garlic.dm
  code/modules/hydroponics/grown/grass_carpet.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mob/living/living.dm
  code/modules/research/experimentor.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/plantgrowth_tests.dm
  icons/obj/hydroponics/growing.dmi
  tgstation.dme
Labels: Code Improvement, Removal, Sprites

#48242 Cleans job.dm
  code/controllers/subsystem/job.dm
Labels: Code Improvement

#48243 fixes police baton belt sprite
  code/game/objects/items/melee/misc.dm
  icons/mob/clothing/belt.dmi
  icons/obj/items_and_weapons.dmi
Labels: Fix, Sprites

#48256 Peanutposting on the importent bits of the supermatter
  code/modules/power/supermatter/supermatter.dm
Labels: Atmospherics, Code Improvement, Tweak

#48239 You can now softly place people down as borg that you have buckled.
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Feature

#48211 Meta update to kitchen with shared biogenerator
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Map Edit, Tweak

#48213 Update tgui dependencies, improve window dragging
  tgui-next/package.json
  tgui-next/packages/common/collections.js
  tgui-next/packages/common/vector.js
  tgui-next/packages/tgui-dev-server/link/client.js
  tgui-next/packages/tgui-dev-server/link/server.js
  tgui-next/packages/tgui/backend.js
  tgui-next/packages/tgui/components/TitleBar.js
  tgui-next/packages/tgui/drag.js
  tgui-next/packages/tgui/interfaces/Gps.js
  tgui-next/packages/tgui/package.json
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/styles/components/TitleBar.scss
  tgui-next/yarn.lock
Labels: Feature, UI

#48258 Moves "Observe" verb to ghost category
  code/modules/mob/dead/observer/observer.dm
Labels: Tweak

#48257 floor shields now anchored
  code/game/objects/effects/effect_system/effect_shield.dm
Labels: Fix

#48134 Vendor tipping fixes
  code/modules/vending/_vending.dm
Labels: Fix

#48238 E.X.P.E.R.I-Mentor Overhaul Part the First: Research Notes
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/controllers/subsystem/research.dm
  code/modules/research/experimentor.dm
Labels: Balance/Rebalance, Feature, Map Edit, Tweak

#48260 Adds a cooldown to the deathgasp emote
  code/modules/mob/living/emote.dm
Labels: Tweak

#48298 Conveyor belts are now more respective of server load
  code/modules/recycling/conveyor2.dm
Labels: Performance, Priority: High

#48106 Refactors language holder
  code/__DEFINES/language.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/severe.dm
  code/datums/diseases/advance/symptoms/voice_change.dm
  code/datums/diseases/transformation.dm
  code/datums/dna.dm
  code/datums/mind.dm
  code/datums/mutations/speech.dm
  code/game/atoms_movable.dm
  code/game/machinery/hologram.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/say.dm
  code/modules/antagonists/abductor/equipment/glands/slime.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/clothing/head/misc.dm
  code/modules/events/sentience.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/language/codespeak.dm
  code/modules/language/language_holder.dm
  code/modules/language/language_menu.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/mob/living/carbon/say.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/pai_defense.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/transform_procs.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/ruins/spaceruin_code/TheDerelict.dm
  code/modules/surgery/organs/tongue.dm
  tgui-next/packages/tgui/interfaces/LanguageMenu.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Fix, Refactor, UI

#48285 Gives medkit pills their own unique colors
  code/modules/reagents/reagent_containers/pill.dm
Labels: Tweak

#48289 ice peppers renamed to chilly peppers
  code/modules/cargo/bounties/botany.dm
  code/modules/hydroponics/grown/chili.dm
Labels: Tweak, Verified :heavy_check_mark:

#48276 Fixes removal of assemblies from chemical grenades
  code/game/objects/items/grenades/chem_grenade.dm
Labels: Fix

#48277 Puts encryption keys in hand when removed
  code/game/objects/items/devices/radio/headset.dm
Labels: Tweak

#48279 Corrects my misconceptions about the supermatter
  code/modules/power/supermatter/supermatter.dm
Labels: Atmospherics, Code Improvement

#48269 Fixes roundend json ckeys for suiciders/roundstart observers.
  code/__HELPERS/roundend.dm
Labels: Fix

#48295 Fixes a bunch of map errors
  _maps/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/oldteleporter.dmm
  _maps/RandomRuins/SpaceRuins/turretedoutpost.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_meta.dmm
Labels: Map Edit

#48310 Return of The New Donk Pockets 2: Electric Boogaloo
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  icons/obj/food/food.dmi
  icons/obj/storage.dmi
Labels: Feature, Map Edit, Sprites, Tweak

#48293 Fixes catatonic soulstoning.
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#48294 Fixes AI shell double messages.
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#48300 Abandoned crates no longer explode roundstart
  code/modules/mining/abandoned_crates.dm
Labels: Fix

#48308 Wizard names can no longer be just white spaces
  code/game/objects/structures/mirror.dm
  code/modules/antagonists/wizard/wizard.dm
Labels: Fix

#48307 Bees can now vent crawl
  code/modules/mob/living/simple_animal/hostile/bees.dm
Labels: Fix

#48316 Keybinding update fix
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Fix

#48311 Adds blacklist check for using crafting ingredients
  code/datums/components/crafting/crafting.dm
Labels: Fix

#48312 Adds logs as parts of bonfires and blacklists steel-caps from them
  code/datums/components/crafting/recipes.dm
  code/modules/hydroponics/grown/towercap.dm
Labels: Fix, Tweak

#48317 Fixed santa, more presents
  code/game/objects/items/gift.dm
  code/game/objects/items/storage/backpack.dm
Labels: Fix

#48325 Fixes broken rad damage curve
  code/__DEFINES/radiation.dm
  code/modules/mob/living/living.dm
Labels: Fix

#48329 Fixes diseases being unrenamable
  tgui-next/packages/tgui/interfaces/Pandemic.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#48320 Improves self-harm message formatting.
  code/_onclick/item_attack.dm
Labels: Grammar and Formatting

#48315 Another bunch of runtime fixes.
  code/_onclick/hud/parallax.dm
  code/game/objects/effects/effect_system/effect_system.dm
  code/game/objects/structures/guillotine.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/modular_computers/computers/item/computer_damage.dm
  code/modules/research/experimentor.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/surgery_helpers.dm
Labels: Fix

#48314 Removes unneeded teleport check
  code/modules/spells/spell_types/area_teleport.dm
Labels: Code Improvement

#48268 Batch of runtime fixes.
  code/game/objects/items/implants/implant_abductor.dm
  code/game/objects/obj_defense.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/cargo/supplypod.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/guardian/types/protector.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix

#48287 Fixes random parallax layer.
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/parallax.dm
  icons/effects/parallax.dmi
Labels: Fix, Sprites

#48154 [READY] tgui-next: Bank Machine & UI tweaks (Gravity Generator, Equipment reclaimer)
  code/game/machinery/bank_machine.dm
  code/game/machinery/gulag_item_reclaimer.dm
  code/modules/power/gravitygenerator.dm
  tgui-next/packages/tgui/interfaces/BankMachine.js
  tgui-next/packages/tgui/interfaces/GravityGenerator.js
  tgui-next/packages/tgui/interfaces/GulagItemReclaimer.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, Needs Review, Tweak, UI

#48340 Fix kitchen counter on meta
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#48345 Removes extra APCs from Delta arrivals.
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#48237 Mining Skill is Now Exclusive To Dedicated Mining Tools, Not Weapons That Double As Mining Tools.
  code/datums/skills/mining.dm
  code/game/turfs/closed/minerals.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Balance/Rebalance

#48273 Round time starts counting from round-start, not world-start
  code/modules/mob/mob.dm
Labels: Tweak

#48322 Cargo Requisition Forms now display what time they were ordered
  code/modules/cargo/order.dm
Labels: Tweak

#48330 Adds pipe layers to freezers/heaters
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  icons/obj/atmospherics/components/thermomachine.dmi
Labels: Feature, Good First PR, Sprites

#48332 Don't spawn a pen for uplink unless it's the selected choice
  code/datums/mind.dm
Labels: Fix

#48292 Adds upgrades to admin RCD
  code/game/objects/items/RCD.dm
Labels: Administration

#48301 Mindread now reads the correct true name
  code/datums/dna.dm
  code/datums/mutations/antenna.dm
  code/game/machinery/cloning.dm
Labels: Fix

#48335 SDQL2 dynamically gets subsystems
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Administration

#48210 Resprites the implant action buttons.
  icons/obj/implants.dmi
Labels: Sprites, Tweak

#48343 Fixes stealth mode ghost name reset
  code/modules/admin/admin_verbs.dm
Labels: Administration

#48368 Adds logging to cutting down trees
  code/game/objects/structures/flora.dm
Labels: Administration

#48356 Remove derelict apc from Derelict
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
Labels: Map Edit, Removal

#48354 Fixes monkey mode command report
  code/game/gamemodes/monkey/monkey.dm
Labels: Fix

#48353 All small objects can now fit into filing cabinets
  code/modules/paperwork/filingcabinet.dm
Labels: Tweak

#48352 Fixes typo under donuts.dmi changing jellly_homer to jelly_homer .
  icons/obj/food/donuts.dmi
Labels: Sprites

#48348 Spider runtime fix
  code/game/objects/effects/spiders.dm
Labels: Fix
