Repository tgstation/tgstation, pull requests merged in 2019-06, with the labels that each got.

#44200 Adds affix validation and a slight cleanup of fantasy component
  code/datums/components/fantasy/_fantasy.dm
  code/datums/components/fantasy/affix.dm
Labels: Code Improvement

#44253 Fixes random recipes
  code/modules/reagents/chemistry/recipes/special.dm
Labels: Fix

#44234 Prevent abductors from abducting the disk
  code/datums/components/stationloving.dm
Labels: Fix

#44232 Crispy Status Displays
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/status_display.dm
Labels: Tweak

#44206 Portable scrubbers now have a pressure limit.
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: Fix

#44202 Twisted construction fix
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#44197 Adds "Never for this round" to a few more ghost rolls.
  code/_globalvars/lists/poll_ignore.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
  code/game/machinery/exp_cloner.dm
  code/game/objects/effects/anomalies.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Feature

#44209 Buffs blob rerolls by allowing them to choose from 4 different strains
  code/_onclick/hud/blob_overmind.dm
  code/modules/antagonists/blob/blobstrains/_blobstrain.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/powers.dm
Labels: Balance/Rebalance

#44191 Removes SSreligion
  code/_globalvars/misc.dm
  code/controllers/subsystem/religion.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/book.dm
  code/modules/admin/verbs/pray.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/library/lib_machines.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  tgstation.dme
Labels: Removal, Tweak

#44207 Removes process() from comms console, no longer steals focus
  code/game/machinery/computer/communications.dm
Labels: Fix, Removal

#44242 Fixes datum icecreams, improves admin reagent interface
  code/datums/datumvars.dm
  code/game/machinery/Sleeper.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
Labels: Administration, Fix

#44066 Smoking is now rad. [Ready]
  code/modules/power/supermatter/supermatter.dm
  strings/tips.txt
Labels: Feature, Needs Review

#44245 AFK Timeout text fix
  code/controllers/subsystem/server_maint.dm
Labels: Grammar and Formatting

#44198 Fixes some minor surgery text inconsistensies
  code/modules/antagonists/abductor/equipment/abduction_surgery.dm
  code/modules/surgery/advanced/bioware/bioware_surgery.dm
  code/modules/surgery/advanced/revival.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/remove_embedded_object.dm
Labels: Grammar and Formatting

#44175 sugarcane
  code/modules/vending/megaseed.dm
Labels: Feature

#44188 New RPGLoot Affixes + Component Additions
  code/__DEFINES/components.dm
  code/__DEFINES/is_helpers.dm
  code/datums/components/fantasy/prefixes.dm
  code/datums/components/fantasy/suffixes.dm
  code/datums/components/igniter.dm
  code/datums/components/knockback.dm
  code/datums/components/lifesteal.dm
  code/datums/components/shrapnel.dm
  code/datums/components/spawner.dm
  code/datums/components/summoning.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/items/robot/robot_items.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/caseless/_caseless.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/dueling.dm
  code/modules/projectiles/projectile.dm
  tgstation.dme
Labels: Feature

#44169 Changes grenade detonation timers.
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/grenades/grenade.dm
  code/game/objects/items/grenades/smokebomb.dm
Labels: Feature, Tweak

#44199 Gauze can now be applied to corpses
  code/game/objects/items/stacks/medical.dm
Labels: Tweak

#44205 Fixes windoors bump/hand interactions
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
Labels: Fix

#44208 Thrown objects phase through thrower
  code/controllers/subsystem/throwing.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/mob/living/living_movement.dm
Labels: Fix

#44222 Replaces IF_HAS_BLOOD_DNA with HAS_BLOOD_DNA
  code/__DEFINES/forensics.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Code Improvement

#44213 Adds sequential mode to SDQL
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Feature

#43754 Widescreen toggle support (doesn't actually enable it)
  code/__DEFINES/hud.dm
  code/_onclick/hud/human.dm
  code/controllers/configuration/entries/general.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  config/config.txt
Labels: Config Update, Feature

#43966 Stamina changes [TMC]
  code/__DEFINES/mobs.dm
  code/datums/diseases/advance/symptoms/flesh_eating.dm
  code/game/objects/items/defib.dm
  code/modules/antagonists/blob/blobstrains/energized_jelly.dm
  code/modules/antagonists/blob/blobstrains/pressurized_slime.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/revenant/revenant_blight.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/energy/ebow.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Balance/Rebalance, Feature, Tweak

#44261 Adds a toolbox verb for spawning reagent containers and grenades
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/beakerpanel.dm
  tgstation.dme
Labels: Feature

#44257 fixes donut telecomms server air alarm
  _maps/map_files/Donutstation/Donutstation.dmm
Labels: Fix, Map Edit

#44260 Custom HeaderText on Wanted/Missing Posters
  code/game/machinery/computer/security.dm
  code/game/objects/effects/wanted_poster.dm
  icons/Font_Minimal.dmi
Labels: Feature, Sprites

#44285 Fixes bad indent
  code/modules/antagonists/fugitive/old_god.dm
Labels: Fix

#44263 Add teleport station calibration animation.
  code/game/machinery/computer/teleporter.dm
  code/game/machinery/teleporter.dm
Labels: Sprites

#44274 Stockings
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/underwear.dmi
Labels: Sprites

#44300 Cobby Now Bleeds Bicard (AKA Auto-notified When You Touch Medical)
  .github/CODEOWNERS
Labels: GitHub

#44278 lightning holoparasite no longer fires lightning bolts after death
  code/__DEFINES/mobs.dm
  code/modules/mob/living/simple_animal/guardian/types/lightning.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
Labels: Fix

#44195 New book option for the chaplain
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/book.dm
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
Labels: Feature, Sprites, Stale

#44299 Fixes stray pixel in durathread helmet.
  icons/mob/head.dmi
Labels: Removal, Sprites

#44284 Removes pointless code in antag datum
  code/datums/mind.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/devil/devil.dm
Labels: Removal

#44280 Adds missing </span>'s.
  code/datums/traits/negative.dm
  code/game/machinery/computer/dna_console.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/ai_core.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/clockcult/clock_mobs/_eminence.dm
  code/modules/antagonists/clockcult/clock_structures/heralds_beacon.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/power/turbine.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy/dueling.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
Labels: Code Improvement

#44294 Fixes odysseus chem synthesizing
  code/game/mecha/equipment/tools/medical_tools.dm
Labels: Fix

#44289 Allows you to wear the caution sign + new sprite for the caution sign
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomZLevels/Academy.dmm
  code/datums/traits/negative.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/janicart.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/vending/wardrobes.dm
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Map Edit, Sprites

#44239 Fixes tactical component removal/unmodification
  code/datums/components/tactical.dm
Labels: Fix

#44268 Slimes now 'metabolize' reagents over time
  code/modules/mob/living/simple_animal/slime/life.dm
Labels: Tweak

#44221 Fixed menucrafting opening new window when finishing construction
  code/__DEFINES/components.dm
  code/_onclick/hud/generic_dextrous.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/guncrafting.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/crafting/tailoring.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/login.dm
  tgstation.dme
Labels: Tweak

#44244 Add map change voting
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/vote.dm
  code/datums/map_config.dm
  code/modules/client/preferences.dm
  config/config.txt
  config/maps.txt
Labels: Config Update, Feature

#44291 Fixes smugglers satchels showing up on t-ray when they shouldn't.
  code/game/objects/items/storage/backpack.dm
Labels: Fix

#44295 Changes dogs to neutral faction.
  code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: Fix

#44305 No more cross map punches
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Fix

#44269 Fixes xeno/viro airlock cycling breaking
  code/game/machinery/embedded_controller/access_controller.dm
Labels: Fix

#44203 Replaces borg hat whitelist with a blacklist, making most hats wearable by borgs
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Tweak, Work In Progress

#44288 Nerfs stupid armor stats of bone bracers.
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Balance/Rebalance

#44292 Fixes rnd icons / biogen designs
  code/modules/research/designs/biogenerator_designs.dm
Labels: Fix

#44321 Techweb clash warning now shows path clashing
  code/controllers/subsystem/research.dm
Labels: Code Improvement

#44301 Vending Input Hotfixes
  code/modules/vending/_vending.dm
Labels: Fix

#44226 Make GetComponent throw an error on dupe enabled components
  code/datums/components/_component.dm
Labels: Code Improvement

#44320 [READY] Cleans up saycode by removing random hook stubs and using a signal where relevant
  code/__DEFINES/components.dm
  code/_globalvars/bitfields.dm
  code/datums/brain_damage/brain_trauma.dm
  code/datums/brain_damage/creepy_trauma.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/phobia.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/diseases/pierrot_throat.dm
  code/datums/dna.dm
  code/datums/mutations.dm
  code/datums/mutations/hulk.dm
  code/datums/mutations/speech.dm
  code/game/atoms_movable.dm
  code/game/machinery/announcement_system.dm
  code/game/machinery/bank_machine.dm
  code/game/machinery/cloning.dm
  code/game/machinery/requests_console.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/instruments.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/taster.dm
  code/game/objects/objs.dm
  code/game/say.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/clockcult/clock_mobs.dm
  code/modules/antagonists/swarmer/swarmer.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mob/living/brain/brain.dm
  code/modules/mob/living/brain/say.dm
  code/modules/mob/living/carbon/alien/say.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
  code/modules/mob/living/carbon/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/ai/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/friendly/drone/say.dm
  code/modules/mob/say.dm
  code/modules/mob/say_readme.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/surgery/organs/tongue.dm
Labels: Code Improvement, Needs Review

#44323 [s]Fixes strained muscles not doing stamina damage
  code/modules/antagonists/changeling/powers/strained_muscles.dm
Labels: Fix

#44333 Fixes toxins special recipe
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Labels: Fix

#44088 Reconstruction of Reconstruction Surgery
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/advanced/reconstruction.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/surgery.dm
  tgstation.dme
Labels: Balance/Rebalance, Feature

#44192 adds bamboo and fixes sugarcane
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/cargo/packs.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/projectiles/guns/misc/syringe_gun.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/stack_objects.dmi
Labels: Feature, Fix, Sprites, Stale

#44227 Slightly raises the Crab-17 machine's drain rate and health
  code/game/objects/items/crab17.dm
Labels: Balance/Rebalance

#44254 Clown shoes now make you waddle by default.
  code/modules/clothing/shoes/miscellaneous.dm
Labels: Tweak

#44262 Removes the antimatter engine
  code/modules/cargo/exports/large_objects.dm
  code/modules/cargo/packs.dm
  code/modules/power/antimatter/containment_jar.dm
  code/modules/power/antimatter/control.dm
  code/modules/power/antimatter/shielding.dm
  icons/obj/machines/antimatter.dmi
  tgstation.dme
Labels: Removal

#44279 Turns Perf into The Standard Oxychem, Heavily Tweaks Perf To Fit My Freshly Repackaged Fantasy
  code/datums/diseases/tuberculosis.dm
  code/datums/status_effects/buffs.dm
  code/game/machinery/Sleeper.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/vending/medical.dm
Labels: Balance/Rebalance, Feature, Tweak

#44339 Fixes charcoal
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix

#44331 Adds bee socks
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/underwear.dmi
Labels: Feature, Sprites

#44315 Baby grublunch for ma and pap gutlunch.
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
Labels: Feature, Fix

#44324 deletes null crates
  code/modules/cargo/packs.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/contraband.dmi
Labels: Removal, Sprites

#44348 Moves the cold alert one pixel, aligning it with the fire alert
  icons/mob/screen_alert.dmi
Labels: Sprites

#44344 Fixes incorrect has_trait checks
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Fix

#44283 Surgical incisions cause actual bleeding; clamping bleeders and/or cauterizing stops that bleeding.
  code/modules/surgery/helpers.dm
  code/modules/surgery/organic_steps.dm
Labels: Tweak

#44342 Adds bee plushies
  code/datums/components/squeak.dm
  code/datums/outputs.dm
  code/datums/traits/negative.dm
  code/game/objects/items/plushes.dm
  icons/obj/plushes.dmi
Labels: Feature, Sprites

#44322 Adds corpse flowers
  code/__DEFINES/reactions.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/hydroponics/grown/misc.dm
  icons/obj/hydroponics/growing_flowers.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: Feature, Sprites, Tweak

#44352 Fixes gutlunches lunch behaviour
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
Labels: Fix

#44356 fixes syringes of perfuleracilen
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Fix

#44378 Fixed multiple map voting issues
  code/controllers/subsystem/vote.dm
Labels: Fix

#44293 Blood brother alert now has sound and bigger text
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
Labels: Feature

#44313 Radio jammers jam the radio more
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/mob_helpers.dm
Labels: Balance/Rebalance

#44318 Fixes cult constructs not being able to invoke runes
  code/modules/antagonists/cult/runes.dm
Labels: Fix

#44174 Art produces moodlets, good or bad depending on quality. THE REMAKE
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/statues.dm
  code/modules/photography/photos/frame.dm
Labels: Feature

#44405 New stasis bed sprites!
  icons/obj/machines/stasis.dmi
Labels: Sprites

#44376 Adds craftable firebrands.
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
Labels: Feature

#44385 Adds cheesie honkers to Clown phobia
  code/controllers/subsystem/traumas.dm
Labels: Balance/Rebalance, FUCK

#44382 Fixes soda can's open_soda(mob/user) not passing the mob to it
  code/modules/food_and_drinks/drinks/drinks.dm
Labels: Fix

#44367 [s]Stops the create area search early if too big
  code/__HELPERS/areas.dm
Labels: Code Improvement

#44155 Dragging prone mobs slows you down, fireman carrying
  code/__DEFINES/mobs.dm
  code/__DEFINES/movespeed_modification.dm
  code/datums/components/footstep.dm
  code/datums/components/riding.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
Labels: Balance/Rebalance, Feature

#44386 Fixes chem dispenser button order
  code/__HELPERS/cmp.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix

#44005 [Ready] Adds Support For Player Controlled Megafauna + Megafauna Code Refactors
  code/datums/action.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  icons/effects/blood.dmi
  icons/effects/effects.dmi
Labels: Feature, Needs Review, Refactor, Sprites

#44251 Finally removes the signal redirect component
  code/datums/components/signal_redirect.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items/RCL.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/stairs.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/antagonists/nukeop/equipment/borgchameleon.dm
  code/modules/assembly/infrared.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/fields/fields.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/eyes.dm
  tgstation.dme
Labels: Code Improvement, Removal

#44243 Chuncky jackhammer and shovel webbing
  code/game/objects/items/storage/belt.dm
  code/modules/mining/equipment/mining_tools.dm
Labels: Balance/Rebalance, Tweak

#44273 Carpburster
  code/game/objects/items/dehy_carp.dm
Labels: Feature

#44311 Examine tooltips now work on items put into storage
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/datums/components/storage/concrete/_concrete.dm
  code/game/objects/items.dm
Labels: Tweak

#44328 Fixes forced say custom emotes properly.
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/mob/dead/observer/say.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
Labels: Fix

#44329 Fixes an exploit with plux giving cargo way too many credits.
  code/modules/cargo/exports/large_objects.dm
Labels: Balance/Rebalance

#44336 Ethereal stomach take 2
  code/__DEFINES/components.dm
  code/datums/components/mood.dm
  code/game/machinery/rechargestation.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/power/lighting.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/surgery/organs/stomach.dm
Labels: Balance/Rebalance, Feature, Fix

#44341 Fixes refund problems with nukeop uplink.
  code/modules/uplink/uplink_items.dm
Labels: Fix

#44351 Fixes refunding on ownerless uplinks (ie drones)
  code/datums/components/uplink.dm
Labels: Fix

#44363 Adds sdql2 trait wrappers.
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
Labels: Feature

#44384 Adds hourglass
  code/__HELPERS/matrices.dm
  code/game/objects/effects/countdown.dm
  code/game/objects/items/hourglass.dm
  code/modules/vending/games.dm
  icons/obj/hourglass.dmi
  tgstation.dme
Labels: Feature, Sprites

#44354 Turns sinew cuffs into a cable cuffs subtype
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/stacks/sheets/leather.dm
Labels: Feature

#44359 Gives the ashlizards a puddle.
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
Labels: Map Edit, Tweak

#44373 [READY] Redecorates Syndibase after TC console removal
  _maps/map_files/generic/CentCom.dmm
Labels: Map Edit, Needs Review

#44399 does a de-indent on surgery debug loop
  code/modules/surgery/surgery.dm
Labels: Fix, PRB: No Update

#44391 Replaces hear_intercept with signals, refactors MOVABLE_HEAR, touches up nanites and to_chat
  code/__DEFINES/components.dm
  code/datums/brain_damage/brain_trauma.dm
  code/datums/brain_damage/hypnosis.dm
  code/datums/brain_damage/phobia.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/components/nanites.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/neutral.dm
  code/game/say.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/mob/living/carbon/say.dm
  code/modules/mob/living/say.dm
  code/modules/research/nanites/nanite_programs.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
Labels: Code Improvement, Refactor

#44428 Cobbycode burns, but now you can fix it with burn surgery!
  code/modules/surgery/healing.dm
Labels: Fix, PRB: No Update

#44416 [s] Fixes centcom travel exploit, part 321432
  code/modules/shuttle/supply.dm
Labels: Fix

#44390 Makes nicotine kill pests.
  code/modules/hydroponics/hydroponics.dm
Labels: Feature

#44296 Upgrades policy config + policy verb.
  code/__DEFINES/admin.dm
  code/__HELPERS/config.dm
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/game_options.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile/magic.dm
  config/policies.txt
  config/policy.json
  tgstation.dme
Labels: Config Update, Feature, Refactor

#44358 Removes nurse spiders from the gold slime core pool
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Removal

#44411 Fixes examining stuff with generic pockets.
  code/modules/clothing/clothing.dm
Labels: Fix

#44303 Raises EMP flashlight cost
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#44398 EMPs now randomize suit sensors if they're on
  code/modules/clothing/under/_under.dm
Labels: Feature

#44438 Fixes ghost seizures.
  code/__HELPERS/matrices.dm
  code/datums/components/orbiter.dm
Labels: Fix

#44432 [Fix] icons for hypertool and insuls book
  icons/obj/device.dmi
  icons/obj/storage.dmi
Labels: Fix, Sprites

#44365 Clean up id/bounty console HTML generation
  code/game/machinery/computer/card.dm
  code/modules/cargo/bounty_console.dm
Labels: Code Improvement

#44392 Fixes autophobia. (the fear of oneself)
  code/datums/brain_damage/phobia.dm
Labels: Fix

#44400 Attaching something to a mech no longer autoselects it
  code/game/mecha/equipment/mecha_equipment.dm
Labels: Tweak

#44404 Turns the parasite egg organ slot into a define.
  code/__DEFINES/DNA.dm
  code/game/objects/items/body_egg.dm
Labels: Code Improvement

#44422 Removes an infective GetComponent
  code/__DEFINES/components.dm
  code/datums/components/infective.dm
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: Code Improvement, Fix, Removal

#44424 Makes the daniel shuttle admin only.
  code/datums/shuttles.dm
Labels: Removal

#44437 Fixes cross-z dumping with bluespace bags.
  code/datums/components/storage/concrete/bluespace.dm
Labels: Fix

#44426 Some spelling and text changes.
  code/datums/mutations/actions.dm
  code/datums/mutations/antenna.dm
  code/datums/mutations/body.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/space.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/vehicles/scooter.dm
  code/modules/vending/liberation.dm
Labels: Grammar and Formatting

#44387 Recategorizes advanced surgery tools, .38 ammo
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Fix, Tweak

#44419 Adds caramel
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Feature, Sprites

#44216 HoS gun ion mode replaces taser mode
  code/__HELPERS/unsorted.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/ammunition/energy/stun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/projectile/special/ion.dm
  icons/obj/guns/energy.dmi
Labels: Balance/Rebalance, Sprites

#44353 Rebalances paychecks, cash intake
  code/__DEFINES/economy.dm
  code/controllers/subsystem/economy.dm
Labels: Balance/Rebalance, Code Improvement

#44457 Fixes HoS gun ion mode inhands
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
Labels: Fix, Sprites

#44258 changes how grenades with custom primer are made
  code/__DEFINES/misc.dm
  code/datums/wires/explosive.dm
  code/game/objects/effects/proximity.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/plushes.dm
  code/modules/admin/verbs/beakerpanel.dm
  code/modules/assembly/health.dm
Labels: Refactor

#44449 [s] Fixes big area creation searches differently
  code/__HELPERS/areas.dm
Labels: Code Improvement

#44409 Changes enter key behaviour in Create Object
  html/create_object.html
Labels: Tweak

#44397 fixes phazon construction message
  code/game/mecha/mecha_construction_paths.dm
Labels: Fix

#44453 adds syringe and surgical drapes designs to medlathe
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Tweak

#44458 Fixes simple animal emotes / Refactors emote list
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/mobs.dm
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/brain/emote.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/emote.dm
Labels: Fix, Refactor

#44256 [READY] Migrates some legacy movespeed stuff to modifier movespeed
  code/__DEFINES/movespeed_modification.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Needs Review, Tweak

#44480 Fixes the open closet verb
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#44476 Fixes sequential SDQL being default.
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Fix

#44469 Fixes sanity minimum/maximum not affecting action speed.
  code/datums/components/mood.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#44491 Removes the fully-stocked free nanomed from mining capsules
  _maps/templates/shelter_1.dmm
  _maps/templates/shelter_2.dmm
  code/modules/mining/equipment/survival_pod.dm
Labels: Map Edit, Removal

#44499 Fixes talking through holopad for AI's
  code/modules/mob/living/silicon/ai/say.dm
Labels: Fix

#44498 Minor surgery fixes
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/surgery_step.dm
Labels: Fix

#44464 Makes emag logging more transparent.
  code/game/objects/items/cards_ids.dm
Labels: Logging

#44450 Fixes every issue in the slimes milestone.
  code/__HELPERS/unsorted.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/surgery/organs/lungs.dm
Labels: Fix

#44396 [Ready]Gives ashwalkers an antag datum
  code/__DEFINES/components.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/gamemodes/objective.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/objects/structures/headpike.dm
  code/modules/antagonists/_common/antag_team.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/mob/mob.dm
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
  tgstation.dme
Labels: Feature, Needs Review

#44485 grenades quickfixs
  code/game/objects/items/grenades/chem_grenade.dm
  code/modules/assembly/health.dm
Labels: Fix

#44460 Adds reagent OD/addiction logging
  code/modules/reagents/chemistry/holder.dm
Labels: Administration, Feedback, Logging

#44511 Makes setting stationary dock area_type no longer required
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/modules/shuttle/shuttle.dm
Labels: Code Improvement, Map Edit

#44495 Excludes the Narsie Rune from scribe time reduction on runed floor
  code/modules/antagonists/cult/ritual.dm
Labels: Balance/Rebalance

#44484 Fixes an exploit allowing you to move enabled emitters
  code/modules/power/singularity/emitter.dm
Labels: Fix

#44530 Allows gender neutral humans in preferences
  code/__HELPERS/sanitize_values.dm
  code/modules/client/preferences.dm
Labels: Tweak

#44550 [s] Fixes asset topic sanity.
  code/modules/client/client_procs.dm
Labels: Fix, Priority: CRITICAL

#44514 [ready] Removes pipe overlay from stasis bed
  code/game/machinery/stasis.dm
  icons/obj/machines/stasis.dmi
Labels: Needs Review, Removal, Sprites

#44193 New midround join screen
  code/modules/jobs/job_types/bartender.dm
  code/modules/mob/dead/new_player/new_player.dm
  html/browser/playeroptions.css
Labels: Tweak, UI

#44510 Reverts datum outputs
  code/controllers/subsystem/outputs.dm
  code/datums/components/fantasy/suffixes.dm
  code/datums/components/squeak.dm
  code/datums/datum.dm
  code/datums/outputs.dm
  code/game/atoms.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/toys.dm
  code/game/sound.dm
  code/modules/clothing/shoes/bananashoes.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/mob.dm
  icons/sound_icon.dmi
  tgstation.dme
Labels: Revert, Sprites
