Repository tgstation/tgstation, pull requests merged in 2019-09, with the labels that each got.

#46167 Fixes default mob_spawn ban type.
  code/modules/awaymissions/corpse.dm
Labels: Fix

#46203 Reduces the cost of the Soul Tap spell
  code/modules/antagonists/wizard/equipment/spellbook.dm
Labels: Balance/Rebalance

#46209 ED-209's aggro when you throw things at them and no longer die to shocked grilles
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
Labels: Balance/Rebalance, Feature

#46245 Nars-Ians no longer eat each other's souls
  code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: Tweak

#45979 Fixes HoP ticket messages not being visible unless on the ground
  code/modules/paperwork/ticketmachine.dm
Labels: Fix, Tweak

#46264 fixes all the bugs you probably didnt know about
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/objects/items/eightball.dm
  code/game/objects/items/pet_carrier.dm
  code/modules/admin/view_variables/modify_variables.dm
  code/modules/antagonists/clockcult/clock_structures/heralds_beacon.dm
Labels: Code Improvement, Fix

#45737 Motorized wheelchairs
  code/datums/components/crafting/recipes.dm
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/wheelchair.dm
  tgstation.dme
Labels: Feature

#46129 [BOUNTY] Adds advanced injectors to genetics
  code/game/machinery/computer/dna_console.dm
Labels: Feature

#46143 Beepsky's New Groove
  icons/mob/aibots.dmi
Labels: Feature, Sprites

#46270 [s]You can no longer send cult messages undetectably by including an IC filtered word.
  code/modules/antagonists/cult/cult_comms.dm
Labels: Fix

#46015 Gives condiment bottles without special sprites visible reagents
  code/modules/food_and_drinks/food/condiment.dm
  icons/obj/reagentfillings.dmi
Labels: Feature, Sprites

#46188 Airlocks no longer runtime when a blob destroys them
  code/datums/wires/airlock.dm
Labels: Fix

#46231 Chameleon suit and changeling under sprites fix
  code/game/gamemodes/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/under/jobs/security.dm
Labels: Fix

#46243 Makes the windup toolbox more similar to His Grace
  code/game/objects/items/toys.dm
Labels: Fix, Tweak

#46253 Purified Artificer Description Change
  code/modules/mob/living/simple_animal/constructs.dm
Labels: Fix

#46276 Gives all borgs extinguishers
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Balance/Rebalance, Tweak

#46248 Non-tagger graffiti counts as bad art (and other art adjustments.)
  code/__DEFINES/misc.dm
  code/datums/components/art.dm
  code/datums/traits/good.dm
  code/game/objects/items/crayons.dm
  code/game/objects/structures/statues.dm
Labels: Tweak

#46212 Boxing glove knockout only affects other boxers
  code/datums/martial/boxing.dm
Labels: Tweak

#46223 Cobbduceus Part 4/X: Operating Computers Sync to Stasis Beds
  code/game/machinery/computer/Operating.dm
  code/game/machinery/stasis.dm
  code/modules/surgery/surgery.dm
Labels: Feature

#46305 Fixes condiment packs not existing
  code/modules/food_and_drinks/food/condiment.dm
Labels: Fix

#46216 Pulling lockers now slow you down.
  code/__DEFINES/movespeed_modification.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_movement.dm
Labels: Balance/Rebalance

#46240 Custom Vendor Re-PR (#45736 Re-PR)
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/_vending.dm
  code/modules/vending/assist.dm
  code/modules/vending/snack.dm
  icons/obj/device.dmi
  icons/obj/vending_restock.dmi
Labels: Sprites

#46210 Removes crayon eating colour change
  code/datums/diseases/advance/symptoms/skin.dm
  code/game/objects/items/crayons.dm
  code/modules/food_and_drinks/food/snacks_burgers.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/hydroponics/grown/rainbow_bunch.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Removal

#46213 Spray cans can't be set to extremely dark colours
  code/game/objects/items/crayons.dm
Labels: Tweak

#46134 Turns digital camo into an element
  code/__DEFINES/components.dm
  code/datums/elements/digitalcamo.dm
  code/modules/antagonists/changeling/powers/digitalcamo.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_defines.dm
  tgstation.dme
Labels: Refactor

#46195 [Ready] Adds chameleon neckties
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
Labels: Feature, Needs Review

#46205 Adds the Snow Golem
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/ruins/lavaland_ruin_code.dm
  icons/mob/human_parts.dmi
Labels: Feature, Sprites

#46149 Plumbing Splitter, reaction chamber, destroyer and pill press
  code/__DEFINES/plumbing.dm
  code/__DEFINES/reagents.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/chemical_acclimator.dm
  code/datums/components/plumbing/reaction_chamber.dm
  code/datums/components/plumbing/splitter.dm
  code/modules/plumbing/plumbers/destroyer.dm
  code/modules/plumbing/plumbers/filter.dm
  code/modules/plumbing/plumbers/pill_press.dm
  code/modules/plumbing/plumbers/reaction_chamber.dm
  code/modules/plumbing/plumbers/splitters.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  tgstation.dme
  tgui/src/interfaces/chem_press.ract
  tgui/src/interfaces/chem_splitter.ract
  tgui/src/interfaces/reaction_chamber.ract
Labels: Feature, UI

#46307 makes riot darts work
  code/modules/projectiles/projectile/magic.dm
  code/modules/projectiles/projectile/reusable/foam_dart.dm
Labels: Fix

#46153 Adds simple voting box. Also moves dump_contents to /obj
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/votingbox.dm
  code/modules/paperwork/paper.dm
  icons/obj/votebox.dmi
  tgstation.dme
Labels: Feature, Sprites

#46204 Adds androids and synths to the lists of species that pride and magic mirrors can turn you into
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
Labels: Balance/Rebalance

#46281 Fixes converting a Ripley MK-I to MK-II breaking when the MK-I has no power cell.
  code/game/mecha/equipment/tools/work_tools.dm
Labels: Fix

#46247 Tries for a third time to fix some virology symptoms
  code/datums/diseases/advance/symptoms/confusion.dm
  code/datums/diseases/advance/symptoms/dizzy.dm
  code/datums/diseases/advance/symptoms/hallucigen.dm
  code/datums/diseases/advance/symptoms/narcolepsy.dm
Labels: Balance/Rebalance, Fix, Tweak

#46273 Updates changelog header
  html/templates/header.html
Labels: Code Improvement

#46180 Add passive vent.
  code/game/objects/items/RPD.dm
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
  icons/obj/atmospherics/components/unary_devices.dmi
  icons/obj/atmospherics/pipes/pipe_item.dmi
  tgstation.dme
Labels: Feature, Sprites

#46225 forgotten no longer, chap and geneticist now have family heirlooms
  code/datums/traits/negative.dm
Labels: Tweak

#46214 Removes metastation static maint sunglasses spawns.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Balance/Rebalance, Map Edit, Removal

#46250 Adds a new threshold for the regen coma symptom and fixes a possible bug
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/oxygen.dm
Labels: Feature, Fix

#46220 Allows some snacks to be dunked in liquids
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
Labels: Feature

#46285 Fixes #46257: Pax chems' descriptions
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Grammar and Formatting

#46295 fixes missing techpriest robes icon
  icons/mob/clothing/head.dmi
  icons/obj/clothing/suits.dmi
Labels: Fix, Sprites

#46308 duplicate code removal
  code/modules/mob/living/damage_procs.dm
Labels: Code Improvement

#46300 Antiglow 2, electric boogaloo.
  code/datums/mutations/_combined.dm
  code/datums/mutations/body.dm
Labels: Fix

#46328 AIs can track people once more.
  code/__DEFINES/components.dm
Labels: Fix

#46256 Clarifies combat gloves descriptions
  code/datums/martial/krav_maga.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/uplink/uplink_items.dm
Labels: Tweak

#46241 Makes it so you can't puke up ONE THOUSAND UNITS OF KETCHUP in one go.
  code/game/turfs/turf.dm
Labels: Fix

#46298 Fixes Durand shields being pullable
  code/game/mecha/combat/durand.dm
Labels: Fix

#46315 fixes unlimited cells from light fixtures
  code/modules/power/lighting.dm
Labels: Fix

#46258 Cobby's earthsblood nerf PR, done right
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance

#46266 buffs the cybernetic heart
  code/modules/surgery/organs/heart.dm
Labels: Feature, Removal, Tweak

#46313 [s] fixes pet park mood exploit
  code/modules/holodeck/holo_effect.dm
Labels: Fix

#46311 the mime's invisible box lasts twice as long
  code/modules/spells/spell_types/mime.dm
Labels: Tweak

#46238 Makes felinids die from chocolate.
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Balance/Rebalance

#46302 fixes infinite butter
  code/modules/food_and_drinks/food/snacks_other.dm
Labels: Fix

#46108 Selectively randomisable characters
  code/__DEFINES/DNA.dm
  code/__DEFINES/preferences.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/diseases/advance/symptoms/beard.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/datums/dna.dm
  code/game/objects/items/cosmetics.dm
  code/game/objects/structures/mirror.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/secrets.dm
  code/modules/antagonists/abductor/machinery/experiment.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/outfits/event.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/ghost.dm
  code/modules/mob/living/simple_animal/hostile/zombie.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/head.dm
Labels: Code Improvement, Feature, Grammar and Formatting, Removal, Tweak

#46259 Fixes self-sustaining rainbow slime extracts, blue slime extracts' foam activation and refactors foam code into a helper proc
  code/__HELPERS/reagents.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/modules/events/vent_clog.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/crossbreeding/selfsustaining.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Fix, Refactor

#46314 jumping into abandoned crates no longers causes them to go boom
  code/modules/mining/abandoned_crates.dm
Labels: Fix

#46370 Fixes crab rangoon sprite
  code/modules/food_and_drinks/food/snacks_other.dm
Labels: Fix

#46358 Fixes morph movement and replaces magic numbers.
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/objs.dm
  code/modules/antagonists/morph/morph.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/mob_defines.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#46317 Clarifies crab-17 reference is not a typo
  code/game/objects/items/crab17.dm
Labels: Grammar and Formatting

#46329 Fixes chameleon ID card job overlays not showing up after selecting a cardtype that doesn't use them
  code/game/objects/items/cards_ids.dm
  code/modules/clothing/chameleon.dm
Labels: Fix, Tweak

#46321 Adds The Goose bar sign, inspired by Yog.
  code/game/objects/structures/barsigns.dm
  icons/obj/barsigns.dmi
Labels: Feature, Sprites

#46288 Adds new event to the Orion Trail Game - Old Ship
  code/game/machinery/computer/arcade.dm
Labels: Feature

#46279 Fixes Honk and Odysseus mech strafe mode, allows Ody and Gygax to turn and move in one step while not strafing.
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/mecha.dm
  code/game/mecha/medical/medical.dm
Labels: Feature, Fix

#46352 Fixes dna scanner lockup
  code/game/machinery/computer/dna_console.dm
Labels: Fix

#46353 Fixes typo in discord linking process
  code/modules/discord/accountlink.dm
Labels: Grammar and Formatting

#46267 [s]Wizards can no longer go into rod form in the wizard's den to break out of it.
  code/modules/spells/spell_types/rod_form.dm
Labels: Fix

#46330 Adds killer tomato logging
  code/modules/hydroponics/grown/tomato.dm
Labels: Administration, Logging

#46373 Unblocks donut incinerator
  _maps/map_files/Donutstation/Donutstation.dmm
Labels: Fix, Map Edit

#46359 Explosions no longer destroy photos inside albums
  code/modules/photography/photos/album.dm
Labels: Tweak

#46340 Replaces the stetchkin in the caravan ambush with a cham kit.
  _maps/shuttles/ruin_syndicate_dropship.dmm
Labels: Feature, Map Edit, Removal

#46115 Syndicate combat defib buffed, has unique sprites
  code/game/objects/items/defib.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/defib.dmi
  icons/obj/storage.dmi
Labels: Sprites

#46350 small under fixes
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian/curator.dm
  icons/mob/clothing/under/civilian.dmi
  icons/mob/clothing/under/suits.dmi
  icons/obj/clothing/under/civilian.dmi
  icons/obj/clothing/under/suits.dmi
Labels: Fix, Sprites

#46351 fixes vendor
  code/modules/vending/_vending.dm
Labels: Fix

#46367 Adds new trim decals mapping resources
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  icons/turf/decals.dmi
Labels: Sprites

#46221 War on Stuns Ch 8: Fuck Flashbangs
  code/game/objects/items/grenades/flashbang.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Balance/Rebalance, Test Merge Candidate

#46342 Resubmmited alternate PR for Pepperspray rework, Fucked up my repo
  code/__DEFINES/inventory.dm
  code/__DEFINES/movespeed_modification.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: Balance/Rebalance, Tweak

#46365 Reduces the damage from the earthsblood overdose effect
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance, Fix, PRB: No Update

#46384 Fix goonchat line-height setting in IE8
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: Fix

#46323 Buffs stamcrit
  code/modules/mob/living/carbon/status_procs.dm
Labels: Balance/Rebalance, Test Merge Candidate

#46394 Fixes crab meat reagents.
  code/modules/food_and_drinks/food/snacks/meat.dm
Labels: Fix

#46296 The science department now gets a mood bonus for petting borgs.
  code/__DEFINES/components.dm
  code/datums/components/mood.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/mob/living/silicon/silicon_defense.dm
Labels: Feature

#46361 Plasma now "boils" at 50C, Reagent effects can now trigger on Temp Change
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Feature, Fix, Tweak

#46196 [Ready] More cakes and pies, as well as resprites a few others
  code/game/objects/items/granters.dm
  code/modules/food_and_drinks/food/snacks_cake.dm
  code/modules/food_and_drinks/food/snacks_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  code/modules/vending/drinnerware.dm
  icons/obj/food/piecake.dmi
  icons/obj/library.dmi
Labels: Feature, Needs Review, Sprites

#46219 Cobbduceus 1.1/X, Base(d) Healers (THIS KILLS TACTICAL KILLING AND CLONING???)
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/medigel.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Feature, Tweak

#46333 Detonation of items by projectiles is now logged
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/grenades/grenade.dm
Labels: Logging

#46325 Applies arglist memes to mood events. Also fixes some bugs
  code/datums/components/mood.dm
  code/datums/mood_events/_mood_event.dm
  code/datums/mood_events/generic_positive_events.dm
  tgstation.dme
Labels: Fix

#46403 Changeling Alt click Fix
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling_power.dm
Labels: Fix

#46392 Inhand sprites for wood
  icons/mob/inhands/misc/sheets_lefthand.dmi
  icons/mob/inhands/misc/sheets_righthand.dmi
Labels: Sprites

#46390 fixes missing cake slice
  code/modules/food_and_drinks/food/snacks_cake.dm
Labels: Fix

#46385 (FAVOR FOR ARATHIAN) Edited Gygax diamond cost to be silver and gold but the same values
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Balance/Rebalance

#46422 Ah yes, MORE pings (Adds me to Owners of MD/CMO jobs + First Aid kit Contents)
  .github/CODEOWNERS
Labels: GitHub

#46341 Medbot-Bros Fixes / Adds Trait Callbacks
  code/__HELPERS/unsorted.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Fix

#46404 Inhands for photo albums
  code/datums/traits/good.dm
  code/modules/photography/photos/album.dm
  icons/mob/inhands/misc/books_lefthand.dmi
  icons/mob/inhands/misc/books_righthand.dmi
Labels: Grammar and Formatting, Sprites

#46344 Transit tube dispensers for JOHN GOBBEL on DISCORD.GG
  code/game/objects/structures/transit_tubes/station.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
  code/game/objects/structures/transit_tubes/transit_tube_construction.dm
  code/game/objects/structures/transit_tubes/transit_tube_pod.dm
  icons/obj/atmospherics/pipes/transit_tube.dmi
Labels: Sprites

#46215 Removes flashbang protection from helmets
  code/modules/clothing/head/helmet.dm
Labels: Removal, Tweak

#46399 Halves the cooldown time between mutations for sentient diseases
  code/modules/antagonists/disease/disease_mob.dm
Labels: Balance/Rebalance

#46412 Adds AttackingTarget() to ranged holoparasite
  code/modules/mob/living/simple_animal/guardian/types/ranged.dm
Labels: Fix, Good First PR

#46410 Fixes VV renaming
  code/__DEFINES/vv.dm
  code/game/atoms.dm
  code/modules/mob/mob.dm
Labels: Fix

#46389 Fixes Mining Port, Runtime
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Edit

#46335 Reinforced windows are a little easier to get through.
  code/game/objects/structures/window.dm
Labels: Balance/Rebalance

#46224 adds sleep healing
  code/datums/status_effects/debuffs.dm
  config/admins.txt
Labels: Config Update, Feature

#46417 Inhand sprites for megaphones
  code/game/objects/items/devices/megaphone.dm
  icons/mob/inhands/misc/megaphone_lefthand.dmi
  icons/mob/inhands/misc/megaphone_righthand.dmi
Labels: Sprites

#46357 makes fire axes 1 shot rwindows again
  code/game/objects/items/twohanded.dm
Labels: Code Improvement, Fix

#46319 Failing Tend Wounds now Give 80% damage (based off normal healing) instead of Flat 5 Brute
  code/modules/surgery/healing.dm
Labels: Fix, Tweak

#46242 buffs ling adrenalin somewhat
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance

#46303 Fixes turrets shooting silicons and loyalty check not ignoring heads.
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Fix

#46371 crusher miner eye trophy slowdown bugfix
  code/datums/status_effects/buffs.dm
Labels: Fix

#46402 Spear sprite fixes
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
Labels: Fix, Sprites

#46376 Makes mechs removed from the game via means other than damage no longer leave a wreckage.
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_defense.dm
Labels: Fix

#46414 All font size spans scale
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
Labels: Feature, Tweak

#46424 Byond donator ghost directional sprites
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/mob.dmi
Labels: Sprites

#46436 Lightning bolt refund fix
  code/modules/antagonists/wizard/equipment/spellbook.dm
Labels: Fix

#46395 recycler safe mode is now safe
  code/game/machinery/recycler.dm
Labels: Fix

#46387 equip sounds
  code/__DEFINES/sound.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/under/_under.dm
  sound/items/equip/jumpsuit_equip.ogg
  sound/items/equip/toolbelt_equip.ogg
Labels: Sound

#46355 Removes the haloperidol chem from omega weed (EDIT: and makes some other alterations)
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/hydroponics/grown/citrus.dm
Labels: Balance/Rebalance, Removal

#46338 Removes some references to /datum/reagent/colorful_reagent/powder's old name that Akrilla forgot about
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Removal, Tweak

#46393 Adds an improved first aid kit for medical staff
  code/game/objects/items/storage/firstaid.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  icons/obj/storage.dmi
Labels: Feature, Sprites

#46467 makes bonespear a child of spear and MAKES THE DAMAGE MORE CONSISTENT
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/headpike.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Balance/Rebalance, Code Improvement

#46398 Fixes emptying fire extinguishers from inside storage
  code/game/objects/items/extinguisher.dm
Labels: Fix

#46431 Fixes return to lobby issue with soulstone.
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#46400 tgui interface-level styles
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/airlock_electronics.ract
  tgui/src/interfaces/airlock_electronics.styl
  tgui/src/styles/clockwork.styl
  tgui/src/styles/nanotrasen.styl
  tgui/src/styles/syndicate.styl
  tgui/src/tgui.ract
Labels: Feature, UI

#46283 Makes nanites be passed down when jellypeople and slimes split
  code/__DEFINES/components.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
Labels: Tweak

#46301 Adds knight armour to the game that can be made from any material
  _maps/RandomRuins/LavaRuins/lavaland_surface_wizard.dmm
  code/__DEFINES/components.dm
  code/__DEFINES/materials.dm
  code/datums/components/slippery.dm
  code/datums/components/squeak.dm
  code/datums/materials/_material.dm
  code/datums/materials/basemats.dm
  code/datums/ruins/lavaland.dm
  code/game/machinery/autolathe.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/dark_wizard.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/rdconsole.dm
  code/modules/ruins/lavaland_ruin_code.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/simple_human.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/stack_objects.dmi
  tgstation.dme
Labels: Feature, Map Edit, Sprites

#46520 Removes the ability to slip people by running into them with something slippery on your body
  code/__DEFINES/components.dm
  code/datums/components/slippery.dm
  code/modules/mob/living/living.dm
Labels: FUCK, Fix

#46488 liver fix
  code/modules/surgery/organs/liver.dm
Labels: Fix

#46375 Changes closet_open.ogg and closet_close.ogg to something much better
  sound/machines/closet_close.ogg
  sound/machines/closet_open.ogg
Labels: Sound

#46447 Fixes a bug with abductor implant
  code/controllers/subsystem/timer.dm
  code/game/objects/items/implants/implant_abductor.dm
Labels: Fix

#46211 Adrenals reworked
  code/game/objects/items/implants/implant_misc.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/nanites/nanite_programs/buffing.dm
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance

#46430 Pets can no longer nuzzle grilles into oblivion
  code/game/objects/structures/grille.dm
Labels: Fix

#46419 Projectile effects no longer ignore armor
  code/modules/mob/living/living_defense.dm
Labels: Fix

#46458 Makes admin OOC the same size as player OOC again
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
Labels: Removal

#46443 Remove redundant structure/chair/wood/normal typepath
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/pirate_default.dmm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Map Edit, Refactor

#46450 Evidence bag self-containing fix
  code/modules/detectivework/evidence.dm
Labels: Fix

#46434 Watertank backpack sprite additions
  code/game/objects/items/tanks/watertank.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
  icons/mob/inhands/equipment/mister_lefthand.dmi
  icons/mob/inhands/equipment/mister_righthand.dmi
  icons/obj/hydroponics/equipment.dmi
Labels: Sprites

#46421 Point blank execution shots now hit head
  code/modules/projectiles/gun.dm
Labels: Fix

#46475 Blindness removes your ability to see colours
  code/modules/client/client_colour.dm
  code/modules/mob/status_procs.dm
Labels: Good First PR, Tweak

#46455 Fixes Tendrils Spawning Inside Ruins
  code/modules/mapping/ruins.dm
Labels: Fix

#46490 Highlander event tries to drop items, heals and uncuffs
  code/modules/antagonists/highlander/highlander.dm
Labels: Tweak

#46507 Moves drunk healing to quirk process
  code/datums/traits/good.dm
  code/modules/mob/living/carbon/life.dm
Labels: Code Improvement

#46230 makes the ed209 a child of securitrons instead of a horrifying copypaste
  code/controllers/subsystem/traumas.dm
  code/datums/components/crafting/recipes.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/spells/spell_types/conjure.dm
  code/modules/spells/spell_types/shapeshift.dm
Labels: Balance/Rebalance, Code Improvement, Fix, Removal, Tweak

#46332 Safety Doors
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
Labels: Map Edit, Tweak

#46364 Makes borg buckling conflict less with inventory searching
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
Labels: Needs documentation, Tweak

#46386 Shoe stealing
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Feature

#46423 All Mutation Tox acts like old Slime Toxin; Old Slime Toxin merged with (Classic) Mutation Toxin
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Labels: Tweak

#46437 Makes paddle generation not awful code + sprite fix
  code/game/objects/items/defib.dm
  icons/obj/defib.dmi
Labels: Fix, Sprites

#46451 Fixes cyborgs being unable to place r-glass after use checks
  code/game/objects/items/stacks/sheets/glass.dm
Labels: Fix

#46457 Fixes Multiple Bubblegum Spawns
  code/game/turfs/simulated/floor/plating/asteroid.dm
Labels: Fix

#46471 The gambling anticipation update. D6 resprite and more!
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/dice.dm
  code/modules/cargo/exports/gear.dm
  code/modules/vending/wardrobes.dm
  icons/obj/dice.dmi
Labels: Feature, Refactor, Sprites

#46485 Changes obj_break on machines to use parent calls
  code/__DEFINES/components.dm
  code/game/machinery/PDApainter.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/announcement_system.dm
  code/game/machinery/aug_manipulator.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/droneDispenser.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/flasher.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/shieldgen.dm
  code/game/machinery/stasis.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/paperwork/photocopier.dm
  code/modules/power/apc.dm
  code/modules/power/floodlight.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/smes.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  code/modules/power/turbine.dm
  code/modules/recycling/conveyor2.dm
  code/modules/vending/_vending.dm
Labels: Code Improvement
