Repository tgstation/tgstation, pull requests merged in 2019-07, with the labels that each got.

#44851 Adds CTF and Reboot World buttons to the Check-Antagonists panel
  code/modules/admin/check_antagonists.dm
  code/modules/admin/topic.dm
Labels: Administration

#44876 Fixes a bunch of map issues
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/modules/power/singularity/collector.dm
Labels: Fix, Map Edit, Tweak

#44882 Hivemind Awakening Log Fix
  code/modules/antagonists/hivemind/hivemind.dm
  code/modules/antagonists/hivemind/vessel.dm
Labels: Fix, Logging

#44870 Gives dead AIs an alert when they are being restored.
  code/game/machinery/computer/aifixer.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
Labels: Tweak

#44905 [s] Fixes dna console runtime
  code/game/machinery/computer/dna_console.dm
Labels: Fix, Priority: CRITICAL

#44847 Makes NVGs, It's HUDs and Thermals more sensitive to bright lights.
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
Labels: Balance/Rebalance

#44657 Adds OD to styptic and sulfur sulfadiazine, buffs oxandrolone and salicyclic acid
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance

#44875 Adds construction bags for engineers
  code/game/objects/items/storage/bags.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  icons/obj/tools.dmi
Labels: Feature, Sprites

#44794 Changes improvised jetpack recipe
  code/datums/components/crafting/recipes.dm
Labels: Fix

#44899 Fixes smart cable lag issues
  code/modules/power/power.dm
Labels: Fix, Priority: High

#44816 Adds clown eggs to the game.
  code/modules/food_and_drinks/food/snacks_egg.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#44891 You can now craft white jumpskirts.
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Feature

#44900 Makes cosmos bedsheets creatable
  code/game/machinery/washing_machine.dm
  code/game/objects/items/stacks/bscrystal.dm
Labels: Feature

#44909 Map fixes round 2
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
Labels: Fix, Mapping, Tweak

#44904 Russian Revolver spin fix
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Fix

#44798 Adds more variety in virus cures, more consistent difficulty scaling.
  code/datums/diseases/advance/advance.dm
  code/modules/antagonists/disease/disease_disease.dm
Labels: Balance/Rebalance

#44811 Adds plugsuits as a pack cargo can purchase
  code/modules/cargo/packs.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Feature, Sprites

#44730 Makes Limbs Small Weight (To Fit In Trashbags)
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Tweak

#44896 Fixes the bodybag RegisterSignal
  code/game/objects/items/bodybag.dm
Labels: Fix

#44738 Recolors the computer circuit boards and machine circuit boards into department-based colors.
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  icons/obj/module.dmi
Labels: Feature, Refactor, Sprites

#44783 Adds a research log and the ability for the RD to disable point generation, makes the R&D servers stop working if they lose power.
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
  icons/obj/machines/research.dmi
Labels: Feature, Fix, Sprites

#44825 Add return type annotations to some procs, other lint fixes
  code/__DEFINES/_globals.dm
  code/__DEFINES/spaceman_dmm.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/_logging.dm
  code/_globalvars/genetics.dm
  code/_globalvars/lists/mapping.dm
  code/controllers/subsystem/job.dm
  code/datums/components/_component.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/holodeck/area_copy.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  code/modules/shuttle/supply.dm
  code/modules/vehicles/_vehicle.dm
  tgstation.dme
Labels: Code Improvement, Needs Review

#44800 Sanity Rebalancing
  code/__DEFINES/mobs.dm
  code/datums/components/mood.dm
  code/datums/mood_events/drink_events.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/datums/mood_events/needs_events.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
Labels: Tweak

#44845 Split Travis shell scripts by job
  .editorconfig
  .travis.yml
  dependencies.sh
  tools/travis/before_build_tools.sh
  tools/travis/build_bsql.sh
  tools/travis/build_byond.sh
  tools/travis/build_dependencies.sh
  tools/travis/build_rust_g.sh
  tools/travis/build_tools.sh
  tools/travis/install_build_tools.sh
  tools/travis/install_byond.sh
  tools/travis/install_libmariadb.sh
  tools/travis/lint_grep.sh
  tools/travis/run_server.sh
Labels: Needs Review, Tools

#44890 Convert icons to RGBA in the icon merger
  tools/hooks/dmi.merge
  tools/hooks/pre-commit.hook
  tools/mapmerge2/dmi.py
Labels: Tools

#44950 Fix indentation error from circuit board colors PR
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Fix

#44945 Properly fixes smart cable lag issues and also fixes the awful connection issues.
  code/modules/power/cable.dm
  code/modules/power/power.dm
Labels: Fix

#44853 Citations
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/datums/datacore.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/warrant.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/devices/PDA/PDA.dm
  tgstation.dme
Labels: Feature, Map Edit, Mapping

#44869 Contract tweaks
  code/__DEFINES/antagonists.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/cargo/supplypod.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/items_and_weapons.dmi
  sound/effects/contractorbatonhit.ogg
  sound/weapons/contractorbatonextend.ogg
Labels: Sound, Sprites, Tweak

#44938 Fixes ore bag runtime
  code/game/objects/items/storage/bags.dm
Labels: Fix

#44926 Fixes negative armor on objects.
  code/game/objects/obj_defense.dm
Labels: Fix

#44930 Fixes a bug with armor zones.
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#44923 Fixes building unminified tgui
  tgui/gulp/css.js
Labels: Fix, UI

#44931 Removes the get_organ_target proc.
  code/_onclick/click.dm
  code/modules/mob/living/living.dm
Labels: Code Improvement

#44934 Refactors can_see_reagents
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
Labels: Code Improvement, Refactor

#44662 Cooler hivebots
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  icons/mob/hivebot.dmi
Labels: Sprites, Tweak

#44928 Mob armor penetration fix.
  code/modules/mob/living/living_defense.dm
Labels: Fix

#44962 Free Syndicate Encryption Key 2559
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Labels: Feature, Sprites

#44955 Adds header to c4 message
  code/game/objects/items/grenades/plastic.dm
Labels: Fix

#44953 Fix quickdraw hotkeys working while incapacitated
  code/modules/keybindings/bindings_human.dm
Labels: Fix

#44946 Composting and/or using the kitchen grinder now drops trash items (bowls, etc.) if applicable.
  code/modules/hydroponics/hydroponics.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Fix

#44918 Adds cluwne egg to the game.
  code/modules/food_and_drinks/food/snacks_egg.dm
  icons/obj/food/food.dmi
Labels: Sprites

#44956 Antimagic now gets used up once it loses all charges.
  code/datums/components/anti_magic.dm
  code/modules/clothing/head/misc_special.dm
Labels: Fix

#44957 Delta station incinerator fix.
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#44971 Fixes smeses linking to themselves
  code/modules/power/cable.dm
Labels: Fix

#44895 Makes signal calls async again
  code/__HELPERS/unsorted.dm
  code/datums/components/_component.dm
Labels: Fix

#44898 Mark Python files as being space-indented in editorconfig
  .editorconfig
Labels: Tools

#44790 You Can No Longer Infinitely Purify a Soulstone + Cult Can't Use Purified Soulstones
  code/game/objects/items/storage/book.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix, Stale

#44659 Abductor chem dispenser
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/abductor/machinery/console.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  icons/obj/abductor.dmi
Labels: Feature, Sprites

#44710 Universal Organ Damage system
  code/__DEFINES/mobs.dm
  code/datums/components/earhealing.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/diseases/advance/symptoms/vision.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/antagonists/clockcult/clock_items/wraith_spectacles.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/status_procs.dm
  code/modules/paperwork/paperplane.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/stomach.dm
Labels: Code Improvement

#44863 Honked moodlet updates
  code/datums/mood_events/generic_positive_events.dm
  code/game/objects/items/clown_items.dm
  icons/mob/screen_gen.dmi
Labels: Fix, Sprites, Tweak

#44949 Match strike sound
  code/game/objects/items/cigs_lighters.dm
  sound/items/match_strike.ogg
Labels: Sound

#44911 Makes the BSA's Laser Look more Stylish
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/station_goals/bsa.dm
  icons/effects/beam.dmi
  icons/effects/beam_splash.dmi
Labels: Sprites, Tweak

#44951 Fixes clones DNA sequences being linked
  code/datums/dna.dm
Labels: Fix

#44844 Updates boxstation SMES room setup properly.
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Feature, Mapping

#44914 Breakfast foods now give a positive moodie before 15 mins
  code/__DEFINES/food.dm
  code/datums/mood_events/needs_events.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/food.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/food_and_drinks/food/snacks_egg.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/food/snacks_salad.dm
  code/modules/food_and_drinks/food/snacks_sandwichtoast.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
Labels: Feature

#44972 Fixes sabre sheath sounds
  code/game/objects/items/melee/misc.dm
Labels: Fix

#44908 Tweaks sawn off guns. Chainsaw edition.
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Feature

#44960 Change Cult Conversion To Be Holy-Based rather than Strict Role Checks
  code/game/gamemodes/cult/cult.dm
Labels: Balance/Rebalance

#44952 Minor meta mapping fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#44881 [READY] Adds mime and clown plasma-envirosuits.
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  icons/mob/head.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Feature, Needs Review, Sprites, Tweak

#44531 [READY]Replaces Trekchems with Cobby Category 2 Chems + Chem Tweaks
  _maps/map_files/generic/CentCom.dmm
  code/game/machinery/iv_drip.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/cargo/packs.dm
  code/modules/detectivework/footprints_and_rag.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/chem_pack.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/medigel.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  code/modules/vending/wardrobes.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/bloodpack.dmi
  icons/obj/chemical.dmi
  icons/obj/janitor.dmi
  icons/obj/reagentfillings.dmi
  tgstation.dme
Labels: Balance/Rebalance, Code Improvement, Feature, Map Edit, Mapping, Needs Review, Removal, Sprites

#44982 Simple animals that are dead have a message on examine.
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#44857 Increase BYOS cost to 5000 and make it slightly bigger
  _maps/shuttles/emergency_construction.dmm
  code/datums/shuttles.dm
Labels: Balance/Rebalance, Map Edit, Mapping

#44880 [READY]Adds cowboy boots!
  code/datums/components/crafting/tailoring.dm
  code/modules/cargo/exports/gear.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/vending/clothesmate.dm
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Feature, Needs Review, Sprites

#44984 Animated speechie bubbles
  icons/mob/talk.dmi
Labels: Sprites

#44988 Adds seashells to the game.
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomZLevels/TheBeach.dmm
  code/game/objects/items/toys.dm
  icons/misc/beach.dmi
Labels: Feature, Map Edit, Sprites

#44866 Quantum Spin Inverter, aka Swapper
  code/game/objects/items/devices/swapper.dm
  code/modules/research/designs/bluespace_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/device.dmi
  tgstation.dme
Labels: Feature, Sprites

#44883 Adds Jumpsuit/Jumpskirt Preference
  code/_globalvars/lists/flavor_misc.dm
  code/datums/outfit.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/under/color.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Labels: Feature

#45023 Adds french onion soup.
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  icons/obj/food/soupsalad.dmi
Labels: Feature, Sprites

#44966 Add DreamChecker to Travis, other improvements
  .travis.yml
  dependencies.sh
  tools/json_verifier.py
  tools/travis/build_rust_g.sh
  tools/travis/build_tgui.sh
  tools/travis/build_tools.sh
  tools/travis/check_changelogs.sh
  tools/travis/check_grep.sh
  tools/travis/install_dreamchecker.sh
  tools/travis/install_rust_g.sh
Labels: Needs Review, Tools

#44986 gives zombies a big bad message
  code/modules/zombie/organs.dm
Labels: Feature

#45011 Fixed tabbing for Crew Monitoring Console
  code/game/objects/items/circuitboards/computer_circuitboards.dm
Labels: Fix

#45027 Fixes swappers not working
  code/game/objects/items/devices/swapper.dm
Labels: Fix, PRB: No Update

#44961 Add Copy Machines to HoP office
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Tweak

#44843 Removes Hygiene
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/economy.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/obj_flags.dm
  code/__DEFINES/traits.dm
  code/_globalvars/bitfields.dm
  code/_onclick/item_attack.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/mood.dm
  code/datums/mood_events/needs_events.dm
  code/datums/mutations/actions.dm
  code/datums/traits/good.dm
  code/datums/traits/neutral.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/structures/shower.dm
  code/game/objects/structures/watercloset.dm
  code/modules/client/preferences_savefile.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/utility.dm
  code/modules/economy/account.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/mob/smelly.dmi
Labels: Removal, Sprites, Tweak

#45025 Adds the feeedback column to `admin`
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
Labels: SQL

#45032 Agent card automatically assigns your account number on first time use + change it anytime
  code/game/objects/items/cards_ids.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
Labels: Tweak

#45018 Trash from food no longer teleports.
  code/modules/food_and_drinks/food/snacks.dm
Labels: Fix

#45021 Line break change on AI minions list
  code/__HELPERS/roundend.dm
Labels: UI

#45013 Add drydock to runtimestation.
  _maps/map_files/debug/runtimestation.dmm
Labels: Feature, Map Edit

#45005 JaniDrobes now have equipment for two janitors
  code/modules/vending/wardrobes.dm
Labels: Feature

#45002 Fixes a sprinkles runtime
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Fix

#45010 Makes cleanbots clean slightly faster
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Balance/Rebalance

#44999 Fixes simple animal zombies not looking like zombies
  code/modules/client/preferences.dm
Labels: Fix

#44998 Gives hivelord broods (legion skulls) the swarming component
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: Balance/Rebalance

#45001 nerfs cakehat for realsies
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/modules/food_and_drinks/food/snacks_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
Labels: Balance/Rebalance, Feature, Map Edit, Removal, Tweak

#44991 Batons show a hit animation on stun
  code/game/objects/items/melee/misc.dm
Labels: Tweak

#44958 Blocked IC chat stats
  code/modules/mob/living/say.dm
Labels: Feedback

#45043 Fixes area moodlets.
  code/datums/components/mood.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/area/areas.dm
Labels: Fix

#44985 [READY]Adds moodlets to appropriate drugs and drug-like reagents
  code/datums/mood_events/drug_events.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Feature, Needs Review

#45046 Gives tagger the art component
  code/game/objects/items/crayons.dm
Labels: Tweak

#45047 Generate documentation, deploy to gh-pages via Travis
  .travis.yml
  tools/travis/install_dreamchecker.sh
  tools/travis/install_spaceman_dmm.sh
Labels: Tools

#44817 Adds elements: Lightweight shared components/Global components
  code/__DEFINES/components.dm
  code/controllers/subsystem/dcs.dm
  code/controllers/subsystem/garbage.dm
  code/datums/components/earhealing.dm
  code/datums/components/mood.dm
  code/datums/components/spawner.dm
  code/datums/elements/_element.dm
  code/datums/elements/cleaning.dm
  code/datums/elements/earhealing.dm
  code/modules/clothing/ears/_ears.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/vehicles/pimpin_ride.dm
  tgstation.dme
Labels: Refactor

#44764 Fire Cremation
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/damage_procs.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Feature, Test Merge Candidate, Tweak

#44821 Experimental Cobbisection [150+ Hours and Ready]
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/surgery_step.dm
Labels: Balance/Rebalance, Code Improvement, Feature, Tweak

#44833 [READY] Plumbing
  code/__DEFINES/plumbing.dm
  code/controllers/subsystem/processing/fluids.dm
  code/datums/components/plumbing/plumbing.dm
  code/datums/ductnet.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items/RPD.dm
  code/game/objects/objs.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/game/turfs/simulated/floor/plating/asteroid.dm
  code/modules/client/asset_cache.dm
  code/modules/plumbing/ducts.dm
  code/modules/plumbing/plumbers/pumps.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/2x2.dmi
  icons/obj/lavaland/terrain.dmi
  icons/obj/objects.dmi
  icons/obj/plumbing/fluid_ducts.dmi
  icons/obj/plumbing/plumbers.dmi
  icons/obj/tools.dmi
  icons/obj/watercloset.dmi
  tgstation.dme
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/rpd.ract
Labels: Feature, Needs Review, Sprites, UI

#44959 Thermite tweaks.
  code/datums/components/thermite.dm
Labels: Fix, Tweak

#44996 random sentience event now has mulebots and vomit goose in the high priority list
  code/modules/events/sentience.dm
Labels: Feature

#45040 Makes black and blue crayon effects less intense.
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix, Tweak

#45048 removes the stun from spraycans
  code/game/objects/items/crayons.dm
Labels: Balance/Rebalance, Removal

#45059 Fixes gps runtime.
  code/game/objects/items/devices/gps.dm
Labels: Fix

#45058 Fixes pai runtime.
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Fix

#45056 Makes logs show bee reagent name
  code/modules/mob/living/simple_animal/hostile/bees.dm
Labels: Logging

#45057 Fixes slime lungs runtime.
  code/modules/surgery/organs/lungs.dm
Labels: Fix

#45062 Fixes itching powder runtime
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#45066 Fixes default borg module runtime
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#45072 Gives teleporter circuit boards the science icon.
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Tweak

#45050 New Revenant icons
  code/modules/antagonists/revenant/revenant_abilities.dm
  icons/mob/mob.dmi
Labels: Sprites

#45054 Fixes permeability runtime
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#45063 Fixes vomi/tg/oose runtime
  code/modules/mob/living/simple_animal/hostile/goose.dm
Labels: Fix

#45079 remove special borg behaviour during surgery
  code/modules/surgery/surgery.dm
Labels: Fix

#45076 Lexorin Requires Salbu Instead of Oxygen
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Balance/Rebalance

#45085 Virus cures no longer reshuffle while in hosts
  code/datums/diseases/advance/advance.dm
Labels: Fix

#45049 Supresses policy file runtime but messages admins about it.
  code/__HELPERS/text.dm
  code/controllers/configuration/configuration.dm
Labels: Administration

#45031 Updates FontAwesome to 5.9.0
  code/modules/client/asset_cache.dm
  code/modules/client/darkmode.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/goonchat/browserassets/css/font-awesome.css
  code/modules/goonchat/browserassets/html/browserOutput.html
  code/modules/tgui/tgui.dm
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.woff
  tgui/assets/font-awesome.min.css
  tgui/assets/fonts/SIL-OFL-1.1-LICENSE.md
  tgui/assets/fonts/fontawesome-webfont.eot
  tgui/assets/fonts/fontawesome-webfont.svg
  tgui/assets/fonts/fontawesome-webfont.ttf
  tgui/assets/fonts/fontawesome-webfont.woff
  tgui/assets/fonts/fontawesome-webfont.woff2
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/package.json
  tgui/src/components/titlebar.ract
  tgui/src/components/titlebar.styl
  tgui/src/components/warnings.ract
  tgui/src/tgui.js
Labels: Needs Review, UI

#44995 Adds science goggles to virology lab
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Map Edit

#44777 Lowers jetpack speed boost
  code/game/objects/items/tanks/jetpack.dm
Labels: Balance/Rebalance

#44894 Adds the Pushover and Frail quirks
  code/__DEFINES/traits.dm
  code/datums/traits/negative.dm
  code/modules/mob/living/living.dm
Labels: Feature

#45083 Decrease BYOS cost to 2500
  code/datums/shuttles.dm
Labels: Tweak

#45096 Fixes experimentally cobbisected techwebs, and prevents it from happening again
  code/controllers/subsystem/research.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#45115 Fix unreliability of dmdoc GitHub links
  .travis.yml
Labels: Tools

#45110 Lets the kinetic crusher be one-hand carried
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/twohanded.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
Labels: Feature, Sprites

#45099 Changes how disease biotypes are added
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/symptoms/species.dm
  code/datums/diseases/advance/symptoms/symptoms.dm
Labels: Fix

#45088 drinksprites
  icons/obj/drinks.dmi
Labels: Sprites

#45101 Convert some code docs into the auto doc format
  code/__DEFINES/subsystems.dm
  code/datums/datum.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/mob_movespeed.dm
  code/modules/mob/say.dm
  code/modules/mob/say_readme.md
  code/modules/mob/status_procs.dm
  code/modules/modular_computers/documentation.md
Labels: Documentation

#45087 Removes slaughterlings
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
Labels: Removal

#45074 Paperplanes no longer delete their paper twice.
  code/modules/paperwork/paperplane.dm
Labels: Fix

#45092 Fixes russian revolvers being spun when they fail to spin
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Fix

#44990 Makes nuclear particles no longer give toxin damage directly.
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy/nuclear_particle.dm
Labels: Balance/Rebalance

#44897 Changes PKM examine
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Tweak

#45107 blocks shove knockdown is now a clothing flag.
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Code Improvement

#45111 Changes how explosive guardian bombs work.
  code/__DEFINES/components.dm
  code/game/atoms.dm
  code/game/machinery/doors/door.dm
  code/modules/mob/living/simple_animal/guardian/types/explosive.dm
Labels: Balance/Rebalance, Tweak

#45089 Better conscription kit, public lavaland mining vendor
  _maps/map_files/Mining/Lavaland.dmm
  code/modules/cargo/packs.dm
  code/modules/mining/machine_vending.dm
Labels: Map Edit, Tweak

#45091 Cyborg intro quips animations.
  icons/mob/screen_cyborg.dmi
Labels: Sprites

#44903 Makes the abductor healing gland more interesting
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/antagonists/abductor/equipment/glands/access.dm
  code/modules/antagonists/abductor/equipment/glands/blood.dm
  code/modules/antagonists/abductor/equipment/glands/chem.dm
  code/modules/antagonists/abductor/equipment/glands/egg.dm
  code/modules/antagonists/abductor/equipment/glands/electric.dm
  code/modules/antagonists/abductor/equipment/glands/heal.dm
  code/modules/antagonists/abductor/equipment/glands/mindshock.dm
  code/modules/antagonists/abductor/equipment/glands/plasma.dm
  code/modules/antagonists/abductor/equipment/glands/quantum.dm
  code/modules/antagonists/abductor/equipment/glands/slime.dm
  code/modules/antagonists/abductor/equipment/glands/spider.dm
  code/modules/antagonists/abductor/equipment/glands/transform.dm
  code/modules/antagonists/abductor/equipment/glands/trauma.dm
  code/modules/antagonists/abductor/equipment/glands/ventcrawl.dm
  code/modules/antagonists/abductor/equipment/glands/viral.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/organs/eyes.dm
  tgstation.dme
Labels: Feature, Fix

#45114 Slightly nerfs hunger events
  code/datums/mood_events/needs_events.dm
Labels: Tweak

#45067 Fixes liver failure runtime and inconsistency
  code/modules/mob/living/carbon/life.dm
Labels: Fix

#45124 Actually removes byo shuttle timer
  code/datums/shuttles.dm
Labels: Removal

#45070 Bye bye animal hospital.
  _maps/RandomRuins/LavaRuins/lavaland_surface_animal_hospital.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_gaia.dmm
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/turfs/simulated/floor/plating/misc_plating.dm
  config/lavaruinblacklist.txt
Labels: Config Update, Feature, Map Edit, Removal

#45127 fixes bola weirdness
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#45106 Fixes preference update runtime.
  code/modules/client/preferences_savefile.dm
Labels: Fix

#45037 PDA now accepts ID card when in inventory
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Tweak

#45133 Swappers can no longer be sent on cargo shuttle.
  code/modules/shuttle/supply.dm
Labels: Fix

#44989 Adds stats to creation/destruction of cleanable decals and trash on station
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/trash.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/guns/ballistic.dm
Labels: Feedback

#45154 Disables adjust on burial garb
  code/modules/clothing/under/miscellaneous.dm
Labels: Fix

#45142 Fixes clockwork armor armor
  code/modules/antagonists/clockcult/clock_items/clockwork_armor.dm
Labels: Fix

#45141 Fixes gravitokinetic guardian effect lasting after death
  code/modules/mob/living/simple_animal/guardian/types/gravitokinetic.dm
Labels: Fix

#45137 Fixes runtimes when eyeless mobs are hit by paper planes and last resort
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/paperwork/paperplane.dm
Labels: Fix

#45130 budget cards now go in the department head lockers
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
Labels: Fix, Tweak
