Repository tgstation/tgstation, pull requests merged in 2019-08, with the labels that each got.

#45627 Fixes inserting/ejecting console ID's
  code/game/machinery/_machinery.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/gulag_teleporter.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/prisoner.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/gulag_item_reclaimer.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mining/machine_redemption.dm
Labels: Fix

#45640 Fixes Medical Doctors and Quartermasters spawning with the wrong uniforms
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/quartermaster.dm
  tools/mapmerge2/map_scripts/clothingunderrepath.txt
Labels: Fix, Tools

#45348 [Ready] Code Bounty: Fake Virus Event
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/modules/events/fake_virus.dm
  tgstation.dme
Labels: Feature, Needs Review

#45611 Inhand sprites for tiles
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/research/xenobiology/xenobiology.dm
  icons/mob/inhands/misc/sheets_lefthand.dmi
  icons/mob/inhands/misc/sheets_righthand.dmi
  icons/mob/inhands/misc/tiles_lefthand.dmi
  icons/mob/inhands/misc/tiles_righthand.dmi
Labels: Sprites

#45597 Adds Beepsky and ED-209 interactions for AnCap mode
  code/modules/mob/living/simple_animal/bot/SuperBeepsky.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Feature

#45585 Corrects the time-stop incantation shout.
  code/modules/spells/spell_types/wizard.dm
Labels: Grammar and Formatting

#45595 Fixes monk frock sprite
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Fix, Sprites

#45592 Small hair tweaks and a fix for west facing sprites in #45483
  icons/mob/human_face.dmi
Labels: Fix, Sprites

#45566 Gives Bartender Theater Access 2: Electric Boogaloo
  code/modules/jobs/job_types/bartender.dm
Labels: Fix

#45498 Removes front two Metastation medbay showers (yes those showers)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Removal

#45521 Better shotgun inhands
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/mob/inhands/weapons/64x_guns_left.dmi
  icons/mob/inhands/weapons/64x_guns_right.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
Labels: Sprites

#45580 Make basic id cards constructable.
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#45479 Removes virgin snailcrawl component and replaces it with chad snailcrawl element.
  code/datums/components/snail_crawl.dm
  code/datums/elements/snail_crawl.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  tgstation.dme
Labels: Code Improvement, Removal

#45565 fixes combat gloves plus not having a sprite
  code/datums/martial/krav_maga.dm
Labels: Balance/Rebalance

#45466 Sec vendor on gulag now has ID and Cost requirements
  _maps/map_files/Mining/Lavaland.dmm
  code/modules/vending/_vending.dm
Labels: Fix, Map Edit

#45575 Adds unused Mothperson markings to the character creator
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  icons/mob/moth_markings.dmi
Labels: Feature, Sprites

#45397 Replaces chem macros with a recording based system
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  tgui/assets/tgui.js
  tgui/src/interfaces/chem_dispenser.ract
Labels: Feature, UI

#45399 Pubby SM Rework
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Tweak

#45407 Keep occupied custom dock
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
Labels: Fix

#45476 Ever so slightly saner HUDs.
  code/__DEFINES/traits.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/surgery/organs/augments_eyes.dm
Labels: Balance/Rebalance, Code Improvement

#45552 Revert "AutoDrobes now have a premium psychedelic jumpsuit"
  code/modules/vending/autodrobe.dm
Labels: Revert

#45557 Turns gloves of the north star functionality into a component.
  code/datums/components/punchcooldown.dm
  code/modules/clothing/gloves/miscellaneous.dm
  tgstation.dme
Labels: Code Improvement

#45635 AIs can check clone pod status again
  code/game/machinery/cloning.dm
Labels: Fix

#45689 Fixes a Beepsky exploit
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: Priority: High, RED LABEL

#45650 fixes traps
  code/game/objects/structures/traps.dm
Labels: Fix

#45656 Removes slowdown from riot suits
  code/modules/clothing/suits/armor.dm
Labels: Balance/Rebalance, Removal

#45282 ChangeTurf CHANGETURF_INHERIT_AIR flag fix
  code/game/turfs/change_turf.dm
Labels: Fix

#45663 Adds the monk's frock and eastern monk's robe to the chaplain vendordrobe
  code/modules/vending/wardrobes.dm
Labels: Tweak

#45672 pAIs now only have one Life proc
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Code Improvement

#45643 [s] Fixes emagging an empty clone killing the last real clone
  code/game/machinery/cloning.dm
Labels: Fix

#45474 Cat 2 Med downside tweak.
  code/__DEFINES/traits.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance, Tweak

#45684 Corrects double barrel right inhand being the wrong sprite
  icons/mob/inhands/weapons/64x_guns_right.dmi
Labels: Fix, Sprites

#45625 The clown car waddles
  code/datums/components/waddling.dm
  code/modules/vehicles/cars/clowncar.dm
Labels: Feature

#45693 No ID insertion for everything except the hop console (fixes the ORM)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/machinery/_machinery.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/prisoner/_prisoner.dm
  code/game/machinery/computer/prisoner/gulag_teleporter.dm
  code/game/machinery/computer/prisoner/management.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/gulag_item_reclaimer.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_vending.dm
  tgstation.dme
  tgui/assets/tgui.js
  tgui/src/interfaces/gulag_item_reclaimer.ract
  tgui/src/interfaces/labor_claim_console.ract
  tgui/src/interfaces/ore_redemption_machine.ract
Labels: Fix, Map Edit, Tweak, UI

#45677 Logging improvements
  code/game/machinery/doors/door.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/power/apc.dm
Labels: Administration, Logging

#45706 Removes debug message from mining vendor.
  code/modules/mining/machine_vending.dm
Labels: Removal

#45720 [s] readds default state to 96x96 effects
  icons/effects/96x96.dmi
Labels: Fix, Priority: CRITICAL, Sprites

#45602 Bounty PR: See-through plasmaman visors + drawing smiley faces on said visors
  code/modules/clothing/spacesuits/plasmamen.dm
  icons/mob/head.dmi
Labels: Balance/Rebalance, Feature, Sprites, Tweak

#45618 Improved Cabin Away Mission
  _maps/RandomZLevels/Cabin.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  code/game/objects/structures/statues.dm
  code/modules/antagonists/abductor/ice_abductor.dm
  code/modules/awaymissions/mission_code/Cabin.dm
  config/awaymissionconfig.txt
  icons/effects/freeze.dmi
  icons/obj/statue.dmi
  tgstation.dme
Labels: Config Update, Feature, Map Edit, Removal, Sprites, Work In Progress

#45642 Fixes muscled veins surgery
  code/modules/surgery/advanced/bioware/muscled_veins.dm
Labels: Fix

#45644 Fixes a visual bug with water in IV drips
  code/game/machinery/iv_drip.dm
  icons/obj/iv_drip.dmi
Labels: Fix, Sprites

#45675 makes stimulum not cancer
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Balance/Rebalance

#45717 You can no longer pick up sofas
  code/game/objects/structures/beds_chairs/sofa.dm
Labels: Fix

#45502 Cleans up some martial art code.
  code/__DEFINES/traits.dm
  code/datums/martial.dm
  code/datums/martial/cqc.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/mutations/hulk.dm
  code/game/objects/items/devices/laserpointer.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: Code Improvement

#45695 Fix broken suits in medical outfit lockers
  code/controllers/subsystem/traumas.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/devil/devil_helpers.dm
  code/modules/vending/wardrobes.dm
Labels: Fix

#45681 Imaginary Friend/Split Personality Trauma Fixes
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
Labels: Fix

#45632 [Ready] Adds Snow Cones
  code/__DEFINES/construction.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_sandwichtoast.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  icons/obj/food/snowcones.dmi
  tgstation.dme
Labels: Feature, Needs Review, Sprites

#45671 Fixes the halloween code.
  code/modules/holiday/halloween.dm
  icons/mob/clown_mobs.dmi
Labels: Fix, Sprites

#45714 Fixes general beepsky and beepsky ancap attacks
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix

#45709 badass antag moodlet gets a proper newline and span
  code/datums/mood_events/generic_positive_events.dm
Labels: Fix

#45680 Refactors C4/X4
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/infiltrator_basic.dmm
  code/datums/components/crafting/recipes.dm
  code/datums/wires/explosive.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/events/shuttle_loan.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/ninja/outfit.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Fix, Map Edit, Refactor, Tweak

#45660 Adds a GPS component.
  code/datums/components/gps.dm
  code/game/machinery/computer/law.dm
  code/game/objects/items/devices/gps.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/modules/events/pirates.dm
  code/modules/mining/aux_base.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/station_goals/bsa.dm
  tgstation.dme
Labels: Code Improvement

#45699 various fluff mapping items
  code/game/objects/effects/decals/turfdecal/weather.dm
  code/game/objects/structures/fluff.dm
  icons/effects/32x96.dmi
  icons/misc/beach.dmi
  icons/obj/fluff.dmi
  icons/turf/decals.dmi
  icons/turf/floors/dirt.dmi
Labels: Sprites

#45697 Chem grenade admin logging
  code/datums/wires/explosive.dm
Labels: Administration, Good First PR, Logging

#45668 Toxin lovers don't throw up.
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Feature

#45651 Replaces a pair of insulated gloves on metastation with budget insulated gloves.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Balance/Rebalance, Map Edit

#45538 Plasmamen get plasma in their box
  code/game/objects/items/storage/boxes.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: Feature

#45750 Fixes ORM again.
  code/modules/mining/machine_redemption.dm
Labels: Fix

#45673 Adds the snailcrawl element to living lube.
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
Labels: Code Improvement

#45742 Fixes VV editing name and ckey in header
  code/__DEFINES/vv.dm
  code/game/atoms.dm
  code/modules/mob/living/living.dm
Labels: Fix

#45730 Lemonade reagent color fix
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Fix

#45729 Capitalizes Gaseous Decomposition
  code/modules/hydroponics/plant_genes.dm
Labels: Grammar and Formatting

#45744 Makes itching deal damage through clothing
  code/datums/diseases/advance/symptoms/itching.dm
Labels: Balance/Rebalance, Tweak

#45743 Emags can now be used on closets, regardless of whatever intent you use.
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Tweak

#45494 Mediborg Beaker Storage Apparatus
  code/__DEFINES/components.dm
  code/game/objects/objs.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/glass.dm
  icons/mob/robot_items.dmi
Labels: Balance/Rebalance, Feature, Sprites

#45622 Nerfs reinforced bolas
  code/game/objects/items/handcuffs.dm
  code/modules/antagonists/cult/cult_items.dm
Labels: Balance/Rebalance

#45783 Show correct attacker when being attacked by somebody with an item
  code/_onclick/item_attack.dm
Labels: Fix

#45765 Buffs success chance for ghetto tend wounds
  code/modules/surgery/healing.dm
Labels: Balance/Rebalance

#45754 Moves the C4 overlay to the float layer for mobs.
  code/game/objects/items/grenades/plastic.dm
Labels: Fix

#45547 Luxury Elite Bar Capsule
  _maps/templates/shelter_3.dmm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/shelters.dm
Labels: Map Edit

#45752 Footprints no longer always face south and can rotate properly
  code/__HELPERS/type2type.dm
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: Fix

#45658 Adds a species randomizer to character setting screen
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
Labels: Feature

#45648 husking visual fix
  code/modules/mob/living/status_procs.dm
Labels: Fix

#45711 Small cigarette refactor and Syndie cigs more viable for healing
  code/game/objects/items/cigs_lighters.dm
Labels: Tweak

#45473 [READY] Plumbing: Chemical Filters
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/acclimator.dm
  code/datums/components/plumbing/filter.dm
  code/modules/plumbing/plumbers/filter.dm
  icons/obj/plumbing/plumbers.dmi
  tgstation.dme
  tgui/assets/tgui.js
  tgui/src/interfaces/chemical_filter.ract
Labels: Feature, Needs Review, Sprites, Stale, UI

#45606 [READY] Makes plasmaman helmets have visors.
  code/datums/action.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Balance/Rebalance, Needs Review, Sprites

#45609 [READY] Reinforced windows are harder to get through
  code/__DEFINES/construction.dm
  code/game/machinery/_machinery.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/game/objects/structures/window.dm
Labels: Balance/Rebalance, Needs Review

#45630 Underwear color
  code/game/objects/structures/dresser.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  icons/mob/underwear.dmi
Labels: Feature, Removal, Sprites, Tweak

#45633 A new pie and four more cakes!
  code/modules/food_and_drinks/food/snacks_cake.dm
  code/modules/food_and_drinks/food/snacks_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  icons/obj/food/piecake.dmi
Labels: Feature, Sprites

#45726 Fixes the weird gap in the interface
  interface/skin.dmf
Labels: Fix

#45716 Another sanity revision.
  code/datums/components/mood.dm
Labels: Balance/Rebalance

#45690 sm sound fixes
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/looping_sounds/machinery_sounds.dm
Labels: Fix

#45694 Remove atom creation in vending machine icon generation
  code/game/objects/items/cigs_lighters.dm
  code/modules/client/asset_cache.dm
  code/modules/clothing/head/misc_special.dm
Labels: Code Improvement

#45751 Gives walls some perspective.
  icons/turf/walls/reinforced_wall.dmi
  icons/turf/walls/wall.dmi
Labels: Sprites

#44639 [Ready] Ports dynamic gamemode from /vg/
  code/__DEFINES/maths.dm
  code/__HELPERS/roundend.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/dynamic/readme.md
  code/game/gamemodes/game_mode.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  tgstation.dme
Labels: FUCK, Feature, Needs Review

#45757 Nerfs human & ethereal nutrition moodlets
  code/datums/mood_events/needs_events.dm
Labels: Tweak

#45779 Moves death + suicide logging to the attack log
  code/modules/client/verbs/suicide.dm
  code/modules/mob/living/carbon/human/death.dm
Labels: Administration, Logging

#45778 Adds proper logging for nuke code request messages
  code/game/machinery/computer/communications.dm
Labels: Administration

#45773 Failing healing surgery only gives one error message now
  code/modules/surgery/healing.dm
Labels: Fix, Grammar and Formatting

#45768 Fixes being unable to clone multiple empty clones simultaneously
  code/game/machinery/computer/cloning.dm
Labels: Fix

#45758 Adds clown car logging
  code/modules/vehicles/cars/clowncar.dm
Labels: Administration, Logging

#45763 Removes cameras reliance on icon default state
  code/modules/antagonists/clockcult/clock_items/judicial_visor.dm
  code/modules/photography/camera/camera_image_capturing.dm
  icons/effects/96x96.dmi
Labels: Code Improvement

#45753 Turns Gibberish code into something that's not gibberish
  code/game/machinery/cloning.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/antagonists/clockcult/clock_structures/ark_of_the_clockwork_justicar.dm
  code/modules/mob/living/brain/say.dm
  code/modules/mob/mob_helpers.dm
  code/modules/shuttle/emergency.dm
Labels: Code Improvement

#45705 Cleans up mutation code.
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
  code/datums/mutations.dm
  code/datums/mutations/sight.dm
  code/datums/mutations/telekinesis.dm
Labels: Code Improvement, Tweak

#45764 Cargo console UI touchup
  code/modules/cargo/console.dm
  tgui/assets/tgui.js
  tgui/src/interfaces/cargo.ract
Labels: Tweak, UI

#45797 Fixes defib paddles
  code/game/objects/items/defib.dm
Labels: Fix

#45786 Changes the Disintegrate spell's name to "Smite"
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/spells/spell_types/godhand.dm
  code/modules/spells/spell_types/touch_attacks.dm
Labels: Tweak

#45774 Increases the range of the janitor's mister
  code/game/objects/items/tanks/watertank.dm
Labels: Balance/Rebalance

#45664 Lowers explorer suit bullet & laser armor
  code/modules/mining/equipment/explorer_gear.dm
Labels: Balance/Rebalance

#45791 Fixes sentience balloon icon
  code/modules/admin/fun_balloon.dm
  code/modules/ruins/lavalandruin_code/puzzle.dm
  code/modules/spells/spell_types/godhand.dm
Labels: Fix

#45666 Adds bulletproof helmets to cargo and completely changes artistic crates
  code/modules/cargo/packs.dm
Labels: Balance/Rebalance, Feature, Grammar and Formatting

#45747 Adds robotic voiceboxes as contraband in the Robotech Deluxe
  code/modules/vending/robotics.dm
Labels: Feature

#45703 Contract rerolls and general enhancements
  code/__HELPERS/_lists.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  code/modules/modular_computers/file_system/programs/antagonist/contract_uplink.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/contractor_tablet.dmi
  sound/machines/uplinkpurchase.ogg
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/src/interfaces/synd_contract.ract
Labels: Feature, Sound, Sprites, Tweak, UI

#45789 Deadchat ban option
  code/modules/admin/sql_ban_system.dm
  code/modules/mob/say.dm
Labels: Fix

#45676 Adds support for 3 gasses to the SM
  code/modules/power/supermatter/supermatter.dm
Labels: Feature

#45809 All windows now have consistant spans
  code/game/objects/structures/window.dm
Labels: Grammar and Formatting

#45817 Gulags makes money no more.
  code/game/machinery/gulag_item_reclaimer.dm
Labels: Fix

#45804 Makes .357 speedloaders unrecyclable.
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: Feature

#45793 Wizard rounds properly generate the round end report if the wiz dies and the round ends.
  code/game/gamemodes/wizard/wizard.dm
Labels: Fix

#45696 You can no longer name some things after words in the ic filter
  code/__HELPERS/text.dm
  code/controllers/subsystem/pai.dm
  code/datums/components/spooky.dm
  code/game/mecha/mecha_topic.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/structures/mirror.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  code/modules/research/xenobiology/crossbreeding/stabilized.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Fix

#45574 Hypospray Codersprites
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/syringe.dmi
Labels: Sprites, Tweak

#45807 Dissection Examine/Fix + Finally a Surgery Logic Fix
  code/modules/mob/mob_helpers.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/surgery.dm
Labels: Feedback, Fix

#45833 Fixes bulldog inhands
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Fix

#45856 fixes VV runtiming when VVing something without a sprite
  code/modules/admin/view_variables/view_variables.dm
Labels: Fix, Priority: High

#45766 Close quarantine module loophole
  code/game/objects/items/AI_modules.dm
Labels: Tweak

#45848 Selected Access in HoP Console is Now Green (From Red) For Viewability
  code/game/machinery/computer/card.dm
Labels: Tweak

#45841 Marks silicon binary chat as such in log files
  code/modules/mob/living/silicon/say.dm
Labels: Administration, Logging

#45830 Doors no longer call update_icon in Destroy
  code/game/machinery/doors/airlock.dm
Labels: Code Improvement

#45828 Inherent_factions for species.
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/simple_animal/slime/life.dm
Labels: Code Improvement, Fix

#45800 Removes bolt of death from xenobiology magicarps.
  code/modules/events/wizard/magicarp.dm
Labels: Balance/Rebalance, Removal

#45860 Laserpointer scaling fix
  code/game/objects/items/devices/laserpointer.dm
Labels: Balance/Rebalance, Tweak

#45827 fixes a sprite fuckup
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Sprites

#45890 Reinforced window construction fixes
  code/game/objects/structures/window.dm
Labels: Fix

#45796 Makes ammonia better for increasing plant yield than diethylamine.
  code/modules/hydroponics/hydroponics.dm
Labels: Balance/Rebalance

#45873 Adds new pAI holomob options
  code/modules/mob/living/silicon/pai/pai.dm
  icons/mob/pai.dmi
Labels: Feature, Sprites

#45842 Clicking a display case on help intent examines it.
  code/game/objects/structures/displaycase.dm
Labels: Tweak

#45878 cargo request console pings supply radio when someone makes a new request
  code/modules/cargo/console.dm
Labels: Tweak

#45869 Changes the DNA console icons to be less awful
  code/game/machinery/computer/dna_console.dm
  code/modules/client/asset_cache.dm
  html/dna_discovered.gif
  html/dna_discovered.png
  html/dna_extra.gif
  html/dna_extra.png
  html/dna_undiscovered.gif
  html/dna_undiscovered.png
Labels: Good First PR, Sprites

#45607 Silo link RCD upgrade
  code/__DEFINES/construction.dm
  code/datums/components/material_container.dm
  code/game/objects/items/RCD.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#45865 [s] Fixes signaler exploit
  code/modules/assembly/signaler.dm
Labels: Fix

#45829 Fixes mutation toxin runtime
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code Improvement

#45864 Adds inhands for all the surgery tools.
  code/modules/surgery/tools.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
Labels: Sprites

#45871 New Underwear
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/underwear.dmi
Labels: Feature, Sprites

#45876 correct black suit
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/clothing/under/suits.dm
Labels: Fix

#45886 fixes cybernetic eye implant
  code/modules/surgery/organs/augments_eyes.dm
Labels: Fix

#45895 Inhand dimensions on fried things fix
  code/modules/food_and_drinks/food/snacks_bread.dm
Labels: Fix

#45819 [TMC] Explosion rebalancing
  code/__DEFINES/combat.dm
  code/game/objects/effects/effect_system/effects_other.dm
  code/game/objects/items/devices/doorCharge.dm
  code/game/objects/items/grenades/plastic.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: Balance/Rebalance, Code Improvement, Test Merge Candidate

#45884 Fixes the stealth 2+ threshold effect of regen coma
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Fix

#45377 [TMC] Baton rework
  code/__DEFINES/traits.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/stunbaton.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/syringe.dmi
Labels: Balance/Rebalance, Feature, Sprites

#45900 Fix multi surgery. Add operating computer surgery target.
  code/game/machinery/computer/Operating.dm
  code/modules/surgery/helpers.dm
  code/modules/surgery/surgery.dm
Labels: Fix

#45880 fixes holoparasites sending messages after they have been reset
  code/modules/mob/living/simple_animal/guardian/guardian.dm
Labels: Fix

#45911 Replaces ED-209's dragnet with a disabler
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
Labels: Feature, Fix, Removal

#45906 Removes GPS's from Deep Storage and the Caravan Ambush
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
Labels: Map Edit, Removal

#45896 Fixes emergency pod storage
  code/modules/shuttle/on_move.dm
Labels: Fix

#45844 Cultists can now snuff out blood magic by dropping it
  code/modules/antagonists/cult/blood_magic.dm
Labels: Tweak

#45910 Fixes random bookcase icons
  code/modules/library/random_books.dm
Labels: Fix

#45915 Makes pirate payoff feedback bit more clear.
  code/modules/events/pirates.dm
Labels: Fix

#45879 differentiates mech punches between durand and gygax + removes auto punch from leg acurator
  code/game/mecha/combat/gygax.dm
  code/game/mecha/mecha_actions.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Balance/Rebalance

#45813 One HoP ticket per person, old tickets delete
  code/modules/paperwork/ticketmachine.dm
Labels: Tweak

#45843 Arm implants now support more than two hands.
  code/__DEFINES/inventory.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/say.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: Feature, Fix
