Repository tgstation/tgstation, pull requests merged in 2019-02, with the labels that each got.

#42447 Nerfs Speed Potion
  code/modules/research/xenobiology/xenobiology.dm
Labels: Balance/Rebalance

#42592 Fix tourettes processing bug
  code/datums/mutations/body.dm
Labels: Fix

#42616 aidisabled on pirate apc
  _maps/shuttles/pirate_default.dmm
Labels: Fix, Map Edit

#42495 makes ripley ,odysseus and honk use stock parts on construction
  code/game/mecha/mecha_construction_paths.dm
  icons/mecha/mech_construction.dmi
Labels: Balance/Rebalance, Sprites

#42635 Updates malf fire alarm hack desc
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Fix

#42636 BZ Tweaks
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Balance/Rebalance, Tweak

#42638 Re-adds previously merged beret sprite changes.
  icons/mob/head.dmi
Labels: Sprites

#42639 Adds an inhand for package wrapped parcels.
  code/modules/recycling/sortingmachinery.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Feature, Sprites

#42631 Fixes turrets targetting pAI
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Fix

#42623 Blood magic tooltip alterations
  code/modules/antagonists/cult/blood_magic.dm
Labels: Grammar and Formatting

#42625 Fixes addiction moodlets
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#42523 Species types sources refactor, soviet and usa golem fix
  code/__DEFINES/mobs.dm
  code/game/objects/structures/mirror.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/events/wizard/race.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/angel.dm
  code/modules/mob/living/carbon/human/species_types/corporate.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/research/xenobiology/crossbreeding/charged.dm
  code/modules/ruins/objects_and_mobs/sin_ruins.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/species_whitelists.dm
Labels: Balance/Rebalance, Refactor

#42562 Banning panel fixes
  code/modules/admin/sql_ban_system.dm
Labels: Administration, Fix

#42649 Fixes fire alarms not updating icons when emagged/malf hacked.
  code/game/machinery/firealarm.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Fix

#42650 [s] Fixes petting mood stacking
  code/datums/mood_events/generic_positive_events.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: Fix

#42645 fixes typo in DNA defines
  code/__DEFINES/DNA.dm
Labels: Fix

#42507 [READY] reworked neurotoxin
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance, Needs Review

#42561 [Ready] brittle plasma bones
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Balance/Rebalance, Needs Review

#42652 Fixes some glitches with auto-rotation of vis_overlays
  code/controllers/subsystem/vis_overlays.dm
Labels: Fix

#42641 Adds more sounds to the H.O.N.K. sound panel
  code/game/mecha/combat/honker.dm
Labels: Tweak

#42637 Chaplain rod no longer blocks spells from its user
  code/game/objects/items/holy_weapons.dm
Labels: Balance/Rebalance

#42587 Fixes some Golem issues and fixes the name of a durathread item
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/ruins/lavaland_ruin_code.dm
Labels: Fix, Tweak

#42642 Fixes odysseus syringes not transfering reagants on hit + minor prehit() reverts
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/projectiles/projectile/special/curse.dm
Labels: Fix, Revert

#42528 Rebalances perfluorodecalin
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance

#42658 Adds flyswatter to beekeeper suit storage
  code/modules/hydroponics/beekeeping/beekeeper_suit.dm
Labels: Good First PR, Tweak

#42661 you can no longer rattle bones at the speed of light
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Fix

#42662 Branches Syndicate Bundle into A and B Categories, adds Mr Freeze Bundle
  code/__DEFINES/DNA.dm
  code/game/objects/items/dna_injector.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items.dm
Labels: Feature, Tweak

#42553 Makes Ephedrine a less Viable Combat Drug
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance

#42557 Nitrous Oxide (Reagent) Anemiates (anemiates??) Blood faster
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Balance/Rebalance

#42569 Adds some FIRE_PROOF checks
  code/controllers/subsystem/fire_burning.dm
  code/game/objects/obj_defense.dm
Labels: Fix

#42613 [READY] Fixes megafauna deathgasp and hierophants death animation
  code/modules/mob/living/emote.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix, Needs Review

#42619 Trauma gain formula fix/tweak
  code/modules/mob/living/carbon/damage_procs.dm
Labels: Balance/Rebalance, Tweak

#42657 fixes inconsistency in syndicate simple mobs
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: Fix

#42679 Raises SSOutputs init priority
  code/__DEFINES/subsystems.dm
Labels: Fix

#42671 Capacitor stock part now only does half as much damage resist
  code/game/mecha/mecha.dm
Labels: Balance/Rebalance

#42668 Donutstation Tweaks
  _maps/map_files/Donutstation/Donutstation.dmm
Labels: Map Edit, Tweak

#42670 Screwing a disk compartmentalizer no longer makes it look like a smartfridge
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  icons/obj/vending.dmi
Labels: Fix, Sprites

#42677 Corrects incorrect var passed to admin makeAI AIize params.
  code/modules/admin/topic.dm
Labels: Fix

#42663 Fixes PDA messages generated via a messaging server monitor not logging the sender's name.
  code/game/machinery/telecomms/computers/message.dm
Labels: Fix, Logging

#42653 Ports Vendor Icon Display instead of Color from Yogs, with some fixes.
  code/_globalvars/lists/objects.dm
  code/modules/vending/_vending.dm
Labels: Tweak

#42682 [s] Corrects damp rag reagent logging
  code/modules/detectivework/footprints_and_rag.dm
Labels: Fix, Logging

#42603 fixes barnyard only being able to curse humans
  code/modules/spells/spell_types/barnyard.dm
Labels: Fix

#42659 Properly adds a Janitor ERT
  code/datums/ert.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/belt.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/reagents/reagent_containers/spray.dm
  icons/mob/head.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/guns/projectile.dmi
Labels: Feature, Sprites

#42689 removes rogue turfs
  _maps/map_files/Donutstation/Donutstation.dmm
Labels: Fix, Map Edit, PRB: No Update

#42684 Fixes immersion ruining clothesmate line
  code/modules/vending/clothesmate.dm
Labels: Good First PR, Grammar and Formatting

#42524 [Ready] Adds 5 new negative/minor negative mutations, mutation conflict system
  code/__DEFINES/DNA.dm
  code/__DEFINES/status_effects.dm
  code/datums/brain_damage/mild.dm
  code/datums/mutations.dm
  code/datums/mutations/body.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/dna_injector.dm
Labels: Feature, Needs Review

#42694 Changes dependencies.sh shebang to use bash
  dependencies.sh
Labels: Fix, Good First PR, Tools

#42692 Removes the stamina version of .45 ammo
  code/modules/mob/living/simple_animal/hostile/stickman.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/projectile/bullets/smg.dm
Labels: Removal

#42647 sleeping carp now deflects projectiles in random directions
  code/datums/martial.dm
  code/datums/martial/sleeping_carp.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Balance/Rebalance, Tweak

#42698 ISINRANGE_EX fix.
  code/__DEFINES/maths.dm
Labels: Code Improvement

#42696 Tweaks lights to spark less
  code/modules/power/lighting.dm
Labels: Tweak

#42708 Fixes incorrect datum/outputs type check in playsounds
  code/game/sound.dm
Labels: Fix

#42716 Update layers.dm
  code/__DEFINES/layers.dm
Labels: Fix

#42693 More General Gun Fixes
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  icons/obj/guns/projectile.dmi
  icons/obj/guns/toy.dmi
Labels: Fix, Sprites

#42706 In space nobody can hear you honk.
  code/game/mecha/equipment/weapons/weapons.dm
Labels: Fix

#42705 [s] Fixes PDA TK exploits
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Fix

#42703 Fixes an undeleted sql query
  code/modules/client/client_procs.dm
Labels: Code Improvement

#42702 Fixes a runtime that gave lings an instant revive
  code/modules/antagonists/changeling/powers/fakedeath.dm
Labels: Fix

#42655 Tweaks the drill hat to be a bit less annoying
  code/__DEFINES/DNA.dm
  code/datums/mutations/speech.dm
  code/modules/clothing/head/jobs.dm
  strings/canadian_replacement.json
Labels: Tweak

#42520 Adds toggleable light and blinking charging light to crusher
  code/modules/mining/equipment/kinetic_crusher.dm
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/mining.dmi
Labels: Feature, Sprites

#42701 Remove lodash vuln
  tgui/assets/tgui.css
  tgui/assets/tgui.js
  tgui/package-lock.json
  tgui/package.json
Labels: Security, UI

#42722 Yet more gun fixes
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Fix

#42711 Fixes medbots internal beakers not working
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Fix

#42704 Fixes footstep sounds for downed/lying mobs
  code/datums/components/footstep.dm
  sound/effects/footstep/crawl1.ogg
Labels: Fix, Sound

#42712 Adds wooden chapel pews
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/beds_chairs/pew.dm
  icons/obj/sofa.dmi
  tgstation.dme
Labels: Feature, Good First PR, Sprites

#42151 [GOONETICS] Chromosomes
  code/__DEFINES/DNA.dm
  code/__HELPERS/dna.dm
  code/datums/dna.dm
  code/datums/mutations.dm
  code/datums/mutations/_combined.dm
  code/datums/mutations/actions.dm
  code/datums/mutations/body.dm
  code/datums/mutations/radioactive.dm
  code/game/machinery/computer/dna_console.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/objects/items/chromosome.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/dna_injector.dm
  code/modules/mob/transform_procs.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  icons/obj/chromosomes.dmi
  tgstation.dme
Labels: Sprites

#42551 [READY]New Side Antagonist: Space Dragon
  code/datums/action.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/events/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  icons/mob/spacedragon.dmi
  tgstation.dme
Labels: Feature, Needs Review, Sprites

#42353 [Ready] Megafauna VR Training Simulator
  _maps/RandomZLevels/VR/mining_VR.dmm
  code/game/objects/effects/portals.dm
  code/game/objects/structures/spawner.dm
  code/modules/awaymissions/mission_code/mining.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  config/awaymissionconfig.txt
  icons/mob/nest.dmi
  tgstation.dme
Labels: Code Improvement, Config Update, Feature, Fix, Map Edit, Needs Review, Refactor, Sprites, Tweak

#42736 Fix modular processor runtime
  code/modules/modular_computers/computers/item/processor.dm
Labels: Fix

#42443 [Ready] [Could Use Sprites] add Antenna and Mind Reader powers, paranoia disability to genetics
  code/__DEFINES/DNA.dm
  code/datums/mutations/_combined.dm
  code/datums/mutations/antenna.dm
  code/datums/mutations/body.dm
  code/datums/mutations/radioactive.dm
  code/game/objects/items/dna_injector.dm
  icons/effects/genetics.dmi
  icons/mob/actions/actions_spells.dmi
  tgstation.dme
Labels: Feature, Needs Review, Sprites

#42700 Adds a max length config option for AI law upload boards.
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/items/AI_modules.dm
  config/game_options.txt
Labels: Config Update, Tweak

#42731 Takes headslugs out of the gold extract spawn pool
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Removal

#42745 Tissue hydration tweaks
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Fix, Tweak

#42674 pacifist antags retain pacifism
  code/datums/traits/negative.dm
Labels: Tweak

#42720 light replacer tweaks
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/storage/belt.dm
  code/modules/research/designs/power_designs.dm
Labels: Tweak

#42607 Assimilation 2.0: Not quite a big enough PR to be worthy of the 2.0 title but almost
  code/__DEFINES/antagonists.dm
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits.dm
  code/datums/hud.dm
  code/datums/status_effects/neutral.dm
  code/game/gamemodes/hivemind/hivemind.dm
  code/game/gamemodes/hivemind/objectives.dm
  code/game/objects/items/implants/implant_mindshield.dm
  code/modules/antagonists/hivemind/hivemind.dm
  code/modules/antagonists/hivemind/vessel.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/say.dm
  code/modules/spells/spell_types/hivemind.dm
  icons/effects/hivemind.dmi
  icons/mob/actions/actions_hive.dmi
  icons/mob/hud.dmi
  interface/stylesheet.dm
  sound/effects/license.txt
  sound/effects/one_mind.ogg
  tgstation.dme
Labels: Balance/Rebalance, Code Improvement, Feature, Sound, Sprites, Tweak

#42730 Makes the Meteor Shuttle way more expensive
  code/datums/shuttles.dm
Labels: Balance/Rebalance, Feature

#42747 fixes layer 3 injectors and replaces a scrubber with a air pump on sy…
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
Labels: Fix, Map Edit, Tweak

#42715 Holograms will no longer become sentient animals via the Random Human-level Intelligence event
  code/modules/events/sentience.dm
Labels: Fix

#42751 Fixes syndicate borg L6 icon
  code/game/objects/items/chrono_eraser.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/guns/magic/wand.dm
  icons/obj/guns/projectile.dmi
Labels: Fix, Sprites

#42766 Fixes only mimes being able to scream
  code/modules/mob/living/carbon/human/emote.dm
Labels: Fix

#42764 Halves volume of bluespace beakers
  code/modules/reagents/reagent_containers/glass.dm
Labels: Balance/Rebalance

#42758 Adds scrunglartiy as a roundend sound
  code/controllers/subsystem/ticker.dm
  sound/roundend/scrunglartiy.ogg
Labels: Feature, Sound

#42614 [RED LABEL][TESTED][SINGLE][READY][2][MINGLE] Adds an Supplypod Launch Bay specifically for ERTs or Deathsquads
  _maps/map_files/generic/CentCom.dmm
  code/game/area/areas/centcom.dm
  code/game/objects/structures/signs/signs_departments.dm
  code/modules/cargo/centcom_podlauncher.dm
  icons/obj/decals.dmi
  tgui/assets/tgui.js
  tgui/src/interfaces/centcom_podlauncher.ract
Labels: Administration, Map Edit, Needs Review, RED LABEL, Sprites, UI

#42756 Fixes bad default ethereal preference color
  code/modules/client/preferences_savefile.dm
Labels: Fix

#42713 spawn_and_random_walk proc now returns a list of objects created
  code/__HELPERS/mobs.dm
Labels: Code Improvement

#42782 [s] A couple of returns
  code/modules/research/nanites/nanite_programs.dm
Labels: Fix

#42763 Makes Syndiecash be restricted
  code/modules/uplink/uplink_items.dm
Labels: Fix

#42769 Assimilation runtime & bug fixes
  code/game/gamemodes/hivemind/hivemind.dm
  code/game/machinery/cloning.dm
  code/modules/antagonists/hivemind/hivemind.dm
  code/modules/antagonists/hivemind/vessel.dm
  code/modules/spells/spell_types/hivemind.dm
Labels: Fix

#42812 unblasts ass-imilation remove hivemember sanity check
  code/game/gamemodes/hivemind/hivemind.dm
Labels: Fix

#42798 Fixes missing mutation arguments
  code/datums/mutations/antenna.dm
  code/datums/mutations/radioactive.dm
  code/datums/mutations/sight.dm
  code/datums/mutations/space_adaptation.dm
  code/datums/mutations/telekinesis.dm
Labels: Fix

#42795 Blood drunk eye fix
  code/datums/status_effects/buffs.dm
Labels: Fix

#42792 Rebalances bluespace beakers
  code/game/objects/items/grenades/chem_grenade.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/research/designs/medical_designs.dm
Labels: Balance/Rebalance, Fix

#42785 Deaf disease fix
  code/datums/diseases/advance/symptoms/deafness.dm
Labels: Fix

#42777 Fixes vape sprites
  icons/mob/mask.dmi
Labels: Fix, Sprites

#42775 Replaces the One Mind sprite
  icons/effects/hivemind.dmi
Labels: Sprites

#42820 fixes printing saved mutations
  code/game/machinery/computer/dna_console.dm
Labels: Fix, PRB: No Update

#42815 Disembowelment now only works if you are dead/in critical
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: Balance/Rebalance

#42808 fixes erroneous typecast
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Code Improvement

#42822 Fixes rogue linebreak in atmos canister warning messages
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Fix, Logging

#42825 Fixes neet quirk runtime
  code/datums/traits/good.dm
Labels: Fix

#42835 Adds cancel button to ahelp and asay popups
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminsay.dm
Labels: Administration

#42826 Fixes incorrect area in chapel maint on Box
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Fix, Map Edit

#42819 Changes Soviet Golems to use the correct anthem
  sound/misc/Russian_Anthem_chorus.ogg
Labels: Fix, Sound

#42807 Adds emitter open panel sprites
  icons/obj/singularity.dmi
Labels: Fix, Sprites

#42721 Makes riot shields ignore beam projectiles and eventually get destroyed after absorbing too much damage
  code/game/objects/items/shields.dm
  code/modules/assembly/flash.dm
  code/modules/crafting/recipes.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Balance/Rebalance

#42781 Makes the emergency internals crate contain breath masks instead of gas masks
  code/modules/cargo/packs.dm
Labels: Tweak

#42844 Fixes junkie quirk
  code/datums/traits/negative.dm
Labels: Fix

#42789 tesla coil zapping no longer blows up everything
  code/modules/power/tesla/coil.dm
Labels: Fix

#42846 Love and Peace Potions No Longer Work on Megafauna
  code/modules/research/xenobiology/crossbreeding/_potions.dm
Labels: Balance/Rebalance, Good First PR

#42856 Fixes goonchat cookies not saving properly.
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: Fix

#42735 Fixes defib mount and portable turret runtimes
  code/game/machinery/defibrillator_mount.dm
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Fix

#42848 Fixed an empty head's former organs being deleted upon head deletion
  code/modules/surgery/bodyparts/head.dm
Labels: Fix

#42845 Fixes husked humans keeping hair
  code/modules/mob/living/status_procs.dm
Labels: Fix

#42862 Fix some incorrect list/ type annotations
  code/game/gamemodes/game_mode.dm
  code/modules/admin/verbs/diagnostics.dm
Labels: Code Improvement

#42772 Valentines antagonists will no longer stop mulligan
  code/game/gamemodes/game_mode.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/valentines/valentine.dm
Labels: Fix

#42858 removes double paraplegic quirk
  code/datums/traits/negative.dm
Labels: Code Improvement

#42803 The pneumatic cannon now takes 50 instead of 300 ticks to craft
  code/modules/crafting/recipes.dm
Labels: Tweak

#42836 Lets ghosts/observers view photos from far away
  code/modules/photography/photos/photo.dm
Labels: Tweak

#42851 Fix wacky indentation in DNA console
  code/game/machinery/computer/dna_console.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Code Improvement

#42833 Fixes AI PDA names.
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#42867 Prevents soviet and capitalist golems from being eligible in random golem choices
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Tweak

#42774 Slot Machines Now Accept Holocredits via Multitool
  code/game/machinery/slotmachine.dm
Labels: Feature, Needs Review, Refactor

#42869 Fix some variables with 'list' in the wrong place
  code/datums/components/mood.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Code Improvement

#42886 Remove parent calls from procs with no parent
  code/game/machinery/computer/telecrystalconsoles.dm
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Code Improvement

#42870 Move GLOBAL_PROTECT statements after their globals
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/mapping.dm
Labels: Code Improvement

#42877 clothes burning only spam You of Your clothes
  code/modules/clothing/clothing.dm
Labels: Fix

#42872 Fixes monkey stealing items with hands full.
  code/modules/mob/living/carbon/monkey/combat.dm
Labels: Fix

#42887 Fixes the Russian Revolver dual wield exploit
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Fix

#42866 Fix welding goggles being unremovable while pushed aside
  code/modules/clothing/glasses/_glasses.dm
Labels: Fix

#42837 Makes unloading ballistic weapons better (Namely revolvers)
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix

#42773 [RED LABEL] Allows badmins to launch shit in from orbit without it looking like its in a pod [activates standing tall for tatorfall]
  code/__DEFINES/cargo.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/supplypod.dm
  tgui/assets/tgui.js
  tgui/src/interfaces/centcom_podlauncher.ract
Labels: Administration, RED LABEL, UI

#42788 Fixes crawling sounds from being played from buckled mobs
  code/datums/components/footstep.dm
Labels: Fix

#42783 Fixes some minor speech replacement stuff
  code/datums/mutations/speech.dm
Labels: Grammar and Formatting

#42861 Bans now only default to banning ip if a permaban.
  code/modules/admin/sql_ban_system.dm
Labels: Administration, Feature

#42863 adds shortcuts to some pipes
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
Labels: Feature

#42854 Standardises hierophant cardinal damage
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#42853 Fixes the RPG, renames it and adds some fluff text
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/caseless/_caseless.dm
  code/modules/projectiles/ammunition/caseless/rocket.dm
  code/modules/projectiles/boxes_magazines/internal/grenade.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/guns/projectile.dmi
Labels: Fix, Grammar and Formatting, Sprites

#42791 Ends the Great Clown Shoes Debate of 2019
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/clothing/shoes/miscellaneous.dm
Labels: Fix, Tweak

#42809 Pumps, scrubbers, and canisters destroyed by explosions now release their contents.
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Fix

#42859 [READY][TESTED]Plasmeme Gulag
  code/game/machinery/gulag_teleporter.dm
Labels: Fix, Needs Review

#42890 Fixes drunkenness never reaching zero
  code/modules/mob/living/carbon/life.dm
Labels: Fix

#42849 Bank cards can now talk again.
  code/__DEFINES/preferences.dm
  code/__HELPERS/game.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/economy/account.dm
Labels: Fix

#42917 No more cheating at Capture the Flag
  code/modules/awaymissions/capture_the_flag.dm
Labels: Feature

#42914 Fixes defective clones not losing cloning pod traits
  code/game/machinery/exp_cloner.dm
Labels: Fix

#42891 P.A.C.M.A.N code cleaning
  code/modules/power/port_gen.dm
Labels: Code Improvement

#42900 Update cigs_lighters.dm
  code/game/objects/items/cigs_lighters.dm
Labels: Grammar and Formatting

#42892 Reverts shoe change and readds old shoe sprites
  icons/obj/clothing/shoes.dmi
Labels: Revert, Sprites

#42906 Fixes mass driver timed launch
  code/game/machinery/computer/pod.dm
Labels: Fix

#42898 Fixes jaunting mobs squeeking things.
  code/datums/components/squeak.dm
Labels: Fix
