Repository tgstation/tgstation, pull requests merged in 2020-01, with the labels that each got.

#48481 Disconnect port aft solar control's SMES input from the main power line on MetaStation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#48490 Plumbing-surgery (meta) & Medbay-viro (delta) connection is no longer considered maintenance.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, Removal, Tweak

#48501 offstation vending is free again
  tgui-next/packages/tgui/interfaces/Vending.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#48492 Blood contract targeting no longer works on centcom zlevel
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#48479 Fixes voice of god muting
  code/modules/surgery/organs/vocal_cords.dm
Labels: Fix

#48486 adds the debug omnitool
  code/game/objects/items/debug_items.dm
  code/modules/clothing/outfits/standard.dm
Labels: Administration

#48488 changes hypertool sprite
  icons/obj/device.dmi
Labels: Sprites

#48321 Better species environment handlers, and custom race body temperature
  code/__DEFINES/atmospherics.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/status_procs.dm
Labels: Balance/Rebalance, Feature, Refactor

#48502 adds tooltips to cargo
  tgui-next/packages/tgui/interfaces/Cargo.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#48504 Makes forced_gravity an element
  code/datums/components/forced_gravity.dm
  code/datums/elements/forced_gravity.dm
  code/game/objects/items/grenades/antigravity.dm
  code/modules/fields/gravity.dm
  code/modules/mob/living/simple_animal/guardian/types/gravitokinetic.dm
  tgstation.dme
Labels: Refactor

#48505 Makes waddling an element
  code/datums/components/waddling.dm
  code/datums/elements/waddling.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/simple_animal/friendly/penguin.dm
  code/modules/surgery/organs/ears.dm
  code/modules/vehicles/cars/clowncar.dm
  tgstation.dme
Labels: Refactor

#48519 Revert "Better species environment handlers, and custom race body temperature"
  code/__DEFINES/atmospherics.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/status_procs.dm
Labels: Do Not Merge, FUCK, Revert, Test Merge Candidate

#48397 [READY] Moves Genetics to the Science department and makes Geneticist a science job
  _maps/RandomZLevels/research.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/jobs.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/antagonists/devil/devil_helpers.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/jobs.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/medical.dmi
  icons/mob/clothing/under/rnd.dmi
  icons/mob/hud.dmi
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
  icons/obj/card.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/medical.dmi
  icons/obj/clothing/under/rnd.dmi
  icons/obj/storage.dmi
  icons/obj/vending.dmi
  icons/turf/areas.dmi
  strings/ion_laws.json
  tools/mapmerge2/map_scripts/clothingunderrepath.txt
Labels: Map Edit, Needs Review, Removal, Sprites, Tools, Tweak, UI

#48539 Re-adds the BEPIS to Meta and Delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/objects/items/religion.dm
Labels: Fix, Map Edit

#48520 Fixes check_contents blacklist check
  code/datums/components/crafting/crafting.dm
Labels: Fix

#48355 Slightly tweaks medigel ratios, changes instabitaluri description
  code/modules/reagents/reagent_containers/medigel.dm
  code/modules/reagents/reagent_containers/patch.dm
Labels: Balance/Rebalance, Tweak

#48487 Metastation: Replaces most static maint loot with spawners
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Balance/Rebalance, Map Edit

#48489 Adds maint oddities, small adjustments to loot tables
  code/_globalvars/lists/maintenance_loot.dm
  code/modules/awaymissions/mission_code/Academy.dm
Labels: Feature

#48231 Bumps up Surgery XP gains, Fixes Surgery XP Gains, Fixes Surgery Failure Bug
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/surgery/advanced/bioware/ligament_hook.dm
  code/modules/surgery/advanced/bioware/ligament_reinforcement.dm
  code/modules/surgery/advanced/bioware/muscled_veins.dm
  code/modules/surgery/advanced/bioware/nerve_grounding.dm
  code/modules/surgery/advanced/bioware/nerve_splicing.dm
  code/modules/surgery/advanced/bioware/vein_threading.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/remove_embedded_object.dm
  code/modules/surgery/surgery_step.dm
Labels: Balance/Rebalance, Fix

#48476 tguin more ntos stuff
  code/modules/NTNet/relays.dm
  code/modules/modular_computers/file_system/programs/configurator.dm
  tgui-next/packages/tgui/interfaces/NtnetRelay.js
  tgui-next/packages/tgui/interfaces/NtosConfiguration.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#48337 Adds several more uses for plastics (Trinkets, Trash, Decor, and Killing the Environment)
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/sixpack.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/flora.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/flora/plants.dmi
  icons/obj/storage.dmi
  tgstation.dme
Labels: Feature, Sprites, Tweak

#48474 Uncurses Polycircuit Stack Marginally.
  code/game/objects/items/devices/polycircuit.dm
Labels: Fix

#48500 tguin haunted eight ball
  code/game/objects/items/eightball.dm
  tgui-next/packages/tgui/interfaces/EightBallVote.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, Fix, Tweak, UI

#48470 Ton of small tgui-next uis
  code/game/machinery/Sleeper.dm
  code/game/machinery/computer/prisoner/gulag_teleporter.dm
  code/modules/mob/dead/observer/notificationprefs.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/shuttle/emergency.dm
  tgui-next/README.md
  tgui-next/packages/tgui/components/Dropdown.js
  tgui-next/packages/tgui/interfaces/EmergencyShuttleConsole.js
  tgui-next/packages/tgui/interfaces/GulagTeleporterConsole.js
  tgui-next/packages/tgui/interfaces/Intellicard.js
  tgui-next/packages/tgui/interfaces/Mule.js
  tgui-next/packages/tgui/interfaces/NotificationPreferences.js
  tgui-next/packages/tgui/interfaces/NtosConfiguration.js
  tgui-next/packages/tgui/interfaces/Sleeper.js
  tgui-next/packages/tgui/interfaces/SlimeBodySwapper.js
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
  tgui-next/packages/tgui/styles/components/Dropdown.scss
Labels: Feature, UI

#48453 Contractor Uplink tgui-next overhaul
  code/__DEFINES/misc.dm
  code/__HELPERS/_string_lists.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/modular_computers/file_system/programs/antagonist/contract_uplink.dm
  strings/wanted_message.json
  tgui-next/packages/tgui/components/Box.js
  tgui-next/packages/tgui/interfaces/SyndContractor.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#48528 Fixes not being able to change the ID on Public Nanite Chamber circuitboards
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Fix

#48531 Fixes Structures and Coin Press UIs being usable by ghosts
  code/game/objects/structures.dm
  code/modules/mining/mint.dm
Labels: Fix

#48536 tgui-next launchpad
  code/game/machinery/computer/launchpad_control.dm
  code/game/machinery/launch_pad.dm
  tgui-next/README.md
  tgui-next/packages/tgui/components/Button.js
  tgui-next/packages/tgui/components/NumberInput.js
  tgui-next/packages/tgui/interfaces/Launchpad.js
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
  tgui-next/packages/tgui/styles/themes/syndicate.scss
Labels: Feature, UI

#48529 Only allow one call to IsBanned to process at a time, per ckey
  code/modules/admin/IsBanned.dm
Labels: Performance

#48524 Add a spam limiter to the goonchat topic calls
  code/modules/goonchat/browserOutput.dm
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: Performance

#48537 Fixes waddling
  code/datums/elements/waddling.dm
Labels: Fix

#48574 Revert "Only allow one call to IsBanned to process at a time, per ckey"
  code/modules/admin/IsBanned.dm
Labels: Revert

#48156 Revert "[ready] Smooth-ish move rising: revengeance"
  code/__DEFINES/components.dm
  code/__DEFINES/movement.dm
  code/datums/components/orbiter.dm
  code/datums/components/riding.dm
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movespeed.dm
  code/modules/research/xenobiology/xenobiology.dm
  tgstation.dme
Labels: Do Not Merge, Needs Review, RED LABEL, Revert

#48506 Border firelocks no longer crush mobs
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
Labels: Tweak

#48538 Megafauna mobs are no longer deaf
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: Fix

#48540 Updating Traumas to the Present Day
  strings/traumas.json
Labels: Tweak

#48522 Adds more trim decal styles
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  icons/turf/decals.dmi
Labels: Sprites

#48466 [READY] Adds Sol Dry (ginger ale) and Moscow Mule
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cola.dm
  icons/obj/drinks.dmi
Labels: Balance/Rebalance, Feature, Sprites

#48549 Adds hedges
  code/game/objects/structures/fluff.dm
  icons/obj/smooth_structures/hedge.dmi
Labels: Feature, Sprites

#48557 Fixes wand recharge
  code/modules/projectiles/guns/magic.dm
Labels: Fix

#48556 Caltrop / glass / lightbulb crossing fixes
  code/datums/components/caltrop.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/lighting.dm
Labels: Fix

#48559 Makes the nuke console update when you click arm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Fix

#48120 [READY] Black Market - The Basics
  code/__DEFINES/blackmarket.dm
  code/controllers/subsystem/blackmarket.dm
  code/modules/cargo/blackmarket/blackmarket_item.dm
  code/modules/cargo/blackmarket/blackmarket_items/clothing.dm
  code/modules/cargo/blackmarket/blackmarket_items/consumables.dm
  code/modules/cargo/blackmarket/blackmarket_items/misc.dm
  code/modules/cargo/blackmarket/blackmarket_items/tools.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/blackmarket/blackmarket_market.dm
  code/modules/cargo/blackmarket/blackmarket_telepad.dm
  code/modules/cargo/blackmarket/blackmarket_uplink.dm
  code/modules/cargo/packs.dm
  code/modules/reagents/reagent_containers/bottle.dm
  icons/obj/blackmarket.dmi
  tgstation.dme
  tgui-next/packages/tgui/interfaces/BlackmarketUplink.js
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
  tgui-next/packages/tgui/styles/themes/hackerman.scss
  tgui-next/packages/tgui/webpack.config.js
Labels: Feature, Needs Review, Sprites, UI

#48594 Some changes suggested by lummox
  code/modules/client/message.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/research/rdconsole.dm
Labels: Priority: High

#48563 Various runtime fixes.
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/structures/grille.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#48541 No up/downgrading riot shield subtypes to strobe shields
  code/datums/components/crafting/recipes.dm
Labels: Fix

#48576 Fixes sinks dirs with shuttle rotation
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_asteroid.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_donut.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_donut.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/templates/hilbertshotel.dmm
  _maps/templates/hilbertshotellore.dmm
  _maps/templates/shelter_3.dmm
  icons/obj/watercloset.dmi
Labels: Fix, Map Edit, Sprites

#48326 Wayfinding pinpointers for Kilo, Donut, Delta, Box and Meta
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/traits/neutral.dm
  code/game/machinery/navbeacon.dm
  code/game/objects/items/wayfinding.dm
  tgstation.dme
Labels: Config Update, Feature, Map Edit, Sprites, UI

#48564 Fix nanite damage sensor and rule
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/research/nanites/rules.dm
Labels: Fix

#48521 Donutstation Tweaks
  _maps/map_files/Donutstation/Donutstation.dmm
  code/game/objects/structures/signs/signs_departments.dm
  icons/obj/decals.dmi
Labels: Feature, Fix, Map Edit, Removal, Sprites, Tweak

#48578 Removes one of the Air Alarms from the Armory
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Tweak

#48482 Removes free roundstart RCDs, adds foam grenades to EVA
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/items/RCD.dm
  code/modules/vending/engivend.dm
  config/maps.txt
Labels: Balance/Rebalance, Config Update, Map Edit, Tweak

#48570 Fixes floodlights
  code/__DEFINES/construction.dm
  code/modules/power/floodlight.dm
Labels: Fix

#48584 Fixes a bug that allowed the multiplication of materials.
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/mining/ores_coins.dm
  code/modules/plumbing/ducts.dm
Labels: Fix

#48572 Refactors skill modifiers to use dictionaries
  code/__DEFINES/skills.dm
  code/datums/mind.dm
  code/datums/skills/_skill.dm
  code/datums/skills/medical.dm
  code/datums/skills/mining.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/surgery/surgery_step.dm
Labels: Code Improvement, Refactor

#48617 Fixes kilo
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

#48610 Fixes pinpointer runtimes
  code/game/objects/items/wayfinding.dm
Labels: Fix

#48543 Fixes shadowshrooms
  code/modules/hydroponics/plant_genes.dm
Labels: Fix

#48625 Removes bot path stray pixel
  icons/mob/aibots.dmi
Labels: Fix, Sprites

#48624 Fixes emergency shuttle console having the wrong act on the repeal button
  tgui-next/packages/tgui/interfaces/EmergencyShuttleConsole.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#48618 Various ruin mapping fixes
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
Labels: Fix, Map Edit

#48619 Metastation mapping fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#48620 Kilo Station mapping fixes
  _maps/map_files/KiloStation/KiloStation.dmm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
Labels: Balance/Rebalance, Fix, Map Edit

#48623 Donutstation map fixes
  _maps/map_files/Donutstation/Donutstation.dmm
Labels: Map Edit

#48632 Ghost rolls failing to spawn due to too few signups report to deadchat
  code/modules/events/ghost_role.dm
Labels: Feature

#48304 Unicode support Part 1
  Dockerfile
  code/__HELPERS/sanitize_values.dm
  code/__HELPERS/text.dm
  code/__HELPERS/type2type.dm
  code/__HELPERS/unsorted.dm
  code/_compile_options.dm
  code/datums/brain_damage/mild.dm
  code/datums/wires/_wires.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/admin/check_antagonists.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/shuttle/shuttle.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: Code Improvement

#48567 Adds some missing reagents to the service borg shaker
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Feature, Fix

#48588 Fixes cyborg messaging on surgery cancel
  code/modules/surgery/surgery_helpers.dm
Labels: Fix

#48558 Mice will now eat cheese slices, resulting in a mouse problem.
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/mobs.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  config/game_options.txt
Labels: Config Update, Feature

#48590 MMI brain fixes
  code/game/mecha/mecha.dm
  code/game/mecha/medical/odysseus.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/structures/ai_core.dm
  code/modules/mob/living/brain/MMI.dm
Labels: Fix

#48532 Changes Numerous Speed Substances and Items
  code/game/objects/items/tanks/jetpack.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/surgery/organs/augments_chest.dm
Labels: Balance/Rebalance

#48621 DeltaStation mapping fixes.
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#48622 PubbyStation mapping fixes.
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#48597 Clicking a sign examinates it.
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/signs/signs_warning.dm
Labels: Tweak

#48611 Headrev HUD fix
  code/modules/antagonists/revolution/revolution.dm
Labels: Fix

#48602 Map rotation touchup, automatic map votes
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/persistence.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/modules/admin/verbs/maprotation.dm
  code/modules/shuttle/emergency.dm
Labels: Tweak

#48628 Fixes admin disease naming, basic disease trigger
  code/datums/diseases/advance/advance.dm
  code/modules/admin/secrets.dm
  code/modules/events/disease_outbreak.dm
Labels: Administration

#48627 Adds agent card logging
  code/game/objects/items/cards_ids.dm
Labels: Logging

#48586 Fixes integrity issues related to datum mats
  code/__DEFINES/materials.dm
  code/datums/materials/_material.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mining/ores_coins.dm
Labels: Fix

#48645 Adds air tank to seed vault ruin, replaces active turfs
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
Labels: Fix, Map Edit, Tweak

#48651 Local bartender exterminates rare endangered albino grasshopper. Typo fix.
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Fix

#48648 Adds missing traits to the badmin trait panel.
  code/_globalvars/traits.dm
Labels: Administration, Fix

#48647 Fixes tesla immunity being lost if you have reactive armor and refund the lighting bolt spell / vice versa
  code/__DEFINES/flags.dm
  code/__DEFINES/traits.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/traits.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/mob/living/living_defense.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Fix

#48517 Changes the sprite of the supermatter's electricity arcs
  code/modules/power/supermatter/supermatter.dm
  icons/effects/beam.dmi
Labels: Sprites, Tweak

#48659 Can pass refactor
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/recycler.dm
  code/game/machinery/shieldgen.dm
  code/game/machinery/transformer.dm
  code/game/objects/effects/decals/cleanable/food.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/devices/forcefieldprojector.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/antagonists/swarmer/swarmer.dm
  code/modules/awaymissions/away_props.dm
  code/modules/events/spacevine.dm
  code/modules/fields/turf_objects.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/holiday/halloween.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/mining/minebot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/simple_animal/hostile/jungle/mook.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/curse_blob.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/mob_movement.dm
  code/modules/plumbing/plumbers/grinder_chemical.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/ruins/objects_and_mobs/sin_ruins.dm
  code/modules/shuttle/special.dm
  code/modules/spells/spell_types/forcewall.dm
Labels: Refactor

#48649 pAI Corgi Resting Sprite Clarifies That It Is Resting And Not Standing
  icons/mob/pai.dmi
Labels: Fix, Sprites

#48655 Fixes being able to ride mobs if they are unable to move
  code/datums/components/riding.dm
Labels: Fix

#48681 Adds several missing sprites for clothing items
  code/modules/clothing/head/misc.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/suits/utility.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  tools/mapmerge2/map_scripts/clothingunderrepath.txt
Labels: Fix, Sprites, Tools

#48416 Luxury Shuttle Alternative Version
  _maps/shuttles/emergency_luxury.dmm
  code/game/turfs/closed/_closed.dm
  icons/turf/walls/plastinum_wall.dmi
Labels: Feature, Map Edit, Sprites

#48656 Inhand sprites for whips
  code/game/objects/items/weaponry.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
Labels: Sprites

#48664 Fix nanite damage sensor and rule, take 2 #48564
  code/modules/research/nanites/nanite_programs/sensor.dm
Labels: Fix

#48646 Simple mob alerts
  code/controllers/subsystem/minor_mapping.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Feature, Fix

#48675 Updates license with info for all title songs
  sound/ambience/license.txt
Labels: Sound

#48673 Attempt to get the autobuild action finally working
  .github/workflows/autobuild_tgui.yml
Labels: GitHub

#48672 Basic auto profiler
  code/__DEFINES/profile.dm
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/profiler.dm
  code/game/world.dm
  code/modules/admin/verbs/debug.dm
  config/config.txt
  tgstation.dme
Labels: Config Update, Feature, Needs Review, Performance

#48694 Flying/Floating mobs no longer affected by turf move-speed modifier.
  code/modules/mob/living/living_movement.dm
Labels: Fix

#48693 Upgrade pygit2 dependency to v1.0.1
  tools/mapmerge2/requirements.txt
Labels: Tools

#48686 Mime drinks now check if you are true mime before healing
  code/datums/mind.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Code Improvement, Fix, Tweak

#48691 Makes SM's radiation behave correctly
  code/modules/power/supermatter/supermatter.dm
Labels: Balance/Rebalance, Fix

#48685 You do not lose the storage window on storage pickup.
  code/datums/components/storage/storage.dm
Labels: Tweak

#48678 Updates the Limb Grower
  code/game/machinery/limbgrower.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/surgery/organs/tails.dm
Labels: Feature, Tweak

#48660 Metastation Engineering tweaks and alerts console
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Map Edit, Tweak

#48653 Fixes special airlocks that don't have glass versions reverting to normal airlocks on completion if you added glass to the frame during construction.
  code/game/objects/structures/door_assembly.dm
Labels: Fix

#48658 [Ready]Adds fireworks to contrabrand lootpool(WE SMUGGLIN FIREWORKS BOIS)
  code/modules/cargo/packs.dm
Labels: Needs Review, Tweak

#48615 Valentine status effect fix
  code/datums/status_effects/neutral.dm
  code/game/alternate_appearance.dm
  code/modules/antagonists/valentines/valentine.dm
Labels: Fix

#48633 Just a few dullahans fixes. And no, it doesn't fix headless monkys yet.
  code/__DEFINES/components.dm
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/game.dm
  code/_onclick/click.dm
  code/game/machinery/recycler.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#48637 Fixes traitor codewords highlight and some other hear signal hooks.
  code/datums/brain_damage/hypnosis.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/phobia.dm
  code/datums/brain_damage/split_personality.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix

#48640 Fixes Light Eater not overloading borg lamps.
  code/__DEFINES/robots.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix

#48595 Format Change of Health Analyzers + scanners.dm Cleanup
  code/controllers/subsystem/chat.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
Labels: Feature, Refactor

#48605 RPD icon reorder, less building pixelhunting
  code/game/objects/items/RPD.dm
Labels: Feature, Tweak

#48604 tgui-next: Remote signalers
  code/__HELPERS/radio.dm
  code/modules/assembly/signaler.dm
  tgui-next/packages/tgui/interfaces/Signaler.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#48573 Ethereals now discharge electricity if their charge is too high
  code/__DEFINES/mobs.dm
  code/_onclick/hud/alert.dm
  code/datums/components/mood.dm
  code/datums/mood_events/needs_events.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/surgery/organs/stomach.dm
  icons/mob/screen_alert.dmi
Labels: Feature, Sprites

#48600 Adds a new BEPIS Major Reward, "Australicus Security Protocols"
  code/game/objects/items/stunbaton.dm
  code/modules/projectiles/pins.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/inhands/equipment/security_lefthand.dmi
  icons/mob/inhands/equipment/security_righthand.dmi
  icons/obj/device.dmi
  icons/obj/items_and_weapons.dmi
Labels: Feature, Sprites

#48495 Adds a Hal 9000 themed AI Display
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/ai.dmi
Labels: Sprites

#48472 Makes grounding rods consistent, changes the supermatters bolts a great deal.
  code/__DEFINES/flags.dm
  code/_globalvars/bitfields.dm
  code/datums/diseases/_MobProcs.dm
  code/game/machinery/_machinery.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/grille.dm
  code/modules/antagonists/abductor/equipment/glands/electric.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/lighting.dm
  code/modules/power/rtg.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/power/tesla/generator.dm
  code/modules/projectiles/projectile/energy/tesla.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/spells/spell_types/aimed.dm
  code/modules/vehicles/bicycle.dm
  code/modules/vehicles/ridden.dm
Labels: Balance/Rebalance, Code Improvement, Feature, Grammar and Formatting, Needs Review, Refactor

#48498 Roulette tgui-next overhaul
  code/game/machinery/roulette_machine.dm
  code/modules/client/asset_cache.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  icons/UI_Icons/Roulette/0.png
  icons/UI_Icons/Roulette/1-18.png
  icons/UI_Icons/Roulette/19-36.png
  icons/UI_Icons/Roulette/black.png
  icons/UI_Icons/Roulette/even.png
  icons/UI_Icons/Roulette/nano.png
  icons/UI_Icons/Roulette/odd.png
  icons/UI_Icons/Roulette/red.png
  tgui-next/packages/tgui/interfaces/Roulette.js
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
  tgui-next/packages/tgui/styles/components/Roulette.scss
  tgui-next/packages/tgui/styles/main.scss
  tgui-next/packages/tgui/styles/themes/cardtable.scss
  tgui-next/packages/tgui/webpack.config.js
Labels: Feature, Sprites, UI

#48708 Waypoint Finders now properly pull living playtime
  code/controllers/subsystem/processing/quirks.dm
  code/modules/admin/admin.dm
  code/modules/jobs/job_exp.dm
Labels: Fix

#48702 Fixing a small typo in tactical.dm
  code/datums/components/tactical.dm
Labels: Fix, Good First PR

#48701 tgui rebuild action test
  tgui-next/packages/tgui/styles/main.scss
Labels: PRB: No Update, UI

#48699 [Ready] Adds ERP
  code/datums/ert.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/official/official.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/jobs/access.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/misc.dmi
  icons/mob/hud.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/obj/card.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/misc.dmi
  icons/obj/storage.dmi
Labels: Feature, Needs Review, Sprites

#48732 Fixes all explicit occurrences of rand() being used incorrectly.
  code/datums/components/nanites.dm
  code/game/machinery/cloning.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/power/lighting.dm
Labels: Fix

#48697 Fresh runtimes.
  code/__HELPERS/text.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/mob/living/silicon/ai/vox_sounds.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/power/gravitygenerator.dm
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Fix

#48729 Fixes Borg Emag Law 0
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Fix

#48580 Fixes codex gigas
  tgui-next/packages/tgui/interfaces/CodexGigas.js
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#48734 tgui-next ntos chat
  code/modules/NTNet/network.dm
  code/modules/modular_computers/NTNet/NTNRC/conversation.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  tgui-next/README.md
  tgui-next/packages/tgui/components/Box.js
  tgui-next/packages/tgui/components/Button.js
  tgui-next/packages/tgui/components/Input.js
  tgui-next/packages/tgui/interfaces/NtosNetChat.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#48713 Fixes Genetics access on Box and Pubby
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#48544 New achievements and achievements icons
  code/__DEFINES/achievements.dm
  code/__HELPERS/roundend.dm
  code/datums/achievements/boss_achievements.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/achievements/skill_achievements.dm
  code/game/objects/items/plushes.dm
  code/game/turfs/closed/minerals.dm
  code/modules/client/asset_cache.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  icons/UI_Icons/Achievements/Boss/bbgum.png
  icons/UI_Icons/Achievements/Boss/colossus.png
  icons/UI_Icons/Achievements/Boss/drake.png
  icons/UI_Icons/Achievements/Boss/hierophant.png
  icons/UI_Icons/Achievements/Boss/legion.png
  icons/UI_Icons/Achievements/Boss/miner.png
  icons/UI_Icons/Achievements/Boss/swarmer.png
  icons/UI_Icons/Achievements/Boss/tendril.png
  icons/UI_Icons/Achievements/Misc/clownking.png
  icons/UI_Icons/Achievements/Misc/clownthanks.png
  icons/UI_Icons/Achievements/Misc/featofstrength.png
  icons/UI_Icons/Achievements/Misc/helbital.png
  icons/UI_Icons/Achievements/Misc/jackpot.png
  icons/UI_Icons/Achievements/Misc/longshift.png
  icons/UI_Icons/Achievements/Misc/meteors.png
  icons/UI_Icons/Achievements/Misc/rule8.png
  icons/UI_Icons/Achievements/Misc/timewaste.png
  icons/UI_Icons/Achievements/Misc/upgrade.png
  icons/UI_Icons/Achievements/Skills/mining.png
  icons/UI_Icons/Achievements/baseboss.png
  icons/UI_Icons/Achievements/basemisc.png
  icons/UI_Icons/Achievements/baseskill.png
  icons/UI_Icons/Achievements/default.png
  tgstation.dme
Labels: Sprites

#48638 :b: emoji
  icons/emoji.dmi
Labels: Feature, Sprites

#48716 Fixes santize_hexcolor.
  code/__HELPERS/sanitize_values.dm
  code/modules/client/preferences.dm
Labels: Fix

#48643 Fixes shock paddles being insertable in BoH
  code/__DEFINES/traits.dm
  code/datums/components/storage/storage.dm
  code/game/objects/items/defib.dm
Labels: Fix

#48561 Adds new valentine's text, plus valentine-themed arcade enemies.
  code/game/machinery/computer/arcade.dm
  strings/arcade.json
  strings/valentines.json
Labels: Feature

#48721 Minor space zoo ruin fixes/tweaks
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  code/game/machinery/shieldgen.dm
Labels: Fix, Map Edit, Tweak

#48719 Cleans up medbay
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Balance/Rebalance, Map Edit, Tweak

#48418 [READY] (nerf) Adds proximity crew pinpointer to Paramedics
  code/game/objects/items/devices/sensor_device.dm
  code/game/objects/items/pinpointer.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vending/medical.dm
  icons/obj/device.dmi
Labels: Balance/Rebalance, Feature, Needs Review, Sprites

#48507 Adds a new Tech to the B.E.P.I.S., Specialized Engineering, and a new Minor Reward.
  code/__DEFINES/traits.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/open/lava.dm
  code/modules/clothing/gloves/color.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/paperwork/pen.dm
  code/modules/research/bepis.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/animal.dmi
  icons/obj/bureaucracy.dmi
Labels: Feature, Sprites

#48546 Removes paralysis on meathook, rebalances damage
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Balance/Rebalance

#48583 Don't recheck connected clients in isbanned() (and other isbanned() dos mitigations)
  code/modules/admin/IsBanned.dm
Labels: Stale

#48746 Fixes hierophant barrier and blob structures allowing things through
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: Fix

#48690 Allows calling procs in SDQL update queries without storing the return anywhere.
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Administration

#48550 More ways for ethereals to charge
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
Labels: Balance/Rebalance, Feature

#48749 Fixes straight jackets
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#48251 Added cult major loss if Narsie is destroyed.
  code/__DEFINES/cinematics.dm
  code/datums/cinematic.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/power/singularity/narsie.dm
Labels: Feature

#48715 Reduces heart decay, ear damage slightly less bad
  code/game/data_huds.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/heart.dm
Labels: Balance/Rebalance

#48726 Makes rezadone cure husking. (alt to #48717)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance

#48774 colossus now enrages on sandstone golems
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Balance/Rebalance

#48744 SEVERAL mask sprite fixes
  icons/mob/clothing/mask.dmi
Labels: Fix, Sprites

#48592 RCD & RPD resprite
  code/game/objects/items/RPD.dm
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  icons/obj/tools.dmi
Labels: Sprites

#48789 Fix pinpointer icons
  code/game/objects/items/pinpointer.dm
Labels: Fix

#48816 Re-adds Paramedic spawn landmarks to Boxstation
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: FUCK, Fix, Map Edit

#48754 fixes SM arcs using the old icon.
  code/modules/power/supermatter/supermatter.dm
Labels: Fix
