Repository tgstation/tgstation, pull requests merged in 2020-02, with the labels that each got.

#48779 you can only slice aggressive grabs or higher now
  code/datums/components/butchering.dm
Labels: Stale, Tweak

#48882 [Ready][Ready]Adds the Nanite Replication Protocols node to BEPIS
  code/__DEFINES/nanites.dm
  code/datums/components/nanites.dm
  code/modules/research/designs/nanite_designs.dm
  code/modules/research/nanites/nanite_program_hub.dm
  code/modules/research/nanites/nanite_programs.dm
  code/modules/research/nanites/nanite_programs/protocols.dm
  code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: Feature

#48919 Pubby wayfinding beacons
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/items/wayfinding.dm
Labels: Map Edit, Stale, Tweak

#48971 Fixes not being able to unwrench drawers
  code/modules/paperwork/filingcabinet.dm
Labels: Fix, Stale

#48891 Cyborg spin throwing now depends on intent
  code/controllers/subsystem/throwing.dm
  code/datums/components/riding.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/objects/items.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/stunbaton.dm
  code/game/objects/objs.dm
  code/modules/assembly/infrared.dm
  code/modules/awaymissions/gateway.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/power/gravitygenerator.dm
Labels: Balance/Rebalance, Stale, Tweak

#49102 Fixes biohazard locker types
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#49097 Adds some rudimentary hypodermic prickles logging.
  code/modules/hydroponics/plant_genes.dm
Labels: Administration

#49084 B.E.P.I.S. balance. Techs cost a bit less, and cleans up minor rewards.
  code/modules/research/bepis.dm
Labels: Balance/Rebalance, Code Improvement

#48975 speeds up get_hearers_in_view/getallcontents just a little bit
  code/__HELPERS/game.dm
  code/__HELPERS/unsorted.dm
Labels: Performance, Stale

#48938 tgui-next ntos card console
  code/datums/datacore.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/antagonist/contract_uplink.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/antagonist/revelation.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  tgstation.dme
  tgui-next/README.md
  tgui-next/packages/tgui/components/Tabs.js
  tgui-next/packages/tgui/interfaces/AirlockElectronics.js
  tgui-next/packages/tgui/interfaces/KitchenSink.js
  tgui-next/packages/tgui/interfaces/NtosCard.js
  tgui-next/packages/tgui/interfaces/NtosCrewManifest.js
  tgui-next/packages/tgui/interfaces/NtosJobManager.js
  tgui-next/packages/tgui/interfaces/NtosMain.js
  tgui-next/packages/tgui/interfaces/common/AccessList.js
  tgui-next/packages/tgui/public/tgui.bundle.css
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
  tgui-next/packages/tgui/styles/components/Button.scss
Labels: Feature, Tweak, UI

#49088 fixes certain item reactions breaking plumbing
  code/datums/components/plumbing/reaction_chamber.dm
Labels: Fix

#49115 Fixes pda manifest
  code/game/objects/items/devices/PDA/cart.dm
Labels: Fix

#49095 Another runtime fix pr
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/air.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/mob/living/say.dm
Labels: Fix

#49066 Makes raw HTML and browser datum popups UTF-8 aware
  code/datums/browser.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/mech_fabricator.dm
  code/game/mecha/mecha_control_console.dm
  code/game/mecha/mecha_topic.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/manuals.dm
  code/game/objects/items/storage/book.dm
  code/game/objects/structures/safe.dm
  code/modules/admin/admin.dm
  code/modules/admin/check_antagonists.dm
  code/modules/admin/outfits.dm
  code/modules/admin/permissionedit.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/beakerpanel.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/new_player/poll.dm
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/photography/photos/photo.dm
Labels: Administration, Code Improvement

#49105 removes empty background sprite, adds a background sprite for FUGU FUGU FUGU
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
  icons/mob/actions/backgrounds.dmi
Labels: Removal, Sprites

#49107 Fixes typo in sleeping_carp.dm
  code/datums/martial/sleeping_carp.dm
Labels: Fix

#49108 Manual changelog for 45914
  html/changelogs/cacogen-pr-49108.yml
Labels: Fix

#48819 [Ready] Prisoner role
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/jobs.dm
  code/datums/traits/negative.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/gamemodes/brother/traitor_bro.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/changeling/traitor_chan.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/devil/devil_game_mode.dm
  code/game/gamemodes/monkey/monkey.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  config/jobs.txt
  icons/mob/clothing/head.dmi
  icons/mob/clothing/under/plasmaman.dmi
  icons/mob/landmarks.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/under/plasmaman.dmi
  tgstation.dme
Labels: Config Update, Feature, Map Edit, Needs Review, Sprites

#48805 Allows defib units to be used as medical borg upgrades, adds message to borgs when they recieve an upgrade, re-organizes borg attackby().
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Balance/Rebalance, Grammar and Formatting

#49135 Aliens can attack already open airlocks
  code/game/machinery/doors/airlock.dm
Labels: Fix

#49116 Adds basic sanity to keybindings.
  code/datums/keybinding/_keybindings.dm
  code/datums/keybinding/admin.dm
  code/datums/keybinding/carbon.dm
  code/datums/keybinding/human.dm
  code/datums/keybinding/living.dm
  code/datums/keybinding/robot.dm
  code/modules/keybindings/bindings_client.dm
Labels: Fix

#49096 Client Del fix.
  code/modules/client/client_procs.dm
Labels: Fix

#49140 Slight adrenals buffs
  code/game/objects/items/implants/implant_misc.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance

#49126 Cleans up beaker swapping
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Fix

#49178 Revert "Lawyer's department backpack is a briefcase"
  code/__DEFINES/inventory.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: Priority: High, Revert

#49106 Removes the bitflag helpers
  code/__DEFINES/flags.dm
  code/__HELPERS/mobs.dm
  code/datums/components/footstep.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
  code/modules/projectiles/projectile/special/curse.dm
  code/modules/shuttle/emergency.dm
Labels: Removal

#49177 Removes prisoners from latejoin
  code/modules/jobs/job_types/prisoner.dm
Labels: Fix, Test Merge Bug

#49087 Improves cyberimplant medHUD and health analyzer readout
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Grammar and Formatting

#49092 Blood dripping scales with bleeding rate
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/mob/living/blood.dm
Labels: Fix, Tweak

#49123 Fixes foamy beer stationwide event.
  code/modules/events/vent_clog.dm
Labels: Fix

#48596 Edible component; be gone vile organ code
  code/__DEFINES/components.dm
  code/__DEFINES/food.dm
  code/__DEFINES/obj_flags.dm
  code/_onclick/other_mobs.dm
  code/datums/components/edible.dm
  code/game/objects/items.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/food_and_drinks/food.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/alien/organs.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/appendix.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/tongue.dm
  tgstation.dme
Labels: Code Improvement

#49122 Adds 3 new toys to the prize pool not removing all of science edition.
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/toys.dm
  code/modules/clothing/glasses/_glasses.dm
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/toy.dmi
  sound/items/radiostatic.ogg
Labels: Feature, Sound, Sprites

#49104 bigger mobs have some special health bars
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/pandora.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
  icons/mob/screen_gen.dmi
Labels: Sprites

#49130 Pull icon location fix for simple mobs
  code/_onclick/hud/_defines.dm
Labels: Fix

#49129 emitter cleanup and fixes
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/obj_defense.dm
  code/modules/awaymissions/mission_code/challenge.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/emitter.dm
Labels: Code Improvement, Feedback, Fix, Map Edit

#49133 Attacking the SM with an item that's stuck to you will now dust the user
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#49136 Aliens can now open blastdoors.
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#49138 Shows defib icon on corpses with soul
  code/game/data_huds.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Tweak

#49139 Fixes spellbooks becoming unreadable if the mob moves
  code/game/objects/items/granters.dm
Labels: Fix

#49144 Polymorph and robos work better
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Fix

#49146 Swaps the cyborg limbs
  icons/mob/augmentation/augments.dmi
Labels: Fix, Sprites

#49150 xeno names keep consistent numbers through evolution
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Labels: Tweak

#49004 Skips nulls and deleted in say
  code/modules/mob/living/say.dm
Labels: Fix, Verified :heavy_check_mark:

#49176 Few more runtime fixes.
  code/game/machinery/dance_machine.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/effects/wanted_poster.dm
  code/modules/mob/living/say.dm
Labels: Fix

#49180 Wood Floors no longer runtime on examine.
  code/game/turfs/open/floor/fancy_floor.dm
Labels: Fix, PRB: No Update

#49190 Moves a light to not be directly attached to an airlock
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Tweak

#49173 Makes the global materials lookup lazily initialized
  code/__DEFINES/materials.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/materials.dm
  code/datums/components/material_container.dm
  code/game/atoms.dm
  code/game/machinery/autolathe.dm
  code/game/objects/items/apc_frame.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/antagonists/swarmer/swarmer.dm
  code/modules/cargo/exports/materials.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/mint.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/hostile/goose.dm
  code/modules/research/designs.dm
Labels: Refactor

#49048 Fixes constructed display cases starting with an alarm system
  code/game/objects/structures/displaycase.dm
Labels: Tweak

#49124 Defib tod cleanup
  code/__DEFINES/misc.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/mob/living/death.dm
Labels: Code Improvement

#49090 Some more cloning prep stuff
  code/game/objects/items/defib.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/brain/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Balance/Rebalance, Fix, Grammar and Formatting, Tweak

#49014 Lung damage makes you cough
  code/modules/surgery/organs/lungs.dm
Labels: Tweak

#49184 Removes "Special Verbs" category & reorganises admin buttons categories
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/mapping.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/adminmenu.dm
  code/modules/admin/create_poll.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/beakerpanel.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/fix_air.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/reestablish_db_connection.dm
  code/modules/admin/verbs/shuttlepanel.dm
  code/modules/admin/verbs/tripAI.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/verbs/ooc.dm
  code/modules/discord/accountlink.dm
  code/modules/discord/toggle_notify.dm
Labels: Administration, Removal, Verified :heavy_check_mark:

#49182 Fixes dynamic revs runtime
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Fix

#49216 Revert some admin button moves
  code/modules/admin/admin.dm
Labels: Administration, Revert

#48654 [READY]Adds a new minor reward to the BEPIS, Party Pods.
  code/game/machinery/Sleeper.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/bepis.dm
  icons/obj/machines/sleeper.dmi
  tgui-next/packages/tgui/interfaces/Sleeper.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Feature, Needs Review, Sprites, UI

#48766 Makes abductor baton child of stun baton
  _maps/shuttles/emergency_zeta.dmm
  code/controllers/subsystem/traumas.dm
  code/game/objects/items/stunbaton.dm
  code/game/objects/items/teleprod.dm
  code/game/objects/structures/watercloset.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/abductor/equipment/abduction_outfits.dm
  code/modules/antagonists/abductor/machinery/console.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Map Edit, Refactor

#48995 [READY]Da ice cream update 2: On a stick. Adds 5 new ice creams.
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  icons/obj/food/food.dmi
  icons/obj/food/frozen_treats.dmi
  icons/obj/food/snowcones.dmi
Labels: Feature, Needs Review, Sprites

#49192 Adds the dunkable element
  code/__DEFINES/reagents.dm
  code/datums/elements/dunkable.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/reagents/reagent_containers/glass.dm
  tgstation.dme
Labels: Code Improvement

#48991 tgui-next: Mining Vendor
  code/modules/mining/machine_vending.dm
  icons/obj/lighting.dmi
  tgui-next/packages/tgui/interfaces/MiningVendor.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, Sprites, UI

#49003 [READY] Adds rideable Goliaths
  code/datums/components/crafting/recipes.dm
  code/datums/components/riding.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/storage/belt.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/vehicles/lavaboat.dm
  code/modules/vehicles/vehicle_key.dm
  icons/obj/items_and_weapons.dmi
  icons/obj/vehicles.dmi
Labels: Feature, Needs Review, Sprites, Stale

#49154 Nanites shock protection fix.
  code/__DEFINES/traits.dm
  code/datums/components/nanites.dm
Labels: Fix

#49224 Fixes an issue where you could unregister someone else's signal
  code/datums/components/_component.dm
Labels: Fix

#49082 Strange Reagent Rebalance (Mainly Nerfs to Min Req and Free Healing)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance/Rebalance

#49228 Adds filling color and smoke taste to salami
  code/modules/food_and_drinks/food/snacks_meat.dm
Labels: Fix, Tweak

#49241 Grammar fixes
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Grammar and Formatting

#49236 Fixes typo in mind.dm
  code/datums/mind.dm
Labels: Grammar and Formatting

#49240 Pacifist can use wand of nothing
  code/modules/projectiles/ammunition/special/magic.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/spells/spell_types/rightandwrong.dm
Labels: Fix

#49210 A Selection of Minor Map Fixes
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#49214 Fix BADDNA brains not transferring minds
  code/modules/mob/living/brain/brain_item.dm
Labels: Fix

#49220 Fixes AI's carp hologram.
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#49218 Fixes external armory camera on Meta.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#49223 adds sol dry crushed can sprite
  code/modules/food_and_drinks/drinks/drinks.dm
  icons/obj/drinks.dmi
  icons/obj/janitor.dmi
Labels: Fix, Sprites

#49194 Set MultiZ debug baseturfs
  _maps/multiz_debug.json
Labels: Fix, Map Edit

#49204 skateboard now buckles you automatically when you activate it in hand
  code/game/objects/items/weaponry.dm
Labels: Tweak

#49188 Defib and Nanite Defib use the same can_defib proc
  code/game/objects/items/defib.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/research/nanites/nanite_programs/healing.dm
Labels: Refactor

#49162 Custom material output on examine cleanup
  code/game/atoms.dm
Labels: Refactor

#49109 Fixes for plastic bottle splashing
  code/modules/food_and_drinks/drinks/drinks.dm
Labels: Fix

#49229 Plasmamen prisoner helmet fix
  code/modules/clothing/spacesuits/plasmamen.dm
  icons/mob/clothing/head.dmi
Labels: Fix, Sprites

#49037 Fix plumbing constructor chemical grinders
  code/modules/plumbing/plumbers/grinder_chemical.dm
Labels: Fix

#49057 Adds missing box sprites and reworks some ammo boxes
  code/game/objects/items/storage/boxes.dm
  icons/obj/guns/toy.dmi
  icons/obj/storage.dmi
Labels: Good First PR, Sprites

#49175 Adds chameleon belt to cham kit
  code/game/objects/items/storage/uplink_kits.dm
Labels: Tweak

#49227 [READY] Updates the stasis room on Delta Station
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit, Needs Review, Tweak

#49165 Hang Loose Bruh! The Beach Biodome Revamp, Reborn
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
Labels: Feature, Map Edit

#49209 Another runtime fixes batch.
  code/datums/components/crafting/crafting.dm
  code/game/machinery/porta_turret/portable_turret_construct.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/antagonists/abductor/equipment/glands/slime.dm
  code/modules/events/spacevine.dm
  code/modules/mob/living/carbon/human/say.dm
Labels: Fix

#49262 fixes xeno numbers being 0 + royal xenos also get numbers
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
Labels: Fix, Tweak

#49256 Fixes improvised shotgun inhand sprites
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Fix

#49265 [READY] Omega soap
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/traits/negative.dm
  code/game/objects/items/clown_items.dm
  code/modules/reagents/chemistry/recipes/others.dm
  icons/obj/items_and_weapons.dmi
Labels: Feature, Needs Review, Sprites

#49302 Some grammar in receiver.dm comment.
  code/game/machinery/telecomms/machines/receiver.dm
Labels: Tweak

#49281 Monkey attack fix.
  code/modules/mob/living/carbon/monkey/combat.dm
Labels: Fix

#49284 Moves duplicate CID/IP logging to log_admin_private()
  code/modules/client/client_procs.dm
Labels: Administration, Logging

#49276 Multiline initial adminhelp
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration

#48920 [READY] Warm hugs for everyone
  code/datums/mood_events/generic_positive_events.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
Labels: Feature

#49010 Bepis design: Table with wheels part 2: electric boogaloo
  code/game/objects/structures/tables_racks.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/smooth_structures/rollingtable.dmi
Labels: Sprites, Stale

#49017 Add citation functionality to the SecHud
  code/controllers/configuration/entries/game_options.dm
  code/game/machinery/computer/security.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  config/game_options.txt
Labels: Config Update, Feature

#49053 MultiZ Deck Relay Tweaks
  code/modules/power/multiz.dm
  icons/obj/power.dmi
Labels: Fix, Sprites, Stale, Tweak

#49297 Removes an unused config (map rotation chance delta )
  code/controllers/configuration/entries/general.dm
  config/config.txt
Labels: Config Update

#49303 Unanchored solar assemblies go off-centre to indicate they need securing. Anchored ones centre themselves
  code/modules/power/solar.dm
Labels: Tweak

#49293 Fixes contractor tablet rep shop buttons.
  tgui-next/packages/tgui/interfaces/SyndContractor.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#49287 Fixes multi-z photography
  code/modules/photography/camera/camera.dm
Labels: Fix

#49289 Atmos tech helmet now covers your face properly.
  code/modules/clothing/head/hardhat.dm
Labels: Fix

#49172 adds medipen refiller machine
  code/game/machinery/medipen_refiller.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/machines/medipen_refiller.dmi
  tgstation.dme
Labels: Feature, Sprites

#49309 Fixes the unstable quirk
  code/datums/components/mood.dm
Labels: Fix

#49193 Living mob HUD cleanup
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/lavaland_elite.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/slime.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  icons/mob/screen_elite.dmi
  icons/mob/screen_slime.dmi
Labels: Sprites, Stale, Tweak

#49257 Salt now dissipates when ran over too much
  code/game/objects/effects/decals/cleanable/food.dm
Labels: Feature

#49054 Swap Meta plumbing with morgue
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Tweak

#49076 tgui-next: Infrared emitter & Proximity Sensor
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  tgui-next/packages/tgui/interfaces/InfraredEmitter.js
  tgui-next/packages/tgui/interfaces/ProximitySensor.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, UI

#49131 Adjusts Dark Gygax Equipment and stats, gives nukies a mech support bag.
  code/game/mecha/combat/gygax.dm
  code/game/objects/items/inducer.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/tools/wrench.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  icons/obj/clothing/belt_overlays.dmi
  icons/obj/tools.dmi
Labels: Balance/Rebalance, Feature, Sprites, Stale

#49200 Adds the ol' banana in the tailpipe
  code/modules/vehicles/secway.dm
  sound/effects/stall.ogg
Labels: Feature, Sound

#49222 Makes radioactive contamination have a limited amount of material per wave
  code/__DEFINES/radiation.dm
  code/datums/radiation_wave.dm
Labels: Balance/Rebalance

#49269 Codename Siberian Sunrise- A New Lavaland Labor Camp
  _maps/map_files/Mining/Lavaland.dmm
Labels: Feature, Map Edit

#49310 Beach Bum Ruin Fixes
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Map Edit, Sprites, Tweak

#49312 Death Nettle Grammar Fix
  code/modules/hydroponics/grown/nettle.dm
Labels: Grammar and Formatting

#49308 Geneticist selection color fix
  code/modules/jobs/job_types/geneticist.dm
Labels: Fix

#49280 Changes the two left feet mutation
  code/datums/mutations/body.dm
Labels: Feature

#49304 Soil is no longer called hydroponics tray when something is planted
  code/modules/hydroponics/hydroponics.dm
Labels: Fix, Removal

#48908 Functional headphones
  code/__DEFINES/components.dm
  code/datums/action.dm
  code/game/objects/items/devices/instruments.dm
  code/game/objects/structures/musician.dm
  code/modules/clothing/ears/_ears.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/games.dm
  icons/mob/clothing/ears.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/accessories.dmi
Labels: Code Improvement, Needs Review, Sprites, Tweak

#49317 Fixes uplink buttons not disabling when you can't buy the item
  tgui-next/packages/tgui/interfaces/Uplink.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#48711 Makes the recycler slightly less fuck because it is 68% too much fuck.
  code/game/machinery/recycler.dm
Labels: Fix, RED LABEL

#49341 grammar fix in valenine code
  code/modules/antagonists/valentines/heartbreaker.dm
Labels: Grammar and Formatting

#49279 makes the nuke op leader getting the war declaration a config
  code/controllers/configuration/entries/game_options.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/modules/antagonists/nukeop/clownop.dm
  code/modules/antagonists/nukeop/nukeop.dm
  config/game_options.txt
Labels: Config Update, Verified :heavy_check_mark:

#49326 TGUI-NEXT: THE FINAL RECKONING
  code/modules/modular_computers/computers/item/laptop_presets.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/antagonist/revelation.dm
  code/modules/modular_computers/file_system/programs/file_browser.dm
  code/modules/modular_computers/file_system/programs/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/nttransfer.dm
  tgstation.dme
  tgui-next/packages/tgui/components/Button.js
  tgui-next/packages/tgui/interfaces/NtosAiRestorer.js
  tgui-next/packages/tgui/interfaces/NtosFileManager.js
  tgui-next/packages/tgui/interfaces/NtosNetDos.js
  tgui-next/packages/tgui/interfaces/NtosNetMonitor.js
  tgui-next/packages/tgui/interfaces/NtosRevelation.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: Feature, Removal, UI

#49295 Fixes synthflesh unhusking message
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
Labels: Grammar and Formatting

#49322 Fixes nanite deactivation timer
  code/modules/research/nanites/nanite_programs.dm
Labels: Fix

#49029 [READY]Da mafia update. Mob nicknames, new fedoras, suits!
  code/game/objects/effects/spawners/bundle.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/miscellaneous.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/under/suits.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/under/suits.dmi
  icons/obj/blackmarket.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/under/suits.dmi
Labels: Feature, Needs Review, Sprites

#49196 Cobbduceus: Surgery Skill XP/Step Buffs
  code/__DEFINES/skills.dm
  code/modules/surgery/advanced/bioware/ligament_hook.dm
  code/modules/surgery/advanced/bioware/ligament_reinforcement.dm
  code/modules/surgery/advanced/bioware/muscled_veins.dm
  code/modules/surgery/advanced/bioware/nerve_grounding.dm
  code/modules/surgery/advanced/bioware/nerve_splicing.dm
  code/modules/surgery/advanced/bioware/vein_threading.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/necrotic_revival.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/advanced/revival.dm
  code/modules/surgery/advanced/viral_bonding.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/remove_embedded_object.dm
  code/modules/surgery/stomachpump.dm
  code/modules/surgery/surgery_step.dm
Labels: Balance/Rebalance

#49253 Adds more Ethereal colors.
  code/_globalvars/lists/flavor_misc.dm
Labels: Feature, Verified :heavy_check_mark:

#49028 [READY] Space Suits use cells and warm the wearer
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/atmospherics.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/action.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/inducer.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/chronosuit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/ninja/suit/suit.dm
  code/modules/research/xenobiology/crossbreeding/_potions.dm
  icons/mob/actions/actions_spacesuit.dmi
  icons/mob/screen_gen.dmi
Labels: Feature, Map Edit, Needs Review, Sprites

#49205 Random mineral spawning (mostly) no longer change turfs
  code/game/objects/items/stacks/bscrystal.dm
  code/game/turfs/closed/minerals.dm
  code/modules/mining/ores_coins.dm
Labels: Refactor, Stale, Tweak

#49333 Removes the wait time and separate page for the Exosuit Fabricator's research synchronization
  code/game/mecha/mech_fabricator.dm
Labels: Removal, Tweak

#49103 Krav Maga: Stompies Edition
  code/datums/martial/krav_maga.dm
Labels: Balance/Rebalance, Feature, Stale

#49358 Adds missing TTV attached tank sprites
  icons/obj/assemblies.dmi
Labels: Fix, Sprites

#49336 Adds broken chameleon belt to the broken chameleon kit
  code/game/objects/items/storage/uplink_kits.dm
Labels: Tweak

#49359 Lighting night mode togglable when locked
  code/modules/power/apc.dm
  tgui-next/packages/tgui/interfaces/Apc.js
  tgui-next/packages/tgui/public/tgui.bundle.js
Labels: Tweak, UI

#49186 Adds a new Space Ruin, the Hell Factory.
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  code/__DEFINES/radio.dm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items/devices/pressureplates.dm
  code/game/objects/items/puzzle_pieces.dm
  code/modules/ruins/spaceruin_code/hellfactory.dm
  icons/obj/doors/doorpuzzle.dmi
  icons/obj/puzzle_small.dmi
  tgstation.dme
Labels: Feature, Fix, Map Edit, Sprites

#49352 Few small runtime fixes.
  code/datums/traits/neutral.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/items/twohanded.dm
  code/modules/antagonists/blob/blobstrains/networked_fibers.dm
  code/modules/events/wizard/rpgloot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/spells/spell_types/godhand.dm
Labels: Fix

#49081 Fixes SM hell, makes some changes to how gas is handled in the SM
  code/modules/power/supermatter/supermatter.dm
Labels: Administration, Balance/Rebalance, Fix

#49254 [READY] Wand of nothing locations fixes
  _maps/RandomZLevels/Academy.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/vending/autodrobe.dm
Labels: Map Edit

#49366 Fix shuttle timer seconds counter not displaying leading 0 with numbers <10
  code/modules/shuttle/shuttle.dm
Labels: Fix

#49375 New Mortar Sprite
  icons/obj/chemical.dmi
Labels: Sprites

#49339 Set Linkage traits to multiz debug map config
  _maps/multiz_debug.json
Labels: Fix, Map Edit

#48996 Adds spray-on insuls.
  code/__DEFINES/components.dm
  code/modules/clothing/gloves/color.dm
  code/modules/power/power.dm
  code/modules/research/bepis.dm
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Feature, Good First PR, Sprites

#49237 Stasis supports multiple sources
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/datums/status_effects/status_effect.dm
  code/game/machinery/stasis.dm
Labels: Refactor

#48836 cockroach refactor
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/game/objects/items/weaponry.dm
  code/modules/events/vent_clog.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/hostile/cockroach.dm
  code/modules/mob/living/simple_animal/hostile/glockroach.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  tgstation.dme
Labels: Map Edit, Needs Review, Refactor

#49067 PLUMBING: Lavaland geysers, pumps and regrettable balance decisions!
  code/datums/components/beauty.dm
  code/datums/components/explodable.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/modules/plumbing/plumbers/pumps.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/vending/medical.dm
Labels: Feature, Stale

#49120 Adds the broom
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/janicart.dm
  code/modules/cargo/packs.dm
  code/modules/vending/wardrobes.dm
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
  icons/obj/janitor.dmi
Labels: Feature, Sprites

#49171 Makes railings good
  _maps/map_files/debug/multiz.dmm
  code/game/objects/structures/fluff.dm
  code/game/objects/structures/railings.dm
  tgstation.dme
Labels: Map Edit, Stale

#49410 Fixes compile errors
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix, Map Edit, Priority: CRITICAL

#49319 Adds Policy Capabilities to Pyro Slime and Changes Ban Type to ROLE_SENTIENCE
  code/__DEFINES/role_preferences.dm
  code/game/objects/effects/anomalies.dm
Labels: Administration, Fix

#49335 Fixes boxes having writing where it shouldn't be
  code/game/objects/items/storage/boxes.dm
Labels: Fix

#49386 More Minor Map Fixes
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit
