Repository tgstation/tgstation, pull requests merged in 2020-04, with the labels that each got.

#50326 Fixes roundstart AT on Donutstation
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/Donutstation/Donutstation_LVL2.dmm
Labels: Map Edit

#50316 progressbar refactor
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/mobs.dm
  code/datums/components/storage/storage.dm
  code/datums/progressbar.dm
  code/game/atoms.dm
  code/game/turfs/turf.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob.dm
Labels: Refactor

#50183 Adds mothpeople potion of flight wings
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  icons/mob/clothing/wings.dmi
Labels: Feature, Sprites

#49621 [Ready]Adds more Bioware Surgeries
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/advanced/bioware/bioware.dm
  code/modules/surgery/advanced/bioware/cortex_folding.dm
  code/modules/surgery/advanced/bioware/cortex_imprint.dm
  code/modules/surgery/advanced/lobotomy.dm
  tgstation.dme
Labels: Feature, Needs Review

#50245 The Families gamemode now supports admin policies.
  code/game/gamemodes/gang/gang.dm
  code/game/gamemodes/gang/gang_things.dm
  code/modules/antagonists/ert/ert.dm
Labels: Administration

#50308 Fixes plumbing stuff ROTATING
  code/datums/components/plumbing/_plumbing.dm
Labels: Fix

#49773 [READY] Multi z and layer power rework
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/Donutstation/Donutstation_LVL2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/debug/multiz.dmm
  code/__DEFINES/power.dm
  code/modules/power/cable.dm
  code/modules/power/multiz.dm
  code/modules/power/power.dm
  code/modules/shuttle/on_move.dm
Labels: Feature, Map Edit, Needs Review, Sprites

#50197 grammar fix for the description in instruments, misc, clusterbang, and spawnergrenade dm
  code/game/objects/items/devices/instruments.dm
  code/game/objects/items/grenades/clusterbuster.dm
  code/game/objects/items/grenades/spawnergrenade.dm
  code/game/objects/items/melee/misc.dm
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Grammar and Formatting

#50210 [Please review me] Operation: Funky Nostaligia 2. Changes charliestation medkit icon, and changes heirloom item for MDs to an old medkit.
  code/datums/traits/negative.dm
  code/game/objects/items/storage/firstaid.dm
  icons/obj/storage.dmi
Labels: Feature, Removal, Sound, Sprites

#50250 posibrains now get admin set policy instead of code set welcome message
  code/modules/mob/living/brain/posibrain.dm
Labels: Code Improvement

#50185 Propose requiring use of the policy config system for some features
  .github/POLICYCONFIG.md
  README.md
Labels: GitHub

#50327 Fixes Stamcritting Not Making The User Incapacitated
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/status_procs.dm
Labels: Fix

#50292 Makes storage bags bulky items
  code/game/objects/items/storage/bags.dm
Labels: Balance/Rebalance

#50352 Truly fixes plumbing rotation
  code/datums/components/plumbing/_plumbing.dm
Labels: FUCK, Fix

#49990 Adds a minimum drinking/smoking age
  code/__DEFINES/mobs.dm
  code/__DEFINES/wires.dm
  code/_globalvars/lists/mobs.dm
  code/datums/wires/vending.dm
  code/game/atoms.dm
  code/game/machinery/computer/card.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/awaymissions/corpse.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/mob/living/emote.dm
  code/modules/vending/_vending.dm
  code/modules/vending/boozeomat.dm
Labels: Feature

#49941 Codename Cheesy Goodness: New Material Datums
  code/datums/materials/basemats.dm
  code/datums/materials/pizza.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/watercloset.dm
  code/modules/food_and_drinks/food/snacks_pizza.dm
  icons/materials/composite.dmi
  icons/obj/stack_objects.dmi
  tgstation.dme
Labels: Feature, Sprites

#50369 LIGHTNING FAST HOTFIX FOR THE HYDROPONICS REVAMP.
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/hydroponics_chemreact.dm
  code/modules/hydroponics/seeds.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#50381 POWER ROUND 2: HYDROPONICS FIXES
  code/modules/hydroponics/grafts.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix, Tweak

#50364 Fireman carry exploit fix
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#50355 Corrects bizarre soda poster fuck-up
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  code/game/objects/effects/contraband.dm
Labels: Fix, Map Edit

#50334 Bug fixes
  code/datums/components/tackle.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/modules/mob/mob.dm
  code/modules/ninja/suit/suit_attackby.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/surgery/organs/tongue.dm
Labels: Fix

#50196 [READY] Carp Rift Bugfix and QOL
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
Labels: Fix

#50385 Fixes being unable to store gum in gum boxes
  code/game/objects/items/storage/boxes.dm
Labels: Fix

#50398 tgui: Automated Announcement Console
  code/game/machinery/announcement_system.dm
  tgui/packages/tgui/interfaces/AutomatedAnnouncement.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: Feature, UI

#50259 Contract tablet dropoff locator and other minor changes
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/modular_computers/file_system/programs/antagonist/contract_uplink.dm
  tgui/packages/tgui/interfaces/SyndContractor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Tweak, UI

#49884 Regal Rats 2: Rat harder
  code/_globalvars/lists/maintenance_loot.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  icons/mob/actions/actions_animal.dmi
  icons/mob/animal.dmi
  icons/obj/food/food.dmi
  tgstation.dme
Labels: Feature, Sprites, Test Merge Candidate

#50365 NTOS Atmos Scan, now available for the modular computer.
  code/modules/modular_computers/file_system/programs/atmosscan.dm
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_tablet.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosAtmos.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: Feature, Sprites, UI

#50098 You no longer hit fermenting barrels when transferring reagents
  code/modules/hydroponics/fermenting_barrel.dm
Labels: Fix

#50105 Makes Clown Ops Great Again
  code/game/gamemodes/clown_ops/clown_ops.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/pins.dm
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance, Feature

#50141 Clarke mech now damages floor tiles
  code/game/mecha/working/clarke.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/plating/asteroid.dm
Labels: Tweak

#50405 Update to spacemandmm 1.4
  Dockerfile
  code/__DEFINES/spaceman_dmm.dm
  dependencies.sh
Labels: Linting, Tools

#50150 [READY] Passive vents still mix gases when pressures are equal
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
Labels: Atmospherics, Needs Review, Tweak

#50145 Buffs the circle game, adds an achievement
  code/__DEFINES/achievements.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/mutations/hulk.dm
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Feature, Stale

#50341 laughter demons now use the honk demon sprite on april fools
  code/modules/antagonists/slaughter/slaughter.dm
Labels: April Fools, Feature

#50310 Mining and Service borgs now use a radial menu to choose their skins
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Feature

#50315 Boxstation Bridge Decals Attempt #2
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit

#50309 fixes a mispelling in taste description for lean
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Grammar and Formatting

#50348 Fixes resting and small projectile change
  code/modules/mob/living/living.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#50384 RnD consoles can no longer be screwdrivered to reenable research
  code/game/objects/items/circuitboards/computer_circuitboards.dm
Labels: Balance/Rebalance

#50353 Hot ice fix
  code/__DEFINES/materials.dm
  code/datums/components/hot_ice.dm
  code/datums/materials/basemats.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/obj_defense.dm
Labels: Fix, Removal

#50283 Families wanted stars now only show up when you are involved in it, and announcements for wanted level changes
  code/_onclick/hud/families.dm
  code/_onclick/hud/hud.dm
  code/game/gamemodes/gang/gang.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/gang/gang.dm
  tgstation.dme
Labels: Feature

#50203 Material wall/floor and floor tile name/desc changes
  code/datums/components/radioactive.dm
  code/datums/materials/_material.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/closed/wall/material_walls.dm
  code/game/turfs/open/floor.dm
Labels: Grammar and Formatting

#50412 Add link to hackmd account
  README.md
Labels: Documentation

#50389 Adds a Cyborg Remote Monitor program for modular computers.
  code/modules/asset_cache/asset_list_items.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  icons/program_icons/borg_mon.gif
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosCyborgRemoteMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: Feature, Sprites, UI

#50410 Guns that init with magazines now start chambered with full magazines
  code/modules/projectiles/guns/ballistic.dm
Labels: Tweak

#50408 Strange reagent with slimepeople bugfix
  code/modules/mob/living/living.dm
Labels: Fix

#50400 Fix editor icon state of layer 3 cables
  code/modules/power/cable.dm
Labels: Fix

#50386 piggybacks and fireman carry doesnt work on not aggrograbs
  code/modules/mob/living/carbon/human/human.dm
Labels: Balance/Rebalance

#50401 Makes certain curtains block your view when closed, new curtain type
  code/datums/components/crafting/recipes.dm
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
Labels: Sprites, Tweak

#50380 Outlaws negative molar counts
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: Fix

#50388 Just some small fixes for scarp
  code/datums/martial/sleeping_carp.dm
Labels: Fix

#50404 Fixes access on two doors in Delta's service hall.
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit, Tweak

#50407 Fix defib mount runtime error.
  code/game/machinery/defibrillator_mount.dm
Labels: Fix

#50225 tgui: DNA Console Overhaul Project
  _maps/RandomZLevels/research.dmm
  code/datums/dna.dm
  code/datums/mutations/_mutations.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/dna_scanner.dm
  code/game/objects/items/chromosome.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/transform_procs.dm
  code/modules/spells/spell_types/lichdom.dm
  tgui/README.md
  tgui/packages/common/collections.js
  tgui/packages/tgui-dev-server/reloader.js
  tgui/packages/tgui/components/Box.js
  tgui/packages/tgui/components/Dimmer.js
  tgui/packages/tgui/components/Divider.js
  tgui/packages/tgui/components/Dropdown.js
  tgui/packages/tgui/components/Flex.js
  tgui/packages/tgui/components/LabeledList.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/BlackmarketUplink.js
  tgui/packages/tgui/interfaces/DnaConsole.js
  tgui/packages/tgui/interfaces/NtosJobManager.js
  tgui/packages/tgui/interfaces/NtosSupermatterMonitor.js
  tgui/packages/tgui/interfaces/PersonalCrafting.js
  tgui/packages/tgui/interfaces/SyndContractor.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
  tgui/packages/tgui/styles/atomic/outline.scss
  tgui/packages/tgui/styles/components/Dimmer.scss
  tgui/packages/tgui/styles/components/Divider.scss
  tgui/packages/tgui/styles/components/Dropdown.scss
  tgui/packages/tgui/styles/components/Flex.scss
  tgui/packages/tgui/styles/main.scss
Labels: Map Edit, Needs Review, Tweak, UI

#50403 Makes Pestles Small Items
  code/modules/reagents/reagent_containers/glass.dm
Labels: Tweak

#50290 Bags of Holding: Rarity Edition
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/research/designs/bluespace_designs.dm
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
Labels: Balance/Rebalance, Sprites

#50125 adds monkey cube suicide
  code/modules/food_and_drinks/food/snacks_meat.dm
Labels: Feature, Stale

#50378 New skins for medical gels
  code/modules/reagents/reagent_containers/medigel.dm
  icons/obj/chemical.dmi
Labels: Feature, Good First PR, Sprites

#50415 Adds Altar of the Gods to all maps
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit

#50420 Properly removes the leftovers of the gene modifier from the techtree.
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Fix, Removal

#50356 Silicons can alt-click and ctrl-click pumps and filters wirelessly
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix

#50402 Fixes a small mapping oversight on Delta near Psych's office.
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#50357 Ports Not-Uno and changes card stacks
  code/game/objects/items/toys.dm
  code/modules/games/kotahi.dm
  code/modules/vending/games.dm
  icons/obj/toy.dmi
  tgstation.dme
Labels: Feature, Sprites

#50414 Fixes Cortex Folding Surgery
  code/modules/surgery/advanced/bioware/cortex_folding.dm
Labels: Fix

#50318 Hazard cone object resprite.
  icons/obj/janitor.dmi
Labels: Sprites

#50422 Hubstuff
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/server_maint.dm
  code/modules/client/client_procs.dm
Labels: Config Update

#50413 Instability is now shown on the seed extractor.
  code/modules/hydroponics/seed_extractor.dm
Labels: Tweak

#50235 hop moves from supply positions to service positions
  code/modules/jobs/jobs.dm
Labels: Tweak, Verified :heavy_check_mark:

#50387 Introduces Gene Shears to Botany, and several other QOL tweaks.
  code/modules/hydroponics/grafts.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/hydroponics_chemreact.dm
  code/modules/hydroponics/seeds.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/hydroponics/equipment.dmi
Labels: Feature, Fix, Removal, Sprites, Tweak

#50351 Ports the Bot Control PDA program to Modular Computers.
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  icons/obj/modular_tablet.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosMain.js
  tgui/packages/tgui/interfaces/NtosRoboControl.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: Feature, Sprites, UI

#50431 Adds a new modular computer app, the Shipping Scanner App.
  code/modules/modular_computers/file_system/programs/cargoship.dm
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_tablet.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosMain.js
  tgui/packages/tgui/interfaces/NtosShipping.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: Feature, Sprites, UI

#50457 Critical Families Bugfix + Balance: Wanted Level adjusts cop arrival time
  code/game/gamemodes/gang/gang.dm
Labels: Fix

#50488 Changes to comply with GitHub TOS
  _maps/RandomRuins/SpaceRuins/bus.dmm
  _maps/RandomZLevels/caves.dmm
  code/__DEFINES/DNA.dm
  code/__DEFINES/inventory.dm
  code/datums/diseases/wizarditis.dm
  code/datums/materials/basemats.dm
  code/datums/mutations/speech.dm
  code/game/objects/items/dna_injector.dm
  code/game/objects/items/manuals.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/signs/signs_plaques.dm
  code/modules/admin/secrets.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  code/modules/holiday/easter.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/lighting/lighting_corner.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  html/archivedchangelog.html
  html/changelogs/.all_changelog.yml
  icons/obj/food/food.dmi
  strings/ion_laws.json
  strings/names/death_commando.txt
  strings/phobia.json
  strings/traumas.json
Labels: Map Edit, Sprites

#50490 Add terms of service violations to Banned Content
  .github/CONTRIBUTING.md
Labels: GitHub

#50485 Removes a method to raid centcom
  code/modules/shuttle/supply.dm
Labels: Fix, Removal

#50468 Adds the CMO's stamp to their office on Metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, Stale

#50465 Adds core R&D consoles to the RD's office
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Map Edit, Stale

#50032 Revert "Revert "Added H2O support to the SM (#49624)""
  code/modules/power/supermatter/supermatter.dm
Labels: Feature, Stale

#50126 Nitryl changes and N2O reactions
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/lungs.dm
Labels: Feature, Stale

#50294 Equipment Swapping
  code/datums/keybinding/human.dm
  code/game/objects/items.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/mob.dm
Labels: Feature

#50440 Artificer spell icon fix
  code/modules/spells/spell_types/construct_spells.dm
  code/modules/spells/spell_types/wizard.dm
Labels: Fix

#50448 fixes arena shuttle
  code/modules/admin/fun_balloon.dm
Labels: Fix

#50345 Remove multilayer cable hub coloring
  code/modules/power/cable.dm
Labels: Removal, Stale

#50349 Virgin immovable rods are no longer stopped by the chad railing
  code/game/objects/structures/railings.dm
Labels: Fix

#50446 Adds format=json support to world/topic
  code/datums/world_topic.dm
Labels: Feature, Refactor, Tools

#50397 Fixes explosions damaging the contents of atoms with the PREVENT_CONTENTS_EXPLOSION_1 flag
  code/__HELPERS/unsorted.dm
  code/datums/explosion.dm
Labels: Fix

#50425 Make it clearler what to do when auto-staled
  .github/workflows/stale.yml
Labels: GitHub

#50426 Makes the flash bang ear ring less close to actual tinnitus
  sound/weapons/flash_ring.ogg
Labels: Sound

#50430 Screw Box Part 1: Phantom Mapping
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Balance/Rebalance, Map Edit

#50471 Removes cryo syringes and cryo shotgun darts
  code/game/objects/items/storage/boxes.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Removal

#50469 Prevents anomalies from spawning at the toxins testing area
  code/modules/events/anomaly.dm
Labels: Fix, Stale

#50462 Fixes bolt colors being jank
  code/modules/power/supermatter/supermatter.dm
Labels: Fix, Stale

#50479 Change Wacky mutation description to not contain HTML
  code/datums/mutations/speech.dm
Labels: Fix

#50453 Fixes word
  code/modules/admin/admin_verbs.dm
Labels: Grammar and Formatting

#50330 Tiered canisters
  code/game/machinery/canister_frame.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/atmos.dmi
  tgstation.dme
Labels: Feature, Sprites

#50445 Adds recording who deleted a note
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/modules/admin/sql_message_system.dm
Labels: SQL, SQL Updated

#50503 Fixes infinite grilled naming bug
  code/__DEFINES/food.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
Labels: Fix

#50529 [Ready] Forgottenship Ruin - rebalance, config update, uplink item.
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  code/__DEFINES/role_preferences.dm
  code/datums/ruins/space.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/ruins/spaceruin_code/forgottenship.dm
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance, Config Update, Feature, Fix, Map Edit, Needs Review, Tweak

#50481 Fixes botanists dropping their heirlooms
  code/datums/traits/negative.dm
Labels: Fix

#50475 Enables verb for observers to chemical/reagent scan.
  code/_onclick/observer.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Feature

#50456 Allows prisoners to retract skin and manipulate organs
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
Labels: Tweak

#50516 Octet separators in DNA Console genome sequencer.
  code/game/machinery/computer/dna_console.dm
  tgui/packages/tgui/interfaces/DnaConsole.js
Labels: UI

#50514 Allows Laptops to use the AI Restorer Program
  code/modules/modular_computers/file_system/programs/airestorer.dm
Labels: Tweak

#50460 Add auto-deadmin timegate option + pref for admins to ignore cult ghost summon
  code/__DEFINES/preferences.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/job.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/client/preferences.dm
Labels: Administration, Config Update

#50478 Secrets Panel button: Anonymous Names (and refactors a bit of admin code)
  code/__DEFINES/misc.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/secrets.dm
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/admin/verbs/tripAI.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/silicon/robot/robot.dm
  tgstation.dme
Labels: Administration

#50545 fixes some weird carp code
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: Code Improvement

#50438 Mad Scientist Special kit now has a functioning Wormhole Gun
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Fix, Good First PR

#50455 you can now make shuttle seats with titanium
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/beds_chairs/chair.dm
Labels: Feature

#50454 Titanium Resprite
  icons/obj/doors/airlocks/shuttle/overlays.dmi
  icons/obj/doors/airlocks/shuttle/shuttle.dmi
  icons/obj/smooth_structures/shuttle_window.dmi
  icons/obj/stack_objects.dmi
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
  icons/turf/walls/shuttle_wall.dmi
Labels: Sprites

#50443 Stasis bed/Operating Computers now consider diagonals for linking
  code/game/machinery/computer/Operating.dm
  code/game/machinery/stasis.dm
  code/game/objects/structures/tables_racks.dm
Labels: Oversight

#50539 Fixes Peacekeeper Borgs Keeping Dampening Fields After Damage / Death
  code/game/objects/items/robot/robot_items.dm
Labels: Fix

#50542 Remove exploity way of using pumps and scrubbers
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: Feature

#50547 tgui autobuild is now build validation. adds initial gitlab ci support
  .github/workflows/autobuild_tgui.yml
  .gitlab-ci.yml
  tgui/bin/tgui
Labels: GitHub, UI

#50510 Hydrogen Gas
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/reactions.dm
  code/datums/materials/basemats.dm
  code/game/machinery/electrolyzer.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/stacks/ammonia_crystals.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/ruins/lavaland_ruin_code.dm
  icons/obj/atmos.dmi
  icons/obj/stack_objects.dmi
  tgstation.dme
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/Electrolyzer.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Needs Review, Sprites, Tweak, UI

#50577 tgui: Fix Crafting, Tweak Box Units
  config/admins.txt
  tgui/docs/component-reference.md
  tgui/packages/tgui/byond.js
  tgui/packages/tgui/components/Box.js
  tgui/packages/tgui/interfaces/BlackmarketUplink.js
  tgui/packages/tgui/interfaces/ChemFilter.js
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/ChemPress.js
  tgui/packages/tgui/interfaces/ComputerFabricator.js
  tgui/packages/tgui/interfaces/CrewConsole.js
  tgui/packages/tgui/interfaces/Electropack.js
  tgui/packages/tgui/interfaces/NtosArcade.js
  tgui/packages/tgui/interfaces/NtosMain.js
  tgui/packages/tgui/interfaces/PersonalCrafting.js
  tgui/packages/tgui/interfaces/Signaler.js
  tgui/packages/tgui/interfaces/manually-routed/KitchenSink.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Config Update, Fix, Priority: High, UI

#50567 cleans up some stacked cables
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/Donutstation/Donutstation_LVL2.dmm
  _maps/map_files/debug/multiz.dmm
Labels: Fix, Map Edit

#50561 Radial menu tweaks
  code/_onclick/hud/radial.dm
Labels: Tweak

#50546 Resprites applejack related drinks
  icons/obj/drinks.dmi
Labels: Removal, Sprites

#50513 Turbotany version 1.2
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/hydroponics/grafts.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special/floral.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/designs/biogenerator_designs.dm
  code/modules/research/designs/weapon_designs.dm
  icons/mob/clothing/belt.dmi
  icons/obj/clothing/belt_overlays.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/guns/energy.dmi
  icons/obj/projectiles.dmi
Labels: Balance/Rebalance, Feature, Fix, Sprites, Tweak

#50523 [READY] Revamps MetaStation Cargo
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Balance/Rebalance, Feature, Map Edit, Needs Review, Removal, Tweak

#50552 Removes Metalgen Recipe
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Removal, Verified :heavy_check_mark:

#50581 Quick one-line fix for two war buttons
  code/game/gamemodes/clown_ops/clown_ops.dm
Labels: Fix

#50596 Papersacks now use a radial menu to choose their skins
  code/_onclick/hud/radial.dm
  code/game/objects/items/storage/boxes.dm
Labels: Feature

#50584 Adds foreign calendar datum and fixes Ramadan holidays
  code/modules/holiday/foreign_calendar.dm
  code/modules/holiday/holidays.dm
  tgstation.dme
Labels: Fix, Refactor

#50576 you can now make honeybuns again
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Fix

#50578 Adds icons for gibspawners and mob_spawns to help with mapmaking
  code/game/objects/effects/spawners/gibspawner.dm
  code/modules/awaymissions/corpse.dm
  icons/effects/effects.dmi
  icons/effects/mapping_helpers.dmi
Labels: Sprites

#50399 neckgrab table slamming deals less damage, doesn't stamcrit in 2
  code/game/objects/structures/tables_racks.dm
Labels: Balance/Rebalance

#50621 Dominate & Abyssal Gaze are now a pointed spells
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/spells/spell_types/construct_spells.dm
  code/modules/spells/spell_types/pointed/barnyard.dm
  code/modules/spells/spell_types/pointed/mind_transfer.dm
  code/modules/spells/spell_types/pointed/pointed.dm
  icons/mob/actions/actions_cult.dmi
  tgstation.dme
Labels: Feature, Sprites, Tweak

#50625 Fixes Maint Hole that Magically Appeared in #50601
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#50556 Add EYE_STAB to item_flags
  code/__DEFINES/obj_flags.dm
  code/_onclick/item_attack.dm
  code/game/objects/items/kitchen.dm
  code/game/objects/items/tools/screwdriver.dm
  code/modules/surgery/tools.dm
Labels: Code Improvement

#50604 Basic economy logging.
  code/__DEFINES/logging.dm
  code/__HELPERS/_logging.dm
  code/controllers/configuration/entries/general.dm
  code/game/atoms.dm
  code/game/objects/items/cards_ids.dm
  code/modules/economy/account.dm
  code/modules/mining/mint.dm
  code/modules/research/bepis.dm
  code/modules/vending/_vending.dm
  config/config.txt
Labels: Administration, Code Improvement, Config Update, Logging

#50599 He sold on the cargo shuttle? Bugfix eet.
  code/modules/shuttle/supply.dm
Labels: Fix

#50563 Ninja Suit Initialization Refactor + Cleanup
  code/modules/ninja/suit/suit.dm
  code/modules/ninja/suit/suit_initialisation.dm
  code/modules/ninja/suit/suit_process.dm
  tgstation.dme
Labels: Code Improvement, Refactor

#50573 adds new stamps, resprites old ones, various cool stuff
  code/__DEFINES/dye_keys.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/under/jobs/centcom.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/paperwork/stamps.dm
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/misc/bedsheet_lefthand.dmi
  icons/mob/inhands/misc/bedsheet_righthand.dmi
  icons/obj/bedsheets.dmi
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/font.png
  icons/stamp_icons/large_stamp-cap.png
  icons/stamp_icons/large_stamp-ce.png
  icons/stamp_icons/large_stamp-centcom.png
  icons/stamp_icons/large_stamp-chap.png
  icons/stamp_icons/large_stamp-clown.png
  icons/stamp_icons/large_stamp-cmo.png
  icons/stamp_icons/large_stamp-deny.png
  icons/stamp_icons/large_stamp-hop.png
  icons/stamp_icons/large_stamp-hos.png
  icons/stamp_icons/large_stamp-law.png
  icons/stamp_icons/large_stamp-mime.png
  icons/stamp_icons/large_stamp-ok.png
  icons/stamp_icons/large_stamp-qm.png
  icons/stamp_icons/large_stamp-rd.png
  icons/stamp_icons/large_stamp-syndicate.png
Labels: Feature, Sprites

#50536 removes confusing bitflag in research.dm part 2: no webeditalaroo
  code/__DEFINES/research.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/designs/electronics_designs.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/designs/stock_parts_designs.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/machinery/departmental_circuit_imprinter.dm
  code/modules/research/machinery/departmental_protolathe.dm
  code/modules/research/machinery/departmental_techfab.dm
Labels: Code Improvement, Removal

#50537 Reverts material datum item exports.
  code/__DEFINES/dcs/signals.dm
  code/datums/components/pricetag.dm
  code/modules/cargo/exports.dm
Labels: Removal, Revert

#50541 Small fix for Forgottenship ruin.
  code/modules/ruins/spaceruin_code/forgottenship.dm
Labels: Fix

#50512 Nullrods now use a radial menu to choose their skins
  code/game/objects/items/holy_weapons.dm
Labels: Feature

#50519 Adds panic bunker config to the world status topic
  code/datums/world_topic.dm
Labels: Feature

#50482 The NTSS Independence- A Nostalgic Cruise Ship Shuttle
  _maps/shuttles/emergency_cruise.dmm
  code/datums/shuttles.dm
Labels: Feature, Map Edit

#50617 Cardboard cutouts now use a radial menu to choose their skins
  code/game/objects/items/cardboard_cutouts.dm
Labels: Feature

#50616 only carbons can now use the slap and circle emote + exploit fix
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/emote.dm
Labels: Fix

#50613 Refactors some interfaces to tgui 3.0 standards
  tgui/packages/tgui/interfaces/OreRedemptionMachine.js
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/packages/tgui/interfaces/Roulette.js
  tgui/packages/tgui/interfaces/manually-routed/KitchenSink.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Refactor, UI

#50595 goliath saddles now have a better sprite
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  icons/obj/items_and_weapons.dmi
Labels: Sprites

#50520 Fixes "thats" in a few item descriptions.
  _maps/RandomZLevels/caves.dmm
  code/modules/mining/equipment/mining_tools.dm
Labels: Grammar and Formatting, Map Edit

#50522 Cult stun nerf
  code/modules/antagonists/cult/blood_magic.dm
Labels: Balance/Rebalance

#50534 adds the improvised pickaxe + jackhammer weighs less
  code/datums/components/crafting/recipes.dm
  code/modules/mining/equipment/mining_tools.dm
  icons/mob/inhands/equipment/mining_lefthand.dmi
  icons/mob/inhands/equipment/mining_righthand.dmi
  icons/obj/mining.dmi
Labels: Balance/Rebalance, Feature, Fix, Sprites

#50535 Mining skill affects PKA again but only when used on rocks.
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Feature

#50649 Fan Hud
  code/__DEFINES/atom_hud.dm
  code/datums/hud.dm
  code/datums/traits/good.dm
  code/game/data_huds.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  icons/mob/hud.dmi
Labels: Feature, Sprites, Tweak

#50615 demos config
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/demo.dm
  config/admins.txt
  config/config.txt
Labels: Config Update
