Repository tgstation/tgstation, pull requests merged in 2020-11, with the labels that each got.

#54701 Uses drop_location() for StartProcessingAtom() instead of get_turf(src)
  code/game/atoms.dm
Labels: Code Improvement

#54711 Corrects the Chisel Description (The Pettiest PR Ever Made)
  code/game/objects/structures/statues.dm
Labels: Fix

#54623 Use a more common documentation block standard.
  .github/AUTODOC_GUIDE.md
Labels: GitHub

#54650 Fixes table stacking exploit
  code/__DEFINES/is_helpers.dm
  code/game/objects/structures/table_frames.dm
Labels: Fix

#54523 [Ready]New walking and turning sounds for the Ripley Mk. I and II, interaction sounds for the hydraulic clamp
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
  code/modules/vehicles/mecha/working/ripley.dm
  sound/mecha/hydraulic.ogg
  sound/mecha/powerloader_step.ogg
  sound/mecha/powerloader_turn2.ogg
Labels: Feature, Needs Review, Sound

#54718 adds kitchen tools to omnitool
  code/game/objects/items/debug_items.dm
Labels: Fix

#54666 Coffee Bar is for Coffee and Coffee Accessories
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Map Edit, Removal

#54396 Fixes an accidental (???) reversion in mech code
  code/modules/vehicles/cars/car.dm
  code/modules/vehicles/sealed.dm
Labels: Balance/Rebalance, Fix

#54734 Fix lighting not rotating properly with client.dir
  icons/effects/lighting_object.dmi
Labels: Fix, Sprites

#54731 chem bottler changes
  code/modules/plumbing/plumbers/bottler.dm
  icons/obj/plumbing/plumbers.dmi
Labels: Fix, Sprites, Tweak

#54729 Adds Rod of Asclepius and mini-meteors inhand.
  code/modules/mining/lavaland/necropolis_chests.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/weapons/staves_lefthand.dmi
  icons/mob/inhands/weapons/staves_righthand.dmi
Labels: Fix, Sprites

#54714 You can once again place hats on cyborgs without having to treat it as a party game.
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Fix

#54661 Fix shuttle_catastrophe shuttle replacing.
  code/modules/events/shuttle_catastrophe.dm
Labels: Fix

#54670 Cleans up suit/nanite sensor code a bit
  code/__DEFINES/traits.dm
  code/game/data_huds.dm
  code/game/machinery/computer/crew.dm
  code/modules/research/nanites/nanite_programs/utility.dm
Labels: Fix

#54743 Adds damaged states to eighties floor.
  code/game/turfs/open/floor/misc_floor.dm
  icons/turf/floors.dmi
Labels: Fix, Sprites

#54721 Ports fried chicken from the 2020 toolbox tournament.
  code/game/objects/items/food/meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#54741 datum/client_colour refactor.
  code/__HELPERS/cmp.dm
  code/__HELPERS/matrices.dm
  code/game/objects/effects/mines.dm
  code/modules/client/client_colour.dm
Labels: Refactor

#54735 Annotate lint output for nice inline viewing
  .github/workflows/test.yml
Labels: GitHub

#54742 Adds handcuff attempt and GPS rename logging
  code/datums/components/gps.dm
  code/game/objects/items/handcuffs.dm
Labels: Administration

#54763 Fixes onetank icon
  code/modules/assembly/holder.dm
  icons/obj/assemblies/new_assemblies.dmi
Labels: Fix, Sprites

#54340 [READY] Swarmer QOL and Balance Update
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/events/swarmer.dm
  code/modules/swarmers/swarmer.dm
  code/modules/swarmers/swarmer_objs.dm
Labels: Balance/Rebalance, Needs Review, Stale

#54681 New view tracked playtime menu
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/verbs/ooc.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/job_report.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/TrackedPlaytime.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Feature, UI

#54526 Fly people eating fixed up
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
Labels: Fix

#54697 Service Protolathe Tweaks, Paint Cleaner and Trashbags in Protolathe
  code/modules/research/designs/misc_designs.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Fix, Tweak

#54529 Fixes mecha rotate & spacemove sounds and makes stomping silence flag instead of null based
  code/__DEFINES/mecha.dm
  code/_globalvars/misc.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/reticence.dm
Labels: Code Improvement, Fix

#54750 Fixes nullrod hand replacements being put into slots they shouldn't be
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#54748 Cargo can now once again accept requests with their own budget.
  code/modules/cargo/orderconsole.dm
Labels: Fix

#54758 Wires meta's tool storage APC
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#54752 Fixes ChemMaster not outputting pills to inserted pill bottle
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: Fix

#54759 Removes an event that no longer actually does anything.
  code/modules/events/high_priority_bounty.dm
  tgstation.dme
Labels: Fix, Removal

#54250 Turns transparency for turfs into an element, and gives it to datum materials.
  _maps/RandomRuins/IceRuins/icemoon_surface_mining_site.dmm
  _maps/icebox.json
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/multiz_debug.json
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/mapping.dm
  code/datums/elements/turf_transparency.dm
  code/datums/materials/_material.dm
  code/game/atoms.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/industrial_lift.dm
  code/game/objects/structures/stairs.dm
  code/game/sound.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/game/turfs/open/glass.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/open/transparent.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/away_props.dm
  code/modules/photography/camera/camera.dm
  tgstation.dme
Labels: Config Update, Feature, Fix, Map Edit, Stale

#54770 Fixes various immovable rod bugs, adds logging
  code/game/gamemodes/meteor/meteors.dm
  code/modules/events/immovable_rod.dm
Labels: Fix

#54769 Test basic attacks along with the attack chain
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/combat.dm
Labels: Code Improvement

#54781 [s] Fixes gulag bypassing exploit.
  code/modules/mining/laborcamp/laborstacker.dm
Labels: Fix

#53835 Better Hypernoblium
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/cargo/exports/large_objects.dm
Labels: Balance/Rebalance, Stale, Tweak

#54805 Fix the "payment required" crap CI is failing on
  .github/workflows/test.yml
Labels: GitHub

#54793 Fixes infective nanite programs not syncing cloud id
  code/modules/research/nanites/nanite_programs/utility.dm
Labels: Fix

#54784 Webedit fixing the logic of a statement about mecha armor plate overlays
  code/datums/components/armor_plate.dm
Labels: Fix

#54775 Fixes pod/closet/crate stuffing
  code/__HELPERS/mobs.dm
Labels: Fix

#54343 [READY] Buffs the Networked Fibers Blob Strain
  code/modules/antagonists/blob/blobstrains/networked_fibers.dm
Labels: Balance/Rebalance, Needs Review

#54546 Improvised bone fixes no longer take a ridiculous amount of time to heal
  code/datums/wounds/bones.dm
Labels: Balance/Rebalance, Fix

#54822 Change cure and fix cure text for Gluttony's Blessing
  code/datums/diseases/transformation.dm
Labels: Fix, Tweak

#54791 Fixes gondolas turning invisible when given a pet collar.
  code/modules/mob/living/simple_animal/friendly/gondola.dm
Labels: Fix

#54785 Newscaster ID scanning is now simpler, works with wallets.
  code/game/machinery/newscaster.dm
Labels: Fix

#54776 Improves admin logging for when TTV valves get opened.
  code/game/communications.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/modules/assembly/signaler.dm
Labels: Administration, Logging

#54779 icebox's second level counts as station too
  _maps/icebox.json
Labels: Fix, Map Edit

#54772 Fixes tech capitalization
  code/modules/research/techweb/all_nodes.dm
Labels: Grammar and Formatting

#54765 HTML formatting on communication consoles, HTML sanitization
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
  tgui/packages/tgui/sanitize.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Fix, Good First PR, UI

#54768 Fixes foods crafted from glowing ingredients having incorrect light_overlay
  code/__DEFINES/dcs/signals.dm
  code/datums/components/overlay_lighting.dm
  code/game/atoms.dm
Labels: Fix

#54798 You can now unbuckle others from the toolbox training machine with altclick.
  code/game/objects/structures/training_machine.dm
Labels: Fix

#54831 Fixes being able to commit suicide with an UNREAL SORD
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#54829 Fixes catwalks smoothing with lattices
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/structures/lattice.dm
Labels: Fix

#54827 Adds shuttle hijack logging.
  code/modules/shuttle/emergency.dm
Labels: Logging

#54824 Adds missing lights to Metastation telecomms storage
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#54753 Fixing multi-z defying mechas (AGAIN)
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix

#54756 No more clickdragging one person to another that isn't you opening inventory windows.
  code/modules/mob/mob.dm
Labels: Fix

#54836 Adds record of toilet combat
  code/game/objects/structures/watercloset.dm
Labels: Logging

#54277 Makes the ChangeTurf same turf optimization work properly again, and converts baseturfs into a string_list
  code/__HELPERS/string_lists.dm
  code/datums/shuttles.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/turf.dm
  code/modules/mapping/mapping_helpers.dm
  icons/turf/debug.dmi
Labels: Sprites

#54643 Fixing GBJ cases where the disposal holder is forcemoved outside a pipe.
  _maps/RandomRuins/SpaceRuins/mechtransport.dmm
  code/__DEFINES/dcs/signals.dm
  code/game/objects/effects/decals/cleanable/aliens.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/robots.dm
  code/modules/recycling/disposal/bin.dm
  code/modules/recycling/disposal/eject.dm
  code/modules/recycling/disposal/holder.dm
  code/modules/recycling/disposal/multiz.dm
  code/modules/recycling/disposal/outlet.dm
  code/modules/recycling/disposal/pipe.dm
  code/modules/recycling/disposal/pipe_sorting.dm
Labels: Fix, Map Edit

#54647 Non-human mobs can now benefit from held id cards and economy.
  code/datums/components/payment.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/bounty_board.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/warrant.dm
  code/game/machinery/gulag_item_reclaimer.dm
  code/game/machinery/roulette_machine.dm
  code/game/objects/items/crab17.dm
  code/game/objects/items/wayfinding.dm
  code/game/objects/structures/displaycase.dm
  code/game/objects/structures/votingbox.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/cargo/orderconsole.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/projectiles/pins.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/special.dm
  code/modules/vending/_vending.dm
Labels: Tweak

#54786 Tweaks Floorbot pathfinding to prevent dogpiles and help prevent duplicate tile placements.
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  sound/effects/whistlereset.ogg
Labels: Fix, Sound

#54764 Fix pai emitter regen rate that was incorrectly modified by delta_time changes.
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Fix

#54730 BotKeeper (tablet app) list populates based on bot unlock access
  code/modules/modular_computers/file_system/programs/robocontrol.dm
Labels: Tweak

#54289 Speargun: Now actually a gun! Again!
  code/game/objects/items/pneumaticCannon.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/weaponry.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/projectiles/ammunition/caseless/misc.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/spells/spell_types/rightandwrong.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/obj/guns/projectile.dmi
Labels: Sprites, Stale, Tweak

#53492 [READY] Space Ninja Rework
  code/datums/actions/ninja.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/machinery/_machinery.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/antagonists/ninja/ninja.dm
  code/modules/antagonists/space_ninja/space_ninja.dm
  code/modules/events/space_ninja.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/ninja/__ninjaDefines.dm
  code/modules/ninja/energy_katana.dm
  code/modules/ninja/ninja_event.dm
  code/modules/ninja/ninja_explosive.dm
  code/modules/ninja/outfit.dm
  code/modules/ninja/suit/gloves.dm
  code/modules/ninja/suit/head.dm
  code/modules/ninja/suit/mask.dm
  code/modules/ninja/suit/n_suit_verbs/energy_net_nets.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_adrenaline.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_cost_check.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_empulse.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_net.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_smoke.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_stars.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_stealth.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_sword_recall.dm
  code/modules/ninja/suit/ninjaDrainAct.dm
  code/modules/ninja/suit/ninja_equipment_actions/energy_net_nets.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_adrenaline.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_cost_check.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_empulse.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_glove_toggle.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_net.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_stars.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_status_read.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_stealth.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_suit_initialisation.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_sword_recall.dm
  code/modules/ninja/suit/shoes.dm
  code/modules/ninja/suit/suit.dm
  code/modules/ninja/suit/suit_attackby.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/items_and_weapons.dmi
  tgstation.dme
Labels: Balance/Rebalance, Needs Review, Sprites

#54744 Syndrones no longer have references to eating weaker drones for health.
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
Labels: Fix

#54749 Adds a few walls and airlocks to the big derelict space ruin to keep atmos diffs down when entered.
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  code/game/objects/structures/aliens.dm
Labels: Fix, Map Edit, Tweak

#54760 Bounty boards are now correctly dispersed and facing the correct directions.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#54698 Easier Medipen Identification, Medipen Box
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/storage.dmi
  icons/obj/syringe.dmi
Labels: Sprites, Tweak

#54851 Blast doors and shutters no longer open when bumpopen() is called
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#54821 Improve naming in new GitHub actions
  .github/workflows/ci_suite.yml
  README.md
Labels: GitHub

#54834 Delete TGUICompiler.php
  tools/TGUICompiler.php
Labels: Tools

#54846 Grep for cable varedits
  tools/ci/check_grep.sh
Labels: Tools

#54809 performance logging
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/controllers/subsystem/time_track.dm
  code/game/world.dm
Labels: Logging

#54857 fix #54855
  code/game/turfs/change_turf.dm
Labels: Fix

#54810 Move death(), gib(), and dust() from /mob to /mob/living
  code/__DEFINES/dcs/signals.dm
  code/datums/components/manual_blinking.dm
  code/datums/components/manual_breathing.dm
  code/datums/components/nanites.dm
  code/datums/components/summoning.dm
  code/datums/mind.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/food/pizza.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/theft_tools.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/blob/blob.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/eldritch_demons.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/spells/spell_types/godhand.dm
  code/modules/spells/spell_types/lichdom.dm
  code/modules/spells/spell_types/shapeshift.dm
  code/modules/vehicles/mecha/_mecha.dm
  tgstation.dme
Labels: Code Improvement

#54838 Reactive table teleport armor uses teleport instead of forcemove
  code/modules/clothing/suits/reactive_armour.dm
Labels: Fix

#54800 Mob stays vertical while in cryo
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
Labels: Fix, Good First PR

#54706 Fix royal alien pixel offset, change getter to variable
  code/__DEFINES/mobs.dm
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/kitchen_spike.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_update_icons.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Labels: Stale

#54684 Rearranges and adds user check to ghost spawners.
  code/modules/awaymissions/corpse.dm
Labels: Fix, Stale

#54673 Observing now broadcasts to deadchat
  code/modules/mob/dead/new_player/new_player.dm
Labels: Feature, Stale

#54695 The clown PDA now has in-built comedy detection for when something happens to the clown and plays a fitting sound.
  code/__DEFINES/dcs/signals.dm
  code/datums/components/creamed.dm
  code/datums/components/mood.dm
  code/datums/components/sitcomlaughter.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/turfs/open/_open.dm
  code/modules/projectiles/gun.dm
  code/modules/vending/_vending.dm
  sound/items/SitcomLaugh1.ogg
  sound/items/SitcomLaugh2.ogg
  sound/items/SitcomLaugh3.ogg
  tgstation.dme
Labels: Feature, Sound, Stale

#54676 Fix erroneous logging of config errors for str_list configuration type
  code/controllers/configuration/config_entry.dm
Labels: Fix, Stale

#54865 Space Ninja Fixes
  code/modules/ninja/suit/ninjaDrainAct.dm
  code/modules/ninja/suit/suit.dm
Labels: Fix

#54873 Luminescent eyes no longer toggle back on with movement. Colour switching keeps light on.
  code/modules/surgery/organs/eyes.dm
Labels: Fix, Tweak

#54849 Grep for spelling nanotrasen as nanotransen
  tools/ci/check_grep.sh
Labels: Tools

#54866 Fixes double tables in service on Delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#54848 Grep for proc(var/bad)
  code/__HELPERS/cmp.dm
  code/datums/mapgen/JungleGenerator.dm
  code/datums/mapgen/_MapGenerator.dm
  code/datums/mapgen/biomes/_biome.dm
  code/game/machinery/computer/mechlaunchpad.dm
  code/game/objects/items/tcg/tcg.dm
  code/modules/atmospherics/machinery/components/binary_devices/binary_devices.dm
  code/modules/atmospherics/machinery/components/trinary_devices/trinary_devices.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/research/techweb/__techweb_helpers.dm
  code/modules/research/xenobiology/vatgrowing/petri_dish.dm
  code/modules/research/xenobiology/vatgrowing/samples/_micro_organism.dm
  code/modules/research/xenobiology/vatgrowing/samples/_sample.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/research/xenobiology/vatgrowing/swab.dm
  code/modules/research/xenobiology/vatgrowing/vatgrower.dm
  tools/ci/check_grep.sh
Labels: Tools

#54847 Grep for stacked cables on maps
  _maps/shuttles/whiteship_kilo.dmm
  tools/ci/check_grep.sh
Labels: Map Edit, Tools

#54869 Poker table dismantling now respects carpet subtypes
  code/game/objects/structures/table_frames.dm
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#54861 Construction icon states for multiz disposals and another peeve.
  code/modules/recycling/disposal/bin.dm
  code/modules/recycling/disposal/construction.dm
  code/modules/recycling/disposal/pipe.dm
  icons/obj/atmospherics/pipes/disposal.dmi
Labels: Fix, Sprites

#54868 Fixed inconsistencies with the extradimensional blade nullrod.
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#54802 Self-CPR fix.
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#54677 Borgs synced to an AI using Doomsday will have their lights force-set to red and enabled to at least level 1
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Balance/Rebalance, Stale

#54897 removes duplicate flyperson organ assignments
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
Labels: Fix, Removal

#54899 Makes /obj/machinery/door/airlock/do_animate non blocking, fixing clown car access woes
  code/game/machinery/doors/airlock.dm
Labels: Fix

#54879 Fixing armsy del ref issue and invincibility
  code/modules/mob/living/simple_animal/eldritch_demons.dm
Labels: Fix

#54870 radial menus ignore the anchor's alpha, color and transform now.
  code/_onclick/hud/radial.dm
Labels: Fix

#54890 Fixes double suit storage unit on mining base
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Map Edit

#54888 Makse baseturfs work as expected
  code/__HELPERS/string_lists.dm
  code/game/turfs/turf.dm
Labels: Fix

#54451 Spider Rework
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/objects/effects/spiders.dm
  code/modules/antagonists/changeling/powers/spiders.dm
  code/modules/events/spider_infestation.dm
  code/modules/language/language_holder.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/movespeed/modifiers/mobs.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/spells/spell_types/shapeshift.dm
  icons/mob/actions/actions_animal.dmi
  icons/mob/animal.dmi
Labels: Balance/Rebalance, Feature, Sprites, Stale

#54886 Cell chargers now respect the law of conservation of energy.
  code/game/machinery/cell_charger.dm
  code/modules/power/power.dm
Labels: Fix

#54837 Fixes mob_holders not going into storage
  code/modules/mob/living/inhand_holder.dm
Labels: Fix

#54858 Fixes a few bugs with greyscale stacks.
  code/datums/components/storage/concrete/stack.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/hot_ice.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/plating.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/inventory.dm
  code/modules/plumbing/ducts.dm
  code/modules/power/cable.dm
  code/modules/power/pipecleaners.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Fix

#54622 Beauty component improvements. Two new fantasy component prefixes
  code/datums/components/beauty.dm
  code/datums/components/fantasy/prefixes.dm
  code/datums/materials/_material.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/statues.dm
Labels: Feature

#54665 Refactored 'IsAdvancedToolUser' into a macro plus relative trait. Tweaked 'can_hold_items'.
  code/__DEFINES/traits.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/traits.dm
  code/_onclick/other_mobs.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/dna_scanner.dm
  code/game/machinery/hypnochair.dm
  code/game/objects/items.dm
  code/game/objects/items/RPD.dm
  code/game/objects/items/crab17.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/dna_injector.dm
  code/game/objects/items/implants/implantchair.dm
  code/game/objects/items/inducer.dm
  code/game/objects/items/storage/book.dm
  code/game/objects/items/toys.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/closed/walls.dm
  code/modules/antagonists/monkey/monkey.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/instruments/items.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/power/cable.dm
Labels: Refactor, Tweak

#54533 No more free stuff in maint
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Balance/Rebalance, Map Edit, Tweak

#54751 Pies are now refactored for new foods.
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__HELPERS/unsorted.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/pneumaticCannon.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/crates/wooden.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/clothing/suits/chaplainsuits.dm
  code/modules/food_and_drinks/food/snacks/dough.dm
  code/modules/food_and_drinks/food/snacks_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  tgstation.dme
Labels: Map Edit, Refactor

#54794 Update TGS4 PreCompile.sh
  tools/tgs4_scripts/PreCompile.sh
Labels: Tools

#54569 Removes yellow slime core plasma reaction, part 2
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Removal, Stale

#54896 Fixes bathhouse ruin walls
  _maps/RandomRuins/IceRuins/icemoon_underground_bathhouse.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
Labels: Fix, Map Edit

#54907 Old Medibot should now heal things besides brute
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Fix

#54913 Removes unintentional garbleing in a garbled message
  code/modules/shuttle/emergency.dm
Labels: Fix, Removal

#54921 Fixes Space Ninja Comms Console Hack Not Working on Occasion
  code/modules/ninja/suit/ninjaDrainAct.dm
Labels: Fix

#54906 fixes the flags of some shocks
  code/datums/mutations/touch.dm
  code/game/objects/structures/holosign.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Fix

#54161 Arconomy: Amputating the Invisible Hand of Income.
  code/__DEFINES/economy.dm
  code/controllers/subsystem/economy.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/modules/economy/account.dm
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.js
  tgui/public/tgui.bundle.js
Labels: Balance/Rebalance, Removal, UI

#54895 tgui: Refactor Asset Delivery
  .vscode/extensions.json
  .vscode/settings.json
  code/modules/tgui/tgui_window.dm
  tgui/.yarn/sdks/eslint/bin/eslint.js
  tgui/.yarn/sdks/eslint/package.json
  tgui/.yarn/sdks/integrations.yml
  tgui/global.d.ts
  tgui/packages/tgui-panel/styles/main.scss
  tgui/packages/tgui/assets.js
  tgui/packages/tgui/backend.js
  tgui/packages/tgui/debug/middleware.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/components/FatalError.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
  tgui/yarn.lock
Labels: Fix, Refactor, Test Merge Candidate, UI

#54934 Butchering mobs will now drop their embedded objects.
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#54632 [ready] Reverts metabolism on stomachs, keep them as important to eating
  code/__DEFINES/DNA.dm
  code/datums/components/rot.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/status_effects/debuffs.dm
  code/datums/traits/negative.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/game/machinery/medical_kiosk.dm
  code/game/objects/items/devices/scanners.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/antagonists/gang/gang.dm
  code/modules/mob/living/bloodcrawl.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/stomach.dm
  code/modules/surgery/surgery_step.dm
  code/modules/unit_tests/metabolizing.dm
  code/modules/unit_tests/reagent_mod_expose.dm
  code/modules/unit_tests/reagent_mod_procs.dm
  code/modules/unit_tests/stomach.dm
Labels: Fix, Needs Review, Revert, Test Merge Candidate

#54705 My Great Big Fat Heretic Proofreading
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_book.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
Labels: Stale, Tweak

#54952 Renames a Naughty Emoji Name
  icons/emoji.dmi
Labels: Fix, Priority: CRITICAL, Sprites

#54912 Fixes roundstart hardcore random characters not receiving points for survival.
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix, Good First PR

#54964 Fixes vending Uis when viewing with no ID.
  tgui/packages/tgui/interfaces/Vending.js
  tgui/public/tgui.bundle.js
Labels: Fix, UI

#54804 [TM Candidate] Fix a number of atmos-related runtimes through pipeline and SSair tweaks.
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/air.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
Labels: Atmospherics, Fix, Stale, Test Merge Candidate

#54910 adds a training machine to delta firing range
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#54937 Two condiment fixes
  code/modules/food_and_drinks/food/condiment.dm
Labels: Fix

#54966 Market crash and inflation works on prices uniformly.
  code/modules/vending/_vending.dm
Labels: Fix

#54965 Mice, Rats, and Regal Rats all trigger mousetrap effects properly.
  code/modules/assembly/mousetrap.dm
Labels: Fix

#54948 Fixes two medipens having no icon when used
  icons/obj/syringe.dmi
Labels: Fix, Sprites

#54693 Movement now works in any client dir
  code/modules/keybindings/bindings_atom.dm
Labels: Code Improvement, Stale

#54991 Add tail entwining
  code/modules/mob/living/living.dm
Labels: Feature

#54977 Fix client time timers duplicating if any client time timer caused a stack overflow.
  code/controllers/subsystem/timer.dm
Labels: Fix

#54941 Fixes some edible material things being inedible/too edible
  code/datums/components/food/edible.dm
Labels: Fix

#54939 Admins can now see chronological order of events in logging tabs.
  code/__DEFINES/flags.dm
  code/game/atoms.dm
  code/modules/admin/verbs/individual_logging.dm
  code/modules/mob/mob_helpers.dm
Labels: Administration, Fix, Logging, Refactor

#54968 Snail Shells are now properly deleted on gib.
  code/modules/mob/living/carbon/human/species_types/snail.dm
Labels: Fix

#54979 Fixes disappearing input fields in paper.
  tgui/packages/tgui/interfaces/PaperSheet.js
  tgui/public/tgui.bundle.js
Labels: Fix, UI

#54969 "Someting"
  code/modules/mob/living/simple_animal/friendly/dog.dm
Labels: Grammar and Formatting

#54922 Fixes disabled limbs from compound fractures, only robotic limbs can be disabled by pure damage now
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/traits/negative.dm
  code/datums/wounds/_wounds.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/slash.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/surgery/advanced/bioware/ligament_reinforcement.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
Labels: Fix, Tweak

#54971 tgui: Refactor Asset Delivery, part 2
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/public/tgui.html
Labels: Fix, Refactor, UI, Verified :heavy_check_mark:

#54252 [ready]Heretic new path : Path of Void [sprites approved]
  code/__DEFINES/achievements.dm
  code/__DEFINES/antagonists.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/maps.dm
  code/__DEFINES/obj_flags.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/components/mood.dm
  code/datums/components/storage/concrete/pockets.dm
  code/datums/looping_sounds/weather.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/void_storm.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_structures.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/void_lore.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/mob/living/carbon/human/examine.dm
  icons/UI_Icons/Achievements/Misc/voidascend.png
  icons/effects/96x96.dmi
  icons/effects/effects.dmi
  icons/effects/weather_effects.dmi
  icons/hud/screen_alert.dmi
  icons/mob/actions/actions_ecult.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/64x64_lefthand.dmi
  icons/mob/inhands/64x64_righthand.dmi
  icons/mob/inhands/misc/touchspell_lefthand.dmi
  icons/mob/inhands/misc/touchspell_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/eldritch.dmi
  icons/obj/items_and_weapons.dmi
  sound/ambience/VoidsEmbrace.ogg
  sound/ambience/license.txt
  sound/magic/voidblink.ogg
  tgstation.dme
Labels: Needs Review, Sound, Sprites

#54929 Spraycans now consume charges in the right order when spraying graffiti.
  code/game/objects/items/crayons.dm
Labels: Fix

#54997 Labels some things in player logging better.
  code/game/atoms.dm
  code/modules/mob/mob_helpers.dm
Labels: Tweak

#54724 [READY] Adds notification support to modular computer apps, updates CIMS to use it
  code/__DEFINES/dcs/signals.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/file_browser.dm
  code/modules/modular_computers/file_system/programs/sm_monitor.dm
  code/modules/power/supermatter/supermatter.dm
  tgui/packages/tgui/interfaces/NtosFileManager.js
  tgui/packages/tgui/interfaces/NtosMain.js
  tgui/public/tgui.bundle.js
Labels: Feature, Needs Review, UI

#54927 Food processors and microwaves now respect food trays
  code/datums/components/storage/storage.dm
  code/game/objects/structures/displaycase.dm
  code/modules/food_and_drinks/kitchen_machinery/food_cart.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
Labels: Fix

#55001 budget cards that are good
  icons/obj/card.dmi
Labels: Sprites

#54926 Wood Datum Materials now have a wood grain texture.
  code/datums/materials/basemats.dm
  icons/materials/composite.dmi
Labels: Fix, Sprites

#54379 [WIP] Remove fusion from reactions, add hypertorus fusion machinery
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/logging.dm
  code/__DEFINES/machines.dm
  code/__DEFINES/reactions.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/sound.dm
  code/game/turfs/open/floor/reinf_floor.dm
  code/modules/admin/admin_investigate.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/components/fusion/hypertorus.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/tank.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/other/miner.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/effects/atmospherics.dmi
  icons/obj/atmos.dmi
  icons/obj/atmospherics/components/hypertorus.dmi
  sound/machines/hypertorus/loops/hypertorus_nominal.ogg
  tgstation.dme
  tgui/packages/tgui/format.js
  tgui/packages/tgui/interfaces/Hypertorus.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Feature, Map Edit, Removal, Sound, Sprites, UI, Work In Progress

#55016 makes wendigo screech use its name in one attack text
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
Labels: Fix

#55002 Stomach food reagents on vomit
  code/modules/surgery/organs/stomach.dm
Labels: Fix

#54999 Reagent holder over exposed
  code/modules/reagents/chemistry/holder.dm
Labels: Fix
