Repository tgstation/tgstation, pull requests merged in 2020-12, with the labels that each got.

#55271 Revert "Automatic TGS DMAPI Update"
  code/__DEFINES/tgs.dm
Labels: Revert

#55107 Luxury shuttle scanner gate bugfixes and improvements
  code/__DEFINES/is_helpers.dm
  code/modules/shuttle/special.dm
Labels: Fix

#55269 unfucks hitting simplemobs with melee attacks (sorry!)
  code/_onclick/item_attack.dm
Labels: Fix

#55207 Ports custom food to new food datum
  code/__DEFINES/dcs/flags.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/traits.dm
  code/datums/components/customizable_reagent_holder.dm
  code/datums/components/food/edible.dm
  code/game/atoms.dm
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/burgers.dm
  code/game/objects/items/food/dough.dm
  code/game/objects/items/food/pizza.dm
  code/game/objects/items/food/salad.dm
  code/game/objects/items/food/spaghetti.dm
  tgstation.dme
Labels: Refactor

#55297 Maybe fixes DMAPI Update PR not triggering actions
  .github/workflows/update_tgs_dmapi.yml
Labels: GitHub

#55264 Fixes detdrobe construction bug
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Fix

#55270 Make unit tests visible to linter and IDE
  code/__HELPERS/_logging.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/reagent_mod_expose.dm
Labels: Merge Conflict, Unit Tests

#55150 Fixes newfood reagent transfer and food trash' to_chat
  code/datums/components/food/edible.dm
  code/datums/elements/food/food_trash.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#54970 You can('t) whisper into comms in crit.
  code/__DEFINES/say.dm
  code/datums/saymode.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_say.dm
Labels: Fix

#55312 Calms down the linter.
  code/modules/mob/living/living_say.dm
Labels: Fix

#55284 Makes fearless trait affect social anxiety
  code/datums/traits/negative.dm
Labels: Fix

#55290 Makes two mood messages first person
  code/datums/mood_events/generic_positive_events.dm
  code/datums/mood_events/needs_events.dm
Labels: Good First PR, Grammar and Formatting

#55295 Fixes new players harddeling when the player logs out
  code/modules/mob/dead/new_player/logout.dm
Labels: Fix

#55281 Fixes the lipstick sprites
  icons/mob/human_face.dmi
Labels: Sprites

#55217 Extends the IC chat filter to be checked in two major renaming procs
  code/__HELPERS/text.dm
  code/game/atoms.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/preferences.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/mob/mob.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Fix

#55288 Fixes carbon revival bug
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#55293 new dark gygax sprites (cool and edgy)
  icons/mecha/mecha.dmi
Labels: Sprites

#55268 Migrate some docs from the GitHub wiki into the repository
  .github/CONTRIBUTING.md
  .github/MAINTAINER_GUIDELINES.md
  code/__DEFINES/misc.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/garbage.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items.dm
  code/game/objects/structures.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/unit_tests/README.md
Labels: Documentation, GitHub, Unit Tests

#55308 Adds amputation shear suicide
  code/modules/surgery/tools.dm
Labels: Feature

#55305 Fixes borg upgrades with action buttons being broken
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#55300 Fixes NanoDrug Plus unused sprite
  code/modules/vending/medical.dm
Labels: Fix

#55283 Make RCD suicide place wall and gib user
  code/game/objects/items/RCD.dm
Labels: Tweak

#55160 Kills oldfood, Puts newfood on top.
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/food.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/components/infective.dm
  code/datums/components/storage/concrete/pockets.dm
  code/datums/elements/food/food_trash.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/watercloset.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/exports/food_and_drink.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/clothing.dm
  code/modules/events/holiday/halloween.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/holiday/easter.dm
  code/modules/holiday/halloween.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/crossbreeding/_misc.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
  code/modules/research/xenobiology/crossbreeding/consuming.dm
  code/modules/research/xenobiology/crossbreeding/reproductive.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/unit_tests/serving_tray.dm
  tgstation.dme
Labels: Map Edit, Refactor, Unit Tests

#55310 Removes a rogue arg from a register signal
  code/_onclick/hud/alert.dm
Labels: Code Improvement, Removal

#55242 Herald Elite Bugfixes
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
Labels: Fix

#54215 Cargo can now order empty supplypods through the express console
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/cargo/expressconsole.dm
  code/modules/cargo/packs.dm
  code/modules/cargo/supplypod.dm
Labels: Feature

#55352 Gas mixes default to room temp if no temp is specified
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: Fix

#55344 Slimes no longer parse speaker names and sayverbs for orders
  code/modules/mob/living/simple_animal/slime/slime_say.dm
Labels: Fix

#55342 snow golems now have chunky fingers trait instead of noguns trait
  code/modules/mob/living/carbon/human/species_types/golems.dm
Labels: Fix

#55330 Fever Chills cap rework
  code/datums/diseases/advance/symptoms/fever.dm
  code/datums/diseases/advance/symptoms/shivering.dm
Labels: Fix

#55364 Fix nth week holidays
  code/__HELPERS/time.dm
  code/modules/holiday/foreign_calendar.dm
  code/modules/holiday/holidays.dm
  code/modules/holiday/nth_week.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/holidays.dm
  tgstation.dme
Labels: Fix, Unit Tests

#55337 Reworks the champion's hardsuit
  code/__DEFINES/colors.dm
  code/__DEFINES/traits.dm
  code/datums/action.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/movespeed/modifiers/items.dm
  icons/mob/actions/actions_items.dmi
  icons/mob/clothing/belt_mirror.dmi
Labels: Balance/Rebalance, Fix, Sprites

#55333 Sound Environments - Adds reverb and echos to rooms
  code/__DEFINES/sound.dm
  code/datums/brain_damage/magic.dm
  code/datums/diseases/heart_failure.dm
  code/datums/status_effects/buffs.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/ai_monitored.dm
  code/game/area/areas.dm
  code/game/area/areas/away_content.dm
  code/game/area/areas/holodeck.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/ruins/_ruins.dm
  code/game/area/areas/shuttles.dm
  code/game/machinery/dance_machine.dm
  code/game/sound.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/creep/creep.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/gang/gang.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/mob/mob_defines.dm
  code/modules/surgery/organs/heart.dm
Labels: Feature, Sound

#55341 New Jukebox sprites from Cornelius Bogfrollup Fitzgerald
  icons/obj/stationobjs.dmi
Labels: Sprites

#55172 Small do-after refactor
  code/__DEFINES/do_afters.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/mobs.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/unsorted.dm
  code/datums/components/butchering.dm
  code/datums/elements/art.dm
  code/datums/wounds/_wounds.dm
  code/datums/wounds/slash.dm
  code/game/atoms.dm
  code/game/objects/items/RPD.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/loom.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/surgery/surgery_step.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
  tgstation.dme
Labels: Refactor

#55134 Fixes a consistency issue in which nightmares to heal faster while jaunting and moving
  code/modules/spells/spell_types/shadow_walk.dm
Labels: Fix

#55335 ClF3 no longer melts walls.
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
Labels: Balance/Rebalance

#55239 Fixes Dynamic Abductors Being Split Up
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Fix, Stale

#55096 Singularity component
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/flags.dm
  code/_globalvars/game_modes.dm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/traumas.dm
  code/datums/components/chasm.dm
  code/datums/components/singularity.dm
  code/datums/components/storage/concrete/bag_of_holding.dm
  code/datums/radiation_wave.dm
  code/game/atoms.dm
  code/game/machinery/shieldgen.dm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/obj_defense.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/morph/morph.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/awaymissions/mission_code/stationCollision.dm
  code/modules/power/singularity/boh_tear.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/supply.dm
  tgstation.dme
Labels: Code Improvement, Refactor, Tweak

#55376 Fix roulette wheel tgui error
  tgui/packages/tgui/interfaces/Roulette.js
  tgui/public/tgui.bundle.js
Labels: Fix, UI

#55358 Acclimator idles when emptying
  code/modules/plumbing/plumbers/acclimator.dm
Labels: Tweak

#55372 Windows "lag" fix
  code/game/objects/structures/window.dm
Labels: Tweak

#55285 Remove SM from delta station atmos and put it in engi
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Feature, Map Edit, Removal

#55254 Removes stray lightswitch from icebox mining base
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit, Removal, Stale

#54963 Refactors how movetype flags are added and removed and the floating animation
  code/__DEFINES/misc.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/throwing.dm
  code/datums/components/caltrop.dm
  code/datums/components/chasm.dm
  code/datums/components/slippery.dm
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/structures/life_candle.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/ventcrawling.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/lighting.dm
  code/modules/surgery/organs/augments_chest.dm
Labels: Fix, Refactor, Stale

#54924 pass_flags handling refactor + rewrites a part of projectiles for the n-th time
  code/__DEFINES/combat.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/projectiles.dm
  code/_globalvars/bitfields.dm
  code/_onclick/adjacent.dm
  code/controllers/subsystem/throwing.dm
  code/datums/components/mirv.dm
  code/datums/components/pellet_cloud.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/items/devices/forcefieldprojector.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/tank_holder.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/assembly/infrared.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/jungle/mook.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob_defines.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/guns/misc/blastcannon.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/sniper.dm
  code/modules/projectiles/projectile/bullets/special.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/projectiles/projectile/special/curse.dm
  code/modules/religion/religion_structures.dm
  code/modules/spells/spell_types/projectile.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/projectiles.dm
  code/modules/vehicles/ridden.dm
  tgstation.dme
Labels: Fix, Refactor, Tweak, Unit Tests

#55241 Firelocks no longer open when bumped by vehicles
  code/game/machinery/doors/firedoor.dm
Labels: Balance/Rebalance, Fix, Stale

#55304 Update precompile.sh with the one I had to use to get everything to work
  tools/tgs4_scripts/PreCompile.sh
Labels: Stale, Tools

#55406 Assign correct payment department to the NanoDrug
  code/modules/vending/medical.dm
Labels: Fix

#55292 Adds the distinguished employees gallery to Meta and Delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/modules/photography/photos/frame.dm
Labels: Map Edit, Stale, Tweak

#55432 Reverts (#54963) due to timer spam
  code/__DEFINES/misc.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/controllers/subsystem/throwing.dm
  code/datums/components/caltrop.dm
  code/datums/components/chasm.dm
  code/datums/components/slippery.dm
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/structures/life_candle.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/ventcrawling.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/lighting.dm
  code/modules/surgery/organs/augments_chest.dm
Labels: FUCK, Revert

#55417 Makes Metalgen Unrecycleable
  code/__DEFINES/materials.dm
  code/__DEFINES/traits.dm
  code/datums/elements/turf_transparency.dm
  code/game/atoms.dm
  code/modules/cargo/exports/materials.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#55420 Everything that uses maptext now uses the class that makes it actually readable
  code/__DEFINES/misc.dm
  code/__HELPERS/game.dm
  code/__HELPERS/icons.dm
  code/_onclick/hud/credits.dm
  code/_onclick/hud/movable_screen_objects.dm
  code/controllers/subsystem/explosions.dm
  code/datums/action.dm
  code/datums/chatmessage.dm
  code/datums/components/storage/storage.dm
  code/game/objects/effects/countdown.dm
  code/game/objects/items/devices/electroadaptive_pseudocircuit.dm
  code/game/objects/items/devices/gps.dm
  code/modules/admin/sound_emitter.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/glasses/engine_goggles.dm
  code/modules/mob/living/carbon/alien/screen.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/paperwork/ticketmachine.dm
  code/modules/power/cable.dm
Labels: Tweak

#55416 Replace direct poi_list manipulation with element
  code/datums/elements/point_of_interest.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/eightball.dm
  code/game/objects/items/his_grace.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/corpse.dm
  code/modules/events/immovable_rod.dm
  code/modules/events/wizard/greentext.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/friendly/drone/drones_as_items.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/spells/spell_types/lichdom.dm
  code/modules/swarmers/swarmer_objs.dm
  code/modules/vehicles/mecha/_mecha.dm
  tgstation.dme
Labels: Code Improvement

#55410 X-Ray gun is larger not bag friendly
  code/modules/projectiles/guns/energy/laser.dm
Labels: Balance/Rebalance, Fix

#55413 Crates and bountes are now defined by crate's value and paygrades. Civilian bounty payout is higher and uncheesable.
  code/__DEFINES/cargo.dm
  code/datums/components/payment.dm
  code/datums/shuttles.dm
  code/game/machinery/civilian_bounties.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/botany.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cargo/bounties/engineering.dm
  code/modules/cargo/bounties/mech.dm
  code/modules/cargo/bounties/medical.dm
  code/modules/cargo/bounties/mining.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/cargo/bounties/science.dm
  code/modules/cargo/bounties/security.dm
  code/modules/cargo/bounties/slime.dm
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/bounties/virus.dm
  code/modules/cargo/exports/gear.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/cargo/exports/manifest.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/exports/organs.dm
  code/modules/cargo/exports/parts.dm
  code/modules/cargo/exports/seeds.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/cargo/exports/tools.dm
  code/modules/cargo/exports/weapons.dm
  code/modules/cargo/exports/xenobio.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs.dm
  code/modules/power/cell.dm
Labels: Balance/Rebalance, Fix, Refactor

#55414 Changes painting frame description to explain how they work
  code/game/objects/structures/artstuff.dm
Labels: Grammar and Formatting

#55400 Add config for discord bot prefix
  code/controllers/configuration/entries/general.dm
  code/modules/discord/accountlink.dm
  config/config.txt
Labels: Config Update, Tweak

#55374 Adds in the admin outfit.
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Administration

#55356 Moths can now consume clothes again
  code/modules/clothing/clothing.dm
Labels: Fix

#55278 Fixes harddels in snowflake chem dispenser code
  code/game/machinery/Sleeper.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix

#55327 Refactors smiting, adds smite build mode
  code/__DEFINES/admin.dm
  code/_globalvars/lists/admin.dm
  code/modules/admin/smites/bad_luck.dm
  code/modules/admin/smites/berforate.dm
  code/modules/admin/smites/bloodless.dm
  code/modules/admin/smites/boneless.dm
  code/modules/admin/smites/brain_damage.dm
  code/modules/admin/smites/bread.dm
  code/modules/admin/smites/bsa.dm
  code/modules/admin/smites/dock_pay.dm
  code/modules/admin/smites/fake_bwoink.dm
  code/modules/admin/smites/fat.dm
  code/modules/admin/smites/fireball.dm
  code/modules/admin/smites/gib.dm
  code/modules/admin/smites/immerse.dm
  code/modules/admin/smites/knot_shoes.dm
  code/modules/admin/smites/lightning.dm
  code/modules/admin/smites/nugget.dm
  code/modules/admin/smites/puzzle.dm
  code/modules/admin/smites/rod.dm
  code/modules/admin/smites/scarify.dm
  code/modules/admin/smites/smite.dm
  code/modules/admin/smites/supply_pod.dm
  code/modules/admin/smites/supply_pod_quick.dm
  code/modules/admin/verbs/bluespacearty.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/buildmode/submodes/smite.dm
  icons/misc/buildmode.dmi
  tgstation.dme
Labels: Administration, Refactor, Sprites

#55317 Makes drying racks apply color properly
  code/datums/elements/dryable.dm
Labels: Fix, Stale

#55435 Fixes spelling error
  code/datums/status_effects/debuffs.dm
Labels: Grammar and Formatting

#55299 Adds binds for targeting the eyes and mouth
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/mob_movement.dm
Labels: Stale, Tweak

#55252 Caltrops and footsteps now properly check whether your shoes actually cover your feet.
  code/datums/components/caltrop.dm
  code/datums/components/footstep.dm
Labels: Stale, Tweak

#55349 Fixes donuts overriding taste reaction
  code/datums/components/food/edible.dm
Labels: Fix

#55398 Planetary Atmos Changes
  code/game/turfs/open/openspace.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/ruins/icemoonruin_code/hotsprings.dm
Labels: Tweak

#55462 Fixes lava spawning when you mine rocks
  code/datums/mapgen/CaveGenerator.dm
Labels: Fix, GBP: No Update

#55408 Ash lizards don't know galactic common
  code/game/objects/structures/ghost_role_spawners.dm
Labels: Removal

#55240 Ninja Equipment Fixes
  code/modules/ninja/suit/shoes.dm
  code/modules/ninja/suit/suit.dm
Labels: Fix, Stale

#55441 GBP Tweaks
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools

#55455 [Port] Sanitizes layer manifolds SetInitDirections()
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
Labels: Fix

#55485 [s]Fix inverted check where if permanent rank changes were disabled in the config, all rank changes would instead always go to the db, even bypassing DBRANK checks.
  code/modules/admin/permissionedit.dm
Labels: Administration, Fix, Priority: High

#55454 Prevents bypassing the bluespace anomaly core limit by killing ice demons
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
Labels: Fix

#55453 Fixes RPD runtime
  code/game/objects/items/RPD.dm
Labels: Fix

#55445 Tweak typography of elephant graveyard ruin
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
Labels: Grammar and Formatting

#55456 Prevents bypassing the bluespace anomaly core limit by destroying demon portals
  code/game/objects/structures/icemoon/cave_entrance.dm
Labels: Fix

#55306 You can sacrifice souls to toolboxes
  code/__DEFINES/achievements.dm
  code/datums/achievements/misc_achievements.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/mob/living/simple_animal/shade.dm
  icons/UI_Icons/Achievements/Misc/toolbox_soul.png
Labels: Feature, Sprites, Stale

#55345 Temperature control unit
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/unit_tests/machine_disassembly.dm
  tgui/packages/tgui/interfaces/ThermoMachine.js
  tgui/public/tgui.bundle.js
Labels: Feature, Tweak, UI

#55262 [READY] Makes the Donut Whiteship function better
  _maps/shuttles/whiteship_donut.dmm
Labels: Fix, Map Edit, Needs Review, Stale, Tweak

#55287 Removes the white tiles in the kitchen hallway on Ice Box.
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Feature, Map Edit, Removal, Stale

#55404 Fix icebox viro and incinerator disposals not spacing
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#55332 Fixes an oversight allowing players to list ckeys and the names of the mobs they're controlling under certain conditions
  code/modules/client/verbs/ooc.dm
Labels: Fix, Stale

#55469 Stationloving objects now buzz when their stationloving component teleports them back to the station
  code/datums/components/stationloving.dm
Labels: Feature

#55467 phylactery now makes items stationloving
  code/modules/spells/spell_types/lichdom.dm
Labels: Balance/Rebalance

#55440 you can now var edit gateway sprites
  code/modules/awaymissions/gateway.dm
Labels: Code Improvement

#55387 Job gloves no longer override tongue-tied radio gloves
  code/datums/traits/neutral.dm
Labels: Fix

#55359 Adds new sprites for persistent albums
  code/datums/traits/neutral.dm
  code/modules/photography/photos/album.dm
  icons/obj/items_and_weapons.dmi
Labels: Sprites, Stale

#55346 Changes what makarovs and APS machine pistols look like suppressed
  code/modules/projectiles/guns/ballistic/pistol.dm
  icons/obj/guns/projectile.dmi
Labels: Sprites, Stale, Tweak

#55238 [READY] Creates Datumized AI and applies it to monkeys
  code/__DEFINES/DNA.dm
  code/__DEFINES/ai.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/monkeys.dm
  code/__DEFINES/vv.dm
  code/_globalvars/lists/mobs.dm
  code/controllers/subsystem/processing/ai_controllers.dm
  code/datums/ai/README.md
  code/datums/ai/_ai_behavior.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/generic_actions.dm
  code/datums/ai/monkey/monkey_behaviors.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/datums/mutations/body.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/game/objects/items/handcuffs.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/clothing/head/helmet.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/monkey/combat.dm
  code/modules/mob/living/carbon/monkey/life.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/carbon/monkey/punpun.dm
  code/modules/mob/transform_procs.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/recycling/disposal/bin.dm
  sound/creatures/monkey/monkey_screech_1.ogg
  sound/creatures/monkey/monkey_screech_2.ogg
  sound/creatures/monkey/monkey_screech_3.ogg
  sound/creatures/monkey/monkey_screech_4.ogg
  sound/creatures/monkey/monkey_screech_5.ogg
  sound/creatures/monkey/monkey_screech_6.ogg
  sound/creatures/monkey/monkey_screech_7.ogg
  tgstation.dme
Labels: Config Update, Do Not Merge, Needs Review, Refactor, Sound

#55253 Stops hot oil from frying certain objects
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Fix, Tweak

#55274 Fixes emergency tanks inhand sprites and adjusts double yellow emergency tanks volume.
  code/game/objects/items/tanks/tank_types.dm
  icons/mob/inhands/equipment/tanks_lefthand.dmi
  icons/mob/inhands/equipment/tanks_righthand.dmi
Labels: Fix, Merge Conflict, Sprites, Stale

#55328 Cyborg skin selection fix
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix, Stale

#55421 Replaces invisible tables in the research away mission
  _maps/RandomZLevels/research.dmm
Labels: Fix, Map Edit, Removal

#55476 Kilo mapping fixes
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

#55319 [READY] Kitchen Rework part 1: I just want to griddle!
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/flags.dm
  code/_onclick/click.dm
  code/datums/components/grillable.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/atoms.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/food/meat.dm
  code/game/objects/items/food/misc.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/effects/steam.dmi
  icons/obj/food/food.dmi
  icons/obj/machines/griddle.dmi
  sound/machines/grill/grillsizzle.ogg
  tgstation.dme
Labels: Feature, Map Edit, Needs Review, Sound, Sprites, Tweak

#55395 Disconnect and Reconnect messages for deadchat
  code/__DEFINES/misc.dm
  code/__DEFINES/preferences.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/unsorted.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/mob/mob_helpers.dm
Labels: Feature

#55461 Gives spoons `TOOL_MINING`, adds spoons to autolathe and prison vending machines
  code/game/objects/items/kitchen.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/drinnerware.dm
  code/modules/vending/sustenance.dm
Labels: Feature

#55389 Refactors how humans receive damage from xenomorphs, monkeys & slimes
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Refactor

#55519 Adds Waitangi Day and ANZAC Day to holidays.dm
  code/modules/holiday/holidays.dm
Labels: Feature

#55529 Supermatter gasmix cleanup
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#55510 Fix HFR infinite gas production
  code/modules/atmospherics/machinery/components/fusion/hypertorus.dm
  tgstation.dme
Labels: Fix

#55546 Replaces deprecated access syntax in github_webhook_processor.php
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools

#55520 Fixes cleaving saw + whetstone interaction
  code/game/objects/items/melee/transforming.dm
Labels: Fix

#55339 Runtime condenser supports rustg continuing line syntax
  tools/Runtime Condenser/Main.cpp
  tools/Runtime Condenser/RuntimeCondenser.exe
Labels: Tools

#55307 Adaptive Paint now uses a radial menu for choosing its color variants
  code/game/objects/items/paint.dm
Labels: Stale, Tweak

#55541 removes penalizing players for turning off their deadchat broadcast
  code/modules/client/client_procs.dm
Labels: Fix

#55495 fixes the clusterfuck of projectile issues
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/mob/living/living_movement.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#55532 Fix Hanukkah (again) and refactor Moth Week and Beer Day
  code/__HELPERS/time.dm
  code/controllers/subsystem/events.dm
  code/modules/holiday/foreign_calendar.dm
  code/modules/holiday/holidays.dm
  code/modules/holiday/nth_week.dm
  code/modules/unit_tests/holidays.dm
Labels: Fix, Refactor, Unit Tests

#55343 Removes roundstart miasma, from everything.
  code/datums/components/rot.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/life.dm
Labels: Removal, Tweak

#55384 Airlocks take small amounts of damage from Jaws of Life
  code/game/machinery/doors/airlock.dm
Labels: Tweak

#55563 Fixes GC for observers and new players, and tons of loose references to stuff that shouldnt be
  code/datums/hud.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#55564 Fixes GC for songs
  code/modules/instruments/songs/_song.dm
Labels: Fix

#55540 Nar'Sie is now a point of interest, and can be orbited directly again
  code/modules/power/singularity/narsie.dm
Labels: Fix

#55522 Whetstone comments and code readability improvements
  code/game/objects/items/sharpener.dm
Labels: Documentation, Verified :heavy_check_mark:

#55533 Adds bounty name, value and holder to bounty cube description
  code/game/machinery/civilian_bounties.dm
Labels: Feature, Tweak

#55570 Fixes spelling for richest/most affluent crewmember message at roundend
  code/__HELPERS/roundend.dm
Labels: Grammar and Formatting

#55562 Webedit fixing GLOBAL_PROC advanced proc calls.
  code/modules/admin/callproc/callproc.dm
Labels: Fix, Verified :heavy_check_mark:

#55556 Fixes HARS replacing the brain (which fixes various traumas)
  code/datums/mutations/body.dm
Labels: Fix

#55549 berserker hardsuit now has mining suit levels of explosive protection
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Balance/Rebalance, GBP: No Update

#55515 Makes it so player-controller monkeyized humans dont also keep AI control + extra AI controller fixes
  code/__DEFINES/ai.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/monkey/monkey_controller.dm
Labels: Fix

#55547 Makes light eaters acid proof
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: Fix

#55506 Tweaks icebox cavegen a bit to have more rocks on the surface
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
Labels: Tweak

#55366 Stop one of the machine stacking exploit
  code/game/machinery/_machinery.dm
  code/game/turfs/turf.dm
Labels: Fix, Stale

#55439 Fix "maid apron" and "captain pirate coat" icon states
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/suits.dmi
Labels: Fix, Sprites, Stale

#55582 Fixes blob announcement time
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/powers.dm
Labels: Fix

#55580 Prevent phobias being triggered by words you don't understand
  code/__DEFINES/dcs/signals.dm
  code/datums/brain_damage/phobia.dm
Labels: Fix

#55577 Adding heretic items to hallucinations
  code/modules/flufftext/Hallucination.dm
Labels: Feature

#55581 Simple bots can pass through plastic flaps again
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/hygienebot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/vibebot.dm
Labels: Fix

#55478 Fix briefcause launchpads qdelling their internal launchpad on creation
  code/game/machinery/launch_pad.dm
Labels: Fix

#55396 Removed semicolon output in critical state
  code/modules/mob/mob_say.dm
Labels: Fix, Good First PR

#55318 fixes inconsistency with sec armors and police batons
  code/__DEFINES/inventory.dm
Labels: Fix, Stale

#55599 Lowers the amount of footstep component churn
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Code Improvement

#55246 Filterrific!
  code/__DEFINES/colors.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/filters.dm
  code/_onclick/hud/plane_master.dm
  code/game/atoms.dm
  code/game/objects/structures/statues.dm
  code/modules/admin/holder2.dm
  code/modules/admin/view_variables/filterrific.dm
  code/modules/antagonists/nukeop/equipment/borgchameleon.dm
  code/modules/cargo/supplypod.dm
  code/modules/client/client_procs.dm
  code/modules/mob/living/living.dm
  tgstation.dme
  tgui/docs/component-reference.md
  tgui/packages/common/math.js
  tgui/packages/tgui/components/Dropdown.js
  tgui/packages/tgui/interfaces/Filteriffic.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Refactor, UI

#55548 Some griddle fixes
  code/game/objects/items/food/meat.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
  code/modules/hydroponics/grown/towercap.dm
Labels: Fix

#55480 Adds festive sugar cookie designs for holiday.
  code/game/objects/items/food/pastries.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#55193 Refactors Beams to use signals: Revived from 2019 edition! BONUS: Medbeams are also refactored to use signals
  code/datums/beam.dm
  code/datums/dash_weapon.dm
  code/datums/martial/plasma_fist.dm
  code/game/objects/items/RCD.dm
  code/game/objects/items/melee/misc.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/guardian/types/lightning.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/ninja/suit/ninja_equipment_actions/ninja_net.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/projectiles/guns/misc/medbeam.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/projectiles/projectile/special/curse.dm
  code/modules/research/stock_parts.dm
  code/modules/spells/spell_types/lichdom.dm
  code/modules/spells/spell_types/lightning.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/shield.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
Labels: Refactor, Stale

#55367 [READY] Lavaland Elite Changes
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/pandora.dm
Labels: Balance/Rebalance, Needs Review, Stale, Tweak

#55499 A handful of Kilo Station fixes.
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#55600 Kills twitching corpses dead
  code/game/atoms_movable.dm
  code/modules/keybindings/bindings_atom.dm
  code/modules/mob/living/living_movement.dm
Labels: Fix

#55569 Fix Broodmother spider action button
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Fix

#55573 Buffs the Blastcannon
  code/modules/projectiles/guns/misc/blastcannon.dm
Labels: Balance/Rebalance

#55584 tgui: Cyborg Boot Debug
  code/game/objects/items/robot/robot_parts.dm
  tgui/packages/tgui/interfaces/CyborgBootDebug.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Refactor, UI

#55589 Fixes magic locker sprite being weird
  code/modules/projectiles/projectile/magic.dm
Labels: Fix

#55618 Don't auto apply unit tests label
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools, Verified :heavy_check_mark:

#55383 Hulks can now swing people by their tails + small changes to carbon throw impacts
  code/__DEFINES/combat.dm
  code/datums/mutations/hulk.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Feature, Tweak

#55632 You can't eat appendices scot free anymore (ew)
  code/modules/surgery/organs/appendix.dm
Labels: Fix

#55559 Rerolling blob strains now uses a radial menu, and lets you see what the strain does before picking it
  code/__DEFINES/antagonists.dm
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/radial.dm
  code/game/objects/effects/info.dm
  code/modules/antagonists/blob/blobstrains/_blobstrain.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/antagonists/blob/structures/_blob.dm
  icons/effects/effects.dmi
  tgstation.dme
Labels: Feature, Sprites

#55612 Make singularity dissipation use delta time
  code/modules/power/singularity/singularity.dm
Labels: Code Improvement
