Repository tgstation/tgstation, pull requests merged in 2020-05, with the labels that each got.

#50764 Removes the compact combat shotgun 2: Electric Boogaloo
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/obj/guns/projectile.dmi
Labels: Removal, Sprites

#50660 Policy Config Clarifies To_Chat Is NOT Support of Policy Feature
  .github/POLICYCONFIG.md
Labels: GitHub

#50664 Makes an adjustment to contribution.MD to enforce the use of our time defines
  .github/CONTRIBUTING.md
Labels: GitHub

#50674 Unjanks macrobomb implants
  code/game/objects/items/implants/implant_explosive.dm
Labels: Balance/Rebalance, Fix

#50769 tgui: Find BYOND cache via Windows Registry
  tgui/packages/tgui-dev-server/reloader.js
  tgui/packages/tgui-dev-server/winreg.js
Labels: UI, Verified :heavy_check_mark:

#50701 Foreigner Quirk, Adds Galactic Uncommon
  code/datums/traits/neutral.dm
  code/modules/language/language_holder.dm
  code/modules/language/uncommon.dm
  code/modules/surgery/organs/tongue.dm
  icons/misc/language.dmi
  tgstation.dme
Labels: Feature, Sprites

#50689 Adds a few more smites
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Administration

#50757 Buffs pAI spawns for BoxStation
  _maps/map_files/BoxStation/BoxStation.dmm
  tgstation.dme
Labels: Feature, Map Edit

#50787 Removes Galuncom from non-human/felinid Foreigners
  code/datums/traits/neutral.dm
Labels: Fix, Removal

#50586 Resprites for area icons
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas/mining.dm
  icons/turf/areas.dmi
Labels: Feature, Sprites

#50647 Sorts quirks into medical record categories
  code/__DEFINES/traits.dm
  code/datums/datacore.dm
  code/datums/traits/_quirk.dm
  code/game/machinery/computer/medical.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Tweak

#50713 changes geneticist uplink item availability to rd instead of cmo
  code/modules/uplink/uplink_items.dm
Labels: Fix

#50727 Fixes canister export runtime
  code/modules/cargo/exports/large_objects.dm
Labels: Fix

#50794 Fixes med record population
  code/datums/traits/_quirk.dm
Labels: Fix

#50780 fixing a few super small issues with usage of the & operator
  code/datums/components/edible.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/items/stacks/medical.dm
Labels: Code Improvement, Fix

#50748 fix message when plastic spoons/forks break
  code/game/objects/items/kitchen.dm
Labels: Fix

#50754 you can no longer privately pay for stuff with departmental budgets
  code/game/objects/items/cards_ids.dm
  code/modules/cargo/console.dm
Labels: Balance/Rebalance

#50728 Attempts to fix space suit thermal protection.
  code/modules/clothing/spacesuits/_spacesuits.dm
Labels: Fix

#50802 Fixes hierophant vortex runtime
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: Fix

#50735 [READY] Redesigns Metastation Perma with Box-Style Rooms
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Balance/Rebalance, Feature, Map Edit, Needs Review

#50752 Some more fixes for signs and related stuff.
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/structures/artstuff.dm
  code/game/objects/structures/plaques/_plaques.dm
  code/game/objects/structures/plaques/static_plaques.dm
  code/game/objects/structures/signs/_signs.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/photography/photos/frame.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites, Tweak

#50753 Ports tables from Sunset Station (Sprites are credited to Quantum-M)
  code/game/objects/structures/table_frames.dm
  icons/obj/smooth_structures/glass_table.dmi
  icons/obj/smooth_structures/poker_table.dmi
  icons/obj/smooth_structures/table.dmi
  icons/obj/smooth_structures/table_greyscale.dmi
  icons/obj/smooth_structures/wood_table.dmi
  icons/obj/structures.dmi
Labels: Sprites, Tweak

#50778 fixes mat datum sheet crafting
  code/game/objects/items/stacks/stack.dm
Labels: Fix

#50719 fixes the targeting of the cortex bioware surgeries
  code/modules/surgery/advanced/bioware/cortex_folding.dm
  code/modules/surgery/advanced/bioware/cortex_imprint.dm
Labels: Fix

#50801 Exo-locomotion nanites now actually spread again
  code/modules/research/nanites/nanite_programs/utility.dm
Labels: Fix

#50610 The Bogdanoffs have upgraded CRAB-17. You can't escape the dump.
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/crab17.dm
  code/modules/economy/account.dm
Labels: Balance/Rebalance

#50597 [Ready] Policy config refactor for Forgottenship ruin.
  code/game/objects/structures/ghost_role_spawners.dm
Labels: Needs Review, Tweak

#50830 Fixes Null Reference + Qdel Issue in Runechat
  code/datums/chatmessage.dm
Labels: Fix

#50782 Add look up verb for multi-z
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/is_helpers.dm
  code/datums/keybinding/living.dm
  code/modules/mob/living/living.dm
Labels: Feature

#50637 Shrapnel mines no longer crash server, cleans up pellets a bit, take 2
  code/datums/components/embedded.dm
  code/datums/components/pellet_cloud.dm
  code/datums/mutations/actions.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/machinery/deployable.dm
  code/game/objects/effects/mines.dm
  code/game/objects/items.dm
  code/game/objects/items/grenades/antigravity.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/grenades/clusterbuster.dm
  code/game/objects/items/grenades/emgrenade.dm
  code/game/objects/items/grenades/festive.dm
  code/game/objects/items/grenades/flashbang.dm
  code/game/objects/items/grenades/ghettobomb.dm
  code/game/objects/items/grenades/grenade.dm
  code/game/objects/items/grenades/hypno.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/grenades/smokebomb.dm
  code/game/objects/items/grenades/spawnergrenade.dm
  code/game/objects/items/grenades/syndieminibomb.dm
  code/game/objects/items/spear.dm
  code/modules/cargo/packs.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/mob/living/living_defense.dm
Labels: Fix, Tweak

#50775 [READY]Major explosive rebalanance and changes patch: Edge strikes back
  code/game/objects/structures/lavaland/geyser.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Balance/Rebalance, Feature, Needs Review

#50712 Fixes an issue with sentient diseases and darkness
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/disease/disease_mob.dm
Labels: Fix

#50759 Asset cache updates.
  code/__HELPERS/icons.dm
  code/datums/browser.dm
  code/modules/asset_cache/asset_cache.dm
  code/modules/asset_cache/asset_cache_client.dm
  code/modules/asset_cache/asset_cache_item.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/asset_list_items.dm
  tgstation.dme
Labels: Performance, Test Merge Candidate

#50734 Various Antagonist Handgun/Rifle changes; Stechkin, Stechkin APS, c20-r, m90gl
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  code/__DEFINES/flags.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/ammo.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/projectiles.dmi
Labels: Balance/Rebalance, Map Edit, Sprites, Tweak

#50797 king of goat goats are now large mobs
  code/modules/mob/living/simple_animal/hostile/megafauna/king_of_goats.dm
Labels: Balance/Rebalance

#50815 The clown now bleeds colorful reagent on April Fools.
  code/modules/mob/living/blood.dm
Labels: April Fools, Feature, Verified :heavy_check_mark:

#50826 Medical doctors no longer have genetics access.
  code/modules/jobs/job_types/medical_doctor.dm
Labels: Fix

#50789 Fixes for Pubby.
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit

#50849 RnD Console list view no longer displays BEPIS-only nodes
  code/modules/research/rdconsole.dm
Labels: Fix

#50745 Fixes Ethereals being hungry all the time
  code/__DEFINES/mobs.dm
Labels: Balance/Rebalance

#50812 removing some duplicated proc definitions
  code/datums/components/plumbing/reaction_chamber.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/storage/holsters.dm
  code/game/objects/structures/reflector.dm
  code/modules/antagonists/cult/cult_turf_overlay.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/mining/fulton.dm
  code/modules/mob/living/simple_animal/bot/hygienebot.dm
Labels: Code Improvement, Fix

#50893 Assorted defib mount logic fixes for #50880 and #50881
  code/game/machinery/defibrillator_mount.dm
Labels: Fix

#50922 New Defines Now Require Documentation (Similarly to Variables)
  .github/AUTODOC_GUIDE.md
Labels: GitHub

#50905 Add onmob headset icons
  icons/mob/clothing/ears.dmi
Labels: Fix, Good First PR, Sprites

#50761 Fixes changelog compile action changing line endings of changelog file
  .github/workflows/compile_changelogs.yml
Labels: GitHub

#50763 Lizards X Autohiss: Ecks', Z's and Kss's.
  code/modules/surgery/organs/tongue.dm
Labels: Tweak

#50755 upgrades potty's status
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/objects/structures/flora.dm
  icons/obj/flora/plants.dmi
Labels: Map Edit, Sprites

#50811 Fixes stabilized black runtime
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Fix

#50885 Fixes the random white pixel on the ears missing texture.
  icons/mob/clothing/ears.dmi
Labels: Fix, Sprites

#50693 Unborks sensory restoration and makes some tweaks to how oculine works
  code/datums/diseases/advance/symptoms/hallucigen.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix

#50824 unshittifies blood drunk effect
  code/datums/status_effects/buffs.dm
Labels: Fix

#50809 Fixes ORM scooping bugs.
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_redemption.dm
Labels: Fix

#50707 Cooked food can now be exported through cargo, Take 2.
  code/__DEFINES/food.dm
  code/modules/cargo/exports/food_and_drink.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/food_and_drinks/food/snacks_burgers.dm
  code/modules/food_and_drinks/food/snacks_cake.dm
  code/modules/food_and_drinks/food/snacks_egg.dm
  code/modules/food_and_drinks/food/snacks_frozen.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/food/snacks_pie.dm
  code/modules/food_and_drinks/food/snacks_pizza.dm
  code/modules/food_and_drinks/food/snacks_salad.dm
  code/modules/food_and_drinks/food/snacks_sandwichtoast.dm
  code/modules/food_and_drinks/food/snacks_soup.dm
  code/modules/food_and_drinks/food/snacks_spaghetti.dm
  code/modules/food_and_drinks/food/snacks_vend.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/xenobiology.dm
  tgstation.dme
Labels: Feature, Stale, UI

#50813 Remodels king goat ruin
  _maps/RandomRuins/LavaRuins/kinggoatboss.dmm
  _maps/RandomRuins/SpaceRuins/kinggoatarena.dmm
  code/game/turfs/open/_open.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/king_of_goats.dm
  icons/mob/animal.dmi
Labels: Map Edit, Sprites, Tweak

#50853 Fixes inhand icons for signs and plaques.
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: Sprites

#50852 you can now uniquely rename the kinetic crusher
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Feature

#50837 slimes can now break walls with fugu gland
  code/_onclick/other_mobs.dm
Labels: Fix

#50836 Fix hardsuit cell draining even when thermals are off
  code/modules/clothing/spacesuits/_spacesuits.dm
Labels: Fix

#50756 Fixes bananium shields inhands.
  icons/mob/inhands/equipment/shields_lefthand.dmi
  icons/mob/inhands/equipment/shields_righthand.dmi
Labels: Sprites

#50834 Lavaland base turbine now charges SMES
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
Labels: Fix, Map Edit

#50862 Patching the DMAPI
  code/__DEFINES/tgs.dm
  code/datums/helper_datums/getrev.dm
  code/datums/tgs_event_handler.dm
  code/game/world.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  tgstation.dme
Labels: dependencies

#50806 Janitorial cart now uses a radial menu
  code/game/objects/structures/janicart.dm
Labels: Feature

#50903 Fixes Chasms
  code/game/turfs/open/chasm.dm
Labels: Fix

#50890 Rename uplink 10mm ammo.
  code/modules/uplink/uplink_items.dm
Labels: Fix, Grammar and Formatting

#50886 Fixes price of parasite candy bar
  code/modules/food_and_drinks/food/snacks_vend.dm
Labels: Fix

#50889 Doomsday being activated while the AI is dead fix
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Fix

#50758 You can now eat bees.
  code/game/objects/items/trash.dm
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  icons/mob/bees.dmi
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#50864 Removes two obsolete linting scripts
  tools/ColonCatcher/ColonCatcher.py
  tools/UnquotedListAssociations/2016-11-27-unquoted_list_associations_log.txt
  tools/UnquotedListAssociations/UnquotedListAssociations.py
Labels: Removal, Tools

#50729 Radial card hands
  code/game/objects/items/toys.dm
Labels: Tweak

#50703 Light Tiles use a Radial Menu and other tweaks
  code/game/turfs/open/floor/light_floor.dm
  icons/turf/floors.dmi
Labels: Removal, Sprites, Tweak

#50845 [READY] More Perma and Cargo Cleanups
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Fix, Map Edit, Needs Review

#50911 Adds a sci wardrobe vendor to meta.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#50916 updates colossus sprites
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  icons/mob/lavaland/96x96megafauna.dmi
Labels: Sprites

#50832 reduce amount of lists that exist during runtime for custom materials
  code/controllers/subsystem/materials.dm
  code/game/atoms.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/research/machinery/_production.dm
Labels: Code Improvement

#50831 Adds glass floors (That work with multi-z)
  _maps/map_files/debug/multiz.dmm
  _maps/multiz_debug.json
  code/__DEFINES/is_helpers.dm
  code/game/atoms.dm
  code/game/objects/structures/stairs.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/transparent.dm
  code/modules/awaymissions/away_props.dm
  code/modules/mob/living/living.dm
  code/modules/photography/camera/camera.dm
  icons/turf/floors/glass.dmi
  icons/turf/floors/reinf_glass.dmi
  tgstation.dme
Labels: Code Improvement, Feature, Map Edit, Sprites

#50914 Fixes some belt sprite issues.
  code/game/objects/items/storage/belt.dm
  icons/obj/clothing/belts.dmi
Labels: Fix, Sprites

#50923 Guns now update their overlays in update_overlays(), removing the lag from mining that was caused by mutable appearances being bugged
  code/modules/projectiles/gun.dm
Labels: Code Improvement

#50956 Fix DMAPI v3
  code/modules/tgs/v3210/api.dm
Labels: Fix, Priority: CRITICAL, Test Merge Candidate, dependencies

#50928 Fix for Seed Extractor not working and update to tgui
  code/modules/hydroponics/seed_extractor.dm
  tgui/packages/tgui/interfaces/SeedExtractor.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Fix, UI

#50823 new plumbing machines: fermenter and bottler
  code/modules/plumbing/plumbers/bottler.dm
  code/modules/plumbing/plumbers/fermenter.dm
  icons/obj/plumbing/plumbers.dmi
  tgstation.dme
Labels: Feature, Sprites

#50932 Space dragons are now large mobs
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
Labels: Feature

#50945 Correct dum dum crate name
  code/modules/cargo/packs.dm
Labels: Fix, Good First PR, Grammar and Formatting

#50553 Talking about my problems (Adds Psychologist Features)
  code/modules/power/supermatter/supermatter.dm
  icons/obj/supermatter.dmi
Labels: Feature, Sprites

#50964 Fixes nothing (wand)
  code/modules/projectiles/ammunition/special/magic.dm
  code/modules/projectiles/guns/magic/staff.dm
Labels: Feature, Fix

#50966 Lighttile Multitool Fix
  code/game/turfs/open/floor/light_floor.dm
Labels: Fix

#50959 Removes the mini meteor from the autolathe and cargo crate drop pool
  code/modules/research/designs/autolathe_designs.dm
Labels: Removal

#50906 Health Analyzer Quirk Nerf
  code/game/objects/items/devices/scanners.dm
Labels: Tweak

#50840 Adds INTERACTING_WITH tracking to all do_after's
  code/__HELPERS/mobs.dm
Labels: Fix

#50940 Trashbags no longer equippable
  code/game/objects/items/storage/bags.dm
Labels: Balance/Rebalance

#50952 Show program rules in nanite cloud without having to have sensor disks inserted
  tgui/packages/tgui/interfaces/NaniteCloudControl.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, UI

#50847 Empath quirk lets you check if others are burning/freezing
  code/datums/mood_events/generic_negative_events.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Balance/Rebalance

#50805 Adds the crew manifest program to security's PDAs
  code/game/objects/items/devices/PDA/cart.dm
Labels: Feature

#50827 Cargo console near supply shuttle on box and pubby
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Tweak

#50878 buffs the lord singulo syndie kit
  code/game/objects/items/storage/uplink_kits.dm
Labels: Balance/Rebalance

#50926 Augmented limb swap part two
  icons/mob/augmentation/augments_engineer.dmi
  icons/mob/augmentation/augments_mining.dmi
  icons/mob/augmentation/augments_security.dmi
Labels: Fix, Sprites

#50821 Changes sprites and duration of bubblegum
  code/modules/food_and_drinks/food/snacks_other.dm
  icons/mob/clothing/mask.dmi
  icons/obj/food/food.dmi
Labels: Sprites, Tweak

#50990 Projectiles embed their shrapnel in the locations they hit
  code/datums/elements/embed.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#50855 2 new lavaland ambience tracks
  code/__DEFINES/sound.dm
  sound/ambience/ambilava1.ogg
  sound/ambience/ambilava2.ogg
  sound/ambience/ambilava3.ogg
Labels: Feature, Sound

#50902 Fixes plant grafts, tweaks trays.
  code/modules/hydroponics/grafts.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
Labels: Fix, Tweak

#50939 Brings the abductor health gland more up to date with the new organ damage changes
  code/modules/antagonists/abductor/equipment/glands/heal.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
Labels: Feature, Tweak

#50975 Fixes #50973
  code/__DEFINES/DNA.dm
  code/modules/antagonists/changeling/powers/lesserform.dm
  code/modules/mob/transform_procs.dm
Labels: Fix

#50710 Give a little
  code/_onclick/hud/alert.dm
  code/datums/keybinding/carbon.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/mob.dm
Labels: Feature, Stale

#50942 Makes cards shuffle properly
  code/game/objects/items/toys.dm
Labels: Fix

#50740 Boxstation: Moves AI Core back to the bridge, gravity generator to the left of Engineering
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit, Stale, Tweak

#50968 Fix contraband item prices
  code/modules/vending/_vending.dm
Labels: Fix

#51001 Fixes a bug with fireman carry.
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#51007 Kotahi is a legally distinct card game
  icons/obj/toy.dmi
Labels: Removal, Sprites

#50962 [READY] New Singularity Hammer texture.
  code/game/objects/items/singularityhammer.dm
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Feature, Needs Review, Sprites

#50995 Fixes recharger sprite turning invisible
  code/game/machinery/recharger.dm
Labels: Fix

#51011 Turns off meta's 'N2 to Pure' pump at roundstart
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#50996 gives techpriest hood an icon
  icons/obj/clothing/hats.dmi
Labels: Feature, Sprites

#50970 Loaded mobs in MULEbots cannot be pulled
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Fix

#50999 Very slight cleanup to porta-turret code
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Code Improvement

#50961 Changes icon state fallback order
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix

#50708 Component-izes Altar of God Functionality
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/flags.dm
  code/datums/components/religious_tool.dm
  code/modules/religion/religion_sects.dm
  code/modules/religion/religion_structures.dm
  code/modules/religion/rites.dm
  tgstation.dme
Labels: Code Improvement, Refactor

#50606 Adds hardcore random mode: Earn your way onto a score-board with difficult random characters
  code/__DEFINES/achievements.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/preferences.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/processing/quirks.dm
  code/controllers/subsystem/ticker.dm
  code/datums/achievements/_achievement_data.dm
  code/datums/achievements/hardcore_random.dm
  code/datums/traits/_quirk.dm
  code/datums/traits/negative.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/vehicles/wheelchair.dm
  icons/obj/vehicles.dmi
  tgstation.dme
Labels: Do Not Testmerge, Feature, Sprites

#51015 Fixes broken potato battery icon
  code/modules/power/cell.dm
Labels: Fix

#51019 DMI preview in VScode
  .vscode/settings.json
Labels: Verified :heavy_check_mark:

#51040 changes a stock part comment
  code/modules/research/stock_parts.dm
Labels: Code Improvement

#51039 Updates dynamic restricted roles after loading config
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Fix

#51005 num2hex/hex2num defines
  code/__DEFINES/_helpers.dm
  code/__HELPERS/type2type.dm
  code/_compile_options.dm
  tgstation.dme
Labels: Code Improvement

#51022 tgui: Biogenerator
  code/modules/hydroponics/biogenerator.dm
  tgui/packages/tgui/interfaces/Biogenerator.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, UI

#51004 Speeds up /datum/light_source/proc/update_corners() by 16% or so
  code/__DEFINES/lighting.dm
  code/__HELPERS/game.dm
  code/modules/lighting/lighting_source.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Code Improvement

#51002 Speeds up area power usage handling, and apc process(). Cleans up related code
  code/__DEFINES/machines.dm
  code/game/area/areas.dm
  code/game/area/areas/holodeck.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/buttons.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/defibrillator_mount.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/embedded_controller/access_controller.dm
  code/game/machinery/embedded_controller/airlock_controller.dm
  code/game/machinery/embedded_controller/simple_vent_controller.dm
  code/game/machinery/fat_sucker.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/harvester.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/structures/electricchair.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/other/meter.dm
  code/modules/holodeck/computer.dm
  code/modules/holodeck/items.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/modular_computers/hardware/recharger.dm
  code/modules/paperwork/photocopier.dm
  code/modules/power/apc.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/lighting.dm
  code/modules/security_levels/keycard_authentication.dm
Labels: Code Improvement

#51043 Disable some no-sleep/purity lint directives
  code/game/atoms.dm
  code/game/say.dm
Labels: Code Improvement

#51051 Revert "Changes icon state fallback order"
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Revert

#50843 Datum based poll creation and vote handling update
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/_globalvars/misc.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/create_poll.dm
  code/modules/admin/poll_management.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/topic.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/new_player/poll.dm
  html/admin/admin_panels.css
  html/admin/admin_panels_css3.css
  html/admin/banpanel.css
  tgstation.dme
Labels: Administration, SQL

#51055 Makes the required version more obvious
  code/_compile_options.dm
Labels: Fix

#51052 Fixes icon fallback order.
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Fix

#51000 Chemical press can now make patches and bottles
  code/modules/plumbing/plumbers/pill_press.dm
  tgui/packages/tgui/interfaces/ChemPress.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, UI

#50785 Gumballs and spider lollipops can now be put in your mouth and chewed/sucked!
  code/game/objects/items/robot/robot_items.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
Labels: Tweak

#50913 Removes the Clarke breaking floor tiles on move
  code/game/mecha/working/clarke.dm
Labels: Removal, Tweak

#50954 Fixes juggernaut punch spell and new effects
  code/game/objects/effects/forcefields.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/spells/spell_types/construct_spells.dm
  icons/obj/projectiles.dmi
Labels: Fix, Sprites, Tweak

#50986 fixes a small bug in bottler
  code/modules/plumbing/plumbers/bottler.dm
  icons/obj/plumbing/plumbers.dmi
Labels: Fix, Sprites

#51014 Silences proximity sensor runtime
  code/game/atoms.dm
  code/game/objects/effects/proximity.dm
Labels: Fix

#50997 reverts the cult stun change and nerfs barrier/final reckoning instead
  code/game/machinery/shieldgen.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/antagonists/cult/rune_spawn_action.dm
  code/modules/antagonists/cult/runes.dm
Labels: Balance/Rebalance, Revert

#51064 Hell's Broke Loose in Georgia
  code/modules/spells/spell_types/devil.dm
Labels: Fix

#51032 5 AM web edit for soulstones
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Tweak

#51045 Fix some of the .travis.yml lints
  .travis.yml
Labels: Tools

#51016 fixes bangammers
  code/game/objects/items/weaponry.dm
Labels: Grammar and Formatting

#51066 Reconnects Pubby Medbay to the power grid
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#50807 Gastrectomy, a stomach-healing surgery
  code/modules/surgery/gastrectomy.dm
  tgstation.dme
Labels: Feature, Stale

#51106 Fixes gamer skill exploit
  code/game/machinery/computer/arcade.dm
Labels: Fix

#51105 Add a missing sudo call to a script
  tools/tgs4_scripts/PostCompile.sh
Labels: Tools

#51104 Fixes goonchat link bug
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: Fix

#51109 [READY] New Singularity Hammer inhands textures
  code/game/objects/items/singularityhammer.dm
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
Labels: Feature, Needs Review, Sprites

#51117 Remove Donut and Kilo from maps.txt
  config/maps.txt
Labels: Config Update, Fix

#51037 adds electrolites to admin rpeds and fixes it's bluespace name
  code/modules/research/stock_parts.dm
Labels: Feature, Fix

#51071 Midrounds and latejoin rulesets now pre-execute
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
Labels: Fix, Test Merge Candidate

#51162 Fixes a break in disposals on metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit
