Repository tgstation/tgstation, pull requests merged in 2020-06, with the labels that each got.

#51325 Moves client vars to their definition
  code/_onclick/hud/parallax.dm
  code/modules/client/client_defines.dm
Labels: Code Improvement

#51395 Lets firesuits and radiation suits hold the big internals tanks
  code/modules/clothing/suits/utility.dm
Labels: Tweak

#51378 Fixes glow/antiglow
  code/datums/mutations/body.dm
Labels: Tweak

#51383 Chunky waddle
  code/datums/elements/waddling.dm
Labels: Feature

#51391 Copy: Minor changes to sec Hud icons #50685
  icons/mob/hud.dmi
  icons/obj/card.dmi
Labels: Sprites, Tweak

#51348 Adds a knockedout trait, begins refactoring mobility 2.0
  code/__DEFINES/traits.dm
  code/_onclick/cyborg.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/status_effects/debuffs.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/monkey/combat.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/status_procs.dm
  code/modules/research/nanites/nanite_programs/protocols.dm
  tgstation.dme
Labels: Refactor

#51351 Fixes Icebox ladders and shuffles around icebox mining.
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
Labels: Fix, Map Edit, Tweak

#51399 Temporary turf visuals fix.
  code/__DEFINES/dcs/signals.dm
  code/controllers/subsystem/atoms.dm
  code/datums/components/decal.dm
Labels: Fix

#51252 [READY] Codename: Blue Eyes White Jumpsuit, the TG TCG, Part 1, Reborn
  code/__DEFINES/subsystems.dm
  code/__HELPERS/cmp.dm
  code/controllers/subsystem/tcgsetup.dm
  code/game/objects/items/tcg/tcg.dm
  code/modules/admin/admin_verbs.dm
  code/modules/cargo/packs.dm
  code/modules/vending/games.dm
  icons/obj/tcg.dmi
  icons/obj/tcg_xenos.dmi
  strings/tcg/set_one.json
  strings/tcg/set_two.json
  tgstation.dme
Labels: Feature, Needs Review, Sprites

#51326 Removes mutation/chromosomes storage limit from DNA consoles
  code/game/machinery/computer/dna_console.dm
  tgui/packages/tgui/interfaces/DnaConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Removal, Tweak, UI

#51277 replaces the mulebot 16 second hardstun with an 8 second knockdown
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Balance/Rebalance, Stale

#51097 light floors emit colored lights
  code/game/objects/items/stacks/tiles/light.dm
  code/game/turfs/open/floor/light_floor.dm
  icons/turf/floors.dmi
Labels: Fix, Sprites

#51426 Removes some unused saymod code
  code/modules/language/aphasia.dm
  code/modules/language/beachbum.dm
  code/modules/language/buzzwords.dm
  code/modules/language/calcic.dm
  code/modules/language/common.dm
  code/modules/language/draconic.dm
  code/modules/language/drone.dm
  code/modules/language/language.dm
  code/modules/language/machine.dm
  code/modules/language/moffic.dm
  code/modules/language/monkey.dm
  code/modules/language/mushroom.dm
  code/modules/language/narsian.dm
  code/modules/language/piratespeak.dm
  code/modules/language/shadowtongue.dm
  code/modules/language/slime.dm
  code/modules/language/swarmer.dm
  code/modules/language/sylvan.dm
  code/modules/language/terrum.dm
  code/modules/language/uncommon.dm
  code/modules/language/voltaic.dm
  code/modules/language/xenocommon.dm
Labels: Code Improvement

#51425 Fixes boxstation grav gen power
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Fix, Map Edit

#51415 <current year>
  config/config.txt
Labels: Config Update

#51243 atmos jumpsuits now have the same protections as engi jumpsuit
  code/modules/clothing/under/jobs/Plasmaman/engineering.dm
  code/modules/clothing/under/jobs/engineering.dm
Labels: Stale, Tweak

#51404 Update precommit hooks to work in GitHub Desktop
  tools/hooks/dmi.merge
  tools/hooks/pre-commit.hook
  tools/hooks/python.sh
Labels: Tools

#51427 Fixes neckgrabs being only escapable if RNGesus comes down and saves you from your fate
  code/__DEFINES/combat.dm
  code/modules/mob/living/living.dm
Labels: Balance/Rebalance, Fix

#51376 Fixes Get-Current-Logs
  code/__DEFINES/admin.dm
  code/__HELPERS/files.dm
  code/modules/admin/verbs/getlogs.dm
Labels: Fix, Security

#51216 Adds coupons to cargo, turns small crates into goodies
  code/datums/components/omen.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/lockbox.dm
  code/modules/cargo/console.dm
  code/modules/cargo/coupon.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/order.dm
  code/modules/cargo/packs.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/shuttle/supply.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Cargo.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: UI

#51333 Fixes dynamic giving midround/latejoin roles to protected roles.
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
Labels: Fix, Stale

#51438 Supresses icon2html runtime spam.
  code/__HELPERS/icons.dm
Labels: Fix

#51437 replaces plasma in bluespace beaker with plastic
  code/modules/research/designs/medical_designs.dm
Labels: Balance/Rebalance

#51418 The glorious supplypod renaissance part 1: The One Line Sound Fix
  code/modules/cargo/centcom_podlauncher.dm
Labels: Administration, Fix

#51407 Fixes singulos and reinforced floors
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/reinf_floor.dm
Labels: Fix

#51454 Fixes multiz lag.
  code/game/sound.dm
Labels: Fix

#51439 Documents browserOutput.dm, small change to icon2base64.
  code/__HELPERS/icons.dm
  code/modules/goonchat/browserOutput.dm
Labels: Documentation

#51445 Fixes sensors runtime.
  code/modules/clothing/clothing.dm
Labels: Fix

#51434 Adds some card unit tests, cleans up some comments
  code/game/objects/items/tcg/tcg.dm
  code/modules/admin/admin_verbs.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/card_mismatch.dm
  strings/tcg/set_one.json
  strings/tcg/set_two.json
Labels: Code Improvement

#51453 Fixes turf atmos getting deleted.
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/pump.dm
Labels: Fix, Priority: CRITICAL, Test Merge Candidate

#51276 Minor circle hand fixes
  code/__DEFINES/obj_flags.dm
  code/datums/components/riding.dm
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#51444 Changeling on changeling absorb fix
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/absorb.dm
Labels: Fix, Needs documentation

#51074 Fixes canister pain
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/atmos.dmi
Labels: Fix, Sprites

#51385 improves dynamic ruleset scaling code
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Code Improvement, Stale

#51315 Dynamic Cleanup Part 1 of ?
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/modules/admin/admin.dm
  code/modules/admin/check_antagonists.dm
  code/modules/admin/topic.dm
Labels: Removal, Stale

#51502 Dynamic hotfix
  code/game/gamemodes/dynamic/dynamic.dm
  config/dynamic.json
Labels: Config Update, Fix

#51460 Adds arguments to the rest of make_plating procs.
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/floor/reinf_floor.dm
Labels: Code Improvement

#51485 Tiny, most likely unnoticeable tgui fix
  code/modules/tgui/external.dm
Labels: Fix, Good First PR

#51481 Removes pointless processing status effects from mining mobs.
  code/datums/status_effects/neutral.dm
  code/datums/status_effects/status_effect.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Performance, Removal

#51517 first round of rbsql/brsql fixes
  code/controllers/subsystem/blackbox.dm
Labels: Priority: CRITICAL

#51139 [READY] Lavaland Elite Buffs and QoL Changes
  code/datums/mood_events/generic_positive_events.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/pandora.dm
Labels: Balance/Rebalance, Feature, Fix, Needs Review

#51531 Make sure the discordid of a user is always returned as text
  code/controllers/subsystem/discord.dm
Labels: Priority: High

#51318 Codename: Jeu Tarot- Tarot Cards, for games and divination, risen like a phoenix
  code/game/objects/items/toys.dm
  code/modules/games/tarot.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/vending/games.dm
  icons/obj/toy.dmi
  tgstation.dme
Labels: Feature, Sprites, Stale

#51392 removes deprecated game_mode proc check_win()
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gang/gang.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/revolution/revolution.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/simple_animal/slime/death.dm
Labels: Code Improvement, Removal, Stale

#51343 Fixes a minor oversight with the seed vault lavaland ruin + minor map tweaks.
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
Labels: Map Edit, Stale, Tweak

#51488 Makes round restart vote instant
  code/controllers/subsystem/vote.dm
Labels: Tweak

#51307 Fix and nerf hygienebots
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/hygienebot.dm
  icons/mob/aibots.dmi
  icons/obj/watercloset.dmi
Labels: Balance/Rebalance, Fix, Needs documentation, Sprites

#51374 Identification Console PR
  code/modules/modular_computers/computers/machinery/console_presets.dm
Labels: Feature, Good First PR

#51394 Medbots Now Only Heal Brute UNLESS They Are Made With Special Medkit
  code/game/objects/items/storage/firstaid.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Balance/Rebalance

#51409 Lets you tip over medbots (you monster)
  code/__DEFINES/robots.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Feature

#51451 Datums and lists used as keys in assoc lists are now linked in vv.
  code/modules/admin/view_variables/debug_variables.dm
Labels: Feature, Test Merge Candidate

#51441 More flexible system for innate/roundstart skills.
  code/__DEFINES/skills.dm
  code/modules/jobs/job_types/_job.dm
Labels: Code Improvement

#51430 wheelys have a visible sprite when being used
  code/modules/vehicles/scooter.dm
  icons/obj/vehicles.dmi
Labels: Sprites

#51508 Removes bsql debug config
  code/controllers/configuration/entries/dbconfig.dm
  config/dbconfig.txt
Labels: Config Update, Removal

#51546 Performance Improvements to Lighting Corners
  code/modules/lighting/lighting_corner.dm
Labels: Performance

#51518 corrects a formula in a comment
  code/modules/hydroponics/seeds.dm
Labels: Documentation

#51529 Fixes Twitchy Attack Animations
  code/game/atoms_movable.dm
Labels: Fix

#51478 Defibrilator and Defibrilator HUD bug fixes
  code/__DEFINES/mobs.dm
  code/game/data_huds.dm
  code/game/objects/items/defib.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/logout.dm
  code/modules/research/nanites/nanite_programs/healing.dm
Labels: Fix, Refactor

#51466 bababooey
  code/modules/mob/living/emote.dm
  sound/voice/human/bababooey.ogg
  sound/voice/human/bababooey2.ogg
  sound/voice/human/babafooey.ogg
  sound/voice/human/fafafoggy.ogg
  sound/voice/human/fafafoggy2.ogg
  sound/voice/human/fafafohowa.ogg
  sound/voice/human/fafafooey.ogg
  sound/voice/human/fafafooey2.ogg
  sound/voice/human/fafafooey3.ogg
  sound/voice/human/ffff.ogg
  sound/voice/human/hohohoy.ogg
Labels: Feature, Sound

#51419 More variable declarations moved to their object definition 4
  code/_onclick/hud/map_popups.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/asset_cache/asset_cache_client.dm
  code/modules/client/client_defines.dm
Labels: Needs documentation

#51433 tgui: Holopad
  code/datums/holocall.dm
  code/game/machinery/hologram.dm
  tgui/packages/tgui/interfaces/Holopad.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, UI

#51403 Updates the in-game podcloning guide
  code/game/objects/items/manuals.dm
Labels: Tweak

#51471 Fixes dynamic giving antagonist roles to protected jobs (for real this time)
  code/game/gamemodes/dynamic/dynamic.dm
Labels: Fix

#51554 Fixes a snowflake heart check from the defib hud fix.
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#51530 Remove BSQL from linux tgs setup script
  tools/LinuxOneShot/SetupProgram/PreCompile.sh
Labels: Tools

#51417 New configuration option to enable the `notify` command
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/discord.dm
  config/config.txt
Labels: Config Update

#51533 Fix when world.TgsInitializationComplete is called
  code/controllers/master.dm
Labels: Fix

#51562 Most likely fixes defibrilators not working
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#51544 Proximity monitor related fixes.
  code/game/area/ai_monitored.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/presets.dm
  code/game/turfs/open/space/transit.dm
  code/modules/shuttle/on_move.dm
Labels: Code Improvement, Fix

#51244 Ports Families gamemode to Dynamic roundstart + midround rulesets
  code/__HELPERS/roundend.dm
  code/_onclick/hud/families.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/gang/gang.dm
  code/game/gamemodes/gang/gang_handler.dm
  code/game/gamemodes/gang/gang_things.dm
  code/modules/antagonists/_common/antag_helpers.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/gang/gang.dm
  tgstation.dme
Labels: Feature, Fix

#51549 Borgs and AIs now start with their borgHUDs/siliconHUDs on by default
  code/modules/mob/living/silicon/silicon.dm
Labels: Tweak

#51061 Various grammar and spelling fixes.
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/events/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
Labels: Grammar and Formatting

#51584 Correctly get the value of a coin
  code/game/machinery/slotmachine.dm
Labels: FUCK, Fix, Priority: CRITICAL, Test Merge Candidate

#51556 Revert "Polishes some space checks in material containers"
  code/datums/components/material_container.dm
Labels: Revert

#51572 Reveal ghosts when the round ends
  code/__HELPERS/mobs.dm
  code/__HELPERS/roundend.dm
Labels: Feature

#51570 revert "bababooey"
  code/modules/mob/living/emote.dm
  sound/voice/human/bababooey.ogg
  sound/voice/human/bababooey2.ogg
  sound/voice/human/babafooey.ogg
  sound/voice/human/fafafoggy.ogg
  sound/voice/human/fafafoggy2.ogg
  sound/voice/human/fafafohowa.ogg
  sound/voice/human/fafafooey.ogg
  sound/voice/human/fafafooey2.ogg
  sound/voice/human/fafafooey3.ogg
  sound/voice/human/ffff.ogg
  sound/voice/human/hohohoy.ogg
Labels: Revert, Sound

#51457 A very large number of Science QoL tweaks and mapping changes.
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/access.dm
  code/game/machinery/buttons.dm
  code/game/machinery/doors/airlock_types.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/cargo/packs.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/research/rdconsole.dm
Labels: Fix, Map Edit, Tweak

#51586 fixes forced dynamic families ruleset
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Fix

#51248 mindshields no longer implant fake memories
  code/game/gamemodes/gang/gang_things.dm
Labels: Grammar and Formatting, Stale

#51555 Finishes medbot tipping, adds voices
  code/modules/mob/living/simple_animal/bot/medbot.dm
  sound/voice/medbot/close.ogg
  sound/voice/medbot/dont_like.ogg
  sound/voice/medbot/forgive.ogg
  sound/voice/medbot/fuck_you.ogg
  sound/voice/medbot/hey_wait.ogg
  sound/voice/medbot/i_require_asst.ogg
  sound/voice/medbot/i_trusted_you.ogg
  sound/voice/medbot/im_different.ogg
  sound/voice/medbot/is_this_the_end.ogg
  sound/voice/medbot/nooo.ogg
  sound/voice/medbot/oh_fuck.ogg
  sound/voice/medbot/pain_is_real.ogg
  sound/voice/medbot/please_dont.ogg
  sound/voice/medbot/please_im_scared.ogg
  sound/voice/medbot/please_put_me_back.ogg
  sound/voice/medbot/reported.ogg
  sound/voice/medbot/shindemashou.ogg
  sound/voice/medbot/thank_you.ogg
  sound/voice/medbot/turn_off.ogg
  sound/voice/medbot/why.ogg
  sound/voice/medbot/youre_good.ogg
Labels: Config Update, Fix, Sound, Sprites, UI

#51603 Minor TGUI fixes
  tgui/packages/tgui/interfaces/AirlockElectronics.js
  tgui/packages/tgui/interfaces/TachyonArray.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#51592 [s] Fixes a pair of DoS vectors.
  code/modules/client/client_defines.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: Fix

#51597 Fixes more belt missing texture crap
  code/game/gamemodes/changeling/changeling.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/holsters.dm
  code/game/objects/items/tanks/tank_types.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weaponry.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/ninja/energy_katana.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/pins.dm
  icons/mob/clothing/belt_mirror.dmi
Labels: Fix, Sprites

#51600 Nerfed arrest access through SecHUDs & small balance changes
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Balance/Rebalance, Map Edit, Removal

#51625 Fix Malformed SQL Queries When Editing Admin Permissions
  code/modules/admin/permissionedit.dm
Labels: Administration, Fix, SQL

#51618 fix lavaboat oars
  code/modules/vehicles/lavaboat.dm
Labels: Fix

#51595 some ctf changes
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/structures/tables_racks.dm
  code/modules/awaymissions/capture_the_flag.dm
Labels: Fix, Map Edit

#51608 RCD airlock icon fix
  code/game/turfs/open/floor.dm
Labels: Fix

#51594 Fix medical HUD showing skulls when a player leaves their body for a ghost
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#51585 New tgui based orbit menu
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/antagonists/blob/blob.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/disease/disease_datum.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/monkey/monkey.dm
  code/modules/antagonists/nightmare/nightmare.dm
  code/modules/antagonists/ninja/ninja.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/official/official.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/revenant/revenant_antag.dm
  code/modules/antagonists/santa/santa.dm
  code/modules/antagonists/slaughter/slaughter_antag.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/antagonists/xeno/xeno.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  html/ghost.png
  tgstation.dme
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, UI

#51545 adds the peacekeeper plush
  code/datums/traits/negative.dm
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/plushes.dm
  icons/obj/plushes.dmi
Labels: Feature, Sprites

#51623 Cleans up sensors nonsense
  code/modules/admin/view_variables/topic.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/_under.dm
Labels: Fix

#51619 Revert "mindshields no longer implant fake memories"
  code/game/gamemodes/gang/gang_things.dm
Labels: Revert

#51458 Reorders health analyzer to be first in the first aid kit
  code/game/objects/items/storage/firstaid.dm
Labels: Stale, Tweak

#51657 [s] fixes a href exploit on shuttle computer code
  code/modules/shuttle/computer.dm
Labels: In Game Exploit, Priority: CRITICAL

#51627 Adds keybindings sanity.
  code/modules/client/preferences_savefile.dm
Labels: Fix

#51644 Add wound armor values to wizard hat
  code/modules/clothing/suits/wiz_robe.dm
Labels: Tweak

#51606 Medbots now know they should be healing other damage types instead of brute
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Fix

#51643 Add a doorjack to the metaop bundle
  code/game/objects/items/storage/uplink_kits.dm
Labels: Balance/Rebalance

#51628 Fixes powered off computer screen errors
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/pod.dm
  code/modules/library/lib_machines.dm
Labels: Fix, Sprites

#51463 Deltastation Morgue is accessible from hallways + small fixes
  _maps/map_files/Deltastation/DeltaStation2.dmm
  icons/obj/watercloset.dmi
Labels: Map Edit, Sprites, Tweak

#51641 Implement unused drunk alert
  code/_onclick/hud/alert.dm
  code/modules/mob/living/carbon/life.dm
Labels: Feature

#51631 Fixes a few duplicate articles in examines
  _maps/RandomRuins/IceRuins/icemoon_underground_lavaland.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_cultaltar.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/miscellaneous.dm
  code/modules/admin/fun_balloon.dm
  code/modules/awaymissions/mission_code/moonoutpost19.dm
  code/modules/clothing/under/accessories.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/mob/living/simple_animal/hostile/bosses/boss.dm
Labels: Grammar and Formatting, Map Edit

#51605 Areabound component & mapping helper
  code/datums/components/areabound.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
  tgstation.dme
Labels: Feature, Sprites

#51637 animate_atom_living proc (Staff of Animation) fix
  code/modules/projectiles/projectile/magic.dm
Labels: Fix, Good First PR

#51667 Fixes multi-target to chat for mobs.
  code/controllers/subsystem/chat.dm
Labels: Fix

#51648 Heretics bugfix
  code/modules/mob/inventory.dm
Labels: Fix

#51571 Removes turf embedding
  code/__DEFINES/combat.dm
  code/datums/components/embedded.dm
  code/datums/elements/embed.dm
  code/game/objects/items.dm
  code/game/objects/items/shrapnel.dm
  code/game/objects/items/weaponry.dm
  code/game/turfs/closed/walls.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_stars.dm
Labels: Removal

#51599 Emergency shuttle console no longer lists authorizations twice.
  tgui/packages/tgui/interfaces/EmergencyShuttleConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#51660 ooc no longer checks if message is ic if round hasn't started
  code/modules/client/verbs/ooc.dm
Labels: Tweak

#51658 Fixes cable coils always showing as a full stack.
  code/modules/power/cable.dm
Labels: Fix

#51656 fixes engineering goggles glasses overlay colors
  code/modules/clothing/glasses/engine_goggles.dm
Labels: Fix

#51649 Clown cars will no longer be able to float over ice chasms.
  code/modules/vehicles/cars/car.dm
Labels: Fix

#51632 Fixes wigs again
  code/modules/clothing/head/misc_special.dm
  icons/obj/clothing/hats.dmi
Labels: Fix, Sprites

#51681 Adds scroll bar to ghost Orbit menu
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, Tweak, UI

#51690 quickly fixes an oopsie I made v2
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Fix

#51638 Updates Gangster spawn text to correct a lie that's being told
  code/modules/antagonists/gang/gang.dm
Labels: Feature

#51699 Fixes GARBAGE DAY.
  code/modules/jobs/job_types/janitor.dm
Labels: Fix

#51604 adds the organ transport box
  code/game/objects/items/storage/firstaid.dm
  code/modules/vending/medical.dm
  icons/obj/storage.dmi
Labels: Feature, Sprites

#51679 [s] Fixes ore machine exploits
  code/datums/components/material_container.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mining/machine_unloading.dm
  code/modules/mining/mint.dm
Labels: Fix, In Game Exploit, Test Merge Candidate

#51668 you can no longer raise the living into ghouls
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
Labels: Fix

#51534 Papers Please! Now with Markup...again!
  code/game/machinery/telecomms/computers/message.dm
  code/game/objects/structures/votingbox.dm
  code/modules/detectivework/scanner.dm
  code/modules/modular_computers/hardware/printer.dm
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperbin.dm
  code/modules/paperwork/photocopier.dm
  tgui/packages/tgui/components/TextArea.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/PaperSheet.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/components/TextArea.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/paper.scss
  tgui/yarn.lock
Labels: Fix, Refactor, UI

#51647 Fixes the nuke lagging the end of the round.
  code/controllers/subsystem/ticker.dm
Labels: Performance, Removal

#51665 Add handler for TGS_EVENT_WATCHDOG_SHUTDOWN
  code/datums/tgs_event_handler.dm
Labels: Tools

#51640 Changes Space Cops Objectives.
  code/modules/antagonists/ert/ert.dm
Labels: Grammar and Formatting, Tweak

#51519 You can now take obligate carnivory grafts from jupiter cups
  code/modules/hydroponics/grown/mushrooms.dm
Labels: Feature, Stale

#51687 [s] Fixes swarmer catwalk powerline exploit
  code/modules/antagonists/swarmer/swarmer.dm
Labels: Fix

#51689 Fixes clothing repair not working, adds better pronoun handling
  code/__HELPERS/pronouns.dm
  code/datums/traits/negative.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/ninja/suit/gloves.dm
Labels: Code Improvement, Fix

#51698 [s] Heretic reality tear tk fix
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
Labels: Fix

#51688 fixes "dante torn the changeling with the sword"
  code/game/objects/items/chainsaw.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/fireaxe.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/kitchen.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/melee/transforming.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/weaponry.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/ninja/energy_katana.dm
  code/modules/paperwork/pen.dm
  code/modules/surgery/tools.dm
Labels: Fix, Grammar and Formatting

#51639 Dynamic Families now goes from 30 to 15 minutes, instead of 60 to 30 minutes.
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/gang/gang_handler.dm
Labels: Balance/Rebalance

#51476 Makes extradimensional oranges weirder.
  code/modules/hydroponics/grown/citrus.dm
Labels: Feature

#51524 You can now take fire resistance grafts from lavaland plants
  code/modules/mining/lavaland/ash_flora.dm
Labels: Balance/Rebalance, Stale

#51593 PR number 5(?) on trying to get the stupid icon conflict fixed for TCG cards
  icons/obj/tcg.dmi
  icons/obj/tcg_xenos.dmi
Labels: Sprites

#51587 Limits free shipping on goody orders in cargo
  code/game/objects/items/storage/fancy.dm
  code/modules/cargo/coupon.dm
  code/modules/shuttle/supply.dm
Labels: Tweak

#51388 Ports TGMC timer cooldowns (now supporting signals)
  code/__DEFINES/cooldowns.dm
  code/datums/action.dm
  code/datums/components/caltrop.dm
  code/datums/datum.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/robot/robot_upgrades.dm
  tgstation.dme
Labels: Needs Review

#51436 Simplifies ear damage, allows empaths to properly spot deafness
  code/__DEFINES/traits.dm
  code/datums/datacore.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/elements/earhealing.dm
  code/datums/traits/_quirk.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/antagonists/changeling/powers/shriek.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Fix, Needs Review, Tweak

#51728 Add totals to orbit UI sections
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: UI

#51708 Fixes a spear hard del
  code/game/atoms.dm
  code/game/objects/items/spear.dm
Labels: Fix

#51705 Plant analyzer can scan the health of podmen.
  code/game/objects/items/devices/scanners.dm
  code/modules/hydroponics/hydroitemdefines.dm
Labels: Feature

#51714 Fixed cyborgs using multi layer cables.
  code/modules/power/cable.dm
Labels: Fix

#51703 Removes singularity interaction with snow tiles
  code/game/turfs/open/floor.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
Labels: Fix, Removal

#51701 Intercom refactor/code cleanup
  code/__DEFINES/dcs/signals.dm
  code/game/area/areas.dm
  code/game/objects/items/devices/radio/intercom.dm
Labels: Code Improvement, Refactor

#51499 [Ready and tested and microwaved] Rework the battle arcade game in the honor of fallen gamers
  code/game/machinery/computer/arcade.dm
Labels: Good First PR, Tweak

#51345 Supermatter variable documentation, cleanup, bugfixes.
  code/game/objects/items/implants/implant_stealth.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/game/objects/structures/crates_lockers/closets/infinite.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/gondolapod.dm
  code/modules/cargo/supplypod.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
Labels: Code Improvement, Fix, Refactor

#51751 Animate pointing to move from the pointer to the pointed
  code/modules/mob/mob.dm
Labels: Feature

#51731 Paper fixes and updates
  code/modules/paperwork/paper.dm
  tgui/packages/tgui/interfaces/PaperSheet.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/themes/paper.scss
Labels: Fix, Tweak, UI

#51730 Adds paramedic uniforms to medidrobe.
  code/modules/vending/wardrobes.dm
Labels: Feature

#51573 Decrease blood drunk miner move_force
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
Labels: Tweak

#51676 Heretics bugfixing patch [READY]
  code/__DEFINES/mobs.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/mob/living/simple_animal/eldritch_demons.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Code Improvement, Fix, Needs Review
