Repository tgstation/tgstation, pull requests merged in 2020-07, with the labels that each got.

#51901 Meta metal wood bar tables what
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#51941 Blind people can feel hugs
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Priority: CRITICAL, Tweak

#51845 fixes an oversight with the wound_bonus of the damage taken from being thrown into a wall
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#51943 Fixes lighting updates from opaque objects changing state (ie doors)
  code/modules/lighting/lighting_source.dm
Labels: Fix

#51947 Fixes jaunting mobs being unable to move through bar tables
  code/modules/shuttle/special.dm
Labels: Fix

#51904 General washing fixes
  code/game/atoms.dm
  code/game/objects/structures/watercloset.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/bot/hygienebot.dm
Labels: Fix

#51954 Resolves Parallax GC Isuses
  code/game/atoms_movable.dm
Labels: Fix

#51955 Fixes invalid cable icon on derelict
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
Labels: Fix, Map Edit

#51926 Add a link to the common core lore
  README.md
Labels: GitHub

#51961 Fix gib_stack_trace printing to runtime logs
  code/modules/error_handler/error_handler.dm
Labels: Fix

#51935 Update inaccurate defibrilator mount description
  code/game/machinery/defibrillator_mount.dm
Labels: Grammar and Formatting

#51934 changes config run delay to what it is on live servers
  config/game_options.txt
Labels: Config Update

#51933 Add moths to round start races in repository config
  config/game_options.txt
Labels: Config Update

#51539 Support fireman carrying people onto morgue trays and other bucklable objects (stasis beds, operating tables, chairs)
  code/game/objects/buckling.dm
  code/game/objects/structures/morgue.dm
Labels: Feature, Stale

#51743 Nanites only attempt to heal traumas up to their ability
  code/modules/research/nanites/nanite_programs/healing.dm
Labels: Good First PR, Stale

#51389 Adds recoil damage to hulk('s arms) when smashing walls or machines
  code/datums/mutations/hulk.dm
  code/game/machinery/_machinery.dm
  code/game/turfs/closed/wall/mineral_walls.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
Labels: Balance/Rebalance, Removal

#51995 Re-PR of the Janiborg Broom Module
  code/game/objects/items/broom.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#51738 Makes it so you can check yourself for injuries while hancuffed
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Good First PR, Tweak

#51723 Changes the plant reagent formula and makes plant potency, plant reagent % and plant volume interact sanely.
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seeds.dm
Labels: Balance/Rebalance, Tweak

#51843 Adds logging for round end crew credits, and showcases the station value/richest player to roundend stats.
  code/__HELPERS/roundend.dm
Labels: Code Improvement, Feature, Logging

#51803 the chamaleon stamp can now stamp cardboard into fake syndiboxes
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Feature, Stale

#51880 Removes multiple stacked lattices from maps
  _maps/RandomRuins/SpaceRuins/derelict3.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/structures/lattice.dm
Labels: Map Edit, Removal

#51839 Arcade Machines now show combos when examine_more is used
  code/game/machinery/computer/arcade.dm
Labels: Feature, Good First PR, Stale

#51883 Traitor Research Directors can now order laser arm implants too
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance

#51960 Bar dispensers and table placement improvements
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Tweak

#51755 balances completely broken goodie prices while making 3 crates a bit better
  code/modules/cargo/goodies.dm
Labels: Balance/Rebalance

#51815 Adds a small art gallery to the Metastation library.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Map Edit

#51985 Allows miners to use doors and objects in luxury bar shelter
  _maps/templates/shelter_3.dmm
Labels: Fix, Map Edit

#51983 Makes the microwave cleanable by the damp rag
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
Labels: Tweak

#51982 Fixes Atmos Alert Console
  code/modules/atmospherics/machinery/airalarm.dm
  tgui/packages/tgui/interfaces/AtmosAlertConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#51980 Fixes runtime while trying to tie someone's nonexistant shoes
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#51979 Fixes some heretic removal runtimes
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
Labels: Fix

#51969 Fixes the sm gaining power when not intended
  code/modules/power/supermatter/supermatter.dm
Labels: Feature

#51965 Cold room is no longer a cryogenic freezer
  code/__DEFINES/atmospherics.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Tweak

#51948 [ICEBOX STATION] Removed metal panneling under SM coolant pipes
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Good First PR, Map Edit, Removal

#51856 Minor Map Fixes 3- The Revengenancing
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#51966 Improves Alien Hivemind: Grant the Queen BIG VOICE, and remind Larva how to use it
  code/modules/mob/living/carbon/alien/alien_say.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
Labels: Feature, Tweak

#51973 Converts the APC console from html to TGUI
  code/game/machinery/computer/apc_control.dm
  tgui/packages/tgui/interfaces/ApcControl.js
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, UI

#52004 [HOTFIX] Bubblegum and Legion don't wound anymore
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
Labels: Fix

#51770 Minor Adjustments to the "Brain Tumor" Quirk
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/traits/negative.dm
  code/game/machinery/stasis.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Feature, Tweak

#51870 [READY]New Quirk: Extreme Medicine Allergy
  code/__DEFINES/reagents.dm
  code/datums/traits/negative.dm
  code/modules/clothing/under/accessories.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  icons/mob/clothing/accessories.dmi
  icons/obj/clothing/accessories.dmi
Labels: Feature, Needs Review, Sprites

#51879 Makes rads glow, buffs rad goggles
  code/__DEFINES/layers.dm
  code/datums/components/radioactive.dm
  code/datums/radiation_wave.dm
  code/game/atoms.dm
  code/modules/clothing/glasses/engine_goggles.dm
Labels: Feature, Fix, Test Merge Candidate, Tweak

#51734 the default chem capacity of most grown plants is now 100u
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
Labels: Balance/Rebalance, Stale

#52035 OH SHIT OH FUCK SPEEDMERGE THIS CHEMS ARENT METABOLIZING
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix

#51889 Fixes some minor ingition_message grammar issues
  code/game/objects/items/dualsaber.dm
  code/modules/projectiles/guns/energy.dm
Labels: Grammar and Formatting, Stale

#52006 Adjusts dark mode info span color
  code/modules/goonchat/browserassets/css/browserOutput.css
Labels: Fix

#51931 Updates vend-a-trays to have a unique UI, improves accessibility.
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/displaycase.dm
  tgui/packages/tgui/interfaces/Vendatray.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Map Edit, Tweak, UI

#51957 The Supplypod Renaissance Part 3: Admins can add shrapnel to supplypods
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/is_helpers.dm
  code/datums/components/pellet_cloud.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/supplypod.dm
  tgui/packages/tgui/interfaces/CentcomPodLauncher.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: UI

#52014 tgui: Jukebox
  code/game/machinery/dance_machine.dm
  tgui/packages/tgui/interfaces/Jukebox.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Tweak, UI

#52016 TGUI : Bluespace Locator edition
  code/game/objects/items/teleportation.dm
  tgui/packages/tgui/interfaces/BluespaceLocator.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Tweak, UI

#51964 [READY] The Portable Chemical Mixer
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/chemical.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PortableChemMixer.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Code Improvement, Feature, Good First PR, Needs Review, Sprites, UI

#51788 [READY] Mafia, a minigame for ghosts to sign up for while dead
  _maps/map_files/Mafia/mafia_ayylmao.dmm
  _maps/map_files/Mafia/mafia_ball.dmm
  _maps/map_files/Mafia/mafia_lavaland.dmm
  _maps/map_files/Mafia/mafia_necropolis.dmm
  _maps/map_files/Mafia/mafia_snow.dmm
  _maps/map_files/Mafia/mafia_spiderclan.dmm
  _maps/map_files/Mafia/mafia_syndie.dmm
  _maps/map_files/generic/CentCom.dmm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/datums/saymode.dm
  code/modules/mafia/_defines.dm
  code/modules/mafia/controller.dm
  code/modules/mafia/map_pieces.dm
  code/modules/mafia/outfits.dm
  code/modules/mafia/roles.dm
  code/modules/mob/dead/observer/observer.dm
  icons/mob/screen_ghost.dmi
  icons/obj/mafia.dmi
  icons/turf/areas.dmi
  tgstation.dme
  tgui/packages/tgui/components/TimeDisplay.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/MafiaPanel.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Feature, Map Edit, Needs Review, Needs documentation, Sprites, UI

#52017 Removes BoxStation in favor of IceBox
  _maps/_basemap.dm
  _maps/boxstation.json
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/BoxStation/job_changes.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/modules/jobs/map_changes/map_changes.dm
  config/maps.txt
Labels: Config Update, Map Edit, Removal

#52022 Further Helps New Player Mobs GC
  code/datums/mind.dm
Labels: Performance

#52032 Fixes pellet cloud runtime
  code/datums/components/pellet_cloud.dm
Labels: Fix

#52031 Service hall delivery windoor access fix
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#52030 Fixed almost empty canisters having a messed up flashing icon
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/atmos.dmi
Labels: Fix, Sprites

#52026 makes unholy water and eldritch essence use metabolization_rate, like most other chems in the game
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Tweak

#52015 Marisa resprite, by TetraZeta
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#52013 Cargo Technicians and Quartermasters now start with cargo tablets
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/quartermaster.dm
Labels: Feature

#52010 Fixes buckled mobs sometimes z fighting with what they're buckled too
  code/modules/mob/mob.dm
Labels: Fix

#52008 Lets you unlock bots by altclicking them
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Tweak

#52002 fixes riding component check
  code/datums/components/riding.dm
Labels: Fix

#51991 renames paranormal MULEbots to GHOULbots
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Tweak

#52001 Fixes borg thermal vision not working
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#51989 Fixes inducers not working on some stuff due to missing get_cell() checks
  code/modules/modular_computers/computers/item/computer_power.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/reagents/reagent_containers/maunamug.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/vehicles/motorized_wheelchair.dm
Labels: Fix

#51886 gives servicelathe some creative tools
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#51894 Nitric Acid changes
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: Balance/Rebalance

#52052 Add anomaly compressor and two random anomaly core spawn to IceBox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#51997 Fix pulling people through space breaking the chain
  code/game/turfs/open/space/space.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/chain_pull_through_space.dm
Labels: Fix

#52059 [s] Fix for server crashing coin / mint exploit.
  code/game/objects/items/cards_ids.dm
  code/modules/mining/mint.dm
Labels: Fix, Priority: CRITICAL

#51924 Miner to cook : Miner changes continue!
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance

#51884 Occupational Corruption Device
  code/game/objects/items/devices/ocd.dm
  code/modules/uplink/uplink_items.dm
  tgstation.dme
Labels: Feature, Good First PR

#51971 Accurate donut box sprites
  code/game/objects/items/storage/fancy.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  icons/obj/food/containers.dmi
  icons/obj/food/donuts.dmi
Labels: Sprites

#52012 Sweeps up some rarely used and unbalanced sources of research points
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/tesla/coil.dm
  icons/obj/tesla_engine/tesla_coil.dmi
Labels: Removal, Sprites

#51987 MULEbot code cleanup & fixes
  code/datums/wires/mulebot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  icons/mob/aibots.dmi
Labels: Code Improvement, Documentation, Fix, Needs Review, Refactor, Sprites, Tweak

#52072 [HOTFIX]: Proper vortex anomaly core for the Portable Chemical Mixer
  code/game/objects/items/devices/portable_chem_mixer.dm
Labels: Fix, Priority: High

#52005 Remove healing skill
  code/__DEFINES/skills.dm
  code/datums/skills/medical.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/cuts.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/advanced/bioware/cortex_folding.dm
  code/modules/surgery/advanced/bioware/cortex_imprint.dm
  code/modules/surgery/advanced/bioware/ligament_hook.dm
  code/modules/surgery/advanced/bioware/ligament_reinforcement.dm
  code/modules/surgery/advanced/bioware/muscled_veins.dm
  code/modules/surgery/advanced/bioware/nerve_grounding.dm
  code/modules/surgery/advanced/bioware/nerve_splicing.dm
  code/modules/surgery/advanced/bioware/vein_threading.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/necrotic_revival.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/advanced/viral_bonding.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/remove_embedded_object.dm
  code/modules/surgery/revival.dm
  code/modules/surgery/stomachpump.dm
  code/modules/surgery/surgery_step.dm
  tgstation.dme
Labels: Removal

#51789 Adds 2 new plants and 2 new plant traits.
  code/modules/hydroponics/grafts.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/hydroponics/seeds.dm
  icons/obj/hydroponics/growing_flowers.dmi
  icons/obj/hydroponics/growing_fruits.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: Feature, Needs documentation, Sprites

#51834 makes heat protection from explorer suits a bit better
  code/modules/mining/equipment/explorer_gear.dm
Labels: Balance/Rebalance, Stale

#52037 Fixes magazine overlays not working
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix

#52036 Fixes L6 inhands
  code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Fix, In Game Exploit

#52034 Unfucks worn energy gun icons... again
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
Labels: Fix, Sprites

#52033 Improve bad name sanitisation function
  code/__HELPERS/text.dm
Labels: Tweak

#51919 Painting frames are no longer ERRORs
  code/game/objects/structures/artstuff.dm
Labels: Fix

#52009 Adds a bit of examine text to bots
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Tweak

#52045 fixes labor camp beacon sprite
  code/game/machinery/gulag_teleporter.dm
Labels: Fix

#51940 manly dorf now doesnt work on alcohol tolerance, ups boozepower for dorfs
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Balance/Rebalance

#51449 [READY]Arconomy Productions presents: The Bounty Board.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__HELPERS/unsorted.dm
  code/game/machinery/bounty_board.dm
  code/modules/modular_computers/file_system/programs/bounty_board.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/obj/bureaucracy.dmi
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_tablet.dmi
  icons/obj/terminals.dmi
  icons/obj/wallframe.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosRequestKiosk.js
  tgui/packages/tgui/interfaces/RequestKiosk.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Feature, Map Edit, Needs Review, Sprites, UI

#52081 Fixes tend wounds not doing anything (speedmerge please)
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/healing.dm
Labels: Fix, Priority: High

#52069 Shows sentient Blob mobs the critical mass progress as a status
  code/modules/antagonists/blob/blob_mobs.dm
Labels: Feature

#51817 [Ready?] Mech vs Mech combat system! ... (For toy mechs.)
  code/game/objects/items/toy_mechs.dm
  code/game/objects/items/toys.dm
  tgstation.dme
Labels: Feature, Stale

#51891 Removes global bookcache
  code/modules/library/lib_machines.dm
Labels: Removal

#52074 fixes laserpointer diode runtime
  code/game/objects/items/devices/laserpointer.dm
Labels: Fix, Runtime

#52048 votes now play a sound when they get started
  code/controllers/subsystem/vote.dm
  sound/effects/license.txt
  sound/misc/bloop.ogg
  sound/misc/license.txt
Labels: Administration, Sound

#52053 Fixes blob victory runtime
  code/modules/antagonists/blob/blob_mobs.dm
Labels: Fix, Runtime

#52054 Fixes mobs that aren't able to speak being able to cast spoken spells
  code/__DEFINES/say.dm
  code/datums/mutations/actions.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/aimed.dm
  code/modules/spells/spell_types/area_teleport.dm
  code/modules/spells/spell_types/charge.dm
  code/modules/spells/spell_types/devil.dm
  code/modules/spells/spell_types/forcewall.dm
  code/modules/spells/spell_types/knock.dm
  code/modules/spells/spell_types/lichdom.dm
  code/modules/spells/spell_types/lightning.dm
  code/modules/spells/spell_types/mime.dm
  code/modules/spells/spell_types/pointed/barnyard.dm
  code/modules/spells/spell_types/pointed/blind.dm
  code/modules/spells/spell_types/pointed/mind_transfer.dm
  code/modules/spells/spell_types/rod_form.dm
  code/modules/spells/spell_types/santa.dm
  code/modules/spells/spell_types/shapeshift.dm
  code/modules/spells/spell_types/soultap.dm
  code/modules/spells/spell_types/summonitem.dm
  code/modules/spells/spell_types/the_traps.dm
  code/modules/spells/spell_types/wizard.dm
Labels: Code Improvement, Fix

#51921 Gives families cops bowman headset, internals
  code/modules/antagonists/gang/outfits.dm
Labels: Balance/Rebalance

#52065 [READY] Mafia Documentation and Improvements
  code/game/area/areas.dm
  code/modules/client/verbs/suicide.dm
  code/modules/mafia/_defines.dm
  code/modules/mafia/controller.dm
  code/modules/mafia/map_pieces.dm
  code/modules/mafia/roles.dm
Labels: Code Improvement, Documentation, Fix, Grammar and Formatting, Needs Review, Removal, Sound

#51869 fixed issue with the destructive analyzer
  code/modules/research/destructive_analyzer.dm
Labels: Fix

#51999 HERETICS : fixes an infinite summons exploit.
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/mob/living/simple_animal/eldritch_demons.dm
Labels: Fix

#52097 Fixes some Ghost Orbit menu issues
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, Tweak, UI

#52102 Makes Movespeed in Config Consistent with Live
  config/game_options.txt
Labels: Config Update

#52093 Add unit tests for some surgeries, adds more APIs for unit tests to call
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/surgeries.dm
  code/modules/unit_tests/unit_test.dm
Labels: Code Improvement

#52096 Fixes Infinite Loop in Bubblegum Hallucination
  code/modules/flufftext/Hallucination.dm
Labels: Fix

#51949 Fixes the Malf borg machine's conveyors not actually moving things (or people)
  code/modules/recycling/conveyor2.dm
Labels: Fix

#52101 White-Kit Medibot Hotfix
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: Fix, Verified :heavy_check_mark:

#51621 [READY] Adds monkey sentience caps!
  code/__DEFINES/role_preferences.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Feature, Needs Review, Sprites, Stale

#52134 Fixes being unable to orbit player entities from the Orbit menu
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#52056 Fixes anchored state mismatch for field generators on delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/modules/power/singularity/field_generator.dm
Labels: Fix, Map Edit

#52075 Barrel melons examine fix.
  code/modules/hydroponics/grown/melon.dm
Labels: Fix

#52138 Fixes AI tracking not working near roundstart
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
Labels: Fix

#52143 Cleans up Cybernetic Lung code and fixes minor bug
  code/modules/surgery/organs/lungs.dm
Labels: Fix

#52135 Speedmerge, voiceless ritual makes the ghouls INVISBLE_ABSTRACT, while they are alive, well and moving
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
Labels: Fix

#52133 fixes bounty hunting hat sprite not working
  code/modules/clothing/head/misc.dm
Labels: Fix

#52120 Glowshroom runtime cleanup
  code/game/objects/effects/glowshroom.dm
Labels: Fix

#52114 Fixes parrot possession
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix

#52116 Fixes space vines/kudzu to no longer spread slower from better production speed
  code/modules/events/spacevine.dm
Labels: Balance/Rebalance, Fix

#52119 BLOB: Makes placing Resource and Factory Blobs require a blob_allowed area
  code/modules/antagonists/blob/powers.dm
Labels: Balance/Rebalance

#52117 Fix of shuttle posting
  code/game/objects/effects/contraband.dm
Labels: Fix

#52108 Adds eye contact
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mobs.dm
  code/datums/brain_damage/creepy_trauma.dm
  code/datums/traits/negative.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Labels: Feature

#52106 Changes Icebox's Fore Maintenance and Service Hall.
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Edit, Tweak

#52115 Makes CanReach default to blocking.
  code/__DEFINES/dcs/signals.dm
  code/_onclick/click.dm
  code/datums/components/storage/storage.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#52090 fixes radiation immune mobs getting irradiated
  code/modules/mob/living/damage_procs.dm
Labels: Fix

#52088 [READY] Admin ghosts can now examine_more other ghosts to pull up chat links
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/mob_helpers.dm
Labels: Administration, Needs Review

#52003 Removes megafauna teleport admin message
  code/datums/helper_datums/teleport.dm
  code/game/objects/effects/portals.dm
Labels: Administration, Removal

#52141 Catwalk block uplifting from below. Base for similar Z move blocking things.
  code/__DEFINES/obj_flags.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/openspace.dm
  code/modules/awaymissions/away_props.dm
Labels: Code Improvement, Feature, Fix

#52154 [READY] New Sprites and Icons to fix certain items
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/game/objects/items/storage/bags.dm
  code/modules/station_goals/dna_vault.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/syringe.dmi
Labels: Fix, Needs Review, Sprites

#52151 Fixes machinery not sending COMSIG_ATOM_CONTENTS_DEL when an atom inside them is deleted
  code/game/machinery/_machinery.dm
Labels: Fix

#52077 fixes cameras crashing the server
  code/__HELPERS/icons.dm
  code/modules/photography/camera/camera.dm
  code/modules/photography/camera/camera_image_capturing.dm
  icons/blanks/32x32.dmi
  icons/blanks/96x96.dmi
Labels: Fix, Sprites

#52148 makes techweb income a define
  code/__DEFINES/research.dm
  code/controllers/subsystem/research.dm
Labels: Code Improvement

#52149 Fixes mapspawned headpikes
  code/game/objects/structures/headpike.dm
Labels: Fix

#52150 Fixes qdel loop for monkey sentience helmets
  code/modules/clothing/head/helmet.dm
Labels: Fix

#52157 Adds smite to tie someone's shoelaces together
  code/__DEFINES/admin.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Administration

#52156 Fixes tipped player medbots never being able to walk again
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Fix

#52155 Monkey mind mag helmets's sprites don't break on updating their icon_state
  code/modules/clothing/head/helmet.dm
Labels: Fix

#52152 The public can now exit Metastation's medical treatment and cryo rooms.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Tweak

#52147 Fixes examine_more runtime
  code/game/machinery/computer/arcade.dm
  code/modules/paperwork/paper.dm
Labels: Fix

#52158 Fixes acid/fire/blobs/a few other things touching objects below a tile
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/obj_defense.dm
  code/game/turfs/turf.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Code Improvement, Fix

#52145 Fixes charging defib runtime spam
  code/game/machinery/defibrillator_mount.dm
Labels: Fix

#52086 Fixes runtime when doing things with a ballistic gun without a magazine loaded
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Fix

#52112 Fixes a consistency issue with Bounty Boards, plus sprite tweaks.
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  icons/obj/terminals.dmi
  tgui/packages/tgui/interfaces/RequestKiosk.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, Map Edit, Sprites, UI

#52071 [READY]Surgery steps no longer spams the chat of people far away from the surgeon.
  code/modules/surgery/surgery_step.dm
Labels: Needs Review

#52049 HERETICS : makes ascension automatically greentext if you do it.
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
Labels: Feature

#52087 [READY]Plant mutation chances at 80+ instability is now a sliding scale.
  code/modules/hydroponics/hydroponics.dm
Labels: Needs Review, Tweak

#51922 conveyor switches can now be actived with signalers
  code/datums/wires/conveyor.dm
  code/modules/recycling/conveyor2.dm
  tgstation.dme
Labels: Feature

#51854 The GLORIOUS Supplypod Renaissance PART 2: The COOL GRAPHICS Update [EPIC MEME VIDEO INSIDE]
  code/__DEFINES/cargo.dm
  code/datums/skills/_skill.dm
  code/game/atoms.dm
  code/game/machinery/roulette_machine.dm
  code/game/objects/items/miscellaneous.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/expressconsole.dm
  code/modules/cargo/gondolapod.dm
  code/modules/cargo/supplypod.dm
  code/modules/events/stray_cargo.dm
  icons/mob/gondolapod.dmi
  icons/obj/supplypods.dmi
  icons/obj/supplypods_32x32.dmi
Labels: Sprites

#52066 Mafia Map Fixes and Removal
  _maps/map_files/Mafia/mafia_necropolis.dmm
  _maps/map_files/Mafia/mafia_snow.dmm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/turfs/open/lava.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/mafia/map_pieces.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
Labels: Fix, Map Edit

#52039 Fixes plasmamen racial ignitation stuff ignoring fireproofing traits
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Fix

#52044 Fixes grounding rods not grounding
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Fix
