Repository tgstation/tgstation, pull requests merged in 2020-03, with the labels that each got.

#49524 Sleeping Carp: Scaled Skin Edition
  code/datums/martial/sleeping_carp.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/stunbaton.dm
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance, Tweak

#49439 adds sloth holding
  code/game/machinery/washing_machine.dm
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/pai_shell.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/sloth.dm
  icons/mob/monkey_held.dmi
  icons/mob/pets_held.dmi
  icons/mob/pets_held_lh.dmi
  icons/mob/pets_held_rh.dmi
Labels: Fix, Needs Review, Refactor, Sprites

#49520 Codename Frosty Saviour- A New Medbay for Metastation
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/area/Space_Station_13_areas.dm
  code/game/objects/effects/spawners/lootdrop.dm
  icons/turf/areas.dmi
Labels: Feature, Map Edit, Sprites

#49640 Makes gum boxes tiny items
  code/game/objects/items/storage/boxes.dm
Labels: Fix

#49638 Properly fixes zombie powder permastun
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#49628 Fixes brooms messing with inventory
  code/game/objects/items/twohanded.dm
Labels: Fix

#49636 Puts basic sticky tape in autolathe, makes pointy and super sticky tape the BEPIS major reward
  code/datums/components/embedded.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  strings/tips.txt
Labels: Tweak

#49323 [READY] Multi-Z Openspace visual fixes.
  code/__DEFINES/layers.dm
  code/_onclick/hud/plane_master.dm
  code/game/objects/objs.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/turf.dm
  code/modules/mob/mob_defines.dm
Labels: Fix, Needs Review

#48781 Double-Decker Donut Disaster (Multi-Z Donutstation)
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/donutstation.json
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/Donutstation/Donutstation_LVL2.dmm
  code/game/area/Space_Station_13_areas.dm
  code/game/atoms.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/structures.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/signs/signs_maps.dm
  code/game/turfs/open/floor/hull.dm
  code/modules/mob/living/living_movement.dm
  icons/obj/decals.dmi
  icons/turf/areas.dmi
  icons/turf/floors.dmi
  tgstation.dme
Labels: Feature, Map Edit, Sprites, Stale

#49654 Fixes persistent paintings.
  code/controllers/subsystem/persistence.dm
Labels: Fix

#49622 tgui: Remote Robot Control
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/robot_control.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/RemoteRobotControl.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: Feature, UI

#49472 go up/down message change
  code/modules/mob/mob_movement.dm
Labels: Stale

#49648 Fixes a minor issue with food in vend-a-trays not being purchasable.
  code/game/objects/structures/displaycase.dm
Labels: Fix

#49647 Misc mapping debug verb fixes
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/shuttles/aux_base_default.dmm
Labels: Fix, Map Edit

#49625 Converts all remaining Malfunction verbs to action buttons
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/traitor/equipment/module_picker.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/power/apc.dm
  icons/mob/actions/actions_AI.dmi
Labels: Fix, Sprites, Tweak

#49599 Defib mounts are now roundstart but do not recharge. Rechargable variants still exist.
  code/game/machinery/defibrillator_mount.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/machines/defib_mount.dmi
Labels: Balance/Rebalance, Sprites

#49316 Ash Walker flavor text, balance changes
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/mecha/mecha.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/awaymissions/corpse.dm
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
Labels: Balance/Rebalance, Fix, Grammar and Formatting

#49661 Sleeping Carp Knee Jerk Nerf: Nyoops Edition
  code/datums/martial/sleeping_carp.dm
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance

#49626 Vendor fix when they are hacked and have no contraband items
  code/modules/clothing/head/misc.dm
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.js
  tgui/packages/tgui/public/tgui.bundle.js
Labels: Fix, UI

#49663 Fixes embed examines and runtimes
  code/game/objects/items.dm
  code/modules/vending/_vending.dm
Labels: Fix

#49642 fix BSA deploy
  code/modules/station_goals/bsa.dm
Labels: Fix

#49534 fixes web production
  code/datums/mutations/actions.dm
Labels: Fix

#49676 Adds a unit test to make sure the id_arg_index is used
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/bespoke_id.dm
Labels: Continuous Integration

#49454 Better glowing lights
  code/__DEFINES/layers.dm
  code/__DEFINES/lighting.dm
  code/_onclick/hud/plane_master.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/firealarm.dm
  code/game/objects/items.dm
  code/modules/lighting/emissive_blocker.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob_defines.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  tgstation.dme
Labels: Fix

#49552 Parallax planet fix
  code/_onclick/hud/parallax.dm
Labels: Fix, Stale

#49249 [READY]New shoulder holster sprite!
  icons/obj/clothing/belts.dmi
Labels: Needs Review, Sprites, Stale

#49243 Prevents evidence bags holding more bags.
  code/modules/detectivework/evidence.dm
Labels: Fix

#49679 Donut-Z Fixes
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/Donutstation/Donutstation_LVL2.dmm
  code/game/turfs/open/openspace.dm
Labels: Fix, Map Edit

#49703 Icon fixes
  code/_globalvars/bitfields.dm
  code/_onclick/hud/plane_master.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/overlays.dm
Labels: Fix, Priority: High

#49632 Fixes potential major flaw in wizard gamemode
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Fix, Removal

#49481 private security officers get a nanotrasen hud icon
  code/modules/jobs/access.dm
Labels: Stale, Tweak

#49704 Headrev antag check exploit fix
  code/modules/antagonists/revolution/revolution.dm
Labels: Fix

#49402 [READY] Meat material & material datum turf support
  code/__DEFINES/flags.dm
  code/__DEFINES/footsteps.dm
  code/__DEFINES/materials.dm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/materials.dm
  code/datums/components/beauty.dm
  code/datums/components/edible.dm
  code/datums/materials/_material.dm
  code/datums/materials/meat.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/sheetifier.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/closed/wall/material_walls.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/turf.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/admins.txt
  icons/materials/composite.dmi
  icons/obj/machines/sheetifier.dmi
  icons/obj/stack_objects.dmi
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
  icons/turf/walls/materialwall.dmi
  sound/effects/meatslap.ogg
  tgstation.dme
Labels: Config Update, Feature, Fix, Needs Review, Sound, Sprites

#49452 Adds a license press for in perma brig
  code/game/machinery/prisonlabor.dm
  code/game/objects/items/stacks/license_plates.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/cargo/packs.dm
  icons/obj/machines/prison.dmi
  tgstation.dme
Labels: Feature, Sprites, Stale

#49725 Fixes Delta library windoor access requirement
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#49714 Fixes coal stack icons.
  code/game/objects/items/stacks/sheets/mineral.dm
Labels: Fix

#49572 Makes bloodcrawling a trait instead of a var
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/modules/antagonists/devil/imp/imp.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/mob/living/bloodcrawl.dm
  code/modules/mob/living/living_defines.dm
Labels: Code Improvement, Stale

#49694 removing unnecesary double parent proc calls
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/reverse_bear_trap.dm
  code/game/objects/items/handcuffs.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/library/lib_machines.dm
  code/modules/mining/equipment/regenerative_core.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/modular_computers/computers/item/laptop.dm
  code/modules/power/floodlight.dm
  code/modules/power/multiz.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Code Improvement, Fix, Good First PR

#49706 Fixes some leftover revhead flash stuff
  code/modules/antagonists/revolution/revolution.dm
Labels: Fix

#49690 Some fixes for the Heck Factory and puzzle structures.
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  code/game/objects/items/puzzle_pieces.dm
Labels: Fix, Map Edit

#49689 Small usability addition to Genetics DNA console interface.
  code/game/machinery/computer/dna_console.dm
  html/browser/scannernew.css
Labels: Feature

#49684 Adds the ability for borgs to wear drones and pAIs as hats.
  code/modules/mob/living/silicon/pai/pai_shell.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
Labels: Feature, Fix

#49681 Secway and janicart key suicides
  code/modules/vehicles/vehicle_key.dm
Labels: Feature

#49677 Corrects network lists on some Box medical cameras
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Map Edit, Tweak

#49498 Adds exports for several advanced tools.
  code/modules/cargo/exports/tools.dm
Labels: Feature, Stale

#49618 Gamer skill
  code/__DEFINES/skills.dm
  code/__DEFINES/traits.dm
  code/datums/mind.dm
  code/datums/skills/_skill.dm
  code/datums/skills/gaming.dm
  code/game/machinery/computer/arcade.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/modular_computers/file_system/programs/arcade.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  tgstation.dme
Labels: Feature

#49489 Revival surgery is no longer an advanced surgery
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/revival.dm
  tgstation.dme
Labels: Balance/Rebalance, Stale, Verified :heavy_check_mark:

#49062 a couple more genetics perks: martyrdom and HARS, locks chem spike behind crafting only
  code/__DEFINES/DNA.dm
  code/__DEFINES/dcs/signals.dm
  code/datums/mutations/_combined.dm
  code/datums/mutations/_mutations.dm
  code/datums/mutations/body.dm
  code/datums/status_effects/buffs.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/antagonists/changeling/powers/regenerate.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/organs/appendix.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/helpers.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/stomach.dm
  code/modules/surgery/prosthetic_replacement.dm
Labels: Feature, Needs Review, Sprites

#49433 Brooms Upgraded: Disposal Bin Edition
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/items/broom.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/janicart.dm
  code/modules/cargo/packs.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/wardrobes.dm
Labels: Feature, Map Edit, Stale, Verified :heavy_check_mark:

#49709 Make RCD constructing effect unclickable.
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
Labels: Tweak

#49557 replaces hivelord stands with new ones
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/assassin.dm
  code/modules/mob/living/simple_animal/guardian/types/charger.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/living/simple_animal/guardian/types/explosive.dm
  code/modules/mob/living/simple_animal/guardian/types/fire.dm
  code/modules/mob/living/simple_animal/guardian/types/gravitokinetic.dm
  code/modules/mob/living/simple_animal/guardian/types/lightning.dm
  code/modules/mob/living/simple_animal/guardian/types/protector.dm
  code/modules/mob/living/simple_animal/guardian/types/ranged.dm
  code/modules/mob/living/simple_animal/guardian/types/standard.dm
  code/modules/mob/living/simple_animal/guardian/types/support.dm
  icons/mob/guardian.dmi
  icons/obj/lavaland/artefacts.dmi
Labels: Feature, Fix, Removal, Sprites, Stale

#49700 Adds the label component; Small tweaks to the hand labeler
  code/datums/components/label.dm
  code/modules/paperwork/handlabeler.dm
  tgstation.dme
Labels: Code Improvement, Sound, Tweak

#49675 >2 hand support for simple animal
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Fix

#49696 book console fix
  _maps/RandomRuins/SpaceRuins/intactemptyship.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_imfedupwiththisworld.dmm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/library/lib_items.dm
  code/modules/library/lib_machines.dm
Labels: Fix, Map Edit

#49710 Allows adjusting jumpsuits through the strip panel
  code/modules/mob/living/carbon/human/human.dm
Labels: Tweak

#49693 Make Initialize shouldcallparent
  code/__HELPERS/unsorted.dm
  code/game/atoms.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/mob/dead/dead.dm
Labels: Linting

#49692 Make setDir shouldcallparent
  code/game/atoms.dm
  code/game/objects/items/cardboard_cutouts.dm
Labels: Linting

#49672 Add lints for "new" override prevention feature
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/spaceman_dmm.dm
  code/controllers/subsystem.dm
  code/datums/elements/tool_flash.dm
  code/game/objects/items.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/events/_event.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/research/nanites/nanite_programs.dm
  tgstation.dme
Labels: FUCK, Linting

#49671 Makes Crossed and Moved should call parent
  code/game/atoms_movable.dm
  code/game/machinery/scan_gate.dm
  code/game/objects/effects/alien_acid.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/mines.dm
  code/game/objects/effects/proximity.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/traps.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/infrared.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/mission_code/wildwest.dm
  code/modules/events/spacevine.dm
  code/modules/fields/turf_objects.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/simple_animal/guardian/types/ranged.dm
  code/modules/mob/living/simple_animal/hostile/cockroach.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/frog.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/shuttle/special.dm
  code/modules/spells/spell_types/spacetime_distortion.dm
Labels: Code Improvement, Linting

#49713 Adds better clarification for anomaly core types in Phazon construction
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
Labels: Tweak

#49712 Build SpacemanDMM from source
  .travis.yml
  code/__DEFINES/spaceman_dmm.dm
  code/controllers/subsystem/mapping.dm
  code/datums/diseases/gastrolisis.dm
  code/datums/http.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/effects/portals.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/mapping/reader.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  dependencies.sh
  tools/travis/build_spaceman_dmm.sh
  tools/travis/install_spaceman_dmm.sh
Labels: Continuous Integration, Linting, Tools

#49728 Fixes Pubby private art gallery room overpressurizing
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#49717 you can actually make the hygienebot now
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Fix

#49726 [READY] Makes the Paper Wizard Unable to Be Made Sentient
  code/modules/mob/living/simple_animal/hostile/bosses/boss.dm
Labels: Fix, Needs Review

#49434 Adds Religious Sects and Basic Technophile Sect for Proof of Concept
  code/__DEFINES/misc.dm
  code/_globalvars/misc.dm
  code/_globalvars/religion.dm
  code/datums/mind.dm
  code/game/gamemodes/cult/cult.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/book.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/religion/religion_sects.dm
  code/modules/religion/religion_structures.dm
  code/modules/religion/rites.dm
  tgstation.dme
Labels: Feature, Stale

#49724 Tend Wounds now provides xp off healed amount, not repeated iterations (less XP overall)
  code/modules/surgery/healing.dm
Labels: Balance/Rebalance

#49476 Adds tackling (VIDEO INSIDE)
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/traits.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/_globalvars/traits.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/tackle.dm
  code/datums/elements/squish.dm
  code/datums/mutations/body.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/clown_ops/clown_ops.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/objects/items/stacks/tape.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/corpse.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/gloves/tacklers.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/outfits/vr.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/ruins/lavaland_ruin_code.dm
  code/modules/vending/security.dm
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
  strings/tips.txt
  tgstation.dme
Labels: Feature, Sprites

#49718 DOC the subsystem variables
  code/controllers/subsystem.dm
Labels: Documentation

#49732 Adds mothperson plushie
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/plushes.dm
  icons/obj/plushes.dmi
Labels: Feature, Sprites

#49742 Off hand item drop fix
  code/datums/components/twohanded.dm
Labels: Fix

#49769 Logs malfunction modules purchases in the feedback database
  code/modules/antagonists/traitor/equipment/module_picker.dm
Labels: Logging

#49747 caltrops damage you after they send a visible message
  code/datums/components/caltrop.dm
Labels: Fix

#49738 Radioactive Microlaser UI tweaks
  code/game/objects/items/devices/traitordevices.dm
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: Tweak, UI

#49737 Hand Tele try place portal ahead of user.
  code/__HELPERS/game.dm
  code/game/objects/items/teleportation.dm
Labels: Tweak

#48935 The Supermatter Zaps with honkers and blackjack [Ready]
  code/modules/power/supermatter/supermatter.dm
  icons/effects/beam.dmi
Labels: Balance/Rebalance, Config Update, Fix, Needs Review, Refactor, Sound, Sprites, Tweak, UI

#49729 Update pillow to 7.0.0
  tools/mapmerge2/requirements.txt
Labels: Tools

#49787 fixes an interation in autodoc guide
  .github/AUTODOC_GUIDE.md
Labels: GitHub

#49611 Drops AI Core board costs back down to glass
  code/modules/research/designs/AI_module_designs.dm
Labels: Balance/Rebalance, Fix

#49698 tgui: Exosuit Control Console
  code/game/mecha/mecha_control_console.dm
  tgui/packages/tgui/interfaces/ExosuitControlConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: Feature, UI

#49781 Fixes Medibot Action Queueing
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Fix

#49776 Fixes pacifist cqc neck grab bug
  code/datums/martial/cqc.dm
Labels: Fix

#49775 Adds prisoner IDs to donut station
  _maps/map_files/Donutstation/Donutstation.dmm
Labels: Fix, Map Edit

#49774 Removes the Double Baton 'Tech' / Fixes targeting issues related to the stunbaton
  code/__DEFINES/traits.dm
  code/game/objects/items/stunbaton.dm
Labels: Balance/Rebalance, Removal

#49609 Cats cannot catch pray smarter than them.
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Against God and Nature, Stale

#49148 Adds a new combat medic hardsuit, exclusive to the blackmarket.
  code/modules/cargo/blackmarket/blackmarket_items/clothing.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Feature, Sprites

#49571 Clothing armour values on examine
  code/modules/clothing/clothing.dm
Labels: Feature

#49567 Fix on station jet air using and trails only on use.
  code/game/objects/items/tanks/jetpack.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/surgery/organs/augments_chest.dm
Labels: Fix, Tweak

#49274 The Families Gamemode. Home. At least it was 'til I fucked everything up.
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/misc.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/controllers/subsystem/ticker.dm
  code/datums/hud.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gang/gang.dm
  code/game/gamemodes/gang/gang_things.dm
  code/game/mecha/combat/five_stars.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/gang/gang.dm
  code/modules/antagonists/gang/outfits.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/suits.dm
  code/modules/mob/living/carbon/human/death.dm
  config/game_options.txt
  icons/mecha/mecha_96x96.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/costume.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/clothing/under/syndicate.dmi
  icons/mob/hud.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/costume.dmi
  icons/obj/clothing/under/security.dmi
  icons/obj/clothing/under/syndicate.dmi
  icons/obj/gang/actions.dmi
  icons/obj/gang/signup_points.dmi
  icons/obj/gang/tags.dmi
  icons/obj/gang/wanted_160x32.dmi
  icons/obj/gang/wanted_stars.dmi
  icons/obj/storage.dmi
  sound/ambience/antag/thatshowfamiliesworks.ogg
  sound/effects/families_police.ogg
  tgstation.dme
Labels: Config Update, Feature, Needs Review, Sound, Sprites

#49766 Fixes runtime when rotating onpipe freezer
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix

#49615 Adds pruno, aka prison wine, to the game.
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/snacks_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/hydroponics/grown.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/vending/sustenance.dm
  icons/obj/food/burgerbread.dmi
Labels: Feature, Map Edit, Sprites, Tweak

#49798 Fixes nanite comm remotes
  code/modules/research/nanites/nanite_programs/suppression.dm
Labels: Fix

#49614 Use actions github token for push
  .github/workflows/compile_changelogs.yml
Labels: GitHub, Stale, Verified :heavy_check_mark:

#49734 Slime split fixes.
  code/modules/mob/living/simple_animal/slime/death.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
Labels: Fix

#49719 New random event: Wisdom cow
  code/_globalvars/lists/flavor_misc.dm
  code/modules/events/wisdomcow.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  strings/wisdoms.txt
  tgstation.dme
Labels: Feature

#49746 MMh yes i know this type of stone: Mining skill QOL
  code/datums/skills/mining.dm
  code/game/objects/items.dm
Labels: Feature

#49807 emoji update pr
  icons/emoji.dmi
  tgstation.dme
Labels: Sprites, Tweak

#49804 effects layering fix
  code/game/objects/effects/effects.dm
Labels: Fix

#49793 Fixes player panel handling "
  code/modules/admin/player_panel.dm
Labels: Fix

#49792 Fixes #49763 - Quirk arm prosthetics and arm augmentations not working
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#49749 Adds Weekend at Bernies'ing People
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/mob_defines.dm
Labels: Feature

#49828 tgui: AI system integrity restorer
  code/game/machinery/computer/aifixer.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  tgui/packages/tgui/interfaces/AiRestorer.js
  tgui/packages/tgui/interfaces/NtosAiRestorer.js
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/routes.js
Labels: Feature, UI

#49810 fake flood fix
  code/modules/flufftext/Hallucination.dm
Labels: Fix

#49751 Add new lints
  code/_onclick/click.dm
  code/datums/components/embedded.dm
  code/datums/components/footstep.dm
  code/datums/components/slippery.dm
  code/datums/elements/squish.dm
  code/datums/mutations/body.dm
  code/game/objects/items.dm
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/say.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/ninja/suit/n_suit_verbs/ninja_adrenaline.dm
  code/modules/photography/camera/camera_image_capturing.dm
Labels: Code Improvement, Linting

#49830 Adds tons of sheet inhands and makes them be obstructed by your body when facing north.
  code/game/objects/items/stacks/sheets/sheet_types.dm
  icons/mob/inhands/misc/sheets_lefthand.dmi
  icons/mob/inhands/misc/sheets_righthand.dmi
Labels: Fix, Sprites

#49827 Fix chair examine edge case
  code/game/objects/structures/beds_chairs/chair.dm
Labels: Code Improvement, Grammar and Formatting

#49818 Restores ops normal combat gloves, adds Guerrilla Gloves to their uplink
  code/game/gamemodes/clown_ops/clown_ops.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/modules/clothing/gloves/tacklers.dm
  code/modules/uplink/uplink_items.dm
Labels: Grammar and Formatting, Tweak

#49852 Change cable layer only in hand.
  code/modules/power/cable.dm
Labels: Tweak

#49800 Ladder radial menu.
  code/game/objects/structures/ladders.dm
Labels: Feature

#49835 fixes nightmares not getting nightmare names
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: Fix

#49834 Fixes regenerative coma not removing coma if deleted
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Fix

#49838 plastic is now a rigid material
  code/datums/materials/basemats.dm
Labels: Fix

#49837 renames the pirate captain
  code/modules/clothing/head/misc.dm
Labels: Grammar and Formatting

#49823 Fixes the handheld arcade game not working as intended
  code/modules/modular_computers/file_system/programs/arcade.dm
Labels: Fix

#49867 [s] Fixes XSS Exploit Defeating Sanitization of Any String in Goonchat
  code/modules/goonchat/browserassets/js/browserOutput.js
Labels: Fix, Priority: CRITICAL, Security

#49870 fixes master
  _maps/map_files/Donutstation/Donutstation_LVL2.dmm
Labels: Map Edit

#49779 Fixes Strange Reagent not working when the holder is empty
  code/modules/mob/living/living.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix

#49863 Fixes eslint for vscode
  .vscode/settings.json
Labels: Fix

#49857 *giant fucking nerd voice* lets see if i can remove this UNLINT() from living.dm now!
  code/modules/mob/living/living.dm
Labels: Code Improvement, Linting

#49866 Webedit touching the MOVESPEED_ID_DAMAGE_SLOWDOWN_FLYING speed modifier.
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#49855 Label component code fixes
  code/datums/components/label.dm
Labels: Code Improvement

#49862 lowers advanced rcd upgrade price
  code/modules/research/techweb/all_nodes.dm
Labels: Balance/Rebalance

#49860 Hug Fix
  code/modules/mob/living/carbon/life.dm
Labels: Fix

#49444 aloe medical plant addition
  code/game/objects/items/stacks/medical.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/vending/megaseed.dm
  icons/obj/hydroponics/growing_vegetables.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/stack_objects.dmi
Labels: Feature, Sprites

#49865 Fixes empty tape recorders getting stuck on pocket and belt slots
  code/game/objects/items/devices/taperecorder.dm
Labels: Fix

#49858 Fix dmdoc generation and revert to SpacemanDMM 1.3
  .travis.yml
  code/__DEFINES/spaceman_dmm.dm
  tools/travis/install_spaceman_dmm.sh
Labels: Tools

#49887 Replaces parent wand with wand of nothing on Donut
  _maps/map_files/Donutstation/Donutstation.dmm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Fix, Map Edit

#49882 Adjust some Families objectives based on feedback.
  code/modules/antagonists/gang/gang.dm
Labels: Balance/Rebalance, Tweak

#49886 Prevents more prisoner positions from being opened
  code/game/machinery/computer/card.dm
Labels: Fix

#49872 ladder radial red arrow
  code/game/objects/structures/ladders.dm
Labels: Needs Pictures, Tweak

#49235 Redesigns and Expands Permabrig
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/BoxStation/job_changes.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/kitchen.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/hydroponics/grown/root.dm
  code/modules/jobs/map_changes/map_changes.dm
  code/modules/paperwork/paper_premade.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/designs/autolathe_designs.dm
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/crates.dmi
  icons/obj/food/containers.dmi
  icons/obj/kitchen.dmi
  icons/obj/shards.dmi
  icons/turf/areas.dmi
Labels: Feature, Map Edit, Sprites

#49864 Remove ui deadcode
  code/game/machinery/spaceheater.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/power/smes.dm
  code/modules/reagents/chemistry/machinery/chem_heater.dm
Labels: Code Improvement

#49861 Adds Prisoner to dynamic's protected roles list
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  config/dynamic.json
Labels: Config Update, Fix

#49873 Adds donut z2 to travis properly.
  _maps/_basemap.dm
  _maps/map_files/Donutstation/Donutstation_LVL2.dmm
Labels: Continuous Integration, Fix, Map Edit

#49905 Fixes undercover cop sunglasses not having flash protection
  code/modules/clothing/glasses/hud.dm
Labels: Fix

#49906 Fixes spawned IEDs not having cans
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/items/grenades/ghettobomb.dm
  code/game/objects/items/spear.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/research/xenobiology/crossbreeding/industrial.dm
Labels: Fix

#49847 Allows wigs to copy hair styles
  code/modules/clothing/head/misc_special.dm
Labels: Tweak

#49730 AI can now look up and down zlevels
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Labels: Feature

#49871 radial repeat close
  code/_onclick/hud/radial.dm
Labels: Feature

#49880 Winter Biodome Bathroom Better
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
Labels: Map Edit, Tweak

#49889 Adds the 40 player minimum to Families, my bad.
  code/game/gamemodes/gang/gang.dm
Labels: Fix

#49874 Sect Hotfixes/Minor QoL
  code/modules/religion/religion_sects.dm
  code/modules/religion/religion_structures.dm
  code/modules/religion/rites.dm
Labels: Fix

#49916 fixes typo in wisdom cow
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
Labels: Grammar and Formatting

#49918 Adds a couple mood events
  code/datums/components/gunpoint.dm
  code/datums/mood_events/generic_negative_events.dm
  code/game/objects/structures/electricchair.dm
  code/game/objects/structures/guillotine.dm
Labels: Feature

#49919 Fixes shitty mesons on borgs and mining drones
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix, Tweak

#49920 Fixed body temp damage calculation
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#49850 Some parallax fixes.
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
Labels: Fix

#49844 RCD silo link message fix
  code/game/objects/items/RCD.dm
Labels: Feature, Fix

#49740 get_cable_node() twix
  code/__DEFINES/power.dm
  code/modules/power/cable.dm
  code/modules/power/power.dm
  icons/obj/power_cond/layer_cable.dmi
Labels: Code Improvement, Sprites

#49752 Make barometers more accurate
  code/controllers/subsystem/weather.dm
  code/game/objects/items/devices/scanners.dm
Labels: Fix

#49933 brighten up meat texture
  icons/materials/composite.dmi
Labels: Sprites, Tweak
