Repository tgstation/tgstation, pull requests merged in 2020-10, with the labels that each got.

#54068 Space Cops now spawn with a Disabler alongside their existing weapon, and no longer have Gang HUDs.
  code/modules/antagonists/gang/outfits.dm
Labels: Balance/Rebalance

#54043 MultiZ camera console actions
  code/game/machinery/computer/camera_advanced.dm
  icons/mob/actions/actions_silicon.dmi
Labels: Feature, Sprites

#54088 Some minor fixes to Meta's permabrig.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#54070 Adds Cross-Server Communication Network Option (PAID* CODE)
  code/controllers/configuration/entries/comms.dm
  code/datums/world_topic.dm
  code/game/machinery/computer/communications.dm
  code/modules/admin/verbs/adminhelp.dm
  config/comms.txt
Labels: Config Update, Feature

#53921 Crystal invasion no longer random event but delamination event
  code/modules/events/crystal_event.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Tweak

#54101 unbinding movement and communication should work now
  code/modules/client/preferences.dm
Labels: Fix

#54099 Add jumpskirt dye flag to all jumpskirt
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
  code/modules/clothing/under/jobs/civilian/curator.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/suits.dm
  code/modules/clothing/under/syndicate.dm
Labels: Fix

#53952 Heretic tweak patch: changes a few false descriptions and balances a few things.
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
Labels: Balance/Rebalance, Tweak

#54095 Fixes monkeycube size and organ callback and microwaves
  code/__DEFINES/dcs/signals.dm
  code/datums/components/food/edible.dm
  code/game/objects/items.dm
  code/game/objects/items/food/egg.dm
  code/game/objects/items/food/meat.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Fix

#54096 Makes some things that rely on atmos adjacency more sane/faster.
  code/__DEFINES/atmospherics.dm
  code/__HELPERS/areas.dm
  code/datums/diseases/_disease.dm
  code/game/objects/effects/glowshroom.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/RCD.dm
  code/game/objects/items/melee/misc.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/flufftext/Hallucination.dm
Labels: Fix

#53830 Completely FIX Hilbert's Hotel and its associated ruin to the game.
  _maps/RandomRuins/SpaceRuins/hilbertshoteltestingsite.dmm
  _maps/templates/hilbertshotel.dmm
  _maps/templates/hilbertshotelempty.dmm
  _maps/templates/hilbertshotellore.dmm
  _maps/templates/hilbertshotelstorage.dmm
  code/datums/ruins/space.dm
  code/game/objects/items/blueprints.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/shuttle/supply.dm
  config/spaceruinblacklist.txt
  tgstation.dme
Labels: Config Update, Fix, Map Edit

#53681 More deletion cleanup
  code/datums/spawners_menu.dm
  code/modules/cargo/supplypod.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/living/ventcrawling.dm
  code/modules/research/xenobiology/crossbreeding/charged.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
  code/modules/vehicles/mecha/equipment/weapons/mecha_ammo.dm
Labels: Code Improvement, Merge Conflict

#54123 Fix Fix incorrect Initialize arguments
  code/modules/hydroponics/growninedible.dm
  code/modules/power/solar.dm
  code/modules/recycling/disposal/construction.dm
Labels: FUCK, Fix

#54030 fix chat HARDER
  code/modules/tgui_panel/external.dm
Labels: Tweak

#54075 NT Software Hub shows programs you do not have permissions to download
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  tgui/packages/tgui/interfaces/NtosNetDownloader.js
  tgui/public/tgui.bundle.js
Labels: Tweak, UI

#54126 Fix warp whistle permanently immobilising its user.
  code/__DEFINES/traits.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
Labels: Fix

#54060 After 2 long years, shades are zoomers again
  code/modules/mob/living/simple_animal/shade.dm
Labels: Balance/Rebalance

#53702 [READY] Highlander mode now includes silicons
  code/_onclick/hud/robot.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/weaponry.dm
  code/modules/admin/verbs/onlyone.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/shuttle/emergency.dm
  icons/mob/robots.dmi
  icons/mob/screen_cyborg.dmi
  icons/obj/items_cyborg.dmi
Labels: Balance/Rebalance, Feature, Needs Review, Sprites, Stale

#54116 MegaSeed Servitor now shows cotton seeds in their appropriate alphabetical place.
  code/modules/vending/megaseed.dm
Labels: Tweak

#54083 changes your cursor to an eye when you are holding shift to indicate you will examine
  code/modules/keybindings/bindings_client.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  icons/effects/mouse_pointers/examine_pointer.dmi
Labels: Feature, Sprites

#54127 tray belt and worn sprite
  code/game/objects/items/storage/bags.dm
  icons/mob/clothing/belt.dmi
Labels: Fix, Sprites

#54142 Update CI to BYOND 513.1533
  Dockerfile
Labels: Continuous Integration

#54150 Fix wrong plastitanium wall icon in some cases.
  icons/turf/walls/plastitanium_wall.dmi
Labels: Fix, Sprites

#54130 makes portal and gravity gun inhands more visible on flooring
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
Labels: Sprites

#54112 Minor Pubby Map Fixes
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#54137 Adds visible feedback to paystand payments
  code/modules/economy/pay_stand.dm
Labels: Fix

#54143 fixes the lava not burning thins inside problem
  code/game/turfs/open/lava.dm
Labels: Fix

#54102 No more magical transformation of condiment containers on reagent change
  code/__DEFINES/reagents.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  icons/UI_Icons/Condiments/bbqsauce.png
  icons/UI_Icons/Condiments/coldsauce.png
  icons/UI_Icons/Condiments/condi_empty.png
  icons/UI_Icons/Condiments/emptycondiment.png
  icons/UI_Icons/Condiments/enzyme.png
  icons/UI_Icons/Condiments/flour.png
  icons/UI_Icons/Condiments/hotsauce.png
  icons/UI_Icons/Condiments/ketchup.png
  icons/UI_Icons/Condiments/mayonnaise.png
  icons/UI_Icons/Condiments/milk.png
  icons/UI_Icons/Condiments/oliveoil.png
  icons/UI_Icons/Condiments/peppermillsmall.png
  icons/UI_Icons/Condiments/rice.png
  icons/UI_Icons/Condiments/saltshakersmall.png
  icons/UI_Icons/Condiments/soymilk.png
  icons/UI_Icons/Condiments/soysauce.png
  icons/UI_Icons/Condiments/sugar.png
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/public/tgui.bundle.js
Labels: Feature, Fix, Good First PR, Removal, Sprites, UI

#54052 Reduce maptick with this spicy one line change (warranty maybe included)
  code/game/atoms.dm
Labels: Code Improvement

#53938 Painkiller and miner's salve kills pain
  code/datums/wounds/bones.dm
Labels: Balance/Rebalance

#54135 Fix loading templates in new z-levels being off by one turf.
  code/modules/mapping/map_template.dm
Labels: Fix

#54151 Round end report cleanup
  code/__HELPERS/roundend.dm
Labels: Tweak

#54147 Lowers default instrument volume
  code/modules/instruments/songs/_song.dm
Labels: Tweak

#54145 Adds Uncle Pete's Rollerdome, a replacement for Disco Inferno
  _maps/shuttles/emergency_rollerdome.dmm
  code/datums/shuttles.dm
Labels: Feature, Map Edit

#54152 Keybinding Conflicts now wait 5 seconds before being announced
  code/modules/client/preferences_savefile.dm
Labels: Tweak

#54078 Mobility refactor: UI, pull and lying down edition
  code/__DEFINES/misc.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/buckling.dm
  code/game/objects/structures/manned_turret.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/target_stake.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/he_pipes.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/power/singularity/emitter.dm
Labels: Feature, Fix, Refactor

#54153 Fixes large clothes displaying blood overlays incorrectly
  code/__DEFINES/obj_flags.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/religion.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/effects/64x64.dmi
Labels: Fix, Sprites

#53975 Adds Shuttle 667 as a buyable shuttle for dispelling a cult rune
  _maps/shuttles/emergency_narnar.dmm
  code/__DEFINES/shuttles.dm
  code/datums/shuttles.dm
  code/game/objects/effects/forcefields.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Map Edit

#54158 Makes Modular PC icons not hardcoded in NtosMain.js, and fixes them not showing up
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/alarm.dm
  code/modules/modular_computers/file_system/programs/antagonist/contract_uplink.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/antagonist/revelation.dm
  code/modules/modular_computers/file_system/programs/arcade.dm
  code/modules/modular_computers/file_system/programs/atmosscan.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/modular_computers/file_system/programs/cargoship.dm
  code/modules/modular_computers/file_system/programs/configurator.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/modular_computers/file_system/programs/file_browser.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/powermonitor.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  code/modules/modular_computers/file_system/programs/robotact.dm
  code/modules/modular_computers/file_system/programs/sm_monitor.dm
  tgui/packages/tgui/interfaces/NtosMain.js
  tgui/public/tgui.bundle.js
Labels: Fix, UI

#54167 Makes scarves as small as bedsheets.
  code/modules/clothing/neck/_neck.dm
Labels: Tweak

#54164 Fixes scanners being usable by the blind
  code/game/objects/items/devices/scanners.dm
Labels: Tweak

#54165 Thick material check fix
  code/modules/mob/living/carbon/human/human.dm
Labels: Tweak

#54157 Fixes a rare interaction between mice by assigning a proper subtype.
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Feature

#54168 Corrects path error in blood filter surgery
  code/modules/surgery/blood_filter.dm
Labels: Fix

#53993 Some shuttes rework. Allow many shuttles of one template to work at the same time.
  code/controllers/subsystem/shuttle.dm
  code/datums/shuttles.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/mapping/map_template.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
  tgui/packages/tgui/interfaces/ShuttleManipulator.js
  tgui/public/tgui.bundle.js
Labels: UI

#53725 Making holes in the SM chamber will provide a lot of +*=FUN=*+
  code/modules/power/supermatter/supermatter.dm
Labels: Feature, Stale

#53890 Sign language fixes
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living_say.dm
Labels: Tweak

#54189 readds accidentally removed icons for falsewalls
  icons/turf/walls/wall.dmi
Labels: Fix, Sprites

#54170 Fixes reinforced plasma window sprites
  icons/obj/smooth_structures/rplasma_window.dmi
Labels: Sprites

#54188 Wound scans respect blindness
  code/game/objects/items/devices/scanners.dm
Labels: Fix

#54163 Replaces sleeping carp pierce immunity with wound resistance
  code/datums/martial/sleeping_carp.dm
  code/game/objects/items/granters.dm
Labels: Balance/Rebalance

#54178 Nerfs uranium material effects, and changes how effective materials are on sheets and statues
  code/datums/materials/basemats.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/statues.dm
Labels: Balance/Rebalance

#54154 Vending Tab for Cargo Orders
  code/modules/cargo/packs.dm
Labels: Tweak

#54041 most laser and energy weapons are bigger, lethal lasers are cheaper
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: Balance/Rebalance, Sprites

#54184 Tile Reskinning: Allows you to make prettier in-game building projects
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/objects/items/stacks/tiles/tile_reskinning.dm
  code/game/turfs/open/floor/mineral_floor.dm
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
  tgstation.dme
Labels: Feature, Sprites, Work In Progress

#54187 Zeta Shuttle Stasis Update
  _maps/shuttles/emergency_zeta.dmm
Labels: Feature, Grammar and Formatting, Map Edit

#54048 Adds tank holders
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/__DEFINES/dcs/signals.dm
  code/datums/components/container_item/container_item.dm
  code/datums/components/container_item/tank_holder.dm
  code/game/objects/items.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/miscellaneous.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/tanks/tank_types.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/structures/tank_holder.dm
  icons/obj/tank.dmi
  tgstation.dme
Labels: Feature, Map Edit, Sprites

#54003 Brings back the Disco Inferno shuttle, but as an admin-only shuttle
  _maps/shuttles/emergency_discoinferno.dmm
  code/datums/shuttles.dm
Labels: Feature, Map Edit

#54179 Allows rotating statues with alt click
  code/game/objects/structures/statues.dm
Labels: Tweak

#54212 tgui icon stacking
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Icon.js
  tgui/packages/tgui/styles/components/Icon.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui.bundle.css
Labels: UI

#54210 Fixes cold room and freezer air alarms
  _maps/map_files/MetaStation/MetaStation.dmm
  code/__DEFINES/atmospherics.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix, Map Edit

#54211 fix statpanel deleting whole admin tab
  html/statbrowser.html
Labels: Fix

#54208 replaces a cursed proc in trauma code with a blessed signal
  code/__DEFINES/dcs/signals.dm
  code/datums/brain_damage/brain_trauma.dm
  code/datums/brain_damage/creepy_trauma.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Code Improvement

#54097 Arconomy: Trims out some of the worst bounties, replaces them with tasks that require basic amounts of effort.
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/science.dm
  code/modules/modular_computers/computers/item/computer.dm
Labels: Feature, Removal

#54031 Orbit Menu: Add Auto-Observe mode! Refresh button! Alive/Ghost Counters! No more [ghost] tag!
  code/__HELPERS/unsorted.dm
  code/datums/components/orbiter.dm
  code/game/atoms.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit.js
  tgui/public/tgui.bundle.js
Labels: Feature, UI

#54201 Fix blueprint area editing, and possible fake flood hallucinations.
  code/__DEFINES/atmospherics.dm
Labels: Fix

#53615 RPD unwrench upgrade
  code/__DEFINES/construction.dm
  code/game/objects/items/RPD.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature

#54192 Dronespeak manual is once again infinite use, and can once again only be used on drones or silicons.
  code/modules/language/language_manuals.dm
Labels: Fix

#54194 Hilbert's Hotel Bag of Holding is now a raw bluespace anomaly core with an accompanying inert bag.
  _maps/RandomRuins/SpaceRuins/hilbertshoteltestingsite.dmm
Labels: Map Edit, Tweak

#54198 Yellow slime core nerfs and adjustments.
  code/modules/cargo/exports/xenobio.dm
  code/modules/power/cell.dm
  code/modules/power/smes.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/crossbreeding/_misc.dm
  code/modules/research/xenobiology/crossbreeding/charged.dm
  code/modules/spells/spell_types/charge.dm
  code/modules/vehicles/motorized_wheelchair.dm
Labels: Removal, Tweak

#54104 Fixes toy dualsaber injuring clowns
  code/game/objects/items/toys.dm
Labels: Fix

#54191 Cleans up rat related features and makes Regal Ratking a rare spawn from mouse migration event.
  code/__DEFINES/is_helpers.dm
  code/controllers/subsystem/minor_mapping.dm
  code/modules/assembly/mousetrap.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
Labels: Feature, Tweak

#54100 Adds more cosmetic clothing options for golems
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
Labels: Feature

#54177 Fixes the supply console not inheriting contraband and emag status from its circuit
  code/game/objects/items/circuitboards/circuitboard.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/cargo/console.dm
Labels: Fix

#54222 HARS no longer cures brain traumas, it moves your brain to your chest
  code/datums/mutations/body.dm
Labels: Fix, Tweak

#54223 Rebalances pluox gen back to pre-newgas levels
  code/game/turfs/open/_open.dm
Labels: Balance/Rebalance

#54200 Fix shuttle loader big shuttle load issues.
  code/controllers/subsystem/shuttle.dm
Labels: Fix

#54231 Fixes hierophant walls incorrectly smoothing
  code/game/turfs/closed/_closed.dm
Labels: Fix

#54221 [s] Reworks the sanitize_ooccolor proc
  code/__HELPERS/sanitize_values.dm
  code/modules/client/preferences.dm
  code/modules/client/verbs/ooc.dm
Labels: Tweak

#54230 Fixes some potential sleeps as detected by SpacemanDMM improvements
  code/datums/brain_damage/creepy_trauma.dm
  code/datums/components/storage/concrete/bag_of_holding.dm
  code/datums/mutations/telekinesis.dm
  code/datums/wires/airlock.dm
  code/datums/wounds/bones.dm
  code/game/gamemodes/clown_ops/clown_weapons.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/embedded_controller/access_controller.dm
  code/game/objects/items.dm
  code/game/objects/items/puzzle_pieces.dm
  code/game/objects/items/stunbaton.dm
  code/game/objects/items/toys.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/SuperBeepsky.dm
  code/modules/mob/living/simple_animal/eldritch_demons.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/durand.dm
Labels: Code Improvement, Linting, Performance

#54228 Fixes pods not docking at centcomm
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Edit

#54063 Adds new accidents to the omen component and makes it an admin smite
  code/__DEFINES/admin.dm
  code/datums/components/omen.dm
  code/game/machinery/doors/airlock.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: Feature, Tweak

#54239 Fixes NOBLOOD species having hearts
  code/modules/surgery/organs/heart.dm
Labels: Fix

#54236 [s]Showers now properly react with 10u per tick instead of 1000u.
  code/game/objects/structures/shower.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#54243 Mice properly spawn in maintenance during the migration event.
  code/controllers/subsystem/minor_mapping.dm
Labels: Fix

#54245 [s] Fixes a major memory leak in shuttle code (KILO IS FREE)
  code/game/turfs/change_turf.dm
Labels: Fix

#54120 Add hook events needed to Webhook Processor header documentation
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Stale, Tools

#54098 Minor tweaks and cleanup to mecha drill equipment's action code
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
Labels: Fix

#53623 Adds Alloy Materials
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/materials.dm
  code/controllers/subsystem/materials.dm
  code/datums/components/material_container.dm
  code/datums/components/remote_materials.dm
  code/datums/elements/obj_regen.dm
  code/datums/materials/_material.dm
  code/datums/materials/alloys.dm
  code/datums/materials/basemats.dm
  code/datums/materials/meat.dm
  code/datums/materials/pizza.dm
  code/game/atoms.dm
  code/game/machinery/droneDispenser.dm
  code/game/machinery/recycler.dm
  code/game/machinery/sheetifier.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/objects/obj_defense.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_silo.dm
  code/modules/research/machinery/_production.dm
  code/modules/swarmers/swarmer_act.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  tgstation.dme
Labels: Feature, Stale

#54065 BSbodybags inherit heaviest item weight + Easier to escape the disarm/BSbodybag combo
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
Labels: Balance/Rebalance, Fix

#54255 Added science berets.
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/clothing/head/jobs.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Feature, Sprites

#54261 Update SpacemanDMM to suite-1.6
  dependencies.sh
Labels: Continuous Integration

#54262 Removed some gas reactions
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Removal

#54267 Serving Tray Fix
  code/game/objects/items/storage/bags.dm
Labels: Fix

#54275 Moves the marisa robe back sprite ONE PIXEL to the left
  icons/mob/clothing/suit.dmi
Labels: Fix, Sprites

#54266 Add game logging to abductor gland mind control.
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/antagonists/abductor/equipment/glands/mindshock.dm
  code/modules/antagonists/abductor/equipment/glands/quantum.dm
Labels: Logging

#54258 Fix a couple more dmdoc crosslinks
  code/modules/client/client_defines.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Documentation

#54124 Space Dragon QOL and Additional Features
  code/modules/events/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  icons/mob/spacedragon.dmi
Labels: Balance/Rebalance, Feature, Sprites

#54281 Lasergun resizing
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: Balance/Rebalance

#54269 Fix advanced infiltrator
  code/datums/shuttles.dm
Labels: Fix

#54295 Fixes Holodeck Carpets + the Lounge Carpet Area
  _maps/map_files/generic/CentCom.dmm
  code/modules/holodeck/turfs.dm
Labels: Fix, Map Edit

#54296 Fixes being able to shove while in the process of standing up
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#54276 Fixes broken var-edited walls
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/Mafia/mafia_ayylmao.dmm
  _maps/map_files/Mafia/mafia_lavaland.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/turfs/closed/_closed.dm
Labels: Fix, Map Edit

#53914 re-adds slapping action(this one is different from the boring emote)
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  icons/effects/effects.dmi
Labels: Feature, Sprites

#54287 holosign little refractor
  code/game/objects/items/holosign_creator.dm
  code/game/objects/structures/holosign.dm
Labels: Code Improvement

#54292 Reverts the dance machine changes and fixes it
  code/game/machinery/dance_machine.dm
Labels: Revert

#54325 Teleporter machinery now auto links with each other, removes screwdriver + wirecutter interaction
  code/game/machinery/computer/teleporter.dm
  code/game/machinery/teleporter.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/teleporters.dm
Labels: Tweak

#54323 Chaplains should no longer experience invisible bibles.
  code/modules/jobs/job_types/chaplain.dm
Labels: Fix

#54321 Null rods no longer vanish when selecting a new holy weapon skin.
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#54328 Takes some lessons from Jimmy Neutron
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/gastrolisis.dm
  code/game/objects/items/food/burgers.dm
  code/game/objects/items/food/frozen.dm
  code/game/objects/items/food/snacks.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/food/condiment.dm
  code/modules/food_and_drinks/food/snacks_other.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/holiday/easter.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
Labels: Fix

#54330 Fixes crafting duplication bug/runtime and attempts to address destroying items in consumed containers
  code/__HELPERS/cmp.dm
  code/__HELPERS/global_lists.dm
  code/datums/components/crafting/crafting.dm
Labels: Fix

#54324 Adds a bunch of looping audio to computers, gravegen and telecomms.
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/tablet.dm
  code/modules/power/gravitygenerator.dm
  sound/machines/computer/computer_end.ogg
  sound/machines/computer/computer_mid1.ogg
  sound/machines/computer/computer_mid2.ogg
  sound/machines/computer/computer_start.ogg
  sound/machines/gravgen/gravgen_mid1.ogg
  sound/machines/gravgen/gravgen_mid2.ogg
  sound/machines/gravgen/gravgen_mid3.ogg
  sound/machines/gravgen/gravgen_mid4.ogg
  sound/machines/tcomms/tcomms_mid1.ogg
  sound/machines/tcomms/tcomms_mid2.ogg
  sound/machines/tcomms/tcomms_mid3.ogg
  sound/machines/tcomms/tcomms_mid4.ogg
  sound/machines/tcomms/tcomms_mid5.ogg
  sound/machines/tcomms/tcomms_mid6.ogg
  sound/machines/tcomms/tcomms_mid7.ogg
Labels: Sound

#54310 Fixes item actions not being able to be done while laying down, buckled, etc.
  code/datums/action.dm
Labels: Fix, Tweak

#54311 Temporal Scarring is now per-character-slot, changelings now fake scars when disguising
  code/__DEFINES/wounds.dm
  code/controllers/subsystem/persistence.dm
  code/datums/mind.dm
  code/datums/wounds/scars/_scars.dm
  code/game/gamemodes/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/transform.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Tweak

#54235 One more pass on null rod sprites + null rod storage sanity pass
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/book.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
Labels: Fix, Sprites

#54294 Restores aggressive grab stuns
  code/game/atoms_movable.dm
Labels: Fix

#54256 Allows Main Pubbystation cargo doors to be opened with EITHER cargo or mining access
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Fix, Map Edit

#54308 fixes zealot's blindfold
  code/modules/antagonists/cult/cult_items.dm
Labels: Fix

#54320 Fixes broken mobility interactions
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
Labels: Fix

#54303 Rebalances knockdowns due to the getting-up change
  code/__DEFINES/combat.dm
  code/modules/mob/living/living.dm
Labels: Balance/Rebalance

#54220 TGUI Communications console
  code/controllers/subsystem/shuttle.dm
  code/datums/world_topic.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/admin/verbs/pray.dm
  code/modules/mob/living/silicon/ai/ai.dm
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Feature, UI

#54345 Adds Abductors to Dynamic Spawns
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Feature

#54339 Fixes the borg tablet being unusable without power, and borgs usually being unable to print pictures
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/file_system/programs/robotact.dm
Labels: Fix

#54353 Fixes slices on pizza and resizes some foods
  code/game/objects/items/food/egg.dm
  code/game/objects/items/food/frozen.dm
  code/game/objects/items/food/pizza.dm
  code/game/objects/items/food/snacks.dm
Labels: Fix

#54278 Host owns the config
  .github/CODEOWNERS
Labels: GitHub

#53850 Cryo now uses proper alpha masking
  code/__DEFINES/traits.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  icons/obj/cryo_mobs.dmi
  icons/obj/cryogenics.dmi
Labels: Fix, Sprites

#54359 Fixes compile changelog action. Hopefully.
  .github/workflows/compile_changelogs.yml
Labels: Continuous Integration, Fix, GitHub

#54356 removes unused define left over from devil
  code/__DEFINES/mobs.dm
  code/game/objects/items/defib.dm
Labels: Removal

#54382 Fix improper null coalescence with has_antag_datum
  code/datums/mind.dm
Labels: Fix, Priority: High

#54357 Fix guillotine buckling
  code/game/objects/structures/guillotine.dm
Labels: Fix

#54347 The trashbag of holding now has its own inhand sprite.
  code/game/objects/items/storage/bags.dm
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
Labels: Sprites

#54336 Increases the accuracy of the photocopier
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/paperwork/photocopier.dm
  icons/ass/asscat.png
  icons/ass/assgrey.png
  icons/ass/asslizard.png
  icons/ass/assmachine.png
  icons/ass/assplasma.png
  icons/ass/assslime.png
Labels: Feature, Sprites

#54364 Updated antenna sprite
  icons/effects/genetics.dmi
Labels: Sprites

#54225 Adds a camera viewing app, SecurEye, for Laptops and Modular Consoles
  code/modules/modular_computers/file_system/programs/secureye.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CameraConsole.js
  tgui/packages/tgui/interfaces/NtosSecurEye.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Feature, UI

#54371 Fixes heretic mass-item deletion during transmutation bug
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
Labels: Fix

#54381 Various TGUI Communications Console Day One Fixes
  code/game/machinery/computer/communications.dm
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
  tgui/public/tgui.bundle.js
Labels: Fix, UI

#54146 Ports #10649 from Citadel: An attempt at making hijack not shit and more about point defence
  code/__DEFINES/antagonists.dm
  code/__HELPERS/text.dm
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/antagonists/ninja/ninja.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/official/official.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/shuttle/emergency.dm
Labels: Feature

#54247 Gives the BYO Shuttle an emergency shuttle console
  _maps/shuttles/emergency_construction.dmm
Labels: Feature, Map Edit

#54383 Fixes Dynamic Abductor Spawns
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Fix

#54309 Remove monkey1 icon rendering as it is hiding limb loss
  code/modules/mob/living/carbon/monkey/monkey.dm
Labels: Fix

#54290 Fixes bolt action guns getting phantom bullets chambered upon initialization.
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix

#54327 Werewolves rejoice! (removes silver from the dispenser).
  code/modules/plumbing/plumbers/synthesizer.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Removal

#54395 Shuttle tweak and fix
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/debug/runtimestation.dmm
  code/datums/shuttles.dm
  code/game/atoms.dm
  code/game/machinery/buttons.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/flasher.dm
  code/game/machinery/igniter.dm
  code/game/machinery/mass_driver.dm
  code/game/machinery/status_display.dm
  code/game/objects/structures/morgue.dm
  code/modules/shuttle/computer.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
Labels: Fix, Map Edit, Tweak

#54397 Guards DT_PROB and DT_PROB_RATE macros against scenarios where they're used as if they were procs.
  code/__DEFINES/maths.dm
Labels: Fix

#54392 Removes looping audio from computers
  code/game/machinery/computer/_computer.dm
Labels: Fix, Removal

#54374 Fixes heretic giving you both hijack and dagd, fixes protection objective.
  code/game/gamemodes/objective.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
Labels: Fix

#54369 fixes ageusia not working
  code/datums/components/food/edible.dm
Labels: Fix

#53539 adds more cursed animal masks
  _maps/map_files/MetaStation/MetaStation.dmm
  code/controllers/subsystem/traumas.dm
  code/game/objects/items/granters.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/masks/animal_masks.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/holiday/holidays.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/spells/spell_types/pointed/barnyard.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/mask.dmi
  tgstation.dme
Labels: Administration, Code Improvement, Feature, Fix, Map Edit, Refactor, Sprites

#54402 Buckling cleanup and documentation. Borg buckle time tweak.
  code/game/objects/buckling.dm
  code/game/turfs/open/lava.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: Tweak

#54263 hexane refractor and rework
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/lungs.dm
Labels: Feature, Removal
