Repository tgstation/tgstation, pull requests merged in 2021-04, with the labels that each got.

#58081 Upgrade tgui dependencies, make yarn task skippable
  tgui/bin/tgui
  tgui/bin/tgui_.ps1
  tgui/package.json
  tgui/packages/tgfont/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui/package.json
  tgui/yarn.lock
  tools/build/build.js
  tools/build/cbt/task.js
Labels: Quality of Life, Tools, UI, dependencies

#58083 Modifies SecTech ad from beating capitalists to communists
  code/modules/vending/security.dm
Labels: Grammar and Formatting, Verified :heavy_check_mark:

#58069 Fixes a minor oversight with eigenstasium
  code/__DEFINES/traits.dm
  code/controllers/subsystem/eigenstate.dm
  code/modules/cargo/orderconsole.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/shuttle/supply.dm
Labels: Fix

#58108 Update dependencies installed for TGSv4 precompile scripts
  config/admins.txt
  tools/tgs4_scripts/PreCompile.sh
Labels: Config Update, Tools

#58095 Fixes gluttony's blessing oversight
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#57955 TGUI Limbgrower + Limbgrower refactoring and design expansion
  code/datums/components/crafting/recipes.dm
  code/game/machinery/limbgrower.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/tails.dm
  tgui/packages/tgui/interfaces/Limbgrower.js
Labels: Feature, Refactor, UI

#57946 Fixes several exosuit storage slot and back slot worn icon bugs
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
Labels: Fix, Sprites

#58109 Allows you to ignite cigars with cauteries and recently-fired revolvers
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/surgery/tools.dm
Labels: Feature

#58103 Spells bureaucracy correctly
  code/datums/station_traits/negative_traits.dm
Labels: Grammar and Formatting

#57986 Fixes oversight with eigenstasium which teleports you before saving your location (when purity is greater than 90% and ingested)
  code/modules/reagents/chemistry/reagents/unique/eigenstasium.dm
Labels: Fix

#57762 You can now print cable coils and welding helmets from scilathes and engilathes
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Quality of Life

#57990 Thermomachine have full temperature range on both modes
  code/modules/atmospherics/machinery/components/binary_devices/thermomachine.dm
  tgui/packages/tgui/interfaces/ThermoMachine.js
Labels: Quality of Life, UI

#58084 Persistence now cleans up json entries (fixes a lot of runtimes involved)
  code/game/objects/structures/artstuff.dm
Labels: Fix

#57694 Processable and grillables and microwavables now give helpful examines, some condiment containers also do
  code/__HELPERS/names.dm
  code/datums/components/food/edible.dm
  code/datums/components/grillable.dm
  code/datums/elements/food/processable.dm
  code/modules/food_and_drinks/food/condiment.dm
Labels: Quality of Life, Stale

#58128 Fixes a critical accidental early return
  code/__HELPERS/priority_announce.dm
  code/_onclick/hud/fullscreen.dm
Labels: Fix, GBP: No Update, Priority: High

#58107 Fixes toxin parent reagent purity affecting unintentional reagents
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#58113 Add extools compilation to the TGS4 precompile scripts for linux
  tools/tgs4_scripts/PreCompile.sh
Labels: Tools

#58019 Adds seeds to tramstation permabrig
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#58104 lone carpet subtype now doesnt smooth, adds back star carpets
  _maps/RandomRuins/LavaRuins/lavaland_surface_greed.dmm
  code/game/turfs/open/floor/fancy_floor.dm
  icons/turf/floors/carpet.dmi
Labels: Fix, Map Edit, Sprites

#58133 emergency meetings now dont call in mobs with no client
  code/__HELPERS/priority_announce.dm
Labels: Fix, Verified :heavy_check_mark:

#58121 Some quick fixes for the dark gygax icon and its uplink description
  code/modules/uplink/uplink_items.dm
  code/modules/vehicles/mecha/combat/gygax.dm
Labels: Fix

#57818 Makes canister pressure capabilities a bit random and more unstable
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Balance/Rebalance, Feature

#58029 RCD now rebuilds existing constructs faster and with less resources
  code/__DEFINES/construction.dm
  code/__HELPERS/construction.dm
  code/__HELPERS/icons.dm
  code/game/objects/effects/spawners/structure.dm
  code/game/objects/items/RCD.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/closed/wall/material_walls.dm
  code/game/turfs/closed/wall/mineral_walls.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/turf.dm
  sound/items/rcdscan.ogg
  tgstation.dme
Labels: Sound

#57971 Injectors, vents and scrubbers no longer work when placed on walls
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: Fix, Stale

#58002 Xenobio outlet fix
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, Stale

#58142 Removes a single stray-pixel on slice of vanilla cake
  icons/obj/food/piecake.dmi
Labels: Fix, Sprites

#58144 Shorten april fools to 3 days
  code/modules/holiday/holidays.dm
Labels: Balance/Rebalance, Verified :heavy_check_mark:

#58110 Adds moffins, a whimsical breakfast pastry
  code/game/objects/items/food/pastries.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  icons/obj/food/food.dmi
Labels: Feature, Sprites

#58143 remove input pass-through from statpanel and give focus to map instead
  html/statbrowser.html
Labels: Fix

#58064 Actually fixes bots wrongfully failing to pathfind
  code/__HELPERS/path.dm
Labels: Fix, GBP: No Update

#58137 makes slapping someone in the face more intuitive
  code/game/objects/items/hand_items.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Quality of Life

#58129 Stripping a disconnected player will tell them when they come back
  code/__DEFINES/inventory.dm
  code/datums/elements/strippable.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/login.dm
  tgstation.dme
Labels: Feature

#57943 Snappier Firelocks
  code/game/area/areas.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
Labels: Feature

#57797 Refactors shielded hardsuits into a component, fixes kisses consuming shield charges
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/layers.dm
  code/datums/components/shielded.dm
  code/game/objects/items.dm
  code/game/objects/items/hand_items.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/wiz_robe.dm
  tgstation.dme
Labels: Fix, Refactor

#58147 Placing a fireman carried person onto a table no longer harms them
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#58127 Adds a chef produce console to tramstation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Good First PR, Map Edit

#58149 Adds proper logging to Holodeck safeties and programs
  code/modules/holodeck/computer.dm
Labels: Administration, Logging

#58148 Recolors bucket inhand and adds omega soap inhand
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
Labels: Sprites

#58117 Resprites water coolers
  icons/obj/vending.dmi
Labels: Sprites

#58139 Fixes a few roulette wheel runtimes.
  code/game/machinery/roulette_machine.dm
Labels: Fix

#58169 Stethoscopes now require hearing instead of vision to use
  code/modules/clothing/clothing.dm
  code/modules/clothing/neck/_neck.dm
Labels: Fix

#58173 Allows admins to pick colours in VV
  code/__DEFINES/vv.dm
  code/__HELPERS/sanitize_values.dm
  code/_globalvars/regexes.dm
  code/modules/admin/view_variables/get_variables.dm
Labels: Administration

#58170 Fixes smoker stacking unremovable negative moodlets
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/withdrawal/_addiction.dm
  code/modules/reagents/withdrawal/generic_addictions.dm
Labels: Fix

#58135 Add youtube-dl to tgs4 precompile scripts for Linux (windows users on suspicious individuals watch)
  tools/tgs4_scripts/PreCompile.sh
Labels: Tools

#58178 Fixes multiple issues related to suicides
  code/modules/assembly/signaler.dm
  code/modules/client/verbs/suicide.dm
Labels: Fix, Removal

#58176 Armless people can no longer buckle people
  code/game/objects/buckling.dm
Labels: Fix

#58221 Terror in the Toybox: The Rouny Plushie
  code/game/machinery/computer/arcade/arcade.dm
  code/game/objects/items/plushes.dm
  icons/obj/plushes.dmi
Labels: Feature, Sprites

#58120 Removes stray pipe in cryo on icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit, Removal

#58165 After revolutionaries win, one living headrev (if any are able to) will be allowed to rename the station with a revolutionary banner
  code/game/objects/items/charter.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/cargo/supplypod.dm
  icons/obj/banner.dmi
  tgstation.dme
Labels: Feature, Sprites

#58215 Deletes useless toFixed import in TimeDisplay
  tgui/packages/tgui/components/TimeDisplay.js
Labels: UI

#58219 Fixes missing fontawesome icon on APC tgui
  tgui/packages/tgui/interfaces/Apc.js
Labels: Fix, UI

#58213 Deletes unreachable line for tools/dmi
  tools/dmi/__init__.py
Labels: Fix, Tools

#58175 Fixes the borg hug module being able to harm and shove simple mobs
  code/game/objects/items/robot/robot_items.dm
Labels: Fix

#58177 Pacifists can no longer swat bugs
  code/game/objects/items/weaponry.dm
Labels: Fix

#58184 Fix PreCompile.bat failing with spaced paths
  tools/tgs4_scripts/PreCompile.bat
Labels: Fix, Tools

#58167 Fixes Shaft miner and QM access on IceBox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#58198 revamps meta incinerator
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#58201 [s] Restores Cargo Shuttle Blacklist Enforcement
  code/modules/shuttle/supply.dm
Labels: Fix

#58199 Player Lobstrosities Can Right-Click To Charge
  code/modules/mob/living/simple_animal/hostile/mining_mobs/lobstrosity.dm
Labels: Quality of Life

#58196 focus changes (like opening a verb window) caused by clicking stat verbs work again
  html/statbrowser.html
Labels: Fix

#58194 Fixes spelling errors in misc.dm
  code/modules/clothing/head/misc.dm
Labels: Grammar and Formatting, Verified :heavy_check_mark:

#58193 layer manifolds visual fix
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: Fix

#58202 Moves code managing mobs getting shocked from disease code to mob status code
  code/datums/diseases/_MobProcs.dm
  code/modules/mob/living/status_procs.dm
Labels: Code Improvement

#58185 Venus human traps no longer take cold damage
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
Labels: Balance/Rebalance

#58212 CBT: Deletes duplicate export property
  tools/build/cbt/fs.js
Labels: Tools, Verified :heavy_check_mark:

#58192 Reduces the amount of unsorted chat messages
  code/controllers/subsystem/vote.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/assembly/bomb.dm
  code/modules/assembly/health.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/vehicles/mecha/_mecha.dm
  tgui/packages/tgui-panel/chat/constants.js
Labels: Quality of Life, UI

#58220 Collateral shoves can no longer knock down someone wearing riot armor
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Balance/Rebalance

#58206 Incredibly minor grammar fixes
  code/modules/aquarium/misc.dm
Labels: Grammar and Formatting

#58068 Thermomachine can be dragged around now
  code/modules/atmospherics/machinery/components/binary_devices/thermomachine.dm
Labels: Quality of Life

#58230 Can no longer buckle to objects through walls
  code/game/objects/buckling.dm
Labels: Fix

#58228 Fixes wormhole generator runtime.
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
Labels: Fix

#58227 Metastation missing mixer fix
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#58226 Tramstation Map Fixes
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#58200 Empty graves can now be spawned
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
Labels: Map Edit, Quality of Life

#58188 Remove Uncross() and CheckExit(), add connect_loc element to cover the cases we used it for
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/flags.dm
  code/datums/elements/connect_loc.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/stairs.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/turf.dm
  code/modules/fields/fields.dm
  code/modules/fields/turf_objects.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/connect_loc.dm
  tgstation.dme
Labels: Performance, Refactor, Unit Tests

#58122 Fixes a few more error sprite issues
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Fix, Sprites

#57767 Deletes recipient_reagents_holder on del
  code/datums/components/plumbing/IV_drip.dm
  code/datums/components/plumbing/_plumbing.dm
  code/modules/plumbing/plumbers/pill_press.dm
Labels: Fix, Stale

#58166 Add new sprites to handheld Gene Sequencer and handheld plant scanner
  icons/obj/device.dmi
Labels: Sprites

#58238 Space Cash Re$prite
  code/game/objects/items/stacks/cash.dm
  icons/obj/economy.dmi
Labels: Sprites

#57901 Better HFR building
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_procs.dm
  code/modules/cargo/packs.dm
  icons/obj/atmospherics/components/hypertorus.dmi
Labels: Feature, Map Edit, Quality of Life, Sprites

#58204 visual fix for bridge pipe and color adapter
  code/modules/atmospherics/machinery/pipes/bridge_pipe.dm
  code/modules/atmospherics/machinery/pipes/color_adapter.dm
Labels: Fix

#58234 Cleanup some for loops that use "as contents" over special lists until we upgrade to 514.
  code/datums/components/crafting/crafting.dm
  code/modules/vehicles/motorized_wheelchair.dm
Labels: Fix

#58229 Belt Pinpointer sprites
  code/game/objects/items/pinpointer.dm
  code/game/objects/items/wayfinding.dm
  code/modules/antagonists/nukeop/equipment/pinpointer.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  icons/mob/clothing/belt.dmi
Labels: Sprites

#58162 Tweak - minerals.dm - Added Bananium into the mineral generation.
  code/game/turfs/closed/minerals.dm
Labels: Verified :heavy_check_mark:

#58197 Resprites the Dish Drive
  code/game/machinery/dish_drive.dm
  goon/icons/obj/kitchen.dmi
  icons/obj/kitchen.dmi
Labels: Sprites

#58246 Space ruin runtime fix
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
Labels: Fix, Map Edit

#58254 Colorblind users can now examine the atmos components to read on what color they are
  code/__HELPERS/piping_colors_lists.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
Labels: Quality of Life

#58275 Refactor crew manifest in lobby and ghost actions
  code/_globalvars/tgui.dm
  code/datums/datacore.dm
  code/modules/mob/dead/crew_manifest.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/silicon.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CrewManifest.js
  tgui/packages/tgui/styles/interfaces/CrewManifest.scss
  tgui/packages/tgui/styles/main.scss
Labels: Refactor, UI

#58112 Advanced Greyscale Sprite Generation
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/vv.dm
  code/controllers/subsystem/greyscale.dm
  code/datums/greyscale/README.md
  code/datums/greyscale/_greyscale_config.dm
  code/datums/greyscale/greyscale_configs.dm
  code/datums/greyscale/json_configs/canister_base.json
  code/datums/greyscale/json_configs/canister_default.json
  code/datums/greyscale/json_configs/canister_double_stripe.json
  code/datums/greyscale/json_configs/canister_hazard.json
  code/datums/greyscale/json_configs/canister_post_effects.json
  code/datums/greyscale/json_configs/canister_proto.json
  code/datums/greyscale/json_configs/canister_stripe.json
  code/datums/greyscale/layer.dm
  code/game/atoms.dm
  code/modules/admin/greyscale_modify_menu.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/atmos.dmi
  icons/obj/atmospherics/canisters.dmi
  icons/obj/atmospherics/prototype_canister.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/GreyscaleModifyMenu.tsx
Labels: Feature, Refactor, Removal, Sprites, UI

#58295 Adjust stat panel grid item widths and breakpoints
  html/statbrowser.html
Labels: Quality of Life

#58269 Fix connect_loc runtiming when connecting to the same turf.
  code/datums/elements/connect_loc.dm
  code/modules/unit_tests/connect_loc.dm
Labels: Fix, Unit Tests

#58270 makes the hook shotgun work on right click, adds new icons for it
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/ballistic.dmi
Labels: Fix, Quality of Life, Sprites

#58279 Tweaks converoli's threshold to not overlap with it's failure threshold
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
Labels: Fix

#58264 Fixes reborn ashwalkers having galactic common
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
Labels: Fix, Verified :heavy_check_mark:

#58256 Fixes issue with new buckle PR
  code/game/objects/buckling.dm
Labels: Fix, GBP: No Update

#58248 Security Level subsystem
  code/__DEFINES/dcs/signals.dm
  code/controllers/subsystem/nightshift.dm
  code/controllers/subsystem/security_level.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/defibrillator_mount.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/firealarm.dm
  code/modules/security_levels/security_levels.dm
  code/modules/shuttle/emergency.dm
  tgstation.dme
Labels: Fix, Refactor

#58245 Add "Except DM" build mode to build.js
  tools/build/build.js
Labels: Tools

#58232 Adjust job selection table
  code/__DEFINES/jobs.dm
  code/modules/client/preferences.dm
Labels: Quality of Life

#57806 Fermichem 2.5 - Organ(kinda) related medicines adjustments!
  code/modules/mob/living/brain/brain_item.dm
  code/modules/reagents/chemistry/machinery/chem_recipe_debug.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/surgery/organs/liver.dm
  strings/chemistrytips.txt
  tgui/packages/tgui/interfaces/ChemRecipeDebug.js
Labels: Quality of Life, Stale, UI

#58160 Failed headrevs become enemies of the state
  code/__HELPERS/roundend.dm
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/revolution/enemy_of_the_revolution.dm
  code/modules/antagonists/revolution/enemy_of_the_state.dm
  code/modules/antagonists/revolution/revolution.dm
  tgstation.dme
Labels: Feature

#58276 Allows the connect_loc element to have a listener different from the tracked object
  code/__DEFINES/dcs/flags.dm
  code/datums/elements/_element.dm
  code/datums/elements/atmos_sensitive.dm
  code/datums/elements/backblast.dm
  code/datums/elements/beauty.dm
  code/datums/elements/climbable.dm
  code/datums/elements/connect_loc.dm
  code/datums/elements/decal.dm
  code/datums/elements/decals/blood.dm
  code/datums/elements/drag_pickup.dm
  code/datums/elements/firestacker.dm
  code/datums/elements/forced_gravity.dm
  code/datums/elements/haunted.dm
  code/datums/elements/light_eaten.dm
  code/datums/elements/light_eater.dm
  code/datums/elements/ridable.dm
  code/datums/elements/selfknockback.dm
  code/datums/elements/strippable.dm
  code/datums/elements/swabbable.dm
  code/datums/elements/tool_flash.dm
  code/datums/elements/turf_transparency.dm
  code/datums/elements/waddling.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/stairs.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/unit_tests/connect_loc.dm
Labels: Refactor

#58284 Fixes riding inheritance runtime
  code/datums/components/riding/riding.dm
Labels: Fix

#58277 Fixes material amounts not updating when affected by stabilized metal extracts
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Fix

#58125 TGUI Outfit Manager and Editor
  code/__DEFINES/vv.dm
  code/controllers/subsystem/persistence.dm
  code/datums/outfit.dm
  code/modules/admin/outfit_editor.dm
  code/modules/admin/outfit_manager.dm
  code/modules/admin/outfits.dm
  code/modules/admin/topic.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/OutfitEditor.js
  tgui/packages/tgui/interfaces/OutfitManager.js
Labels: Administration, UI

#58300 Prevent negative open positions in crew manifest
  code/datums/datacore.dm
  code/modules/mob/dead/crew_manifest.dm
  tgui/packages/tgui/interfaces/CrewManifest.js
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/packages/tgui/styles/interfaces/CrewManifest.scss
Labels: Fix, UI

#58179 TGUI: Command Reports
  code/__DEFINES/sound.dm
  code/modules/admin/verbs/commandreport.dm
  code/modules/admin/verbs/randomverbs.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CommandReport.js
Labels: Administration, Fix, Refactor, UI

#58305 Some more harddel fixes
  code/__DEFINES/reagents.dm
  code/__HELPERS/reagents.dm
  code/_globalvars/lists/objects.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/machinery/chem_recipe_debug.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/recipes/special.dm
  code/modules/unit_tests/reagent_id_typos.dm
  code/modules/unit_tests/reagent_recipe_collisions.dm
Labels: Fix

#58306 Makes radiation related pluouxium only generate in cold conditions
  code/__DEFINES/reactions.dm
  code/__DEFINES/supermatter.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/turfs/open/_open.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/power/supermatter/supermatter.dm
Labels: Balance/Rebalance

#58304 Fixes grammatical error in the "computer hardware" techweb node
  code/modules/research/techweb/all_nodes.dm
Labels: Grammar and Formatting

#58285 Fixes a small typo on the medical kiosk
  code/game/machinery/medical_kiosk.dm
Labels: Grammar and Formatting

#58257 fix pneumatic cannon recipe
  code/datums/components/crafting/recipes.dm
Labels: Fix

#58253 Toxins map fix
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#58292 Fix HFR corners disappearing on build
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
Labels: Fix

#58255 allow color adapters to connect to any color regardless
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: Fix, GBP: No Update

#58290 Makes rot more forgiving of slow cleanup
  code/datums/components/rot.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance/Rebalance

#58316 Ashwalkers Virus Free!
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Balance/Rebalance

#58319 Atmospherics Envirogloves are no longer insulated.
  code/modules/clothing/gloves/miscellaneous.dm
Labels: Fix

#58308 Adds a phobia of guns
  code/controllers/subsystem/traumas.dm
  code/datums/brain_damage/phobia.dm
  strings/phobia.json
Labels: Feature

#58291 Fixes plane master filters not working properly
  code/_onclick/hud/plane_master_controller.dm
Labels: Fix

#58267 Gives the slippery component a default whitelist of allowed slots
  code/datums/components/slippery.dm
Labels: Fix

#58247 reduce skillchip implant time
  code/modules/library/skill_learning/skill_station.dm
Labels: Balance/Rebalance

#58243 Refactor /obj/item/food/chewable into a chewable element
  code/datums/elements/chewable.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  tgstation.dme
Labels: Refactor

#57846 Cleans up bullets to use subtypes for ammo variations
  code/modules/projectiles/ammunition/ballistic/lmg.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/smg.dm
Labels: Code Improvement

#58339 Fixes humans not having any eyes
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#57942 [READY] Space Dragon Quality Improvement Update
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/movespeed/modifiers/mobs.dm
  icons/mob/actions/actions_space_dragon.dmi
  sound/creatures/space_dragon_roar.ogg
Labels: Balance/Rebalance, Fix, Quality of Life, Refactor, Removal, Sound, Sprites

#58236 Implements a new auto-tagging system for ID card which adds a config to auto-flag them as an intern.
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/job.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/PDA/PDA.dm
  config/config.txt
Labels: Config Update, Feature

#58330 Adds a muzzle-breathmask
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/mob/living/carbon/carbon.dm
  icons/mob/clothing/mask.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/masks.dmi
Labels: Feature, Sprites

#58334 Prisoner envirosuit sensors can't be changed anymore.
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
Labels: Fix, Verified :heavy_check_mark:

#58249 Renews Maintenance Drones
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/traits.dm
  code/_onclick/other_mobs.dm
  code/controllers/configuration/entries/game_options.dm
  code/datums/components/holderloving.dm
  code/datums/components/itempicky.dm
  code/datums/components/shy.dm
  code/datums/components/shy_in_room.dm
  code/datums/components/technointrovert.dm
  code/datums/elements/strippable.dm
  code/game/area/space_station_13_areas.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/droneDispenser.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/language/language_holder.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon_stripping.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/friendly/drone/drone_say.dm
  code/modules/mob/living/simple_animal/friendly/drone/drone_tools.dm
  code/modules/mob/living/simple_animal/friendly/drone/drones_as_items.dm
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
  icons/hud/screen_drone.dmi
  icons/turf/areas.dmi
  tgstation.dme
Labels: Config Update, Feature, Map Edit, Sprites

#58350 minor layer fixes
  code/__DEFINES/layers.dm
  code/_onclick/hud/radial.dm
Labels: Fix, Priority: CRITICAL

#58231 Blast door refactor and fix
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
Labels: Fix, Refactor

#58222 refactors pods, new helper for spawning items from pods through code
  code/__HELPERS/unsorted.dm
  code/datums/skills/_skill.dm
  code/game/machinery/computer/chef_orders/chef_order.dm
  code/game/machinery/mechlaunchpad.dm
  code/game/objects/items/miscellaneous.dm
  code/modules/admin/admin.dm
  code/modules/admin/smites/supply_pod_quick.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/cargo/supplypod.dm
  code/modules/explorer_drone/exodrone.dm
Labels: Refactor

#58025 Ports Cryopods
  code/controllers/subsystem/job.dm
  code/datums/mind.dm
  code/game/area/space_station_13_areas.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/announcement_system.dm
  code/game/machinery/cryopod.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/client/client_defines.dm
  icons/obj/machines/cryopod.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/CryopodConsole.js
Labels: Feature, Refactor, Sprites, UI

#58168 stations name their respective celestial bodies
  _maps/icebox.json
  _maps/kilostation.json
  _maps/tramstation.json
  code/game/objects/items/charter.dm
  code/modules/jobs/job_types/captain.dm
Labels: Map Edit, Quality of Life

#58298 removes icebox having more prisoner slots
  _maps/icebox.json
Labels: Fix, Map Edit, Removal

#58325 Changes the Science Hub tablet app from RND to Heads
  code/modules/modular_computers/file_system/programs/techweb.dm
Labels: Fix

#58352 Monkeys are now too primitive to pilots mechs
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
Labels: Fix

#58353 Fixes Orion Exploit
  code/game/machinery/computer/arcade/orion.dm
Labels: Fix

#58310 Allow splitting admin tabs
  code/__DEFINES/preferences.dm
  code/controllers/subsystem/statpanel.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  html/statbrowser.html
Labels: Administration, Quality of Life

#58346 Observers can see an AI's laws by examining its camera eye
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Labels: Quality of Life

#58343 fixes honorbound gods smiting under incorrect circumstances
  code/datums/mutations/holy_mutation/honorbound.dm
Labels: Fix, GBP: No Update

#58332 Firelocks can't close if an holofan is placed on their turf
  code/__DEFINES/traits.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/structures/holosign.dm
Labels: Quality of Life

#58345 Adds keybinds for moving up/down z-levels
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/mob.dm
  code/datums/keybinding/movement.dm
Labels: Quality of Life

#58397 Prevent flashing tabs issue
  html/statbrowser.html
Labels: Fix, GBP: No Update

#58321 Fixes mannitoil runtime
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: Fix

#58364 Fixes some can_adjust jumpsuit slot error sprites
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
Labels: Fix

#58378 Fix overlay subsystem holding on to excessive amounts of icons.
  code/controllers/subsystem/overlays.dm
Labels: FUCK, Fix, Test Merge Candidate

#58387 Make you not hit the cans with tanks anymore
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Fix

#58392 Reduce Loudness of Space Dragon's Roar
  sound/creatures/space_dragon_roar.ogg
Labels: Sound

#58361 checker and cafeteria floors can now have dirs
  icons/turf/floors.dmi
Labels: Sprites
