Repository tgstation/tgstation, pull requests merged in 2021-07, with the labels that each got.

#59284 Changes how weather sends sound to players, reduces sound loop overtime
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/weather.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/weather.dm
  code/datums/components/acid.dm
  code/datums/components/area_sound_manager.dm
  code/datums/elements/weather_listener.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/looping_sounds/weather.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/game/machinery/fat_sucker.dm
  code/game/machinery/roulette_machine.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/devices/geiger_counter.dm
  code/game/objects/items/devices/reverse_bear_trap.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/structures/shower.dm
  code/modules/admin/verbs/possess.dm
  code/modules/antagonists/eldritch_cult/knowledge/void_lore.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_procs.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/mob/login.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/port_gen.dm
  code/modules/power/supermatter/supermatter.dm
  tgstation.dme
Labels: Performance, Refactor

#59871 Fixes some minor tramstation mapping issues
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#59873 Fix forensic component inheritance inserting null entries into lists and causing to_chat errors.
  code/__HELPERS/_lists.dm
  code/datums/components/forensics.dm
Labels: Fix

#59905 Fixes being able to sacrifice pAI's
  code/modules/antagonists/cult/runes.dm
Labels: Fix

#59902 Fixes spread glowshrooms runtiming on initialize
  code/game/objects/effects/glowshroom.dm
Labels: Fix

#59904 Fixes OOC heart commendations not saving between rounds
  code/modules/client/preferences_savefile.dm
Labels: Fix

#59735 Uplink implants now inherit the uplink flags of the uplink they were bought from
  code/datums/components/uplink.dm
  code/game/objects/items/implants/implanter.dm
  code/game/objects/items/implants/implantuplink.dm
  code/modules/uplink/uplink_items.dm
Labels: Fix

#59832 Makes it so changeling legs copy digitigrade/normal, try number 2
  code/datums/dna.dm
  code/modules/antagonists/changeling/changeling.dm
Labels: Fix

#59884 Adds verification for reference layers to check if target config has the desired icon_state
  code/controllers/subsystem/greyscale.dm
  code/datums/greyscale/_greyscale_config.dm
  code/datums/greyscale/json_configs/items/cleric_mace_worn_gold.json
  code/datums/greyscale/layer.dm
Labels: Fix

#59909 Makes bat hits no longer stunlock
  code/game/objects/items/weaponry.dm
Labels: Balance/Rebalance

#59920 Fix rogue vending machines targeting incorporeal
  code/datums/ai/objects/vending_machines/vending_machine_controller.dm
Labels: Fix

#59918 Fixes Pocket Protector/Flashlight Pen Oversight
  code/game/objects/items/devices/flashlight.dm
Labels: Fix

#59910 Reverts Entered() passing dir instead of old loc
  code/__DEFINES/dcs/signals.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/datums/components/acid.dm
  code/datums/components/butchering.dm
  code/datums/components/chasm.dm
  code/datums/components/food/edible.dm
  code/datums/components/infective.dm
  code/datums/components/rot.dm
  code/datums/components/singularity.dm
  code/datums/components/slippery.dm
  code/datums/components/squeak.dm
  code/datums/components/swarming.dm
  code/datums/elements/caltrop.dm
  code/game/area/ai_monitored.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/wallets.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor/mineral_floor.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/open/space/transit.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/events/immovable_rod.dm
  code/modules/events/spacevine.dm
  code/modules/holiday/easter.dm
  code/modules/mining/machine_processing.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/ruins/icemoonruin_code/hotsprings.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
Labels: Revert

#59773 Catwalk Flooring
  code/__DEFINES/footsteps.dm
  code/__DEFINES/layers.dm
  code/game/turfs/open/floor/catwalk_plating.dm
  icons/turf/floors/catwalk_plating.dmi
  tgstation.dme
Labels: Mechanic, Sprites

#59887 Sink frames are now deconstructable
  code/game/objects/structures/watercloset.dm
Labels: Fix, Good First PR

#59921 Removes reference to intents from Martial Arts instructions
  code/datums/martial/cqc.dm
  code/datums/martial/plasma_fist.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/martial/wrestling.dm
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Grammar and Formatting

#59939 Makes polar bears not become easier to move after you kill and revive them
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
Labels: Fix

#59867 Fix error on secondary attacking certain secure closets.
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#59574 Adds blob as a midround antag like midround traitors, where it does not require a ghost role
  code/__DEFINES/antagonists.dm
  code/_onclick/hud/blob_overmind.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/antagonists/blob/blob.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/powers.dm
  config/dynamic.json
  sound/ambience/antag/blobalert.ogg
Labels: Config Update, Mechanic, Sound

#59947 Fix ion carbine parts kit's name and other similar grammar issues
  code/datums/components/crafting/guncrafting.dm
Labels: Fix, Grammar and Formatting

#59638 New contraband peanuts
  code/game/objects/items/food/snacks.dm
  code/modules/vending/snack.dm
Labels: Content Expansion

#59957 PDAs now include round time
  code/__DEFINES/time.dm
  code/controllers/subsystem/statpanel.dm
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Code Improvement, Content Expansion

#59943 Fix blanket cure_blind calls removing quirk and blindfold traits
  code/__DEFINES/traits.dm
  code/modules/mob/living/status_procs.dm
Labels: Code Improvement, Fix

#59941 Hookup Change Command Name to Create Command Report
  code/modules/admin/verbs/commandreport.dm
Labels: Administration, Fix

#59959 Limits the maximum string length of a circuit component port to 5K characters
  code/__DEFINES/wiremod.dm
  code/modules/wiremod/integrated_circuit.dm
  code/modules/wiremod/port.dm
Labels: Fix

#59958 Fixed cooldowns for speech and soundemitter circuit components. Brought speech component more in line with other components.
  code/__DEFINES/cooldowns.dm
  code/modules/wiremod/components/action/soundemitter.dm
  code/modules/wiremod/components/action/speech.dm
  code/modules/wiremod/preset/speech_relay.dm
Labels: Code Improvement, Fix

#59942 Adds crew monitor usb connections and fixes the soundemitter's frequency port
  code/game/machinery/computer/crew.dm
  code/modules/wiremod/components/action/soundemitter.dm
Labels: Content Expansion, Fix

#59955 Fixed carps being untameable and fixes tameable code not properly removing itself from something
  code/datums/components/tameable.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: Fix

#59952 Fix Cross Server Messages Containing HTML Garbage
  code/game/machinery/computer/communications.dm
Labels: Fix

#59953 RAM now has an option to select between types. Refactored the any type to be more friendly with circuit code.
  code/__DEFINES/wiremod.dm
  code/modules/wiremod/component.dm
  code/modules/wiremod/components/utility/combiner.dm
  code/modules/wiremod/components/utility/multiplexer.dm
  code/modules/wiremod/components/utility/ram.dm
  code/modules/wiremod/integrated_circuit.dm
  code/modules/wiremod/port.dm
Labels: Code Improvement, Quality of Life

#59946 Makes tanks display their max pressure and only return their analysed contents once
  code/modules/atmospherics/machinery/components/tank.dm
Labels: Fix, Quality of Life

#59954 Makes bots order from what kind of venue you are, rather than being hardcoded
  code/modules/food_and_drinks/restaurant/_venue.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/food_and_drinks/restaurant/generic_venues.dm
Labels: Code Improvement

#59919 Fix incorporeal movers procing containment field effects
  code/modules/power/singularity/containment_field.dm
Labels: Fix

#59917 Allows Bananas to be holstered
  code/game/objects/items/storage/holsters.dm
Labels: Content Expansion, Good First PR

#59911 Remove unused hivemind powers and supression
  code/__DEFINES/traits.dm
  code/modules/antagonists/changeling/powers/hivemind.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  tgstation.dme
Labels: Code Improvement

#59962 Fixed being able to insert infinitely many components into a shell. Fixes being able to view the shell's circuit in a locked shell.
  code/datums/components/shell.dm
  code/modules/wiremod/integrated_circuit.dm
Labels: Fix

#59923 Makes GAGS layer limit per icon state, not per config file
  code/datums/greyscale/_greyscale_config.dm
Labels: Fix

#59931 Fixes Hydrogen Fireaxe inhands
  icons/mob/inhands/weapons/axes_lefthand.dmi
  icons/mob/inhands/weapons/axes_righthand.dmi
Labels: Fix, Sprites

#59934 Fix turbine free power exploit
  code/modules/power/turbine.dm
Labels: Fix

#59935 Small Tramstation Pipe Fix
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#59938 Large cardboard box icon fix
  code/game/objects/items/implants/implant_stealth.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
Labels: Fix

#59966 The "Is This Thing On?" sci experiment will now actually accept any explosion...
  code/modules/experisci/experiment/types/explosive.dm
Labels: Fix

#59925 introduce advanced sucking functionality to custodians (+ bonus GAGging)
  code/__DEFINES/dcs/signals.dm
  code/datums/components/vacuum.dm
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/janicart_upgrade.json
  code/datums/greyscale/json_configs/janicart_upgrade_installed.json
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vehicles/pimpin_ride.dm
  icons/obj/janicart_upgrade.dmi
  icons/obj/vehicles.dmi
  tgstation.dme
Labels: Mechanic, Refactor, Sprites

#59967 Documents antag_datum.dm
  code/modules/antagonists/_common/antag_datum.dm
Labels: Documentation

#59752 Environment Protection Bags + Minor Weather Changes
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/combat.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/acid_rain.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/datums/weather/weather_types/void_storm.dm
  code/game/atoms_movable.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/crates_lockers/crates/critter.dm
  code/game/turfs/open/lava.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/dark_wizard.dm
  code/modules/mob/living/simple_animal/hostile/jungle/_jungle_mobs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/clockwork_knight.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/lobstrosity.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
  code/modules/shuttle/emergency.dm
  icons/obj/bodybag.dmi
Labels: Code Improvement, Content Expansion, Map Edit, Mechanic, Refactor, Sprites

#59922 Fixes a runtime and refactors suit jetpacks a bit
  code/game/objects/items/tanks/jetpack.dm
Labels: Refactor

#59772 bans posibrains and mmis from savannah ivanov
  code/__DEFINES/mecha.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/honker.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/reticence.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  code/modules/vehicles/mecha/working/clarke.dm
Labels: Balance/Rebalance

#59877 Add new Wallets! station trait
  code/controllers/subsystem/processing/station.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/positive_traits.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/storage/wallets.dm
Labels: Content Expansion

#59976 Allows the detective's and nuke op's holsters to be placed in the suit storage slot of armor vests
  code/__DEFINES/inventory.dm
  code/game/objects/items/storage/holsters.dm
  icons/mob/clothing/belt_mirror.dmi
Labels: Balance/Rebalance, Sprites

#59968 Fix reveal role from a mafia psychologist
  code/modules/mafia/roles.dm
Labels: Fix

#59972 fixes a game breaking flaw with the atmospherics system on metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#59960 corrects delta camera dir
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#59984 sets commission plaques to below open door layer
  code/game/objects/structures/plaques/static_plaques.dm
Labels: Quality of Life

#59985 makes the light eater a mining tool
  code/modules/antagonists/nightmare/nightmare_equipment.dm
Labels: Quality of Life

#59928 Migrates the hellspawn stuff over from hackmd
  .github/CONTRIBUTING.md
Labels: GitHub

#59995 Fixes autolathes shock wire
  code/datums/wires/autolathe.dm
Labels: Fix

#59986 Fix borgs needing to use tools to activate adjacent portals
  code/game/objects/effects/portals.dm
Labels: Fix

#59982 removes the weird light from the upgraded mining hardsuit helmet sprite
  code/modules/clothing/spacesuits/hardsuit.dm
  icons/mob/clothing/head.dmi
Labels: Removal, Sprites

#59983 hierophant club dash now doesnt work on blocked turfs
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Balance/Rebalance

#59950 Adds the "Split" circuit component
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/list/split.dm
  tgstation.dme
Labels: Content Expansion

#59937 Cleans up and DMdoc's lazarus_injector.dm.
  code/modules/mining/equipment/lazarus_injector.dm
Labels: Code Improvement

#59927 Carnivory visible on the plant analyzer
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/hydroponics/unique_plant_genes.dm
Labels: Fix

#59963 Removes plasteel as a custom material for tanks to prevent bugs
  code/modules/atmospherics/machinery/components/tank.dm
Labels: Fix, Removal

#59993 Adds temperature and pressure sensors to circuits
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/sensors/pressuresensor.dm
  code/modules/wiremod/components/sensors/tempsensor.dm
  tgstation.dme
Labels: Mechanic

#60004 wisps no longer fall in chasms
  code/datums/components/chasm.dm
Labels: Fix

#59999 fix buckling to a vehicle not setting your initial sprite position correctly
  code/datums/components/riding/riding.dm
  code/datums/components/riding/riding_mob.dm
Labels: Fix

#59994 Fix cursed spring ruin acting as a polymorph teleport forwarder
  _maps/RandomRuins/IceRuins/icemoon_surface_hotsprings.dmm
  code/game/area/areas/mining.dm
Labels: Fix, Map Edit

#60003 knight helmets no longer delete a nonexisting component
  code/modules/clothing/head/helmet.dm
Labels: Code Improvement

#59944 Non-changeling spawned headslugs now burst non-antag changeling variant again
  code/__DEFINES/role_preferences.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Fix

#59990 switchblade can now be used to butcher and slice necks, icon updates when you toggle it on
  code/game/objects/items/weaponry.dm
Labels: Fix, Verified :heavy_check_mark:

#59988 Concussive Gauntlets Resprite by Mey Ha Zah
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Sprites

#60014 fixes voice of god not giving you large text
  code/datums/voice_of_god_command.dm
Labels: Fix

#59975 Control click Portaseeder
  code/game/objects/items/storage/bags.dm
Labels: Quality of Life

#60031 Fix blob overmind spawns
  code/modules/antagonists/blob/overmind.dm
Labels: Fix

#59907 Adds a new ruin to Icebox, the post office.
  _maps/RandomRuins/IceRuins/icemoon_underground_mailroom.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/objects/items/devices/pressureplates.dm
  code/game/objects/items/puzzle_pieces.dm
  code/modules/ruins/icemoonruin_code/mailroom.dm
  tgstation.dme
Labels: Content Expansion, Fix, Map Edit

#59997 cleans up distro / waste pipelines near the supermatter on most maps
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Quality of Life

#60009 Changes the area in Meta-Xenobio a little bit to reduce unneeded pain
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Quality of Life

#60010 Fixes a mapping error on Delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#60036 Fixes tram pharmacy door access
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#60030 Fixed a small oversight in Kilo's Bedroom
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Good First PR, Map Edit

#60033 Fixes minor mapping errors on meta
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#60029 C4 suicide phrases, but it's on the datum now
  code/game/objects/items/grenades/plastic.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/creep/creep.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/fugitive/fugitive.dm
  code/modules/antagonists/fugitive/hunter.dm
  code/modules/antagonists/gang/gang.dm
  code/modules/antagonists/greentext/greentext.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/antagonists/monkey/monkey.dm
  code/modules/antagonists/nightmare/nightmare.dm
  code/modules/antagonists/nukeop/clownop.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/revolution/enemy_of_the_revolution.dm
  code/modules/antagonists/revolution/enemy_of_the_state.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/santa/santa.dm
  code/modules/antagonists/separatist/separatist.dm
  code/modules/antagonists/space_ninja/space_ninja.dm
  code/modules/antagonists/survivalist/survivalist.dm
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/valentines/heartbreaker.dm
  code/modules/antagonists/valentines/valentine.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  code/modules/antagonists/wizard/wizard.dm
Labels: Content Expansion, Refactor

#60012 CARP Team Six: Nanotrasen's Finest*
  code/datums/ert.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/holsters.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Mechanic, Sprites

#60022 Stop compiling DM if compiler outputs are locked.
  .github/CODEOWNERS
  code/_compile_options.dm
  tools/build/build.js
  tools/build/cbt/dm.js
  tools/build/juke/argparse.d.ts
  tools/build/juke/exec.d.ts
  tools/build/juke/fs.d.ts
  tools/build/juke/index.d.ts
  tools/build/juke/index.js
  tools/build/juke/logger.d.ts
  tools/build/juke/parameter.d.ts
  tools/build/juke/runner.d.ts
  tools/build/juke/target.d.ts
Labels: GitHub, Tools

#59580 Fixes a good few improper overlay icon_states, fuck gun code edition
  code/game/machinery/spaceheater.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/mounted.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/station_goals/bsa.dm
  code/modules/surgery/organs/augments_arms.dm
  icons/obj/guns/ballistic.dmi
  icons/obj/guns/energy.dmi
  icons/obj/items_cyborg.dmi
  icons/obj/lavaland/pod_computer.dmi
  icons/obj/surgery.dmi
Labels: Sprites, Stale

#60041 properly updates the light color of the mining hardsuit helmet
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Fix, GBP: No Update

#59977 Rust Component / Wirebrush Rust Remover
  code/__DEFINES/tools.dm
  code/__DEFINES/traits.dm
  code/datums/components/rust.dm
  code/game/atoms.dm
  code/game/objects/items/debug_items.dm
  code/game/objects/items/tools/wirebrush.dm
  code/game/objects/structures/statues.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/floor/iron_floor.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/game/turfs/open/floor/plating.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/tools.dmi
  icons/turf/walls/reinforced_wall.dmi
  icons/turf/walls/wall.dmi
  tgstation.dme
Labels: Content Expansion, Mechanic, Refactor, Sprites

#60043 Weather runtime & EPB fix
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/ash_storm.dm
Labels: Fix, GBP: No Update

#60002 Replaces Hardstuns with knockdown, removes Vomit stunning from Voice of God.
  code/datums/voice_of_god_command.dm
Labels: Balance/Rebalance, Removal, Verified :heavy_check_mark:

#60011 Updates Seed Extractor Examine
  code/modules/hydroponics/seed_extractor.dm
Labels: Grammar and Formatting

#60024 Android Sect can now trade favor for cybernetic implants
  code/modules/religion/religion_sects.dm
  code/modules/religion/rites.dm
Labels: Mechanic

#60015 Increase the number of shots for laser rifles, energy guns and hellfire lasers
  code/modules/projectiles/ammunition/energy/laser.dm
Labels: Balance/Rebalance

#60018 Adds a name to clown.txt
  strings/names/clown.txt
Labels: Grammar and Formatting

#59717 Drastic Lag Mitigation Subsystem: SSlag_switch
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/lag_switch.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/icons.dm
  code/_globalvars/lists/mobs.dm
  code/_globalvars/traits.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/input.dm
  code/controllers/subsystem/lag_switch.dm
  code/controllers/subsystem/ticker.dm
  code/datums/chatmessage.dm
  code/datums/world_topic.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_lists.dm
  code/modules/mob/mob_say.dm
  config/admins.txt
  config/config.txt
  tgstation.dme
Labels: Config Update, Performance

#60065 Fix the ms2ds define
  code/__DEFINES/time.dm
Labels: Blame MSO, GBP: No Update, Verified :heavy_check_mark:

#60050 makes some instances of x^y into x**y because thats what exponents are in dm
  code/__HELPERS/files.dm
  code/modules/events/ghost_role.dm
  code/modules/power/lighting.dm
Labels: Blame MSO, Fix

#60032 Human Skin Hats
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/clothing/head/misc.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Content Expansion, Sprites

#60053 thermomachines will not rotate automatically when moved
  code/modules/atmospherics/machinery/components/binary_devices/thermomachine.dm
Labels: Fix

#59981 The Great Species Dedatumming: External feature organs, part 1
  code/__DEFINES/DNA.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/traits.dm
  code/datums/dna.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/emote.dm
  code/modules/surgery/advanced/wingreconstruction.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/stomach/external/_external_organs.dm
  code/modules/surgery/organs/stomach/external/wings.dm
  tgstation.dme
Labels: Fix, Refactor

#60055 Soapstone & engraved message fixes
  code/modules/library/soapstone.dm
  tgui/packages/tgui/interfaces/EngravedMessage.js
Labels: Fix, Quality of Life, UI

#60062 Transfer orbiters to changeling headslugs at birth
  code/modules/antagonists/changeling/powers/headcrab.dm
Labels: Quality of Life

#60025 Fixes Thermal Vision Bug
  code/datums/mutations/sight.dm
Labels: Fix

#60037 Fixes the component printer's layout
  tgui/packages/tgui/interfaces/ComponentPrinter.tsx
Labels: Fix, UI

#60075 Ports TGMC smartfridge sprites, remakes security TV and Booze-o-Mat sprites!
  icons/obj/computer.dmi
  icons/obj/vending.dmi
Labels: Sprites

#60026 Fix Tram ghost magnet and other cases of observer forceMove
  code/_onclick/hud/alert.dm
  code/_onclick/observer.dm
  code/datums/components/orbiter.dm
  code/datums/helper_datums/teleport.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Code Improvement, Fix

#60067 Fixes a plumbing harddel
  code/datums/components/plumbing/_plumbing.dm
Labels: Fix

#60079 Fixes Fit Viewport being forced onto all connecting clients regardless of their manual Auto Fit preference
  code/modules/client/client_procs.dm
Labels: Fix

#60058 Adds random number to space-dragon-rift-spawned space carp
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
Labels: Quality of Life

#60080 Fixed bug that teleports AI cards
  code/modules/modular_computers/hardware/ai_slot.dm
Labels: Fix

#60082 removes two decals on top of walls from delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit, Removal

#60070 Makes Emitter locks silicon compatible
  code/modules/power/singularity/emitter.dm
Labels: Balance/Rebalance

#60038 Fixed CQC attacks not triggering if combo failed
  code/datums/martial/cqc.dm
Labels: Fix

#59991 Better wabbajack polymorph logging
  code/modules/mob/living/living.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Fix

#59889 Mjolnir resprite
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Sprites

#59878 MetaMaint Chems Nerf or Nothing
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Balance/Rebalance, Map Edit, Quality of Life

#60094 Fix moth wings not showing up
  code/modules/surgery/organs/stomach/external/wings.dm
Labels: Fix

#60090 Fix augment flash runtime
  code/modules/surgery/organs/augments_arms.dm
Labels: Fix

#60021 Fix some station name html encoding for plaintext handlers
  code/__HELPERS/names.dm
  code/controllers/subsystem/ticker.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/charter.dm
Labels: Fix

#60085 Left-Click Combat Mode Harmbaton
  code/game/objects/items/stunbaton.dm
Labels: Quality of Life

#60017 BRPEDs now empty reagents from containers when they are inserted.
  code/modules/research/stock_parts.dm
Labels: Balance/Rebalance

#59933 Major egg rework. Pavlova edition
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/egg.dm
  code/game/objects/items/manuals.dm
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  icons/obj/food/piecake.dmi
Labels: Content Expansion, Sprites

#60052 [PORT] Pipe overlays overhaul and bitmasking
  code/__DEFINES/atmospherics.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/binary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  code/modules/atmospherics/machinery/pipes/bridge_pipe.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/he_pipes.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/junction.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/simple.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/atmospherics/machinery/pipes/smart.dm
  icons/obj/atmospherics/pipes/layer_manifold_underlays.dmi
  icons/obj/atmospherics/pipes/pipe_underlays.dmi
  icons/obj/atmospherics/pipes/pipes_bitmask.dmi
Labels: Fix, Refactor, Sprites

#60093 optimizes get_hearers_in_view()
  code/__HELPERS/game.dm
  code/game/say.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/mob/living/living_say.dm
Labels: Performance

#60099 Fixes energy gun sprite tomfoolery
  icons/obj/guns/energy.dmi
Labels: Fix, Sprites

#60106 Fixes species layers being wonky
  code/__DEFINES/misc.dm
  code/modules/surgery/organs/stomach/external/_external_organs.dm
Labels: Fix

#60102 Marine ERT engineers are no longer doomed to weld with nvgs on
  code/modules/clothing/outfits/ert.dm
Labels: Fix, GBP: No Update

#60112 Fixes the mech mounted teleporter not working.
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
Labels: Fix

#60100 Metastation genetics monkey pen no longer has an extra '
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#60089 Fixes perspective when tying a neckerchief
  code/modules/clothing/masks/miscellaneous.dm
Labels: Grammar and Formatting

#60087 Fixes logs being spammed for arrest console circuits.
  code/game/machinery/computer/security.dm
Labels: Fix

#59969 fixes a connect_loc runtime related to abstract_move
  code/game/atoms_movable.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Fix, GBP: No Update

#60111 Less absurd sturdiness for railings, more in line with grilles now.
  code/game/objects/structures/railings.dm
Labels: Balance/Rebalance

#60113 Fixes "lobstrosities can finish charging even while dead"
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Fix

#60086 Fixes All-In-One Grinder board name
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Grammar and Formatting

#60128 Fixes attach_limb() not calling update_disabled()
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix, Verified :heavy_check_mark:

#60119 A cut above. Fire axe resprite.
  icons/obj/items_and_weapons.dmi
Labels: Sprites

#59032 Syndicate Hard-Suit helmets fix
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Fix

#59778 Fixing Energy Gun Weapon Description Runtimes + Miscellaneous Weapon Description Fixes, Take 2
  code/__HELPERS/global_lists.dm
  code/_globalvars/misc.dm
  code/datums/elements/weapon_description.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
Labels: Fix

#60138 fixes potential holodeck bee infinite chem exploit
  code/modules/mob/living/simple_animal/hostile/bees.dm
Labels: Fix

#60165 Adds tram whiteship to the list of potential whiteships
  code/modules/shuttle/shuttle.dm
Labels: Fix

#59413 Change ashwalkers to have custom lungs
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/surgery/organs/lungs.dm
  icons/obj/surgery.dmi
Labels: Balance/Rebalance, Sprites

#60137 Removes a redundant animation
  code/game/objects/items/stunbaton.dm
Labels: Fix, GBP: No Update

#60162 cuffs now use equip_to_slot() instead of snowflake code, thus fixing some issues.
  code/game/objects/items/handcuffs.dm
Labels: Fix

#60156 New arrivals are less likely to spawn on top of each other.
  code/controllers/subsystem/job.dm
Labels: Fix

#60155 Fixes xeno/monkey combat mode rclick attack plus stun
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix

#60154 Replaces morph set_varspeed() calls with movespeed modifiers. Makes it better.
  code/modules/antagonists/morph/morph.dm
  code/modules/movespeed/modifiers/mobs.dm
Labels: Fix

#60153 Fixes inhand holder jank separating pAIs holoforms from their shells.
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/silicon/pai/pai_shell.dm
Labels: Fix

#60152 Fixes ai monkeys appearing as catatonic on examine()
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#60143 Fixes mapmerge
  tools/mapmerge2/convert.py
  tools/mapmerge2/fixup.py
Labels: Tools, Verified :heavy_check_mark:

#60142 Always draws mothwings
  code/modules/surgery/organs/stomach/external/wings.dm
Labels: Fix, GBP: No Update
