Repository tgstation/tgstation, pull requests merged in 2021-08, with the labels that each got.

#60575 Open space turfs now trigger the "falling" phobia
  code/controllers/subsystem/traumas.dm
Labels: GBP: No Update, Mechanic

#60564 Servers now have USB ports
  code/modules/wiremod/shell/server.dm
Labels: Quality of Life

#60559 fixes cannons losing their sprites
  code/game/objects/structures/cannons/cannon.dm
Labels: Fix, GBP: No Update

#60550 Fixes the outputs in the launchpad usb connection
  code/game/machinery/computer/launchpad_control.dm
Labels: Fix, GBP: No Update

#60546 Adds comms_key config validation documentation
  config/comms.txt
Labels: Config Update, Quality of Life

#60536 ballistic.dm text cleanup
  code/modules/projectiles/guns/ballistic.dm
Labels: Grammar and Formatting

#60545 Circuit component descriptions and module names are now visible to the naked eye.
  code/game/machinery/computer/crew.dm
  code/game/machinery/computer/launchpad_control.dm
  code/game/machinery/computer/security.dm
  code/modules/atmospherics/machinery/components/binary_devices/valve.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/wiremod/component.dm
  code/modules/wiremod/components/abstract/module.dm
  code/modules/wiremod/components/action/light.dm
  code/modules/wiremod/components/action/mmi.dm
  code/modules/wiremod/components/action/pathfind.dm
  code/modules/wiremod/components/action/pull.dm
  code/modules/wiremod/components/action/radio.dm
  code/modules/wiremod/components/action/soundemitter.dm
  code/modules/wiremod/components/action/speech.dm
  code/modules/wiremod/components/atom/direction.dm
  code/modules/wiremod/components/atom/gps.dm
  code/modules/wiremod/components/atom/health.dm
  code/modules/wiremod/components/atom/hear.dm
  code/modules/wiremod/components/atom/self.dm
  code/modules/wiremod/components/atom/species.dm
  code/modules/wiremod/components/list/concat.dm
  code/modules/wiremod/components/list/get_column.dm
  code/modules/wiremod/components/list/index.dm
  code/modules/wiremod/components/list/index_table.dm
  code/modules/wiremod/components/list/select.dm
  code/modules/wiremod/components/list/split.dm
  code/modules/wiremod/components/math/arithmetic.dm
  code/modules/wiremod/components/math/comparison.dm
  code/modules/wiremod/components/math/length.dm
  code/modules/wiremod/components/math/logic.dm
  code/modules/wiremod/components/math/not.dm
  code/modules/wiremod/components/math/random.dm
  code/modules/wiremod/components/sensors/pressuresensor.dm
  code/modules/wiremod/components/sensors/tempsensor.dm
  code/modules/wiremod/components/string/concat.dm
  code/modules/wiremod/components/string/contains.dm
  code/modules/wiremod/components/string/textcase.dm
  code/modules/wiremod/components/string/tonumber.dm
  code/modules/wiremod/components/string/tostring.dm
  code/modules/wiremod/components/utility/clock.dm
  code/modules/wiremod/components/utility/combiner.dm
  code/modules/wiremod/components/utility/delay.dm
  code/modules/wiremod/components/utility/multiplexer.dm
  code/modules/wiremod/components/utility/ram.dm
  code/modules/wiremod/components/utility/typecheck.dm
  code/modules/wiremod/integrated_circuit.dm
  code/modules/wiremod/shell/airlock.dm
  code/modules/wiremod/shell/bot.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
  code/modules/wiremod/shell/compact_remote.dm
  code/modules/wiremod/shell/controller.dm
  code/modules/wiremod/shell/drone.dm
  code/modules/wiremod/shell/moneybot.dm
  code/modules/wiremod/shell/scanner.dm
Labels: Quality of Life, UI

#60525 Saves the Wisdom Cow from a Horrible Death
  code/modules/events/wisdomcow.dm
Labels: Fix

#60517 Fixes perspective issue with classic baton
  code/game/objects/items/melee/misc.dm
Labels: Grammar and Formatting

#60511 photocopier and carbon paper copying now share a common proc.
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperplane.dm
  code/modules/paperwork/photocopier.dm
Labels: Fix

#60534 Fixes multiple mapping errors
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/machinery/computer/camera.dm
Labels: Fix, Map Edit

#60556 cleans up metastation's toxins
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Quality of Life

#60586 reactive armor now actually updates its icon when used
  code/modules/clothing/suits/reactive_armour.dm
Labels: Fix, GBP: No Update

#60388 fix filtering clown/mime plasmaman air
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/outfits/plasmaman.dm
Labels: Fix, Quality of Life

#60566 Adds an additional wall on a corner in delta maint
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#60572 Fix riding offsets not actually doing anything
  code/datums/components/riding/riding.dm
Labels: Fix

#60434 Adds a preference to make flashes darken your screen
  code/_onclick/hud/fullscreen.dm
  code/datums/components/tackle.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/living_defense.dm
  icons/hud/screen_gen.dmi
Labels: Quality of Life, Sprites

#60618 fixes incorrectly sorted external organ files
  code/modules/surgery/organs/external/_external_organs.dm
  code/modules/surgery/organs/external/wings.dm
  tgstation.dme
Labels: Code Improvement

#60613 Fixes ethereal hair not updating with mutcolor
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Fix

#60607 Fixes a random unit test error that can happen with the hypnosis trauma
  code/datums/brain_damage/hypnosis.dm
Labels: Fix

#60601 Regenerates the CTF map each time a CTF round ends
  code/modules/capture_the_flag/ctf_game.dm
  code/modules/capture_the_flag/ctf_map_loading.dm
Labels: Fix

#59834 Adds reinforced rock for mapping use
  code/game/turfs/closed/minerals.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/closed/walls.dm
  icons/turf/walls/red_wall.dmi
  icons/turf/walls/reinforced_rock.dmi
Labels: Content Expansion, Sprites

#60612 Cultists using Twisted Construction no longer spawn a catatonic construct
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#60503 BCI overlays and click interception
  code/__DEFINES/cooldowns.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/component.dm
  code/modules/wiremod/components/hud/bar_overlay.dm
  code/modules/wiremod/components/hud/counter_overlay.dm
  code/modules/wiremod/components/hud/object_overlay.dm
  code/modules/wiremod/components/hud/target_intercept.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
  icons/hud/screen_bci.dmi
  tgstation.dme
Labels: Balance/Rebalance, Content Expansion, Fix, Sprites

#60240 Adds the bare minimum admin components and allows admins to define list literals.
  code/__DEFINES/wiremod.dm
  code/controllers/subsystem/delay_component.dm
  code/datums/components/shell.dm
  code/modules/admin/admin_verbs.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/component.dm
  code/modules/wiremod/component_printer.dm
  code/modules/wiremod/components/admin/getvar.dm
  code/modules/wiremod/components/admin/proccall.dm
  code/modules/wiremod/components/admin/sdql.dm
  code/modules/wiremod/components/admin/setvar.dm
  code/modules/wiremod/components/admin/spawn.dm
  code/modules/wiremod/components/admin/to_type.dm
  code/modules/wiremod/components/list/list_literal.dm
  code/modules/wiremod/components/utility/typecast.dm
  code/modules/wiremod/components/utility/typecheck.dm
  code/modules/wiremod/duplicator.dm
  code/modules/wiremod/integrated_circuit.dm
  code/modules/wiremod/port.dm
  code/modules/wiremod/shell/bot.dm
  code/modules/wiremod/shell/compact_remote.dm
  code/modules/wiremod/shell/controller.dm
  code/modules/wiremod/shell/moneybot.dm
  html/changelogs/AutoChangeLog-pr-60186.yml
  tgstation.dme
  tgui/packages/tgui/interfaces/IntegratedCircuit/index.js
Labels: Administration, Quality of Life, UI

#60161 picked up bees and mice can now fit in boxes.
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
Labels: Content Expansion, Fix, Stale

#60603 Signals fire world.time
  code/__DEFINES/wiremod.dm
Labels: Content Expansion

#60626 Fixed phantom slipping caused by mk-clown shoes bananas
  code/datums/components/slippery.dm
Labels: Fix

#60624 Fixes vehicles
  code/game/objects/buckling.dm
  code/modules/mob/mob.dm
Labels: Fix

#60625 cultists can now once again draw runes in lavaland mining station
  code/game/area/areas/mining.dm
Labels: Fix

#60646 Kills the now defunct /datum/plant_gene/core
  code/modules/hydroponics/plant_genes.dm
  code/modules/hydroponics/seeds.dm
Labels: Code Improvement

#60642 Disconnects AI's from their shell if hit by Twisted Construction
  code/modules/antagonists/cult/blood_magic.dm
Labels: Fix, Verified :heavy_check_mark:

#60636 Fixes pepperspray backpack mister being invinsible inhand
  icons/obj/hydroponics/equipment.dmi
Labels: Fix, Sprites

#60634 surgery_initiator component to element.
  code/datums/elements/surgery_initiator.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/surgery/tools.dm
  tgstation.dme
Labels: Code Improvement

#60647 Renames COMSIG_MOB_APPLY_DAMGE
  code/__DEFINES/dcs/signals.dm
  code/datums/components/explodable.dm
  code/datums/components/gunpoint.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/surgery/organs/heart.dm
Labels: Grammar and Formatting

#60526 Adds USB port to air alarm
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Content Expansion

#60588 Improves and documents some grenade-related code, fixes an exploit.
  code/datums/wires/explosive.dm
  code/game/objects/items/grenades/atmos_grenades.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/grenades/festive.dm
  code/game/objects/items/grenades/ghettobomb.dm
  code/game/objects/items/grenades/grenade.dm
  code/game/objects/items/stacks/tape.dm
Labels: Code Improvement, Documentation, Fix

#60584 Removes an unused trait. Adds another to the traits global list.
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/quirks/good.dm
Labels: GBP: No Update, Removal

#60650 Fix missing defib med-HUD icon
  icons/mob/hud.dmi
Labels: Fix, Sprites

#60599 Adds the library_report table
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
Labels: SQL, SQL Updated

#60621 Fix greenshifts not properly logging
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_logging.dm
Labels: Fix, Logging

#60651 D6 pip fix
  icons/obj/dice.dmi
Labels: Sprites

#60614 componentized spirit item possession
  code/__DEFINES/dcs/signals.dm
  code/datums/components/spirit_holding.dm
  code/game/atoms.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/book.dm
  tgstation.dme
Labels: Refactor

#60616 Fixes soulstones accidentally granting all languages to the damned stone instead of the spirit
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#60595 Improves Pavlova Code Copypasta, Changes Description Of Pavlova (The Pavlova Incident of 2021)
  code/game/objects/items/food/cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
Labels: Code Improvement, Grammar and Formatting

#60654 adds list getter and text2num to sdql wrappers
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
Labels: Administration

#60656 Fixes rad collectors ignoring access requirements for locking.
  code/modules/power/singularity/collector.dm
Labels: Fix

#60524 ACTION_ENABLER secret take two.
  .github/workflows/compile_changelogs.yml
  .github/workflows/gbp.yml
  .github/workflows/gbp_collect.yml
Labels: Continuous Integration, GitHub

#60544 Fixes issue where Plexagon HR Core app doesn't allow de-prioritising jobs.
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
Labels: Fix

#60462 Multiplexer gains extra outputs and wraps out-of-range indices.
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/utility/multiplexer.dm
  code/modules/wiremod/components/utility/router.dm
  tgstation.dme
Labels: Content Expansion

#60677 Fixes secret lock on actions.
  .github/workflows/compile_changelogs.yml
  .github/workflows/gbp.yml
  .github/workflows/gbp_collect.yml
Labels: Fix, GitHub

#60660 Phazon tool array icon fix
  icons/mob/actions/actions_mecha.dmi
Labels: Fix

#60658 Fixes infinitely recursive beef wellingtons
  code/game/objects/items/food/meat.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
Labels: Fix

#60659 makes important_recursive_contents work when a channel trait is lost
  code/game/atoms_movable.dm
Labels: GBP: No Update

#60661 Removes required_shells var on circuit components not allowing them to be placed in an integrated circuit.
  code/modules/wiremod/component.dm
  code/modules/wiremod/components/hud/counter_overlay.dm
  code/modules/wiremod/components/hud/object_overlay.dm
  code/modules/wiremod/components/hud/target_intercept.dm
Labels: Code Improvement, Removal

#60520 Reworked Icebox Service -= M u l t i - Z =-
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit, Mechanic, Quality of Life

#60631 Remaps Kilo disposals airlock
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#60209 Tramstation Service Revamp
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Mechanic

#60668 Fixes custom vendors
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: Fix, UI

#60662 Fixes CTF completely breaking on restart
  code/modules/capture_the_flag/ctf_game.dm
  code/modules/capture_the_flag/medieval_sim/medisim_game.dm
Labels: Fix, GBP: No Update

#60665 Gutlunch udders no longer double as mouths
  code/datums/components/udder.dm
Labels: Grammar and Formatting

#60585 Standard bananium floor is now viable for clown decoration. It doesn't slip.
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/turfs/open/floor/mineral_floor.dm
Labels: Balance/Rebalance

#60532 Adds conveyor switch and quantum pad USBs
  code/game/machinery/quantum_pad.dm
  code/modules/recycling/conveyor2.dm
Labels: Content Expansion

#60554 Deployable Component (Big Dakka Included)
  code/datums/components/deployable.dm
  code/game/machinery/deployable.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/deployable_turret.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/guns/projectiles.dmi
  icons/obj/turrets.dmi
  sound/weapons/gun/hmg/hmg.ogg
  tgstation.dme
Labels: Code Improvement, Content Expansion, Fix, Sound, Sprites

#60657 Fixes chasm hallucinations being invisible
  code/modules/flufftext/Hallucination.dm
Labels: Fix

#60676 removes TRAIT_RESTRAINED from xeno nests
  code/game/objects/structures/beds_chairs/alien_nest.dm
Labels: Fix, Removal

#60669 Fixes Dynamic Pirates
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Fix, GBP: No Update

#60697 Uncomments holymelon "check liked" code, makes it work with the edible component
  code/datums/mood_events/generic_positive_events.dm
  code/modules/hydroponics/grown/melon.dm
Labels: Code Improvement

#60571 Refactors port types completely and adds the option type. Refactors options to use this new type
  code/__DEFINES/wiremod.dm
  code/game/machinery/computer/security.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/wiremod/component.dm
  code/modules/wiremod/components/abstract/compare.dm
  code/modules/wiremod/components/action/radio.dm
  code/modules/wiremod/components/action/soundemitter.dm
  code/modules/wiremod/components/admin/proccall.dm
  code/modules/wiremod/components/admin/spawn.dm
  code/modules/wiremod/components/admin/to_type.dm
  code/modules/wiremod/components/hud/bar_overlay.dm
  code/modules/wiremod/components/hud/object_overlay.dm
  code/modules/wiremod/components/list/select.dm
  code/modules/wiremod/components/math/arithmetic.dm
  code/modules/wiremod/components/math/comparison.dm
  code/modules/wiremod/components/math/logic.dm
  code/modules/wiremod/components/string/textcase.dm
  code/modules/wiremod/components/utility/combiner.dm
  code/modules/wiremod/components/utility/ram.dm
  code/modules/wiremod/components/utility/router.dm
  code/modules/wiremod/components/utility/typecast.dm
  code/modules/wiremod/components/utility/typecheck.dm
  code/modules/wiremod/datatypes.dm
  code/modules/wiremod/datatypes/any.dm
  code/modules/wiremod/datatypes/basic.dm
  code/modules/wiremod/datatypes/entity.dm
  code/modules/wiremod/datatypes/number.dm
  code/modules/wiremod/datatypes/option.dm
  code/modules/wiremod/datatypes/signal.dm
  code/modules/wiremod/datatypes/string.dm
  code/modules/wiremod/duplicator.dm
  code/modules/wiremod/integrated_circuit.dm
  code/modules/wiremod/port.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/IntegratedCircuit/DisplayName.js
  tgui/packages/tgui/interfaces/IntegratedCircuit/FundamentalTypes.js
  tgui/packages/tgui/interfaces/IntegratedCircuit/ObjectComponent.js
  tgui/packages/tgui/styles/interfaces/IntegratedCircuit.scss
Labels: Refactor, UI

#60670 Fixes List Literal Components
  code/modules/wiremod/components/list/list_literal.dm
Labels: Fix

#60680 Forces dead cyborgs back into their body if turned into a Construct
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/runes.dm
Labels: Fix

#60504 Add admin panel for viewing circuits
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
  code/modules/wiremod/admin_panel.dm
  code/modules/wiremod/integrated_circuit.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CircuitAdminPanel.tsx
Labels: Administration, UI

#60688 Fixes rust heretics healing with Leeching Walk (+ some minor code improvement)
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
Labels: Fix

#60695 Adds logging for mob numbers
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/game/world.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
Labels: Logging

#60691 Fix custom wintercoat hoods not getting GAGS colors
  code/modules/clothing/suits/wintercoats.dm
Labels: Fix

#60687 Fixes all R_WALLS being rusty
  code/game/turfs/closed/wall/misc_walls.dm
Labels: Fix

#60604 Thrownthing datum refactor: you can now throw stuff at mobs lying on the floor.
  code/controllers/subsystem/throwing.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/living_defense.dm
Labels: Quality of Life, Refactor

#60587 Increases capacity for small, mid and large assemblies
  code/__DEFINES/wiremod.dm
  icons/obj/wiremod.dmi
Labels: Sprites, Balance/Rebalance

#60502 Fix polymorph behavior for pAIs and mimics
  code/modules/admin/verbs/adminfun.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/pai_shell.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/ruins/icemoonruin_code/hotsprings.dm
Labels: Fix, Code Improvement

#60558 Adds scanner gate shells
  code/__DEFINES/dcs/signals.dm
  code/game/machinery/scan_gate.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/shell/scanner_gate.dm
  code/modules/wiremod/shell/shell_items.dm
  icons/obj/machines/scangate.dmi
  tgstation.dme
Labels: Sprites

#60592 Contractor pods won't land on groundless turfs such as chasms or open space anymore.
  code/__HELPERS/game.dm
Labels: Fix

#60605 Champagne poppin.
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  icons/obj/drinks.dmi
  sound/attributions.txt
  sound/items/champagne_pop.ogg
Labels: Sprites, Sound, Content Expansion

#60708 Icebox Service Day 0 Patch (Remake of #60701)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit, GBP: No Update

#60683 Fixes wirecutters worn belt-state.
  code/game/objects/items/tools/wirecutters.dm
Labels: Fix

#60685 Makes the occupational corruption device less cryptic
  code/game/objects/items/devices/ocd.dm
  code/modules/uplink/uplink_items.dm
Labels: Code Improvement

#60704 Folded gold wheelchairs are now actually made of gold like unfolded ones.
  code/modules/vehicles/wheelchair.dm
Labels: Fix

#60739 Revert "Adds a note to maintainer guidelines"
  .github/CONTRIBUTING.md
Labels: Revert, GitHub

#60706 fixes a snowflake area subtype that caused bugs
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/area/space_station_13_areas.dm
Labels: Fix, Map Edit

#60703 Fills in a missing corner in the CentCom Supplypod Facility and Puts plating under some windows
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Edit

#60110 railings can now be vaulted/climbed over from both sides.
  code/_onclick/drag_drop.dm
  code/datums/elements/climbable.dm
  code/game/objects/structures/railings.dm
  tgstation.dme
Labels: Fix

#60718 Fixes circuit component options
  tgui/packages/tgui/interfaces/IntegratedCircuit/FundamentalTypes.js
Labels: Fix, UI, GBP: No Update

#60705 Moves most circuit component defines to files to reduce the amount of scattered code.
  code/__DEFINES/wiremod.dm
  code/game/machinery/computer/security.dm
  code/modules/wiremod/components/action/radio.dm
  code/modules/wiremod/components/action/soundemitter.dm
  code/modules/wiremod/components/admin/proccall.dm
  code/modules/wiremod/components/hud/bar_overlay.dm
  code/modules/wiremod/components/math/arithmetic.dm
  code/modules/wiremod/components/math/logic.dm
  code/modules/wiremod/components/string/textcase.dm
  code/modules/wiremod/components/utility/delay.dm
  code/modules/wiremod/components/utility/typecheck.dm
Labels: Code Improvement

#60716 Fixes improper calculation of days in round time
  code/__DEFINES/time.dm
Labels: Code Improvement, Verified :heavy_check_mark:

#60722 fixes pai rod of asclepius bug
  code/modules/mob/living/silicon/pai/pai_defense.dm
Labels: Fix

#60732 Always draws moth antennae like they were meant to
  code/modules/surgery/organs/external/_external_organs.dm
  code/modules/surgery/organs/external/wings.dm
Labels: Fix, GBP: No Update

#60725 Toilet deconstruction error fix
  code/game/objects/structures/watercloset.dm
Labels: Fix

#60751 Fixes a small problem with the pathfinding path and the robot fix merge
  code/modules/wiremod/components/action/pathfind.dm
Labels: Fix

#60690 Fixes the accounting machine by granting unassigned accounts to new savings accounts.
  code/datums/id_trim/jobs.dm
  code/game/machinery/accounting.dm
Labels: Fix

#60736 Fixes an issue with changelog generation where the default lines would be included in the logs
  .github/PULL_REQUEST_TEMPLATE.md
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools, GitHub

#60530 Add USB support to teleporter control consoles
  code/game/machinery/computer/teleporter.dm
Labels: Stale, Content Expansion

#60515 Kitchen expansion part 2: Ovens
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/food.dm
  code/datums/components/bakeable.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/dough.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/meat.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/food/pizza.dm
  code/game/objects/items/food/spaghetti.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
  code/modules/food_and_drinks/kitchen_machinery/oven.dm
  code/modules/food_and_drinks/plate.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/effects/particles/smoke.dmi
  icons/obj/food/pizzaspaghetti.dmi
  icons/obj/kitchen.dmi
  icons/obj/machines/griddle.dmi
  icons/obj/machines/kitchenmachines.dmi
  sound/machines/oven/oven_close.ogg
  sound/machines/oven/oven_loop_end.ogg
  sound/machines/oven/oven_loop_mid.ogg
  sound/machines/oven/oven_loop_start.ogg
  sound/machines/oven/oven_open.ogg
  tgstation.dme
Labels: Sprites, Sound, Map Edit

#60775 Observers can now read circuits from anywhere + fix obscure tgui bug
  code/modules/tgui/tgui.dm
  code/modules/wiremod/integrated_circuit.dm
Labels: Quality of Life

#60280 swap bodypart species checking to bitmap, fix surgery for monkey body…
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/prosthetic_replacement.dm
Labels: Fix

#60432 Drugs of the 26th century. Three new hella rad drugs, one less lame drug and more!
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/reagents.dm
  code/__DEFINES/sound.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/_globalvars/traits.dm
  code/datums/diseases/adrenal_crisis.dm
  code/datums/emotes.dm
  code/datums/quirks/negative.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/drug_items.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/maintenance_loot.dm
  code/modules/actionspeed/modifiers/drugs.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/hydroponics/grown/kronkus.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/external/_external_organs.dm
  icons/mob/human_parts.dmi
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/drugs.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/maintenance_loot.dmi
  sound/chemistry/saturnx_fade.ogg
  sound/items/ampoule_snap.ogg
  tgstation.dme
Labels: Sprites, Sound, Balance/Rebalance, Removal, Content Expansion

#60726 Fixes for icebox service
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit

#60698 Adds cycle helpers to tramstation take 2
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#60629 Updates Icebox Virology
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Edit, Quality of Life

#60579 Returns default AI behavior cooldown to .8 seconds
  code/datums/ai/_ai_behavior.dm
Labels: Fix

#60753 tramstation botany fixes
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#60773 Moves the geneticist department to science
  code/modules/jobs/job_types/geneticist.dm
Labels: Fix

#60436 adds the hyper-noblium crystal
  code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer_items.dm
  tgstation.dme
Labels: Mechanic

#60786 Ships can now land on openspace
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/syndicate.dm
Labels: Fix

#60801 Fixes submenus not appearing
  code/datums/verbs.dm
Labels: Fix

#60780 Update PDA sprites to better resemble real ones, and also makes the clown PDA Much Better
  icons/obj/pda.dmi
Labels: Sprites

#60802 Stringify objects passed to url_encode and decode
  code/__DEFINES/rust_g_overrides.dm
Labels: Code Improvement

#60757 fixes cannons not working
  code/game/objects/structures/cannons/cannon.dm
Labels: Fix

#60762 Spider Fixes
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Fix

#60783 power/singularity folder small cleanup and update
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/singularity.dm
Labels: Code Improvement

#60808 Fixes shotgun meteorslugs not displacing airlocks
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Fix

#60796 Fixes edible rabbit eggs
  code/modules/holiday/easter.dm
  code/modules/holiday/holidays.dm
Labels: Fix

#60794 Fixes an unclear invisimin toggle message for when it would be redundant
  code/modules/admin/admin_verbs.dm
Labels: Fix, Administration

#60730 repaths wood/bar table to wood/shuttle_bar, and small shuttle fix
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_rollerdome.dmm
  _maps/templates/holodeck_lounge.dmm
  code/modules/shuttle/shuttle_rotate.dm
  code/modules/shuttle/special.dm
Labels: Code Improvement, Map Edit

#60770 removes unused soulscythe icons, fixes its resistance flags
  code/modules/mining/lavaland/megafauna_loot.dm
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
Labels: Sprites, Fix, Removal, GBP: No Update

#60811 Display round id in notes panel
  code/modules/admin/sql_message_system.dm
Labels: Administration, UI

#60805 Areas where it makes sense now have \improper pre-fixed to them
  code/game/area/ai_monitored.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/ruins/space.dm
  code/game/area/areas/ruins/templates.dm
  code/game/area/space_station_13_areas.dm
Labels: Grammar and Formatting

#60797 fixes some megafauna shooting too fast
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Fix, GBP: No Update

#60772 stops dchat clog from clientless mobs
  code/datums/emotes.dm
Labels: Fix, Code Improvement

#60570 Soapstone messages are coloured by vote count instead of randomly
  code/__DEFINES/colors.dm
  code/modules/library/soapstone.dm
Labels: Mechanic

#60469 brings back barticles for bonfires
  code/game/objects/structures/bonfire.dm
  code/modules/hydroponics/grown/towercap.dm
  icons/effects/particles/bonfire.dmi
  tgstation.dme
Labels: Sprites, Revert

#60820 Fixes Oingo Boingo Punch-face! not displacing airlocks
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
Labels: Fix

#60632 lifesteal component to element.
  code/datums/components/fantasy/prefixes.dm
  code/datums/components/lifesteal.dm
  code/datums/elements/lifesteal.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  tgstation.dme
Labels: Stale, Code Improvement

#60791 Adds new config flag to mirror logging of suspicious failed logins to its own file.
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  code/modules/admin/IsBanned.dm
  code/modules/client/client_procs.dm
  config/config.txt
Labels: Config Update

#60590 Adds Circuit variables
  code/_globalvars/lists/wiremod.dm
  code/game/machinery/computer/launchpad_control.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/abstract/module.dm
  code/modules/wiremod/components/action/light.dm
  code/modules/wiremod/components/action/radio.dm
  code/modules/wiremod/components/action/soundemitter.dm
  code/modules/wiremod/components/utility/getter.dm
  code/modules/wiremod/components/utility/ram.dm
  code/modules/wiremod/components/utility/setter.dm
  code/modules/wiremod/datatypes/option.dm
  code/modules/wiremod/duplicator.dm
  code/modules/wiremod/integrated_circuit.dm
  code/modules/wiremod/port.dm
  code/modules/wiremod/variable.dm
  tgstation.dme
  tgui/packages/tgui/components/InfinitePlane.js
  tgui/packages/tgui/interfaces/IntegratedCircuit/VariableMenu.js
  tgui/packages/tgui/interfaces/IntegratedCircuit/index.js
Labels: UI, Content Expansion

#60633 knockback component to element.
  code/datums/components/fantasy/suffixes.dm
  code/datums/elements/knockback.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  tgstation.dme
Labels: Stale, Code Improvement

#60298 Ethereal food buffs.
  code/game/objects/items/food/burgers.dm
  code/game/objects/items/food/meat.dm
  code/game/objects/items/food/soup.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Balance/Rebalance, Stale

#60792 Clipboard improvements and fixes
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/paper.dm
  tgui/packages/tgui/interfaces/Clipboard.js
Labels: Fix, UI, Code Improvement

#60557 Adds 3 new NTNet components
  code/__DEFINES/networks.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/ntnet/ntnet_reciever.dm
  code/modules/wiremod/components/ntnet/ntnet_request.dm
  tgstation.dme
Labels: Content Expansion

#60060 Redoes how alarms are handled, moves their behavior to datums
  code/__DEFINES/alarm.dm
  code/__DEFINES/dcs/signals.dm
  code/datums/alarm.dm
  code/datums/wires/airalarm.dm
  code/game/area/areas.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/computer/station_alert.dm
  code/game/objects/structures/displaycase.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/mapping/space_management/traits.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/modular_computers/file_system/programs/alarm.dm
  code/modules/power/apc.dm
  tgstation.dme
Labels: Refactor

#60777 Fixes changelogs parsing on linux enviroments
  code/datums/changelog/changelog.dm
Labels: Fix

#60787 Moved all the integrated circuit core files into a new subfolder called core
  code/modules/wiremod/core/admin_panel.dm
  code/modules/wiremod/core/component.dm
  code/modules/wiremod/core/component_printer.dm
  code/modules/wiremod/core/datatypes.dm
  code/modules/wiremod/core/duplicator.dm
  code/modules/wiremod/core/integrated_circuit.dm
  code/modules/wiremod/core/marker.dm
  code/modules/wiremod/core/port.dm
  code/modules/wiremod/core/usb_cable.dm
  code/modules/wiremod/core/variable.dm
  tgstation.dme
Labels: Code Improvement

#60553 Fixes 2 DNA activator descriptions
  code/game/objects/items/dna_injector.dm
Labels: Grammar and Formatting, Removal

#60813 HFR fuel issue fix
  code/modules/atmospherics/machinery/components/fusion/hfr_fuel_datums.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
Labels: Fix, Code Improvement

#60763 Adds a github action to remove emoji from PR titles and changelogs
  .github/workflows/pr_emoji.yml
Labels: GitHub

#60816 Fixes joining the game with the wrong dir
  code/controllers/subsystem/job.dm
  code/game/objects/buckling.dm
  code/game/objects/effects/landmarks.dm
Labels: Fix

#60826 Fixes new ticket ahelp message double sanitizing
  code/modules/admin/verbs/adminhelp.dm
Labels: Fix

#60535 Crystal foam - crystallizer new recipe
  code/game/objects/items/grenades/atmos_grenades.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm
  icons/obj/grenade.dmi
Labels: Sprites, Stale, Content Expansion

#60857 Pipe color name fix
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: Fix

#60477 Healium crystal changes
  code/game/objects/items/grenades/atmos_grenades.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm
Labels: Balance/Rebalance

#60853 Removes a source of nonexistent parent pipenets during update
  code/controllers/subsystem/air.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
Labels: Fix, Atmospherics

#60848 Cyborg emergency reboot module now is no longer dropped if revive is succesful
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Fix
