Repository tgstation/tgstation, pull requests merged in 2021-01, with the labels that each got.

#55609 Scroll of teleportation tweaks
  code/game/objects/items/scrolls.dm
Labels: Stale, Tweak

#55825 Fixes katana worn icon inconsistency
  icons/mob/clothing/belt.dmi
Labels: Sprites

#55823 Add inacusiate to syndicate medical borgs
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/surgery/organs/ears.dm
Labels: Balance/Rebalance

#55829 Fixes log collisions
  code/__HELPERS/_logging.dm
  code/modules/mob/mob_helpers.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#55841 Fix observers not being able to read from afar
  code/modules/paperwork/paper.dm
Labels: Fix

#55836 Fixes griddle crowbar interaction + runtime fixes
  code/datums/components/grillable.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
Labels: Fix

#55817 Fixes runtime on using BRPD on computers.
  code/game/machinery/_machinery.dm
Labels: Fix

#55794 fixes surgery on non-carbons
  code/modules/surgery/surgery_step.dm
Labels: Fix

#55811 Tweaks how some tongues have no taste
  code/__DEFINES/traits.dm
  code/game/objects/items/taster.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/taste.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/surgery/organs/tongue.dm
Labels: Tweak

#55788 Fixes up icebox cave gen
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/game/area/areas/mining.dm
Labels: Config Update, Fix, Map Edit

#55734 Webedit fixing SDQL global proc calls
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Verified :heavy_check_mark:

#55603 Clownlike creatures are now more consistent. #fix #honk #banana
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/modules/antagonists/nukeop/clownop.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Stale, Tweak

#55593 Emagging Siliconnect allows for sending messages to borgs without an ID
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
Labels: Feature, Stale

#55565 Fixes recycler eating effects, including abstract ones. This fixes directional lighting runtimes
  code/game/machinery/recycler.dm
Labels: Fix

#55800 Add playtime tracking to notes
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/modules/admin/sql_message_system.dm
Labels: Administration, SQL, SQL Updated

#55834 Move disk verification into skillchip
  code/__DEFINES/traits.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/library/skill_learning/skillchip.dm
Labels: Tweak

#55858 Fixes borg tiles
  code/game/objects/items/stacks/stack.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/cable.dm
  code/modules/power/pipecleaners.dm
Labels: Fix

#55741 You can now mount things from the side
  code/game/objects/buckling.dm
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/guillotine.dm
  code/game/objects/structures/kitchen_spike.dm
  code/game/objects/structures/manned_turret.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/ninja/suit/ninja_equipment_actions/energy_net_nets.dm
  code/modules/power/singularity/emitter.dm
Labels: Fix

#55862 Refactor on_mob_death, death implants, implant permission
  code/game/objects/items.dm
  code/game/objects/items/implants/implant.dm
  code/game/objects/items/implants/implant_explosive.dm
  code/game/objects/items/robot/robot_items.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Refactor

#55864 HFR can now output waste gases again
  code/modules/atmospherics/machinery/components/fusion/hypertorus.dm
Labels: Fix, Good First PR

#55833 Fixes two bugs with Blob strain rerolling
  code/_onclick/hud/blob_overmind.dm
  code/modules/antagonists/blob/powers.dm
Labels: Fix

#55830 Remove meat from prison kitchens
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Removal

#55736 Merry Christmas! Mechs receive damage from Xenos using their actual damage, instead of a hardcoded value (15).
  code/modules/vehicles/mecha/mecha_defense.dm
Labels: Code Improvement

#55884 tgui: Auxiliary Base Management Console
  code/modules/mining/aux_base.dm
  tgui/packages/tgui/interfaces/AuxBaseConsole.js
  tgui/packages/tgui/interfaces/ShuttleConsole.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Refactor, UI

#55881 A few minor tape recorder fixes
  code/game/objects/items/devices/taperecorder.dm
Labels: Fix

#55883 Tweak nanite subdermal ID to include pulled cards
  code/modules/research/nanites/nanite_programs/utility.dm
Labels: Tweak

#55875 Fixes non-clowns being able to steer/drive clown cars
  code/modules/vehicles/cars/car.dm
Labels: Fix

#55873 Fixes doorjacks not being able to open base airlocks/windoors, and emags being able to.
  code/game/objects/items/emags.dm
Labels: Fix

#55872 Fixes food/slime processor being able to be turned on when empty
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
Labels: Fix

#55865 Fixes Digitigrade Lizards
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#55826 Fixes zombies being immune to wounds/dismemberment
  code/modules/mob/living/carbon/human/species_types/zombies.dm
Labels: Fix

#55716 Refactor plasmaman stomach typepath
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/surgery/organs/stomach.dm
Labels: Refactor, Stale

#55371 small refactor of rcd_create() and stop RCD machine stacking
  code/game/objects/items/RCD.dm
Labels: Fix, Stale

#55751 Mechanical Curtains
  code/_globalvars/lists/objects.dm
  code/game/machinery/buttons.dm
  code/game/objects/structures/watercloset.dm
  code/modules/assembly/doorcontrol.dm
Labels: Feature, Stale

#55514 datum_pipeline.dm code cleanup
  code/modules/atmospherics/machinery/datum_pipeline.dm
Labels: Code Improvement, Stale

#55897 Fixes the cyborg runtime in update_cell
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#55869 Fixes plasma alerts not showing up
  code/_onclick/hud/alert.dm
  code/modules/surgery/organs/lungs.dm
  icons/hud/screen_alert.dmi
Labels: Fix, Sprites

#55847 Streamline marker beacons on maps
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  code/modules/mining/equipment/marker_beacons.dm
Labels: Map Edit

#55904 Fix single space area in maint on metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#55505 Fixing yet another item that can be remotely put in hands with TK.
  code/modules/paperwork/paperplane.dm
Labels: Fix, Stale

#55898 Better saving of chat logs
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/public/tgui-panel.bundle.js
Labels: Tweak, UI

#55908 Adds sound effects to the tape recorder
  code/game/objects/items/devices/taperecorder.dm
  sound/items/taperecorder/taperecorder_close.ogg
  sound/items/taperecorder/taperecorder_open.ogg
  sound/items/taperecorder/taperecorder_play.ogg
  sound/items/taperecorder/taperecorder_print.ogg
  sound/items/taperecorder/taperecorder_stop.ogg
Labels: Sound

#55560 sanitize_hexcolor can now convert inputs between 12-bit and 24-bit RGB formats plus alpha channel.
  code/__HELPERS/sanitize_values.dm
Labels: Stale

#55902 Fixes antitox nanites runtiming on simple mobs
  code/modules/research/nanites/nanite_programs/healing.dm
Labels: Fix

#55905 Fix tgchat lightmode tooltips
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui.bundle.css
Labels: UI

#55892 Fixes SSnetworks logging runtime.
  code/controllers/subsystem/processing/networks.dm
Labels: Fix

#55899 Fixes simple animal mecha pilots
  code/modules/vehicles/_vehicle.dm
  code/modules/vehicles/cars/car.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/durand.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/sealed.dm
  code/modules/vehicles/vehicle_actions.dm
Labels: Fix

#55948 Readds hashes var to sanitize_hexcolor() return values.
  code/__HELPERS/sanitize_values.dm
Labels: GBP: No Update

#55916 fix Telekinesis teleporting some items
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/bodybag.dm
  code/modules/mob/living/brain/MMI.dm
Labels: Fix

#55712 Makes a few changes to tesla movment
  code/modules/power/tesla/energy_ball.dm
Labels: Fix, Stale

#55925 Maintenance Space Huts
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/__DEFINES/machines.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/machinery/computer/pod.dm
  code/game/machinery/mass_driver.dm
  code/game/objects/items/plushes.dm
  code/game/turfs/open/floor/misc_floor.dm
  icons/obj/plushes.dmi
  icons/turf/areas.dmi
Labels: Feature, Map Edit, Sprites

#55932 Fixes door names on Kilo Whiteship
  _maps/shuttles/whiteship_kilo.dmm
Labels: Fix, Map Edit

#55920 Fixes the xeno attack hallucination failing to throw the xeno
  code/modules/flufftext/Hallucination.dm
Labels: Fix

#55927 Remove sleep() from hallucinations
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/carbon_defines.dm
Labels: Code Improvement

#55424 [READY] Hark! The Medieval Reality Simulation Dome Emergency Shuttle! (+speech mutation, NOTELEPORT fixes and teambuilder improvements)
  _maps/shuttles/emergency_medisim.dmm
  code/__DEFINES/DNA.dm
  code/__DEFINES/language.dm
  code/__DEFINES/shuttles.dm
  code/datums/helper_datums/teleport.dm
  code/datums/mutations/speech.dm
  code/datums/shuttles.dm
  code/game/area/areas/shuttles.dm
  code/game/machinery/teambuilder.dm
  code/game/objects/items.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/clothing/suits/armor.dm
  code/modules/holodeck/computer.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/projectiles/guns/misc/bow.dm
  code/modules/shuttle/medisim.dm
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/turf/areas.dmi
  icons/turf/floors.dmi
  strings/medieval_replacement.json
  tgstation.dme
Labels: Feature, Map Edit, Needs Review, Sprites

#55762 Civilian Bounties now offer a choice of three different bounties to pick from.
  code/game/machinery/civilian_bounties.dm
  code/modules/economy/account.dm
  tgui/packages/tgui/interfaces/CivCargoHoldTerminal.js
  tgui/public/tgui.bundle.js
Labels: Balance/Rebalance, UI

#55929 fix lizard legs skirt issue (#54925)
  code/modules/clothing/under/suits.dm
Labels: Fix, Good First PR

#55942 Add missing ORM firelock on Meta
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#55857 Small mapping fixes to each station
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Tweak

#55943 fixes grammar on duffelbag spell
  code/modules/spells/spell_types/pointed/duffelbag_curse.dm
Labels: Grammar and Formatting

#55940 Allows you to tuck the nuclear authentication disk (and plushes) into bed.
  code/datums/elements/bed_tucking.dm
  code/game/objects/items/plushes.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  tgstation.dme
Labels: Feature

#55624 You can look into the gateway now
  code/__DEFINES/layers.dm
  code/modules/awaymissions/gateway.dm
  code/modules/lighting/lighting_object.dm
  icons/obj/machines/gateway.dmi
Labels: Feature, Sprites

#55968 Update axios to 0.21.1
  tgui/packages/tgui-dev-server/package.json
  tgui/yarn.lock
Labels: UI

#55951 Allow Markdown files to have trailing whitespace
  .editorconfig
Labels: Documentation

#55802 Flypeople say "s" as "z" and dont get disgusted by toxic food
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/surgery/organs/tongue.dm
Labels: Balance/Rebalance, Tweak

#55772 Cats have normal genders
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: Fix

#55953 Adds 25 person pop requirement for Sleeping Carp
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance

#55844 Makes the monkey mutation remember your species through transformations
  code/datums/mutations/body.dm
  code/modules/mob/transform_procs.dm
Labels: Fix

#54659 Third Rate Duelist With A Fourth Rate Deck: The TG TCG, Part 2
  code/game/atoms.dm
  code/game/objects/items/tcg/tcg.dm
  icons/obj/tcgmisc.dmi
  icons/runtime/tcg/default.dmi
  icons/runtime/tcg/xenos.dmi
  strings/tcg/set_one.json
  strings/tcg/set_two.json
Labels: Feature, Sprites

#55954 Clown mask transmutation
  code/modules/clothing/masks/gasmask.dm
Labels: Code Improvement

#55947 Some of the unsorted chat types being sorted
  code/__HELPERS/priority_announce.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/client/verbs/who.dm
  code/modules/mob/mob.dm
  interface/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
Labels: Code Improvement, Tweak, UI

#55909 Add export PKG_CONFIG_ALLOW_CROSS to PreCompile.sh
  tools/tgs4_scripts/PreCompile.sh
Labels: Tools

#55910 minor cytology related tweaks
  code/game/objects/items/storage/bags.dm
  code/modules/clothing/suits/labcoat.dm
Labels: Tweak

#55960 suppermatter doesn't get angry with mindless wights
  code/modules/power/supermatter/supermatter.dm
Labels: Fix

#55981 Ensure gases exist in proto nitrate responses
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#55982 Fix rare HFR moderator filter removal failure
  code/modules/atmospherics/machinery/components/fusion/hypertorus.dm
Labels: Fix

#55984 Fixes AI laws being eaten by the garbage collector in certain conditions
  code/game/objects/structures/ai_core.dm
Labels: Fix

#55766 Toy hot potatoes no longer trigger allergies.
  code/game/objects/items/hot_potato.dm
Labels: Fix

#55974 Resprites for Leather Satchel & Briefcases
  code/game/objects/items/storage/lockbox.dm
  icons/mob/inhands/equipment/briefcase_lefthand.dmi
  icons/mob/inhands/equipment/briefcase_righthand.dmi
  icons/obj/storage.dmi
Labels: Sprites

#55979 Removes a useless proc override from multiz code
  code/modules/mob/living/living_movement.dm
Labels: Code Improvement

#55907 Fixes and refactors death examine code
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Fix, Refactor

#55922 Adds sprites for adjustable skirts for most jumpsuits that have one.
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/suits.dm
  code/modules/clothing/under/syndicate.dm
  icons/mob/clothing/under/captain.dmi
  icons/mob/clothing/under/cargo.dmi
  icons/mob/clothing/under/civilian.dmi
  icons/mob/clothing/under/color.dmi
  icons/mob/clothing/under/engineering.dmi
  icons/mob/clothing/under/medical.dmi
  icons/mob/clothing/under/rnd.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/clothing/under/suits.dmi
  icons/mob/clothing/under/syndicate.dmi
Labels: Feature, Fix, Sprites, Verified :heavy_check_mark:

#55987 Yellow slime core and Cakehats not directional light now
  code/game/objects/items/devices/flashlight.dm
  code/modules/clothing/head/misc_special.dm
Labels: Fix

#55778 Reworks the brand intelligence event with AI controller datums
  code/__DEFINES/ai.dm
  code/__DEFINES/footsteps.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/generic_actions.dm
  code/datums/ai/objects/vending_machines.dm/vending_machine_behaviors.dm
  code/datums/ai/objects/vending_machines.dm/vending_machine_controller.dm
  code/datums/ai/telegraph_effects.dm
  code/datums/components/footstep.dm
  code/modules/events/brand_intelligence.dm
  code/modules/vending/_vending.dm
  icons/mob/telegraphing/telegraph_holographic.dmi
  tgstation.dme
Labels: Feature, Sprites, Tweak, Verified :heavy_check_mark:

#55999 Printer cooldown fix
  code/modules/library/lib_machines.dm
Labels: Fix

#55988 [Performance] Refactors ambient sounds to use global lists instead of list macros
  code/__DEFINES/sound.dm
  code/_globalvars/lists/ambience.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  code/game/area/areas/away_content.dm
  code/game/area/areas/centcom.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/ruins/_ruins.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/ruins/space.dm
  code/game/area/areas/shuttles.dm
  code/modules/flufftext/Hallucination.dm
  tgstation.dme
Labels: Refactor

#55973 NOTELEPORT checks that were atomized out of the medieval shuttle
  code/datums/components/dejavu.dm
  code/datums/helper_datums/teleport.dm
  code/game/objects/effects/phased_mob.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix

#55967 Fixes Densified Chemicals
  code/modules/hydroponics/plant_genes.dm
Labels: Fix

#55966 Default organ reagent stops forever flavor
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/surgery/organs/stomach.dm
Labels: Fix

#55964 Optimized Getallcontents
  code/__HELPERS/unsorted.dm
  code/game/objects/structures/morgue.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
Labels: Code Improvement

#55962 Optimized getviewsize
  code/__HELPERS/view.dm
Labels: Code Improvement

#55961 Get_hear Minor optimization
  code/__HELPERS/game.dm
Labels: Code Improvement

#55923 Makes pluox formation slightly more consistent
  code/game/objects/items/tanks/tanks.dm
  code/game/turfs/open/_open.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Feature

#55868 fixes some baton bugs
  code/game/objects/items/stunbaton.dm
Labels: Fix

#55807 Nearsightness, Blindness, Tongue-tied on_spawn() code improvements, bug fixes
  code/datums/traits/negative.dm
  code/datums/traits/neutral.dm
Labels: Code Improvement

#55990 Fixes incorrect message displaying in the supply console after exporting metallic hydrogen
  code/modules/cargo/exports/materials.dm
Labels: Fix

#55677 Area-based escape condition checking
  _maps/shuttles/emergency_asteroid.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_box.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_donut.dmm
  _maps/shuttles/emergency_goon.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/emergency_luxury.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_mini.dmm
  _maps/shuttles/emergency_nature.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/emergency_scrapheap.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  code/game/area/areas/shuttles.dm
  code/game/gamemodes/objective.dm
Labels: Code Improvement, Map Edit

#55993 Add .tgs4.yml
  .tgs4.yml
Labels: Tools

#55998 Monkeyization now causes you to drop cuffs again
  code/modules/mob/transform_procs.dm
Labels: Fix

#56003 Vending machines use slow throws
  code/modules/vending/_vending.dm
Labels: Fix

#55977 Fixes AIs being unable to access their local APC when out of power
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/ai/login.dm
  code/modules/tgui/states.dm
Labels: Fix

#56000 Fix Botany chemical gene grafts
  code/modules/hydroponics/grafts.dm
  code/modules/hydroponics/seeds.dm
Labels: Fix

#56001 Properly sanitizes loaded messages in tgui chat
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui/sanitize.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Administration, Security, UI

#56027 Fixes empty gaslist entries, jesus fuck
  code/game/objects/items/tanks/tanks.dm
  code/game/turfs/open/_open.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Fix, Priority: High

#56007 Line change to fix monkeys never devolving into humans if they started as a monkey
  code/datums/mutations/body.dm
Labels: Fix

#55887 Fixes slimes riding monkeys and thus falling off of each other
  code/__DEFINES/traits.dm
  code/datums/elements/ridable.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Fix

#56011 Caps xenobio mimic contents at 50 things (10 of which can be mobs) to prevent lag
  code/modules/mob/living/simple_animal/hostile/mimic.dm
Labels: Fix, Performance

#55694 [READY]Da small cytology update. Banana glutton and proper clown mob reagents.
  code/__DEFINES/research.dm
  code/_globalvars/lists/xenobiology.dm
  code/game/objects/items/grenades/spawnergrenade.dm
  code/game/objects/structures/spawner.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  icons/mob/actions/actions_animal.dmi
  icons/mob/clown_mobs.dmi
Labels: Feature, Fix, Needs Review, Removal, Sprites

#56017 fixes searched items not beign able to be built x5 x10 in autolatyhe
  code/game/machinery/autolathe.dm
Labels: Fix

#56014 Ads loging and admun notifucations too certain ID card access changes
  code/__DEFINES/access.dm
  code/game/machinery/computer/card.dm
  code/modules/modular_computers/file_system/programs/card.dm
Labels: Administration, Logging

#56021 Add unit test for spawning simple_animals
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/spawn_mobs.dm
Labels: Unit Tests

#56018 Vend-a-trays can sell anything!
  code/game/objects/structures/displaycase.dm
Labels: Tweak

#56029 Fix inverted if operand in discord accountlink
  code/modules/discord/accountlink.dm
Labels: Fix

#55724 Flypeople can get flashed from any direction
  code/__DEFINES/traits.dm
  code/modules/assembly/flash.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/surgery/organs/eyes.dm
Labels: Balance/Rebalance

#55996 makes civ bounties not completely broken
  code/game/machinery/civilian_bounties.dm
Labels: Fix, UI

#56035 Barrels work with science goggles
  code/modules/hydroponics/fermenting_barrel.dm
Labels: Fix

#56040 Fixes using food trays on food processors
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
Labels: Fix

#56033 Fixes fulltile pod window spawner
  code/game/objects/effects/spawners/structure.dm
Labels: Fix

#56010 Fixes disconnected pipes in atmos and replaces vacuum floors in atmos for walls
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#55952 Adds a new security bounty and tweaks existing security bounties.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/__DEFINES/dye_keys.dm
  code/datums/components/crafting/tailoring.dm
  code/game/area/space_station_13_areas.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items/documents.dm
  code/game/objects/items/handcuffs.dm
  code/modules/cargo/bounties/security.dm
  icons/obj/bureaucracy.dmi
  icons/obj/device.dmi
  sound/items/biddledeep.ogg
  tgstation.dme
Labels: Feature, Map Edit, Removal, Sound, Sprites, Tweak

#56038 Favorite cigarette brand is now put in notes
  code/datums/traits/negative.dm
Labels: Tweak

#55813 Move psychologist immunity from mind to skillchip
  code/__DEFINES/traits.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/library/skill_learning/job_skillchips/psychologist.dm
  code/modules/library/skill_learning/job_skillchips/roboticist.dm
  code/modules/library/skill_learning/job_skillchips/station_engineer.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/power/supermatter/supermatter.dm
  tgstation.dme
Labels: Tweak

#55725 Turns squashing mobs into an element
  code/__DEFINES/mobs.dm
  code/datums/elements/squashable.dm
  code/modules/mob/living/simple_animal/hostile/cockroach.dm
  tgstation.dme
Labels: Code Improvement

#56045 Bvak injectors look right
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Fix

#56047 Fix startup double runtimes again
  code/controllers/configuration/configuration.dm
  code/modules/error_handler/error_viewer.dm
Labels: Fix

#56043 removes cardboard box and supplypod shitcode
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/modules/cargo/supplypod.dm
Labels: Code Improvement

#56031 Converts the pictures in the atmos documentation away from my repo
  code/modules/atmospherics/Atmospherics.md
Labels: Documentation

#56042 Fridges don't open through sheer willpower anymore
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
Labels: Fix

#56015 Banana & peel resprite.
  code/modules/hydroponics/grown/banana.dm
  icons/obj/hydroponics/harvest.dmi
Labels: Sprites

#56054 Fixes glutton riding.
  code/datums/components/riding/riding_mob.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
Labels: Fix

#55681 Adds Rocket Backblast
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/maths.dm
  code/datums/components/pellet_cloud.dm
  code/datums/elements/backblast.dm
  code/modules/projectiles/ammunition/caseless/rocket.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile/bullets/_incendiary.dm
  code/modules/projectiles/projectile/special/rocket.dm
  tgstation.dme
Labels: Feature, Tweak

#56032 Sticky syndicate access
  code/game/machinery/computer/card.dm
  code/game/objects/items/cards_ids.dm
Labels: Code Improvement, Fix

#56053 Fix wheel error for ci_suit workflow
  .github/workflows/ci_suite.yml
  tools/bootstrap/python
  tools/ci/install_build_tools.sh
Labels: GitHub, Tools

#55870 Tweak the RD's suplexing ability into a skillchip
  code/__DEFINES/traits.dm
  code/modules/events/immovable_rod.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/library/skill_learning/job_skillchips/research_director.dm
  tgstation.dme
Labels: Tweak

#56065 Tgui input list
  code/game/machinery/hologram.dm
  code/modules/admin/admin_verbs.dm
  code/modules/tgui/tgui_input_list.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/styles/interfaces/ListInput.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Feature, Good First PR, UI

#56060 Sets the charset and collation for the SQL schema to utf8mb4
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
Labels: SQL

#55819 [READY] Nukes archeology component and icon_plating and environment_type in favor of base_icon_state. Dig behaviour code improvement
  code/datums/components/archaeology.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/floor/plating/asteroid.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/floor/plating/planet.dm
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
Labels: Fix, Needs Review

#56064 Correctly transfer skillchips when ahealing someone
  code/modules/mob/living/brain/brain_item.dm
Labels: Fix

#56063 Telekinesis can throw non items (vending machines, lockers) only 1 tile far
  code/_onclick/telekinesis.dm
  code/game/atoms_movable.dm
  code/game/objects/items.dm
Labels: Fix

#56062 Fixes 2 really annoying cytology virus bugs.
  code/datums/elements/swabbable.dm
  code/modules/research/xenobiology/vatgrowing/samples/_micro_organism.dm
  code/modules/research/xenobiology/vatgrowing/samples/_sample.dm
Labels: Fix

#56058 Added a standardized json unit test results log and added my vscode test runner to recommendations
  .vscode/extensions.json
  .vscode/settings.json
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/unit_test.dm
Labels: Code Improvement

#55755 Xenomorph embryos now grow based on consistent timers instead of 100% RNG (3% chance every 2s)
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Code Improvement

#55930 Removes the ANIMATION_PARALLEL flag from floating and fixes another issue with the refactor.
  code/datums/elements/movetype_handler.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
Labels: Fix, Refactor, Removal, Test Merge Candidate

#56074 Replaces 'Goebbles' random last name
  strings/names/last.txt
Labels: Removal

#55986 Fixes removing AIs from mechs
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix

#56068 Optimize mapmerge's DMM.generate_new_key method
  tools/mapmerge2/dmm.py
Labels: Performance, Tools

#56088 stops code from seeping into ic chat
  code/modules/modular_computers/file_system/programs/arcade.dm
Labels: Fix

#56078 Flesh to stone no longer makes you immune to bleeding, refactors bleedsuppress into a trait
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/petrified_statue.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/living.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#56070 Fixes vehicles like skateboards and wheelys moving multiple times.
  code/modules/vehicles/scooter.dm
Labels: Fix

#56067 moves quirk stating from medhud to a button instead of being spammed on your chat
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Tweak
