Repository tgstation/tgstation, pull requests merged in 2021-05, with the labels that each got.

#58797 New carpets & wood, version 2
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/misc_floor.dm
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
Labels: Sprites

#58806 Plants don't get their positions ruined when dropped
  code/game/objects/structures/flora.dm
Labels: Quality of Life

#58805 Resolve roulette styling issues
  tgui/packages/tgui/interfaces/Roulette.js
  tgui/packages/tgui/styles/interfaces/Roulette.scss
Labels: Quality of Life, UI

#58803 Fixes a wire in tram medbay storage
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#58382 Removes CHECK_TICK from overlays, following the same theory as instant explosions.
  code/controllers/subsystem/overlays.dm
Labels: Fix

#58785 Remove gender-specific preferences
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Quality of Life

#58266 Converts the atmos senstive component over to connect_loc
  code/datums/elements/atmos_sensitive.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/firealarm.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/glowshroom.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/latexballoon.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/statues.dm
  code/game/objects/structures/window.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/clothing/under/accessories.dm
  code/modules/events/spacevine.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix, Stale

#58794 Adds support for dirs and config changing in GAGS debug menu
  code/datums/greyscale/_greyscale_config.dm
  code/modules/admin/greyscale_modify_menu.dm
  tgui/packages/tgui/interfaces/GreyscaleModifyMenu.tsx
Labels: Administration, UI

#58808 Resolve chameleon GAGS item issues
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/datums/components/crafting/tailoring.dm
  code/game/machinery/computer/arcade/arcade.dm
  code/game/machinery/gulag_teleporter.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/cargo/bounties/security.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian/curator.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/mafia/outfits.dm
  code/modules/vehicles/scooter.dm
  code/modules/vending/games.dm
Labels: Fix, Map Edit

#58449 Adds cryopod areas to every map.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Feature, Map Edit

#58814 RPD can destroy broken disposal pipes
  code/game/objects/items/RPD.dm
  code/modules/recycling/disposal/construction.dm
Labels: Quality of Life

#58835 Re-Resprites the CE Insulated gloves
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Sprites

#58526 heretic blade teleports are now invoked by using them in-hand
  code/modules/antagonists/eldritch_cult/eldritch_items.dm
Labels: Fix, Quality of Life

#58830 Allows canister repairs and adds right click tool acts
  code/__DEFINES/dcs/signals.dm
  code/_onclick/item_attack.dm
  code/game/atoms.dm
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Balance/Rebalance, Quality of Life, Refactor

#58820 PDAs reset the alert overlay when you read your messages
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Fix

#58826 Adds canister windows
  code/__DEFINES/atmospherics.dm
  code/datums/greyscale/json_configs/canister_default.json
  code/datums/greyscale/json_configs/canister_double_stripe.json
  code/datums/greyscale/json_configs/canister_hazard.json
  code/datums/greyscale/json_configs/canister_stripe.json
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  icons/obj/atmospherics/canisters.dmi
Labels: Balance/Rebalance, Feature, Sprites

#58856 removes an unused sticky tape variable
  code/game/objects/items/stacks/tape.dm
Labels: Code Improvement, Removal

#58827 Security citations are now logged to the DB
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/controllers/subsystem/blackbox.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/warrant.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: SQL, SQL Updated

#58829 Cleans up some fallout from canister processing changes
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Fix, GBP: No Update

#58839 chief engis and captains gloves are now not flammable
  code/modules/clothing/gloves/color.dm
Labels: Fix

#58837 Pierced Reality / Singulo toy NO_PIXEL_RANDOM_DROP
  code/game/objects/items/toys.dm
Labels: Quality of Life

#58824 fixes missing blast door on delta permabrig
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#58783 Supermatter sliver goes above the crystal
  code/game/objects/items/theft_tools.dm
Labels: Quality of Life

#58776 Adds PunPun to Tram Bar
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit, Priority: High

#58813 Lighter Grammar Fix
  code/game/objects/items/cigs_lighters.dm
  code/modules/reagents/chemistry/items.dm
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
Labels: Fix

#58812 RCD repairs grilles before adding windows to them
  code/game/objects/structures/grille.dm
Labels: Balance/Rebalance, Quality of Life

#58815 Mutations with class MUT_OTHER can no longer be saved
  code/game/machinery/computer/dna_console.dm
Labels: Fix

#58825 Move give SDQL spell to Debug tab
  code/modules/admin/verbs/SDQL2/SDQL_spells_and_items.dm
Labels: Administration

#58807 Lowers chem gun capacity to 90 units
  code/modules/projectiles/guns/misc/chem_gun.dm
Labels: Balance/Rebalance

#58841 Converts circuitboards to GAGS
  code/__DEFINES/colors.dm
  code/datums/greyscale/greyscale_configs.dm
  code/datums/greyscale/json_configs/circuit.json
  code/game/objects/items/circuitboards/circuitboard.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  icons/obj/module.dmi
Labels: Code Improvement, Sprites

#58383 Bans the use of icons and icon_state strings as overlay items; Adds a note about abusing associated lists.
  .github/CONTRIBUTING.md
Labels: GitHub, Stale

#58853 fixes fake chasms not dropping floortiles and borgs having their floor tiles deleted when reskinning
  code/game/objects/items/stacks/tiles/tile_iron.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix

#58851 Love potion grammar fix
  code/modules/research/xenobiology/crossbreeding/_potions.dm
Labels: Grammar and Formatting

#58631 Adds new wrinkles to monkey brains
  code/__DEFINES/ai.dm
  code/__DEFINES/traits.dm
  code/datums/ai/_ai_behavior.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/generic_actions.dm
  code/datums/ai/monkey/monkey_behaviors.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/living.dm
Labels: Feature, Fix

#58857 Consistency Fix: Renaming Mining Infirmary
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Map Edit

#58844 Convert PDAs to GAGS
  code/datums/greyscale/greyscale_configs.dm
  code/datums/greyscale/json_configs/pda.json
  code/datums/greyscale/json_configs/pda_chaplain.json
  code/datums/greyscale/json_configs/pda_clown.json
  code/datums/greyscale/json_configs/pda_head.json
  code/datums/greyscale/json_configs/pda_mime.json
  code/datums/greyscale/json_configs/pda_stripe_split.json
  code/datums/greyscale/json_configs/pda_stripe_thick.json
  code/datums/greyscale/json_configs/pda_stripe_thick_head.json
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  icons/obj/pda.dmi
Labels: Sprites

#58764 Update license text in changelog
  tgui/packages/tgui/interfaces/Changelog.js
Labels: Code Improvement, Stale, UI

#58609 adds #cargobus and gauntlets (also modernizes ntchat)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals.dm
  code/datums/components/strong_pull.dm
  code/game/atoms_movable.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/clothing/gloves/special.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/modular_computers/NTNet/NTNRC/conversation.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/modular_computers/computers/machinery/modular_console.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosNetChat.js
Labels: Feature, Map Edit, Sprites, UI

#58821 Sorts the majority of the rest of the unsorted chat
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/ticker.dm
  code/datums/emotes.dm
  code/datums/helper_datums/getrev.dm
  code/datums/mind.dm
  code/datums/mutations/speech.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/wayfinding.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/admin/admin.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/fugitive/fugitive.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/asset_cache/transports/asset_transport.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mafia/roles.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/mob.dm
  code/modules/photography/camera/silicon_camera.dm
  interface/stylesheet.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Fix, UI

#58885 Removes some boiler plate from working with atmos code
  code/game/machinery/electrolyzer.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/powerfist.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/assembly/bomb.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_procs.dm
  code/modules/atmospherics/machinery/components/unary_devices/bluespace_sender.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/other/miner.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/recycling/disposal/holder.dm
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix, Removal

#58880 the backfire effect of killer tomatoes no longer requires the liquid contents trait
  code/modules/hydroponics/grown/tomato.dm
Labels: Atomic, Fix

#58874 Swarmers no longer able to make hullbreaches on the shuttle
  code/modules/swarmers/swarmer_act.dm
Labels: Fix, Good First PR

#58870 Fixes bitwise flag negation errors
  code/datums/quirks/neutral.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/verbs/ert.dm
  code/modules/antagonists/eldritch_cult/knowledge/rust_lore.dm
  code/modules/mob/living/ventcrawling.dm
  code/modules/research/nanites/nanite_programs.dm
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
Labels: Fix

#58863 Adds new sprites to exploration scanning arrays.
  icons/obj/exploration.dmi
Labels: Sprites

#58872 Warn player about cost of implant uplink
  code/_globalvars/lists/flavor_misc.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Quality of Life, Review Again

#58779 Fixes a fuck ton more harddels
  code/_onclick/other_mobs.dm
  code/controllers/subsystem/atoms.dm
  code/datums/action.dm
  code/datums/components/acid.dm
  code/datums/components/plumbing/_plumbing.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/computer/arcade/orion_event.dm
  code/game/machinery/fat_sucker.dm
  code/game/machinery/roulette_machine.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/admin/view_variables/mark_datum.dm
  code/modules/cargo/supplypod.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/food_and_drinks/kitchen_machinery/griddle.dm
  code/modules/hydroponics/beekeeping/beebox.dm
  code/modules/language/language_holder.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/eldritch_demons.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/goose.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/power/gravitygenerator.dm
  code/modules/swarmers/swarmer_act.dm
Labels: Code Improvement

#58627 Tramstation: Big Brother Update
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/structures/industrial_lift.dm
Labels: Feature, Fix, Map Edit

#58881 Gives candles a new animation
  code/modules/religion/religion_structures.dm
  icons/obj/candle.dmi
  icons/obj/hand_of_god_structures.dmi
Labels: Sprites

#58686 dogs now resist before fetching or harassing, to unbuckle from stuff if they need to
  code/datums/ai/dog/dog_controller.dm
Labels: Fix, Stale

#58712 Delta drone bay + starboard bow maint changes
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Feature, Map Edit, Review Again

#58886 Fixes icebox incinerator
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#58738 Allow for proper damage / blood spatters on GAGS icons
  code/datums/elements/decals/blood.dm
  code/modules/clothing/clothing.dm
Labels: Fix

#58903 centers hydroponic sprays
  icons/obj/hydroponics/equipment.dmi
Labels: Sprites

#58854 Greyscale sombrero and shamebrero
  code/controllers/subsystem/greyscale.dm
  code/datums/greyscale/README.md
  code/datums/greyscale/_greyscale_config.dm
  code/datums/greyscale/greyscale_configs.dm
  code/datums/greyscale/json_configs/sombrero.json
  code/datums/greyscale/json_configs/sombrero_base.json
  code/datums/greyscale/json_configs/sombrero_base_lefthand.json
  code/datums/greyscale/json_configs/sombrero_base_righthand.json
  code/datums/greyscale/json_configs/sombrero_base_worn.json
  code/datums/greyscale/json_configs/sombrero_lefthand.json
  code/datums/greyscale/json_configs/sombrero_righthand.json
  code/datums/greyscale/json_configs/sombrero_worn.json
  code/modules/clothing/head/misc.dm
  icons/mob/clothing/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/head/sombrero.dmi
Labels: Documentation, Sprites

#58904 Fixes cursed slot machine icon
  code/modules/ruins/objects_and_mobs/sin_ruins.dm
Labels: Fix

#58898 Fixes Tramstation incinerator
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#58818 fixes single tank bombs
  code/modules/assembly/bomb.dm
Labels: Fix

#58781 Fix logging in chemical grenades
  code/datums/wires/explosive.dm
Labels: Fix

#58864 Smart organ storage fix
  code/__DEFINES/DNA.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Fix

#58902 [s] Caps misfire probability to prevent infinite recursive procs
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix

#58894 Turns most extant comments into DMdoc comments and adds one new comment for a variable in code/game/objects/structures/fluff.dm
  code/game/objects/structures/fluff.dm
Labels: Documentation

#58892 Fix pda overlays
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
Labels: Fix

#58896 Changes how the messages for becoming and ceasing to be an eldritch monster look.
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
Labels: Fix

#58867 Updates the PDA painter so that it paints standard PDAs. Restores PDA painter functionality after the PDA GAGS PR.
  code/game/machinery/PDApainter.dm
Labels: Fix

#58891 Fixes felinid disliked foods
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Fix, GBP: No Update

#58911 moves sdql spell to vv dropdown
  code/__DEFINES/vv.dm
  code/modules/admin/verbs/SDQL2/SDQL_spells_and_items.dm
  code/modules/mob/mob.dm
Labels: Administration

#58914 refactors is_flying_animal into simple_flight element
  code/datums/elements/simple_flying.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/friendly/butterfly.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/eyeballs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/curse_blob.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/bat.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/ghost.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  tgstation.dme
Labels: Refactor

#58859 Geyser rebalancing, gives miners points for discovering geysers
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/modules/vending/medical.dm
Labels: Balance/Rebalance, Feature, Removal

#58884 admins can add specific fantasy affixes to items
  code/__DEFINES/vv.dm
  code/datums/components/fantasy/_fantasy.dm
  code/datums/components/fantasy/affix.dm
  code/datums/components/fantasy/prefixes.dm
  code/datums/components/fantasy/suffixes.dm
  code/game/atoms_movable.dm
  code/game/objects/items.dm
Labels: Administration

#58915 Removes the Gamer Cube in Delta Cargo
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, GBP: No Update, Map Edit

#58912 Refactors pet bonuses to be an element
  code/datums/elements/pet_bonus.dm
  code/modules/holiday/easter.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/gondola.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/penguin.dm
  code/modules/mob/living/simple_animal/friendly/sloth.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/bat.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  tgstation.dme
Labels: Refactor

#58565 Gives the monkey a gun
  code/_globalvars/lists/objects.dm
  code/datums/station_traits/negative_traits.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/signs/_signs.dm
Labels: Feature

#58186 Refactors playtime tracking code.
  code/controllers/subsystem/blackbox.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/job_report.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  tgui/packages/tgui/interfaces/TrackedPlaytime.js
Labels: Fix, Refactor, Stale, UI

#58923 Fixes flypeople moffin eating
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
Labels: Fix

#58922 Add code improvements from BeeStation-Hornet by ike709
  code/__HELPERS/roundend.dm
  code/game/machinery/cryopod.dm
  code/game/objects/effects/proximity.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/robot/robot_items.dm
  code/modules/reagents/chemistry/machinery/chem_synthesizer.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: Code Improvement

#58917 Properly fixes the stray extuingisher and adds cameras to drone bays
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#58750 Fixes / new magic shoes sprite
  _maps/map_files/generic/CentCom.dmm
  code/datums/greyscale/greyscale_configs.dm
  code/datums/greyscale/json_configs/sneakers_marisa.json
  code/game/objects/effects/spawners/bundle.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/mob/clothing/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Fix, Map Edit, Sprites

#58855 Fixes bloodbeam for real
  code/modules/antagonists/cult/cult_items.dm
Labels: Fix

#58728 Mail holidays.
  code/controllers/subsystem/economy.dm
  code/modules/holiday/holidays.dm
  code/modules/shuttle/supply.dm
Labels: Code Improvement

#58934 Documents BEPIS.dm code.
  code/modules/research/bepis.dm
Labels: Code Improvement

#58792 Lavaland Xeno Nest Fix 1.5
  _maps/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
  code/game/objects/structures/aliens.dm
Labels: Fix, Map Edit

#58682 Tend Wounds and Debride Infection surgeries now estimate how long you have left to finish
  code/datums/wounds/burns.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/healing.dm
Labels: Quality of Life, Review Again

#58721 Social Anxiety rework
  code/datums/quirks/negative.dm
Labels: Balance/Rebalance, Quality of Life, Stale

#58802 Replace Maint. Drone machinery whitelist with last touched check & other tweaks
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/devices.dm
  code/__DEFINES/machines.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/tools.dm
  code/_globalvars/misc.dm
  code/_onclick/item_attack.dm
  code/datums/components/technointrovert.dm
  code/datums/components/technoshy.dm
  code/datums/wires/_wires.dm
  code/datums/wires/airalarm.dm
  code/datums/wires/airlock.dm
  code/datums/wires/apc.dm
  code/datums/wires/autolathe.dm
  code/datums/wires/conveyor.dm
  code/datums/wires/explosive.dm
  code/datums/wires/microwave.dm
  code/datums/wires/mulebot.dm
  code/datums/wires/r_n_d.dm
  code/datums/wires/radio.dm
  code/datums/wires/robot.dm
  code/datums/wires/roulette.dm
  code/datums/wires/suit_storage_unit.dm
  code/datums/wires/syndicatebomb.dm
  code/datums/wires/vending.dm
  code/game/atoms.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/friendly/drone/drones_as_items.dm
  icons/pda_icons/pda_droneblacklist.png
  tgstation.dme
Labels: Quality of Life, Sprites

#58939 Fix Wizard Loadouts from the Wizard Spellbook crashing the server.
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/wizard.dm
Labels: Fix, Unit Tests

#58940 SStramprocess only fires on maps with trams actually present on the map
  code/controllers/subsystem/processing/tramprocess.dm
  code/game/objects/structures/industrial_lift.dm
Labels: Code Improvement

#58932 The Tilening v1
  code/game/objects/items/stacks/tiles/tile_iron.dm
  code/game/turfs/open/floor/iron_floor.dm
  icons/obj/tiles.dmi
  icons/turf/decals.dmi
  icons/turf/floors.dmi
Labels: Sprites

#58795 Gives botany plants a new formula for calculating bite size, fixes swallowing watermelons whole
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/ambrosia.dm
  code/modules/hydroponics/grown/apple.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/hydroponics/grown/cereals.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/cocoa_vanilla.dm
  code/modules/hydroponics/grown/eggplant.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/garlic.dm
  code/modules/hydroponics/grown/grass_carpet.dm
  code/modules/hydroponics/grown/kudzu.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/nettle.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/hydroponics/grown/peas.dm
  code/modules/hydroponics/grown/pineapple.dm
  code/modules/hydroponics/grown/potato.dm
  code/modules/hydroponics/grown/pumpkin.dm
  code/modules/hydroponics/grown/random.dm
  code/modules/hydroponics/grown/root.dm
  code/modules/hydroponics/grown/tea_coffee.dm
  code/modules/hydroponics/grown/tobacco.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/mining/lavaland/ash_flora.dm
Labels: Code Improvement, Fix, Stale

#58946 Fixes infinite range changeling stings
  code/modules/antagonists/changeling/powers/tiny_prick.dm
Labels: FUCK, Fix

#58943 Adds using a door remote on a door's tile
  code/game/objects/items/control_wand.dm
Labels: Quality of Life

#58659 Fixes big roundstart ductnets breaking world init
  code/datums/ductnet.dm
  code/modules/plumbing/ducts.dm
Labels: Fix

#58938 MetaStation small fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#58962 prevents tram from stealing its own landmarks
  code/game/objects/structures/industrial_lift.dm
Labels: Fix

#58910 GOOFUDDERS: YOU CAN MILK ANYTHING (You can only milk cows, goats gutlunches but with componentized goodcode)
  code/datums/components/udder.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
  tgstation.dme
Labels: Refactor

#58882 Kills BOTH /poison paths by turning poisonous into an element. (+fantasty prefix, sanity on attackingtarget signal, and more)
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/shuttles/whiteship_delta.dmm
  code/__DEFINES/dcs/signals.dm
  code/controllers/subsystem/traumas.dm
  code/datums/components/fantasy/prefixes.dm
  code/datums/components/igniter.dm
  code/datums/components/knockback.dm
  code/datums/components/lifesteal.dm
  code/datums/components/summoning.dm
  code/datums/diseases/beesease.dm
  code/datums/elements/venomous.dm
  code/datums/status_effects/buffs.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/food/meat.dm
  code/game/objects/items/grenades/spawnergrenade.dm
  code/game/objects/items/weaponry.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/events/sentience.dm
  code/modules/events/shuttle_loan.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/hydroponics/beekeeping/beebox.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/snake.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/experimentor.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/spells/spell_types/shapeshift.dm
  code/modules/spells/spell_types/wizard.dm
  tgstation.dme
Labels: Feature, Fix, Map Edit, Refactor

#59007 fixes master (adds a name to the venomous prefix, fixes bad signal in udders.dm)
  code/__DEFINES/dcs/signals.dm
  code/datums/components/fantasy/prefixes.dm
  code/datums/components/udder.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: GBP: No Update

#58983 Removes bad return from processables that broke cooking 🐀
  code/datums/elements/food/processable.dm
Labels: Fix

#58768 Created Documentation for hosting a Server Via AWS & CDN
  .github/RUNNING_A_SERVER.md
Labels: GitHub

#58995 Commission Plaques
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/structures/plaques/static_plaques.dm
  icons/obj/decals.dmi
Labels: Feature, Map Edit, Sprites

#59019 Electrolite removal
  code/game/machinery/electrolyzer.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/designs/stock_parts_designs.dm
  code/modules/research/stock_parts.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/stock_parts.dmi
Labels: Quality of Life, Sprites

#59005 CONTRIBUTING.md now has isnull checks on the iconstate2appearance example
  .github/CONTRIBUTING.md
Labels: Fix, GitHub

#59003 Double the changelog retry delay, improve timer
  tgui/packages/tgui/interfaces/Changelog.js
Labels: UI, Verified :heavy_check_mark:

#58994 Gives skeletons NOTRANSSTING trait
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
Labels: Fix

#58992 Fix blazing oil not being damaged by sprayed water
  code/game/objects/effects/effect_system/effects_water.dm
  code/modules/antagonists/blob/blobstrains/blazing_oil.dm
Labels: Fix

#58990 Vatbeast growing now requires enriched liquid electricity
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
Labels: Balance/Rebalance

#58822 Cargo console mail clarifications
  code/modules/cargo/orderconsole.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
Labels: Code Improvement, Quality of Life, Stale

#59077 Fixes grammar in a compile warning
  code/_compile_options.dm
Labels: GBP: Reset

#59047 Updates Altar sprites
  code/modules/religion/religion_structures.dm
  icons/obj/hand_of_god_structures.dmi
Labels: Sprites

#59064 Split malf AI antag datum away from traitor, enable malf AI roundstart ruleset.
  code/controllers/subsystem/job.dm
  code/datums/components/codeword_hearing.dm
  code/datums/mind.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/antagonists/malf_ai/datum_malf_ai.dm
  code/modules/antagonists/traitor/IAA/internal_affairs.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/awaymissions/mission_code/Academy.dm
  tgstation.dme
Labels: Fix, Refactor

#59062 Fixes a runtime with ai trying to use a browser ui
  code/datums/browser.dm
Labels: Fix

#59059 Issue #29019 medical borgs on skateboards look weird
  code/datums/components/riding/riding.dm
  code/datums/components/riding/riding_vehicle.dm
Labels: Atomic, Fix, Good First PR

#59053 Fixes woke plushie; Adds back in a signal dropped by #45217
  code/modules/admin/view_variables/modify_variables.dm
Labels: Fix

#59050 Fixes typo in explodable.dm
  code/datums/components/explodable.dm
Labels: Grammar and Formatting

#59046 A bunch of new tile variants and dark tile decal.
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  code/game/objects/items/stacks/tiles/tile_iron.dm
  code/game/turfs/open/floor/iron_floor.dm
  icons/obj/tiles.dmi
  icons/turf/floors.dmi
Labels: Feature, Sprites

#59060 Fixes trashbags fitting in janitor wintercoats
  code/modules/clothing/suits/wintercoats.dm
Labels: Fix

#59025 fixes udders not performing some things
  code/datums/components/udder.dm
Labels: Fix, GBP: No Update

#59008 Hauberoaches will no longer try to squish themselves
  code/datums/elements/squashable.dm
Labels: Fix

#58978 Improves Grenade code readability
  code/game/objects/items/grenades/grenade.dm
Labels: Code Improvement

#58974 Fixes unfilled activators giving chromosomes
  code/game/machinery/computer/dna_console.dm
Labels: Fix

#58788 big Icebox rework (mostly maint)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Feature, Map Edit

#59023 fixes metastation hopline access
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#59063 Fixes the lack of blast doors on the transit tube on metastation.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#58956 Converts arrivals, aux, and cargo shuttle wall mounts
  _maps/shuttles/arrival_box.dmm
  _maps/shuttles/arrival_delta.dmm
  _maps/shuttles/arrival_donut.dmm
  _maps/shuttles/arrival_kilo.dmm
  _maps/shuttles/arrival_pubby.dmm
  _maps/shuttles/assault_pod_default.dmm
  _maps/shuttles/aux_base_default.dmm
  _maps/shuttles/aux_base_small.dmm
  _maps/shuttles/cargo_birdboat.dmm
  _maps/shuttles/cargo_box.dmm
  _maps/shuttles/cargo_delta.dmm
  _maps/shuttles/cargo_kilo.dmm
  _maps/shuttles/cargo_pubby.dmm
Labels: Map Edit, Quality of Life

#58958 Converts emergency shuttle wall mounts (part 1)
  _maps/shuttles/emergency_asteroid.dmm
  _maps/shuttles/emergency_backup.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_box.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_cramped.dmm
  _maps/shuttles/emergency_cruise.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_discoinferno.dmm
  _maps/shuttles/emergency_donut.dmm
  _maps/shuttles/emergency_goon.dmm
  _maps/shuttles/emergency_imfedupwiththisworld.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/emergency_luxury.dmm
Labels: Map Edit, Quality of Life

#58959 Converts emergency shuttle wall mounts (part 2)
  _maps/shuttles/emergency_medisim.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_mini.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/emergency_narnar.dmm
  _maps/shuttles/emergency_nature.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_pod.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_rollerdome.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/emergency_scrapheap.dmm
  _maps/shuttles/emergency_supermatter.dmm
  _maps/shuttles/emergency_tram.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  _maps/shuttles/escape_pod_default.dmm
  _maps/shuttles/escape_pod_large.dmm
Labels: Map Edit, Quality of Life

#58964 Converts away mission wall mounts to directional mounts
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/challenge.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/RandomZLevels/wildwest.dmm
Labels: Map Edit, Quality of Life

#58965 Converts ferry, hunter, infiltrator, and labour wall mounts to dir
  _maps/shuttles/ferry_base.dmm
  _maps/shuttles/ferry_fancy.dmm
  _maps/shuttles/ferry_kilo.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  _maps/shuttles/ferry_meat.dmm
  _maps/shuttles/hunter_bounty.dmm
  _maps/shuttles/hunter_russian.dmm
  _maps/shuttles/hunter_space_cop.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/labour_box.dmm
  _maps/shuttles/labour_delta.dmm
  _maps/shuttles/labour_kilo.dmm
Labels: Map Edit, Quality of Life

#58966 Converts mining, pirate, and ruin wall mounts to dir
  _maps/shuttles/mining_box.dmm
  _maps/shuttles/mining_common_kilo.dmm
  _maps/shuttles/mining_common_meta.dmm
  _maps/shuttles/mining_delta.dmm
  _maps/shuttles/mining_freight.dmm
  _maps/shuttles/mining_kilo.dmm
  _maps/shuttles/mining_large.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/pirate_dutchman.dmm
  _maps/shuttles/pirate_silverscale.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/ruin_syndicate_fighter_shiv.dmm
Labels: Map Edit, Quality of Life

#58968 Converts snowdin shuttle, whiteship wall mounts to dir
  _maps/shuttles/snowdin_mining.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_cere.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_donut.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/shuttles/whiteship_tram.dmm
Labels: Map Edit, Quality of Life

#58969 Converts misc map wall mounts to dir
  _maps/map_files/CTF/downtown.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/templates/hilbertshotel.dmm
  _maps/templates/hilbertshotellore.dmm
  _maps/templates/shelter_2.dmm
  _maps/templates/shelter_3.dmm
Labels: Map Edit, Quality of Life

#58975 Converts space ruin wall mounts to dir
  _maps/RandomRuins/AnywhereRuins/golem_ship.dmm
  _maps/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/derelict2.dmm
  _maps/RandomRuins/SpaceRuins/derelict6.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomRuins/SpaceRuins/intactemptyship.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/mrow_thats_right.dmm
  _maps/RandomRuins/SpaceRuins/oldAIsat.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/oldteleporter.dmm
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomRuins/SpaceRuins/turretedoutpost.dmm
  _maps/RandomRuins/SpaceRuins/vaporwave.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
Labels: Map Edit, Quality of Life

#58998 Converts Kilostation wall mounts to dirs
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit, Quality of Life

#58977 Converts lavaland and icemoon ruin wall mounts to dir
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_mining_site.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_bathhouse.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_hermit.dmm
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_envy.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_gluttony.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_greed.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_pride.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
Labels: Map Edit, Quality of Life

#59004 Converts Icebox wall mounts to dirs
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
Labels: Map Edit, Quality of Life

#59026 Converts Meta wall mounts to dirs
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Quality of Life

#59030 Converts Tramstation wall mounts to dirs
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Quality of Life

#59039 Converts Deltastation wall mounts to dirs
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit, Quality of Life

#59065 big connect_loc fix. teleporters dont cause runtimes and movables registered to things entering their turf no longer have themselves entering their turf sent to them
  code/__DEFINES/dcs/signals.dm
  code/datums/elements/connect_loc.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/decals/misc.dm
  code/modules/buildmode/effects/line.dm
  code/modules/shuttle/on_move.dm
Labels: Fix, GBP: No Update

#59029 Componentizes Duffelbag Curse and turns it into an RPGloot modifier (+ curse announcement element)
  code/__DEFINES/ai.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/traits.dm
  code/datums/ai/_item_behaviors.dm
  code/datums/ai/cursed/cursed_behaviors.dm
  code/datums/ai/cursed/cursed_controller.dm
  code/datums/ai/generic_actions.dm
  code/datums/components/curse_of_hunger.dm
  code/datums/components/fantasy/suffixes.dm
  code/datums/elements/curse_announcement.dm
  code/datums/elements/cursed.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/weaponry.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/events/wizard/curseditems.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/spells/spell_types/godhand.dm
  tgstation.dme
Labels: Feature, Refactor

#59092 Add workflow_dispatch to GBP collection
  .github/workflows/gbp_collect.yml
Labels: GitHub

#59093 refactors rpg loot is now a global datum singleton and so is embedopocalypse and stickapocalypse
  code/__DEFINES/dcs/signals.dm
  code/game/objects/items.dm
  code/modules/admin/verbs/highlander_datum.dm
  code/modules/events/wizard/embeddies.dm
  code/modules/events/wizard/rpgloot.dm
Labels: Refactor

#59082 Fixes layering for piggyback rides
  code/__DEFINES/layers.dm
  code/datums/components/riding/riding_mob.dm
Labels: Fix, Quality of Life

#59074 Deletes a comment that has been lying to me for months.
  code/modules/surgery/organs/tongue.dm
Labels: Documentation

#59071 ambience subsystem no longer plays to people in lobby
  code/controllers/subsystem/ambience.dm
Labels: Fix

#59061 Fix regal rat runtime with target being deleted
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
Labels: Fix

#59010 fixes issue with ghosts being able to affect the world, oversight from the crossed refactor
  code/modules/mob/dead/observer/observer.dm
Labels: Fix, GBP: No Update

#59015 Removes Revolutionaries becoming enemies of the revolution
  code/modules/antagonists/revolution/revolution.dm
Labels: Fix

#58918 Fixes footprint stacking
  code/game/area/space_station_13_areas.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/bloody_footprints.dm
  code/modules/unit_tests/unit_test.dm
Labels: Fix, Unit Tests

#58873 Adds deflection messages for no damage attacks against objects
  code/_onclick/item_attack.dm
  code/datums/components/pellet_cloud.dm
  code/game/objects/obj_defense.dm
Labels: Fix, Quality of Life

#58871 Changes the atmos hardsuit description to better reflect it's low radiation protection
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: Grammar and Formatting
