Repository tgstation/tgstation, pull requests merged in 2021-09, with the labels that each got.

#61085 Fixes being able to spam ghost role notifications.
  code/__HELPERS/game.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/diseases/transformation.dm
  code/game/objects/effects/anomalies.dm
  code/modules/admin/fun_balloon.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/clothing/head/helmet.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/transform_procs.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: Fix

#61119 fixes a dumb issue with traitor flavor AGAIN
  strings/traitor_flavor.json
Labels: Fix, GBP: No Update

#61117 Fix pass-by-ref issue causing ID card access lists to be incorrectly mutated.
  code/game/objects/items/cards_ids.dm
Labels: Fix

#61104 changed minor typo in ventcrawling.dm
  code/modules/mob/living/ventcrawling.dm
Labels: Grammar and Formatting, Good First PR

#61038 Fixes some unnecessary attack chain cancels
  code/game/machinery/doors/door.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/window.dm
  code/modules/reagents/chemistry/machinery/chem_mass_spec.dm
Labels: Fix

#61083 Fixes a plasmaman autoignition oversight
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: Fix

#61082 Fixes moths infinitely eating most clothing
  code/__DEFINES/combat.dm
  code/datums/armor.dm
  code/modules/clothing/clothing.dm
Labels: Fix

#61076 Fixed the Bloodcrawl spell not ejecting users if somehow lost.
  code/modules/mob/living/bloodcrawl.dm
  code/modules/spells/spell_types/bloodcrawl.dm
Labels: Fix

#61132 Traitors now get objectives again
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Fix

#61133 Vents and scrubbers get unique name tags again
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: Fix

#61135 Free up smart pipe direction on disconnect
  code/modules/atmospherics/machinery/pipes/smart.dm
Labels: Fix

#61056 Fix dir delay when riding something and turning
  code/datums/components/riding/riding.dm
Labels: Fix

#61023 Fixes a few small sprite issues with the new lobby menu
  icons/hud/lobby/bottom_buttons.dmi
  icons/hud/lobby/character_setup.dmi
  icons/hud/lobby/join.dmi
  icons/hud/lobby/observe.dmi
Labels: Sprites, Fix, Stale

#61156 adds a gun circuit shell
  code/__DEFINES/dcs/signals.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/toy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/guns/special/chem_gun.dm
  code/modules/projectiles/guns/special/syringe_gun.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/string/tostring.dm
  code/modules/wiremod/shell/gun.dm
  icons/obj/wiremod.dmi
  tgstation.dme
Labels: Sprites, Content Expansion

#61160 Cayenne can now strip people
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: Quality of Life

#61174 Reorder the POPUP button to be behind closure links
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration, Verified :heavy_check_mark:

#61172 Fix adminban limit permission check
  code/modules/admin/sql_ban_system.dm
Labels: Fix, Verified :heavy_check_mark:

#61171 Fixes crowbars hitting toilets when opening the cistern
  code/game/objects/structures/watercloset.dm
Labels: Fix

#61167 mechas have their 5 default damage back
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix

#61165 Mechs with no damage will no longer punch
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix

#61162 RPD default pipe color change
  code/__HELPERS/piping_colors_lists.dm
  code/game/objects/items/RPD.dm
Labels: Quality of Life

#61175 Adds in asexual-themed socks.
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/clothing/underwear.dmi
Labels: Sprites, Mechanic, Fix

#61159 Pen & Paper Bin minor resprite
  code/modules/paperwork/pen.dm
  icons/obj/bureaucracy.dmi
Labels: Sprites

#61138 Fixes scanner gates
  code/datums/components/shell.dm
Labels: Fix

#61073 Fix atv covers not appearing
  code/modules/vehicles/atv.dm
Labels: Fix

#61037 Fixes the protect objective
  code/game/gamemodes/objective.dm
Labels: Fix, Stale

#61201 Fixes mousetraps causing mice to become invisible when splatted
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Fix

#61032 Replaces bees and hivelord MOUSE_OPACITY_OPAQUE with a component.
  code/__DEFINES/dcs/signals.dm
  code/datums/components/clickbox.dm
  code/game/atoms.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_update_icons.dm
  code/modules/mob/living/carbon/alien/larva/larva_update_icons.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/living_update_icons.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/misc/clickbox.dmi
  tgstation.dme
Labels: Sprites, Fix

#61163 Fix broken mech delay
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix

#61139 Emergency Access Button Cooldown
  code/game/machinery/computer/communications.dm
Labels: Fix

#61112 pAI minor refactor and cyborg PDA code/visual improvements
  code/_onclick/hud/pai.dm
  code/controllers/subsystem/pai.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/assembly/signaler.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software.dm
Labels: Grammar and Formatting, Fix, Refactor, Code Improvement, Quality of Life

#61015 partially fixes medical phobia by splitting dice bags off of pillbottles as a subtype
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomZLevels/research.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/arrival_delta.dmm
  _maps/templates/holodeck_lounge.dmm
  code/game/objects/items/RSF.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/storage/firstaid.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/vending/games.dm
  code/modules/vending/wardrobes.dm
Labels: Fix, Removal, Stale, Map Edit

#61206 Increase SSdiscord init order
  code/__DEFINES/subsystems.dm
Labels: Fix, Verified :heavy_check_mark:

#61200 Allows detective vests to hold detective (and nukies' agent) holsters like other vests do
  code/__DEFINES/inventory.dm
Labels: Fix

#61179 fix mind-reading/ling absorb text and remove duplicate logging
  code/datums/elements/strippable.dm
  code/datums/mutations/antenna.dm
  code/game/atoms.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/living.dm
Labels: Fix

#61166 Replaces MATERIAL_NO_EFFECTS with MATERIAL_EFFECTS.
  code/__DEFINES/materials.dm
  code/datums/materials/meat.dm
  code/game/atoms.dm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/game/objects/items/stacks/tiles/tile_mineral.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/statues.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/closed/wall/material_walls.dm
  code/game/turfs/closed/wall/mineral_walls.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/mineral_floor.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/ores_coins.dm
  code/modules/photography/photos/photo.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/research/machinery/_production.dm
  code/modules/vehicles/mecha/equipment/tools/medical_tools.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  code/modules/vehicles/wheelchair.dm
Labels: Fix, Code Improvement

#61199 Uncouples the cultist red eye trait examine text from requiring cultist status or a certain eye colour.
  code/__DEFINES/traits.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/surgery/organs/eyes.dm
Labels: Fix, Quality of Life

#61211 Fixes can_interact()
  code/game/machinery/_machinery.dm
  code/modules/research/machinery/_production.dm
Labels: Fix, GBP: No Update

#60966 Fixes some problems with the stargazer slime link and an oversight shared with the mansus link.
  code/datums/action.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/clothing/chameleon.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/simple_animal/eldritch_demons.dm
  code/modules/surgery/dental_implant.dm
Labels: Fix, Stale

#61217 Fixes a regression about skeleton pirates not having milk bottles.
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/pirate_dutchman.dmm
  code/modules/mining/money_bag.dm
  code/modules/mining/ores_coins.dm
Labels: Fix, Map Edit

#61222 Gibber will now give 3 pieces of meat at tier 1
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
Labels: Fix, Code Improvement

#61039 Fixes broken traitor flavor key
  strings/traitor_flavor.json
Labels: Fix, Stale

#61049 Rectifies the name and description of the cryostylane inverse chem.
  code/modules/reagents/chemistry/reagents/impure_reagents.dm
Labels: Grammar and Formatting, Fix, Stale

#61195 Fixes some incorrect chaplain weapon / hallucination icon states
  code/game/objects/items/holy_weapons.dm
  code/modules/flufftext/Hallucination.dm
Labels: Fix, GBP: No Update

#61036 Sets the mouse_opacity of imaginary friend mobs to MOUSE_OPACITY_ICON
  code/datums/brain_damage/imaginary_friend.dm
Labels: Fix, Stale

#61239 makes rslve button in admin help panel not wrap around
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration

#61238 Restores Ethereal Taste
  code/modules/surgery/organs/tongue.dm
Labels: Balance/Rebalance

#61215 Pirates now speak piratespeak.
  code/__DEFINES/language.dm
  code/modules/antagonists/pirate/pirate.dm
Labels: Content Expansion

#61230 New Display Cases (WALLENING FRIENDLY)
  icons/obj/stationobjs.dmi
Labels: Sprites

#61218 Reimagines the imaginary friend as a fancy new smite.
  code/datums/brain_damage/imaginary_friend.dm
  code/modules/admin/smites/imaginary_friend_special.dm
  tgstation.dme
Labels: Administration

#61219 Adds a loose syndicate brand MMi to robo/rd/doctor/cmo traitors only for 2 tc
  code/modules/uplink/uplink_items.dm
Labels: Mechanic

#61204 Blast doors & shutters fixes & cleanup: toolspeed, sounds, player feedback
  code/__DEFINES/construction.dm
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#61185 makes fake artefacts better
  code/modules/mining/equipment/survival_pod.dm
Labels: Fix

#60543 Re-balances ant damage values & lets you pour ants on the floor
  code/__DEFINES/dcs/signals.dm
  code/datums/components/caltrop.dm
  code/datums/components/food/decomposition.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/food/_food.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  icons/obj/objects.dmi
Labels: Sprites, Balance/Rebalance, Mechanic

#61058 Fix xenos not taking damage while in crit
  code/modules/mob/living/carbon/alien/life.dm
Labels: Fix, Stale

#61237 HFR better UI
  tgui/packages/tgui/interfaces/Hypertorus.js
Labels: UI, Quality of Life

#61245 you can now build easels with 5 wood
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Mechanic

#61243 Byond member ghost recolors can now have hair + accessories
  code/_globalvars/lists/flavor_misc.dm
Labels: Quality of Life

#61235 Fixes + unit tests botany plants mutating into themselves, and makes mutatelists proper lazylists
  code/modules/hydroponics/grown/apple.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/cannabis.dm
  code/modules/hydroponics/grown/cereals.dm
  code/modules/hydroponics/grown/cherries.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/cocoa_vanilla.dm
  code/modules/hydroponics/grown/corn.dm
  code/modules/hydroponics/grown/cotton.dm
  code/modules/hydroponics/grown/eggplant.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/grass_carpet.dm
  code/modules/hydroponics/grown/korta_nut.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/hydroponics/grown/peas.dm
  code/modules/hydroponics/grown/potato.dm
  code/modules/hydroponics/grown/pumpkin.dm
  code/modules/hydroponics/grown/root.dm
  code/modules/hydroponics/grown/sugarcane.dm
  code/modules/hydroponics/grown/tea_coffee.dm
  code/modules/hydroponics/grown/tobacco.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/hydroponics/grown/weeds/nettle.dm
  code/modules/hydroponics/grown/weeds/starthistle.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/hydroponics_self_mutations.dm
Labels: Fix, Unit Tests

#61048 fix gas filters removal
  code/modules/clothing/masks/gasmask.dm
Labels: Fix

#61223 Rebalances watchers, making them able to actually damage you
  code/datums/status_effects/debuffs.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
Labels: Balance/Rebalance

#61153 Adds some new (proper) tables. Also fixes the old reinforced glass table just making a regular metal table bug for the alloys included.
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/structures/tables_racks.dm
  icons/obj/smooth_structures/plasmaglass_table.dmi
  icons/obj/smooth_structures/plastitaniumglass_table.dmi
  icons/obj/smooth_structures/rglass_table.dmi
  icons/obj/smooth_structures/rplasmaglass_table.dmi
  icons/obj/smooth_structures/titaniumglass_table.dmi
Labels: Sprites, Fix, Content Expansion

#61226 The Cycling 2.0, Airlocks can now be built in game to cycle and named
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/objects/structures/door_assembly.dm
  code/game/turfs/open/floor.dm
  tgui/packages/tgui/interfaces/AirlockElectronics.js
Labels: UI, Content Expansion

#61248 fixes sdql spell parsing
  code/modules/admin/verbs/SDQL2/SDQL_spells/spell_edit_menu.dm
Labels: Fix

#61184 Pig Latin Mutation
  code/__DEFINES/DNA.dm
  code/__HELPERS/text.dm
  code/datums/mutations/speech.dm
  code/game/objects/items/dna_injector.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: Mechanic

#61254 Changelogs are for user facing changes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: GitHub

#61205 Adds instant integrated circuit execution for event handling circuits.
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/wiremod.dm
  code/controllers/subsystem/circuit_component.dm
  code/controllers/subsystem/delay_component.dm
  code/modules/jobs/access.dm
  code/modules/wiremod/core/component.dm
  code/modules/wiremod/core/integrated_circuit.dm
  code/modules/wiremod/core/port.dm
  code/modules/wiremod/shell/airlock.dm
  tgstation.dme
Labels: Content Expansion

#61150 [MDB Ignore] The Disposaling, Disposal Remapping
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit, Quality of Life

#61242 HFR more explosion difference between the various fuel mixes
  code/modules/atmospherics/machinery/components/fusion/hfr_defines.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_fuel_datums.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_procs.dm
  sound/machines/hypertorus/HFR_critical_explosion.ogg
Labels: Sound, Content Expansion

#61255 Fix disposal eject speed
  code/modules/recycling/disposal/outlet.dm
Labels: Fix

#60728 Componentizes/Elementalizes Pride Struck Hammer Behavior + Carp'Sie Plushie Behavior
  code/__DEFINES/misc.dm
  code/datums/components/faction_granter.dm
  code/datums/elements/chemical_transfer.dm
  code/game/objects/items/holy_weapons.dm
  tgstation.dme
Labels: Refactor, Stale

#61260 Adds visible age to examine_more
  code/modules/mob/living/carbon/human/examine.dm
Labels: Content Expansion

#61225 Balloon alerts on Penthrite
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
Labels: Quality of Life

#61263 Fixes a hotkey on slime console
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Fix

#61249 Reduces copypasta in emissive code.
  code/__DEFINES/lighting.dm
  code/__HELPERS/lighting.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/ecto_sniffer.dm
  code/game/machinery/firealarm.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/wig.dm
  code/modules/lighting/emissive_blocker.dm
  code/modules/mob/living/carbon/alien/humanoid/humanoid_update_icons.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix, Code Improvement

#61213 You can now place hats on plasmaman helmets!
  code/__DEFINES/obj_flags.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/welding.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/bio.dm
Labels: Content Expansion

#61256 restore removed individual logs and place them under LOG_VICTIM category
  code/__DEFINES/logging.dm
  code/datums/elements/strippable.dm
  code/datums/status_effects/debuffs.dm
  code/game/atoms.dm
  code/game/objects/items/implants/implantchair.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  code/modules/surgery/advanced/brainwashing.dm
Labels: Logging, Administration

#61269 individual logging is now visible even with client logged out
  code/__DEFINES/logging.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/admin/verbs/individual_logging.dm
Labels: Logging, Administration

#61274 Disables wrenching on money bot and scanner gate shells when they are locked
  code/__DEFINES/dcs/signals.dm
  code/datums/components/shell.dm
  code/modules/wiremod/core/integrated_circuit.dm
  code/modules/wiremod/shell/moneybot.dm
  code/modules/wiremod/shell/scanner_gate.dm
Labels: Balance/Rebalance

#61270 Robot tourists now know what mercy is again
  code/datums/ai/generic_actions.dm
Labels: Fix

#61224 Adds Custom Milj Option to Udders
  code/datums/components/udder.dm
Labels: Administration

#61236 HFR moderator injection and fuel injection are now controlled separately
  code/modules/atmospherics/machinery/components/fusion/hfr_core.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
  tgui/packages/tgui/interfaces/Hypertorus.js
Labels: UI, Quality of Life

#61177 HFR better moderator filtering
  code/modules/atmospherics/machinery/components/fusion/hfr_core.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
  tgui/packages/tgui/interfaces/Hypertorus.js
Labels: UI, Quality of Life

#61134 Immediately connect on smart pipe reprogram
  code/game/objects/items/RPD.dm
Labels: Fix

#61258 Fixes RnD experiment discounts applying indefinitely
  code/modules/research/techweb/_techweb_node.dm
Labels: Fix

#61266 Basic Cytology Scan fix
  code/modules/experisci/experiment/experiments.dm
Labels: Fix

#61278 Attempts to drag before checking machine interactability
  code/_onclick/click.dm
Labels: Fix, GBP: No Update

#61279 "You step on the floor!" caltrop fixes
  code/datums/components/caltrop.dm
Labels: Fix

#61164 var/static_lighting proper varedit support
  code/modules/lighting/lighting_area.dm
  code/modules/lighting/static_lighting_area.dm
Labels: Administration

#61055 Fix wormhole jaunter behavior with chasms and EMP
  code/datums/components/chasm.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Fix

#61282 actually fixes the wrapping on ahelps
  code/modules/admin/verbs/adminhelp.dm
Labels: Administration

#61131 Fixes a money generation exploit, some ref cleanup and `?.` operator usage
  code/game/machinery/roulette_machine.dm
Labels: Fix

#61324 color.js: Fix alpha specification
  tgui/packages/common/color.js
Labels: Fix, UI

#61283 Removed Deprecated Config Options from game_options.txt
  config/game_options.txt
Labels: Fix, Removal, Config Update

#61317 Bumps SDMM to 1.7.1
  dependencies.sh
Labels: Documentation, GitHub, Linting

#61207 Baton refactor. item/melee/baton is now a subtype of item/melee/baton (formerly classic_baton)
  _maps/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  _maps/RandomRuins/SpaceRuins/mrow_thats_right.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_tram.dmm
  _maps/templates/holodeck_animeschool.dmm
  code/__DEFINES/combat.dm
  code/__DEFINES/inventory.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/controllers/subsystem/traumas.dm
  code/datums/components/crafting/recipes.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/melee/baton.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/stunbaton.dm
  code/game/objects/items/teleprod.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/objects/structures/watercloset.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/exports/weapons.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/explorer_drone/loot.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/surgery/revival.dm
  tgstation.dme
Labels: Balance/Rebalance, Fix, Refactor, Code Improvement, Map Edit

#61081 tgui-bench
  bin/tgui-bench.cmd
  tgui/README.md
  tgui/babel.config.js
  tgui/global.d.ts
  tgui/jest.config.js
  tgui/package.json
  tgui/packages/tgui-bench/entrypoint.tsx
  tgui/packages/tgui-bench/index.js
  tgui/packages/tgui-bench/lib/benchmark.d.ts
  tgui/packages/tgui-bench/lib/benchmark.js
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-bench/tests/Button.test.tsx
  tgui/packages/tgui-bench/tests/DisposalUnit.test.tsx
  tgui/packages/tgui-bench/tests/Flex.test.tsx
  tgui/packages/tgui-bench/tests/Stack.test.tsx
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/components/Icon.js
  tgui/packages/tgui/components/Stack.tsx
  tgui/packages/tgui/renderer.ts
  tgui/packages/tgui/store.js
  tgui/webpack.config.js
  tgui/yarn.lock
  tools/build/build.js
Labels: Performance, Tools, Refactor, UI

#61294 Remove remaining references to research point generation through power generation
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  strings/tips.txt
Labels: Fix

#61295 Adds "The Juice", a drink that lets you see and travel through bluespace rifts
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/obj/drinks.dmi
Labels: Sprites, Mechanic

#61268 Fixes window opacity when repainting bug
  code/game/objects/structures/window.dm
Labels: Fix

#61315 worlds smallest fix: fixes soul shards not removing antag datums
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix, Verified :heavy_check_mark:, GBP: No Update

#61051 Fixes an irregularity in the outline glow of the `p` of the character setup button when highligthed or pressed
  icons/hud/lobby/character_setup.dmi
Labels: Sprites, Fix

#61094 TGUI Apprentice Contracts
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/asset_cache/asset_list_items.dm
  icons/UI_Icons/contracts/bluespace.png
  icons/UI_Icons/contracts/destruction.png
  icons/UI_Icons/contracts/healing.png
  icons/UI_Icons/contracts/robeless.png
  icons/ui_icons/contracts/bluespace.png
  icons/ui_icons/contracts/destruction.png
  icons/ui_icons/contracts/healing.png
  icons/ui_icons/contracts/robeless.png
  tgui/packages/tgui/interfaces/ApprenticeContract.tsx
Labels: Sprites, UI, Verified :heavy_check_mark:, Quality of Life

#61330 Add fingerprints before putting crafted stack items in hand
  code/game/objects/items/stacks/stack.dm
Labels: Fix

#61275 Autolathe fixes: screwdrivers are recyclable, no inserting mats with an open maint panel
  code/game/machinery/autolathe.dm
Labels: Fix, Quality of Life

#60922 removes gas_transfer_coefficent from clothing as it did nothing
  code/game/objects/items.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/muzzle.dm
  code/modules/clothing/masks/surgical.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/jobs/civilian/curator.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
Labels: Code Improvement

#61329 Revival surgery now works with shock touch
  code/modules/surgery/revival.dm
Labels: Balance/Rebalance, Quality of Life

#61326 Renames the analyzer to gas analyzer and adds it to the protolathe printable list
  code/game/objects/items/devices/scanners.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: Quality of Life

#61311 Phobia DLC - Spooky Pack
  code/controllers/subsystem/traumas.dm
  strings/phobia.json
Labels: Content Expansion

#61297 Reorder HFR fuel datums
  code/modules/atmospherics/machinery/components/fusion/hfr_fuel_datums.dm
Labels: Quality of Life

#61321 Fix HFR Oxygen based iron content mitigation
  code/modules/atmospherics/machinery/components/fusion/hfr_defines.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
Labels: Fix

#61348 multiplies the chance to start dreaming each sleep tick by 5
  code/datums/status_effects/debuffs.dm
Labels: Fix

#61343 Another fix for laggy tgui tooltips -- Turn off popper event listeners (+ give R&D console its tooltips again)
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/interfaces/Techweb.js
Labels: Fix, UI, 📌 Test Merge Candidate

#61302 adds infinity to vv classes
  code/__DEFINES/vv.dm
  code/modules/admin/view_variables/get_variables.dm
Labels: Administration

#61341 Fix parallax animation
  code/_onclick/hud/parallax.dm
Labels: Fix

#61337 Fix hitting space heaters when using tools on it
  code/game/machinery/spaceheater.dm
Labels: Fix

#61385 Removes phantom pngs on master
  icons/UI_Icons/contracts/bluespace.png
  icons/UI_Icons/contracts/destruction.png
  icons/UI_Icons/contracts/healing.png
  icons/UI_Icons/contracts/robeless.png
Labels: Sprites, Removal

#61296 Hypertorus: Permit waste remove toggling at power level 6
  tgui/packages/tgui/interfaces/Hypertorus.js
Labels: Fix, UI

#61399 Fix font-size and rotation not being passed to icons
  tgui/packages/tgui/components/Icon.js
Labels: Fix, UI, Priority: High

#60910 Removes reinforced walls from under grilles on Meta and Delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Removal, Map Edit, Quality of Life

#61412 Recount of bloodpacks in cargo pack
  code/modules/cargo/packs.dm
Labels: Grammar and Formatting

#61405 server restarting stuff uses alert instead of tgui alert
  code/modules/admin/verbs/server.dm
Labels: Fix

#61367 Fixes icebox mailroom disposal outlets
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit, GBP: No Update

#61368 Fixes mapping issues kilostation
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#61365 Fixes spelling errors in airlock ids
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Grammar and Formatting, Map Edit

#61350 Fixes some stupid behavior in computer hardware code.
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_components.dm
  code/modules/modular_computers/hardware/CPU.dm
  code/modules/modular_computers/hardware/_hardware.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/modular_computers/hardware/card_slot.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/modular_computers/hardware/portable_disk.dm
  code/modules/modular_computers/hardware/recharger.dm
Labels: Fix, Priority: High

#61444 Fix lingering alpha issues when the Chameleon mutation is removed.
  code/datums/mutations/chameleon.dm
Labels: Fix

#61406 Actually fixes temperature pump exploit. Removes limit as it's redundant now.
  code/modules/atmospherics/machinery/components/binary_devices/temperature_pump.dm
Labels: Balance/Rebalance, Fix, Removal

#61352 Native languages for tongues
  code/__DEFINES/dcs/signals.dm
  code/modules/surgery/organs/tongue.dm
Labels: Mechanic

#60600 Makes tank explosions scale with volume and have diminishing returns. (Nerfs singlecaps)
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/__DEFINES/research.dm
  code/game/machinery/doppler_array.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/projectiles/guns/special/blastcannon.dm
Labels: Balance/Rebalance

#61116 Fixes (somehow) killing nar-sie in the last second not properly clearing the hostile environment
  code/modules/power/singularity/narsie.dm
Labels: Fix, Verified :heavy_check_mark:

#61285 Mentions stopping allergic reactions on medipens
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Good First PR, Verified :heavy_check_mark:, Quality of Life

#61362 Fixes magmawing watcher projectile oversight
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
Labels: Fix, GBP: No Update

#61404 observe button uses alert instead of tgui alert
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix

#61398 Fixes RPD arrow icons
  tgui/packages/tgui/interfaces/RapidPipeDispenser.js
Labels: Fix, UI

#61376 Decrease disco volume by half
  code/game/machinery/dance_machine.dm
  tgui/packages/tgui/interfaces/Jukebox.js
Labels: UI, Quality of Life

#61379 Typo: Truely -> Truly
  strings/tips.txt
Labels: Grammar and Formatting

#61372 The Odysseus is no longer an artillery mech.
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
Labels: Balance/Rebalance

#61387 HFR: Prevent moderator injection lockout
  tgui/packages/tgui/interfaces/Hypertorus.js
Labels: Fix, UI

#61438 Fix documentation in modules/mob/emote.dm
  code/modules/mob/emote.dm
Labels: Documentation

#61413 Fixes an issue in which pressing x while trying to enter a mob as a ghost would make you enter said mob, and disables re-entering into a posibrain.
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/brain/posibrain.dm
Labels: Fix

#61395 the negative moodlet from being held at gunpoint will no longer last indefinitely under certain conditions
  code/datums/components/gunpoint.dm
Labels: Fix

#61384 You are no longer told you've shoved yourself into a disposal unit.
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Grammar and Formatting

#61378 RPD: Feedback when configuration can't change
  code/game/objects/items/RPD.dm
Labels: Quality of Life

#61388 Fixes the drug eating verb
  code/game/objects/items/drug_items.dm
Labels: Grammar and Formatting

#61391 Fix HFR iron content UI scale
  tgui/packages/tgui/interfaces/Hypertorus.js
Labels: Fix, UI

#61382 Fix HFR interface units
  code/modules/atmospherics/machinery/components/fusion/hfr_core.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
  tgui/packages/tgui/interfaces/Hypertorus.js
Labels: Fix, UI

#61392 Add french kissing
  code/__DEFINES/traits.dm
  code/game/objects/items/hand_items.dm
  code/modules/clothing/head/frenchberet.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Balance/Rebalance, Mechanic

#61289 adds logging for all canisters opened, logs all gases in spooky gas cans too
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Administration, Good First PR, Verified :heavy_check_mark:

#61232 Slight refractor to borg reboot boards, allows them to be reusable
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
Labels: Balance/Rebalance
