Repository tgstation/tgstation, pull requests merged in 2021-03, with the labels that each got.

#57242 Fixes up a missing sprite for the durathread bandana
  icons/mob/clothing/head.dmi
Labels: Fix, Sprites

#57248 Allow admins to cancel dynamic midround events (+ another 2 year old Dynamic fix!)
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/ruleset_picking.dm
  tgstation.dme
Labels: Administration, Fix

#57255 Water bottles now work properly in combat mode
  code/modules/food_and_drinks/drinks/drinks.dm
Labels: Fix

#57269 *smacks table* Hot Damn!
  code/__DEFINES/achievements.dm
  code/_onclick/item_attack.dm
  code/datums/achievements/misc_achievements.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/hand_items.dm
  code/game/objects/items/inducer.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/game/objects/structures/manned_turret.dm
  code/modules/cargo/coupon.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/gun.dm
  icons/UI_Icons/Achievements/Misc/hotdamn.png
Labels: Feature, Sprites

#57245 Adds basic cybernetic eyes to the medical protolathe/exofabricator
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/eyes.dm
Labels: Feature

#57252 Replaces old array sprites
  code/modules/power/singularity/collector.dm
  icons/obj/singularity.dmi
Labels: Grammar and Formatting, Sprites

#57263 adds a bitflag for no random pixel shift on dropping, adds turf_flags var to replace usage of flags_1 on turfs
  code/__DEFINES/flags.dm
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/_onclick/click.dm
  code/controllers/subsystem/mapping.dm
  code/datums/mapgen/CaveGenerator.dm
  code/game/area/areas.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/area/areas/shuttles.dm
  code/game/area/space_station_13_areas.dm
  code/game/objects/effects/phased_mob.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/river.dm
  code/game/turfs/open/space/transit.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/cult/ritual.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/mapping/ruins.dm
  code/modules/mapping/space_management/space_reservation.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/mob/mob_movement.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/shuttle/shuttle.dm
Labels: Administration, Code Improvement, Fix

#57286 Shapeshifting runtime fix
  code/modules/spells/spell_types/shapeshift.dm
Labels: Atomic, Fix

#57276 Ethereals can now scream
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/ethereal/ethereal_scream_1.ogg
  sound/voice/ethereal/ethereal_scream_2.ogg
  sound/voice/ethereal/ethereal_scream_3.ogg
Labels: Sound

#57291 Luxury bar capsule no longer throws a runtime when deployed
  code/game/machinery/doors/windowdoor.dm
Labels: Fix

#57285 Xenos and random spawns can't happen inside atmos tanks
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#57266 Fixes the randomly failing unit test that sometimes happens.
  code/modules/projectiles/projectile/special/curse.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: Fix

#57275 Hulks can shove on combat mode like non-hulks
  code/datums/mutations/hulk.dm
Labels: Fix

#57326 Brutally fix gitignore
  .gitignore
  tgui/.yarn/sdks/eslint/lib/api.js
  tgui/.yarn/sdks/typescript/lib/tsc.js
  tgui/.yarn/sdks/typescript/lib/tsserver.js
  tgui/.yarn/sdks/typescript/lib/typescript.js
Labels: FUCK, Fix, UI

#57220 Fixes TRAIT_NOBREATH crit damage being applied after death
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#57211 Working portable atmos reactions
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: Fix

#56958 [TGUI] Wizard TGUI Spellbook + Basic Wizard Loadouts + Randomizer
  code/modules/antagonists/wizard/equipment/spellbook.dm
  tgui/packages/tgui/assets/bg-neutral.svg
  tgui/packages/tgui/assets/bg-wizard.svg
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/Spellbook.js
  tgui/packages/tgui/styles/themes/wizard.scss
Labels: Refactor, UI

#57270 SM monitor shows total moles & SM gets it's own defines file.
  code/__DEFINES/supermatter.dm
  code/modules/modular_computers/file_system/programs/sm_monitor.dm
  code/modules/power/supermatter/supermatter.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosSupermatterMonitor.js
Labels: Code Improvement, Quality of Life, UI

#57320 Folders: tgui, refactor, qol
  code/modules/paperwork/folders.dm
  code/modules/paperwork/folders_premade.dm
  code/modules/paperwork/paper.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Folder.js
Labels: Feature, Quality of Life, Refactor, UI

#57311 Tweaks tourist audio
  code/__DEFINES/sound.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/mob/living/simple_animal/friendly/robot_customer.dm
  sound/effects/tourist_talk_french.ogg
Labels: Sound

#57294 (Fix) Metastation AI should not be the victim of anti-cable activists
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#57328 Make gbp-action use master
  .github/workflows/gbp.yml
Labels: GitHub

#57322 Tweak how the ID Console displays wildcard and trim information.
  tgui/packages/tgui/interfaces/common/AccessList.js
Labels: Quality of Life, UI

#57133 Miscellaneous appearance fixes.
  code/game/machinery/roulette_machine.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
Labels: Fix

#57299 Remove the PR balances part of the webhook (in favor of the action)
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools

#57329 Moves heirloom lists to job/species datums
  code/datums/quirks/negative.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
Labels: Refactor

#57312 Fixes surrender alert sticking around forever
  code/datums/status_effects/neutral.dm
Labels: Atomic, Fix, Verified :heavy_check_mark:

#57306 Operating computers no longer link to stasis beds.
  code/game/machinery/computer/Operating.dm
  code/game/machinery/stasis.dm
  code/modules/surgery/surgery.dm
Labels: Removal

#57302 Small plant tweaks, addition of chemicals to under utilized plants.
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/root.dm
Labels: Balance/Rebalance

#57297 HUD cleanup and fixes
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/pai.dm
Labels: Fix, Needs Pictures, Quality of Life

#57261 Refactors A few Simple Mob Footsteps + Fixes Slime Footsteps
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: Fix, Refactor

#57260 Restores the missing cyborg suit directional sprites
  icons/mob/clothing/suit.dmi
Labels: Atomic, Fix, Sprites

#57233 Fixes the Ratvar ruin on Lavaland
  _maps/RandomRuins/LavaRuins/lavaland_surface_dead_ratvar.dmm
  code/game/area/areas/ruins/lavaland.dm
Labels: Fix, Map Edit

#57224 Announced Extended now sends a report for station traits + minor punctuation cleanup
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/positive_traits.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/game_mode.dm
Labels: Grammar and Formatting, Quality of Life

#57305 Japanese Tourists! Oh, and beef stroganoff, I guess!
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/meat.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/food/soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/restaurant/_venue.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/mob/living/simple_animal/friendly/robot_customer.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  icons/mob/tourists.dmi
  icons/obj/food/food.dmi
  sound/creatures/tourist/tourist_talk.ogg
  sound/creatures/tourist/tourist_talk_french.ogg
  sound/creatures/tourist/tourist_talk_japanese1.ogg
  sound/creatures/tourist/tourist_talk_japanese2.ogg
  strings/names/japanese_prefix.txt
Labels: Feature, Sound, Sprites

#57314 Wallets no longer show redundant examine text for ID cards.
  code/game/objects/items/storage/wallets.dm
Labels: Fix, GBP: No Update

#57215 Survival capsules no longer get deleted when deployed at the edge of the map
  code/__DEFINES/misc.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/shelters.dm
Labels: Fix

#57298 Chef Produce Console, for cases where there are no botanists
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/controllers/subsystem/shuttle.dm
  code/game/machinery/computer/chef_orders/chef_order.dm
  code/game/machinery/computer/chef_orders/order_datum.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/cargo/orderconsole.dm
  code/modules/shuttle/supply.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Cargo.js
  tgui/packages/tgui/interfaces/ProduceConsole.js
Labels: Feature, Map Edit, UI

#57290 Deltastation fire alarm removal
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#57340 Nanotrasen Minebots now also use the rolling robot footstep
  code/modules/mining/minebot.dm
Labels: Feature

#57342 Fixes spelling on the Engineering Voidsuit
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Grammar and Formatting

#57227 Fixes Lavaland ruin turf generation and round start active turfs
  _maps/RandomRuins/LavaRuins/lavaland_surface_elite_tumor.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_puzzle.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_random_ripley.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
Labels: Fix, Map Edit

#57239 Adds new Special Syndicate Bundle, "Ancient"
  code/game/objects/items/storage/uplink_kits.dm
Labels: Feature

#57117 At first i thought that i was being forced to add a feature 🤮 but then i realized i was being encouraged to refactor 😄. Electrified chair is now a component instead of a failure
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/electrified_buckle.dm
  code/datums/components/electrified_buckle.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/beds_chairs/sofa.dm
  code/game/objects/structures/electricchair.dm
  code/game/objects/structures/watercloset.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/shock_kit.dm
  icons/obj/chairs.dmi
  tgstation.dme
Labels: Fix, Refactor, Sprites

#57350 You can no longer sentience tourist bots
  code/modules/mob/living/simple_animal/friendly/robot_customer.dm
Labels: Fix

#57349 Mines no longer get triggered by directional lights
  code/game/objects/effects/mines.dm
Labels: Fix

#57347 Lavaland clownplanet ruin no longer kills clowns
  _maps/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
Labels: Fix, Map Edit

#57346 Fix borgos infinite cable restrain
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/cable.dm
Labels: Fix

#57344 Remove sleep() from hydroponics.dm
  code/modules/hydroponics/hydroponics.dm
Labels: Code Improvement

#57317 Fix inability to demote certain subordinates with the ID card app.
  code/modules/modular_computers/file_system/programs/card.dm
Labels: Fix, GBP: No Update

#57246 Changes how organ failure is processed to make it more interesting, and ports liver to the new system.
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/liver.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Feature

#57360 Fix stacking of blast doors and shutters from crafting
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/recipes.dm
Labels: Fix

#57367 Creates offstation variants of the protolathe and circuit imprinter for offstation and ghost roles.
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  code/__DEFINES/machines.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/research/designs.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/bluespace_designs.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/research/designs/computer_part_designs.dm
  code/modules/research/designs/electronics_designs.dm
  code/modules/research/designs/experisci_designs.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/mining_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/designs/smelting_designs.dm
  code/modules/research/designs/stock_parts_designs.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/machinery/circuit_imprinter.dm
  code/modules/research/machinery/protolathe.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Balance/Rebalance, Map Edit

#57351 Improves SecHUD logic in modcom tablets when worn in the wear_id slot
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/hardware/card_slot.dm
Labels: Fix

#57352 moves the definition for transfer_blood to the file for gloves
  code/modules/clothing/gloves/_gloves.dm
  code/modules/detectivework/footprints_and_rag.dm
Labels: Code Improvement

#57345 Fixes runtimes from firing projectiles, adds unit test for firing guns
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/guns/misc/blastcannon.dm
  code/modules/projectiles/projectile.dm
  code/modules/unit_tests/projectiles.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
Labels: Fix

#57195 Scanner gates now have wires/interact with signalers.
  code/__DEFINES/wires.dm
  code/datums/wires/scanner_gate.dm
  code/game/machinery/scan_gate.dm
  icons/obj/machines/scangate.dmi
  tgstation.dme
Labels: Feature, Sprites

#57318 Minor typo and comment fixes follow-up for ID card rework
  code/game/objects/items/cards_ids.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/shuttle/arrivals.dm
Labels: GBP: No Update

#57332 Adds departmental sec officers to the crew monitor.
  code/game/machinery/computer/crew.dm
Labels: Fix

#57368 Fixes an oversight with monkeys and revenant essence draining but my branch exists
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
Labels: Fix

#57343 Fixes chawanmushi, Chef mains and lizards rejoice.
  code/game/objects/items/food/egg.dm
  code/game/objects/items/food/pastries.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Fix

#57334 Unhackable safes no longer mention their service panel in their examine.
  code/game/objects/items/storage/secure.dm
Labels: Fix

#57369 Fixes another broken announcer sound (and removes a copy-pasted file)
  code/datums/announcers/default_announcer.dm
  code/datums/announcers/intern_announcer.dm
  sound/ai/intern/harmalarm.ogg
Labels: Fix, Sound

#57348 No more negative blood levels, defibs should no longer add toxin damage for slimepeople.
  code/game/objects/items/defib.dm
  code/modules/mob/living/carbon/damage_procs.dm
Labels: Fix

#57258 Fixes crafted foods not getting reagents from its contents
  code/datums/components/food/edible.dm
Labels: Fix

#57339 Add Restaurant and Bar Holosigns to the Protolathe
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#57310 Crystallizer Hotfix 2 - Piping Boogaloo
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
Labels: Fix, GBP: No Update

#57333 Re-adds agent ID cards to various syndicate uplink kits.
  code/game/objects/items/storage/uplink_kits.dm
Labels: Fix

#57315 Tweaks cryostylane to use the new reaction mechanics, incorporating stasis iceblocks, freezing, temporary organ decay prevention and surgery speed modifiers.
  code/__DEFINES/reagents.dm
  code/__DEFINES/status_effects.dm
  code/datums/components/rot.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living_defines.dm
  code/modules/reagents/chemistry/equilibrium.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/impure_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/surgery/surgery_step.dm
Labels: Feature

#57330 Weakref docs
  code/datums/weakrefs.dm
Labels: Code Improvement, Documentation

#56863 GODMODE prevents nearly all types of stuns
  code/modules/mob/living/status_procs.dm
Labels: Fix

#57400 Refactor folder & consistency
  code/modules/paperwork/folders.dm
  tgui/packages/tgui/interfaces/Folder.js
Labels: Quality of Life, Refactor, UI

#57289 Clipboards: tgui and better functionality
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/paper.dm
  tgui/packages/tgui/interfaces/Clipboard.js
Labels: Feature, UI

#57396 Beauty element fixes for hard-dels and super-beauty
  code/datums/elements/beauty.dm
  code/game/atoms.dm
Labels: Fix

#57432 Flush queue in preloading part of tgui_panel
  code/modules/tgui_panel/tgui_panel.dm
Labels: Fix, UI, Verified :heavy_check_mark:

#56258 Icebox Wendigo Buff + Crusher Trophies
  _maps/RandomRuins/IceRuins/icemoon_surface_asteroid.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_mining_site.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_lavaland.dmm
  code/datums/components/crafting/recipes.dm
  code/datums/status_effects/buffs.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/clockwork_knight.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wolf.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/ice_moon/artifacts.dmi
  icons/obj/lavaland/artefacts.dmi
  tgstation.dme
Labels: Balance/Rebalance, Feature, Fix, Map Edit, Sprites

#57398 Makes the var-edited Kilo spiders a subtype
  _maps/map_files/KiloStation/KiloStation.dmm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Labels: Map Edit

#57394 Fixes the Deltastation Brig flash
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Atomic, Fix, Map Edit

#57397 Fixes monkeys being unable to wear pet collars
  code/modules/clothing/neck/_neck.dm
Labels: Fix

#57380 patches out a radioactive microlaser tech, makes radioactive microlasers not knock out rad-immune creatures
  code/game/objects/items/devices/traitordevices.dm
Labels: Balance/Rebalance, Fix

#57383 Standardises Donk Co. stylisation
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  code/game/objects/items/emags.dm
  code/game/objects/items/hot_potato.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/storage/belt.dm
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
  code/modules/ruins/spaceruin_code/listeningstation.dm
Labels: Grammar and Formatting, Map Edit

#57374 restaurant customers now have a neuter gender
  code/modules/mob/living/simple_animal/friendly/robot_customer.dm
Labels: Atomic, Fix

#57381 Removes the excited cleanup subprocess
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/air.dm
  code/modules/atmospherics/Atmospherics.md
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Labels: Atmospherics, Fix, Removal

#57379 Breads put back into bread instead of misc
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
Labels: Code Improvement

#57439 Fix syntax error in recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
Labels: Fix, GBP: No Update

#57389 Defines some traits and cleans it out a little
  code/__DEFINES/traits.dm
  code/datums/brain_damage/severe.dm
  code/datums/mutations/body.dm
  code/datums/mutations/space_adaptation.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/items/body_egg.dm
  code/game/objects/items/implants/implant_exile.dm
  code/game/objects/items/implants/implant_mindshield.dm
  code/game/objects/items/stunbaton.dm
  code/game/objects/items/weaponry.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/surgery/advanced/bioware/cortex_folding.dm
  code/modules/surgery/advanced/bioware/ligament_hook.dm
  code/modules/surgery/advanced/bioware/ligament_reinforcement.dm
  code/modules/surgery/advanced/bioware/muscled_veins.dm
  code/modules/surgery/advanced/bioware/nerve_grounding.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/tongue.dm
Labels: Code Improvement

#57324 Extends Airlock Sight
  code/game/machinery/doors/airlock.dm
Labels: Atomic, Code Improvement, Fix

#57273 Fix multiz piping issue
  code/game/objects/items/RPD.dm
  code/modules/atmospherics/machinery/pipes/multiz.dm
Labels: Fix

#57395 Cayenne can pick up the nuclear authentication disk
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  code/__DEFINES/achievements.dm
  code/datums/achievements/misc_achievements.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  icons/UI_Icons/Achievements/Misc/cayenne_disk.png
  icons/mob/carp.dmi
Labels: Feature, Map Edit, Needs documentation, Sprites

#57419 Way way nerfs sashimi price
  code/game/objects/items/food/meat.dm
Labels: Balance/Rebalance

#57418 Drink color change fix
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Fix

#57406 Fixes ID trim singletons ignoring config flags.
  code/controllers/subsystem/id_access.dm
  code/controllers/subsystem/ticker.dm
  code/datums/id_trim/jobs.dm
Labels: Fix, Quality of Life

#57392 Adds the senders ckey to cross-server msgs (for admin)
  code/datums/world_topic.dm
  code/game/machinery/computer/communications.dm
Labels: Administration, Atomic

#57399 Juice boxes no longer turn into paper cups
  code/modules/food_and_drinks/drinks/drinks.dm
Labels: Fix

#57407 Departmental sec officers now appear on the crew manifest as sec.
  code/datums/datacore.dm
  code/modules/jobs/jobs.dm
Labels: Fix

#57409 Fixes spacing issue in Intern greet message.
  code/modules/antagonists/ert/ert.dm
Labels: Grammar and Formatting

#57278 freezers can't be build on same layer pipes
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Labels: Fix

#57408 Put unit tests in a box, fixes sporradic gun test failure
  _maps/templates/unit_tests.dmm
  code/game/objects/effects/landmarks.dm
  code/modules/unit_tests/chain_pull_through_space.dm
  code/modules/unit_tests/combat.dm
  code/modules/unit_tests/hydroponics_harvest.dm
  code/modules/unit_tests/projectiles.dm
  code/modules/unit_tests/spawn_humans.dm
  code/modules/unit_tests/teleporters.dm
  code/modules/unit_tests/unit_test.dm
Labels: Fix, Map Edit, Unit Tests

#57462 Partial revert of datum poll creation, fixes duplicated irv votes
  code/modules/mob/dead/new_player/poll.dm
Labels: Revert

#57401 Allows pAI to be emagged
  code/modules/mob/living/silicon/pai/pai.dm
Labels: Feature, Good First PR

#57443 Fixes dumb code breaking toggle of playtime exempt status.
  code/modules/jobs/job_report.dm
Labels: Fix

#57437 Improves the chemical analyser to give you details on impurity and gives an % output in line with other purity descriptions
  code/modules/reagents/chemistry/items.dm
Labels: Quality of Life

#57438 Window Spawners Don't In Fact, Belong On Top Of Walls
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#57430 Fixed durathread golems' warped legs.
  icons/mob/human_parts.dmi
Labels: Fix, Sprites

#57426 Fixes multiver's greater than operand to include equal to and scales the max medibonus to purity.
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
Labels: Fix

#57416 Fixes the foam finger rocket launcher killing the server
  code/modules/projectiles/boxes_magazines/internal/grenade.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/magic/wand.dm
Labels: Fix

#57422 Removes copypasta from cult/master/remove_innate_effects()
  code/modules/antagonists/cult/cult.dm
Labels: Atomic, Code Improvement

#57440 Deletes the red corner siding haunting Kilo's security office
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#57434 If you get qdeleted while crystalizing as ethereal, you no longer get super-owned
  code/modules/surgery/organs/heart.dm
Labels: Fix

#57325 Cost-cutting initiative removes Lattice Reinforcements from underneath Walls and Floors.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#57428 Space Dragons are now actually capable of flight.
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
Labels: Fix

#57431 Hieroclub teleportation now calls do_teleport() as it should be .
  code/modules/mining/lavaland/necropolis_chests.dm
Labels: Fix

#57444 Improves Chav to be more chav
  code/datums/mutations/speech.dm
  strings/chav_replacement.json
Labels: Quality of Life

#57448 Remove Status Bar, Move Command Bar to Chat
  interface/skin.dmf
  tgui/packages/tgui-panel/index.js
Labels: Refactor, UI

#57371 Emag wearing and showing
  code/game/objects/items/emags.dm
  icons/mob/clothing/id.dmi
Labels: Feature, Sprites

#57461 Check node version in CBT
  .github/RUNNING_A_SERVER.md
  BUILD.bat
  README.md
  tools/bootstrap/node_.ps1
  tools/build/README.md
  tools/build/build.js
Labels: GitHub, Quality of Life, Tools

#57457 Buildmode now respects your dir for turfs
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/fill.dm
Labels: Administration, Verified :heavy_check_mark:

#57460 Adds ability to request the spare ID safe codes on shifts with no captain or acting captain.
  code/controllers/subsystem/job.dm
  code/game/machinery/computer/communications.dm
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
Labels: Feature, UI

#57453 Fixes broken carbonation unit on Soda Dispensors: Fizzy lives!
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  icons/obj/drinks.dmi
Labels: Feature, Sprites

#57441 Fix oversight where chameleon/agent ID cards lacked and wiped their own trims and access
  code/game/objects/items/cards_ids.dm
Labels: Fix

#57456 Adds Armhulen's PR of Dennok's shuttle decal PR with Mothblocks' reviews
  code/__DEFINES/dcs/signals.dm
  code/datums/elements/decal.dm
  code/modules/shuttle/on_move.dm
Labels: Fix

#57424 Fixes a potential exploit allowing livers to become increasingly immune to alcohol and lungs inheriting a different types' air resistances
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: Fix

#57393 Bitflags urgent (cult cannot make runes/ build structures in maint, blobbo cant place core in library and few other spots) fix
  code/game/area/areas/centcom.dm
  code/game/area/areas/holodeck.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/shuttles.dm
  code/game/area/space_station_13_areas.dm
  code/modules/mining/equipment/survival_pod.dm
Labels: Fix

#57274 Fix malf AI from being able to blow up pipes and other components
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
Labels: Fix

#57499 Fix tgui reloading
  .gitignore
  tgui/packages/tgui-dev-server/reloader.js
Labels: Fix, UI

#57420 Adds extended Centcom support for ID console app and misc fixes
  code/controllers/subsystem/id_access.dm
  code/modules/modular_computers/file_system/programs/card.dm
  tgui/packages/tgui/interfaces/NtosCard.js
Labels: Feature, Fix, UI

#57472 adds the jumpsuit variants of skirts to the curadrobe
  code/modules/vending/wardrobes.dm
Labels: Quality of Life

#57474 Makes the 'snowman head' follow the naming norm
  code/modules/clothing/head/misc.dm
Labels: Atomic, Grammar and Formatting

#57454 wall runtime fix
  code/game/turfs/closed/walls.dm
Labels: Atomic, Fix

#57463 Adds Directional Presets To Several Common Wall Mounts For Mapping
  code/game/machinery/firealarm.dm
  code/game/machinery/newscaster.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/structures/extinguisher.dm
Labels: Code Improvement, Map Edit

#57402 Right-click to remove carbon-copies
  code/modules/paperwork/carbonpaper.dm
Labels: Quality of Life

#57470 His Grace Icon Refactor and Fixes
  code/game/objects/items/his_grace.dm
  code/game/objects/items/toys.dm
  icons/obj/items_and_weapons.dmi
  icons/obj/storage.dmi
Labels: Feature, Refactor, Sprites

#57447 Adds Mexican tourists to the restaurant system, plus some QOL tweaks.
  code/game/objects/items/food/misc.dm
  code/game/objects/items/food/pie.dm
  code/modules/food_and_drinks/restaurant/_venue.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/mob/tourists.dmi
  icons/obj/device.dmi
  sound/creatures/tourist/tourist_talk_mexican.ogg
  strings/names/mexican_prefix.txt
Labels: Feature, Quality of Life, Sound, Sprites

#57186 Dog AI 2.0
  code/__DEFINES/ai.dm
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/path.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/click.dm
  code/controllers/subsystem/throwing.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/dog/dog_behaviors.dm
  code/datums/ai/dog/dog_controller.dm
  code/datums/ai/movement/_ai_movement.dm
  code/datums/ai/movement/ai_movement_dumb.dm
  code/datums/ai/movement/ai_movement_jps.dm
  code/datums/components/spinny.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  tgstation.dme
Labels: Feature

#57471 Replaces Jump to Mob with Spawners Menu
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  icons/hud/screen_ghost.dmi
Labels: Feature, Sprites

#57487 fixes cayenne being invincible
  code/modules/mob/living/simple_animal/hostile/carp.dm
  icons/mob/guardian.dmi
Labels: Fix, GBP: No Update, Sprites

#57131 Fix issues with martial arts attacks not registering
  code/__DEFINES/combat.dm
  code/_onclick/click.dm
  code/datums/martial/_martial.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
Labels: Fix, Stale

#57455 plastic flap air wall fix
  code/game/objects/structures/plasticflaps.dm
Labels: Fix

#57495 Increases the GBP value of sprite PRs to 3.
  .github/gbp.toml
Labels: GitHub, Tools

#57509 Replaces "tweak" with "qol" in CI Changelog valid prefixes list
  tools/ss13_genchangelog.py
Labels: Tools

#57498 Grav gen sound a bit less loud
  code/datums/looping_sounds/machinery_sounds.dm
Labels: Sound

#57485 Small Plasmamen helmet fixes
  code/modules/clothing/spacesuits/plasmamen.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Fix, Sprites

#57488 Resprites the kitchen knife!
  icons/obj/kitchen.dmi
Labels: Sprites

#57480 glass bottles smash/splash on right click like the rest of bottles and beakers
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
Labels: Fix

#57481 Gives ERT Medical Officers a box of plushies
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/outfits/ert.dm
Labels: Feature

#57478 Removes delta_time from the atmos system.
  code/__DEFINES/atmospherics.dm
  code/controllers/subsystem/air.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  tgui/packages/tgui/interfaces/Crystallizer.js
Labels: Atmospherics, Balance/Rebalance, Removal, UI

#57476 Removes the upgraded h2 axe
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/fireaxe.dm
  icons/obj/items_and_weapons.dmi
Labels: Removal, Sprites

#57497 Tweaks to robo-tourists
  code/__DEFINES/food.dm
  code/controllers/subsystem/restaurant.dm
  code/datums/ai/robot_customer/robot_customer_behaviors.dm
  code/modules/food_and_drinks/restaurant/_venue.dm
  code/modules/food_and_drinks/restaurant/generic_venues.dm
  code/modules/mob/living/simple_animal/friendly/robot_customer.dm
Labels: Balance/Rebalance, Quality of Life

#57469 Greatly improve give/remove/general spell VV experience.
  code/__DEFINES/vv.dm
  code/modules/admin/admin_verbs.dm
  code/modules/spells/spell.dm
Labels: Administration

#57492 changes the filepath of the gondola transformation drug to be more boring
  code/game/objects/items/food/meat.dm
  code/game/objects/items/food/pastries.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code Improvement, Good First PR
