Repository tgstation/tgstation, pull requests merged in 2021-11, with the labels that each got.

#62476 stops aheal from deleting all restraints in target's inventory
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix, hacktoberfest-accepted

#62462 Allows pAI's to print photographs for 10 ram
  code/modules/mob/living/silicon/pai/software.dm
  code/modules/photography/camera/camera.dm
  code/modules/photography/camera/silicon_camera.dm
Labels: Content Expansion

#62236 Fixes issue with catwalk floors being added to each other ad infinitum.
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/catwalk_plating.dm
Labels: Fix, Map Edit

#62487 Fixes names when securing ivanov board
  code/modules/vehicles/mecha/mecha_construction_paths.dm
Labels: Grammar and Formatting

#62170 Adds shaking soda cans, buffs throwing soda cans at people
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  sound/attributions.txt
  sound/effects/can_pop.ogg
  sound/effects/can_shake.ogg
Labels: Sound, Balance/Rebalance, Mechanic

#62426 brain washing now cures up to lobotomy tier traumas
  code/modules/mob/living/brain/brain_item.dm
Labels: Balance/Rebalance

#62325 Refactored changeling cellular emporium UI
  tgui/packages/tgui/interfaces/CellularEmporium.js
  tgui/packages/tgui/interfaces/CellularEmporium.tsx
Labels: Fix, Refactor, Stale, UI

#62329 Adds garment bags to reduce locker clutter
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  icons/obj/storage.dmi
  tgstation.dme
Labels: Sprites, Quality of Life

#62081 Changes Plasmamen belt tanks volume and the rate that their lungs consume plasma to 1/4 of the previous value.
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/game/objects/items/tanks/tank_types.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/unit_tests/breath.dm
Labels: Balance/Rebalance, Unit Tests

#62302 Made integrated circuits duplicatable through the module printer
  code/__DEFINES/traits.dm
  code/__DEFINES/wiremod.dm
  code/modules/wiremod/core/component.dm
  code/modules/wiremod/core/component_printer.dm
Labels: Stale, Content Expansion

#62503 De-hardcodes accessory dmi files
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories.dm
Labels: Code Improvement

#62482 objectively terrible solution to the captain's gas mask scaring people with Greytider Phobia
  code/_globalvars/traumas.dm
Labels: Fix, hacktoberfest-accepted

#62443 Syringe guns new sprite and become bulky
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/projectiles/guns/special/syringe_gun.dm
  code/modules/uplink/uplink_items.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/64x_guns_left.dmi
  icons/mob/inhands/weapons/64x_guns_right.dmi
  icons/obj/guns/syringegun.dmi
Labels: Sprites, Balance/Rebalance

#62489 ICEBOX Cargo: Gives Cargo an Exploration Drone Bay, finally
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  code/game/area/space_station_13_areas.dm
  icons/turf/areas.dmi
Labels: Sprites, Map Edit, Content Expansion

#62517 Update the Readme file
  README.md
Labels: GitHub

#62429 Champions of Evil + (Plus sorts the traitor flavor json and global lists)
  code/__DEFINES/antagonists.dm
  strings/traitor_flavor.json
Labels: Content Expansion

#62444 Shapeshift code improvement (+vent gib fix)
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/research/xenobiology/crossbreeding/_mobs.dm
  code/modules/spells/spell_types/shapeshift.dm
Labels: Fix

#62307 Adds the assembly shell
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/shell/assembly.dm
  icons/obj/assemblies/new_assemblies.dmi
  tgstation.dme
Labels: Sprites, Content Expansion

#62499 Tweaks obsession to allow better interaction
  code/datums/brain_damage/creepy_trauma.dm
Labels: Balance/Rebalance

#62490 Icebox map merge, AT and genturf cleanup
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit

#60000 Locker based combat, evolved.
  code/__DEFINES/dcs/signals.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/recycling/disposal/bin.dm
Labels: Mechanic, RED LABEL

#62460 uses cooldown system for vampire drain
  code/modules/mob/living/carbon/human/species_types/vampire.dm
Labels: Code Improvement

#61919 Undoes "Removes CHECK_TICK from overlays, following the same theory as instant explosions" (#58382)
  code/controllers/subsystem/overlays.dm
Labels: Performance, Test Merge Candidate, RED LABEL

#62549 [s] Fixes exploits
  code/datums/components/religious_tool.dm
  code/modules/holodeck/computer.dm
Labels: Fix, Priority: High

#62406 Adds a note in the guide for contributors and the PR template to explain what GBP is
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation, GitHub

#62561 [s] Fixes an exploit that allowed players to spawn arbitrary paths
  code/datums/components/religious_tool.dm
Labels: Fix

#62562 Removed myself from sound and icon codeowners spam
  .github/CODEOWNERS
Labels: GitHub

#62512 [MDB IGNORE] Adds directional prison intercoms
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/items/devices/radio/intercom.dm
Labels: Fix, Map Edit, Quality of Life

#62511 Fixes NODROP guns dropping anyway when shooting yourself clumsily in the leg
  code/modules/projectiles/gun.dm
Labels: Fix

#62505 liches can no longer embed phylactery grenades inside of indestructible structures
  code/game/objects/items/spear.dm
Labels: Fix

#62491 Fixes Tramstation's emitter wiring and engine
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#62519 Deletes the unused `/obj/item/card/data` types.
  code/game/objects/items/cards_ids.dm
Labels: Code Improvement

#62532 Stops fluid ducts from duplicating when unwrenched
  code/modules/plumbing/ducts.dm
Labels: Fix

#62533 AtmoZphere (tablet program) will show the tile's temperature as both °C and K now.
  code/modules/modular_computers/file_system/programs/atmosscan.dm
  tgui/packages/tgui/interfaces/NtosAtmos.js
Labels: UI

#62538 Blind mobs can now smell what the oven is cooking. Plus punctuation.
  code/datums/components/bakeable.dm
Labels: Grammar and Formatting, Fix

#62234 You can unpack bibles into new altars of the gods
  code/_globalvars/religion.dm
  code/game/objects/items/storage/book.dm
  code/modules/religion/religion_structures.dm
Labels: Stale, Quality of Life

#62563 Fixes exploit that allowed players to disable the safety of holodeck consoles without the proper conditions being followed
  code/modules/holodeck/computer.dm
Labels: Fix

#62525 Vertical alignment for tgui button content
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/styles/components/Button.scss
Labels: UI

#62542 Improves the visible message from burning limbs in plasma lava
  code/modules/awaymissions/mission_code/snowdin.dm
Labels: Fix

#62527 Makes the party alarm flash less
  icons/turf/areas.dmi
Labels: Sprites

#62522 Makes the scream emote sound use a species proc rather than being a long list
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
Labels: Code Improvement

#62584 Revert "Vertical alignment for tgui button content"
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/styles/components/Button.scss
Labels: Fix, UI, Revert

#62259 Fixes curator PDA overlays.
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  icons/obj/pda.dmi
Labels: Sprites, Fix

#62261 Converts the champagne cork item to a projectile.
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  icons/obj/drinks.dmi
Labels: Sprites, Balance/Rebalance, Fix, Stale

#62434 Fixes mistakes on previous envirosuit PR
  icons/mob/clothing/under/plasmaman.dmi
Labels: Sprites, GBP: No Update

#62537 Security Officer, Detective and Warden spawn with tablets.
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
Labels: Content Expansion

#62544 Makes the Disco Elysium jumpsuits non adjustable
  code/modules/clothing/under/jobs/security.dm
Labels: Fix

#62550 Fixes rad storm oversight
  code/datums/weather/weather_types/radiation_storm.dm
Labels: Fix

#62568 [s] Security vulnerability patch
  code/__DEFINES/text.dm
  code/__HELPERS/_string_lists.dm
  code/__HELPERS/files.dm
  code/_globalvars/regexes.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/game/machinery/camera/camera.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgui/tgui_window.dm
Labels: Code Improvement, Priority: High, Good First PR

#62556 Removes an erroneous to_chat(world) call
  code/game/objects/items/plushes.dm
Labels: Code Improvement

#62552 Improves the visible message from chest bone wounds
  code/datums/wounds/bones.dm
Labels: Fix

#62130 custom say emotes, or in other words, radio emotes
  code/__DEFINES/say.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_say.dm
Labels: Mechanic

#62413 Adds the color matrix editor
  code/__DEFINES/vv.dm
  code/_globalvars/colorvars.dm
  code/game/atoms.dm
  code/modules/admin/view_variables/color_matrix_editor.dm
  code/modules/admin/view_variables/get_variables.dm
  icons/misc/colortest.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/ColorMatrixEditor.js
Labels: Sprites, Administration, Stale, UI, Needs Pictures

#62572 Fixes cold seiver absolutely murdering rad patients
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
Labels: Fix

#62340 Spirit holding component won't let you awaken another spirit until it's done
  code/datums/components/spirit_holding.dm
Labels: Fix, Stale

#62612 Fixes map change
  code/datums/map_config.dm
Labels: Fix, Priority: High

#62602 Fixes string_list procs when used with filepaths.
  code/__HELPERS/_string_lists.dm
  code/__HELPERS/files.dm
Labels: Priority: High

#62623 Makes maps be able to load correctly again
  code/__DEFINES/maps.dm
  code/_compile_options.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/modules/admin/verbs/maprotation.dm
Labels: Fix, Documentation, Code Improvement

#62574 Adds a generic fallback icon for clothes inhands
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
Labels: Sprites

#62592 Fixes emissive appearances of vending machines being removed when the wire panel is opened/closed
  code/modules/vending/_vending.dm
Labels: Fix, Verified :heavy_check_mark:

#62590 Fixes a few issues with double bedsheets.
  code/game/objects/structures/bedsheet_bin.dm
Labels: Fix

#62471 Makes dash actions and Bluespace Prophecy trauma utilise teleport code instead of forced movement code.
  code/datums/brain_damage/special.dm
  code/datums/dash_weapon.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/ninja/energy_katana.dm
Labels: Fix

#62598 TramStation: Add a ticket machine to HoP line
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#62613 Fixes Centcom suit stuff
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/suit.dmi
Labels: Sprites

#62597 aliens can no longer clear eggs before the hugger bursts out
  code/game/objects/structures/aliens.dm
Labels: Fix

#62498 Fixes sleeping carp wave kick dealing insane damage + wounds, fixes neckgrab throws not being harder
  code/datums/martial/sleeping_carp.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Balance/Rebalance, Fix

#62620 Map load unit testing and directory whitelisting - Mojave Sun is a really cool downstream, like and subscribe for longer PR names. oranges was here and made this github PR name much longer, thereby proving once and for all that upstreams do add value to the downstream not just endless amounts of refactoring because we can't write any api's in a modular fashion the first time around so have to update them later to be modular. Anyway do you think a taco counts as a sandwich?
  code/__DEFINES/maps.dm
  code/_compile_options.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/load_map_security.dm
Labels: Fix, Unit Tests

#62614 Suicicide -> Suicide
  code/game/objects/items/toys.dm
Labels: Grammar and Formatting

#62596 TramStation: Connect Engineering Console
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#62497 anonymous names fixes
  code/modules/admin/verbs/anonymousnames.dm
Labels: Fix

#62624 Replaces a portion of C-style for loops with the more commonplace for loops, which are faster.
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/tanks/watertank.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/abductor/machinery/dispenser.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/gang/handler.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/fake_virus.dm
  code/modules/events/shuttle_loan.dm
  code/modules/events/wormholes.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mapping/space_management/space_transition.dm
  code/modules/meteors/meteors.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/mob/transform_procs.dm
  code/modules/power/lighting/light.dm
  code/modules/procedural_mapping/mapGenerator.dm
  code/modules/procedural_mapping/mapGenerators/cellular.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/reagents/chem_splash.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/crossbreeding/industrial.dm
  code/modules/research/xenobiology/crossbreeding/selfsustaining.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/conjure.dm
  code/modules/spells/spell_types/projectile.dm
  code/modules/vending/_vending.dm
Labels: Code Improvement

#62588 Fixes the Radioactive Microlaser irradiating humans wearing clothing that protects against radiation
  code/game/objects/items/devices/traitordevices.dm
Labels: Fix

#62526 Add healing aura component
  code/__DEFINES/colors.dm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/processing/aura_healing.dm
  code/datums/components/aura_healing.dm
  code/datums/status_effects/buffs.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/mob/living/simple_animal/shade.dm
  tgstation.dme
Labels: Refactor

#62510 Beepsky refactor and Bot code improvement
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/robots.dm
  code/_onclick/item_attack.dm
  code/datums/wires/robot.dm
  code/game/machinery/transformer.dm
  code/game/objects/buckling.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/mob/dead/observer/login.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/SuperBeepsky.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/hygienebot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/transform_procs.dm
  code/modules/spells/spell_types/conjure.dm
Labels: Refactor, Map Edit

#62639 Adds yawn propagation
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/mobs.dm
  code/modules/mob/living/emote.dm
Labels: Mechanic

#62520 Add the known alts panel, which prevents suspicious login logs for whitelisted ckeys
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/admin.dm
  code/__DEFINES/subsystems.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/known_alts.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/tgui_panel/telemetry.dm
  tgstation.dme
Labels: Administration, SQL, SQL Updated

#62603 Ports BeeStation Cloak sprites by Naevii!
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/cloaks.dmi
Labels: Sprites

#62631 Prevents chaplains from choosing 30 force null rods (oh god)
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#62640 Add wallframe icon for turret controller
  code/game/machinery/porta_turret/portable_turret.dm
  icons/obj/machines/turret_control.dmi
Labels: Sprites

#62611 Blacklists some reagents that are about unobtainable short of RNG seeds and antagonists from randomized recipes.
  code/__DEFINES/reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/special.dm
Labels: Fix

#62675 Fixes the issues with the ban video by moving the link to ban appeals to after the video.
  code/modules/admin/sql_ban_system.dm
Labels: Fix, Priority: High

#62653 Fixes numeric prefs not working with TGUI dropdowns that might return a string instead of a number
  code/modules/client/preferences/_preference.dm
Labels: Fix

#62630 Made admin circuits more abstract, they no longer end up in the contents of the shell.
  code/__DEFINES/traits.dm
  code/datums/components/shell.dm
  code/modules/wiremod/components/action/pathfind.dm
  code/modules/wiremod/components/atom/direction.dm
  code/modules/wiremod/components/atom/gps.dm
  code/modules/wiremod/components/atom/health.dm
  code/modules/wiremod/components/atom/hear.dm
  code/modules/wiremod/components/atom/pinpointer.dm
  code/modules/wiremod/components/sensors/pressuresensor.dm
  code/modules/wiremod/components/sensors/tempsensor.dm
  code/modules/wiremod/components/string/tostring.dm
  code/modules/wiremod/core/component.dm
  code/modules/wiremod/core/integrated_circuit.dm
  code/modules/wiremod/shell/bot.dm
Labels: Administration

#62536 Drop before delete used "foodtrash"items
  code/datums/elements/food/food_trash.dm
Labels: Fix

#62581 Fixes invalid turfs on icebox
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit

#62583 Fixes for Icebox science remap
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit, GBP: No Update

#62404 Refactors viro's Pandemic UI
  code/modules/reagents/chemistry/machinery/pandemic.dm
  tgui/packages/tgui/interfaces/Pandemic.js
  tgui/packages/tgui/interfaces/Pandemic.tsx
Labels: Fix, Refactor, UI

#62496 Ants can't traumatize ghosts, ants show up on top of pipes + Ant QOL
  code/datums/status_effects/debuffs.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix, Quality of Life

#62662 Smoking DLC - Bad Lungs Pack
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/quirks/negative.dm
  code/game/objects/items/cigs_lighters.dm
Labels: Fix, Content Expansion

#62650 [metastation] small pipe wire fix in library
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#62608 Stops the portable scrubbers outside atmos on tramstation from melting if you wrench them down
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#62642 You can't type with boxing gloves on.
  code/modules/clothing/gloves/boxing.dm
Labels: Fix, Verified :heavy_check_mark:

#62632 fixes sleepers not removing important_recursive_contents on exiting
  code/game/machinery/Sleeper.dm
Labels: Fix

#62627 Fixes some connection problems with response signals for integrated circuits
  code/modules/wiremod/datatypes/signal.dm
Labels: Fix

#62645 Cleans up some outdated atmos documentation
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Labels: Documentation, GBP: No Update

#62649 removes internal functions from janicart code
  code/modules/vehicles/pimpin_ride.dm
Labels: Code Improvement

#62656 Headset mousedrop like PDA
  code/game/objects/items/devices/radio/headset.dm
Labels: Quality of Life

#62665 Fixes missing award icons by filling the assets list on runtime. Plus new icons and unit test.
  code/__DEFINES/misc.dm
  code/datums/achievements/_awards.dm
  code/datums/achievements/boss_achievements.dm
  code/datums/achievements/job_achievements.dm
  code/datums/achievements/mafia_achievements.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/achievements/skill_achievements.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/achievements.dm
  icons/ui_icons/achievements/achievements.dmi
  icons/ui_icons/achievements/baseboss.png
  icons/ui_icons/achievements/basemafia.png
  icons/ui_icons/achievements/basemisc.png
  icons/ui_icons/achievements/baseskill.png
  icons/ui_icons/achievements/boss/bbgum.png
  icons/ui_icons/achievements/boss/colossus.png
  icons/ui_icons/achievements/boss/drake.png
  icons/ui_icons/achievements/boss/hierophant.png
  icons/ui_icons/achievements/boss/legion.png
  icons/ui_icons/achievements/boss/miner.png
  icons/ui_icons/achievements/boss/swarmer.png
  icons/ui_icons/achievements/boss/tendril.png
  icons/ui_icons/achievements/default.png
  icons/ui_icons/achievements/mafia/hated.png
  icons/ui_icons/achievements/mafia/mafia.png
  icons/ui_icons/achievements/mafia/neutral.png
  icons/ui_icons/achievements/mafia/town.png
  icons/ui_icons/achievements/misc/ascension.png
  icons/ui_icons/achievements/misc/ashascend.png
  icons/ui_icons/achievements/misc/cayenne_disk.png
  icons/ui_icons/achievements/misc/chem_tut.png
  icons/ui_icons/achievements/misc/clownking.png
  icons/ui_icons/achievements/misc/clownthanks.png
  icons/ui_icons/achievements/misc/cult_shuttle_omfg.png
  icons/ui_icons/achievements/misc/featofstrength.png
  icons/ui_icons/achievements/misc/fleshascend.png
  icons/ui_icons/achievements/misc/frenchingthebubble.png
  icons/ui_icons/achievements/misc/helbital.png
  icons/ui_icons/achievements/misc/hotdamn.png
  icons/ui_icons/achievements/misc/jackpot.png
  icons/ui_icons/achievements/misc/longshift.png
  icons/ui_icons/achievements/misc/meteors.png
  icons/ui_icons/achievements/misc/rule8.png
  icons/ui_icons/achievements/misc/rustascend.png
  icons/ui_icons/achievements/misc/snail.png
  icons/ui_icons/achievements/misc/timewaste.png
  icons/ui_icons/achievements/misc/toolbox_soul.png
  icons/ui_icons/achievements/misc/tram_surfer.png
  icons/ui_icons/achievements/misc/upgrade.png
  icons/ui_icons/achievements/misc/voidascend.png
  icons/ui_icons/achievements/skills/mining.png
Labels: Sprites, Fix, Unit Tests

#62663 Removes the rad shielding from the Atmos hardsuit and fixes the allowed list on the Mining one.
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
Labels: Fix, Removal

#62670 Adminwho and the status panel now shows when fellow admins are readied up in pre-game lobby
  code/controllers/subsystem/ticker.dm
  code/modules/client/verbs/who.dm
  code/modules/mob/dead/dead.dm
Labels: Administration

#62578 Basic drone fuel can now be purchased from cargo.
  code/modules/cargo/packs.dm
Labels: Content Expansion

#62500 Adds logging for all Silicon rather than just Laws
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/general.dm
  code/datums/ai_laws.dm
  code/game/objects/items/AI_modules.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/world.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/laws.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  config/config.txt
Labels: Administration, Config Update

#62586 Overhauls job eligibility checking and improves job debug logging.
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/job.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Logging, Refactor, Quality of Life, 📌 Test Merge Candidate

#62621 Cyborg non direct "combat" rebalance. Airlock seal buffed, borg RCD nerfed.
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/RCD.dm
  code/game/objects/items/door_seal.dm
  code/modules/research/designs/misc_designs.dm
Labels: Balance/Rebalance

#62618 Locker Shoving Re-Reloaded
  code/__DEFINES/dcs/signals.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/recycling/disposal/bin.dm
Labels: Fix

#62681 Chem analyzer fix
  code/modules/reagents/chemistry/items.dm
Labels: Fix

#62683 Gets rid of the video for bans - Unanimous headmin approval edition
  code/modules/admin/sql_ban_system.dm
Labels: Administration

#62682 quantum pads can teleport items and unbuckled people again
  code/game/machinery/quantum_pad.dm
Labels: Fix

#62557 Fixes Fall Chance Embed Value on Mending Globules
  code/modules/mob/living/simple_animal/hostile/ooze.dm
Labels: Fix

#62468 Cyborgs can now shake up compromised carbons
  code/game/objects/items/robot/robot_items.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/status_procs.dm
Labels: Fix

#62585 Replaces the current, unreasonably long tram whiteship, with a shorter and more compact one
  _maps/shuttles/whiteship_tram.dmm
Labels: Map Edit, Quality of Life

#62418 Adds a hard limt to hfr fuel datums, moves antinob down to match it
  code/modules/atmospherics/machinery/components/fusion/hfr_fuel_datums.dm
Labels: Balance/Rebalance, Stale

#62387 RPDs can't place transit tubes directly under dense objects.
  code/game/objects/items/RPD.dm
Labels: Balance/Rebalance, Stale

#62684 Fixes "Choking (No N2)" not being cleared correctly
  code/modules/surgery/organs/lungs.dm
Labels: Fix

#62685 Chimps no longer get grumpy when you hug them or throw things with no throw force at them.
  code/_onclick/other_mobs.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/modules/mob/living/living_defense.dm
Labels: Fix

#62687 The phobia of authority will no longer make mobs afraid of regular id cards.
  code/_globalvars/traumas.dm
Labels: Fix

#62688 Stops the "You lack optic scanners, you get stunned" singularity proc from affecting blinded or dead mobs.
  code/modules/power/singularity/singularity.dm
Labels: Fix

#62690 Protects blob structures against bolts of animation
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Fix

#62692 the gluttony ruin is no longer radioactive
  _maps/RandomRuins/LavaRuins/lavaland_surface_gluttony.dmm
  code/game/machinery/doors/airlock_types.dm
Labels: Fix, Map Edit

#62680 Updates to envirosuit's virus protection values.
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
Labels: Fix

#62677 Material Scanner circuit component
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/atom/matscanner.dm
  tgstation.dme
Labels: Content Expansion

#62695 New radiation screen alert!
  icons/hud/screen_alert.dmi
Labels: Sprites

#62689 Fixes non-human and non-silicon mobs being unable to mine rock walls when bumping into them
  code/game/turfs/closed/minerals.dm
Labels: Fix

#62668 Fix random names breaking preferences
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/anonymous_themes.dm
Labels: Fix

#62707 Adamantine will now use a distinct sprite rather than metal hydrogen one.
  icons/obj/stack_objects.dmi
Labels: Sprites, Quality of Life

#62704 Reagents scanner circuit component
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/atom/reagentscanner.dm
  tgstation.dme
Labels: Content Expansion

#62676 Allow manual crafting of many atmos devices with the crafting menu
  code/__DEFINES/construction.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/recipes.dm
  code/game/machinery/pipe/construction.dm
Labels: Content Expansion

#62694 Makes priming a grenade logged in combat instead of game
  code/__HELPERS/_logging.dm
Labels: Fix, Administration

#62316 Refactors vending machine UI
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: Refactor, UI

#62717 Makes the color matrix editor log all color edits
  code/modules/admin/view_variables/color_matrix_editor.dm
Labels: Fix

#62715 Saboteur syndieborg RCD buffed so it can deconstruct rwalls again.
  code/game/objects/items/RCD.dm
Labels: Balance/Rebalance

#62705 The weapon description for energy guns now takes in consideration the number of pellets the selected mode has.
  code/modules/projectiles/guns/energy.dm
Labels: Content Expansion

#62723 Fixes #62719, exploit that let players order crates marked as special.
  code/modules/cargo/orderconsole.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
Labels: Fix

#62449 Kilostation: Gives Cargo a drone bay that isn't literally just maint (cargo + departures remap)
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Mechanic, Map Edit

#62725 Ref tracker TLC, makes unit test harddel errors more descriptive
  code/__HELPERS/_logging.dm
  code/_compile_options.dm
  code/modules/admin/view_variables/reference_tracking.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/find_reference_sanity.dm
Labels: Hard Deletes

#62718 Antag HUDs will now animate if you have multiple antagonists, and will no longer clear on deconversion
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/processing/antag_hud.dm
  code/datums/hud.dm
  code/datums/mind.dm
  code/game/alternate_appearance.dm
  code/game/machinery/computer/arena.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/team_panel.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_hud.dm
  code/modules/antagonists/abductor/abductee/abductee.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/fallen_changeling.dm
  code/modules/antagonists/creep/creep.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/fugitive/fugitive.dm
  code/modules/antagonists/fugitive/hunter.dm
  code/modules/antagonists/gang/gang.dm
  code/modules/antagonists/malf_ai/datum_malf_ai.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/space_ninja/space_ninja.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/client/client_defines.dm
  code/modules/clothing/glasses/hud.dm
  tgstation.dme
Labels: Fix, Administration, Quality of Life

#59506 Felinids don't like getting sprayed with water.
  code/__DEFINES/status_effects.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/status_effects/debuffs.dm
  code/modules/mob/living/status_procs.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Mechanic, Code Improvement

#62726 spraycanning stuff now updates its sprites on the mob
  code/game/objects/items/crayons.dm
Labels: Verified :heavy_check_mark:, Quality of Life

#62720 Fancy pipe suicide_act for all pipes
  code/game/machinery/pipe/construction.dm
Labels: Fix

#62721 Fix spelling on multilayer cable reset
  code/modules/power/cable.dm
Labels: Grammar and Formatting

#62722 Fix power constant documentation
  code/game/machinery/_machinery.dm
Labels: Documentation

#62724 [s] Fixes an exploit in chef order console that potentially let players lag the server
  code/game/machinery/computer/chef_orders/chef_order.dm
Labels: Fix

#62729 Fix diagonal camera sprites
  icons/obj/machines/camera.dmi
Labels: Sprites, Fix, GBP: No Update

#61992 Routine Cargo Departmental Deliveries
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals.dm
  code/controllers/subsystem/economy.dm
  code/datums/elements/deliver_first.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/cargo/department_order.dm
  code/modules/cargo/order.dm
  code/modules/cargo/orderconsole.dm
  code/modules/shuttle/supply.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Cargo.js
  tgui/packages/tgui/interfaces/DepartmentOrders.tsx
Labels: Balance/Rebalance, Mechanic, UI, Map Edit

#62739 Hatchet inhand resprite
  icons/mob/inhands/equipment/hydroponics_lefthand.dmi
  icons/mob/inhands/equipment/hydroponics_righthand.dmi
Labels: Sprites

#62735 Fixes #62713, exploit allowing players to purchase role restricted uplink items
  code/datums/components/uplink.dm
Labels: Fix

#62763 You can now pull tails, it makes the person happy!
  code/__DEFINES/dcs/signals.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Mechanic

#62734 Fixes the accounting machine assigning bank accounts that bluescreen vendors.
  code/datums/id_trim/jobs.dm
Labels: Fix

#62772 Fix traitor uplinks not letting you buy items that aren't restricted
  code/datums/components/uplink.dm
Labels: Fix

#62741 Adds pump between public scrubbers and waste on DeltaStation
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit
