Repository tgstation/tgstation, pull requests merged in 2021-10, with the labels that each got.

#61764 Fix the species list not scrolling, fix halloween species runtimes
  code/modules/mob/mob.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/SpeciesPage.tsx
Labels: Fix, UI

#61780 Vending machines now use their name as a title for their UI
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: UI, Quality of Life

#61751 Add preference to disable deadmin preferences in CentCom
  code/modules/admin/permissionedit.dm
  code/modules/client/preferences/admin.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/admin.tsx
Labels: Administration, UI

#61774 Fixes exosuit module toggling
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
Labels: Fix

#61775 fixes infinitely burning durand shields
  code/modules/vehicles/mecha/combat/durand.dm
Labels: Fix

#61793 fixes inextinguishable vehicles
  code/modules/vehicles/_vehicle.dm
Labels: Fix

#61783 Make tooltips use one popper, fixing mount lag
  tgui/packages/tgui-bench/tests/Tooltip.test.tsx
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/styles/components/Tooltip.scss
Labels: Fix, UI

#61788 Fixes the message when you try to order with a budget card
  code/modules/modular_computers/file_system/programs/budgetordering.dm
Labels: Grammar and Formatting

#61766 Adds Animation and Filter Components for Admin Circuits
  code/__DEFINES/wiremod.dm
  code/_globalvars/lists/wiremod.dm
  code/modules/wiremod/components/admin/animate.dm
  code/modules/wiremod/components/admin/filter.dm
  code/modules/wiremod/components/list/assoc_literal.dm
  code/modules/wiremod/datatypes/basic.dm
  code/modules/wiremod/datatypes/list.dm
  tgstation.dme
Labels: Administration

#61799 Add the ability to cancel incoming and outgoing cross comms console messages for admins
  code/__DEFINES/communications.dm
  code/datums/world_topic.dm
  code/game/machinery/computer/communications.dm
  tgstation.dme
Labels: Administration

#61742 Lizard Firebreath is now a cone of fire instead of a fireball
  code/datums/mutations/actions.dm
  code/modules/mob/living/silicon/damage_procs.dm
Labels: Balance/Rebalance

#61778 Fix random-spawns station trait spawning in bad spots (kilo + icebox)
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#61781 Tramstation Fixes
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/structures/industrial_lift.dm
Labels: Mechanic, Fix, Map Edit

#61640 Adds a new type of Experiment Scans: Machinery Scanning
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/types/scanning_machinery.dm
  code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: Content Expansion

#61499 tgui: Flex basis should be zero if grow is used
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/ObjectComponent.js
  tgui/packages/tgui/interfaces/MedicalKiosk.js
  tgui/packages/tgui/interfaces/NtosRobotact.js
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
Labels: Refactor, UI, 📌 Test Merge Candidate

#61804 Ovens can now be researched
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#61806 Fixing Tramstation maint bar doors
  _maps/map_files/tramstation/tramstation.dmm
Labels: Good First PR, Map Edit

#61655 Add local APC cache to /area
  code/game/area/areas.dm
  code/game/objects/items/apc_frame.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/modular_computers/file_system/programs/powermonitor.dm
  code/modules/power/apc.dm
  code/modules/power/lighting/light.dm
  code/modules/power/monitor.dm
  code/modules/power/power.dm
Labels: Stale

#61817 Was/Were grammar fix on Knock Off
  code/datums/components/knockoff.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/engine_goggles.dm
Labels: Grammar and Formatting

#61771 Fix SM/HFR delam accent sounds
  code/game/sound.dm
Labels: Fix

#61815 Fix Space Hotel duplicate area
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  code/game/area/areas/ruins/space.dm
Labels: Fix, Map Edit

#60767 Fixes spirit holding component not working on null rods by adding the subtype picker component to null rods
  code/datums/components/spirit_holding.dm
  code/datums/components/subtype_picker.dm
  code/game/objects/items/holy_weapons.dm
  tgstation.dme
Labels: Fix, Refactor

#61812 Exosuit directional lights and sound effects (originally done by someone else who has negative gbp)
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/mecha_actions.dm
  code/modules/vehicles/mecha/mecha_topic.dm
Labels: Sound, Content Expansion

#61797 Fix the hair dye spray's size cause I forgot to do it three months ago.
  code/game/objects/items/dyekit.dm
Labels: Fix, GBP: No Update

#61709 Getting hit by the tram will now smash people through lattice and unplated flooring
  code/game/objects/structures/industrial_lift.dm
  code/modules/mob/living/living.dm
Labels: Balance/Rebalance

#61821 Fixes nightmares not spawning
  code/__DEFINES/role_preferences.dm
  code/modules/antagonists/nightmare/nightmare.dm
  code/modules/events/nightmare.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/nightmare.ts
Labels: Fix, UI

#61820 Fix midround wizard preference
  code/__DEFINES/role_preferences.dm
Labels: Fix

#61818 Mime Fan vs Clown Enjoyer
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/brain_damage/creepy_trauma.dm
  code/datums/mood_events/generic_positive_events.dm
  code/datums/quirks/good.dm
  code/game/data_huds.dm
  code/modules/clothing/under/accessories.dm
  icons/obj/clothing/accessories.dmi
Labels: Sprites, Content Expansion

#61803 USB pumps
  code/__DEFINES/dcs/signals.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
Labels: Content Expansion

#61795 More girder building
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Quality of Life

#61784 Mapping tool cleanup time: all station edition
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#61557 The mole counts in the min checks in reactions.dm will now be multiplied by the inverse of the consumption multiplier.
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix, Atmospherics

#61593 HFR backend rework
  code/modules/atmospherics/machinery/components/fusion/hfr_defines.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_main_processes.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_procs.dm
Labels: Fix, Refactor, UI, Code Improvement

#61848 ClickOn now actually calls ranged right click attacks
  code/_onclick/click.dm
Labels: Fix

#61842 Fix cable restraint not rendering in crafting menu
  code/modules/power/cable.dm
Labels: Fix, Good First PR

#61838 move ai_laws.dm defines to robot.dm
  code/__DEFINES/robots.dm
  code/datums/ai_laws.dm
Labels: Code Improvement

#61809 Fixes Tramstation department sign arrows
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#61833 Abandoned Zoo ruin: Fix tile duplication
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
Labels: Fix, Map Edit

#61828 Fixing Lavaland Mining Shuttle
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Map Edit

#61859 cleanup of _HELPERS/game.dm
  code/__HELPERS/game.dm
  code/datums/components/spirit_holding.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/admin/verbs/ert.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/antagonists/gang/handler.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_procs.dm
  code/modules/events/abductor.dm
  code/modules/events/ghost_role.dm
  code/modules/events/holiday/xmas.dm
  code/modules/events/pirates.dm
  code/modules/events/wizard/imposter.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/lightning.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/procedural_mapping/mapGenerator.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/shuttle/arrivals.dm
  code/modules/wiremod/components/atom/pinpointer.dm
Labels: Code Improvement

#61855 Fix pod emergency storage exploit
  code/modules/shuttle/emergency.dm
Labels: Fix

#61857 Use ckeys instead of keys in key name helper proc and new_player login.
  code/modules/admin/admin.dm
  code/modules/mob/dead/new_player/login.dm
Labels: Administration

#61858 Cytology Fix 4: Removes duplicate shark sample on space sharks.
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: Fix, Removal

#61866 Removes a useless but very hilarious define and really I just want to show the rest of you that this used to be here
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
Labels: Removal, Code Improvement, Verified :heavy_check_mark:

#61835 Fix old photos being lost(?)
  code/modules/photography/_pictures.dm
Labels: Fix

#61861 Meta Medical Cold Room: Fix airlock properties
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#61863 Use airalarm/kitchen_cold_room where appropriate
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#61878 Adds Art Supplies to Kilostation Art Closet
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Priority: High, Map Edit

#61837 (Maybe) fixes panic-bunker rejecting people it shouldn't when interviews is enabled
  code/modules/client/client_procs.dm
Labels: Fix, 📌 Test Merge Candidate

#61786 Fix disky teleporting itself off the emergency shuttle on transit.
  code/datums/components/stationloving.dm
  code/modules/shuttle/docking.dm
Labels: Fix

#61900 Revert "ClickOn now actually calls ranged right click attacks"
  code/_onclick/click.dm
Labels: Revert

#61893 Removes the Redirect Folder
  tools/Redirector/Configurations.dm
  tools/Redirector/Redirect_Tgstation.dmb
  tools/Redirector/Redirect_Tgstation.dme
  tools/Redirector/Redirector.dm
  tools/Redirector/config.txt
  tools/Redirector/skin.dmf
  tools/Redirector/textprocs.dm
Labels: Removal, Tools

#61877 People banned from playing Swarmers cannot enter the Swarmer beacon
  code/modules/swarmers/swarmer_objs.dm
Labels: Fix

#61789 Surgeries that repair organs will now actually repair organs
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: Fix, GBP: No Update

#61819 Holding Facility Overhaul
  _maps/map_files/generic/CentCom.dmm
  code/game/turfs/closed/_closed.dm
Labels: Code Improvement, Map Edit, Content Expansion

#61579 RPG titles wizard event
  code/__DEFINES/dcs/signals.dm
  code/modules/events/rpgtitles.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/unassigned.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/login.dm
  icons/obj/card.dmi
  tgstation.dme
Labels: Sprites, Mechanic

#61902 fixes an ice reaction oversight
  code/__DEFINES/reagents.dm
Labels: Fix

#61868 Fix bow controlling dropped arrow
  code/modules/projectiles/guns/ballistic/bow.dm
Labels: Fix, Good First PR

#61920 Fixes borg light overlays
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#62417 Fixes mis-aligned 'Corporate Sofa' middle rear sprite & minor improvements to it.
  icons/obj/sofa.dmi
Labels: Sprites, Fix

#62428 Fixes a broken cable on metastation.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#62330 Changes the organic slurry mechanics to contain the slurry within the rat.
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: Balance/Rebalance

#62455 [FUCK] Fixes wires not being placeable
  code/modules/power/cable.dm
Labels: Fix

#62432 Nerfs felipires and dullanids.
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
Labels: Fix, Against God and Nature

#62085 Icebox Security Remap Part 1: The Preparation
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Map Edit, Quality of Life, Content Expansion

#62440 fixes a runtime with dropping advanced cards from wallets
  code/game/objects/items/cards_ids.dm
Labels: Fix

#62439 fixes sharding causing invisible mobs
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#62436 prevents brains from becoming bats
  code/modules/spells/spell_types/shapeshift.dm
Labels: Fix, hacktoberfest-accepted

#62447 Patches out the latest BRPED remote bombing exploit.
  code/__DEFINES/dcs/signals.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/research/stock_parts.dm
Labels: Fix

#62357 Vampire and Dullahan can be config enabled
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
Labels: Fix

#62416 Replaces mech bay charging floors with the iron floor variant
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/whiteship_cere.dmm
  _maps/shuttles/whiteship_donut.dmm
  code/modules/vehicles/mecha/mech_bay.dm
Labels: Map Edit

#62457 Swap fuel tank and rack position on Delta Station Auxillary Tech Storage
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#62463 Adds a Medical Records Laptop to Icebox Medbay
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#62486 re-adds the cmo spawn landmark because i forgot it on tram
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#62344 ICEBOX Engineering: Remaps the lounge (and a bit of engineering proper / atmos proper) (Also decal touchups)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Mechanic, Map Edit

#62408 Fix long ban reasons breaking rolebans
  code/modules/admin/sql_ban_system.dm
Labels: Fix, Administration, Code Improvement
