Repository tgstation/tgstation, pull requests merged in 2022-08, with the labels that each got.

#68872 Fixes alien/attack_alien harm/help intents working backwards
  code/modules/mob/living/carbon/alien/alien_defense.dm
Labels: Fix

#68913 [NO GBP] Fixes cyborg existentialism upon encountering syndicate posters
  code/modules/antagonists/traitor/components/demoraliser.dm
Labels: Fix, GBP: No Update

#68879 fixes chameleon card reset issues and makes nuke op trim have a hud icon
  code/controllers/subsystem/id_access.dm
  code/datums/id_trim/syndicate.dm
  code/datums/outfit.dm
Labels: Fix, Quality of Life

#68925 Revert "unifies security record printing"
  code/datums/datacore.dm
  code/game/machinery/computer/security.dm
  code/modules/paperwork/filingcabinet.dm
Labels: Revert

#68857 Remaps the Kilo whiteship and adjusts the kilo abandoned warehouse
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/shuttles/whiteship_kilo.dmm
Labels: Feature, Map Edit

#68754 Spinward Threat Advisory: Making Dynamic Threat Announcements Make More Sense
  _maps/icebox.json
  code/datums/map_config.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/machinery/computer/communications.dm
Labels: Feature, Map Edit

#68344 Refactors admin PMs to be hopefully more resilient
  code/__DEFINES/span.dm
  code/__HELPERS/logging/_logging.dm
  code/__HELPERS/mobs.dm
  code/datums/chatmessage.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/pray.dm
  code/modules/emoji/emoji_parse.dm
Labels: Administration, Refactor, 📌 Test Merge Candidate

#68903 Fixes Fire Cascade hurting the user
  code/modules/antagonists/heretic/magic/ash_ascension.dm
Labels: Fix

#68884 Consolidate CLEAN_TYPE flags
  code/__DEFINES/cleaning.dm
Labels: Code Improvement

#68883 Converts Supervisors Variable into Defines (mostly)
  code/__DEFINES/jobs.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
Labels: Grammar and Formatting, Code Improvement

#68880 Removes needless drop_if_replaced
  code/game/objects/items/body_egg.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/antagonists/abductor/equipment/glands/electric.dm
  code/modules/antagonists/abductor/equipment/glands/slime.dm
  code/modules/antagonists/nightmare/nightmare_organs.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/mob/living/carbon/alien/organs.dm
  code/modules/surgery/organs/appendix.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/stomach/stomach_ethereal.dm
  code/modules/surgery/organs/tongue.dm
  code/modules/zombie/organs.dm
Labels: Fix, GBP: No Update

#68875 fixes the makarov mag icon
  icons/obj/guns/ballistic.dmi
Labels: Sprites, GBP: No Update

#68873 Fixes slime attacks not getting logged
  code/game/objects/obj_defense.dm
Labels: Logging, Fix

#68847 Updates camera assemblies to balloonify & welder_act. Fixes 11 year old bug.
  code/game/machinery/camera/camera_assembly.dm
Labels: Fix, Code Improvement, Quality of Life

#68905 Blargedy Blarg Blarg Blarg - Word Filter Error Fix
  code/controllers/configuration/configuration.dm
Labels: Fix, Administration, GBP: No Update

#68773 override = TRUE for interference procs and cowboy boots
  code/modules/clothing/shoes/cowboy.dm
  code/modules/religion/sparring/sparring_datum.dm
Labels: Code Improvement

#68721 Fixes Stray Cargo Pod event runtime
  code/modules/cargo/packs.dm
  code/modules/events/stray_cargo.dm
Labels: Fix

#68699 Fixes can_inject using the wrong body zones
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#68627 Refactors pandemic machine
  code/__HELPERS/text.dm
  code/datums/diseases/advance/symptoms/symptoms.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
  tgui/packages/tgui/interfaces/Pandemic.tsx
  tgui/packages/tgui/interfaces/Pandemic/Beaker.tsx
  tgui/packages/tgui/interfaces/Pandemic/Specimen.tsx
  tgui/packages/tgui/interfaces/Pandemic/Symptom.tsx
  tgui/packages/tgui/interfaces/Pandemic/Virus.tsx
  tgui/packages/tgui/interfaces/Pandemic/helpers.ts
  tgui/packages/tgui/interfaces/Pandemic/index.tsx
  tgui/packages/tgui/interfaces/Pandemic/types.ts
Labels: Fix, UI

#68864 Gives AI displays "proper" multiz station support
  code/modules/mob/living/silicon/ai/emote.dm
Labels: Quality of Life

#68854 Lizards can now be bought from cargo
  code/modules/cargo/packs.dm
Labels: Feature

#68853 Fixes click catcher failing to be reapplied onto the screen when show_hud is called
  code/modules/client/client_procs.dm
Labels: Fix

#68599 Refactors SM Delaminations to be strategies
  code/__DEFINES/machines.dm
  code/__DEFINES/supermatter.dm
  code/modules/mapfluff/ruins/lavalandruin_code/syndicate_base.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination.dm
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
  code/modules/power/supermatter/supermatter_delamination/cascade_delam.dm
  code/modules/power/supermatter/supermatter_delamination/cascade_delam_objects.dm
  code/modules/power/supermatter/supermatter_delamination/common_delams.dm
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
  code/modules/power/supermatter/supermatter_hit_procs.dm
  code/modules/power/supermatter/supermatter_process.dm
  tgstation.dme
Labels: Refactor, Stale, Quality of Life

#68851 Add chance for maintenance crate and closet spawners to be open
  code/game/objects/effects/spawners/random/structure.dm
Labels: Verified :heavy_check_mark:, Quality of Life

#68794 Fixes heretic curse rituals not detecting fingerprints + sorting bug
  code/modules/antagonists/heretic/heretic_knowledge.dm
Labels: Fix

#68780 Improves stack recipe UI Search
  code/game/objects/items/stacks/stack.dm
  tgui/packages/tgui/interfaces/Stack.js
  tgui/packages/tgui/interfaces/StackCrafting.tsx
Labels: UI, Quality of Life

#68741 Thunderdome showtime button
  _maps/map_files/generic/CentCom.dmm
  code/game/machinery/computer/camera.dm
Labels: Feature, Fix, Map Edit

#68700 Converts most storage item chat messages to balloon alerts
  code/datums/storage/storage.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/book.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/medkit.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/toolbox.dm
Labels: Stale, Quality of Life

#68929 XENO: Ensures the stomach contents list is cleared on thing delete
  code/modules/mob/living/carbon/alien/humanoid/humanoid.dm
  code/modules/mob/living/carbon/alien/organs.dm
Labels: Fix

#68975 Word Filter Fix Round Two: JSON Decoding Debauchery
  code/controllers/configuration/configuration.dm
Labels: Fix, Administration, FUCK, GBP: No Update

#68940 Fixes the service maintinance camera on Meta
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#68376 Merges ordnance data disks
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/research.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/modular_computers/hardware/program_disks.dm
  code/modules/research/ordnance/_scipaper.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/68376_frontier_to_ordnance_disk.txt
Labels: Balance, Tools, Map Edit

#68510 Cyborg hypospray runtime fix.
  code/game/objects/items/robot/items/hypo.dm
Labels: Fix

#68582 add some tests for if empty space is present
  code/game/gamemodes/game_mode.dm
  code/modules/events/aurora_caelus.dm
  code/modules/station_goals/shield.dm
  code/modules/station_goals/station_goal.dm
Labels: Fix

#68534 Security's Scaling Departmental Accesses - More Pop, More Problems
  code/controllers/configuration/entries/game_options.dm
  code/datums/id_trim/jobs.dm
  config/admins.txt
  config/game_options.txt
Labels: Balance, Config Update

#68584 Labor camp machines - Fixes & Code improvement
  _maps/RandomRuins/SpaceRuins/hilbertresearchfacility.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/shuttles/labour_box.dmm
  _maps/shuttles/labour_delta.dmm
  _maps/shuttles/labour_generic.dmm
  _maps/shuttles/labour_kilo.dmm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
Labels: Fix, Map Edit, Quality of Life

#68603 The drink "Between the Sheets" requires sleeping underneath bedsheets to gain healing effects
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature, Stale, Verified :heavy_check_mark:

#68676 Fixes shrapnel runtime when hitting limbs that are laying on the ground
  code/datums/components/pellet_cloud.dm
Labels: Fix

#68681 Makes the universal recorder display the correct amount of silence on playback.
  code/game/objects/items/devices/taperecorder.dm
Labels: Fix

#68693 Fixes missing checks during ventcrawl do_after
  code/modules/mob/living/ventcrawling.dm
Labels: Fix

#68763 Adds the Mothroach
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/food/meat.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/cargo/packs.dm
  code/modules/mob/living/basic/vermin/mothroach.dm
  icons/mob/animal.dmi
  icons/mob/animal_item_head.dmi
  icons/mob/animal_item_lh.dmi
  icons/mob/animal_item_rh.dmi
  icons/obj/stack_objects.dmi
  tgstation.dme
Labels: Sprites, Feature

#68776 Structural weakpoint charges can only be planted on.... structural points!
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
Labels: Fix

#68849 specific_parts = TRUE machines examine upgrade
  code/game/objects/items/circuitboards/circuitboard.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Labels: Quality of Life

#68969 [NO GBP] Removed unecessary bridge from kilo + delete accidental lavabase pump.
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit, GBP: No Update

#68961 [GBP No Update] forgot to delete cable
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, GBP: No Update

#68870 Greatly increases Pun Pun's abilities and strengths (using desk bells, cross stun immunity)
  code/datums/ai/generic/generic_behaviors.dm
  code/datums/ai/idle_behaviors/idle_monkey.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/datums/ai/monkey/punpun_subtrees.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/monkey/monkey.dm
  code/modules/mob/living/emote.dm
  code/modules/paperwork/desk_bell.dm
  tgstation.dme
Labels: Balance, Feature, Quality of Life

#68868 fixes warning message that occurs every single time an ethereal dies
  code/modules/surgery/organs/heart.dm
Labels: Fix

#68786 Adds a delay while welder repairing vehicles / mechs
  code/modules/vehicles/atv.dm
  code/modules/vehicles/bicycle.dm
  code/modules/vehicles/cars/vim.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/secway.dm
Labels: Balance, Stale, Quality of Life

#68858 silicons can interact with floodlights
  code/modules/power/floodlight.dm
Labels: Fix, Good First PR

#68865 Updates Contributing.MD to have the HackMD Git Guide
  .github/CONTRIBUTING.md
Labels: GitHub

#68860 Makes epicenters not explode mobs twice
  code/controllers/subsystem/explosions.dm
Labels: Balance

#68934 Unholy Pitchfork resprite
  icons/mob/clothing/back.dmi
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
Labels: Sprites, Verified :heavy_check_mark:

#68965 ventcrawling exploit fix
  code/_onclick/click.dm
Labels: Fix

#68958 Lets Admin AI Interact Print Items Again
  code/datums/components/payment.dm
Labels: Fix

#68943 Power failure event will now only provide an announcement if the previous power failure has ended
  code/__HELPERS/game.dm
  code/game/gamemodes/events.dm
  code/modules/events/grid_check.dm
Labels: Fix

#68938 Deindents screentip code slightly, removes some unneeded ()s
  code/game/atoms.dm
Labels: Removal, Code Improvement

#68935 Mining plants are once again hand harvestable
  code/game/objects/structures/flora.dm
Labels: Fix

#68893 Purrbation tail fix
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Fix

#68967 New Lavaland Monster: Bileworms
  _maps/RandomRuins/LavaRuins/lavaland_surface_bileworm_nest.dmm
  code/__DEFINES/ai.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/actions/cooldown_action.dm
  code/datums/actions/mobs/projectileattack.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/try_mob_ability.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_attack_target.dm
  code/datums/elements/content_barfer.dm
  code/datums/elements/crusher_loot.dm
  code/datums/elements/mob_killed_tally.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/datums/ruins/lavaland.dm
  code/game/objects/items/food/meat.dm
  code/game/turfs/open/asteroid.dm
  code/modules/antagonists/morph/morph.dm
  code/modules/instruments/instrument_data/fun.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/basic/lavaland/bileworm/_bileworm.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_actions.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_ai.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_instrument.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_loot.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  icons/mob/cows.dmi
  icons/mob/lavaland/bileworm.dmi
  icons/obj/food/food.dmi
  icons/obj/guns/projectiles.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/lavaland/artefacts.dmi
  icons/obj/musician.dmi
  sound/creatures/bileworm/bileworm_spit.ogg
  tgstation.dme
Labels: Sprites, Sound, Feature, Map Edit

#68977 Fixes admin recipients seeing double pm messages
  code/modules/admin/verbs/adminpm.dm
Labels: Fix

#68950 blind people know when things happen to them
  code/_onclick/item_attack.dm
  code/datums/components/food/edible.dm
  code/datums/elements/strippable.dm
  code/modules/projectiles/projectile.dm
Labels: Fix

#68630 Revolution victories now call the shuttle when enough of the station is revolutionaries
  code/controllers/subsystem/shuttle.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/machinery/computer/communications.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/shuttle/emergency.dm
Labels: Feature

#68948 emote_type refactor to bitflags
  code/__DEFINES/flags.dm
  code/_globalvars/bitfields.dm
  code/datums/emotes.dm
  code/modules/mob/living/brain/emote.dm
  code/modules/mob/living/carbon/alien/emote.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/emotes.dm
Labels: Fix

#68992 adds a waste pipe to Icebox atmos
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#68980 All banana now have correct right hand sprite
  icons/mob/inhands/misc/food_righthand.dmi
Labels: Sprites, Fix

#68986 Fixes "Burning rust off walls doesn't blind you"
  code/datums/elements/rust.dm
Labels: Fix, Good First PR

#68979 fixes HPLC to show purity and corect volume
  code/modules/reagents/chemistry/machinery/chem_mass_spec.dm
  tgui/packages/tgui/interfaces/MassSpec.js
Labels: Fix, UI

#68919 Fixes grilles being unanchorable
  code/game/objects/structures/grille.dm
Labels: Fix

#68525 Radiation pulses will yield to MC for every turf they iterate through.
  code/__HELPERS/radiation.dm
  code/controllers/subsystem/radiation.dm
Labels: Performance, Stale, Code Improvement

#68954 Fix audible emotes playing sounds while mob is gagged, mute, tongueless, or under a vow of silence
  code/datums/emotes.dm
  code/modules/mob/living/carbon/human/emote.dm
Labels: Fix, Verified :heavy_check_mark:

#69011 mining modsuit changes
  code/__HELPERS/_lists.dm
  code/_onclick/hud/alert.dm
  code/modules/mining/machine_vending.dm
  code/modules/mod/mod_core.dm
  code/modules/mod/modules/modules_supply.dm
Labels: Balance, Fix, Quality of Life

#69053 Catches an edge case in ahelp replies
  code/modules/admin/verbs/adminpm.dm
Labels: Fix, Administration

#68993 Removes the "proximity crew pinpointer" (the ones parameds spawn with), paramedic PDAs start with the lifeline app instead
  code/game/objects/items/pinpointer.dm
  code/game/objects/items/storage/belt.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Feature, Removal

#69066 Fixes belts only getting their appearance updated when removing an item from it
  code/datums/storage/storage.dm
Labels: Fix

#68931 Icemoon Shorelines Update - Gulag Adaptation
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Balance, Map Edit

#68960 Kilostation Whiteship Gripe Repair
  _maps/shuttles/whiteship_kilo.dmm
Labels: Feature, Map Edit

#69028 Fixes improper locker type on Icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#69005 Photocopier paperforms fix
  code/modules/asset_cache/assets/paper.dm
  code/modules/paperwork/stamps.dm
  config/blanks.json
  icons/obj/bureaucracy.dmi
  icons/stamp_icons/large_stamp-void.png
Labels: Sprites, Feature, Fix, Config Update

#69047 Medical Resprite Two - Making This Right
  code/game/objects/items/storage/garment.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_bloodbrother.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/bio.dmi
  icons/mob/clothing/suits/labcoat.dmi
  icons/mob/clothing/under/medical.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/medical.dmi
Labels: Sprites, Feature, Quality of Life

#69006 Bumps up FontAwesome to 6.1.2
  code/modules/asset_cache/assets/fontawesome.dm
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-solid-900.woff
  html/font-awesome/webfonts/fa-v4compatibility.ttf
Labels: Feature

#69054 FIXES RUNTIME EVERYTIME A PAI MOVES
  code/modules/pai/door_jack.dm
  code/modules/pai/pai.dm
  code/modules/pai/software.dm
Labels: Runtime, Fix

#69042 Fixes eye of god not sending a message when its scan recharges
  code/modules/mining/lavaland/tendril_loot.dm
Labels: Runtime, Fix

#68956 Fixes ash walker tendrils dropping typeless anomaly cores
  code/modules/mapfluff/ruins/objects_and_mobs/ash_walker_den.dm
Labels: Fix

#68962 Fixes some issues with Heretic Stalker Shapechange
  code/modules/antagonists/heretic/magic/eldritch_blind.dm
  code/modules/antagonists/heretic/magic/eldritch_emplosion.dm
  code/modules/antagonists/heretic/magic/eldritch_shapeshift.dm
  code/modules/mob/living/simple_animal/heretic_monsters.dm
  code/modules/spells/spell_types/self/disable_tech.dm
  code/modules/spells/spell_types/shapeshift/_shapeshift.dm
  code/modules/spells/spell_types/shapeshift/shapechange.dm
Labels: Fix, GBP: No Update

#69017 Prevents NAN amounts infecting the chemistry reagent container system
  code/__DEFINES/maths.dm
  code/game/machinery/autolathe.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Fix, Priority: High

#68926 unifies security record printing
  code/datums/datacore.dm
  code/game/machinery/computer/security.dm
  code/modules/paperwork/filingcabinet.dm
Labels: Fix, Code Improvement

#68983 Deadmin topic spam fix and fixes trailing MC panel after having deadmined
  .prettierignore
  code/modules/admin/holder2.dm
  html/statbrowser.js
Labels: Fix, Code Improvement

#68867 Allows non-human bodies to spawn in the morgue at roundstart
  code/controllers/configuration/entries/general.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/modules/mapping/mapping_helpers.dm
  config/game_options.txt
Labels: Fix, Config Update, Quality of Life

#68787 Zas atmos zone
  code/__HELPERS/areas.dm
Labels: Code Improvement

#69098 Finishes morgue cadaver config comments
  config/game_options.txt
Labels: Config Update, Priority: High, GBP: No Update

#69050 Fixes player controlled cleanbots not being able to kill mice and cockroaches
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Runtime, Fix

#69058 Fixes monkeys trying to shove non-carbon mobs instead of biting them
  code/modules/mob/living/living_defense.dm
Labels: Fix

#69088 Tilening V2 Part 2: KrysonWood Edition
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/turfs/open/floor/mineral_floor.dm
  icons/turf/damaged.dmi
  icons/turf/decals.dmi
  icons/turf/floors.dmi
Labels: Sprites, Removal

#69067 [s] holdup fixes
  code/datums/components/gunpoint.dm
  code/modules/projectiles/gun.dm
Labels: In Game Exploit, Fix, Code Improvement, Quality of Life

#69069 Fixes the capitalization of the long-range gas analyzer
  code/game/objects/items/devices/scanners/gas_analyzer.dm
Labels: Grammar and Formatting

#68915 new dead body mapping helper icons
  icons/effects/mapping_helpers.dmi
Labels: Sprites, Stale

#68899 Splits up 'Gross' food from 'Gore' and reshuffles taste preferences accordingly
  code/__DEFINES/food.dm
  code/game/objects/items/food/burgers.dm
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/donuts.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/meat.dm
  code/game/objects/items/food/snacks.dm
  code/game/objects/items/food/soup.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/surgery/organs/_organ.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/SpeciesPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: Balance, Refactor, Stale, UI

#68882 Changes sprites for the two bat sub-variants
  code/game/objects/items/weaponry.dm
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/items_and_weapons.dmi
Labels: Sprites

#68984 moves the centcom jacket's mob sprite to jacket.dmi instead of spacesuit.dmi
  code/modules/clothing/spacesuits/specialops.dm
  icons/mob/clothing/suits/jacket.dmi
  icons/mob/clothing/suits/spacesuit.dmi
Labels: Sprites

#69037 Adds QM to authority & conspiracy phobias, QM's bedsheets will now make you dream of authority and SILVERY IDs
  code/_globalvars/phobias.dm
  code/game/objects/structures/bedsheet_bin.dm
  strings/phobia.json
Labels: Fix

#68978 Adds 2 new sounds to the Synthesizer's 'Fun' category
  code/modules/instruments/instrument_data/fun.dm
  sound/runtime/instruments/synthesis_samples/meowsynth/LICENSE.txt
  sound/runtime/instruments/synthesis_samples/meowsynth/c2.ogg
  sound/runtime/instruments/synthesis_samples/meowsynth/c3.ogg
  sound/runtime/instruments/synthesis_samples/meowsynth/c4.ogg
  sound/runtime/instruments/synthesis_samples/meowsynth/c5.ogg
  sound/runtime/instruments/synthesis_samples/meowsynth/c6.ogg
  sound/runtime/instruments/synthesis_samples/spaceman/LICENSE.txt
  sound/runtime/instruments/synthesis_samples/spaceman/c2.ogg
  sound/runtime/instruments/synthesis_samples/spaceman/c3.ogg
  sound/runtime/instruments/synthesis_samples/spaceman/c4.ogg
  sound/runtime/instruments/synthesis_samples/spaceman/c5.ogg
Labels: Sound

#69009 adjusts metabolism for munchies
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Balance

#68989 Butcher's meathook is no longer restricted by TRAIT_NOGUNS
  code/modules/projectiles/guns/special/meat_hook.dm
Labels: Fix

#69051 Fixes kidnap traitor objective failing to generate if the tatertot failed a previous kidnapping objective
  code/modules/antagonists/traitor/objectives/kidnapping.dm
Labels: Runtime, Fix

#69032 Fixes incise heart surgery runtime
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/surgery_step.dm
Labels: Runtime, Fix

#69012 Newly built turrets start unlocked
  code/game/machinery/porta_turret/portable_turret_construct.dm
Labels: Fix

#69026 Fixes calomel's description to state toxic chems
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Grammar and Formatting

#68888 Adds support for "realistic" public elevators (elevator doors, elevator panel, etc)
  _maps/map_files/debug/multiz.dmm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/industrial_lift.dm
  code/datums/ai/telegraph_effects.dm
  code/datums/components/trapdoor.dm
  code/game/machinery/buttons.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/doorcontrol.dm
  code/modules/industrial_lift/elevator_button.dm
  code/modules/industrial_lift/elevator_panel.dm
  code/modules/industrial_lift/industrial_lift.dm
  code/modules/industrial_lift/lift_master.dm
  code/modules/industrial_lift/tram_controls.dm
  code/modules/industrial_lift/tram_lift_master.dm
  code/modules/wiremod/shell/assembly.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ElevatorPanel.tsx
  tgui/packages/tgui/styles/themes/retro.scss
Labels: Feature, UI, Map Edit, Quality of Life

#68921 Emitter status shows minimum and maximum firing delay
  code/modules/power/singularity/emitter.dm
Labels: Grammar and Formatting, Fix

#69010 Fix grammar for solar panel construction
  code/modules/power/solar.dm
Labels: Grammar and Formatting, Fix

#69024 [GBP No Update] Perish, individual logging runtime
  code/datums/components/gps.dm
  code/game/machinery/computer/apc_control.dm
  code/game/machinery/computer/arcade/orion.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/flasher.dm
  code/game/machinery/shieldgen.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/mail.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/robot/items/generic.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/tanks/watertank.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/structures/cannons/cannon.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/shower.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/assembly/flash.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/unique_plant_genes.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/power/apc/apc_power_proc.dm
  code/modules/power/cell.dm
  code/modules/power/smes.dm
  code/modules/power/supermatter/supermatter_hit_procs.dm
  code/modules/reagents/chemistry/items.dm
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  code/modules/research/server.dm
  code/modules/shuttle/emergency.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/vehicles/mecha/mecha_mob_interaction.dm
Labels: GBP: No Update

#68877 The Great Species Dedatumming 2: Makes external organs operable
  code/__DEFINES/obj_flags.dm
  code/__DEFINES/surgery.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/external/_external_organs.dm
  code/modules/surgery/organs/external/spines.dm
  code/modules/surgery/organs/external/tails.dm
  code/modules/surgery/organs/external/wings.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/helpers.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/surgery_step.dm
  icons/obj/surgery.dmi
  tgstation.dme
Labels: Sprites, Feature

#69124 Codeowners housekeeping
  .github/CODEOWNERS
Labels: GitHub

#69099 Blackbox logs heretic starting knowledge and ascensions
  code/modules/antagonists/heretic/heretic_knowledge.dm
Labels: Administration, Feedback

#69094 fixes golden wheelchair never spawning
  code/datums/quirks/negative.dm
Labels: Fix

#69071 Spends 6 hours teaching Papercode how to conform to better standards and practices, and also fixes a trivial 5 minute bug with command reports.
  code/game/gamemodes/game_mode.dm
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/station_goals/shield.dm
  tgui/packages/tgui/interfaces/PaperSheet.tsx
  tgui/packages/tgui/sanitize.js
Labels: Fix, UI

#69056 fixes runtime when clicking an airlock with TK
  code/modules/jobs/access.dm
Labels: Runtime, Logging, Fix

#68968 [NO GBP] Fixed an edge case when SM delam messages failed to update.
  code/modules/power/supermatter/supermatter.dm
Labels: Fix, Stale, GBP: No Update

#69100 makes roulette tables NFC enabled
  code/game/machinery/roulette_machine.dm
Labels: Fix, Quality of Life

#69068 Fixes conveyor belts not updating their sprites immediately when modified with a screwdriver
  code/modules/recycling/conveyor.dm
Labels: Fix

#69106 Fixes an oversight in food exports
  code/modules/cargo/exports/food_and_drink.dm
Labels: Fix

#68972 Simplifies the SM transmission calculation a bit.
  code/__DEFINES/supermatter.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_process.dm
Labels: Balance

#68964 Moves sinks' layer to above the object layer
  code/game/objects/structures/watercloset.dm
Labels: Fix, Stale

#69107 Fixes 118(give or take) cases of mapload not being passed to initilaize
  code/_onclick/hud/rendering/plane_master.dm
  code/game/machinery/computer/atmos_computers/meters.dm
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/mail.dm
  code/game/objects/items/puzzle_pieces.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/basket.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/book.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/items/storage/holsters.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/medkit.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/sixpack.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/storage/wallets.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/toiletbong.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_map.dm
  code/modules/art/paintings.dm
  code/modules/awaymissions/mission_code/Cabin.dm
  code/modules/clothing/chameleon.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/library/book.dm
  code/modules/mining/equipment/kheiral_cuffs.dm
  code/modules/mob/living/simple_animal/friendly/drone/drone_tools.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/photography/camera/camera.dm
  code/modules/photography/photos/frame.dm
  code/modules/projectiles/guns/energy/dueling.dm
  code/modules/research/stock_parts.dm
Labels: Code Improvement

#69119 Nukies Update 5: Bulldog Unchained (Wardens hate this) (I gave it a second magazine)
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/uplink/uplink_items/nukeops.dm
  icons/obj/guns/ballistic.dmi
Labels: Sprites, Balance

#69120 Fixes some fontawesome weirdness.
  html/font-awesome/css/all.min.css
Labels: Fix

#69029 Species has custom brute/burn/cloning damage examine
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
Labels: Feature

#69116 Fixes the privacy bolts on two of the Tram station dorms rooms
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#69108 Fixes a copy+paste error with ladder screentips
  code/modules/awaymissions/mission_code/Cabin.dm
Labels: Fix

#69162 Adds myself to code owners
  .github/CODEOWNERS
Labels: GitHub

#68887 Lua UI improvements
  code/modules/admin/topic.dm
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/interfaces/LuaEditor/CallModal.js
  tgui/packages/tgui/interfaces/LuaEditor/ChunkViewModal.js
  tgui/packages/tgui/interfaces/LuaEditor/StateSelectModal.js
  tgui/packages/tgui/interfaces/LuaEditor/index.js
Labels: Fix, Stale, UI, Quality of Life

#69129 removes InitializeAIController(), moves it to Initialize
  code/game/atoms.dm
Labels: Removal, Code Improvement

#69127 mime emote consistency update
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
Labels: Quality of Life

#69122 Fix certain orders not working on departmental supply consoles
  code/modules/cargo/department_order.dm
Labels: Fix

#69055 Fixes runtime when examining xenos
  code/modules/mob/living/carbon/examine.dm
Labels: Runtime, Fix

#69104 GAGS most radio encryption keys
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/encryptionkey_basic.json
  code/datums/greyscale/json_configs/encryptionkey_cargo.json
  code/datums/greyscale/json_configs/encryptionkey_centcom.json
  code/datums/greyscale/json_configs/encryptionkey_cube.json
  code/datums/greyscale/json_configs/encryptionkey_engineering.json
  code/datums/greyscale/json_configs/encryptionkey_medical.json
  code/datums/greyscale/json_configs/encryptionkey_research.json
  code/datums/greyscale/json_configs/encryptionkey_security.json
  code/datums/greyscale/json_configs/encryptionkey_service.json
  code/datums/greyscale/json_configs/encryptionkey_syndicate.json
  code/game/objects/items/devices/radio/encryptionkey.dm
  icons/obj/radio.dmi
Labels: Sprites

#69103 Profane Scholar Chaplain outfit resprite
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suits/chaplain.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#69126 New Holopad Sprite!
  icons/obj/stationobjs.dmi
Labels: Sprites

#69015 Refactors operating tables to be event driven + QoL + Unit Test
  code/game/machinery/computer/Operating.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/operating_table.dm
  tgui/packages/tgui/interfaces/OperatingComputer.js
Labels: Fix, Refactor, UI, Quality of Life

#69083 Fax Machine
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/paperwork/fax.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/bureaucracy.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Fax.tsx
Labels: Sprites, Feature, UI, Map Edit

#69114 blind alert too big for stripping and feeding
  code/datums/components/food/edible.dm
  code/datums/elements/strippable.dm
Labels: GBP: No Update

#69131 Fixes some improper global signal use (payment component, traitor objectives)
  code/__DEFINES/dcs/signals/signals_global.dm
  code/datums/ai/dog/dog_controller.dm
  code/datums/components/payment.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/traitor/objectives/hack_comm_console.dm
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
Labels: Fix

#69062 Fixes large crates (e.g. canisters) not abiding by delivery requirements
  code/game/objects/structures/crates_lockers/crates/large.dm
Labels: Fix, Good First PR

#69109 Improved Medical Tools and Medkits by Onule!
  code/game/objects/items/storage/medkit.dm
  code/modules/surgery/tools.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/storage.dmi
  icons/obj/surgery.dmi
Labels: Sprites

#69147 New Table Sprites!
  code/game/objects/structures/table_frames.dm
  icons/obj/smooth_structures/glass_table.dmi
  icons/obj/smooth_structures/plasmaglass_table.dmi
  icons/obj/smooth_structures/plastitaniumglass_table.dmi
  icons/obj/smooth_structures/poker_table.dmi
  icons/obj/smooth_structures/reinforced_table.dmi
  icons/obj/smooth_structures/rglass_table.dmi
  icons/obj/smooth_structures/rplasmaglass_table.dmi
  icons/obj/smooth_structures/table.dmi
  icons/obj/smooth_structures/table_greyscale.dmi
  icons/obj/smooth_structures/titaniumglass_table.dmi
  icons/obj/smooth_structures/wood_table.dmi
  icons/obj/structures.dmi
Labels: Sprites

#69139 [MetaStation] Adds some missing firelocks between Med and Sci
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#69121 Fix tape recorder printing out transcripts phat enough to crash your game.
  code/game/objects/items/devices/taperecorder.dm
Labels: Fix

#69154 Fixes dental implant pills not working
  code/modules/surgery/dental_implant.dm
Labels: Fix

#69136 Fixes some issues with deafness & earhealing
  code/datums/elements/earhealing.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/machinery/hypnochair.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
Labels: Fix

#69166 Remove deprecated `pocket_storage_component_path` var from clothing
  code/modules/clothing/clothing.dm
Labels: Code Improvement, Verified :heavy_check_mark:
