Repository tgstation/tgstation, pull requests merged in 2022-09, with the labels that each got.

#69528 adds structure spawners for electrified grilles, adds greps for some fulltile window spawners
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_frozen_comms.dmm
  _maps/RandomRuins/SpaceRuins/clericden.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  code/game/objects/effects/spawners/structure.dm
  icons/obj/structures_spawners.dmi
  tools/ci/check_grep.sh
Labels: Sprites, Tools, Code Improvement, Map Edit, Linting

#69399 Converts SSblackbox feedback to an associative list
  code/controllers/subsystem/blackbox.dm
Labels: Stale, Code Improvement

#69420 Adds more multiz support
  code/datums/diseases/wizarditis.dm
  code/game/machinery/computer/law.dm
  code/game/machinery/computer/prisoner/management.dm
  code/game/machinery/computer/robot.dm
  code/game/objects/items/devices/camera_bug.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  code/modules/mapfluff/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/mod/modules/modules_science.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  code/modules/pai/software.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
  code/modules/power/supermatter/supermatter_hit_procs.dm
  code/modules/research/ordnance/doppler_array.dm
  code/modules/station_goals/shield.dm
Labels: Quality of Life

#69263 Fix slimepeople soft landing showing message for stairs and self
  code/datums/elements/soft_landing.dm
Labels: Fix

#69570 [Lua] You can now `await` expensive non-sleeping procs.
  code/modules/admin/verbs/lua/helpers.dm
Labels: Administration

#69580 Fixed quick admin spawned humans from observes not keeping preferences
  code/modules/mob/mob_transformation_simple.dm
Labels: Administration

#69557 fixes some free firedoor lag
  code/game/machinery/doors/firedoor.dm
Labels: Performance, Fix

#69555 Fixes hard-dels related to lua signal handlers
  code/datums/weakrefs.dm
  code/modules/admin/verbs/lua/lua_state.dm
  lua/SS13.lua
Labels: Fix

#69582 Fixes security cameras showing up as static in consoles (For Real This Time Edition)
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/camera.dm
Labels: Fix

#69583 Fix combustible flooder temperature param not being parsed.
  code/datums/components/combustible_flooder.dm
Labels: Fix

#69553 Improve validation script annotations
  tools/validate_dme.py
Labels: Tools

#69492 visualizes *cry emote + getting peppersprayed makes you cry
  code/__DEFINES/traits.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/emote.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/organs/eyes.dm
  icons/mob/human_face.dmi
Labels: Sprites, Feature

#69452 Fix heretic sacrifice minigame to drop legcuffs
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
Labels: Verified :heavy_check_mark:, Quality of Life

#69622 Fix legion dead miners not spawning species
  code/modules/mob_spawn/corpses/mining_corpses.dm
Labels: Fix

#69550 Stray Meteor event, five new special meteors, and another reason to build meteor shields
  code/datums/helper_datums/teleport.dm
  code/modules/events/stray_meteor.dm
  code/modules/meteors/meteors.dm
  code/modules/station_goals/shield.dm
  icons/obj/meteor.dmi
  tgstation.dme
Labels: Sprites

#69603 Fixes monkey AI resist runtime
  code/datums/ai/generic/generic_behaviors.dm
Labels: Runtime, Fix

#69604 fixes qdeling atoms being thrown by explosions
  code/controllers/subsystem/explosions.dm
Labels: Runtime, Fix, Atomic

#69598 Fixes supply pods being vulnerable to explosions BEFORE they land.
  code/modules/cargo/supplypod.dm
Labels: Runtime, Fix

#69601 Fixes monkey ai runtime
  code/datums/ai/monkey/monkey_controller.dm
Labels: Runtime, Fix

#69091 Kills `/obj/shapeshift_holder`, replaces it with `/datum/status_effect/shapechange_mob`, also does a lot of Wabbajack refactoring
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/status_effects.dm
  code/datums/elements/content_barfer.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/magic/flesh_ascension.dm
  code/modules/antagonists/xeno/xeno.dm
  code/modules/events/wizard/magicarp.dm
  code/modules/mapfluff/ruins/icemoonruin_code/hotsprings.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/ranged.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/pai/shell.dm
  code/modules/projectiles/ammunition/special/magic.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/research/xenobiology/crossbreeding/_mobs.dm
  code/modules/spells/spell_types/pointed/mind_transfer.dm
  code/modules/spells/spell_types/shapeshift/_shape_status.dm
  code/modules/spells/spell_types/shapeshift/_shapeshift.dm
  code/modules/spells/spell_types/shapeshift/dragon.dm
  code/modules/spells/spell_types/shapeshift/polar_bear.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/spell_shapeshift.dm
  icons/hud/screen_alert.dmi
  tgstation.dme
Labels: Sprites, Fix, Refactor, Code Improvement, Unit Tests, 📌 Test Merge Candidate

#69146 [MDB IGNORE] APC controller and Power Monitor/AmpCheck fixes, aka How do I write PR titles
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/pirate_dutchman.dmm
  _maps/shuttles/pirate_silverscale.dmm
  code/game/machinery/computer/apc_control.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/modular_computers/file_system/programs/powermonitor.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/apc/apc_tool_act.dm
  code/modules/power/monitor.dm
  tgui/packages/tgui/interfaces/Apc.js
  tgui/packages/tgui/interfaces/ApcControl.js
  tgui/packages/tgui/interfaces/PowerMonitor.js
  tgui/packages/tgui/interfaces/common/InterfaceLockNoticeBox.js
  tools/UpdatePaths/Scripts/69146_remove_outdated_terminals.txt
Labels: Fix, Removal, Tools, Stale, UI, Map Edit, Quality of Life

#69181 Buffs Heretic Curses, Living Heart, Leeching Walk, and technically Entropic Plume by fixing some bugs
  code/datums/elements/update_icon_blocker.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_rust_ash.dm
  code/modules/antagonists/heretic/magic/rust_wave.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/spells/spell_types/cone/_cone.dm
Labels: Balance, Fix

#69262 Heads are no longer tasked to kill their own pets
  code/modules/antagonists/traitor/objectives/kill_pet.dm
Labels: Balance

#69290 Add check for ordering permissions before using department account as payee for NIRN, also fixes #68765
  code/modules/modular_computers/file_system/programs/budgetordering.dm
Labels: Fix

#69319 Displays a popup if you're converted into a shade who needs to follow instructions
  code/modules/antagonists/shade/shade_minion.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoShade.js
Labels: UI, Quality of Life

#69356 Fix client timers having invalid <1ds waits
  code/controllers/subsystem/timer.dm
Labels: Fix, Good First PR

#68378 Return of the scrubber overflow event
  code/modules/admin/verbs/adminevents.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/events/_event.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/anomaly.dm
  code/modules/events/anomaly_bioscrambler.dm
  code/modules/events/anomaly_bluespace.dm
  code/modules/events/anomaly_flux.dm
  code/modules/events/anomaly_grav.dm
  code/modules/events/anomaly_hallucination.dm
  code/modules/events/anomaly_pyro.dm
  code/modules/events/anomaly_vortex.dm
  code/modules/events/aurora_caelus.dm
  code/modules/events/blob.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/bureaucratic_error.dm
  code/modules/events/carp_migration.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/dust.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/false_alarm.dm
  code/modules/events/gravity_generator_blackout.dm
  code/modules/events/grid_check.dm
  code/modules/events/immovable_rod.dm
  code/modules/events/ion_storm.dm
  code/modules/events/market_crash.dm
  code/modules/events/meteor_wave.dm
  code/modules/events/portal_storm.dm
  code/modules/events/prison_break.dm
  code/modules/events/processor_overload.dm
  code/modules/events/radiation_storm.dm
  code/modules/events/scrubber_clog.dm
  code/modules/events/scrubber_overflow.dm
  code/modules/events/shuttle_loan.dm
  code/modules/events/space_dragon.dm
  code/modules/events/spider_infestation.dm
  code/modules/events/stray_cargo.dm
  code/modules/events/wizard/lava.dm
  code/modules/events/wizard/magicarp.dm
  code/modules/events/wizard/petsplosion.dm
  code/modules/events/wormholes.dm
  tgstation.dme
Labels: Feature, Stale

#68971 Spider Rebalance PR: Burn Baby Burn Edition
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/game/objects/effects/spiderwebs.dm
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Balance, Feature

#68947 Refactors/Improves trader NPC with more functionality
  code/modules/mob/living/simple_animal/friendly/trader.dm
  icons/hud/radial.dmi
Labels: Sprites, Refactor, Code Improvement

#69649 Removes some bad code from the bananium meteor
  code/modules/meteors/meteors.dm
Labels: Removal, Code Improvement, GBP: No Update

#69419 Fixes some missing signal overrides
  code/datums/actions/mobs/charge.dm
  code/modules/vehicles/mecha/mecha_mob_interaction.dm
Labels: Fix

#69545 bodybags / crates will now be explicit about what is ontop of them if you can't close them due to other bodybags / crates being in the same tile.
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#69650 Makes the code compile again
  code/modules/events/anomaly_dimensional.dm
  code/modules/events/stray_meteor.dm
Labels: Code Improvement

#69597 Fixes APC rigged cell null runtimes
  code/modules/power/apc/apc_main.dm
Labels: Runtime, Fix

#69556 Fixes MMI controlled mecha not having access to doors.
  code/modules/jobs/access.dm
  code/modules/vehicles/sealed.dm
Labels: Fix

#69547 Headless humans can no longer recieve facial creampies.
  code/game/objects/items/food/pie.dm
Labels: Fix

#69606 fixes supermatter supplypod runtime
  code/game/objects/effects/countdown.dm
Labels: Runtime, Fix

#69600 Fixes runtime when broadcasting to a frequency with no radios on it
  code/game/machinery/telecomms/broadcasting.dm
Labels: Runtime, Fix

#69602 fixes runtime when deconstruct() on a grill with no item in it.
  code/modules/food_and_drinks/machinery/grill.dm
Labels: Runtime, Fix

#69543 Shadowpeople's healing is from their brain, splits up surgery.dmi
  code/game/objects/items/debug_items.dm
  code/game/objects/items/implants/implant_misc.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/taster.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/antagonists/nightmare/nightmare_organs.dm
  code/modules/antagonists/nightmare/nightmare_species.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/antagonists/traitor/objectives/eyesnatching.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
  code/modules/projectiles/guns/energy/mounted.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/tongue.dm
  code/modules/surgery/tools.dm
  icons/obj/medical/organs/fly_organs.dmi
  icons/obj/medical/organs/organs.dmi
  icons/obj/medical/organs/shadow_organs.dmi
  icons/obj/medical/surgery.dmi
  icons/obj/medical/surgery_tools.dmi
  icons/obj/medical/surgery_ui.dmi
Labels: Sprites, Feature, Code Improvement

#69078 Wings and tails give anyone better tackling values. Moths and lizards that lose theirs will have worse values instead.
  code/__DEFINES/traits.dm
  code/datums/components/tackle.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
Labels: Balance

#69376 Resolves is_banned_from headaches and lag (Speeds up roundstart significantly)
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/ban_cache.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  tgstation.dme
Labels: Performance, Refactor, Code Improvement

#69158 Refactors SM gas behavior to be datum based instead of list based + powerloss co2 buff
  code/__DEFINES/supermatter.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_gas.dm
  code/modules/power/supermatter/supermatter_process.dm
  tgstation.dme
Labels: Balance, Refactor, Stale, Atmospherics

#69410 Nerfs scipaper money gain
  code/__DEFINES/research.dm
  code/modules/research/ordnance/_scipaper.dm
  code/modules/research/ordnance/scipaper_partner.dm
Labels: Balance, Stale

#69348 Adds a new revenant spell, Haunt Object, which imbues nearby objects with ghostly energy
  code/__DEFINES/antagonists.dm
  code/__DEFINES/sight.dm
  code/datums/elements/haunted.dm
  code/modules/antagonists/revenant/haunted_item.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/spells/spell_types/aoe_spell/_aoe_spell.dm
  code/modules/spells/spell_types/aoe_spell/magic_missile.dm
  icons/mob/actions/actions_revenant.dmi
  tgstation.dme
Labels: Sprites, Feature, Stale

#69593 admin deadsay now uses deadchat_broadcasts as it ought to.
  code/modules/admin/verbs/deadsay.dm
Labels: Fix

#69554 Bureaucracy logging
  code/modules/library/lib_machines.dm
  code/modules/paperwork/fax.dm
  code/modules/paperwork/paper.dm
Labels: Logging, Administration

#69618 fixes a few small modsuit bugs
  code/game/machinery/gulag_teleporter.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/module_kinesis.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/surgery/tools.dm
Labels: Fix, Administration

#69627 fixes rogue > in carbon/examine() message
  code/modules/mob/living/carbon/examine.dm
Labels: Grammar and Formatting, Fix

#69621 Clarifies misinformation in the Sonic Jackhammer design description
  code/modules/research/designs/mining_designs.dm
Labels: Grammar and Formatting

#69654 Replaces Missing Surgery Table Sprite
  code/game/objects/structures/tables_racks.dm
  icons/obj/medical/surgery_table.dmi
Labels: Sprites, Fix

#69494 Adds Ethereal Fashion
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/eth_raincoat.json
  code/datums/greyscale/json_configs/eth_raincoat_worn.json
  code/datums/greyscale/json_configs/eth_tunic.json
  code/datums/greyscale/json_configs/eth_tunic_worn.json
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/suits/ethereal.dm
  code/modules/clothing/under/ethereal.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/back/ethereal.dmi
  icons/mob/clothing/head/ethereal.dmi
  icons/mob/clothing/suits/ethereal.dmi
  icons/mob/clothing/under/ethereal.dmi
  icons/obj/clothing/head/ethereal.dmi
  icons/obj/clothing/suits/ethereal.dmi
  icons/obj/clothing/under/ethereal.dmi
  icons/obj/storage/storage.dmi
  tgstation.dme
Labels: Sprites, Feature, Stale

#69566 Fixes missing ballistic helmet sprite
  icons/mob/clothing/head.dmi
Labels: Sprites, Fix

#69635 Limit icon_states checks in spritesheet creation to UNIT_TESTS (saves 1.6s of init time)
  code/modules/asset_cache/assets/research_designs.dm
  code/modules/asset_cache/assets/vending.dm
Labels: Performance

#69685 Adds tgmc maints to hook owners so we can clean up your mess
  .github/CODEOWNERS
Labels: GitHub

#69639 Cucumber Fever
  code/game/machinery/computer/arcade/arcade.dm
  code/game/machinery/computer/chef_orders/order_datum.dm
  code/game/objects/effects/spawners/random/food_or_drink.dm
  code/game/objects/items/food/burgers.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/food/salad.dm
  code/game/objects/items/food/sandwichtoast.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/structures/watercloset.dm
  code/modules/cargo/bounties/botany.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/recipes/drinks/drinks_alcoholic.dm
  code/modules/food_and_drinks/recipes/drinks/drinks_non-alcoholic.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/hydroponics/grown/cucumber.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/vending/megaseed.dm
  icons/obj/drinks.dmi
  icons/obj/food/containers.dmi
  icons/obj/food/food.dmi
  icons/obj/food/meat.dmi
  icons/obj/hydroponics/growing_vegetables.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/toys/plushes.dmi
  tgstation.dme
Labels: Sprites, Balance, Feature, Quality of Life

#69586 Paper bins now create paper dynamically, rather than creating thousands of pieces of paper on init every round
  code/modules/modular_computers/hardware/printer.dm
  code/modules/paperwork/paperbin.dm
Labels: Performance

#69587 Closets now initialize their contents on demand (more than 1.6 seconds of init time saved)
  code/__DEFINES/dcs/signals/signals_closet.dm
  code/__DEFINES/loot.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/controllers/subsystem/mapping.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/effects/spawners/random/maintenance.dm
  code/game/objects/effects/spawners/random/structure.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/misc.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/unit_tests/closets.dm
  tgstation.dme
Labels: Performance

#69638 Micro-optimize RegisterSignal, saving 0.3s of init time
  code/datums/components/_component.dm
Labels: Performance

#69662 Don't load CTF until it's requested (saves several seconds of init time)
  code/modules/capture_the_flag/_defines.dm
  code/modules/capture_the_flag/ctf_game.dm
  code/modules/capture_the_flag/ctf_map_loading.dm
  code/modules/capture_the_flag/ctf_panel.dm
  code/modules/capture_the_flag/ctf_voting.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CTFPanel.js
  tgui/packages/tgui/interfaces/CTFPanel.tsx
Labels: Performance, UI, Quality of Life

#69659 Micro-optimize GetIdFromArguments to be 48% faster, gaining 0.48s of init time on local (likely more in prod)
  code/controllers/subsystem/dcs.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/dcs_get_id_from_elements.dm
Labels: Performance

#69664 Load circuit components from USB ports on demand, saving 0.5s of init time (0.7s on prod)
  code/datums/components/usb_port.dm
Labels: Performance, Integrated Circuits

#69320 Breathing Pluox while sleeping slowly heals organ damage Take 2: No broken github edition.
  code/modules/reagents/chemistry/reagents/atmos_gas_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/lungs.dm
  tgstation.dme
Labels: Balance, Stale, Atmospherics

#69467 Reworks and resprites the metal hydrogen fireaxe
  code/game/objects/items/fireaxe.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/mod/mod_theme.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/axes_lefthand.dmi
  icons/mob/inhands/weapons/axes_righthand.dmi
  icons/obj/weapons/fireaxe.dmi
  icons/obj/weapons/items_and_weapons.dmi
Labels: Sprites, Balance, Stale

#69669 [NO GBP] Soulstone shades don't count against dynamic midroll chance
  code/modules/antagonists/shade/shade_minion.dm
Labels: Fix, GBP: No Update

#69576 [MDB IGNORE] Split clothing inhands
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/ears/_ears.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/head/cakehat.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories.dm
  code/modules/instruments/piano_synth.dm
  icons/mob/inhands/clothing/ears_lefthand.dmi
  icons/mob/inhands/clothing/ears_righthand.dmi
  icons/mob/inhands/clothing/glasses_lefthand.dmi
  icons/mob/inhands/clothing/glasses_righthand.dmi
  icons/mob/inhands/clothing/gloves_lefthand.dmi
  icons/mob/inhands/clothing/gloves_righthand.dmi
  icons/mob/inhands/clothing/hats_lefthand.dmi
  icons/mob/inhands/clothing/hats_righthand.dmi
  icons/mob/inhands/clothing/masks_lefthand.dmi
  icons/mob/inhands/clothing/masks_righthand.dmi
  icons/mob/inhands/clothing/shoes_lefthand.dmi
  icons/mob/inhands/clothing/shoes_righthand.dmi
  icons/mob/inhands/clothing/suits_lefthand.dmi
  icons/mob/inhands/clothing/suits_righthand.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
Labels: Sprites, Fix

#69513 Fixes some cases of adjusting wound blood flow to use the hlper
  code/datums/wounds/slash.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_buff.dm
Labels: Fix

#69651 Faxing of unusual objects
  code/datums/wires/fax.dm
  code/modules/paperwork/fax.dm
  icons/obj/bureaucracy.dmi
  icons/obj/fax.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Fax.tsx
Labels: Sprites, Feature, UI, Quality of Life

#69612 Fixes cell explode null usr runtime
  code/modules/power/cell.dm
Labels: Runtime, Fix

#69672 Update mapping landmark icons
  icons/mob/landmarks.dmi
Labels: Sprites

#69656 Fix surprise egg sprite
  code/modules/holiday/easter.dm
Labels: Fix, GBP: No Update

#69694 Nerfs the scrubber overflow event
  code/modules/events/scrubber_overflow.dm
Labels: Balance

#69691 fixes nightmares not healing from darkness
  code/modules/antagonists/nightmare/nightmare_organs.dm
  code/modules/antagonists/nightmare/nightmare_species.dm
Labels: Fix

#69690 restores an old SM delam bug making you not get the mood debuff if you're inside a locker when it explodes
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
Labels: Fix

#69652 Removes-blind_eyes
  code/datums/brain_damage/phobia.dm
  code/datums/elements/light_eaten.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/granters/magic/blind.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/heretic/structures/carving_knife.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/mob/living/brain/status_procs.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/status_procs.dm
  code/modules/mob/status_procs.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/spells/spell_types/pointed/blind.dm
Labels: Code Improvement

#69663 Fixes infinite locker runtime
  code/game/objects/structures/crates_lockers/closets/infinite.dm
Labels: Fix

#69589 Add air alarm and atmos machinery to kilo server room + meta tcommsat air alarm pixel shift
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#69671 Fixes ghost role / admin events announcing after they failed to spawn the antagonist. Admin spawned blobs will no longer announce immediately.
  code/modules/events/blob.dm
  code/modules/events/ghost_role.dm
Labels: Fix

#69701 Ensures that the shrink ray now has an alien abductor pin, like the alien blaster does
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
Labels: Fix

#69665 tgui for techfabs 1.5: the parts I should've done last week edition
  tgui/packages/tgui/interfaces/Fabrication/AnimatedQuantityLabel.tsx
  tgui/packages/tgui/interfaces/Fabrication/CategoryTabs.tsx
  tgui/packages/tgui/interfaces/Fabrication/DesignCategoryTabs.tsx
  tgui/packages/tgui/interfaces/Fabrication/DesignCostList.tsx
  tgui/packages/tgui/interfaces/Fabrication/MineralAccessBar.tsx
  tgui/packages/tgui/interfaces/Fabrication/SearchBar.tsx
  tgui/packages/tgui/interfaces/Fabrication/Types.ts
  tgui/packages/tgui/interfaces/Fabricator.tsx
  tgui/packages/tgui/styles/interfaces/Fabricator.scss
Labels: UI, Quality of Life

#69540 Sleeping Carp users deflect hand spells, CQC users REFLECT hand spells
  code/datums/martial/cqc.dm
  code/datums/martial/sleeping_carp.dm
Labels: Balance

#69594 Fixes the orientation of the left and right end of corporate sofas when facing North
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_casino.dmm
  _maps/shuttles/pirate_silverscale.dmm
  icons/obj/sofa.dmi
Labels: Sprites, Fix, Map Edit

#69561 Rocking The Boat, er, Map Vote
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/mapping.dm
  code/datums/votes/_vote_datum.dm
  code/datums/votes/map_vote.dm
  code/datums/votes/rock_the_vote.dm
  code/modules/admin/verbs/maprotation.dm
  config/config.txt
  tgstation.dme
Labels: Feature, Config Update

#69686 Supermatter cascade subsystems fire when it needs to
  code/controllers/subsystem/processing/supermatter_cascade.dm
  code/modules/power/supermatter/supermatter_delamination/cascade_delam.dm
Labels: Code Improvement

#69626 Fixes xenomorphs being able to hold any item
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/alien/alien.dm
Labels: Fix

#69674 Stomach get_availability() now checks for NO_HUNGER instead of broken trait that no mobs have.
  code/__DEFINES/DNA.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/appendix.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/stomach/_stomach.dm
  code/modules/surgery/organs/stomach/stomach_ethereal.dm
Labels: Fix

#69588 Touches up the tram whiteship
  _maps/shuttles/whiteship_tram.dmm
Labels: Fix, Map Edit

#69630 [MDB Ignore] Fixes some APCs, some cameras on Delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit, GBP: No Update

#69646 Adds an examine hint to explorer gas masks
  code/game/objects/items/storage/boxes.dm
  code/modules/mining/equipment/explorer_gear.dm
Labels: Quality of Life

#69703 Fixes role banned players not being banned from roles that they are banned from (Option Two)
  code/controllers/subsystem/ban_cache.dm
Labels: Fix

#69697 Atmos init speedup, saves 4 seconds
  code/controllers/subsystem/air.dm
  code/game/objects/items/grenades/atmos_grenades.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/fix_air.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/gasmixtures/immutable_mixtures.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/awaymissions/cordon.dm
  code/modules/procedural_mapping/mapGeneratorModules/helpers.dm
  code/modules/unit_tests/breath.dm
Labels: Config Update

#69634 Moves "catch this var/flag" code from obj/init and datum/new into the types that use it
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_greed.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  code/__DEFINES/obj_flags.dm
  code/__HELPERS/lighting.dm
  code/_globalvars/bitfields.dm
  code/datums/armor.dm
  code/datums/datum.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/items/control_wand.dm
  code/game/objects/objs.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/power/cable.dm
  code/modules/power/pipecleaners.dm
  code/modules/power/power.dm
  code/modules/recycling/disposal/pipe.dm
  code/modules/wiremod/components/ntnet/ntnet_receive.dm
  code/modules/wiremod/components/ntnet/ntnet_send.dm
  icons/effects/mapping_helpers.dmi
Labels: Sprites, Map Edit

#69527 Restricted input can now work with negative numbers
  tgui/packages/tgui/components/RestrictedInput.js
Labels: Stale, UI, Code Improvement

#69611 Fixes poster qdel loop
  code/__DEFINES/qdel.dm
  code/game/objects/effects/contraband.dm
Labels: Runtime, Fix, Code Improvement

#69613 Removes 3 exclusive species from magic mirrors
  code/modules/antagonists/nightmare/nightmare_species.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
Labels: Removal

#69722 alphabetizes megaseed list
  code/modules/vending/megaseed.dm
Labels: Fix

#69695 Minor edits to scrubber surge and how it starts.
  code/modules/events/scrubber_overflow.dm
Labels: Fix, Quality of Life

#69709 Logs antagonist datum removal
  code/datums/mind/antag.dm
Labels: Logging, Administration

#69643 Police hats are now hats instead of helmets.
  _maps/RandomZLevels/SnowCabin.dmm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/outfits/ert.dm
  tools/UpdatePaths/Scripts/67586_station_gravity_removal.txt
  tools/UpdatePaths/Scripts/69643_police_hat.txt
Labels: Fix, Tools, Map Edit

#69710 CTF qol update for admins, map selection and admins can't render CTF unplayable by accident anymore.
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/capture_the_flag/ctf_game.dm
  code/modules/capture_the_flag/ctf_map_loading.dm
  code/modules/capture_the_flag/medieval_sim/medisim_game.dm
Labels: Grammar and Formatting, Administration

#69551 Gives the ORM a visual indicator showing which side is the input and which is the output
  code/modules/mining/machine_redemption.dm
Labels: Quality of Life

#69567 Kilostation Whiteship Gripe Repair Cleanup
  _maps/shuttles/whiteship_kilo.dmm
Labels: Feature, Fix, Map Edit

#69633 Adds names to Hilbert Research Facility airlocks
  _maps/RandomRuins/SpaceRuins/hilbertresearchfacility.dmm
Labels: Map Edit

#69544 Cadaver spawner fixes
  code/controllers/configuration/entries/general.dm
  code/modules/mapping/mapping_helpers.dm
Labels: Runtime, Fix, Config Update, GBP: No Update

#69735 Automatic R&D sync
  code/__DEFINES/tgui.dm
  code/modules/research/machinery/_production.dm
  code/modules/tgui/tgui.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  tgui/packages/tgui/interfaces/ExosuitFabricator.js
  tgui/packages/tgui/interfaces/Fabricator.tsx
Labels: Fix, UI, Quality of Life

#69712 Small grammer fix to monkey trip toggleing
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
Labels: Grammar and Formatting

#69724 Fixes cultist check_size div0
  code/modules/antagonists/cult/cult.dm
Labels: Runtime, Fix

#69396 Water vapour electrolysis and hypernoblium electrolysis now respects heat capacity changes.
  code/modules/atmospherics/machinery/components/electrolyzer/electrolyzer_reactions.dm
Labels: Fix, Stale

#69538 Xenomorph powers require hands and mobility up to use
  code/modules/mob/living/carbon/alien/humanoid/alien_powers.dm
Labels: Balance

#69738 Fixes some access issues in the Lavaland base
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Map Edit

#69736 [Icebox] Moves a vent in medbay storage I don't like
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#69592 Mimes can now hold a baguette like a sword by right clicking it
  code/game/objects/items/food/bread.dm
Labels: Feature

#69428 Adds two modes for BuildMode
  code/modules/buildmode/submodes/proccall.dm
  code/modules/buildmode/submodes/tweakcomps.dm
  icons/misc/buildmode.dmi
  tgstation.dme
Labels: Sprites, Feature

#69572 Adds the meown shoes to the contraband section of the AutoDrobe.
  code/modules/clothing/shoes/clown.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/feet.dmi
  icons/obj/clothing/shoes.dmi
  sound/effects/meowstep1.ogg
Labels: Sprites, Sound, Feature, Good First PR

#69569 Sentience preference selection and antag datum
  code/__HELPERS/game.dm
  code/_globalvars/lists/poll_ignore.dm
  code/modules/admin/fun_balloon.dm
  code/modules/antagonists/sentient_creature/sentient_creature.dm
  code/modules/client/preferences/middleware/antags.dm
  code/modules/clothing/head/mind_monkey_helmet.dm
  code/modules/events/sentience.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_sentiencepotionspawn.png
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoSentient.js
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/sentiencepotionspawn.ts
Labels: Sprites, Fix, UI

#69754 Fixes varedited lantern on Ice Box and Syndicate Listening Station
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#69778 Fixes our rendering for 514.1587
  code/_onclick/hud/rendering/plane_master.dm
Labels: Priority: CRITICAL, Fix

#69757 [NO GBP] Fix an edgecase runtime when SM delams into cascade in under 2 minutes.
  code/modules/power/supermatter/supermatter_delamination/cascade_delam.dm
Labels: GBP: No Update

#69733 Fixed a bug that causes sliced food to have significantly fewer reagents than intended.
  code/datums/components/food/edible.dm
Labels: Fix

#69752 Cleans up populate world code
  code/modules/admin/admin_verbs.dm
Labels: Code Improvement

#69761 Bar shuttle bar stools now face the bar
  _maps/shuttles/emergency_bar.dmm
Labels: Fix, Map Edit

#69756 Corporate sofa corners no longer swallow your sprite when oriented North
  code/game/objects/structures/beds_chairs/sofa.dm
Labels: Fix

#69767 Fixes ethereal undersuit being adjustable, causing an error
  code/modules/clothing/under/ethereal.dm
Labels: Fix

#69721 Metastation security camera cleanup
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Grammar and Formatting, Fix, Removal, Map Edit, Quality of Life

#69786 Cleans up tgfont build command
  .vscode/tasks.json
  bin/tgfont.cmd
  tools/build/build.js
Labels: Tools

#69765 Fixes SaturnX
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/hair.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/screenshot_saturnx.dm
  code/modules/unit_tests/screenshots/screenshot_saturnx_invisibility.png
Labels: Fix, Unit Tests

#69782 Adds freeform and purge modules to Tramstation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#69731 Makes AnimatedNumber overperform (at sixty frames per second)
  tgui/packages/tgui/components/AnimatedNumber.js
  tgui/packages/tgui/components/AnimatedNumber.tsx
  tgui/packages/tgui/components/DraggableControl.js
  tgui/packages/tgui/components/NumberInput.js
  tgui/packages/tgui/interfaces/ChemHeater.js
  tgui/packages/tgui/interfaces/ChemRecipeDebug.js
  tgui/packages/tgui/interfaces/Fabrication/AnimatedQuantityLabel.tsx
  tgui/packages/tgui/interfaces/Fabrication/MineralAccessBar.tsx
Labels: Refactor, UI

#69745 Changes reagentscanner circuit component to use Table
  code/modules/wiremod/components/atom/reagentscanner.dm
Labels: Quality of Life

#69723 Medipen Reagent Examine Text Remaster 2: The Electric Boogaloo
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Quality of Life

#69783 Removes fishing minimum duration check
  code/modules/fishing/fishing_minigame.dm
Labels: Fix, Removal

#69768 Makes custom built table descriptions more accurate
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#69448 Removing trailing / from several mapping regexes
  tools/ci/check_grep.sh
Labels: Tools, Stale

#69457 Improves sleeper code and makes syndie sleepers deconstructable
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomZLevels/snowdin.dmm
  code/game/machinery/_machinery.dm
  code/game/machinery/sleepers.dm
  tgstation.dme
Labels: Code Improvement, Map Edit, Quality of Life

#69760 Revert "Fixes some access issues in the Lavaland base"
  _maps/map_files/Mining/Lavaland.dmm
  code/controllers/subsystem/id_access.dm
Labels: Revert, Map Edit

#69802 Silences gravgen admin alerts / logging when the round is not in progress
  code/modules/power/gravitygenerator.dm
Labels: Logging, Administration

#69805 Improves mecha / projectile logging
  code/modules/projectiles/projectile.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
Labels: Grammar and Formatting, Logging, Fix, Administration

#69800 Removes an unnecessary period from deadchat event announcements
  code/modules/events/_event.dm
Labels: Fix, Removal

#69789 Fixes some internal spelling of "auxillary"
  code/datums/ruins/space.dm
  code/game/area/areas/station.dm
Labels: Grammar and Formatting

#69819 fixes an extraneous possessive s from the cult heal feedback spell
  code/modules/antagonists/cult/blood_magic.dm
Labels: Grammar and Formatting

#69808 Fixes pirate ships being able to fly around
  _maps/shuttles/hunter_bounty.dmm
  _maps/shuttles/hunter_russian.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/pirate_dutchman.dmm
  _maps/shuttles/pirate_silverscale.dmm
  code/modules/events/pirates.dm
Labels: Fix, Map Edit, GBP: No Update

#69762 Fixes a couple simple issues with interactability
  code/_onclick/click.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/devices/aicard.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Labels: Fix

#69811 fixes suit sensor exploit
  code/modules/clothing/under/_under.dm
Labels: Fix

#69781 Allows most big object construction on lavaland again
  code/controllers/subsystem/materials.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/runed_metal.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
Labels: GBP: No Update

#69773 Fixes Signal Commander program breaking all signalers on default frequency
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/signalcommander.dm
Labels: Fix

#69742 I shaved 2 seconds off atom init times and it's boring
  code/controllers/subsystem/atoms.dm
Labels: Performance

#69625 pAIs and other pets that can be picked up no longer know shadow clone jutsu.
  code/modules/mob/living/inhand_holder.dm
Labels: Fix

#69839 Fixes lacking access restrictions on Metastation Departures Security Post
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#69801 Fix book of babel not removing blocked languages properly
  code/modules/mining/lavaland/tendril_loot.dm
Labels: Fix

#69821 Sleeping Carp deflect works once more
  code/datums/martial/sleeping_carp.dm
Labels: Fix
