Repository tgstation/tgstation, pull requests merged in 2022-03, with the labels that each got.

#65027 Add style guidelines for prefering named arguments when not otherwise obvious
  .github/guides/STYLE.md
Labels: Stale, GitHub

#65201 lobstrosities charge now
  code/datums/actions/mobs/charge.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/lobstrosity.dm
Labels: Fix

#64915 Space drifting fixes and cleanup
  code/datums/components/drift.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/effect_system/effect_system.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/tanks/watertank.dm
  code/modules/mob/mob_movement.dm
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix, Stale, Quality of Life

#64744 Slight improvements to manual mining
  code/game/turfs/closed/minerals.dm
Labels: Balance/Rebalance, Code Improvement, Quality of Life

#64752 Robotic Basic and Simple mobs now take damage from EMPs
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
Labels: Fix

#64839 New in-wall engine sprites
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/construction.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/tram_walls.dm
  code/game/shuttle_engines.dm
  icons/obj/2x2.dmi
  icons/obj/3x3.dmi
  icons/turf/shuttle.dmi
  tgstation.dme
Labels: Sprites, Map Edit

#65193 mod clamp can carry wrapped crates + mod activation not affected by do after slowdowns + radial icons highlight on extended pieces
  code/modules/mod/mod_activation.dm
  code/modules/mod/modules/modules_supply.dm
Labels: Fix, Quality of Life

#65211 Resprites the Warden Outfits (And Misc. Security Stuff)
  code/datums/dog_fashion.dm
  code/modules/clothing/head/jobs.dm
  code/modules/jobs/job_types/warden.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/corgi_head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/security.dmi
Labels: Sprites, Removal, Content Expansion

#64786 Makes Ants glow, puts a min on ant screaming & shoe permeability, & other ant-related things.
  _maps/RandomRuins/IceRuins/icemoon_surface_bughabitat.dmm
  code/datums/components/food/decomposition.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/simple_animal/friendly/ant.dm
  code/modules/mob/living/simple_animal/hostile/ant.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  icons/obj/objects.dmi
  tgstation.dme
Labels: Sprites, Balance/Rebalance, Map Edit, Quality of Life

#64862 Prevents instant summons from recalling anchored objects
  code/modules/spells/spell_types/summonitem.dm
Labels: Fix, Stale

#65183 Fixes Kilostation's space ruin z-linkages and level count
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#65018 Minor refactor for /obj/projectile/proc/select_target
  code/modules/projectiles/projectile.dm
Labels: Refactor, Stale

#65182 Fix active turf on Icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#65102 Fixes pathing mistakes for a few food things
  code/game/objects/items/trash.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_moth.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
Labels: Fix

#65077 Dehardcodes SSmapping
  code/__DEFINES/maps.dm
  code/controllers/subsystem/mapping.dm
  code/datums/ruins.dm
  code/datums/ruins/icemoon.dm
  code/datums/ruins/lavaland.dm
  code/datums/ruins/space.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mapping/map_template.dm
Labels: Refactor, Code Improvement

#65195 Makes deadchat control inputs bypass automute.
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/datums/components/deadchat_control.dm
  code/modules/client/client_procs.dm
Labels: Quality of Life

#65214 Fixes a minor code styling issue with atmos.
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Code Improvement

#65111 TGUIs airlock controllers (ie incinerator access consoles)
  code/game/machinery/embedded_controller/airlock_controller.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  tgui/packages/tgui/interfaces/AirlockController.js
Labels: Refactor, UI

#65220 Adds Some Lattices to KiloStation Atmospherics
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit

#65218 Fixes Space Pathing in DeltaStation's Abandoned Gambling Den
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#65237 Fixes an Oversight in Air Alarm Sprites for Mappers (!!!)
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Fix

#65216 Fix shuttles without engines runtiming `hyperspace_sound`
  code/modules/shuttle/shuttle.dm
Labels: Runtime, Fix, Verified :heavy_check_mark:

#65238 Fixes a spelling mistake in thief_flavor.json
  strings/antagonist_flavor/thief_flavor.json
Labels: Grammar and Formatting

#65234 Removes the `environment_type` var from mineral turfs
  code/__DEFINES/turfs.dm
  code/game/turfs/closed/minerals.dm
  code/modules/ruins/lavalandruin_code/elephantgraveyard.dm
Labels: Code Improvement

#64952 Adds a new Area Turf Sprite for Tech Storage.
  code/game/area/space_station_13_areas.dm
  icons/turf/areas.dmi
Labels: Sprites

#65099 Actually make notes on airlocks animate when the airlock opens
  code/game/machinery/doors/airlock.dm
  icons/obj/doors/airlocks/external/overlays.dmi
  icons/obj/doors/airlocks/hatch/overlays.dmi
  icons/obj/doors/airlocks/station/overlays.dmi
Labels: Sprites

#65232 Fixes spammy monkey runtime.
  code/datums/ai/generic/generic_behaviors.dm
Labels: Fix

#65215 Podpeople inherit their blood chemical from the most abundant chemical trait in their seeds
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
Labels: Content Expansion

#62284 Ordnance Content Update: Scientific Papers
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_explosion.dm
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__DEFINES/machines.dm
  code/__DEFINES/research.dm
  code/__HELPERS/atmospherics.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/explosions.dm
  code/controllers/subsystem/research.dm
  code/datums/components/atmos_reaction_recorder.dm
  code/game/machinery/computer/arcade/arcade.dm
  code/game/machinery/doppler_array.dm
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  code/modules/experisci/experiment/types/explosive.dm
  code/modules/experisci/experiment/types/ordnance.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/file_system/data.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  code/modules/modular_computers/file_system/programs/robotact.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/power/power.dm
  code/modules/research/anomaly/anomaly_refinery.dm
  code/modules/research/anomaly/explosive_compressor.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/research/experimentor.dm
  code/modules/research/ordnance/_scipaper.dm
  code/modules/research/ordnance/doppler_array.dm
  code/modules/research/ordnance/scipaper_partner.dm
  code/modules/research/ordnance/scipaper_publisher.dm
  code/modules/research/ordnance/tank_compressor.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/_techweb_node.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/machines/research.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/AnomalyRefinery.js
  tgui/packages/tgui/interfaces/DopplerArray.js
  tgui/packages/tgui/interfaces/NtosScipaper.js
  tgui/packages/tgui/interfaces/TachyonArray.js
  tgui/packages/tgui/interfaces/TankCompressor.js
  tgui/packages/tgui/interfaces/ThermoMachine.js
  tgui/packages/tgui/interfaces/common/GasmixParser.js
Labels: Sprites, Mechanic, UI, Map Edit

#65236 Medical Revamp: Resprites and Jumpsuit/Under Changes
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/mafia/outfits.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/under/medical.dmi
  icons/obj/clothing/under/medical.dmi
  tools/UpdatePaths/clothingunderrepath.txt
Labels: Sprites, Removal, Tools, Map Edit

#65080 Restores old monkey knockdowns (monkey nerf)
  code/datums/ai/monkey/monkey_controller.dm
  code/game/objects/structures/industrial_lift.dm
Labels: Fix, Stale

#64826 Removes some boilerplate code from basic AI
  code/datums/ai/movement/_ai_movement.dm
  code/datums/ai/movement/ai_movement_basic_avoidance.dm
  code/datums/ai/movement/ai_movement_dumb.dm
  code/datums/ai/movement/ai_movement_jps.dm
Labels: Removal, Refactor, Code Improvement

#65264 Resprites Generic Jumpsuits to 3.0 Style
  icons/mob/clothing/under/color.dmi
  icons/obj/clothing/under/color.dmi
Labels: Sprites

#65257 Spelling fix on doorjack charge count
  code/game/objects/items/emags.dm
Labels: Grammar and Formatting

#65125 lavaland elite fix + code improvement
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
Labels: Fix, Stale

#65223 Overhauls heretic rituals slightly for better user feedback (and to help locate a bug)
  code/__DEFINES/antagonists.dm
  code/__HELPERS/cmp.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/structures/mawed_crucible.dm
  code/modules/antagonists/heretic/transmutation_rune.dm
  code/modules/unit_tests/heretic_rituals.dm
Labels: Test Merge Candidate, Quality of Life

#65167 New solar panel and tracker sprites
  code/__HELPERS/matrices.dm
  code/game/area/space_station_13_areas.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  goon/icons/obj/power.dmi
  icons/obj/solar.dmi
Labels: Sprites, Quality of Life

#65254 Fixes clown dagger icon
  code/game/objects/items/holy_weapons.dm
Labels: Fix

#65245 Lower thieves cost from 6 to 4, disable midround thieves
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Balance/Rebalance

#65262 Adds some electrified grilles to the IceBox Labor Camp
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Balance/Rebalance, Map Edit

#65272 player playtime improvements
  code/__HELPERS/cmp.dm
  code/modules/admin/verbs/admin.dm
Labels: Administration

#65042 Fixes bugs with batons with no cells
  code/game/objects/items/melee/baton.dm
Labels: Fix, Stale

#65268 Lets cayenne use the nuke
  code/__DEFINES/traits.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
Labels: Balance/Rebalance

#65274 Slight Jackboot Resprite
  icons/mob/clothing/feet.dmi
Labels: Sprites

#65242 Lesbian & Intersex Pins, and General Resprite
  code/modules/clothing/under/accessories.dm
  icons/mob/clothing/accessories.dmi
  icons/obj/clothing/accessories.dmi
Labels: Sprites, Content Expansion

#65241 [COOL BUG READ FOR MORE INFO] Fix vaccines not working in chem masters by giving Fungal TB's vaccine (and others) a name + Add unit test for duplicate chem names + Rename fake beer + Ratio
  code/modules/antagonists/blob/blobstrains/energized_jelly.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/reagent_names.dm
Labels: Fix, Verified :heavy_check_mark:, Unit Tests

#65279 Area Fixes for DeltaStation Space Hut
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#65256 Adds some more options for female outfit cropping
  code/__DEFINES/inventory.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/cargo.dm
  code/modules/clothing/under/jobs/centcom.dm
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
  code/modules/clothing/under/jobs/civilian/curator.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirt_dress.dm
  code/modules/clothing/under/suits.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  icons/mob/clothing/under/masking_helpers.dmi
Labels: Sprites, Code Improvement

#64985 Adds USB port to Fire Alarms
  code/__DEFINES/dcs/signals/signals_object.dm
  code/game/machinery/firealarm.dm
Labels: Good First PR, Content Expansion

#65269 RCD windoor fixes
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/turfs/open/floor.dm
Labels: Fix, Quality of Life

#65169 Fixes being able to insert hand emote items (kisses, slappers, etc) into storage
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/game/objects/items/hand_items.dm
  code/modules/antagonists/gang/gang.dm
  code/modules/detectivework/evidence.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#65035 The Science Hub app for research is now available for science employees in addition to heads of staff.
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  code/modules/modular_computers/file_system/programs/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/portrait_printer.dm
  code/modules/modular_computers/file_system/programs/powermonitor.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  code/modules/modular_computers/file_system/programs/robotact.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  code/modules/modular_computers/file_system/programs/sm_monitor.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
Labels: Balance/Rebalance, Stale

#65194 Fixes Mapping-Visuals of Cult Engraved Floor
  code/game/turfs/open/floor/reinf_floor.dm
Labels: Sprites

#65250 Fixes the other missing / in reactions.
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#65207 Improves spelling for Wheelys' procs to take into account its subtypes
  code/modules/clothing/shoes/wheelys.dm
Labels: Grammar and Formatting

#65008 Fixes the inputs for the linear and exponential sustain settings of the song editor.
  code/modules/instruments/songs/_song.dm
  code/modules/instruments/songs/editor.dm
  code/modules/tgui/tgui_input_number.dm
Labels: Fix

#65286 Changes the poll button in the lobby to be less confusing
  icons/hud/lobby/bottom_buttons.dmi
Labels: Sprites

#65278 Makes discoordinated a status effect
  code/datums/brain_damage/severe.dm
  code/datums/status_effects/debuffs.dm
Labels: Quality of Life

#65283 Blowguns no longer impede people with a trigger guard
  code/modules/projectiles/guns/special/syringe_gun.dm
Labels: Fix

#65212 No, we don't want radiation getting released in large pipenets fuck you fuckr uyu!
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Balance/Rebalance

#65225 Fit Viewport cleanup
  code/datums/view.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/ooc.dm
Labels: Fix

#65184 Fixes an oversight with heretic influence generation
  code/modules/antagonists/heretic/influences.dm
Labels: Fix, Stale, GBP: No Update

#64890 Can use BSRPED to add components to machine frames at a distance
  code/game/machinery/constructable_frame.dm
  code/modules/research/stock_parts.dm
Labels: Stale, Quality of Life

#65301 Fixes Icebox and Meta's medbay door controls button not working
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#65188 Tramstation Dorm Rework
  _maps/map_files/tramstation/modular_pieces/maintenance_dorms_1.dmm
  _maps/map_files/tramstation/modular_pieces/maintenance_dorms_2.dmm
  _maps/map_files/tramstation/modular_pieces/maintenance_dorms_attachment_1.dmm
  _maps/map_files/tramstation/modular_pieces/maintenance_dorms_attachment_2.dmm
  _maps/map_files/tramstation/modular_pieces/maintenance_dorms_attachment_3.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/area/space_station_13_areas.dm
  code/game/objects/structures/signs/signs_misc.dm
  code/modules/clothing/gloves/color.dm
  icons/obj/decals.dmi
  icons/turf/areas.dmi
  strings/modular_maps/Tramstation.toml
  tgstation.dme
Labels: Sprites, Fix, Map Edit, Content Expansion

#65260 Fixes Power on IceBoxStation's Bar Atrium Area
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#65227 #64812 typo fixes
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Grammar and Formatting, GBP: No Update

#65158 Atmos volume pumps and meters are now compatible with circuits
  code/__DEFINES/dcs/signals/signals_object.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/other/meter.dm
Labels: Fix, Stale, Content Expansion, Integrated Circuits

#65191 Makes plumbing IV drips rotatable with alt-click, removes alt-clicking IV drips to max out transfer rate
  code/game/machinery/iv_drip.dm
Labels: Fix

#65304 Fixes bot trails being invisible, other cleanup
  code/__HELPERS/path.dm
  code/game/machinery/launch_pad.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Fix

#64818 Janitorial cart improvements
  code/game/objects/items/broom.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/mop.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/structures/janicart.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Mechanic, Code Improvement, Quality of Life

#64428 Tool act superpack 2
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/items/wall_mounted.dm
  code/game/objects/structures/barsigns.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/reflector.dm
  code/game/objects/structures/showcase.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/atmospherics/machinery/components/binary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
  code/modules/modular_computers/hardware/ai_slot.dm
  code/modules/modular_computers/hardware/card_slot.dm
  code/modules/paperwork/paper_cutter.dm
  code/modules/photography/photos/frame.dm
Labels: Refactor

#65239 KILOSTATION: Remaps almost all of the center "core" area (service hall included)
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Edit, Content Expansion

#65280 DeltaStation Science Shearing (Take a break, bozo!)
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit

#65079 Buffs the Silverscale pirates (and their species slightly), and tweaks their shuttle
  _maps/shuttles/pirate_silverscale.dmm
  code/modules/clothing/outfits/standard.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/guns/ballistic.dmi
Labels: Sprites, Balance/Rebalance, Map Edit

#65261 Some Mining Station Area Redefines, Renaming, and Redrawing
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/Mining/Lavaland.dmm
  code/game/area/areas/mining.dm
Labels: Map Edit

#65130 The Crash Atmospherics Diet (Pump some Weights!)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/area/space_station_13_areas.dm
  icons/turf/areas.dmi
Labels: Sprites, Map Edit

#64870 More Area Turf Sprites for Atmossians
  code/game/area/space_station_13_areas.dm
  icons/turf/areas.dmi
Labels: Sprites

#64045 A bit of gas reaction cleanup.
  code/__DEFINES/atmospherics/atmos_core.dm
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Stale, Code Improvement

#65196 Vibebot code improvement + QoL
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/vibebot.dm
Labels: Fix, Quality of Life

#65315 debug modsuits now are insulated
  code/modules/mod/mod_theme.dm
Labels: Fix

#65332 Nations now has the ONLY_RULESET flag
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Balance/Rebalance

#65299 Prevents harddels from stealing items when maps are loaded after SSatoms init
  code/game/gamemodes/objective_items.dm
  code/game/objects/items.dm
  code/modules/antagonists/traitor/objectives/steal.dm
Labels: Fix

#65327 abstract movement now checks for cordon turfs + cordons have NOJAUNT
  code/modules/awaymissions/cordon.dm
  code/modules/mob/mob_movement.dm
Labels: Fix

#65284 De-hardcodes the decomposition examine proc, and makes the decompose time editable
  code/datums/components/food/decomposition.dm
  code/game/objects/items/food/_food.dm
Labels: Refactor

#65219 Adds Pickle-Coding to atmospherics and power CODEOWNERS.
  .github/CODEOWNERS
Labels: Stale, GitHub

#65350 Fixes broken posts in the icebox underground
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit

#65306 Machinery attack_paw() gives feedback for no damage attacks
  code/_onclick/item_attack.dm
  code/datums/components/pellet_cloud.dm
  code/game/machinery/_machinery.dm
  code/game/objects/obj_defense.dm
Labels: Quality of Life

#65314 fixes mod plating being called armor in some places
  code/modules/mod/mod_construction.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/clothing/modsuit/mod_construction.dmi
Labels: Sprites, Fix

#65351 Adds the Pensive Emote to Chat
  icons/ui_icons/emoji/emoji.dmi
Labels: Sprites, Priority: High

#65313 Fixes ollieing onto empty space tiles making you float forever
  code/modules/vehicles/vehicle_actions.dm
Labels: Fix

#65322 Adds an Altar of the Gods to Tramstation Chapel
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65221 Screentips for anomaly neutralizer / null rod (and other effect removers)
  code/datums/components/effect_remover.dm
  code/game/objects/items/devices/anomaly_neutralizer.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/antagonists/heretic/items/forbidden_book.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
Labels: Stale, Quality of Life

#65339 Adds "Suspected" to available sec record tags
  code/game/data_huds.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/warrant.dm
  code/modules/mob/living/carbon/human/human.dm
  icons/mob/huds/hud.dmi
Labels: Sprites, Mechanic

#65335 New weight machine sprites
  code/game/objects/structures/gym.dm
  goon/icons/obj/fitness.dmi
  icons/obj/weightmachine.dmi
Labels: Sprites, Fix

#65309 Fixes possible charge issues in the future
  code/datums/actions/mobs/charge.dm
Labels: Fix, Good First PR

#65376 Fix broken documentation links
  .github/guides/RUNNING_A_SERVER.md
Labels: Documentation, GitHub

#65324 Fixes Broken Texture Edge Case Oddity (Rock Meet Skull Edition)
  _maps/map_files/tramstation/modular_pieces/maintenance_lowarrivals_attachment_3.dmm
  code/game/turfs/open/floor/plating/asteroid.dm
Labels: Fix, Map Edit

#65319 adds an APC to the upper dorm area on Tramstation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65359 Door Ownership For DeltaStation Ordnance Storage
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Mechanic, Map Edit

#65217 Adds a colorblind accessability testing tool
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/_onclick/hud/rendering/plane_master_controller.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/admin/verbs/color_blind_test.dm
  code/modules/admin/verbs/debug.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ColorBlindTester.js
Labels: Stale, UI, Code Improvement, Accessibility

#65358 Restores the Persistent Scars preference
  code/controllers/subsystem/persistence.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences/persistent_scars.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/persistent_scars.tsx
Labels: Refactor, UI

#65356 Fixes Glass booze bottles and molotovs not splashing their contents when broken via throwing
  code/modules/food_and_drinks/drinks/drinks.dm
Labels: Fix, Good First PR

#65341 book resprite
  code/modules/antagonists/cult/cult_items.dm
  icons/obj/cult/items_and_weapons.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/library.dmi
  icons/obj/storage.dmi
Labels: Sprites

#65385 Fixes hud objects being hidden by blindness
  code/_onclick/hud/rendering/plane_master.dm
Labels: Fix, FUCK, GBP: No Update

#65352 Changes the default ghost lighting, makes it a preference
  code/__DEFINES/traits.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/client/preferences/ghost_lighting.dm
  code/modules/mob/dead/observer/login.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/ghost_lighting.tsx
Labels: Balance/Rebalance, Mechanic, UI

#65325 Fixes Chili sin carne
  code/modules/food_and_drinks/recipes/tablecraft/recipes_moth.dm
Labels: Fix

#65363 high frequency blade now works on vehicles + can customize slash color
  code/game/objects/items/weaponry.dm
Labels: Fix, Administration

#65120 reduce pluox produced by the SM
  code/modules/power/supermatter/supermatter.dm
Labels: Balance/Rebalance, Stale

#65305 Becoming the patron of a painting now lets you select a different, persistent appearance for the frame it's in.
  code/controllers/subsystem/persistent_paintings.dm
  code/modules/art/paintings.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/paintings.dm
  icons/obj/artstuff.dmi
Labels: Sprites, Mechanic, Fix

#65373 Add cable to engineering console on Delta station bridge
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Good First PR, Map Edit

#65374 Enables public access to escape pod on KiloStation
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#65369 Declutters DeltaStation's Telecommunications Walls
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#65368 Fixes Bar Stool Directionality in Nuclear Operative Base
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Edit

#65298 Fixes tablet not updating appearance after it is repaired
  code/modules/modular_computers/computers/item/computer.dm
Labels: Fix

#65303 Getting electrically shocked now helps against heart attacks
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#65343 Fixes non rustable turfs from being rusted
  code/__DEFINES/flags.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  code/game/turfs/open/water.dm
  code/game/turfs/turf.dm
Labels: Fix

#65344 Cyborgs can no longer hand mine snow turfs with non-mining modules
  code/game/turfs/closed/minerals.dm
Labels: Mechanic, Fix

#65333 Makes the pride pin appear on top of the suit slot
  code/modules/clothing/under/accessories.dm
Labels: Quality of Life, Atomic

#65353 Fixes Abandoned Crates exploding on right click + Code improvements.
  code/modules/mining/abandoned_crates.dm
Labels: Fix

#65357 [No GBP] Makes adding additional modular bookstates easier for downstreams
  code/modules/library/lib_items.dm
  code/modules/library/lib_machines.dm
  code/modules/library/random_books.dm
Labels: Code Improvement, GBP: No Update

#65360 makes vibebots pAI controllable
  code/modules/mob/living/simple_animal/bot/vibebot.dm
Labels: Fix, GBP: No Update

#65265 Kilo Chapel Revamp (Pubby Style)
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Good First PR, Map Edit

#65249 Fixes RCD not being able to be put in containers by click
  code/game/objects/items/RCD.dm
Labels: Fix

#65370 Adds a new Mapping Icon for Light Emitter Effect Placement
  code/modules/mining/mine_items.dm
  icons/effects/effects.dmi
Labels: Sprites

#65379 Fixes succumb cancel not working.
  code/_onclick/hud/alert.dm
Labels: Fix

#65380 Correction of Misdescription of DeltaStation Atmospherics Areas
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/game/area/space_station_13_areas.dm
  icons/turf/areas.dmi
Labels: Sprites, Mechanic, Map Edit

#65247 Makes clusterbuster segments actually initialize and prime
  code/game/objects/items/grenades/clusterbuster.dm
Labels: Fix

#65277 conveyor belt and switch changes
  code/datums/wires/conveyor.dm
  code/modules/recycling/conveyor.dm
Labels: Content Expansion

#65367 Liches can't use Soul Tap (again)
  code/modules/spells/spell_types/soultap.dm
Labels: Fix

#64921 Mecha springclean P4: mech equipment fix/cleanup
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/equipment/tools/medical_tools.dm
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/mecha/working/clarke.dm
Labels: Fix

#65287 You can no longer survive nuke by being inside lockers, however, you are guaranteed to survive it while inside a fridge.
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Balance/Rebalance

#65252 Improve ornament, barricade, grille, and girder random spawners
  code/game/objects/effects/spawners/random/decoration.dm
  code/game/objects/effects/spawners/random/structure.dm
Labels: Stale, Quality of Life

#65290 Four Corners, Red Rover: An Exploration in Decal Trends [MDB IGNORE]
  _maps/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/commswilding_1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_feasible.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_inevitable.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_unlikely.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/turretedoutpost.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/challenge.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/CTF/classic.dmm
  _maps/map_files/CTF/cruiser.dmm
  _maps/map_files/CTF/downtown.dmm
  _maps/map_files/CTF/fourSide.dmm
  _maps/map_files/CTF/limbo.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Mafia/mafia_lavaland.dmm
  _maps/map_files/Mafia/mafia_syndie.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/arrival_delta.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_cruise.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/mining_delta.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/starfury_corvette.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/templates/battlecruiser_starfury.dmm
  _maps/templates/medium_shuttle1.dmm
  _maps/templates/medium_shuttle2.dmm
  _maps/templates/medium_shuttle3.dmm
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  icons/turf/decals.dmi
Labels: Sprites, Mechanic, Map Edit

#65408 Fixes borg wallmounting
  code/game/objects/items/wall_mounted.dm
Labels: Fix

#65411 Fixes persistent painting patron name not being loaded
  code/controllers/subsystem/persistent_paintings.dm
Labels: Fix

#65402 modsuit nominal sound no longer plays when youre deaf
  code/modules/mod/mod_activation.dm
Labels: Fix

#65409 Decomposition now has mold first, then ants, instead of both.
  code/datums/components/food/decomposition.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/decals/cleanable/robots.dm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/food/misc.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix, Quality of Life

#65405 Removes random wall from tramstation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65410 Literally fixes Icebox psychology (computer)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#65388 Fixes double firelocks in the derelict outpost ruin.
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
Labels: Fix, Map Edit

#65417 adds a roundend threat log, showing player threat edits
  code/__HELPERS/roundend.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/ruleset_picking.dm
  code/game/machinery/computer/communications.dm
  code/modules/antagonists/revolution/revolution.dm
Labels: Quality of Life

#65403 Fixes, refactors airlock plating
  code/game/machinery/doors/airlock.dm
Labels: Fix, Refactor

#65438 Makes splashed blood infective like bled blood.
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Content Expansion

#65435 Fixes Weird Turf Decal On Wall in KiloStation
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#65432 Removes a forgotten devil proc in photocopier code
  code/modules/paperwork/photocopier.dm
Labels: Code Improvement

#65427 Removes CE's extra keycard auth device on Metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Removal, Map Edit

#65437 Makes Clown tears reagent FINALLY obtainable through grinding. Makes clowns cry harder too.
  code/game/objects/items/food/soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
Labels: Fix

#65422 Fixes all cheese counting as cheese wedges for recipes
  code/game/objects/items/food/misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_mexican.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_moth.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_soup.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  code/modules/recycling/disposal/bin.dm
Labels: Fix

#65419 Fixes empty Identified Shift Divergences section bug
  code/game/gamemodes/game_mode.dm
Labels: Fix
