Repository tgstation/tgstation, pull requests merged in 2022-06, with the labels that each got.

#67368 Fixes Being Able To See Rock Out Of Nuke Ops Shuttle
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Edit

#67423 Removes Space Computer on DeltaStation
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Removal, Map Edit

#67064 Refactors warp whistle
  code/_globalvars/phobias.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/spells/spell_types/rightandwrong.dm
Labels: Balance/Rebalance, Refactor

#67426 Removes adjustHealth procs from Icemoon Fauna (they no longer regenerate health)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_whelp.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wolf.dm
Labels: Balance/Rebalance, Removal

#67003 Adds Cargorilla
  code/datums/components/crate_carrier.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/modules/mob/living/carbon/human/monkey/monkey.dm
  code/modules/mob/living/simple_animal/friendly/sloth.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/vehicles/mecha/working/ripley.dm
  tgstation.dme
Labels: Feature, 📌 Test Merge Candidate

#67443 Fix androids looking dumb and stupid and ugly
  code/modules/mob/living/carbon/human/species_types/android.dm
Labels: Fix

#67403 Fixes the stasis ripple not playing in a loop and the unusually-slow stasis bed lying down animation
  code/datums/status_effects/debuffs/debuffs.dm
Labels: Fix

#67453 Fixes overlapping objects in the firing range on MetaStation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#67424 Fixes pellet cloud wounding where I just broke it
  code/datums/components/pellet_cloud.dm
Labels: Fix, GBP: No Update

#67263 Minor buffs for Heretic focuses / equipment and the Void Cloak.
  code/datums/components/storage/concrete/pockets.dm
  code/modules/antagonists/heretic/heretic_focus.dm
  code/modules/antagonists/heretic/items/heretic_armor.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/antagonists/heretic/knowledge/side_ash_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_flesh_void.dm
  code/modules/antagonists/heretic/structures/mawed_crucible.dm
  tgstation.dme
Labels: Balance/Rebalance, Stale

#67460 Removes cremator access from cremator buttons
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Balance/Rebalance, Removal, Map Edit

#67450 surplus prosthetics have correct sprites now
  code/modules/surgery/bodyparts/robot_bodyparts.dm
Labels: Fix

#67439 Fixes a check doing the opposite of what it was supposed to do
  code/datums/elements/wall_engraver.dm
Labels: Fix

#67328 Make triple citrus recipe make sense
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Labels: Fix

#67038 New tile sprayer + airlock painter sprites
  code/game/objects/items/airlock_painter.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/objects.dmi
Labels: Sprites, Stale

#67464 IceBox Dorm wall crowding fixes
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#67097 Assorted Ordnance Code+Map Quality Pass and QoL
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/controllers/subsystem/traitor.dm
  code/game/area/areas/station.dm
  code/game/machinery/computer/atmos_computers/__identifiers.dm
  code/game/machinery/computer/atmos_computers/air_sensors.dm
  code/game/machinery/computer/atmos_computers/atmos_controls.dm
  code/game/machinery/computer/atmos_computers/inlets.dm
  code/game/machinery/computer/atmos_computers/outlets.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/turfs/open/dirtystation.dm
  code/modules/admin/verbs/debug.dm
  code/modules/events/anomaly.dm
  code/modules/modular_computers/hardware/program_disks.dm
  icons/area/areas_station.dmi
Labels: Sprites, Code Improvement, Map Edit, Quality of Life

#67106 Makes the energy calculation part of temp share a define.
  code/__DEFINES/atmospherics/atmos_helpers.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
Labels: Stale, Code Improvement

#67447 Greps to check for commonly misplaced structures in closed turfs
  _maps/RandomRuins/IceRuins/icemoon_surface_bughabitat.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomZLevels/research.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  tools/ci/check_grep.sh
Labels: Fix, Tools, Code Improvement, Map Edit

#67230 Permabrig's Large Area Splittening (call it a comeback?)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/area/areas/station.dm
  icons/area/areas_station.dmi
Labels: Sprites, Feature, Map Edit

#67471 Moves scrubber out from under a vendor in the metastation command meeting room.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#67438 Reimplements breathedeep's scan into atmozphere.
  code/_onclick/observer.dm
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/game/objects/objs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/atmosscan.dm
  tgui/packages/tgui/interfaces/GasAnalyzer.tsx
  tgui/packages/tgui/interfaces/NtosGasAnalyzer.tsx
Labels: UI, Quality of Life

#67341 Makes traitor reputation display consistent
  code/__DEFINES/uplink.dm
Labels: Fix, UI

#67105 Fixes statue simplemob teleport not working and 3 other spells not appearing
  _maps/RandomZLevels/SnowCabin.dmm
  code/datums/memory/memory.dm
  code/game/objects/structures/petrified_statue.dm
  code/modules/art/statues.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
Labels: Fix, Stale, Map Edit

#67310 Allows modsuits to be used in outfit manager
  code/modules/admin/outfit_editor.dm
Labels: Administration

#67275 Departmental Officers now have access to most of their department
  code/datums/id_trim/jobs.dm
Labels: Balance/Rebalance, Fix, Stale

#67499 [NO GBP] Fixes a window without plating underneath in DeltaStation rec
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit, GBP: No Update

#67489 Fixes UpdatePaths removing used keys if they got touched twice
  tools/mapmerge2/dmm.py
Labels: Fix, Tools

#67492 Fixes held memorizers being invisible
  code/modules/assembly/flash.dm
Labels: Fix

#67497 Adds logging to overlay overflow errors
  code/controllers/subsystem/overlays.dm
Labels: Code Improvement

#67340 Move more silicon-relevant logs to silicon logs
  code/datums/wires/robot.dm
  code/game/objects/items/AI_modules.dm
  code/game/objects/items/devices/aicard.dm
  code/game/objects/items/robot/ai_upgrades.dm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/events/ion_storm.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
Labels: Logging, Administration

#67353 Fix asteroid parallax layering issue
  code/_onclick/hud/parallax.dm
Labels: Fix, Stale, Good First PR

#67437 Durand shield now shows correctly on top of the mech.
  code/modules/vehicles/mecha/combat/durand.dm
Labels: Fix

#67506 Removes Molotov reuse
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
Labels: Fix, Removal

#67519 Fixes Electric Razors not actually updating your sprite.
  code/game/objects/items/cosmetics.dm
Labels: Fix

#67507 BEPIS no longer phases into the astral plane when screwdrivered
  code/modules/research/bepis.dm
Labels: Fix

#67503 fixes all access helpers
  code/modules/mapping/access_helpers.dm
Labels: Fix

#67227 The Great Species Food Rebalance, Part One: Nutriment, Chemical Recipes, Cargo Orders, Baking Times, Oh My!
  code/game/machinery/computer/chef_orders/order_datum.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/moth.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/crates_lockers/crates/cardboard.dm
  code/modules/cargo/packs.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/corn.dm
  icons/obj/crates.dmi
  icons/obj/storage.dmi
Labels: Sprites, Balance/Rebalance, Feature, Stale

#67332 Ensures cinematics really go away when they're done.
  code/datums/cinematics/_cinematic.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
Labels: Fix, GBP: No Update

#67528 Fixes centcom announcements referring to icebox as a station in orbit
  _maps/icebox.json
  code/datums/map_config.dm
  code/game/machinery/computer/communications.dm
Labels: Fix, Map Edit

#67530 Fixes mid-construction airlocks having paper stuck to them
  code/game/objects/structures/door_assembly.dm
Labels: Fix

#67504 Xenomorph evolve runtime fix
  code/modules/mob/living/carbon/alien/larva/powers.dm
Labels: Fix, Good First PR

#67502 [NO GBP] Fixes zombie powder again
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix, GBP: No Update

#67481 replaces some slot names with proper names
  code/_onclick/hud/human.dm
Labels: Code Improvement

#67516 Ports crow holochassis for pAI
  code/modules/mob/living/silicon/pai/pai.dm
  icons/mob/pai.dmi
  icons/mob/pai_item_head.dmi
  icons/mob/pai_item_lh.dmi
  icons/mob/pai_item_rh.dmi
Labels: Sprites, Feature

#67505 [Tram] Removes an All-Access helper from an already all-access airlock
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Removal, Map Edit

#67522 Fixed regular scientists spawning in RD's office in kilo
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#67536 Removes an obsolete Tip of the Round about PACMAN generators.
  strings/tips.txt
Labels: Removal, Quality of Life

#67535 Fixes IDs with null registered_name not being able to access security console
  code/game/machinery/computer/security.dm
Labels: Fix

#67533 fixes modsuits fucking up when unequipping every item (wabbajack)
  code/modules/mod/mod_control.dm
  code/modules/mod/modules/modules_general.dm
Labels: Fix

#67532 Fixes health analyzers not properly pointing out robotic/prosthetic limbs.
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Fix

#67531 Resprites the soviet uniform
  icons/mob/clothing/under/costume.dmi
  icons/mob/simple_human.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites

#67527 Fixes firelocks checking the atmospheric contents of solid walls.
  code/game/machinery/doors/firedoor.dm
Labels: Fix

#67526 Fixes all access fan requiring more IDs that possibly available
  code/modules/antagonists/thief/thief_objectives.dm
Labels: Fix

#67525 ninjas now get told about pinning modules and the direction to the station (and adds pinning module round tip)
  code/modules/antagonists/space_ninja/space_ninja.dm
  strings/tips.txt
Labels: Quality of Life

#67520 Update Python required versions
  tools/requirements.txt
Labels: Tools

#67514 Fixes stack multiplier exploit
  code/game/objects/items/stacks/stack.dm
Labels: Fix

#67493 Prevents unsecuring photon projectors.
  code/modules/assembly/flash.dm
Labels: Fix

#67473 [NO GBP] Fix illiterate quirk bugs
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/mutations/passive.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/ntmessenger.dm
Labels: Fix, Verified :heavy_check_mark:, GBP: No Update

#67468 Ports the Flower Garland from JollyStation
  code/datums/components/crafting/recipes.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/clothing/head/garlands.dm
  icons/mob/clothing/head.dmi
  icons/obj/clothing/hats.dmi
  tgstation.dme
Labels: Sprites, Feature

#67461 Restores one soul of the drinks sprites
  icons/obj/drinks.dmi
Labels: Sprites

#67427 Fixes inspect bounties not generating for most areas and giving invalid areas to scan
  code/modules/cargo/bounties/security.dm
Labels: Fix

#67485 fixes infinite loops when a projectile pierces a bumped object
  code/modules/projectiles/projectile.dm
Labels: Fix

#67484 adds crowbars to fire-safety closets without gutting red toolboxes
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Grammar and Formatting, Feature

#67399 Removes Ant Party Pizza's full pie, makes it so you just pour ants on a single slice.
  code/game/objects/items/food/pizza.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  icons/obj/food/pizzaspaghetti.dmi
Labels: Sprites, Removal

#67307 Adminwho now caches feedback links until admins are reloaded (and also works again)
  code/__DEFINES/admin.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
Labels: Performance, Fix, Stale, Config Update

#67547 Delta Sec pod airless plating
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#67550 Fixes a rogue parent area on a tile in TramStation Maint
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#67551 Fixes lack of fire alarms outside of the library on Meta.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#67494 Icemoon Shorelines - Monster-Station Interaction Prevention Scheme
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/game/area/areas/mining.dm
  icons/area/areas_station.dmi
Labels: Sprites, Balance/Rebalance, Map Edit

#67160 Advanced Welderbombing
  code/__DEFINES/dcs/signals/signals_assembly.dm
  code/modules/assembly/igniter.dm
  code/modules/reagents/reagent_dispenser.dm
  tgstation.dme
Labels: Feature

#67330 An Exploration Into Lame Jobs - Syndicate Listening Post Remap
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  code/modules/mapfluff/ruins/spaceruin_code/listeningstation.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/photography/photos/album.dm
Labels: Balance/Rebalance, Feature, Map Edit

#67565 Fixes issues where players can enter the game without accepted interviews.
  code/_onclick/hud/new_player.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix

#67564 removes a tile of metastation xenobiology poking into space
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Removal, Map Edit

#67561 Replace red colored beacons on solars/catwalk areas outside Meta to be colored according to department
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Quality of Life

#67558 Resprites the white suit / "scratch" suit
  icons/mob/clothing/under/suits.dmi
  icons/obj/clothing/under/suits.dmi
Labels: Sprites

#67326 Fixes ID access circuit components
  code/modules/wiremod/components/id/access_checker.dm
  code/modules/wiremod/components/id/access_reader.dm
Labels: Fix, Integrated Circuits

#67119 Makes GAGS menu display time spent even without full preview
  tgui/packages/tgui/interfaces/GreyscaleModifyMenu.tsx
Labels: Stale, UI, Quality of Life

#67206 Improves logging for smoke clouds.
  code/__HELPERS/reagents.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/effects/effect_system/effects_explosion.dm
  code/game/objects/effects/effect_system/fluid_spread/_fluid_spread.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/game/objects/effects/step_triggers.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/food/burgers.dm
  code/game/objects/items/grenades/smokebomb.dm
  code/game/objects/items/nitrium_crystals.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/scrolls.dm
  code/game/objects/items/tanks/watertank.dm
  code/game/objects/structures/hivebot.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/beer_nuke.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/awaymissions/super_secret_room.dm
  code/modules/clothing/head/tophat.dm
  code/modules/events/immovable_rod.dm
  code/modules/events/wisdomcow.dm
  code/modules/events/wizard/curseditems.dm
  code/modules/events/wizard/shuffle.dm
  code/modules/explorer_drone/exodrone.dm
  code/modules/food_and_drinks/kitchen_machinery/grill.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mob/living/basic/farm_animals/cows.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/experimentor.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/vatgrowing/samples/_micro_organism.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/spells/spell.dm
  code/modules/station_goals/bsa.dm
  code/modules/vehicles/atv.dm
  code/modules/vehicles/cars/clowncar.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/secway.dm
Labels: Administration, Stale

#67537 Clothing (as food for Moths) now only give temporary nourishment.
  code/__DEFINES/mobs.dm
  code/modules/clothing/clothing.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Balance/Rebalance

#67560 Rearrange tips.txt to have job tips first
  strings/tips.txt
Labels: Code Improvement

#67512 [MDB IGNORE] Big Access Tweaks and Organization
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/access.dm
  code/controllers/subsystem/id_access.dm
  code/datums/id_trim/jobs.dm
  code/modules/mapping/access_helpers.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/research/rdconsole.dm
  tools/UpdatePaths/Scripts/67512_mail_sorting_to_shipping.txt
Labels: Balance/Rebalance, Fix, Tools, Code Improvement, Map Edit

#66583 Reworks the BZ reaction slightly
  code/__DEFINES/reactions.dm
  code/modules/atmospherics/gasmixtures/reaction_factors.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix, Removal, Atmospherics, Good First PR

#66854 All AI Lawsets are rebalanced, can be researched, appear in config, and random spawners for AI upload.
  code/datums/ai_laws/ai_laws.dm
  code/datums/ai_laws/laws_neutral.dm
  code/datums/ai_laws/laws_station_sided.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/objects/effects/spawners/random/ai_module.dm
  code/game/objects/items/AI_modules.dm
  code/game/objects/items/AI_modules/_AI_modules.dm
  code/game/objects/items/AI_modules/freeform.dm
  code/game/objects/items/AI_modules/full_lawsets.dm
  code/game/objects/items/AI_modules/hacked.dm
  code/game/objects/items/AI_modules/ion.dm
  code/game/objects/items/AI_modules/repair.dm
  code/game/objects/items/AI_modules/supplied.dm
  code/game/objects/items/AI_modules/zeroth.dm
  code/modules/events/ion_storm.dm
  code/modules/mob/living/silicon/laws.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
  tgstation.dme
Labels: Balance/Rebalance, Feature, Code Improvement, Config Update

#66051 Add Russian Roulette memories and moods events
  code/__DEFINES/memory_defines.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  strings/memories.json
Labels: Verified :heavy_check_mark:, Quality of Life

#67430 fixes inconsistent lighting ci failure in icebox
  code/__HELPERS/turfs.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/get_turf_pixel.dm
Labels: Fix, Unit Tests

#66953 Material holding machines can't connect to ore silos on different z levels
  code/datums/components/remote_materials.dm
  code/modules/mining/machine_silo.dm
Labels: Balance/Rebalance, Stale, Code Improvement

#66602 Massive plumbing layer/placement improvements
  code/__DEFINES/layers.dm
  code/__DEFINES/plumbing.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/reaction_chamber.dm
  code/game/objects/items/RCD.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/modules/plumbing/ducts.dm
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  icons/hud/radial.dmi
  icons/obj/plumbing/connects.dmi
  icons/obj/plumbing/fluid_ducts.dmi
Labels: Sprites, Fix, Code Improvement, Quality of Life

#67591 Allows autolathes to print solar assemblies and tracker electronics
  code/modules/research/designs/autolathe_designs.dm
Labels: Feature

#67589 Fixes grammar error in embed code
  code/datums/components/embedded.dm
Labels: Grammar and Formatting

#67587 Lets people light cigarettes in lava.
  code/game/turfs/open/lava.dm
Labels: Feature

#67414 Re-adds the Concealed Weapon Bay
  code/__DEFINES/exosuit_fab.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
Labels: Feature, Stale

#67592 Toying Around With Concepts Beyond Comprehension- Abductor Plushies
  _maps/map_files/generic/CentCom.dmm
  code/_globalvars/phobias.dm
  code/game/machinery/computer/arcade/arcade.dm
  code/game/objects/items/plushes.dm
  icons/obj/plushes.dmi
Labels: Sprites, Feature, Map Edit

#67578 Adds dark variants of red, breen, blue and black turf decals.
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
Labels: Feature, Good First PR

#67572 Add hallucinogen poison to frog attacks
  code/datums/elements/venomous.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/frog.dm
Labels: Feature

#67518 CARGONIA THE FREE: The Quartermaster is now a head of staff.
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/access.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/id_access.dm
  code/datums/id_trim/jobs.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/machinery/PDApainter.dm
  code/game/machinery/computer/crew.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/antagonists/traitor/objectives/bug_room.dm
  code/modules/antagonists/traitor/objectives/destroy_heirloom.dm
  code/modules/antagonists/traitor/objectives/destroy_machinery.dm
  code/modules/antagonists/traitor/objectives/kidnapping.dm
  code/modules/antagonists/traitor/objectives/kill_pet.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  config/game_options.txt
  icons/mob/huds/hud.dmi
  icons/obj/card.dmi
  strings/sillytips.txt
Labels: Sprites, Balance/Rebalance, Code Improvement, Config Update, Map Edit, 📌 Test Merge Candidate

#67472 Fixes fire hallucination icons
  code/modules/flufftext/Hallucination.dm
Labels: Fix

#67567 Fixes jitteriness stacking up to insane amounts while dead
  code/datums/status_effects/debuffs/jitteriness.dm
Labels: Fix, GBP: No Update

#67575 cloaks can now initiate surgeries
  code/modules/clothing/suits/cloaks.dm
Labels: Feature

#67579 replaces putting bread slices on your face (head) with putting toast in your mouth
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/food/sandwichtoast.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mask.dmi
  icons/obj/food/burgerbread.dmi
  icons/obj/food/food.dmi
Labels: Sprites, Feature, Fix, Removal

#67458 Fixes / makes it more clear about why research servers might not be generating research points. Also cuts a lot of unused research server code out.
  code/controllers/subsystem/research.dm
  code/modules/research/server.dm
Labels: Code Improvement, Quality of Life

#67385 Reduces the point reduction on traitor objectives significantly
  code/modules/antagonists/traitor/traitor_objective.dm
Labels: Balance/Rebalance

#67562 New Event: Gravity Generator Blackout
  code/game/objects/effects/anomalies.dm
  code/modules/events/anomaly_grav.dm
  code/modules/events/gravity_generator_blackout.dm
  code/modules/power/gravitygenerator.dm
  tgstation.dme
Labels: Balance/Rebalance, Feature

#67508 time limit for sec/medhud examine button use
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix, Code Improvement

#67602 Fixes bzformation.
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix

#67612 [Kilo] Fixes misplaced area turf
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#67609 [Ice Box] Minor arrivals/departures qol aesthetics, also adds vents to the arrivals hall
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit, Quality of Life

#67610 Fixes donksoft toy vendors
  code/modules/vending/toys.dm
Labels: Fix

#67608 Cleans up Auto-Doc comments in living_defines.
  code/modules/mob/living/living_defines.dm
Labels: Documentation

#67606 Resprites the Captain's Antique Laser Gun
  icons/obj/guns/energy.dmi
Labels: Sprites

#67629 [Tram] Removes misplaced pepper spray refiller and steam vent
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Removal, Map Edit

#67639 Clarify guidelines around use of role pings in discord
  .github/CONTRIBUTING.md
Labels: GitHub

#67670 Remove majority order clause from Asimov++
  code/datums/ai_laws/laws_station_sided.dm
Labels: Verified :heavy_check_mark:

#67644 Moves the FUCKING LIGHT FIXTURES on tiles with surgery beds
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Quality of Life

#67455 Makes Playing Lobby Music A Config
  code/controllers/configuration/entries/game_options.dm
  code/game/sound.dm
  config/game_options.txt
Labels: Stale, Config Update

#67517 Refactors Gunlight / Helmetlight to be a component
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/action.dm
  code/datums/components/seclight_attachable.dm
  code/game/objects/items.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/mind_monkey_helmet.dm
  code/modules/mob/living/carbon/human/monkey/monkey.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/mounted.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  tgstation.dme
Labels: Refactor, Quality of Life

#67321 More informative portable pump button label
  code/modules/atmospherics/machinery/portable/pump.dm
  tgui/packages/tgui/interfaces/PortablePump.js
Labels: UI, Quality of Life

#67637 Fixes skip time button on the steal objective
  code/modules/antagonists/traitor/objectives/steal.dm
Labels: Fix

#67614 Nerfs pre-loaded pacman plasma sheets
  code/modules/power/port_gen.dm
Labels: Balance/Rebalance

#67469 Lemon does weather effects
  code/datums/components/food/decomposition.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  icons/effects/glow_weather.dmi
  icons/effects/weather_effects.dmi
  icons/turf/floors.dmi
Labels: Sprites, Feature

#67652 Remove a random pipe in xenobio on Metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#67448 Add disease resistance effects for spaceacillin
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/zombie/items.dm
Labels: Feature, Stale

#67664 Fixes Abductors Spawning (MY BAD EDITION)
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Map Edit, GBP: No Update

#67655 Audits Tram external airlocks for cycle link helpers
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#67677 Minor edits to Clown Biodome ruin (moves a chasm tile)
  _maps/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
Labels: Fix, Map Edit

#67411 Fixes attacks on mech equipment ignoring armor / melee damage, also fixes mech equipment not being disabled at 0% health, also also unit tests mech armor
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/mecha_damage.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/mecha/mecha_mob_interaction.dm
Labels: Fix, Unit Tests

#67597 Fixes Novaflowers not lighting people on fire, again. Unit tests it. Cleans up some unique plant genes stuff too.
  code/datums/elements/plant_backfire.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/modules/hydroponics/unique_plant_genes.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/novaflower_burn.dm
Labels: Fix, Code Improvement, Unit Tests

#67671 Fixes warp whistle's cooldown
  code/modules/antagonists/wizard/equipment/artefact.dm
Labels: Fix, GBP: No Update

#67647 Adds Missing Job Spawners To Tram
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#67692 Fix thieves icon
  code/modules/antagonists/thief/thief.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_opportunist.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_thief.png
Labels: Fix

#67693 fixes ninja naked outfit and sec mod theme mentioning shockproofness
  code/modules/mod/mod_theme.dm
  code/modules/ninja/outfit.dm
  code/modules/unit_tests/outfit_sanity.dm
Labels: Grammar and Formatting, Fix, Unit Tests

#67615 Fix Dynamic midrounds spawning heavies significantly earlier than they're supposed to
  code/game/gamemodes/dynamic/dynamic_midround_rolling.dm
Labels: Fix, Verified :heavy_check_mark:

#67636 moves the JaniDrobe refill from the General Wardrobes Supply Crate to its own supply crate
  code/modules/cargo/packs.dm
Labels: Balance/Rebalance

#67640 Makes ore silo connecting work on multi-z
  code/__HELPERS/levels.dm
  code/datums/components/remote_materials.dm
  tgstation.dme
Labels: Fix, GBP: No Update

#67642 Move and split hallucination code to module
  code/modules/flufftext/Hallucination.dm
  code/modules/hallucination/HUD.dm
  code/modules/hallucination/_hallucination.dm
  code/modules/hallucination/airlock.dm
  code/modules/hallucination/chat.dm
  code/modules/hallucination/death.dm
  code/modules/hallucination/fire.dm
  code/modules/hallucination/hazard.dm
  code/modules/hallucination/hostile_mob.dm
  code/modules/hallucination/husk.dm
  code/modules/hallucination/item.dm
  code/modules/hallucination/plasma_flood.dm
  code/modules/hallucination/polymorph.dm
  code/modules/hallucination/shock.dm
  code/modules/hallucination/sound.dm
  code/modules/hallucination/stray_bullet.dm
  tgstation.dme
Labels: Code Improvement

#67660 DISABLE_NON_OBSJOBS now only toggled if nuke actually blows up the station
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
Labels: Fix

#67667 Night shift lights use power according to the brightness
  code/modules/power/lighting/light.dm
  tgui/packages/tgui/interfaces/Apc.js
Labels: Fix, UI, Quality of Life

#67682 Fixes igniters, stunprods and teleprods not working properly
  code/modules/assembly/igniter.dm
Labels: Fix

#67684 [NO GBP] Fix superconduction overflow
  code/__DEFINES/atmospherics/atmos_helpers.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: Fix, GBP: No Update

#67673 Gives the space ninja MODsuit a storage module
  code/modules/mod/mod_types.dm
Labels: Balance/Rebalance

#67668 Gets rid of the Druggy var on `/living`, "fixes" Earthsblood
  code/modules/mob/living/living_defines.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix, GBP: No Update

#67723 Unfucks uniforms (real). And adds a code comment to hopefully prevent this happening again.
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Priority: High

#67699 [NO GBP] replaces mail_sorting with shipping across all manual varedits
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit, GBP: No Update

#67698 Fixes duplicated objects due to unresolved merge conflict in IceBox bar
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#67700 Connects the cooling loop airlock doors to the engine room on Tram
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#67569 Gives the pirate ship a cell charger
  _maps/shuttles/pirate_default.dmm
Labels: Balance/Rebalance, Map Edit

#67694 floating movement type now stops slips
  code/datums/components/slippery.dm
  code/game/turfs/open/_open.dm
  code/modules/mob/living/carbon/carbon_movement.dm
Labels: Fix

#67719 Removes the rack in the wall on the listening station ruin, m'lord
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
Labels: Fix, Removal, Map Edit

#67707 Fixes clown faction runtimes.
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/mob_faction.dm
Labels: Fix, Unit Tests

#67680 Allows regal rats to heal by eating all types of cheese
  code/game/objects/items/food/cheese.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_moth.dm
  tgstation.dme
Labels: Fix
