Repository tgstation/tgstation, pull requests merged in 2022-12, with the labels that each got.

#71551 This kills the deep fried foods holder. Refactors deep frying to just make the thing edible but still functional.
  code/__DEFINES/colors.dm
  code/__DEFINES/dcs/signals/signals_food.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/randoms.dm
  code/datums/components/food/edible.dm
  code/datums/elements/food/fried_item.dm
  code/datums/elements/food/grilled_item.dm
  code/game/objects/items/food/deepfried.dm
  code/modules/food_and_drinks/machinery/deep_fryer.dm
  code/modules/food_and_drinks/machinery/grill.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/food_edibility_check.dm
  tgstation.dme
Labels: Refactor, Quality of Life

#71613 [NO GBP] All tram platforms are proper tram turfs
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit, GBP: No Update

#71023 The Mining vendor now works like the Chef produce console (has to go through Cargo)
  _maps/RandomRuins/AnywhereRuins/golem_ship.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/computers.dm
  code/_globalvars/lists/objects.dm
  code/controllers/subsystem/shuttle.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/chef_orders/chef_order.dm
  code/game/machinery/computer/chef_orders/order_datum.dm
  code/game/machinery/computer/orders/order_computer/cook_order.dm
  code/game/machinery/computer/orders/order_computer/golem_order.dm
  code/game/machinery/computer/orders/order_computer/mining_order.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/game/machinery/computer/orders/order_items/cook/order_milk_eggs.dm
  code/game/machinery/computer/orders/order_items/cook/order_reagents.dm
  code/game/machinery/computer/orders/order_items/cook/order_veggies.dm
  code/game/machinery/computer/orders/order_items/mining/order_consumables.dm
  code/game/machinery/computer/orders/order_items/mining/order_golem.dm
  code/game/machinery/computer/orders/order_items/mining/order_mining.dm
  code/game/machinery/computer/orders/order_items/mining/order_pka.dm
  code/game/machinery/computer/orders/order_items/mining/order_toys.dm
  code/game/machinery/computer/orders/order_items/order_datum.dm
  code/game/objects/effects/spawners/random/techstorage.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/cargo/order.dm
  code/modules/cargo/packs/_packs.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/mining_ltsrbt.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/shuttle/supply.dm
  code/modules/unit_tests/orderable_items.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Cargo.js
  tgui/packages/tgui/interfaces/MiningVendor.js
  tgui/packages/tgui/interfaces/ProduceConsole.js
  tools/UpdatePaths/Scripts/71023_order_consoles.txt
Labels: Balance, Feature, Tools, UI, Map Edit

#71572 Adds ion carbine inhands as well as fixes pink sproite belt/suit storage sprites
  code/modules/projectiles/guns/energy/special.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
Labels: Sprites, Fix

#71619 Critically fixes missing tram rail
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#71632 Add baking and grilling results to the blackbox
  code/__DEFINES/food.dm
  code/datums/components/bakeable.dm
  code/datums/components/grillable.dm
  code/datums/elements/food/microwavable.dm
Labels: Logging, Feedback

#71616 Fixes JPS being blocked by windoors and firedoors
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
Labels: Fix

#71552 Legitimizes BOMBGERs. Add grenades to burgers and assistants will still eat it.
  code/__DEFINES/dcs/signals/signals_food.dm
  code/__DEFINES/traits.dm
  code/datums/components/customizable_reagent_holder.dm
  code/datums/components/food/edible.dm
  code/game/objects/items/grenades/_grenade.dm
  code/modules/forensics/_forensics.dm
Labels: Balance, Feature

#71609 [NO GBP] yield is no longer bread
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/pie.dm
Labels: Code Improvement, GBP: No Update

#71550 Removes Bombgers, by vibe checking your TTV bomb in the deep frying process
  code/game/objects/items/devices/transfer_valve.dm
  code/modules/food_and_drinks/machinery/deep_fryer.dm
Labels: Fix, Removal

#71381 Ultra-modularizes podperson hair restyling
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/__DEFINES/mobs.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/organs/external/_external_organs.dm
  code/modules/surgery/organs/external/restyling.dm
  code/modules/surgery/organs/external/spines.dm
  code/modules/surgery/organs/external/tails.dm
  code/modules/surgery/organs/external/wings.dm
  tgstation.dme
Labels: Fix, Refactor, Code Improvement, Quality of Life

#71558 Overhauls beach bar, adds griddle and oven to some ruins
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
Labels: Fix, Map Edit, Quality of Life

#71475 Fermentation and barrel refactoring
  code/datums/looping_sounds/machinery_sounds.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/sugarcane.dm
  code/modules/hydroponics/seeds.dm
Labels: Balance, Fix, Refactor, Quality of Life

#71633 Github hook for adding "Logging" tag to logging PRs
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools, GitHub

#71608 Made geysers easier to find
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
Labels: Balance

#71521 Migrated sm visual effects to delam datums.
  code/__DEFINES/dcs/signals/signals_object.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
  code/modules/power/supermatter/supermatter_delamination/cascade_delam.dm
  code/modules/power/supermatter/supermatter_delamination/common_delams.dm
  code/modules/power/supermatter/supermatter_glow.dm
  tgstation.dme
Labels: Fix, Refactor, Code Improvement

#71635 Moves speaking verbs to tongues + subtypes, moves wing sprites to wing subtypes, bodypart damage examines to limbs, fixes sign language not working without a tongue
  code/__DEFINES/traits.dm
  code/datums/components/sign_language.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/carbon_say.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
  code/modules/surgery/organs/external/wings/wings.dm
  code/modules/surgery/organs/tongue.dm
  tgstation.dme
Labels: Refactor

#71653 stabilized oil examine spellcheck
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Grammar and Formatting

#71648 Fixes unconciousness (typo)
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/antagonists/blob/blobstrains/distributed_neurons.dm
  code/modules/mapfluff/ruins/lavalandruin_code/puzzle.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/tgui/states.dm
  tgui/packages/tgui/interfaces/HypnoChair.js
  tgui/packages/tgui/interfaces/ImplantChair.js
Labels: Grammar and Formatting, UI

#71343 Regal Rat - Maint Creatures DLC Update
  code/__DEFINES/mobfactions.dm
  code/modules/mob/living/basic/vermin/cockroach.dm
  code/modules/mob/living/basic/vermin/mouse.dm
  code/modules/mob/living/simple_animal/hostile/goose.dm
  code/modules/mob/living/simple_animal/hostile/regalrat.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/frog.dm
  icons/mob/clothing/head/pets_head.dmi
  icons/mob/simple/animal.dmi
Labels: Sprites, Feature, Fix, Stale

#71623 Corrects error in stamina HUD element display calculation. Increases stamina HUD readability.
  code/modules/mob/living/carbon/carbon.dm
  icons/hud/screen_gen.dmi
Labels: Sprites, Fix

#71610 Disabled plumbing IV drip transfer control on injection.
  code/game/machinery/iv_drip.dm
  tgui/packages/tgui/interfaces/IVDrip.tsx
Labels: Fix, UI

#71647 Admins can now add footnotes to the roundstart command report
  code/controllers/subsystem/communications.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminevents.dm
Labels: Administration

#71602 PAI overlay on PDAs
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/pda.dm
  icons/obj/modular_pda.dmi
Labels: Sprites

#71662 Crit people can cry
  code/modules/mob/living/carbon/human/emote.dm
Labels: Feature

#71667 Fixes registersignal(s) sound manager runtime
  code/datums/components/area_sound_manager.dm
  code/datums/elements/weather_listener.dm
Labels: Runtime, Fix

#71620 Important heretic spell rebalancing
  code/datums/wounds/slash.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/magic/blood_cleave.dm
  code/modules/antagonists/heretic/magic/blood_siphon.dm
  code/modules/antagonists/heretic/magic/furious_steel.dm
  code/modules/antagonists/heretic/magic/rust_construction.dm
  code/modules/antagonists/heretic/magic/void_cold_cone.dm
  code/modules/antagonists/heretic/magic/void_phase.dm
  code/modules/antagonists/heretic/magic/void_pull.dm
Labels: Balance, Quality of Life

#71671 Fixes food holder screentip runtime
  code/datums/components/customizable_reagent_holder.dm
Labels: Runtime, Fix

#71670 Fixes alien embryo runtime
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Runtime

#71669 Fixes logging runtime from alien larva
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Runtime, Logging, Fix

#71652 Brave bull now makes you brave
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature

#71660 Fixes random failure in cleanbot pathing
  code/__HELPERS/path.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/parrot.dm
Labels: Fix

#71661 Rename organ decay proc for clarity and add medical roundstart tip
  code/__HELPERS/game.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/morgue.dm
  strings/tips.txt
Labels: Code Improvement, Quality of Life

#71603 Radial menu to remove PKA modkits with a right click from an empty hand.
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Quality of Life

#71690 Tram plates/platform have correct icon when damaged
  code/game/turfs/open/floor/misc_floor.dm
  icons/turf/damaged.dmi
Labels: Sprites, Fix

#71689 fixes a recursive bluespace body bag bypass
  code/modules/food_and_drinks/machinery/deep_fryer.dm
Labels: Fix

#71681 Change "End Round Normally" -> "Undelay Round End"
  code/modules/admin/check_antagonists.dm
Labels: Grammar and Formatting, Administration

#71543 Removes weird saline drip code
  code/game/machinery/iv_drip.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
Labels: Removal, Code Improvement

#71709 IV drip injects only to injectable things
  code/game/machinery/iv_drip.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/reagents/chemistry/machinery/chem_separator.dm
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
Labels: Fix

#71639 misplaced psyker brains don't deal their brain damage twice
  code/modules/religion/burdened/psyker.dm
Labels: Fix

#71685 Adds some various flags to their respective bitfield defines
  code/_globalvars/bitfields.dm
Labels: Administration

#71656 Fixes an armor logic typo in living mobs' bullet_act() (which may or may not have repercussions elsewhere)
  code/modules/mob/living/living_defense.dm
Labels: Fix

#69741 Micro-optimize icon smoothing subsystem, cutting down more than 50% of its init time (about .8s drop on local, more on prod)
  code/__HELPERS/icon_smoothing.dm
  code/controllers/subsystem/icon_smooth.dm
Labels: Performance

#71693 Stock part datums: Creates a framework for stock parts to not physically exist in the world
  code/game/machinery/_machinery.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/dna_scanner.dm
  code/game/machinery/gulag_teleporter.dm
  code/game/objects/items/circuitboards/circuitboard.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/cargo/markets/market_telepad.dm
  code/modules/research/bepis.dm
  code/modules/research/experimentor.dm
  code/modules/research/stock_parts/stock_part_datum.dm
  code/modules/research/xenobiology/vatgrowing/microscope.dm
  tgstation.dme
Labels: Refactor, 📌 Test Merge Candidate

#71696 Janitor can use wagon key to stab people
  code/modules/vehicles/vehicle_key.dm
Labels: Feature, Code Improvement

#71725 fixes a regression on mining point cards' reusability
  code/game/machinery/computer/orders/order_computer/mining_order.dm
Labels: Fix

#71713 Oldstation suits to suit storage units
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/game/machinery/suit_storage_unit.dm
Labels: Map Edit, Quality of Life

#71686 Fixes changeling tentacle secondary behaviour
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/projectiles/gun.dm
Labels: Fix

#71665 deletes old unused supply-pod sprites
  icons/obj/2x2.dmi
Labels: Sprites

#71705 Void suit and jetpack resprite
  code/game/objects/items/tanks/jetpack.dm
  code/modules/clothing/spacesuits/softsuit.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/head/spacehelm.dmi
  icons/mob/clothing/suits/spacesuit.dmi
  icons/mob/inhands/clothing/hats_lefthand.dmi
  icons/mob/inhands/clothing/hats_righthand.dmi
  icons/mob/inhands/clothing/suits_lefthand.dmi
  icons/mob/inhands/clothing/suits_righthand.dmi
  icons/mob/inhands/equipment/jetpacks_lefthand.dmi
  icons/mob/inhands/equipment/jetpacks_righthand.dmi
  icons/obj/atmospherics/tank.dmi
  icons/obj/clothing/head/spacehelm.dmi
  icons/obj/clothing/suits/spacesuit.dmi
Labels: Sprites

#71701 Canisters are purchasable at cargo again
  code/controllers/subsystem/shuttle.dm
Labels: Fix, GBP: No Update

#71729 Defer creation of emergency power lights until needed -- Saves ~0.2s of init time
  code/modules/power/lighting/light.dm
Labels: Performance

#71732 Adds a modular computer subsystem to shift modPCs away from radios
  code/__DEFINES/modular_computer.dm
  code/__DEFINES/networks.dm
  code/controllers/subsystem/modular_computers.dm
  code/controllers/subsystem/processing/networks.dm
  code/datums/components/ntnet_interface.dm
  code/modules/NTNet/network.dm
  code/modules/NTNet/relays.dm
  code/modules/modular_computers/NTNet/NTNRC/conversation.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/wirecarp.dm
  code/modules/unit_tests/ntnetwork_tests.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosNetMonitor.js
Labels: Refactor, UI

#71664 fixes negative forced gravity
  code/game/atoms.dm
Labels: Fix, Verified :heavy_check_mark:

#71673 fixes cleaning animation disappearing if you clean something that's already being cleaned
  code/datums/components/cleaner.dm
Labels: Fix

#71649 captain can no longer steal cargo goodies
  code/game/objects/items/storage/lockbox.dm
  icons/obj/storage/storage.dmi
Labels: Sprites, Fix, Quality of Life

#71631 Ephedrine no longer punishes you for making it pure
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix

#71549 Flex-scale AI Hud
  code/__DEFINES/hud.dm
Labels: UI, Quality of Life

#71520 fixes & increases SSinput click delay threshold & moves it and average_click_delay to deciseconds
  code/__DEFINES/input.dm
  code/controllers/subsystem/input.dm
Labels: Fix

#71626 Digitigrade clothing fixes
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#71748 [FUCK] Linters work again, V3
  _maps/shuttles/ert_bounty.dmm
  code/datums/components/echolocation.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/game/machinery/iv_drip.dm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/religion/honorbound/honorbound_rites.dm
  code/modules/unit_tests/monkey_business.dm
  code/modules/unit_tests/spawn_humans.dm
  tools/ci/check_grep.sh
Labels: Fix, Tools, Map Edit, GBP: No Update

#71743 Crab Rangoon knows where its sprite is again
  code/game/objects/items/food/misc.dm
Labels: Fix

#71737 Inserted tongues and HUD implants no longer exist outside the body.
  code/modules/surgery/organs/augments_eyes.dm
  code/modules/surgery/organs/tongue.dm
Labels: Fix

#71742 gives hop basic cargo access + desc change
  code/datums/id_trim/jobs.dm
  code/modules/jobs/job_types/head_of_personnel.dm
Labels: Quality of Life

#71691 Adds nest sustenance status effect, halves xenomorph nest escape time
  code/datums/status_effects/buffs.dm
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  icons/hud/screen_alert.dmi
Labels: Sprites, Balance

#71723 Moves loot var to the abandoned crate itself, qdel_on_open now actually qdels on open instead of unlock
  code/modules/mining/abandoned_crates.dm
Labels: Fix, Code Improvement

#71704 Updates the Syndicate revolver into a new revolver (with the same stats)
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/uplink/uplink_items/dangerous.dm
  icons/obj/weapons/guns/ballistic.dmi
Labels: Sprites

#71735 Remove NTNet from doors (saves 0.2s of init) -- Fixes windoors not working with remotes, and balloons them
  code/__DEFINES/networks.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/control_wand.dm
  code/modules/unit_tests/ntnetwork_tests.dm
Labels: Performance, Fix, Quality of Life

#71663 Delimbs Stamina
  code/datums/brain_damage/special.dm
  code/datums/components/aura_healing.dm
  code/datums/components/dejavu.dm
  code/datums/components/embedded.dm
  code/datums/components/tackle.dm
  code/datums/components/unbreakable.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/status_effects/debuffs/choke.dm
  code/datums/wounds/bones.dm
  code/game/objects/items/melee/baton.dm
  code/game/objects/items/storage/book.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/basic/health_adjustment.dm
  code/modules/mob/living/carbon/alien/damage_procs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/damage_procs.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/mob_helpers.dm
  code/modules/pai/defense.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/religion/religion_sects.dm
  code/modules/research/xenobiology/crossbreeding/_misc.dm
  code/modules/spells/spell_types/jaunt/shadow_walk.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/wounds.dm
  code/modules/surgery/organs/heart.dm
Labels: Code Improvement

#71778 turns axolotls into basic mobs
  code/game/objects/effects/spawners/random/trash.dm
  code/modules/mob/living/basic/vermin/axolotl.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Code Improvement

#71770 Patches Admin_Teleport Location Logging Error
  code/modules/admin/verbs/adminjump.dm
Labels: Logging, Fix, Administration

#71824 Biomass generation fixed (watermelons gave 4 biomass instead of 24)
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#71792 Revert "Updates the Syndicate revolver into a new revolver (with the same stats)"
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/uplink/uplink_items/dangerous.dm
  icons/obj/weapons/guns/ballistic.dmi
Labels: Sprites, Removal, Revert

#71702 Visual alert for Tram Malfunction event
  code/modules/events/tram_malfunction.dm
  code/modules/industrial_lift/crossing_signal.dm
  icons/obj/machines/crossing_signal.dmi
Labels: Sprites, Feature

#71784 fixes mothroach inhands not fitting under your arm
  icons/mob/inhands/animal_item_lefthand.dmi
  icons/mob/inhands/animal_item_righthand.dmi
Labels: Sprites, Fix

#71766 Fixes invisible light replacers
  code/game/objects/items/devices/lightreplacer.dm
  icons/obj/janitor.dmi
Labels: Sprites, Fix

#71762 Ethereals who are turned into statues via something_terrible() cannot be crystallized
  code/datums/dna.dm
Labels: Fix

#71759 [NO GBP] Fixes some dog behaviors
  code/datums/ai/dog/dog_behaviors.dm
Labels: Fix, GBP: No Update

#71834 Moves Time-Green to maintainers (CODEOWNERS)
  .github/CODEOWNERS
Labels: GitHub

#71734 fixes shields with `breakable_by_damage` set to FALSE being unable to block attacks.
  code/game/objects/items/shields.dm
Labels: Fix

#71761 New Chrono MODsuit Sprites
  icons/mob/clothing/modsuit/mod_clothing.dmi
  icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: Sprites

#71756 Fixes bug where datum AI could double-plan behaviors if they had AI_BEHAVIOR_CAN_PLAN_DURING_EXECUTION
  code/datums/ai/_ai_controller.dm
Labels: Fix, GBP: No Update

#71797 Makes palladium synthate catalyst easier to create
  code/modules/reagents/chemistry/recipes/catalysts.dm
Labels: Balance

#71764 Tram crossing signals are colourblind friendly
  icons/obj/machines/crossing_signal.dmi
Labels: Sprites, Accessibility

#71812 Getting hit by a nuclear particle will always irradiate you.
  code/modules/projectiles/projectile/energy/nuclear_particle.dm
Labels: Balance

#71811 Fix atmos windoor access
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#71813 Sets teleporter shutter doors to require teleporter access
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#71230 Grey Tide event light behavior changes and code tidiness
  code/__DEFINES/dcs/signals/signals_event.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/modules/events/grey_tide.dm
  code/modules/events/prison_break.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/lighting/light.dm
  tgstation.dme
Labels: Balance, Code Improvement

#71687 Refactors calculating shuttle bounds into a dedicated proc
  code/datums/shuttles.dm
  code/modules/shuttle/shuttle.dm
Labels: Refactor

#71675 Fixes can_equip() failing with handcuff
  code/game/objects/items/handcuffs.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#71819 Binoculars on neck
  code/game/objects/items/binoculars.dm
  icons/mob/clothing/neck.dmi
  icons/obj/weapons/items_and_weapons.dmi
Labels: Sprites, Quality of Life

#71674 Chaplain armor beacon now uses radial + previews possible armor sets, plus some choice beacon code cleanup.
  code/game/objects/items/choice_beacon.dm
  code/game/objects/items/storage/boxes/clothes_boxes.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/instruments/items.dm
Labels: Code Improvement, Quality of Life

#71839 Fix circuitboards stock parts examine
  code/game/objects/items/circuitboards/circuitboard.dm
Labels: Fix

#71836 Abductee objective replacement: The Promethean Horror
  strings/abductee_objectives.txt
Labels: Grammar and Formatting

#71808 Fixes tg-font issues with inconsistent glyph sizes
  tgui/packages/tgfont/config.cjs
  tgui/packages/tgfont/icons/bad-touch.svg
  tgui/packages/tgfont/icons/non-binary.svg
  tgui/packages/tgfont/icons/prosthetic-full.svg
  tgui/packages/tgfont/icons/prosthetic-leg.svg
  tgui/packages/tgfont/icons/syndicate-logo.svg
  tgui/packages/tgfont/static/tgfont.css
  tgui/packages/tgfont/static/tgfont.eot
  tgui/packages/tgfont/static/tgfont.woff2
Labels: Fix, UI

#71531 TGUI Latejoin Menu!
  code/__DEFINES/jobs.dm
  code/_onclick/hud/new_player.dm
  code/controllers/subsystem/ticker.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  code/modules/antagonists/separatist/separatist.dm
  code/modules/jobs/departments/departments.dm
  code/modules/mob/dead/new_player/latejoin_menu.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/modular_computers/file_system/programs/bounty_board.dm
  code/modules/vending/_vending.dm
  tgstation.dme
  tgui/packages/common/collections.ts
  tgui/packages/common/color.js
  tgui/packages/tgui/components/StyleableSection.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/JobSelection.tsx
  tgui/packages/tgui/interfaces/Orbit/constants.ts
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: UI, Code Improvement, Quality of Life

#71816 Petrified human statues now drop a (stone) brain on destruction
  code/game/objects/structures/petrified_statue.dm
Labels: Sprites, Balance

#71831 MiiyaBot's Marginally Edited BedHairs
  code/modules/mob/dead/new_player/sprite_accessories.dm
  icons/mob/species/human/human_face.dmi
Labels: Sprites, Good First PR

#71804 Fixes fake links in Adminwho that led to "no_feedback_link"
  code/modules/admin/holder2.dm
Labels: Fix

#71817 Fixes many basic mobs not being vulnerable to extreme atmospheres and temperatures by making it the default
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/farm_animals/rabbit.dm
  code/modules/mob/living/basic/lavaland/mining.dm
  code/modules/mob/living/basic/pets/dog.dm
  code/modules/mob/living/basic/pets/pet.dm
  code/modules/mob/living/basic/ruin_defender/stickman.dm
  code/modules/mob/living/basic/vermin/axolotl.dm
  code/modules/mob/living/basic/vermin/cockroach.dm
Labels: Fix, Code Improvement

#71593 Basic Mob Carp: Retaliate Element
  code/__DEFINES/ai.dm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_attack.dm
  code/datums/ai/basic_mobs/basic_subtrees/target_retaliate.dm
  code/datums/ai/basic_mobs/targetting_datums/basic_targetting_datum.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/datums/ai/robot_customer/robot_customer_controller.dm
  code/datums/elements/ai_retaliate.dm
  code/datums/elements/relay_attackers.dm
  code/modules/mob/living/basic/farm_animals/pig.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
  tgstation.dme
Labels: Feature

#71862 Fixed an improper proc ref.
  code/game/objects/items/choice_beacon.dm
Labels: Code Improvement

#69799 Saycode refactor, unit tests, and fixes
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/datums/brain_damage/hypnosis.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/phobia.dm
  code/datums/brain_damage/severe.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/chatmessage.dm
  code/datums/components/beetlejuice.dm
  code/datums/components/codeword_hearing.dm
  code/datums/components/sign_language.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/machinery/doors/passworddoor.dm
  code/game/machinery/hologram.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/eightball.dm
  code/game/say.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/assembly/voice.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/slime/slime_say.dm
  code/modules/mob/say_readme.md
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/unit_tests/say.dm
  code/modules/wiremod/components/atom/hear.dm
Labels: Fix, Refactor, Stale, Unit Tests, 📌 Test Merge Candidate

#71868 [FUCK] Fixes a Few Oversights With the TGUI Latejoin Menu!
  code/modules/mob/dead/new_player/latejoin_menu.dm
  tgui/packages/tgui/interfaces/JobSelection.tsx
Labels: Fix, UI, Priority: High

#71846 Reversed an unintentional change to golem trigger guard prices
  code/game/machinery/computer/orders/order_items/mining/order_golem.dm
Labels: Fix

#71829 Frying an egg doesn't make it have twice more nutriments
  code/game/objects/items/food/egg.dm
Labels: Fix

#71832 [NO GBP] Reswitched the base supermatter ray to be the original one.
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
Labels: Fix, GBP: No Update

#71794 More sign subtypes
  code/game/objects/structures/signs/signs_departments.dm
  code/game/objects/structures/signs/signs_warning.dm
Labels: Code Improvement

#71768 makes beams better (plus small kinesis tweaks)
  code/__DEFINES/lighting.dm
  code/datums/beam.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/mod/modules/module_kinesis.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/projectiles/guns/special/meat_hook.dm
Labels: Fix

#71733 Windoors are vulnerable to a jaws of life
  code/game/machinery/doors/windowdoor.dm
Labels: Balance

#71788 3/4ths-ify some wall mount sprites (by Kryson and Viro)
  _maps/RandomRuins/SpaceRuins/asteroid4.dmm
  _maps/shuttles/escape_pod_default.dmm
  _maps/shuttles/escape_pod_large.dmm
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/game/objects/effects/powerup.dm
  code/game/objects/items/gift.dm
  code/game/objects/items/gun_maintenance.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/melee/baton.dm
  code/game/objects/items/storage/basket.dm
  code/game/objects/items/storage/book.dm
  code/game/objects/items/storage/boxes/_boxes.dm
  code/game/objects/items/storage/boxes/food_boxes.dm
  code/game/objects/items/storage/boxes/service_boxes.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/medkit.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/training_machine.dm
  code/modules/admin/verbs/pray.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/mining/voucher_sets.dm
  code/modules/paperwork/ticketmachine.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/on_move.dm
  code/modules/vending/medical_wall.dm
  icons/obj/bureaucracy.dmi
  icons/obj/contraband.dmi
  icons/obj/fluff.dmi
  icons/obj/railings.dmi
  icons/obj/storage/basket.dmi
  icons/obj/storage/book.dmi
  icons/obj/storage/box.dmi
  icons/obj/storage/case.dmi
  icons/obj/storage/gum.dmi
  icons/obj/storage/medkit.dmi
  icons/obj/storage/paperbag.dmi
  icons/obj/storage/storage.dmi
  icons/obj/storage/toolbox.dmi
  icons/obj/storage/wrapping.dmi
  icons/obj/vending.dmi
Labels: Sprites, UI, Map Edit

#71750 Converts ForceEvent.js to typescript and overhauls the UI to be good
  code/modules/admin/force_event.dm
  tgui/packages/common/collections.ts
  tgui/packages/tgui/interfaces/ForceEvent.js
  tgui/packages/tgui/interfaces/ForceEvent.tsx
Labels: Refactor, UI

#71815 Fixes tram door logic, removes emergency exit message
  code/modules/industrial_lift/tram_lift_master.dm
  code/modules/industrial_lift/tram_override_objects.dm
Labels: Fix

#71853 Renames quirk dm files
  code/datums/quirks/negative_quirks.dm
  code/datums/quirks/neutral_quirks.dm
  code/datums/quirks/positive_quirks.dm
  tgstation.dme
Labels: Code Improvement

#71855 Fixes refill air alarm mode
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Fix

#71852 Zombies now return from the dead
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#71758 Landmines trigger when you step off of them, rather than onto them
  code/game/objects/effects/mines.dm
Labels: Feature

#71883 Fix TGUI latejoin menu not closing properly, properly this time
  code/modules/mob/dead/new_player/latejoin_menu.dm
Labels: Fix, UI

#71863 Buffs implanted mining organs
  code/modules/mining/equipment/monster_organs/brimdust_sac.dm
  code/modules/mining/equipment/monster_organs/monster_organ.dm
  code/modules/mining/equipment/monster_organs/rush_gland.dm
  code/modules/movespeed/modifiers/status_effects.dm
Labels: Balance

#71760 Fixes art decal from spray can and crayon always being terrible
  code/datums/elements/art.dm
Labels: Fix

#71782 Shuttle Loan now has admin_setup functionality
  code/modules/events/shuttle_loan.dm
Labels: Administration

#71840 RPED Patches
  code/game/machinery/_machinery.dm
  code/game/machinery/constructable_frame.dm
  code/modules/research/stock_parts.dm
Labels: Fix

#71861 Fixes unreachable table in Kilostation QM office.
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#71833 Investigate logs include ckey of source (if applicable)
  code/__DEFINES/access.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/singularity.dm
  code/datums/dna.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/objects/items/gift.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/admin/admin_investigate.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/cargo/orderconsole.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living_defense.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/power/supermatter/supermatter_hit_procs.dm
  code/modules/research/anomaly/anomaly_refinery.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/rdconsole.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/supply.dm
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
Labels: Logging, Administration

#71349 Replaces Traitor Greentext Objectives with Assassination/Escape Objectives
  code/datums/components/uplink.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/traitor/objectives/assassination.dm
  code/modules/antagonists/traitor/objectives/eyesnatching.dm
  code/modules/antagonists/traitor/objectives/final_objective/final_objective.dm
  code/modules/antagonists/traitor/objectives/kidnapping.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  tgui/packages/tgui/interfaces/Uplink/ObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/PrimaryObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: UI

#70162 Changes our map_format to SIDE_MAP
  .github/guides/VISUALS.md
  code/__DEFINES/layers.dm
  code/__DEFINES/sight.dm
  code/__HELPERS/_planes.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/rendering/_render_readme.md
  code/_onclick/hud/rendering/plane_master.dm
  code/_onclick/hud/rendering/plane_master_controller.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/datums/actions/mobs/adjust_vision.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/game/machinery/status_display.dm
  code/game/objects/effects/decals/decal.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor/reinforced_floor.dm
  code/modules/antagonists/cult/cult_turf_overlay.dm
  code/modules/antagonists/disease/disease_mob.dm
  code/modules/antagonists/heretic/mobs/maid_in_mirror.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/food_and_drinks/plate.dm
  code/modules/hallucination/bubblegum_attack.dm
  code/modules/mapfluff/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_portrait_picker.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/guardian/types/support.dm
  code/modules/mob/living/simple_animal/heretic_monsters.dm
  code/modules/mob/living/simple_animal/hostile/bosses/paperwizard.dm
  code/modules/mob/living/simple_animal/hostile/eyeballs.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/mob/status_procs.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  code/modules/shuttle/navigation_computer.dm
  code/world.dm
Labels: Do Not Merge, GitHub, 📌 Test Merge Candidate

#71881 fixes missing lattices on delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#71875 Fixes FRAME cartridges
  code/modules/modular_computers/computers/item/disks/virus_disk.dm
  code/modules/modular_computers/file_system/programs/ntmessenger.dm
Labels: Fix

#71892 Tram Station - Disposal Pipe bonanza
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#71880 Fixes reputation levels in the UI
  tgui/packages/tgui/interfaces/Uplink/calculateReputationLevel.tsx
Labels: UI, Quality of Life

#71867 Fix: Carp Infusion Organ Set Bonus
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
Labels: Fix

#71866 [NO GBP] Removes a can_spawn_event check that I forgot to remove on the grey tide event.
  code/modules/events/grey_tide.dm
Labels: Removal, Code Improvement, GBP: No Update

#71870 Stacking machine input, output rotation
  code/modules/mining/machine_stacking.dm
  tgui/packages/tgui/interfaces/StackingConsole.js
Labels: UI, Quality of Life

#71884 Fixes Duplicate Integrity Message for Mechas
  code/modules/vehicles/_vehicle.dm
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix

#71717 Framework for holiday-specific poster spawns
  code/game/objects/effects/contraband.dm
  code/modules/holiday/holidays.dm
  icons/obj/contraband.dmi
Labels: Sprites

#71109 Modularizes the forensics scanner, and letting items modify it.
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/security.dm
  code/datums/components/transforming.dm
  code/modules/detectivework/scanner.dm
  code/modules/paperwork/pen.dm
  tgstation.dme
Labels: Balance, Feature, Code Improvement

#71859 Biomass overlay thresholds use sine function
  code/modules/hydroponics/biogenerator.dm
Labels: Quality of Life

#71874 Respawn Verb now alerts if respawning is disabled
  code/modules/mob/mob.dm
Labels: Fix

#71900 Improves description of the "Steal Heirloom" traitor objective.
  code/modules/antagonists/traitor/objectives/destroy_heirloom.dm
Labels: Grammar and Formatting, Fix

#71774 Print custom amount of stuff for protolathe
  code/modules/research/machinery/_production.dm
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/Fabrication/Types.ts
  tgui/packages/tgui/interfaces/Fabricator.tsx
Labels: UI, Quality of Life

#71851 Fixes teleporting rack with telekinesis
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#71844 New Interdyne Shipping Container - with fixes to old sprites
  code/game/objects/structures/containers.dm
  icons/obj/containers.dmi
Labels: Sprites, Fix

#71897 Fixes Brain Trauma Forced Speech Triggering the World Filter
  code/datums/brain_damage/mild.dm
Labels: Fix

#71901 The removal of the Heretic antag no longer makes a sound.
  code/modules/antagonists/heretic/magic/shadow_cloak.dm
Labels: Fix

#71864 Fix: Robotic/Non-Organic Bodyparts not Healing/Damaging
  code/modules/mob/living/basic/health_adjustment.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/living/simple_animal/heretic_monsters.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/pai/defense.dm
Labels: Fix

#71749 Formats the name for get_targets
  code/game/machinery/computer/teleporter.dm
Labels: Fix, Good First PR

#71842 Natural booze
  code/modules/hydroponics/grown.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  tgui/packages/tgui/interfaces/SeedExtractor.tsx
Labels: Feature, UI

#71857 Fixes pinned module modsuit icons
  code/modules/mod/mod_actions.dm
Labels: Fix

#71886 Moves Ticket Machines Off Windows
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#71895 Fixed unreachable smartfridge in Tramstation pharmacy.
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit
