Repository tgstation/tgstation, pull requests merged in 2022-04, with the labels that each got.

#65715 revenant harvest now logs (for real this time!)
  code/modules/antagonists/revenant/revenant_abilities.dm
Labels: Fix, Administration

#65763 Fixes That /One/ Tramstation Bin. You know the one.
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65697 Lowers the Kheiral Cuff price to be more reasonable with their changed function
  code/modules/mining/equipment/kheiral_cuffs.dm
  code/modules/mining/machine_vending.dm
Labels: Balance/Rebalance

#65772 MetaStation Xenobiology Satellite Tweaks
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/area/space_station_13_areas.dm
  icons/turf/areas.dmi
Labels: Sprites, Mechanic, Fix, Map Edit

#65797 Removes Floating Poster on MetaStation's Abandoned Bar
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Removal, Map Edit

#65844 Maid costumes, the respritening
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/costume.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/under/costume.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites

#65634 Adds linking tickets in asay, referencing mob datums in asay, improves asay ref code
  code/__DEFINES/admin.dm
  code/_globalvars/_regexes.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/view_variables/view_variables.dm
Labels: Administration

#65830 Adds a new critter to TramStation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Mechanic, Map Edit

#65750 Fix shutters contextual screentips
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#65815 Remove mecha_set_dir and use setDir instead
  code/modules/vehicles/mecha/_mecha.dm
Labels: Code Improvement

#65816 Fix mmis seeing wrong mech UI
  code/modules/vehicles/mecha/mecha_ui.dm
Labels: Fix

#65821 Fixes issue #65609 -- Can interact with airlock wires after adding shielding
  code/datums/wires/airlock.dm
  code/game/machinery/doors/airlock.dm
Labels: Fix

#65820 Cargo crate name consistency and grammar fixes
  code/modules/cargo/packs.dm
Labels: Grammar and Formatting

#65829 Fixes there being two ID Getter Components on the Circuit Imprinter
  code/modules/research/designs/wiremod_designs.dm
Labels: Grammar and Formatting

#65840 Regular HoS headset no longer is sound-protective
  code/game/objects/items/devices/radio/headset.dm
Labels: Fix

#65825 Fixes Poster Positioning in IceBox Maintenance Shower Room
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#65842 Fixes some blast door buttons in Icebox Xenobio
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit

#65740 Fixes bug involving random teleporting to toxins test area
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/datums/helper_datums/teleport.dm
Labels: Fix, Map Edit

#65676 Add CO2 filtering for Cryo
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65850 Replace singulo.log and supermatter.log with engine.log
  code/__DEFINES/logging.dm
  code/datums/components/singularity.dm
  code/game/objects/items/theft_tools.dm
  code/modules/admin/admin_investigate.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  code/modules/mob/living/living_defense.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/smes.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_hit_procs.dm
  code/modules/power/supermatter/supermatter_process.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Administration

#65828 Resprites the mass driver
  icons/obj/stationobjs.dmi
Labels: Sprites

#65870 Fix typo in filename that cause build fail
  tgui/packages/tgui/styles/main.scss
Labels: Fix, UI

#65760 Bandana GAGS: craftable, dyable and customizable + bandana neckerchief refractor
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  code/__DEFINES/dye_keys.dm
  code/datums/components/crafting/tailoring.dm
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/bandana.json
  code/datums/greyscale/json_configs/bandana_up.json
  code/datums/greyscale/json_configs/bandana_worn.json
  code/datums/greyscale/json_configs/bandana_worn_up.json
  code/datums/greyscale/json_configs/bandskull.json
  code/datums/greyscale/json_configs/bandskull_up.json
  code/datums/greyscale/json_configs/bandskull_worn.json
  code/datums/greyscale/json_configs/bandskull_worn_up.json
  code/datums/greyscale/json_configs/bandstriped.json
  code/datums/greyscale/json_configs/bandstriped_up.json
  code/datums/greyscale/json_configs/bandstriped_worn.json
  code/datums/greyscale/json_configs/bandstriped_worn_up.json
  code/game/machinery/washing_machine.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/antagonists/gang/gang.dm
  code/modules/antagonists/thief/thief.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/masks/bandana.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/mob/living/simple_animal/friendly/trader.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites, Fix, Removal, Refactor, Map Edit, Content Expansion

#65741 [MDB IGNORE] Adds dead space navigation
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/hud.dm
  code/_globalvars/lists/objects.dm
  code/_onclick/hud/alien.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/pai.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/neutral.dm
  code/game/machinery/navbeacon.dm
  code/game/objects/items/wayfinding.dm
  code/modules/mob/living/navigation.dm
  code/modules/mob/mob.dm
  icons/effects/navigation.dmi
  icons/hud/screen_clockwork.dmi
  icons/hud/screen_glass.dmi
  icons/hud/screen_midnight.dmi
  icons/hud/screen_operative.dmi
  icons/hud/screen_plasmafire.dmi
  icons/hud/screen_retro.dmi
  icons/hud/screen_slimecore.dmi
  tgstation.dme
Labels: Sprites, Mechanic, Removal, Map Edit

#65868 Fixes large persistent paintings being shown off the wall
  code/modules/art/paintings.dm
Labels: Fix

#65871 Slight change to admin messages, ensuring people actually see and read them (take 2)
  code/modules/admin/sql_message_system.dm
  code/modules/admin/topic.dm
Labels: Administration

#65704 Refactors DNA scanner & adds new traitor final obj with it
  code/game/objects/items/dna_probe.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/antagonists/traitor/objectives/final_objective/final_objective.dm
  code/modules/antagonists/traitor/objectives/final_objective/space_dragon.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  code/modules/station_goals/dna_vault.dm
  tgstation.dme
Labels: Refactor, Content Expansion

#65771 hopefully fixes unit test failures from things in the spatial grid not having their refs cleared from it
  code/controllers/subsystem/spatial_gridmap.dm
Labels: Stale

#65803 Slaps some symbols on those medkits
  icons/obj/storage.dmi
Labels: Sprites

#65689 TramStation's Cargo and Supply Area Division (Top-to-Bottom)
  _maps/map_files/tramstation/tramstation.dmm
  code/game/area/space_station_13_areas.dm
  icons/turf/areas.dmi
Labels: Sprites, Mechanic, Map Edit

#65878 Icebox Detective Console Fix
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit

#65865 [NO GBP] Minor IceBox Fixes
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit, GBP: No Update

#65866 Trimmeny Cricket: Exposing Gas Flow Meters in Atmospherics
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65877 General Changes to IceBox's Public Mining Storage and the AI Upload
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/game/area/space_station_13_areas.dm
Labels: Balance/Rebalance, Fix, Map Edit

#65919 Swaps Out Useless Lights on TramStation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65893 Metastation - separates the cargo drone bay into it's own drone bay area
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Content Expansion

#65914 Fix typos in "slight changes to admin messages"
  code/modules/admin/topic.dm
Labels: Verified :heavy_check_mark:

#65779 [NO GBP] Fixes airlock cycle links not working
  code/game/machinery/airlock_control.dm
  code/game/machinery/doors/airlock.dm
  code/modules/mapping/access_helpers.dm
  code/modules/mapping/mapping_helpers.dm
Labels: Fix, GBP: No Update

#65688 Adds two buttons to the admin traitor panel
  code/datums/mind.dm
  code/modules/admin/antag_panel.dm
Labels: Administration, Stale

#65932 fixes navigation ui for some non human mobs
  code/__DEFINES/hud.dm
  code/_onclick/hud/alien.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/pai.dm
  code/_onclick/hud/robot.dm
Labels: Fix

#65934 Moves damp rag out of the detective folder and into reagent_containers
  code/modules/detectivework/footprints_and_rag.dm
  code/modules/reagents/reagent_containers/misc.dm
  tgstation.dme
Labels: Code Improvement

#65917 Makes paper logging actually include the text being written
  code/modules/paperwork/paper.dm
  code/modules/wiremod/components/action/printer.dm
Labels: Fix

#65905 Fixed drop pod debris having a capitalised name
  code/modules/cargo/supplypod.dm
Labels: Grammar and Formatting

#65929 Makes Sulfuric Acid use its preferred IUPAC name
  code/__DEFINES/aquarium.dm
  code/game/objects/items/maintenance_loot.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Grammar and Formatting

#65892 Moves moffins into the mothic food category
  code/modules/food_and_drinks/recipes/tablecraft/recipes_moth.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: Quality of Life

#65911 Lizard mobs can now be picked up.
  code/modules/mob/living/simple_animal/friendly/lizard.dm
Labels: Good First PR, Content Expansion

#65952 Adds crafting to crafting logs
  code/game/objects/items/stacks/stack.dm
Labels: Administration

#65918 Beds, Sofas, Slimes, And Jellypeople now provide a soft landing
  code/datums/elements/soft_landing.dm
  code/game/atoms.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/beds_chairs/sofa.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  tgstation.dme
Labels: Mechanic

#65930 Fixes bots trying to path through dense corners.
  code/__HELPERS/path.dm
Labels: Fix

#65766 Fix reinforced girders to only use plasteel for construction
  code/game/objects/structures/girders.dm
Labels: Fix

#65915 you can no longer stuff infinite ais in modsuits
  code/modules/mod/mod_ai.dm
Labels: Fix

#65903 [NO GBP] Buffs runtimestation's RTG
  _maps/map_files/debug/runtimestation.dmm
  code/modules/power/rtg.dm
Labels: Balance/Rebalance, Map Edit, GBP: No Update

#65904 Fixes cryocells not working properly.
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#65908 Fixes the Donut Box Icon for Mapping
  code/game/objects/items/storage/fancy.dm
  icons/obj/food/donuts.dmi
Labels: Sprites

#65894 Removes unneeded sanitization in library code
  code/modules/library/lib_machines.dm
Labels: Removal

#65832 fix machinery being clickable from behind a directional window
  code/game/machinery/_machinery.dm
Labels: Fix

#65814 Mechs will now immediately cancel doafters instead of waiting until till the end to tell you you moved
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
Labels: Quality of Life

#65926 Frozen Treat Quality of Life adjustments..
  code/datums/components/crafting/recipes.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
Labels: Quality of Life

#65945 Fixes dup issue with RCD
  code/game/objects/items/RCD.dm
Labels: Fix

#65888 Creates Linters for (bad) Commented Out Lines in Maps
  tools/ci/check_grep.sh
Labels: Tools, Code Improvement

#65889 Frogs can now be picked up. You can fit them in your pockets too! Or you can put them on your head if you want to.
  code/modules/mob/living/simple_animal/hostile/retaliate/frog.dm
  icons/mob/animal_item_head.dmi
Labels: Sprites, Content Expansion

#65998 Fixes interaction, properly fixes through window interaction too
  code/game/machinery/_machinery.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: Fix

#65976 Fixes Disposal Loop on DeltaStation
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#65960 Removes the clown borg lollipop snowflake
  code/game/objects/items/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: Removal, Code Improvement

#65923 Fixes some Kapulimbs bugs
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/client/preferences/species_features/moth.dm
  code/modules/client/preferences/species_features/pod.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  icons/mob/human_parts.dmi
Labels: Sprites, Fix

#65783 re-adds food processor upgrades
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/food_and_drinks/recipes/processor_recipes.dm
Labels: Fix

#65942 Refactors janitor cartridge to a tablet app
  code/__DEFINES/devices.dm
  code/_globalvars/lists/objects.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/items/devices/PDA/virus_cart.dm
  code/game/objects/items/mop.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/janicart.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/vehicles/pimpin_ride.dm
  code/modules/vending/cartridge.dm
  code/modules/vending/wardrobes.dm
Labels: Refactor

#65957 Fixes robocontrol on the 'puter
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
Labels: Fix

#65789 Mapping in Bed Directional Rotated Variants - NOT FUCKED UP EDITION [MDB IGNORE]
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/quarters_1.dmm
  _maps/RandomRuins/SpaceRuins/DJstation/quarters_3.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomRuins/SpaceRuins/oldAIsat.dmm
  _maps/RandomRuins/SpaceRuins/onehalf.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Mafia/mafia_snow.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/pirate_silverscale.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/templates/holodeck_medicalsim.dmm
Labels: Mechanic, Map Edit

#65956 Adds missing air alarm to Tram's cargo
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65948 [s] Removes the Gripper Gloves from the Lavaland Syndicate Base
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/commswilding_3.dmm
Labels: Fix, Removal, Map Edit

#65977 Fixes Access Reqs on DeltaStation Security
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#65951 Removes Weird Tiling in Closed Turfs on the Ash Walker's Base
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
Labels: Fix, Map Edit

#65944 Fix-Rev-Runtime
  code/modules/antagonists/revolution/revolution.dm
Labels: Fix

#65950 TramStation Medbay Fixes (Full Medkits!)
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65873 Replace girder to_chat messages with balloon alerts
  code/game/objects/structures/girders.dm
Labels: Quality of Life

#65899 Fixes Mapping Icons For Bodylimbs (Don't Get A Shock!)
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/moth_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/plasmaman_bodyparts.dm
Labels: Fix

#65748 grenade error message bugfix
  code/game/objects/items/grenades/chem_grenade.dm
Labels: Fix

#65751 Fix permanent invisibility from shadowcloak
  code/game/objects/items/devices/traitordevices.dm
Labels: Fix, Stale

#66017 Remove the span from logging
  code/modules/antagonists/revenant/revenant_abilities.dm
Labels: Fix

#66015 JPS improvements and fixes
  code/__DEFINES/turfs.dm
  code/__HELPERS/path.dm
  code/game/atoms.dm
  code/game/objects/objs.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/turf.dm
Labels: Fix

#66014 Fix: Health sensors inside chemical grenades
  code/datums/wires/explosive.dm
Labels: Fix

#66013 Fixes a null override
  code/modules/vehicles/mecha/mecha_wreckage.dm
Labels: Code Improvement, Against God and Nature

#66021 Removes a floating poster from Ice Boxs Service Hall
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit

#66023 [NO GBP] Fixes the Charlie Station APCs to start with NO CHARGE
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Fix, Map Edit, GBP: No Update

#65996 Fixes a couple open spaces and a stray rock on Tramstation upper z-level.
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#65992 Fixes Newscaster Placement Across Three Stations (Click to find out more)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#66024 Adds a button to TramStation AI teleporter room
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#66008 kilo fix without the other PR
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#65994 Fixes Area Misdefinition on KiloStation Botany
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit

#65927 [speedmerge] Repairs A Handful Of Issues With Icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  code/modules/shuttle/syndicate.dm
Labels: Fix, Map Edit

#65990 Fixes some sprites breaking digitigrade legs when they shouldn't
  code/modules/clothing/suits/costume.dm
  code/modules/clothing/suits/moth.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/centcom.dm
Labels: Fix, Good First PR

#65867 Science Night Vision Goggles
  code/modules/clothing/glasses/_glasses.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites, Content Expansion

#65690 Fixes petri dishes not changing sprites after being washed
  code/modules/research/xenobiology/vatgrowing/petri_dish.dm
Labels: Fix

#66029 you can no longer use spells while in rod form
  code/__DEFINES/traits.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/rod_form.dm
Labels: Balance/Rebalance, Fix

#66027 Fixes a runtime with bounty cubes on destroy
  code/game/machinery/civilian_bounties.dm
Labels: Fix, GBP: No Update

#66019 Venus fly trap layering fix
  code/modules/events/spacevine.dm
Labels: Fix

#66003 Removes over/underlays on special planes from statues.
  code/modules/art/statues.dm
Labels: Fix, Removal

#65987 Brings stationary tank pressure limit up to canister level and makes them cheaper
  code/modules/atmospherics/machinery/components/tank.dm
Labels: Balance/Rebalance

#65784 Armour tags on clothing say when an item blocks pepperspray or facehuggers
  code/modules/clothing/clothing.dm
Labels: Content Expansion

#66046 Fixes Sloth Ruin note storing its contents in the wrong place.
  code/modules/ruins/lavalandruin_code/sloth.dm
Labels: Fix

#66042 Removes the crate in window in lavaland base
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Map Edit

#65979 The screentip context no longer lies about what happens when you left click another carbon mob with combat mode on.
  code/modules/mob/living/carbon/carbon_context.dm
Labels: Fix

#65939 Adds (restores?) cigar inhands
  code/game/objects/items/cigs_lighters.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
Labels: Sprites

#65757 Fix movement turf changer element to check openspace
  code/__DEFINES/is_helpers.dm
  code/datums/elements/movement_turf_changer.dm
Labels: Fix, Stale

#65586 Turbine Rework
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/turbine_defines.dm
  code/__DEFINES/turfs.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/power/turbine.dm
  code/modules/power/turbine/turbine.dm
  code/modules/power/turbine/turbine_computer.dm
  code/modules/power/turbine/turbine_parts.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/turbine/turbine.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/TurbineComputer.js
Labels: Sprites, Mechanic, UI, Map Edit

#66054 makes subtype subsystem definition defines use a dummy fire() so they show up in the profiler
  code/__DEFINES/MC.dm
Labels: Logging

#65940 Ports new evangelion jumpsuit sprites from bee, adds them to robotics vendor
  code/modules/cargo/packs.dm
  code/modules/clothing/under/costume.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/under/costume.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites, Content Expansion

#65991 Block free golems from using shuttle consoles, other than to go home
  code/__DEFINES/traits.dm
  code/modules/mining/mine_items.dm
  code/modules/mob_spawn/ghost_roles/golem_roles.dm
Labels: Balance/Rebalance

#65846 Fixes atmos on lower tram level
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit, Quality of Life

#66032 Re-adds Athletic shorts and Masks closet(s) to Deltastation's recreational room.
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#66072 SSUs no longer use power when not actually charging the cell
  code/game/machinery/suit_storage_unit.dm
Labels: Fix

#65440 Mansus grasp now applies cultslurring, Void path minor compensatory buff
  code/datums/status_effects/debuffs.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
Labels: Balance/Rebalance

#66040 Fix spelling of hazard area status effect
  code/datums/components/hazard_area.dm
Labels: Grammar and Formatting

#66067 Fixes game breaking duplication exploit
  code/game/turfs/open/floor/fancy_floor.dm
Labels: Fix

#65661 balance SM dusting power increase by the object size
  code/modules/power/supermatter/supermatter_hit_procs.dm
Labels: Balance/Rebalance

#65886 [no GBP] Fixes my improper skateboard fix
  code/modules/vehicles/vehicle_actions.dm
Labels: Fix, GBP: No Update

#66000 [NO GBP] Resolves Golems not being allowed in the areas they created
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__HELPERS/areas.dm
  code/datums/components/hazard_area.dm
  code/modules/mob_spawn/ghost_roles/golem_roles.dm
Labels: Fix, GBP: No Update

#66035 Refactors Newscaster cartridge to tablet app
  code/__DEFINES/devices.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/admin/verbs/admin_newscaster.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  code/modules/modular_computers/file_system/programs/newscasterapp.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Newscaster.js
  tgui/packages/tgui/interfaces/NtosNewscaster.js
  tgui/packages/tgui/interfaces/PhysicalNewscaster.js
Labels: Refactor, UI

#65953 removes syndicate cartridge no one uses anyways
  code/__DEFINES/devices.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/items/devices/PDA/virus_cart.dm
Labels: Removal, Code Improvement

#66022 Refactors drone PDA stuff into a Botkeeper thing
  code/__DEFINES/devices.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  tgui/packages/tgui/interfaces/NtosRoboControl.js
Labels: Refactor, UI

#66043 Make fire alarm lighting respect power status
  code/game/machinery/firealarm.dm
Labels: Fix

#65935 Replaces all "Space" warning posters with "Cold" and "Gas Mask" posters on IceBox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/game/objects/structures/signs/signs_warning.dm
Labels: Fix, Map Edit

#65880 Tunes Up The Syndicate Infiltrator
  _maps/shuttles/infiltrator_basic.dmm
  code/game/area/areas/shuttles.dm
  code/game/machinery/computer/security.dm
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/objects/structures/beds_chairs/chair.dm
  icons/turf/decals.dmi
Labels: Sprites, Map Edit, Content Expansion

#66069 Fixes some in-wall obj placement [GLS RUIN]
  _maps/RandomRuins/SpaceRuins/thelizardsgas.dmm
Labels: Map Edit

#66080 Unearths Covered-Up Intercom on DeltaStation
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#66057 Lets monkeys wear glasses and headsets
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
Labels: Balance/Rebalance, Quality of Life

#66094 Give the Debug Glasses SM Madness Immunity
  code/modules/clothing/glasses/_glasses.dm
Labels: Fix

#65906 Makes navigate verb use landmarks instead of navigation beacons
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/_globalvars/lists/mapping.dm
  code/_globalvars/lists/objects.dm
  code/game/machinery/navbeacon.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/stairs.dm
  code/modules/mob/living/navigation.dm
  icons/effects/landmarks_static.dmi
  tools/UpdatePaths/replace_wayfinding_beacons.txt
Labels: Sprites, Tools, Code Improvement, Map Edit

#64731 Festival Sect is back in 2022!
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/__DEFINES/dcs/signals/signals_music.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/traits.dm
  code/datums/components/religious_tool.dm
  code/datums/components/smooth_tunes.dm
  code/datums/status_effects/buffs.dm
  code/datums/wounds/slash.dm
  code/game/objects/effects/effects.dm
  code/game/objects/effects/particle_holder.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/actionspeed/modifiers/status_effects.dm
  code/modules/instruments/piano_synth.dm
  code/modules/instruments/songs/_song.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/religion/festival/instrument_rites.dm
  code/modules/religion/festival/note_particles.dm
  code/modules/religion/religion_sects.dm
  code/modules/religion/religion_structures.dm
  code/modules/religion/rites.dm
  icons/effects/particles/notes/note.dmi
  icons/effects/particles/notes/note_harm.dmi
  icons/effects/particles/notes/note_holy.dmi
  icons/effects/particles/notes/note_null.dmi
  icons/effects/particles/notes/note_sleepy.dmi
  icons/obj/hand_of_god_structures.dmi
  tgstation.dme
Labels: Sprites, Content Expansion

#65826 Zauker refactor (attempt 2)
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/organs/lungs.dm
Labels: Refactor

#66065 Optimizes podhair shitcode
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/external/_external_organs.dm
Labels: Refactor

#65490 firelocks now automatically open once the alarms are cleared and fixed fire alarms not clearing
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/machinery/airalarm.dm
Labels: Fix, Refactor, Map Edit, Quality of Life

#66095 Makes brimdemons delete their beams when deleted
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
Labels: Fix

#66093 fix valves exploit
  code/modules/atmospherics/machinery/components/binary_devices/valve.dm
Labels: Fix, Priority: High

#66079 [NO GBP] Fix girder construction balloon_alert runtimes
  code/game/objects/structures/girders.dm
Labels: Fix, GBP: No Update

#65891 Adds a flag that lets mobs be colored with spraycans, and adds said flag to the hygienebot
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/traits.dm
  code/game/objects/items/crayons.dm
  code/modules/mob/living/simple_animal/bot/hygienebot.dm
Labels: Code Improvement, Content Expansion

#66050 adds a unique species id unit test + cleans up some golem mischief
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/species_unique_id.dm
Labels: Grammar and Formatting, Code Improvement, Unit Tests

#66088 Adds nightmare vision goggles to maintenance
  code/_globalvars/lists/maintenance_loot.dm
  code/modules/client/client_colour.dm
  code/modules/clothing/glasses/_glasses.dm
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites, Content Expansion

#66086 [NO GBP]Fix thermal conductivity not setting
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Labels: Fix, GBP: No Update

#66087 Syndicate MODsuit resprite - sleek edition
  code/modules/mod/mod_clothes.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/modules/_module.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_supply.dm
  icons/mob/clothing/mod.dmi
  icons/mob/clothing/modsuit/mod_clothing.dmi
  icons/mob/clothing/modsuit/mod_modules.dmi
  icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: Sprites

#66122 Prevents infinite looping of resonator field bursts
  code/modules/mining/equipment/resonator.dm
Labels: Fix

#66076 Updates the PDA painter sprite
  icons/obj/pda.dmi
Labels: Sprites

#66105 It is no longer possible to end maint procedures on a mech if the parts panel is still open.
  code/modules/vehicles/mecha/mecha_ui.dm
  tgui/packages/tgui/interfaces/Mecha/MaintMode.tsx
Labels: Fix, UI

#65910 Adds baseturf helpers to create and destroy ignore list
  code/modules/unit_tests/create_and_destroy.dm
Labels: Fix, Stale, Code Improvement, Verified :heavy_check_mark:

#66127 Fixes the bench error overlay when you're buckled
  code/game/objects/structures/beds_chairs/sofa.dm
Labels: Fix

#65982 Security's Holding Cell, Another Cut In The Behemoth
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/area/space_station_13_areas.dm
  icons/turf/areas.dmi
Labels: Sprites, Mechanic, Map Edit

#66158 Adds Ukraine's Independence Day as a holiday, since the child attacking our hosting requested goofball PRs.
  code/modules/holiday/holidays.dm
Labels: Code Improvement, Blame MSO

#66155 Fixes cleaning foam strange object leaving behind an empty grenade casing
  code/modules/research/experimentor.dm
Labels: Fix

#66063 Standardizes donuts and donks on all stations
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/modules/cargo/bounties/assistant.dm
Labels: Balance/Rebalance, Map Edit
