Repository tgstation/tgstation, pull requests merged in 2023-04, with the labels that each got.

#74380 Add test suite that just checks for if alternate tests pass so that we can require it instead of the specific tests
  .github/workflows/ci_suite.yml
Labels: GitHub

#74355 Update alternate_byond_versions.txt to 515.1603
  .github/alternate_byond_versions.txt
Labels: GitHub

#74378 Fixes Active Turfs on WayStation
  _maps/RandomRuins/SpaceRuins/waystation.dmm
Labels: Fix, Map Edit

#74343 Removes & Adds some chemicals from the disease cure list
  code/datums/diseases/advance/advance.dm
Labels: Balance, Removal

#74384 Fixes floating point inaccuracies in numeric preferences
  code/__HELPERS/sanitize_values.dm
  code/modules/client/preferences/_preference.dm
Labels: Fix

#74379 Fixes "Atmos Asteroid" Active Turfs - Irony Edition
  _maps/RandomRuins/SpaceRuins/atmosasteroidruin.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/modules/mapfluff/ruins/spaceruin_code/atmos_asteroid.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/overpressurized_co2_turfs.txt
Labels: Fix, Tools, Map Edit

#74070 March into Mapness: Meateor
  _maps/RandomRuins/SpaceRuins/meateor.dmm
  code/__DEFINES/ai.dm
  code/datums/ai/basic_mobs/basic_subtrees/sleep_with_no_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/targeted_mob_ability.dm
  code/datums/components/spawner.dm
  code/datums/elements/floorloving.dm
  code/datums/elements/frozen.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/looping_sounds/item_sounds.dm
  code/datums/ruins/space.dm
  code/datums/storage/subtypes/organ_box.dm
  code/game/objects/items/storage/medkit.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/mapfluff/ruins/spaceruin_code/meateor.dm
  code/modules/mob/living/basic/space_fauna/meteor_heart/chasing_spikes.dm
  code/modules/mob/living/basic/space_fauna/meteor_heart/meteor_eyeball.dm
  code/modules/mob/living/basic/space_fauna/meteor_heart/meteor_heart.dm
  code/modules/mob/living/basic/space_fauna/meteor_heart/meteor_heart_ai.dm
  code/modules/mob/living/basic/space_fauna/meteor_heart/spine_traps.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  code/modules/mob_spawn/corpses/nonhuman_corpses.dm
  config/spaceruinblacklist.txt
  icons/mob/simple/meteor_heart.dmi
  tgstation.dme
Labels: Sprites, Feature, Stale, Config Update, Map Edit

#74385 Fix MetaStation cargo table
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#74386 Two small throw impact things
  code/game/objects/items.dm
  code/modules/food_and_drinks/plate.dm
Labels: Fix

#74387 Makes silicons able to receive headset messages from admins
  code/modules/admin/verbs/adminevents.dm
Labels: Fix

#74329 "Biscuit" cards, and also now slip papers are actually paper!
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/maintenance_modules/secbarupper_attachment_a_1.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/controllers/subsystem/job.dm
  code/datums/components/crafting/misc.dm
  code/game/objects/items/food/pastries.dm
  code/modules/cargo/packs/general.dm
  code/modules/paperwork/fax.dm
  code/modules/paperwork/paper_biscuit.dm
  code/modules/paperwork/paper_cutter.dm
  code/modules/research/designs/autolathe/multi-department_designs.dm
  icons/obj/bureaucracy.dmi
  icons/obj/fax.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/74329_oldpaperslips2paperpaperslips.txt
Labels: Sprites, Feature, Fix, Tools, Map Edit

#74349 Adds pillow bonus for sleeping.
  code/datums/status_effects/debuffs/debuffs.dm
Labels: Feature

#74100 [MDB IGNORE] Gets rid of the /brig shuttle floor subtype
  _maps/shuttles/emergency_asteroid.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/emergency_bballhooper.dmm
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_box.dmm
  _maps/shuttles/emergency_casino.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_clown.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_donut.dmm
  _maps/shuttles/emergency_fish.dmm
  _maps/shuttles/emergency_goon.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/emergency_lance.dmm
  _maps/shuttles/emergency_medisim.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_mini.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_russiafightpit.dmm
  _maps/shuttles/emergency_scrapheap.dmm
  _maps/shuttles/emergency_tram.dmm
  _maps/shuttles/emergency_venture.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  code/game/turfs/open/floor/mineral_floor.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
  tools/UpdatePaths/Scripts/74100_removes_shuttle_brig_floors.txt
Labels: Tools, Map Edit

#74362 Fixes the emissive blockers from the body parts layering over everything
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#74251 Atmos QOL + Small Sprite Fix
  code/game/objects/items/RPD.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pressure_valve.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
  code/modules/atmospherics/machinery/components/electrolyzer/electrolyzer.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/bluespace_sender.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  icons/obj/atmospherics/components/binary_devices.dmi
Labels: Sprites, Fix, Quality of Life

#74400 Highlander will not be activated if admins exit the highlander delay window.
  code/modules/admin/verbs/secrets.dm
Labels: Administration

#74311 makes the maid in the mirror drop a real suit of armor.
  code/modules/antagonists/heretic/mobs/maid_in_mirror.dm
Labels: Fix

#74345 Thrown containers splashing on mobs spill some contents on the floor
  code/modules/reagents/reagent_containers.dm
Labels: Feature

#74203 OOC-ifies the Bluespace Tag
  code/datums/elements/weapon_description.dm
  code/game/objects/items/melee/baton.dm
Labels: Quality of Life

#74410 Chasm Hell On Icebox - 300 Active Turfs on Prod Moment
  _maps/RandomRuins/IceRuins/icemoon_underground_lavaland.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/datums/mapgen/JungleGenerator.dm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/mining.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/asteroid.dm
  code/game/turfs/open/openspace.dm
  icons/area/areas_station.dmi
  icons/turf/debug.dmi
  tools/UpdatePaths/Scripts/74410_genturf_renaming.txt
Labels: Sprites, Fix, FUCK, Tools, Map Edit

#74110 March Into Mapness: Anomaly Research Ruin
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  code/datums/ruins/space.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/game/objects/effects/anomalies/anomalies_flux.dm
  code/game/objects/effects/anomalies/anomalies_gravity.dm
  code/game/objects/effects/anomalies/anomalies_pyroclastic.dm
  code/game/objects/items/devices/anomaly_releaser.dm
  code/modules/mapfluff/ruins/spaceruin_code/anomalyresearch.dm
  config/spaceruinblacklist.txt
  icons/area/areas_ruins.dmi
  icons/effects/random_spawners.dmi
  icons/obj/device.dmi
  tgstation.dme
Labels: Sprites, Feature, Config Update, Map Edit

#74409 Fixes Dark Matteor
  code/__HELPERS/level_traits.dm
  code/modules/antagonists/traitor/objectives/final_objective/objective_dark_matteor.dm
Labels: Fix

#74424 Telescreen Updating Fix
  code/game/machinery/computer/camera.dm
Labels: Fix, Good First PR

#74421 Fixes natural wigs potentially getting a broken icon
  code/modules/clothing/head/wig.dm
Labels: Fix

#74407 Fixes errant newscaster
  _maps/map_files/tramstation/maintenance_modules/dormmedupper_1.dmm
Labels: Fix, Map Edit

#74381 Adds cameras to emergency shuttles
  _maps/shuttles/emergency_box.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/emergency_meta.dmm
  _maps/shuttles/emergency_tram.dmm
Labels: Feature, Good First PR, Map Edit

#74240 Move auxtools procs to auxtools file
  code/__DEFINES/spaceman_dmm.dm
  code/__HELPERS/_auxtools_api.dm
Labels: Stale, Code Improvement

#74426 Play Internet Sound, Admin CKEY instead of character name
  code/modules/admin/verbs/playsound.dm
Labels: Fix

#74446 The yearly april fools maid costume sprite update
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/under/costume.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/head/costume.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites

#74427 Fix the notify restart verb.
  code/modules/discord/toggle_notify.dm
Labels: Fix

#74452 Removes opacity from non fulltile tinted windows
  code/game/objects/structures/window.dm
Labels: Fix, Removal

#74182 March into Mapness: Space Ghost Restaurant
  _maps/RandomRuins/SpaceRuins/space_ghost_restaurant.dmm
  code/datums/holocall.dm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Feature, Config Update, Map Edit

#74453 Optimize /atom/movable/Initialize with faster check for blocks_emissive [140ms on init]
  code/__DEFINES/lighting.dm
  code/controllers/admin.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/misc.dm
  code/modules/industrial_lift/industrial_lift.dm
  code/modules/mob/living/carbon/carbon_defines.dm
Labels: Performance

#74455 Print Cultist Names If Cult Failed
  code/modules/antagonists/cult/cult.dm
Labels: Fix, Verified :heavy_check_mark:, GBP: No Update

#74404 Adds Chuunibyou Spell + Granter
  code/__DEFINES/dcs/signals/signals_spell.dm
  code/__DEFINES/obj_flags.dm
  code/datums/components/chuunibyou.dm
  code/game/objects/items/granters/chuuni_granter.dm
  code/modules/antagonists/wizard/equipment/chuunibyou_spell.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/defensive.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/library/bookcase.dm
  code/modules/library/random_books.dm
  code/modules/spells/spell.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/medical.dm
  icons/mob/actions/actions_spells.dmi
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/library.dmi
  tgstation.dme
Labels: Sprites, Feature

#74374 Replaces xeno_spawn with the generic_maintenance_landmark, adds atmos safety checks to remaining midrounds that need them
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/maintenance_modules/barcargoupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/barcargoupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/barcargoupper_3.dmm
  _maps/map_files/tramstation/maintenance_modules/dormmedupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/dormmedupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/dormmedupper_3.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_3.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_1.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_2.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_a_3.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_b_1.dmm
  _maps/map_files/tramstation/maintenance_modules/medsciupper_attachment_b_2.dmm
  _maps/map_files/tramstation/maintenance_modules/secbarupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/secbarupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/secbarupper_3.dmm
  _maps/map_files/tramstation/maintenance_modules/secservicelower_1.dmm
  _maps/map_files/tramstation/maintenance_modules/secservicelower_2.dmm
  _maps/map_files/tramstation/maintenance_modules/secservicelower_3.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/_globalvars/lists/mapping.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/objects/effects/landmarks.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/events/ghost_role/morph_event.dm
  code/modules/events/ghost_role/nightmare.dm
  code/modules/events/spider_infestation.dm
  tools/UpdatePaths/Scripts/74374_maintenance_landmarks.txt
Labels: Fix, Tools, Code Improvement, Map Edit

#74451 Cleans up marisa shoes GAGS
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/modules/clothing/shoes/sneakers.dm
  icons/mob/clothing/feet.dmi
Labels: Sprites, Fix

#73924 March into Mapness - Pizza Party Ruin Revamp
  _maps/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/floor/iron_floor.dm
Labels: Balance, Stale, Map Edit

#74129 March Into Mapness: Transit Booth
  _maps/RandomRuins/SpaceRuins/transit_booth.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Config Update, Good First PR, Map Edit

#74473 Updates paper biscuits and the paper cutter
  code/controllers/subsystem/job.dm
  code/datums/components/butchering.dm
  code/modules/cargo/packs/general.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper_biscuit.dm
  code/modules/paperwork/paper_cutter.dm
  code/modules/research/designs/autolathe/multi-department_designs.dm
Labels: Grammar and Formatting, Fix, Quality of Life

#74239 Reorganize world end slightly
  code/game/world.dm
Labels: Stale

#74466 Adds better parts for syndie mechs, some tooltips to mech maintenance mode and some little changes.
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/gygax.dm
  code/modules/vehicles/mecha/combat/honker.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/reticence.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/mecha/mecha_helpers.dm
  code/modules/vehicles/mecha/mecha_ui.dm
Labels: Balance, Fix, GBP: No Update, Quality of Life

#74477 [No GBP] Removes bonus corpse from the prey pod space ruin
  _maps/RandomRuins/SpaceRuins/prey_pod.dmm
Labels: Fix, Removal, Map Edit, GBP: No Update

#74412 Removes dead clotting once more
  code/__DEFINES/wounds.dm
  code/datums/wounds/slash.dm
Labels: Balance, Removal

#74432 Yet another Atmos Qol & Fixes
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/atmospherics/machinery/pipes/smart.dm
Labels: Fix

#74476 Icemoon Hermit Ruin Active Turf Fix - For Real This Time
  _maps/RandomRuins/IceRuins/icemoon_underground_hermit.dmm
  code/__DEFINES/flags.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/asteroid.dm
Labels: Fix, Map Edit

#74496 Block connections to the server from new ckeys if the panic bunker is up and not in interview mode
  code/modules/admin/IsBanned.dm
Labels: Fix

#74495 Fix DMAPI errors regarding validated chat commands
  code/modules/admin/chat_commands.dm
Labels: Fix

#74491 Fixes west sided version of red alert fire alarm being wrong sided.
  icons/obj/firealarm.dmi
Labels: Sprites, Fix

#74480 Adds tele access to the QM
  code/datums/id_trim/jobs.dm
  code/game/objects/items/cards_ids.dm
Labels: Fix

#74428 Removes all but the barebones timers for runechat
  code/datums/chatmessage.dm
Labels: Removal, Refactor, Test Merge Candidate

#74481 Fixes coderbus item layering
  _maps/RandomRuins/SpaceRuins/bus.dmm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  tools/maplint/lints/pixel_varedits.yml
Labels: Fix, Tools, Map Edit

#74514 Client Compatibility Check Actually Uses Our Fork
  .github/workflows/ci_suite.yml
  .github/workflows/run_integration_tests.yml
Labels: GitHub

#74225 Malfunctioning AIs get a discount on the Doomsday equipment by hacking Head of Staff APCs
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Balance

#74489 Atmospherics Asteroid UpdatePaths Fix
  _maps/RandomRuins/SpaceRuins/atmosasteroidruin.dmm
  tools/UpdatePaths/Scripts/74309_overpressurized_co2_turfs.txt
Labels: Fix, Tools, Map Edit, GBP: No Update

#74474 IceBoxStation More Active Turf Fixes
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#74493 Clients can't OOC until they have fully gone through `New()`
  code/__DEFINES/client.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/ooc.dm
Labels: Fix, Priority: High, 📌 Test Merge Candidate

#74263 Abandoned Interdyne research base
  _maps/RandomRuins/SpaceRuins/interdyne.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/modules/mapfluff/ruins/spaceruin_code/interdyne.dm
  config/spaceruinblacklist.txt
  tgstation.dme
Labels: Feature, Config Update, Good First PR, Map Edit

#74500 Adds VERB_REF and derivative
  .github/guides/STANDARDS.md
  code/__byond_version_compat.dm
  code/modules/client/verbs/ooc.dm
Labels: Fix, Code Improvement, GitHub

#74315 Replaceable Traitor Uplinks
  code/__DEFINES/dcs/signals/signals_traitor.dm
  code/__DEFINES/radio.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/structures.dm
  code/datums/components/uplink.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/objects/structures/syndicate_uplink_beacon.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/uplink/uplink_devices.dm
  icons/obj/machines/telecomms.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoTraitor.tsx
Labels: Sprites, Feature, UI

#74302 timestop the SM
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/__DEFINES/supermatter.dm
  code/datums/proximity_monitor/fields/timestop.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_variants.dm
Labels: Feature

#74519 Corrects TGS licensing statement
  README.md
Labels: Grammar and Formatting

#74483 Fixes slimes not having a mischievous face
  code/modules/mob/living/simple_animal/slime/emote.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/living/simple_animal/slime/subtypes.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/slime_mood.dm
  icons/mob/simple/slimes.dmi
Labels: Sprites, Fix, Unit Tests

#74459 Adds a new HUD: The Detective UI!
  code/__DEFINES/colors.dm
  code/_onclick/hud/hud.dm
  code/modules/tooltip/tooltip.html
  icons/hud/64x16_actions.dmi
  icons/hud/screen_detective.dmi
Labels: Sprites, Feature

#74411 Moves revolution code of out of flash code, fixes April Fool conversion forcesay never working in any cirumstances
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/mobs.dm
  code/datums/mind/antag.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/assembly/flash.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/rev_conversion.dm
Labels: Fix, Removal, Refactor

#74501 Auxtools is now a config opt-in
  code/__DEFINES/configuration.dm
  code/__HELPERS/_auxtools_api.dm
  code/controllers/configuration/entries/lua.dm
  code/modules/admin/verbs/lua/lua_editor.dm
  config/auxtools.txt
  config/config.txt
  tgui/packages/tgui/interfaces/LuaEditor/index.js
  tools/ci/ci_config.txt
Labels: Tools, UI, Config Update

#74504 Fixes a few ferries being unloadable
  _maps/map_files/generic/CentCom.dmm
Labels: Administration, Map Edit

#74382 Tram remote control
  code/modules/industrial_lift/tram/tram_lift_master.dm
  code/modules/industrial_lift/tram/tram_remote.dm
  code/modules/uplink/uplink_items/device_tools.dm
  icons/obj/device.dmi
  tgstation.dme
Labels: Sprites, Feature

#74299 Lavaland Monster Sprite Update
  code/datums/actions/mobs/lava_swoop.dm
  code/modules/antagonists/sentient_creature/sentient_creature.dm
  code/modules/art/statues.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goldgrub.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob_spawn/corpses/nonhuman_corpses.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_sentiencepotionspawn.png
  icons/mob/simple/lavaland/64x64megafauna.dmi
  icons/mob/simple/lavaland/96x96megafauna.dmi
  icons/mob/simple/lavaland/bileworm.dmi
  icons/mob/simple/lavaland/brimdemon.dmi
  icons/mob/simple/lavaland/hierophant_new.dmi
  icons/mob/simple/lavaland/lavaland_elites.dmi
  icons/mob/simple/lavaland/lavaland_elites_64.dmi
  icons/mob/simple/lavaland/lavaland_monsters.dmi
  icons/mob/simple/lavaland/lavaland_monsters_wide.dmi
  icons/mob/simple/lavaland/watcher.dmi
Labels: Sprites

#74498 Fix floating fire alarm in the vacant commissary in delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#74492 [MDB Ignore] Audits all generic event landmarks, removed them from generic maintenance and ai satellite cores (except in Tramstation modular maint)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/_globalvars/lists/mapping.dm
  code/game/objects/effects/landmarks.dm
Labels: Balance, Code Improvement, Map Edit

#74518 (Fix) The crew manifest now properly updates after ID modifications.
  code/game/machinery/PDApainter.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/programs/card.dm
  tgui/packages/tgui/interfaces/NtosCard.js
Labels: Fix, UI

#74562 Fixes cult conversion
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/runes.dm
Labels: Fix, Priority: High, GBP: No Update

#74536 Fixes critical condition not clearing up
  code/modules/mob/living/living.dm
Labels: Fix

#74535 Fixes the supermatter not dusting you when you fall on top of it from a z-level
  code/datums/components/supermatter_crystal.dm
Labels: Fix

#74461 Fixes the basketball and thunderdome baseturf issue.
  code/modules/admin/verbs/secrets.dm
  code/modules/basketball/basketball_map_loading.dm
  code/modules/capture_the_flag/ctf_map_loading.dm
  code/modules/mafia/map_pieces.dm
Labels: Fix

#74319 [Space Ruin] - The outlet
  _maps/RandomRuins/SpaceRuins/the_outlet.dmm
  code/datums/id_trim/ruins.dm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/modules/mapfluff/ruins/spaceruin_code/the_Outlet.dm
  config/spaceruinblacklist.txt
  tgstation.dme
Labels: Feature, Config Update, Map Edit

#74529 Fixes the atrocinator modsuit module
  code/game/turfs/turf.dm
  code/modules/mod/modules/modules_maint.dm
Labels: Fix

#74331 Adds new space ruin, "Botanical Haven"
  _maps/RandomRuins/SpaceRuins/botanical_haven.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Feature, Config Update, Good First PR, Map Edit

#74322 Basketball Matchup - Ass Blast USA vs Soviet Bears
  _maps/map_files/Basketball/ass_blast_usa.dmm
  _maps/map_files/Basketball/soviet_bear.dmm
  code/modules/basketball/basketball_map_loading.dm
  code/modules/basketball/basketball_teams.dm
Labels: Feature, Stale, Map Edit

#74542 Fixes typo in Goliath sprite path
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
Labels: Fix, Verified :heavy_check_mark:

#74525 Fix anomaly releaser creating a "Stable "
  code/game/objects/effects/anomalies/_anomalies.dm
Labels: Fix

#74419 Gives fountain ruins unique ids so the lavaland one will spawn
  code/datums/ruins/icemoon.dm
  code/datums/ruins/lavaland.dm
Labels: Fix

#74391 [NO GBP] Fix minigames UI not removing inactive clients
  code/modules/basketball/controller.dm
  code/modules/mafia/controller.dm
Labels: Fix, GBP: No Update

#74538 Fixed Normal sized paintings not appearing on the ground
  code/modules/art/paintings.dm
Labels: Fix, Good First PR

#74527 Code clean-up & refactor for all RCD related & like devices.
  code/game/objects/items/RCD.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RCL.dm
  code/game/objects/items/rcd/RHD.dm
  code/game/objects/items/rcd/RLD.dm
  code/game/objects/items/rcd/RPD.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/objects/items/rcd/RSF.dm
  code/game/objects/items/rcd/RTD.dm
  code/game/objects/items/rcd/RWD.dm
  code/game/objects/items/wall_mounted.dm
  code/game/objects/structures/construction_console/construction_console.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/misc.dm
  code/game/turfs/turf.dm
  code/modules/power/pipecleaners.dm
  icons/obj/tools.dmi
  tgstation.dme
Labels: Sprites, Fix, Refactor, Code Improvement

#74553 Makes applies_mats on stack crafting work if the recipe result is a turf
  code/game/objects/items/stacks/stack.dm
Labels: Fix

#74549 Updates Lizard Sprites & New Digitigrade Sprites
  code/modules/client/preferences/species_features/mutants.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_silverscale.png
  icons/mob/species/lizard/bodyparts.dmi
  icons/mob/species/lizard/lizard_misc.dmi
  icons/mob/species/lizard/lizard_tails.dmi
  icons/mob/species/misc/digitigrade.dmi
Labels: Sprites

#74556 AOE flash fix
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/assembly/flash.dm
Labels: Fix, GBP: No Update

#74550 fixes medkits being mini smuggler satchels
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/medkit.dm
  code/game/objects/items/storage/wallets.dm
Labels: Fix

#74238 The SYN-C Brutus, a Derelict Syndicate Corvette
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Feature, Config Update, Good First PR, Map Edit

#74415 Adds a new solo fugitive backstory: The Invisible Man
  code/__DEFINES/events.dm
  code/modules/antagonists/fugitive/fugitive.dm
  code/modules/antagonists/fugitive/fugitive_equipment.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  icons/mob/actions/actions_items.dmi
  icons/obj/medical/syringe.dmi
  tgstation.dme
Labels: Sprites, Feature

#74516 Fixes duplicate pipes in UO45
  _maps/RandomZLevels/undergroundoutpost45.dmm
Labels: Fix, Map Edit

#74456 New sprites for requests, pod, and gulag wall consoles
  code/game/machinery/gulag_item_reclaimer.dm
  code/game/machinery/requests_console.dm
  code/modules/mining/aux_base.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/syndicate.dm
  icons/obj/terminals.dmi
Labels: Sprites, Quality of Life

#74568 Fixes power in the Interdyne ruin and adds a GPS signal
  _maps/RandomRuins/SpaceRuins/interdyne.dmm
Labels: Fix, Map Edit

#74555 Fire and water particle effects for mobs (sick)
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/effects/particles/water.dm
  icons/effects/particles/generic.dmi
  tgstation.dme
Labels: Sprites, Feature

#74589 Fix code not compiling on prod.
  code/modules/client/client_procs.dm
Labels: Fix, FUCK, Priority: High

#74558 Gives waystation cargo-techs shoes
  code/modules/mapfluff/ruins/spaceruin_code/waystation.dm
Labels: Fix

#73915 [Ready] New Cosmic Heretic Path DLC
  code/__DEFINES/achievements.dm
  code/__DEFINES/antagonists.dm
  code/__DEFINES/is_helpers.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/ai/basic_mobs/basic_subtrees/attack_obstacle_in_path.dm
  code/datums/ai/basic_mobs/targetting_datums/dont_target_friends.dm
  code/datums/elements/death_gases.dm
  code/datums/elements/effect_trail.dm
  code/game/objects/effects/forcefields.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/antagonists/heretic/cosmic_effect.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/side_cosmos_ash.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
  code/modules/antagonists/heretic/magic/cosmic_expansion.dm
  code/modules/antagonists/heretic/magic/cosmic_runes.dm
  code/modules/antagonists/heretic/magic/space_crawl.dm
  code/modules/antagonists/heretic/magic/star_blast.dm
  code/modules/antagonists/heretic/magic/star_touch.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/basic/heretic/fire_shark.dm
  code/modules/mob/living/basic/heretic/star_gazer.dm
  icons/effects/160x160.dmi
  icons/effects/64x64.dmi
  icons/effects/beam.dmi
  icons/effects/eldritch.dmi
  icons/hud/screen_alert.dmi
  icons/mob/actions/actions_ecult.dmi
  icons/mob/inhands/64x64_lefthand.dmi
  icons/mob/inhands/64x64_righthand.dmi
  icons/mob/inhands/items/touchspell_lefthand.dmi
  icons/mob/inhands/items/touchspell_righthand.dmi
  icons/mob/nonhuman-player/96x96eldritch_mobs.dmi
  icons/mob/nonhuman-player/eldritch_mobs.dmi
  icons/obj/economy.dmi
  icons/obj/eldritch.dmi
  icons/obj/hand_of_god_structures.dmi
  icons/obj/weapons/guns/projectiles.dmi
  icons/obj/weapons/hand.dmi
  icons/ui_icons/achievements/achievements.dmi
  sound/magic/cosmic_energy.ogg
  sound/magic/cosmic_expansion.ogg
  tgstation.dme
Labels: Sprites, Sound, Feature, 📌 Test Merge Candidate

#74567 Fixes Ceiling Generation for Lavaland Icemoon Ruin - Whoops
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
Labels: Fix, GBP: No Update

#74557 Makes AI Sat turret able to shoot silicons
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Fix

#74543 makes cursed katana combos into a generic component
  code/__DEFINES/combat.dm
  code/datums/components/combo_attacks.dm
  code/modules/mining/lavaland/tendril_loot.dm
  tgstation.dme
Labels: Refactor

#74577 More Cargo Techs
  code/modules/jobs/job_types/cargo_technician.dm
  config/jobconfig.toml
Labels: Balance, Config Update

#74490 Imports and Contraband: Different! Cargo crates without locks! MEAT!
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/shuttles/pirate_silverscale.dmm
  code/datums/components/crafting/ranged_weapon.dm
  code/game/objects/items/food/bait.dm
  code/game/objects/items/granters/crafting/regal_condor.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/holsters.dm
  code/game/objects/items/storage/medkit.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/structures/mystery_box.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/emergency.dm
  code/modules/cargo/packs/general.dm
  code/modules/cargo/packs/imports.dm
  code/modules/cargo/packs/security.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/events/shuttle_loan/shuttle_loan_datum.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/research/designs/autolathe/security_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/clothing/back/backpack.dmi
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
  icons/obj/storage/backpack.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/ballistic.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/73781_sniper_automatic_to_rifle.txt
  tools/UpdatePaths/Scripts/74490_ammo_box_to_toolbox_762.txt
  tools/UpdatePaths/Scripts/74490_brand_new_mosin_to_mosin.txt
Labels: Sprites, Balance, Feature, Tools, Map Edit

#74552 Componentizes loomability
  code/datums/components/loomable.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/loom.dm
  tgstation.dme
Labels: Code Improvement

#74583 Four chickens can now (rarely) hatch from an egg when thrown
  code/game/objects/items/food/egg.dm
Labels: Balance

#74300 Activating arm implant items in hand now automatically retracts and opens the radial menu
  code/modules/surgery/organs/augments_arms.dm
Labels: Quality of Life

#74582 fixes some noticable organ grammar
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/game/machinery/dna_infuser/organ_sets/gondola_organs.dm
Labels: Grammar and Formatting

#74603 Updates the nav beacon sprite
  icons/obj/objects.dmi
Labels: Sprites

#74573 Unit Test Font Awesome icons and Quirk icons
  code/__DEFINES/font_awesome_icons.dm
  code/datums/quirks/negative_quirks.dm
  code/datums/quirks/neutral_quirks.dm
  code/datums/quirks/positive_quirks.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/font_awesome_icons.dm
  html/font-awesome/css/all.min.css
  tgstation.dme
  tgui/packages/tgui/components/Icon.js
  tools/define_sanity/check.py
Labels: Tools, UI, Unit Tests

#74599 Modifies spectral instruments to make retaliation more viable.
  code/datums/elements/spooky.dm
Labels: Balance, Feature, GBP: No Update

#74607 Stops admin spawned ghost portals from mutating global lists
  code/game/objects/effects/anomalies/anomalies_ectoplasm.dm
Labels: Fix

#74608 Reduce carp migration devastation
  code/__DEFINES/ai.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/run_away_from_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/attack_obstacle_in_path.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_abilities.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
Labels: Balance

#74613 Removes fun from two ruins
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomRuins/SpaceRuins/interdyne.dmm
Labels: Removal, Map Edit

#74560 Electrocution will cause you to blurt out whatever you were typing
  code/game/objects/items/melee/baton.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Feature

#74454 Convert Atmos Sanity to use Landmarks
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/effects/landmarks/atmospherics_sanity_landmarks.dm
  code/modules/unit_tests/atmospherics_sanity.dm
  icons/effects/landmarks_static.dmi
  tgstation.dme
Labels: Sprites, Map Edit

#74450 Fixes Atmos ruin pipe visibility and other general fixes.
  _maps/RandomRuins/SpaceRuins/atmosasteroidruin.dmm
Labels: Fix, Map Edit

#74602 Fixes TGC decks being capped to 31 cards rather than 30.
  code/game/objects/items/tcg/tcg.dm
Labels: Fix

#74586 Piercing rounds won't infinitely recurse when fired at piggyback players
  code/modules/projectiles/projectile.dm
Labels: Fix

#74581 You no longer drop the items in your pockets when your body is randomized
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#74580 android bodyparts no longer immune to species change
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/surgery/bodyparts/species_parts/android_parts.dm
  tgstation.dme
Labels: Fix

#74545 Fix tram malfunction sprites [NO GBP]
  code/modules/industrial_lift/tram/tram_machinery.dm
Labels: Fix, GBP: No Update

#74530 Fixes that you couldn't make improvised chem heater from constructed space heater.
  code/game/machinery/spaceheater.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
Labels: Fix

#74600 Adds simple_rotation component to bsa parts.
  code/modules/station_goals/bsa.dm
Labels: Quality of Life

#74342 Refactors CTF
  _maps/map_files/CTF/classic.dmm
  _maps/map_files/CTF/cruiser.dmm
  _maps/map_files/CTF/downtown.dmm
  _maps/map_files/CTF/fourSide.dmm
  _maps/map_files/CTF/limbo.dmm
  _maps/map_files/CTF/turbine.dmm
  _maps/shuttles/emergency_medisim.dmm
  code/__DEFINES/ctf.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/capture_the_flag/ctf_controller.dm
  code/modules/capture_the_flag/ctf_equipment.dm
  code/modules/capture_the_flag/ctf_game.dm
  code/modules/capture_the_flag/ctf_map_loading.dm
  code/modules/capture_the_flag/ctf_panel.dm
  code/modules/capture_the_flag/ctf_player_component.dm
  code/modules/capture_the_flag/medieval_sim/medisim_game.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/damage_procs.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Secrets.js
Labels: Refactor, UI, Map Edit

#74468 Gives plasmamen proper masks depending on their job.
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/mining/equipment/explorer_gear.dm
Labels: Feature

#74604 Significantly speed up create & destroy by reducing the amount of time to wait for GC
  code/__HELPERS/game.dm
  code/__HELPERS/varset_callback.dm
  code/game/objects/effects/anomalies/anomalies_ectoplasm.dm
  code/modules/pai/pai.dm
  code/modules/power/singularity/narsie.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/unit_test.dm
Labels: Unit Tests

#74601 Allows PKAs to be attached to mining MODsuits
  code/modules/mod/mod_theme.dm
Labels: Balance

#74576 New inhand icons for light tubes, makes latex balloons craftable, and various other fixes/improvements
  _maps/shuttles/emergency_bballhooper.dmm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/datums/components/crafting/entertainment.dm
  code/datums/components/transforming.dm
  code/game/atoms.dm
  code/game/objects/items/latexballoon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/power/lighting/light.dm
  code/modules/power/lighting/light_items.dm
  code/modules/spells/spell_types/touch/_touch.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/weapons/hand.dmi
  sound/items/balloon_pop.ogg
Labels: Sprites, Sound, Feature, Fix, Refactor, Map Edit

#74547 Refactors some core tgui components to typescript
  tgui/global.d.ts
  tgui/packages/common/redux.js
  tgui/packages/common/redux.test.ts
  tgui/packages/common/redux.ts
  tgui/packages/tgui-bench/tests/DisposalUnit.test.tsx
  tgui/packages/tgui/assets.ts
  tgui/packages/tgui/store.js
  tgui/packages/tgui/store.ts
Labels: Refactor, UI

#74352 Desouls the Roboticist Jumpsuit, and adds new Roboticist Boilersuit
  icons/mob/clothing/under/rnd.dmi
  icons/obj/clothing/under/rnd.dmi
Labels: Sprites

#74626 Material Container screentips
  code/datums/components/material_container.dm
Labels: Quality of Life

#74623 Sergeant Araneus Fix
  code/modules/mob/living/basic/space_fauna/giant_spider/spider_variants.dm
Labels: Fix

#74484 Wirebrush Resprite: Revengence
  icons/obj/tools.dmi
Labels: Sprites

#74620 Stops station blueprints from expanding areas of non atmos adjacent turfs.
  code/__HELPERS/areas.dm
Labels: Fix, GBP: No Update

#74635 Caps contractor baton stutter to 40s
  code/game/objects/items/melee/baton.dm
Labels: Fix

#74617 Instant Atmos Unwrenching
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: Quality of Life

#74634 Tram door sounds hotfix [NO GBP]
  code/modules/industrial_lift/tram/tram_doors.dm
Labels: Fix, GBP: No Update

#74628 cleans up the light replacer's redundant Emag() proc
  code/game/objects/items/devices/lightreplacer.dm
Labels: Fix, Code Improvement

#74624 Makes station lockdown not banbait asimov ais with combat upgrades
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
Labels: Grammar and Formatting

#74548 Labels security equipment as being lethal, nonlethal, less-than-lethal or highly destructive.
  code/datums/components/crafting/guncrafting.dm
  code/game/objects/items/storage/boxes/security_boxes.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/research/designs/autolathe/security_designs.dm
  code/modules/research/designs/weapon_designs.dm
Labels: Quality of Life

#74647 Sleep immune will make you immune to N2O
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/lungs.dm
Labels: Fix

#74615 Fixes the Regal Condor's magazines being invisible
  code/modules/projectiles/boxes_magazines/external/pistol.dm
Labels: Fix

#74592 Final Patches for RCD related devices.
  code/game/objects/items/rcd/RHD.dm
  code/game/objects/items/wall_mounted.dm
  code/game/turfs/closed/walls.dm
  code/modules/asset_cache/assets/rcd.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: Fix, Refactor

#74638 Converts core tgui to ts
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/contants.test.ts
  tgui/packages/tgui/drag.ts
  tgui/packages/tgui/events.test.ts
  tgui/packages/tgui/events.ts
  tgui/packages/tgui/focus.ts
  tgui/packages/tgui/format.js
  tgui/packages/tgui/format.test.ts
  tgui/packages/tgui/format.ts
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/AtmosFilter.tsx
  tgui/packages/tgui/links.test.ts
  tgui/packages/tgui/links.ts
  tgui/packages/tgui/logging.js
  tgui/packages/tgui/logging.ts
  tgui/packages/tgui/routes.tsx
  tgui/packages/tgui/sanitize.test.ts
  tgui/packages/tgui/sanitize.ts
Labels: UI

#74649 Failed logins should log the ckey, not the key
  code/modules/admin/IsBanned.dm
Labels: Logging, Fix

#74632 Makes installed upgrades notices on cameras show as span_info.
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
Labels: Quality of Life

#74629 Makes the Regal Condor renamable via pen
  code/modules/projectiles/guns/ballistic/pistol.dm
Labels: Atomic

#74606 Syndie Tele Leaves Behind Evidence
  code/game/objects/items/teleportation.dm
Labels: Sprites, Balance

#74458 New judge robe and powdered wig
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/suits/costume.dm
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/suits/costume.dmi
  icons/obj/clothing/suits/costume.dmi
Labels: Sprites
