Repository tgstation/tgstation, pull requests merged in 2023-06, with the labels that each got.

#75485 Fugitive hunters gather candidates with a deadchat poll
  code/__DEFINES/antagonists.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/mob_spawn/ghost_roles/fugitive_hunter_roles.dm
Labels: Quality of Life

#75737 Fixes Birdshot Access
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#75720 fixes some missing disposals pipes on tramstation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#75714 Fixes some mapping issues with Coroner
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, GBP: No Update

#75706 Adds missing window to tramstation departures
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#75749 Fixes missing delammination counter in Northstar
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit

#75748 [MetaStation] Resecures some walls in science
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#75765 Removes all instances of var edited heat_capacity
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
Labels: Removal, Map Edit

#75766 Removes all uses of text()
  code/__HELPERS/text.dm
  code/datums/records/record.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/computer/prisoner/management.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/pinpointer.dm
  code/game/objects/items/storage/secure.dm
  code/game/say.dm
  code/modules/admin/verbs/adminevents.dm
  code/modules/admin/verbs/adminfun.dm
  code/modules/admin/verbs/list_exposer.dm
  code/modules/buildmode/submodes/boom.dm
  code/modules/detectivework/scanner.dm
  code/modules/instruments/songs/editor.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/pai/pai.dm
  code/modules/paperwork/paper.dm
  code/modules/photography/photos/photo.dm
Labels: Removal

#75779 Reinstates grilled cheese sandwich taste and fixes a typo. [NO GBP]
  code/game/objects/items/food/sandwichtoast.dm
  tools/UpdatePaths/Scripts/75750_sandwich_types.txt
Labels: Tools, GBP: No Update

#75760 [NO GBP] Stops External Shields From Generating On Solid Walls
  code/game/machinery/modular_shield.dm
Labels: Fix, GBP: No Update

#75777 [NO GBP] Fixes dead plant missing icon state
  code/game/objects/items/kirbyplants.dm
Labels: Fix, GBP: No Update

#75773 fix: Gun overlays are now one with gun's icon
  code/modules/projectiles/gun.dm
Labels: Fix

#75772 Grammar pass on syndie SM shard
  code/modules/mapfluff/ruins/lavalandruin_code/syndicate_base.dm
Labels: Grammar and Formatting

#75767 Fixes formula with spatial instability and energetic chromosome
  code/datums/mutations/body.dm
Labels: Fix

#75763 Self-used fulton extraction packs autostoring in any back storage
  code/modules/mining/fulton.dm
Labels: Quality of Life

#75759 Stops shields getting broken by pillows and disablers.
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/shielded.dm
  code/datums/elements/light_eater.dm
  code/datums/martial/sleeping_carp.dm
  code/game/objects/items.dm
  code/game/objects/items/chainsaw.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/grenades/_grenade.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/cult/cult_bastard_sword.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/clothing/spacesuits/softsuit.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/religion/sparring/ceremonial_gear.dm
Labels: Fix

#75707 makes snow legions from portals drop skeletons (like tendril legions)
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/unit_tests/simple_animal_freeze.dm
Labels: Balance

#75757 Sorts out `posters.dm` into its own files (where applicable)
  code/game/objects/effects/poster.dm
  code/game/objects/effects/posters/contraband.dm
  code/game/objects/effects/posters/official.dm
  code/game/objects/effects/posters/poster.dm
  tgstation.dme
Labels: Fix, Code Improvement

#75807 Update CODEOWNERS
  .github/CODEOWNERS
Labels: GitHub

#75796 Fixing thrown things being unblockable by shields [NO GBP]
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Fix, GBP: No Update

#75785 Wowie! Crates!
  code/game/objects/structures/crates_lockers/crates.dm
  icons/obj/storage/crates.dmi
Labels: Sprites

#75792 Slightly changes the colours of the oxygen and burn medkits
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/storage/medkit.dmi
Labels: Sprites

#75817 Updates Sprite Codeowners 3
  .github/CODEOWNERS
Labels: GitHub

#75808 Removes line about adding a new index to the library_action table
  SQL/database_changelog.md
Labels: Removal, SQL

#75663 Refactors chicks into basic mobs
  _maps/map_files/Birdshot/birdshot.dmm
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/_globalvars/phobias.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/components/growth_and_differentiation.dm
  code/datums/memory/_memory.dm
  code/game/objects/items/food/egg.dm
  code/modules/cargo/packs/livestock.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/mob/living/basic/farm_animals/chicken/chick.dm
  code/modules/mob/living/basic/farm_animals/chicken/chicken.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/75592_simple_to_basic_chickens.txt
Labels: Tools, Refactor, Stale, Map Edit

#75662 Refactors Ant into Basic Mob
  _maps/RandomRuins/IceRuins/icemoon_surface_bughabitat.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/basic/space_fauna/ant.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/75662_simple_to_basic_ants.txt
Labels: Tools, Refactor, Stale, Map Edit

#75815 Adds a cross to the top of the new medical crate
  icons/obj/storage/crates.dmi
Labels: Sprites

#75726 Scrubber Clog Revisit: It Uses Vents Now And Is Way Dirtier And Nastier
  code/__DEFINES/dcs/signals/signals_object.dm
  code/game/objects/objs.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/events/scrubber_clog.dm
  code/modules/events/vent_clog.dm
  tgstation.dme
Labels: Balance, Feature, Code Improvement

#75797 Makes the Icebox Perma fridges AA
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#75612 Trash bin sprite
  code/game/objects/structures/crates_lockers/crates/bins.dm
  icons/obj/storage/crates.dmi
Labels: Sprites, Fix

#75762 Replaces antag softsuits with alternatives and balances some gun loot in space ruins
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/old_infiltrator.dmm
  _maps/RandomRuins/SpaceRuins/the_faceoff.dmm
  _maps/RandomRuins/SpaceRuins/waystation.dmm
  code/game/machinery/suit_storage_unit.dm
  code/modules/mining/equipment/explorer_gear.dm
  icons/mob/clothing/head/utility.dmi
  icons/mob/clothing/suits/utility.dmi
  icons/obj/clothing/head/utility.dmi
  icons/obj/clothing/suits/utility.dmi
Labels: Sprites, Balance, Removal, Map Edit

#75657 Fix tram underpass button + morgue map issues
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#75783 Removes a duplicate chem dispenser from northstar pharmacy (+ lightswitches!!!)
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit

#75812 Fixes missing Cargo fire alarms and a few other minor mapping issues (North Star)
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit

#75850 Restores mob tags to mob tag logging
  code/datums/dna.dm
  code/modules/client/preferences/names.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
Labels: Logging, Administration

#75846 Changes syndicate surgery duffelbags to contain advanced tools
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/infiltrator_basic.dmm
  code/game/objects/items/storage/backpack.dm
  code/modules/uplink/uplink_items/device_tools.dm
Labels: Feature, Map Edit, Quality of Life

#75799 buffs the cake hat
  code/modules/clothing/head/cakehat.dm
Labels: Balance, Fix, Verified :heavy_check_mark:

#75794 block_explosives remove remnants when detached.
  code/datums/elements/blocks_explosives.dm
Labels: Fix, Verified :heavy_check_mark:

#75824 fix stupid error message in delay pre-game
  code/modules/admin/verbs/server.dm
Labels: Fix

#75841 Norfstar plushies get names
  _maps/map_files/NorthStar/north_star.dmm
Labels: Map Edit

#75842 Allows players to customize gas canister colors
  code/modules/atmospherics/machinery/portable/canister.dm
  tgui/packages/tgui/interfaces/Canister.js
Labels: Feature, UI

#75818 Allow admins to enable non-clowns to drive the clown car
  code/modules/vehicles/cars/clowncar.dm
Labels: Administration

#75788 Fixes moffic grilled hard cheese burning on the grill instantly
  code/game/objects/items/food/moth.dm
Labels: Fix

#75780 fixes reviver implant looping players between soft and hard crit
  code/modules/surgery/organs/augments_chest.dm
Labels: Fix

#75836 Fixes forced latejoin rulesets
  code/game/gamemodes/dynamic/dynamic.dm
Labels: Fix

#75843 Fixes colossus possessor crystal cockroaches/animals not dumping the user's body upon death/gibbing
  code/modules/mob/living/basic/vermin/cockroach.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Fix

#75258 Mafia update: Return to body when the game ends
  code/__DEFINES/traits.dm
  code/datums/components/temporary_body.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mafia/abilities/investigative/pray.dm
  code/modules/mafia/controller.dm
  code/modules/mafia/roles/roles.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  icons/obj/mafia.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/MafiaPanel.tsx
Labels: Sprites, UI, Quality of Life

#75805 [NO GBP]Air alarms will properly reset their warning messages.
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: Fix, GBP: No Update

#75834 Biscuit papers and Laser pointers can now be placed inside wallets
  code/game/objects/items/storage/wallets.dm
Labels: Quality of Life

#75733 Fix IV drip connecting to non-living [NO GBP]
  code/game/machinery/iv_drip.dm
Labels: Fix, GBP: No Update

#75835 fcopy 515 linux compat
  code/__byond_version_compat.dm
Labels: BYOND Issue, Fix

#75851 Changes the base amount of bone gel.
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/shuttles/emergency_lance.dmm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/packs/medical.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  tools/UpdatePaths/Scripts/75851_bone_gel_four.txt
Labels: Tools, Map Edit, Quality of Life

#75600 Moves SSGarbage over to uid softref verification so refid reuses don't cause issues
  code/controllers/subsystem/garbage.dm
Labels: Stale, Code Improvement

#75769 Cleans up/renames as private some internal var definitions, removes some fucked uses of internal list vars
  code/__DEFINES/dcs/helpers.dm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/duplicating.dm
  code/controllers/subsystem/dcs.dm
  code/controllers/subsystem/overlays.dm
  code/controllers/subsystem/timer.dm
  code/datums/components/_component.dm
  code/datums/components/food/decomposition.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/datum.dm
  code/datums/elements/decals/_decal.dm
  code/datums/elements/undertile.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/admin.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/cargo/supplypod.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/unit_tests/organs.dm
  code/modules/unit_tests/trait_addition_and_removal.dm
Labels: Removal

#75866 GAGS-ifies the Hawaiian Shirt, adds it to the ClothesMate
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/hawaiian_shirt.json
  code/modules/clothing/suits/costume.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/suits/costume.dmi
  icons/obj/clothing/suits/costume.dmi
Labels: Sprites, Feature

#75790 Cult shifter pulled atom/victim properly teleport with the user again
  code/modules/antagonists/cult/cult_items.dm
Labels: Fix

#75870 Discord verification tweaks
  code/modules/discord/accountlink.dm
  html/browser/common.css
Labels: Code Improvement

#75830 Player Ticket History - A Synopsis At A Glance
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/player_ticket_history.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PlayerTicketHistory.tsx
Labels: Administration, UI

#75476 Adds a crafting recipe for the atmospherics gas mask.
  code/datums/components/crafting/tailoring.dm
Labels: Feature, Verified :heavy_check_mark:

#75601 Turns Changeling Headslugs into a Basic Mob
  code/datums/memory/_memory.dm
  code/modules/antagonists/changeling/headslug_eggs.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/clothing/shoes/cowboy.dm
  code/modules/mob/living/basic/space_fauna/headslug.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  code/modules/mob_spawn/corpses/nonhuman_corpses.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/mob/simple/animal.dmi
  tgstation.dme
Labels: Sprites, Refactor, Code Improvement

#75665 Change pride tiles to generic holiday tiles, add Tramstation support
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/turfs.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/modules/holiday/holidays.dm
  code/modules/industrial_lift/tram/tram_floors.dm
  icons/obj/tiles.dmi
  icons/turf/decals.dmi
  icons/turf/floors.dmi
Labels: Sprites, Grammar and Formatting, Fix, Code Improvement, Map Edit

#75690 Light Replacer Patches
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/power/floodlight.dm
  code/modules/power/lighting/light.dm
Labels: Fix, Refactor

#75630 It's Nice To Be Unique: Adds new quirks to pick up!
  code/__DEFINES/language.dm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/negative_quirks.dm
  code/datums/quirks/neutral_quirks.dm
  code/datums/quirks/positive_quirks.dm
  code/modules/mob/living/living_say.dm
Labels: Sprites, Feature

#75880 Fixes space heater harddel
  code/game/machinery/spaceheater.dm
Labels: Fix

#75852 Adjusts Test Site Materials Crates on Birdshot and Meta.
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#75854 Removes misplaced unrestricted access from Lavaland Shuttle Airlocks [2]
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Removal, Map Edit

#75883 Crate edits
  icons/obj/storage/crates.dmi
Labels: Sprites, Needs Pictures, Good First PR

#75813 Fixes crafting using tool implants eating the implant if the tool is part of the crafting recipe
  code/datums/components/crafting/_recipes.dm
Labels: Fix

#75872 Fix pizzabox bomb harddel
  code/modules/food_and_drinks/pizzabox.dm
Labels: Fix

#75704 Mecha fixes: plasma generator, internal damage report & repair
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
  code/modules/vehicles/mecha/mecha_damage.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  tgui/packages/tgui/interfaces/Mecha/PowerModulesPane.tsx
  tgui/packages/tgui/interfaces/Mecha/data.ts
Labels: Fix, UI, Quality of Life

#75719 the cooler daniel: ninja's katana looks cooler when on the belt
  code/modules/unit_tests/screenshots/screenshot_antag_icons_spaceninja.png
  icons/mob/clothing/belt.dmi
Labels: Sprites

#75887 Fixes admin setting job slot number to custom amount
  code/modules/admin/topic.dm
Labels: Grammar and Formatting, Fix

#75867 Fixes AIize
  code/modules/mob/transform_procs.dm
Labels: Fix

#75891 Alexander now properly purges itself when you drop your shield
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Fix

#75888 Fixes xeno resin floor layer
  code/game/objects/structures/aliens.dm
Labels: Fix

#75901 Belt resprite with soul? Blasphemy!
  code/game/objects/items/storage/belt.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_abductor.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_changeling.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_stowawaychangeling.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard.png
  icons/mob/clothing/belt.dmi
  icons/obj/abductor.dmi
  icons/obj/clothing/belts.dmi
Labels: Sprites

#75873 Mulebot resprite :>
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  icons/mob/silicon/aibots.dmi
Labels: Sprites

#75892 Improves mob resizing (and UpdatePaths).
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  code/datums/mutations/body.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_update_icons.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/gutlunch.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  tools/UpdatePaths/Scripts/75892_resize_to_current_size.txt
  tools/UpdatePaths/__main__.py
  tools/UpdatePaths/readme.md
Labels: Fix, Tools, Refactor, Map Edit

#75774 Bounty Hunters, Fugitives, and Paradox Clones now have orbit menu categories
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/fugitive/fugitive.dm
  code/modules/antagonists/fugitive/hunters/hunter.dm
  code/modules/antagonists/paradox_clone/paradox_clone.dm
  code/modules/antagonists/wizard/wizard.dm
  tgui/packages/tgui/interfaces/Orbit/constants.ts
Labels: Stale, UI, Quality of Life

#75809 Laptops give a slowdown when dragged
  code/modules/modular_computers/computers/item/laptop.dm
Labels: Fix

#75778 Late adjustments to my previous move_loop PR. [NO GBP]
  code/__DEFINES/movement.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/components/conveyor_movement.dm
  code/datums/components/drift.dm
  code/datums/components/shuttle_cling.dm
  code/datums/components/squeak.dm
  code/datums/elements/footstep.dm
  code/datums/elements/waddling.dm
  code/game/atoms_movable.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/vehicles/wheelchair.dm
Labels: Fix, Stale, GBP: No Update

#75865 Fixes the areas of the_faceoff
  _maps/RandomRuins/SpaceRuins/the_faceoff.dmm
Labels: Fix, Map Edit

#75884 Minor documentation update
  code/__HELPERS/chat.dm
Labels: Documentation

#75912 fix comment in ECS/DCS
  code/datums/components/_component.dm
Labels: Code Improvement

#75922 Fixes Minor Grammar Issue in PAI Card Suicide
  code/modules/pai/card.dm
Labels: Grammar and Formatting

#75909 Yeets a duplicate ambience .ogg
  code/_globalvars/lists/ambience.dm
  code/game/area/areas/ruins/space.dm
  code/game/area/areas/station.dm
  code/modules/awaymissions/mission_code/centcomAway.dm
  code/modules/mapfluff/ruins/spaceruin_code/forgottenship.dm
  sound/ambience/ambigen10.ogg
  sound/ambience/ambigen11.ogg
  sound/ambience/ambigen12.ogg
  sound/ambience/ambigen13.ogg
  sound/ambience/ambigen14.ogg
  sound/ambience/ambigen15.ogg
  sound/ambience/ambigen2.ogg
  sound/ambience/ambigen3.ogg
  sound/ambience/ambigen4.ogg
  sound/ambience/ambigen5.ogg
  sound/ambience/ambigen6.ogg
  sound/ambience/ambigen7.ogg
  sound/ambience/ambigen8.ogg
  sound/ambience/ambigen9.ogg
Labels: Sound

#75544 feat: Respawn delay (optional)
  code/controllers/configuration/entries/general.dm
  code/modules/client/player_details.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/brain/brain.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/death.dm
  code/modules/mob/mob.dm
  config/config.txt
Labels: Feature, Config Update

#75915 Adds the Coroner vendor to the desc of its supply pack
  code/modules/cargo/packs/vending_restock.dm
Labels: Grammar and Formatting

#75885 Welding Fuel Tanks now log_bomber when hit by projectile
  code/modules/reagents/reagent_dispenser.dm
Labels: Logging, Fix, Administration

#75927 Fixes missing o2 crate pixels
  icons/obj/storage/crates.dmi
Labels: Sprites, Fix

#75932 Makes sure body position y offset is updated if resized [NO GBP]
  code/modules/mob/living/living_update_icons.dm
Labels: Fix, GBP: No Update

#75899 Taking items from your inventory while flying over lava or a chasm will NOT set them on fire or drop them ANYMORE
  code/game/objects/items.dm
Labels: Fix

#75937 Ventcrawling mobs now recieve a 1 second delay/warning before exiting vents
  code/modules/mob/living/ventcrawling.dm
Labels: Quality of Life

#75900 [NO GBP] RPD UI tweaks
  code/game/objects/items/rcd/RPD.dm
  tgui/packages/tgui/interfaces/RapidPipeDispenser.tsx
Labels: UI, GBP: No Update, Quality of Life

#75943 Add whitelist to webhook processor PR tagging
  tools/WebhookProcessor/github_webhook_processor.php
  tools/WebhookProcessor/secret.php
Labels: Tools

#75940 Fixes links to AI doc
  .github/CONTRIBUTING.md
  code/datums/ai/README.md
Labels: GitHub

#75941 Removes the infinite, super cold hypernoblium from the Winter Wonderland holodeck setting
  code/modules/holodeck/turfs.dm
Labels: Fix, Removal

#75942 Makes transparent kudzu transparent on spawn, not on vine growth
  code/modules/events/space_vines/vine_mutations.dm
Labels: Quality of Life

#75907 Basketball player mobs have a chance to be taller
  code/__DEFINES/mobs.dm
  code/modules/basketball/basketball_teams.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Balance

#75939 Fixes a 6 years old typo in the H.E.C.K helmet
  code/modules/mining/lavaland/megafauna_loot.dm
Labels: Grammar and Formatting

#75944 Converts Spaceman mobs from simple to basic
  _maps/RandomRuins/SpaceRuins/shuttlerelic.dmm
  code/modules/mob/living/basic/space_fauna/spaceman.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/75944_spaceman_simple_to_basic.txt
Labels: Tools, Code Improvement, Map Edit

#75929 Potted plant fixes
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/game/objects/items/kirbyplants.dm
  code/modules/research/designs/autolathe/service_designs.dm
  icons/obj/flora/_flora.dmi
  tools/UpdatePaths/Scripts/75929_replace_dead_plants_with_random_dead.txt
Labels: Sprites, Fix, Tools, Code Improvement, Map Edit

#75874 Fix some TTS jank cases
  code/modules/mob/living/living_say.dm
Labels: Fix

#75972 all logs are now externally formatted
  code/modules/logging/log_category.dm
Labels: Logging, Priority: High, Security

#75933 Assistants get a liver trait + Officer's sabre banes against them
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/components/on_hit_effect.dm
  code/datums/elements/bane.dm
  code/datums/mood_events/drug_events.dm
  code/game/objects/items/melee/misc.dm
  code/modules/jobs/job_types/assistant.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/surgery/organs/liver.dm
Labels: Feature, Fix

#75771 Allows field generators to contain explosions.
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/field_generator.dm
Labels: Balance, Stale, Verified :heavy_check_mark:

#75971 Creamy tomato soup, soup-free chili.
  code/modules/food_and_drinks/recipes/soup_mixtures.dm
Labels: Fix

#75960 Light replacer & item patches
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/modules/power/lighting/light_items.dm
Labels: Fix, Refactor, Quality of Life

#75849 ChemMaster and CondiMaster refactored, prints items over time
  code/modules/asset_cache/assets/chemmaster.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/reagent_containers/condiment.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/obj/medical/chemical.dmi
  icons/obj/reagentfillings.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/ChemMaster.tsx
Labels: Sprites, Balance, Fix, Refactor, UI, Quality of Life

#75969 Hidden nodes no longer become visible when copying them to another Techweb
  code/modules/research/techweb/_techweb.dm
Labels: Fix

#75864 New planetary exclusive random event/unfavorable situation, Chasmic Earthquake
  code/__DEFINES/achievements.dm
  code/__DEFINES/turfs.dm
  code/datums/achievements/misc_achievements.dm
  code/game/gamemodes/dynamic/dynamic_unfavorable_situation.dm
  code/modules/events/earthquake.dm
  icons/ui_icons/achievements/achievements.dmi
  sound/attributions.txt
  sound/misc/earth_rumble.ogg
  sound/misc/earth_rumble_distant1.ogg
  sound/misc/earth_rumble_distant2.ogg
  sound/misc/earth_rumble_distant3.ogg
  sound/misc/earth_rumble_distant4.ogg
  sound/misc/metal_creak.ogg
  tgstation.dme
Labels: Sprites, Sound, Feature

#75437 Experimental Mineral Balance PR.
  code/__DEFINES/construction.dm
  tools/silo_grapher/silo_graph_script.py
Labels: Balance, Tools

#75985 Removes an infinite loop caused by shitty heart removal reacting code
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: Fix, Code Improvement

#75967 Nuke Detonation now handles off-station detonation correctly. Now nukes the syndie base if detonated on the syndiebase.
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
Labels: Feature, Fix, Refactor

#75964 You can no longer abuse aicard shitcode to return to lobby as an AI
  code/game/objects/items/devices/aicard.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#75954 Updates the look of the miner's jumpboots
  icons/mob/clothing/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Sprites

#75921 Tramstation brig access fixes
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#76010 Fix Pull Request Auto-Tagging
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Fix, Tools

#75983 Ethereal drink typo fix
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
Labels: Grammar and Formatting

#75802 Piracy Inc. Space Extension Interdyne and Ghetto Edition: Adds two new pirate gangs Ex-interdyne Pharmacists and The Grey Tide
  _maps/shuttles/pirate_Interdyne.dmm
  _maps/shuttles/pirate_grey.dmm
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/colors.dm
  code/datums/id_trim/syndicate.dm
  code/datums/shuttles.dm
  code/modules/antagonists/pirate/pirate_gangs.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/antagonists/pirate/pirate_roles.dm
  icons/mob/huds/hud.dmi
  strings/pirates.json
Labels: Sprites, Feature, Map Edit

#75839 Fixes Beach bum Badsketball, adds a missing gulag reclaimer console to Birdshot's gulag.
  _maps/map_files/Basketball/beach_bums.dmm
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Stale, Map Edit

#75938 Northstar Decal Fixing
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit

#76023 Gray Tider pirates Quick fix on spelling (No GBP)
  code/modules/antagonists/pirate/pirate_roles.dm
Labels: Grammar and Formatting, GBP: No Update

#75953 Improved chemistry tips, fixed Holy Explosion oversight
  strings/tips.txt
Labels: Quality of Life

#75982 The destabilization of your eigenstate can no longer be paused by stripping naked
  code/datums/status_effects/neutral.dm
Labels: Fix

#75946 Pink Security
  code/modules/clothing/gloves/special.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_abductor.png
  icons/mob/clothing/back/backpack.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/head/hats.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/under/security.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/head/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/under/security.dmi
  icons/obj/storage/backpack.dmi
Labels: Sprites, Feature, Test Merge Only

#75984 Chaplain suits
  code/modules/unit_tests/screenshots/screenshot_antag_icons_fugitive.png
  icons/mob/clothing/head/chaplain.dmi
  icons/mob/clothing/suits/chaplain.dmi
  icons/obj/clothing/suits/chaplain.dmi
Labels: Sprites

#76030 Fixes iron duplication bug (This is why you use defines, people)
  code/game/objects/items/stacks/rods.dm
  code/modules/power/cable.dm
  code/modules/power/pipecleaners.dm
Labels: Fix, Good First PR

#75966 Removes old palm tree and coconut overlay effects
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/SpaceRuins/gondolaasteroid.dmm
  _maps/RandomRuins/SpaceRuins/vaporwave.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/map_files/Basketball/beach_bums.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/templates/holodeck_beach.dmm
  code/game/objects/effects/overlays.dm
  code/game/objects/structures/flora.dm
Labels: Fix, Map Edit

#75993 Adjusts the font size of signatures to a reasonable value.
  tgui/packages/tgui/interfaces/PaperSheet.tsx
Labels: Grammar and Formatting

#75959 Plasma flower MOD core from the lavaland patch of eden ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_gaia.dmm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_spawner.dm
  code/datums/components/spawner.dm
  code/modules/mob/living/basic/vermin/butterfly.dm
  code/modules/mod/mod_construction.dm
  code/modules/mod/mod_core.dm
  icons/obj/clothing/modsuit/mod_construction.dmi
  tgstation.dme
Labels: Sprites, Feature, Map Edit

#76025 Adds runtime safety into cinematic code to stop everyone locking up
  code/datums/cinematics/_cinematic.dm
Labels: Code Improvement

#76002 Adds some parenthesis to some bitwise operations
  code/datums/diseases/_disease.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/clothing/suits/toggles.dm
Labels: Fix

#76017 Fix logging for tabling and disposal shoving
  code/game/objects/structures/tables_racks.dm
  code/modules/recycling/disposal/bin.dm
Labels: Logging, Fix, Administration

#76026 Rotates a morgue tray at CC Pod bay
  _maps/map_files/generic/CentCom.dmm
Labels: Map Edit, Quality of Life

#76004 Fix Birdshot tram controls
  code/modules/industrial_lift/tram/tram_machinery.dm
  icons/obj/computer.dmi
Labels: Fix

#75978 Burner can be crafted from any open container
  code/datums/components/crafting/chemistry.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  code/modules/reagents/reagent_containers/cups/soda.dm
Labels: Quality of Life

#75975 Autopopulate bank account ID when linking
  code/game/objects/items/cards_ids.dm
Labels: Quality of Life

#75928 Machine's correctly eject signaller's attached to it's wires
  code/datums/wires/_wires.dm
Labels: Fix

#76035 Slightly optimizes Gas Filter ui data
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  tgui/packages/tgui/interfaces/AtmosFilter.tsx
Labels: Refactor, UI

#76013 Hotfixes Some Reagent Containers' Ordering
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/dropper.dm
Labels: Fix, Verified :heavy_check_mark:

#75828 Fixes various bow issues and includes new sounds for the bow
  code/__DEFINES/inventory.dm
  code/modules/jobs/job_types/chaplain/chaplain_costumes.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/bows/_bow.dm
  icons/mob/clothing/belt_mirror.dmi
  sound/weapons/gun/bow/attribution.txt
  sound/weapons/gun/bow/bow_draw.ogg
  sound/weapons/gun/bow/bow_fire.ogg
Labels: Sprites, Sound, Fix, Quality of Life

#76051 Re-add missing categories to externally formatted log files
  code/modules/logging/log_entry.dm
Labels: Logging, Atomic

#76041 Fixes pipenet gasses not being gc'd
  code/modules/atmospherics/machinery/datum_pipeline.dm
Labels: Fix

#76003 Fixes hungover closet spawner?
  code/game/objects/effects/landmarks.dm
Labels: Fix

#75976 Named barrels
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/components/label.dm
  code/modules/hydroponics/fermenting_barrel.dm
  code/modules/paperwork/pen.dm
  icons/obj/objects.dmi
Labels: Sprites, Quality of Life

#75868 Heretic runes are easier to click through and have a windup for clearing them
  code/datums/components/effect_remover.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  icons/effects/96x96.dmi
Labels: Sprites, Stale, Code Improvement, Quality of Life

#75890 ""Fixes"" Siliconnect log UI updating
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
Labels: Fix, Stale

#75898 Split drinks into different files
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/coffee_tea.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/dairy.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/juices.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/mixed_alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/mixed_drinks.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/smoothies_shakes.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/sodas.dm
  icons/obj/drinks/boxes.dmi
  tgstation.dme
Labels: Sprites, Code Improvement
