Repository tgstation/tgstation, pull requests merged in 2023-07, with the labels that each got.

#76421 Unit tests for bone livers
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/liver.dm
Labels: Unit Tests

#76438 Fix organ damage being uncapped
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/surgery/organs/_organ.dm
Labels: Fix, Priority: High

#76418 Fixes a xenomorph egg / facehugger hard delete
  code/game/objects/structures/aliens.dm
Labels: Hard Deletes

#76417 Fixes another traitor objective hard delete
  code/modules/antagonists/traitor/objectives/infect.dm
Labels: Hard Deletes

#76416 Fixes some hud related hard deletes
  code/_onclick/hud/hud.dm
Labels: Hard Deletes

#76326 Fixes cult communication not working while buckled or cuffed
  code/modules/antagonists/cult/cult_comms.dm
Labels: Fix

#76439 Unit test organ damage cap
  code/modules/surgery/organs/internal/ears/_ears.dm
  code/modules/unit_tests/organs.dm
Labels: Unit Tests

#76440 SPECIES NUKING 2023: Head flags 3 & Knuckles: Fixes some growing pains with head flags
  code/__DEFINES/DNA.dm
  code/datums/dna.dm
  code/game/objects/items/dyekit.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences/species_features/basic.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/mob_transformation_simple.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Labels: Fix

#76305 Removes silicon's knowledge of non human languages
  code/modules/language/beachbum.dm
  code/modules/language/calcic.dm
  code/modules/language/language_holder.dm
  code/modules/language/machine.dm
  code/modules/language/piratespeak.dm
  code/modules/language/uncommon.dm
Labels: Balance, Removal

#76309 Removes language encryption keys
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/modules/cargo/goodies.dm
  icons/obj/radio.dmi
Labels: Sprites, Removal

#76378 Adds an element for noisy movement (wheelchairs, office chairs, trashcarts etc. etc.)
  code/datums/elements/noisy_movement.dm
  code/game/machinery/iv_drip.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/vehicles/wheelchair.dm
  tgstation.dme
Labels: Fix

#76447 Fixes the ORM not correcty granting mining points if adding ore by hand
  code/modules/mining/machine_redemption.dm
Labels: Fix

#76449 Adds build times to other forms of windows (AKA more Fornite removal)
  code/game/objects/items/stacks/sheets/glass.dm
Labels: Balance

#76442 Duiffel Spotfix
  code/__DEFINES/storage.dm
  code/controllers/subsystem/job.dm
  code/datums/outfit.dm
  code/datums/quirks/_quirk.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/backpack.dm
  code/datums/storage/subtypes/duffel_bag.dm
  code/datums/storage/subtypes/extract_inventory.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/secure.dm
  code/modules/admin/verbs/debug.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/outfits/vr.dm
  code/modules/events/wizard/curseditems.dm
  code/modules/events/wizard/rpgloot.dm
  code/modules/jobs/job_types/chaplain/chaplain.dm
  code/modules/mining/fulton.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/simple_animal/friendly/drone/inventory.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/mob.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/research/xenobiology/crossbreeding/reproductive.dm
  code/modules/unit_tests/outfit_sanity.dm
Labels: Fix

#75840 Makes you lie down when buckled to surgery tables, removes need for restraints
  code/game/objects/structures/tables_racks.dm
Labels: Quality of Life

#76317 Triples production of rice and flour
  code/modules/hydroponics/grown/cereals.dm
Labels: Balance

#76221 AddComponent() now throws a crash message when the comp type arg is not a component.
  code/datums/components/_component.dm
  code/datums/elements/_element.dm
Labels: Code Improvement

#76367 Storm weather related fixes
  code/datums/weather/weather_types/ash_storm.dm
  code/game/turfs/open/asteroid.dm
  code/modules/spells/spell_types/jaunt/_jaunt.dm
  code/modules/vehicles/mecha/_mecha.dm
Labels: Fix

#76357 [No GBP] Revert "Adds nullchecks in species code to prevent runtimes"
  code/modules/mob/living/carbon/human/_species.dm
Labels: Revert, GBP: No Update

#76323 Fixes empty casings being incorrectly replaced by a casing in guns with internal magazines
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix

#76426 Refactors Silverscale tongue action into cooldown action, buffs it slightly
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: Balance, Refactor, Quality of Life

#75800 Useful Stethoscopes and Penlights
  code/game/objects/items/devices/flashlight.dm
  code/modules/clothing/neck/_neck.dm
Labels: Feature, Good First PR

#76321 Improves jousting and gives it to more weapons
  code/datums/components/jousting.dm
  code/game/objects/items/broom.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/pitchfork.dm
  code/game/objects/items/spear.dm
Labels: Balance

#76264 Gas monitor reaction information will use the primary gas as its reference instead of "reaction rate".
  code/modules/atmospherics/gasmixtures/reaction_factors.dm
Labels: Grammar and Formatting, Stale

#76177 Fix hypernoblium formation gas reaction rate sanity clamping not accounting for the reduction factor. Also other sanity fixes.
  code/modules/atmospherics/gasmixtures/reactions.dm
Labels: Fix, Stale

#76477 Fixes flaky language holder failure
  code/datums/brain_damage/severe.dm
  code/game/atoms_movable.dm
Labels: Runtime, Fix

#76393 Adds Roach Infusion to the DNA infuser
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/matrices.dm
  code/datums/components/squashable.dm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/elements/bugkiller_reagent.dm
  code/datums/greyscale/json_configs/mutant_organs.json
  code/datums/wounds/burns.dm
  code/game/machinery/dna_infuser/dna_infuser.dm
  code/game/machinery/dna_infuser/infuser_book.dm
  code/game/machinery/dna_infuser/infuser_entries/infuser_tier_one_entries.dm
  code/game/machinery/dna_infuser/organ_sets/roach_organs.dm
  code/game/objects/items/his_grace.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
  code/modules/mob/living/basic/vermin/cockroach.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/human/physiology.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organs/internal/liver/_liver.dm
  code/modules/zombie/items.dm
  icons/mob/simple/animal.dmi
  icons/mob/species/misc/bodypart_overlay_simple.dmi
  icons/obj/medical/organs/infuser_organs.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/InfuserBook.tsx
Labels: Sprites, Feature, UI

#76301 Adds a new passive changeling ability - the Defibrillator Grasp. Adds support for 0 cost changeling abilities.
  code/__DEFINES/antagonists.dm
  code/__DEFINES/changeling.dm
  code/__DEFINES/dcs/signals/signals_medical.dm
  code/game/objects/items/defib.dm
  code/modules/antagonists/changeling/cellular_emporium.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/defib_grasp.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/regenerate.dm
  code/modules/antagonists/changeling/powers/transform.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/status_procs.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoChangeling.tsx
Labels: Feature, UI

#76458 Buffs blob laser resistance to account for the lasers buff
  code/modules/antagonists/blob/structures/_blob.dm
  code/modules/antagonists/blob/structures/factory.dm
  code/modules/antagonists/blob/structures/node.dm
  code/modules/antagonists/blob/structures/resource.dm
  code/modules/antagonists/blob/structures/shield.dm
Labels: Balance

#76244 Completely Redoes Underground Outpost 45 Atmospherics
  _maps/RandomZLevels/undergroundoutpost45.dmm
Labels: Fix, Map Edit

#76482 Increases throwing weapons box storage to fit reinforced bolas and stuff it spawns with.
  code/game/objects/items/storage/boxes/engineering_boxes.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/game/objects/items/storage/uplink_kits.dm
Labels: Administration, Quality of Life

#76471 Tend Wounds works on non-human mobs
  code/__DEFINES/surgery.dm
  code/_onclick/item_attack.dm
  code/datums/components/surgery_initiator.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living_defense.dm
  code/modules/surgery/implant_removal.dm
Labels: Fix, Quality of Life

#76468 Some crayons fixes and minor changes.
  code/__DEFINES/colors.dm
  code/game/objects/items/crayons.dm
Labels: Fix, Quality of Life

#76457 Emergency Relief Capsule
  _maps/templates/shelter_t.dmm
  code/game/machinery/computer/orders/order_items/mining/order_mining.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/shelters.dm
Labels: Feature, Map Edit

#76456 Fix mouse colour subtypes
  code/modules/mob/living/basic/vermin/mouse.dm
Labels: Fix

#76472 Fixes a typo on the Interdyne shuttle
  _maps/shuttles/pirate_Interdyne.dmm
Labels: Grammar and Formatting, Map Edit

#76475 urinal cake is decay proof
  code/game/objects/structures/watercloset.dm
Labels: Fix

#76454 Frontier Militia ERT Fix [NO GBP]
  code/datums/ert.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/outfits/ert.dm
Labels: Fix, GBP: No Update

#76455 Rat RP expansion
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/datums/emotes.dm
  code/modules/clothing/head/jobs.dm
  code/modules/mob/mob_movement.dm
Labels: Feature, Fix

#76469 Replaces mention of telepathy with telekenesis in tip of the round
  strings/tips.txt
Labels: Grammar and Formatting, Good First PR

#76459 Monkeyize() now gives you an anonymous monkey name.
  code/modules/mob/transform_procs.dm
  code/modules/unit_tests/lesserform.dm
Labels: Fix

#76478 Corrects feedback for mechanical sect healing
  code/modules/religion/religion_sects.dm
Labels: Fix

#76423 Command and Centcom plasmamen envirosuit helmets get armor.
  code/modules/clothing/spacesuits/plasmamen.dm
Labels: Quality of Life

#76415 Clarifies treatment for severe burn wounds when scanned with a health analyzer
  code/datums/wounds/burns.dm
Labels: Quality of Life

#76486 Fixes oversight with the voice disable config not working right for situations in which a player re-enters their mob.
  code/modules/mob/living/carbon/human/login.dm
Labels: Fix

#76366 Per unit value of materials now scale with material defines
  code/datums/materials/basemats.dm
Labels: Code Improvement

#75538 Petrify Smite
  code/datums/dna.dm
  code/game/objects/structures/petrified_statue.dm
  code/modules/admin/smites/petrify.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  tgstation.dme
Labels: Grammar and Formatting, Administration, Stale

#76410 SPECIES NUKING 2023 EXTRA: Makes skin tones a trait instead of a species variable
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/objects/structures/mirror.dm
  code/modules/client/preferences/skin_tone.dm
  code/modules/client/preferences/species.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Code Improvement

#76500 [NO GBP] Fixes dumb usage of TRAIT_LIVERLESS_METABOLISM i caused
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/surgery/organs/internal/liver/_liver.dm
  code/modules/surgery/organs/internal/liver/liver_skeleton.dm
Labels: GBP: No Update

#76492 Plasma objects no longer violently explode when ignited
  code/datums/materials/basemats.dm
Labels: Removal

#76489 Fixes nebula vomiting being in the normal symptom pool
  code/datums/diseases/advance/symptoms/vomit.dm
Labels: Fix

#76497 Increases morbidity factor (fix morbid surgery boost)
  code/modules/surgery/surgery_step.dm
Labels: Fix

#76470 TTVs on the back 2 : Electric Boogaloo
  code/game/objects/items/devices/transfer_valve.dm
  icons/mob/clothing/back/backpack.dmi
  icons/obj/assemblies/assemblies.dmi
Labels: Sprites, Feature

#76424 Tramstation: Removes module attachment that'd occasionally cause a science cave-in on lower floor
  _maps/map_files/tramstation/maintenance_modules/atmoscilower_2.dmm
Labels: Fix, Removal, Map Edit

#76491 Cool Sunglasses
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites

#76432 Deltastation Morgue Prettiness Passover
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit, Quality of Life

#76077 MOD Complexity rebalance
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/module_pathfinder.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_medical.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/mod/modules/modules_service.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/mod/modules/modules_visor.dm
  code/modules/wiremod/shell/module.dm
Labels: Grammar and Formatting, Balance, Stale

#76499 Makes cargo orders and req forms easier to differentiate
  code/modules/cargo/orderconsole.dm
  code/modules/shuttle/supply.dm
Labels: Quality of Life

#75973 Adds more job relevant items to drobes
  code/modules/vending/clothesmate.dm
  code/modules/vending/magivend.dm
  code/modules/vending/wardrobes.dm
Labels: Feature, Stale

#76474 Adds Jaywalkers
  code/modules/client/preferences/prisoner_crime.dm
Labels: Feature, Quality of Life

#76485 Removes a random nondescript item from near Meta Xenobiology
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Removal, Map Edit

#76479 [NO GBP] Plant bags harvesting fix and other hotfixes for floor sickness
  code/datums/diseases/advance/floor_diseases/carpellosis.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/unit_tests/hydroponics_harvest.dm
Labels: Fix, GBP: No Update

#76342 Fixes some species keeping galcom because of shenanigans / codifies silverscales understanding but not speaking common
  code/datums/mind/_mind.dm
  code/modules/language/language_holder.dm
Labels: Fix

#76520 Fixes bodypart movespeed modifiers
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#76505 fixes abductors unable to get points
  code/modules/antagonists/abductor/machinery/experiment.dm
Labels: Fix

#76391 Walking on conveyors, catwalks and tables no longer plays the footstep sound of the turf, and have theirs.
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/__DEFINES/footsteps.dm
  code/datums/elements/footstep.dm
  code/datums/elements/footstep_override.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/recycling/conveyor.dm
  tgstation.dme
Labels: Sound

#76102 Datumizes out jobconfig.toml (extensibility edition)
  code/__DEFINES/jobs.dm
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/jobs.dm
  code/controllers/subsystem/job.dm
  code/datums/job_configs/_job_configs.dm
  code/datums/job_configs/default_positions.dm
  code/datums/job_configs/playtime_requirements.dm
  code/datums/job_configs/required_account_age.dm
  code/datums/job_configs/required_character_age.dm
  code/datums/job_configs/starting_positions.dm
  code/modules/unit_tests/focus_only_tests.dm
  config/game_options.txt
  config/jobconfig.toml
  tgstation.dme
Labels: Fix, Refactor, Stale, Config Update

#76453 Request Internet Sound Optional Credit User
  code/__DEFINES/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/request_internet_sound.dm
Labels: Quality of Life

#76532 Cuter spiderlings
  code/game/objects/items/food/misc.dm
  code/modules/mob/living/basic/space_fauna/spider/spiderlings/spiderling.dm
  code/modules/mob/living/basic/space_fauna/spider/spiderlings/spiderling_subtypes.dm
  icons/mob/simple/animal.dmi
  icons/obj/food/meat.dmi
Labels: Sprites, Fix

#76518 Slimes don't skip sending on-death signals
  code/modules/mob/living/simple_animal/slime/death.dm
Labels: Fix

#76523 Surgery Bed Resprite
  icons/obj/medical/surgery_table.dmi
Labels: Sprites

#76537 Fix Tongues Displaying Food Preferences Incorrectly
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: Fix, Good First PR

#76525 Makes creampies use bodypart overlays
  code/datums/bodypart_overlays/simple_bodypart_overlay.dm
  code/datums/components/creamed.dm
  icons/mob/species/misc/bodypart_overlay_simple.dmi
Labels: Sprites, Fix, Code Improvement

#76522 Fixes carbon bodytypes not always being synchronized with bodyparts
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/organs/external/_external_organ.dm
  tgstation.dme
Labels: Fix

#76513 Improves spacepol jumpsuit wound armor from 5 to 10
  code/modules/clothing/under/jobs/security.dm
Labels: Balance, Good First PR

#76540 Job age restriction reason
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix

#76545 Birdshot CMO PDA/ID painter fix
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#76592 Fixes up Ticked File Enforcement
  tgstation.dme
  tools/ticked_file_enforcement/schemas/tgstation_dme.json
  tools/ticked_file_enforcement/schemas/unit_tests.json
  tools/ticked_file_enforcement/ticked_file_enforcement.py
Labels: Fix, Tools, GBP: No Update

#76444 Adds leather satchels and wallets to the HoP office all across the maps.
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Quality of Life

#76344 Adds user feedback for going over order limits in cargo console
  code/__DEFINES/cargo.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/modules/cargo/department_order.dm
  code/modules/cargo/orderconsole.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/shuttle/supply.dm
  tgui/packages/tgui/interfaces/Cargo.js
Labels: Stale, UI

#76248 Macros multi-z code, removes the false premise of manual offsets
  _maps/icebox.json
  _maps/multiz_debug.json
  _maps/northstar.json
  _maps/tramstation.json
  code/__DEFINES/mapping.dm
  code/__DEFINES/maps.dm
  code/__DEFINES/multiz.dm
  code/controllers/subsystem/mapping.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/game/machinery/camera/camera.dm
  code/game/objects/effects/decals/cleanable/aliens.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/robots.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/effects/spawners/random/random.dm
  code/game/objects/structures/ladders.dm
  code/game/sound.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/machinery/pipes/multiz.dm
  code/modules/events/earthquake.dm
  code/modules/lighting/lighting_source.dm
  code/modules/mapping/ruins.dm
  code/modules/mapping/space_management/multiz_helpers.dm
  code/modules/mapping/space_management/traits.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/mob_movement.dm
  code/modules/photography/camera/camera.dm
  code/modules/power/multiz.dm
  code/modules/recycling/disposal/multiz.dm
  tgstation.dme
Labels: Refactor, Code Improvement, Map Edit

#76547 New space ambient track
  code/_globalvars/lists/ambience.dm
  sound/ambience/ambispace6.ogg
Labels: Sound

#76528 Various spider fixes
  code/datums/components/growth_and_differentiation.dm
  code/datums/elements/temporary_atom.dm
  code/game/objects/effects/spiderwebs.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spider.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spider_variants.dm
  code/modules/mob/living/basic/space_fauna/spider/spider_abilities/web.dm
  code/modules/mob/living/basic/space_fauna/spider/spiderlings/spiderling.dm
  code/modules/mob/living/basic/space_fauna/spider/spiderlings/spiderling_subtypes.dm
  code/modules/mob_spawn/ghost_roles/spider_roles.dm
  code/modules/movespeed/modifiers/mobs.dm
Labels: Balance, Fix, Code Improvement

#76557 Nudges the plastic spoon sprite a bit
  icons/obj/kitchen.dmi
Labels: Sprites

#76512 Adds Bandana toggle info to examines
  code/modules/clothing/masks/bandana.dm
Labels: Quality of Life

#76117 Generic Crew-Available Status Readout Module - Continued
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_medical.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  sound/effects/flatline3.ogg
  tgui/packages/tgui/interfaces/MODsuit.js
Labels: Sound, Feature, UI, Quality of Life

#76245 Loads Away Missions for Unit Testing
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/gateway_test.json
  _maps/map_files/debug/gateway_test.dmm
  code/__DEFINES/admin.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/game/area/areas/misc.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/awaymissions/mission_code/moonoutpost19.dm
  code/modules/awaymissions/zlevel.dm
  config/maps.txt
Labels: Code Improvement, Config Update, Map Edit, Unit Tests

#76395 Adds file cycling for icon2base64
  code/__HELPERS/icons.dm
Labels: Code Improvement

#76569 Engineering protolathe can print normal T-Ray scanners
  code/modules/research/designs/autolathe/engineering_designs.dm
  code/modules/research/designs/autolathe/multi-department_designs.dm
Labels: Quality of Life

#76603 Fixes some observer shenanigans
  code/modules/mob/dead/observer/observer.dm
Labels: Fix, Priority: High

#76580 Mobs can die loudly again
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/death.dm
Labels: Fix

#76548 Implements a macro for checking mind traits
  code/__DEFINES/traits.dm
  code/__HELPERS/hallucinations.dm
  code/datums/ai/hauntium/haunted_controller.dm
  code/datums/components/sign_language.dm
  code/datums/elements/befriend_petting.dm
  code/datums/emotes.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/food/bread.dm
  code/game/objects/items/gift.dm
  code/game/objects/items/melee/baton.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/boxes/job_boxes.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_items.dm
  code/modules/antagonists/abductor/equipment/gland.dm
  code/modules/antagonists/abductor/machinery/console.dm
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
  code/modules/antagonists/traitor/objectives/eyesnatching.dm
  code/modules/events/immovable_rod/immovable_rod.dm
  code/modules/jobs/job_types/chaplain/chaplain_vorpal_scythe.dm
  code/modules/mapfluff/ruins/lavalandruin_code/elephantgraveyard.dm
  code/modules/mob/living/carbon/carbon_say.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_extra_effects.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/tower_of_babel.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/autopsy.dm
  code/modules/surgery/dissection.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/internal/liver/_liver.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/revival.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/surgery_step.dm
  code/modules/surgery/tools.dm
Labels: Code Improvement

#76510 Alcoholic quirk
  code/__DEFINES/traits.dm
  code/_globalvars/lists/objects.dm
  code/datums/memory/key_memories.dm
  code/datums/mood_events/drink_events.dm
  code/datums/quirks/negative_quirks.dm
  code/game/objects/items/cigs_lighters.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
Labels: Feature

#76585 Fix Tinea Luxor runtime
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Runtime, Fix

#76587 Fixes a runtime with cybernetic hearts being EMP'd outside of mobs
  code/modules/surgery/organs/internal/heart/_heart.dm
Labels: Runtime, Fix

#76574 fixes the airlock power buttons for silicons
  code/game/machinery/doors/airlock.dm
Labels: Fix

#76586 Fixes silly siding sprites
  code/game/objects/effects/decals/turfdecal/markings.dm
  icons/turf/decals.dmi
Labels: Sprites

#76552 Maptext 2023 tweaks 3
  code/__DEFINES/text.dm
  code/__HELPERS/icons.dm
  code/_onclick/hud/credits.dm
  code/datums/actions/cooldown_action.dm
  code/game/atoms.dm
  code/game/objects/effects/countdown.dm
  code/modules/events/wizard/rpgtitles.dm
  code/modules/industrial_lift/elevator/elevator_indicator.dm
  interface/fonts/Pixellari.ttf
  interface/fonts/SpessFont.ttf
  interface/fonts/license.txt
  interface/fonts/pixellari.dm
  interface/fonts/spess_font.dm
  interface/skin.dmf
  tgstation.dme
Labels: Sprites, Grammar and Formatting

#76570 make the mushroom a basic monster
  code/datums/memory/_memory.dm
  code/modules/events/vent_clog.dm
  code/modules/hydroponics/unique_plant_genes.dm
  code/modules/mob/living/basic/space_fauna/mushroom.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Refactor, Good First PR

#76515 makes the rcd able to make girders
  code/__DEFINES/construction.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/misc.dm
  code/modules/asset_cache/assets/rcd.dm
Labels: Feature

#76392 Converts sec armories to using the (not) random mapping spawners
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/effects/spawners/random/armory.dm
  code/game/objects/effects/spawners/random/random.dm
  icons/effects/random_spawners.dmi
  tgstation.dme
Labels: Sprites, Code Improvement, Map Edit

#76542 [TramStation] Fixes Barber shop doors having the `commissarydoor` ID tag
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#76527 Adds colorblindness as a mild brain trauma
  code/datums/brain_damage/mild.dm
  code/modules/client/client_colour.dm
Labels: Feature

#76583 Robot suit hard-del / exited cleanup
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
Labels: Fix

#76260 Volume pump refactor
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
Labels: Stale, Code Improvement

#76596 Soulful Goggle Resprites
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites

#76589 Jousting now unregisters the current holder
  code/datums/components/jousting.dm
Labels: Code Improvement, GBP: No Update

#76327 Sends AI VOX messages over announcement instead of radio
  code/controllers/subsystem/communications.dm
  code/modules/mob/living/silicon/ai/ai_say.dm
Labels: Fix, Stale, Quality of Life

#76341 You can put bricks inside pillows
  code/game/objects/items/pillow.dm
Labels: Feature

#76607 Fix double signal send of `COMSIG_MOB_EMOTED`
  code/datums/emotes.dm
Labels: Fix

#76563 Small connections.js refactor
  tgui/packages/tgui/interfaces/IntegratedCircuit/Connections.js
  tgui/packages/tgui/interfaces/IntegratedCircuit/constants.js
  tgui/packages/tgui/interfaces/IntegratedCircuit/index.js
  tgui/packages/tgui/interfaces/PlaneMasterDebug.tsx
  tgui/packages/tgui/interfaces/common/Connections.tsx
Labels: Refactor, UI

#76556 Makes cult leader handling work off of the Cult datum
  code/__DEFINES/cult.dm
  code/datums/status_effects/buffs.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_objectives.dm
  code/modules/antagonists/cult/cult_team.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/revolution/revolution.dm
  tgstation.dme
Labels: Fix, Administration

#76605 cursed katana shard no longer called "dark spoon shard"
  code/modules/mining/lavaland/tendril_loot.dm
Labels: Fix

#76555 Stop stack tracing if ezdb daemon is already running
  code/controllers/subsystem/dbcore.dm
Labels: Fix

#76530 Removes TTS voice disable option
  code/controllers/configuration/entries/game_options.dm
  code/modules/client/preferences/voice.dm
  code/modules/mob/living/carbon/human/login.dm
  config/config.txt
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/tts_voice.tsx
Labels: Removal, UI, Config Update

#76521 Bibles, Lighters, and Cowboy Hats can block bullets
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/bullet_intercepting.dm
  code/game/objects/items/cigs_lighters.dm
  code/modules/antagonists/fugitive/hunters/hunter_outfits.dm
  code/modules/clothing/head/hat.dm
  code/modules/library/bibles.dm
  code/modules/projectiles/projectile.dm
  icons/obj/storage/book.dmi
  tgstation.dme
Labels: Sprites, Feature

#76533 Heavily reworks and resprites first aid analyzers.
  code/datums/quirks/negative_quirks.dm
  code/datums/wounds/_wounds.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/game/objects/items/devices/scanners/firstaidanalyzer(1).dmi
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/game/objects/items/devices/scanners/sequence_scanner.dm
  code/game/objects/items/devices/scanners/slime_scanner.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/storage/boxes/job_boxes.dm
  code/game/objects/items/storage/medkit.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/tools.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  icons/obj/clothing/modsuit/mod_modules.dmi
  icons/obj/device.dmi
  sound/items/healthanalyzer.ogg
Labels: Sprites, Sound, Balance, Feature, Fix, Refactor

#76501 Properly unreg's turf changed when space openspace is deleted
  _maps/shuttles/emergency_tram.dmm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/focus_only_tests.dm
Labels: Code Improvement, Map Edit

#76534 Coroner additions and tweaks
  code/datums/components/crafting/tools.dm
  code/game/objects/items/devices/scanners/autopsy_scanner.dm
  code/game/objects/items/knives.dm
  code/modules/clothing/gloves/special.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/jobs/job_types/coroner.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/organic_steps.dm
Labels: Feature, Fix

#76609 Bilingual can now choose their language
  code/_globalvars/lists/mobs.dm
  code/controllers/subsystem/language.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/positive_quirks.dm
  code/modules/client/preferences/language.dm
  code/modules/mob/living/carbon/human/_species.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/language.tsx
Labels: Balance, UI

#76498 Bargain bin organ quirks: Prosthetic organ and Tin Man
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/elements/dangerous_surgical_removal.dm
  code/datums/quirks/negative_quirks.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  code/modules/surgery/organs/internal/liver/_liver.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
  icons/obj/medical/organs/organs.dmi
  tgstation.dme
Labels: Sprites, Feature

#76554 Ethereal Pirates (Re-pr)
  _maps/shuttles/pirate_geode.dmm
  code/__DEFINES/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/shuttles.dm
  code/modules/antagonists/pirate/pirate_gangs.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/antagonists/pirate/pirate_roles.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_ethereal_lustrous.png
  icons/mob/species/ethereal/bodyparts.dmi
  icons/mob/species/human/bodyparts.dmi
  sound/voice/ethereal/lustrous_scream_1.ogg
  sound/voice/ethereal/lustrous_scream_2.ogg
  sound/voice/ethereal/lustrous_scream_3.ogg
  strings/pirates.json
Labels: Sprites, Sound, Feature, Map Edit

#76480 Adds tables near produce consoles
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Quality of Life

#76618 Atrocinator flips your chat text around
  code/modules/mod/modules/modules_maint.dm
  interface/stylesheet.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Feature, UI

#76448 Removes excess ID boxes from the HoP's office and adds silver IDs to their locker.
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Removal, Map Edit

#76517 Mini Fridges now have a grimy subtype, can go over tables, and start off anchored.
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/Basketball/greytide_worldwide.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_attachment_b_1.dmm
  _maps/map_files/tramstation/maintenance_modules/dormmedupper_attachment_b_3.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/effects/spawners/random/structure.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
Labels: Map Edit, Quality of Life

#76236 Adds Interdyne Modsuits
  _maps/shuttles/pirate_Interdyne.dmm
  code/game/machinery/suit_storage_unit.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  icons/mob/clothing/modsuit/mod_clothing.dmi
  icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: Sprites, Feature, Good First PR, Map Edit

#76602 Fixes organ/implant manipulator creating implants in the void when failing to insert
  code/modules/admin/verbs/manipulate_organs.dm
Labels: Fix, Code Improvement

#76634 Surgical Tables XVIII: The Return: The Saga Continues (final)[1]
  code/game/objects/structures/tables_racks.dm
  icons/obj/medical/surgery_table.dmi
Labels: Sprites

#76638 Fix WIzard Ritual hard delete
  code/modules/antagonists/wizard/wizard.dm
Labels: Fix, Hard Deletes

#76650 Fixes the APC full_charge mapping helper
  code/modules/power/apc/apc_main.dm
Labels: Fix, Good First PR

#76643 Re-adds placing patients on surgical tables
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#76579 Gives Warden their own Garment Bag.
  code/game/objects/items/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Quality of Life

#76617 New Security Cap Sprite
  icons/obj/clothing/head/hats.dmi
Labels: Sprites

#76623 Golems can dig up the floor with their bare hands
  code/datums/components/_component.dm
  code/datums/components/shovel_hands.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  tgstation.dme
Labels: Feature

#76590 service borg cookin fixin update
  code/_onclick/cyborg.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/robot/items/food.dm
  code/game/objects/items/robot/items/storage.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/food_and_drinks/machinery/griddle.dm
  code/modules/food_and_drinks/machinery/stove_component.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Feature, Fix, UI, Quality of Life

#76655 Remove underscore in spiderling names
  code/modules/mob/living/basic/space_fauna/spider/spiderlings/spiderling_subtypes.dm
Labels: Grammar and Formatting

#76652 Minor spelling mistake
  code/__DEFINES/logging.dm
Labels: Grammar and Formatting

#76621 Random Station Smuggler Satchel Rebalance
  code/controllers/subsystem/minor_mapping.dm
Labels: Balance

#76666 Lets you enter fakedeath when dead
  code/datums/diseases/advance/symptoms/heal.dm
  code/modules/antagonists/changeling/powers/defib_grasp.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/mob/living/status_procs.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix

#76658 Gives androids proper robotic organs.
  code/modules/mob/living/carbon/human/species_types/android.dm
Labels: Fix

#76677 (no gbp change) Adds a blacklist to spidereggs.
  code/modules/food_and_drinks/recipes/processor_recipes.dm
Labels: Fix, GBP: No Update

#76667 Fixes quantum relays not processing
  code/modules/NTNet/relays.dm
Labels: Fix

#76659 Fixes few phobias not being scared of mobs.
  code/_globalvars/phobias.dm
Labels: Fix

#76647 The sprite for engi goggles is yellow and not green in meson mode
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Sprites

#76594 Emagged organ harvesters can now harvest people who aren't naked
  code/game/machinery/harvester.dm
Labels: Balance

#76637 Improved spider web AI
  code/__DEFINES/traits.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spider_subtrees.dm
  code/modules/mob/living/basic/space_fauna/spider/spider_abilities/web.dm
Labels: Quality of Life

#76565 [NO GBP] Fixes the venomous element for projectiles, invisible arrows and something off with envenomable casings.
  code/datums/components/on_hit_effect.dm
  code/datums/elements/envenomable_casing.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
Labels: Fix, GBP: No Update

#76682 Adds cardboard IDs to the game: The broke man's agent ID.
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/datums/components/crafting/misc.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/emags.dm
  code/game/say.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_clothing.dm
  code/modules/hallucination/fake_chat.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/mob.dm
  icons/mob/inhands/equipment/idcards_lefthand.dmi
  icons/mob/inhands/equipment/idcards_righthand.dmi
  icons/obj/card.dmi
Labels: Sprites, Feature

#76685 makes morgue units not hold ghosts
  code/game/objects/structures/morgue.dm
Labels: Fix
