Repository tgstation/tgstation, pull requests merged in 2023-05, with the labels that each got.

#74997 Air alarm helpers
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/commswilding_1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/commswilding_2.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/commswilding_3.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_feasible.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_inevitable.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_unlikely.dmm
  _maps/RandomRuins/SpaceRuins/caravanambush.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/hunter_russian.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/pirate_psyker.dmm
  _maps/shuttles/pirate_silverscale.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_cyborg_mothership.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/whiteship_birdshot.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/shuttles/whiteship_obelisk.dmm
  _maps/shuttles/whiteship_personalshuttle.dmm
  _maps/shuttles/whiteship_pubby.dmm
  _maps/templates/lazy_templates/nukie_base.dmm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_variants.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/74997_airalarm_helpers.txt
Labels: Sprites, Tools, Map Edit, Quality of Life

#74653 March into Mapness Take 2: Better Meta Kitchen
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit, Quality of Life

#74983 Fixes pirates not spawning if summoned through comms console
  code/game/machinery/computer/communications.dm
Labels: Fix

#74918 Fire/Air alarms properly dismantle when they are destroyed & fixes balloon alert runtimes when cutting terminals
  code/__DEFINES/atmospherics/atmos_machinery.dm
  code/game/machinery/firealarm.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_interact.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/terminal.dm
Labels: Fix

#74923 New extinguisher cabinet sprites
  code/game/objects/structures/extinguisher.dm
  icons/obj/wallframe.dmi
  icons/obj/wallmounts.dmi
Labels: Sprites

#75061 Very late arrivals can arrive with toast
  code/controllers/subsystem/job.dm
Labels: Feature

#75062 Fix Drying rack spawning a matter bin and circuit board on deconstruction.
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: Fix

#75073 Add Birdshot Station to _basemap.dm
  _maps/_basemap.dm
Labels: Config Update, Map Edit

#75058 Bows no longer randomly become unusable
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/caseless/_caseless.dm
  code/modules/projectiles/ammunition/energy/_energy.dm
  code/modules/projectiles/ammunition/special/magic.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
Labels: Fix

#75029 Allows TGUI input datums to accept a ui_state as an argument
  code/modules/tgui_input/alert.dm
  code/modules/tgui_input/checkboxes.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/text.dm
Labels: Code Improvement

#74036 Gunpoints now take half a second to activate, make gasp sounds, and briefly immobilize the shooter and target, other small balance changes
  code/__DEFINES/traits.dm
  code/datums/components/gunpoint.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/mob/living/emote.dm
  code/modules/projectiles/gun.dm
  sound/voice/credits.txt
  sound/voice/human/gasp_female1.ogg
  sound/voice/human/gasp_female2.ogg
  sound/voice/human/gasp_female3.ogg
  sound/voice/human/gasp_male1.ogg
  sound/voice/human/gasp_male2.ogg
Labels: Sound, Balance, Quality of Life

#74980 North Star fixes & captain office expansion
  _maps/map_files/NorthStar/north_star.dmm
Labels: Feature, Fix, Map Edit

#75050 Removes the random prosthetic quirk from the character preview page
  code/datums/quirks/negative_quirks.dm
  code/modules/surgery/bodyparts/helpers.dm
Labels: Fix, Code Improvement

#74977 Electrolysis works with enriched liquid electricity
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Quality of Life

#75090 [NO GBP] Style meter fixes
  code/datums/components/style/style.dm
  code/modules/projectiles/projectile.dm
Labels: Fix, GBP: No Update

#75091 Adds a mix to engine pipe to birdshot
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#75006 North Star AI SAT rework
  _maps/map_files/NorthStar/north_star.dmm
Labels: Feature, Fix, Map Edit

#75133 Removes player references
  code/game/objects/items/toys.dm
  code/modules/power/singularity/dark_matter_singularity.dm
Labels: Fix, Removal, Priority: High

#75094 Adds in some missing words for the hallucinatory anomaly announcement
  code/modules/events/anomaly/anomaly_hallucination.dm
Labels: Grammar and Formatting

#75016 Space Ruin - Dangerous Research with dangerous areas
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
Labels: Map Edit, Quality of Life

#75134 Fixed mothblocks reference in posibrain list.
  strings/names/posibrain.txt
Labels: Grammar and Formatting

#75098 Meta lounge/theater regained area
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Balance, Map Edit

#75077 Add one-way access out of birdshot cryo
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Good First PR, Map Edit

#75089 Fixes a broken arcade on north star
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit

#75099 [NO GBP] Even more North Star fixes
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit, GBP: No Update

#74938 Service Borger Upri- Kitchen Upgrades
  code/__DEFINES/exosuit_fab.dm
  code/__DEFINES/research/research_categories.dm
  code/__DEFINES/tools.dm
  code/game/objects/items/kitchen.dm
  code/game/objects/items/rcd/RSF.dm
  code/game/objects/items/robot/items/hypo.dm
  code/game/objects/items/robot/items/storage.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/rollertable_dock.dm
  code/modules/food_and_drinks/machinery/oven.dm
  code/modules/mining/money_bag.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/silicon/robot_items.dmi
  icons/obj/kitchen.dmi
  tgstation.dme
Labels: Sprites, Balance, Feature, Fix

#75112 Spiderlings now can communicate with spiders
  code/modules/mob/living/basic/space_fauna/spider/spiderlings/spiderling.dm
Labels: Fix

#75013 Adds the Death Sandwich to the game
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/diseases/death_sandwich_poisoning.dm
  code/game/objects/items/food/sandwichtoast.dm
  code/game/objects/items/granters/crafting/death_sandwich.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
  icons/obj/food/burgerbread.dmi
  icons/obj/library.dmi
  tgstation.dme
Labels: Sprites, Feature

#75113 Health Analyzer now lists embeds
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Quality of Life

#75120 Gives stairs infinite move resistance
  code/game/objects/structures/stairs.dm
Labels: Fix

#75066 Lints against UpdatePaths Scripts without a numeric prefix
  tools/UpdatePaths/Scripts/75001_spiderlings_structures_to_mobs.txt
  tools/ci/check_grep.sh
Labels: Fix, Tools, Continuous Integration

#74953 `ex_act()` will work on basic mobs again (lol) + Unit Test
  code/game/atoms.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/decals/decal.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/game/objects/items/latexballoon.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/safe.dm
  code/game/objects/structures/transit_tubes/transit_tube_pod.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/asteroid.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/floor/reinforced_floor.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/open/misc.dm
  code/game/turfs/open/sand.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/events/space_vines/vine_structure.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/silicon/ai/ai_defense.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/protector.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/slaughter_demon.dm
  code/modules/pai/defense.dm
  code/modules/power/cell.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/rtg.dm
  code/modules/power/singularity/dark_matter_singularity.dm
  code/modules/power/singularity/singularity.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/explosion_action.dm
Labels: Fix, FUCK, Unit Tests

#75101 Fixes the Chef not having CQC outside the kitchen on Tramstation
  _maps/icebox.json
  _maps/tramstation.json
Labels: Fix, Map Edit

#75118 Adds missing vendatray to Northstar, and removes the scrubber co2 infinite loop
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit

#75130 Fixes backwards visible message
  code/game/machinery/computer/communications.dm
Labels: Fix, GBP: No Update

#74814 Cyborg Rechargers material changes, part two
  code/game/machinery/rechargestation.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/tiles/tile_iron.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: Balance, Fix, GBP: No Update, Quality of Life

#75148 Miners with style meter can now parry kisses
  code/datums/components/style/style.dm
Labels: Feature

#75142 Fixes organs not spilling out
  code/modules/mob/living/carbon/death.dm
Labels: Fix

#75155 Powersinks no longer always show as being "very hot" when you are close to them
  code/game/objects/items/devices/powersink.dm
Labels: Fix, Quality of Life

#74995 Adds a unit test that all roundstart spawnable jobs have a landmark to spawn at
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/multiz_debug.json
  _maps/runtimestation.json
  code/datums/map_config.dm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/map_landmarks.dm
  code/modules/unit_tests/mapping.dm
  code/modules/unit_tests/unit_test.dm
Labels: Fix, Map Edit, Unit Tests

#75132 Damaged window and broken machine helpers
  _maps/RandomRuins/IceRuins/icemoon_surface_smoking_room.dmm
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/mimesvsclowns.dmm
  _maps/RandomRuins/SpaceRuins/waystation.dmm
  code/modules/mapfluff/ruins/spaceruin_code/oldstation.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
  tools/UpdatePaths/Scripts/75132_damaged_windows.txt
Labels: Sprites, Tools, Map Edit, Quality of Life

#75116 Hierophant club appearance updates properly; works if summoned into hand.
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: Fix, Code Improvement

#74985 [MDB Ignore] Adds a unit test for typepaths that are required to be mapped onto each station map
  _maps/RandomRuins/SpaceRuins/hilbertresearchfacility.dmm
  _maps/RandomRuins/SpaceRuins/waystation.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/multiz_debug.json
  _maps/runtimestation.json
  _maps/shuttles/emergency_tranquility.dmm
  code/__DEFINES/unit_tests.dm
  code/_globalvars/phobias.dm
  code/datums/components/crafting/misc.dm
  code/game/machinery/computer/communications.dm
  code/modules/cargo/department_order.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/mob/living/basic/pets/dog.dm
  code/modules/mob/living/carbon/human/monkey/monkey.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/paperwork/paperwork.dm
  code/modules/paperwork/stamps.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/required_map_items.dm
  code/modules/unit_tests/unit_test.dm
  tools/UpdatePaths/Scripts/74985_stamps.txt
Labels: Tools, Map Edit, Unit Tests

#75138 Adds some non-player references
  strings/names/posibrain.txt
Labels: Feature

#75092 Tonguespike buff, chemspike slight nerf
  code/datums/mutations/tongue_spike.dm
Labels: Balance

#75031 Demotes Psyker Pirates to Bounty Hunter Duty
  _maps/shuttles/hunter_psyker.dmm
  code/__DEFINES/antagonists.dm
  code/datums/id_trim/ruins.dm
  code/datums/shuttles.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/antagonists/fugitive/fugitive_ship.dm
  code/modules/antagonists/fugitive/hunters/hunter.dm
  code/modules/antagonists/fugitive/hunters/hunter_gear.dm
  code/modules/antagonists/fugitive/hunters/hunter_outfits.dm
  code/modules/antagonists/pirate/pirate_gangs.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/antagonists/pirate/pirate_roles.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  code/modules/antagonists/pirate/pirate_special_items.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/mob_spawn/ghost_roles/fugitive_hunter_roles.dm
  tgstation.dme
Labels: Balance, Map Edit

#74787 Cardbaord box alert doesn't trigger on blind mobs
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
Labels: Balance

#75162 Ectoplasm Anomaly Name and Icon Bugfix
  code/modules/research/anomaly/raw_anomaly.dm
Labels: Fix

#75076 Wedding Cakes
  code/game/objects/items/food/cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  icons/obj/food/piecake.dmi
Labels: Sprites, Feature, Good First PR

#75140 Deadchat Announcement Variety Pack 1
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/hot_potato.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/traitor/objectives/eyesnatching.dm
  code/modules/events/aurora_caelus.dm
  code/modules/events/wizard/imposter.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/station_goals/bsa.dm
  code/modules/surgery/organs/appendix.dm
  code/modules/uplink/uplink_items/badass.dm
Labels: Quality of Life

#75070 Flora (like trees, rocks and etc.) now drops materials when destroyed.
  code/game/objects/structures/flora.dm
  code/modules/mining/lavaland/ash_flora.dm
Labels: Quality of Life

#75170 Removes current destination for a shuttle in transit from the destination list
  code/modules/shuttle/computer.dm
Labels: Quality of Life

#75165 Adds back the evidence area iconstate
  icons/area/areas_station.dmi
Labels: Sprites, Fix

#75117 Fixes issues with closing apps on tablets
  code/__DEFINES/modular_computer.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_files.dm
  code/modules/modular_computers/computers/item/computer_power.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/alarm.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/ntmessenger.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/modular_computers/file_system/programs/signalcommander.dm
  code/modules/modular_computers/file_system/programs/sm_monitor.dm
  tgui/packages/tgui/interfaces/NtosNetChat.js
Labels: Fix, UI

#75024 North Star Large Fix Quantity (And Also Some Design)
  _maps/map_files/NorthStar/north_star.dmm
  _maps/shuttles/cargo_northstar.dmm
Labels: Fix, Map Edit

#75125 Changes the blast doors for Icebox's Pharmacy and Medical Sec Outpost to shutters
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Edit, Quality of Life

#75067 Request Console refactor
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/radio.dm
  code/datums/request_message.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mining/machine_redemption.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/RequestsConsole/AnnouncementTab.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/MessageViewTab.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/MessageWriteTab.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/RequestsConsoleHeader.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/RequestsConsoleMainScreen.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/index.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/types.ts
  tools/UpdatePaths/Scripts/75067_request_console_cleanup.txt
Labels: Tools, Refactor, UI, Map Edit

#75188 Deadchat announcement for guaranteed tram hits
  code/modules/industrial_lift/tram/tram_floors.dm
Labels: Quality of Life

#75184 De-holes holy arrows
  icons/obj/weapons/guns/bows/arrows.dmi
Labels: Sprites

#75180 Makes the divine bow renamable
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
Labels: Fix

#75176 Fixes prosthetic limbs leaving the old one behind
  code/datums/quirks/negative_quirks.dm
  code/modules/surgery/bodyparts/helpers.dm
Labels: Fix

#75186 fix: Basic mobs' multiplicative movespeed
  code/controllers/configuration/entries/game_options.dm
  config/game_options.txt
Labels: Fix, Config Update, Good First PR

#75198 Make paint cans limited use again
  code/game/objects/items/paint.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: Fix

#75201 fix: Infinite slowdown due to stamina
  code/modules/mob/living/damage_procs.dm
Labels: Fix

#75200 Fixes the Golemship having the wrong orm subtype
  _maps/RandomRuins/AnywhereRuins/golem_ship.dmm
Labels: Fix, Map Edit

#75202 Fixes for the all-american diner ruin
  _maps/RandomRuins/SpaceRuins/allamericandiner.dmm
Labels: Fix, Map Edit

#75207 [NO GBP] Adds another EVA suit to the psyker shuttle
  _maps/shuttles/hunter_psyker.dmm
Labels: Fix, Map Edit, GBP: No Update

#75182 [NO GBP] Deletes unused airlock helper from Syn-c Brutus.
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
Labels: Fix, Map Edit, GBP: No Update

#75164 Dropdowns v2
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Dropdown.js
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/components/Icon.tsx
  tgui/packages/tgui/interfaces/AirlockController.tsx
  tgui/packages/tgui/interfaces/HoloPay.tsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/FundamentalTypes.js
  tgui/packages/tgui/interfaces/NavBeacon.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/Generators.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/RandomizationButton.tsx
  tgui/packages/tgui/styles/components/Dropdown.scss
Labels: UI, Quality of Life

#75238 Fix requests console merge skew
  tgui/packages/tgui/interfaces/RequestsConsole/MessageWriteTab.tsx
Labels: UI, Priority: High

#75213 Removes ELITE SYNDICATE MODSUIT from Space Ruin
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  code/modules/mob_spawn/corpses/mob_corpses.dm
Labels: Removal, Map Edit

#75149 Stock Part Resprite
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_inevitable.dmm
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/RandomRuins/SpaceRuins/bus.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/components/crafting/equipment.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/datums/components/riding/riding_vehicle.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/gulag_teleporter.dm
  code/game/machinery/launch_pad.dm
  code/game/machinery/limbgrower.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/rechargestation.dm
  code/game/machinery/recycler.dm
  code/game/machinery/sleepers.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/game/objects/items/storage/boxes/service_boxes.dm
  code/modules/atmospherics/machinery/components/electrolyzer/electrolyzer.dm
  code/modules/explorer_drone/exploration_events/trader.dm
  code/modules/food_and_drinks/machinery/gibber.dm
  code/modules/food_and_drinks/machinery/monkeyrecycler.dm
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/power/singularity/emitter.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  code/modules/research/bepis.dm
  code/modules/research/designs/stock_parts_designs.dm
  code/modules/research/experimentor.dm
  code/modules/research/machinery/_production.dm
  code/modules/research/machinery/circuit_imprinter.dm
  code/modules/research/stock_parts.dm
  code/modules/research/stock_parts/stock_part_datum.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vending/assist.dm
  code/modules/vending/engineering.dm
  code/modules/wiremod/core/component_printer.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
  icons/obj/stock_parts.dmi
  tools/UpdatePaths/Scripts/75149_stock_part_resprite.txt
Labels: Sprites, Tools, Code Improvement, Map Edit

#75022 New Smart Fridge sprites
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/templates/lazy_templates/nukie_base.dmm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  code/modules/power/power.dm
  icons/obj/smartfridge.dmi
  icons/obj/vending.dmi
  tools/maplint/lints/smartfridges_in_walls.yml
Labels: Sprites, Tools, Map Edit

#75145 Fixes runtime when toggling engineering meson scanners
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix

#75220 Makes organs not double on delimbing
  code/modules/surgery/organs/external/_external_organs.dm
  code/modules/surgery/organs/external/restyling.dm
Labels: Fix

#75228 Deletes unnecessary text from supply pod beacons desciption.
  code/modules/cargo/supplypod_beacon.dm
Labels: Quality of Life

#75225 adds orm access to service jobs missing it
  code/datums/id_trim/jobs.dm
Labels: Fix

#75209 Fixes various atmos uis
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/AtmosFilter.tsx
  tgui/packages/tgui/interfaces/BluespaceSender.js
  tgui/packages/tgui/interfaces/BluespaceSender.tsx
  tgui/packages/tgui/interfaces/BluespaceVendor.js
  tgui/packages/tgui/interfaces/BluespaceVendor.tsx
Labels: Fix, UI

#75060 Resprites the mosin nagant,
  code/modules/projectiles/guns/ballistic/rifle.dm
  icons/obj/weapons/guns/ballistic.dmi
  icons/obj/weapons/guns/mosinnagant.dmi
Labels: Sprites

#75250 Coroner Tweaks
  code/__DEFINES/access.dm
  code/game/objects/items/storage/medkit.dm
  code/modules/cargo/packs/medical.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/under/jobs/medical.dm
  code/modules/jobs/job_types/coroner.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head/utility.dmi
  icons/mob/clothing/under/medical.dmi
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/clothing/head/utility.dmi
  icons/obj/clothing/under/medical.dmi
  icons/obj/device.dmi
  icons/obj/storage/medkit.dmi
Labels: Sprites, Grammar and Formatting, Feature, Quality of Life

#75195 Makes organ harvester drop circuitboard on deconstruct.
  code/game/machinery/harvester.dm
Labels: Fix

#75244 the game is no longer mad every time a new emote gets added
  code/modules/client/preferences_savefile.dm
Labels: Fix

#75208 Add switch buttons to few dropdown in character preferences
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skin_tone.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/species_features.tsx
Labels: UI, Good First PR, Quality of Life

#75199 Makes industrial gold and regenerative gold spawn random coins. Also adds chococoin to coin spawner.
  code/__HELPERS/randoms.dm
  code/game/objects/effects/spawners/random/entertainment.dm
  code/game/objects/items/storage/wallets.dm
  code/modules/mining/ores_coins.dm
  code/modules/research/xenobiology/crossbreeding/industrial.dm
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Labels: Feature

#75123 Space Ruin - Whiteship ruin overhaul
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
Labels: Map Edit, Quality of Life

#75191 Adds space ruins to Northstar
  _maps/northstar.json
Labels: Feature, Map Edit

#74618 Fixes emissive blockers sometimes being put in an atom's contents
  code/__HELPERS/lighting.dm
  code/game/atoms_movable.dm
  code/game/machinery/hologram.dm
  code/modules/visuals/render_steps.dm
Labels: Fix, Stale

#74994 Cere Whiteship Redo - Salvager's Heaven
  _maps/shuttles/whiteship_cere.dmm
  code/datums/shuttles.dm
  code/modules/mapfluff/ruins/spaceruin_code/whiteship.dm
  tgstation.dme
Labels: Feature, Map Edit

#75178 You can now control the solar panels directions in tramstation AIsat Solars
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#75254 New sand and water sprites (ported from Bay)
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomRuins/SpaceRuins/vaporwave.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/shuttles/emergency_fish.dmm
  _maps/shuttles/emergency_luxury.dmm
  _maps/templates/holodeck_beach.dmm
  code/game/turfs/open/sand.dm
  code/game/turfs/open/water.dm
  code/modules/holodeck/turfs.dm
  icons/misc/beach.dmi
  icons/turf/beach.dmi
  icons/turf/sand.dmi
  sound/effects/water1.ogg
  sound/effects/water2.ogg
  sound/effects/water3.ogg
  sound/effects/water4.ogg
  tools/UpdatePaths/Scripts/75254_beach_coast.txt
Labels: Sprites, Sound, Tools, Map Edit

#75281 Fixes a runtime from foam in a weird loc / improves the stack trace (somewhat)
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
Labels: Runtime, Fix

#75040 Refactors High Luminosity Eyes, fixes a ton of bugs related to it as well as qol improvements
  code/__DEFINES/lighting.dm
  code/datums/components/overlay_lighting.dm
  code/game/atoms_movable.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/unit_tests/create_and_destroy.dm
  icons/mob/species/human/human_face.dmi
  tgui/packages/tgui/interfaces/HighLuminosityEyesMenu.tsx
Labels: Sprites, Fix, Refactor, UI, Quality of Life

#75290 [Ruins] `podcrash` now uses `template_noop` instead of general space turf
  _maps/RandomRuins/SpaceRuins/pod_crash.dmm
Labels: Fix, Map Edit

#75288 [Ruins] Fixes the missing `template_noop` area in `crashedship` + other area fixes
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  code/game/area/areas/ruins/space.dm
Labels: Fix, Map Edit

#75289 [Ruins] Fixes missing `template_noop` area in `deepstorage` + adds back turf helpers
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
Labels: Fix, Map Edit

#75284 Makes it so coroner is only listed in medical department instead of both service and medical
  code/datums/records/manifest.dm
  code/modules/mob/dead/new_player/latejoin_menu.dm
Labels: Fix

#75212 New syringe sprites
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/medical/syringe.dmi
  icons/obj/reagentfillings.dmi
Labels: Sprites

#75285 The ghost verb no longer tries to succumb first if you are conscious
  code/modules/mob/dead/observer/observer.dm
Labels: Quality of Life

#75271 Fix SHOULD_NOT_SLEEP hit in training bombcore defusal
  code/game/machinery/syndicatebomb.dm
Labels: Fix

#75269 Fix SHOULD_NOT_SLEEP hit in chemical implant's on_death()
  code/game/objects/items/implants/implant_chem.dm
Labels: Fix

#75299 Mortidrobe Restocks are now in Medical Wardrobe Supply Crates
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/vending_restock.dm
Labels: Grammar and Formatting, Fix

#75319 Adds a circuitboard for the MortiDrobe
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
Labels: Fix

#75324 Makes update_icon_updates_onmob more robust
  code/datums/elements/update_icon_updates_onmob.dm
  code/game/objects/items/boxcutter.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/latexballoon.dm
  code/game/objects/items/rcd/RCL.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weaponry.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/clothing/glasses/engine_goggles.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/bananashoes.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/sneakers.dm
  code/modules/clothing/shoes/wheelys.dm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/power/cable.dm
  code/modules/power/lighting/light_items.dm
  code/modules/power/pipecleaners.dm
  tools/ci/check_grep.sh
Labels: Fix, Tools, Code Improvement

#75151 RCD no longer deletes a spawned wall mount frame if it cannot place it on the wall
  code/game/turfs/closed/walls.dm
Labels: Fix, Quality of Life

#75301 Stops SSmachines processing lighting updates for lights stored inside a hilbert hotel storage container
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
Labels: Fix

#75312 Fixes mostly-inaccessible bottleneck on North Star's SM waste line
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit

#75241 Fix SHOULD_NOT_SLEEP hit in /client/Destroy()
  code/modules/client/client_procs.dm
Labels: Fix

#75255 Dropdown selected element highlighting
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/styles/components/Dropdown.scss
Labels: UI, Good First PR, Quality of Life

#75253 Fix custom say emotes (prefix*words) with non-ASCII characters
  code/modules/mob/mob_say.dm
Labels: Fix, Good First PR

#75331 [NO GBP]Final Closet, Crate & Access Patches
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/jobs/access.dm
Labels: Fix, Refactor, GBP: No Update

#75329 Buffs Lasers
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Balance

#75330 Nerfs MECH RCD's ability to build anywhere within 3 tiles of you
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: Balance

#75276 Makes receive_signal async
  code/game/communications.dm
Labels: Fix

#74998 Now blocking is more noticeable! New blocking and parrying sounds
  code/__DEFINES/sound.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/weaponry.dm
  code/modules/antagonists/cult/cult_bastard_sword.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/ninja/energy_katana.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/religion/sparring/ceremonial_gear.dm
  icons/effects/effects.dmi
  sound/attributions.txt
  sound/effects/shieldbash.ogg
  sound/weapons/block_blade.ogg
  sound/weapons/block_shield.ogg
  sound/weapons/effects/batreflect.ogg
  sound/weapons/effects/batreflect2.ogg
  sound/weapons/parry.ogg
Labels: Sprites, Sound, Code Improvement, Quality of Life

#75291 PDAs now have mapping icons
  icons/obj/modular_pda.dmi
Labels: Sprites

#75243 Dish drives now collect empty plates and plate fragments
  code/game/machinery/dish_drive.dm
Labels: Good First PR, Quality of Life

#75185 [NO-GPB] Adds Ion Rifle to Birdshot Armory
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit, GBP: No Update

#75322 Fixes headphones not updating icons properly when a song starts & stops playing
  code/modules/instruments/piano_synth.dm
Labels: Fix

#75353 Fixes runtime when armed cleanbots encounter a mindless human.
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: Fix

#75354 Fixes material sniffers not being able to find materials properly
  code/game/objects/items/pinpointer.dm
  code/game/objects/items/stacks/sheets/sheets.dm
Labels: Fix

#75355 Fixes jetpack "Cannot modify null.oldposition" runtimes
  code/datums/components/jetpack.dm
Labels: Fix

#75265 Grilling items now only smoke when the griddle is on
  code/__DEFINES/dcs/signals/signals_food.dm
  code/datums/components/grillable.dm
  code/modules/food_and_drinks/machinery/griddle.dm
Labels: Fix, Good First PR

#75347 Fixes empty oxygen tanks in icebox chapel.
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#75321 Gives psychologists morgue access on lowpop
  code/datums/id_trim/jobs.dm
Labels: Fix, GBP: No Update

#75141 Patch resprite
  code/__DEFINES/reagents.dm
  code/modules/asset_cache/assets/patches.dm
  code/modules/reagents/reagent_containers/patch.dm
  icons/obj/medical/chemical.dmi
  icons/ui_icons/patches/bandaid.png
  icons/ui_icons/patches/bandaid_1.png
  icons/ui_icons/patches/bandaid_2.png
  icons/ui_icons/patches/bandaid_3.png
  icons/ui_icons/patches/bandaid_4.png
  icons/ui_icons/patches/bandaid_blank.png
  icons/ui_icons/patches/bandaid_both.png
  icons/ui_icons/patches/bandaid_brute.png
  icons/ui_icons/patches/bandaid_brute_2.png
  icons/ui_icons/patches/bandaid_burn.png
  icons/ui_icons/patches/bandaid_burn_2.png
  icons/ui_icons/patches/bandaid_clown.png
  icons/ui_icons/patches/bandaid_colonthree.png
  icons/ui_icons/patches/bandaid_exclaimationpoint.png
  icons/ui_icons/patches/bandaid_mix.png
  icons/ui_icons/patches/bandaid_monke.png
  icons/ui_icons/patches/bandaid_msic.png
  icons/ui_icons/patches/bandaid_questionmark.png
  icons/ui_icons/patches/bandaid_suffocation.png
  icons/ui_icons/patches/bandaid_suffocation_2.png
  icons/ui_icons/patches/bandaid_toxin.png
  icons/ui_icons/patches/bandaid_toxin_2.png
Labels: Sprites

#75357 Fixes fines applied via sechud not sending messages / registering
  code/modules/mob/living/carbon/human/human.dm
Labels: Runtime, Fix

#75359 fixes a "Attempted to add a new component of type [/datum/component/rot] to a qdeleting parent of type [/mob/living/carbon/human]" runtime
  code/modules/mob/living/carbon/death.dm
Labels: Fix, Code Improvement

#75252 Drones can access computers and air alarms by default
  code/__DEFINES/drone.dm
Labels: Balance

#75362 Fixes ghosts & AI's detonating landmines, and jaunting mobs setting them off without first stepping on them
  code/game/objects/effects/mines.dm
Labels: Fix

#75334 Fixes a runtime with stable / "hollow" anomalies
  code/game/objects/effects/anomalies/_anomalies.dm
Labels: Runtime, Fix

#75333 Don't call `update_gravity` on nullspace when being qdelled
  code/modules/mob/living/living_movement.dm
Labels: Runtime, Fix

#75337 Requests Console's announcements on different languages
  code/game/machinery/requests_console.dm
Labels: Quality of Life

#75320 Fixes records console sechuds glitch, ninja sechuds glitch
  code/game/data_huds.dm
  code/game/machinery/computer/records/security.dm
  code/modules/antagonists/ninja/ninjaDrainAct.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix, Good First PR

#75370 Smart runtime screen tool tip fix
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: Fix

#75371 Fixes grammar and a typo when deconstructing plating reinforcements.
  code/game/turfs/open/floor/plating.dm
Labels: Grammar and Formatting, Good First PR

#75374 Cargo category cleanup
  code/__DEFINES/exports.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/orderconsole.dm
  code/modules/cargo/universal_scanner.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/shuttle/supply.dm
  tgstation.dme
Labels: Code Improvement

#75369 HoP flash button in Northstar now actually works
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit

#75342 [MetaStation] Chefs can now toggle the counter shutters
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#75343 [no gbp] Golem mineral functionality tweaks/fixes
  code/datums/components/slippery.dm
  code/game/objects/items/stacks/golem_food/golem_hand_actions.dm
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
Labels: Balance, Fix, GBP: No Update

#75306 Fix Basic Mob Speed
  code/controllers/configuration/entries/game_options.dm
Labels: Fix, Config Update

#75378 Arms memory management
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#75335 Fixes burning black slime spell skipping some of the cast chain
  code/modules/research/xenobiology/crossbreeding/burning.dm
Labels: Runtime, Fix, GBP: No Update

#75344 Resprites the brioche & vanilla cake
  icons/obj/food/piecake.dmi
Labels: Sprites, Good First PR

#75373 Adds the rest of the dueling pistol set to the Sulaco ruin
  _maps/RandomRuins/SpaceRuins/derelict_sulaco.dmm
Labels: Fix, Map Edit

#75345 animates the *jump, *shiver, *sway, *tremble, *twitch and *twitch_s emotes
  code/modules/mob/living/emote.dm
Labels: Feature

#75382 Prevents desert eagles from loading sniper rounds (and vice versa)
  code/__DEFINES/projectiles.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/sniper.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/sniper.dm
Labels: Fix, Good First PR

#75384 Replaces an empty oxygen tank on birdshot.
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#75366 Fixes posters not fitting in the boxes they spawn in
  code/game/objects/effects/poster.dm
Labels: Quality of Life

#74768 Sign language Fixes & Spellcasting, just for fun
  code/__DEFINES/dcs/signals/signals_spell.dm
  code/datums/components/sign_language.dm
  code/modules/spells/spell.dm
Labels: Balance, Fix, Good First PR

#75303 Makes shattering on throw impact an ELEMENT, anything made primarily of the glass material datum will shatter when thrown
  code/datums/elements/shatters_when_thrown.dm
  code/datums/materials/basemats.dm
  code/modules/food_and_drinks/plate.dm
  tgstation.dme
Labels: Feature, Code Improvement
