Repository tgstation/tgstation, pull requests merged in 2023-10, with the labels that each got.

#78678 Security Officers can now Download the Plexagon Crew Manifest PDA App
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
Labels: Fix

#78203 The fishing portal generator expansion (plus skill-chip)
  code/__DEFINES/aquarium.dm
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/__DEFINES/experisci.dm
  code/__DEFINES/fish.dm
  code/__DEFINES/fishing.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/components/fishing_spot.dm
  code/datums/mind/skills.dm
  code/datums/skills/_skill.dm
  code/datums/skills/fishing.dm
  code/game/machinery/computer/operating_computer.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/cargo/packs/general.dm
  code/modules/experisci/destructive_scanner.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  code/modules/experisci/experiment/types/experiment.dm
  code/modules/experisci/experiment/types/exploration.dm
  code/modules/experisci/experiment/types/random_scanning.dm
  code/modules/experisci/experiment/types/scanning.dm
  code/modules/experisci/experiment/types/scanning_fish.dm
  code/modules/experisci/experiment/types/scanning_material.dm
  code/modules/experisci/experiment/types/scanning_plants.dm
  code/modules/experisci/handheld_scanner.dm
  code/modules/fishing/aquarium/fish_analyzer.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/fish_catalog.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_portal_machine.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/unit_tests/fish_unit_tests.dm
  code/modules/vending/games.dm
  icons/hud/fishing_hud.dmi
  icons/hud/radial_fishing.dmi
  icons/obj/aquarium.dmi
  icons/obj/fishing.dmi
  sound/attributions.txt
  sound/effects/arcade_jump.ogg
  sound/effects/boing.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/ExperimentConfigure.js
Labels: Sprites, Sound, Feature, UI

#78497 Grand Ritual Finale: An end to death
  code/__DEFINES/traits.dm
  code/datums/actions/action.dm
  code/datums/components/chasm.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/wizard/grand_ritual/finales/all_access.dm
  code/modules/antagonists/wizard/grand_ritual/finales/armageddon.dm
  code/modules/antagonists/wizard/grand_ritual/finales/captaincy.dm
  code/modules/antagonists/wizard/grand_ritual/finales/cheese.dm
  code/modules/antagonists/wizard/grand_ritual/finales/clown.dm
  code/modules/antagonists/wizard/grand_ritual/finales/grand_ritual_finale.dm
  code/modules/antagonists/wizard/grand_ritual/finales/immortality.dm
  code/modules/antagonists/wizard/grand_ritual/finales/midas.dm
  code/modules/antagonists/wizard/grand_ritual/grand_ritual_finale.dm
  code/modules/capture_the_flag/ctf_player_component.dm
  code/modules/holodeck/holo_effect.dm
  code/modules/mafia/controller.dm
  code/modules/mob/living/basic/blob_minions/blob_spore.dm
  code/modules/mob/living/basic/blob_minions/blob_zombie.dm
  code/modules/mob/living/basic/lavaland/hivelord/hivelord.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/simple_animal/hostile/heretic_monsters.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/surgery/organs/internal/heart/heart_ethereal.dm
  icons/effects/effects.dmi
  tgstation.dme
Labels: Sprites, Feature

#78708 Revert font scaling in TGUI chat back to its prior implementation
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/reducer.js
Labels: Fix, UI, Revert, GBP: No Update

#78693 Removes duplicate icons from belt.dmi
  icons/mob/clothing/belt.dmi
Labels: Sprites, Removal

#78690 Pulls over some changes I made on wallening
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/visual_helpers.dm
  code/__HELPERS/icon_smoothing.dm
  code/game/atoms.dm
  code/modules/industrial_lift/tram/tram_windows.dm
Labels: Code Improvement

#78686 [no gbp] Reduces click cooldown of more primarily player-controlled mobs
  code/modules/mob/living/basic/heretic/heretic_summon.dm
  code/modules/mob/living/basic/space_fauna/morph.dm
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat.dm
  code/modules/mob/living/basic/space_fauna/spider/spider.dm
Labels: Fix, GBP: No Update

#78682 Fixes Listening Post Door
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
Labels: Fix, Map Edit

#78406 adds boxes of bandages, and bandages to go in them
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/components/crafting/tools.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/boxes/medical_boxes.dm
  code/game/objects/items/storage/medkit.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs/medical.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  icons/mob/inhands/equipment/medical_lefthand.dmi
  icons/mob/inhands/equipment/medical_righthand.dmi
  icons/obj/medical/stack_medical.dmi
  icons/obj/storage/box.dmi
Labels: Sprites, Feature, Map Edit

#78519 Fix organs having no DNA and become bloody when violently removed
  code/__DEFINES/surgery.dm
  code/modules/forensics/_forensics.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
Labels: Fix

#78598 Tweaks railings to stand and look taller
  code/game/objects/structures/railings.dm
  icons/obj/railings.dmi
Labels: Sprites

#78700 Kudzu is destroyed by storms
  code/modules/events/space_vines/vine_structure.dm
Labels: Balance

#78680 Adds some solars stuff to the derelict
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
Labels: Feature, Map Edit, Quality of Life

#78568 Revamps the Beach away mission
  _maps/RandomZLevels/TheBeach.dmm
Labels: Feature, Stale, Map Edit, Quality of Life

#78394 Add blackout drunk
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_attack.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/mood_events/drug_events.dm
  code/datums/status_effects/debuffs/drunk.dm
  code/modules/reagents/reagent_containers.dm
Labels: Feature

#78710 Fixed spritesheet images for sprite accessories with no icon_state
  code/modules/client/preferences/species_features/basic.dm
Labels: Fix

#78702 Paper bins behave properly when dumping their contents.
  code/modules/paperwork/paperbin.dm
Labels: Fix

#78622 Fixes Lazy Templates fucking over cables, pipes , and shuttles at random
  code/datums/lazy_template.dm
  code/game/turfs/change_turf.dm
  code/modules/mapping/map_template.dm
  code/modules/shuttle/shuttle.dm
Labels: Fix, GBP: No Update

#78718 `sting_action` `SHOULD_CALL_PARENT`, fixes various stings not blackbox logging
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/biodegrade.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
Labels: Logging, Fix

#78454 Fix butchered and gibbed mobs to transfer reagents and diseases to meat
  code/datums/components/butchering.dm
  code/modules/food_and_drinks/machinery/gibber.dm
Labels: Fix

#78725 Fixes display of appearance type in VV
  code/__DEFINES/is_helpers.dm
  code/datums/armor/_armor.dm
  code/datums/datumvars.dm
  code/modules/admin/view_variables/debug_variables.dm
Labels: Fix, Administration, FUCK

#78703 Makes dep. order consoles alert the department over radio whenever their cooldown expires
  code/modules/cargo/department_order.dm
Labels: Quality of Life

#78726 Rule Of Cool: Nukie Hallway Mosiac
  _maps/templates/lazy_templates/nukie_base.dmm
Labels: Mapping, Map Edit

#78711 Moth death sound & moth wing flutter sound (and emote change)
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/emote.dm
  sound/voice/moth/credit.txt
  sound/voice/moth/moth_death.ogg
  sound/voice/moth/moth_flutter.ogg
Labels: Sound

#78733 Basic Mob Raw Prophet
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  code/datums/components/focused_attacker.dm
  code/datums/elements/waddling.dm
  code/datums/elements/wheel.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/magic/ascended_shapeshift.dm
  code/modules/mob/living/basic/heretic/heretic_summon.dm
  code/modules/mob/living/basic/heretic/raw_prophet.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_gaze.dm
  code/modules/mob/living/simple_animal/hostile/heretic_monsters.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/78733_simple_to_basic_raw_prophet.txt
Labels: Tools, Refactor, Map Edit

#78698 Adds tongs
  code/game/objects/items/tongs.dm
  code/modules/cargo/packs/organic.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/research/designs/autolathe/service_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vending/drinnerware.dm
  icons/obj/service/kitchen.dmi
  tgstation.dme
Labels: Sprites, Feature

#78707 [MDB Ignore] Audits placement of maintenance helpers in non-maintenance places
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Quality of Life

#78554 Converts cursed heart effect into a component.
  code/__DEFINES/dcs/signals/signals_action.dm
  code/datums/components/manual_heart.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/client/client_colour.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  tgstation.dme
Labels: Fix, Refactor

#78699 Adds The Hand of Midas, an ancient Egyptian gun.
  code/__DEFINES/actionspeed_modification.dm
  code/__DEFINES/movespeed_modification.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/structures/petrified_statue.dm
  code/modules/actionspeed/modifiers/status_effects.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/antagonists/pirate/pirate_roles.dm
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/projectiles/guns/special/hand_of_midas.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/effects/beam.dmi
  icons/hud/screen_alert.dmi
  icons/mob/effects/debuff_overlays.dmi
  icons/obj/weapons/guns/magic.dmi
  tgstation.dme
Labels: Sprites, Feature

#78341 Rebalance CQC legsweeps and knockout kicks
  code/datums/martial/cqc.dm
Labels: Balance

#78636 exodrone adventures are no longer database based
  SQL/database_changelog.md
  SQL/tgstation_schema.sql
  code/__DEFINES/subsystems.dm
  code/modules/explorer_drone/adventure.dm
  code/modules/explorer_drone/example_adventures/a_model_earth.json
  code/modules/explorer_drone/manager.dm
  strings/exoadventures/britain_replica.json
  strings/exoadventures/quantum_fizzics.json
  strings/exoadventures/robots_wingman.json
  strings/exoadventures/space_yacht.json
  strings/exoadventures/tree_in_the_middle_of_space.json
  tgui/packages/tgui/interfaces/AdventureBrowser.tsx
Labels: UI, Code Improvement, SQL

#78729 The Galactic Materials Market no longer runtimes on opening or ordering.
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/materials_market.dm
Labels: Fix

#78734 Adds a passive scan to the Active Sonar module
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/mod/modules/modules_security.dm
  icons/effects/effects.dmi
Labels: Sprites, Feature

#78761 Resprites IDs, Random Sprites in the Cards DMI, and Fixes Prisoner Coloring
  code/datums/id_trim/jobs.dm
  icons/obj/card.dmi
  icons/obj/storage/storage.dmi
Labels: Sprites, Fix

#78765 gibbing ghosts you before you get deleted by gibbing
  code/modules/mob/living/death.dm
Labels: Fix

#78744 Basic Mob Flesh Worm
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/cult_ritual_item.dm
  code/datums/components/mob_chain.dm
  code/datums/components/rot.dm
  code/datums/elements/amputating_limbs.dm
  code/datums/wounds/_wounds.dm
  code/game/objects/items/devices/polycircuit.dm
  code/modules/admin/admin_verbs.dm
  code/modules/antagonists/cult/cult_bastard_sword.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/heretic/magic/flesh_ascension.dm
  code/modules/antagonists/heretic/structures/knock_final.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/basic/health_adjustment.dm
  code/modules/mob/living/basic/heretic/flesh_worm.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/heretic_monsters.dm
  code/modules/pai/defense.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/mob_chains.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Refactor

#78796 Codeowner adjustment
  .github/CODEOWNERS
Labels: GitHub

#78760 MetaStation disposals fix
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#78773 Engineering Borgs can no longer grab their own iron module
  code/game/objects/items/robot/items/storage.dm
Labels: Fix

#78783 Bleeding has been subtly broken for 3+ years, let's fix that yeah?
  code/modules/mob/living/blood.dm
Labels: Fix

#78776 Fake moustaches are now poorly slapped on top of what you're wearing
  code/modules/clothing/masks/moustache.dm
Labels: Quality of Life

#78775 Fixes an issue with COMSIG_MOB_ABILITY_STARTED for spells
  code/modules/spells/spell.dm
Labels: Fix

#78774 Moves silicon camera (photos, not mob cameras) out of click code
  code/_onclick/ai.dm
  code/_onclick/cyborg.dm
  code/modules/pai/camera.dm
  code/modules/pai/hud.dm
  code/modules/photography/camera/silicon_camera.dm
Labels: Fix, Refactor, Quality of Life

#78771 Adds sanity checking to the tippable component
  code/datums/components/tippable.dm
Labels: Fix

#78768 Fixes the HEAL_NEGATIVE_MUTATIONS revive flag
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#78766 The AI can no longer turn off shapeshifted robots
  code/modules/spells/spell_types/shapeshift/_shapeshift.dm
Labels: Fix

#78759 Refactors Goats into Basic Mobs
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/datums/memory/_memory.dm
  code/modules/cargo/packs/livestock.dm
  code/modules/events/ghost_role/sentience.dm
  code/modules/events/wizard/petsplosion.dm
  code/modules/mob/living/basic/farm_animals/goat/_goat.dm
  code/modules/mob/living/basic/farm_animals/goat/goat_ai.dm
  code/modules/mob/living/basic/farm_animals/goat/goat_subtypes.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/78759_simple_to_basic_goat.txt
Labels: Tools, Refactor, Map Edit

#78745 fish analyzers can also be used to perform fish scanning experiments.
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs/general.dm
  code/modules/fishing/aquarium/fish_analyzer.dm
Labels: Balance

#78742 [NO GBP] Fixes silent catwalks over otherwise silent turfs (open space, chasms)
  code/datums/elements/footstep.dm
Labels: Fix, GBP: No Update

#78728 Organ harvester file cleanup
  code/game/machinery/harvester.dm
Labels: Code Improvement

#78674 Makes the Regal Condor realistically simulate being shot dead with a high caliber hand cannon by making it HITSCAN
  code/datums/components/crafting/ranged_weapon.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
Labels: Balance

#78669 Jungle-Generator Usability Fixes, Geode Patchups
  _maps/shuttles/pirate_geode.dmm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/planet.dm
Labels: Fix, Map Edit

#78685 The laser carbine, a full-auto sidegrade to the normal laser gun
  code/datums/components/fullauto.dm
  code/modules/cargo/packs/security.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
  icons/obj/weapons/guns/energy.dmi
  icons/obj/weapons/guns/projectiles.dmi
Labels: Sprites, Feature

#78762 offical to official
  code/game/objects/items/tail_pin.dm
  code/modules/admin/verbs/admin_newscaster.dm
  code/modules/art/paintings.dm
  config/blanks.json
  tgui/packages/tgui/interfaces/AdminFax.js
  tools/ci/check_grep.sh
Labels: Grammar and Formatting, Tools, UI, Config Update

#78772 Kills `spec_updatehealth`, replaces it with use of `COMSIG_LIVING_HEALTH_UPDATE`
  code/modules/admin/create_mob.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Refactor

#78792 Frosty's factions are now defines
  code/modules/mob/living/basic/space_fauna/statue/statue.dm
Labels: Code Improvement

#78757 Basic Heretic Mobs: The Rest of Them
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  code/__DEFINES/ai/ai.dm
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/footsteps.dm
  code/_globalvars/phobias.dm
  code/datums/ai/basic_mobs/base_basic_controller.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeted_mob_ability.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targetting.dm
  code/datums/ai/basic_mobs/basic_subtrees/shapechange_ambush.dm
  code/datums/ai/basic_mobs/targetting_datums/basic_targetting_datum.dm
  code/datums/elements/footstep.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
  code/modules/antagonists/heretic/knowledge/side_void_blade.dm
  code/modules/antagonists/heretic/magic/ascended_shapeshift.dm
  code/modules/antagonists/heretic/structures/knock_final.dm
  code/modules/mob/living/basic/heretic/ash_spirit.dm
  code/modules/mob/living/basic/heretic/flesh_stalker.dm
  code/modules/mob/living/basic/heretic/maid_in_the_mirror.dm
  code/modules/mob/living/basic/heretic/rust_walker.dm
  code/modules/mob/living/simple_animal/hostile/heretic_monsters.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/78757_simple_to_basic_heretic_summons.txt
Labels: Tools, Refactor, Map Edit

#78769 also removes exodrone adventures from prefixed sql schema
  SQL/tgstation_schema_prefixed.sql
Labels: Removal, SQL

#78724 allows janitor keys to be stored in janitor wintercoats and janibets
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/suits/wintercoats.dm
Labels: Quality of Life

#78722 adds directional helpers for empty fire axe and mech removal crowbar cabinets
  code/game/objects/structures/fireaxe.dm
  tools/UpdatePaths/Scripts/78722_empty_fireaxe_cabinet_directionals.txt
Labels: Tools, Quality of Life

#78797 Dogs now flee from mobs with tongs
  code/datums/ai/basic_mobs/targetting_datums/with_object.dm
  code/datums/ai/dog/dog_controller.dm
  tgstation.dme
Labels: Feature

#78778 fixed wierd TGUI crash
  tgui/packages/tgui/interfaces/NtosMessenger/index.tsx
Labels: Fix, UI

#78801 Adjust ID card assignment line
  icons/obj/card.dmi
Labels: Sprites

#78785 Fix ID card examine runtime
  code/game/objects/items/cards_ids.dm
Labels: Runtime, Fix

#78746 Added slapcrafting to tech shells
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
Labels: Verified :heavy_check_mark:, Quality of Life

#78781 Renames prison intercoms
  code/game/objects/items/devices/radio/intercom.dm
Labels: Quality of Life

#78738 Tendril Tagging - scanning necropolis tendrils with a mining analyzer updates its GPS tag
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/objects/structures/spawner.dm
Labels: Quality of Life

#78752 Refactors Sloths into Basic Mobs
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/datums/ai/basic_mobs/basic_subtrees/climb_tree.dm
  code/datums/components/tree_climber.dm
  code/datums/station_traits/neutral_traits.dm
  code/modules/antagonists/traitor/objectives/kill_pet.dm
  code/modules/events/ghost_role/sentience.dm
  code/modules/events/wizard/petsplosion.dm
  code/modules/mob/living/basic/pets/sloth.dm
  code/modules/mob/living/simple_animal/friendly/sloth.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/78752_simple_to_basic_sloths.txt
Labels: Tools, Refactor, Map Edit

#78751 People who are bald can still grow a beard with barber aid
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#78795 Fix bodies burning or set on fire while husked
  code/datums/status_effects/debuffs/fire_stacks.dm
Labels: Fix

#78814 Separates COMSIG_LIVING_ADJUST_DAMAGE into 6 different signals
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/mob_chain.dm
  code/modules/mob/living/basic/health_adjustment.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/pai/defense.dm
  code/modules/pai/pai.dm
Labels: Fix, Code Improvement

#78817 Spider Type Check Fix
  code/__DEFINES/is_helpers.dm
  code/game/objects/effects/spiderwebs.dm
Labels: Fix

#78822 Camera consoles no longer constantly check camera list
  code/game/machinery/computer/camera.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  tgui/packages/tgui/interfaces/CameraConsole.tsx
Labels: UI, Code Improvement, GBP: No Update

#78539 ice demon basic mobs
  code/__DEFINES/ai/monsters.dm
  code/datums/ai/basic_mobs/basic_subtrees/maintain_distance.dm
  code/datums/ai/basic_mobs/basic_subtrees/ranged_skirmish.dm
  code/datums/ai/basic_mobs/basic_subtrees/teleport_away_from_target.dm
  code/datums/ai/hunting_behavior/hunting_behaviors.dm
  code/datums/components/joint_damage.dm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon_abilities.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon_ai.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_ai.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/obj/mining_zones/artefacts.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/78539_ice_demons.txt
Labels: Sprites, Feature, Tools, Refactor

#78787 Fixes Slaughter/Laughter Demon Melee Cooldowns
  code/modules/mob/living/basic/space_fauna/demon/demon.dm
Labels: Fix

#78617 Supermatter shards can be unfastened with right click
  code/datums/components/supermatter_crystal.dm
Labels: Quality of Life

#78837 Fixes pete's examine runtime
  code/modules/mob/living/basic/farm_animals/goat/goat_subtypes.dm
Labels: Fix

#78852 Uplink Item Reputation Audit
  code/modules/uplink/uplink_items/ammunition.dm
  code/modules/uplink/uplink_items/badass.dm
  code/modules/uplink/uplink_items/bundle.dm
  code/modules/uplink/uplink_items/dangerous.dm
  code/modules/uplink/uplink_items/explosive.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/uplink/uplink_items/stealthy.dm
Labels: Balance

#78844 Fixes bioscramble picking base wing type
  code/__DEFINES/research/anomalies.dm
Labels: Fix

#78838 Fixes setting prebuilt shutter ids with multiool
  code/game/machinery/doors/poddoor.dm
Labels: Fix

#78687 Improves many areas of CentCom
  _maps/map_files/generic/CentCom.dmm
Labels: Fix, Stale, Map Edit, Quality of Life

#78819 Fixed Meta disposals.
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#78377 Reviver Implant will actually revive people!
  code/modules/surgery/organs/internal/cyberimp/augments_chest.dm
Labels: Balance

#78779 Adds supermatter attackby_hit typecache to deal with similarly-handled objects
  code/datums/components/supermatter_crystal.dm
Labels: Code Improvement

#78637 General code maintenance for Reagents
  code/__DEFINES/reagents.dm
  code/_globalvars/lists/objects.dm
  code/_globalvars/lists/reagents.dm
  code/game/objects/items/food/moth.dm
  code/modules/reagents/chemistry/equilibrium.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  tgstation.dme
Labels: Refactor, Code Improvement

#78818 Bitrunning hotfix 3
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals/signals_bitrunning.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/bitrunning/components/avatar_connection.dm
  code/modules/bitrunning/designs.dm
  code/modules/bitrunning/objects/byteforge.dm
  code/modules/bitrunning/objects/host_monitor.dm
  code/modules/bitrunning/objects/landmarks.dm
  code/modules/bitrunning/objects/netpod.dm
  code/modules/bitrunning/objects/vendor.dm
  code/modules/bitrunning/server/loot.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/quantum_server.dm
  code/modules/bitrunning/server/util.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/bitrunning.dm
  icons/obj/device.dmi
  icons/obj/machines/bitrunning.dmi
  tgstation.dme
Labels: Sprites, Feature, Fix, Map Edit

#78861 Fixes images getting displayed as an appearance in vv
  code/__DEFINES/is_helpers.dm
Labels: Fix, GBP: No Update

#78843 Dels a bad stack trace from stoned effect
  code/datums/status_effects/drug_effects.dm
Labels: Runtime

#78842 Fixes runtime on initalizing science programs
  code/controllers/subsystem/research.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
Labels: Fix

#78839 Fixes camera ref cleanup in alarms processing
  code/datums/alarm.dm
Labels: Fix

#78841 Fixes void cloak not making suit store slot items unstrippable
  code/modules/antagonists/heretic/items/heretic_armor.dm
Labels: Fix

#78846 Fixes salt, flour, corn starch, and saltwater not sanity checking exposed mobs
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Runtime

#78850 Fix TTS runtime from wearing bread
  code/modules/mob/living/living_say.dm
Labels: Runtime, Fix

#78845 Fix bitrunning drinking glass using the wrong subtype
  _maps/virtual_domains/beach_bar.dmm
  code/modules/bitrunning/virtual_domain/domains/beach_bar.dm
Labels: Runtime, Fix, Map Edit

#78813 Gives gibbing from too much blood an infinite range so it can't get skipped over
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/_species.dm
Labels: Fix

#78815 Warm donk-pockets once again have omnizine in them
  code/datums/components/bakeable.dm
  code/datums/components/grillable.dm
  code/datums/elements/food/microwavable.dm
  code/game/objects/items/food/donkpocket.dm
  code/game/objects/items/food/packaged.dm
Labels: Fix

#78856 [NO GBP] you can hit tendrils in melee again
  code/game/objects/structures/spawner.dm
Labels: Fix, GBP: No Update

#78832 changes COMSIG_GLOB_LIGHT_MECHANISM_COMPLETED into a more versatile signal
  code/__DEFINES/dcs/signals/signals_global.dm
  code/game/objects/items/puzzle_pieces.dm
Labels: Code Improvement

#78829 Prevent a runtime in malf AI's overload machine ability when it runs out of uses
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
Labels: Runtime, Fix

#78821 Fixes fleeing behaviour
  code/__DEFINES/ai/ai_blackboard.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/run_away_from_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/flee_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_nearest_target_to_flee.dm
  code/datums/ai/dog/dog_controller.dm
  code/datums/elements/ai_flee_while_injured.dm
  code/modules/mob/living/basic/farm_animals/deer.dm
  code/modules/mob/living/basic/farm_animals/rabbit.dm
  code/modules/mob/living/basic/farm_animals/sheep.dm
  code/modules/mob/living/basic/jungle/mega_arachnid/mega_arachnid_ai.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub_ai.dm
  code/modules/mob/living/basic/lavaland/legion/legion_ai.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
  code/modules/mob/living/basic/pets/fox.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_controllers.dm
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat_ai.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spider_ai.dm
  code/modules/mob/living/basic/space_fauna/spider/spiderlings/spiderling.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/inflation.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/wumborian_ai.dm
  code/modules/mob/living/basic/vermin/crab.dm
  code/modules/mob/living/basic/vermin/mouse.dm
Labels: Fix

#78217 Pipe gas visuals
  code/controllers/subsystem/air.dm
  code/modules/admin/admin_verbs.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/atmospherics/machinery/pipes/bridge_pipe.dm
  code/modules/atmospherics/machinery/pipes/color_adapter.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/he_pipes.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/junction.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
  code/modules/atmospherics/machinery/pipes/multiz.dm
  code/modules/atmospherics/machinery/pipes/pipe_spritesheet_helper.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/atmospherics/machinery/pipes/smart.dm
  icons/obj/pipes_n_cables/!pipe_gas_overlays.dmi
  icons/obj/pipes_n_cables/!pipes_bitmask.dmi
  icons/obj/pipes_n_cables/pipe_template_pieces.dmi
  icons/obj/pipes_n_cables/pipes_bitmask.dmi
  tgstation.dme
  tgui/packages/tgui/constants.ts
Labels: Sprites, Feature, UI, Atmospherics, 📌 Test Merge Candidate

#78849 Fixes some EMP'd cyborg bodypart runtimes
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
Labels: Runtime, Fix

#78835 Autopsy scanners fit in surgery trays
  code/datums/storage/subtypes/surgery_tray.dm
  code/game/objects/items/surgery_tray.dm
Labels: Quality of Life

#78808 Fix virtual gondola meat
  code/modules/bitrunning/virtual_domain/domains/gondola_asteroid.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#78782 Refactors Revenants into Basic Mobs
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/chat.dm
  code/_globalvars/lists/mobs.dm
  code/_globalvars/phobias.dm
  code/datums/components/blob_minion.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/events/ghost_role/revenant_event.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/library/bibles.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_abilities.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_effects.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_harvest.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_items.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_objectives.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/revenant.dm
  code/modules/mob/mob_movement.dm
  code/modules/photography/camera/other.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/religion/burdened/psyker.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Refactor, Code Improvement

#78874 Adds a cowboy bundle to the nuclear ops uplink
  code/datums/greyscale/config_types/greyscale_configs/greyscale_mobs.dm
  code/datums/greyscale/json_configs/pony.json
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/storage/holsters.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/head/hat.dm
  code/modules/clothing/shoes/cowboy.dm
  code/modules/clothing/under/costume.dm
  code/modules/mob/living/basic/farm_animals/pony.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/uplink/uplink_items/nukeops.dm
  icons/mob/simple/animal.dmi
  sound/effects/footstep/spurs1.ogg
  sound/effects/footstep/spurs2.ogg
  sound/effects/footstep/spurs3.ogg
Labels: Sprites, Sound, Feature

#78864 count station food verb counts station food
  code/modules/admin/verbs/mapping.dm
Labels: Fix

#78763 Replaces the changeling spacesuit with a passive ability
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/defib_grasp.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/void_adaption.dm
  code/modules/meteors/meteor_spawning.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_changelingmidround.png
  tgstation.dme
Labels: Balance

#78713 Fixes a few runtimes with TTS and skips some code if TTS isn't enabled.
  code/modules/mob/living/living_say.dm
Labels: Fix

#78862 makes unholy water an effective coagulant for cultists
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Balance

#78889 fixes polymorphing into a holoparasite
  code/modules/mob/living/simple_animal/guardian/guardian.dm
Labels: Fix

#78873 Borg modules can no longer be sold by pirates
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  code/modules/cargo/exports.dm
Labels: Fix

#78865 Fixes an issue w/ antiglow.
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/datums/mutations/body.dm
Labels: Fix

#78855 Camera UI fixes
  tgui/packages/tgui/interfaces/CameraConsole.tsx
Labels: Fix, UI

#78851 Fixes sanitizing chemicals (Miner's Salve, Sterilizine, and Space Cleaner) not sanitizing burn wounds
  code/datums/wounds/burns.dm
Labels: Runtime, Fix

#78833 [NO GBP] ACTUALLY fixes wound replacement removing gauze
  code/datums/wounds/_wounds.dm
  code/datums/wounds/bones.dm
Labels: Fix, GBP: No Update

#78834 Add burning sound loop to bonfires and fireplaces
  code/datums/looping_sounds/burning.dm
  code/game/objects/structures/bonfire.dm
  code/game/objects/structures/fireplace.dm
  tgstation.dme
Labels: Sound, Code Improvement

#78891 [no gbp] Disable summon AI during summoning
  code/modules/antagonists/heretic/heretic_knowledge.dm
Labels: Fix, GBP: No Update

#78882 Fixes a runtime in obj/item/organ/on_death()
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/internal/cyberimp/augments_chest.dm
Labels: Fix

#78883 Relocates a garbage spawner on Tramstation that was causing rng CI failures
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#78887 Hands management element
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/_onclick/hud/generic_dextrous.dm
  code/_onclick/hud/screentip.dm
  code/_onclick/other_mobs.dm
  code/datums/elements/climbable.dm
  code/datums/elements/dextrous.dm
  code/game/machinery/_machinery.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/space_fauna/bear/_bear.dm
  code/modules/mob/living/basic/space_fauna/spider/spider.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/security_levels/keycard_authentication.dm
  tgstation.dme
Labels: Administration, Quality of Life, Atomic

#78807 Basic Constructs: parent type + Harvester
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/is_helpers.dm
  code/_globalvars/phobias.dm
  code/datums/components/healing_touch.dm
  code/datums/elements/amputating_limbs.dm
  code/datums/elements/structure_repair.dm
  code/datums/elements/wall_walker.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/closed/walls.dm
  code/modules/mob/living/basic/constructs/_construct.dm
  code/modules/mob/living/basic/constructs/harvester.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/constructs/constructs.dm
  code/modules/mob/transform_procs.dm
  code/modules/power/singularity/narsie.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/78807_simple_to_basic_construct_harvester.txt
Labels: Tools, Refactor

#78886 Adds bitrunner to the crew monitor
  code/game/machinery/computer/crew.dm
Labels: Fix

#78894 Fixes some issues with mirrors not updating mob appearance after making a selection
  code/game/objects/structures/mirror.dm
Labels: Fix

#78828 Adds a base physical description proc to gameplay species, displays it on magic mirrors.
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
Labels: Fix, Quality of Life

#78880 Fix outdated research connections from the Lionhunter's Rifle and Rust Charge
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
Labels: Fix

#78867 Adds practice carbines to all firing ranges
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/templates/holodeck_firingrange.dmm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
Labels: Feature, Map Edit

#78900 Makes Gondolapods great again
  code/modules/cargo/gondolapod.dm
  code/modules/cargo/supplypod.dm
Labels: Fix, Administration

#78789 Mook village and basic mook refactor
  _maps/RandomRuins/LavaRuins/lavaland_surface_mookvillage.dmm
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/basic_mobs.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/song.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/find_mineable_wall.dm
  code/datums/ai/basic_mobs/basic_subtrees/mine_walls.dm
  code/datums/ai/idle_behaviors/idle_random_walk.dm
  code/datums/components/pet_commands/fetch.dm
  code/datums/ruins/lavaland.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub_ai.dm
  code/modules/mob/living/basic/lavaland/mook/mook.dm
  code/modules/mob/living/basic/lavaland/mook/mook_abilities.dm
  code/modules/mob/living/basic/lavaland/mook/mook_ai.dm
  code/modules/mob/living/basic/lavaland/mook/mook_village.dm
  code/modules/mob/living/basic/minebots/minebot_ai.dm
  code/modules/mob/living/simple_animal/hostile/jungle/mook.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  config/lavaruinblacklist.txt
  icons/mob/simple/jungle/mook.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/MaterialStand.tsx
Labels: Sprites, Feature, Refactor, UI, Config Update, Map Edit

#78836 Galactic Market Hot Fixes
  code/modules/cargo/materials_market.dm
  code/modules/cargo/packs/stock_market_items.dm
  tgui/packages/tgui/interfaces/MatMarket.tsx
Labels: Fix, UI, Quality of Life

#78750 Allows you to choose between three lipstick styles
  code/game/objects/items/cosmetics.dm
  icons/hud/radial.dmi
  icons/mob/human/human_face.dmi
Labels: Sprites

#78704 Flesh Spiders Regenerate + QoL
  code/game/objects/effects/spiderwebs.dm
  code/modules/antagonists/spiders/spiders.dm
  code/modules/mob/living/basic/space_fauna/changeling/flesh_spider.dm
  code/modules/mob/living/basic/space_fauna/changeling/headslug.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob_spawn/ghost_roles/spider_roles.dm
  tgstation.dme
Labels: Balance, Quality of Life

#78749 venus human traps are basicmobs + ""balance""
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
  code/modules/mob_spawn/ghost_roles/venus_human_trap.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Balance, Refactor

#78884 [NO GBP] Some more code maintenance for reagents
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/reaction_chamber.dm
  code/game/atoms.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/plumbing/plumbers/acclimator.dm
  code/modules/plumbing/plumbers/teleporter.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/dropper.dm
Labels: Code Improvement, GBP: No Update

#78717 Microwave upgrades: Microwave PDA charging, power cells
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/wires.dm
  code/datums/wires/microwave.dm
  code/game/objects/effects/spawners/random/decoration.dm
  code/game/objects/effects/spawners/random/techstorage.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/structures/showcase.dm
  code/game/turfs/open/floor.dm
  code/modules/asset_cache/assets/rcd.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/hud/radial.dmi
  icons/obj/machines/microwave.dmi
  strings/tips.txt
Labels: Sprites, Feature, Map Edit

#78918 Basic Mob Gorillas
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/drone.dm
  code/__DEFINES/guardian_defines.dm
  code/datums/ai/basic_mobs/basic_subtrees/run_emote.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/components/basic_inhands.dm
  code/datums/elements/amputating_limbs.dm
  code/datums/memory/_memory.dm
  code/datums/station_traits/neutral_traits.dm
  code/game/objects/items/food/monkeycube.dm
  code/modules/antagonists/traitor/objectives/kill_pet.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/clown/clown.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla_accessories.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla_ai.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla_emotes.dm
  code/modules/mob/living/basic/heretic/flesh_worm.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/carbon/alien/adult/adult_update_icons.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/friendly/drone/visuals_icons.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/visuals_icons.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_update_icons.dm
  code/modules/mob/transform_procs.dm
  code/modules/spells/spell_types/conjure/simian.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  strings/sillytips.txt
  tgstation.dme
  tools/UpdatePaths/Scripts/78918_simple_to_basic_gorilla.txt
Labels: Tools, Refactor

#78904 [NO GBP] Fixed a few more issues with fishing.
  code/modules/experisci/experiment/types/scanning_fish.dm
  code/modules/fishing/fishing_minigame.dm
Labels: Fix, GBP: No Update

#78790 Watcher Nest Lavaland Ruin
  _maps/RandomRuins/LavaRuins/lavaland_surface_watcher_grave.dmm
  code/datums/components/temporary_description.dm
  code/datums/ruins/lavaland.dm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/food/egg.dm
  code/game/objects/items/food/packaged.dm
  code/game/objects/items/food/soup.dm
  code/game/turfs/closed/indestructible.dm
  code/modules/mapfluff/ruins/lavalandruin_code/elephantgraveyard.dm
  code/modules/mapfluff/ruins/lavalandruin_code/watcher_grave.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob_spawn/corpses/nonhuman_corpses.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/projectiles/projectile.dm
  config/lavaruinblacklist.txt
  icons/mob/simple/lavaland/lavaland_monsters.dmi
  icons/mob/simple/lavaland/lavaland_monsters_wide.dmi
  icons/obj/food/egg.dmi
  tgstation.dme
Labels: Sprites, Feature, Config Update, Map Edit

#78848 Pharmacy map fixes
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#78910 Revenant Cleanup and Fixes Mistakes
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_effects.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_harvest.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_items.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: Fix, GBP: No Update

#78823 Updates the rollerdrome
  _maps/shuttles/emergency_rollerdome.dmm
Labels: Map Edit, Quality of Life

#78924 Fixes passing in list arguments in callproc
  code/modules/admin/callproc/callproc.dm
Labels: Fix

#78931 basicmobs that qdel on death ghost before qdel
  code/modules/mob/living/basic/basic.dm
Labels: Fix, Code Improvement

#78909 Remove tiered canister construction
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/NorthStar/north_star.dmm
  code/game/machinery/canister_frame.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/fluff.dm
  icons/obj/fluff/general.dmi
  icons/obj/pipes_n_cables/atmos.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/78909_tiered_canister_removal.txt
Labels: Sprites, Tools, Code Improvement, Map Edit

#78933 Fixes the Sakhno inhands being hilariously too high on the mob and a bit too big
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
Labels: Sprites

#78443 General code maintenance for rcd devices and their DEFINE file
  code/__DEFINES/colors.dm
  code/__DEFINES/construction.dm
  code/__DEFINES/construction/actions.dm
  code/__DEFINES/construction/material.dm
  code/__DEFINES/construction/rcd.dm
  code/__DEFINES/construction/structures.dm
  code/__DEFINES/crafting.dm
  code/__HELPERS/construction.dm
  code/_globalvars/lists/crafting.dm
  code/_globalvars/lists/rcd.dm
  code/_globalvars/rcd.dm
  code/game/atoms.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/firealarm.dm
  code/game/objects/effects/rcd.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RHD.dm
  code/game/objects/items/rcd/RLD.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/objects/items/rcd/RTD.dm
  code/game/objects/structures/construction_console/construction_actions.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/reflector.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/open/misc.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/modules/asset_cache/assets/rcd.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_interact.dm
  code/modules/power/apc/apc_tool_act.dm
  code/modules/power/floodlight.dm
  code/modules/unit_tests/rcd.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/RapidConstructionDevice.tsx
  tgui/packages/tgui/interfaces/RapidPipeDispenser.tsx
  tgui/packages/tgui/interfaces/RapidPlumbingDevice.tsx
Labels: Fix, Refactor, UI, Code Improvement

#78938 Dullahan Fixes
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
Labels: Fix, Refactor, Verified :heavy_check_mark:

#78892 Abandoned Domains: Adds two new psyker-oriented virtual domains
  _maps/safehouses/bathroom.dmm
  _maps/virtual_domains/psyker_shuffle.dmm
  _maps/virtual_domains/psyker_zombies.dmm
  code/modules/bitrunning/objects/landmarks.dm
  code/modules/bitrunning/outfits.dm
  code/modules/bitrunning/virtual_domain/domains/psyker_shuffle.dm
  code/modules/bitrunning/virtual_domain/domains/psyker_zombies.dm
  code/modules/bitrunning/virtual_domain/safehouses.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  tgstation.dme
Labels: Feature, Map Edit

#78831 Laser Carbine sprite and sound improvement
  code/modules/projectiles/ammunition/energy/laser.dm
  icons/obj/weapons/guns/energy.dmi
  icons/obj/weapons/guns/projectiles.dmi
  sound/attributions.txt
  sound/weapons/laser2.ogg
Labels: Sprites, Sound

#78944 Add appy slices
  code/game/objects/items/food/misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_guide.dm
  code/modules/hydroponics/grown/apple.dm
  icons/obj/food/food.dmi
  icons/obj/service/hydroponics/harvest.dmi
Labels: Sprites, Quality of Life
