Repository tgstation/tgstation, pull requests merged in 2023-08, with the labels that each got.

#77056 sets blood-drunk miner's initial attack speed to match their closed cleaving saw attack speed
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
Labels: Fix, Stale, Code Improvement

#77134 Signs Font Consistency + Extra
  code/game/objects/structures/signs/signs_departments.dm
  icons/obj/signs.dmi
Labels: Sprites, Feature

#77240 Bluespace bodybags no longer delete xenomorphs when folded
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
Labels: Fix, Verified :heavy_check_mark:

#77074 Add "Hall of Fame" emergency shuttle
  _maps/shuttles/emergency_fame.dmm
  code/controllers/subsystem/persistence.dm
  code/datums/shuttles.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/photography/photos/album.dm
  code/modules/photography/photos/frame.dm
Labels: Feature, Map Edit

#77089 NorthStar Supermatter Engine Waste Processing Changes
  _maps/map_files/NorthStar/north_star.dmm
  code/game/area/areas/station.dm
  icons/area/areas_station.dmi
Labels: Sprites, Fix, Map Edit, Quality of Life

#77210 *sigh visual and *glasses emote
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  icons/mob/species/human/emote_visuals.dmi
Labels: Sprites, Feature

#77146 Syndicate Battlecruiser fixes and minor improvements
  _maps/shuttles/starfury_fighter1.dmm
  _maps/shuttles/starfury_fighter2.dmm
  _maps/shuttles/starfury_fighter3.dmm
  _maps/templates/battlecruiser_starfury.dmm
Labels: Fix, Good First PR, Map Edit, Quality of Life

#77186 Birdshot APC/Air Alarm pass
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#77245 [Shuttles] Removes a stacked light on Kilo's Emergency Shuttle
  _maps/shuttles/emergency_kilo.dmm
Labels: Fix, Map Edit

#77199 Adds a surgical bag and laptop to birdshot morgue
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#77251 Fix BB admin add runtiming
  code/modules/antagonists/brother/brother.dm
Labels: Fix

#77217 Fix broken icons in RCD UI (Again)
  code/modules/asset_cache/assets/rcd.dm
Labels: Fix

#76865 Updates all the icons in under/suits.dmi and related sorting/cleanup
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/datums/greyscale/json_configs/buttondown_shorts.json
  code/datums/greyscale/json_configs/buttondown_slacks.json
  code/game/objects/effects/spawners/costume.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/admin/topic.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/suits.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/mafia/outfits.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/under/suits.dmi
  icons/obj/clothing/under/shorts_pants_shirts.dmi
  icons/obj/clothing/under/suits.dmi
Labels: Sprites, Feature, Removal, Map Edit

#77248 When Space Dragons devour people they get .extinguish()ed
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
Labels: Quality of Life

#77208 [NO GBP] Actually fixing the greyscale_modify_menu.
  code/_globalvars/_regexes.dm
  code/modules/admin/greyscale_modify_menu.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/tgui/states/greyscale_menu.dm
  tgstation.dme
Labels: GBP: No Update

#77266 Fixes CentCom loot exploits
  _maps/map_files/generic/CentCom.dmm
  code/game/area/areas/away_content.dm
Labels: Fix, Map Edit

#77279 Fix TTS leaking identity of `TRAIT_UNKNOWN` mobs
  code/modules/mob/living/living_say.dm
Labels: Fix

#77253 Basic Lobstrosity
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/templates/lazy_templates/nukie_base.dmm
  code/__DEFINES/ai.dm
  code/datums/actions/mobs/charge.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/run_away_from_target.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeted_mob_ability.dm
  code/datums/ai/basic_mobs/basic_subtrees/targeted_mob_ability.dm
  code/datums/elements/amputating_limbs.dm
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/modules/fishing/fish/chasm_detritus.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath_trophy.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_trophy.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/lobstrosity.dm
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/mob/simple/icemoon/icemoon_monsters.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/77253_simple_to_basic_lobstrosity.txt
Labels: Sprites, Feature, Tools, Refactor, Map Edit

#77262 Fixes holopara owners not always dusting
  code/modules/mob/living/simple_animal/guardian/guardian.dm
Labels: Fix

#77269 Makes simple humans more visible when mapping
  icons/mob/simple/simple_human.dmi
Labels: Sprites

#77276 Buffs Xenomorph Neurotoxin from 50 to 65 Stamina Damage
  code/modules/projectiles/projectile/special/neurotoxin.dm
Labels: Balance

#77281 Fixes the Guard Spider Effigy disables attacking bug.
  code/modules/mob/living/basic/space_fauna/spider/spider_abilities/web.dm
Labels: Fix

#77263 Fix ethereal crystal destruction not removing light
  code/modules/surgery/organs/internal/heart/_heart.dm
  code/modules/surgery/organs/internal/heart/heart_ethereal.dm
  tgstation.dme
Labels: Fix

#77260 [NO GBP]RPED Patches
  code/modules/research/stock_parts.dm
Labels: Fix, GBP: No Update

#77243 Fixing BoH bombing being doable with just one BoH.
  code/datums/storage/subtypes/bag_of_holding.dm
Labels: Fix

#77271 Slows down parallax space gas / asteroid layer
  code/_onclick/hud/parallax/random_layer.dm
Labels: Quality of Life

#77149 Adds boss music functionality and gives hierophant it's own thematic fight song!
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_simple.dm
  code/__DEFINES/sound.dm
  code/datums/components/boss_music.dm
  code/datums/components/geiger_sound.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  sound/lavaland/hiero_boss.ogg
  tgstation.dme
Labels: Sound, Feature

#77270 Adds a Fugitive Locator machine to each bounty hunter shuttle
  _maps/shuttles/hunter_bounty.dmm
  _maps/shuttles/hunter_psyker.dmm
  _maps/shuttles/hunter_russian.dmm
  _maps/shuttles/hunter_space_cop.dmm
  code/game/objects/items/pinpointer.dm
  code/modules/antagonists/fugitive/hunters/hunter_gear.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
Labels: Grammar and Formatting, Feature, Code Improvement, Map Edit

#77284 strong arm implant now actually respects armor
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
Labels: Grammar and Formatting

#77292 [no gbp] Don't dump pai cards out of PDAs for no reason
  code/modules/pai/shell.dm
Labels: Fix, GBP: No Update

#77241 kinesis changes + smaller misc modsuit stuff
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/clothing/head/costume.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/hat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/welding.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/costume.dm
  code/modules/mob/living/basic/vermin/butterfly.dm
  code/modules/mod/mod_construction.dm
  code/modules/mod/mod_core.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/module_kinesis.dm
  code/modules/mod/modules/module_pathfinder.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_security.dm
Labels: Balance, Feature, Quality of Life

#77316 Update client click handling for 514
  code/modules/client/client_procs.dm
Labels: Fix

#77300 Floating fire alarm fix
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Fix, Map Edit

#77212 pAIs can be inserted into a MODsuit
  code/game/gamemodes/objective_items.dm
  code/game/objects/items.dm
  code/modules/mod/mod_actions.dm
  code/modules/mod/mod_activation.dm
  code/modules/mod/mod_ai.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_ui.dm
  code/modules/mod/modules/modules_ninja.dm
  tgui/packages/tgui/interfaces/MODsuit.tsx
Labels: Feature, UI

#75931 Replaces Upgraded Cybernetic Ears with two new variants
  code/__DEFINES/say.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/spatial_info.dm
  code/_globalvars/traits.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/station_traits/positive_traits.dm
  code/modules/cargo/bounties/medical.dm
  code/modules/mob/living/living_say.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/internal/ears/_ears.dm
Labels: Feature, Good First PR

#77111 Improves text readability in some parts of the PDA retro theme
  tgui/packages/tgui/styles/themes/ntOS95.scss
Labels: Fix, Stale, UI, Quality of Life

#77071 Adds a sanity check to /mob/living/brain/Life() to make sure it's actually in an MMI
  code/modules/mob/living/brain/life.dm
Labels: Fix, Stale

#77318 Deletes trash in walls on the whiteshipruin_box.
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
Labels: Fix, Map Edit

#77303 Fixes formatting for derelict and syndicate drone job names
  code/__DEFINES/role_preferences.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/simple_animal/friendly/drone/extra_drone_types.dm
Labels: Fix

#77299 Fixes typo in progressbar.dm and progress bar sprite file name
  code/datums/progressbar.dm
  icons/effects/progressbar.dmi
Labels: Sprites, Grammar and Formatting, Fix

#77304 Adds slider component for preferences, converts TTS volume, and pitch to use it
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/tts_voice.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: UI, Quality of Life

#77314 Science Resprite! (With Sovl!)
  code/game/objects/items/storage/garment.dm
  code/modules/clothing/under/jobs/rnd.dm
  icons/mob/clothing/under/rnd.dmi
  icons/obj/clothing/under/rnd.dmi
Labels: Sprites

#77353 [NO GBP] Fixes radio being broken
  code/game/machinery/telecomms/broadcasting.dm
Labels: Fix, Priority: High, GBP: No Update

#77319 Fix spell burger having two recipes
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
Labels: Fix

#77309 Fixes runtime relating to hard TGS reboots (PROBABLY WON'T FIX REBOOT CRASHES)
  code/game/world.dm
Labels: Runtime, Fix, Test Merge Candidate

#75820 Improved PDA Direct Messenger
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__DEFINES/dcs/signals/signals_modular_computer.dm
  code/__HELPERS/chat_filter.dm
  code/__HELPERS/cmp.dm
  code/controllers/subsystem/modular_computers.dm
  code/datums/records/crime.dm
  code/game/machinery/PDApainter.dm
  code/game/machinery/telecomms/computers/message.dm
  code/game/machinery/telecomms/machines/broadcaster.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/admin/admin_pda_message.dm
  code/modules/clothing/chameleon/chameleon_action_subtypes.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_files.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/disks/virus_disk.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/picture_file.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/modular_computers/file_system/programs/messenger/messenger_data.dm
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
  code/modules/modular_computers/file_system/programs/ntmessenger.dm
  code/modules/modular_computers/file_system/programs/wirecarp.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AdminPDA.js
  tgui/packages/tgui/interfaces/NtosMessenger.js
  tgui/packages/tgui/interfaces/NtosMessenger/ChatScreen.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/index.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/types.tsx
  tgui/packages/tgui/interfaces/PaintingMachine.js
  tgui/packages/tgui/styles/interfaces/NtosMessenger.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature, UI

#77282 Remaps Metastation's kitchen for about the tenth time
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Map Edit

#77317 Dump donkpokets into microwave
  code/modules/food_and_drinks/machinery/microwave.dm
Labels: Quality of Life

#77331 Improved Imaginary Friend Smite
  code/datums/brain_damage/imaginary_friend.dm
  code/modules/admin/smites/imaginary_friend_special.dm
Labels: Administration

#77209 [NO GBP] Removes new player's status tab readiness; replaces it with a blip on Collapse Button
  code/__DEFINES/dcs/signals/signals_hud.dm
  code/_onclick/hud/new_player.dm
  code/modules/mob/dead/new_player/new_player.dm
  icons/hud/lobby/collapse_expand.dmi
Labels: Sprites, Feature, Removal, GBP: No Update

#77352 Remove merge conflict labeling workflow
  .github/workflows/conflicts.yml
Labels: GitHub

#77287 Lightgeist AI
  code/__DEFINES/ai.dm
  code/__DEFINES/ai/ai.dm
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/ai/carp.dm
  code/__DEFINES/ai/haunted.dm
  code/__DEFINES/ai/monkey.dm
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/ai/pet_commands.dm
  code/__DEFINES/ai/pets.dm
  code/__DEFINES/ai/simplemob.dm
  code/__DEFINES/ai/tourist.dm
  code/__DEFINES/ai/vending.dm
  code/__DEFINES/ai/ventcrawling.dm
  code/datums/components/basic_mob_attack_telegraph.dm
  code/datums/components/healing_touch.dm
  code/modules/mob/living/basic/space_fauna/lightgeist.dm
  tgstation.dme
Labels: Balance, Feature

#77355 Eating plasma grants golems ash storm immunity for the duration of the buff
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
Labels: Fix

#77272 Disease outbreak fixes/admin options
  code/__DEFINES/diseases.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
  code/modules/events/disease_outbreak.dm
Labels: Fix, Administration

#76956 Adds a system for logging metadata about hard deletes
  code/controllers/subsystem/garbage.dm
  code/datums/datum.dm
  code/datums/progressbar.dm
  code/modules/admin/verbs/debug.dm
  code/modules/unit_tests/create_and_destroy.dm
Labels: Logging, Stale

#77357 Areas created with the "land claim" are no longer hazardous to free golems
  _maps/RandomRuins/AnywhereRuins/golem_ship.dmm
  code/__HELPERS/areas.dm
  code/game/area/areas.dm
  code/game/objects/items/blueprints.dm
  code/modules/mob_spawn/ghost_roles/golem_roles.dm
Labels: Fix, Map Edit

#77175 Added Omen Spontaneous Combustion and light tube and mirror effects
  code/datums/components/omen.dm
Labels: Feature

#77345 Restores some mechs being able to pivot step (move and turn in the same keypress) and diagonal movement
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/gygax.dm
  code/modules/vehicles/mecha/mecha_movement.dm
  code/modules/vehicles/mecha/medical/odysseus.dm
  code/modules/vehicles/mecha/working/clarke.dm
  code/modules/vehicles/mecha/working/ripley.dm
Labels: Fix, Quality of Life

#77370 [no GBP] Goliaths use TRAIT_NO_GLIDE instead of a movement cooldown element
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/elements/move_cooldown.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
  code/modules/movespeed/modifiers/mobs.dm
  tgstation.dme
Labels: Fix, GBP: No Update

#77365 New sprites for bottles
  code/modules/antagonists/cult/cult_items.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  icons/obj/drinks/bottles.dmi
  icons/obj/medical/reagent_fillings.dmi
  icons/obj/weapons/grenade.dmi
Labels: Sprites

#77298 Portals now have a colorful glow
  code/game/objects/effects/portals.dm
  code/modules/events/wormholes.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Quality of Life

#76765 Autowiki Stock Parts Template
  code/modules/autowiki/pages/stockparts.dm
  code/modules/power/cell.dm
  code/modules/research/stock_parts.dm
  tgstation.dme
Labels: Code Improvement

#77348 Fixes DNA Infuser missing from techfab, tech storage
  code/game/objects/effects/spawners/random/techstorage.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#77311 Try waiting for db queries to finish during db shutdown
  code/controllers/subsystem/dbcore.dm
Labels: Test Merge Candidate

#77372 fixes cursor catchers not working without widescreen
  code/datums/components/scope.dm
  code/game/objects/effects/cursor_catcher.dm
Labels: Fix

#77289 Fixed uplink discount stocks affecting normal uplink item stocks
  code/datums/components/uplink.dm
  code/modules/uplink/uplink_items.dm
Labels: Fix

#77325 Add pAI movement freedom when emagged
  code/modules/pai/card.dm
  code/modules/pai/pai.dm
  tgui/packages/tgui/interfaces/PaiCard.tsx
Labels: Feature, UI

#77335 Boss music stops on mob death
  code/datums/components/boss_music.dm
Labels: Fix, GBP: No Update

#77381 Updates bubblegum's blood smack and blood grab to the new sprites
  icons/effects/bubblegum.dmi
Labels: Sprites

#77368 hair resprites (the beginning)
  icons/mob/human/human_face.dmi
Labels: Sprites

#76889 Screentip images
  code/_onclick/hud/hud.dm
  code/datums/screentips/screentips.dm
  code/game/atoms.dm
  code/modules/client/preferences/screentips.dm
  icons/ui_icons/screentips/cursor_hints.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/screentips.tsx
Labels: Sprites, UI, Good First PR, Quality of Life

#77389 Fixes champagne froth icon missing
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
Labels: Fix

#77374 Fixes Cell Message With Mulebots
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Fix, Good First PR

#77364 Removes doubled filling cabnet
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Removal, Map Edit

#77395 Fixes Meta's Xenobio's Windoors
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#77371 BSA Supplies Cargo Crate now comes with a guide paper
  code/modules/cargo/packs/engineering.dm
  code/modules/paperwork/paper_premade.dm
Labels: Quality of Life

#77302 Fixes particle holders sometimes dropping from objects
  code/game/objects/effects/particle_holder.dm
Labels: Fix

#77401 [NO GBP] Fixing a logic mistake for chasm fishing
  code/modules/fishing/fish/chasm_detritus.dm
Labels: Fix, GBP: No Update

#77100 Emagged player-controlled bots now get antagonistic flavor text
  code/__DEFINES/role_preferences.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Feature, Stale

#77137 Optimize mirage_border by converting it to an element and a movable
  code/datums/components/mirage_border.dm
  code/datums/elements/mirage_border.dm
  code/modules/mapping/space_management/space_transition.dm
  tgstation.dme
Labels: Code Improvement, Good First PR

#77202 'Mirrors now display your reflection' Redux.
  code/__DEFINES/traits.dm
  code/datums/components/reflection.dm
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/basic/vermin/space_bat.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  icons/obj/watercloset.dmi
  tgstation.dme
Labels: Sprites

#77242 Fixes former blobs being able to potentially respawn when having their mind transferred to a new body
  code/modules/antagonists/blob/blob_antag.dm
Labels: Fix

#77293 (no gbp) make the bee care more about the polinating
  code/modules/mob/living/basic/farm_animals/bee/_bee.dm
  code/modules/mob/living/basic/farm_animals/bee/bee_ai_behavior.dm
  code/modules/mob/living/basic/farm_animals/bee/bee_ai_subtree.dm
Labels: Fix, GBP: No Update

#77297 [NO GBP] Fix parasitic infection to cure upon liver removal
  code/datums/diseases/_disease.dm
  code/datums/diseases/parasitic_infection.dm
Labels: Fix, GBP: No Update

#77343 [no gbp] Fixes runtimes in shuttle event and shuttle cling
  code/__DEFINES/traits.dm
  code/datums/components/shuttle_cling.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/open/space/transit.dm
  code/modules/shuttle/shuttle_events/_shuttle_events.dm
  code/modules/shuttle/shuttle_events/carp.dm
  code/modules/shuttle/shuttle_events/misc.dm
  code/modules/shuttle/shuttle_events/player_controlled.dm
Labels: Runtime, GBP: No Update

#77393 Fixes things about goliaths: wallhacks/range hacks(no, really) and tentacles not spawning in mineral turfs; also fixes `find_potential_targets` wallhacks
  code/datums/ai/basic_mobs/basic_ai_behaviors/targetting.dm
  code/datums/ai/basic_mobs/targetting_datums/basic_targetting_datum.dm
  code/datums/components/basic_mob_attack_telegraph.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_ai.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath_ai.dm
  code/modules/mob/living/basic/lavaland/goliath/tentacle.dm
Labels: Fix

#77410 Fix engineered stealth viruses being visible [NO GBP]
  code/__DEFINES/diseases.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
Labels: Fix, Code Improvement, GBP: No Update

#77391 Fixed lua-created atoms from hard deleting
  code/modules/admin/verbs/lua/lua_state.dm
  lua/SS13.lua
Labels: Fix

#77200 Moves coroner surgery tools to their surgery duffel
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/medkit.dm
  code/modules/cargo/packs/medical.dm
  code/modules/jobs/job_types/coroner.dm
  code/modules/vending/wardrobes.dm
Labels: Feature, Map Edit

#77390 Add sounds and flashing effects to slot machines
  code/game/machinery/slotmachine.dm
  sound/attributions.txt
  sound/machines/ding_short.ogg
Labels: Sound, Quality of Life

#76985 Nobreath trait now properly allows things to heal oxyloss
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#77162 Species change damage/wound transfer
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix, Stale

#77174 Chen And Garry's Ice Cream: Ice Cream DLC (LIZARD APPROVED!)
  code/__DEFINES/colors.dm
  code/__DEFINES/food.dm
  code/datums/components/food/ice_cream_holder.dm
  code/game/objects/items/food/pastries.dm
  code/modules/food_and_drinks/machinery/icecream_vat.dm
  code/modules/food_and_drinks/restaurant/custom_order.dm
  icons/obj/service/kitchen.dmi
Labels: Sprites, Feature, Code Improvement

#77400 New skinne colors
  code/__HELPERS/mobs.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/bodyparts/helpers.dm
Labels: Feature, Good First PR

#77138 Adds an Indebted negative quirk to the game.
  code/__DEFINES/achievements.dm
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__DEFINES/economy.dm
  code/__DEFINES/quirks.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/quirks/_quirk.dm
  code/datums/quirks/negative_quirks/negative_quirks.dm
  code/datums/records/manifest.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/economy/account.dm
  code/modules/mob/living/carbon/human/human.dm
  icons/mob/clothing/accessories.dmi
  icons/obj/clothing/accessories.dmi
  icons/ui_icons/achievements/achievements.dmi
Labels: Sprites, Feature

#77219 Kills `seconds_per_tick` from status effect `tick`, replaces it with `seconds_between_ticks` to clarify some things
  code/datums/status_effects/_status_effect.dm
  code/datums/status_effects/agent_pinpointer.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs/blindness.dm
  code/datums/status_effects/debuffs/choke.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/status_effects/debuffs/dizziness.dm
  code/datums/status_effects/debuffs/drowsiness.dm
  code/datums/status_effects/debuffs/drunk.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/datums/status_effects/debuffs/genetic_damage.dm
  code/datums/status_effects/debuffs/hallucination.dm
  code/datums/status_effects/debuffs/jitteriness.dm
  code/datums/status_effects/debuffs/screen_blur.dm
  code/datums/status_effects/debuffs/spacer.dm
  code/datums/status_effects/debuffs/terrified.dm
  code/datums/status_effects/gas.dm
  code/datums/status_effects/neutral.dm
  code/datums/status_effects/stacking_effect.dm
  code/datums/status_effects/wound_effects.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_buff.dm
  code/modules/antagonists/heretic/magic/ash_ascension.dm
  code/modules/antagonists/heretic/magic/fire_blast.dm
  code/modules/antagonists/heretic/magic/realignment.dm
  code/modules/antagonists/heretic/magic/star_touch.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/jungle/seedling.dm
  code/modules/religion/burdened/psyker.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/burning.dm
  code/modules/unit_tests/status_effect_ticks.dm
Labels: Stale, Code Improvement

#77398 Duffelbag Resprite!
  icons/mob/clothing/back/backpack.dmi
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
  icons/obj/storage/backpack.dmi
Labels: Sprites

#77308 Removes stray obj/item Metastation
  _maps/map_files/MetaStation/MetaStation.dmm
  tools/maplint/lints/stray_item.yml
Labels: Fix, Tools, Map Edit

#77347 Tons of minor fixes on the Birdshot Library
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Edit, Quality of Life

#77386 Dissection experiments are handled by autopsy surgery. Removes redundant dissection surgery. You can repeat an autopsy on someone who has come back to life.
  code/__DEFINES/dcs/signals/signals_operating_computer.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/machinery/computer/operating_computer.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  code/modules/experisci/experiment/types/autopsy_experiment.dm
  code/modules/experisci/experiment/types/dissection_experiment.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/autopsy.dm
  code/modules/surgery/dissection.dm
  code/modules/surgery/surgery_step.dm
  code/modules/surgery/tools.dm
  tgstation.dme
Labels: Fix, Removal, Quality of Life

#77330 Nukies Update 7: Hats (Also massive uplink standardization, weapon kits and ammo changes)
  _maps/map_files/Basketball/ass_blast_usa.dmm
  _maps/templates/battlecruiser_starfury.dmm
  code/__DEFINES/projectiles.dm
  code/game/objects/effects/spawners/random/clothing.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/crates/large.dm
  code/modules/cargo/packs/imports.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/mapfluff/ruins/spaceruin_code/forgottenship.dm
  code/modules/projectiles/ammunition/ballistic/lmg.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/ammunition/ballistic/smg.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/lmg.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/boxes_magazines/external/toy.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/projectile/bullets/lmg.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/projectiles/projectile/bullets/smg.dm
  code/modules/projectiles/projectile/special/rocket.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
  code/modules/uplink/uplink_items/ammunition.dm
  code/modules/uplink/uplink_items/clownops.dm
  code/modules/uplink/uplink_items/dangerous.dm
  code/modules/uplink/uplink_items/nukeops.dm
  icons/mob/clothing/head/costume.dmi
  icons/obj/clothing/head/costume.dmi
  icons/obj/weapons/guns/ammo.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/77330_common_ammo_caliber_to_weird_caliber.txt
Labels: Sprites, Balance, Feature, Tools, Code Improvement, Map Edit

#77274 make the hive bot a basic bot
  _maps/RandomRuins/SpaceRuins/cyborg_mothership.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/shuttles/ruin_cyborg_mothership.dmm
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_ai.dm
  code/datums/actions/mobs/conjure_foamwall.dm
  code/datums/ai/_ai_controller.dm
  code/datums/elements/appearance_on_aggro.dm
  code/datums/holocall.dm
  code/game/machinery/droneDispenser.dm
  code/game/objects/structures/hivebot.dm
  code/modules/mob/living/basic/space_fauna/hivebot/_hivebot.dm
  code/modules/mob/living/basic/space_fauna/hivebot/hivebot_behavior.dm
  code/modules/mob/living/basic/space_fauna/hivebot/hivebot_subtree.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/77273_hivebots.txt
Labels: Sprites, Tools, Refactor, Map Edit

#77408 [NO GBP] Fixing certain aquarium fish eating other fish when not hungry
  code/modules/fishing/fish/fish_traits.dm
Labels: Fix, GBP: No Update

#77418 Allows for some locs to have spells cast while inside, such as PAI cards (for PAIs), AI cards (for AIs), and mechas
  code/__DEFINES/traits.dm
  code/datums/mutations/cold.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/devices/aicard.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/antagonists/heretic/magic/aggressive_spread.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/antagonists/wizard/equipment/enchanted_clown_suit.dm
  code/modules/pai/card.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/aoe_spell/_aoe_spell.dm
  code/modules/spells/spell_types/aoe_spell/area_conversion.dm
  code/modules/spells/spell_types/aoe_spell/knock.dm
  code/modules/spells/spell_types/aoe_spell/repulse.dm
  code/modules/spells/spell_types/conjure/_conjure.dm
  code/modules/spells/spell_types/conjure_item/_conjure_item.dm
  code/modules/spells/spell_types/conjure_item/infinite_guns.dm
  code/modules/spells/spell_types/conjure_item/invisible_box.dm
  code/modules/spells/spell_types/conjure_item/lighting_packet.dm
  code/modules/spells/spell_types/conjure_item/snowball.dm
  code/modules/spells/spell_types/pointed/_pointed.dm
  code/modules/spells/spell_types/self/basic_heal.dm
  code/modules/vehicles/_vehicle.dm
Labels: Feature

#77420 Fishing bait tweaks.
  code/__DEFINES/fishing.dm
  code/__DEFINES/traits.dm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/food/bait.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
Labels: Balance, Quality of Life

#77096 Adds a score award that counts how many achievements you've unlocked.
  code/__DEFINES/achievements.dm
  code/__HELPERS/cmp.dm
  code/datums/achievements/_achievement_data.dm
  code/datums/achievements/_awards.dm
  icons/ui_icons/achievements/achievements.dmi
Labels: Sprites, Merge Conflict, Feature, Stale

#77434 [NO GBP] Fixes basic mobs freezing up when in melee range of a target
  code/datums/ai/basic_mobs/targetting_datums/basic_targetting_datum.dm
Labels: Fix, Verified :heavy_check_mark:, GBP: No Update

#77432 Alert a Discord role when a new player joins
  code/controllers/configuration/entries/game_options.dm
  code/modules/client/client_procs.dm
  code/modules/tgui_panel/telemetry.dm
  config/config.txt
Labels: Administration, Config Update

#77392 Adds Unit Tests for Radio Messages
  code/modules/unit_tests/say.dm
Labels: Code Improvement, Unit Tests

#77226 Geode Pirate Fixes
  _maps/shuttles/pirate_geode.dmm
Labels: Balance, Fix, Map Edit

#77430 Re-added lights to the tramstation kitchen
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#77424 resprites all soda cans, adds wellcheers juice
  code/datums/mood_events/drink_events.dm
  code/modules/food_and_drinks/recipes/drinks/drinks_alcoholic.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/reagent_containers/cups/soda.dm
  code/modules/vending/cola.dm
  icons/mob/inhands/items/drinks_lefthand.dmi
  icons/mob/inhands/items/drinks_righthand.dmi
  icons/obj/drinks/drink_effects.dmi
  icons/obj/drinks/soda.dmi
  icons/obj/service/janitor.dmi
  icons/obj/storage/storage.dmi
Labels: Sprites, Feature

#77428 Gives cake cats their wagging abilities
  icons/mob/pets.dmi
  icons/mob/simple/pets.dmi
Labels: Sprites

#77061 Removes armor bloat from sec lockers
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/vending/wardrobes.dm
Labels: Balance, Removal, Stale

#77461 fixes virology typo
  code/datums/diseases/advance/symptoms/itching.dm
Labels: Grammar and Formatting

#77454 Missing object Added
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Map Edit

#77383 Anomaly gear: Polymorphic Field Inverter
  code/__DEFINES/traits.dm
  code/modules/clothing/belts/polymorph_belt.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/types/scanning_people.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/spells/spell_types/shapeshift/_shapeshift.dm
  icons/mob/clothing/belt.dmi
  icons/obj/clothing/belts.dmi
  tgstation.dme
Labels: Sprites, Feature

#77344 Fixes gibtonite explosions producing flames and flashes
  code/game/turfs/closed/minerals.dm
  code/modules/mining/ores_coins.dm
Labels: Fix

#77322 Polishing the greyscale modify menu's lackluster support for non-atom targets.
  code/modules/admin/greyscale_modify_menu.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/tgui/states/greyscale_menu.dm
  code/modules/vending/_vending.dm
Labels: Code Improvement

#76881 Adds the ability to jam cigarettes into the filter slot of a gas mask
  code/game/objects/items/cigs_lighters.dm
  code/modules/clothing/masks/gasmask.dm
Labels: Feature

#77453 Fix MetaStation APC Kitchen Wiring
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#77196 Adds Summon Simians & Buffs/QoLs Mutate
  code/datums/ai/monkey/monkey_behaviors.dm
  code/datums/ai/monkey/monkey_controller.dm
  code/datums/components/twohanded.dm
  code/datums/mutations/hulk.dm
  code/datums/mutations/sight.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/offensive.dm
  code/modules/clothing/head/mind_monkey_helmet.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/conjure/simian.dm
  code/modules/spells/spell_types/self/mutate.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/mob/actions/actions_spells.dmi
  tgstation.dme
Labels: Sprites, Balance, Feature, Code Improvement

#77366 Biogenerators can be unwrenched
  code/modules/hydroponics/biogenerator.dm
Labels: Quality of Life

#76692 Spider Evolution - Young Spiders [Ready]
  code/datums/actions/mobs/defensive_mode.dm
  code/datums/elements/bonus_damage.dm
  code/datums/elements/tear_wall.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spider_variants.dm
  code/modules/mob/living/basic/space_fauna/spider/spiderlings/spiderling.dm
  code/modules/mob/living/basic/space_fauna/spider/spiderlings/spiderling_subtypes.dm
  code/modules/mob/living/basic/space_fauna/spider/young_spider/young_spider.dm
  code/modules/mob/living/basic/space_fauna/spider/young_spider/young_spider_subtypes.dm
  code/modules/mob_spawn/ghost_roles/spider_roles.dm
  code/modules/movespeed/modifiers/mobs.dm
  icons/mob/actions/actions_animal.dmi
  icons/mob/simple/arachnoid.dmi
  tgstation.dme
Labels: Sprites, Feature

#77452 Adds the Storage Implanter to the spy kit.
  code/game/objects/items/storage/uplink_kits.dm
Labels: Balance, Feature, Good First PR

#77188 Add admin blackhole(s) shuttle event
  code/datums/components/shuttle_cling.dm
  code/modules/power/singularity/singularity.dm
  code/modules/shuttle/shuttle_events/misc.dm
Labels: Feature, Fix

#77474 Fix double send of `COMSIG_GLOB_CREWMEMBER_JOINED` for latejoins
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix

#77468 Fixes some lua problems, specifically with qdeling callbacks and adds lua utility functions
  code/modules/admin/verbs/lua/README.md
  code/modules/admin/verbs/lua/lua_state.dm
  lua/SS13.lua
Labels: Administration

#77465 Crafting recipes without an explicit name are now named after their results.
  code/datums/components/crafting/_recipes.dm
  code/datums/components/crafting/crafting.dm
  code/game/objects/items/granters/crafting/_crafting_granter.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_guide.dm
Labels: Fix

#77443 Fixing an oversight with processable items that leads to the same chat message being sent multiple times
  code/game/atoms.dm
Labels: Fix

#77477 [NO GBP] Fixes custom ice cream
  code/__DEFINES/food.dm
  code/datums/components/food/ice_cream_holder.dm
Labels: GBP: No Update

#77327 Makes the bulbs of lights emissive
  code/modules/power/lighting/light.dm
Labels: Fix

#77481 Fixes a runtime in lobstrosity `run_away_from_target` behavior
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
Labels: Verified :heavy_check_mark:

#77416 Changeling armblade gets 35% armour penetration + better wounding.
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Balance

#77385 Drill module automatically disables if it's about to drill into gibtonite
  code/modules/mod/modules/modules_supply.dm
Labels: Quality of Life

#77472 Fixes wizard fake challenges not showing up
  code/modules/antagonists/wizard/equipment/spellbook_entries/challenges.dm
Labels: Fix, GBP: No Update

#77244 removes dextrous_hud_type and healable var
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/_onclick/hud/generic_dextrous.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/basic/space_fauna/demon/demon.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/living/simple_animal/hostile/constructs/constructs.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/mob/living/simple_animal/hostile/heretic_monsters.dm
  code/modules/mob/living/simple_animal/hostile/morph.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
  code/modules/mob/living/simple_animal/hostile/smspider.dm
  code/modules/mob/living/simple_animal/revenant.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/surgery/healing.dm
Labels: Removal, Code Improvement

#77445 Fixes FRAG-12 recipe leaving reagents in the beaker after crafting
  code/datums/components/crafting/weapon_ammo.dm
Labels: Fix

#77455 Fixing an oddity with morgue corpses ( or rather, appears_alive() )
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/status_procs.dm
Labels: Fix

#77446 [NO GBP] Mirror reflections no longer display progress bars or runechat.
  code/datums/components/reflection.dm
Labels: Fix, GBP: No Update

#77423 ninja energy net uses a projectile
  code/modules/antagonists/ninja/energy_net_nets.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/mod/modules/modules_ninja.dm
  icons/effects/beam.dmi
  icons/obj/clothing/modsuit/mod_modules.dmi
Labels: Sprites, Balance

#77450 Setting a few things straight with embedding and caseless ammo.
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/elements/caseless.dm
  code/datums/elements/embed.dm
  code/game/objects/items/robot/items/food.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_quivers.dm
  code/modules/projectiles/projectile/bullets/foam_dart.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Balance, Fix, Quality of Life

#76732 Multi-tile airlocks
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/RandomRuins/SpaceRuins/the_outlet.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/templates/battlecruiser_starfury.dmm
  _maps/templates/lazy_templates/nukie_base.dmm
  code/__HELPERS/icons.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_types.dm
  code/game/machinery/doors/door.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/door_assembly_types.dm
  code/modules/industrial_lift/tram/tram_doors.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/76732_multi-tile_airlocks.txt
Labels: Fix, Tools, Stale, Map Edit

#77063 Makes Password door sounds not hardcoded.
  code/game/machinery/doors/passworddoor.dm
Labels: Stale, Code Improvement

#77488 Fix copy/paste error in Independence Day of Ukraine holiday code
  code/modules/holiday/holidays.dm
Labels: Fix

#77483 fire extinguisher typo fix
  code/game/objects/items/extinguisher.dm
Labels: Grammar and Formatting

#75988 Martian Food: A Taste of the Red Planet
  code/__DEFINES/construction.dm
  code/game/machinery/computer/orders/order_items/cook/order_milk_eggs.dm
  code/game/machinery/computer/orders/order_items/cook/order_reagents.dm
  code/game/machinery/computer/orders/order_items/cook/order_veggies.dm
  code/game/objects/items/food/martian.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/packaged.dm
  code/game/objects/items/food/snacks.dm
  code/game/objects/items/trash.dm
  code/modules/autowiki/pages/soup.dm
  code/modules/food_and_drinks/machinery/stove.dm
  code/modules/food_and_drinks/recipes/drinks/drinks_alcoholic.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/soup_guide.dm
  code/modules/food_and_drinks/recipes/soup_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_guide.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_martian.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/dairy.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/mixed_alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/sodas.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/condiment.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/reagents/reagent_containers/cups/soda.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cola.dm
  code/modules/vending/snack.dm
  icons/obj/drinks/bottles.dmi
  icons/obj/drinks/boxes.dmi
  icons/obj/drinks/drinks.dmi
  icons/obj/drinks/mixed_drinks.dmi
  icons/obj/drinks/soda.dmi
  icons/obj/food/canned.dmi
  icons/obj/food/containers.dmi
  icons/obj/food/food.dmi
  icons/obj/food/frozen_treats.dmi
  icons/obj/food/martian.dmi
  icons/obj/service/janitor.dmi
  tgstation.dme
Labels: Sprites, Feature

#77498 fixes kinesis not actually immobilizing or blocking hands of grabbed mobs
  code/modules/mod/modules/module_kinesis.dm
Labels: Fix

#77500 Fix antimagic effect never expiring
  code/controllers/subsystem/timer.dm
  code/modules/mob/mob.dm
Labels: Fix, GBP: No Update

#77442 T
  code/modules/food_and_drinks/recipes/drinks/drinks_non-alcoholic.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/coffee_tea.dm
  icons/obj/drinks/mixed_drinks.dmi
Labels: Sprites, Feature
