Repository tgstation/tgstation, pull requests merged in 2023-11, with the labels that each got.

#79322 Nullchecks Client on `tgui_alert()` and siblings
  code/modules/tgui_input/alert.dm
  code/modules/tgui_input/checkboxes.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/text.dm
Labels: Fix

#79300 Every kind of animal can hallucinate their mother
  code/modules/hallucination/mother.dm
Labels: Fix

#79341 Makes stack trace errors set file and line number to caller
  code/__DEFINES/stack_trace.dm
  code/__HELPERS/stack_trace.dm
  code/modules/error_handler/error_handler.dm
Labels: BYOND Issue, Fix

#79399 Remove duplicate northstar message monitor computer
  _maps/map_files/NorthStar/north_star.dmm
Labels: Fix, Removal, Map Edit

#79402 Remove duplicate machinery from icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Removal, Map Edit

#79409 Remove duplicate machinery from russian derelict
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
Labels: Fix, Removal, Map Edit

#79408 Remove duplicate syndi turret on waystation ruin
  _maps/RandomRuins/SpaceRuins/waystation.dmm
Labels: Fix, Removal, Map Edit

#79403 Remove duplicate HoP shutter from birdshot
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Removal, Map Edit

#79420 Steam vent tooltips
  code/game/objects/structures/maintenance.dm
Labels: Quality of Life

#79343 Allows RPD Upgrade Disks to be installed by hand
  code/game/objects/items/rcd/RPD.dm
Labels: Quality of Life

#79375 Plumbing Bottler deals with specific container types
  code/modules/plumbing/plumbers/bottler.dm
Labels: Fix

#79299 Security Pen and Penlight improvement
  code/__DEFINES/inventory.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/paperwork/pen.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/effects/effects.dmi
  icons/obj/lighting.dmi
  icons/obj/service/bureaucracy.dmi
  strings/tips.txt
Labels: Sprites, Code Improvement, Quality of Life

#79425 Basic Constructs: Proteon
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/SpaceRuins/clericden.dmm
  _maps/RandomRuins/SpaceRuins/the_outlet.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/shuttles/whiteship_obelisk.dmm
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/is_helpers.dm
  code/_globalvars/lists/mobs.dm
  code/_globalvars/phobias.dm
  code/_onclick/hud/alert.dm
  code/game/objects/structures/traps.dm
  code/modules/antagonists/cult/cult_structures.dm
  code/modules/mapfluff/ruins/spaceruin_code/clericsden.dm
  code/modules/mob/living/basic/constructs/_construct.dm
  code/modules/mob/living/basic/constructs/construct_ai.dm
  code/modules/mob/living/basic/constructs/proteon.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon_ai.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/constructs/constructs.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/transform_procs.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/00000_simple_to_basic_construct_proteon.txt
Labels: Tools, Refactor, Map Edit

#79441 basic mobs use their disarm response when shoved by humans
  code/modules/mob/living/basic/basic_defense.dm
Labels: Grammar and Formatting

#79434 Emote Panel TGUI
  code/datums/emotes.dm
  code/modules/emote_panel/emote_panel.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/emote.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/EmotePanel.tsx
Labels: Feature, UI

#79474 Revert "Emote Panel TGUI"
  code/datums/emotes.dm
  code/modules/emote_panel/emote_panel.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/emote.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/EmotePanel.tsx
Labels: UI, Revert

#79448 Fixes a bug that caused space dragon's carp to often die in one hit (especially against lasers)
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
Labels: Fix

#79424 Removes virtual-specific megafauna, fixes boss map issues [NO GBP]
  _maps/virtual_domains/ash_drake.dmm
  _maps/virtual_domains/blood_drunk_miner.dmm
  _maps/virtual_domains/bubblegum.dmm
  _maps/virtual_domains/colossus.dmm
  _maps/virtual_domains/hierophant.dmm
  _maps/virtual_domains/wendigo.dmm
  code/modules/bitrunning/components/virtual_elite_mob.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/bitrunning/virtual_domain/domains/ash_drake.dm
  code/modules/bitrunning/virtual_domain/domains/blood_drunk_miner.dm
  code/modules/bitrunning/virtual_domain/domains/bubblegum.dm
  code/modules/bitrunning/virtual_domain/domains/colossus.dm
  code/modules/bitrunning/virtual_domain/domains/hierophant.dm
  code/modules/bitrunning/virtual_domain/domains/legion.dm
  code/modules/bitrunning/virtual_domain/domains/wendigo.dm
  code/modules/mob/living/living_defines.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Fix, Removal, Map Edit, GBP: No Update

#79426 Cleans up signal use in bitrunning [NO GBP]
  code/__DEFINES/dcs/signals/signals_bitrunning.dm
  code/modules/bitrunning/alerts.dm
  code/modules/bitrunning/components/avatar_connection.dm
  code/modules/bitrunning/objects/hololadder.dm
  code/modules/bitrunning/objects/netpod.dm
  code/modules/bitrunning/objects/quantum_console.dm
  code/modules/bitrunning/server/loot.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/quantum_server.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/server/util.dm
  tgstation.dme
Labels: Refactor, GBP: No Update

#79428 Mobs will not path into dangerous turfs.
  code/_globalvars/lists/mobs.dm
  code/datums/ai/idle_behaviors/idle_random_walk.dm
  code/datums/ai/movement/ai_movement_basic_avoidance.dm
  code/datums/ai/movement/ai_movement_dumb.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
Labels: Fix

#79439 Changelings take much longer to revive when killed by Megafauna
  code/modules/antagonists/changeling/powers/fakedeath.dm
Labels: Balance

#79447 Allows possessed blades to be possessed again [NO GBP]
  code/datums/components/spirit_holding.dm
Labels: Fix, GBP: No Update

#79451 Fixes heretic bitrunner issue [NO GBP]
  code/modules/antagonists/heretic/heretic_antag.dm
Labels: Fix, GBP: No Update

#79453 Fixes eavesdropping on sillycons
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#79454 Boot occupants now perform unarmed attacks
  code/modules/clothing/shoes/cowboy.dm
Labels: Code Improvement

#79440 Changes the description of mothic rations poster (lore pr) (very important)
  code/game/objects/effects/posters/contraband.dm
Labels: Grammar and Formatting

#79377 Fixes turrets being invisible
  code/__DEFINES/sight.dm
  code/game/atoms.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_cover.dm
Labels: Fix

#79404 Fix autosurgeons not respecting implant time
  code/modules/surgery/organs/autosurgeon.dm
Labels: Fix

#79442 [no gbp] venus human traps actually heal in kudzu
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
Labels: Fix, GBP: No Update

#79430 Gorilla and dexterity holoparasite can now take things out of the backpack while holding it in his hand.
  code/datums/elements/dextrous.dm
Labels: Fix

#79414 swaps one of the fridges in snowcabin to be in line with the rest
  _maps/RandomZLevels/SnowCabin.dmm
Labels: Map Edit

#79405 Remove duplicate machinery from meta
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Removal, Map Edit

#79458 Removes a coffeepot from birdshots security breakroom
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Removal, Map Edit

#79432 Wall smashing > Wall tearing
  code/datums/elements/tear_wall.dm
  code/datums/elements/wall_tearer.dm
  code/modules/antagonists/heretic/magic/ascended_shapeshift.dm
  code/modules/mob/living/basic/constructs/_construct.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla.dm
  code/modules/mob/living/basic/jungle/seedling/seedling.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
  code/modules/mob/living/basic/lavaland/mook/mook.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/fugu_gland.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/inflation.dm
  tgstation.dme
Labels: Balance

#79471 Fixes observer mind selection [NO GBP]
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Fix, GBP: No Update

#79423 Removes virtual-specific subtypes of drinking glass + adds a new fishing map
  _maps/virtual_domains/beach_bar.dmm
  _maps/virtual_domains/breeze_bay.dmm
  code/modules/bitrunning/components/bitrunning_points.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/bitrunning/virtual_domain/domains/beach_bar.dm
  code/modules/bitrunning/virtual_domain/domains/breeze_bay.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
  tgstation.dme
Labels: Feature, Removal, Map Edit

#79467 Renames simple to basic proteon UpdatePaths script
  tools/UpdatePaths/Scripts/79425_simple_to_basic_construct_proteon.txt
Labels: Tools

#79389 Standardizes Adding Datum Actions into a proc/define (Bonus AI Support) (Bonus Useless Code Cleanup)
  code/__DEFINES/actions.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/modules/mob/living/basic/clown/clown.dm
  code/modules/mob/living/basic/constructs/_construct.dm
  code/modules/mob/living/basic/constructs/artificer.dm
  code/modules/mob/living/basic/constructs/juggernaut.dm
  code/modules/mob/living/basic/festivus_pole.dm
  code/modules/mob/living/basic/heretic/_heretic_summon.dm
  code/modules/mob/living/basic/heretic/ash_spirit.dm
  code/modules/mob/living/basic/heretic/flesh_stalker.dm
  code/modules/mob/living/basic/heretic/maid_in_the_mirror.dm
  code/modules/mob/living/basic/heretic/raw_prophet.dm
  code/modules/mob/living/basic/heretic/rust_walker.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon.dm
  code/modules/mob/living/basic/icemoon/ice_whelp/ice_whelp.dm
  code/modules/mob/living/basic/jungle/mega_arachnid/mega_arachnid.dm
  code/modules/mob/living/basic/jungle/seedling/seedling.dm
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
  code/modules/mob/living/basic/lavaland/bileworm/_bileworm.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/basic/lavaland/mook/mook.dm
  code/modules/mob/living/basic/minebots/minebot.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/changeling/flesh_spider.dm
  code/modules/mob/living/basic/space_fauna/demon/demon_subtypes.dm
  code/modules/mob/living/basic/space_fauna/eyeball/_eyeball.dm
  code/modules/mob/living/basic/space_fauna/hivebot/_hivebot.dm
  code/modules/mob/living/basic/space_fauna/meteor_heart/meteor_heart.dm
  code/modules/mob/living/basic/space_fauna/netherworld/creature.dm
  code/modules/mob/living/basic/space_fauna/paper_wizard/paper_wizard.dm
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob/living/basic/space_fauna/spider/young_spider/young_spider_subtypes.dm
  code/modules/mob/living/basic/space_fauna/statue/statue.dm
  code/modules/mob/living/carbon/alien/adult/caste/drone.dm
  code/modules/mob/living/carbon/alien/adult/caste/praetorian.dm
  code/modules/mob/living/carbon/alien/adult/caste/sentinel.dm
  code/modules/mob/living/carbon/alien/adult/queen.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/mob/living/simple_animal/hostile/vatbeast.dm
  code/modules/mob/living/simple_animal/hostile/wizard.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/mob/mob_helpers.dm
  tgstation.dme
Labels: Refactor

#79452 Better feedback on fulton extraction
  code/modules/mining/fulton.dm
Labels: Fix

#79459 Fixes Virology bounties
  code/modules/cargo/bounties/virus.dm
Labels: Fix

#79356 Allows TGUI labelled lists to use tooltips, and enables this behavior on preferencelists + adds descs to most character preferences
  code/modules/client/preferences/README.md
  tgui/packages/tgui/components/LabeledList.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/ai_emote_display.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/ai_hologram_display.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/pda.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/persistent_scars.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/playtime_reward_cloak.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/prisoner_crime.tsx
Labels: UI, Quality of Life

#79495 Caches data for paintings we have saved
  code/controllers/subsystem/persistent_paintings.dm
Labels: Fix, FUCK, Priority: High

#79461 Fix admins without `R_POLL` getting (an unusable) poll verb
  code/modules/admin/admin_verbs.dm
Labels: Administration

#79456 Makes softspoken quirk no longer apply when using sign language
  code/modules/mob/living/living_say.dm
Labels: Fix

#79469 Basic Shades
  code/__DEFINES/is_helpers.dm
  code/_globalvars/phobias.dm
  code/datums/components/spirit_holding.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/library/bibles.dm
  code/modules/mob/living/basic/cult/constructs/_construct.dm
  code/modules/mob/living/basic/cult/constructs/artificer.dm
  code/modules/mob/living/basic/cult/constructs/construct_ai.dm
  code/modules/mob/living/basic/cult/constructs/harvester.dm
  code/modules/mob/living/basic/cult/constructs/juggernaut.dm
  code/modules/mob/living/basic/cult/constructs/proteon.dm
  code/modules/mob/living/basic/cult/constructs/wraith.dm
  code/modules/mob/living/basic/cult/shade.dm
  code/modules/mob/transform_procs.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Refactor

#79457 Fixes labcoats having the wrong sprites when thrown
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/datums/greyscale/json_configs/labcoat.json
  code/datums/greyscale/json_configs/labcoat_worn.json
  icons/obj/clothing/suits/labcoat.dmi
Labels: Sprites, Fix

#79490 Reworks Rolling Table Code
  code/game/objects/structures/tables_racks.dm
Labels: Fix, Code Improvement

#79358 Add fingerprint data for holobarriers
  code/game/objects/items/holosign_creator.dm
Labels: Administration

#79382 Port salute emote sound from CM SS13
  code/modules/mob/living/carbon/human/emote.dm
  sound/misc/salute.ogg
Labels: Sound

#79504 [NO GBP] Retain filtering capabilities for paintings
  code/controllers/subsystem/persistent_paintings.dm
Labels: Fix, GBP: No Update

#79476 Basic Wizards
  code/__DEFINES/ai/monsters.dm
  code/_globalvars/phobias.dm
  code/modules/mob/living/basic/ruin_defender/wizard/wizard.dm
  code/modules/mob/living/basic/ruin_defender/wizard/wizard_ai.dm
  code/modules/mob/living/basic/ruin_defender/wizard/wizard_spells.dm
  code/modules/mob/living/simple_animal/hostile/wizard.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/79476_simple_to_basic_wizard.txt
Labels: Tools, Refactor

#79493 prevents infinite paper glitch in HFR framework
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
Labels: Fix

#79410 Remove duplicate lighting from beach bar domain
  _maps/virtual_domains/beach_bar.dmm
Labels: Fix, Removal, Map Edit

#79500 [no gbp] Don't try and have a status effect destroy walls
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/inflation.dm
Labels: Fix, GBP: No Update

#79505 Initializes on_finish_callbacks in the JPS move loop
  code/controllers/subsystem/movement/movement_types.dm
Labels: Fix

#79315 Station announcements cleanup
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/nightshift.dm
  code/controllers/subsystem/shuttle.dm
  code/datums/components/cult_ritual_item.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/verbs/adminevents.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/knock_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/antagonists/wizard/grand_ritual/finales/cheese.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/processor_overload.dm
  code/modules/events/radiation_leak.dm
  code/modules/events/scrubber_overflow.dm
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
  code/modules/events/tram_malfunction.dm
  code/modules/hallucination/station_message.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
  code/modules/shuttle/emergency.dm
  code/modules/spells/spell_types/shapeshift/_shapeshift.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Grammar and Formatting, Stale, UI, Code Improvement

#79348 Mafia now starts without admin intervention
  _maps/map_files/Mafia/mafia_ayylmao.dmm
  _maps/map_files/Mafia/mafia_ball.dmm
  _maps/map_files/Mafia/mafia_gothic.dmm
  _maps/map_files/Mafia/mafia_lavaland.dmm
  _maps/map_files/Mafia/mafia_snow.dmm
  _maps/map_files/Mafia/mafia_spiderclan.dmm
  _maps/map_files/Mafia/mafia_syndie.dmm
  _maps/map_files/Mafia/mafia_unit_test.dmm
  code/__HELPERS/_lists.dm
  code/datums/mapgen/_MapGenerator.dm
  code/datums/mocking/client.dm
  code/modules/mafia/controller.dm
  code/modules/mafia/controller_ui.dm
  code/modules/mafia/map_pieces.dm
  code/modules/mafia/roles/roles.dm
  code/modules/mapping/map_template.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/computers/item/laptop_presets.dm
  code/modules/modular_computers/file_system/programs/mafia_ntos.dm
  code/modules/procedural_mapping/mapGenerator.dm
  code/modules/procedural_mapping/mapGeneratorModule.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/mafia.dm
  tgstation.dme
Labels: Fix, Map Edit, Unit Tests

#79244 The OpenDream TGUI fix
  tgui/public/tgui.html
Labels: Stale, UI, Test Merge Candidate

#79290 Split persistence into subfiles
  code/controllers/subsystem/persistence.dm
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/persistence/counter_delamination.dm
  code/controllers/subsystem/persistence/counter_tram_hits.dm
  code/controllers/subsystem/persistence/custom_outfits.dm
  code/controllers/subsystem/persistence/engravings.dm
  code/controllers/subsystem/persistence/photo_albums.dm
  code/controllers/subsystem/persistence/recipes.dm
  code/controllers/subsystem/persistence/scars.dm
  code/controllers/subsystem/persistence/tattoos.dm
  code/controllers/subsystem/persistence/trophies.dm
  tgstation.dme
Labels: Stale

#79478 Re-adds rounding tweaks for reagent volumes & plumbing reaction chamber tweaks
  code/__DEFINES/reagents.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/reaction_chamber.dm
  code/game/atoms.dm
  code/modules/plumbing/plumbers/bottler.dm
  code/modules/plumbing/plumbers/pill_press.dm
  code/modules/plumbing/plumbers/reaction_chamber.dm
  code/modules/reagents/chemistry/equilibrium.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/dropper.dm
Labels: Fix, 📌 Test Merge Candidate

#79219 Coloured holobarriers
  code/game/objects/items/holosign_creator.dm
Labels: Quality of Life

#79320 Converts some notify_ghosts args to bitflags, multilines all notify_ghosts calls
  code/__DEFINES/observers.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/components/cult_ritual_item.dm
  code/datums/components/deadchat_control.dm
  code/datums/components/energized.dm
  code/datums/components/food/ghost_edible.dm
  code/datums/components/orbit_poll.dm
  code/datums/components/supermatter_crystal.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/devices/reverse_bear_trap.dm
  code/game/objects/items/eightball.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/hot_potato.dm
  code/game/objects/items/implants/implant_explosive.dm
  code/game/objects/structures/spirit_board.dm
  code/modules/antagonists/blob/blob_antag.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/traitor/objectives/eyesnatching.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_procs.dm
  code/modules/basketball/controller.dm
  code/modules/capture_the_flag/ctf_controller.dm
  code/modules/capture_the_flag/ctf_game.dm
  code/modules/events/_event.dm
  code/modules/events/earthquake.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/mapfluff/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/basic/drone/drones_as_items.dm
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob_spawn/ghost_roles/golem_roles.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/ghost_roles/spider_roles.dm
  code/modules/mob_spawn/ghost_roles/venus_human_trap.dm
  code/modules/pai/card.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/shuttle/battlecruiser_starfury.dm
  code/modules/station_goals/bsa.dm
  code/modules/surgery/organs/internal/appendix/_appendix.dm
  code/modules/uplink/uplink_items/badass.dm
  tgstation.dme
Labels: Code Improvement, Quality of Life

#79237 new wizard ability and basic leaper refactor
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/research.dm
  code/__DEFINES/vehicles.dm
  code/_globalvars/lists/xenobiology.dm
  code/datums/ai/basic_mobs/basic_subtrees/go_for_swim.dm
  code/datums/components/explode_on_attack.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/datums/components/riding/riding.dm
  code/datums/components/riding/riding_mob.dm
  code/game/objects/items/frog_statue.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/offensive.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon_abilities.dm
  code/modules/mob/living/basic/jungle/leaper/leaper.dm
  code/modules/mob/living/basic/jungle/leaper/leaper_abilities.dm
  code/modules/mob/living/basic/jungle/leaper/leaper_ai.dm
  code/modules/mob/living/basic/vermin/crab.dm
  code/modules/mob/living/basic/vermin/frog.dm
  code/modules/mob/living/simple_animal/hostile/jungle/_jungle_mobs.dm
  code/modules/mob/living/simple_animal/hostile/jungle/leaper.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/spells/spell_types/conjure/_conjure.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/effects/effects.dmi
  icons/mob/simple/jungle/leaper.dmi
  icons/obj/weapons/guns/magic.dmi
  sound/items/frog_statue_release.ogg
  tgstation.dme
Labels: Sprites, Sound, Feature, Refactor, Stale

#79249 Golems cannot turn into Plasmamen
  code/__DEFINES/surgery.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/game/turfs/open/lava.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/lavaland/mining.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/status_procs.dm
  code/modules/mob/living/status_procs.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/plasmaman_bodyparts.dm
Labels: Balance, Fix

#79443 You can fish out of hydroponics trays
  code/__DEFINES/botany.dm
  code/datums/components/fishing_spot.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/korta_nut.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/mushrooms.dm
  code/modules/hydroponics/grown/pumpkin.dm
  code/modules/hydroponics/grown/tea_coffee.dm
  code/modules/hydroponics/grown/tobacco.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/hydroponics/grown/towercap.dm
  code/modules/hydroponics/grown/weeds/nettle.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/mining/lavaland/ash_flora.dm
Labels: Feature

#79520 Fix refresh button in log viewer
  code/game/world.dm
  code/modules/logging/log_holder.dm
Labels: Fix, Good First PR

#79422 Adds some trailing commas to lists, fixes typo
  code/modules/cargo/orderconsole.dm
  code/modules/shuttle/supply.dm
Labels: Code Improvement

#79526 Drunken Blackout cannot be gained randomly.
  code/datums/brain_damage/split_personality.dm
Labels: Fix

#79511 Makes tails stop wagging in death
  code/modules/surgery/organs/external/tails.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/tail_wag.dm
Labels: Fix, Unit Tests

#79555 Fixes mafia achievements desyncing you from the database
  code/modules/mafia/controller.dm
Labels: Runtime, Priority: High

#79515 Makes paraplegic no longer exclusive with spacer/settler
  code/controllers/subsystem/processing/quirks.dm
Labels: Balance

#79499 Fix incorrect metabolization rates in chem dispenser's reagent lookup
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#79532 Adds Maltroach bar sign!
  code/game/machinery/barsigns.dm
  icons/obj/machines/barsigns.dmi
Labels: Sprites, Feature

#79455 [No GBP] Traders use Pick() to select their first customer
  code/datums/ai/generic/find_and_set.dm
Labels: GBP: No Update

#79475 Makes notepad available for laptops and consoles
  code/modules/modular_computers/file_system/programs/notepad.dm
Labels: Good First PR, Quality of Life

#79229 Walls built next to firelocks no longer hold onto their alarms
  code/game/machinery/doors/firedoor.dm
Labels: Fix, Stale

#79365 Improve emote help text display
  code/modules/mob/emote.dm
Labels: Stale, Quality of Life

#79534 Fixes synthflesh not causing toxin damage on healing brute/burn.
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
Labels: Fix

#79540 Improves slip component docs
  code/datums/components/slippery.dm
Labels: Documentation

#79393 Fix light eater affecting lava, space, openspace, and transparent turfs
  code/datums/elements/light_eater.dm
Labels: Do Not Merge, Fix

#79412 Adds a user type to integrated circuits, refactors the list pick component.
  code/__DEFINES/traits.dm
  code/__DEFINES/wiremod.dm
  code/controllers/subsystem/circuit_component.dm
  code/modules/tgui_input/list.dm
  code/modules/wiremod/components/list/assoc_list_pick.dm
  code/modules/wiremod/components/list/assoc_literal.dm
  code/modules/wiremod/components/list/list_pick.dm
  code/modules/wiremod/datatypes/datum.dm
  code/modules/wiremod/datatypes/entity.dm
  code/modules/wiremod/datatypes/user.dm
  code/modules/wiremod/shell/bot.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
  code/modules/wiremod/shell/controller.dm
  code/modules/wiremod/shell/keyboard.dm
  code/modules/wiremod/shell/module.dm
  code/modules/wiremod/shell/moneybot.dm
  tgstation.dme
Labels: Feature, Refactor

#79283 Fix some tramstation decals not using station colors
  code/game/turfs/open/floor/misc_floor.dm
Labels: Fix, Stale

#79529 Fixes Shaving Beards + Mirror Code Improvement
  code/game/objects/structures/mirror.dm
Labels: Fix

#79503 Increment icon smoothing MAX_S_TURF define
  code/__DEFINES/icon_smoothing.dm
Labels: Fix

#79416 Lightswitches have tooltips and can be deconstructed.
  code/game/machinery/lightswitch.dm
Labels: Quality of Life

#79539 Bitrunner job config
  config/jobconfig.toml
Labels: Config Update

#79553 All vehicles can no longer cross Force Fields
  code/modules/power/singularity/containment_field.dm
Labels: Fix

#79552 Slimes can only reproduce out in the open
  code/modules/mob/living/simple_animal/slime/powers.dm
Labels: Fix, Code Improvement

#79548 Being drunk gives a chance to harm yourself when working out
  code/game/objects/structures/gym/weight_machine.dm
Labels: Feature

#79538 Reverts reverted toast icons
  code/__HELPERS/icons.dm
  code/modules/buildmode/buildmode.dm
  code/modules/mob/mob_helpers.dm
Labels: Fix, Revert

#79557 sets the leaper move and pull forces to strong
  code/modules/mob/living/basic/jungle/leaper/leaper.dm
Labels: Balance, GBP: No Update

#79562 Fixes deleted organs trying to get infected from the owner
  code/modules/surgery/organs/_organ.dm
Labels: Fix

#79512 Locker deconstruction message spellcheck
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Grammar and Formatting

#79517 Hey what if I made Sleeping Carp better at nonlethal takedowns and also deflect with combat mode instead of throw mode (but cost more)
  code/datums/martial/sleeping_carp.dm
  code/modules/uplink/uplink_items/stealthy.dm
Labels: Balance

#79549 Adds wibbles to certain anomalous entities
  code/datums/brain_damage/special.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/game/objects/effects/anomalies/anomalies_flux.dm
  code/game/objects/effects/anomalies/anomalies_gravity.dm
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
  code/game/objects/effects/anomalies/anomalies_pyroclastic.dm
  code/game/objects/effects/portals.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/events/wormholes.dm
  code/modules/hallucination/hazard.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Feature

#79574 [NO GBP] Material market buy buttons greys out correctly
  code/modules/cargo/materials_market.dm
  tgui/packages/tgui/interfaces/MatMarket.tsx
Labels: Fix, UI, GBP: No Update

#79396 Flightpotion/health analyzer balance tweak
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Balance, Stale

#79507 Increases the time it takes for venus human traps to die off vines from 5 to 8 seconds
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
Labels: Balance

#79578 Balances the stormtrooper shotgun mob
  code/modules/mob/living/basic/trooper/trooper_ai.dm
Labels: Balance

#79395 Reagent machinery code maintainence
  code/_globalvars/lists/reagents.dm
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/modules/plumbing/plumbers/filter.dm
  code/modules/plumbing/plumbers/reaction_chamber.dm
  code/modules/plumbing/plumbers/synthesizer.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/surgery/tools.dm
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
  tgui/packages/tgui/interfaces/PortableChemMixer.tsx
Labels: UI, Code Improvement, Test Merge Candidate, Quality of Life

#78777 Adds engi improvised weapon - rebar crossbow + Engi Exclusive Tot Shop Variant
  code/__DEFINES/projectiles.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/granters/crafting/rebarxbowsyndie.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/uplink/uplink_items/job.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/ballistic.dmi
  icons/obj/weapons/guns/projectiles.dmi
  tgstation.dme
Labels: Sprites, Feature

#79484 Plonts takke2
  code/game/objects/items/food/misc.dm
  code/modules/hydroponics/grown/beans.dm
  code/modules/hydroponics/grown/corn.dm
  code/modules/hydroponics/grown/sugarcane.dm
  icons/obj/service/hydroponics/growing.dmi
  icons/obj/service/hydroponics/growing_vegetables.dmi
  icons/obj/service/hydroponics/harvest.dmi
  icons/obj/service/hydroponics/seeds.dmi
Labels: Sprites, Feature

#79362 The Brawlening: Unarmed fighting interactions for shoving, grabbing and nonlethal takedowns (not martial arts)
  code/__DEFINES/combat.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/living.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
Labels: Balance, Feature, Refactor

#79376 Adds Paddy, the Security Mech
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/maintenance_modules/arrivalsecupper_1.dmm
  _maps/map_files/tramstation/maintenance_modules/arrivalsecupper_2.dmm
  _maps/map_files/tramstation/maintenance_modules/arrivalsecupper_3.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/exosuit_fab.dm
  code/__DEFINES/mecha.dm
  code/__DEFINES/research/research_categories.dm
  code/game/area/areas/station/security.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/mecha_control_console.dm
  code/modules/vehicles/mecha/mecha_wreckage.dm
  code/modules/vehicles/mecha/working/ripley.dm
  icons/area/areas_station.dmi
  icons/mob/actions/actions_mecha.dmi
  icons/mob/mecha.dmi
  icons/mob/mecha_equipment.dmi
  tgui/packages/tgui/interfaces/Mecha/ModulesPane.tsx
Labels: Sprites, Feature, UI, Map Edit

#79589 Fixes Wiki Book Manuals not working
  code/game/objects/items/manuals.dm
  code/game/objects/items/wiki_manuals.dm
  code/modules/library/book.dm
  tgstation.dme
Labels: Fix

#79502 Automatic fire for mobs
  code/datums/components/ranged_mob_full_auto.dm
  code/modules/mob/living/basic/trooper/nanotrasen.dm
  code/modules/mob/living/basic/trooper/syndicate.dm
  code/modules/mob/living/basic/vermin/cockroach.dm
  tgstation.dme
Labels: Quality of Life

#79397 Fix holodeck items from being juiced or grinded with a biogenerator or pestle and mortar
  code/modules/hydroponics/biogenerator.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
Labels: Fix

#79370 Splits up the plane masters file to be easier to browse and reference
  code/_onclick/hud/rendering/plane_master.dm
  code/_onclick/hud/rendering/plane_masters/_plane_master.dm
  code/_onclick/hud/rendering/plane_masters/camera_static.dm
  code/_onclick/hud/rendering/plane_masters/clickcatcher.dm
  code/_onclick/hud/rendering/plane_masters/core_game_planes.dm
  code/_onclick/hud/rendering/plane_masters/default.dm
  code/_onclick/hud/rendering/plane_masters/in_world_chat.dm
  code/_onclick/hud/rendering/plane_masters/lighting.dm
  code/_onclick/hud/rendering/plane_masters/parallax.dm
  code/_onclick/hud/rendering/plane_masters/pipecrawl.dm
  code/_onclick/hud/rendering/plane_masters/simple_plane_masters.dm
  tgstation.dme
Labels: Stale, Code Improvement

#79477 [NO GBP] Remove duplicate misc machinery from birdshot and northstar
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/NorthStar/north_star.dmm
Labels: Removal, Map Edit, GBP: No Update

#79580 Adds the oranges' juicery barsign
  code/game/machinery/barsigns.dm
  icons/obj/machines/barsigns.dmi
Labels: Sprites

#79577 Examining circuit boards now displays their detailed names correctly if required
  code/game/objects/items/circuitboards/circuitboard.dm
Labels: Fix

#79518 Bandolier quality of life and minor buff
  code/game/objects/items/storage/belt.dm
Labels: Balance, Quality of Life

#79585 Changes Cryo cells to use machine direction instead of hardcoded one on startup.
  code/modules/atmospherics/machinery/components/unary_devices/machine_connector.dm
Labels: Fix

#79531 Removes unused vars from cargo & economy.
  code/controllers/subsystem/economy.dm
  code/controllers/subsystem/shuttle.dm
  code/game/machinery/computer/orders/order_computer/mining_order.dm
  code/modules/cargo/materials_market.dm
  code/modules/cargo/order.dm
  code/modules/shuttle/supply.dm
Labels: Removal, Code Improvement

#79571 [NO GBP] Final precision rounding for reagent volumes
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/reaction_chamber.dm
  code/datums/ductnet.dm
  code/modules/plumbing/plumbers/reaction_chamber.dm
  code/modules/reagents/chemistry/holder.dm
Labels: Fix, GBP: No Update

#79542 Changes to the lore of Knock
  _maps/templates/lazy_templates/heretic_sacrifice.dmm
  code/__DEFINES/achievements.dm
  code/__DEFINES/antagonists.dm
  code/_globalvars/phobias.dm
  code/datums/achievements/misc_achievements.dm
  code/game/objects/items/storage/belt.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/items/keyring.dm
  code/modules/antagonists/heretic/items/labyrinth_handbook.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_map.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  code/modules/antagonists/heretic/structures/lock_final.dm
  icons/obj/service/library.dmi
  icons/ui_icons/achievements/achievements.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/79542_knock_lock.txt
Labels: Sprites, Grammar and Formatting, Tools, Map Edit

#79590 Cuts down on unnecessary non-TGUI stuff
  code/__DEFINES/interaction_flags.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/arcade/arcade.dm
  code/game/machinery/computer/arena.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/computer/prisoner/_prisoner.dm
  code/game/machinery/embedded_controller/access_controller.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/antagonists/fugitive/hunters/hunter_gear.dm
  code/modules/assembly/assembly.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/food_and_drinks/machinery/icecream_vat.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_silo.dm
  code/modules/mining/satchel_ore_boxdm.dm
  code/modules/pai/card.dm
  code/modules/research/experimentor.dm
  code/modules/research/machinery/_production.dm
  code/modules/shuttle/computer.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
Labels: Code Improvement

#79600 Rock Bottom bar sign
  code/game/machinery/barsigns.dm
  icons/obj/machines/barsigns.dmi
Labels: Sprites

#79608 Air alarms in Ordnance and SM are now linked to the sensors inside the chambers
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit, Quality of Life

#79446 Adds garbage dumpster ruins
  _maps/RandomRuins/SpaceRuins/garbagetruck1.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck2.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck3.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck4.dmm
  code/__DEFINES/atmospherics/atmos_mapping_helpers.dm
  code/datums/ruins/space.dm
  code/game/area/areas/ruins/space.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/turfs/open/floor/plating/misc_plating.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/weapons/hammers_lefthand.dmi
  icons/mob/inhands/weapons/hammers_righthand.dmi
  icons/obj/clothing/belt_overlays.dmi
  icons/obj/weapons/hammer.dmi
Labels: Sprites, Feature, Good First PR, Map Edit

#79394 Add mapping linter to check for duplicate machinery stacked on same tile
  tools/maplint/lints/multiple_machinery.yml
  tools/maplint/source/lint.py
Labels: Fix, Tools, Code Improvement, python

#79622 The unbonening (Removes BIO_JOINTED and BIO_BONE from snail and slime bodyparts)
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
Labels: Balance

#79606 Emergency hotfix for engi crossbow [NO GBP]
  code/datums/components/crafting/ranged_weapon.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Fix, GBP: No Update

#79639 Fixes Jacked Up LF/CRLF issuess
  _maps/RandomRuins/SpaceRuins/garbagetruck1.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck2.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck3.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck4.dmm
Labels: Map Edit

#79487 Add CI mapping linter to check for duplicate windows on same tile
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  tools/maplint/lints/multiple_windows.yml
Labels: Fix, Removal, Tools, Map Edit

#79640 Fixes Mock Clients Leaking Into Production
  code/controllers/subsystem/vote.dm
  code/datums/mocking/client.dm
Labels: Fix

#79620 Improves how ai movement checks for if movement is allowed
  code/datums/ai/movement/_ai_movement.dm
  code/datums/ai/movement/ai_movement_basic_avoidance.dm
  code/datums/ai/movement/ai_movement_complete_stop.dm
  code/datums/ai/movement/ai_movement_dumb.dm
Labels: Fix, Code Improvement

#79631 Fix split personality commune being unusable I think
  code/datums/actions/mobs/personality_commune.dm
  code/datums/brain_damage/split_personality.dm
  code/modules/spells/spell_types/self/personality_commune.dm
  tgstation.dme
Labels: Fix

#79609 Fixes a small runtime due to copied memories
  code/game/objects/items/cards_ids.dm
Labels: Runtime, Fix

#79603 Stethoscope cannot magically tell if the target is missing a heart or lungs
  code/modules/clothing/neck/_neck.dm
Labels: Removal

#79613 Typo correction in maintenance_loot.dm
  code/game/objects/items/maintenance_loot.dm
Labels: Grammar and Formatting

#79627 Basic mobs check for `MOBILITY_MOVE` to move
  code/datums/ai/movement/_ai_movement.dm
Labels: Fix

#79626 Removes final remnants of 'targetted'
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/traits.dm
  code/__DEFINES/wounds.dm
  code/datums/actions/mobs/fire_breath.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/datums/ai/basic_mobs/basic_subtrees/targeted_mob_ability.dm
  code/datums/ai/basic_mobs/basic_subtrees/use_mob_ability.dm
  code/datums/ai/learn_ai.md
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/datums/elements/cuffsnapping.dm
  code/datums/elements/kneecapping.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/antagonists/wizard/grand_ritual/finales/immortality.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/mob/living/basic/heretic/raw_prophet.dm
  code/modules/mob/living/basic/heretic/rust_walker.dm
  code/modules/mob/living/basic/jungle/leaper/leaper.dm
  code/modules/mob/living/basic/jungle/leaper/leaper_ai.dm
  code/modules/mob/living/basic/jungle/venus_human_trap.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon_ai.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath_actions.dm
  code/modules/mob/living/basic/lavaland/hivelord/hivelord.dm
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/pins.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/mecha_defense.dm
Labels: Grammar and Formatting

#79581 [NEW BAR SIGN] Le Café Silencieux
  code/game/machinery/barsigns.dm
  icons/obj/machines/barsigns.dmi
Labels: Sprites

#79573 Mafia panel fixes
  code/__HELPERS/_lists.dm
  code/modules/mafia/controller.dm
  code/modules/mafia/controller_ui.dm
  code/modules/mafia/roles/neutral/neutral_chaos.dm
  tgui/packages/tgui/interfaces/MafiaPanel.tsx
Labels: Fix, UI

#79650 More appropriate remembrance day message
  code/modules/holiday/holidays.dm
Labels: Grammar and Formatting

#79630 Replaces the jetpack in Interdyne pirates' suit storage with an air tank
  code/game/machinery/suit_storage_unit.dm
Labels: Fix

#79612 Adds bone setter and bone gel to medical holodeck
  _maps/templates/holodeck_medicalsim.dmm
Labels: Fix, Map Edit

#79611 [NO GBP} Makes it so that punch miss chance can actually go above 20%
  code/__DEFINES/combat.dm
  code/modules/mob/living/carbon/human/_species.dm
Labels: Fix, GBP: No Update

#79657 Fixes an oversight in the examine message for a carbon with an empty golem stomach.
  code/modules/surgery/organs/internal/stomach/stomach_golem.dm
Labels: Grammar and Formatting

#79384 Lemon fixes ci
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
  code/__DEFINES/movement.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/movement/move_handler.dm
  code/controllers/subsystem/movement/movement.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/ai/movement/_ai_movement.dm
  code/datums/ai/movement/ai_movement_complete_stop.dm
  code/datums/components/drift.dm
  code/datums/components/shuttle_cling.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  code/modules/unit_tests/strange_reagent.dm
  icons/obj/machines/computer.dmi
Labels: Sprites, Map Edit

#79637 Fixes Ashwalker Tendril Revives
  code/modules/mapfluff/ruins/objects_and_mobs/ash_walker_den.dm
Labels: Fix

#79628 Fix being unable to resist out of `/datum/status_effect/freon`
  code/datums/status_effects/gas.dm
Labels: Fix

#79599 Fixes the EMP Barsign sprite not displaying
  code/game/machinery/barsigns.dm
  code/modules/unit_tests/barsigns.dm
  icons/obj/machines/barsigns.dmi
Labels: Sprites, Fix

#79672 [no gbp] Fixes goat runtime
  code/datums/ai/_ai_controller.dm
Labels: Fix, GBP: No Update

#79251 Adds a little button to quirks that allows for relatively easy customization
  code/__DEFINES/preferences.dm
  code/datums/quirks/_quirk_constant_data.dm
  code/datums/quirks/negative_quirks/food_allergy.dm
  code/datums/quirks/negative_quirks/nearsighted.dm
  code/datums/quirks/negative_quirks/prosthetic_limb.dm
  code/datums/quirks/neutral_quirks/phobia.dm
  code/datums/quirks/positive_quirks/bilingual.dm
  code/datums/quirks/positive_quirks/tagger.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences/food_allergy.dm
  code/modules/client/preferences/glasses.dm
  code/modules/client/preferences/language.dm
  code/modules/client/preferences/middleware/quirks.dm
  code/modules/client/preferences/paint_color.dm
  code/modules/client/preferences/phobia.dm
  code/modules/client/preferences/prosthetic.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: UI, Code Improvement

#79646 Pirate request reject fix
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/antagonists/pirate/pirate_gangs.dm
Labels: Fix

#79655 Fire temperature effects on a human is soft capped at 1200 kelvin, from when dimishing returns are applied
  code/__DEFINES/atmospherics/atmos_mob_interaction.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
Labels: Balance

#79625 Slight overclock nerf [NO GBP]
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/working/clarke.dm
  code/modules/vehicles/mecha/working/ripley.dm
Labels: Balance, GBP: No Update

#79636 Add bamboo seeds to ash walker den
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
Labels: Feature, Map Edit
