Repository tgstation/tgstation, pull requests merged in 2024-01, with the labels that each got.

#79536 Heretic DLC: Path of Moon
  code/__DEFINES/achievements.dm
  code/__DEFINES/antagonists.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/brain_damage/severe.dm
  code/datums/looping_sounds/music.dm
  code/datums/looping_sounds/projectiles.dm
  code/datums/mood_events/eldritch_painting_events.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/antagonists/heretic/items/unfathomable_curio.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  code/modules/antagonists/heretic/magic/lunatic_track.dm
  code/modules/antagonists/heretic/magic/madness_touch.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/antagonists/heretic/magic/mind_gate.dm
  code/modules/antagonists/heretic/magic/moon_parade.dm
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
  code/modules/antagonists/heretic/magic/moon_smile.dm
  code/modules/antagonists/heretic/moon_lunatic.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  code/modules/antagonists/heretic/transmutation_rune.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/hallucination/delusions.dm
  code/modules/mob/living/taste.dm
  icons/effects/effects.dmi
  icons/effects/eldritch.dmi
  icons/effects/mouse_pointers/moon_target.dmi
  icons/hud/screen_alert.dmi
  icons/mob/actions/actions_ecult.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/64x64_lefthand.dmi
  icons/mob/inhands/64x64_righthand.dmi
  icons/mob/nonhuman-player/eldritch_mobs.dmi
  icons/obj/antags/eldritch.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/signs.dmi
  icons/obj/weapons/guns/projectiles.dmi
  icons/obj/weapons/khopesh.dmi
  icons/ui_icons/achievements/achievements.dmi
  sound/effects/moon_parade.ogg
  sound/effects/moon_parade_soundloop.ogg
  tgstation.dme
Labels: Sprites, Sound, Feature, Fix

#80704 Fix footsteps not working
  code/datums/elements/footstep.dm
Labels: Fix

#80424 Lizard food: adds burger variants and a few extras
  code/game/objects/items/food/frozen.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/food_and_drinks/recipes/drinks/drinks_alcoholic.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  icons/obj/food/frozen_treats.dmi
  icons/obj/food/lizard.dmi
  icons/obj/food/meat.dmi
Labels: Sprites, Feature, Quality of Life

#80688 Makes searchbars more responsive
  tgui/packages/tgui/components/Input.tsx
  tgui/packages/tgui/components/TextArea.tsx
  tgui/packages/tgui/interfaces/EmotePanel.tsx
  tgui/packages/tgui/interfaces/Fabrication/DesignBrowser.tsx
  tgui/packages/tgui/interfaces/Fabrication/SearchBar.tsx
  tgui/packages/tgui/interfaces/common/SearchBar.tsx
Labels: Fix, UI

#80693 Some Processing improvements
  code/_onclick/hud/alert.dm
  code/datums/proximity_monitor/fields/projectile_dampener.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/droneDispenser.dm
  code/game/machinery/sleepers.dm
  code/game/objects/items/devices/scanners/t_scanner.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/food/sweets.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/assembly/health.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/power/generator.dm
  code/modules/power/rtg.dm
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  code/modules/research/xenobiology/crossbreeding/stabilized.dm
  code/modules/station_goals/meteor_shield.dm
Labels: Code Improvement

#80680 QOLs balloon alerts to the armour booster module
  code/modules/mod/modules/modules_antag.dm
Labels: Quality of Life

#80694 "Explosive Planted" C4 ghost notification actually shows the C4
  code/game/objects/items/grenades/plastic.dm
Labels: Quality of Life

#80673 Having a robot chest/legs no longer makes you drop all items upon losing your jumpsuit
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#80678 Fixes list formatting in vox_sounds.dm
  code/modules/mob/living/silicon/ai/vox_sounds.dm
Labels: Code Improvement

#80701 Fixes crashing through tables from a table giving you a negative offset
  code/datums/elements/elevation.dm
Labels: Fix

#80550 Updates Pirate/Sailor Costume sprites (And spacesuit)
  icons/mob/clothing/suits/costume.dmi
  icons/mob/clothing/suits/spacesuit.dmi
  icons/mob/clothing/under/costume.dmi
  icons/obj/clothing/suits/costume.dmi
  icons/obj/clothing/suits/spacesuit.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites

#80695 regular gas analyzer can now scan adjacent turfs
  code/game/objects/items/devices/scanners/gas_analyzer.dm
Labels: Quality of Life

#80637 Turbine code cleanup
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/power/power.dm
  code/modules/power/turbine/turbine.dm
  code/modules/power/turbine/turbine_computer.dm
Labels: Fix, Code Improvement, Quality of Life

#80706 Fixes integrated circuit speech logging
  code/modules/wiremod/components/action/speech.dm
Labels: Logging, Fix

#80625 Gives an animation and a noise when throwing something
  code/modules/mob/living/carbon/carbon.dm
  sound/attributions.txt
  sound/weapons/throw.ogg
  sound/weapons/throwhard.ogg
  sound/weapons/throwsoft.ogg
Labels: Sprites, Sound

#80487 Removes the attack_slime proc, and other slime refactors
  code/__DEFINES/research/slimes.dm
  code/_onclick/other_mobs.dm
  code/game/atom/atom_defense.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/devices/scanners/slime_scanner.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/window.dm
  code/modules/awaymissions/signpost.dm
  code/modules/awaymissions/super_secret_room.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai_defense.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/curse_blob.dm
  code/modules/mob/living/simple_animal/slime/ai.dm
  code/modules/mob/living/simple_animal/slime/death.dm
  code/modules/mob/living/simple_animal/slime/defense.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/xenobiology.dm
  tgstation.dme
Labels: Balance, Fix, Removal, Refactor

#80326 Map export admin verb/buildmode
  code/__DEFINES/map_exporter.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/map_export.dm
  code/modules/buildmode/submodes/map_export.dm
  icons/misc/buildmode.dmi
  tgstation.dme
Labels: Sprites, Administration, Stale

#80735 Fixes some runtimes in pathfinding (and bonus)
  code/controllers/subsystem/movement/movement_types.dm
  code/modules/admin/verbs/debug.dm
Labels: Fix

#80768 [s]Fix exploit that allows players to close every single tgui window for all players
  code/modules/reagents/chemistry/machinery/portable_chem_mixer.dm
Labels: Fix

#80677 Dead code removal, redundant text macros, drying rack now applies TRAIT_FOOD_CHEF_MADE.
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/elements/dryable.dm
  code/datums/elements/food/processable.dm
  code/datums/recipe.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  tgstation.dme
Labels: Fix

#80740 Fix blobbernaut attack runtime on non-living mobs
  code/modules/antagonists/blob/blobstrains/_blobstrain.dm
  code/modules/antagonists/blob/blobstrains/_reagent.dm
  code/modules/antagonists/blob/blobstrains/debris_devourer.dm
Labels: Runtime, Fix

#80734 Stops qdeleting progressbar /images
  code/datums/progressbar.dm
Labels: Code Improvement

#80739 Fix Fugu applying wall tearer element to the wrong thing
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/fugu_gland.dm
Labels: Fix

#80741 Make server announcement OOC [NO GBP]
  code/__DEFINES/span.dm
  code/__HELPERS/announcements.dm
  code/modules/admin/verbs/admin.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Fix, UI, GBP: No Update

#80727 Guardian actions now work while sleeping/unconscious
  code/modules/mob/living/basic/guardian/guardian_verbs.dm
Labels: Fix

#80644 Saves some free lag by removing some in area (in world) loops
  code/__DEFINES/time.dm
  code/controllers/subsystem/job.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/effects/anomalies/anomalies_ectoplasm.dm
  code/game/objects/items/blueprints.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/antagonists/revenant/haunted_item.dm
  code/modules/antagonists/traitor/objectives/kidnapping.dm
  code/modules/capture_the_flag/ctf_game.dm
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
  code/modules/holiday/holidays.dm
  code/modules/holodeck/items.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/apc/apc_power_proc.dm
  code/modules/research/xenobiology/crossbreeding/burning.dm
  code/modules/research/xenobiology/crossbreeding/chilling.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/shuttle/arrivals.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/special.dm
  code/modules/shuttle/supply.dm
Labels: Performance

#80570 More (easy) tgui components in typescript
  tgui/packages/tgui/components/BlockQuote.tsx
  tgui/packages/tgui/components/Box.tsx
  tgui/packages/tgui/components/Collapsible.jsx
  tgui/packages/tgui/components/Collapsible.tsx
  tgui/packages/tgui/components/ColorBox.jsx
  tgui/packages/tgui/components/ColorBox.tsx
  tgui/packages/tgui/components/Dimmer.tsx
  tgui/packages/tgui/components/Divider.tsx
  tgui/packages/tgui/components/LabeledControls.tsx
  tgui/packages/tgui/components/Modal.tsx
  tgui/packages/tgui/components/NoticeBox.jsx
  tgui/packages/tgui/components/NoticeBox.tsx
  tgui/packages/tgui/components/ProgressBar.tsx
  tgui/packages/tgui/constants.ts
  tgui/packages/tgui/interfaces/AccountingConsole.tsx
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
  tgui/packages/tgui/interfaces/ChemFilter.tsx
  tgui/packages/tgui/interfaces/ColorBlindTester.tsx
  tgui/packages/tgui/interfaces/ExoscannerConsole.tsx
  tgui/packages/tgui/interfaces/LibraryAdmin.tsx
  tgui/packages/tgui/interfaces/LogViewer.tsx
  tgui/packages/tgui/interfaces/MedicalRecords/NoteKeeper.tsx
  tgui/packages/tgui/interfaces/PlayerTicketHistory.tsx
  tgui/packages/tgui/interfaces/QuantumConsole.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/AnnouncementTab.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/MessageViewTab.tsx
  tgui/packages/tgui/interfaces/RequestsConsole/RequestsConsoleHeader.tsx
  tgui/packages/tgui/interfaces/Uplink/ObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/common/Connections.tsx
Labels: Stale, UI

#80211 Increased odds of station traits a little. Introduced a "budget", so smaller traits only take half as much space.
  code/__DEFINES/station.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/processing/station.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/station_traits/positive_traits.dm
  config/game_options.txt
Labels: Balance, Refactor, Stale, Config Update

#80738 [NO GBP] fixes moon heretic ascension
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/magic/lunatic_track.dm
Labels: Fix, GBP: No Update

#80745 Fixes redundant "integrity"
  tgui/packages/tgui/interfaces/common/AtmosControls.tsx
Labels: Fix, UI

#80790 cliffs respect gravity
  code/game/turfs/open/cliff.dm
Labels: Fix

#80760 fixes universal scanners being invisible when not set to export scanning
  code/modules/cargo/universal_scanner.dm
  code/modules/recycling/sortingmachinery.dm
  icons/obj/devices/scanner.dmi
  icons/obj/devices/tool.dmi
Labels: Sprites, Fix

#80753 Fixes a runtime in throwthings
  code/controllers/subsystem/throwing.dm
Labels: Fix

#80756 Fix incorrect carpet reskin options
  code/game/objects/items/stacks/tiles/tile_types.dm
Labels: Fix

#80751 Birdshot: Prisoners can leave the gulag again
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#80732 Logging for amputation shears
  code/modules/surgery/tools.dm
Labels: Logging, Administration

#80759 Closet screentip clarification
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#80757 Fixes some observer hard dels
  code/modules/mob/dead/observer/observer.dm
Labels: Fix, Hard Deletes

#80730 [NO GBP] Fixes path of moon and path of lock sidepaths, replaces brains with other organs
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  tgstation.dme
Labels: Balance, GBP: No Update, Quality of Life

#80708 [no gbp] adds options for bots to bypass adding unreachable items to their blacklist
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
  code/modules/mob/living/basic/bots/hygienebot/hygienebot_ai.dm
  code/modules/mob/living/basic/bots/medbot/medbot_ai.dm
Labels: Fix, GBP: No Update

#80746 Fixes sections not scrolling on hover [no gbp]
  tgui/packages/tgui/components/Section.tsx
Labels: Fix, UI, GBP: No Update

#80749 Icebox: Adds a fire alarm to the upstairs fore hallway.
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#80750 Gibtonite ore in ice planet gulags is no longer the volcanic subtype
  code/game/turfs/closed/minerals.dm
Labels: Fix

#80711 Fixes a punctuation error with Luini Amaretto
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
Labels: Grammar and Formatting

#80736 Fixes some image hard dels, and adds context to qdeleting images.
  code/datums/datum.dm
  code/modules/mob/living/basic/bots/bot_hud.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Fix, Code Improvement

#80765 Resprites onmob cone sprite
  code/modules/clothing/head/cone.dm
  icons/mob/clothing/head/utility.dmi
Labels: Sprites

#80761 [NO GBP] Fixes a minor bug in buildmode map export
  code/modules/buildmode/submodes/map_export.dm
Labels: Fix, GBP: No Update

#80723 Adds logging to door remote bolting
  code/game/objects/items/control_wand.dm
Labels: Logging

#80721 Fixes some character prefs issues
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/RandomizationButton.tsx
Labels: Fix, UI

#80717 Fixes netpod healing exploit
  code/modules/bitrunning/components/netpod_healing.dm
Labels: Fix

#80692 Ghosts can see info about Wanted Status and Sec Records
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Quality of Life

#80774 fix tgs version feedbackdb logging
  code/controllers/subsystem/server_maint.dm
Labels: Logging, Fix

#80781 Fixes security batons reporting to cyborgs that they're stunning them
  code/game/objects/items/melee/baton.dm
Labels: Fix

#80782 Fixes every instance of 'kenetic' in the codebase
  _maps/shuttles/whiteship_kilo.dmm
  code/datums/actions/mobs/projectileattack.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/basic/space_fauna/netherworld/migo.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/recharge.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  sound/weapons/kinetic_accel.ogg
  sound/weapons/kinetic_reload.ogg
Labels: Sound, Grammar and Formatting, Map Edit

#80787 conveyors stop conveying whatever exits their z level
  code/modules/recycling/conveyor.dm
Labels: Fix

#80788 russian mobsters are no longer ridicilously fast
  code/modules/mob/living/basic/trooper/abductor.dm
  code/modules/mob/living/basic/trooper/nanotrasen.dm
  code/modules/mob/living/basic/trooper/pirate.dm
  code/modules/mob/living/basic/trooper/russian.dm
  code/modules/mob/living/basic/trooper/syndicate.dm
Labels: Fix

#80780 Fixes another image harddel in station blueprints (and more)
  code/datums/components/lock_on_cursor.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/shuttle/navigation_computer.dm
Labels: Fix, Hard Deletes

#80720 Input changes take XII: Responsive small lists
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Input.tsx
  tgui/packages/tgui/interfaces/CameraConsole.tsx
  tgui/packages/tgui/interfaces/common/SearchBar.tsx
Labels: Fix, UI

#80783 Fixes `COMSIG_LIVING_EARLY_UNARMED_ATTACK` arguments
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/other_mobs.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
  code/modules/mob/living/basic/guardian/guardian_types/explosive.dm
  code/modules/mob/living/basic/guardian/guardian_types/gravitokinetic.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix, GBP: No Update, 📌 Test Merge Candidate

#80705 Hub Entry shows Next Map and Shuttle Time, removes Alert
  code/game/world.dm
Labels: Quality of Life

#80791 fixes the eZ-13 MK2 heavy pulse rifle
  code/modules/projectiles/projectile/beams.dm
Labels: Fix

#80819 [NO GBP] Fix hub shuttle time
  code/game/world.dm
Labels: Fix, GBP: No Update

#80703 Replace natural beheading with cranial fissures (splitting your skull)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/wounds.dm
  code/_globalvars/traits/_traits.dm
  code/datums/wounds/cranial_fissure.dm
  code/game/objects/items/chainsaw.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/traitor/objectives/assassination.dm
  code/modules/mob/mob_movement.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/bodyparts/wounds.dm
  code/modules/surgery/bone_mending.dm
  icons/effects/cranial_fissure.dmi
  tgstation.dme
Labels: Sprites, Balance, Removal

#80811 Fixes morgue trays husking corpses, caps freezing burn damage
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/surgery/organs/internal/_internal_organ.dm
Labels: Fix

#80815 Hotfix for paper tgui crash
  tgui/packages/tgui/interfaces/Biogenerator.tsx
  tgui/packages/tgui/interfaces/PaperSheet.tsx
Labels: Fix, UI

#80802 vents that are turned off animate once
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  icons/obj/machines/atmospherics/unary_devices.dmi
Labels: Sprites, Fix

#80793 Fixes spasm_animation not resetting to initial values when finishing, slowly moving you downward.
  code/__HELPERS/visual_effects.dm
Labels: Fix

#80772 Fixing a runtime with H.A.R.S.
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#80771 [NO GBP] Fixes expiration times for coupon codes.
  code/controllers/subsystem/modular_computers.dm
Labels: Fix, GBP: No Update

#80712 Changes some cargo windoor stuff on Delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit, Quality of Life

#80795 adds missing navigation landmarks to tramstation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#80801 Spamming the weld on a robotic part no longer drains the fuel with no benefit
  code/game/objects/items/tools/weldingtool.dm
Labels: Fix

#80810 [NO GBP] C4 notification jump works again
  code/game/objects/items/grenades/plastic.dm
Labels: Fix, GBP: No Update

#80803 Makes the clown biodome completable without cheese
  _maps/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/virtual_domains/clown_planet.dmm
Labels: Fix, Map Edit

#80622 Sec Biosuit craft, more bio-emergency supplies
  code/datums/components/crafting/tailoring.dm
  code/modules/cargo/packs/emergency.dm
Labels: Stale, Quality of Life

#80718 Comms console updates as you type [no gbp]
  tgui/packages/tgui/interfaces/CommunicationsConsole.jsx
Labels: Fix, UI, GBP: No Update

#80743 tgui: deferred lazy list rendering for very large lists
  tgui/packages/tgui/components/VirtualList.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/AirAlarm.tsx
  tgui/packages/tgui/interfaces/Fabrication/DesignBrowser.tsx
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: Refactor, UI

#80842 Cache heretic delusion icon so it doesn't call `getFlatIcon` li ke 600 times a life tick or something
  code/modules/hallucination/delusions.dm
Labels: Performance, Fix

#80818 Fixes Cameras views on clients 515.1615 or greater
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
Labels: Fix, Good First PR

#80828 Fixes some AI related runtimes
  code/datums/ai/_ai_controller.dm
  code/datums/components/listen_and_repeat.dm
  code/datums/elements/haunted.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_migration.dm
Labels: Runtime, Fix

#80858 Fixes medical records state [no gbp]
  tgui/packages/tgui/interfaces/MedicalRecords/RecordTabs.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordTabs.tsx
Labels: Fix, UI, GBP: No Update

#80844 Fixes open-air mechs (Ripley, Paddy) not pushing projectile damage to the pilot
  code/__DEFINES/mecha.dm
  code/_globalvars/bitfields.dm
  code/game/objects/items/tools/crowbar.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/gygax.dm
  code/modules/vehicles/mecha/combat/honker.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/reticence.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  code/modules/vehicles/mecha/mecha_actions.dm
  code/modules/vehicles/mecha/mecha_control_console.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  code/modules/vehicles/mecha/working/ripley.dm
Labels: Fix

#80849 Fix OOC announcement proc [NO GBP]
  code/__HELPERS/announcements.dm
Labels: Fix, Documentation

#80856 Midrounds With Minimum Pop Requirements Work Again & Other Fixes
  code/modules/mob/mob_lists.dm
Labels: Fix

#80837 Heretic monsters can drink heretic reagent
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#80796 Stop misfiring from re-iterating and looping through every munition in the mag like that doesn't make much sense.
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix

#80857 Fixes pod launcher BSOD [no gbp]
  tgui/packages/tgui/interfaces/CentcomPodLauncher.jsx
Labels: Administration, UI, GBP: No Update

#80836 PDA vendor now sells regular PDAs
  code/modules/vending/cartridge.dm
Labels: Fix

#80840 Refried beans and spanish rice now drop bowls
  code/game/objects/items/food/mexican.dm
Labels: Fix

#80863 Makes grid check area protection actually work
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/NorthStar/north_star.dmm
  code/__HELPERS/areas.dm
  code/__HELPERS/game.dm
Labels: Fix, Map Edit

#80862 Fix the Codex Cicatrix transmutation not working as intended
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: Fix

#80855 More heretic path fixes
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
Labels: Fix

#80832 Makes several types actually readable in the spawn menu
  code/__HELPERS/type_processing.dm
Labels: Administration

#80825 Use `base_icon_state` for smart fridge content overlay
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: Code Improvement

#80824 Ejecting cells from microwaves via ctrl click requires proximity.
  code/modules/food_and_drinks/machinery/microwave.dm
Labels: Fix

#80817 Deduplicate hard delete and timer fail flaky tests better
  tools/pull_request_hooks/rerunFlakyTests.js
  tools/pull_request_hooks/rerunFlakyTests.test.js
  tools/pull_request_hooks/tests/flakyTestPayloads/invalid_timer.txt
Labels: Tools, Code Improvement

#80583 Changes how Cultists obtain the bastard sword. Instead of sacrificing Heretics, you now sacrifice Null Rods, with a caveat.
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Labels: Balance

#80698 Skip healing delay if you can't actually heal
  code/game/objects/items/stacks/medical.dm
Labels: Quality of Life

#80792 Resprites a majority of Undershirts
  icons/mob/clothing/underwear.dmi
Labels: Sprites

#80805 Correctly offsets bayonets on pipeguns
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Fix

#80869 Make list clear nulls faster
  code/__HELPERS/_lists.dm
Labels: Performance, Blame MSO, Verified :heavy_check_mark:

#80812 Runechat color now goes by voice rather than name
  code/datums/chatmessage.dm
  code/game/atom/atom_examine.dm
  code/game/say.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
Labels: Fix

#80848 Adds a Debug command to stop all weather.
  code/controllers/subsystem/weather.dm
  code/modules/admin/admin_verbs.dm
Labels: Administration

#80902 Fix badass balloon ghost alert passing the wrong thing to it
  code/modules/uplink/uplink_items/badass.dm
Labels: Runtime, Fix

#80901 FIxes being unable to heal constructs with certain cult spells
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_items.dm
Labels: Runtime, Fix

#80900 Fix bad assumption in syndicate teleporter code
  code/game/objects/items/teleportation.dm
Labels: Runtime

#80899 Fixes weird use of `repeat_string` to try to loop over something in Ringleader's Rise spell
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
Labels: Runtime, Fix

#80898 Fixes Blood Drunk Miner (Hunter) dash runtime
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
Labels: Runtime, Fix

#80897 Fixes improper use of audible_message
  code/datums/diseases/advance/symptoms/fire.dm
Labels: Runtime

#80896 Fixes chameleon hooded suits not making chameleon hats into chameleon hoods
  code/modules/clothing/chameleon/chameleon_action_subtypes.dm
Labels: Runtime, Fix, GBP: No Update

#80894 Fix supermatter component runtime on non-supermatters
  code/datums/components/supermatter_crystal.dm
Labels: Runtime

#80893 Makes BSA logging easier to find
  code/modules/station_goals/bsa.dm
Labels: Logging, Administration

#80889 Fixed healing simplemobs with medical stacks + grammar/formatting/user feedback
  code/game/objects/items/stacks/medical.dm
Labels: Grammar and Formatting, Fix

#80888 Fixes the contractor program being on the syndicate store
  code/modules/modular_computers/file_system/programs/antagonist/contractor_program.dm
Labels: Fix, Oversight

#80895 Fixed runtime from unowned cooldown actions (carp rift)
  code/datums/actions/cooldown_action.dm
Labels: Runtime

#80872 Removes a duplicate trait from the mob traits_by_type list
  code/_globalvars/traits/_traits.dm
Labels: Removal, Code Improvement

#80670 Nightmare's Light Eater Gets "Critical Hits" (See Inside)
  code/modules/antagonists/nightmare/nightmare_equipment.dm
  tgui/packages/tgui/interfaces/AntagInfoNightmare.tsx
Labels: Balance, UI

#80875 Adds missing light switch/fire alarm to Icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#80728 SS14 Liquid Plasma Sprite
  icons/turf/floors.dmi
Labels: Sprites

#80883 Improves popper/dropdown performance
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/RequestManager.jsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.jsx
  tgui/yarn.lock
Labels: Fix, UI

#80826 Adds sanity checks to `/obj/projectile/moon_parade`
  code/modules/antagonists/heretic/magic/moon_parade.dm
Labels: Runtime, Fix

#80722 Futureproofs the nodrop check added in #80673
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Code Improvement

#80876 Makes placing plating on lava-proof rods delete the rods and not break lighting on that tile for the rest of the round
  code/game/objects/structures/lattice.dm
Labels: Fix, Code Improvement, Quality of Life

#80877 Fixes the deployable component rotating things it isnt supposed to
  code/datums/components/deployable.dm
Labels: Fix

#80906 Id context fix
  code/game/objects/items/cards_ids.dm
Labels: Fix, Quality of Life

#80874 Makes lizard wine (and some other crafting menu drink recipe drinks) produce their intended reagents
  code/datums/components/crafting/crafting.dm
Labels: Fix

#80882 Makes chemical reactions that need a certain container, but accept subtypes of that container, actually work again
  code/modules/reagents/chemistry/holder/reactions.dm
Labels: Fix

#80713 Tramstation utilities routing adjustments
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit, Quality of Life

#80920 Fixes react version warning
  tgui/.eslintrc.yml
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/renderer.ts
Labels: Fix, UI

#80918 Update byond version for ci. Makes unit tests 30 seconds faster.
  .tgs.yml
  dependencies.sh
Labels: Continuous Integration, Dependencies

#80916 Headslug Eggs Work Again + More Consistent Timing
  code/modules/antagonists/changeling/headslug_eggs.dm
  code/modules/mob/living/basic/space_fauna/changeling/headslug.dm
Labels: Fix

#80908 Fixes the "Saw this admin message" button not working
  code/modules/admin/sql_message_system.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
Labels: Administration

#80912 [No GBP] Fixes all borg apparatus-type tools
  code/game/objects/items/robot/items/storage.dm
Labels: Fix, GBP: No Update

#80934 [NO GBP] Chem Heater with empty buffers can be refilled again
  code/modules/reagents/chemistry/machinery/chem_heater.dm
Labels: Fix, GBP: No Update

#80919 Adds Combat Button to Living HUD (Simple + Basic Mob HUD)
  code/_onclick/hud/living.dm
Labels: Quality of Life

#80911 Fixes Rat King's Abilities To No Longer Require Two Clicks Again
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat_actions.dm
Labels: Fix

#80940 Fixes two minute grand ritual things
  code/modules/antagonists/wizard/grand_ritual/finales/grand_ritual_finale.dm
  code/modules/antagonists/wizard/grand_ritual/grand_side_effect.dm
Labels: Fix

#80939 fixes null plane debuggers for admins
  code/modules/admin/holder2.dm
Labels: Fix

#80936 Fixes round event controller pirate spawns
  code/modules/antagonists/pirate/pirate_event.dm
Labels: Fix

#80937 the fugu gland now uses `update_transform` rather than scale transform directly.
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/fugu_gland.dm
Labels: Fix

#80938 Fix Tramstation sign/missing power cable [NO GBP]
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit, GBP: No Update

#80927 Better errors for adding element to qdeling datum
  code/datums/elements/_element.dm
Labels: Code Improvement

#80943 Fixes section stealing focus [no gbp]
  tgui/packages/tgui/components/Section.tsx
Labels: Fix, UI, GBP: No Update

#80930 Partially reverts popper component [no gbp]
  tgui/docs/component-reference.md
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/index.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/RequestManager.jsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.tsx
  tgui/yarn.lock
Labels: Fix, UI, Revert, GBP: No Update

#80903 Eldritch paining cleanup
  code/modules/antagonists/heretic/items/eldritch_painting.dm
Labels: Runtime, Fix

#80800 fixes a bunch of moodlets potentially lasting forever (less band-aidy)
  code/datums/brain_damage/creepy_trauma.dm
  code/datums/elements/pet_bonus.dm
  code/datums/mood.dm
  code/datums/quirks/negative_quirks/body_purist.dm
  code/game/objects/items/hand_items.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/basic/pets/dog/corgi.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/reagent_containers/cups/soda.dm
  code/modules/reagents/withdrawal/_addiction.dm
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#80839 Minor Autolathe Refactor | Material Dupe-B-Gone
  code/datums/components/material/material_container.dm
  code/game/machinery/autolathe.dm
  code/modules/research/designs.dm
  code/modules/research/machinery/_production.dm
Labels: Fix, Refactor, Quality of Life

#80710 Lawyer badge now points instead of giving a message in chat
  code/modules/clothing/under/accessories/badges.dm
Labels: Stale, Quality of Life

#80887 Refactors pod launcher UI
  tgui/packages/tgui/interfaces/CentcomPodLauncher.jsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/DelayHelper.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodBays.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodLaunch.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodSounds.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PodStatusPage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/PresetsPage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/ReverseMenu.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/StylePage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/Tabs.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/Timing.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/ViewTabHolder.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/constants.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/hooks.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/index.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
Labels: Refactor, UI

#80954 fix bileworm ai going insane after eating someone
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_ai.dm
Labels: Fix
