Repository tgstation/tgstation, pull requests merged in 2024-09, with the labels that each got.

#85399 [NO GBP] Return wrap for stat panel tabs
  html/statbrowser.css
  html/statbrowser.js
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/SettingsPanel.tsx
  tgui/packages/tgui-panel/settings/SettingsStatPanel.tsx
  tgui/packages/tgui-panel/settings/constants.ts
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/packages/tgui-panel/settings/reducer.ts
Labels: Fix, UI, GBP: No Update, Quality of Life

#86232 Fixes ice cream vat refilling
  code/modules/food_and_drinks/machinery/icecream_vat.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
Labels: Fix

#86221 Fix detective board placing
  code/game/objects/structures/detectiveboard.dm
Labels: Fix

#86080 Gravity generator sound overhaul
  code/datums/looping_sounds/machinery_sounds.dm
  sound/machines/gravgen/attribution.txt
  sound/machines/gravgen/grav_gen_end.ogg
  sound/machines/gravgen/grav_gen_mid1.ogg
  sound/machines/gravgen/grav_gen_mid2.ogg
  sound/machines/gravgen/grav_gen_start.ogg
  sound/machines/gravgen/gravgen_mid1.ogg
  sound/machines/gravgen/gravgen_mid2.ogg
  sound/machines/gravgen/gravgen_mid3.ogg
  sound/machines/gravgen/gravgen_mid4.ogg
Labels: Sound

#86124 Heretic sacrifice theme
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  sound/ambience/antag/heretic/attribution.txt
  sound/ambience/antag/heretic/heretic_sacrifice.ogg
Labels: Sound

#86339 All jaunts now kick you out if you are KO'd mid-jaunt
  code/game/objects/effects/phased_mob.dm
  code/modules/antagonists/heretic/magic/space_crawl.dm
Labels: Fix

#86295 Reverts an unintended change to Leeching Walk.
  code/datums/elements/leeching_walk.dm
Labels: Fix, Revert

#86283 Fixes consistency issue in crafting
  code/datums/components/crafting/crafting.dm
Labels: Fix

#86158 Adds sounds to conveyor belt switch
  code/modules/recycling/conveyor.dm
  sound/machines/lever_start.ogg
  sound/machines/lever_stop.ogg
  sound/machines/license.txt
Labels: Sound

#86155 Fixes Skub not fitting in Skub box
  code/datums/storage/storage.dm
Labels: Fix

#86152 Fixes the die of fate deleting all your organs when rolling a 4
  code/game/objects/items/dice.dm
Labels: Fix

#86132 Fixes radio noise prefs not being respected (unless you're deaf)
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#86069 Introduces the ability to send legally distinct spam mail over fax (and cookies, please accept them)
  code/modules/paperwork/fax.dm
Labels: Balance

#86048 Fixes Light Overload draining almost no power and Powersinks draining almost no APC charge. Also rebalances powersinks
  code/game/objects/items/devices/powersink.dm
  code/modules/power/apc/apc_main.dm
Labels: Fix

#86088 Fix spy rewards runtiming
  code/modules/uplink/uplink_items.dm
Labels: Fix

#86079 Pride mirror yeets you into space once again. Mirrors also now use tooltips for their radials
  code/game/objects/structures/mirror.dm
Labels: Fix, Quality of Life

#86082 Fix screwing radio headset in combat mode don't do anything
  code/game/objects/items/devices/radio/radio.dm
Labels: Quality of Life

#86074 Adds new sprites for hellfire lasers
  code/modules/projectiles/projectile/beams.dm
  icons/obj/weapons/guns/projectiles.dmi
Labels: Sprites

#86344 Fixes tram crossing signal malfunctioning [NO GBP]
  code/modules/transport/tram/tram_signals.dm
Labels: Fix, GBP: No Update

#86250 Fixes ballistic weapons not making any firing sound
  code/datums/components/face_decal.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix

#86087 Adds multi-z disposal segments to the RPD, fixes wonky multi-z disposal segment sprites.
  code/game/objects/items/rcd/RPD.dm
  icons/obj/pipes_n_cables/disposal.dmi
Labels: Sprites, Quality of Life

#86354 Makes big manipulator hands move smoothly with the base when it's moved
  code/game/machinery/big_manipulator.dm
Labels: Fix

#86052 Fixes lua signal handlers erroring if they don't return anything.
  lua/SS13_base.lua
Labels: Fix

#86003 Fixes buckling to beds in some situations making you use the pillow as a footrest
  code/__DEFINES/mobs.dm
  code/game/machinery/stasis.dm
  code/game/objects/buckling.dm
  code/game/objects/structures/beds_chairs/bed.dm
Labels: Fix

#85975 Fix typo in CRUSH_CRIT_PARAPLEGIC
  code/__DEFINES/crushing.dm
  code/modules/vending/_vending.dm
Labels: Fix

#86251 Shield "las" typos fixed
  code/game/objects/items/shields.dm
Labels: Grammar and Formatting

#86113 Build script detects sound changes properly.
  tools/build/build.js
Labels: Fix, Tools

#86111 Voidwalker 'Unsettle' doesn't immediately go on cooldown if line of sight is broken
  code/modules/antagonists/voidwalker/voidwalker_abilities.dm
Labels: Quality of Life

#86154 Sticker packs/Chief Engineer sticker
  code/datums/components/sticker.dm
  code/datums/station_traits/neutral_traits.dm
  code/game/objects/items/stickers.dm
  code/game/objects/items/storage/boxes/engineering_boxes.dm
  code/game/objects/items/storage/boxes/service_boxes.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/uplink/uplink_items/badass.dm
  icons/obj/storage/box.dmi
  icons/obj/toys/stickers.dmi
Labels: Sprites, Feature, Code Improvement

#86272 Fixes anomaly suicides and a grammar mishap in the suicide message
  code/modules/research/anomaly/anomaly_core.dm
Labels: Grammar and Formatting, Fix

#86157 Tguicheckbox tracks index
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
Labels: UI, Code Improvement

#85970 Smartfridge no longer pops open a separate tgui input to vend several items
  code/modules/food_and_drinks/machinery/smartfridge.dm
  tgui/packages/tgui/interfaces/SmartVend.tsx
Labels: UI, Quality of Life

#86441 [NO GBP] Re-adds the cytopro to the science areas
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/modules/cargo/packs/vending_restock.dm
  code/modules/research/xenobiology/vatgrowing/petri_dish.dm
  code/modules/vending/cytopro.dm
  icons/obj/machines/vending.dmi
  tgstation.dme
Labels: Sprites, Map Edit, GBP: No Update, Wallening Revert Recovery

#86440 restore lost to wallening revert runtime map edit
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Edit, Wallening Revert Recovery

#86439 Reintroducing my PRs that were lost in the wallening revert.
  _maps/RandomRuins/IceRuins/icemoon_surface_pizza.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck1.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/controllers/subsystem/id_access.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/id_trim/_id_trim.dm
  code/datums/id_trim/admin.dm
  code/datums/id_trim/centcom.dm
  code/datums/id_trim/jobs.dm
  code/datums/id_trim/ruins.dm
  code/datums/id_trim/syndicate.dm
  code/game/machinery/dish_drive.dm
  code/game/objects/effects/spawners/random/trash.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/food/meatslab.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/trash.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/art/paintings.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/point/point.dm
  code/modules/vending/games.dm
  icons/hud/screen_gen.dmi
  icons/obj/food/food.dmi
  icons/obj/food/meat.dmi
  icons/obj/food/mexican.dmi
  icons/obj/service/janitor.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/85759_waffle_trash_begone.txt
Labels: Map Edit, Wallening Revert Recovery

#86130 Rum can be synthetized again
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
Labels: Fix

#86116 Adds a Quiver to the Syndie rebar + various rebar and bolt improvements.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/actions/items/reload_rebar.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/deathmatch/deathmatch_modifier.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  icons/mob/actions/actions_items.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/neck.dmi
  icons/obj/weapons/bows/quivers.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/ballistic.dmi
  tgstation.dme
Labels: Sprites, Balance, Feature, Fix, Quality of Life

#86445 fish sounds
  code/__DEFINES/sound.dm
  code/game/sound.dm
  code/modules/fishing/fish/_fish.dm
  sound/creatures/fish/attritbution.txt
  sound/creatures/fish/fish_drop1.ogg
  sound/creatures/fish/fish_pickup1.ogg
  sound/creatures/fish/fish_pickup2.ogg
  sound/creatures/fish/fish_slap1.ogg
  sound/creatures/fish/fish_slap2.ogg
Labels: Sound

#85627 new aquarium ui and few new additions
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/datums/components/aquarium_content.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/fish/_fish.dm
  tgui/packages/tgui/interfaces/Aquarium.tsx
Labels: UI, Quality of Life

#86454 Detective board UI fixes
  code/game/objects/structures/detectiveboard.dm
  tgui/packages/tgui/interfaces/DetectiveBoard/DataTypes.tsx
  tgui/packages/tgui/interfaces/DetectiveBoard/Evidence.tsx
  tgui/packages/tgui/interfaces/DetectiveBoard/Pin.tsx
  tgui/packages/tgui/interfaces/DetectiveBoard/index.tsx
  tgui/packages/tgui/styles/interfaces/DetectiveBoard.scss
Labels: Fix, UI

#86447 fixes fences being pitch black (lost from wallening revert)
  code/game/objects/structures/railings.dm
Labels: Wallening Revert Recovery

#86477 [no gbp] aquarium ui fix
  code/modules/fishing/aquarium/aquarium.dm
Labels: Fix, GBP: No Update

#86168 Let ghosts use the jump emote
  code/modules/mob/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/modular_computers/file_system/programs/virtual_pet.dm
Labels: Feature

#86455 Re-adds the Runtime station delivery/navigation beacons
  _maps/map_files/debug/runtimestation.dmm
Labels: Fix, Map Edit, Wallening Revert Recovery

#86463 Fixes an oversight with jump boots
  code/modules/clothing/shoes/jumpboots.dm
Labels: Fix

#86066 Moves deletion for dreamluau objects to happen at the very end of the Destroy proc.
  code/datums/datum.dm
Labels: Code Improvement

#86099 (prev grey bull only) Soda and bee cans fit on tool belts - honoring the age-old tradition of drinking on the job
  code/game/objects/items/storage/belt.dm
Labels: Quality of Life

#86448 Prevents changelings from spawning bloody spiders inside of vents
  code/modules/antagonists/changeling/powers/spiders.dm
Labels: Fix

#86224 You can kill germs by actually cooking the food now (or by setting it on fire).
  code/datums/components/food/germ_sensitive.dm
Labels: Quality of Life

#86121 Acromegaly no longer makes you bonk your head on airlocks while you're inside of objects
  code/datums/mutations/body.dm
Labels: Fix

#86092 Syndie Sleepers now drop appropriate circuitboards and are aptly named.
  code/game/machinery/sleepers.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
Labels: Fix

#86466 [no gbp] increase volume of medkit sounds
  sound/items/medkit_drop.ogg
  sound/items/medkit_pick_up.ogg
Labels: Sound, GBP: No Update

#86451 Update broken base turf icon [Post Wallening]
  icons/turf/debug.dmi
Labels: Wallening Revert Recovery

#86090 Aquarium fish visuals cleanup and unit test.
  code/datums/components/aquarium_content.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_evolution.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/unit_tests/fish_unit_tests.dm
  icons/obj/aquarium/fish.dmi
Labels: Sprites, Fix, Unit Tests

#86468 Fixes Infinite Codicies
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: Fix

#86467 gives some items sound_vary true
  code/game/objects/items/grenades/_grenade.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/melee/baton.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/cups/drinkingglass.dm
Labels: Sound

#86103 Gives Plumbing Constructors and RTDs pick up and UI sounds
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RPD.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/objects/items/rcd/RTD.dm
Labels: Sound

#86471 Changes Brimdemon Trophy Text
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon_loot.dm
Labels: Grammar and Formatting

#86469 Changed `BUILD.cmd` in the RUNNING_A_SERVER.MD instructions to the correct file extension
  .github/guides/RUNNING_A_SERVER.md
Labels: Grammar and Formatting, Good First PR, GitHub

#86474 Reformats rebar crossbow description, removes nonexistent misfire warning.
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Removal

#86097 Embed updating now actually properly adds the embed element and embed type
  code/game/objects/items.dm
Labels: Fix

#86060 bumps dreamluau to 0.1.2
  dependencies.sh
  dreamluau.dll
Labels: Dependencies

#86039 Makes it so that every shields can be shieldbashed, not just riot shields. Take Two
  code/game/objects/items/shields.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
  sound/effects/energyshieldbash.ogg
Labels: Feature

#86159 The proc that calculates the force of a fish now takes metalgen into consideration.
  code/modules/fishing/fish/_fish.dm
Labels: Quality of Life

#85292 Adds two new BR maps, basic mobs, BR tweaks & fixes
  _maps/virtual_domains/grasslands_hunt.dmm
  _maps/virtual_domains/meta_central.dmm
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/dcs/signals/signals_bitrunning.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/emote_with_target.dm
  code/datums/ai/generic/find_and_set.dm
  code/modules/bitrunning/event.dm
  code/modules/bitrunning/objects/landmarks.dm
  code/modules/bitrunning/orders/tech.dm
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/virtual_domain/domains/grassland_hunt.dm
  code/modules/bitrunning/virtual_domain/domains/meta_central.dm
  code/modules/bitrunning/virtual_domain/modular_mob_segment.dm
  code/modules/mob/living/basic/farm_animals/deer/deer.dm
  code/modules/mob/living/basic/farm_animals/deer/deer_ai.dm
  code/modules/mob/living/basic/revolutionary.dm
  tgstation.dme
Labels: Balance, Feature, Fix, Map Edit

#85650 New ERT: Code Violet EMT Response Team
  code/datums/ert.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/mod/modules/modules_medical.dm
Labels: Feature

#86499 Fix basic bots stacking path hud images infinitely
  code/modules/mob/living/basic/bots/bot_hud.dm
Labels: Fix, Priority: High

#86472 Fixes the forgotten_ship captain having a normal makarov instead of a stetchkin APS
  _maps/virtual_domains/syndicate_assault.dmm
Labels: Fix, Map Edit

#86457 Replace COMFY_ORANGE_PAT with tgstation-ci[bot] app token
  .github/workflows/auto_changelog.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/update_tgs_dmapi.yml
Labels: GitHub

#86485 Fixes an faulty message when a AI controlled mech is destroyed
  code/game/objects/structures/ai_core.dm
Labels: Fix

#86487 Recovers some wallening Icebox changes [MDB Ignore]
  _maps/icebox.json
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit, Quality of Life, Wallening Revert Recovery

#86119 Removes a signal and a list from the movetype handler element.
  code/__DEFINES/dcs/signals/signals_movetype.dm
  code/__DEFINES/traits/sources.dm
  code/datums/elements/movetype_handler.dm
  code/modules/mob/living/living_update_icons.dm
Labels: Removal

#86065 Prevents persistence from trying to load more engravings than exists
  code/controllers/subsystem/persistence/engravings.dm
Labels: Fix

#86507 Revert "Replace COMFY_ORANGE_PAT with tgstation-ci[bot] app token"
  .github/workflows/auto_changelog.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/update_tgs_dmapi.yml
Labels: Revert, GitHub

#86504 Fix the task bar icon for the client
  interface/skin.dmf
Labels: Fix

#86489 fixes basic mobs not losing their aggroed appearance after death
  code/datums/components/appearance_on_aggro.dm
Labels: Fix

#86473 You don't need two hands to stream with broadcast camera
  code/game/objects/items/devices/broadcast_camera.dm
Labels: Quality of Life

#86500 Allows people to skip the icon cutter on a DMTARGET, but properly this time
  tools/build/build.js
Labels: Tools

#86510 Add start and completion gates to CI
  .github/workflows/ci_suite.yml
Labels: GitHub

#86505 Fix in game pr announce.
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools

#86530 Fix alternate tests checking
  .github/workflows/ci_suite.yml
Labels: GitHub

#86491 [no gbp] increase sound volume of fish sounds
  sound/creatures/fish/fish_drop1.ogg
  sound/creatures/fish/fish_pickup1.ogg
  sound/creatures/fish/fish_pickup2.ogg
  sound/creatures/fish/fish_slap1.ogg
  sound/creatures/fish/fish_slap2.ogg
Labels: Sound, GBP: No Update

#86532 Fix "Compile All Maps" and "Run Linters" not being required status checks
  .github/workflows/ci_suite.yml
Labels: GitHub

#86516 Detective board fix
  code/game/objects/structures/detectiveboard.dm
Labels: Fix

#86478 [NO GBP] changes the size of the Syndicate quiver
  code/game/objects/items/storage/bags.dm
Labels: Balance, GBP: No Update

#86108 Resprites civilian MODsuit
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/modules/_module.dm
  code/modules/mod/modules/modules_general.dm
  icons/mob/clothing/modsuit/mod_clothing.dmi
  icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: Sprites, Fix

#86509 Fixes a race condition in reagent metabolism
  code/modules/reagents/chemistry/holder/mob_life.dm
  code/modules/surgery/organs/internal/liver/_liver.dm
Labels: Fix

#86502 makes basic mob bot paths appear again
  code/modules/mob/living/basic/bots/bot_hud.dm
Labels: Fix

#86511 Fixes MODsuits Not Being Able To Deploy Individual Parts
  code/modules/mod/mod_activation.dm
Labels: Fix

#86495 Fixes certain prefs menu fields not updating when swapping character slots
  tgui/packages/tgui/components/Input.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
Labels: Fix, UI

#86517 fixes can_see not working
  code/__HELPERS/atoms.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/can_see.dm
Labels: Fix, Unit Tests

#86490 Fixes Mech UI breaking in certain circumstances.
  code/modules/vehicles/mecha/mecha_ui.dm
Labels: Fix

#86480 Makes borg deconstruction drop installed upgrades and an exoskeleton (again)
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#86519 Frees the imprisoned bookshelf (birdshot library)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#86529 Revert "Revert "Replace COMFY_ORANGE_PAT with tgstation-ci[bot] app token""
  .github/workflows/auto_changelog.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/update_tgs_dmapi.yml
Labels: Revert, GitHub

#86475 Batone sounds overhaul
  code/game/objects/items/melee/baton.dm
  sound/items/attributions.txt
  sound/items/baton/attribution.txt
  sound/items/baton/contractor_baton_unfolded_drop.ogg
  sound/items/baton/contractor_baton_unfolded_pickup.ogg
  sound/items/baton/stun_baton_active_drop.ogg
  sound/items/baton/stun_baton_active_pickup.ogg
  sound/items/baton/stun_baton_inactive_drop.ogg
  sound/items/baton/stun_baton_inactive_pickup.ogg
  sound/items/baton/telescopic_baton_folded_drop.ogg
  sound/items/baton/telescopic_baton_folded_pickup.ogg
  sound/items/baton/telescopic_baton_unfolded_drop.ogg
  sound/items/baton/telescopic_baton_unfolded_pickup.ogg
Labels: Sound, Code Improvement

#86488 fixes an if statement from the jump emote
  code/modules/mob/emote.dm
Labels: Code Improvement

#86032 Glove sounds
  code/modules/clothing/gloves/_gloves.dm
  sound/items/attributions.txt
  sound/items/equip/glove_equip.ogg
  sound/items/handling/glove_drop.ogg
  sound/items/handling/glove_pick_up.ogg
Labels: Sound

#86086 Hallucinatory Anomalies now produce hallucinatory decoys of itself, and hit a wider area
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/hallucinations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/effect_remover.dm
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
Labels: Balance

#86549 [NO GBP] Fixes a quick oversight from the metabolism race condition pr
  code/modules/reagents/chemistry/holder/mob_life.dm
Labels: Fix, GBP: No Update

#86540 Fixes EMPs not disabling turrets: 6 months edition
  code/game/machinery/porta_turret/portable_turret.dm
Labels: Fix

#86539 Fixes some misplaced stairs on Icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Map Edit

#86537 [NO GBP] Fixes the text of the instructions paper for lures.
  code/modules/fishing/fishing_equipment.dm
Labels: Grammar and Formatting, GBP: No Update

#86533 Fixes prosthetic quirk dropping organs underneath you when spawning
  code/datums/quirks/negative_quirks/prosthetic_organ.dm
Labels: Fix

#86117 beams now take into account pixel_w and pixel_z, fishing lines take into account pixel_y and pixel_x
  code/datums/beam.dm
Labels: Fix, Stale

#86564 some ai planning subsystem optimization
  code/controllers/subsystem/ai_controllers.dm
  code/datums/ai/_ai_behavior.dm
  code/datums/ai/_ai_controller.dm
Labels: Performance

#86552 Fixes a wrong file extension from a year ago
  tools/maplint/lints/heat_capacity.yml
Labels: Tools

#86351 *Add a capacity upgrade for janitorial cyborg light replacers
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
  icons/obj/service/janitor.dmi
Labels: Sprites, Feature

#86568 Adds OD's new pragma to lints, fixes all issues it found
  code/datums/wounds/_wounds.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/frog_statue.dm
  code/game/objects/items/pet_carrier.dm
  code/modules/admin/permissionedit.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/heretic/magic/ash_ascension.dm
  code/modules/client/verbs/ooc.dm
  code/modules/deathmatch/deathmatch_controller.dm
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/religion/sparring/sparring_contract.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
  tools/ci/od_lints.dm
Labels: Tools, Code Improvement

#86555 Sorts iceruinblacklist.txt and adds missing entries
  config/iceruinblacklist.txt
Labels: Fix, Config Update

#86553 Fixes missing felinid ear preference
  code/modules/mob/living/carbon/human/_species.dm
Labels: Fix

#86554 You no longer return to the station cuffed after being sacrificed by a heretic
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
Labels: Fix

#85982 Adds a node allowing syndicate battlecruisers to lock on to Birdshot Station's Z-Level
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#86589 Fixes Failing CI - Icemoon Unmanaged Genturf
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Continuous Integration, Map Edit

#86543 Entertainment Monitor QOL
  code/game/machinery/computer/telescreen.dm
Labels: Quality of Life

#86566 Fix trash cannons being unusable / Only food crafting recipes transfer reagents to target
  code/__DEFINES/crafting.dm
  code/datums/components/crafting/crafting.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
Labels: Fix

#86557 Fix ian bedsheet sprite having only one direction
  icons/obj/bedsheets.dmi
Labels: Sprites

#86576 [no gbp] fixes deer playing with their friends
  code/datums/ai/basic_mobs/basic_ai_behaviors/emote_with_target.dm
Labels: Fix, GBP: No Update

#86572 Fixes locker shoving closing and opening the locker thrice, sending its victim to the backrooms
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#86556 Allow beds to define what side their headrest is on, fixing medical/roller bed buckling and bed_tuckable directions
  code/datums/elements/bed_tucking.dm
  code/game/objects/structures/beds_chairs/bed.dm
Labels: Fix

#86559 fixes leaper polymorph outbreak
  code/datums/actions/action.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/components/seethrough_mob.dm
  code/modules/clothing/belts/polymorph_belt.dm
Labels: Fix

#86035 Autowiki for fishing.
  code/__DEFINES/fish.dm
  code/__HELPERS/cmp.dm
  code/controllers/subsystem/processing/fishing.dm
  code/datums/components/profound_fisher.dm
  code/game/objects/items/food/bait.dm
  code/modules/autowiki/pages/base.dm
  code/modules/autowiki/pages/fishing.dm
  code/modules/autowiki/pages/soup.dm
  code/modules/autowiki/pages/vending.dm
  code/modules/clothing/gloves/special.dm
  code/modules/experisci/experiment/types/experiment.dm
  code/modules/fishing/bait.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_evolution.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish_catalog.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/unit_tests/fish_unit_tests.dm
  icons/obj/fishing.dmi
  icons/obj/storage/box.dmi
  tgstation.dme
Labels: Sprites

#85011 Mimes french kiss now activates the SM
  code/modules/power/supermatter/supermatter_hit_procs.dm
Labels: Fix, Good First PR

#86560 [NO GBP] Fixes mystery boxes breaking after a single use
  code/game/objects/structures/mystery_box.dm
Labels: Fix, GBP: No Update

#86580 Removes a sleep from broodmother code
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/goliath_broodmother.dm
Labels: Removal

#86506 Reworks examine (a little)
  code/__DEFINES/chat.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/span.dm
  code/datums/elements/ai_held_item.dm
  code/datums/elements/dextrous.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/pierce.dm
  code/game/atom/atom_examine.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/game/objects/items/storage/wallets.dm
  code/modules/antagonists/changeling/powers/transform.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/basic/cult/constructs/_construct.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/basic/guardian/guardian_types/dextrous.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/silicon/ai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/modular_computers/computers/item/computer.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Refactor, UI, Quality of Life

#86528 Fixes binary conversion circuit component so that it does conversion into binary
  code/modules/wiremod/components/math/binary_conversion.dm
Labels: Fix, Code Improvement

#86526 Fixes broken malf AI shunting, fixes AI dying when they move a controlled mech into the SM, undoes mech domination cancelling delta, makes mech destruction during control cause a massive EMP instead
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_silicon.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/power/apc/apc_malf.dm
  code/modules/vehicles/_vehicle.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/mecha_ai_interaction.dm
  code/modules/vehicles/mecha/mecha_mob_interaction.dm
  code/modules/vehicles/sealed.dm
Labels: Balance, Fix

#86583 Fixes getting negative moodlet from fire while immune
  code/datums/status_effects/debuffs/fire_stacks.dm
Labels: Fix

#85728 Void Heretic Rework: You Can (Not) Heat Up.
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/toggle_attached_clothing.dm
  code/datums/proximity_monitor/fields/void_storm.dm
  code/datums/weather/weather_types/void_storm.dm
  code/game/atom/alternate_appearance.dm
  code/game/objects/effects/anomalies/anomalies_bioscrambler.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/modules/antagonists/heretic/items/heretic_armor.dm
  code/modules/antagonists/heretic/knowledge/side_flesh_void.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/magic/void_conduit.dm
  code/modules/antagonists/heretic/magic/void_phase.dm
  code/modules/antagonists/heretic/magic/void_prison.dm
  code/modules/antagonists/heretic/magic/void_pull.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  code/modules/antagonists/heretic/status_effects/void_chill.dm
  code/modules/mob/living/carbon/life.dm
  icons/effects/effects.dmi
  icons/hud/screen_alert.dmi
  icons/mob/actions/actions_ecult.dmi
  icons/mob/inhands/64x64_lefthand.dmi
  icons/mob/inhands/64x64_righthand.dmi
  icons/obj/weapons/khopesh.dmi
  icons/turf/overlays.dmi
  sound/magic/VoidDeflect01.ogg
  sound/magic/VoidDeflect02.ogg
  sound/magic/VoidDeflect03.ogg
  tgstation.dme
  tools/pull_request_hooks/tests/flakyTestPayloads/chat_client.txt
Labels: Sprites, Sound, Balance, Feature, Tools

#86607 Examine Hud hotfixing
  code/modules/mob/living/carbon/examine.dm
Labels: Fix, GBP: No Update

#86590 Makes large parcels gigantic to prevent pickup cheese
  code/modules/recycling/sortingmachinery.dm
Labels: Fix

#86534 Added an increasing chance for malfunction on repeated failed polling for MM helmets
  code/modules/clothing/head/mind_monkey_helmet.dm
Labels: Feature

#86585 Revert "Refactor some usages of get_step_towards in loops to use get_steps_to instead" and subsequent fix
  code/__HELPERS/atoms.dm
  code/__HELPERS/spatial_info.dm
  code/_onclick/click.dm
Labels: Refactor, Revert

#86601 Fixes the rest of the sleeps in Life()
  code/modules/mob/living/basic/ruin_defender/flesh.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/goose.dm
Labels: Fix

#86599 Fixes ctrl-click not enabling suit sensors
  code/modules/clothing/under/_under.dm
Labels: Fix

#86175 Fishing rewards are now chosen once the minigame starts, not beforehand (feat. Crushing the difficulty now skips the minigame)
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/__DEFINES/fish.dm
  code/datums/components/fishing_spot.dm
  code/modules/fishing/admin.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
Labels: Balance, Refactor

#86125 [NO GBP] Fixing fishing code not caring whether a reward is limited or not.
  code/datums/elements/lazy_fishing_spot.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
Labels: Fix, GBP: No Update

#86597 Teleport blocker security implants prevent jaunting
  code/__DEFINES/dcs/signals/signals_spell.dm
  code/game/objects/items/implants/security/implant_noteleport.dm
  code/modules/spells/spell_types/jaunt/_jaunt.dm
Labels: Balance, GBP: No Update

#86546 Infiltrator suit now hides wings, antennae and obfuscates your voice
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/inventory.dm
  code/datums/components/speechmod.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/surgery/organs/external/_visual_organs.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
Labels: Fix, Quality of Life

#86091 Pun Pun Station Trait, But it's only active on Monkey Day (14 December, every round)
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/processing/station.dm
  code/datums/id_trim/jobs.dm
  code/datums/station_traits/job_traits.dm
  code/datums/station_traits/positive_traits.dm
  code/game/objects/effects/landmarks.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/holiday/holidays.dm
  code/modules/jobs/job_types/station_trait/pun_pun.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/uplink/uplink_items/job.dm
  icons/hud/lobby/signup_button.dmi
  icons/mob/huds/hud.dmi
  icons/obj/card.dmi
  icons/obj/weapons/guns/ballistic.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Sprites, Feature, UI

#86449 New Syndicate Stealth MODule: Wraith.
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_x_act.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/seclight_attachable.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/melee/baton.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/pai/card.dm
  code/modules/pai/pai.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/floodlight.dm
  code/modules/power/lighting/light.dm
  code/modules/projectiles/projectile/special/saboteur.dm
  code/modules/uplink/uplink_items/suits.dm
  code/modules/vehicles/mecha/_mecha.dm
  icons/obj/clothing/modsuit/mod_modules.dmi
Labels: Sprites, Feature, Code Improvement

#86611 Fix up the information on some void heretic abilities; fixes a typo and makes another more descriptive
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/magic/void_conduit.dm
Labels: Grammar and Formatting

#86608 You no longer die from bloodloss after polymorphing back from an ahealed simplemob
  code/modules/spells/spell_types/shapeshift/_shape_status.dm
Labels: Fix

#86593 Fish electrogenesis now scales with size.
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/types/freshwater.dm
  code/modules/fishing/fish/types/syndicate.dm
Labels: Balance

#86602 Ties Active Turfs to SSair Windows + Makes Turf Activation Direction Agnostic
  code/controllers/subsystem/air.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: Atmospherics

#86595 Clears out a double railing on the wizard den/ragin' mages maps
  _maps/deathmatch/ragin_mages.dmm
  _maps/templates/lazy_templates/wizard_den.dmm
Labels: Fix, Map Edit

#86548 Decouples free vending machine behavior from the 'onstation' var
  _maps/RandomRuins/IceRuins/icemoon_surface_phonebooth.dmm
  _maps/RandomRuins/IceRuins/icemoon_surface_pizza.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_phonebooth.dmm
  _maps/RandomRuins/SpaceRuins/hauntedtradingpost.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/phonebooth.dmm
  _maps/RandomRuins/SpaceRuins/spinwardsmoothies.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/pirate_irs.dmm
  _maps/shuttles/pirate_silverscale.dmm
  _maps/templates/shelter_3.dmm
  code/game/objects/items/circuitboards/circuitboard.dm
  code/modules/mapfluff/ruins/objects_and_mobs/museum.dm
  code/modules/vending/_vending.dm
  code/modules/vending/subtype.dm
  code/modules/vending/sustenance.dm
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: Refactor, UI, Map Edit

#85637 converts certain donk outpost objects to use SSqueuelinks instead of globals
  code/datums/datum.dm
  code/modules/mapfluff/ruins/spaceruin_code/hauntedtradingpost.dm
  code/modules/mob/living/basic/ruin_defender/cybersun_aicore.dm
Labels: Stale, Code Improvement

#86586 ethereal cell is now stored in contents instead of nullspace
  code/modules/surgery/organs/internal/stomach/stomach_ethereal.dm
Labels: Balance, Fix
