Repository tgstation/tgstation, pull requests merged in 2024-06, with the labels that each got.

#83187 [Metastation] MetaCargo: The Spring-Cleanening
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Feature, Map Edit

#83624 Stops janiborgs from killing the machinery subsystem by charging light replacers 200000 times a charge tick
  code/game/objects/items/devices/lightreplacer.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: Fix

#83558 Makes the Shaft Miner's Explorer Suit sprite more consistent!
  icons/mob/clothing/suits/utility.dmi
Labels: Sprites

#83576 [NO GBP] fixes positive viruses being hidden
  code/datums/diseases/advance/advance.dm
Labels: Fix, GBP: No Update

#83562 Fixes runtime with serializing photo metadata
  code/datums/datum.dm
  code/modules/photography/_pictures.dm
Labels: Runtime

#83601 print 5 cable coils instead of 1 in lathes
  code/modules/research/designs/autolathe/multi-department_designs.dm
Labels: Quality of Life

#83590 Fix imaginary friend trauma and message range
  code/datums/brain_damage/imaginary_friend.dm
Labels: Fix

#83564 Remove a bunch of unnecessary periods from photo descriptions containing living entities.
  code/modules/mob/living/living.dm
  code/modules/photography/camera/camera.dm
Labels: Grammar and Formatting

#83602 adds missing context tips to atmos canisters
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: Fix

#83491 Allows the fermenting (wooden) barrel to be emptied and to be wrenched + add contextual helpers to help visualize its interactions
  code/modules/hydroponics/fermenting_barrel.dm
Labels: Code Improvement, Quality of Life

#83479 projectile dismemberment respects limb dismemberability
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Balance

#83463 Restrict AI floor bolt external manipulation
  code/modules/mob/living/silicon/ai/ai_defense.dm
Labels: Balance

#83452 Fixing the timeline (Paradox clone fixes)
  code/__DEFINES/DNA.dm
  code/__DEFINES/mobs.dm
  code/datums/dna.dm
  code/datums/quirks/neutral_quirks/heretochromatic.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/wizard/grand_ritual/finales/immortality.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
Labels: Fix

#83569 Improves the NTSS Independence's medical bay
  _maps/shuttles/emergency_cruise.dmm
  code/game/machinery/sleepers.dm
Labels: Fix, Map Edit, Quality of Life

#83444 Pillow now consumes stamina in both unwielded and wielded states
  code/game/objects/items/pillow.dm
Labels: Balance

#83503 Fix not being able to stop looking vertically
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Labels: Fix

#83531 fix: allow giant spiders aggressively grab again
  code/game/atoms_movable.dm
  code/modules/mob/living/basic/space_fauna/robot_customer.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/living_defense.dm
Labels: Fix

#83490 Toilet and urinal updates (flushing dead fish included)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  code/game/objects/items/clown_items.dm
  code/game/objects/structures.dm
  code/game/objects/structures/curtains.dm
  code/game/objects/structures/water_structures/sink.dm
  code/game/objects/structures/water_structures/toilet.dm
  code/game/objects/structures/water_structures/urinal.dm
  code/game/objects/structures/water_structures/water_source.dm
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
  sound/attributions.txt
  sound/machines/toilet_flush.ogg
  tgstation.dme
Labels: Sprites, Sound, Feature, Fix, Map Edit

#83527 Adds an ion storm law that affects the humanity status of station pets
  code/modules/events/ion_storm.dm
  strings/ion_laws.json
Labels: Feature

#83477 Minor code clean-up for Cryo
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Fix, Code Improvement

#83275 Refactored ghetto chem separator
  code/datums/components/crafting/chemistry.dm
  code/modules/reagents/chemistry/colors.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/chem_separator.dm
  tgui/packages/tgui/interfaces/ChemSeparator.tsx
Labels: Refactor, UI, Quality of Life

#83242 Adds Crutches to Medbay & Crafting
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/status_effects/wound_effects.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/weaponry.dm
  code/modules/mob/living/living.dm
  code/modules/vending/medical.dm
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/obj/weapons/staff.dmi
Labels: Sprites, Grammar and Formatting, Feature

#83589 Biogen refactor + fixes [no gbp]
  tgui/packages/tgui/interfaces/Biogenerator.tsx
Labels: Fix, Refactor, UI, GBP: No Update

#83116 Borgs: the moduling (Various fixups to borg module code)
  code/game/objects/effects/spawners/random/exotic.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: Fix, Refactor

#83437 Mining armor and suit storage cleanup/generalization/modernization
  code/__DEFINES/inventory.dm
  code/datums/actions/items/beserk.dm
  code/datums/components/armor_plate.dm
  code/datums/components/crafting/tailoring.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mod/mod_theme.dm
Labels: Balance, Fix

#83606 Fixes being permanently attached to tram
  code/modules/transport/tram/tram_controller.dm
  code/modules/transport/transport_module.dm
Labels: Fix

#83612 Patches exploit with (and pre-emptively bumps the usage costs) to the new Adrenal Glands
  code/modules/antagonists/changeling/powers/adrenaline.dm
Labels: Balance, Fix

#83501 Cuffed people can sign (to a limited degree), signing tone emotes improvement
  code/datums/components/sign_language.dm
  code/modules/mob/mob_helpers.dm
Labels: Quality of Life

#83604 Fixes COMSIG_ATOM_POST_DIR_CHANGE having the same definition as COMSIG_ATOM_DIR_CHANGE
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movement.dm
Labels: Fix

#83572 Fixes css issue in orbit menu [no gbp]
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
  tgui/packages/tgui/styles/interfaces/Orbit.scss
Labels: Fix, UI, GBP: No Update

#83528 [Birdshot] Dorms Remap and Station Aesthetic Cleanup.
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit, Quality of Life

#83567 Graveyard update take two
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/datums/elements/gravedigger.dm
  code/game/area/areas/mining.dm
  code/game/turfs/open/asteroid.dm
  code/modules/mapfluff/ruins/lavalandruin_code/elephantgraveyard.dm
  code/modules/mining/equipment/mining_tools.dm
  icons/area/areas_station.dmi
  icons/obj/storage/crates.dmi
  tgstation.dme
Labels: Sprites, Feature, Code Improvement, Map Edit

#83613 Floor diseases are easier to cure
  code/datums/diseases/advance/floor_diseases/carpellosis.dm
  code/datums/diseases/advance/floor_diseases/gastritium.dm
  code/datums/diseases/advance/floor_diseases/nebula_nausea.dm
Labels: Balance

#83645 Added the zipzap to the ocean sources
  code/modules/fishing/sources/source_types.dm
Labels: Fix

#83594 Revert "Blade creation ritual returns lost blades"
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: Revert

#83649 Adds Soup boiling SFX
  code/datums/looping_sounds/machinery_sounds.dm
  code/modules/food_and_drinks/machinery/stove_component.dm
  sound/attributions.txt
  sound/effects/soup_boil1.ogg
  sound/effects/soup_boil2.ogg
  sound/effects/soup_boil3.ogg
  sound/effects/soup_boil4.ogg
  sound/effects/soup_boil5.ogg
  sound/effects/soup_boil_end.ogg
Labels: Sound

#83640 Fix null authors breaking test merge bot
  tools/test_merge_bot/main.js
Labels: Tools

#83627 [Fix] Removes ability from non-cargonia plebians to confirm cargo orders from request console
  tgui/packages/tgui/interfaces/Cargo/CargoCart.tsx
Labels: Fix, UI

#83554 Minor Spider Rebalance
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob_spawn/ghost_roles/spider_roles.dm
Labels: Balance

#83669 Make AI's jump to AI Core button work while on backup power
  code/_onclick/hud/ai.dm
Labels: Quality of Life

#83668 Adds a tiny fan to Tramstation's disposals room
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#83666 Fix Meta cargo lobby being unconnected to power
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#83662 Ash Ascension spells have high transparency
  code/modules/antagonists/heretic/magic/ash_ascension.dm
Labels: Quality of Life

#83651 Fixes grammar in cat_house.dm
  code/game/objects/structures/cat_house.dm
Labels: Grammar and Formatting

#83644 Removes references to no-longer-existent "Tesla Energy Relay" from nukeop uplink
  code/modules/uplink/uplink_items/nukeops.dm
Labels: Grammar and Formatting, Removal

#83641 removes the force drop when trying to attack with an unwielded crusher
  code/modules/mining/equipment/kinetic_crusher.dm
Labels: Removal, Quality of Life

#83611 Fixes incorrect arguments in Status Displays
  code/game/machinery/status_display.dm
Labels: Fix

#83600 Resprites: Antag mechs
  icons/mob/rideables/mecha.dmi
Labels: Sprites

#82298 Wawastation
  _maps/_basemap.dm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/wawastation.json
  code/game/area/areas/ai_monitored.dm
  code/game/area/areas/station/command.dm
  code/game/area/areas/station/medical.dm
  code/game/area/areas/station/science.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/doors/door.dm
  code/game/objects/effects/spawners/random/contraband.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/structures/plaques/static_plaques.dm
  code/modules/awaymissions/gateway.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/projectiles/ammunition/ballistic/rocket.dm
  code/modules/projectiles/boxes_magazines/internal/grenade.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/projectile/special/rocket.dm
  code/modules/transport/transport_module.dm
  code/modules/unit_tests/cardboard_cutouts.dm
  config/maps.txt
Labels: Sound, Feature, Config Update, Map Edit

#83675 Icebox service hall disposal unit
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Edit, Quality of Life

#83696 [METASTATION] Connects the vault APC to the powernet
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#83699 Spacecoin market now shows where it will land with animated circle
  code/game/objects/items/crab17.dm
Labels: Code Improvement

#83138 Adds Biomes to the Cave Generator, for all of your procedurally-placed cave biome needs!
  code/__DEFINES/maps.dm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/biomes/_biome.dm
  code/game/turfs/turf.dm
Labels: Feature, Code Improvement

#83475 Probital and disgust vomit are knockdowns, not stuns
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
Labels: Balance, Removal

#83677 Updates wendigo, adamantine and berserker armor icons
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/obj/clothing/head/helmet.dmi
  icons/obj/clothing/suits/armor.dmi
Labels: Sprites

#83691 nerfs the frog ear rape
  sound/effects/huuu.ogg
  sound/effects/reee.ogg
Labels: Sound

#83698 Legioned Monkeys create different mobs
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/legion/legion_monkey.dm
  icons/mob/simple/icemoon/icemoon_monsters.dmi
  icons/mob/simple/lavaland/lavaland_monsters.dmi
  tgstation.dme
Labels: Sprites, Feature

#83487 Cultist shades no longer count as cultists for the purposes of invoking runes until a minute after being released
  code/modules/antagonists/cult/cult_other.dm
  code/modules/antagonists/cult/datums/constructs.dm
  code/modules/antagonists/cult/datums/cult_team.dm
  code/modules/antagonists/cult/datums/cultist.dm
  code/modules/antagonists/cult/datums/shade.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  tgstation.dme
Labels: Balance, Fix, Code Improvement

#83697 Increase wildcard slots on grey and silver IDs [NO GBP]
  code/__DEFINES/id_cards.dm
Labels: Balance, GBP: No Update

#83659 cult stun gets weaker at when cult gets red eyes, and then also halo stage
  code/modules/antagonists/cult/blood_magic.dm
Labels: Balance

#83471 Sentient mobs can slowly subtract slime stacks by shaking
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/status_effects/debuffs/slime/slimed.dm
  code/datums/wounds/slash.dm
  code/modules/mob/living/basic/icemoon/wolf/wolf.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/basic/pets/dog/_dog.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: Balance

#81920 basic honkbots
  _maps/shuttles/emergency_casino.dmm
  code/__DEFINES/ai/ai.dm
  code/__DEFINES/ai/bot_keys.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_ai.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/movement/ai_movement_jps.dm
  code/datums/components/crafting/robot.dm
  code/datums/components/cuff_n_stun.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
  code/modules/mob/living/basic/bots/honkbots/honkbot.dm
  code/modules/mob/living/basic/bots/honkbots/honkbot_abilities.dm
  code/modules/mob/living/basic/bots/honkbots/honkbot_ai.dm
  code/modules/mob/living/basic/bots/hygienebot/hygienebot.dm
  code/modules/mob/living/basic/bots/medbot/medbot.dm
  code/modules/mob/living/basic/bots/medbot/medbot_ai.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/81920_honkbots.txt
Labels: Feature, Tools, Refactor, Map Edit

#83720 Mutadone restores your original monkey status
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/mutations/body.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance

#83597 tgui: changes typescript module resolution to recommended setting
  tgui/tsconfig.json
Labels: UI

#83103 janitor keyring now spawns in all janitor's backpacks instead of only the first one's
  code/modules/jobs/job_types/janitor.dm
Labels: Feature, Removal, Stale

#83729 Paradox clones copy the voice.
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Fix

#83727 Fixes COMSIG_ATOM_POST_DIR_CHANGE sending the wrong oldDir argument
  code/game/atom/_atom.dm
Labels: Fix

#83725 Fixes RLD glowsticks not actually glowing
  code/game/objects/items/rcd/RLD.dm
Labels: Fix

#83723 Fixes a sorting pipe in Birdshot
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#83710 Fixes Using 'ESC' Key To Unbind Keybindings + Adds Function to Check It Elsewhere
  tgui/packages/common/keys.ts
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui/components/Button.tsx
  tgui/packages/tgui/components/Input.tsx
  tgui/packages/tgui/components/NumberInput.tsx
  tgui/packages/tgui/components/TextArea.tsx
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/KeyComboModal.tsx
  tgui/packages/tgui/interfaces/LootPanel/index.tsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/KeybindingsPage.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
Labels: Fix, UI

#83703 Fixes tool-based flashes being stuck at intensity 1
  code/datums/elements/tool_flash.dm
Labels: Fix

#83705 Makes transferring functional wings to new bodies actually work
  code/modules/surgery/organs/external/wings/functional_wings.dm
Labels: Fix

#83700 [NO GBP] Fixes drake empowerment for berserker armor by adding drake remains, which are used to make drake armor and empower the suit
  code/datums/components/crafting/tailoring.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/mining/lavaland/tendril_loot.dm
Labels: Feature, Fix, GBP: No Update

#83317 Syndicate AI fixes
  code/__HELPERS/mobs.dm
  code/datums/wires/robot.dm
  code/game/machinery/computer/law.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Balance, Fix

#83694 Fixes Bubblegums Melee Cooldown
  code/datums/actions/mobs/charge.dm
Labels: Fix

#83692 Fix Pre-Loaded Syndicate AI appearing in PDA messenger
  code/game/objects/items/devices/aicard_evil.dm
Labels: Fix

#83520 Fixes brig cell timer adjusting reducing the time by the time served for every operation. The maximum allowed time is based on the timer and not time served.
  code/game/machinery/doors/brigdoors.dm
Labels: Fix, Stale

#83587 Auto Lathe Runtime Fixes
  code/game/machinery/autolathe.dm
Labels: Fix

#83607 Fixes some coffee inconsistencies
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
Labels: Fix

#83610 Tram crossing signal logic fixes
  code/__DEFINES/transport.dm
  code/datums/components/energized.dm
  code/modules/transport/tram/tram_signals.dm
Labels: Fix

#83625 Little QOL change for AI cyborg display power
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Quality of Life

#83543 Fixes curator whip disarming even after getting parried
  code/_onclick/item_attack.dm
  code/game/objects/items/melee/misc.dm
Labels: Fix

#83580 Centcom/Nukie mechs receive better innate armor but cannot be upgraded
  code/modules/vehicles/mecha/combat/gygax.dm
  code/modules/vehicles/mecha/combat/marauder.dm
Labels: Balance, Verified :heavy_check_mark:

#83670 Blindfold Color Preference
  code/datums/quirks/negative_quirks/blindness.dm
  code/modules/client/preferences/blindfold_color.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/blindfold_color.tsx
Labels: Feature, UI

#83664 making installing card readers and airlock electronics into closets easier and more intuitive.
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Quality of Life

#83650 [NO GBP] Only add the armor plate prefix once.
  code/datums/components/armor_plate.dm
Labels: Fix, GBP: No Update

#83758 Fix actionspeed modifiers with IDs being broken
  code/modules/actionspeed/_actionspeed_modifier.dm
Labels: Fix

#83734 Fix borg emag modules stuck in inventory/screen after losing emag status
  code/_onclick/hud/robot.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: Fix

#83736 Alt right click refactor
  code/_onclick/click.dm
  code/_onclick/click_alt.dm
  code/game/objects/items/cards_ids.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/under/_under.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/reagents/chemistry/machinery/chem_mass_spec.dm
Labels: Refactor

#83770 Change the pAI display face selection to a radial
  code/modules/pai/software.dm
Labels: Quality of Life

#83768 Fixes techfab print runtime for non apc areas
  code/modules/research/machinery/_production.dm
Labels: Fix

#83765 [NO GBP] Post-Rust Heretic's Rework adjustments.
  code/datums/elements/rust.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
Labels: Balance, Fix, GBP: No Update

#83759 Fix smoking pipe sprite typo
  code/game/objects/items/cigs_lighters.dm
Labels: Fix

#83757 adds final destination deathmatch map
  _maps/deathmatch/finaldestination.dmm
  code/game/turfs/open/_open.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/deathmatch/deathmatch_maps.dm
Labels: Feature, Fix, Map Edit

#83361 Sneeze Rework: Projectile Combat Edition
  code/datums/components/shielded.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/symptoms/sneeze.dm
  code/datums/diseases/cold.dm
  code/datums/diseases/cold9.dm
  code/datums/diseases/dna_spread.dm
  code/datums/diseases/fake_gbs.dm
  code/datums/diseases/flu.dm
  code/datums/diseases/fluspanish.dm
  code/datums/diseases/wizarditis.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/effects/cursor_catcher.dm
  code/modules/events/fake_virus.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/sneeze.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  icons/obj/weapons/guns/projectiles.dmi
  tgstation.dme
Labels: Sprites, Balance

#83752 [NO GBP] Only filled graves will provide a mood modifier
  code/modules/mapfluff/ruins/lavalandruin_code/elephantgraveyard.dm
Labels: Fix, GBP: No Update

#83751 remove human requirement for invisible_wall
  code/modules/spells/spell_types/conjure/invisible_wall.dm
Labels: Balance

#83465 Adds a random martial arts modifier to deathmatch + Adds a blacklisted map framework to modifiers
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_modifier.dm
Labels: Feature, Stale

#83748 Fixes space ruin blacklist
  config/spaceruinblacklist.txt
Labels: Fix, Config Update

#83743 Fixes borg chargers constantly (abet slowly) draining borg cells.
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: Fix

#83767 Fix wrench screentip typo for smart fridge
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: Grammar and Formatting, Fix

#83774 Wall button refactor and qol
  code/game/machinery/buttons.dm
Labels: Sound, Fix, Refactor, Quality of Life

#83630 Fixes a weird formatting problem with the intern announcer
  code/datums/announcers/intern_announcer.dm
Labels: Grammar and Formatting

#83404 Icemoon Comms agent
  _maps/RandomRuins/IceRuins/icemoon_underground_comms_agent.dmm
  code/datums/ruins/icemoon.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/area/areas/ruins/icemoon.dm
  code/modules/mapfluff/ruins/icemoonruin_code/commsagent.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/photography/photos/album.dm
  tgstation.dme
Labels: Feature, Map Edit

#83740 Fix crew records not accounting for quirks for latejoiners
  code/modules/mob/dead/new_player/new_player.dm
Labels: Fix

#83733 Fix admin borg panel unable to install/remove upgrades
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/admin/verbs/borgpanel.dm
Labels: Fix

#83724 reactive armor spelling
  _maps/RandomRuins/SpaceRuins/anomaly_research.dmm
  code/modules/clothing/suits/reactive_armour.dm
  code/modules/research/designs/misc_designs.dm
Labels: Grammar and Formatting, Map Edit

#83683 Plexagon Access Management now tells you that you need a Trim to use Templates for ID cards
  tgui/packages/tgui/interfaces/NtosCard.tsx
Labels: UI, Quality of Life

#83661 [no gbp] fixes lobstrosities fishing infinite resources
  code/datums/components/profound_fisher.dm
Labels: Fix, GBP: No Update

#83657 Fixes admins not being able to force some rulesets with Stationwide Background Checks station trait
  code/controllers/subsystem/dynamic/dynamic.dm
Labels: Fix

#83636 Makes The Automute Thingo Yell At You A Bit Louder
  code/modules/client/client_procs.dm
Labels: Administration

#83621 Adds a TRAIT_NO_TRANSFORM check to AI movement.
  code/datums/ai/movement/_ai_movement.dm
Labels: Fix

#83609 Fix air alarm silicon lock/unlock
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_interact.dm
Labels: Fix

#83462 New operating sounds for wrench, crowbar and wirecutter
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/tools.dm
  code/game/objects/items.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  sound/items/crowbar_prying.ogg
  sound/items/ratchet_fast.ogg
  sound/items/ratchet_slow.ogg
  sound/items/screwdriver_operating.ogg
  sound/items/wirecutter_cut.ogg
Labels: Sound

#83717 Fixes Icebox active turfs in an attempt to save Peter Junior from cold
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Edit

#83806 debug
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/datums/ruins/icemoon.dm
Labels: Map Edit

#83776 Fix icon cutter readme file
  tools/icon_cutter/README.md
Labels: Tools

#83591 Adds a few more pulsar star station trait reports
  code/controllers/subsystem/dynamic/dynamic.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/station_traits/positive_traits.dm
Labels: Feature

#83578 Add circuit component cameras
  code/game/machinery/rechargestation.dm
  code/modules/photography/camera/camera.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/atom/remotecam.dm
  code/modules/wiremod/shell/airlock.dm
  code/modules/wiremod/shell/drone.dm
  tgstation.dme
Labels: Feature

#83790 Adds overflow back to the orbit menu
  tgui/packages/tgui/styles/interfaces/Orbit.scss
Labels: Fix, UI

#83812 Removes the unpowered door subtype
  _maps/templates/small_shuttle_1.dmm
  code/game/machinery/doors/unpowered.dm
  tgstation.dme
Labels: Removal, Map Edit

#83797 Getting surgically cut open while conscious will now give you the "THEY'RE CUTTING ME OPEN!!" surgical mood event.
  code/datums/mood_events/generic_negative_events.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/repair_puncture.dm
  code/modules/surgery/surgery_step.dm
Labels: Fix

#83796 Implements some unused mood events into their relevant phobias.
  code/datums/brain_damage/phobia.dm
Labels: Fix

#83794 Fixes some Raptor grammar
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_controller.dm
Labels: Grammar and Formatting

#83791 Fix coders leaving coderbus
  _maps/RandomRuins/SpaceRuins/bus.dmm
Labels: Balance, Map Edit

#83786 lobstrosity's meat is RAW!
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
Labels: Fix

#83785 [NO-GBP] Fixes my borg moduling fuckup
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Fix, GBP: No Update

#83782 Whitelists the fishing trait "Anxiety" to only detect fish.
  code/modules/fishing/fish/fish_traits.dm
Labels: Fix

#83781 Adds a chat message for fishing in a chasm with a normal and rescue hook
  code/datums/components/fishing_spot.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
Labels: Quality of Life

#83777 Fixes basic bots being targeted by turrets
  code/modules/mob/living/basic/bots/_bots.dm
Labels: Fix

#83771 Add Engineering Access to Birdshot Engineering Doors
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#83738 stacking machine consoles check in area instead of a tiny view range on init
  code/modules/mining/machine_stacking.dm
Labels: Code Improvement

#83795 Spooky element fixes
  code/datums/elements/spooky.dm
Labels: Grammar and Formatting, Fix

#83713 lowers mutadone pill volume from 50 to 5
  code/modules/reagents/reagent_containers/pill.dm
Labels: Balance

#83258 buffs other cat2 chems to make them more appealing (+vendor calomel)
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/vending/medical.dm
Labels: Balance, Feature

#83310 Adds Atmos-themed Rebar Crossbow Ammo Types (and minor balance changes)
  code/__DEFINES/projectiles.dm
  code/datums/components/crafting/equipment.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/granters/crafting/rebarxbowsyndie.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/uplink/uplink_items/job.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/weapons/bows/quivers.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/projectiles.dmi
  sound/items/xbow_lock.ogg
Labels: Sprites, Sound, Balance, Feature, Fix

#83803 Contractor baton excluded from TBaton spy bounty
  code/game/gamemodes/objective_items.dm
Labels: Fix

#83801 Fixes fake announcements for the shuttle loan event
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
Labels: Fix

#83793 Fixes certain quirks being erased by slimeperson cloning.
  code/datums/quirks/negative_quirks/chronic_illness.dm
  code/datums/quirks/negative_quirks/hemiplegic.dm
  code/datums/quirks/neutral_quirks/heretochromatic.dm
  code/datums/quirks/positive_quirks/bilingual.dm
  code/datums/quirks/positive_quirks/settler.dm
  code/datums/quirks/positive_quirks/signer.dm
  code/datums/quirks/positive_quirks/spacer.dm
Labels: Fix

#83708 fixes ebolas whiffing on prone targets and leaving junk behind
  code/game/objects/items/handcuffs.dm
Labels: Fix

#83706 Tram malfunction adjustments
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/controllers/subsystem/transport.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/tram_malfunction.dm
  code/modules/transport/tram/tram_controller.dm
  code/modules/transport/tram/tram_machinery.dm
  icons/obj/tram/tram_controllers.dmi
  icons/obj/tram/tram_display.dmi
Labels: Sprites, Feature, Removal, Map Edit, Quality of Life

#83688 NEW BEPIS: Positronic sphere
  code/game/objects/items/broom.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/brain/brain.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/devices/assemblies.dmi
Labels: Sprites, Feature

#83616 Changeling Rebalance: Kill It With Fire, feat. Armblade Rework
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Balance, Feature, Fix

#83672 Tram door fixes
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/door_assembly_types.dm
  code/modules/transport/tram/tram_doors.dm
Labels: Fix

#83608 ERT_Bounty.DMM ship touchup
  _maps/shuttles/ert_bounty.dmm
Labels: Stale, Map Edit, Quality of Life

#83826 Corrects a few surgery moods
  code/modules/surgery/amputation.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/organic_steps.dm
Labels: Fix, GBP: No Update

#83510 The Syndicate MODs are now resistant to batons knockdown.
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/game/objects/items/melee/baton.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/uplink/uplink_items/suits.dm
  icons/obj/clothing/modsuit/mod_modules.dmi
Labels: Sprites, Balance, Feature, Test Merge Candidate

#83842 Revert "Changeling Rebalance: Kill It With Fire, feat. Armblade Rework"
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: Revert

#83278 Updates The Lizard's Gas (Lavaland ruin)
  _maps/RandomRuins/LavaRuins/lavaland_surface_gas.dmm
  code/game/area/areas/ruins/lavaland.dm
  code/game/objects/effects/spawners/random/trash.dm
  code/game/objects/structures/water_structures/sink.dm
  code/game/turfs/open/floor/misc_floor.dm
  icons/area/areas_ruins.dmi
  icons/obj/watercloset.dmi
  icons/turf/floors.dmi
Labels: Sprites, Feature, Map Edit

#83637 [NO GBP] small metacargo fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit, GBP: No Update
