Repository tgstation/tgstation, pull requests merged in 2024-10, with the labels that each got.

#86950 Resprites kitsune masks and makes them adjustable
  code/datums/greyscale/json_configs/kitsune.json
  code/modules/clothing/masks/costume.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites

#86960 Fixes multiple issues with Meta Cargo
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#86841 Cats can meow and purr
  code/__DEFINES/sound.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/elements/pet_bonus.dm
  code/game/sound.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  sound/creatures/cat/attribution.txt
  sound/creatures/cat/cat_meow1.ogg
  sound/creatures/cat/cat_meow2.ogg
  sound/creatures/cat/cat_meow3.ogg
  sound/creatures/cat/cat_purr1.ogg
  sound/creatures/cat/cat_purr2.ogg
  sound/creatures/cat/cat_purr3.ogg
  sound/creatures/cat/cat_purr4.ogg
  sound/creatures/cat/oranges_meow1.ogg
Labels: Sound, Feature

#86961 Code improvement of mob/move/up() and mob/move/down()
  code/modules/mob/mob_movement.dm
Labels: Code Improvement, Quality of Life

#86974 Prefabricated Factory machine board fix
  code/modules/manufactorio/machines/sorter.dm
  code/modules/research/designs/machine_designs.dm
Labels: Fix

#86971 goldgrub AI now correctly digs away from people
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub_ai.dm
Labels: Fix

#86655 Journeying Hitchhikers Shuttle Events + Bugfixes
  code/controllers/subsystem/explosions.dm
  code/datums/shuttles/emergency.dm
  code/game/objects/items/storage/briefcase.dm
  code/modules/admin/verbs/change_shuttle_events.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/nukeop/datums/operative.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/mob/living/basic/heretic/fire_shark.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/energy/_energy.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_events/_shuttle_events.dm
  code/modules/shuttle/shuttle_events/carp.dm
  code/modules/shuttle/shuttle_events/humans.dm
  code/modules/shuttle/shuttle_events/meteors.dm
  code/modules/shuttle/shuttle_events/misc.dm
  code/modules/shuttle/shuttle_events/player_controlled.dm
  code/modules/shuttle/shuttle_events/projectile.dm
  tgstation.dme
Labels: Feature, Fix, Administration, Stale

#86999 fixed chappies being able to buy an unintended nullro type
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Labels: Fix

#85732 Portable SMESes (as "inspired" by /vg/station)
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/power/smes.dm
  code/modules/power/smes_portable.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  icons/obj/machines/engine/other.dmi
  tgstation.dme
Labels: Sprites, Feature, Stale, Code Improvement

#87004 Fixes footsteps playing too often on diagonal movement
  code/datums/elements/footstep.dm
Labels: Fix

#86997 Vendored Node checksum is now validated
  .github/workflows/tgs_test.yml
  tools/bootstrap/node_.ps1
Labels: Tools, GitHub

#86492 AI controllers interactions refactor
  code/datums/ai/_ai_controller.dm
  code/datums/ai/babies/babies_behaviors.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/datums/ai/basic_mobs/basic_subtrees/mine_walls.dm
  code/datums/ai/basic_mobs/basic_subtrees/ranged_skirmish.dm
  code/datums/ai/basic_mobs/pet_commands/fetch.dm
  code/datums/ai/generic/generic_behaviors.dm
  code/datums/ai/hunting_behavior/hunting_behaviors.dm
  code/datums/ai/hunting_behavior/hunting_corpses.dm
  code/datums/ai/hunting_behavior/hunting_lights.dm
  code/datums/ai/hunting_behavior/hunting_mouse.dm
  code/datums/ai/monkey/monkey_behaviors.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/modules/mob/living/basic/farm_animals/bee/bee_ai_behavior.dm
  code/modules/mob/living/basic/icemoon/ice_whelp/ice_whelp_ai.dm
  code/modules/mob/living/basic/jungle/mega_arachnid/mega_arachnid_ai.dm
  code/modules/mob/living/basic/jungle/seedling/seedling_ai.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub_ai.dm
  code/modules/mob/living/basic/lavaland/gutlunchers/gutlunchers_ai.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
  code/modules/mob/living/basic/lavaland/mook/mook_ai.dm
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_behavior.dm
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_subtrees.dm
  code/modules/mob/living/basic/minebots/minebot_ai.dm
  code/modules/mob/living/basic/pets/cat/bread_cat_ai.dm
  code/modules/mob/living/basic/pets/cat/cat_ai.dm
  code/modules/mob/living/basic/pets/pet_cult/pet_cult_ai.dm
  code/modules/mob/living/basic/slime/ai/behaviours.dm
  code/modules/mob/living/basic/slime/ai/pet_command.dm
  code/modules/mob/living/basic/slime/ai/subtrees.dm
  code/modules/mob/living/basic/space_fauna/eyeball/eyeball_ai_behavior.dm
  code/modules/mob/living/basic/space_fauna/eyeball/eyeball_ai_subtree.dm
  code/modules/mob/living/basic/space_fauna/mushroom.dm
Labels: Refactor, 📌 Test Merge Candidate

#87014 fixes some mobs having their aggro appearance linger around after sentience
  code/datums/components/appearance_on_aggro.dm
Labels: Fix

#86742 Fixes syndicate crates using wrong lock icons, plus minor tweaks
  _maps/RandomRuins/IceRuins/icemoon_underground_syndielab.dmm
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/shuttles/pirate_ex_interdyne.dmm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/cargo/packs/imports.dm
  icons/obj/storage/crates.dmi
Labels: Sprites, Grammar and Formatting, Fix, Map Edit

#86991 Fixes an exception that occured if you are riding a carp and get stunned
  code/modules/mob/living/carbon/human/_species.dm
Labels: Fix

#86733 Weather planes from The Wallening to fix multi-z weather overlays
  code/__DEFINES/dcs/signals/signals_hud.dm
  code/__DEFINES/dcs/signals/signals_plane_master_group.dm
  code/__DEFINES/layers.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/plane_masters/plane_master_subtypes.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/datums/components/hide_weather_planes.dm
  code/datums/weather/weather.dm
  tgstation.dme
Labels: Feature, Fix, Refactor

#87003 Allow reinforced tables to be hooked up to the grid like grilles, shocking people who try to disassemble them
  code/game/objects/structures/tables_racks.dm
  code/modules/power/cable.dm
Labels: Feature

#86954 Pressing the change floor button while on ladder interacts with ladder
  code/modules/mob/mob_movement.dm
Labels: Quality of Life

#87023 fixes everyone being able to meow [no gbp]
  code/modules/mob/living/basic/pets/cat/cat.dm
Labels: Fix, GBP: No Update

#87029 Automatically link maps multi-z up/down traits
  _maps/icebox.json
  _maps/multiz_debug.json
  _maps/northstar.json
  _maps/tramstation.json
  _maps/wawastation.json
  code/controllers/subsystem/mapping.dm
Labels: Code Improvement, Map Edit

#87002 fixes wabbajack statue
  code/modules/shuttle/special.dm
Labels: Fix

#86984 [NO GBP] Makes MODtethers quicker to cut, adds a rapid cut action to MODsuits and some examine hints
  code/__DEFINES/dcs/signals/signals_mod.dm
  code/datums/components/tether.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/mod/modules/modules_medical.dm
Labels: Balance, GBP: No Update, Quality of Life

#86996 Fixed Caretaker Refuge Gay Baby Jail
  code/modules/antagonists/heretic/status_effects/buffs.dm
Labels: Fix

#86978 Fixes BCI messaging and circuit laser pointers
  code/modules/wiremod/components/action/laserpointer.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
Labels: Fix

#87017 [i ded] nerfs Derelict Outpost creature hatchlings
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  code/modules/mob/living/basic/space_fauna/netherworld/creature.dm
Labels: Balance, Map Edit

#86947 [NO GBP] Fix air alarm disabled setting to silence warnings
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: Fix, GBP: No Update

#86998 Fixes luminiscent major extract activation action not disappearing/updating
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: Fix

#87001 fixes drones being able to store multiple of the same tools in their toolbox
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/basic/drone/drone_tools.dm
Labels: Fix

#87005 Fixes multiple players being picked for the same single-slot command job roundstart.
  code/controllers/subsystem/job.dm
Labels: 📌 Test Merge Candidate

#86995 Puts silicon laws on the status panel
  code/modules/mob/living/silicon/silicon.dm
Labels: Quality of Life

#86980 Fixes prosopagnosia not working with screentips (bitflag&signal edition)
  code/__DEFINES/dcs/signals/signals_screentips.dm
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/datums/quirks/negative_quirks/prosopagnosia.dm
  code/game/atom/_atom.dm
  code/modules/mob/mob_defines.dm
Labels: Fix

#86981 Birdshot Engineering small fixes
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#86959 Check icon state existence in spritesheet insert
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/assets/plumbing.dm
Labels: Sprites

#86958 Fix air alarms to work correctly while connected to a gas sensor
  code/game/machinery/computer/atmos_computers/_air_sensor.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/mapping/mapping_helpers.dm
Labels: Fix

#86889 Shower now regen stamina.... Not for the felinids.
  code/datums/status_effects/neutral.dm
  code/game/objects/structures/shower.dm
  icons/hud/screen_alert.dmi
Labels: Sprites, Feature

#86884 Adds hiding what you're wearing on your belt, adds the flag to a bunch of stuff
  code/modules/bitrunning/objects/clothing.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/costume.dm
  code/modules/clothing/suits/ghostsheet.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/jobs/job_types/chaplain/chaplain_costumes.dm
  code/modules/mob/living/carbon/examine.dm
Labels: Feature

#87013 Puts blood back on floor plane, puts runes on floor plane (removes shadows from blood and runes)
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/layers.dm
  code/datums/components/cleaner.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/cleanable/aliens.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/decals/cleanable/robots.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/effects/forcefields.dm
  code/game/objects/items/devices/pressureplates.dm
  code/game/objects/items/syndie_spraycan.dm
  code/game/objects/structures/plaques/static_plaques.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/heretic/magic/cosmic_runes.dm
  code/modules/antagonists/heretic/rust_effect.dm
  code/modules/antagonists/heretic/transmutation_rune.dm
  code/modules/antagonists/wizard/grand_ritual/grand_ritual.dm
  code/modules/antagonists/wizard/grand_ritual/grand_rune.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon_loot.dm
Labels: Fix, Removal, Quality of Life

#86769 Birdshot Cargo Changes
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Feature, Map Edit

#86944 Enchanced docking behaviour for airlock_pump
  code/game/machinery/airlock_control.dm
  code/modules/atmospherics/machinery/components/unary_devices/airlock_pump.dm
  code/modules/shuttle/on_move.dm
Labels: Quality of Life

#87036 Fixes Carving knife runes getting triggered by hovering projectiles.
  code/modules/antagonists/heretic/structures/carving_knife.dm
Labels: Fix

#87039 Returns the original Revolver look for traitors
  _maps/templates/battlecruiser_starfury.dmm
  code/game/objects/items/storage/holsters.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/spells/spell_types/right_and_wrong.dm
  code/modules/uplink/uplink_items/dangerous.dm
Labels: Sprites

#87020 [NO GBP] Makes jetpack movement much smoother and prevents pushing off objects while using one
  code/datums/components/jetpack.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
Labels: GBP: No Update, Quality of Life

#87031 [NO GBP] Fixes the emagged fishing portal circuitboard resulting in normal fishing portal generator
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
Labels: Fix, GBP: No Update

#87034 Adds a Map Changelog Entry Category
  .github/PULL_REQUEST_TEMPLATE.md
  tgui/packages/tgui/interfaces/Changelog.jsx
  tools/pull_request_hooks/changelogConfig.js
Labels: Tools, UI, GitHub

#87055 Fixes stack_traces not displaying properly if the runtime happened too early
  code/modules/error_handler/error_handler.dm
Labels: Fix

#87042 Lets newly made blood splatters made from splashing a reagent container properly infect with their fluids-transmitted viruses
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#87041 Fixes PANDEMIC not updating when removing a beaker with an RMB click (or other non-UI means)
  code/modules/reagents/chemistry/machinery/pandemic.dm
Labels: Fix

#87038 Fix exception bad arg name 'initiator_name' for shuttle map rotation
  code/modules/shuttle/emergency.dm
Labels: Fix

#87037 Stops drone held tools from being force moved
  code/modules/mob/living/basic/drone/drone_tools.dm
Labels: Fix

#87040 Fixes qdeleted hand tele portals hogging space in hand tele's `active_portal_pairs`, preventing use
  code/game/objects/items/teleportation.dm
Labels: Fix

#87048 [no gbp] makes the manufacturing crafter and router work slightly better
  code/modules/manufactorio/_manufacturing.dm
  code/modules/manufactorio/machines/crafter.dm
  code/modules/manufactorio/machines/crusher.dm
  code/modules/manufactorio/machines/router.dm
  code/modules/manufactorio/machines/smelter.dm
  code/modules/manufactorio/machines/storagebox.dm
Labels: Fix, GBP: No Update

#87050 Duct interactions are nonblocking
  code/modules/plumbing/ducts.dm
Labels: Fix, GBP: No Update

#86975 some more ai optimizations
  code/__DEFINES/MC.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/lists/basic_ai.dm
  code/controllers/subsystem/unplanned_ai_idle_controllers.dm
  code/controllers/subsystem/unplanned_controllers.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/idle_behaviors/_idle_behavior.dm
  code/datums/ai/idle_behaviors/idle_dog.dm
  code/datums/ai/idle_behaviors/idle_haunted.dm
  code/datums/ai/idle_behaviors/idle_monkey.dm
  tgstation.dme
Labels: Performance

#86796 Add No Escape Final Traitor Objective (aka Singularity Shuttle Event)
  code/__DEFINES/gravity.dm
  code/game/machinery/syndicatebeacon.dm
  code/modules/antagonists/traitor/objectives/final_objective/final_objective.dm
  code/modules/antagonists/traitor/objectives/final_objective/no_escape.dm
  code/modules/power/singularity/dark_matter_singularity.dm
  code/modules/power/singularity/singularity.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_events/blackhole.dm
  code/modules/shuttle/shuttle_events/misc.dm
  tgstation.dme
Labels: Feature

#87011 Refactors health doll, replaces "wounded" screen alert
  code/__DEFINES/alerts.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/datum.dm
  code/datums/status_effects/wound_effects.dm
  code/datums/wounds/_wounds.dm
  code/modules/hallucination/screwy_health_doll.dm
  code/modules/mob/living/carbon/human/human.dm
  icons/hud/screen_gen.dmi
Labels: Sprites, Removal, Refactor, Quality of Life

#87033 [no gbp] adds a medal box to captains locker on Wawastation
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Edit, GBP: No Update

#87035 Fixes some minor typos in closets upgraded with Card Readers
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Grammar and Formatting

#87049 fixes syndicate AI roleban and spawning new core without client
  code/controllers/subsystem/polling.dm
  code/game/objects/items/devices/aicard_evil.dm
Labels: Fix, Administration

#87027 [No GBP] Minor change/fix to MI13 Agent's loadout
  code/modules/antagonists/fugitive/hunters/hunter_outfits.dm
Labels: Balance, GBP: No Update

#87059 Move food_storage to item interaction signals, fixes not being able to embed syringes into cake/bread/cheese
  code/datums/components/food_storage.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Grammar and Formatting, Fix

#87062 Fix typo in cure_text for advanced mutation toxin
  code/datums/diseases/transformation.dm
Labels: Grammar and Formatting

#86964 Snore sounds
  code/__DEFINES/sound.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/emote.dm
  sound/mobs/humanoids/human/snore/attribution.txt
  sound/mobs/humanoids/human/snore/snore_female1.ogg
  sound/mobs/humanoids/human/snore/snore_female2.ogg
  sound/mobs/humanoids/human/snore/snore_female3.ogg
  sound/mobs/humanoids/human/snore/snore_male1.ogg
  sound/mobs/humanoids/human/snore/snore_male2.ogg
  sound/mobs/humanoids/human/snore/snore_male3.ogg
  sound/mobs/humanoids/human/snore/snore_male4.ogg
  sound/mobs/humanoids/human/snore/snore_male5.ogg
  sound/mobs/humanoids/human/snore/snore_mimimi1.ogg
  sound/mobs/humanoids/human/snore/snore_mimimi2.ogg
Labels: Sound

#86953 human AIs get space suits if the room is inhospitable (also can leave the sat)
  _maps/map_files/wawastation/wawastation.dmm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/jobs/job_types/station_trait/human_ai.dm
Labels: Balance, Map Edit, Quality of Life

#86700 Accumulates energy for the supermatter zapping.
  code/__DEFINES/supermatter.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_extra_effects.dm
Labels: Balance

#86872 Adds 3 'Comms Buoy' Space Ruins
  _maps/RandomRuins/SpaceRuins/commsbuoy_lowtech.dmm
  _maps/RandomRuins/SpaceRuins/commsbuoy_nt.dmm
  _maps/RandomRuins/SpaceRuins/commsbuoy_pirate.dmm
  code/datums/ruins/space.dm
  code/modules/mapfluff/ruins/spaceruin_code/commsbuoy.dm
  config/spaceruinblacklist.txt
  icons/obj/fluff/general.dmi
  tgstation.dme
Labels: Sprites, Feature, Config Update, Map Edit

#86688 Fixed various DNA code issues that allowed base monkeys to be humanized
  code/datums/dna.dm
  code/game/machinery/computer/dna_console.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/jobs/job_types/station_trait/pun_pun.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/death.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/uplink/uplink_items/job.dm
Labels: Fix

#86927 New Icebox Ruin - Hunters Lodge
  _maps/RandomRuins/IceRuins/icemoon_surface_lodge.dmm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/objects/structures/flora.dm
Labels: Feature, Map Edit

#87009 Fix and improvements to "Look Up" and "Look Down" IC verbs.
  code/modules/mob/living/living.dm
Labels: Fix, Quality of Life

#86886 Adds more extensive config settings for human authority
  code/__DEFINES/configuration.dm
  code/__DEFINES/jobs.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/configuration/entries/jobs.dm
  code/controllers/subsystem/job.dm
  code/datums/helper_datums/getrev.dm
  code/datums/job_configs/_job_configs.dm
  code/datums/job_configs/human_authority.dm
  code/modules/admin/verbs/ert.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/station_trait/bridge_assistant.dm
  code/modules/jobs/job_types/station_trait/human_ai.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  config/config.txt
  config/game_options.txt
  config/jobconfig.toml
  tgstation.dme
Labels: Config Update

#86582 Space dragons can now catch and eat fish (plus shark form and rift fishing)
  code/__DEFINES/achievements.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/phobias.dm
  code/_globalvars/traits/_traits.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/components/profound_fisher.dm
  code/datums/elements/content_barfer.dm
  code/game/objects/items/dehy_carp.dm
  code/game/objects/items/food/meatdish.dm
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish/types/air_space.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  icons/hud/radial_fishing.dmi
  icons/mob/nonhuman-player/spacedragon.dmi
  icons/obj/aquarium/fish.dmi
  icons/ui/achievements/achievements.dmi
Labels: Sprites, Feature

#86815 (bounty) you may wear gloves one armed
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  icons/effects/effects.dmi
Labels: Sprites, Balance

#86929 General maintenance for inducer
  code/datums/components/shell.dm
  code/game/atoms_movable.dm
  code/game/objects/items/inducer.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/projectiles/guns/energy.dm
Labels: Fix, Refactor, Quality of Life

#87008 Item rustling component, riot armor and swat suit sounds
  code/datums/components/item_equipped_movement_rustle.dm
  code/game/sound.dm
  code/modules/clothing/suits/armor.dm
  sound/items/handling/armor_rustle/riot_armor/suitstep1.ogg
  sound/items/handling/armor_rustle/riot_armor/suitstep2.ogg
  tgstation.dme
Labels: Sound

#86901 refactoring how materials effects are added to atoms
  code/__DEFINES/construction/material.dm
  code/controllers/subsystem/materials.dm
  code/datums/components/material/material_container.dm
  code/datums/greyscale/_greyscale_config.dm
  code/datums/greyscale/json_configs/items/cleric_mace.json
  code/datums/greyscale/json_configs/items/cleric_mace_worn.json
  code/datums/materials/_material.dm
  code/datums/materials/alloys.dm
  code/datums/materials/basemats.dm
  code/datums/materials/hauntium.dm
  code/datums/materials/meat.dm
  code/datums/materials/pizza.dm
  code/game/atom/atom_materials.dm
  code/game/atom/atom_vv.dm
  code/game/atom/atoms_initializing_EXPENSIVE.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/flatpacker.dm
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
  code/game/objects/effects/material_insert.dm
  code/game/objects/items.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/objs.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/tables_racks.dm
  code/game/turfs/closed/wall/material_walls.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/cargo/materials_market.dm
  code/modules/mining/ores_coins.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/machinery/_production.dm
  icons/obj/weapons/cleric_mace.dmi
Labels: Sprites, Feature, Fix, Refactor

#87064 Lets you continue to read paperwork after putting it into a folder
  code/modules/paperwork/paper.dm
Labels: Quality of Life

#87006 Refactor `special_step_sounds` out of existence, Human steps now depend on leg type, Digitigrade legs use claw footstep sfx
  code/datums/elements/footstep.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/unit_tests/focus_only_tests.dm
Labels: Refactor, Quality of Life

#86943 Trapdoor QoL
  code/datums/components/trapdoor.dm
Labels: Feature

#87068 Fixes paper real-time previews
  tgui/packages/tgui/interfaces/PaperSheet.tsx
Labels: Fix

#87052 Adds item VV header
  code/game/objects/items.dm
  code/modules/admin/view_variables/topic.dm
Labels: Administration

#87065 Organize admin verbs for shuttle events into shuttle category
  code/__DEFINES/admin_verb.dm
  code/modules/admin/verbs/adminevents.dm
  code/modules/admin/verbs/adminshuttle.dm
  code/modules/admin/verbs/change_shuttle_events.dm
  code/modules/admin/verbs/shuttlepanel.dm
  tgstation.dme
Labels: Administration

#87053 ballistics handling sounds try 2
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  sound/items/handling/gun/ballistics/attribution.txt
  sound/items/handling/gun/ballistics/magazine/magazine_drop1.ogg
  sound/items/handling/gun/ballistics/magazine/magazine_pickup1.ogg
  sound/items/handling/gun/ballistics/pistol/pistol_drop1.ogg
  sound/items/handling/gun/ballistics/pistol/pistol_pickup1.ogg
  sound/items/handling/gun/ballistics/rifle/rifle_drop1.ogg
  sound/items/handling/gun/ballistics/rifle/rifle_pickup1.ogg
  sound/items/handling/gun/ballistics/shotgun/shotgun_drop1.ogg
  sound/items/handling/gun/ballistics/shotgun/shotgun_pickup1.ogg
  sound/items/handling/gun/ballistics/smg/smg_drop1.ogg
  sound/items/handling/gun/ballistics/smg/smg_pickup1.ogg
Labels: Sound

#87010 [WAWA] updates medbay with a few more lights
  _maps/map_files/wawastation/wawastation.dmm
Labels: Feature, Fix, Good First PR, Map Edit

#87056 Blocks patients from viewing operating computer UI
  code/__DEFINES/interaction_flags.dm
  code/_globalvars/bitfields.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/computer/operating_computer.dm
  code/modules/tgui/states/standing.dm
  tgstation.dme
Labels: Balance

#87045 Adds the Fundamentally Evil quirk. Interactions with Empathy and Honorbound.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mutations/antenna.dm
  code/datums/quirks/neutral_quirks/evil.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  code/modules/religion/honorbound/honorbound_trauma.dm
  tgstation.dme
Labels: Feature

#87085 Carp infusion now changes how your skin looks to reflect your fishy nature
  code/datums/bodypart_overlays/texture_bodypart_overlay.dm
  code/datums/elements/organ_set_bonus.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  icons/mob/human/textures.dmi
Labels: Sprites

#87094 AI Controller MC Yielding
  code/controllers/subsystem/ai_controllers.dm
Labels: Performance

#87073 [NO GBP] Fixes drone toolbox issues
  code/datums/components/holderloving.dm
  code/datums/storage/subtypes/drone.dm
  code/game/objects/items.dm
  code/modules/mob/living/basic/drone/drone_tools.dm
  tgstation.dme
Labels: Fix, GBP: No Update

#87109 Fix health analyzer showing missing heart only when you don't need one.
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Fix

#87077 [NO GBP] You should now be able to fish from linked lava turfs while on station.
  code/modules/fishing/sources/source_types.dm
Labels: Fix, GBP: No Update

#87083 The Law Panel now logs admin law changes.
  code/modules/admin/verbs/lawpanel.dm
Labels: Logging, Administration

#87104 Fixes dead borg becoming invisible on changed z level
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix

#87080 Changes how reagents are added to victim of venomous component
  code/datums/elements/venomous.dm
  code/modules/reagents/chemistry/reagents.dm
Labels: Fix

#87112 The supermatter no longer spawns anomalies inside objects or mobs.
  code/modules/power/supermatter/supermatter_extra_effects.dm
Labels: Fix

#87125 Fixes ghosts not being able to check IDs from afar
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#87124 Fixes xeno queen not being able to promote a drone into a praetorian
  code/modules/mob/living/carbon/alien/alien.dm
Labels: Fix

#87115 Fixes Space Phase not making you space proof.
  code/modules/antagonists/heretic/magic/space_crawl.dm
Labels: Fix

#87111 Reagent containers liquid sloshing
  code/__DEFINES/sound.dm
  code/game/objects/items/extinguisher.dm
  code/game/sound.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  sound/items/handling/reagent_containers/default/attribution.txt
  sound/items/handling/reagent_containers/default/default_liquid_slosh1.ogg
  sound/items/handling/reagent_containers/default/default_liquid_slosh2.ogg
  sound/items/handling/reagent_containers/default/default_liquid_slosh3.ogg
  sound/items/handling/reagent_containers/default/default_liquid_slosh4.ogg
  sound/items/handling/reagent_containers/default/default_liquid_slosh5.ogg
  sound/items/handling/reagent_containers/plastic_bottle/attribution.txt
  sound/items/handling/reagent_containers/plastic_bottle/plastic_bottle_liquid_slosh1.ogg
  sound/items/handling/reagent_containers/plastic_bottle/plastic_bottle_liquid_slosh2.ogg
Labels: Sound

#87079 More Cardboard Cutouts, more fun!
  code/game/objects/items/cardboard_cutouts.dm
  code/modules/antagonists/abductor/equipment/abduction_outfits.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
Labels: Feature

#87095 Allow dot radio prefixes to also work with the tgui-say radio prefix display
  tgui/packages/tgui-say/TguiSay.tsx
Labels: Fix, UI

#87092 Fixes Lava / Chasm Underlays
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/lava.dm
Labels: Fix

#86955 Feeding fish certain reagents may have some effects
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/fish_growth.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_evolution.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  strings/fishing_tips.txt
Labels: Sprites, Feature

#87128 [NO GBP] Fixes fish infusion
  code/modules/fishing/fish/_fish.dm
Labels: Fix, GBP: No Update

#87075 The fishing skillchip now grants an action that dispenses fishing tips.
  code/__HELPERS/game.dm
  code/modules/library/skill_learning/generic_skillchips/misc.dm
  code/modules/library/skill_learning/generic_skillchips/musical.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/library/skill_learning/job_skillchips/research_director.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  tgstation.dme
Labels: Feature, Code Improvement

#87113 Fixes Dark Matter singularity getting stuck on other z levels.
  code/modules/events/meteors/dark_matteor_event.dm
  code/modules/meteors/meteor_spawning.dm
  code/modules/power/singularity/dark_matter_singularity.dm
Labels: Fix

#87046 removes a few varedits
  _maps/RandomRuins/LavaRuins/lavaland_surface_cultaltar.dmm
  _maps/RandomRuins/SpaceRuins/hauntedtradingpost.dmm
  code/game/objects/effects/step_triggers.dm
  code/game/objects/items/toys.dm
Labels: Fix, Map Edit

#87148 Fix double injections
  code/datums/elements/venomous.dm
  code/modules/reagents/chemistry/reagents.dm
Labels: Fix, Priority: High

#87132 Fixes server hop not fading the screen to black
  code/modules/mob/dead/dead.dm
Labels: Fix

#87131 Reverts a check added in `[NO GBP] Fixes drone toolbox issues`, fixes clothing unequipping, unit test
  code/datums/components/holderloving.dm
  code/game/objects/items.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/clothing_drops_items.dm
Labels: Fix, Revert, Unit Tests

#87099 adds plasma to wawastation xenobio
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#87100 Fixed Chameleon clothing not updating your sprite in some cases
  code/_onclick/hud/fullscreen.dm
  code/game/data_huds.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#87142 [NO GBP] Prevents walls from slowing your drifting down when you're moving in the same direction as your pressed movement key
  code/datums/drift_handler.dm
Labels: GBP: No Update, Quality of Life

#86288 [TGC] Rebalances the entire card game.
  strings/tcg/keywords.json
  strings/tcg/set_one.json
  strings/tcg/set_two.json
Labels: Grammar and Formatting, Balance, Refactor

#87150 Fix dead bees not being their proper bee self
  code/modules/mob/living/basic/farm_animals/bee/_bee.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/bee.dm
Labels: Fix, Unit Tests

#87151 reagent container sloshing hot fix [no gbp]
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/misc.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: Fix, GBP: No Update

#87163 Fix mopping on multi-z stations
  code/__DEFINES/is_helpers.dm
Labels: Fix

#87086 Plasmaman Species Refactor | Jesus Christ This Hurts Edition
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/self_ignition.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/surgery/bodyparts/species_parts/plasmaman_bodyparts.dm
  tgstation.dme
Labels: Fix, Refactor

#87126 pet emotes, pet bonus adjustment
  code/__DEFINES/sound.dm
  code/datums/elements/pet_bonus.dm
  code/game/sound.dm
  code/modules/mob/living/basic/farm_animals/chicken/chick.dm
  code/modules/mob/living/basic/farm_animals/chicken/chicken.dm
  code/modules/mob/living/basic/farm_animals/cow/_cow.dm
  code/modules/mob/living/basic/farm_animals/pig.dm
  code/modules/mob/living/basic/farm_animals/pony.dm
  code/modules/mob/living/basic/farm_animals/rabbit.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/basic/pets/dog/_dog.dm
  code/modules/mob/living/basic/pets/fox.dm
  code/modules/mob/living/basic/pets/gondolas/gondola.dm
  code/modules/mob/living/basic/pets/penguin.dm
  code/modules/mob/living/basic/pets/sloth.dm
  code/modules/mob/living/basic/space_fauna/ant.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
  code/modules/mob/living/basic/space_fauna/spider/spider.dm
  code/modules/mob/living/basic/vermin/lizard.dm
  code/modules/mob/living/basic/vermin/mothroach/mothroach.dm
  code/modules/mob/living/basic/vermin/mouse.dm
Labels: Feature, Refactor

#87168 snore fix [no gbp]
  code/game/sound.dm
Labels: Fix, GBP: No Update

#87160 fixes ashdrake arena attack not clearing out lavaland walls
  code/datums/actions/mobs/lava_swoop.dm
Labels: Fix

#87158 Proofreads nebula virologist fax
  code/game/machinery/nebula_shielding.dm
Labels: Grammar and Formatting

#87183 Changes incorrect override in untie shoes spell
  code/modules/spells/spell_types/pointed/tie_shoes.dm
Labels: Fix

#87102 Removes gas mask fov, pepperspray now applies tint to masks until washed off
  code/datums/components/clothing_dirt.dm
  code/modules/antagonists/ninja/ninja_clothing.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/mining/equipment/explorer_gear.dm
  tgstation.dme
Labels: Balance, Removal

#87154 DNA Infusers now check for a datum trait instead of whether non-living objects are edible and have the GORE food type.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/food/edible.dm
  code/game/machinery/dna_infuser/dna_infuser.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/types/freshwater.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/dna_infusion.dm
Labels: Fix, GBP: No Update

#87145 All chainsaws can behead
  code/game/objects/items/chainsaw.dm
Labels: Balance

#86068 Option to Offload non-technical PR discussion to a Discord Thread
  .github/workflows/discord_discussions.yml
  .gitignore
  tools/Tgstation.DiscordDiscussions/DiscordForwardingResponder.cs
  tools/Tgstation.DiscordDiscussions/IDiscordResponders.cs
  tools/Tgstation.DiscordDiscussions/Program.cs
  tools/Tgstation.DiscordDiscussions/PullRequestState.cs
  tools/Tgstation.DiscordDiscussions/Tgstation.DiscordDiscussions.csproj
  tools/Tgstation.DiscordDiscussions/Tgstation.DiscordDiscussions.sln
Labels: FUCK, Tools, GitHub, RED LABEL

#87110 Fish feed to the Library vending machine, rescue hook to the mining order console (and paramed heirloom)
  code/game/machinery/computer/orders/order_items/mining/order_consumables.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/vending/games.dm
Labels: Feature

#87144 Pyro/Cryokinesis cast range is the same as the projectile's range. Pyro and ash mutations are no longer subtypes
  code/datums/components/heart_eater.dm
  code/datums/mutations/_combined.dm
  code/datums/mutations/cold.dm
  code/datums/mutations/hot.dm
Labels: Fix, Code Improvement

#87165 Helmet and visor sounds
  code/__DEFINES/sound.dm
  code/game/objects/structures/crates_lockers/closets/fitness.dm
  code/game/sound.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_items.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/jobs/job_types/assistant/gimmick_assistants.dm
  sound/items/handling/helmet/attribution.txt
  sound/items/handling/helmet/helmet_drop1.ogg
  sound/items/handling/helmet/helmet_equip1.ogg
  sound/items/handling/helmet/helmet_pickup1.ogg
  sound/items/handling/helmet/visor_down1.ogg
  sound/items/handling/helmet/visor_down2.ogg
  sound/items/handling/helmet/visor_down3.ogg
  sound/items/handling/helmet/visor_up1.ogg
  sound/items/handling/helmet/visor_up2.ogg
Labels: Sound, Code Improvement

#87186 fix merge skew with cat folder [no gbp]
  code/game/sound.dm
  sound/mobs/non-humanoids/cat/attribution.txt
  sound/mobs/non-humanoids/cat/cat_meow1.ogg
  sound/mobs/non-humanoids/cat/cat_meow2.ogg
  sound/mobs/non-humanoids/cat/cat_meow3.ogg
  sound/mobs/non-humanoids/cat/cat_purr1.ogg
  sound/mobs/non-humanoids/cat/cat_purr2.ogg
  sound/mobs/non-humanoids/cat/cat_purr3.ogg
  sound/mobs/non-humanoids/cat/cat_purr4.ogg
  sound/mobs/non-humanoids/cat/oranges_meow1.ogg
Labels: Sound, GBP: No Update

#87185 Fixes incorrect use of pronoun macros in multiple lives component
  code/datums/components/multiple_lives.dm
Labels: Grammar and Formatting

#87174 Offering an item displays a balloon alert to viewers
  code/modules/mob/living/carbon/inventory.dm
Labels: Quality of Life

#87194 [NO GBP] Prevents ghosts from cutting tethers
  code/datums/components/tether.dm
Labels: Fix, GBP: No Update

#87190 gas analyzer handling sounds
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  sound/items/handling/gas_analyzer/attribution.txt
  sound/items/handling/gas_analyzer/gas_analyzer_drop.ogg
  sound/items/handling/gas_analyzer/gas_analyzer_pickup.ogg
Labels: Sound

#87204 you can use lizards to get lizard organs in the dna infuser
  code/game/machinery/dna_infuser/infuser_entries/infuser_tier_zero_entries.dm
Labels: Feature

#87195 [NO GBP] Fixes a small typo for adjusting kitsune masks
  code/modules/clothing/masks/costume.dm
Labels: Grammar and Formatting, GBP: No Update

#87184 Improvements to mech sound logic
  code/modules/vehicles/mecha/mecha_movement.dm
Labels: Fix

#87193 Id card handling sounds
  code/game/objects/items/cards_ids.dm
  sound/items/handling/id_card/attribution.txt
  sound/items/handling/id_card/id_card_drop1.ogg
  sound/items/handling/id_card/id_card_pickup1.ogg
Labels: Sound

#87208 medical, jani, soulstone, grenade belt handling sounds the same as tool belt
  code/game/objects/items/storage/belt.dm
Labels: Sound

#87218 map votes are now simple, and tell you what the effective tallies were
  code/controllers/subsystem/map_vote.dm
Labels: GBP: No Update, Quality of Life

#87166 slightly redoes how animals hunt for food
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/basic_mobs.dm
  code/datums/ai/basic_mobs/base_basic_controller.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/interact_with_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/find_food.dm
  code/modules/mob/living/basic/farm_animals/cow/cow_ai.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla_ai.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath_ai.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_controller.dm
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_subtrees.dm
  code/modules/mob/living/basic/pets/orbie/orbie_ai.dm
  code/modules/mob/living/basic/ruin_defender/skeleton.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_controllers.dm
  code/modules/mob/living/basic/space_fauna/snake/snake.dm
  code/modules/mob/living/basic/vermin/lizard.dm
  code/modules/mob/living/basic/vermin/mothroach/mothroach_ai.dm
  tgstation.dme
Labels: Code Improvement

#87207 Fixes improper static list declarations + adds grep for it
  code/datums/components/riding/riding.dm
  code/datums/mutations/speech.dm
  code/game/objects/items/kirby_plants/kirbyplants.dm
  code/game/objects/structures/traps.dm
  code/modules/lighting/lighting_source.dm
  code/modules/mapping/ruins.dm
  code/modules/mining/boulder_processing/boulder_types.dm
  code/modules/projectiles/projectile/bullets/special.dm
  code/modules/spells/spell_types/conjure/simian.dm
  tools/ci/check_grep.sh
Labels: Fix, Tools

#87230 Felinid mood fix
  code/datums/mood_events/needs_events.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/structures/shower.dm
Labels: Feature, Fix, Good First PR

#87216 Changes variable_color on limbs to use a priority system
  code/__DEFINES/bodyparts.dm
  code/datums/elements/organ_set_bonus.dm
  code/datums/mutations/hulk.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#87219 removes precisely one pixel from female heads
  icons/mob/human/bodyparts_greyscale.dmi
Labels: Sprites, Fix, Removal

#87215 update_body_parts() is now called when adding or removing bodypart overlays.
  code/__DEFINES/living.dm
  code/datums/bodypart_overlays/emote_bodypart_overlay.dm
  code/datums/components/face_decal.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/datums/quirks/negative_quirks/all_nighter.dm
  code/datums/status_effects/buffs.dm
  code/game/machinery/dna_infuser/dna_infusion.dm
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/alien/alien_update_icons.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/advanced/wingreconstruction.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/organs/external/_visual_organs.dm
  code/modules/surgery/organs/organ_movement.dm
Labels: Code Improvement, Discord Discussion

#87199 Fixing several fish-related issues.
  code/__DEFINES/traits/sources.dm
  code/__HELPERS/pronouns.dm
  code/datums/components/fish_growth.dm
  code/datums/components/rename.dm
  code/datums/elements/tool_renaming.dm
  code/game/machinery/dna_infuser/organ_sets/fish_organs.dm
  code/modules/fishing/admin.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/aquarium/fish_analyzer.dm
  code/modules/fishing/fish/types/station.dm
  code/modules/fishing/fish_movement.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/reagents/reagent_containers/cups/drinkingglass.dm
  code/modules/unit_tests/fish_unit_tests.dm
Labels: Fix

#87157 Updates the GLA Brand Mail Counterfeit Device's description to either be more readable or more descriptive.
  code/modules/uplink/uplink_items/job.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
Labels: Quality of Life

#87159 resprites clown mask styles and adds one
  code/datums/components/crafting/tailoring.dm
  code/modules/clothing/masks/gasmask.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites, Feature

#87122 metastation cargo fixes
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#87212 you cant roll appendicitis if youre a bitrunner avatar or deathmatch player
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/surgery/organs/internal/appendix/_appendix.dm
Labels: Fix
