Repository tgstation/tgstation, pull requests merged in 2024-05, with the labels that each got.

#82966 Changeling clothes can now be removed by monkeys
  code/modules/antagonists/changeling/powers/transform.dm
Labels: Fix

#82963 Fixes monkeys falling over through windoors
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/modules/events/immovable_rod/immovable_rod.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/living.dm
Labels: Fix

#82939 Makes pod doors re-constructible
  code/__DEFINES/construction/structures.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Fix, Quality of Life

#82967 Debug uplinks shows all categories and doesnt lock
  code/datums/components/uplink.dm
  code/modules/uplink/uplink_items.dm
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: Administration, UI

#82857 Give more control over conveyor switch circuits
  code/modules/recycling/conveyor.dm
Labels: Quality of Life

#82975 Fixes cyborg tracking not always showing up
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: Fix

#82977 [NO GBP]Fixes hypercharged slime core cells and circuit gun cells starting with an insignificant amount of charge.
  code/modules/research/xenobiology/crossbreeding/_misc.dm
  code/modules/wiremod/shell/gun.dm
Labels: Fix, GBP: No Update

#82968 Wheelchair qol
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/modules/vehicles/wheelchair.dm
Labels: Quality of Life

#82936 Fixed the ipintel subsystem not initializing
  code/controllers/subsystem/ipintel.dm
Labels: Fix

#82987 civilian bounty control terminal displays bounty description and payout of new bounty options
  code/game/machinery/civilian_bounties.dm
  tgui/packages/tgui/interfaces/CivCargoHoldTerminal.jsx
Labels: Fix, UI, Quality of Life

#82986 Fixes jousting bypassing pacifism + Some signal doc
  code/__DEFINES/dcs/signals/signals_object.dm
  code/_onclick/item_attack.dm
  code/datums/components/jousting.dm
Labels: Fix

#82981 Vote clean up and admin additions
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/vote.dm
  code/datums/votes/_vote_datum.dm
  code/datums/votes/custom_vote.dm
  code/datums/votes/map_vote.dm
  code/datums/votes/restart_vote.dm
  code/datums/votes/rock_the_vote.dm
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Fix, Administration, UI, Config Update

#82847 Moves "sprite accessories" (e.g. Hair, Undergarments, Mutant Bits) from `GLOB` to a datasystem
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/dna.dm
  code/datums/quirks/neutral_quirks/bald.dm
  code/datums/sprite_accessories.dm
  code/game/objects/items/cosmetics.dm
  code/game/objects/items/dyespray.dm
  code/game/objects/structures/dresser.dm
  code/game/objects/structures/mannequin.dm
  code/game/objects/structures/mirror.dm
  code/modules/client/preferences/clothing.dm
  code/modules/client/preferences/species_features/basic.dm
  code/modules/client/preferences/species_features/felinid.dm
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/client/preferences/species_features/monkey.dm
  code/modules/client/preferences/species_features/moth.dm
  code/modules/client/preferences/species_features/mushperson.dm
  code/modules/client/preferences/species_features/pod.dm
  code/modules/clothing/head/wig.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/space_fauna/ghost.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
  code/modules/surgery/organs/external/_external_organ.dm
  code/modules/surgery/organs/external/spines.dm
  code/modules/surgery/organs/external/tails.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
  tgstation.dme
Labels: Code Improvement

#82978 make SSevents `frequeny_lower` and `frequency_upper` configurable, fix runtimes when no events were drafted to trigger
  code/__HELPERS/_lists.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/events.dm
  config/game_options.txt
Labels: Fix, Config Update, Good First PR

#82993 Stamp papers quickly with a right click
  code/modules/paperwork/paper.dm
Labels: Quality of Life

#82997 rad shutter directionals
  icons/obj/doors/shutters_radiation.dmi
Labels: Sprites, Needs Pictures

#83001 Conveyors switches now use left and right click
  code/modules/recycling/conveyor.dm
Labels: Removal, Quality of Life

#82606 More Machine Blessing Options
  code/modules/religion/rites.dm
Labels: Balance, Feature, Good First PR

#83011 Bump supported client api version to 515
  .github/max_required_byond_client.txt
Labels: GitHub

#83005 13 year old singularity bug fixed
  code/datums/components/singularity.dm
  code/modules/power/singularity/singularity.dm
Labels: Fix, Good First PR

#83014 Fix warning on master
  code/modules/religion/rites.dm
Labels: Fix

#82998 fixes a few problems in ai targetting
  code/datums/ai/_ai_controller.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeting.dm
  code/datums/ai/basic_mobs/basic_subtrees/capricious_retaliate.dm
  code/datums/ai/basic_mobs/basic_subtrees/target_retaliate.dm
Labels: Fix

#82992 Pacifists can no longer endlessly spam rocket launcher backblasts
  code/datums/elements/backblast.dm
Labels: Fix

#83004 Detective buff: Fixes detective's candy dispenser
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/pockets.dm
  code/modules/clothing/head/jobs.dm
Labels: Fix

#82996 [NO GBP] Multiz deck revert
  code/modules/atmospherics/machinery/atmosmachinery.dm
Labels: Fix, Revert, GBP: No Update

#82833 Fix crafting bypassing checks
  code/__DEFINES/crafting.dm
  code/controllers/subsystem/materials.dm
  code/datums/components/crafting/_recipes.dm
  code/datums/components/crafting/atmospheric.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/doors.dm
  code/datums/components/crafting/melee_weapon.dm
  code/datums/components/crafting/misc.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/structures.dm
  code/datums/components/crafting/tools.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
  code/modules/mining/ores_coins.dm
Labels: Fix

#82945 Adds a station trait that brightens up IceBox's surface.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/station_traits/positive_traits.dm
  code/game/area/areas/mining.dm
Labels: Feature

#83002 Fire ant colonies created by burning actually contain fire ants
  code/game/objects/effects/decals/cleanable/misc.dm
Labels: Fix

#82904 General IP intel tweaks
  code/__DEFINES/admin_verb.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/ipintel.dm
  code/modules/client/client_procs.dm
Labels: Config Update

#83015 Fixes CI not checking warnings.
  .github/workflows/run_integration_tests.yml
  tools/build/build.js
  tools/build/lib/byond.js
Labels: FUCK, Tools, Continuous Integration, GitHub

#82872 Bepis techs can be found in bitrunning crates, removed from vendors
  code/modules/bitrunning/orders/bepis.dm
  code/modules/bitrunning/server/loot.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
Labels: Balance

#83018 Fixes lua breaking when registering signals on turfs
  lua/SS13_base.lua
  lua/handler_group.lua
Labels: Fix

#83013 Adds debug dna disk to runtimestation
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Edit

#83029 Fix vote `can_be_initiated` mutating the active choices
  code/datums/votes/map_vote.dm
Labels: Fix

#83026 Cargo scanner no longer kidnaps people
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
Labels: Fix

#83025 Fix missing crafting flags
  code/game/objects/items/stacks/stack_recipe.dm
Labels: Fix

#83030 Blood Brothers should start with objectives
  code/controllers/subsystem/dynamic/dynamic_rulesets_roundstart.dm
  code/modules/antagonists/brother/brother.dm
Labels: Fix

#83028 Makes this list a little more downstream friendly (aka trailing comma pr)
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Code Improvement

#83040 Adminmod now has radiation protect module
  code/modules/mod/mod_types.dm
Labels: Administration, Good First PR, Quality of Life

#83051 Fixes traditional equipment having no name for its crate
  code/modules/cargo/packs/security.dm
Labels: Fix

#83046 fix ipintel caching to db not working.
  code/controllers/subsystem/ipintel.dm
Labels: Fix

#82887 Fix a few mistakes I made
  SQL/database_changelog.md
  SQL/tgstation_schema_prefixed.sql
Labels: Stale, SQL

#83050 Fixes auxtools hanging on server shutdown.
  code/controllers/subsystem/lua.dm
Labels: Fix

#83038 three more pais
  code/modules/pai/pai.dm
  icons/mob/silicon/pai.dmi
Labels: Sprites, Feature

#83086 Greps for pronoun helper spelling mistakes
  code/__DEFINES/pronouns.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/game/machinery/dna_infuser/organ_sets/gondola_organs.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  tools/ci/check_grep.sh
Labels: Fix, Tools, Unit Tests

#83067 temporarily soulless bodies dont appear as soulless on medhud
  code/game/data_huds.dm
Labels: Quality of Life

#83059 Removes a loose power cable that fails tests in Icebox Maint
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Removal, Map Edit

#83070 Fixes a meter in Birdshot's atmosperics
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#83089 You can no longer shove abstract items into light sockets
  code/modules/power/lighting/light.dm
Labels: Fix

#83062 Makes the medibeam process only on active use
  code/modules/projectiles/guns/special/medbeam.dm
Labels: Refactor

#83087 Fixes inducers breaking when trying to charge a PDA/Modular Computer
  code/datums/components/shell.dm
Labels: Fix

#83033 Detective hat improvements regex, for real this time.
  code/modules/clothing/head/jobs.dm
Labels: Quality of Life

#82960 Virtual Domains now have certain areas protected from ghost role interference
  _maps/virtual_domains/pirates.dmm
  _maps/virtual_domains/psyker_zombies.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  code/__DEFINES/_flags.dm
  code/__DEFINES/dcs/signals/signals_bitrunning.dm
  code/modules/bitrunning/antagonists/ghost_role.dm
  code/modules/bitrunning/areas.dm
  code/modules/bitrunning/components/virtual_entity.dm
  code/modules/bitrunning/server/_parent.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/spawners.dm
  tgstation.dme
Labels: Balance, Fix, Map Edit

#83084 Lootpanel: Requires 515.1635+
  .tgs.yml
  code/modules/lootpanel/search_object.dm
  config/config.txt
  dependencies.sh
  tgui/packages/tgui/interfaces/LootPanel/IconDisplay.tsx
Labels: Fix, UI, Config Update

#82642 RD get robo knowledges
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  code/__DEFINES/skills.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/library/skill_learning/generic_skillchips/rod_suplex.dm
  code/modules/library/skill_learning/job_skillchips/_job.dm
  code/modules/library/skill_learning/skillchip.dm
  tgstation.dme
Labels: Feature, Good First PR, Map Edit

#82995 Spies can now use other spies' uplinks.
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/spy/spy_uplink.dm
Labels: Balance

#83122 fixes autochangelog erroring on an empty pr body https://github.com/tgstation/tgstation/actions/runs/8977813552/job/24657813451 the changelog workflow errors when theres nothing in the pr body, which causes a useless notification. now it should be fixed
  tools/pull_request_hooks/changelogParser.js
Labels: Tools

#83093 blueprints status on photographs is no longer persistent
  code/modules/photography/_pictures.dm
Labels: Removal

#82721 Adds a small fishing pool on metastation
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/turfs/open/water.dm
Labels: Feature, Code Improvement, Map Edit

#82984 Reading a photo with blueprints now requires squinting
  code/datums/wires/_wires.dm
Labels: Balance

#83055 Resting knockdown disarm immunity exploit fix
  code/modules/mob/living/living.dm
Labels: Balance

#82920 Fix pride pin reskinning
  code/game/objects/items.dm
  code/game/objects/items_reskin.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories/_accessories.dm
  code/modules/clothing/under/accessories/badges.dm
Labels: Fix

#82961 Implements dynamic scaling for spies
  code/controllers/subsystem/dynamic/dynamic_rulesets.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_roundstart.dm
Labels: Quality of Life, 📌 Test Merge Candidate

#82972 Unit test for black market items. Added missing bulwark module and jawed hook to the market.
  code/modules/cargo/markets/market_item.dm
  code/modules/cargo/markets/market_items/clothing.dm
  code/modules/cargo/markets/market_items/consumables.dm
  code/modules/cargo/markets/market_items/hostages.dm
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/cargo/markets/market_items/stolen_goods.dm
  code/modules/cargo/markets/market_items/tools.dm
  code/modules/cargo/markets/market_items/weapons.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/blackmarket.dm
Labels: Fix, Unit Tests

#83104 Fix DNA infuser tier progression check
  code/game/machinery/dna_infuser/dna_infuser.dm
Labels: Fix

#83079 Add bump mining to mech drills
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
Labels: Good First PR, Quality of Life

#83090 Fixes silicon reach @ teleporter
  code/game/machinery/computer/teleporter.dm
Labels: Fix

#83063 Pipegun updates and glowup
  _maps/RandomRuins/IceRuins/icemoon_underground_hermit.dmm
  _maps/deathmatch/maint_mania.dmm
  _maps/map_files/NorthStar/north_star.dmm
  code/__DEFINES/projectiles.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/granters/crafting/pipegun.dm
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/clothing/suits/jacket.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/wetfloor.dm
  code/modules/projectiles/ammunition/ballistic/junk.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/junk.dm
  icons/effects/random_spawners.dmi
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/projectiles.dmi
  icons/obj/weapons/guns/wide_guns.dmi
  tgstation.dme
Labels: Sprites, Balance, Feature, Map Edit

#83124 Adds slight animation to entering a portal / teleporter
  code/game/machinery/teleporter.dm
  code/game/objects/effects/portals.dm
Labels: Quality of Life

#83118 Fixes floating pixels on railings
  icons/obj/railings.dmi
Labels: Sprites, Fix

#83117 Quick equip no longer throws balloon alerts
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/bag_of_holding.dm
  code/datums/storage/subtypes/pockets.dm
  code/modules/mob/inventory.dm
Labels: Fix

#83113 Allows the Coroner's Ritual Knife to go in the Medical belt!
  code/game/objects/items/storage/belt.dm
Labels: Quality of Life

#83129 Removes another rogue cable under a disconnected SMES on Ice Box
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Fix, Removal, Map Edit

#83114 Fix cult building
  code/game/objects/items/stacks/sheets/runed_metal.dm
  code/game/objects/items/stacks/stack_recipe.dm
Labels: Fix

#83121 Fix conveyor switches not working for cyborgs
  code/modules/recycling/conveyor.dm
Labels: Fix

#83111 Fixes Cursed Items wizard event
  code/modules/events/wizard/curseditems.dm
Labels: Fix

#83110 Fixes the stomach pump surgery not actually causing vomit nor decreasing reagent contents
  code/modules/surgery/stomachpump.dm
Labels: Grammar and Formatting, Fix

#83128 Gives broken/burnt grass a smoothed texture, fixes issues with smoothed textures including a non-smoothed broken overlay displaying some black void
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/turfs.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/grass.dm
  code/game/turfs/open/planet.dm
  icons/turf/floors/grass_damaged.dmi
  icons/turf/floors/grass_damaged.png
  icons/turf/floors/grass_damaged.png.toml
Labels: Sprites, Fix

#83109 Fixes logging runtime when admins trigger summon events
  code/modules/admin/verbs/secrets.dm
  code/modules/spells/spell_types/right_and_wrong.dm
Labels: Logging, Fix

#83127 Adds animation to objects sliding into or out of morgue trays
  code/game/objects/structures/morgue.dm
Labels: Quality of Life

#83108 Fixes masspurbation erroring out when trying to give/remove cat tails from incompatible subspecies of humans
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Fix

#83107 Fixes some missing poll_ghost_candidates sanity checking for ghost role based events
  code/modules/events/ghost_role/abductor.dm
  code/modules/events/ghost_role/alien_infestation.dm
  code/modules/events/ghost_role/sentience.dm
  code/modules/events/holiday/xmas.dm
Labels: Fix

#83061 Fixes deployable turrets not actually being undeployable.
  code/game/objects/structures/deployable_turret.dm
Labels: Fix

#83137 Fixes flap and wing emotes not updating wing sprites (for functional wings)
  code/modules/mob/living/emote.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
  code/modules/surgery/organs/external/wings/wings.dm
Labels: Fix

#83119 Screentips for sm shard
  code/modules/power/supermatter/supermatter_variants.dm
Labels: Quality of Life

#83102 Laser decharge sound uses pitch instead of frequency
  code/modules/projectiles/guns/energy.dm
Labels: Sound

#83123 Add alt-click usage context to toggle_icon component
  code/datums/components/toggle_suit.dm
Labels: Quality of Life

#83132 The labour camp shuttle paroles the user when they complete their points. The station return message specifies which prisoner returned.
  code/modules/mining/laborcamp/laborstacker.dm
Labels: Quality of Life

#83100 Fix space heaters always saying Auto when panel is closed
  tgui/packages/tgui/interfaces/SpaceHeater.jsx
Labels: Fix, UI

#83081 Command bar typing indicators (client side html version)
  code/modules/client/client_procs.dm
  code/modules/client/verbs/typing.dm
  code/modules/tgui_input/say_modal/typing.dm
  html/typing_indicator.html
  interface/skin.dmf
  tgstation.dme
Labels: Feature

#83082 Replace Heretic Phobia with Cursed Organs
  code/__DEFINES/antagonists.dm
  code/datums/ai/_ai_controller.dm
  code/datums/elements/corrupted_organ.dm
  code/datums/elements/relay_attackers.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/antagonists/heretic/items/corrupted_organs.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_buff.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_curse.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/surgery/organs/organ_movement.dm
  tgstation.dme
Labels: Feature, Removal

#83066 Fix tutorials not reappearing in some cases
  code/modules/tutorials/_tutorial.dm
Labels: Fix

#83134 The shuttle won't gib you anymore while you're in jaunt
  code/game/objects/effects/phased_mob.dm
Labels: Fix

#82985 Chance to become crab on DNA meltdown
  code/datums/dna.dm
  code/modules/mob/transform_procs.dm
Labels: Feature

#83165 Coroner, Chief Engineer, Bitrunner are no longer exempt from certain Traitor objectives
  code/modules/antagonists/traitor/objectives/destroy_heirloom.dm
  code/modules/antagonists/traitor/objectives/kidnapping.dm
Labels: Fix

#83169 fix glass style /hooch being duped
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/alcohol.dm
Labels: Fix

#83153 [no gbp] fixes spy bug, thank you melbert
  code/modules/antagonists/spy/spy.dm
Labels: Fix, GBP: No Update

#83148 Adds some autodoc to sound.dm
  code/game/sound.dm
Labels: Documentation

#83141 Reimplements node compatibility mode
  dependencies.sh
  tools/bootstrap/node_.ps1
  tools/ci/install_node.sh
Labels: Tools

#83098 Tgui: More common components in ts
  tgui/packages/common/fp.js
  tgui/packages/common/fp.test.ts
  tgui/packages/common/fp.ts
  tgui/packages/common/perf.ts
  tgui/packages/common/uuid.test.ts
  tgui/packages/common/uuid.ts
  tgui/packages/tgui/store.ts
Labels: UI

#83179 Enables right click, alt click, ctrl click for alt-click item window
  code/modules/lootpanel/ui.dm
  tgui/packages/tgui/interfaces/LootPanel/LootBox.tsx
Labels: Fix, UI, Quality of Life

#83173 Bitrunner job figurine
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/game/objects/items/toys.dm
  icons/obj/toys/toy.dmi
Labels: Sprites, Feature, Map Edit

#83176 Rat Kings can no longer create grime and miasma while ventcrawling
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat_actions.dm
Labels: Fix

#83170 Fix the RMB action on the cigarettes pack and add a new QoL
  code/game/objects/items/storage/fancy.dm
Labels: Fix, Quality of Life

#83185 Adds a period to the end of the wendigo deathrattle
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
Labels: Grammar and Formatting

#83101 Replace cigarette smoke with particles, add a big puff when taking cigarettes out of your mouth
  code/game/objects/effects/particle_holder.dm
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/items/cigs_lighters.dm
  code/modules/food_and_drinks/machinery/stove_component.dm
  icons/mob/clothing/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Sprites, Feature

#83190 Node Bootstrap: Cast OS version to int so compat code works
  tools/bootstrap/node_.ps1
Labels: Tools

#83162 Fixes sabre alt-click
  code/game/objects/items/storage/belt.dm
Labels: Fix

#83144 Fix the size of the projectile of the accelerator laser cannon
  code/modules/projectiles/guns/energy/laser.dm
Labels: Fix

#83088 Bodybuilders can see each others' power levels.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/skills/athletics.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
Labels: Feature

#83203 Fixes brain deletion not being lethal
  code/modules/surgery/organs/_organ.dm
Labels: Fix

#83200 Fixes tram malfuction event not ending properly
  code/modules/transport/_transport_machinery.dm
Labels: Fix

#83183 Makes Health Sensor assemblies a bit nicer to use
  code/modules/assembly/health.dm
  tgui/packages/tgui/interfaces/HealthSensor.tsx
Labels: UI, Quality of Life

#83171 Fixes arcade spawners in Interdyne Spinward Research Base
  _maps/RandomRuins/SpaceRuins/interdyne.dmm
Labels: Fix, Map Edit

#83209 Makes it so cargo security doesnt get stuck in mining station.
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Map Edit

#83211 Allows status effects with alerts to display their duration (on the alert), adds it to a select handful
  code/datums/status_effects/_status_effect.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/status_effects/food_effects.dm
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/modules/antagonists/heretic/magic/realignment.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/wizard/equipment/teleport_rod.dm
  code/modules/mining/equipment/monster_organs/rush_gland.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/inflation.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Quality of Life

#83193 Moves as many db related date/time operations to the db side to avoid byond bugs with dates and times.
  code/__HELPERS/time.dm
  code/controllers/subsystem/blackbox.dm
  code/controllers/subsystem/ipintel.dm
  code/controllers/subsystem/time_track.dm
  code/modules/admin/permissionedit.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/sql_message_system.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/research/rdconsole.dm
Labels: Fix

#83220 Fixes cultist blood rites runtime
  code/modules/antagonists/cult/blood_magic.dm
Labels: Fix

#83214 Fixes a reversion to the greyscale plate armor
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/obj/clothing/head/helmet.dmi
  icons/obj/clothing/suits/armor.dmi
Labels: Sprites, Fix

#83205 Fixes energy lost as heat for some machines
  code/game/machinery/cell_charger.dm
  code/game/machinery/rechargestation.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/vehicles/mecha/mech_bay.dm
Labels: Fix

#83224 Fixes destroyed solar panels dropping overlays
  code/modules/power/solar.dm
Labels: Fix

#83177 Fixes kinetic accelerator fire sound div 0 runtime
  code/modules/projectiles/guns/energy.dm
Labels: Fix

#83166 Portals now make sounds
  code/game/machinery/computer/prisoner/gulag_teleporter.dm
  code/game/machinery/teleporter.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/teleportation.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/projectiles/projectile/special/wormhole.dm
  sound/attributions.txt
  sound/effects/portal_close.ogg
  sound/effects/portal_open_1.ogg
  sound/effects/portal_open_2.ogg
  sound/effects/portal_open_3.ogg
  sound/effects/portal_travel.ogg
Labels: Sound

#83155 [NO GBP] Fixes the knife offsets of pipeguns
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: Fix, GBP: No Update

#83152 Confirm Order button now active when cargo shuttle is at Central
  tgui/packages/tgui/interfaces/Cargo/CargoCart.tsx
Labels: UI, Quality of Life

#83182 allows the SC/FISHER to shoot floor lights
  code/modules/projectiles/projectile/special/saboteur.dm
Labels: Fix

#83222 Ensures kinetic accelerators always get their mods added to the modkits list
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix

#83184 Fixes some bitrunning related issues [no gbp]
  code/modules/bitrunning/antagonists/_parent.dm
  code/modules/bitrunning/antagonists/cyber_police.dm
  code/modules/bitrunning/antagonists/cyber_tac.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/server/util.dm
Labels: Fix, GBP: No Update

#83115 Staff of Shrinking for the wizard
  code/datums/components/shrink.dm
  code/game/objects/items/storage/belt.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/offensive.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/ammunition/special/magic.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/magic.dm
  icons/obj/weapons/guns/magic.dmi
  sound/magic/staff_shrink.ogg
Labels: Sprites, Sound, Feature, Needs Pictures

#83130 Blood Brothers admin tooling
  code/modules/antagonists/brother/brother.dm
Labels: Administration, Stale

#82862 Adds a new neutral lawset, the Y.E.S.M.A.N. lawset, to the AI lawset boards and random pool.
  code/datums/ai_laws/laws_neutral.dm
  code/game/objects/effects/spawners/random/ai_module.dm
  code/game/objects/items/AI_modules/full_lawsets.dm
  code/modules/research/designs/AI_module_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
Labels: Feature, Config Update

#83202 Protects space spawned humans from radiation nebula
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__DEFINES/traits/declarations.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/status_effects/buffs.dm
  icons/hud/screen_alert.dmi
Labels: Sprites, Fix

#83198 Adds -y to upgrade in the docker files to prevent breakage
  tools/tts/tts-api/Dockerfile
  tools/tts/tts/Dockerfile
Labels: Fix, Tools

#83139 The Shovellening: Coroner and Miner Coats can now hold Shovels
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/wintercoats.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
Labels: Sprites, Quality of Life

#83135 Adds more box types to cardboard crafting
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Grammar and Formatting, Quality of Life

#83158 General maintenance for smoke machine
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/reagents/chemistry/machinery/smoke_machine.dm
  tgui/packages/tgui/interfaces/SmokeMachine.tsx
Labels: Fix, UI, Code Improvement, Quality of Life

#82592 Blade creation ritual returns lost blades
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: Feature

#83167 The armoury contraband locker guns have a chance to be rigged.
  code/game/objects/effects/spawners/random/contraband.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: Balance

#83215 Moves the departmental delivery area check to a unit test so it stops spamming logs
  _maps/gateway_test.json
  _maps/multiz_debug.json
  _maps/runtimestation.json
  code/modules/jobs/departments/departments.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/cargo_dep_order_locations.dm
Labels: Logging, Map Edit

#83180 Shift-clicking an offer for an item will examine the item
  code/_onclick/hud/alert.dm
Labels: Quality of Life

#82773 parrots try to immitate voices
  code/datums/components/listen_and_repeat.dm
  code/modules/mob/living/basic/pets/parrot/parrot_ai/parroting_action.dm
Labels: Feature

#82969 Circuit editor QoL and new circuit components
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/action/speech.dm
  code/modules/wiremod/components/atom/health_state.dm
  code/modules/wiremod/components/atom/hear.dm
  code/modules/wiremod/components/math/toggle.dm
  code/modules/wiremod/components/ntnet/ntnet_send.dm
  code/modules/wiremod/components/ntnet/ntnet_send_literal.dm
  code/modules/wiremod/core/component.dm
  code/modules/wiremod/core/integrated_circuit.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/IntegratedCircuit/ObjectComponent.jsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/index.jsx
Labels: Feature, Stale, UI, Quality of Life

#83231 [no gbp] Fixes uniform alt click while resting
  code/modules/clothing/under/_under.dm
Labels: Fix, GBP: No Update

#83206 Remove sleeper protocol objective + Remove the upper limit to sabotage RND server/Telecomms
  code/modules/antagonists/traitor/objectives/sabotage_machinery.dm
  code/modules/surgery/sleeper_protocol.dm
  tgstation.dme
Labels: Balance, Removal

#83105 Assorted minor alt-click reskinning fixes, primarily context-based
  code/game/objects/items.dm
  code/modules/clothing/masks/costume.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories/_accessories.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: Fix, Removal, Stale

#83239 Fixes wings working in space
  code/modules/surgery/organs/external/wings/functional_wings.dm
Labels: Fix

#83230 Fixes some atoms conduct electricity flag
  code/game/objects/items/melee/misc.dm
  code/game/objects/structures/grille.dm
Labels: Fix, Good First PR

#83131 Neckties can be worn below suits and accessories
  code/__DEFINES/mobs.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/accessories/_accessories.dm
Labels: Fix, Quality of Life

#83240 Restores Balance to the Candle Economy
  code/modules/religion/religion_sects.dm
Labels: Fix

#83246 Fixes Spess Knife's cutter tool having an invisible sprite
  icons/obj/tools.dmi
Labels: Sprites, Fix
