Repository tgstation/tgstation, pull requests merged in 2024-11, with the labels that each got.

#87579 [NO GBP] Fixes some guns runtiming when attempting to reload
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
  code/modules/projectiles/guns/ballistic.dm
Labels: Fix, GBP: No Update

#87562 fixes monkey eating subtree
  code/datums/ai/generic/find_and_set.dm
  code/datums/ai/generic/generic_behaviors.dm
  code/datums/ai/generic/generic_subtrees.dm
  code/datums/ai/monkey/monkey_controller.dm
Labels: Fix

#87602 You can now place material iron tiles in space
  code/game/turfs/open/space/space.dm
Labels: Fix

#87599 Melee cooldown on actions is defined as 0, not overriden everywhere
  code/datums/actions/cooldown_action.dm
  code/modules/mob/living/basic/clown/clown.dm
  code/modules/mob/living/basic/guardian/guardian_types/explosive.dm
  code/modules/mob/living/basic/guardian/guardian_types/gaseous.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon_abilities.dm
  code/modules/mob/living/basic/icemoon/ice_whelp/ice_whelp_abilities.dm
  code/modules/mob/living/basic/jungle/leaper/leaper_abilities.dm
  code/modules/mob/living/basic/jungle/mega_arachnid/mega_arachnid_abilities.dm
  code/modules/mob/living/basic/jungle/seedling/seedling.dm
  code/modules/mob/living/basic/lavaland/mook/mook_abilities.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_gaze.dm
  code/modules/mob/living/basic/minebots/minebot_abilities.dm
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat_actions.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/dragon_breath.dm
  code/modules/mob/living/basic/space_fauna/wumborian_fugu/inflation.dm
  code/modules/mob/living/carbon/alien/adult/alien_powers.dm
  code/modules/mob/living/simple_animal/bot/bot_announcement.dm
  code/modules/mob/living/simple_animal/hostile/vatbeast.dm
  code/modules/spells/spell.dm
Labels: Fix, Refactor

#87597 Fixes `Robotize()` and player panel Make AI verb not putting dead player ghosts in the new mob
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/transform_procs.dm
Labels: Fix

#87606 Fix NTNRC muting not working at all.
  code/modules/modular_computers/file_system/programs/chatroom/ntnrc_client.dm
  tgui/packages/tgui/interfaces/NtosNetChat.jsx
Labels: Fix, UI

#87605 Fixes `set_sanity()` math maybe hopefully oh fuck
  code/datums/mood.dm
Labels: Fix

#87604 Restores Derelict's vault doors hacking immunity
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/modules/mapfluff/ruins/spaceruin_code/TheDerelict.dm
Labels: Fix, Quality of Life

#87594 Fixed being unable to aghost while corpselocked
  code/modules/admin/admin_verbs.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#87601 Kills default chemical color 2: 5 years later edition
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code Improvement

#87557 Separate forced injection between latejoin and midround
  code/controllers/subsystem/dynamic/dynamic.dm
  code/controllers/subsystem/dynamic/dynamic_midround_rolling.dm
Labels: Administration

#87577 syndicate (and all) climbing hooks are small-sized
  code/game/objects/items/climbingrope.dm
Labels: Quality of Life

#87578 Let alert polls function after roundend
  code/controllers/subsystem/polling.dm
Labels: Fix, Verified :heavy_check_mark:

#87585 fixes cyborg apc frame attachment
  code/game/objects/items/apc_frame.dm
Labels: Fix

#87524 [NO GBP] HPLC can purify inverted chems
  code/modules/reagents/chemistry/machinery/chem_mass_spec.dm
  code/modules/reagents/chemistry/reagents.dm
Labels: Fix, GBP: No Update

#87516 Fix light emitters being deleted in pod bay when deleting everything
  code/modules/cargo/centcom_podlauncher.dm
Labels: Administration, Code Improvement

#87598 [NO GBP] Fixes pressure-proof clothing not preventing plasmamen self-combustion
  code/datums/components/self_ignition.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix, GBP: No Update

#87464 Where them peaches at? // a.k.a Service Cyborg botany tools!
  code/game/objects/items/robot/items/storage.dm
  code/game/objects/items/robot/items/tools.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/storage/bags.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
  icons/mob/clothing/belt.dmi
  icons/mob/silicon/robots.dmi
  icons/obj/items_cyborg.dmi
Labels: Sprites, Feature, Quality of Life

#87329 Refactor tasting code and reagent taste carrying, no longer taste your stomach contents or have non-existing flavours win out
  code/datums/components/food/edible.dm
  code/datums/quirks/positive_quirks/friendly.dm
  code/game/machinery/dna_infuser/organ_sets/fish_organs.dm
  code/modules/antagonists/nightmare/nightmare_organs.dm
  code/modules/mob/living/carbon/alien/organs.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/taste.dm
  code/modules/reagents/chemistry/holder/properties.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/taste.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/surgery/organs/internal/appendix/_appendix.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  code/modules/surgery/organs/internal/liver/_liver.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
  tgstation.dme
Labels: Fix, Refactor, Quality of Life

#87615 Restores kiltborg model select icon, fixes spawned-in kiltborgs runtiming, fixes model select icon not updating for spawned-in model borgs
  code/_onclick/hud/robot.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  icons/hud/screen_cyborg.dmi
Labels: Sprites, Fix

#87503 [BIRDSHOT] Signage Update
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Edit

#87625 [NO GBP] Fixes mass & time calculations for HPLC
  code/modules/reagents/chemistry/machinery/chem_mass_spec.dm
Labels: Fix, GBP: No Update

#87608 Thermal insulation tags will now format correctly
  code/modules/clothing/clothing.dm
Labels: Fix

#87296 Fix perks not shown in roundend and also perks sprites and hud.
  code/__DEFINES/hud.dm
  code/_onclick/hud/perks.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/perks.dm
  code/modules/antagonists/wizard/wizard.dm
  icons/hud/perks.dmi
  tgstation.dme
Labels: Sprites, Fix, Quality of Life

#87616 Fixes NTNRC username sorting, additionally makes subcategories sort alphabetically.
  code/modules/modular_computers/file_system/programs/chatroom/ntnrc_client.dm
  tgui/packages/tgui/interfaces/NtosNetChat.jsx
Labels: Fix, UI, Quality of Life

#87626 Fixes areas in maintenance above cargo on Wawa
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#87593 Prevents Keykeeper's Burden from being used on centcom/away z levels
  code/modules/antagonists/heretic/items/keyring.dm
Labels: Fix

#87555 [NO GBP] Adds back and suit storage sprites to the kinetic crusher reskins
  code/modules/mining/equipment/kinetic_crusher.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
Labels: Sprites, Fix, GBP: No Update

#87530 Radio noise pitch variance
  code/game/objects/items/devices/radio/radio.dm
  code/game/sound.dm
  sound/items/radio/radio_important.ogg
  sound/items/radio/radio_receive.ogg
  sound/items/radio/radio_talk.ogg
Labels: Sound

#87532 sound equalization for bikehorn.ogg and maintenance
  sound/items/bikehorn.ogg
Labels: Sound

#87531 Reduces pitch variance range for emotes
  code/__DEFINES/sound.dm
  code/datums/emotes.dm
Labels: Sound

#87525 Fixes gas analyser tabletop & storage interactions
  code/game/objects/items/devices/scanners/gas_analyzer.dm
Labels: Fix

#87619 Fix NT Software Hub displaying >100% completion or NaN/Infinite% completion.
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
Labels: Fix

#87361 Adds Eyecharts
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/objects/structures/signs/sign_eyechart.dm
  icons/obj/signs.dmi
  tgstation.dme
Labels: Sprites, Feature, Map Edit

#87374 Scanner Gate - species are not hardcoded
  code/game/machinery/scanner_gate.dm
  tgui/packages/tgui/interfaces/ScannerGate.jsx
Labels: Refactor, UI

#87462 [no gbp] gets rid of manucrafter item problems by just not putting things in it
  code/datums/components/crafting/crafting.dm
  code/modules/manufactorio/machines/crafter.dm
  icons/obj/machines/manufactorio.dmi
Labels: Sprites, GBP: No Update, Quality of Life

#87286 Adds a new NFC component for circuits
  code/__DEFINES/dcs/signals/signals_circuit.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/nodes/circuit_nodes.dm
  code/modules/wiremod/components/utility/nfc_receive.dm
  code/modules/wiremod/components/utility/nfc_send.dm
  code/modules/wiremod/components/utility/nfc_send_literal.dm
  tgstation.dme
Labels: Feature

#87556 General maintenance for RTD
  code/game/objects/items/rcd/RTD.dm
Labels: Code Improvement

#87491 Adds more damages, flavors and podpeople to recovered crew
  code/datums/elements/dangerous_surgical_removal.dm
  code/modules/lost_crew/body_bags.dm
  code/modules/lost_crew/character/_character.dm
  code/modules/lost_crew/character/flavor.dm
  code/modules/lost_crew/damages/_damages.dm
  code/modules/lost_crew/damages/poisoned.dm
  code/modules/lost_crew/damages/projectile.dm
  code/modules/lost_crew/damages/scenarios.dm
  code/modules/lost_crew/lost_crew_manager.dm
  code/modules/mob/living/living.dm
  tgstation.dme
Labels: Feature, Hard Deletes

#87627 Purges active turfs from The Derelict
  _maps/RandomRuins/SpaceRuins/russian_derelict.dmm
Labels: Fix, Map Edit

#87648 Fixes eye charts so that master isn't failing
  code/game/objects/structures/signs/sign_eyechart.dm
Labels: Fix, Priority: High

#87440 drones can no longer speak pirate
  code/modules/clothing/head/pirate.dm
Labels: Fix

#87457 makes the ai detector tool display the vague area the AI is looking at
  code/game/data_huds.dm
  code/game/objects/items/devices/multitool.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
Labels: Fix, Stale

#87656 Fixes sec and command comms not working
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix, Priority: High

#87631 Fixes moon heretic ascension not working as intended
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
Labels: Fix

#87636 water turf improvements.
  code/datums/elements/watery_tile.dm
Labels: Fix

#87643 Fixes some broken borg omnitools
  code/__DEFINES/tools.dm
  code/game/objects/items/robot/items/tools.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/surgery/tools.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/omnitools.dm
Labels: Fix

#87630 Fix glass floor crowbar interactions
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/glass.dm
  code/game/turfs/open/floor/plating.dm
Labels: Fix, Code Improvement

#87629 Refactor gene combination recipes to not use strings
  code/_globalvars/genetics.dm
  code/controllers/subsystem/atoms.dm
  code/datums/mutations/_combined.dm
Labels: Refactor

#87523 UI sounds try 2
  code/_onclick/hud/new_player.dm
  code/game/sound.dm
  sound/misc/menu/attribution.txt
  sound/misc/menu/menu_rolldown1.ogg
  sound/misc/menu/menu_rollup1.ogg
  sound/misc/menu/ui_select1.ogg
Labels: Sound, UI

#87108 material fishing rods and material fish.
  code/__DEFINES/construction/material.dm
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/__DEFINES/fish.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/shiny_bait.dm
  code/datums/elements/spooky.dm
  code/datums/materials/_material.dm
  code/datums/materials/alloys.dm
  code/datums/materials/basemats.dm
  code/datums/materials/hauntium.dm
  code/datums/materials/meat.dm
  code/datums/materials/pizza.dm
  code/game/atom/atom_materials.dm
  code/game/objects/items.dm
  code/modules/fishing/bait.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish/types/air_space.dm
  code/modules/fishing/fish/types/mining.dm
  code/modules/fishing/fish/types/ruins.dm
  code/modules/fishing/fish/types/station.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/instruments/items.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/research/designs/autolathe/service_designs.dm
  icons/obj/fishing.dmi
  strings/fishing_tips.txt
  tgstation.dme
Labels: Sprites, Feature

#87638 Minor fishing nits and tweaks
  code/__DEFINES/fish.dm
  code/datums/components/aquarium_content.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/types/station.dm
  code/modules/fishing/fish/types/tiziran.dm
  code/modules/fishing/sources/source_types.dm
Labels: Balance, Fix

#87653 [NO GBP] fixes spurious unit test fail for prosthetic limbs
  code/modules/lost_crew/scenarios.dm
  tgstation.dme
Labels: Fix, GBP: No Update

#87654 Fixes space kidnap being instant
  code/datums/components/space_kidnap.dm
Labels: Fix

#87644 resprites 9 hair styles
  icons/mob/human/human_face.dmi
Labels: Sprites

#87628 Guncode Agony 3: Projectile code cleanup
  code/datums/components/parry.dm
  code/datums/components/pellet_cloud.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/pierce.dm
  code/game/atom/_atom.dm
  code/game/objects/items/hand_items.dm
  code/game/objects/items/toys.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/reflector.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/basic/alien/_alien.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/_incendiary.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/projectiles/projectile/bullets/special.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
Labels: Fix, Code Improvement

#87229 Adds flatboxes, boxes that fit beneath tiles
  code/datums/elements/undertile.dm
  code/game/objects/items/storage/boxes/flat_boxes.dm
  code/modules/mob/emote.dm
  icons/obj/storage/box.dmi
  tgstation.dme
Labels: Sprites, Feature

#87350 Removes SiliConnect from borg PDAs, expands their self-status app instead
  code/modules/modular_computers/computers/item/pda.dm
  code/modules/modular_computers/file_system/programs/robotact.dm
  tgui/packages/tgui/interfaces/NtosRobotact.jsx
Labels: Balance, Feature, Removal, Stale, UI

#87671 Fix rare runtime if there are no available organs to take
  code/modules/lost_crew/damages/post_mortem.dm
Labels: Fix

#87471 mining resonator clips to belt slot
  code/modules/mining/equipment/resonator.dm
  icons/mob/clothing/belt.dmi
Labels: Sprites, Merge Conflict, Quality of Life

#87529 Sound mixer attempt 2
  code/controllers/subsystem/ambience.dm
  code/controllers/subsystem/tts.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/sound.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences/migrations/legacy_sound_toggles_migration.dm
  code/modules/client/preferences/migrations/sound_checkboxes_migration.dm
  code/modules/client/preferences/sounds.dm
  code/modules/client/preferences_savefile.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: Sound, UI

#86049 Adds a score for all species of fish that you've caught.
  SQL/database_changelog.md
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/achievements.dm
  code/__DEFINES/dcs/signals/signals_subsystem.dm
  code/__DEFINES/fish.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/maths.dm
  code/controllers/subsystem/achievements.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/processing/fishing.dm
  code/datums/achievements/_achievement_data.dm
  code/datums/achievements/_awards.dm
  code/datums/achievements/misc_scores.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/types/air_space.dm
  code/modules/fishing/fish/types/anadromous.dm
  code/modules/fishing/fish/types/freshwater.dm
  code/modules/fishing/fish/types/holographic.dm
  code/modules/fishing/fish/types/mining.dm
  code/modules/fishing/fish/types/ruins.dm
  code/modules/fishing/fish/types/saltwater.dm
  code/modules/fishing/fish/types/station.dm
  code/modules/fishing/fish/types/syndicate.dm
  code/modules/fishing/fish/types/tiziran.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/unit_tests/fish_unit_tests.dm
  tgui/packages/tgui/interfaces/Achievements.jsx
  tgui/packages/tgui/interfaces/Achievements.tsx
Labels: Feature, UI, SQL

#87687 Removes S
  code/controllers/subsystem/modular_computers.dm
Labels: Fix, Code Improvement

#87699 Ah yes, the taste of datum/reagent/copper
  code/modules/research/xenobiology/crossbreeding/consuming.dm
Labels: Code Improvement

#87665 Alien operating tables now have a 20% surgery speed bonus
  code/modules/surgery/surgery_helpers.dm
Labels: Balance, Refactor

#87668 Moves MSO's owned files out to be shared between him/Scriptis and him/me
  .github/CODEOWNERS
Labels: GitHub

#87642 Fix broken spin dismount
  code/datums/components/riding/riding_mob.dm
Labels: Fix

#87522 Changes remark logging to reflect whether an applied remark is secret or not
  code/modules/admin/sql_message_system.dm
Labels: Logging, Administration, Stale

#87649 Fixes MODsuit deactivation not disabling modules
  code/modules/mod/mod_activation.dm
Labels: Fix

#87704 the mod skin applier actually works now + honkeratives waddle
  code/modules/mod/mod_paint.dm
Labels: Feature, Fix

#87711 restores corrupt audio files [no gbp]
  sound/items/duct_tape/duct_tape_rip.ogg
  sound/items/duct_tape/duct_tape_snap.ogg
Labels: Fix, GBP: No Update

#87696 [NO GBP] Post-Material rods fixes and tweaks
  code/datums/materials/alloys.dm
  code/datums/materials/basemats.dm
  code/datums/materials/hauntium.dm
  code/modules/cargo/exports/fish.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/types/freshwater.dm
  code/modules/fishing/fish/types/ruins.dm
  code/modules/fishing/fish/types/station.dm
  code/modules/fishing/fish/types/syndicate.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_rod.dm
Labels: Balance, Fix, GBP: No Update

#87657 Add's support for population limits on keep_me_secure component (Loneop event balance change)
  code/datums/components/keep_me_secure.dm
  code/game/objects/items/plushes.dm
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
Labels: Balance

#87692 Fixed sect nullrod bonus component
  code/datums/components/sect_nullrod_bonus.dm
Labels: Fix

#87690 Moves destructive analyser attack chain to base item interact level
  code/modules/research/destructive_analyzer.dm
Labels: Fix

#87683 You can succumb quietly by right-clicking the UI
  code/_onclick/hud/alert.dm
  code/modules/mob/living/living.dm
Labels: Fix, Quality of Life

#87691 You can repair clothing that has storage with cloth again
  code/modules/clothing/clothing.dm
Labels: Fix

#87673 Renames characters in dark matter singulo description
  code/game/objects/items/toys.dm
  code/modules/power/singularity/dark_matter_singularity.dm
Labels: Grammar and Formatting

#87679 Fixes RHD storage interaction
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RHD.dm
  code/game/objects/items/rcd/RLD.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/objects/items/rcd/RTD.dm
Labels: Fix

#87652 Prevent vape from being emptied if the cap isn't open
  code/game/objects/items/cigarettes.dm
Labels: Fix

#87710 RD modsuit advanced reagent scanner fix
  code/modules/mod/modules/modules_science.dm
Labels: Fix

#87728 [no gbp] fixes supposedly really bad sorter exploit
  code/modules/manufactorio/machines/sorter.dm
Labels: Fix, GBP: No Update

#87717 Fixes level 1 singularity eating containment field and being able to move
  code/modules/power/singularity/singularity.dm
Labels: Fix

#87705 Fixes for borg attack chain interactions
  code/_onclick/cyborg.dm
  code/modules/mining/boulder_processing/brm.dm
Labels: Fix

#87721 [NO GBP] You can perform fish scanning experiments again (plus other stuff)
  code/__DEFINES/fish.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fishing_rod.dm
Labels: Grammar and Formatting, Fix, GBP: No Update

#87712 Increase gas mask filter effectiveness.
  code/modules/clothing/masks/gas_filter.dm
Labels: Balance

#87702 Scared of the Spooky Circus Man? Wear a tinfoil hat! Mental resistance protects from some heretic abilities (mostly Moon effects)
  code/_globalvars/phobias.dm
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/antagonists/heretic/items/madness_mask.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/magic/moon_parade.dm
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
  code/modules/antagonists/heretic/magic/moon_smile.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  code/modules/spells/spell_types/pointed/abyssal_gaze.dm
  code/modules/spells/spell_types/pointed/mind_transfer.dm
  code/modules/spells/spell_types/pointed/terrorize.dm
Labels: Balance

#87724 [tools] Fixes tgui build warning
  tools/bootstrap/node.bat
Labels: Tools

#87703 putting [tm only] in your title will now apply the label automatically
  tools/WebhookProcessor/github_webhook_processor.php
Labels: GitHub

#87689 Removes glass from status & newscaster frame's custom materials
  code/game/machinery/newscaster/newscaster_machine.dm
  code/game/machinery/status_display.dm
Labels: Fix

#87610 Fix NTNRC duplicate message jank and new message header, makes program headers actually update when there's none.
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/programs/chatroom/conversation.dm
  code/modules/modular_computers/file_system/programs/chatroom/ntnrc_client.dm
  tgui/packages/tgui/interfaces/NtosNetChat.jsx
Labels: Fix, UI

#87697 Goliath Tendril Hammer is now resistant to acid and fire
  code/game/machinery/dna_infuser/organ_sets/goliath_organs.dm
Labels: Fix

#87676 Moves material container attack to item interaction level
  code/datums/components/material/material_container.dm
Labels: Fix, Code Improvement

#87714 Makes #87029 Opt-Out
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
Labels: Code Improvement

#87723 [tgui] Dependency updates
  tgui/package.json
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/interfaces/BluespaceLocator.tsx
  tgui/packages/tgui/package.json
  tgui/yarn.lock
Labels: UI

#87737 fixes borgs linking to ais in mechs cards and modsuits
  code/__HELPERS/level_traits.dm
  code/__HELPERS/mobs.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
Labels: Fix

#87736 Living Flesh limbs won't try to grab underfloor objects
  code/datums/components/wormborn.dm
  code/game/atoms_movable.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/theft_tools.dm
  code/modules/mob/living/basic/heretic/flesh_worm.dm
  code/modules/mob/living/basic/pets/orbie/orbie.dm
  code/modules/mob/living/basic/ruin_defender/flesh.dm
  code/modules/mob/living/living.dm
  code/modules/religion/religion_structures.dm
Labels: Grammar and Formatting, Fix

#87730 Fix oil slime making vegetable oil instead of corn oil
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: Fix

#87727 [tools] Removes the second dev server connection
  tgui/packages/tgui-dev-server/link/client.cjs
  tgui/packages/tgui-dev-server/link/server.js
  tgui/packages/tgui-dev-server/logging.js
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui/interfaces/NtosMain.tsx
  tgui/yarn.lock
Labels: Removal, UI

#87744 fix blade ascension not giving you the ring of blades
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/magic/furious_steel.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
Labels: Fix

#87706 Fixed fishing rod duping with poly belts and shapeshift spells.
  code/datums/components/profound_fisher.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/spells/spell_types/shapeshift/_shape_status.dm
Labels: Grammar and Formatting, Fix, GBP: No Update

#87780 Chem master validates selected container in UI
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: Fix, Priority: High

#87759 fixes missing icons in abductor console
  code/modules/antagonists/abductor/machinery/console.dm
  tgui/packages/tgui/interfaces/AbductorConsole.tsx
Labels: Fix, UI

#87757 Add unit test tag to your PR title
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools

#87749 Add `TRAIT_EVIL` to admin tooling
  code/_globalvars/traits/admin_tooling.dm
Labels: Administration

#87741 [NO GBP] Fixes wings and jetpacks sometimes preventing you from opening doors
  code/datums/components/jetpack.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
Labels: Fix, GBP: No Update

#87756 Drinking Glass sprite updates
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/coffee_tea.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/dairy.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/juices.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/mixed_alcohol.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/obj/drinks/drinks.dmi
  icons/obj/medical/reagent_fillings.dmi
Labels: Sprites

#87758 Update README.md of unit tests folder for VS code support
  code/modules/unit_tests/README.md
Labels: Unit Tests

#87489 the glove sounds are now only on some gloves [no gbp]
  code/modules/clothing/gloves/_gloves.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/insulated.dm
  code/modules/clothing/gloves/plasmaman.dm
  code/modules/clothing/gloves/special.dm
  code/modules/clothing/gloves/tacklers.dm
Labels: Sound, GBP: No Update

#87670 hunting behaviors no longer share a cooldown
  code/__DEFINES/ai/ai_blackboard.dm
  code/datums/ai/hunting_behavior/hunting_behaviors.dm
  code/modules/mob/living/basic/slime/ai/pet_command.dm
Labels: Fix

#87760 fixes some dynamic rulesets purging their candidate pools
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
Labels: Fix

#87739 Clarify locations for getting started in README
  README.md
Labels: Good First PR

#87733 [NO-GBP] Fixes a minor fuckup that made cigarettes contain up to double the intended amount of nicotine
  code/game/objects/items/cigarettes.dm
Labels: Fix, GBP: No Update

#87725 Teleporting while buckled to something will take you with it
  code/datums/helper_datums/teleport.dm
  code/game/objects/buckling.dm
Labels: Fix

#87784 SM sliver dusts fishing hooks
  code/game/objects/items/theft_tools.dm
Labels: Fix

#87775 Abstract nullrods cannot burn/melt. Monk staff fixes
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Labels: Fix

#87762 Losing malf no longer wipes nonmalf abilities
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#87735 Refactors for grinding & juicing
  code/game/objects/items.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/hydroponics/grown.dm
  code/modules/plumbing/plumbers/grinder_chemical.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
Labels: Fix, Refactor

#87576 Chem dispenser droplets colored
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
Labels: UI, Quality of Life

#87783 prevents sending messages to newscaster channels without permission
  code/game/machinery/newscaster/newscaster_machine.dm
Labels: Fix

#87782 Adds eye color overrides, converts cult/weed/silverscale eye effects to use them
  code/__DEFINES/colors.dm
  code/datums/elements/cult_eyes.dm
  code/datums/quirks/neutral_quirks/heretochromatic.dm
  code/datums/status_effects/drug_effects.dm
  code/modules/client/preferences/species_features/basic.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: Refactor

#87787 Improves code for recycling circuits in component printer
  code/datums/components/material/material_container.dm
  code/datums/components/material/remote_materials.dm
  code/modules/wiremod/core/component_printer.dm
  code/modules/wiremod/core/integrated_circuit.dm
Labels: Code Improvement

#87639 Fishing bluespace capsules
  _maps/RandomRuins/IceRuins/icemoon_underground_hotsprings.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashsite.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/templates/fishing_freshwater.dmm
  _maps/templates/fishing_hot_spring.dmm
  _maps/templates/fishing_ice.dmm
  _maps/templates/fishing_lava.dmm
  _maps/templates/fishing_plasma.dmm
  _maps/templates/fishing_saltwater.dmm
  _maps/templates/fishing_tizira.dmm
  code/__DEFINES/layers.dm
  code/__DEFINES/maps.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/components/fish_growth.dm
  code/datums/mood_events/needs_events.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/objects/effects/particle_holder.dm
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/effects/spawners/random/contraband.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/structures/shower.dm
  code/game/turfs/open/ice.dm
  code/game/turfs/open/water.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/fish/fish_evolution.dm
  code/modules/fishing/fish/types/air_space.dm
  code/modules/fishing/fish/types/freshwater.dm
  code/modules/fishing/fish/types/mining.dm
  code/modules/fishing/fish/types/tiziran.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/mapfluff/ruins/icemoonruin_code/cursed_spring.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/shelters.dm
  icons/effects/particles/smoke.dmi
  icons/hud/radial_fishing.dmi
  icons/hud/screen_alert.dmi
  icons/obj/aquarium/fish.dmi
  icons/obj/food/lizard.dmi
  icons/obj/mining.dmi
  icons/turf/beach.dmi
  icons/turf/decals.dmi
  icons/turf/floors.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/87639_hot_springs.txt
Labels: Sprites, Feature, Tools, Map Edit

#87801 Tiny spellcheck
  code/modules/surgery/organs/internal/ears/_ears.dm
Labels: Grammar and Formatting

#87795 fixes some rand() loops
  code/modules/deathmatch/deathmatch_modifier.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Fix, Code Improvement

#87790 evidence bag sounds
  code/datums/storage/storage.dm
  code/modules/detectivework/evidence.dm
  sound/items/evidence_bag/attribution.txt
  sound/items/evidence_bag/evidence_bag_drop.ogg
  sound/items/evidence_bag/evidence_bag_pickup.ogg
  sound/items/evidence_bag/evidence_bag_unzip.ogg
  sound/items/evidence_bag/evidence_bag_zip.ogg
Labels: Sound

#87772 Writing sound
  code/__DEFINES/sound.dm
  code/game/machinery/newscaster/newspaper.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/implants/implantcase.dm
  code/game/objects/items/signs.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/sound.dm
  code/modules/food_and_drinks/pizzabox.dm
  code/modules/library/book.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper.dm
  code/modules/photography/photos/photo.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  code/modules/recycling/sortingmachinery.dm
  sound/effects/writing_pen/attribution.txt
  sound/effects/writing_pen/writing_pen1.ogg
  sound/effects/writing_pen/writing_pen2.ogg
  sound/effects/writing_pen/writing_pen3.ogg
  sound/effects/writing_pen/writing_pen4.ogg
  sound/effects/writing_pen/writing_pen5.ogg
  sound/effects/writing_pen/writing_pen6.ogg
  sound/effects/writing_pen/writing_pen7.ogg
Labels: Sound

#87821 AI-controlled mobs can now cross open space if they won't fall.
  code/game/turfs/open/openspace.dm
Labels: Fix

#87738 Lowers the price of the energy sword.
  code/modules/uplink/uplink_items/dangerous.dm
Labels: Balance

#87549 More accessibility options and pref menu
  code/modules/client/preferences/accessibility.dm
  code/modules/mob/mob_helpers.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/accessibility.tsx
Labels: Stale, UI, Quality of Life

#87435 Makes dust animation look less 2006
  code/game/atom/alternate_appearance.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/hallucination/fake_death.dm
  code/modules/mob/living/carbon/alien/death.dm
  code/modules/mob/living/carbon/alien/larva/death.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/power/singularity/reality_tear.dm
  code/modules/unit_tests/focus_only_tests.dm
  icons/mob/dust_animation.dmi
  icons/mob/simple/mob.dmi
Labels: Sprites

#87432 Datumizes heretic paths
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/knowledge/_heretic_paths.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
  code/modules/antagonists/heretic/knowledge/side_cosmos_ash.dm
  code/modules/antagonists/heretic/knowledge/side_flesh_void.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
  code/modules/antagonists/heretic/knowledge/side_void_blade.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/unit_tests/heretic_knowledge.dm
  tgstation.dme
Labels: Refactor

#87818 [NO GBP] Fixed special DNA infusions from squids and pufferfish
  code/game/machinery/dna_infuser/dna_infusion.dm
  code/modules/fishing/fish/fish_traits.dm
Labels: Fix, GBP: No Update

#87847 Omen component no longer tries to crush you from inside of a vent
  code/datums/components/omen.dm
Labels: Fix, Quality of Life

#87840 Makes goliath cloak not override digitigrade legs
  code/modules/mining/equipment/explorer_gear.dm
Labels: Fix

#87835 Tramstation Barber Disposals Fix
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit

#87832 Xenobio console puts sucked up slimes into stasis
  code/__DEFINES/traits/sources.dm
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Fix

#87839 Gives Runtimestation a bounty pad and event spawnpoints
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Edit, Quality of Life

#87850 Fixes four unlinked APCs in DeltaStation maint rooms
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#87849 Fix holymelon armor not inheriting magic resistance
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
Labels: Fix

#87845 Add screentips to hat stabilizer component
  code/datums/components/hat_stabilizer.dm
Labels: Fix

#87837 Fix airlock shell for circuit camera component
  code/game/objects/structures/door_assembly.dm
Labels: Fix

#87834 fixes tgui DraggableControl not focusing on first click
  tgui/packages/tgui/components/DraggableControl.jsx
Labels: Fix, UI

#87836 Labeller now tells you how many labels are left.
  code/modules/paperwork/handlabeler.dm
Labels: Quality of Life

#87838 Examine fixes and documentation touchup
  code/game/atom/atom_examine.dm
  code/game/objects/items.dm
Labels: Grammar and Formatting, Fix, Documentation

#87841 Makes curator inventory update when buttons are pressed.
  code/modules/library/lib_machines.dm
  code/modules/tgui/external.dm
Labels: Fix, Quality of Life

#87842 Deletes misleading infinite define, adds defines for clearer status effect durations
  code/__DEFINES/status_effects.dm
  code/__DEFINES/time.dm
  code/controllers/subsystem/air.dm
  code/datums/ai/movement/ai_movement_complete_stop.dm
  code/datums/elements/organ_set_bonus.dm
  code/datums/elements/watery_tile.dm
  code/datums/station_traits/negative_traits.dm
  code/datums/status_effects/_status_effect.dm
  code/datums/status_effects/agent_pinpointer.dm
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/buffs/bioware/_bioware.dm
  code/datums/status_effects/buffs/stun_absorption.dm
  code/datums/status_effects/debuffs/blindness.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/status_effects/debuffs/dna_transformation.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/datums/status_effects/debuffs/genetic_damage.dm
  code/datums/status_effects/debuffs/hallucination.dm
  code/datums/status_effects/debuffs/hooked.dm
  code/datums/status_effects/debuffs/speech_debuffs.dm
  code/datums/status_effects/debuffs/stamcrit.dm
  code/datums/status_effects/debuffs/tower_of_babel.dm
  code/datums/status_effects/drug_effects.dm
  code/datums/status_effects/gas.dm
  code/datums/status_effects/limited_effect.dm
  code/datums/status_effects/neutral.dm
  code/datums/status_effects/stacking_effect.dm
  code/datums/status_effects/wound_effects.dm
  code/game/objects/items/devices/laserpointer.dm
  code/modules/antagonists/heretic/magic/shadow_cloak.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/antagonists/heretic/status_effects/ghoul.dm
  code/modules/antagonists/heretic/status_effects/void_chill.dm
  code/modules/antagonists/heretic/structures/lock_final.dm
  code/modules/antagonists/voidwalker/voidwalker_status_effects.dm
  code/modules/antagonists/wizard/equipment/teleport_rod.dm
  code/modules/mining/equipment/monster_organs/brimdust_sac.dm
  code/modules/mob/living/status_procs.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/spells/spell_types/tower_of_babel.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/unit_tests/status_effect_ticks.dm
Labels: Code Improvement

#87843 Make roundstart book publishing on bird possible.
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Edit

#87852 Fixes basic mob performance impact created by the factorio PR
  code/game/turfs/turf.dm
  code/modules/manufactorio/_manufacturing.dm
Labels: Performance, Fix

#87825 Fixing a small, crucial, fish reproduction issue.
  code/modules/fishing/fish/_fish.dm
Labels: Fix, GBP: No Update
