Repository tgstation/tgstation, pull requests merged in 2025-06, with the labels that each got.

#91397 Escape menu improvements
  code/_onclick/hud/screen_object_holder.dm
  code/modules/client/verbs/ooc.dm
  code/modules/escape_menu/escape_menu.dm
  code/modules/escape_menu/home_page.dm
  code/modules/escape_menu/leave_body.dm
  code/modules/escape_menu/screen_objects/admin_text.dm
  code/modules/escape_menu/screen_objects/home_text.dm
  code/modules/escape_menu/screen_objects/leave_body_text.dm
  code/modules/escape_menu/screen_objects/lobby_buttons.dm
  code/modules/escape_menu/title.dm
  icons/hud/escape_menu_icons.dmi
  tgstation.dme
Labels: Quality of Life

#91127 Fixes inconsistent tab/space issue in schema
  SQL/database_changelog.md
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
Labels: SQL

#91420 Fix some DB issues and lag
  SQL/database_changelog.md
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/__HELPERS/logging/manifest.dm
  code/controllers/subsystem/blackbox.dm
  code/datums/records/manifest.dm
Labels: Fix, SQL

#91118 Completely strips silicon control options out of open cage mechs (except mech domination). Adds flags to handle granular control restrictions and beacon limitations.
  code/__DEFINES/mecha.dm
  code/_globalvars/bitfields.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/gygax.dm
  code/modules/vehicles/mecha/combat/honker.dm
  code/modules/vehicles/mecha/combat/justice.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/reticence.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  code/modules/vehicles/mecha/mecha_ai_interaction.dm
  code/modules/vehicles/mecha/mecha_control_console.dm
  code/modules/vehicles/mecha/working/clarke.dm
  code/modules/vehicles/mecha/working/ripley.dm
Labels: Balance, Code Improvement

#91341 Removes a couple of duplicate gag map_icons + fixes the gags_recolorable component + most lootpanel gags previews
  code/__HELPERS/icons.dm
  code/controllers/subsystem/processing/greyscale.dm
  code/datums/elements/gags_recolorable.dm
  code/datums/greyscale/json_configs/screwdriver.json
  code/game/objects/items/cigarettes.dm
  code/game/objects/items/debug_items.dm
  code/game/objects/items/theft_tools.dm
  code/game/objects/items/tools/screwdriver.dm
  code/modules/asset_cache/assets/crafting.dm
  code/modules/clothing/masks/bandana.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/mapfluff/ruins/spaceruin_code/caravanambush.dm
  code/modules/mob/living/basic/drone/drone_tools.dm
  icons/map_icons/clothing/mask.dmi
  icons/map_icons/clothing/under/_under.dmi
  icons/map_icons/items/_item.dmi
  icons/obj/tools.dmi
Labels: Stale

#91436 Fixes 1 rogue pixel on the fuel HFR box
  icons/obj/machines/atmospherics/hypertorus.dmi
Labels: Sprites, Fix, Needs Pictures

#91065 Xenobiology is slightly more convenient and slightly less text spammy
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Logging, Quality of Life

#91455 Infinite credit dupe trick patch [100% working] [June 2025] [No download] [Link in video description]
  code/modules/modular_computers/file_system/programs/betting.dm
Labels: Fix

#91467 Resprites the Unconsciousness Footstep Effect
  icons/effects/fov/fov_effects.dmi
Labels: Sprites

#91383 Adds the bloodroach
  _maps/RandomRuins/IceRuins/icemoon_surface_bughabitat.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_comms_agent/commsoffice_cheap.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck1.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck3.dmm
  _maps/RandomRuins/SpaceRuins/hauntedtradingpost.dmm
  _maps/RandomZLevels/museum.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/minigame/basketball/greytide_worldwide.dmm
  _maps/shuttles/emergency_birdshot.dmm
  _maps/shuttles/emergency_fame.dmm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/elements/bugkiller_reagent.dm
  code/game/objects/effects/spawners/random/trash.dm
  code/game/objects/items/weaponry.dm
  code/modules/events/scrubber_overflow.dm
  code/modules/events/vent_clog.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mining/lavaland/mining_loot/megafauna/colossus.dm
  code/modules/mob/living/basic/vermin/cockroach/cockroach.dm
  code/modules/mob_spawn/mob_spawn.dm
  icons/mob/simple/animal.dmi
Labels: Feature, Map Edit

#91437 Fixes wawa cycle issue, and adds a pump
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#91435 Fixes missing fuel input HFR box in catwalk
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Fix, Map Edit

#91450 Adds shuttle parts to Catwalk tech storage
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Map Edit

#91269 SSid_access now has a proc for getting information about an ID holder from their ID, there is also a define to invoke this proc in a less verbose way
  code/__DEFINES/access.dm
  code/controllers/subsystem/networks/id_access.dm
Labels: Stale, Code Improvement

#91469 Fix the dozen or so lingering spritesheet errors caused by GAGS map icons
  code/modules/asset_cache/assets/crafting.dm
Labels: Fix

#91449 Healium crystals actually fix air
  code/game/objects/items/grenades/atmos_grenades.dm
Labels: Fix

#91444 Fixing two fishing issues.
  code/_onclick/click.dm
  code/datums/components/aquarium_content.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fishing_equipment.dm
Labels: Fix

#91441 Balloon alerts don't balloon alert for non-runechat users
  code/modules/balloon_alert/balloon_alert.dm
Labels: Fix

#91442 Fixes monkey offsets
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
Labels: Fix

#91482 I'm sure why these are snowflaked to early return, so now they're not (removes ancient code cruft)
  code/game/objects/effects/effects.dm
Labels: Removal

#91484 Adds a wall dent mapping helper
  code/modules/mapping/mapping_helpers.dm
Labels: Tools

#91509 Improves the PR announcement message grammar
  tools/Tgstation.PRAnnouncer/PRAnnounceQuery.cs
Labels: Grammar and Formatting, Tools

#91497 Reduces ghost poll time for blackout drunk
  code/datums/brain_damage/split_personality.dm
Labels: Quality of Life

#91462 rewrite blood refactor UpdatePaths to use @SUBTYPES
  tools/UpdatePaths/Scripts/91053_update_blood_decals.txt
Labels: Tools, Refactor

#91483 Bots use pronouns
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/hygienebot/hygienebot.dm
  code/modules/mob/living/basic/bots/medbot/medbot.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Code Improvement

#91457 [MDB Ignore] Adds airlock pumps to all external airlocks on Deltastation
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/modules/atmospherics/machinery/components/unary_devices/airlock_pump.dm
Labels: Feature, Map Edit, Quality of Life

#91463 Literally just slows the Paddy down by 2.5x
  code/modules/vehicles/mecha/working/ripley.dm
Labels: Balance

#91476 Add fish_tail to create_consistent_human_dna
  code/modules/mob/living/carbon/human/dummy.dm
Labels: Code Improvement

#91499 Swarming mobs spread out immediately
  code/datums/components/swarming.dm
Labels: Fix

#91421 Gibs you leave are now based on your biotype/chest bodypart, improves gibber VFX
  code/game/objects/effects/spawners/gibspawner.dm
  code/game/objects/items/food/meatslab.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/food_and_drinks/machinery/gibber.dm
  code/modules/mob/living/basic/alien/_alien.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/space_fauna/robot_customer.dm
  code/modules/mob/living/basic/vermin/cockroach/cockroach.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/death.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/silicon/death.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/spells/spell_types/shapeshift/_shapeshift.dm
  code/modules/wiremod/shell/drone.dm
  icons/obj/machines/kitchen.dmi
Labels: Feature, Fix, Code Improvement

#91502 Fixes movespeed glitch on holy hoverboards
  code/datums/components/riding/riding_vehicle.dm
Labels: Fix

#91503 Fix two runtimes related to decal lazy init reagents
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#91413 Fixes urgent ahelps not working
  tgui/packages/tgui/interfaces/Adminhelp.tsx
Labels: Fix, UI

#91273 Refactors book attackby into item interaction procs, adding screentips, minor qol
  code/datums/storage/subtypes/others/misc.dm
  code/modules/library/barcode_scanner.dm
  code/modules/library/bibles.dm
  code/modules/library/book.dm
Labels: Fix, Refactor, Stale, Quality of Life

#91517 Mob ckey sanity check now respects insano aghost code
  code/__DEFINES/client.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/mob.dm
  code/modules/spells/spell_types/pointed/mind_transfer.dm
Labels: Fix

#91525 Revert "heavily change catwalk station science (#91438)"
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Map Edit

#91418 Non-abductors can yet again NOT use abductor batons
  code/modules/antagonists/abductor/equipment/gear/abductor_items.dm
Labels: Fix, Stale

#91518 fixes create_mob and create_turf, in line with create_object
  code/modules/admin/create_mob.dm
  code/modules/admin/create_turf.dm
Labels: Fix, Good First PR

#91328 Adds a new brand of cigarettes, Mainthol Greys
  code/game/objects/effects/spawners/random/entertainment.dm
  code/game/objects/items/cigarettes.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/vending/cigarette.dm
  icons/obj/cigarettes.dmi
Labels: Feature

#91466 Removes some action_slots from items where it's not needed
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/dufflebags.dm
  code/game/objects/items/storage/holsters.dm
  code/modules/clothing/chameleon/generic_chameleon_clothing.dm
Labels: Removal, Code Improvement

#91504 Handrails, visual shuttle buckles, and buckling feedback changes
  code/game/objects/buckling.dm
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/gym/weight_machine.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/shuttle/mobile_port/shuttle_move_callbacks.dm
  icons/obj/chairs.dmi
  icons/obj/handrail.dmi
Labels: Sprites, Feature, Quality of Life

#91540 Fixes dna consoles [NO GBP]
  code/datums/dna.dm
  code/game/machinery/computer/dna_console.dm
Labels: Fix, Priority: High, GBP: No Update

#91491 Heavily changes catwalk security, nearly completely altering the brig.
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Map Edit

#91552 Removes a debugging statement that was left in
  code/game/objects/items/stacks/stack.dm
Labels: Removal

#91562 Repurposed Glands is now Gene Stim; it now simply doses you with 4 units of Changeling Adrenaline on use and cannot be used if you're on fire
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance

#91577 Fixed cockroach spawners not doing anything
  code/modules/mob_spawn/mob_spawn.dm
Labels: Fix

#91528 Un-hardcode door ID on derelict vault door computer
  code/modules/mapfluff/ruins/spaceruin_code/TheDerelict.dm
Labels: Code Improvement

#91529 Add a "Count Atoms/Datums" debug verb
  code/modules/admin/verbs/debug.dm
Labels: Administration

#91545 Adds decal version of recharge floor
  code/game/objects/effects/decals/turfdecal/markings.dm
  icons/turf/decals.dmi
Labels: Quality of Life

#91579 items with TRAIT_NODROP can no longer be worn
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#91581 Borg omnitools cant drop the tool ref
  code/__DEFINES/obj_flags.dm
  code/game/objects/items/robot/items/tools.dm
Labels: Fix, GBP: No Update

#91547 Fix holopad calls keeping off-camera turfs static even after you leave the call.
  code/game/machinery/computer/camera_advanced.dm
  code/modules/mob/eye/camera/camera.dm
  code/modules/mob/eye/camera/remote.dm
Labels: Fix

#91585 Fixing gene disks and chromosomes [NO GBP]
  code/game/machinery/computer/dna_console.dm
Labels: Fix, GBP: No Update

#91480 Ripley goliath plating now takes up an armor slot on the mech
  code/datums/components/armor_plate.dm
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
Labels: Balance

#91598 Replaces some cells with megacells in space ruins reliant on APC cell replacements
  _maps/RandomRuins/SpaceRuins/abandonedteleporter.dmm
  _maps/RandomRuins/SpaceRuins/oldAIsat.dmm
  _maps/RandomRuins/SpaceRuins/oldteleporter.dmm
Labels: Fix, Map Edit

#91592 Ghost lighting now updates prefs
  code/__DEFINES/observers.dm
  code/modules/client/preferences/ghost_lighting.dm
  code/modules/mob/dead/observer/ghost_menu.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/mob_helpers.dm
Labels: Quality of Life

#91594 Wallmounts don't trigger mines
  code/game/objects/effects/mines.dm
Labels: Fix

#91589 Fixes xenomorphs being able to infinitely vomit out the same person
  code/modules/mob/living/carbon/alien/organs.dm
Labels: Fix

#91609 Fixes critter crate elevation issues.
  code/datums/elements/elevation.dm
Labels: Fix

#91597 Fix cargo request console being able to shuttle loan
  code/modules/cargo/orderconsole.dm
Labels: Fix

#91633 Rename a var from `usr` to `user`
  code/modules/mob/living/silicon/robot/robot.dm
Labels: Code Improvement

#91526 Removes `REAGENT_NOSPLIT` flag
  code/__DEFINES/reagents.dm
  code/_globalvars/bitfields.dm
  code/modules/plumbing/plumbers/_plumb_reagents.dm
  code/modules/reagents/chemistry/fermi_readme.md
  code/modules/reagents/chemistry/holder/holder.dm
  code/modules/reagents/chemistry/holder/mob_life.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/impure_reagents.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: Removal, Code Improvement

#91637 Fix the lobby art not fading out
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/title.dm
  code/game/area/areas/shuttles.dm
  code/modules/mob/dead/dead.dm
Labels: Fix

#91635 Fixes holobarriers going invisible after being spraypainted
  code/game/objects/structures/holosign.dm
Labels: Fix

#91524 Adds a bunch of owner.current nullchecks to antag code
  code/datums/mind/antag.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/clown_ops/clownop.dm
  code/modules/antagonists/cult/datums/cultist.dm
  code/modules/antagonists/fugitive/hunters/hunter.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/antagonists/nightmare/nightmare.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/pyro_slime/pyro_slime.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/spiders/spiders.dm
  code/modules/antagonists/syndicate_monkey/syndicate_monkey.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/venus_human_trap/venus_human_trap.dm
  code/modules/antagonists/voidwalker/voidwalker.dm
  code/modules/antagonists/xeno/xeno.dm
Labels: Fix

#91642 Adds a bit of runtime prevention to the base guncase
  code/game/objects/items/storage/toolboxes/weapons.dm
Labels: Runtime, Fix

#91001 Heretic ritual peeve with stacks
  code/game/objects/items/stacks/cash.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/transmutation_rune.dm
Labels: Fix, Stale

#91496 Changes the eldritch painting effects from a brain trauma to a status effect. Large doses of holy water can remove the effect early, and it protects you from inflictions while in your system.
  code/__DEFINES/traits/declarations.dm
  code/datums/brain_damage/severe.dm
  code/modules/antagonists/heretic/heretic_curses.dm
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  code/modules/antagonists/heretic/items/unfathomable_curio.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/hud/screen_alert.dmi
Labels: Removal, Quality of Life

#91657 Fix reloading of empty revolver
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
Labels: Fix

#91631 Rewrite suit storage unit to use item_interaction
  code/game/machinery/suit_storage_unit.dm
Labels: Fix

#91658 Allows malfunctioning AI's to once again dominate unbeaconed mechs.
  code/modules/vehicles/mecha/mecha_ai_interaction.dm
Labels: Fix

#91669 Change duffelbag update_desc() to examine()
  code/game/objects/items/storage/dufflebags.dm
Labels: Code Improvement

#91627 Morbid surgery expansion
  code/__DEFINES/obj_flags.dm
  code/modules/surgery/advanced/bioware/bioware_surgery.dm
  code/modules/surgery/advanced/bioware/cortex_folding.dm
  code/modules/surgery/advanced/bioware/cortex_imprint.dm
  code/modules/surgery/advanced/bioware/ligament_hook.dm
  code/modules/surgery/advanced/bioware/ligament_reinforcement.dm
  code/modules/surgery/advanced/bioware/muscled_veins.dm
  code/modules/surgery/advanced/bioware/nerve_grounding.dm
  code/modules/surgery/advanced/bioware/nerve_splicing.dm
  code/modules/surgery/advanced/bioware/vein_threading.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/necrotic_revival.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/advanced/viral_bonding.dm
  code/modules/surgery/surgery_step.dm
Labels: Feature

#91678 Make Autochangelog case-insensitive for tags
  tools/pull_request_hooks/changelogParser.js
  tools/pull_request_hooks/changelogParser.test.js
Labels: Logging, Tools, Code Improvement

#91682 Fix broken link to TGUI component documentation
  tgui/README.md
Labels: UI

#91684 Fix admin immersion buttons scaling incorrectly with UI
  tgui/packages/tgui/interfaces/Secrets.jsx
Labels: Fix, UI

#91696 Planecube Optimizations and Job Security: Part One
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/rendering/plane_masters/plane_master_subtypes.dm
  code/_onclick/hud/rendering/render_plate.dm
  code/datums/components/hide_highest_offset.dm
  code/game/objects/effects/anomalies/anomalies_gravity.dm
  code/modules/client/preferences/ambient_occlusion.dm
  code/modules/escape_menu/escape_menu.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_variants.dm
Labels: Performance, Fix, Code Improvement

#91641 Brings back clean toolbox force
  code/game/objects/items/storage/toolboxes/mechanical.dm
Labels: Balance

#91655 ashen unjaunt uses the correct vfx
  code/modules/antagonists/heretic/magic/ash_jaunt.dm
Labels: Fix

#91626 Fixes changeling void adaption
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/atmos_requirements.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/game/machinery/dna_infuser/organ_sets/fish_organs.dm
  code/modules/antagonists/changeling/powers/void_adaption.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: Fix

#91564 Removes un-needed calls to `RefreshParts()`
  code/game/machinery/dish_drive.dm
  code/game/machinery/medical_kiosk.dm
  code/game/machinery/medipen_refiller.dm
  code/game/machinery/teleporter.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  code/modules/explorer_drone/scanner_array.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/paperwork/photocopier.dm
  code/modules/power/singularity/emitter.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
Labels: Removal, Code Improvement

#91640 [NO GBP] Fixes cleanable decal merging not working and flypeople not being able to drink vomit
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/cleanable/blood.dm
  code/game/objects/effects/decals/cleanable/misc.dm
Labels: Fix, GBP: No Update

#91361 Diagnosis: The Diagnosing
  code/__DEFINES/span.dm
  code/datums/quirks/negative_quirks/immunodeficiency.dm
  code/datums/quirks/positive_quirks/friendly.dm
  code/datums/storage/subtypes/belts.dm
  code/datums/storage/subtypes/medkits.dm
  code/datums/storage/subtypes/others/misc.dm
  code/datums/storage/subtypes/pockets.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/pierce.dm
  code/game/machinery/dna_infuser/organ_sets/fish_organs.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  code/game/objects/items/devices/blood_scanner.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/antagonists/heretic/items/corrupted_organs.dm
  code/modules/antagonists/nightmare/nightmare_organs.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/research/designs/autolathe/medsci_designs.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  code/modules/surgery/organs/internal/heart/heart_anomalock.dm
  code/modules/surgery/organs/internal/heart/heart_ethereal.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  icons/obj/devices/scanner.dmi
  tgstation.dme
Labels: Feature, Verified :heavy_check_mark:

#91703 [tgui][no gbp] Fixes bun install
  tools/bootstrap/javascript_.ps1
  tools/build/build.js
Labels: Tools, GBP: No Update

#91692 Sanitizes ghost spawners' names when adding them to `GLOB.mob_spawners` because `\improper` is still a pain in the ass
  code/modules/mob_spawn/mob_spawn.dm
Labels: Fix

#91708 Unbuckles new arrivals from the seats of the arrival shuttle + a bugfix
  code/__DEFINES/dcs/signals/signals_global.dm
  code/modules/shuttle/mobile_port/shuttle_move_callbacks.dm
Labels: Fix, Quality of Life

#91720 Adds some throwing datum nullchecks
  code/datums/components/boomerang.dm
  code/datums/elements/relay_attackers.dm
  code/datums/proximity_monitor/fields/heretic_arena.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/melee/baton.dm
  code/modules/mapfluff/ruins/lavalandruin_code/biodome_winter.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/energy/recharge.dm
  code/modules/religion/sparring/sparring_datum.dm
Labels: Runtime, Fix

#91710 Flying mobs no longer have 3x worse damage slowdown
  code/modules/mob/living/carbon/human/human.dm
  code/modules/movespeed/modifiers/mobs.dm
Labels: Removal

#91723 Properly defines the fire attack of the Phazon to be BURN damage and not FIRE damage, which is not a damtype.
  code/modules/vehicles/mecha/mech_melee_attack.dm
Labels: Fix

#91711 Updates the mech ammo duffel bags into two separate types for each kind of mech. Each with equivalent ammunition and the toolbelt.
  code/game/objects/items/storage/dufflebags.dm
  code/modules/uplink/uplink_items/nukeops.dm
Labels: Quality of Life

#91664 Makes mushroom people available to admins via config.
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
Labels: Administration

#91634 [NO GBP] Supermatter-spawned hallucination anomalies don't spawn decoys
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
  code/modules/power/supermatter/supermatter_extra_effects.dm
Labels: GBP: No Update, Quality of Life

#91746 [no gbp] fixes minebots crashing the server
  code/datums/elements/mob_access.dm
  code/modules/mob/living/basic/minebots/minebot.dm
Labels: Fix, Priority: High, GBP: No Update

#91419 Removes widescreen config
  code/__DEFINES/hud.dm
  code/controllers/configuration/entries/general.dm
  code/datums/view.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences/screen.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/login.dm
  code/modules/photography/camera/camera.dm
  config/config.txt
Labels: Removal, Stale, Config Update

#91613 Prevents solar panel assemblies from being anchored on an occupied tile or on each other
  code/modules/power/solar.dm
Labels: Fix, Stale, Quality of Life

#91785 Move unzip install to InstallDeps.sh
  tools/tgs_scripts/InstallDeps.sh
  tools/tgs_scripts/PreCompile.sh
Labels: Tools

#91774 lobby art is mouse transparent on fade out
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/title.dm
  code/game/area/areas/shuttles.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Quality of Life

#91569 Fire alarm attackby + screentips + new wires
  code/__DEFINES/wires.dm
  code/datums/wires/_wires.dm
  code/datums/wires/firealarm.dm
  code/game/machinery/firealarm.dm
  tgstation.dme
Labels: Feature, Refactor, Quality of Life

#91787 Fixes cooking menu
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Fix, UI

#91792 Plumbing reaction chamber UI is scrollable again
  tgui/packages/tgui/interfaces/ChemReactionChamber.tsx
Labels: Fix, UI

#91782 correct message for dental implants insertion
  code/modules/surgery/dental_implant.dm
Labels: Fix

#91777 adds a notice span to gas pipe fasten
  code/game/machinery/pipe/construction.dm
Labels: Quality of Life

#91769 Fixes dunking
  code/modules/basketball/hoop.dm
Labels: Fix

#91848 Fixes an issue with ranks
  code/modules/admin/permissionedit.dm
Labels: Priority: CRITICAL

#91834 Adds glass sounds to heretic potions
  code/modules/antagonists/heretic/structures/mawed_crucible.dm
Labels: Sound

#91763 Definitely fixes Phazons for realzies
  code/modules/vehicles/mecha/mech_melee_attack.dm
Labels: Fix

#91844 Fix some new dreamchecker lints
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/fishing/fish/fish_evolution.dm
  code/modules/mob/living/basic/cult/constructs/harvester.dm
  code/modules/modular_computers/file_system/program_circuit.dm
Labels: Fix, Linting

#91845 disable OpenDream linting complaining about `world.IsSubscribed` and `client.IsByondMember`
  tools/ci/od_lints.dm
Labels: Tools, Linting

#91544 Catwalk broom closet + other fixes
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Fix, Map Edit

#91824 Makes some clearly undead spirit mobs undead.
  code/modules/mob/living/basic/cult/shade.dm
  code/modules/mob/living/basic/space_fauna/ghost.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/carbon/human/species_types/ghost.dm
Labels: Fix

#91667 Soulscythe Refactor to Basic Mob
  code/_globalvars/lists/mobs.dm
  code/_onclick/hud/soulscythe.dm
  code/game/objects/items/soulscythe.dm
  code/modules/mining/lavaland/mining_loot/megafauna/bubblegum.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Refactor, Stale

#91830 Cardboard box speed potion fix
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
Labels: Fix

#91563 Makes the mech clamp attack do only brute damage, checks for block and armor, and gives it an attack animation and sound.
  code/__DEFINES/combat.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/weaponry.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/mining/lavaland/mining_loot/cursed_katana.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: Balance

#91869 Doubles time between mail shipments and blocks mail on red / delta alert (the amount of mail is not changing don't worry)
  code/controllers/subsystem/economy.dm
  code/modules/security_levels/security_level_datums.dm
  code/modules/shuttle/mobile_port/variants/supply.dm
Labels: Quality of Life

#91481 Healium bolts now embed and heal/knock out passively over time instead of being instant and unblockable
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Balance, Fix, Stale

#91871 Schoolgirl Outfit Resprited Renamed and GAGsified
  _maps/RandomRuins/IceRuins/icemoon_underground_syndidome.dmm
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
  _maps/templates/holodeck_animeschool.dmm
  code/_globalvars/phobias.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/datums/greyscale/json_configs/seifuku.json
  code/datums/greyscale/json_configs/seifuku_inhands.json
  code/datums/greyscale/json_configs/seifuku_worn.json
  code/game/objects/effects/spawners/costume.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/clothing/under/costume.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/vending/autodrobe.dm
  icons/map_icons/clothing/under/costume.dmi
  icons/mob/clothing/under/costume.dmi
  icons/mob/inhands/clothing/suits_lefthand.dmi
  icons/mob/inhands/clothing/suits_righthand.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites, Map Edit

#91850 Datumize sound keys into sound_effect_datums
  code/__DEFINES/sound.dm
  code/controllers/subsystem/sounds.dm
  code/game/sound.dm
  code/game/sound_keys.dm
  tgstation.dme
Labels: Refactor

#91873 Adds In Game Rank Editing (Permissions Panel Cleanup)
  code/__DEFINES/admin.dm
  code/__DEFINES/span.dm
  code/controllers/subsystem/ipintel.dm
  code/datums/json_database.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/known_alts.dm
  code/modules/admin/permissionedit.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/stickyban.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
  code/modules/tutorials/_tutorial.dm
  config/admins.txt
Labels: Administration, Refactor

#91868 Migrate "Cyborg Pre-screened dogtag" quirk to loadout
  code/datums/quirks/neutral_quirks/borg_ready.dm
  code/datums/records/medical_note.dm
  code/game/machinery/computer/records/medical.dm
  code/modules/client/preferences_savefile.dm
  code/modules/loadout/categories/pocket.dm
  tgstation.dme
Labels: Removal

#91867 Quirks send on_gain messages in fewer contexts
  code/__HELPERS/duplicating.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/_quirk.dm
  code/datums/quirks/negative_quirks/allergic.dm
  code/datums/quirks/negative_quirks/brain_problems.dm
  code/datums/quirks/negative_quirks/chronic_illness.dm
  code/datums/quirks/negative_quirks/family_heirloom.dm
  code/datums/quirks/negative_quirks/food_allergy.dm
  code/datums/quirks/negative_quirks/narcolepsy.dm
  code/datums/quirks/positive_quirks/chipped.dm
  code/game/machinery/experimental_cloner/experimental_cloning_record.dm
  code/modules/antagonists/space_ninja/space_ninja.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/lost_crew/character/flavor.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/status_procs.dm
Labels: Quality of Life

#91673 Juke build in typescript
  tools/build/.editorconfig
  tools/build/build.bat
  tools/build/build.sh
  tools/build/build.ts
  tools/build/bun.lock
  tools/build/lib/bun.ts
  tools/build/lib/byond.ts
  tools/build/lib/download.ts
  tools/build/lib/helpers.ts
  tools/build/lib/tgs.ts
  tools/build/lib/winreg.ts
  tools/build/package.json
Labels: Tools
