Repository tgstation/tgstation, pull requests merged in 2025-08, with the labels that each got.

#92328 fixes a typo in the operative bomb implant manual
  code/modules/paperwork/paper_premade.dm
Labels: Grammar and Formatting

#92305 Fixes M90 underbarrel having its separate inaccessible firing pin
  code/__DEFINES/dcs/signals/signals_object.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/pins.dm
Labels: Fix

#92404 [NO GBP] Fixes multiplier applied incorrectly in `trans_to()`
  code/modules/reagents/chemistry/holder/holder.dm
Labels: Fix, GBP: No Update

#92389 remove shitty tgui UI flashing 2: size positioning boogaloo
  tgui/packages/tgui/backend.ts
Labels: Fix, Removal, UI

#92306 Makes monster cores display above lying mobs
  code/__DEFINES/layers.dm
  code/datums/elements/above_mob_drop.dm
  code/modules/mining/equipment/monster_organs/monster_organ.dm
  tgstation.dme
Labels: Stale, Quality of Life

#92437 Fixes wrong sprite direction on Void Eater's right in-hand
  icons/mob/inhands/antag/voidwalker_righthand.dmi
Labels: Sprites, Fix

#92423 Fixes recovered crew bodybags being foldable while there's a "corpse" inside
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/modules/lost_crew/body_bags.dm
Labels: Fix

#92249 Fixes portable atmospheric machines trying to add themselves to SSair queue when destroyed
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Fix, Stale

#92320 Fixes All-in-One tcomms servers not translating radio frequencies
  code/game/machinery/telecomms/machines/allinone.dm
Labels: Fix, Stale

#92192 replaces the health variable for fishes with integrity
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/aquarium.dm
  code/datums/components/fish_growth.dm
  code/datums/elements/fish_safe_storage.dm
  code/game/objects/items/stacks/tape.dm
  code/modules/fishing/aquarium/fish_analyzer.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_evolution.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish/types/air_space.dm
  code/modules/fishing/fish/types/anadromous.dm
  code/modules/fishing/fish/types/freshwater.dm
  code/modules/fishing/fish/types/mining.dm
  code/modules/fishing/fish/types/rift.dm
  code/modules/fishing/fish/types/ruins.dm
  code/modules/fishing/fish/types/saltwater.dm
  code/modules/fishing/fish/types/station.dm
  code/modules/fishing/fish/types/syndicate.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/unit_tests/fish_unit_tests.dm
  tgui/packages/tgui/interfaces/Aquarium.tsx
Labels: Fix

#92422 Removes the magical healing anti-stun inspiration banners from Catwalk and replace them with their mundane variants
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Fix, Removal, Map Edit

#92354 Fixes the issue of usr pointing to admins by making Trigger pass down clicker
  code/__HELPERS/roundend.dm
  code/_onclick/hud/action_button.dm
  code/controllers/subsystem/vote.dm
  code/datums/actions/action.dm
  code/datums/actions/cooldown_action.dm
  code/datums/actions/innate_action.dm
  code/datums/actions/item_action.dm
  code/datums/actions/mobs/adjust_vision.dm
  code/datums/actions/mobs/personality_commune.dm
  code/datums/martial/krav_maga.dm
  code/datums/martial/wrestling.dm
  code/datums/mutations/tongue_spike.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/objects/structures/gym/weight_machine_action.dm
  code/modules/admin/verbs/light_debug.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/changeling/cellular_emporium.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/antagonists/spy/spy.dm
  code/modules/bitrunning/abilities.dm
  code/modules/clothing/chameleon/_chameleon_outfit.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/mining/lavaland/mining_loot/megafauna/colossus.dm
  code/modules/mining/lavaland/mining_loot/megafauna/the_thing.dm
  code/modules/mob/living/basic/bots/repairbot/repairbot_abilities.dm
  code/modules/mob/living/basic/clown/clown.dm
  code/modules/mob/living/basic/guardian/guardian_types/standard.dm
  code/modules/mob/living/basic/pets/gondolas/gondolapod.dm
  code/modules/mob/living/basic/trader/trader_actions.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/pai/actions.dm
  code/modules/vehicles/mecha/combat/justice.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/phazon.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  code/modules/vehicles/mecha/mecha_actions.dm
  code/modules/vehicles/mecha/working/clarke.dm
  code/modules/vehicles/vehicle_actions.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
Labels: Fix, Stale, Code Improvement

#92367 Removes a remaining mention of the cytology plumbing RCD
  code/modules/cargo/packs/science.dm
Labels: Grammar and Formatting, Removal, Stale

#92377 Makes angel wings more maneuverable
  code/modules/surgery/organs/external/wings/functional_wings.dm
Labels: Quality of Life

#92430 Fixes topdown emissives/emissive blockers and blood trail rendering
  code/__DEFINES/layers.dm
  code/__HELPERS/lighting.dm
  code/game/objects/effects/decals/cleanable/blood.dm
  code/modules/unit_tests/unit_test.dm
  code/modules/unit_tests/washing.dm
Labels: Fix

#92387 The Chain of Command can now give a speed boost by whipping other players
  code/datums/status_effects/buffs.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/weaponry.dm
  icons/hud/screen_alert.dmi
Labels: Balance

#92446 Chaplain's armors fixes and tweaks - matching body parts covered with coresponding sprites
  code/game/objects/items/storage/boxes/clothes_boxes.dm
  code/modules/jobs/job_types/chaplain/chaplain_costumes.dm
  code/modules/jobs/job_types/chaplain/chaplain_divine_archer.dm
Labels: Balance, Feature, Quality of Life

#92426 Makes Fluoride Stare less of a meme, fixes lizard blinking
  code/__DEFINES/mobs.dm
  code/datums/components/manual_blinking.dm
  code/datums/quirks/negative_quirks/fluoride_stare.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: Balance, Fix

#92397 Adds warning that you can't absorb people you've used DNA extract on, and makes some descriptions more consistent
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/changeling/powers/mmi_talk.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/changeling/powers/void_adaption.dm
Labels: Grammar and Formatting, Quality of Life

#92449 -15 mood is required to become "crazy", rather than -7
  code/datums/mood.dm
Labels: Balance

#92405 Makes the MC stat panel tab usable, and also nicer
  code/__DEFINES/admin.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/admin_verbs.dm
  code/controllers/subsystem/ai_controllers.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/area_contents.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/explosions.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/input.dm
  code/controllers/subsystem/ipintel.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machines.dm
  code/controllers/subsystem/polling.dm
  code/controllers/subsystem/radiation.dm
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/tts.dm
  code/controllers/subsystem/unplanned_controllers.dm
  code/controllers/subsystem/wardrobe.dm
  html/statbrowser.css
  html/statbrowser.html
  html/statbrowser.js
Labels: Administration

#92451 Updates config comment for mc tick rate pop adjustment
  config/config.txt
Labels: Config Update

#92335 Fixes CRAB-17 sometimes not draining funds
  code/game/objects/items/crab17.dm
Labels: Fix, Stale

#92469 [NO GBP] Rescues the station from a time-space bubble
  code/__HELPERS/time.dm
Labels: Fix, GBP: No Update

#92461 Reduces mood debuff from empath examining evil people
  code/datums/mood_events/generic_negative_events.dm
Labels: Removal

#92417 Adds damage getter procs with a required_bodytype arg
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/unit_tests/mob_damage.dm
  code/modules/unit_tests/organs.dm
Labels: Stale, Code Improvement

#92485 Misspeled Kotra Wellington to correct Korta Wellington
  code/game/objects/items/food/meatdish.dm
Labels: Fix

#92414 Grand Pianos are Climbable
  code/modules/instruments/stationary.dm
Labels: Stale, Quality of Life

#92503 Fixes light flickering potentially causing lag
  code/modules/power/lighting/light.dm
  code/modules/power/powernet.dm
Labels: Performance, Fix

#92441 Some ITEM_SLOT bitflags fixes.
  code/datums/components/earprotection.dm
  code/datums/components/punchcooldown.dm
  code/datums/components/sitcomlaughter.dm
  code/datums/components/slippery.dm
  code/datums/components/wearertargeting.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_items.dm
  code/modules/antagonists/fugitive/hunters/hunter_gear.dm
  code/modules/clothing/ears/_ears.dm
  code/modules/clothing/head/perceptomatrix.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
Labels: Fix, Stale

#92486 Removes the Justice mech
  code/__DEFINES/exosuit_fab.dm
  code/__DEFINES/mecha.dm
  code/__DEFINES/research/research_categories.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/vehicles/mecha/combat/justice.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  code/modules/vehicles/mecha/mecha_construction_paths.dm
  code/modules/vehicles/mecha/mecha_parts.dm
  code/modules/vehicles/mecha/mecha_wreckage.dm
  icons/mob/rideables/mech_construct.dmi
  icons/mob/rideables/mech_construction.dmi
  icons/mob/rideables/mecha.dmi
  tgstation.dme
Labels: Removal

#92394 Burned mess from culinary disasters is once again toxic.
  code/__DEFINES/dcs/signals/signals_food.dm
  code/datums/components/bakeable.dm
  code/datums/components/grillable.dm
  code/datums/elements/food/microwavable.dm
  code/game/objects/items/food/misc.dm
Labels: Fix

#92518 Removes weirdly placed posters in the air on Delta
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Removal, Map Edit

#92490 Gives paramedic ID extra access to pharmacy on lowpop
  code/datums/id_trim/jobs.dm
Labels: Balance

#92538 [NO GBP] Fixes empty vending canisters in some cases
  code/game/objects/items/vending_items.dm
  code/modules/vending/custom.dm
  code/modules/vending/vendor/inventory.dm
Labels: Fix, GBP: No Update

#92368 Buffs godslayer armor values
  code/modules/mining/lavaland/mining_loot/godslayer.dm
Labels: Balance

#92371 Fixes newscaster channels having a random chance of breaking upon creation of a new channel, refactors how channels are tracked in the first place
  code/__HELPERS/roundend.dm
  code/datums/world_topic.dm
  code/game/machinery/newscaster/newscaster_data.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  code/game/machinery/newscaster/newspaper.dm
  code/modules/admin/verbs/admin_newscaster.dm
  code/modules/library/lib_machines.dm
  code/modules/modular_computers/file_system/programs/betting.dm
Labels: Fix, Refactor, Stale

#92127 Refactors say modes and custom say verbs. Extends custom say verbs to more situations, forwards more spans.
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/say.dm
  code/__HELPERS/chat.dm
  code/__HELPERS/logging/talk.dm
  code/controllers/subsystem/networks/radio.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/components/blob_minion.dm
  code/datums/saymode.dm
  code/game/machinery/hologram.dm
  code/game/say.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/mob/living/basic/drone/drone_say.dm
  code/modules/mob/living/carbon/alien/alien_say.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_say.dm
  code/modules/mob/living/silicon/silicon_say.dm
  code/modules/mob/mob_say.dm
  code/modules/mob/say_readme.md
  code/modules/mod/mod_link.dm
Labels: Feature, Fix, Administration, Refactor

#92327 Emitter: The Emitting
  code/game/objects/effects/temporary_visuals/projectiles/impact.dm
  code/game/objects/effects/temporary_visuals/projectiles/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectiles/tracer.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_hit_procs.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/uplink/uplink_items/job.dm
  icons/obj/weapons/guns/projectiles_impact.dmi
  icons/obj/weapons/guns/projectiles_muzzle.dmi
  icons/obj/weapons/guns/projectiles_tracer.dmi
Labels: Feature

#92528 Fix vendor attacking
  code/modules/vending/vendor/interaction.dm
Labels: Fix

#92524 Prevents inputting letters into abandoned crates
  code/modules/mining/abandoned_crates.dm
Labels: Fix

#92517 Fix firedoors spawning without area or ID in name
  code/game/machinery/doors/firedoor.dm
Labels: Fix

#92504 Redoes the labeler action js backend
  tools/pull_request_hooks/autoLabel.js
  tools/pull_request_hooks/autoLabelConfig.js
Labels: Tools

#92534 Coroner Office cabinets and more accesible organ storage
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Edit, Quality of Life

#92465 Gives constable helmet a hair mask and its armor back, fixes some hair masks not working
  code/datums/sprite_accessories.dm
  code/modules/clothing/head/hat.dm
Labels: Fix, Stale

#92482 Updates basic book sprites
  icons/obj/service/library.dmi
Labels: Sprites

#92473 Icebox ruin: RoroCo glove factory
  _maps/RandomRuins/IceRuins/icemoon_surface_gloves.dmm
  code/__DEFINES/access.dm
  code/__DEFINES/sound.dm
  code/datums/id_trim/ruins.dm
  code/datums/ruins/icemoon.dm
  code/game/area/areas/ruins/icemoon.dm
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/objects/effects/posters/contraband.dm
  code/game/objects/items/stacks/tiles/tile_iron.dm
  code/game/objects/structures/billboard.dm
  code/game/sound/sound_keys/sound_keys.dm
  code/game/turfs/open/floor/iron_floor.dm
  code/modules/mapfluff/ruins/icemoonruin_code/roroco.dm
  code/modules/mob/living/basic/space_fauna/roro.dm
  icons/map_icons/clothing/suit/_suit.dmi
  icons/map_icons/clothing/under/costume.dmi
  icons/mob/simple/animal.dmi
  icons/obj/card.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/fluff/billboard.dmi
  icons/obj/poster.dmi
  icons/obj/storage/closet.dmi
  icons/obj/tiles.dmi
  icons/turf/decals.dmi
  icons/turf/floors.dmi
  sound/attributions.txt
  sound/mobs/non-humanoids/roro/roro_warble.ogg
  tgstation.dme
Labels: Feature, Map Edit

#92488 The death ripley walks again
  code/modules/vehicles/mecha/mecha_movement.dm
Labels: Fix

#92553 Allows labeler action to add/remove labels from the PR title/body on sync
  tools/pull_request_hooks/autoLabel.js
Labels: Fix, Tools

#92406 Make a global list of items that any suit storage can hold, also make suit storage able to hold any "tiny" item
  code/__DEFINES/inventory.dm
  code/modules/mob/living/carbon/human/_species.dm
Labels: Balance, Stale, Code Improvement, Quality of Life

#92633 Fix digital clocks still processing on SSmachines
  code/game/machinery/digital_clock.dm
Labels: Fix

#92514 Helmets with seclight
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/head/helmet.dmi
  icons/obj/clothing/head/helmet.dmi
Labels: Sprites, Feature, Fix, Quality of Life

#92656 Laser Carbine and Disabler SMG as Goodies in Cargo and energy/laser cargo crates rebalance
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs/security.dm
Labels: Balance, Feature

#92612 Fixes janitor holographic sign projector category
  code/modules/research/designs/misc_designs.dm
Labels: Logging, Fix

#92411 Water evaporation no longer cools below 0C.
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#92630 lets you put pills in slices of cheese and meats
  code/game/objects/items/food/cheese.dm
  code/game/objects/items/food/meatslab.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: Balance, Feature

#92557 updates to the sprites of the bolt action rifle
  code/modules/projectiles/guns/ballistic/rifle.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/wide_guns.dmi
Labels: Sprites

#92529 updating caves for a downstream
  _maps/RandomZLevels/caves.dmm
Labels: Fix, Good First PR, Map Edit

#92455 red raptors are now able to attack while ridden
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/vehicles.dm
  code/_globalvars/traits/_traits.dm
  code/datums/ai/movement/_ai_movement.dm
  code/datums/components/riding/riding_mob.dm
  code/modules/mob/living/basic/lavaland/raptor/_raptor.dm
Labels: Balance

#92662 Updates the AFK logout report to utilize configs for it's timers
  code/__DEFINES/admin.dm
  code/_globalvars/admin.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/ticker.dm
  config/game_options.txt
Labels: Logging, Administration, Config Update

#92650 Fixes surgical breath masks being adjustable
  code/modules/clothing/masks/breath.dm
Labels: Fix

#92724 [NO GBP] Restores jumping emote sound
  code/modules/mob/emote.dm
Labels: Fix, GBP: No Update

#92727 Bitrunner virtual area shuttle exploit
  code/modules/bitrunning/netpod/utils.dm
Labels: Fix

#92703 Fixes bad index in dullahan species head relay proc
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
Labels: Fix

#92710 Fix to hide pink sprite when wearing trashbags on suitstore slot
  code/game/objects/items/storage/bags.dm
Labels: Fix

#92687 Fixes an oversight with suit accessory overlays
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
Labels: Fix

#92665 Vending machines respects `all_products_free`
  code/modules/vending/vendor/_vending.dm
  code/modules/vending/vendor/inventory.dm
  code/modules/vending/vendor/ui_data.dm
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: Fix, UI

#92644 Fixes gas miners connecting to surrounding pipes.
  code/modules/atmospherics/machinery/other/miner.dm
Labels: Fix

#92693 Fixes chasm jaunters not working while you're buckled to a mob or an object
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/datums/components/chasm.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
Labels: Fix, Code Improvement

#92647 Removes Blood Beam's ability to turn iron sheets into cult metal
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Balance, Removal

#92721 Fixes crusher trophies sometimes not dropping when they should/dropping duplicates
  code/datums/elements/crusher_loot.dm
Labels: Fix

#92719 Fixes raptor pixel offsets
  code/datums/components/riding/riding_mob.dm
  code/modules/mob/living/basic/lavaland/raptor/_raptor.dm
Labels: Fix

#92711 Prevents vent crawlers getting trapped in a static vent or scrubber.
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/ventcrawling.dm
Labels: Fix

#92718 Minor fixes of R&D department on tramstation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit, Quality of Life

#92615 The art gallery app can now be downloaded on PDAs and laptops (no printing)
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/modular_computers/file_system/programs/portrait_printer.dm
  tgui/packages/tgui/interfaces/NtosPortraitPrinter.jsx
Labels: Balance, UI

#92730 Adds glowing bits and pieces to a bunch of lavaland mobs
  code/datums/actions/mobs/create_legion_skull.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mining/equipment/kinetic_crusher/trophies_megafauna.dm
  code/modules/mob/living/basic/lavaland/bileworm/_bileworm.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimbeam.dm
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon.dm
  code/modules/mob/living/basic/lavaland/goldgrub/goldgrub.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
  code/modules/mob/living/basic/lavaland/goliath/tentacle.dm
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/legion/legion_monkey.dm
  code/modules/mob/living/basic/lavaland/legion/legion_tumour.dm
  code/modules/mob/living/basic/lavaland/legion/spawn_legions.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/lavaland/mining.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  icons/mob/simple/icemoon/icemoon_monsters.dmi
  icons/mob/simple/lavaland/bileworm.dmi
  icons/mob/simple/lavaland/lavaland_monsters.dmi
  icons/mob/simple/lavaland/lavaland_monsters_wide.dmi
  tools/UpdatePaths/Scripts/92730_legion_broods.txt
Labels: Sprites, Feature, Fix, Tools

#92735 New BSRPED Inhand sprites(Still not a spriter edition)
  code/modules/research/part_replacer.dm
  icons/mob/inhands/items/devices_lefthand.dmi
  icons/mob/inhands/items/devices_righthand.dmi
  icons/obj/storage/storage.dmi
Labels: Sprites

#92725 Resprites all mineral overlays (from mining scanners)
  code/game/objects/items/stacks/bscrystal.dm
  code/game/turfs/closed/minerals.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/mining/ores_coins.dm
  icons/effects/ore_visuals.dmi
Labels: Sprites, Code Improvement

#92567 New powernet light flicker
  code/modules/mob/living/basic/space_fauna/revenant/revenant_abilities.dm
  code/modules/power/lighting/light.dm
  code/modules/power/powernet.dm
  icons/obj/lighting_overlay.dmi
Labels: Sprites, Stale, Code Improvement

#92749 Replaces the five tables in Wawa's garden
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#92761 Fugitive Hunters spawn again
  code/controllers/subsystem/dynamic/dynamic_ruleset_midround.dm
Labels: Fix

#92756 Fixes recovered crew blood-related runtimes
  code/modules/mob/living/blood.dm
Labels: Fix

#92744 Gives blood to heretic victims upon arriving in mansus
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_buff.dm
Labels: Quality of Life

#92577 The speed of tools used in a crafting recipe now affect the time spent on it
  code/datums/components/crafting/crafting.dm
  code/game/objects/items.dm
Labels: Balance, Stale

#92722 Fixes nonhuman meat being unusable for any material crafting
  code/__HELPERS/colors.dm
  code/datums/materials/meat.dm
Labels: Fix

#92478 Increase repo default max number of traitors spawned roundstart
  code/controllers/subsystem/dynamic/dynamic_ruleset_roundstart.dm
  config/dynamic.toml
Labels: Stale, Config Update

#92690 Refactors some of the card code to use new attack chain, adds a limit to card decks
  code/modules/cards/cardhand.dm
  code/modules/cards/cards.dm
  code/modules/cards/deck/deck.dm
  code/modules/cards/singlecard.dm
Labels: Fix, Refactor, Stale

#92686 Guards against runtiming in the middle of the client Destroy() proc
  code/modules/client/client_procs.dm
Labels: Stale

#92780 Armsky starts with weapons check again
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Balance

#92769 Fixes magmawing watchers' pixel offsets, swaps normal watcher glow colors
  icons/mob/simple/lavaland/lavaland_monsters_wide.dmi
Labels: Sprites, Fix
