Repository tgstation/tgstation, pull requests merged in 2025-07, with the labels that each got.

#91907 [NO GBP] Fix: Support for a light theme for standard radio channels
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/say.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Fix

#91860 Cig pack sounds
  code/__DEFINES/sound.dm
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/others/fancy_storage.dm
  code/game/atom/atom_storage.dm
  code/game/objects/items/storage/fancy.dm
  code/game/sound_keys.dm
  code/modules/detectivework/evidence.dm
  sound/items/cigs/attribution.txt
  sound/items/cigs/cig_pack_drop1.ogg
  sound/items/cigs/cig_pack_drop2.ogg
  sound/items/cigs/cig_pack_insert1.ogg
  sound/items/cigs/cig_pack_insert2.ogg
  sound/items/cigs/cig_pack_insert3.ogg
  sound/items/cigs/cig_pack_insert4.ogg
  sound/items/cigs/cig_pack_pickup1.ogg
  sound/items/cigs/cig_pack_pickup2.ogg
  sound/items/cigs/cig_pack_pickup3.ogg
  sound/items/cigs/cig_pack_rustle1.ogg
  sound/items/cigs/cig_pack_rustle2.ogg
  sound/items/cigs/cig_pack_rustle3.ogg
  sound/items/cigs/cig_pack_rustle4.ogg
  sound/items/cigs/cig_pack_rustle5.ogg
  sound/items/cigs/cig_pack_rustle6.ogg
  sound/items/cigs/cig_pack_throw_drop1.ogg
Labels: Sound

#91892 Fix martial arts gloves runtiming when destroyed while equip
  code/datums/components/martial_art_giver.dm
Labels: Fix

#91646 Voidwalker Rework | Basic Mob Edition + Bonus Antag
  code/__DEFINES/colors.dm
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals/signals_voidwalker.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/phobias.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/hud/voidwalkerhud.dm
  code/controllers/subsystem/dynamic/dynamic_ruleset_midround.dm
  code/datums/components/debris_bleeder.dm
  code/datums/components/glass_passer.dm
  code/datums/components/igniter.dm
  code/datums/components/regenerator.dm
  code/datums/components/space_camo.dm
  code/datums/components/space_dive.dm
  code/datums/components/space_kidnap.dm
  code/datums/components/vision_hurting.dm
  code/datums/elements/glass_pacifist.dm
  code/datums/elements/pick_and_drop_only.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/antagonists/voidwalker/sunwalker_mob.dm
  code/modules/antagonists/voidwalker/sunwalkers.dm
  code/modules/antagonists/voidwalker/voidwalker.dm
  code/modules/antagonists/voidwalker/voidwalker_abilities.dm
  code/modules/antagonists/voidwalker/voidwalker_bodyparts.dm
  code/modules/antagonists/voidwalker/voidwalker_kidnap.dm
  code/modules/antagonists/voidwalker/voidwalker_loot.dm
  code/modules/antagonists/voidwalker/voidwalker_mob.dm
  code/modules/antagonists/voidwalker/voidwalker_organs.dm
  code/modules/antagonists/voidwalker/voidwalker_particles.dm
  code/modules/antagonists/voidwalker/voidwalker_species.dm
  code/modules/antagonists/voidwalker/voidwalker_status_effects.dm
  code/modules/antagonists/voidwalker/voidwalker_traumas.dm
  code/modules/antagonists/voidwalker/voidwalker_void_eater.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/life.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_voidwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_voidwalker.png
  icons/effects/effects.dmi
  icons/effects/particles/voidwalker.dmi
  icons/hud/screen_voidwalker.dmi
  icons/mob/actions/actions_items.dmi
  icons/mob/actions/actions_spells.dmi
  icons/mob/actions/backgrounds.dmi
  icons/mob/simple/voidwalker.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoSunwalker.tsx
  tgui/packages/tgui/interfaces/AntagInfoVoidwalker.tsx
Labels: Feature, Fix, Administration

#91825 Energy Katana Teleport Attack (and misc. tweaks)
  code/_globalvars/bitfields.dm
  code/datums/dash_weapon.dm
  code/modules/antagonists/ninja/energy_katana.dm
  code/modules/mining/lavaland/mining_loot/megafauna/hierophant.dm
Labels: Feature, Quality of Life

#91823 Motorized wheelchairs can be upgraded again
  code/datums/components/crafting/equipment.dm
  code/modules/vehicles/motorized_wheelchair.dm
Labels: Fix

#91798 Cyborgs can no longer shatter glass while no glass is stored in the synthesizer + TK glass shatter fix
  code/game/objects/items/stacks/sheets/sheets.dm
Labels: Fix, Stale

#91775 gravity fields are effect types and can't be moved by tram
  code/datums/proximity_monitor/fields/gravity.dm
  code/modules/transport/transport_module.dm
Labels: Fix, Code Improvement

#91938 Regenerative extract no longer drops voidwalker loot
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Labels: Balance

#91807 Adds a DNR button at the button of the ghost screen
  code/__DEFINES/hud.dm
  code/_onclick/hud/ghost.dm
  code/modules/mob/living/carbon/human/death.dm
  icons/hud/screen_ghost.dmi
Labels: Quality of Life

#91889 fixes mob login runtime with view_size
  code/modules/mob/login.dm
Labels: Logging, Fix

#91839 Adds Cat tongue to Felinid disk for limb grower
  code/modules/research/designs/limbgrower_designs.dm
Labels: Feature, Good First PR

#91950 adds some more SDQL2/Lua wrappers
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
  lua/SS13_base.lua
Labels: Administration

#91894 Free photocopier is now really free
  _maps/map_files/generic/CentCom.dmm
  code/modules/paperwork/photocopier.dm
Labels: Map Edit, Quality of Life

#91895 Biddler Malf
  code/modules/antagonists/malf_ai/malf_ai_module_picker.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/apc/apc_malf.dm
  tgui/packages/tgui/interfaces/common/MalfAiModules.tsx
Labels: Feature, Refactor

#91902 Update the Paramedic Jacket to match the uniform colors, gives Paramedics black workboots (Tactical Work Boots) to replace their pastel-blue shoes
  code/modules/clothing/shoes/boots.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/suits/labcoat.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits/labcoat.dmi
Labels: Sprites, Feature

#91817 Knit Flesh can insert organs into carbons
  code/modules/antagonists/heretic/magic/flesh_surgery.dm
Labels: Feature, Stale

#91954 sdql wrapper for generators and getting list output from generators
  code/__HELPERS/generators.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
Labels: Administration

#91606 Adds the self-surgery skillchip as a fairly rare black market item
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/item_attack.dm
  code/datums/components/surgery_initiator.dm
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/library/skill_learning/generic_skillchips/self_surgery.dm
  code/modules/surgery/surgery_step.dm
  tgstation.dme
Labels: Feature, Stale

#91905 Logging for prying
  code/datums/elements/door_pryer.dm
  code/game/machinery/big_manipulator.dm
  code/game/machinery/doors/airlock.dm
  code/game/turfs/turf.dm
Labels: Logging, Administration

#91512 Merged New() & Initialize() for atmos machines
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/bluespace_vendor.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/airlock_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/portables_connector.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/pipes/multiz.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
Labels: Code Improvement

#91875 Fixes nightmare brain insertion
  code/datums/dna.dm
  code/modules/antagonists/nightmare/nightmare_organs.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix, Stale

#91964 Fixes half-done hemoanalytic scanner desc
  code/game/objects/items/devices/blood_scanner.dm
Labels: Fix

#91766 highlander cyborgs get their sword
  code/game/objects/items/weaponry.dm
Labels: Fix, Stale

#91663 Item which lets you remote control (some) shuttles
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/shuttle/misc/shuttle_remote.dm
  code/modules/shuttle/mobile_port/variants/custom/custom_consoles.dm
  code/modules/shuttle/shuttle_consoles/shuttle_console.dm
  code/modules/shuttle/shuttle_consoles/white_ship.dm
  icons/obj/devices/remote.dmi
  tgstation.dme
Labels: Feature

#91884 Allows blocking language speech and comprehension separately
  code/datums/brain_damage/severe.dm
  code/datums/diseases/advance/symptoms/voice_change.dm
  code/datums/mutations/speech.dm
  code/game/atoms_movable.dm
  code/modules/language/_language_holder.dm
  code/modules/language/_language_menu.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/unit_tests/say.dm
Labels: Stale

#91990 the default linux `PreCompile.sh` now copies .so files instead of moving them
  tools/tgs_scripts/PreCompile.sh
Labels: Performance, Tools

#91898 Better Savefile Versioning (Define Macros Edition)
  code/modules/client/preferences_savefile.dm
Labels: Stale, Code Improvement

#91980 Fix maid headband GAGS preview
  code/modules/clothing/head/costume.dm
Labels: Fix

#91590 Increases logging for candidate polls
  code/__DEFINES/logging.dm
  code/__HELPERS/logging/game.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/polling.dm
  code/datums/candidate_poll.dm
  code/modules/logging/categories/log_category_game.dm
  config/logging.txt
Labels: Logging, Administration

#91968 [NO GBP] Fixes the beacon stacking blocking throwing a runtime. Cleans up the attachment failure messages.
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/mecha_control_console.dm
Labels: Fix, GBP: No Update

#91768 Doubles the rate of all airlock pumps, faster external airlock cycling
  code/modules/atmospherics/machinery/components/unary_devices/airlock_pump.dm
Labels: Stale, Quality of Life

#92017 Makes zone targeted feedback more useful
  code/_onclick/item_attack.dm
Labels: Feedback

#92010 Add multi-z helper function
  code/__HELPERS/level_traits.dm
  code/game/objects/effects/spawners/random/mod.dm
  code/modules/mob/living/navigation.dm
Labels: Code Improvement

#92023 Fixes bad storage `New`s
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/backpacks.dm
  code/datums/storage/subtypes/bags.dm
  code/datums/storage/subtypes/belts.dm
  code/datums/storage/subtypes/boxes.dm
  code/datums/storage/subtypes/holsters.dm
  code/datums/storage/subtypes/lockboxes.dm
  code/datums/storage/subtypes/medkits.dm
  code/datums/storage/subtypes/others/carpskin_bag.dm
  code/datums/storage/subtypes/others/fancy_storage.dm
  code/datums/storage/subtypes/others/misc.dm
  code/datums/storage/subtypes/others/pod.dm
  code/datums/storage/subtypes/toolboxes.dm
Labels: Fix

#92016 Feedback log for arbitrary prosthetic limbs
  code/modules/surgery/prosthetic_replacement.dm
Labels: Feedback

#91921 Refactor how most of the item sound handling is handled
  code/__DEFINES/sound.dm
  code/game/objects/items.dm
  code/game/sound_keys.dm
  code/modules/reagents/reagent_containers.dm
Labels: Sound, Refactor, Stale

#91961 [tgui] Linter fixes 3
  tgui/packages/tgui-panel/settings/settingsImExport.ts
  tgui/packages/tgui/interfaces/AirAlarm/screens/Thresholds.tsx
  tgui/packages/tgui/interfaces/Changelog.jsx
  tgui/packages/tgui/interfaces/DnaConsole/DnaConsoleSequencer.jsx
  tgui/packages/tgui/interfaces/Filteriffic.jsx
  tgui/packages/tgui/interfaces/Lawpanel.tsx
  tgui/packages/tgui/interfaces/Mecha/data.ts
  tgui/packages/tgui/interfaces/Mecha/index.tsx
  tgui/packages/tgui/interfaces/NtosPortraitPrinter.jsx
  tgui/packages/tgui/interfaces/NtosScipaper.jsx
  tgui/packages/tgui/interfaces/ParticleEdit/EntriesBasic.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/EntriesGenerators.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/data.ts
  tgui/packages/tgui/interfaces/ParticleEdit/helpers.ts
  tgui/packages/tgui/interfaces/PortraitPicker.jsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/ModifyPanel.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/randomization.tsx
  tgui/packages/tgui/interfaces/RapidPipeDispenser.tsx
  tgui/packages/tgui/interfaces/Uplink/PrimaryObjectiveMenu.tsx
Labels: UI

#92025 Fixes debug component printer
  code/modules/wiremod/core/component_printer.dm
  tgui/packages/tgui/interfaces/ComponentPrinter.tsx
Labels: Fix, Administration, UI

#91982 [tgui] Retvrn to rspack
  tgui/.swcrc
  tgui/bun.lock
  tgui/package.json
  tgui/packages/tgui-dev-server/index.ts
  tgui/packages/tgui-dev-server/webpack.ts
  tgui/rspack.config-dev.ts
  tgui/rspack.config.ts
  tgui/webpack.config.js
  tools/build/build.ts
Labels: UI

#91918 [MDB Ignore] Removes the strange 4 second density delay that security barricades have after spawning. Refactors barricade item interaction code.
  code/game/machinery/deployable.dm
  code/modules/awaymissions/mission_code/murderdome.dm
  code/modules/capture_the_flag/ctf_game.dm
Labels: Removal, Refactor, Stale, Quality of Life

#92003 Makes the Organ Jar printable, lowers it chemical capacity and makes it pour large amounts at once
  code/modules/jobs/job_types/coroner.dm
  code/modules/reagents/reagent_containers/cups/organ_jar.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  tools/UpdatePaths/Scripts/92003_organ_jar_to_beaker.txt
Labels: Balance, Feature

#92015 Adds config for roundstart blue alert
  code/controllers/configuration/entries/game_options.dm
  code/datums/communications.dm
  config/game_options.txt
Labels: Config Update

#92040 remove useless `view_variables` verb from stat panel
  code/controllers/admin.dm
  code/controllers/master.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/view_variables/view_variables.dm
Labels: Removal, Administration

#91726 Adds .38 Flare, which is a lethal laser bullet casing available for printing with Advanced Beam Weaponry. Adjust ammo material values.
  code/__DEFINES/colors.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/food/pizza.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/designs/autolathe/security_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/nodes/security_nodes.dm
  icons/hud/screen_alert.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/projectiles.dmi
Labels: Balance, Feature

#92012 Fixes plasmaman limbs still igniting the person if they were removed
  code/modules/surgery/bodyparts/bodypart_effects.dm
Labels: Fix, Removal

#92021 Expand Catwalk dorms hallway to be 2 tiles
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Map Edit

#91650 Makes Catwalk's Atmos/Engi Bigger
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Map Edit

#91740 Fixing simplemob charge ability killing mech almost instantly
  code/datums/actions/mobs/charge.dm
Labels: Fix, Stale

#92056 Refunded holoparasite injectors no longer spawn their holopara
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/elements/uplink_reimburse.dm
  code/modules/mob/living/basic/guardian/guardian_creator.dm
Labels: Fix

#92063 Fixes nonhuman blood bloodpacks spawning non-blood blood
  code/modules/reagents/reagent_containers/blood_pack.dm
Labels: Fix

#92067 Fixes inverted chainsaw swing animations
  code/datums/elements/prosthetic_icon.dm
Labels: Fix

#92065 Fixes fake windows/grilles having botched sprites
  code/game/turfs/closed/indestructible.dm
Labels: Fix

#92060 Fultons and fulton beacons can no longer be used in NOTELEPORT areas
  code/modules/mining/fulton.dm
Labels: Fix

#92059 Pets no longer instantly resist out of your grip when picked up
  code/datums/ai/basic_mobs/basic_subtrees/escape_captivity.dm
Labels: Fix

#92046 Slimes which split with a 0% mutation chance only make slimes with a 0% mutation chance insuring true copies
  code/modules/mob/living/basic/slime/actions.dm
Labels: Quality of Life

#92047 Fix hard delete related to colossus final attack
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Removal

#92033 Material sheets show their proper amounts on crate manifests
  code/modules/cargo/order.dm
Labels: Fix

#92020 HARS cannot roll as an innate mutation until your DNA has been scrambled once
  code/datums/dna.dm
Labels: Balance

#91963 Adds a new contraband pinup poster
  code/game/objects/effects/posters/contraband.dm
  icons/obj/poster.dmi
Labels: Feature

#92039 Tweaks to biddler malf
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/power/apc/apc_main.dm
  tgui/packages/tgui/interfaces/common/MalfAiModules.tsx
Labels: Balance, Fix, GBP: No Update

#91587 [MDB Ignore] General maintenance for SMES
  _maps/RandomZLevels/research.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/gamemodes/events.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/power/smes.dm
  code/modules/power/smes_portable.dm
  tgui/packages/tgui/interfaces/Smes.tsx
  tools/UpdatePaths/Scripts/91587_smes_bank.txt
Labels: Refactor, Map Edit

#92083 Removes Feline Autocannibalism
  code/modules/mob/living/carbon/human/_species.dm
Labels: Removal

#92064 Cult banned or DNRed players no longer can become constructs
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Fix

#92029 You can see inside closets and interact with yourself and others inside them
  code/game/objects/structures/crates_lockers/closet_see_inside.dm
  code/game/objects/structures/crates_lockers/closets.dm
  icons/effects/closet_see_inside_mask.dmi
  tgstation.dme
Labels: Feature

#92037 Fixes 'note_path' var of 'airlock_note_placer' mapping helper
  code/modules/mapping/mapping_helpers.dm
Labels: Fix

#92069 Fixes BPM setting on synth circuit interface not doing anything
  code/modules/instruments/piano_synth.dm
Labels: Fix

#91998 GMM material export respects `apply_elastic` parameter
  code/modules/cargo/exports/materials.dm
Labels: Fix

#92076 Cult item printers now have `?` tooltips explaining what do
  code/__DEFINES/cult.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/cult_structure_altar.dm
  code/modules/antagonists/cult/cult_structure_archives.dm
  code/modules/antagonists/cult/cult_structure_forge.dm
  code/modules/antagonists/cult/cult_structures.dm
Labels: Quality of Life

#92014 Add a new lint to ensure `genesis_call.dme` isn't accidentally changed
  .github/workflows/run_linters.yml
  tools/ci/check_genesis.sh
  tools/ci/genesis_call.dme.sha256sum
Labels: GitHub, Linting

#92078 Minor clean-up of Science, and adds tagger-attached disposal bins to Catwalk Station
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Fix, Map Edit

#91829 Nukie base, expansion expansion pack!
  _maps/templates/lazy_templates/nukie_base.dmm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/storage/boxes/medical_boxes.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/food_and_drinks/machinery/processor.dm
  icons/obj/devices/assemblies.dmi
  icons/obj/storage/closet.dmi
Labels: Mapping, Sprites, Balance, Map Edit

#92082 Radial Info is shown in tooltip rather than necessitating you click on them + action button fix
  code/_onclick/hud/radial.dm
  code/datums/actions/action.dm
  code/game/objects/effects/info.dm
  code/modules/antagonists/cult/cult_structures.dm
Labels: Fix, Quality of Life

#92027 Removes the shy component(s), mostly frees drones
  code/datums/components/shy.dm
  code/datums/components/shy_in_room.dm
  code/datums/components/technoshy.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/basic/drone/extra_drone_types.dm
  code/modules/mob/living/basic/drone/interaction.dm
  tgstation.dme
Labels: Removal

#92000 Fix unlinking the briefcase launchpad remote not working
  code/game/machinery/launch_pad.dm
Labels: Fix, Stale

#92100 [tgui] Linter fixes 7
  tgui/packages/tgui-panel/settings/settingsImExport.ts
  tgui/packages/tgui/interfaces/ComponentPrinter.tsx
  tgui/packages/tgui/interfaces/DynamicAdmin.tsx
  tgui/packages/tgui/interfaces/Fax.tsx
  tgui/packages/tgui/interfaces/GreyscaleModifyMenu.tsx
  tgui/packages/tgui/interfaces/Hypertorus/Parameters.tsx
  tgui/packages/tgui/interfaces/LibraryConsole/components/PageSelect.tsx
Labels: UI

#91793 Alters a significant chunk of the syndicate uplink's explosives, grenades and pyrotechnics options
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/implants/implant_misc.dm
  code/game/objects/items/storage/dufflebags.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/mob/living/basic/pets/cat/feral.dm
  code/modules/uplink/uplink_items/dangerous.dm
  code/modules/uplink/uplink_items/explosive.dm
  code/modules/uplink/uplink_items/nukeops.dm
  icons/hud/implants.dmi
Labels: Balance

#92126 Fixes some cases of dynamic reading defined values over config values
  code/controllers/subsystem/dynamic/__dynamic_defines.dm
  code/controllers/subsystem/dynamic/dynamic.dm
  code/controllers/subsystem/dynamic/dynamic_admin.dm
  code/modules/client/preferences/middleware/antags.dm
Labels: Fix

#92129 Fix hard deletes related to escape menu
  code/modules/escape_menu/escape_menu.dm
Labels: Removal, Hard Deletes

#92061 Datumizes DNA blocks, makes DNA cleaner in general
  code/__DEFINES/DNA.dm
  code/__HELPERS/dna.dm
  code/_globalvars/lists/mobs.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/bodypart_overlays/markings_bodypart_overlay.dm
  code/datums/dna/blocks/dna_features_block.dm
  code/datums/dna/blocks/dna_identity_block.dm
  code/datums/dna/dna.dm
  code/datums/dna/dna_block.dm
  code/datums/quirks/neutral_quirks/heretochromatic.dm
  code/game/machinery/dna_infuser/organ_sets/fish_organs.dm
  code/game/machinery/dna_infuser/organ_sets/fox_organs.dm
  code/game/objects/structures/mirror.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/client/preferences/species_features/ethereal.dm
  code/modules/client/preferences/species_features/felinid.dm
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/client/preferences/species_features/monkey.dm
  code/modules/client/preferences/species_features/moth.dm
  code/modules/client/preferences/species_features/mushperson.dm
  code/modules/client/preferences/species_features/mutants.dm
  code/modules/client/preferences/species_features/pod.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mining/lavaland/mining_loot/megafauna/ash_drake.dm
  code/modules/mob/living/blood_types.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/mob/living/carbon/init_signals.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/external/_visual_organs.dm
  code/modules/surgery/organs/external/spines.dm
  code/modules/surgery/organs/external/tails.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
  code/modules/surgery/organs/external/wings/wings.dm
  code/modules/surgery/organs/internal/ears/_ears.dm
  code/modules/surgery/organs/internal/stomach/stomach_ethereal.dm
  code/modules/unit_tests/changeling.dm
  code/modules/unit_tests/screenshot_humanoids.dm
  code/modules/unit_tests/species_change_clothing.dm
  tgstation.dme
Labels: Refactor

#92050 Smart metal foam fixes multi-z holes
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
Labels: Quality of Life

#91999 Fixes individual turfs like water and lava all having their own fishing loot tables.
  code/game/turfs/turf.dm
Labels: Fix, Stale, GBP: No Update

#91960 `map_export` now saves welded airlocks and paper on noticeboards
  code/game/machinery/doors/door.dm
  code/game/objects/structures/noticeboard.dm
  code/modules/admin/verbs/map_export.dm
Labels: Feature, Stale

#92138 Fixes frag grenade entry in the uplink containing full bags of C4
  code/modules/uplink/uplink_items/explosive.dm
Labels: Fix

#92097 Rewrites description of agent IDs, splits limited-slot and unlimited-slot IDs more cleanly
  _maps/map_files/debug/runtimestation.dmm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/clown_ops/outfits.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/cargo/packs/imports.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
Labels: Grammar and Formatting, Fix, Map Edit

#91910 Adds 2 pre-existing mugs to loadout
  code/modules/loadout/categories/pocket.dm
Labels: Feature

#92107 fix blood brothers amount
  code/modules/antagonists/brother/brother.dm
Labels: Fix

#92048 Add shuttle remote design to protolathe
  code/modules/research/designs/tool_designs.dm
Labels: Fix

#92160 Removed seemingly unused decals in Meta theater
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Removal, Map Edit

#92173 [NO GBP] Unscrambles normal evac reason broadcasts
  code/controllers/subsystem/ticker.dm
Labels: Fix, GBP: No Update

#92148 Adds a workflow to create Discord notifications for auto-staled PRs
  .github/workflows/discord_pr_announce.yml
Labels: GitHub

#92177 Changes 'beach bar' bitdomain ghost-spawners to be virtual_domain subtypes
  _maps/virtual_domains/beach_bar.dmm
  code/modules/bitrunning/spawners.dm
Labels: Map Edit, Quality of Life

#92193 [NO GBP] switching an istype call with ispath so fish ACTUALLY survive on water turfs
  code/controllers/subsystem/processing/fishing.dm
Labels: GBP: No Update

#92164 1 symbol typo in code fix
  code/game/machinery/deployable.dm
Labels: Fix

#92163 Removes completing re-enforced girders with iron rods
  code/game/objects/structures/girders.dm
Labels: Fix, Removal

#92203 you can now click on the URL in the tgui audio player widget
  tgui/packages/tgui-panel/audio/NowPlayingWidget.jsx
Labels: UI, Quality of Life

#91944 Several balance changes to Combat MODsuits
  code/modules/antagonists/clown_ops/clownop.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/cargo/packs/security.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_visor.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/modsuit_nodes.dm
  code/modules/unit_tests/screenshots/cardboard_cutouts_nukie_cutout.png
  code/modules/unit_tests/screenshots/screenshot_dynamic_human_icons_syndicate_commando.png
  code/modules/uplink/uplink_items/suits.dm
Labels: Balance, Fix

#92209 [NO GBP] Fixes the discord PR announcement workflow
  .github/workflows/discord_pr_announce.yml
Labels: GitHub, GBP: No Update

#92149 Fix icon cutter lint not running
  tools/icon_cutter/check.py
Labels: Tools

#92183 Fixes admin's ckey search in orbit sometimes failing
  code/modules/mob/dead/observer/orbit.dm
Labels: Fix

#92135 bamboo walls should no longer tile red carpet
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/structures/false_walls.dm
  code/game/turfs/closed/indestructible.dm
  code/game/turfs/closed/wall/mineral_walls.dm
  code/modules/transport/tram/tram_structures.dm
Labels: Fix

#92174 Fixes foam slipping people standing on tables and racks
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
Labels: Fix

#92005 The Material Stock Market will now showcase the current elastic modifier of materials.
  code/modules/cargo/materials_market.dm
  tgui/packages/tgui/interfaces/MatMarket.tsx
Labels: Quality of Life

#92042 Extinguisher changes: Now bulky, higher force, with a new attack
  code/game/objects/items/extinguisher.dm
Labels: Balance, Feature, Stale

#92090 Removes Flagellent Robes
  code/modules/antagonists/cult/cult_armor.dm
  code/modules/antagonists/cult/cult_structure_forge.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
Labels: Removal

#91922 Makes seclights attachable to almost every security firearm.
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy/laser.dm
Labels: Quality of Life

#91434 Justice mech: Charge attack and code refactor/New blocking system/some balance and sprites!
  code/__DEFINES/dcs/signals/signals_action.dm
  code/__DEFINES/mecha.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/vehicles/mecha/combat/justice.dm
  code/modules/vehicles/mecha/mecha_mob_interaction.dm
  icons/effects/96x96.dmi
  icons/effects/effects.dmi
  icons/effects/mouse_pointers/justice_mouse.dmi
  icons/effects/mouse_pointers/justice_mouse_charge-cooldown.dmi
  icons/effects/mouse_pointers/justice_mouse_charge-disabled.dmi
  icons/effects/mouse_pointers/justice_mouse_charge.dmi
  sound/vehicles/mecha/attribution.txt
  sound/vehicles/mecha/justice_pre_charge.ogg
  sound/vehicles/mecha/justice_shield_broken.ogg
  sound/vehicles/mecha/justice_warning.ogg
Labels: Balance, Feature, Refactor, Quality of Life

#92224 Fixes HUD sleep button harddels
  code/_onclick/hud/hud.dm
Labels: Fix, Hard Deletes

#92251 Adds working? infinite recursion logging
  code/modules/error_handler/error_handler.dm
Labels: Logging, Fix, Priority: High

#92254 Removes acidentally placed slime grinder from nukies base
  _maps/templates/lazy_templates/nukie_base.dmm
Labels: Map Edit

#92238 The crew is no longer encouranged to assist in repairs.
  code/modules/events/sandstorm.dm
Labels: Grammar and Formatting

#92136 regex for `for` loop anti pattern
  code/controllers/subsystem/explosions.dm
  code/game/objects/items/robot/items/hypo.dm
  code/game/objects/structures/spawner.dm
Labels: Stale, Code Improvement

#92253 TramStation brig decal fix
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit

#92257 Fixes the unknown request console on catwalk station
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Fix, Map Edit

#92255 Adds missing ID machinery on CatwalkStation and WawaStation
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Edit

#92268 Deletes a misplaced basetype sign on snowcabin
  _maps/RandomZLevels/SnowCabin.dmm
Labels: Fix, Removal, Map Edit

#92133 Adds volume_preference parameter to playsound and playsound_local
  code/game/sound/sound.dm
Labels: Stale, Code Improvement

#92265 Fix potential cleaner component runtimes
  code/__DEFINES/cleaning.dm
  code/datums/components/cleaner.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/mop.dm
Labels: Fix

#92175 Fixes hivehead spawning bees on tiles when you're riding disposals
  code/modules/antagonists/changeling/powers/mutations.dm
Labels: Fix, Stale, Code Improvement

#92274 Fix xenobio console slime duplication
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: Fix

#92252 corrects some loop syntax
  code/datums/mergers/_merger.dm
  code/game/objects/effects/wanted_poster.dm
  code/modules/power/singularity/field_generator.dm
Labels: Linting

#92196 [tgui] Fixes admin fax bluescreen
  tgui/packages/tgui/interfaces/AdminFax.jsx
  tgui/packages/tgui/interfaces/AdminFax.tsx
Labels: Administration, Stale, UI

#91888 hand items have no attack cooldown with northstar gloves
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/punchcooldown.dm
  code/game/objects/items/hand_items.dm
Labels: Fix

#91985 Add custom sound action on command report
  code/modules/admin/verbs/commandreport.dm
Labels: Administration

#92301 Logging for morph snacks
  code/modules/mob/living/basic/space_fauna/morph.dm
Labels: Logging

#92302 Logging for bot sapience
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: Logging, Administration

#92300 generic parent type for both sabre sheaths
  code/datums/components/crafting/tailoring.dm
  code/game/gamemodes/objective_items.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/mystery_box.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/obj/clothing/belts.dmi
  tools/UpdatePaths/Scripts/92300_sheath_parent_type.txt
Labels: Code Improvement

#92283 Fixes manifest hard dels
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/bitrunning/server/loot.dm
  code/modules/cargo/order.dm
Labels: Fix

#92289 Vars .outfit and .plasmaman_outfit on /datum/job are typed to datum/outfit and datum/outfit/plasmaman respectively
  code/modules/jobs/job_types/_job.dm
Labels: Code Improvement

#92225 Fixes borgs made with athlete brains runtiming when trying to examine an especially fit person
  code/modules/mob/living/living.dm
Labels: Fix

#92221 [NO GBP] Fixes oil ignition, sanity checks blood DNA and adds some logging to it
  code/datums/elements/easy_ignite.dm
  code/modules/forensics/forensics_helpers.dm
Labels: Logging, Fix, GBP: No Update

#92281 Makes mech removal crowbar remove mech sleeper patients
  code/game/objects/items/tools/crowbar.dm
  code/modules/vehicles/mecha/working/clarke.dm
Labels: Grammar and Formatting, Balance, Feature

#92290 Proper fix for runechat icons being too big
  icons/ui/screentips/cursor_hints.dmi
  interface/skin.dmf
Labels: Sprites, Fix

#92144 [tgui] Replaces eslint with biome
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  bun.lock
  package.json
  tgui/.eslintignore
  tgui/.eslintrc.yml
  tgui/.prettierignore
  tgui/bun.lock
  tgui/package.json
  tgui/packages/tgui-panel/audio/NowPlayingWidget.jsx
  tgui/packages/tgui-panel/audio/player.ts
  tgui/packages/tgui-panel/chat/middleware.ts
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui/interfaces/DecalPainter.tsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/index.jsx
  tgui/packages/tgui/interfaces/MafiaPanel.tsx
  tgui/packages/tgui/interfaces/Mecha/ModulesPane.tsx
  tgui/packages/tgui/interfaces/MedicalRecords/NoteKeeper.tsx
  tgui/packages/tgui/interfaces/Newscaster.jsx
  tgui/packages/tgui/interfaces/Newspaper.tsx
  tgui/packages/tgui/interfaces/NtosCard.tsx
  tgui/packages/tgui/interfaces/OperatingComputer.jsx
  tgui/packages/tgui/interfaces/PaperSheet/Stamper.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/helpers.ts
  tgui/packages/tgui/interfaces/PortableTurret.jsx
  tgui/packages/tgui/interfaces/PowerMonitor.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/ai_core_display.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/ghost.tsx
  tgui/packages/tgui/interfaces/RepairBot.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordPrint.tsx
  tgui/packages/tgui/interfaces/ShuttleBlueprints.tsx
  tgui/packages/tgui/interfaces/Uplink/GenericUplink.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
  tgui/packages/tgui/interfaces/Vendatray.tsx
  tgui/packages/tgui/interfaces/WarrantConsole.tsx
  tgui/packages/tgui/interfaces/common/EditableText.tsx
  tgui/packages/tgui/layouts/TitleBar.tsx
  tools/build/build.ts
  tools/build/lib/bun.ts
Labels: UI

#91142 Ore silo logging & access refactor; UI updates, single-target bans, more robust logging information, more robust access control
  code/__DEFINES/dcs/signals/signals_object.dm
  code/controllers/subsystem/networks/id_access.dm
  code/datums/components/material/material_container.dm
  code/datums/components/material/remote_materials.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items/rcd/RHD.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_silo.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/research/machinery/_production.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  code/modules/wiremod/core/component_printer.dm
  code/modules/wiremod/core/integrated_circuit.dm
  tgui/packages/tgui/interfaces/OreSilo.tsx
  tgui/packages/tgui/styles/interfaces/OreSilo.scss
  tgui/packages/tgui/styles/main.scss
Labels: Logging

#92318 Fixes tables allowing people standing on them to climb over things freely when deconstructed
  code/datums/components/climb_walkable.dm
Labels: Fix

#92271 [NO GBP]Fixes map loaded portable smes breaking
  code/modules/power/smes_portable.dm
Labels: Fix, GBP: No Update

#92244 Fixes sighell in marionette component code
  code/datums/components/marionette.dm
Labels: Fix

#92316 Remove duplicate inhand icons in banners code
  code/game/objects/items/religion.dm
Labels: Removal, Code Improvement

#92241 Changes to crusher trophies and mining AOE, adds a new raptor-sourced trophy
  code/__DEFINES/crusher_defines.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/ranged_attacks.dm
  code/datums/status_effects/_status_effect.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/mining/equipment/kinetic_crusher/kinetic_crusher.dm
  code/modules/mining/equipment/kinetic_crusher/kinetic_crusher_trophies.dm
  code/modules/mining/equipment/kinetic_crusher/trophies_fauna.dm
  code/modules/mining/equipment/kinetic_crusher/trophies_megafauna.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon.dm
  code/modules/mob/living/basic/lavaland/node_drone/node_drone.dm
  code/modules/mob/living/basic/lavaland/raptor/_raptor.dm
  code/modules/mob/living/basic/minebots/minebot.dm
  code/modules/mod/modules/modules_supply.dm
  icons/obj/mining_zones/artefacts.dmi
Labels: Balance, Feature, Fix, Stale

#92349 [NO GBP] Silo logging hotfix 2 (includes hotfix 1): Multitool linking, decon/recon, funky define fix
  code/__DEFINES/access.dm
  code/controllers/subsystem/networks/id_access.dm
  code/datums/components/material/material_container.dm
  code/datums/components/material/remote_materials.dm
  code/modules/mining/machine_silo.dm
  tgui/packages/tgui/interfaces/OreSilo.tsx
Labels: Logging, Fix, GBP: No Update

#92276 Whitelist Admin Verb
  code/modules/admin/whitelist.dm
Labels: Administration

#92329 Power cells no longer have an increased time to print( 10 seconds per cell -> 3.2 seconds per cell), megacell print time lowered from 10 seconds to 5 seconds
  code/modules/research/designs/power_designs.dm
Labels: Balance, Quality of Life

#92355 Fixes infinite loop in closet resist code
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/recycling/sortingmachinery.dm
Labels: Fix, Priority: High

#92267 Fixes fly infusion deleting the last infused organ upon activation
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/elements/organ_set_bonus.dm
  code/game/machinery/dna_infuser/organ_sets/fish_organs.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/game/machinery/dna_infuser/organ_sets/roach_organs.dm
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  code/modules/surgery/organs/organ_movement.dm
Labels: Fix, Stale

#92158 Adds Coroner to Mafia & Bunch of Mafia changes
  code/__DEFINES/achievements.dm
  code/__DEFINES/say.dm
  code/datums/achievements/mafia_achievements.dm
  code/modules/mafia/_defines.dm
  code/modules/mafia/abilities/abilities.dm
  code/modules/mafia/abilities/investigative/autopsy.dm
  code/modules/mafia/abilities/investigative/pray.dm
  code/modules/mafia/abilities/killing/alert.dm
  code/modules/mafia/abilities/killing/kill.dm
  code/modules/mafia/abilities/protective/heal.dm
  code/modules/mafia/abilities/protective/vest.dm
  code/modules/mafia/abilities/support/seance.dm
  code/modules/mafia/abilities/voting/changeling_kill.dm
  code/modules/mafia/controller.dm
  code/modules/mafia/controller_ui.dm
  code/modules/mafia/map_pieces.dm
  code/modules/mafia/outfits.dm
  code/modules/mafia/roles/changelings/changeling.dm
  code/modules/mafia/roles/neutral/neutral_chaos.dm
  code/modules/mafia/roles/roles.dm
  code/modules/mafia/roles/town/town_investigative.dm
  code/modules/mafia/roles/town/town_killing.dm
  code/modules/mafia/roles/town/town_protective.dm
  code/modules/mafia/roles/town/town_support.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_say.dm
  icons/obj/mafia.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/MafiaPanel.tsx
Labels: Feature, Stale

#92336 Fix a broken calculation in /obj/item/stock_parts/power_store/suicide_act()
  code/modules/power/power_store.dm
Labels: Fix

#92352 Fixes tier 3 heart doesnt prevent bleeding
  code/modules/surgery/organs/internal/heart/_heart.dm
Labels: Fix

#92194 [NO GBP] Adds unit test checks for materials and processable comp & co.
  code/datums/components/bakeable.dm
  code/datums/components/grillable.dm
  code/datums/elements/dryable.dm
  code/datums/elements/food/microwavable.dm
  code/datums/elements/food/processable.dm
  code/game/atom/_atom.dm
  code/game/atom/atom_materials.dm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/donkpocket.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/martian.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/food/spaghetti.dm
  code/modules/unit_tests/crafting.dm
  code/modules/unit_tests/focus_only_tests.dm
Labels: Stale, Unit Tests, GBP: No Update

#92360 Rapid Part Exchange Device resprite + animations
  code/game/machinery/_machinery.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/machine_frame.dm
  code/modules/research/part_replacer.dm
  code/modules/vending/_vending.dm
  icons/obj/storage/storage.dmi
  icons/obj/storage/storage_wide.dmi
Labels: Sprites
