Repository tgstation/tgstation, pull requests merged in 2025-03, with the labels that each got.

#89510 Adds a new syringe gun mode and improves foam darts.
  code/datums/components/dart_insert.dm
  code/datums/elements/caseless.dm
  code/datums/elements/envenomable_casing.dm
  code/datums/embedding.dm
  code/game/objects/items/robot/items/food.dm
  code/game/objects/items/shrapnel.dm
  code/modules/antagonists/heretic/structures/carving_knife.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/ammunition/ballistic/foam.dm
  code/modules/projectiles/ammunition/special/syringe.dm
  code/modules/projectiles/guns/special/syringe_gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
  code/modules/projectiles/projectile/bullets/foam_dart.dm
  code/modules/projectiles/projectile/bullets/junk.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/surgery/bodyparts/helpers.dm
  icons/obj/weapons/guns/toy.dmi
Labels: Feature, Fix, Code Improvement

#89618 You can transplant xenomorph tails onto people
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/bodypart_overlays/mutant_bodypart_overlay.dm
  code/datums/components/tackle.dm
  code/datums/sprite_accessories.dm
  code/modules/mob/living/carbon/alien/adult/caste/drone.dm
  code/modules/mob/living/carbon/alien/adult/caste/hunter.dm
  code/modules/mob/living/carbon/alien/adult/caste/praetorian.dm
  code/modules/mob/living/carbon/alien/adult/caste/sentinel.dm
  code/modules/mob/living/carbon/alien/adult/queen.dm
  code/modules/movespeed/modifiers/mobs.dm
  code/modules/spells/spell_types/aoe_spell/repulse.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/external/tails.dm
  icons/mob/human/species/alien/bodyparts.dmi
  icons/mob/human/species/alien/tail_xenomorph.dmi
  icons/mob/human/species/alien/tail_xenomorph_queen.dmi
  icons/mob/nonhuman-player/alien.dmi
  icons/obj/medical/organs/organs.dmi
Labels: Feature, Against God and Nature

#89659 Allows (non-magic) mirrors to be dismantled + Context Tips
  code/game/objects/structures/mirror.dm
Labels: Quality of Life

#89736 Fix ion storms having a 25% chance to wipe the ai (3 year old bug)
  code/modules/events/ion_storm.dm
Labels: Fix, FUCK

#89660 You no longer get set ablaze by a person you're fireman carrying through lava while riding a raptor
  code/game/turfs/open/lava.dm
Labels: Fix

#89738 Fix illiterate people writing messages with crayons and spraycans
  code/game/objects/items/crayons.dm
  tgui/packages/tgui/interfaces/Crayon.tsx
Labels: Fix

#89731 Fixes goliath harddels
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
Labels: Fix

#89727 Fixes Deathloop For AIs Who Died of Powerloss
  code/modules/mob/living/silicon/ai/life.dm
Labels: Fix

#89741 Fix April Fools and Roundend title music
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/ticker.dm
  code/game/sound.dm
  code/modules/holiday/holidays.dm
Labels: Fix

#89720 Rewrite the database part of "Develop Secure Code" to actually be useful
  .github/guides/STANDARDS.md
Labels: GitHub

#89718 Fix (un)installing git hooks erroring if you have any global merge drivers
  tools/hooks/install.py
Labels: Fix, Tools

#89729 outpost 31 boss adjustment
  _maps/RandomRuins/IceRuins/icemoon_underground_outpost31.dmm
  code/__DEFINES/achievements.dm
  code/datums/achievements/boss_achievements.dm
  code/datums/achievements/boss_scores.dm
  code/modules/mob/living/basic/boss/thing/thing.dm
  icons/ui/achievements/achievements.dmi
Labels: Balance, Fix, Map Edit

#89654 Refactors how item actions are handled
  code/datums/actions/item_action.dm
  code/datums/actions/items/adjust.dm
  code/datums/actions/items/beserk.dm
  code/datums/actions/items/cult_dagger.dm
  code/datums/actions/items/stealth_box.dm
  code/datums/actions/items/toggles.dm
  code/game/objects/items.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/spyglasses.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/grenades/_grenade.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/scrolls.dm
  code/game/objects/items/signs.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/holsters.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/items/tanks/watertank.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_clothing.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_items.dm
  code/modules/antagonists/fugitive/fugitive_equipment.dm
  code/modules/antagonists/heretic/structures/carving_knife.dm
  code/modules/basketball/referee.dm
  code/modules/clothing/belts/polymorph_belt.dm
  code/modules/clothing/chameleon/_chameleon_action.dm
  code/modules/clothing/chameleon/chameleon_drone.dm
  code/modules/clothing/chameleon/chameleon_scanner.dm
  code/modules/clothing/chameleon/generic_chameleon_clothing.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/head/moth.dm
  code/modules/clothing/head/perceptomatrix.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/hailer.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/instruments/items.dm
  code/modules/mining/equipment/kheiral_cuffs.dm
  code/modules/mining/equipment/kinetic_crusher/kinetic_crusher.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/basic/drone/inventory.dm
  code/modules/mob/living/basic/guardian/guardian_types/dextrous.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mod/mod_actions.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/modules/module_pathfinder.dm
  code/modules/projectiles/gun.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
  code/modules/surgery/organs/internal/vocal_cords/_vocal_cords.dm
  code/modules/wiremod/shell/module.dm
Labels: Fix, Refactor, Quality of Life

#89748 Resprites the hierophant arena
  _maps/RandomRuins/LavaRuins/lavaland_surface_hierophant.dmm
  _maps/virtual_domains/hierophant.dmm
  code/__DEFINES/icon_smoothing.dm
  code/game/turfs/closed/indestructible.dm
  code/game/turfs/open/_open.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  icons/obj/mining_zones/artefacts.dmi
  icons/turf/floors/hierophant_floor.dmi
  icons/turf/floors/hierophant_floor.png
  icons/turf/floors/hierophant_floor.png.toml
  icons/turf/floors/hierophant_floor_alt.dmi
  icons/turf/floors/hierophant_floor_alt.png
  icons/turf/floors/hierophant_floor_alt.png.toml
  icons/turf/floors/hierophant_floor_alt_e.dmi
  icons/turf/floors/hierophant_floor_alt_e.png
  icons/turf/floors/hierophant_floor_alt_e.png.toml
  icons/turf/floors/hierophant_floor_e.dmi
  icons/turf/floors/hierophant_floor_e.png
  icons/turf/floors/hierophant_floor_e.png.toml
  icons/turf/walls/hierophant_wall.dmi
  icons/turf/walls/hierophant_wall.png
  icons/turf/walls/hierophant_wall.png.toml
  icons/turf/walls/hierophant_wall_e.dmi
  icons/turf/walls/hierophant_wall_e.png
  icons/turf/walls/hierophant_wall_e.png.toml
  icons/turf/walls/hierophant_wall_temp.dmi
  icons/turf/walls/hierophant_wall_temp.png
Labels: Sprites, Map Edit

#89753 Harvesting botany plants now uses `drop_location()` instead of `loc`
  code/modules/hydroponics/seeds.dm
Labels: Fix

#89743 Replaces the holofirelocks in Icebox Botany with walkable plastic flaps
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Edit, Quality of Life

#89687 The edible component now uses DUPE_SOURCE mode
  code/__DEFINES/dcs/declarations.dm
  code/datums/components/_component.dm
  code/datums/components/food/edible.dm
  code/datums/components/food/golem_food.dm
  code/datums/elements/food/fried_item.dm
  code/datums/elements/food/grilled_item.dm
  code/datums/materials/meat.dm
  code/datums/materials/pizza.dm
  code/game/objects/items/cigarettes.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/food/donuts.dm
  code/game/objects/items/food/frozen.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/food/packaged.dm
  code/game/objects/items/food/sandwichtoast.dm
  code/game/objects/items/food/snacks.dm
  code/game/objects/items/food/sweets.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/cargo/packs/exploration.dm
  code/modules/clothing/clothing.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/mob/living/basic/farm_animals/bee/_bee.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/unit_tests/fish_unit_tests.dm
  code/modules/unit_tests/weird_food.dm
  tgstation.dme
Labels: Balance, Code Improvement

#89751 Breaks up mining loot into multiple files, refactors the hierophant club
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mining/lavaland/mining_loot/berserker.dm
  code/modules/mining/lavaland/mining_loot/clothing.dm
  code/modules/mining/lavaland/mining_loot/consumables.dm
  code/modules/mining/lavaland/mining_loot/cursed_katana.dm
  code/modules/mining/lavaland/mining_loot/equipment.dm
  code/modules/mining/lavaland/mining_loot/eye_of_god.dm
  code/modules/mining/lavaland/mining_loot/godslayer.dm
  code/modules/mining/lavaland/mining_loot/megafauna/ash_drake.dm
  code/modules/mining/lavaland/mining_loot/megafauna/blood_drunk.dm
  code/modules/mining/lavaland/mining_loot/megafauna/bubblegum.dm
  code/modules/mining/lavaland/mining_loot/megafauna/colossus.dm
  code/modules/mining/lavaland/mining_loot/megafauna/demonic_frost_miner.dm
  code/modules/mining/lavaland/mining_loot/megafauna/hierophant.dm
  code/modules/mining/lavaland/mining_loot/megafauna/legion.dm
  code/modules/mining/lavaland/mining_loot/megafauna/the_thing.dm
  code/modules/mining/lavaland/mining_loot/megafauna/wendigo.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
  code/modules/research/designs/mining_designs.dm
  code/modules/surgery/organs/internal/vocal_cords/_vocal_cords.dm
  tgstation.dme
Labels: Fix, Refactor, Code Improvement

#89757 Contractor Kit out of lowpop
  code/modules/uplink/uplink_items/contractor.dm
Labels: Balance

#89709 removes wildcard limit from agent IDs
  code/__DEFINES/id_cards.dm
  code/game/objects/items/cards_ids.dm
  code/modules/cargo/packs/imports.dm
Labels: Balance, Removal

#89749 Fix random TGchat BSOD on 516
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
Labels: Fix, UI

#89762 Fix the component printer not showing item icons in its UI
  code/modules/wiremod/core/component_printer.dm
Labels: Fix

#89755 Add screentips to big manipulators, move wire interactions to is_wire_tool(...) usage
  code/game/machinery/big_manipulator.dm
Labels: Fix, Quality of Life

#89763 [NO GBP] Fixes external organs not being colored by colorful reagent
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix, GBP: No Update

#89752 Nukes now delete themselves, rather than having SSticker do it through a callback
  code/controllers/subsystem/ticker.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
Labels: Removal, Hard Deletes

#89711 prevents stripping in caretakers last refuge
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/datums/elements/strippable.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
Labels: Fix

#89734 Fix hauntinum reagent to work when exposed to item objects
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#89785 Fixes 2 Small Typos in Autosurgeon Messages
  code/modules/surgery/organs/autosurgeon.dm
Labels: Grammar and Formatting

#89692 `/datum/ai_behavior/execute_clean/finish_action` will no longer return early if the emagged phrases list is empty
  code/modules/mob/living/basic/bots/cleanbot/cleanbot_ai.dm
Labels: Fix

#89793 buffs floor fries
  code/game/objects/items/food/vegetables.dm
Labels: Balance

#89791 [No GBP] Fixes the battle of the titans (megafauna attacking eachother)
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Fix, GBP: No Update

#89792 Fix config FPS/ Ticklag auto handling
  code/controllers/configuration/entries/general.dm
Labels: Config Update

#89715 Adds missing apple interactions with jobs
  code/modules/hydroponics/grown/apple.dm
Labels: Feature

#89678 Various telepathic/remote messages are now labeled as "radio" chat messages
  code/__HELPERS/chat.dm
  code/datums/components/blob_minion.dm
  code/datums/saymode.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/mob/living/carbon/alien/alien_say.dm
  code/modules/mob/living/silicon/silicon_say.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  code/modules/surgery/organs/internal/vocal_cords/_vocal_cords.dm
Labels: Stale, Quality of Life

#89786 fixes chameleon IDs not actually making you untrackable by the AI
  code/game/objects/items/cards_ids.dm
Labels: Fix

#89418 Relative Config $imports
  code/controllers/configuration/configuration.dm
Labels: Config Update

#89812 Buffs Borg Factory Spawned Cyborg Cells
  code/game/machinery/transformer.dm
Labels: Balance

#89683 unblacklists botany fruits and vegetables from unit tests.
  code/__HELPERS/randoms.dm
  code/modules/cargo/bounties/botany.dm
  code/modules/hydroponics/grown/eggplant.dm
  code/modules/hydroponics/grown/gatfruit.dm
  code/modules/unit_tests/food_edibility_check.dm
  code/modules/unit_tests/unit_test.dm
Labels: Stale, Unit Tests

#89684 Makes atmo pipes crafting recipes less copypasta-y
  code/datums/components/crafting/atmospheric.dm
Labels: Stale, Code Improvement

#89777 fixes the chat audio player, typescripts it
  tgui/packages/tgui-panel/audio/player.js
  tgui/packages/tgui-panel/audio/player.ts
Labels: Fix, UI

#89811 tg chat settings export and import
  code/modules/tgui_panel/tgui_panel.dm
  tgui/package.json
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/reducer.ts
  tgui/packages/tgui-panel/chat/types.ts
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/actions.ts
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/packages/tgui-panel/settings/reducer.ts
  tgui/packages/tgui-panel/settings/settingsImExport.ts
  tgui/packages/tgui-panel/telemetry.js
  tgui/yarn.lock
Labels: Fix, Quality of Life

#89620 Last Resort is no longer innate power for changelings
  code/modules/antagonists/changeling/powers/headcrab.dm
Labels: Balance, Stale

#89855 Fixes research hanging the MC
  code/modules/research/rdconsole.dm
Labels: Priority: CRITICAL, Fix

#89822 Fix some new sound runtimes
  code/datums/looping_sounds/machinery_sounds.dm
  code/datums/storage/storage.dm
  code/game/objects/items/storage/belt.dm
  code/modules/surgery/surgery_step.dm
Labels: Fix

#89802 Fixes runtimes in fit_viewport when user has the game minimized
  code/modules/client/verbs/ooc.dm
Labels: Code Improvement

#89839 fix defib mount dupe
  code/game/machinery/defibrillator_mount.dm
Labels: Code Improvement

#89834 Fix wig hat color shenanigans
  code/datums/components/hat_stabilizer.dm
Labels: Fix

#89847 new raptor taming minigame
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/datums/components/riding/riding_mob.dm
  code/game/atoms_movable.dm
  icons/effects/riding_minigame.dmi
  tgui/packages/tgui/interfaces/RideMinigame.tsx
Labels: Feature, Quality of Life

#89621 slice a pizza into slices without it turning into a pile of slices
  code/game/objects/items/food/pizza.dm
  code/modules/food_and_drinks/pizzabox.dm
  icons/obj/food/pizza.dmi
Labels: Feature, Stale

#89813 ERT leaders now have a headset with high-volume mode
  code/game/objects/items/devices/radio/headset.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/outfits/ert.dm
Labels: Fix, Quality of Life

#89841 Resprites all eyes and gives cybernetic eyes unique sprites
  code/datums/elements/corrupted_organ.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/game/machinery/dna_infuser/organ_sets/goliath_organs.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  code/modules/antagonists/heretic/items/corrupted_organs.dm
  code/modules/antagonists/voidwalker/voidwalker_organs.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_pod.png
  icons/mob/human/human_face.dmi
  icons/obj/medical/organs/infuser_organs.dmi
  icons/obj/medical/organs/organs.dmi
  icons/obj/medical/organs/shadow_organs.dmi
Labels: Sprites

#89850 Being sufficiently drunk gives you fearlessness
  code/datums/status_effects/debuffs/drunk.dm
Labels: Feature

#89851 Drunk moodlet updates as you get drunk
  code/datums/mood_events/drink_events.dm
  code/datums/status_effects/debuffs/drunk.dm
Labels: Feature

#89439 It's now possible to take trophy fish from previous rounds off the mount (based on RNG).
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/controllers/subsystem/persistence/trophy_fishes.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish_mount.dm
Labels: Balance, Stale

#89760 SKS interaction tweaks and bolt-action rifle interaction fix
  _maps/RandomZLevels/SnowCabin.dmm
  code/datums/components/crafting/ranged_weapon.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  icons/obj/weapons/guns/wide_guns.dmi
  tools/UpdatePaths/Scripts/89780_sks_auto_to_sks_rifle.txt
Labels: Fix, Map Edit

#89721 Spaceman Beatdown - a small tweak to punching people
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
Labels: Balance, Stale

#89869 Fixes prototype egun's electrodes instantly detaching
  code/modules/projectiles/ammunition/energy/stun.dm
Labels: Fix

#89844 Fixes hallucinations using wrong planes
  code/modules/hallucination/body.dm
  code/modules/hallucination/delusions.dm
  code/modules/hallucination/ice_cube.dm
  code/modules/hallucination/nearby_fake_item.dm
  code/modules/hallucination/on_fire.dm
  code/modules/hallucination/shock.dm
Labels: Fix

#89682 Fixes most mining mobs being unaffected by additional damage against them
  code/__DEFINES/is_helpers.dm
  code/modules/mining/lavaland/mining_loot/cursed_katana.dm
  code/modules/mining/lavaland/mining_loot/megafauna/bubblegum.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile/bullets/junk.dm
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
Labels: Fix

#89797 Fixes hat stabilizers not detaching clothing traits
  code/datums/components/hat_stabilizer.dm
Labels: Fix

#89897 Fixes night shifts removing coloring from lights
  code/modules/power/lighting/light.dm
Labels: Fix

#89896 [NO GBP] Objects on tables no longer get burnt by lava
  code/game/turfs/open/lava.dm
Labels: Fix, GBP: No Update

#89819 Prevent duplicated objects in important_recursive_contents
  code/game/atoms_movable.dm
Labels: Fix

#89818 Covers an edge case with Cryogelidia possibly still not removing the status effects when it should.
  code/modules/reagents/chemistry/reagents/impure_reagents.dm
Labels: Fix

#89803 Remove an unused var from `/turf/open/space`
  code/game/turfs/open/space/space.dm
Labels: Removal, Code Improvement

#89894 Cult spells no longer play attack animation when clicking on an invalid target
  code/modules/antagonists/cult/blood_magic.dm
Labels: Fix

#89764 Add exactly ONE comma to the list of robo designs + sort em
  code/modules/research/techweb/nodes/robo_nodes.dm
Labels: Grammar and Formatting

#89790 Corrects an error with emagged medical kiosk boards.
  code/game/machinery/medical_kiosk.dm
Labels: Fix, GBP: No Update

#89780 Allows stacking machines to eat bluespace crystals
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mining/machine_stacking.dm
Labels: Fix

#89821 Change bounty console's cooldown message to a balloon alert (+ minor code improvements)
  code/game/machinery/civilian_bounties.dm
Labels: Code Improvement, Quality of Life

#89805 The radioactive mutation now ensures it has an owner before modifying the radioactivity
  code/datums/mutations/radioactive.dm
Labels: Fix

#89905 Removes a rogue fire alarm from DeltaStation's freezer
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Removal, Map Edit

#89796 Stops anomalies from running off during CI and causing a flaky mapping nearstation error
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
Labels: Fix

#89781 Holosign QoL: signs on doors, holofans on doors/windows/grilles
  code/game/objects/items/holosign_creator.dm
Labels: Quality of Life

#89901 Fixes fake airlock bolts being examineable
  code/modules/hallucination/bolted_airlocks.dm
Labels: Fix

#89884 The strongarm set bonus no longer requires a specific biotype to function
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
Labels: Fix

#89625 Fixes constant hotspot runtimes due to op order issues
  code/modules/atmospherics/environmental/LINDA_fire.dm
Labels: Fix

#89761 Readds Swarmers (Helper turf procs)
  code/__HELPERS/turfs.dm
Labels: Code Improvement

#89909 Fixes Annoying Mapping Icon Issue
  icons/effects/random_spawners.dmi
Labels: Sprites

#89776 gives the smartgun aimbot
  code/modules/projectiles/ammunition/ballistic/pistol.dm
Labels: Balance

#89911 [NO GBP] Increases the cooldon on the "Domain Expansion" Heretic spell.
  code/modules/antagonists/heretic/magic/wolves_among_sheep.dm
Labels: Balance, GBP: No Update

#89904 Fixes pre-filled fish stasis cases breaking fish inside of them
  code/datums/elements/fish_safe_storage.dm
Labels: Fix

#89916 Immortal pyro anomalies no longer (unsuccessfully) attempt to spawn pyro slimes
  code/game/objects/effects/anomalies/anomalies_pyroclastic.dm
Labels: Fix

#89918 Fixes a rigged welding tool runtime
  code/game/objects/items/tools/weldingtool.dm
Labels: Fix

#89919 Fixes rideable mob layering
  code/datums/components/riding/riding_mob.dm
  code/datums/components/riding/riding_vehicle.dm
Labels: Fix

#89921 Fixes balloon alert positioning on wide mobs
  code/modules/balloon_alert/balloon_alert.dm
Labels: Fix

#89914 Makes tgui_input_list() candystripe
  tgui/packages/tgui/interfaces/ListInputWindow/ListInputModal.tsx
Labels: UI, Quality of Life

#89864 Fixes saving chat log for 516 byond
  tgui/global.d.ts
  tgui/packages/tgui-panel/chat/renderer.jsx
  tgui/public/tgui.html
Labels: Logging, Fix, UI

#89647 Add new Game PR Announcer
  .github/CODEOWNERS
  .gitignore
  code/datums/world_topic.dm
  tools/Tgstation.PRAnnouncer/GameServersConnectivityHealthCheck.cs
  tools/Tgstation.PRAnnouncer/PRAnnouncePayload.cs
  tools/Tgstation.PRAnnouncer/PRAnnouncePayloadPullRequest.cs
  tools/Tgstation.PRAnnouncer/PRAnnounceQuery.cs
  tools/Tgstation.PRAnnouncer/Program.cs
  tools/Tgstation.PRAnnouncer/ServerConfig.cs
  tools/Tgstation.PRAnnouncer/Settings.cs
  tools/Tgstation.PRAnnouncer/Tgstation.PRAnnouncer.csproj
  tools/Tgstation.PRAnnouncer/TgstationWebhookEventProcessor.cs
  tools/Tgstation.PRAnnouncer/TopicTimeouts.cs
  tools/Tgstation.PRAnnouncer/appsettings.json
  tools/Tgstation.PRAnnouncer/deps.json
  tools/Tgstation.PRAnnouncer/flake.nix
  tools/Tgstation.PRAnnouncer/package.nix
  tools/Tgstation.PRAnnouncer/tgstation-pr-announcer.nix
  tools/Tgstation.PRAnnouncer/tgstation-pr-announcer.sln
  tools/WebhookProcessor/github_webhook_processor.php
  tools/WebhookProcessor/secret.php
Labels: GitHub

#89895 Fixes missing engi cables and pipes on Birdshot
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#89912 Rearranges Delta Cargo Wallmounts
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#89931 Fixes unwalkable tiles in film studio space ruin. [NO GBP]
  _maps/RandomRuins/SpaceRuins/film_studio.dmm
Labels: Fix, Map Edit, GBP: No Update

#89936 Connects Birdshot dorms back to distro
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Fix, Map Edit

#89939 Fixes a missing wire under Wawa's Coldroom APC
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#89933 HACK: Fixes 516 small character creator bug by shaking screen_loc.
  code/_onclick/hud/map_popups.dm
  code/modules/client/preferences.dm
Labels: Fix

#89913 Prevents selecting wizard finales you can't immediately invoke
  code/modules/antagonists/wizard/grand_ritual/grand_rune.dm
Labels: Quality of Life

#89950 Updates the insulated gloves description to reflect its' lack of chunky fingers
  code/modules/clothing/gloves/insulated.dm
Labels: Fix

#89977 [NO GBP] Going through lava while buckled to an object no longer explodes the server
  code/game/turfs/open/lava.dm
Labels: Fix, Priority: High, GBP: No Update

#89767 Soft reworks changeling Darkness Adaptation
  code/datums/elements/digitalcamo.dm
  code/modules/antagonists/changeling/powers/darkness_adaptation.dm
Labels: Balance, Fix, Stale

#89783 Cleans up duplicate calls in bodypart overlays, implements a texture priority system
  code/__DEFINES/bodyparts.dm
  code/datums/bodypart_overlays/bodypart_overlay.dm
  code/datums/bodypart_overlays/markings_bodypart_overlay.dm
  code/datums/bodypart_overlays/texture_bodypart_overlay.dm
  code/datums/components/ghostrole_on_revive.dm
  code/datums/elements/organ_set_bonus.dm
  code/modules/antagonists/voidwalker/voidwalker_traumas.dm
  code/modules/fishing/fish/types/holographic.dm
  code/modules/fishing/fish/types/rift.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/external/_visual_organs.dm
  code/modules/surgery/organs/external/spines.dm
  code/modules/surgery/organs/external/tails.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
  code/modules/surgery/organs/external/wings/wings.dm
  code/modules/surgery/organs/internal/ears/_ears.dm
Labels: Fix, Stale

#89833 Fixes the prefs dummy not updating for species features / Bald quirk prefs QoL
  code/datums/quirks/neutral_quirks/bald.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences/species_features/basic.dm
  code/modules/client/preferences/species_features/ethereal.dm
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/client/preferences/species_features/moth.dm
  code/modules/client/preferences/species_features/pod.dm
  code/modules/surgery/organs/_organ.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
Labels: Fix, Quality of Life

#89863 Removes all uses of www. from tgstation urls
  .github/CONTRIBUTING.md
  .github/guides/DOWNLOADING.md
  .github/guides/RUNNING_A_SERVER.md
  README.md
  config/config.txt
Labels: Removal, GitHub

#89938 Fixes broken drone UI on 516
  code/controllers/subsystem/statpanel.dm
  code/datums/elements/dextrous.dm
Labels: Fix

#89917 Polymorph belts no longer can consume unlimited amounts of cores
  code/modules/clothing/belts/polymorph_belt.dm
Labels: Fix

#89893 Fixes spiderwebs, alien weeds, kudzu, and other stuff layering below catwalks and glass floors
  code/__DEFINES/layers.dm
  code/datums/elements/undertile.dm
  code/game/objects/effects/spiderwebs.dm
  code/game/objects/items/devices/pressureplates.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/fluff.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/pipes/bridge_pipe.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/awaymissions/away_props.dm
  code/modules/power/lighting/light.dm
Labels: Fix

#89942 Relocating the silly burn damage multiplier of xenomorph bodyparts
  code/__DEFINES/bodyparts.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
Labels: Code Improvement

#89956 516: Fix TGUI Asset Loading
  tgui/public/tgui.html
Labels: Fix, UI

#89952 Fix Eye Chart being unobtainable
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/signs/signs_departments.dm
Labels: Fix

#89959 makes genetics data disks infinitely reskinnable
  code/game/machinery/dna_scanner.dm
Labels: Quality of Life

#89941 Fixed delusions not updating their planes, made them override screentips and examine names
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/quirks/negative_quirks/prosopagnosia.dm
  code/game/atom/atom_examine.dm
  code/modules/hallucination/delusions.dm
  code/modules/mob/living/carbon/examine.dm
Labels: Balance, Fix

#89961 Nooatrium can no longer revive suicided mobs
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: Fix

#89892 Fixes cult target selection
  code/modules/antagonists/cult/cult_objectives.dm
Labels: Fix

#89971 Updates circuit drone sprites
  icons/obj/science/circuits.dmi
Labels: Sprites

#89949 Fixes alien pistols
  code/modules/projectiles/projectile/energy/radiation.dm
Labels: Fix

#89965 Some aliens can be green as a treat
  code/__DEFINES/bodyparts.dm
  code/modules/antagonists/abductor/abductor.dm
Labels: Feature

#89920 Don't initialize the sheet snatcher box in a horribly slow and inefficient way
  code/game/objects/items/storage/bags.dm
Labels: Code Improvement

#89890 Stops spurious ruins lattice CI runtimes
  code/game/objects/structures/lattice.dm
Labels: Logging, Fix, Continuous Integration

#89693 Syndicate Bombs get harder the longer you set the timer
  code/__DEFINES/wires.dm
  code/datums/wires/_wires.dm
  code/datums/wires/syndicatebomb.dm
  code/game/machinery/syndicatebomb.dm
  code/modules/events/shuttle_loan/shuttle_loan_items.dm
Labels: Balance, Fix

#89929 [NO GBP] Generalizes `semicd` to `fire_cd` and applies it to burst fire
  code/datums/components/fullauto.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/religion/burdened/psyker.dm
Labels: Fix, GBP: No Update

#89962 conveyor belt little qol
  code/modules/recycling/conveyor.dm
Labels: Quality of Life

#89801 `/datum/reagent/consumable/ethanol/New()` will now treat `addiction_types` as a lazylist
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
Labels: Code Improvement

#89983 Fixes dust effect overlay
  code/game/objects/effects/decals/cleanable/misc.dm
Labels: Fix

#89774 Custom Shuttle QOL tweaks (and a fix to a mild shuttle engine exploit)
  code/__DEFINES/shuttles.dm
  code/__HELPERS/levels.dm
  code/game/area/areas.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/misc.dm
  code/game/area/areas/station/misc.dm
  code/game/objects/items/blueprints.dm
  code/game/shuttle_engines.dm
  code/modules/mob/eye/camera/remote.dm
  code/modules/shuttle/mobile_port/variants/custom/blueprints.dm
  code/modules/shuttle/mobile_port/variants/custom/custom.dm
  code/modules/shuttle/mobile_port/variants/custom/custom_consoles.dm
  code/modules/shuttle/shuttle_consoles/navigation_computer.dm
  tgui/packages/tgui/interfaces/Blueprints.tsx
Labels: Feature, Fix, Stale, Quality of Life

#90016 Adds a new smite: Retcon, also refactors the temporary_atom component into an atom level proc
  code/__HELPERS/fade_into_nothing.dm
  code/datums/components/ranged_attacks.dm
  code/datums/components/storm_hating.dm
  code/datums/elements/temporary_atom.dm
  code/datums/records/manifest.dm
  code/game/objects/effects/spiderwebs.dm
  code/modules/admin/smites/_smite.dm
  code/modules/admin/smites/retcon.dm
  code/modules/mob/living/basic/icemoon/ice_demon/ice_demon.dm
  code/modules/modular_computers/file_system/programs/virtual_pet.dm
  tgstation.dme
Labels: Refactor

#89808 Wallout Loadout equips itself / Lipstick Loadout comes applies itself (and is customizable)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/preferences.dm
  code/controllers/subsystem/ticker.dm
  code/game/objects/items/cosmetics.dm
  code/modules/loadout/categories/pocket.dm
  code/modules/loadout/loadout_helpers.dm
  code/modules/loadout/loadout_items.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: Stale, Quality of Life

#89701 You can now craft multi-dimensional payloads with dimensional anomalies
  code/__DEFINES/mining.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/game/machinery/syndicatebomb.dm
  code/game/turfs/closed/minerals.dm
  code/modules/mining/abandoned_crates.dm
  code/modules/mining/ores_coins.dm
  code/modules/research/anomaly/anomaly_core.dm
Labels: Feature

#90018 Puts a file in the tgstation.dme into the right spot
  tgstation.dme
Labels: Priority: High

#89173 PDA Alert Level Readout
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/security_levels/security_level_datums.dm
  tgui/packages/tgui/interfaces/NtosMain.tsx
  tgui/packages/tgui/layouts/NtosWindow.tsx
  tgui/packages/tgui/styles/layouts/NtosHeader.scss
Labels: Good First PR, Quality of Life

#90004 Fixes animated circuit tiles missing CS:S when powered off
  code/game/turfs/open/floor/misc_floor.dm
Labels: Fix

#89997 Delete .gitlab-ci.yml
  .gitlab-ci.yml
Labels: Removal

#89946 Clear detached holder before moving assembly
  code/modules/assembly/assembly.dm
Labels: Fix

#89747 Optimize playsound() even more
  code/__HELPERS/spatial_info.dm
  code/game/sound.dm
Labels: Stale

#89706 Food types are now passed down when cooking from recipes.
  _maps/RandomRuins/IceRuins/icemoon_underground_syndielab.dmm
  _maps/RandomRuins/SpaceRuins/hauntedtradingpost.dmm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/burgers.dm
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/cheese.dm
  code/game/objects/items/food/donkpocket.dm
  code/game/objects/items/food/donuts.dm
  code/game/objects/items/food/egg.dm
  code/game/objects/items/food/frozen.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/martian.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/meatslab.dm
  code/game/objects/items/food/mexican.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/food/moth.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/food/pizza.dm
  code/game/objects/items/food/salad.dm
  code/game/objects/items/food/sandwichtoast.dm
  code/game/objects/items/food/snacks.dm
  code/game/objects/items/food/soup.dm
  code/game/objects/items/food/sweets.dm
  code/game/objects/items/food/vegetables.dm
  code/modules/events/holiday/easter.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_bread.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_burger.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_cake.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_frozen.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_lizard.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_martian.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_mexican.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_moth.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pie.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pizza.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_salad.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/citrus.dm
  code/modules/hydroponics/grown/eggplant.dm
  code/modules/hydroponics/grown/garlic.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/hydroponics/grown/pumpkin.dm
  code/modules/hydroponics/grown/tomato.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/unit_tests/focus_only_tests.dm
  code/modules/vending/donk.dm
  tools/UpdatePaths/Scripts/89706_dankpocket.txt
Labels: Fix, Map Edit, Quality of Life

#89925 few raptor taming minigame difficulty tweaks
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/riding/riding_minigame.dm
  code/datums/components/riding/riding_mob.dm
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_controller.dm
  icons/effects/riding_minigame.dmi
  tgstation.dme
Labels: Feature

#89023 Adds a unit test for Cargo Crates to prevent infinite credit oversights.
  code/__DEFINES/cargo.dm
  code/game/machinery/spaceheater.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  code/modules/bitrunning/objects/vendor.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/exports/tools.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs/_packs.dm
  code/modules/cargo/packs/general.dm
  code/modules/cargo/packs/livestock.dm
  code/modules/cargo/packs/materials.dm
  code/modules/cargo/packs/security.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/power/cell.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/cargo_crate_sanity.dm
Labels: Unit Tests

#89974 Adds blowing cigarette smoke in people's face
  code/datums/mood_events/generic_negative_events.dm
  code/game/objects/items/cigarettes.dm
Labels: Feature

#89590 IconForge: rust-g GAGS (250x faster edition)
  code/__HELPERS/icons.dm
  code/controllers/subsystem/processing/greyscale.dm
  code/datums/greyscale/_greyscale_config.dm
  code/modules/unit_tests/unit_test.dm
  icons/effects/96x96.dmi
  icons/mob/simple/carp.dmi
  icons/obj/clothing/head/sombrero.dmi
  tools/deploy.sh
Labels: Performance, Stale

#89674 Material market sales now are subject to elasticity.
  code/__DEFINES/economy.dm
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/materials_market.dm
  tgui/packages/tgui/interfaces/MatMarket.tsx
Labels: Balance, Fix, UI, Quality of Life

#90029 Fix Plasmamen Prefs Issues Due To Plasmamen Lacking Content
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
Labels: Fix, UI, Priority: High, GBP: No Update

#90021 Fixes basic mobs not idling due to nearby ghosts
  code/datums/ai/_ai_controller.dm
Labels: Fix

#90038 fixes merge skew and janicart icon runtimes
  icons/obj/service/janicart_upgrade.dmi
Labels: Sprites, Fix

#89885 Fixes auto observe parallax being white
  code/_onclick/hud/hud.dm
  code/_onclick/hud/parallax/parallax.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
Labels: Fix

#89633 Renames order computers "express" -> "autodelivery", autodelivery now has transit time
  code/game/machinery/computer/orders/order_computer/golem_order.dm
  code/game/machinery/computer/orders/order_computer/mining_order.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/modules/bitrunning/objects/vendor.dm
  tgui/packages/tgui/interfaces/ProduceConsole.tsx
Labels: Balance, Stale

#89891 Cleans up chem grenade code, fixes prox sensors not working in grenades
  code/datums/wires/explosive.dm
  code/game/objects/items/grenades/chem_grenade.dm
Labels: Fix, Stale, Code Improvement

#89854 Improves the "Check mood" printout, reworks the "Check self" printout, minor embed changes
  code/datums/embedding.dm
  code/datums/mood.dm
  code/datums/wounds/_wounds.dm
  code/datums/wounds/blunt.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/game/objects/items/body_egg.dm
  code/game/objects/items/shrapnel.dm
  code/modules/mining/equipment/monster_organs/monster_organ.dm
  code/modules/mob/living/basic/lavaland/legion/legion_tumour.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
  code/modules/surgery/organs/internal/appendix/_appendix.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
  code/modules/surgery/organs/internal/ears/_ears.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  code/modules/surgery/organs/internal/liver/_liver.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  code/modules/zombie/organs.dm
Labels: Feature, Stale, Quality of Life

#89829 Make a craftable version of the radio jammers, and make the traitor radio jammer cost 1 TC instead of 5
  code/datums/components/crafting/tools.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
Labels: Balance, Feature, Stale, Test Merge Candidate

#90040 [516] Fix Preferences UI unscrollable pages
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/index.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/index.tsx
Labels: Fix, UI

#90039 [516] Fix TGUI input text max_length
  code/modules/tgui_input/text.dm
  tgui/packages/tgui/interfaces/TextInputModal.tsx
Labels: Fix, UI

#90044 Add qdeleted check to /datum/quirk/remove_from_current_holder
  code/datums/quirks/_quirk.dm
Labels: Removal

#90015 Tgui core version bump
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/package.json
  tgui/yarn.lock
Labels: Fix, UI
