Repository tgstation/tgstation, pull requests merged in 2025-09, with the labels that each got.

#92609 Correct bitwise logic for bitfield checks
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/mutations/reach.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/power/apc/apc_contextual_tips.dm
  code/modules/shuttle/mobile_port/shuttle_move.dm
  code/modules/transport/tram/tram_signals.dm
Labels: Logging, Fix, Stale

#92795 [NO GBP] Fixes biogens bricking themselves, again
  code/modules/hydroponics/biogenerator.dm
Labels: Fix, GBP: No Update

#92817 MOD ash accretion fully cancels base mining MOD slowdown
  code/modules/mod/modules/modules_supply.dm
Labels: Balance

#92708 [tgui] uselocalstate maintenance 1
  tgui/packages/tgui/interfaces/SelectEquipment.jsx
  tgui/packages/tgui/interfaces/common/AtmosHandbook.tsx
Labels: Stale, UI

#92798 Fix some potential sources of flaky ci runtimes
  _maps/RandomRuins/SpaceRuins/hilbertresearchfacility.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
Labels: Map Edit

#92460 Improves the ore silo UI
  code/datums/components/material/remote_materials.dm
  code/game/objects/items/rcd/RHD.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_silo.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/research/machinery/_production.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  code/modules/wiremod/core/component_printer.dm
  tgui/packages/tgui/interfaces/OreSilo.tsx
  tgui/packages/tgui/styles/interfaces/OreSilo.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI, Quality of Life

#92806 Remove double (Computer Board) on custom shuttle boards
  code/game/objects/items/circuitboards/computer_circuitboards.dm
Labels: Grammar and Formatting, Removal

#92419 Accounting Glowup: Advances, Pay raises and cuts, and more
  code/controllers/subsystem/economy.dm
  code/datums/components/payment.dm
  code/game/machinery/computer/accounting.dm
  code/game/objects/effects/spawners/random/techstorage.dm
  code/modules/economy/account.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/station_trait/cargo_gorilla.dm
  code/modules/research/designs/comp_board_designs.dm
  code/modules/shuttle/mobile_port/variants/supply.dm
  code/modules/vending/vendor/inventory.dm
  tgui/packages/tgui/interfaces/AccountingConsole.tsx
  tgui/packages/tgui/interfaces/AccountingConsole/AuditScreen.tsx
  tgui/packages/tgui/interfaces/AccountingConsole/FakeDesktopButton.tsx
  tgui/packages/tgui/interfaces/AccountingConsole/FakeToolbarButton.tsx
  tgui/packages/tgui/interfaces/AccountingConsole/FakeWindow.tsx
  tgui/packages/tgui/interfaces/AccountingConsole/Sort.tsx
  tgui/packages/tgui/interfaces/AccountingConsole/UsersScreen.tsx
  tgui/packages/tgui/interfaces/AccountingConsole/helpers.ts
  tgui/packages/tgui/interfaces/AccountingConsole/index.tsx
  tgui/packages/tgui/interfaces/AccountingConsole/types.ts
  tgui/packages/tgui/styles/interfaces/Accounting.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature, Fix, UI

#92667 Plant Analyzer UX Revamp
  _maps/map_files/debug/runtimestation.dmm
  code/game/objects/items/devices/scanners/plant_analyzer.dm
  code/modules/events/space_vines/vine_mutations.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/hydroponics/grown/weeds/kudzu.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  tgui/packages/tgui/interfaces/PlantAnalyzer/Graft.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/Seed.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/Tray.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/index.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer/types.ts
Labels: Fix, Stale, UI, Map Edit, Quality of Life

#92827 Spellchecks the double The on acid on floors
  code/datums/components/acid.dm
Labels: Grammar and Formatting, Fix

#92831 fixes a typo in an admin message about achievements cleanup
  code/controllers/subsystem/achievements.dm
Labels: Grammar and Formatting

#92832 Fixes unconfigured pill presses manufacturing pills that claim to be bottles
  code/modules/plumbing/plumbers/pill_press.dm
Labels: Grammar and Formatting, Fix

#92752 2 minor enforcements for vending machines
  code/modules/vending/vendor/inventory.dm
Labels: Code Improvement

#92716 [tgui] uselocalstate maintenance 2
  tgui/packages/tgui/interfaces/Spellbook.tsx
  tgui/packages/tgui/interfaces/Spellbook/CategoryDisplay.tsx
  tgui/packages/tgui/interfaces/Spellbook/EnscribedName.tsx
  tgui/packages/tgui/interfaces/Spellbook/Loadouts.tsx
  tgui/packages/tgui/interfaces/Spellbook/Locked.tsx
  tgui/packages/tgui/interfaces/Spellbook/Randomize.tsx
  tgui/packages/tgui/interfaces/Spellbook/SearchSpells.tsx
  tgui/packages/tgui/interfaces/Spellbook/SpellResults.tsx
  tgui/packages/tgui/interfaces/Spellbook/SpellTabDisplay.tsx
  tgui/packages/tgui/interfaces/Spellbook/TableOfContents.tsx
  tgui/packages/tgui/interfaces/Spellbook/constants.ts
  tgui/packages/tgui/interfaces/Spellbook/index.tsx
  tgui/packages/tgui/interfaces/Spellbook/types.ts
Labels: Stale, UI

#92844 Disable GUEST_BAN by default
  config/config.txt
Labels: Config Update

#92757 Fixes constant runtimes and broken APC processing behavior on emagged APCs
  code/modules/power/apc/apc_main.dm
Labels: Fix, Stale

#92002 You can install B.O.R.I.S. in circuits with MMI components (+other MMI component changes)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_attack.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_silicon.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/ai.dm
  code/datums/components/connect_containers.dm
  code/datums/components/shuttle_move_deferred_checks.dm
  code/datums/components/stationloving.dm
  code/datums/components/usb_port.dm
  code/game/atom/alternate_appearance.dm
  code/game/machinery/computer/aifixer.dm
  code/game/objects/items/devices/aicard.dm
  code/game/objects/items/devices/aicard_evil.dm
  code/game/objects/structures/ai_core.dm
  code/modules/bitrunning/components/avatar_gear.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mod/mod_ai.dm
  code/modules/vehicles/mecha/mecha_ai_interaction.dm
  code/modules/wiremod/components/action/mmi.dm
  code/modules/wiremod/dcs_components/component_boris_circuit_container.dm
  tgstation.dme
Labels: Feature, Refactor

#92751 Removes paramedic's extra access that isn't medical related or maintenance
  code/__DEFINES/jobs.dm
  code/datums/id_trim/jobs.dm
  code/modules/mob/living/basic/bots/medbot/medbot.dm
Labels: Balance, Removal

#92856 Fixing Catwalk's HyperTorus Equipment
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Fix, Map Edit

#92838 Makes synthflesh patches not spam visible messages every tick
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
Labels: Fix

#92772 Fixes blood drunk miner's dash and some mecha actions not working
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/vehicles/mecha/combat/durand.dm
  code/modules/vehicles/mecha/mecha_actions.dm
  code/modules/vehicles/mecha/working/ripley.dm
Labels: Fix, Stale

#92758 Fixes water cooler weird code/runtimes
  code/modules/reagents/reagent_dispenser.dm
Labels: Fix, Stale

#92788 Hovering over things on the same tile no longer closes the pet command menu, automatically closes it when you let go of the hotkey
  code/datums/components/pet_commands/obeys_commands.dm
Labels: Fix, Stale, Quality of Life

#92787 Fixes admin achievement panel lists duplication
  tgui/packages/tgui/interfaces/AchievementsAdminPanel.tsx
Labels: Stale, UI

#92784 Fixes player emagged medbots not being able to inject chloral on healthy players
  code/modules/mob/living/basic/bots/medbot/medbot.dm
Labels: Fix, Stale

#92803 Clientless mobs no longer log their emotes
  code/datums/emotes.dm
Labels: Logging, Administration, Stale

#92872 Replaces T2 Tools with T1 Versions in CE Toolbelt
  code/game/objects/items/storage/belt.dm
  code/modules/jobs/job_types/chief_engineer.dm
Labels: Balance, Removal

#92747 Asthma quirk, inhalers - Electric Boogaloo
  code/__DEFINES/alerts.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/diseases.dm
  code/__DEFINES/reagents.dm
  code/_onclick/hud/alert.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/asthma_attack.dm
  code/datums/quirks/negative_quirks/allergic.dm
  code/datums/quirks/negative_quirks/asthma.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/mob/living/emote.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/cat2_medicines.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/surgery/asthmatic_bypass.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
  code/modules/vending/medical.dm
  icons/hud/screen_alert.dmi
  icons/obj/medical/chemical.dmi
  tgstation.dme
Labels: Sprites, Balance, Feature

#92699 Adds opium and meth rocks!
  code/datums/components/crafting/entertainment.dm
  code/game/objects/effects/spawners/random/contraband.dm
  code/game/objects/items/cigarettes.dm
  code/game/objects/items/drug_items.dm
  code/game/objects/items/storage/boxes/flat_boxes.dm
  code/game/objects/items/storage/boxes/misc.dm
  code/modules/cargo/markets/market_items/consumables.dm
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/recipes/drugs.dm
  code/modules/reagents/reagent_containers/patch.dm
  icons/mob/clothing/mask.dmi
  icons/obj/cigarettes.dmi
  icons/obj/medical/drugs.dmi
  icons/obj/storage/box.dmi
Labels: Sprites, Feature, Fix, Stale, Quality of Life

#92807 Significantly improves MODtether behavior, fixes multiple bugs and a potential server crash
  code/datums/components/tether.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/modules/mod/modules/modules_engineering.dm
Labels: Fix, Stale, Quality of Life

#92734 The Grinch Who Patched Christmas: Preventing Trashy Presents
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/effects/spawners/random/maintenance.dm
  code/modules/cargo/packs/imports.dm
Labels: Fix

#92889 glass ore (aka sand) is now actually made of sand
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/materials/basemats.dm
  code/game/objects/effects/spawners/random/decoration.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/water_structures/sink.dm
  code/game/objects/structures/water_structures/water_source.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/ores_coins.dm
Labels: Balance, Removal

#92924 Replaces CE normal welder with the upgraded variant.
  code/game/objects/items/storage/belt.dm
Labels: Balance, Atomic

#92833 Lets jackets as a whole clothing category carry handguns and holsters, improvised weapons on a few more 'assistant' clothing options, and minor changes
  code/__DEFINES/inventory.dm
  code/modules/clothing/suits/costume.dm
  code/modules/clothing/suits/jacket.dm
Labels: Balance, Fix, Stale

#92877 Boulders can now be used on lava turfs in order to create temporary, walkable platforms
  _maps/map_files/Mining/Lavaland.dmm
  code/__DEFINES/mining.dm
  code/game/objects/structures/lattice.dm
  code/game/objects/structures/lavaland/gulag_vent.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/lava.dm
  code/modules/mining/boulder_processing/boulder.dm
  code/modules/mining/boulder_processing/boulder_types.dm
  icons/obj/ore.dmi
Labels: Sprites, Feature, Fix, Map Edit

#92809 Bow revisit; they hit harder, there are more sprites, there is a new bow made of bone. Really live that ranger fantasy.
  code/__DEFINES/inventory.dm
  code/datums/components/crafting/equipment.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/weapons/bows_lefthand.dmi
  icons/mob/inhands/weapons/bows_righthand.dmi
  icons/obj/weapons/bows/arrows.dmi
  icons/obj/weapons/bows/bows.dmi
Labels: Sprites, Balance, Feature, Stale

#92961 Fix food-tray -> oven-tray interaction
  code/modules/food_and_drinks/plate.dm
Labels: Fix

#92957 Buffs non-hydroponics tree logs
  code/modules/hydroponics/grown/towercap.dm
Labels: Balance

#92947 Halves poly's speech frequency
  code/modules/mob/living/basic/pets/parrot/poly.dm
Labels: Balance, Removal

#92902 Buffs the amount EMPs drain cells to be worthwhile
  code/game/objects/items/maintenance_loot.dm
  code/game/objects/items/melee/baton.dm
  code/modules/power/cell.dm
  code/modules/power/power_store.dm
Labels: Balance

#92964 The chain of command boosts action speed and not just move speed.
  code/datums/status_effects/buffs.dm
  code/game/objects/items/melee/chainofcommand.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/weaponry.dm
  tgstation.dme
Labels: Balance, Code Improvement, Quality of Life

#92899 Removes Ninja EMP burst / Adds Ninja EMP shurikens
  code/game/objects/items/weaponry.dm
  code/modules/antagonists/ninja/ninja_stars.dm
  code/modules/mod/mod_types.dm
  icons/mob/inhands/equipment/shields_lefthand.dmi
  icons/mob/inhands/equipment/shields_righthand.dmi
  icons/obj/weapons/thrown.dmi
Labels: Sprites, Balance, Feature, Removal

#92963 Buffs the torsion ratchet MOD module a bit
  code/modules/mod/modules/modules_general.dm
Labels: Balance

#92967 The megaphone MOD module also has a TTS filter, just like the OG megaphone
  code/modules/mod/modules/modules_security.dm
Labels: Fix

#92979 Underwater basketweaving recipes are hidden unless you've the skillchip
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/crafting/containers.dm
  code/modules/library/skill_learning/generic_skillchips/misc.dm
  code/modules/library/skill_learning/generic_skillchips/underwater_basketweaving.dm
  tgstation.dme
Labels: Refactor

#92996 Ensures uniform distribution of minerals across ore vents & non zero material boulders
  code/controllers/subsystem/ore_generation.dm
  code/game/objects/structures/lavaland/ore_vent.dm
Labels: Fix

#93009 Switches the Delta Station bottom two telecomms busses around
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit, Quality of Life

#93016 Removing rogue decal in DeltaStation garden
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Fix, Map Edit

#93017 Adds RD computers on Catwalk
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Fix, Map Edit

#93027 Stoats can now be picked up and can also breed.
  code/modules/mob/living/basic/stoats/stoat.dm
  code/modules/mob/living/basic/stoats/stoat_ai.dm
  icons/mob/simple/pets.dmi
Labels: Sprites, Feature

#93006 [NO GBP] Fixing issues with sand
  code/modules/mining/ores_coins.dm
Labels: Fix, GBP: No Update

#93000 Replaced some OOC IC in feedback messages
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RPLD.dm
  code/modules/mob/living/carbon/alien/adult/alien_powers.dm
Labels: Grammar and Formatting

#92985 The direction of your character changes when moving inside a cardboard box
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
Labels: Quality of Life

#92982 Fixes "Can't Rotate!" being repeated infinitely for reflector boxes
  code/game/objects/structures/reflector.dm
Labels: Fix

#93032 Adds insulated gloves in WawaStation tech storage
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#92927 Bump `tgui-core` & make chat tabs scrollable
  tgui/bun.lock
  tgui/packages/tgui-panel/Panel.tsx
  tgui/packages/tgui-panel/chat/ChatTabs.tsx
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/interfaces/AtmosFilter.tsx
  tgui/packages/tgui/interfaces/AtmosMixer.tsx
  tgui/packages/tgui/interfaces/BluespaceSender.tsx
  tgui/packages/tgui/interfaces/BluespaceVendor.tsx
  tgui/packages/tgui/interfaces/ChemHeater.tsx
  tgui/packages/tgui/interfaces/ChemMixingChamber.tsx
  tgui/packages/tgui/interfaces/ChemReactionChamber.tsx
  tgui/packages/tgui/interfaces/ChemRecipeDebug.tsx
  tgui/packages/tgui/interfaces/ColorMatrixEditor.tsx
  tgui/packages/tgui/interfaces/Crystallizer.tsx
  tgui/packages/tgui/interfaces/DnaConsole/DnaConsoleEnzymes.jsx
  tgui/packages/tgui/interfaces/Electropack.jsx
  tgui/packages/tgui/interfaces/Filteriffic.jsx
  tgui/packages/tgui/interfaces/GhostMenu.tsx
  tgui/packages/tgui/interfaces/HighLuminosityEyesMenu.tsx
  tgui/packages/tgui/interfaces/Hypertorus/Controls.tsx
  tgui/packages/tgui/interfaces/Hypertorus/Gases.tsx
  tgui/packages/tgui/interfaces/Mecha/ModulesPane.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/EntriesBasic.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/EntriesGenerators.tsx
  tgui/packages/tgui/interfaces/ParticleEdit/Generators.tsx
  tgui/packages/tgui/interfaces/Radio.tsx
  tgui/packages/tgui/interfaces/Reagents/RecipeLibrary.tsx
  tgui/packages/tgui/interfaces/Reflector.tsx
  tgui/packages/tgui/interfaces/SentienceFunBalloon.jsx
  tgui/packages/tgui/interfaces/Signaler.tsx
  tgui/packages/tgui/interfaces/SolarControl.tsx
  tgui/packages/tgui/interfaces/ThermoMachine.jsx
  tgui/packages/tgui/interfaces/TurbineComputer.tsx
  tgui/packages/tgui/package.json
Labels: UI, Quality of Life

#92887 Shiv shouldn't be crafted through crafting recipe datums. Removes redundant cable cuffs recipe
  code/modules/food_and_drinks/recipes/tablecraft/recipes_guide.dm
Labels: Fix, Removal

#92994 repaths lava lattices to lava catwalks
  code/game/objects/structures/lattice.dm
  code/game/turfs/open/lava.dm
  tools/UpdatePaths/Scripts/92994_lava_lattices_to_lava_catwalks.txt
Labels: Fix, Tools

#92995 Adds support for custom stamp icons
  code/modules/paperwork/paper.dm
  code/modules/paperwork/stamps.dm
  tgui/packages/tgui/interfaces/PaperSheet/types.ts
Labels: UI, Code Improvement

#93048 Fix blink animation for eyes with no eyelids
  code/modules/mob/living/brain/brain_item.dm
Labels: Fix

#93052 [NO GBP] deletes a stray updatepaths file i forgot about
  tools/UpdatePaths/92854_speedloaders.txt
Labels: Removal, Tools, GBP: No Update

#93065 Fixes delayed viewport fitting on server join/init
  code/modules/client/client_procs.dm
  code/modules/client/verbs/ooc.dm
Labels: Fix

#92993 TRAIT_HARDLY_WOUNDED and TRAIT_EASILY_WOUNDED now decrease and increase the max considered damage for wounds by 50%, rather than adjusting the considered damage itself.
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/wounds.dm
  code/_globalvars/traits/_traits.dm
  code/datums/wounds/_wounds.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/bodyparts/wounds.dm
Labels: Balance, Stale

#93108 Fixes Select Equipment opening on a blank tab
  tgui/packages/tgui/interfaces/SelectEquipment.jsx
Labels: Fix, UI

#93094 Fixes cell charger deleting cell inside after destroying charger
  code/game/machinery/cell_charger.dm
Labels: Fix

#93049 Adds hotkey to close all UIs
  code/__DEFINES/keybinding.dm
  code/datums/keybinding/client.dm
Labels: Quality of Life

#93131 Adds several holopads to wawastation
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Edit

#93136 Makes the security desk buttons on icebox pressable, and makes the result work better
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  code/game/objects/effects/poster_motivational.dm
Labels: Fix, Map Edit

#92976 Adjusts easing in places where EASE_IN/OUT was applied without a curve.
  code/_onclick/hud/radial.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/components/callouts.dm
  code/datums/elements/corrupted_organ.dm
  code/game/objects/items/tcg/tcg.dm
  code/game/turfs/open/water.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/hallucination/mother.dm
  code/modules/mob/living/basic/minebots/minebot_abilities.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_update_icons.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/pandora.dm
  tools/ci/check_grep.sh
Labels: Tools, Code Improvement

#92763 Refactor reagent container + all subtypes to interaction chain 2 electric boogaloo
  code/__DEFINES/reagents.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/elements/envenomable_casing.dm
  code/datums/elements/food/dunkable.dm
  code/game/atom/_atom.dm
  code/game/objects/items/drug_items.dm
  code/game/objects/items/food/salad.dm
  code/game/objects/items/robot/items/hypo.dm
  code/game/objects/items/robot/items/storage.dm
  code/game/objects/items/tanks/watertank.dm
  code/game/objects/structures/cannons/cannon.dm
  code/modules/antagonists/heretic/items/eldritch_flask.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/food_and_drinks/machinery/stove.dm
  code/modules/mob/living/basic/space_fauna/regal_rat/regal_rat.dm
  code/modules/reagents/chemistry/holder/holder.dm
  code/modules/reagents/chemistry/machinery/chem_mass_spec.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/chem_pack.dm
  code/modules/reagents/reagent_containers/condiment.dm
  code/modules/reagents/reagent_containers/cooler_jug.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  code/modules/reagents/reagent_containers/cups/drinkingglass.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/reagents/reagent_containers/cups/mauna_mug.dm
  code/modules/reagents/reagent_containers/cups/organ_jar.dm
  code/modules/reagents/reagent_containers/cups/soda.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/jerrycan.dm
  code/modules/reagents/reagent_containers/medigel.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/unit_tests/bake_a_cake.dm
  code/modules/unit_tests/reagent_mob_expose.dm
Labels: Refactor, Stale

#93092 Removes the random emagged portal spawn and lowers the export price of the monocloning jumperfish.
  code/game/objects/structures/mystery_box.dm
  code/modules/fishing/fish/types/syndicate.dm
Labels: Balance, Removal

#93148 airlocks affected by dimensional anomalies retain their access
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
Labels: Balance

#92905 The Roulette Refinement Reconfiguration. Poker Chips, Bugs fixed. Coins redeemable, Payouts animated and Bag expanded.,
  code/__DEFINES/is_helpers.dm
  code/datums/storage/subtypes/bags.dm
  code/datums/storage/subtypes/others/misc.dm
  code/game/machinery/bank_machine.dm
  code/game/machinery/roulette_machine.dm
  code/game/objects/items/cards_ids.dm
  code/modules/economy/poker_chips.dm
  code/modules/mining/ores_coins.dm
  icons/obj/economy.dmi
  tgstation.dme
Labels: Sprites, Balance, Feature, Fix

#93051 Reinforced floors stop explosions from affecting underfloor objects / posters aren't capable of blocking explosions / but machines can!
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/reinforced_floor.dm
  code/game/turfs/open/misc.dm
  code/game/turfs/turf.dm
  code/modules/transport/tram/tram_floors.dm
Labels: Balance, Stale

#93057 MAP - Catwalk - First rework for service department
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Map Edit
