Repository tgstation/tgstation, pull requests merged in 2025-04, with the labels that each got.

#90295 Tgui payload chunking
  code/controllers/configuration/entries/general.dm
  code/modules/tgui/tgui_window.dm
  config/config.txt
  tgui/packages/tgui/backend.ts
  tools/build/build.js
Labels: Fix, Code Improvement, Config Update

#90307 Burning paper (and similar) is now two way (you can hold a paper to your cigarette to burn it)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_x_act.dm
  code/datums/components/crafting/equipment.dm
  code/datums/elements/burn_when_item_ignition.dm
  code/game/machinery/newscaster/newspaper.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/virgin_mary.dm
  code/modules/library/bibles.dm
  code/modules/library/book.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperplane.dm
  code/modules/paperwork/ticketmachine.dm
  code/modules/photography/photos/photo.dm
  tgstation.dme
Labels: Removal, Quality of Life

#90297 Generalizes mining voucher behavior
  code/datums/elements/voucher_redeemer.dm
  code/game/machinery/computer/orders/order_computer/mining_order.dm
  code/modules/mining/voucher_sets.dm
  tgstation.dme
Labels: Refactor

#90156 Adds table flipping! Take 2.0
  code/game/objects/effects/spawners/structure.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/antagonists/abductor/abductor_structures.dm
  code/modules/mining/equipment/survival_pod.dm
  icons/obj/flipped_tables.dmi
Labels: Feature

#90219 Adds a unit test for techweb design presence, puts some missing designs into protolathes
  code/datums/ai/robot_customer/robot_customer_behaviors.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/objs.dm
  code/modules/food_and_drinks/restaurant/_venue.dm
  code/modules/food_and_drinks/restaurant/custom_order.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/research/designs/autolathe/multi-department_designs.dm
  code/modules/research/designs/autolathe/security_designs.dm
  code/modules/research/designs/autolathe/service_designs.dm
  code/modules/research/designs/limbgrower_designs.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/bepis_nodes.dm
  code/modules/research/techweb/nodes/circuit_nodes.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  code/modules/unit_tests/designs.dm
  icons/obj/machines/restaurant_portal.dmi
Labels: Balance, Unit Tests

#90241 Audits quite a few chemicals and how they interact with exposure (mostly to do with TOUCH effects)
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Balance, Fix

#90293 You can cuff people to the tram rails
  code/__DEFINES/dcs/signals/signals_transport.dm
  code/__DEFINES/electrified_buckle.dm
  code/datums/components/electrified_buckle.dm
  code/game/objects/structures/fluff.dm
  code/modules/transport/transport_module.dm
  icons/hud/screen_alert.dmi
Labels: Feature

#90398 actual round time
  code/__DEFINES/time.dm
Labels: Fix

#90371 Add missing passed argument in living_say
  code/modules/mob/living/living_say.dm
Labels: Fix

#90176 Weaponised Wheelchair Bells
  code/__DEFINES/dcs/signals/signals_action.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/vehicle_actions.dm
  code/modules/vehicles/wheelchair.dm
  icons/mob/rideables/vehicles.dmi
Labels: Feature, Stale

#90396 Fix edge-cases where clothing icons wouldn't update when equipped
  code/game/objects/items.dm
Labels: Fix, Code Improvement

#90403 Moves the character deletion button to the top left
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
Labels: UI, Quality of Life

#90359 Converts hot springs to use proper shared particles
  code/game/objects/effects/particle_holder.dm
  code/game/objects/effects/shared_particle_holder.dm
  code/game/turfs/open/water.dm
Labels: Code Improvement

#90432 byond-tracy forces a hard reboot
  code/game/world.dm
Labels: Fix, Code Improvement

#90446 Hunger bar is now animated and updates as you eat
  code/__DEFINES/living.dm
  code/__DEFINES/mobs.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/components/food/edible.dm
  code/datums/elements/food/foodlike_drink.dm
  code/datums/mood.dm
  code/datums/mood_events/needs_events.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
  icons/hud/screen_gen.dmi
Labels: Fix, Quality of Life

#90445 the admin audio player is a little more resilient against crashes
  tgui/packages/tgui-panel/audio/player.ts
Labels: Fix, UI

#90447 Sonar Module Adjustments
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
Labels: Quality of Life

#90440 [no GBP] Wheelchair Bomb Fixes
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/wheelchair.dm
Labels: Fix, GBP: No Update

#89775 Heart Attacks are More Violent, and You Can Defib People Repeatedly to Fix Them Like in a Medical Daytime TV Show Drama
  code/__DEFINES/dcs/signals/signals_medical.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/fearful/effects.dm
  code/datums/diseases/heart_failure.dm
  code/datums/status_effects/debuffs/heart_attack.dm
  code/game/data_huds.dm
  code/game/objects/items/defib.dm
  code/modules/events/heart_attack.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
  code/modules/surgery/organs/internal/stomach/stomach_ethereal.dm
  strings/tips.txt
  tgstation.dme
Labels: Balance

#90449 Updates all the circuit shells to share a palette
  icons/obj/science/circuits.dmi
Labels: Sprites

#90243 Locking a storage item now locks you out of other storage items inside it.
  code/datums/components/lockable_storage.dm
  code/datums/storage/storage.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/structures/secure_safe.dm
  code/modules/lost_crew/lost_crew_manager.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/reagents/chemistry/machinery/portable_chem_mixer.dm
Labels: Fix

#90365 Part 1: Storage Improvements
  code/datums/storage/storage.dm
  code/game/objects/items/storage/storage.dm
Labels: Code Improvement

#90451 Adds holodisk to the photography camera's description
  code/modules/photography/camera/camera.dm
Labels: Quality of Life

#90448 Fixes AI detector runtiming when it finds machine-users
  code/game/objects/items/devices/multitool.dm
Labels: Fix

#90467 Fixes certain mobs runtiming when dusted
  code/game/objects/structures/morgue.dm
  code/modules/mob/living/death.dm
Labels: Fix

#90465 Fixes delam hallucinations
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
Labels: Fix

#90461 Fixes `to_chat` never actually queuing
  code/controllers/master.dm
Labels: Fix

#90444 Implements cross-server newscaster channels
  code/datums/world_topic.dm
  code/game/machinery/newscaster/newscaster_data.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  tgui/packages/tgui/interfaces/Newscaster.jsx
  tgui/packages/tgui/interfaces/common/LoadingScreen.tsx
Labels: Feature

#90309 Bucket tool for the painting/canvas UI (plus other improvements and fixes)
  code/modules/art/paintings.dm
  code/modules/tgui/states/hold_or_view.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Canvas.tsx
Labels: Feature, Fix, Quality of Life

#90504 Adds the captain to the security department list.
  code/modules/jobs/job_types/captain.dm
Labels: Administration

#90421 Adds a sports betting/polling app
  code/__DEFINES/announcements.dm
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/economy.dm
  code/game/machinery/newscaster/newscaster_data.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  code/game/machinery/requests_console.dm
  code/modules/modular_computers/file_system/programs/betting.dm
  icons/obj/devices/modular_pda.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosSpaceBetting.tsx
Labels: Feature

#90511 Fix divine smites
  code/datums/status_effects/neutral.dm
  code/modules/admin/smites/_smite.dm
Labels: Fix, GBP: No Update

#90518 Fixes the flipped table spawners
  code/game/objects/effects/spawners/structure.dm
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#90512 Fixes accessories getting endlessly offset into oblivion after repeated attachment
  code/modules/clothing/under/accessories/_accessories.dm
Labels: Fix

#90485 Adds a message that reminds AIs how to speak through Holopads during ionospheric anomalies
  code/modules/events/communications_blackout.dm
Labels: Quality of Life

#90494 Bank Machines now accept coins
  code/game/machinery/bank_machine.dm
Labels: Fix, Good First PR, Quality of Life

#90515 Fixes persistent paintings load order
  code/controllers/subsystem/persistent_paintings.dm
Labels: Fix

#90527 New sprites for Envy Knife
  code/modules/mapfluff/ruins/objects_and_mobs/sin_ruins.dm
  icons/mob/inhands/equipment/kitchen_lefthand.dmi
  icons/mob/inhands/equipment/kitchen_righthand.dmi
  icons/obj/weapons/stabby.dmi
Labels: Sprites

#90300 fixes being able to pull mobs while riding them
  code/datums/components/riding/riding_mob.dm
Labels: Fix, Stale

#90539 Return link underlines
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui/styles/atomic/links.scss
Labels: UI

#90541 [NO GBP] Remove chat fieldset crutch
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
Labels: Fix, Removal, UI, GBP: No Update

#90543 Replace `Popper` with `Floating`
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
  tgui/packages/tgui/interfaces/InstrumentEditor.tsx
  tgui/packages/tgui/interfaces/ModularShieldGen.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/ChatScreen.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/index.tsx
  tgui/packages/tgui/interfaces/NtosSpaceBetting.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/names.tsx
  tgui/packages/tgui/interfaces/RequestManager.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.tsx
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
  tgui/yarn.lock
Labels: UI, Code Improvement

#90551 Fix deep fryer message timings being off
  code/__DEFINES/food.dm
  code/datums/elements/food/fried_item.dm
  code/modules/food_and_drinks/machinery/deep_fryer.dm
Labels: Fix

#90393 Adds some positive mutations
  code/datums/mutations/_combined.dm
  code/datums/mutations/_mutations.dm
  code/datums/mutations/body.dm
  code/datums/mutations/farsight.dm
  code/game/objects/items/stacks/golem_food/golem_status_effects.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/physiology.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  tgstation.dme
Labels: Feature, Stale

#90522 tgui: Shiny new dev tools
  tgui/.eslintrc.yml
  tgui/.swcrc
  tgui/.yarnrc.yml
  tgui/jest.config.js
  tgui/package.json
  tgui/packages/common/collections.spec.ts
  tgui/packages/common/package.json
  tgui/packages/common/redux.test.ts
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-dev-server/webpack.js
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-say/ChannelIterator.test.ts
  tgui/packages/tgui-say/ChatHistory.test.ts
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui/constants.test.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
  tgui/packages/tgui/interfaces/ExperimentConfigure.tsx
  tgui/packages/tgui/links.test.ts
  tgui/packages/tgui/package.json
  tgui/packages/tgui/sanitize.test.ts
  tgui/packages/tgui/styles/themes/ntos_terminal.scss
  tgui/packages/tgui/styles/themes/paper.scss
  tgui/rspack.config.cjs
  tgui/tsconfig.json
  tgui/vitest.config.mts
  tgui/yarn.lock
  tools/build/build.js
Labels: UI, 📌 Test Merge Candidate

#90546 Better metalgen logging and some behavior fixes
  code/datums/components/combustible_flooder.dm
  code/game/objects/effects/effect_system/fluid_spread/_fluid_spread.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/game/objects/objs.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Logging, Fix, Administration

#90562 Fixes quirks page gap
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
Labels: Fix, UI

#90569 Does my wooden table smashing reviews
  code/game/objects/structures/tables_racks.dm
Labels: GBP: No Update

#90566 adds 1s of delay to "perish"
  code/datums/actions/mobs/projectileattack.dm
Labels: Balance

#90564 Invisible walls can be leaned on
  code/datums/components/leanable.dm
  code/game/objects/effects/forcefields.dm
Labels: Feature

#90555 Fix hot spring runtime related to duplicate elements
  code/game/turfs/open/water.dm
Labels: Fix

#90520 Fixes grilles not updating their overlays properly
  code/game/objects/structures/grille.dm
Labels: Fix

#90568 Fix UI identations
  tgui/packages/tgui/interfaces/AirAlarm/screens/Home.tsx
  tgui/packages/tgui/interfaces/AntagInfoBrainwashed.tsx
  tgui/packages/tgui/interfaces/AntagInfoChangeling.tsx
  tgui/packages/tgui/interfaces/AntagInfoGlitch.tsx
  tgui/packages/tgui/interfaces/AntagInfoTraitor.tsx
  tgui/packages/tgui/interfaces/ApcControl.tsx
  tgui/packages/tgui/interfaces/Biogenerator.tsx
  tgui/packages/tgui/interfaces/Blueprints.tsx
  tgui/packages/tgui/interfaces/Cargo/CargoCart.tsx
  tgui/packages/tgui/interfaces/Cargo/CargoCatalog.tsx
  tgui/packages/tgui/interfaces/Cargo/index.tsx
  tgui/packages/tgui/interfaces/CargoExpress.tsx
  tgui/packages/tgui/interfaces/Changelog.jsx
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/ElevatorPanel.tsx
  tgui/packages/tgui/interfaces/LootPanel/index.tsx
  tgui/packages/tgui/interfaces/NtosNetChat.jsx
  tgui/packages/tgui/interfaces/NtosPortraitPrinter.jsx
  tgui/packages/tgui/interfaces/OrionGame.jsx
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
  tgui/packages/tgui/interfaces/Photocopier.tsx
  tgui/packages/tgui/interfaces/PlantAnalyzer.tsx
  tgui/packages/tgui/interfaces/ReligiousTool.jsx
  tgui/packages/tgui/interfaces/SelectEquipment.jsx
  tgui/packages/tgui/interfaces/TramControl.tsx
  tgui/packages/tgui/interfaces/TramPlaque.tsx
Labels: UI

#90464 Demolition mod is inverted vs "soft" structures like spider webs
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/item_attack.dm
  code/game/objects/effects/spiderwebs.dm
  code/game/objects/items/chainsaw.dm
  code/game/objects/items/fireaxe.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/game/objects/structures/curtains.dm
  code/modules/unit_tests/mecha_damage.dm
  code/modules/vehicles/mecha/mecha_defense.dm
Labels: Balance

#90574 Fixes the scrubber in Wawa Chapel Office
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#90579 Changes Whiteship window blastdoors from doors into shutters
  _maps/shuttles/whiteship_birdshot.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_cere.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/shuttles/whiteship_obelisk.dmm
  _maps/shuttles/whiteship_personalshuttle.dmm
  _maps/shuttles/whiteship_pubby.dmm
Labels: Fix, Map Edit

#90572 Lobby info is now part of the hud instead of stat panel
  code/_onclick/hud/new_player.dm
  code/controllers/subsystem/processing/newplayer.dm
  code/modules/mob/dead/dead.dm
  icons/hud/lobby/newplayer.dmi
  icons/hud/lobby/newplayer_scanline.dmi
  tgstation.dme
Labels: Quality of Life

#90578 Adds a blood level hud for vamp & soulscythe
  code/__DEFINES/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/soulscythe.dm
  code/modules/mining/lavaland/mining_loot/megafauna/bubblegum.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  icons/hud/screen_gen.dmi
  tgstation.dme
Labels: Quality of Life

#90561 Subsystems meant to represent/handle in-game networks moved under their own subfolder ( no code changes )
  code/controllers/subsystem/networks/README.md
  code/controllers/subsystem/networks/bitrunning.dm
  code/controllers/subsystem/networks/circuit_component.dm
  code/controllers/subsystem/networks/id_access.dm
  code/controllers/subsystem/networks/modular_computers.dm
  code/controllers/subsystem/networks/radio.dm
  code/controllers/subsystem/networks/research.dm
  code/controllers/subsystem/networks/wiremod_composite.dm
  tgstation.dme
Labels: Code Improvement

#90252 Reworks language translations. Add partial language understanding. Bilingual update.
  code/__HELPERS/text.dm
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/discord.dm
  code/datums/brain_damage/mild.dm
  code/datums/quirks/positive_quirks/bilingual.dm
  code/game/atoms_movable.dm
  code/game/machinery/telecomms/computers/logbrowser.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/game/say.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_procs.dm
  code/modules/client/preferences/language.dm
  code/modules/language/_language.dm
  code/modules/language/_language_holder.dm
  code/modules/language/_language_menu.dm
  code/modules/language/aphasia.dm
  code/modules/language/beachbum.dm
  code/modules/language/buzzwords.dm
  code/modules/language/calcic.dm
  code/modules/language/carptongue.dm
  code/modules/language/codespeak.dm
  code/modules/language/common.dm
  code/modules/language/draconic.dm
  code/modules/language/drone.dm
  code/modules/language/machine.dm
  code/modules/language/moffic.dm
  code/modules/language/monkey.dm
  code/modules/language/mushroom.dm
  code/modules/language/narsian.dm
  code/modules/language/nekomimetic.dm
  code/modules/language/piratespeak.dm
  code/modules/language/shadowtongue.dm
  code/modules/language/spinwarder.dm
  code/modules/language/sylvan.dm
  code/modules/language/terrum.dm
  code/modules/language/uncommon.dm
  code/modules/language/voltaic.dm
  code/modules/language/xenocommon.dm
  code/modules/mob/living/living_say.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/text.dm
  icons/ui/chat/language.dmi
  tgui/packages/tgui/interfaces/LanguageMenu.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/language.tsx
Labels: Feature, Fix, Refactor, Quality of Life, 📌 Test Merge Candidate

#90501 Adds some trailing commas to lists
  code/controllers/subsystem/ai_controllers.dm
  code/controllers/subsystem/ai_idle_controllers.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/assets.dm
  code/controllers/subsystem/atoms.dm
  code/controllers/subsystem/early_assets.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/icon_smooth.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/library.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machines.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/market.dm
  code/controllers/subsystem/networks/research.dm
  code/controllers/subsystem/ore_generation.dm
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/processing/ai_behaviors.dm
  code/controllers/subsystem/processing/ai_idle_behaviors.dm
  code/controllers/subsystem/processing/fishing.dm
  code/controllers/subsystem/radioactive_nebula.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/spatial_gridmap.dm
  code/controllers/subsystem/traitor.dm
  code/controllers/subsystem/unplanned_controllers.dm
  code/controllers/subsystem/wardrobe.dm
  code/controllers/subsystem/weather.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Code Improvement

#90441 Adds the ability to link forum accounts
  code/controllers/configuration/entries/general.dm
  code/modules/client/verbs/ooc.dm
  config/config.txt
Labels: Feature, Config Update

#90556 Spirit realm ghosts can't observe
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/OrbitSearchBar.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Balance

#90589 removes martial art hud as something on base hud
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/living.dm
  code/datums/martial/_martial.dm
Labels: Removal, Code Improvement

#90519 Partially fixes emissives not transforming with their parent
  code/__DEFINES/lighting.dm
  code/game/atoms_movable.dm
Labels: Fix, Quality of Life

#90588 Removes Blob HUD as a var on every single hud
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/blobbernaut.dm
  code/_onclick/hud/hud.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/mob/living/basic/blob_minions/blobbernaut.dm
  tgstation.dme
Labels: Removal, Refactor

#90612 Job assignment code at round start now properly respects any overflow caps set in the config files.
  code/controllers/subsystem/job.dm
Labels: Fix

#90604 Fixes "begins" in autopsy surgery step
  code/modules/surgery/autopsy.dm
Labels: Grammar and Formatting

#90596 Halves Settler quirk nutrition retention bonus
  code/datums/quirks/positive_quirks/settler.dm
Labels: Balance

#90590 Fix water reagent making certain turfs slippery
  code/__DEFINES/is_helpers.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#90475 Combat shotgun changes
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: Balance

#89689 holograms now momentarily glitch out when u interact with them
  code/datums/components/holographic_nature.dm
  code/game/machinery/hologram.dm
  code/game/objects/structures/holosign.dm
  code/modules/economy/holopay.dm
  code/modules/mob/living/basic/pets/orbie/orbie.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/pai/pai.dm
  tgstation.dme
Labels: Logging, Feature

#90495 Add wizard event - Magical Rain
  code/__DEFINES/weather.dm
  code/datums/weather/weather_types/rain_storm.dm
  code/modules/events/wizard/magical_rain.dm
  tgstation.dme
Labels: Feature

#90557 Cult armor slowly kills non-cultists & can be exorcised.
  code/game/objects/items/wizard_clothes.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/antagonists/cult/cult_armor.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/heretic/items/heretic_armor.dm
  code/modules/cargo/exports/lavaland.dm
  code/modules/clothing/suits/cloaks.dm
  code/modules/mob/living/basic/icemoon/wolf/wolf.dm
  code/modules/spells/spell_types/shapeshift/wolf.dm
  icons/mob/clothing/head/winterhood.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/clothing/neck_lefthand.dmi
  icons/mob/inhands/clothing/neck_righthand.dmi
  icons/obj/clothing/cloaks.dmi
  icons/obj/clothing/head/winterhood.dmi
  tgstation.dme
Labels: Balance, Feature

#90611 Bitrunner Glitch antagonists will not spawn on peaceful domains
  code/modules/bitrunning/event.dm
Labels: Balance

#90597 You can rotate scanner gates
  code/__DEFINES/rotation.dm
  code/datums/components/rotation.dm
  code/game/machinery/scanner_gate.dm
Labels: Quality of Life

#90426 Fixes Russian Roulette by refactoring the gun to not be an affront to god
  code/datums/mood_events/generic_negative_events.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/energy/laser_gatling.dm
  code/modules/projectiles/guns/special/grenade_launcher.dm
  code/modules/projectiles/guns/special/medbeam.dm
  code/modules/projectiles/guns/special/syringe_gun.dm
Labels: Fix, Refactor, Stale, Quality of Life

#90523 [NO GBP] Fixes camera consoles crashing clients
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
Labels: Fix, GBP: No Update, 📌 Test Merge Candidate

#90619 Clean up mob holder code
  code/modules/mob/living/inhand_holder.dm
Labels: Fix

#90482 Refactor a chunk of polaroid camera code
  code/modules/photography/camera/camera.dm
Labels: Grammar and Formatting, Fix, Refactor, Stale, Quality of Life

#90649 Fax checks contents for blacklists
  code/modules/paperwork/fax.dm
Labels: Fix

#90643 Fix scanline rendersteps trying to new before SSatom had been created
  code/__HELPERS/visual_effects.dm
Labels: Fix

#90642 Silicons have 66% understanding of uncommon roundstart languages
  code/modules/language/_language_holder.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: Feature

#90634 reset adjustable pane splitters
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/scaling.ts
Labels: UI, Quality of Life

#90598 Radio sfx option is in the radio instead of settings
  code/game/objects/items/devices/radio/radio.dm
  code/modules/client/preferences/sounds.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
  tgui/packages/tgui/interfaces/Radio.tsx
Labels: Quality of Life

#90585 Replace basic mob attack telegraph with slower reaction times
  code/__DEFINES/ai/ai_blackboard.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/modules/mob/living/basic/boss/thing/thing.dm
  code/modules/mob/living/basic/icemoon/ice_whelp/ice_whelp.dm
  code/modules/mob/living/basic/icemoon/wolf/wolf.dm
  code/modules/mob/living/basic/lavaland/basilisk/basilisk.dm
  code/modules/mob/living/basic/lavaland/goliath/goliath.dm
  code/modules/mob/living/basic/lavaland/legion/legion_brood.dm
  code/modules/mob/living/basic/lavaland/legion/legion_monkey.dm
Labels: Balance

#90565 Updates AI mech control messages
  code/modules/vehicles/mecha/mecha_ai_interaction.dm
  code/modules/vehicles/mecha/mecha_control_console.dm
Labels: Quality of Life

#90514 Fix synthflesh patch unhusking, improved feedback
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/medigel.dm
  code/modules/reagents/reagent_containers/patch.dm
Labels: Fix, Stale, Quality of Life

#90646 [tgui] Fixes dev server issues
  tgui/.yarnrc.yml
  tgui/package.json
  tgui/packages/tgui-dev-server/dreamseeker.js
  tgui/packages/tgui-dev-server/index.js
  tgui/packages/tgui-dev-server/link/client.mjs
  tgui/packages/tgui-dev-server/link/retrace.js
  tgui/packages/tgui-dev-server/link/server.js
  tgui/packages/tgui-dev-server/logging.js
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-dev-server/reloader.js
  tgui/packages/tgui-dev-server/require.js
  tgui/packages/tgui-dev-server/util.js
  tgui/packages/tgui-dev-server/webpack.js
  tgui/packages/tgui-dev-server/winreg.js
  tgui/packages/tgui-panel/index.tsx
  tgui/packages/tgui/debug/KitchenSink.jsx
  tgui/packages/tgui/debug/KitchenSink.tsx
  tgui/packages/tgui/debug/actions.ts
  tgui/packages/tgui/debug/hooks.ts
  tgui/packages/tgui/debug/middleware.ts
  tgui/packages/tgui/debug/reducer.ts
  tgui/packages/tgui/debug/selectors.js
  tgui/packages/tgui/debug/selectors.ts
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/logging.ts
  tgui/packages/tgui/stories/Blink.stories.tsx
  tgui/packages/tgui/stories/BlockQuote.stories.tsx
  tgui/packages/tgui/stories/Box.stories.tsx
  tgui/packages/tgui/stories/Button.stories.tsx
  tgui/packages/tgui/stories/ByondUi.stories.tsx
  tgui/packages/tgui/stories/Collapsible.stories.tsx
  tgui/packages/tgui/stories/Flex.stories.tsx
  tgui/packages/tgui/stories/Input.stories.tsx
  tgui/packages/tgui/stories/LabeledList.stories.tsx
  tgui/packages/tgui/stories/ProgressBar.stories.tsx
  tgui/packages/tgui/stories/Stack.stories.tsx
  tgui/packages/tgui/stories/Storage.stories.tsx
  tgui/packages/tgui/stories/Tabs.stories.tsx
  tgui/packages/tgui/stories/Themes.stories.tsx
  tgui/packages/tgui/stories/Tooltip.stories.tsx
  tgui/packages/tgui/stories/common.tsx
  tgui/rspack.config.cjs
  tgui/yarn.lock
Labels: Fix, UI

#90580 Removes some Preloaded Pacmans from metastation, and adds some to icebox and wawastation
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Removal, Map Edit

#90656 Adds trophy display cases to wawa
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Edit

#90581 Ports some signs from the wallening & updates various others
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/objects/structures/signs/signs_departments.dm
  code/game/objects/structures/signs/signs_maps.dm
  icons/obj/machines/restaurant_portal.dmi
  icons/obj/signs.dmi
Labels: Sprites, Map Edit

#90412 Modular Shuttle Madness
  _maps/shuttles/emergency_scrapheap.dmm
  _maps/shuttles/emergency_scrapheap/classic1.dmm
  _maps/shuttles/emergency_scrapheap/classic2.dmm
  _maps/shuttles/emergency_scrapheap/classic_aft1.dmm
  _maps/shuttles/emergency_scrapheap/classic_aft2.dmm
  _maps/shuttles/emergency_scrapheap/classic_aft3.dmm
  _maps/shuttles/emergency_scrapheap/classic_fore1.dmm
  _maps/shuttles/emergency_scrapheap/classic_fore2.dmm
  _maps/shuttles/emergency_scrapheap/classic_fore3.dmm
  _maps/shuttles/emergency_scrapheap/classic_starboard1.dmm
  _maps/shuttles/emergency_scrapheap/classic_starboard2.dmm
  code/datums/shuttles/_shuttle.dm
  code/datums/shuttles/emergency.dm
  strings/modular_maps/emergency_scrapheap.toml
Labels: Feature, Map Edit

#90430 Emp flashlight cost reduction
  code/modules/uplink/uplink_items/stealthy_tools.dm
Labels: Balance, Stale

#90680 Fix a runtime with FOV when moving diagonally
  code/modules/mob/living/living_fov.dm
Labels: Fix

#90664 Updates my username in the codeowners file
  .github/CODEOWNERS
Labels: GitHub

#90667 [s] Disallow href_tokens from being able to be read
  code/modules/admin/holder2.dm
Labels: Security

#90513 Stops the squeak component from playing step sounds when you are not walking
  code/datums/components/squeak.dm
Labels: Fix

#90693 [tgui] Bump dompurify to v3
  tgui/packages/tgui-panel/chat/middleware.ts
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui/package.json
  tgui/packages/tgui/sanitize.ts
  tgui/yarn.lock
Labels: UI

#90691 Fixes weather getting stuck and not affecting mobs
  code/controllers/subsystem/weather.dm
  code/datums/weather/weather.dm
Labels: Fix

#90681 Wearing a human skin suit "fools" analyzers
  code/datums/actions/items/toggles.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/clothing/suits/costume.dm
Labels: Feature, Fix

#90699 Fix categories in preferences menu
  tgui/packages/tgui/interfaces/PreferencesMenu/GamePreferences/TabbedMenu.tsx
Labels: Fix, UI

#90692 fixed manipulator throw mode UI
  tgui/packages/tgui/interfaces/BigManipulator.tsx
Labels: Fix, UI

#90685 Preference menu buttons are disabled until subsystem initializes
  code/_onclick/hud/new_player.dm
  code/controllers/subsystem.dm
  code/modules/client/preferences.dm
  icons/hud/lobby/character_setup.dmi
Labels: Fix

#90622 [FIX]: Allows surgery initiator items to be used while laying down, not just surgery drapes
  code/datums/components/surgery_initiator.dm
  code/modules/surgery/tools.dm
Labels: Fix

#90627 Objects crafted from lavaland fauna materials (bone, sinew, hide) are now fireproof and lavaproof. And also reinforced fishing lines.
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/clothing/gloves/bone.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/under/accessories/tribal.dm
  code/modules/fishing/fishing_equipment.dm
Labels: Fix

#90720 Adds scrollbars to windows that missed them (yet again, the fight never ends) + some tiny little adjustment(s)
  tgui/packages/tgui/interfaces/DnaConsole/index.jsx
  tgui/packages/tgui/interfaces/ExperimentConfigure.tsx
  tgui/packages/tgui/interfaces/Mule.tsx
  tgui/packages/tgui/interfaces/Radio.tsx
  tgui/packages/tgui/interfaces/SurgeryInitiator.tsx
  tgui/packages/tgui/interfaces/Techweb/disks/disks.tsx
  tgui/packages/tgui/interfaces/Techweb/nodes/detail.tsx
Labels: Fix, UI

#90701 Tourist bots track in dirt occasionally
  code/modules/mob/living/basic/space_fauna/robot_customer.dm
Labels: Feature

#90727 Drawing narsie updates your loc
  code/datums/components/cult_ritual_item.dm
Labels: Fix

#90608 [no gbp] Fixes tgui say input focus, again
  code/datums/keybinding/communication.dm
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/styles/main.scss
  tgui/packages/tgui-say/styles/styles.scss
Labels: Fix, GBP: No Update

#90599 Drinking alcohol cures severe anxiety
  code/datums/diseases/_disease.dm
  code/datums/diseases/anxiety.dm
Labels: Fix

#90721 Fix some wacky shuttle pipe interactions
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/atmospherics/machinery/pipes/smart.dm
  code/modules/shuttle/mobile_port/shuttle_move_callbacks.dm
Labels: Fix

#90614 Adds Common Second Language quirk, tweaks to partial understanding
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/say.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/negative_quirks/csl.dm
  code/game/atoms_movable.dm
  code/game/machinery/telecomms/computers/logbrowser.dm
  code/game/say.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/client/preferences/language.dm
  code/modules/language/_language.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/language.tsx
Labels: Feature, Quality of Life

#90722 Replaces harry potter references in wizard names
  strings/names/wizardfirst.txt
  strings/names/wizardsecond.txt
Labels: Grammar and Formatting

#90757 Possibly fixes build stalling issue
  tgui/rspack.config.cjs
Labels: UI, Priority: High

#90506 Adds map feedback thread support (AI stat panel buff)
  code/__HELPERS/roundend.dm
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/statpanel.dm
  code/datums/map_config.dm
  code/modules/client/client_procs.dm
  code/modules/escape_menu/details.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/mob.dm
  code/modules/pai/pai.dm
  config/maps.txt
  html/statbrowser.js
Labels: Administration, Quality of Life

#90542 Adds duct tape. Adds additional items for the purpose of various projectile based 'home construction projects' into the contraband section of parts vendors.
  code/game/objects/items/stacks/tape.dm
  code/modules/vending/assist.dm
  code/modules/vending/engivend.dm
Labels: Balance, Feature

#90739 Removes the debug box full of fish that doesn't work anymore.
  code/modules/fishing/fishing_equipment.dm
  code/modules/unit_tests/fish_unit_tests.dm
Labels: Removal

#90740 Fixing two (three?) issues related to fishing.
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/food/lizard.dm
  code/modules/fishing/fish/types/air_space.dm
  code/modules/fishing/fishing_portal_machine.dm
  code/modules/unit_tests/fish_unit_tests.dm
  icons/obj/food/lizard.dmi
Labels: Fix

#90772 Decals will fall downwards
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/decals/decal.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#90764 Delta Station Cargo Warehouse - BRM
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Edit

#90780 Fixes a weird misaligned mop on Tramstation
  _maps/map_files/tramstation/maintenance_modules/servicecargolower_1.dmm
Labels: Fix, Map Edit

#90779 Removes a harmful stereotype from the meatbun by replacing it with cannibalism, which is barely frowned upon in SS13
  code/game/objects/items/food/meatdish.dm
Labels: Fix, Removal

#90814 Moneybots are no longer capable of crashing the economy (or your game)
  code/modules/wiremod/shell/moneybot.dm
Labels: FUCK, Quality of Life

#90791 Cybernetic Hearts outright block Living Heart ritual (rather than allowing a replacement)
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: Balance

#89994 Unfucks /datum/browse code
  code/datums/browser.dm
  code/game/atom/atom_vv.dm
  code/game/objects/structures/detectiveboard.dm
  code/modules/admin/permissionedit.dm
  code/modules/admin/verbs/ert.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/admin/verbs/spawnobjasmob.dm
  code/modules/discord/accountlink.dm
  code/modules/error_handler/error_viewer.dm
  code/modules/tgui_panel/external.dm
  interface/interface.dm
Labels: Administration, Code Improvement, 📌 Test Merge Candidate

#90668 Look up/down now track with the thing you're inside
  code/modules/mob/living/living.dm
  code/modules/unit_tests/unit_test.dm
Labels: Fix, Stale

#90811 Fixes a small division by zero runtime with examining fishing spots (no it doesn't crash the server)
  code/modules/fishing/sources/_fish_source.dm
Labels: Fix

#90837 Fix faulty wielded force checks
  code/datums/components/twohanded.dm
Labels: Fix

#90835 [no gbp] Fixes tgui cleanup target
  tools/build/build.js
Labels: Tools, GBP: No Update, 📌 Test Merge Candidate

#90799 Fix: Minebot command text for activating lights
  code/modules/mob/living/basic/minebots/minebot_ai.dm
Labels: Fix

#90679 Fix Space Carp trying to go into portals for no reason
  code/modules/mob/living/basic/space_fauna/carp/carp_abilities.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
Labels: Fix, Stale

#90752 Makes Centcom Navigation much easier on the admins(For their IC larp)
  _maps/map_files/generic/CentCom.dmm
Labels: Map Edit

#90532 CatwalkStation
  _maps/_basemap.dm
  _maps/catwalkstation.json
  _maps/icebox.json
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/nebulastation.json
  _maps/shuttles/arrival_catwalk.dmm
  _maps/shuttles/cargo_catwalk.dmm
  _maps/shuttles/emergency_catwalk.dmm
  _maps/tramstation.json
  _maps/wawastation.json
  code/datums/map_config.dm
  code/datums/shuttles/arrival.dm
  code/datums/shuttles/cargo.dm
  code/datums/shuttles/emergency.dm
  code/game/area/areas/station/science.dm
  code/game/objects/items/storage/boxes/job_boxes.dm
  code/game/turfs/open/floor/hull.dm
  code/game/turfs/open/openspace.dm
  config/maps.txt
Labels: Feature, Map Edit, 📌 Test Merge Candidate

#90661 Infusing organs now makes you non-human
  code/__DEFINES/surgery.dm
  code/game/machinery/dna_infuser/dna_infusion.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Balance

#90866 fixes the guide comment remover [no gbp]
  tools/pull_request_hooks/removeGuideComments.js
Labels: Removal, Tools, GBP: No Update

#90741 Fishing lures box peeve
  code/controllers/subsystem/processing/fishing.dm
  code/modules/fishing/bait.dm
  code/modules/fishing/fishing_equipment.dm
Labels: Fix

#90747 Updates individual telecomm machines to autolink/operate properly cross zs
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/maths.dm
  code/controllers/subsystem/blackbox.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/machinery/telecomms/computers/message.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/processor_overload.dm
Labels: Fix

#90805 Allow for placing certain items directly on the floor, with precision
  code/datums/elements/floor_placeable.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/toy_mechs.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/trash.dm
  code/modules/clothing/head/cone.dm
  code/modules/clothing/suits/wetfloor.dm
  tgstation.dme
Labels: Sound, Feature

#90605 Aquariums have now three different modes (Manual/Assisted/Stasis)
  code/__DEFINES/fish.dm
  code/__HELPERS/cmp.dm
  code/datums/components/aquarium.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/mapfluff/ruins/spaceruin_code/hauntedtradingpost.dm
  tgui/packages/tgui/interfaces/Aquarium.tsx
Labels: Feature, Stale

#90609 Adds a bear suit, the cutting edge of bear-deception technology
  code/__DEFINES/mobfactions.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/clothing/head/hat.dm
  code/modules/clothing/suits/costume.dm
  code/modules/jobs/job_types/assistant/gimmick_assistants.dm
  code/modules/mob/living/basic/space_fauna/bear/_bear.dm
  icons/mob/clothing/suits/costume.dmi
  icons/obj/clothing/suits/costume.dmi
  icons/obj/stack_objects.dmi
Labels: Logging, Feature

#90784 Significantly tones down the embed probability of flechette rounds
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: Balance

#90888 Adds a maplint for disposal bins/chutes without accompanying trunks.
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
  _maps/modular_generic/station_l_webs.dmm
  _maps/virtual_domains/meta_central.dmm
  tools/maplint/lints/disposals_without_trunks.yml
Labels: Map Edit, Linting

#90887 lizard blood is dark green
  code/__DEFINES/colors.dm
  code/modules/mob/living/blood_types.dm
Labels: Feature

#90775 Xenobio tubes, QOL, & visual tweaks
  code/__DEFINES/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/food_and_drinks/machinery/monkeyrecycler.dm
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  icons/effects/effects.dmi
  icons/hud/screen_gen.dmi
  icons/obj/machines/kitchen.dmi
  sound/effects/compressed_air/air_shoot.ogg
  sound/effects/compressed_air/air_suck.ogg
  sound/effects/compressed_air/attribution.txt
Labels: Sprites, Feature, Quality of Life

#90893 Fixes a disposals loop on Catwalk's bridge
  _maps/map_files/CatwalkStation/CatwalkStation_2023.dmm
Labels: Fix, Map Edit

#90897 Fixes a couple of directional xenogib sprites that I missed [NO GBP]
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/dna.dm
  code/datums/quirks/negative_quirks/blood_deficiency.dm
  code/datums/quirks/neutral_quirks/evil.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/surgery/organs/organ_movement.dm
  icons/effects/blood.dmi
Labels: Sprites, GBP: No Update

#90877 Removes 'thrownby' var on items
  code/datums/components/boomerang.dm
  code/datums/elements/relay_attackers.dm
  code/datums/proximity_monitor/fields/heretic_arena.dm
  code/game/objects/items.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/drug_items.dm
  code/game/objects/items/melee/baton.dm
  code/modules/mapfluff/ruins/lavalandruin_code/biodome_winter.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/religion/sparring/sparring_datum.dm
Labels: Administration, Code Improvement

#90900 Fix health analyzer runtime on cybernetic organs
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Fix

#90713 DRAGnet; new sprite, new functionality
  code/datums/components/fantasy/suffixes.dm
  code/modules/cargo/packs/security.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/magic/staff.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy/net_snare.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/energy.dmi
  icons/obj/weapons/guns/projectiles.dmi
Labels: Sprites, Balance
