Repository tgstation/tgstation, pull requests merged in 2025-01, with the labels that each got.

#88770 [NO GBP] Fixes the date of when a trophy fish is caught
  code/controllers/subsystem/persistence/trophy_fishes.dm
Labels: Fix, GBP: No Update

#88753 Makes `drop_everything()` actually safe
  code/modules/admin/verbs/admin.dm
  code/modules/mob/inventory.dm
Labels: Fix

#88577 Fixes certain food buffs not applying, preemtively makes it less annoying
  code/datums/components/speechmod.dm
  code/datums/elements/food/love_food_buff.dm
  code/datums/status_effects/buffs/food/speech.dm
  code/game/objects/items/food/egg.dm
  code/game/objects/items/food/spaghetti.dm
  tgstation.dme
Labels: Fix, Stale, Quality of Life

#88735 [NO GBP] Small boxed messages tweaks
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
Labels: Administration, UI, GBP: No Update

#88822 Add currently playing song name to jukebox examine text
  code/game/machinery/dance_machine.dm
Labels: Quality of Life

#88760 You can chug glowstick fluid to get glowing eyes
  code/__DEFINES/colors.dm
  code/__DEFINES/lighting.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/datums/quirks/negative_quirks/photophobia.dm
  code/datums/station_traits/positive_traits.dm
  code/game/objects/items/devices/flashlight.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Feature

#88725 Adds command access requirement to the door between EVA and bridge on Nebula's escape shuttle
  _maps/shuttles/emergency_nebula.dmm
Labels: Fix, Stale, Map Edit

#88817 Brain in a jar
  code/datums/components/ghostrole_on_revive.dm
  code/modules/jobs/job_types/coroner.dm
  code/modules/lost_crew/lost_crew_manager.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/reagents/reagent_containers/cups/organ_jar.dm
  icons/obj/medical/chemical.dmi
  icons/obj/medical/reagent_fillings.dmi
  tgstation.dme
Labels: Sprites, Feature, Quality of Life

#88839 [NO GBP] Removes outdated examine line from spraycans
  code/game/objects/items/crayons.dm
Labels: Grammar and Formatting, Removal, GBP: No Update

#88843 Fixes a typo in battle rifle crate's description
  code/modules/cargo/packs/security.dm
Labels: Grammar and Formatting

#88511 Implements datumized embedding handlers in place of element-component-datum triad
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/_onclick/hud/alert.dm
  code/datums/components/dart_insert.dm
  code/datums/components/embedded.dm
  code/datums/components/tackle.dm
  code/datums/elements/caseless.dm
  code/datums/elements/embed.dm
  code/datums/embed_data.dm
  code/datums/embedding.dm
  code/datums/mutations/tongue_spike.dm
  code/game/objects/effects/posters/poster.dm
  code/game/objects/items.dm
  code/game/objects/items/grenades/plastic.dm
  code/game/objects/items/knives.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/robot/items/food.dm
  code/game/objects/items/shrapnel.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/tape.dm
  code/game/objects/items/tail_pin.dm
  code/game/objects/items/weaponry.dm
  code/modules/antagonists/heretic/structures/carving_knife.dm
  code/modules/events/wizard/embeddies.dm
  code/modules/fishing/fish/types/rift.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/bullets/junk.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/spells/spell_types/self/summonitem.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/unit_tests/embedding.dm
  code/modules/vehicles/vehicle_key.dm
  code/modules/vending/_vending.dm
  tgstation.dme
Labels: Fix, Refactor

#88732 Fixes rolling table being able to carry an infinite amount of dwarves
  code/game/objects/structures/tables_racks.dm
Labels: Fix

#88759 Folders and paper biscuits no longer share their color with their contents
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper_biscuit.dm
Labels: Fix

#88796 Fixes inconsistent behavior in tgui checkboxes
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
Labels: UI, Code Improvement

#88854 Moves the compact combat shotgun back into the warden's locker
  code/game/gamemodes/objective_items.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Balance

#88774 [NO GBP] Fixes HUD implant message being reversed
  code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
Labels: Fix, GBP: No Update

#88651 Fix pAIs interacting with machinery
  code/__DEFINES/mobs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Labels: Fix, Stale

#88825 Wearable HUD Toggle
  code/datums/actions/items/toggles.dm
  code/modules/clothing/glasses/hud.dm
Labels: Quality of Life

#88859 Fixes admin observe showing all antags as revs upon enabling Real Name Display
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitTooltip.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Administration, UI

#88841 Adds TTS logging when something goes wrong
  code/__DEFINES/logging.dm
  code/__HELPERS/logging/debug.dm
  code/controllers/subsystem/tts.dm
  code/datums/http.dm
  code/modules/logging/categories/log_category_debug.dm
Labels: Logging

#88855 Allow experimental scanner to work with multiple items
  code/modules/experisci/experiment/handlers/experiment_handler.dm
Labels: Good First PR, Quality of Life

#88730 Traitor Destroy Blackbox Objective now tells you how to destroy it.
  code/game/gamemodes/objective_items.dm
  code/modules/antagonists/traitor/objectives/destroy_item.dm
Labels: Quality of Life

#88852 miscellaneous mining-related fixes
  code/datums/components/armor_plate.dm
  code/modules/mining/equipment/kinetic_crusher/kinetic_crusher.dm
  code/modules/mob/living/living_defense.dm
Labels: Fix

#88844 virtual pets now auto-follow you on release
  code/__DEFINES/dcs/signals/signals_object.dm
  code/modules/mob/living/basic/pets/orbie/orbie_ai.dm
  code/modules/modular_computers/file_system/programs/virtual_pet.dm
Labels: Quality of Life

#88290 You can now try to fish random products out of vending machines with a fishing rod and a few bucks.
  code/__DEFINES/economy.dm
  code/__DEFINES/fish.dm
  code/__HELPERS/cmp.dm
  code/controllers/subsystem/economy.dm
  code/datums/components/fishing_spot.dm
  code/game/objects/items/credit_holochip.dm
  code/game/objects/items/stacks/cash.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/mining/ores_coins.dm
  code/modules/vending/_vending.dm
  code/modules/vending/sustenance.dm
  icons/hud/radial_fishing.dmi
  strings/fishing_tips.txt
Labels: Sprites, Feature

#88808 [NO GBP] Brings back ethereal heart's shine overlay
  code/modules/surgery/organs/internal/heart/heart_ethereal.dm
Labels: Fix, GBP: No Update

#88840 Resprites (Desoulifies) the minecart and thins the rails so they fit the sprite more
  code/modules/mining/mine_items.dm
  icons/obj/storage/crates.dmi
  icons/obj/track.dmi
Labels: Sprites

#88752 Sound caching, maintenance ambience improvements
  code/controllers/subsystem/ambience.dm
  code/controllers/subsystem/sounds.dm
  code/game/area/areas.dm
  code/game/area/areas/centcom.dm
  code/game/area/areas/mining.dm
  code/game/area/areas/misc.dm
  code/game/area/areas/station/engineering.dm
  code/game/area/areas/station/medical.dm
  sound/ambience/maintenance/ambimaint.ogg
  sound/ambience/maintenance/ambimaint1.ogg
  sound/ambience/maintenance/ambimaint10.ogg
  sound/ambience/maintenance/ambimaint12.ogg
  sound/ambience/maintenance/ambimaint2.ogg
  sound/ambience/maintenance/ambimaint3.ogg
  sound/ambience/maintenance/ambimaint4.ogg
  sound/ambience/maintenance/ambimaint5.ogg
  sound/ambience/maintenance/source_corridor2.ogg
Labels: Sound, Fix, Refactor

#88741 Standarizes ammo band colors into defines, makes them brighter, and widens battle rifle bands
  code/__DEFINES/colors.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  icons/obj/weapons/guns/ammo.dmi
Labels: Sprites, Stale

#88809 Post-Rift Tuning
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/types/rift.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Balance, Feature, Fix

#88791 Bumps fontawesome to latest
  code/__DEFINES/font_awesome_icons.dm
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-v4compatibility.ttf
Labels: UI, Dependencies

#88896 fixes corgi pop skyrocketing
  code/__DEFINES/ai/pets.dm
  code/datums/ai/babies/babies_behaviors.dm
  code/datums/ai/babies/babies_subtrees.dm
  code/datums/ai/dog/dog_controller.dm
  code/datums/components/breeding.dm
  code/modules/mob/living/basic/lavaland/gutlunchers/gutlunchers.dm
  code/modules/mob/living/basic/lavaland/raptor/_raptor.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/basic/pets/cat/runtime.dm
  code/modules/mob/living/basic/pets/dog/corgi.dm
Labels: Fix

#88893 [NO GBP] Fixes items not embedding
  code/datums/embedding.dm
  code/game/objects/items.dm
Labels: Fix, GBP: No Update

#88690 You can light a match on the heel of your boot
  code/datums/elements/ignites_matches.dm
  code/game/objects/items/cigarettes.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/storage/boxes/service_boxes.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/antagonists/heretic/magic/star_touch.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/clown.dm
  code/modules/clothing/shoes/cowboy.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/surgery/tools.dm
  icons/obj/cigarettes.dmi
  strings/sillytips.txt
  strings/tips.txt
  tgstation.dme
Labels: Sprites, Feature, Stale

#88889 Magazine Miscellany (and a very small tidbit of gun examine QoL)
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  tools/UpdatePaths/Scripts/88889_surplusriflemags.txt
Labels: Grammar and Formatting, Quality of Life

#88756 Adds a new area flag, LOCAL_TELEPORT, given to virtual domains and deathmatch arenas.
  code/__DEFINES/_flags.dm
  code/datums/actions/items/vortex_recall.dm
  code/datums/components/dejavu.dm
  code/datums/helper_datums/teleport.dm
  code/game/machinery/computer/teleporter.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/game/objects/items/implants/security/implant_beacon.dm
  code/game/objects/items/teleportation.dm
  code/modules/bitrunning/areas.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/deathmatch/deathmatch_mapping.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mod/modules/modules_timeline.dm
  code/modules/research/xenobiology/crossbreeding/consuming.dm
  code/modules/spells/spell_types/jaunt/_jaunt.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
Labels: Code Improvement

#88897 [NO GBP] Fixes glowsticks not glowing
  code/game/objects/items/devices/flashlight.dm
Labels: Fix, GBP: No Update

#88871 Buckling sound for chairs and medical beds
  code/__DEFINES/sound.dm
  code/game/objects/buckling.dm
  code/game/objects/objs.dm
  code/game/objects/structures/beds_chairs/bed.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/sound.dm
  sound/machines/buckle/attribution.txt
  sound/machines/buckle/buckle1.ogg
  sound/machines/buckle/buckle2.ogg
  sound/machines/buckle/buckle3.ogg
  sound/machines/buckle/unbuckle1.ogg
  sound/machines/buckle/unbuckle2.ogg
  sound/machines/buckle/unbuckle3.ogg
Labels: Sound

#88766 Flatten skin sidebar
  html/statbrowser.css
  html/statbrowser.html
  interface/skin.dmf
  tgui/packages/tgui-panel/themes.ts
Labels: Stale, UI, Quality of Life

#88813 uses the nt frequency define for loaded modlinks instead of just "NT"
  code/modules/mod/mod_link.dm
Labels: Code Improvement

#88875 [NO GBP] Fixes a flaw in Overwatch Agent bodycam distribution
  code/modules/antagonists/nukeop/datums/operative_support.dm
Labels: Fix, GBP: No Update

#88793 Fixes broadcast cameras mob icon
  icons/mob/inhands/items/devices_lefthand.dmi
  icons/mob/inhands/items/devices_righthand.dmi
Labels: Sprites, Fix, Stale

#88912 Fixes a couple of bad locate() procs
  code/modules/antagonists/heretic/magic/ash_ascension.dm
Labels: Fix

#88718 Add `SECONDS` defines to looping sounds time variables
  code/datums/looping_sounds/acid.dm
  code/datums/looping_sounds/item_sounds.dm
  code/datums/looping_sounds/machinery_sounds.dm
  code/datums/looping_sounds/weather.dm
Labels: Stale, Code Improvement

#88917 Fix a bunch of html UI's for 516
  code/controllers/subsystem/dynamic/dynamic.dm
  code/datums/profiling.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/tag.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mapping/verify.dm
  html/admin/search.js
Labels: Fix

#88829 [NO GBP] *Properly* rebuild plane masters after client login if switching between 515 and 516
  code/_onclick/hud/hud.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
Labels: Fix, GBP: No Update

#88717 Add snow pickup and drop sounds to material
  code/game/objects/items/stacks/sheets/mineral.dm
  sound/attributions.txt
  sound/items/handling/materials/snow_drop.ogg
  sound/items/handling/materials/snow_pick_up.ogg
Labels: Sound, Fix, Stale

#88881 UI data improvements for plumbing reaction chamber
  code/modules/plumbing/plumbers/reaction_chamber.dm
Labels: Code Improvement

#88848 Fixes shuttles leaving replaced floors behind
  code/game/area/areas.dm
  code/game/area/areas/shuttles.dm
  code/game/turfs/baseturfs.dm
Labels: Fix

#88827 Makes the Syndie Lipstick's uplink desc more descriptive
  code/modules/uplink/uplink_items/stealthy.dm
Labels: Quality of Life

#88880 Fixes sign language action signal registering bugs
  code/datums/actions/mobs/sign_language.dm
Labels: Fix

#88908 [no gbp] fixes turtles rerolling strange seed chems
  code/modules/mob/living/basic/turtle/turtle.dm
Labels: Fix, GBP: No Update

#88728 Pre-filled test tube rack fixes
  code/datums/storage/subtypes/test_tube_rack.dm
  code/game/objects/items/storage/medkit.dm
  tgstation.dme
Labels: Fix, Stale

#88715 Un-hardcodes midround AI hologram selection
  code/__DEFINES/mobs.dm
  code/modules/mob/living/silicon/ai/_preferences.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Code Improvement

#88925 Fixes rave visor deleting its music player on deactivation (and spamming runtimes)
  code/modules/mod/modules/modules_maint.dm
Labels: Fix

#88913 Wigs have the hat stabilizer component, letting you put hats on your wig. 'The 'Wig' in the loadout is now correctly named 'Natural Wig'.
  code/modules/clothing/head/wig.dm
  code/modules/loadout/categories/heads.dm
Labels: Grammar and Formatting, Quality of Life

#88926 COMSIG_ELEMENT_DETACH documentation spellcheck
  code/__DEFINES/dcs/signals/signals_datum.dm
Labels: Grammar and Formatting

#88788 Fixes things being statistically weighted to drop in security
  code/__HELPERS/turfs.dm
  code/controllers/subsystem/market.dm
  code/datums/station_traits/negative_traits.dm
  code/game/objects/items/crab17.dm
  code/modules/admin/admin_verbs.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/voidwalker/voidwalker_kidnap.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/antagonists/wizard/grand_ritual/grand_rune.dm
  code/modules/awaymissions/signpost.dm
  code/modules/events/electrical_storm.dm
  code/modules/explorer_drone/exodrone.dm
Labels: Fix, Code Improvement

#88930 Even More Magazine Miscellany - Pen Interactions, Stripes, Descriptions
  code/__DEFINES/colors.dm
  code/__DEFINES/magazines.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/external/grenade.dm
  code/modules/projectiles/boxes_magazines/external/lmg.dm
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/projectiles/boxes_magazines/external/shotgun.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/boxes_magazines/external/sniper.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  icons/obj/weapons/guns/ammo.dmi
  tgstation.dme
Labels: Sprites, Feature, Quality of Life

#88938 Nails a fishing flaky to the wall
  code/modules/fishing/fish_mount.dm
Labels: Fix

#88937 Firing a burst fire gun as a Pacifist no longer permanently breaks the weapon
  code/modules/projectiles/gun.dm
Labels: Fix

#88847 Harvesting organs from other players and selling them is now rewarded
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/modules/cargo/exports/organs.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/surgery/organs/_organ.dm
Labels: Feature

#88929 Buffs the tesla cannon and makes it hitscan
  code/__DEFINES/research/anomalies.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy/tesla.dm
Labels: Balance

#88940 [NO GBP] Fixes incorrect ignore_throwspeed_threshold on sticky tape
  code/game/objects/items/stacks/tape.dm
Labels: Fix, GBP: No Update

#88944 Renames the bar portal from "restaurant portal"
  code/modules/food_and_drinks/restaurant/generic_venues.dm
Labels: Fix

#88876 Allows you to look down ladders, both via verb/hotkey and, yknow, visually
  code/__DEFINES/turfs.dm
  code/datums/elements/turf_transparency.dm
  code/game/objects/structures/ladders.dm
  code/game/turfs/open/floor/glass.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  icons/obj/structures.dmi
Labels: Sprites, Quality of Life

#88891 MMIs in an odysseus get the medhud, medical beamgun works properly
  code/modules/projectiles/guns/special/medbeam.dm
  code/modules/vehicles/mecha/equipment/tools/medical_tools.dm
  code/modules/vehicles/mecha/medical/odysseus.dm
Labels: Fix

#88927 Adds blinking and a new Fluoride Stare quirk
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/manual_blinking.dm
  code/datums/quirks/negative_quirks/fluoride_stare.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/game/machinery/dna_infuser/organ_sets/goliath_organs.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  code/modules/antagonists/voidwalker/voidwalker_organs.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  icons/obj/medical/organs/organs.dmi
  tgstation.dme
Labels: Sprites, Feature

#88954 Overdose thresholds now positively scale with high purity
  code/modules/reagents/chemistry/reagents.dm
Labels: Fix

#88988 Adds a .NET 9 SDK setup action to linters
  .github/workflows/ci_suite.yml
Labels: GitHub

#88947 Deconverting a revolutionary now throws a balloon alert alongside the chat text.
  code/modules/antagonists/revolution/revolution.dm
Labels: Quality of Life

#88948 pawnless ai controllers dont harddel
  code/datums/ai/_ai_controller.dm
Labels: Fix, Hard Deletes

#88967 Fix some inverted teleport validation checks
  code/datums/components/dejavu.dm
  code/game/objects/items/implants/security/implant_beacon.dm
  code/game/objects/items/teleportation.dm
  code/modules/mod/modules/modules_timeline.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
Labels: Fix

#88861 Xenomorphs transfer non-standard organs (including the absence of such organs) on evolution.
  code/modules/mob/living/carbon/alien/adult/adult.dm
  code/modules/mob/living/carbon/alien/adult/caste/drone.dm
  code/modules/mob/living/carbon/alien/adult/caste/hunter.dm
  code/modules/mob/living/carbon/alien/adult/caste/praetorian.dm
  code/modules/mob/living/carbon/alien/adult/caste/sentinel.dm
  code/modules/mob/living/carbon/alien/adult/queen.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: Fix, Stale, Quality of Life

#88547 Add hair clipper sound
  code/game/objects/items/cosmetics.dm
  sound/attributions.txt
  sound/items/hair-clippers.ogg
Labels: Sound, Stale

#88903 Bumps tgui core version
  tgui/packages/tgui-bench/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-panel/styles/main.scss
  tgui/packages/tgui-panel/styles/themes/light.scss
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui-say/styles/main.scss
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/interfaces/Fabricator.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/abductor.scss
  tgui/packages/tgui/styles/themes/cardtable.scss
  tgui/packages/tgui/styles/themes/hackerman.scss
  tgui/packages/tgui/styles/themes/malfunction.scss
  tgui/packages/tgui/styles/themes/neutral.scss
  tgui/packages/tgui/styles/themes/ntOS95.scss
  tgui/packages/tgui/styles/themes/ntos.scss
  tgui/packages/tgui/styles/themes/ntos_cat.scss
  tgui/packages/tgui/styles/themes/ntos_darkmode.scss
  tgui/packages/tgui/styles/themes/ntos_lightmode.scss
  tgui/packages/tgui/styles/themes/ntos_spooky.scss
  tgui/packages/tgui/styles/themes/ntos_synth.scss
  tgui/packages/tgui/styles/themes/ntos_terminal.scss
  tgui/packages/tgui/styles/themes/paper.scss
  tgui/packages/tgui/styles/themes/retro.scss
  tgui/packages/tgui/styles/themes/spookyconsole.scss
  tgui/packages/tgui/styles/themes/syndicate.scss
  tgui/packages/tgui/styles/themes/wizard.scss
  tgui/yarn.lock
Labels: UI, Dependencies

#88916 succesful -> successful
  code/__DEFINES/ai/vending.dm
  code/__DEFINES/dcs/signals/signals_voidwalker.dm
  code/datums/ai/generic/generic_behaviors.dm
  code/datums/ai/objects/vending_machines/vending_machine_behaviors.dm
  code/datums/ai/objects/vending_machines/vending_machine_controller.dm
  code/datums/components/space_kidnap.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/voidwalker/voidwalker_void_eater.dm
  code/modules/cargo/markets/market_item.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  code/modules/experisci/experiment/types/experiment.dm
  code/modules/explorer_drone/adventure.dm
  code/modules/lost_crew/character/_assignment.dm
  code/modules/lost_crew/lost_crew_manager.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/plumbing/plumbers/teleporter.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/surgery/organs/internal/heart/heart_ethereal.dm
  tgui/packages/tgui/interfaces/RequestsConsole/AnnouncementTab.tsx
Labels: Grammar and Formatting, UI

#88995 Fixes the trimline decal
  icons/turf/decals.dmi
Labels: Sprites, Fix

#88960 Ethereals: Standardize defines, lower hunger rate, refactor charging methods
  code/__DEFINES/mobs.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/power_store.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: Balance, Fix, Refactor, Quality of Life

#88992 ProcArgumentGlobal pragma as error from warning
  tools/ci/od_lints.dm
Labels: Tools, Code Improvement

#88890 Changed job post-equip order to fix station trait issues
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/mime.dm
Labels: Fix

#88899 Fixes chameleon cards not updating sechud icons
  code/controllers/subsystem/id_access.dm
  code/game/objects/items/cards_ids.dm
  icons/obj/card.dmi
Labels: Sprites, Fix

#88906 SaturnX no longer destroys player's retinas
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Labels: Balance

#88922 Allows admins to filter observable mobs by ckey
  code/modules/mob/dead/observer/orbit.dm
  tgui/packages/tgui/interfaces/Orbit/OrbitCollapsible.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitSearchBar.tsx
  tgui/packages/tgui/interfaces/Orbit/helpers.ts
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: Administration

#88990 Improves mindbreaker toxin description
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Grammar and Formatting

#89015 [NO GBP] Blinking no longer stacks lizard overlays
  code/modules/mob/living/carbon/human/emote.dm
Labels: Fix, GBP: No Update

#89014 Fix calibre define text
  code/__DEFINES/projectiles.dm
Labels: Grammar and Formatting

#89009 Fixes all luminescent fluid giving unnaturally red eyes on overdose, instead of just the red one
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Fix

#88985 Fixes custom vendors not displaying custom item names
  code/modules/vending/_vending.dm
Labels: Fix

#88981 ink kisses now delete the spawned projectile
  code/game/objects/items/hand_items.dm
Labels: Fix

#88958 Deprioritise phobias in two sources of random trauma
  code/datums/brain_damage/severe.dm
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  code/modules/surgery/organs/internal/heart/heart_ethereal.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/ethereal_revival.dm
Labels: Fix, Unit Tests

#88826 Adds an off-by-default config option to optionally disable TTS audio on whispered speech.
  code/controllers/configuration/entries/game_options.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  config/config.txt
Labels: Sound, Config Update, 📌 Test Merge Candidate

#88983 Add mousetraps cargo crate to service category
  code/modules/cargo/packs/service.dm
Labels: Feature

#89003 Heretics dream of objects around unused influences
  code/modules/flufftext/Dreaming.dm
  strings/tips.txt
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
Labels: Feature, UI

#89022 Fixes broken instances of overflowY for 516
  tgui/packages/tgui/interfaces/OreSilo.tsx
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
  tgui/packages/tgui/interfaces/TelecommsMonitor.tsx
  tgui/packages/tgui/interfaces/Uplink/GenericUplink.tsx
Labels: Fix, UI

#89020 Stack crafting images
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/stack_recipe.dm
  tgui/packages/tgui/interfaces/StackCrafting.tsx
  tgui/packages/tgui/interfaces/common/SearchBar.tsx
Labels: UI

#88942 Gives cult's blood barrage unique sprites
  code/modules/antagonists/cult/cult_items.dm
  icons/obj/weapons/guns/projectiles.dmi
Labels: Sprites

#89005 One Meta Decal Fix
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Fix, Map Edit

#89016 Fixes bluespace fishing rod issues.
  code/modules/fishing/fishing_minigame.dm
Labels: Fix

#89001 Fixes fake nuclear disks escaping the digital world.
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
Labels: Fix

#88824 Fix emag not working on secure briefcases and safes
  code/datums/components/lockable_storage.dm
  code/game/machinery/buttons.dm
  icons/obj/storage/case.dmi
  icons/obj/storage/storage.dmi
Labels: Sprites, Feature, Stale

#89049 [s] Records / PAI patching
  code/controllers/subsystem/pai.dm
  code/game/machinery/computer/records/medical.dm
  code/game/machinery/computer/records/records.dm
Labels: Fix, FUCK, Priority: High

#88923 Adds a barbot seat projector to Wawa's bar
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit

#88900 Makes icebox's cargo warehouse on par with other stations
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Stale, Map Edit, Quality of Life

#88905 Fixes wawa's xenobio reagent grinders being inaccessible
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Stale, Map Edit

#88993 Charge up Tram's TCOMMS SMES
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#88873 [Icebox] Remaps Tech Storage, Public Mining, and Nearby Maint
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Feature, Map Edit

#88980 Fix a few wall mounted issues on icebox
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Edit

#88668 Metastation cargo maintenence
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
Labels: Fix, Stale, Map Edit

#88957 Updates the Turreted Outpost space ruin
  _maps/RandomRuins/SpaceRuins/turretedoutpost.dmm
  code/game/machinery/porta_turret/portable_turret.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
Labels: Map Edit

#88931 [BIRDSHOT] Turning down the thermostat for a seasonal edge.
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Edit

#88907 Fixes camouflage implant missing icon
  code/modules/antagonists/fugitive/fugitive_equipment.dm
Labels: Fix, Stale

#88751 makes the plasma visor overlay a lighter color and also actually work for modsuits
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_maint.dm
Labels: Fix

#89019 Drastically improves body marking update (and filter performance) by not calling it like 50 times per update call
  code/datums/bodypart_overlays/markings_bodypart_overlay.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Performance

#88902 Nuar glasses for detective
  code/modules/clothing/glasses/_glasses.dm
  code/modules/vending/wardrobes.dm
Labels: Feature, Stale

#89039 Fixing a small typo within contractor.dm
  code/modules/uplink/uplink_items/contractor.dm
Labels: Grammar and Formatting

#89043 Fixes a barricade balloon runtime
  code/game/machinery/deployable.dm
Labels: Fix

#89028 Radio examine qol
  code/__DEFINES/span.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: Code Improvement, Quality of Life

#89033 Space carp speech includes fish puns
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
Labels: Feature

#89041 Fixes icon spacing in late join ui
  tgui/packages/tgui/interfaces/JobSelection.tsx
Labels: Fix, UI

#89011 Cap perceived food quality, fix examine index out of bounds runtime when perceived food quality is too high
  code/datums/components/food/edible.dm
Labels: Fix

#89024 Fix an icon smoothing runtime caused by shuttles during recursive map loading
  code/modules/shuttle/stationary_port/stationary_port.dm
Labels: Fix

#88991 Fixes the watcher trophy not working on basic mobs
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/crusher_defines.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/datums/components/ranged_attacks.dm
  code/modules/mining/equipment/kinetic_crusher/kinetic_crusher_trophies.dm
  code/modules/mining/equipment/kinetic_crusher/trophies_fauna.dm
  code/modules/mining/equipment/kinetic_crusher/trophies_megafauna.dm
  tgstation.dme
Labels: Fix

#89045 The RCD can print hydroponics airlocks
  code/_globalvars/lists/rcd.dm
Labels: Fix

#89048 Aquarium component: fixes admiring, fixes panel context, improves context
  code/datums/components/aquarium.dm
Labels: Fix, Quality of Life

#89036 Sanitizes custom vendor inputs, and fixes a division by zero in their examine code
  code/modules/vending/_vending.dm
Labels: Fix

#88973 Adds a localhost-only "Start Now" lobby button
  code/_onclick/hud/new_player.dm
  icons/hud/lobby/start_now.dmi
Labels: Sprites, Administration

#88959 Corpses with clients in them can no longer perform mech actions
  code/modules/tgui/status_composers.dm
  code/modules/vehicles/mecha/combat/durand.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/phazon.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  code/modules/vehicles/mecha/mecha_actions.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  code/modules/vehicles/mecha/working/clarke.dm
  code/modules/vehicles/mecha/working/ripley.dm
  code/modules/vehicles/sealed.dm
Labels: Fix

#88949 Updates the same-tile-item ban map lint to clarify it means the same tile and not adjacent tiles
  tools/maplint/source/lint.py
Labels: Tools

#88943 Culture bottles now properly copy their cure from the inserted beaker
  code/modules/reagents/chemistry/machinery/pandemic.dm
Labels: Fix

#88888 machine board naming convention pass
  code/game/machinery/gulag_teleporter.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/cargo/markets/market_telepad.dm
  code/modules/research/designs/autolathe/mining.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
Labels: Grammar and Formatting

#88816 Fix airlock authentication card not getting stored in containers
  code/game/objects/items/emags.dm
Labels: Fix

#88812 like 5 tiny deathmatch changes
  code/datums/components/chasm.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/deathmatch/deathmatch_lobby.dm
  tgui/packages/tgui/interfaces/DeathmatchPanel.tsx
Labels: Fix, UI

#89027 Improves mind lockbox handling
  code/game/objects/items/storage/lockbox.dm
  code/modules/lost_crew/lost_crew_manager.dm
Labels: Quality of Life

#88953 Changes mob height from getter -> updater
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/tackle.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: Performance

#89053 Improves performance of `convert_reagent()`
  code/modules/reagents/chemistry/holder/holder.dm
Labels: Fix, Code Improvement

#89044 Fixes a runtime in requests console error logging
  code/modules/mapping/mapping_helpers.dm
Labels: Logging, Fix

#89035 show admins classified reports
  code/modules/admin/verbs/commandreport.dm
Labels: Administration

#89055 [no gbp] some wawa fixes
  _maps/map_files/wawastation/wawastation.dmm
Labels: Fix, Map Edit, GBP: No Update

#89067 Apc controller in TS
  tgui/packages/tgui/interfaces/AdventureBrowser.tsx
  tgui/packages/tgui/interfaces/ApcControl.jsx
  tgui/packages/tgui/interfaces/ApcControl.tsx
Labels: Fix, UI

#89058 You can no longer get stuck in stacked lockers
  code/game/objects/structures/crates_lockers/closets.dm
Labels: Fix

#88976 Change layer manifold and smart pipe volumes to be consistent with other pipes
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/atmospherics/machinery/pipes/smart.dm
Labels: Fix

#88883 Fix kinetic accelerator cooldown mods becoming permanent
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix

#89054 Fixes runtime & code for anomaly effects
  code/game/objects/effects/anomalies/_anomalies.dm
  code/game/objects/effects/anomalies/anomalies_bioscrambler.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/game/objects/effects/anomalies/anomalies_dimensional.dm
  code/game/objects/effects/anomalies/anomalies_ectoplasm.dm
  code/game/objects/effects/anomalies/anomalies_flux.dm
  code/game/objects/effects/anomalies/anomalies_gravity.dm
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
  code/game/objects/effects/anomalies/anomalies_pyroclastic.dm
  code/modules/antagonists/wizard/grand_ritual/grand_side_effect.dm
Labels: Fix, Code Improvement

#88998 Plant Analyzer UI
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/objects.dm
  code/game/objects/items/devices/scanners/plant_analyzer.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/hydroponics/seed_extractor.dm
  code/modules/hydroponics/unique_plant_genes.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PlantAnalyzer.tsx
  tgui/packages/tgui/interfaces/SeedExtractor.tsx
Labels: Removal, UI, Quality of Life

#89064 Admin pda in typescript
  tgui/packages/tgui/interfaces/AdminPDA.jsx
  tgui/packages/tgui/interfaces/AdminPDA.tsx
Labels: Administration, UI

#89070 Herignis heats up reagents inside mobs again
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: Fix

#89069 Mawed crucible no longer tries to refill when it can't
  code/modules/antagonists/heretic/structures/mawed_crucible.dm
Labels: Fix

#88797 Department orders credit reward and cooldown time now use a logarithmic scale
  code/__DEFINES/cargo.dm
  code/datums/elements/deliver_first.dm
  code/modules/modular_computers/file_system/programs/dept_order.dm
  tgui/packages/tgui/interfaces/NtosDeptOrder.tsx
Labels: Balance, UI

#88591 Nearsighted severity sources (with unit test) + status_effect/grouped minor rework
  code/__DEFINES/status_effects.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/status_effects/debuffs/hooked.dm
  code/datums/status_effects/debuffs/vision/blindness.dm
  code/datums/status_effects/debuffs/vision/nearsighted.dm
  code/datums/status_effects/grouped_effect.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  code/modules/unit_tests/blindness.dm
  tgstation.dme
Labels: Fix, Refactor, Code Improvement, Unit Tests, Quality of Life
